/*dede58.com 做最好的织梦整站模板下载网站*/


.lzy-container { width:1200px; height:auto; margin:0 auto; position:relative;}
.lzy-brands    { width:100%; height:300px; background:url("../img/banner.png") no-repeat center;}
.lzy-adaption  { width:100%; height:53px; background-color:#666666; color:#fff; font-size:14px;}
.lzy-che-nav { padding-top:90px; float:left; padding-left:50px; position:absolute; right:30px;}
.lzy-he-logo { padding:24px 0; float:left;}
.lzy-che-nav ul li   { float:left; padding:0 15px;}
.lzy-che-nav ul li a { float:left; padding:6px 14px; color:#00226d; font-size:16px;}
.lzy-che-nav ul li a:hover  { border-bottom:2px solid #f39800;color:#f39800;}
.lzy-che-nav ul li .current { border-bottom:2px solid #f39800}

.lzy-partner h2 { font-size:16px; color:#024a56; padding:20px 0;}
.lzy-title   h2 { font-size:16px; color:#024a56; padding:20px 0;}

.lzy-textures dl dd h3 {font-size:16px; color:#101010; font-weight:bold; padding-bottom:10px; padding-top:10px;}
.lzy-textures dl dd p  {font-size:14px; color:#101010;}
.lzy-form-bj  { width:257px; height:10px;  background:url("../img/icon/ic-mitre.png") 0 10px no-repeat; position:absolute; right:7px; top:-20px; text-align:center; padding-top:25px;}
.lzy-form     { width:250px; height:130px; background:#00226d url("../img/icon/ic-mitre.png") 0 10px no-repeat; position:absolute; right:7px; top:0; text-align:center; padding-top:25px; box-shadow:0 3px 4px rgba(0, 0, 0, 0.6)}
.lzy-form input  { width:205px; height:40px; background-color:#fff; border:none; font-size:14px; padding-left:5px; margin-bottom:14px;}
.lzy-form button { width:210px; height:40px; background-color:#f39800; border:none; font-size:14px; padding-left:5px; color:#fff; cursor:pointer;}
.lzy-content  { width:100%;  height:auto; background:#eeeeee url("../img/icon/bk.png") repeat-x; padding:70px 0 1px 0;}
.lzy-boxes    { width:884px; height:auto; background-color:#fff; margin:0 auto; border-radius:1px; padding-bottom:20px; }
.lzy-shadow   { width:884px; height:80px; line-height:80px; background:url("../img/icon/ic-user-bj.png") no-repeat bottom; text-align:center;}
.lzy-shadow i { width:26px;  height:24px; background:url("../img/icon/ic-user.png") 0 5px no-repeat; display:inline-block; padding-top:4px; padding-right:7px;}
.lzy-register { float:right;}

.lzy-textures dl{background:url("../img/icon/dl.png") no-repeat left; width:254px; float:left; padding-left:50px; height:112px; }
.lzy-boxes-reg { background: #fff url("../img/icon/ic-personal.png") no-repeat right bottom;}
.lzy-boxes-rei { background: #fff url("../img/icon/ic-enterprise.png") no-repeat right bottom;}
.lzy-boxes-fl  { background:url("../img/icon/ic-reg-bj.png") no-repeat right top; text-align:center; width:495px; }

.lzy-reg-lists-bj ul li { background:url("../img/icon/ic-list-bj.png") no-repeat left; padding-left:10px; font-size:12px;}
.lzy-reg-lists-b ul li  { background:url("../img/icon/ic-list-bj1.png") no-repeat left; padding-left:10px; font-size:12px;}
.lzy-works  a  { width:249px; height:40px; color:#fff; display:inline-block; background-color:#f39800; line-height:40px; font-size:14px; border-radius:2px;}
.tab-submit  a { width:249px; height:40px; color:#fff; display:inline-block; background-color:#f39800; line-height:40px; font-size:14px; border-radius:2px;text-align:center;}

.lzy-textures dl dt { float:left;}
.lzy-textures dl dd { float:left; color:#101010; font-size:14px; padding-left:10px; }
.lzy-register ul li { float:left; display:inline-block; padding:10px 11px;}
.lzy-register ul li a:hover { color:#f39800;}
.lzy-register ul li .sign   { color:#f39800}

.lzy-copyright p { text-align:center; line-height:53px; font-size:14px;}
.lzy-partner ul li {border:1px solid #eeeeee; width:150px; height:60px; display:inline-block; float:left; margin-right:10px; margin-bottom:10px;}
.lzy-partner  { padding-bottom:20px;}
.lzy-success  { padding:50px 0 30px 0;}
.lzy-works    { padding-bottom:40px;}
.lzy-reg-lists{ padding-bottom:20px; text-align:left; padding-left:120px;}
.lzy-reg-lists{ padding-bottom:20px; text-align:left; padding-left:120px;}
.lzy-reg-lists{ padding-bottom:20px; text-align:left; padding-left:120px;}
.lzy-reg-image{ padding-top:5px; text-align:center; }
.lzy-reg-title h2 { text-align:center; color:#7d7d7d; font-size:22px;}
.lzy-reg-image    { text-align:center; padding-top:5px;}
.lzy-shadow h2    { color:#00226d; font-size:22px;line-height:80px;}
.lzy-works h2     { color:#00226d; font-size:22px;}
.lzy-works h4     { color:#7d7d7d; font-size:14px; padding:20px 0;}
.lzy-reg-lists h3 { color:#000000; font-size:14px; padding-bottom:5px; font-weight:600 ; }
.lzy-reg-lists ul li{ color:#7d7d7d; line-height: 20px;}
.lzy-boxes-email { text-align:center;}
.tab-submit      { text-align:center;}
.lzy-boxes-cpa   { width:995px; padding:20px 0 40px 0;}
.lzy-reg-button a  { background-color: #f39800; color: #fff;  display: inline-block; font-size: 14px; height: 40px; line-height: 40px;  width: 249px; text-align:center; border-radius:2px; }
.lzy-reg-button-b a{ background-color:#6ab2da}
.lzy-boxes-fr      { background:none;}
.lzy-boxes-order   { width:1090px; padding:30px 35px 50px 35px;}
.lzy-content-order { padding:50px 0;}
.tab-text { text-align:right; padding-top:20px;}






/* user-index */

.user-content { width:100%; height: auto; background: #eeeeee url("../img/icon/bk.png") repeat-x scroll 0 0;}
.user-middle  { width:1150px; height:262px; background: url("../img/user/u-bk.png") no-repeat  top center; margin:0 auto; border-top:1px solid #d7d5d5}
.user-boxes   { width:1150px; background-color:rgba(255,255,255,0.7); margin-top:45px; height:205px;}
.user-boxes-bk{ width:1090px; padding:30px; background-color:#fff;margin:0 auto;}

.user-boxes-fl{ width:280px; height:135px; padding:30px}
.user-portrait-br {border:1px solid #d6d6d6; width:134px; height:134px;}
.user-portrait-ti { padding-left:24px;}
.user-portrait-ti h2 {font-size:22px; color:#7d7d7d; height:88px;}
.user-portrait-ti p { color:#7d7d7d; padding-top:8px;}

.user-boxes-fr { width:340px; background-color:#fff; height:145px;text-align:center; padding:30px 0;}


.user-boxes-fr p { color:#7d7d7d; font-size:14px; padding-bottom:10px;}
.user-boxes-fr span { color:#f39800; font-size:20px; font-weight:normal;}

.user-boxes-fr a { color:#fff; display:inline-block; height:35px; line-height:35px; font-size:16px; padding:0 20px;background-color:#f39800; border-radius:2px;}

.user-notice { height:60px; background-color:#f1f1f1; padding-left:20px;}
.user-notice h3 { font-size:14px; color:#f39800; background:url("../img/user/u-we.png") no-repeat left; height:60px; line-height:60px; padding-left:42px;}
.user-notice-cl h3 { font-size:14px; color:#f39800; background:url("../img/user/u-cl.png") no-repeat left; height:60px; line-height:60px; padding-left:42px;}
.user-present { border-left:1px solid #f1f1f1; border-right:1px solid #f1f1f1; border-bottom:1px solid #f1f1f1; padding:30px;}

.user-present ul li { background:url("../img/user/u-li.png") 0 7px no-repeat; padding-left:10px; line-height:20px; padding-bottom:5px; font-size:14px; color:#7d7d7d;}
.user-boxes-ma { margin-bottom:20px;}


.capital-tab h3  { background:url("../img/user/u-capital.png") no-repeat left; padding-left:40px; font-size:24px; color:#f39800; font-weight:normal;}
.Pay-tab h3      { background:url("../img/user/u-pay.png") no-repeat left; padding-left:40px; font-size:24px; color:#f39800; font-weight:normal;}
.upload-tab h3   { background:url("../img/user/u-dl.png") no-repeat left; padding-left:40px; font-size:24px; color:#f39800; font-weight:normal;}
.password-tab h3 { background:url("../img/user/u-key.png") no-repeat left; padding-left:40px; font-size:24px; color:#f39800; font-weight:normal;}
.recipient-tab h3{ background:url("../img/user/u-bl.png") no-repeat left; padding-left:40px; font-size:24px; color:#f39800; font-weight:normal;}
.user-info-tab h3{ background:url("../img/user/u-u.png") no-repeat left; padding-left:40px; font-size:24px; color:#f39800; font-weight:normal;}
.capital-list  h3{ background:url("../img/user/u-list.png") no-repeat left; padding-left:40px; font-size:24px; color:#f39800; font-weight:normal;}
.email-tab  h3   { background:url("../img/user/u-mail.png") no-repeat left; padding-left:40px; font-size:24px; color:#f39800; font-weight:normal;}
.arrive-icon  h3   { background:url("../img/user/u-chu.png") no-repeat left; padding-left:40px; font-size:24px; color:#f39800; font-weight:normal;}
.release-icon  h3   { background:url("../img/user/u-pe.png") no-repeat left; padding-left:40px; font-size:24px; color:#f39800; font-weight:normal;}
.user-home  h3   { background:url("../img/user/u-home.png") no-repeat left; padding-left:40px; font-size:24px; color:#f39800; font-weight:normal;}
.setting-icon  h3   { background:url("../img/user/u-quanju.png") no-repeat left; padding-left:40px; font-size:24px; color:#f39800; font-weight:normal;}
.payment-tab  h3   { background:url("../img/user/u-alp.png") no-repeat left; padding-left:40px; font-size:24px; color:#f39800; font-weight:normal;}
.priced-tab  h3   { background:url("../img/user/u-rmb.png") no-repeat left; padding-left:40px; font-size:24px; color:#f39800; font-weight:normal;}
.lzy-tab2 .tab-capital { background:none; border:1px solid #e3e3e3; padding:0;}
.lzy-tab2 .tab-capital th { background-color:#f1f1f1; padding:20px;}
.lzy-tab2 .tab-capital  td { text-align:center; padding:11px 10px; color:#7d7d7d;}
.lzy-tab2 .tab-capital a { color:#00226d;}

.login_m .essential { padding-bottom:40px;}
.login_m .essential p { padding-bottom:10px; color:#7d7d7d; font-size:14px;}
.storage-bk { background: url("../img/icon/ic-user-bj.png") no-repeat center; height:50px; width:335px; margin-left:-30px;}
.lzy-tab2 .tab-capital-ce { margin-top:15px;}
.lzy-tab2 .tab-capital-ce th { text-align:left;}
.lzy-tab2 .tab-capital-ce td { text-align:left;}
.lzy-tab2 .tab-capital-ce td a { padding-right:5px;}


.license img {border:1px solid #dfdfdf; width:257px;}
.rem_sub input.tab-button {background:url("../img/icon/ic-a.png")repeat-x; border:1px solid #7d7d7d; color:#7d7d7d; height:35px ; line-height:35px;}


.lzy-payment { width:690px; height:528px; margin:0 auto; border:1px solid #e3e3e3}

.lzy-tab2  .tab-price td { padding-bottom:10px; display:inline-block;}
.lzy-tab2  .tab-price td input { padding-left:5px; width:130px; margin-left:15px;}

.lzy-tab2  .tab-price span {width:42px; display: block; float:left; line-height:30px;}
.lzy-tab2  .tab-price-edit span {width:90px; display: block; float:left; line-height:30px;}
.lzy-tab2  .tab-price  td input { float:left; margin-left:5px;}
.lzy-tab2  .tab-price-edit  td input { width:220px;}
.lzy-tab2  .tab-price  .fill-info { float:none; width:auto; display:inline-block; line-height:inherit; color:#00226d;}
.lzy-tab2  .tab-price-edit { padding-top:0; padding-bottom:10px;}
.lzy-tab2  .tab-price-edit th { padding-bottom:10px; color:#7d7d7d;}

.lzy-modify { text-align:center; padding-top:20px;}
.lzy-modify a { padding:0 25px; height:35px; line-height:35px; background-color:#f39800; border:none; color:#FFF;  font-size:14px; margin-top:12px;cursor: pointer; border-radius:2px; display:inline-block; margin-right:20px;}
.lzy-modify .return { background:url("../img/icon/ic-a.png")repeat-x; border:1px solid #7d7d7d; color:#7d7d7d; height:34px ; line-height:34px;}

.lzy-certificate dl { width:312px; float:left; padding-top:20px;}
.lzy-certificate dl dt { padding-bottom:10px; padding-left:15px;}








/*========================================= service begin */

.lzy-service { width:100%; height:240px; background:url("../img/icon/se-bj.jpg") no-repeat center;}
.lzy-service-box { width:100%; height:auto; background:#eeeeee; padding-top:15px; padding-bottom:25px;}
.lzy-query { background:#fff; border:1px solid #dbdad8; padding:30px 0;}
.lzy-subst { height:auto; background:#fff; margin-top:15px;}

.lzy-query label { font-size:14px;color:#7d7d7d;}
.lzy-query .box-input { width:353px; border:1px solid #d0d0d0; background:url("../img/icon/box-bj.jpg") repeat-x; height:30px; padding-left:5px; margin:0 20px;}
.lzy-query .box-submit { width:80px; border:1px solid #f39800; background:#f39800; height:34px; padding-left:5px; color:#fff; cursor:pointer; font-size:14px;}
.lzy-box-class { height:160px;background:url("../img/icon/box-class.jpg") no-repeat;}

.lzy-proper dl {background:url("../img/icon/dl-bj.jpg") no-repeat right; width:292px; text-align:center; height:200px; float:left;}
.lzy-proper dl dt { font-size:16px; color:#f39800; }
.lzy-proper dl dd { font-size:14px; color:#7d7d7d; padding:4px 15px;}
.lzy-proper dl dd a { display:inline-block; height:32px; background:url("../img/icon/a-bj.jpg") repeat-x; border:1px solid #7d7d7d; font-size:16px; width:102px; line-height:32px; text-align:center; color:#7d7d7d;}

.lzy-about { width:100%; height:240px; background:url("../img/icon/about-bj.jpg") no-repeat center;}
.lzy-nubbin { width:100%; height:240px; background:url("../img/icon/count-bj.jpg") no-repeat center;}
.lzy-scheme { width:100%; height:240px; background:url("../img/icon/scheme-bj.jpg") no-repeat center;}
.lzy-box-about { margin-top:0; padding:20px;}

.lzy-box-title h2 { font-size:14px;padding-bottom:10px;}
.lzy-box-text p { color:#7d7d7d; line-height:22px; padding-bottom:10px; text-indent:2rem;}
.lzy-nubbin-box { width:144px; height:96px; border:1px solid #cdcdcd; float:left;}
.lzy-nubbin-tex { width:990px; float:left; padding-left:20px; padding-top:30px;}
.lzy-box-li ul li { border-bottom:1px solid #dedede;padding-bottom:15px; padding-top:15px;}
.lzy-nubbin-tex h2 { font-size:15px; color:#f39800; }
.lzy-nubbin-tex p  { font-size:14px; color:#7d7d7d; line-height:22px;}
.lzy-box-bor { margin-top:0; padding:10px 20px 20px 20px;}
.lzy-scheme1 { border-left:6px solid #f39800; border-bottom:1px solid #d0d0d0; border-top:1px solid #d0d0d0; border-right:1px solid #d0d0d0; width:465px; height:175px; margin-left:80px; background:url("../img/icon/box-bj.jpg") repeat-x top; float:left; margin-bottom:50px;}

.lzy-scheme-box { margin-top:0; padding-top:60px; padding-bottom:10px;}
.lzy-scheme1 h2 { background:url("../img/icon/h1.jpg") no-repeat left; height:60px; padding-left:90px; line-height:60px; font-size:16px; padding-top:10px;}
.lzy-scheme1 p { color:#7d7d7d; font-size:14px; line-height:22px; padding:0 20px;}
.lzy-scheme1 .haiwai { background:url("../img/icon/h2.jpg") no-repeat left; }
.lzy-scheme1 .baoshui { background:url("../img/icon/h3.jpg") no-repeat left; }
.lzy-scheme1 .guanwu { background:url("../img/icon/h4.jpg") no-repeat left; }