/* CSS Document */

*{padding:0px;margin:0px;}
ol, ul { list-style: none outside none; }
img { border: 0 none; }
body { color: #555; font-family: Arial, "微软雅黑", "Tahoma", sans-serif; font-size: 12px; background:#f8f8f8;}
a { color: #555; text-decoration: none; }
a img { display: inline-block; }
em{font-style:normal;}
 @media not all {
body { font-family: arial, "微软雅黑", sans-serif; }
}

/*****************************************************************************头部**********************************************************************************/

.top{width:1583px;height:87px;position:relative;margin:0 auto;overflow:hidden;}
   .top_lr{width:1300px;height:87px;margin:0 auto;position:relative;overflow:hidden;}
      .top_left{width:28%;height:87px;}
          .top_left img{margin-top:10px;}
      .top_right{width:70%;height:87px;position:absolute;top:0px;right:0%;}
          .top_right li{float:left;width:14%;height:87px;text-align:center;line-height:87px;}
             .top_right li a{widht:100%;height:87px;display:block;position:relative;top:0px;left:0px;}
             .top_right li span,em{width:100%;height:40px;display:block;line-height:70px;}
             .top_right li em{line-height:40px;font-size:12px;font-family:'Arial';color:#9f9ea0;}
             .top_right li span{font-size:14px;}

.top_li_1{background:url('../images/bj.png') center center no-repeat;}
.top_li{background:url('../images/bj.png') center center no-repeat;}


/***************************************************************************banner**********************************************************************************/

.banner{width:1583px;height:625px;position:relative;margin:0 auto;}
  	 .banner .igs{position:absolute;width:1583px;height:625px;}
	 	 .banner .ig{position:absolute;width:100%;height:625px;}
			 .banner .ig img{width:100%;height:100%;}
	 .btn{width:60px;height:90px;position:absolute;top:280px;cursor:pointer;}
		 .btn1{left:50px;background:url('../images/left.png') no-repeat top left;transition:background 0.5s;-moz-transition:background 0.5s;-o-transition:background 0.5s;-webkit-transition:background 0.5s;}
		 .btn2{right:50px;background:url('../images/right.png') no-repeat top left;transition:background 0.5s;-moz-transition:background 0.5s;-o-transition:background 0.5s;-webkit-transition:background 0.5s;}
		 .btn:hover{background-position:bottom left;}
	 .yq{width:120px;height:30px;position:absolute;bottom:50px;left:740px;}
		 .yq .xyq{width:30px;height:30px;border-radius:30px;background:#06F;text-align:center;line-height:30px;float:left;color:#fff;margin-right:10px;cursor:pointer;}
		 .yq .xyq_ys{background:red;}



/***********************************************************************每个分块的小标题及背景**************************************************************************/

.bus_bj{width:100%;height:710px;}
.bus_bj img{width:100%;height:100%;}
.bus_title{height:40px;font-family:'方正细圆简体';font-size:36px;}
.bus_title_1{height:20px;font-family:'Arial';font-size:14px;}
.bus_title_2{height:30px;font-family:'微软雅黑';font-size:16px;line-height:30px;}
.bus_title_3{height:30px;font-family:'兰亭细黑 GBK';font-size:12px;line-height:30px;}
.bus_nrk{width:1200px;height:450px;position:absolute;top:200px;right:13%;}

/***************************************************************************css3样式********************************************************************************/

/*.ys_left{animation:myleft 2s;}*/
	 @keyframes myleft{
		  0% {left:-13%;}
		  100% {left:13%;}
	 }	
/*.ys_right{animation:myright 2s;}*/
	 @keyframes myright{
		  0% {right:-13%;}
		  100% {right:13%;}
	 }	  

/****************************************************************************XXX业务*********************************************************************************/

.hxyw{width:1583px;height:710px;position:relative;top:0px;left:0px;margin:0 auto;}
.hxyw:hover .title{animation:myleft 2s;}
     
	 .title{width:1200px;height:110px;position:absolute;top:32px;left:13%;text-align:center;}
      
  	.hxyw .bus_title{color:#666;}
	.hxyw .bus_title_1{color:#b6b6b6;}
	.hxyw .bus_title_2{color:#333;}
	.hxyw .bus_title_3{color:#999;}
	.hxyw .bus_nr{width:1200px;height:550px;margin:0 auto;position:absolute;bottom:0px;left:13%;}
	.hxyw:hover .bus_nr{animation:myright 2s;}
	       .bus_nr .bus_xhkz{width:912px;height:420px;position:absolute;top:0px;left:15%;}
	       .bus_nr table{width:672px;height:420px;border:none;position:absolute;top:43px;left:24.8%;}
		   
		  
		   
		           .bus_nr table tr td{width:33%;height:50%;text-align:center;cursor:pointer;}           
				   .bus_nr table tr td:hover{background:#ed9e27;box-shadow:2px 2px 2px rgba(0,0,0,0.5);filter:alpha(opacity=50);}
				   .bus_nr table tr td:hover div{background-position:bottom center;}
				   .bus_nr table tr td:hover em{color:#fff;}
				   .bus_nr table tr td:hover p{color:#fff;}
				   
				   .bus_nr table tr .bottom{border-bottom:solid #ccc 1px;}
				   .bus_nr table tr .right{border-right:solid #ccc 1px;}
				      	   .bus_nr table tr td div{width:50px;height:32px;margin:0 auto;margin-bottom:20px; transition:background 1s;}
						   .bus_nr table tr td .tab_1{background:url('../images/syyx.png') no-repeat top center;}
						   .bus_nr table tr td .tab_2{background:url('../images/dzkf.png') no-repeat top center;}
						   .bus_nr table tr td .tab_3{background:url('../images/wzjs.png') no-repeat top center;}
						   .bus_nr table tr td .tab_4{background:url('../images/rjkf.png') no-repeat top center;}
						   .bus_nr table tr td .tab_5{background:url('../images/xtjc.png') no-repeat top center;}
						   .bus_nr table tr td .tab_6{background:url('../images/luq.png') no-repeat top center;}
						   .bus_nr table tr td p{font-size:14px;family:'微软雅黑'; color:#555;}
						   .bus_nr table tr td em{font-size:12px;family:'Arial'; color:#999;height:30px;line-height:30px;}
						   
/****************************************************************************XXX案例*********************************************************************************/

.xhal{width:1583px;height:710px;position:relative;top:0px;left:0px;margin:0 auto;overflow:hidden;}
.xhal:hover .title{animation:myleft 2s;}
	.xhal .bus_title a{color:#fffefe;}
	.xhal .bus_title_1{color:#b6b6b6;}
	.xhal .bus_title_2{color:#fff;}
	.xhal .bus_title_3{color:#999;}
	.xhal:hover .bus_nrk{animation:myright 2s;}
	.xhal .bus_nrk .bus_al{width:100%;height:100%;}
	      .xhal .bus_nrk .bus_al div{float:left;margin-right:20px;margin-bottom:25px;}
		  .xhal .bus_nrk .bus_al .al_float{margin:0px;}
	      .xhal .bus_nrk .bus_al .al_nr{width:285px;height:203px;position:relative;cursor:pointer;overflow:hidden;}
		 
		  .xhal .bus_nrk .bus_al .al_nr:hover div img{animation:mytup 2s;}
		   @keyframes mytup{
		   0%{ width:100%;height:100%;	  }
		   100%{width:120%;height:120%;}
		  }
		        .xhal .bus_nrk .bus_al .al_nr div{width:100%;height:100%;}
				      .xhal .bus_nrk .bus_al .al_nr div img{width:100%;height:100%;}
			    .xhal .bus_nrk .bus_al .al_nr p{width:100%;height:30px;position:absolute;bottom:0px;left:0px;background:rgba(0,0,0,.5);color:#fff;text-align:center;line-height:30px;font-size:14px;font-family:'微软雅黑';}

/****************************************************************************XXX产品*********************************************************************************/

.xhcp{width:1583px;height:710px;position:relative;top:0px;left:0px;margin:0 auto;overflow:hidden;}
.xhcp:hover .title{animation:myleft 2s;}
 	.xhcp .bus_title{color:#666;}
	.xhcp .bus_title_1{color:#b6b6b6;}
	.xhcp .bus_title_2{color:#333;}
	.xhcp .bus_title_3{color:#999;}
	.xhcp:hover .bus_nrk{animation:myright 2s;}
	.xhcp .bus_nrk .bus_al div{float:left;margin-right:20px;margin-bottom:25px;}
		  .xhcp .bus_nrk .bus_al .al_float{margin:0px;}
	      .xhcp .bus_nrk .bus_al .al_nr{width:285px;height:203px;position:relative;cursor:pointer;overflow:hidden;}
		 
		  .xhcp .bus_nrk .bus_al .al_nr:hover div img{animation:mytup 2s;}
		   @keyframes mytup{
		   0%{ width:100%;height:100%;	  }
		   100%{width:120%;height:120%;}
		  }
		        .xhcp .bus_nrk .bus_al .al_nr div{width:100%;height:100%;}
				      .xhcp .bus_nrk .bus_al .al_nr div img{width:100%;height:100%;}
			    .xhcp .bus_nrk .bus_al .al_nr p{width:100%;height:30px;position:absolute;bottom:0px;left:0px;background:rgba(0,0,0,.5);color:#fff;text-align:center;line-height:30px;font-size:14px;font-family:'微软雅黑';}

/************************************************************************XXX合作机构********************************************************************************/

.xhjg{width:1583px;height:710px;position:relative;top:0px;left:0px;margin:0 auto;overflow:hidden;}
.xhjg:hover .title{animation:myleft 2s;}
 	.xhjg .bus_title a{color:#fffefe;}
	.xhjg .bus_title_1{color:#b6b6b6;}
	.xhjg .bus_title_2{color:#fff;}
	.xhjg .bus_title_3{color:#999;}
	.xhjg:hover .bus_nrk{animation:myright 2s;}
	
	     .xhjg .bus_nrk .jgg{width:546px;height:457px;color:#fff;margin:0 auto;position:relative;left:50px;}
		        .xhjg .bus_nrk .jgg div{float:left;cursor:pointer;}
		 		.xhjg .bus_nrk .jgg .jgg_nr{width:120px;height:120px;background:url('../images/jgg_bj.png');border-radius:100%;text-align:center;position:relative;margin-right:80px;margin-bottom:60px;}
				.xhjg .bus_nrk .jgg .jgg_nr:hover{background-position:bottom left;}
				.xhjg .bus_nrk .jgg .jgg_nr:hover p{color:#fff;}
				.xhjg .bus_nrk .jgg .margin_right{margin:0px;}
				      .xhjg .bus_nrk .jgg .jgg_nr .p1{color:#bcbcbc;font-family:'创艺繁琥珀';font-size:36px;height:50px;position:relative;top:20px;}
					  .xhjg .bus_nrk .jgg .jgg_nr .p2{color:#777;font-family:'微软雅黑';font-size:16px;height:50px;line-height:50px;position:relative;bottom:0px;}
		              .xhjg .bus_nrk .jgg .jgg_nr .p3{width:505px;height:80px;display:none;background:#e9e9e9;border-radius:10px;z-index:10;position:absolute;top:-85px;left:-200px;text-align:left;text-indent:2em;color:#333;font-family:'微软雅黑';font-size:12px;}
					  .xhjg .bus_nrk .jgg .jgg_nr:hover .p3{display:block;}
					  .xhjg .bus_nrk .jgg .jgg_nr .p3 div{width:480px;height:60px;position:relative;top:10px;left:10px;line-height:200%;}

/****************************************************************************解决方案*********************************************************************************/
.xhfa{width:1583px;height:710px;position:relative;top:0px;left:0px;margin:0 auto;overflow:hidden;}
.xhfa:hover .title{animation:myleft 2s;}
 	.xhfa .bus_title{color:#666;}
	.xhfa .bus_title_1{color:#b6b6b6;}
	.xhfa .bus_title_2{color:#333;}
	.xhfa .bus_title_3{color:#999;}
	.xhfa:hover .bus_nrk{animation:myright 2s;}

	.pic{width:1000px;height:430px;margin:0 auto;}
    .pic ul li{width:100px;height:430px;float:left; cursor:pointer;}
    .pic4{background:url('../images/4.jpg');}
    .pic2{background:url('../images/2.jpg');}
    .pic3{background:url('../images/3.jpg');}
    .pic ul .pic1{width:689px;background:url('../images/1.jpg');}
  
    .txt{background:#fff;background:rgba(0,0,0,0.5);height:430px;width:100px;filter:alpha(opacity=50);}
    .txt p{float:left;color:#fff;}
    .txt .p1{margin-left:10px;font-family:'微软雅黑';width:12px;height:100px;font-size:12px;padding:25px 25px 0px 2px;}
    .txt .p2{font-family:'微软雅黑';width:14px;height:100px;font-size:14px;padding:25px 25px 0px 2px;}

/****************************************************************************关于XXX*********************************************************************************/

.gyxh{width:1583px;height:710px;position:relative;top:0px;left:0px;margin:0 auto;overflow:hidden;}
.gyxh:hover .title{animation:myleft 2s;}
 	.gyxh .bus_title a{color:#fffefe;}
	.gyxh .bus_title_1{color:#b6b6b6;}
	.gyxh .bus_title_2{color:#fff;}
	.gyxh .bus_title_3{color:#999;}
	.gyxh .bus_nrk{height:500px;top:210px;}
	.gyxh .bus_nrk .gyxh_nr{width:397px;height:500px;background:url('../images/xhsj.png');position:relative;left:0px;}
	.gyxh:hover .gyxh_nr{animation:gyleft 2s;}
	@keyframes gyleft{
		  0% {left:-13%;}
		  100% {left:0%;}
	 }	
		  .gyxh .bus_nrk .gyxh_nr .lxfs{width:170px;height:300px;position:relative;top:90px;left:130px;}
		  	    .gyxh .bus_nrk .gyxh_nr .lxfs .lxfs_title{width:170px;height:50px;}
				      .gyxh .bus_nrk .gyxh_nr .lxfs .lxfs_title p{font-family:'兰亭细黑 GBK';font-size:24px;color:#fff;height:30px;}
					  .gyxh .bus_nrk .gyxh_nr .lxfs .lxfs_title em{font-family:'兰亭细黑 GBK';font-size:11px;color:#5b5b5b;height:20px;line-height:20px;}
				.gyxh .bus_nrk .gyxh_nr .lxfs .lxfs_nr{width:170px;height:80px;border-bottom:solid #212121 1px;}
				      .gyxh .bus_nrk .gyxh_nr .lxfs .lxfs_nr p{height:30px;line-height:30px;font-family:'微软雅黑';font-size:14px;color:#bfbfbf;position:relative;top:15px;}
					  .gyxh .bus_nrk .gyxh_nr .lxfs .lxfs_nr em{height:20px;line-height:20px;font-family:'微软雅黑';font-size:14px;color:#f09000;position:relative;top:15px;}
					  .gyxh .bus_nrk .gyxh_nr .lxfs .lx_nr p{top:5px;}
					  .gyxh .bus_nrk .gyxh_nr .lxfs .lx_nr em{top:5px;}
  .gyxh .bus_nrk .gyxh_gemy{position:absolute;top:0px;right:0px;width:668px;height:500px;color:#fff;font-family:'微软雅黑';font-size:14px;}
  .gyxh:hover .gyxh_gemy{animation:gyright 2s;}
	@keyframes gyright{
		  0% {right:-13%;}
		  100% {right:0%;}
	 }	
        .gyxh .bus_nrk .gyxh_gemy .gyxh_p1{text-indent:2em;line-height:350%;}
			  .gyxh .bus_nrk .gyxh_gemy .gyxh_p1 span{color:#f09000;}
	    .gyxh .bus_nrk .gyxh_gemy .gyxh_p2{text-align:right;margin-top:50px;}
			  .gyxh .bus_nrk .gyxh_gemy .gyxh_p2 span{font-family:'叶根友毛笔行书2.0版';font-size:24px;}
		.gyxh .bus_nrk .gyxh_gemy .gyxh_p3{position:absolute;bottom:170px;right:-130px;}	
					  