/* ============ндубап╠М============== */

ul.newslist26{
margin:0;
padding:0;
}

ul.newslist26 li {
margin:0 0 3px 0;
list-style-type: none;
cursor:pointer;
}

ul.newslist26 li a{
text-decoration: none;
font:12px/26px simsun, Arial,Verdana;
color:#505050;
padding-left:16px;
background: transparent url(../images/newslist24.png) left no-repeat;
}

ul.newslist26 li a:hover{
color:#ff0000;
text-decoration: underline;
}

ul.newslist26 li .time{
float:right;
font:12px/26px Verdana,Arial,simsun;
color:#999;
}

ul.newslist26 li .memo{
display:none;
margin:0 0 10px 0;
font:12px/22px simsun, Arial,Verdana;
color:#666;
}

ul.newslist26 li img{
display:none;
margin:0;
padding:7px 12px 0 0;
border:0;
float:left;
clear:both;
}
