.productlistx {
	margin:0;
	padding:0;
	position: relative;
	overflow: hidden;
	width:100%;
}


.blkproductlistx {
	border:0; 
	padding:0; 
	overflow: hidden;
	position: relative;
}

.blkproductlistx .LeftButton {
	background: url(../images/arrow10.jpg) no-repeat 0px 0px;
	left:0px;
	float:left;
	width:0px;
	cursor: pointer;
	position: absolute;
	height:12px;
	top:56px;
}

.blkproductlistx .RightButton {
	background: url(../images/arrow10.jpg) no-repeat -7px 0px;
	right:0px;
	float:right;
	width:0px;
	cursor: pointer;
	position: absolute;
	height:12px;
	top:56px;
}

.blkproductlistx .Cont {
	padding:0px;
	margin:0; 
	overflow: hidden;
}

.blkproductlistx .box {
	float:left;
	text-align:center;
	margin:0;
	padding:0;
	border:0;
}

.box .fang{
	padding:1px;
	margin:0 5px 0 0;
	border:1px #ddd solid;
}


.blkproductlistx .box img {
border:0;
padding:0;
}


div.box a.prodtitle{
color:#505050;
font:12px/36px SimSun,Arial,Sans-Serif;
text-decoration: none;
}

div.box a.prodtitle:hover{
color:#ff6600;
text-decoration: underline;
}