/*全局*/
body{padding:0;margin:0;font-size:14px;font-family:'microsoft yahei','黑体',Arial,Helvetica,Verdana,sans-serif;color:#424242;}
ul,ol{list-style: none;margin:0;padding:0;}
ol,dl,dd,dt,p,div,h1,h2,h3,h4,h5{margin:0;padding:0;}
a{text-decoration: none;color:inherit;cursor:pointer;    font-family: 'adihausregular','黑体',Arial,Helvetica,Verdana,sans-serif;}
.container{width:1200px;min-width:1200px;_min-width:1200px;margin:0 auto;}
.brush{ width:0; height:0; line-height:0; clear:both;}
.pull_left{float:left}
.pull_right{float:right;}
.txt-center{text-align: center;}
.relative{position:relative;}
.content:after{display:block;width:0;height:0;content:'';clear:both;visibility: hidden;}
.content{zoom:1;}
.max_width{width:100%;display: block;}
article,aside,dialog,footer,header,section,footer,nav,figure,menu{display:block}
/*头部导航*/
.header{padding:10px 0;position:relative;}
.header .lang{position:absolute;right:0;display: block;line-height: 80px;color:#a8c80a}
.header .logo img{height:80px;display: block;}
.header .main_nav .main_li{float:left;cursor:pointer;margin-right:40px;line-height: 80px;height:80px;color:#333;font-size:16px;position:relative}
.header  a{display: block;color:#333;}
/*.header .main_nav .main_li:hover{color:#99cc33}*/
.header .main_nav .main_li span{display: block;text-align: center;position:absolute;right:0;left:0;top:50px;line-height:20px;font-size:20px;color:#fff}
.header .main_nav li span.to_green{color:#a8c80a}
.header .sec_nav{position:absolute;left:-50px;z-index:99;text-align:center;box-shadow: 0px -3px 15px #e4e4e4;background: #fff;width:170px;padding:18px 0;}
.header .sec_nav li{line-height: 28px;font-size:14px;color:#a6a6a6}
.header .sec_nav li a:hover{color:#99cc33}
.banner{width: 100%;height:340px;}
/*底部版权*/
.footer{background: #485078;color:#999;}
.footer .foot-link{padding-top: 40px;height:185px;}
.footer ul .f_main_nav{float:left;padding-bottom:40px;margin-right:70px;color:#ebebeb;line-height: 1.8}
.footer ul .f_main_nav a{font-weight: lighter;font-size:14px;color:#fff}
.footer ul .f_main_nav .foot_sec_nav li a{color:#9196ae}
.footer ul .f_main_nav .foot_sec_nav{color:#9196ae;margin-top:15px;}
.footer ul .f_main_nav .foot_sec_nav li:hover a{color:#fff;}
.footer .foot_code{position:absolute;right:70px;top:10px;padding-top:40px;text-align:center;}
.footer .link_num{color:#ebebeb;padding:15px 0;}
.footer .link_num:before{display: block;content:'';width:18px;height:18px;float:left;margin-right:8px;background:url('../img/icon/phone.png') no-repeat;}
.footer .copy{background:#373d5d;padding:20px 0;color:#999;}
.footer .copy .share{display: inline-block;width:24px;height:20px;opacity:0.7;background: url('../img/icon/share.png') no-repeat;margin-left:15px;}
.footer .copy .share:hover{opacity:1;filter: alpha(opacity=80);}
.footer .copy .chat{background-position: 0 -20px;}
/*页面导航*/
.title h3{color:#646c94;border-bottom:1px dashed #dcdcdc;font-size:16px;font-weight:normal;padding:30px 0;}
.title ul{position:absolute;top:25px;right:0;}
.title ul li{display:inline-block;vertical-align:top;margin-right:5px;border:1px solid #646c94;color:#646c94;border-radius:13px;margin-right:5px;position:relative}
.title ul .hid_nav a{padding-right:30px;}
.title ul .hid_nav:after{display: inline-block;content:'';width:13px;height:10px;position:absolute;top:9px;right:10px;margin-left:5px;background: url('../img/icon/down.png') no-repeat;}
.title ul li a{display:block;line-height: 25px;padding:0 15px;}
.title span{font-weight:bold;display:inline-block;margin-top:5px;font-size:16px;coor:#646c94;}
.title ul li:first-child a{padding:0;}
.title ul li:first-child {border:0;}
.title ul li:hover .hid { display: block; -webkit-transition: 0.5s; -moz-transition: 0.5s; -o-transition: 0.5s; transition: 0.5s; }
.title ul li .hid{display:none;transition:display 0.8s ;background: #f7f7f7;color:#808080;border-radius: 13px;border-top-left-radius:0;border-top-right-radius:0 ;position:relative;z-index: 99999999}
/*.title ul li .hid a{background: #f7f7f7}*/
.title ul li .hid a:hover{color:#646c94;}
/*相同样式*/
.show{padding-bottom:40px;}
.article{padding:30px 20px }
/*首页*/
.index .num01 img{display:block;width:100%;height:100%;}
.index .num02 .num02_txt{background:url('../img/icon/bg02.png');position:absolute;top:30%;right:0;width:320px;height:260px;padding:90px 60px;color:#fff;}
.index .num02 .num02_txt .txt_tro{font-weight: normal;font-size: 20px;}
.index .num02 .num02_txt .tro_p{color:#dddee7;font-size: 16px;font-weight: lighter;line-height:2}
.index .num02 .num02_txt .txt_tro:after{display: block;content: '';width:45px;height: 0;border-bottom:2px solid #fff;margin:20px 0;margin-top: 30px;}
#num02_txt{position:absolute;top:50%;right:0;width:320px;height:260px;margin-top:-220px;padding:90px 60px;color:#fff;}
#num02_txt .txt_tro{font-weight: normal;font-size: 20px;}
#num02_txt .txt_tro:after{display: block;content: '';width:45px;height: 0;border-bottom:2px solid #fff;margin:20px 0;margin-top: 30px;}
#num02_txt .tro_p{color:#dddee7;font-size: 16px;font-weight: lighter;line-height:2}
.index .num03{background: #f6f5f5}
.index .num03 h2{font-size: 26px;font-weight:normal;padding-bottom:40px;}
.index .num03 .num03_ul{margin-right: -3%;}
.index .num03 .num03_ul li{position:relative;width:30%;height:500px;margin-right: 3.3%;float: left;background: #fff;box-shadow: 3px 3px 20px #e6e6e6}
.index .num03 .num03_ul li h3{font-size: 17px;text-align:center;color:#333;font-weight: normal;padding:10px 0;}
.index .num03 .num03_ul li aside{padding:20px;color:#999;line-height: 1.8}
.index .num03 .num03_ul li aside .time{color:#99cc33;margin-bottom:10px;}
.index .num03 .num03_ul li aside .num03_li_a{position: absolute;bottom:20px;}
.index .num03 .num03_ul li:hover .num03_li_a{color:#99cc33;}
.index .num03 .click{display: block;width: 200px;padding:10px 0;text-align:center;font-size:20px;margin:30px auto;background: #99cc33;color:#fff;}
/*产品中心*/
.hidden{width:100%;height: 100%;overflow: hidden;}
.video_bar{display:none;position:absolute;left:0;right:0;top:0;bottom:0;padding:10%;background: #313131;z-index: 999;transition:all 0.5s ease-in;}
.video_bar ul li ,.video_bar ul,.video_bar ul li video{width:100%;height:100%;}
.video_bar ul li video{position:absolute;top:0;left:0;}
.video_bar ul li img,.video_bar ul li div{width:100%;height:100%;display: block;}
.video_bar .close{position:absolute;left:5%;top:7%;cursor:pointer;background: none;outline: 0;border:none;}
.product .prod_title{position:absolute;top:80px;z-index:9;right:0;left:0;color:#fff;text-align:center;font-size: 18px}
.product .prod_title .prod_title01{font-size: 36px;padding-bottom:10px;color:#fff;}
.product .vedio_txt{position:absolute;top:200px;right:0;left:0;text-align: center;color: #fff;font-family: 'pingfang sc','sans-serif','宋体';}
.product .vedio_txt .vedio_p{font-size: 36px;padding-bottom:20px;}
.product .vedio_txt button{background:inherit;outline: 0;border:none;color:#535c88;font-size: 22px}
.product .vedio_txt button:after{display: inline-block;margin-left:10px;position:relative;top:7px;cursor:pointer;content:'';width:32px;height: 32px;background: url('../img/icon/icon04.png') no-repeat;}
.product .btn{width:85px;height:85px;background:url('../img/icon/btn.png')}
.product .swiper-button-prev{left:50px;}
.product .swiper-button-next{background-position: 0 -85px;right:50px;}

/*关于XXX--代理项目*/
.ban_about{background: url('../img/banner02.jpg') center}
.art_proj img{width:100%;}
.art_proj p{font-size:16px;padding:10px 0;margin-bottom:20px;}
.art_proj p span{color:#a8c80a}
/*关于XXX--公司简介*/
.art_comp .intro{background: url('../img/bg01.jpg') center;margin:30px 0;padding:20px;}
.art_comp .intro h3{color:#646c94;font-size:16px;font-weight: bold;padding:10px 0;}
.art_comp .intro h3:after{display: block;width:20px;height:0;margin:5px auto;content:'';padding:5px 0;border-bottom:1px solid #a0a0a0;}
.art_comp .intro p{margin-bottom:10px;line-height: 22px;color:#646c94}
/*.art_comp .agency{margin:30px 0;}*/
.art_comp .agency div{background: #646c94;color:#fff;padding:50px 30px;width:240px;height:248px;position:relative}
.art_comp .agency div h3{font-size:34px;font-weight: normal;}
.art_comp .agency div p{font-size:16px;padding:10px 0}
.art_comp .agency div a{display: block;position:absolute;bottom:40px;text-decoration: underline;}
.art_comp .agency div a:hover{text-decoration: none}
.art_comp .agency ul{margin-left:300px;margin-top:30px;margin-bottom:30px;}
.art_comp .agency ul li{width:33.3%;float:left}
.art_comp .agency ul li img{display: block;width:100%;}
.art_comp .aim {height: 130px;padding-top:70px;font-size:14px;background: url('../img/img09.jpg') center no-repeat;color:#555;line-height: 26px;}
/*关于XXX--合作伙伴*/
.art_part ul {margin-right:-8%;}
.art_part ul li{float:left;width:20%;margin-right:4%;border:1px solid #ebebeb;cursor:pointer;}
.art_part ul li img{width:100%;display: block;opacity:0.5;filter:gray;filter: grayscale(100%);-webkit-filter: grayscale(100%);-moz-filter:grayscale(100%);-o-filter:grayscale(100%);transition:0.5s;-webkit-transition:0.5s;-moz-transition:0.5s;}
.art_part ul li p{font-size:14px;text-align: center;background: #ebebeb;color:#646c94;padding:15px 0;transition:0.5s;-webkit-transition:0.5s;-moz-transition:0.5s;}
.art_part ul li:hover{border-color:#646c94}
.art_part ul li:hover img{filter:none;filter:grayscale(0);-webkit-filter: grayscale(0);-moz-filter: grayscale(0);-ms-filter: grayscale(0);-o-filter: grayscale(0);opacity:1;}
.art_part ul li:hover p{background: #646c94;color:#fff}
/*患者中心*/
.ban_patient{background: url('../img/banner03.jpg') center;}
.art_patient{padding:40px 0}
.art_patient .nav_patient{position:absolute;left:0;top:40px;}
.art_patient .nav_patient ul li{background: #f2f2f2;color:#808080;margin-bottom:3px;width:190px;padding-left:30px;line-height: 40px;font-size: 16px;cursor:pointer;}
.art_patient .nav_patient ul li a{display: block;}
.art_patient .nav_patient ul li:hover{color:#fff;background: #646c94}
.art_patient .cont_patient{margin-left:270px;}
.art_patient .hurt .img-margin{margin-left:370px;}
.art_patient  h4{color:#646c94;padding:10px 0;font-size:20px;font-weight: 200}
.art_patient  p{line-height: 26px;margin-bottom:5px;color:#666}
.art_patient .tab{margin:20px 0;border-bottom:1px dashed #dcdcdc;padding:20px 0;}
.art_patient .tab .tab_nav li{float:left;background: #ebebeb;color:#a6a6a6;text-align: center;margin-right:8px;padding:10px;cursor:pointer;}
.art_patient .tab .tab_nav li:hover{color:#fff;background: #99cc33}
.art_patient .tab .tab_nav li.active{color:#fff;background: #99cc33}
.art_patient .tab .tab_content {overflow:hidden;width:100%;}
.art_patient .tab .tab_content .ol{line-height: 22px;padding:20px 0;float:left;width:100%;box-sizing:border-box;}
.art_patient .tmj .tab_content .ol{width:33.33%;}
.art_patient .he .tab_content .ol{width:14.285%}
.art_patient .tab .tab_content .ol li{margin-top:8px;color:#666}
.art_patient .liu ol li{line-height: 22px;margin-top:8px}
/*新闻动态*/
.ban_news{background: url('../img/banner04.jpg') center;}
.art_news{padding:30px 0;}
.art_news ul li{margin-left:20px;padding-bottom:30px;border-left:1px dashed #d9d9d9;cursor:pointer;}
.art_news ul li:last-child{border-left:0;}
.art_news ul li .date{display:block;width:90px;height:20px;line-height:20px;padding:0 20px;font-size:16px;color:#999;position:relative;}
.art_news ul li .date:before{display:block;content:'';position:absolute;left:-8px;width:16px;height:18px;background: url('../img/icon/list.png') 0 top no-repeat;}
.art_news ul li:hover .date:before{background: url('../img/icon/list.png') 0 bottom no-repeat;top:0px;left:-9px;}
.art_news ul li .news{padding-left:140px;position:relative;top:-20px;}
.art_news ul li .news img{width:185px;}
.art_news ul li .news div{line-height: 24px;}
.art_news ul li h3{padding-bottom:30px;color:#333;font-size:16px;line-height:20px;font-weight: normal}
.art_news ul li:hover h3{color:#99cc33;}
.art_news ul li .img_mar{margin-left:200px;padding:20px 0;}
.art_news ul li div .more{color:#999;display: block;margin-top:20px;}
.art_news ul li div .more span{margin-left:10px}
.art_news ul li div .more:hover{color:#99cc33}
.art_news .page{background: #f2f2f2}
.art_news .page ol{float:right;}
.art_news .page ol li{color:#888;float:left;width:15px;height:15px;padding:10px;margin-right:10px;text-align: center;cursor:pointer;line-height: 15px;}
.art_news .page ol li.now{background: #646c94;color:#fff;}
.art_news .page ol li:hover{background: #646c94;color:#fff;}
/*新闻动态*/
.art_new_detail{padding:30px 0;}
.art_new_detail img{display:block;margin:10px auto;}
.art_new_detail h3{color:#646c94;text-align: center;padding:20px 0;font-weight: normal;font-size: 18px;}
.art_new_detail .detail{padding:30px 0;border-bottom:1px dashed #dcdcdc}
.art_new_detail .detail div{margin:20px 0;line-height: 24px}
.art_new_detail .detail h4{font-size:16px;padding-top:30px;padding-bottom:15px;font-weight:600}
.art_new_detail .art_btn{display:block;padding:10px ;color:#999;line-height: 28px;}
.art_new_detail .art_btn:hover{color:#20073d;}
/*联系我们*/
.contact .map{position:relative;top:-70px;}
.contact .link_type{margin:100px;margin-bottom:50px;}
.contact .link_type div h2{font-weight: normal;font-size: 20px;padding-bottom:30px;}
.contact .link_type div .type{padding:10px 0;}
.contact .link_type div .type:before{display: block;content: '';float:left;width:19px;height: 16px;margin-right:10px;margin-top:3px;background:url('../img/icon/nav01.png') no-repeat;}
.contact .link_type div .add:before{background-position: center 0;}
.contact .link_type div .phone:before{background-position: center -16px}
.contact .link_type div .fax:before{background-position: center -32px;}
.contact .link_type div .web:before{background-position: center -48px;}
.contact .link_type div .email:before{background-position: center -64px;}
.contact .link_type div .number{font-size: 30px;color:#535c88;padding:10px 0;}
.contact .link_type div .number:before{display: block;content: '';width:27px;height:27px;float:left;margin-top:6px;margin-right:10px;background: url('../img/icon/nav02.png') no-repeat}
.contact .link_type div .num02:before{background-position: 0 -27px}