/*首页*/
.header{}

.header .logo{ padding: 14px 0 16px; width: 161px; height: 61px;}
.header .logo img{ display: block; width: 161px; height: 61px;}

.header .idea{ padding-top: 14px; width: 197px; height: 61px; padding-left: 26px;}
.header .idea img{ display: block; width: 197px; height: 61px;}

.header .shop-mall{ padding-top: 35px; line-height: 22px;}
.header .shop-mall a{ display: block; font-size: 14px; color: #333; padding-left: 30px; width: 58px; background: url(../webimages/cimg03.png) 0 0 no-repeat;}
.header .shop-mall a:hover{ color: #ffa200; background-image: url(../webimages/cimg17.png);}

.nav-box{ background-color: #f7f7f7; border-top: 1px solid #e6e6e6; border-bottom: 1px solid #e6e6e6;}
.nav{}
.nav li{ float: left;}
.nav li a{ display: block; font-size: 16px; color: #333; line-height: 50px; padding: 0 25px;}
.nav li a:hover,.nav li a.on{ color: #ed8e18;}

.search{ width: 203px; height: 29px; background: url(../webimages/cimg18.png) 0 0 no-repeat; padding: 1px; margin-top: 9px;}
.search .text{ float: left; padding-left: 10px; width: 156px; height: 29px; line-height: 29px; font-size: 13px; color: #999; background-color: transparent;}
.search .submit{ float: right; width: 34px; height: 29px; background: url(../webimages/cimg05.png) center no-repeat; background-color: transparent; cursor: pointer;}

.subnav{ background-color: #f2f2f2; position: absolute; left: 0; top: 143px; width: 100%; height: 295px; display: none; z-index: 9999;}
.subnav .web{ position: relative;}

.subnav01{ padding: 16px 0; height: 263px; width: 668px; float: left; margin-left: 190px;}
.subnav01 li{ float: left; border-right: 1px solid #ccc; padding: 4px 10px 0 0;}
.subnav01 li h3{ font-size: 16px; color: #294999; line-height: 47px; font-weight: 700; padding-left: 84px;}
.subnav01 li .subnav-box{ padding-left: 84px;}
.subnav01 li a{ display: block; font-size: 15px; color: #333; line-height: 36px;}
.subnav01 li a:hover{ color: #294999;}

.subnav01 li.br-n{ border-right: none;}

.subnav01 .profile{ background: url(../webimages/cimg19.png) 30px 3px no-repeat}
.subnav01 .innovate{ background: url(../webimages/cimg20.png) 20px 0 no-repeat}
.subnav01 .culture{ background: url(../webimages/cimg21.png) 33px 7px no-repeat}
.subnav01 .sw-pro{ background: url(../webimages/nnav01.png) 33px 7px no-repeat}
.subnav01 .hd-pro{ background: url(../webimages/nnav02.png) 33px 7px no-repeat}
.subnav01 .hl-hy{ background: url(../webimages/nnav03.png) 33px 7px no-repeat}
.subnav01 .zx-aj{ background: url(../webimages/nnav04.png) 33px 7px no-repeat}

.subnav .ad{ width: 318px; padding: 30px 23px 0 0; float: right;}
.subnav .ad a{}
.subnav .ad img{ display: block; width: 318px; height: 155px;}
.subnav .ad .text{ display: block; width: 318px; height: 66px; line-height: 22px; color: #333; font-size: 13px; padding-top: 16px; overflow: hidden;}
.subnav .ad a:hover .text{ color: #294999;}

.subnav-public{ position: absolute; width: 100%; top: 0; left: 0; display: none;}

#about .subnav01{ margin-left: 0; width: 858px;}
#about .subnav01 li{ height: 238px;}
#about .subnav01 li h3{}
#about .subnav01 li .subnav-box{ width: 178px;}

#product .subnav01{  margin-left: 0; width: 858px;}
#product .subnav01 li{ margin-right: 80px;}
#product .subnav01 li .subnav-box{ width: 240px;}

#solution .subnav01{  margin-left: 0; width: 858px;}
#solution .subnav01 li{ padding-right: 60px; margin-right: 16px;}

#new li{ background: url(../webimages/nnav05.png) 33px 12px no-repeat;}
#support li{ background: url(../webimages/nnav06.png) 33px 12px no-repeat;}
#cantact li{ background: url(../webimages/nnav07.png) 33px 12px no-repeat;}
#join li{ background: url(../webimages/nnav08.png) 33px 12px no-repeat;}

/*banner*/
.banner{ width: 100%; height: 550px; overflow: hidden; position: relative;}
/*.banner ul{ width: 10000px;}加效果后要注释掉*/
.banner ul li{ float: left; width: 100%; height: 550px; position: relative;}
.banner ul li img{ display: block; position: absolute; left: 50%; margin-left: -960px; width: 1920px; height: 550px;}

.banner .banner-btn{ position: absolute; bottom: 22px; width: 100%; height: 3px; line-height: 6px; text-align: center; z-index: 20;}
.banner .banner-btn a{ display: inline-block; *display:inline; *zoom:1; width: 68px; height: 3px; background-color: #fff; margin: 0 2px; cursor: pointer; vertical-align: middle;}
.banner .banner-btn .cur{ background-color: #ffa200;}

.banner .btn{ display: block; width: 54px; height: 107px; position: absolute; top: 50%; margin-top: -53px; z-index: 999;}
.banner .prev{ background: url(../webimages/cimg25.png) center no-repeat; left: 80px;}
.banner .next{ background: url(../webimages/cimg27.png) center no-repeat; right: 80px;}
.banner .prev:hover{ background-image: url(../webimages/cimg26.png);}
.banner .next:hover{ background-image: url(../webimages/cimg28.png);}
/*banner over*/

.index-pro{}
.index-pro .web{ height: 675px; position: relative; overflow: hidden;}
.index-protab{ text-align: center; border-bottom: 1px solid #ddd;}
.index-protab a{ display: inline-block; color: #1a1a1a; font-size: 18px; line-height: 32px; padding: 0 34px 17px 34px; margin-bottom: -1px;}
.index-protab a:hover,.index-protab a.cur{ color: #ffa200; background: url(../webimages/cimg22.png) bottom no-repeat;}

.index-procont{ padding: 38px 0 34px; display: none;}
.index-procont .pic{ width: 645px; height: 426px; overflow: hidden; position: relative;}
.index-procont .pic img{ display: block;}

.work-safety{}
.work-safety .bg{ position: absolute; top: 25px; left: 46px; z-index: 777;}
.work-safety .link-list{ position: absolute; font-size: 14px; color: #294999; line-height: 18px; z-index: 888;}
.work-safety .link-list:hover{ color: #ffa200;}
.work-safety .link-list01{ padding: 5px 0 0 106px; height: 80px; background: url(../webimages/cimg115.png) -17px 0 no-repeat; top: 0; left: 351px;}
.work-safety .link-list01:hover{ background-image: url(../webimages/cimg116.png);}
.work-safety .link-list02{ padding: 12px 0 0 127px; height: 54px; background: url(../webimages/cimg117.png) -29px 0 no-repeat; top: 80px; left: 391px;}
.work-safety .link-list02:hover{ background-image: url(../webimages/cimg118.png);}
.work-safety .link-list03{ padding: 13px 0 0 131px; height: 52px; background: url(../webimages/cimg119.png) -33px 0 no-repeat; top: 178px; left: 406px;}
.work-safety .link-list03:hover{ background-image: url(../webimages/cimg120.png);}
.work-safety .link-list04{ padding: 18px 0 0 125px; height: 47px; background: url(../webimages/cimg121.png) -41px 0 no-repeat; bottom: 86px; left: 388px;}
.work-safety .link-list04:hover{ background-image: url(../webimages/cimg122.png);}
.work-safety .link-list05{ padding: 47px 0 0 103px; height: 41px; background: url(../webimages/cimg123.png) -46px bottom no-repeat; bottom: 0; left: 345px;}
.work-safety .link-list05:hover{ background-image: url(../webimages/cimg124.png);}

.chengguan{}
.chengguan .bg{ position: absolute; top: 42px; left: 46px; z-index: 777;}
.chengguan .link-list{ position: absolute; font-size: 14px; color: #294999; line-height: 18px; z-index: 888;}
.chengguan .link-list:hover{ color: #ffa200;}
.chengguan .link-list01{ padding: 5px 0 0 106px; height: 80px; background: url(../webimages/cimg125.png) -17px 0 no-repeat; top: 35px; left: 366px;}
.chengguan .link-list01:hover{ background-image: url(../webimages/cimg126.png);}
.chengguan .link-list02{ padding: 12px 0 0 127px; height: 54px; background: url(../webimages/cimg127.png) -29px 0 no-repeat; top: 128px; left: 402px;}
.chengguan .link-list02:hover{ background-image: url(../webimages/cimg128.png);}
.chengguan .link-list03{ padding: 13px 0 0 131px; height: 52px; background: url(../webimages/cimg129.png) -33px 0 no-repeat; top: 234px; left: 402px;}
.chengguan .link-list03:hover{ background-image: url(../webimages/cimg130.png);}
.chengguan .link-list04{ padding: 18px 0 0 125px; height: 47px; background: url(../webimages/cimg131.png) -41px 0 no-repeat; bottom: 31px; left: 365px;}
.chengguan .link-list04:hover{ background-image: url(../webimages/cimg132.png);}

.protection{}
.protection .bg{ position: absolute; top: 25px; left: 46px; z-index: 777;}
.protection .link-list{ position: absolute; font-size: 14px; color: #294999; line-height: 18px; z-index: 888;}
.protection .link-list:hover{ color: #ffa200;}
.protection .link-list01{ padding: 5px 0 0 106px; height: 80px; background: url(../webimages/cimg133.png) -17px 0 no-repeat; top: 0; left: 351px;}
.protection .link-list01:hover{ background-image: url(../webimages/cimg134.png);}
.protection .link-list02{ padding: 12px 0 0 127px; height: 54px; background: url(../webimages/cimg135.png) -29px 0 no-repeat; top: 80px; left: 391px;}
.protection .link-list02:hover{ background-image: url(../webimages/cimg136.png);}
.protection .link-list03{ padding: 13px 0 0 131px; height: 52px; background: url(../webimages/cimg137.png) -33px 0 no-repeat; top: 178px; left: 406px;}
.protection .link-list03:hover{ background-image: url(../webimages/cimg138.png);}
.protection .link-list04{ padding: 18px 0 0 125px; height: 47px; background: url(../webimages/cimg139.png) -41px 0 no-repeat; bottom: 86px; left: 388px;}
.protection .link-list04:hover{ background-image: url(../webimages/cimg140.png);}
.protection .link-list05{ padding: 47px 0 0 103px; height: 41px; background: url(../webimages/cimg141.png) -46px bottom no-repeat; bottom: 0; left: 345px;}
.protection .link-list05:hover{ background-image: url(../webimages/cimg142.png);}

.water{}
.water .bg{ position: absolute; top: 42px; left: 46px; z-index: 777;}
.water .link-list{ position: absolute; font-size: 14px; color: #294999; line-height: 18px; z-index: 888;}
.water .link-list:hover{ color: #ffa200;}
.water .link-list01{ padding: 18px 0 0 124px; height: 67px; background: url(../webimages/cimg143.png) -17px 10px no-repeat; top: 30px; left: 357px;}
.water .link-list01:hover{ background-image: url(../webimages/cimg144.png);}
.water .link-list02{ padding: 12px 0 0 127px; height: 54px; background: url(../webimages/cimg145.png) -32px 0 no-repeat; top: 184px; left: 405px;}
.water .link-list02:hover{ background-image: url(../webimages/cimg146.png);}
.water .link-list03{ padding: 44px 0 0 131px; height: 52px; background: url(../webimages/cimg147.png) -36px 0 no-repeat; top: 290px; left: 383px;}
.water .link-list03:hover{ background-image: url(../webimages/cimg148.png);}

.plan{}
.plan .bg{ position: absolute; top: 50%; left: 50%; margin: -60px 0 0 -60px; z-index: 999;}
.plan .link-list{ position: absolute; font-size: 14px; color: #294999; line-height: 21px; width: 112px; z-index: 888;}
.plan .link-list:hover{ color: #ffa200;}
.plan .link-list01{ padding: 50px 193px 0 0; height: 126px; background: url(../webimages/cimg149.png) right 0 no-repeat; top: 25px; left: 4px;}
.plan .link-list01:hover{ background-image: url(../webimages/cimg150.png);}
.plan .link-list02{ padding: 50px 0 0 193px; height: 126px; background: url(../webimages/cimg151.png) left 0 no-repeat; top: 25px; right: 4px;}
.plan .link-list02:hover{ background-image: url(../webimages/cimg152.png);}
.plan .link-list03{ padding: 50px 193px 0 0; height: 126px; background: url(../webimages/cimg153.png) right 0 no-repeat; bottom: 25px; left: 4px;}
.plan .link-list03:hover{ background-image: url(../webimages/cimg154.png);}
.plan .link-list04{ padding: 50px 0 0 193px; height: 126px; background: url(../webimages/cimg155.png) left 0 no-repeat; bottom: 25px; right: 4px;}
.plan .link-list04:hover{ background-image: url(../webimages/cimg156.png);}

.index-procont .info{ width: 502px; padding: 28px 36px 0 0;}
.index-procont .info .title a{ font-size: 42px; color: #294999; line-height: 64px;}
.index-procont .info .title a:hover{ color: #ffa200;}
.index-procont .info .title strong{ font-weight: 700;}
.index-procont .info .subtitle{ font-size: 24px; color: #333; line-height: 44px;}
.index-procont .info .text{ padding-top: 28px; height: 188px; margin-bottom: 8px; line-height: 26px; font-size: 14px; color: #333; overflow: hidden;}
.index-procont .lookmore{}
.index-procont .lookmore a{ display: block; width: 128px; height: 41px; line-height: 41px; text-align: center; font-size: 14px; color: #294999; background: url(../webimages/cimg23.png) 0 0 no-repeat;}
.index-procont .lookmore a:hover{ color: #ffa200; background-image: url(../webimages/cimg24.png);}

/*.index-pro .pro-btn{ display: block; width: 35px; height: 30px; position: absolute; top: 87px;}
.index-pro .pro-prev{ background: #999 url(../webimages/cimg110.png) center no-repeat; right: 75px;}
.index-pro .pro-next{ background: #999 url(../webimages/cimg111.png) center no-repeat; right: 40px;}
.index-pro .pro-btn:hover{ background-color: #ffa200;}*/

.index-it{ width: 100%; background: url(../webimages/cimg15.jpg) center no-repeat;}
.index-ittitle{ font-size: 32px; color: #fff; line-height: 54px; padding: 30px 0 12px; text-align: center; background: url(../webimages/cimg14.jpg) bottom no-repeat;}
.indext-itlink{ height: 552px; position: relative;}
.indext-itlink a{ position: absolute; font-size: 22px; color: #fff; line-height: 32px; text-align: center;}
.indext-itlink a:hover{ color: #ffa200;}
.indext-itlink .it01{ top: 75px; left: 16px; width: 154px; padding-bottom: 266px; background: url(../webimages/cimg29.png) center bottom no-repeat;}
.indext-itlink .it01:hover{ background-image: url(../webimages/cimg30.png);}
.indext-itlink .it02{ bottom: 35px; left: 156px; width: 176px; padding-bottom: 246px; background: url(../webimages/cimg31.png) center bottom no-repeat;}
.indext-itlink .it02:hover{ background-image: url(../webimages/cimg32.png);}
.indext-itlink .it03{ top: 18px; left: 367px; width: 132px; padding-bottom: 265px; background: url(../webimages/cimg33.png) center bottom no-repeat;}
.indext-itlink .it03:hover{ background-image: url(../webimages/cimg34.png);}
.indext-itlink .it04{ bottom: 138px; right: 332px; width: 288px; padding-bottom: 235px; background: url(../webimages/cimg35.png) center bottom no-repeat;}
.indext-itlink .it04:hover{ background-image: url(../webimages/cimg36.png);}
.indext-itlink .it05{ top: 65px; right: 158px; width: 193px; padding-bottom: 269px; background: url(../webimages/cimg37.png) center bottom no-repeat;}
.indext-itlink .it05:hover{ background-image: url(../webimages/cimg38.png);}
.indext-itlink .it06{ bottom: 53px; right: 17px; width: 176px; padding-bottom: 270px; background: url(../webimages/cimg39.png) center bottom no-repeat;}
.indext-itlink .it06:hover{ background-image: url(../webimages/cimg40.png);}

.index-other{ padding-bottom: 37px;}
.index-other .title{ font-size: 20px; line-height: 25px; color: #202020; padding-bottom: 20px;}
.index-new{ float: left; padding-top: 24px;}
.index-new .cont{ height: 243px; width: 370px; padding: 9px 39px 0 0; margin-right: -3px; position: relative; overflow: hidden; *zoom: 1;}
.index-newlist{}
.index-newlist li{ padding-bottom: 27px;}
.index-newlist li a{ display: block; height: 60px;}
.index-newlist li .date{ float: left; color: #fff; text-align: center; padding: 0 4px; background-color: #777;}
.index-newlist li .date .day{ display: block; font-size: 30px; font-weight: 700; line-height: 38px; border-bottom: 1px solid #858484;}
.index-newlist li .date .moon{ display: block; line-height: 21px;}
.index-newlist li .newtitle{ float: right; font-size: 16px; line-height: 24px; color: #333; width: 284px; height: 48px; overflow: hidden;}

.index-newlist li a:hover .date{ background: #ffa200;}
.index-newlist li a:hover .date .day{ border-bottom: 1px solid #ffab19;}
.index-newlist li a:hover .newtitle{ color: #ffa200;}

/*竖的滚动条*/
/*滚动条外部路径*/
.ui-scrollbar{width:5px; position:absolute; right:0; top:0; font-size:0; z-index: 99;}
/*滚动条滑块*/
.ui-scrollbar-slide{width:100%; background-color:#294999; height: 60px!important; position:absolute; right:0; top:0; z-index: 9999;}

.index-about{ float: left; margin-top: 24px; width: 327px; padding: 0 44px 9px 40px; border-left: 1px solid #ddd; border-right: 1px solid #ddd;}
.index-about .cont{}
.index-about .cont img{ display: block; width: 327px; height: 182px;}
.index-about .cont .info{ display: block; font-size: 13px; color: #333; line-height: 22px; padding-top: 24px; height: 44px; overflow: hidden;}
.index-about .cont a{ color: #333;}

.index-about a:hover .info{ color: #ffa200;}

.index-video{ float: right; width: 335px; padding: 24px 10px 0 0;}
.index-video .cont{ position: relative; width: 335px; height: 251px; cursor: pointer;}
.index-video .cont img{ display: block; width: 335px; height: 251px;}
.index-video .cont .video-ico{ position: absolute; width: 81px; height: 81px; top: 50%; left: 50%; margin: -40px 0 0 -40px; background: url(../webimages/cimg10.png) 0 0 no-repeat; z-index: 99;}

.footer{ padding-top: 12px; background-color: #333;}

.footer-title{ width: 100%; line-height: 48px; font-size: 18px; color: #fff; padding-bottom: 2px; background: url(../webimages/cimg17.jpg) 0 bottom repeat-x;}
.footer-subtitle{ padding: 15px 0 12px; line-height: 30px; color: #fff; font-size: 14px;}
.footer-menu{ float: left; padding: 0 42px 12px 0;}
.footer-linkbox{ font-size: 13px; color: #999; line-height: 30px;}
.footer-linkbox a{ color: #999;}
.footer-linkbox a:hover{ color: #fff;}
.footer-solution{ width: 492px;}
.footer-solution .footer-linkbox{ padding-right: 12px;}
.footer-solution a{ display: block;}
.footer-contact{ width: 284px;}

.footer-media{ width: 310px; float: right;}
.footer-media ul{ padding: 25px 0 0 6px;}
.footer-media li{ padding-bottom: 27px;}
.footer-media li a{ display: block; height: 30px; font-size: 14px; color: #fff; line-height: 30px; padding: 3px 0 0 50px;}
.footer-media li a:hover{ color: #ffa200;}
.footer-media .mobile a{ background: url(../webimages/cimg11.png) 0 no-repeat;}
.footer-media .mobile a:hover{ background-image: url(../webimages/cimg12.png);}
.footer-media .wechat a{ background: url(../webimages/cimg13.png) 0 no-repeat;}
.footer-media .wechat a:hover{ background-image: url(../webimages/cimg14.png);}
.footer-media .micro-blog a{ background: url(../webimages/cimg15.png) 0 no-repeat;}
.footer-media .micro-blog a:hover{ background-image: url(../webimages/cimg16.png);}

.friendlink{ padding-top: 28px; border-top: 1px solid #464646; clear: both; overflow: hidden;}
.friendlink dt{ font-size: 14px; color: #fff; line-height: 24px;}
.friendlink dd{ padding: 10px 0 30px;}
.friendlink dd a{ display: inline-block; line-height: 20px; font-size: 13px; color: #999; margin-right: 24px;}
.friendlink dd a:hover{ color: #fff;}

.copyrigth-box{ background-color: #2a2a2a; padding: 10px 0 8px;}
.copyrigth-box .link{ padding-left: 8px; font-size: 16px; color: #ddd; width: 354px; line-height: 32px;}
.copyrigth-box .link a{ color: #ddd; font-size: 14px;}
.copyrigth-box .link a:hover{ color: #999;}

.copyrigth-box .copyrigth{ line-height: 32px; width: 720px; color: #999; text-align: right;}
.copyrigth-box .copyrigth a{ font-size: 14px; color: #999;}
.copyrigth-box .copyrigth a:hover{ color: #ddd;}

/*.leftbtn{ width: 45px; position: fixed; right: 10px; top: 40%; z-index: 999;}
.leftbtn .ico{ display: block; width: 45px; height: 45px; margin-bottom: 1px;}
.leftbtn .tel{ background: #333 url(../webimages/cimg04.png) center no-repeat;}
.leftbtn .wechat{ background: #333 url(../webimages/cimg07.png) center no-repeat;}
.leftbtn .backtop{ background: #666 url(../webimages/cimg08.png) center no-repeat;}*/

.leftbtn{ width: 45px; position: fixed; right: 10px; top: 45%; z-index: 999;}
.leftbtn .ico{ width: 45px; height: 45px; margin-bottom: 1px; cursor: pointer; position: relative;}
.leftbtn .tel{ background: #333 url(../webimages/cimg04.png) center no-repeat;}
.leftbtn .tel .cont{ background: #333 url(../webimages/cimg04.png) 10px center no-repeat; padding-left: 45px; height: 45px; line-height: 45px; color: #fff; font-size: 18px; width: 250px; position: absolute; top: 0; right: 0; z-index: 999;}
.leftbtn .wechat{ background: #333 url(../webimages/cimg07.png) center no-repeat;}
.leftbtn .wechat .cont{ width: 153px; padding: 1px 16px 5px 1px; background: url(../webimages/cimg158.png) 0 0 no-repeat; position: absolute; left: -170px; top: -44px;}
.leftbtn .wechat .cont img{ width: 153px; height: 153px;}
.leftbtn .wechat .cont span{ display: block; line-height: 20px; font-size: 12px; text-align: center; color: #1a1a1a;}

.leftbtn .ico .cont{ display: none;}

/*弹出二维码*/
.mask{ position: fixed; top: 0; left: 0; width: 100%; height: 100%; background: url(../webimages/cimg41.png) repeat; z-index: 9000; display: none;}

.wechat-popup{ position: fixed; width: 263px; height: 303px; padding: 31px 31px 12px; top: 50%; left: 50%; margin: -173px 0 0 -162px; background-color: #fff; z-index: 9999; display: none;}
.wechat-popup img{ display: block; width: 263px; height: 266px;}
.wechat-popup p{ line-height: 37px; color: #666; font-size: 18px; text-align: center;}
.wechat-popup span{ position: absolute; width: 44px; height: 44px; background: url(../webimages/cimg42.png) 0 0 no-repeat; right: -27px; top: -27px; cursor: pointer;}

/*弹出视频*/
.video-popup{ width: 655px; height:419px; position: fixed; top: 50%; left: 50%; margin: -209px 0 0 -327px; z-index: 9999; display: none;}
.video-popup .cont{ width: 100%; height: 100%; background-color: #000;}
.video-popup span{ position: absolute; width: 32px; height: 32px; top: -185px; right: -214px;background: url(../webimages/cimg43.png) no-repeat; cursor: pointer;}

/*软件产品*/
.pro-listbox{ overflow: hidden;}

.pro-list{ width: 1220px; padding-bottom: 26px;}
.pro-list li{ float: left; width: 292px; height: 395px; padding: 0 10px 30px 0;}
.pro-list li a{ display: block; border: 1px solid #e6e6e6; padding: 10px 0 28px;  line-height: 21px; text-align: center;  background-color: #fff;}
.pro-list li img{ display: block; width: 231px; height: 214px; margin: 0 auto; padding-bottom: 18px;}
.pro-list li .pro-name{ display: block; height: 21px; font-size: 16px; color: #333; overflow: hidden;}
.pro-list li .info{ display: block; width: 244px; height: 42px; font-size: 13px; color: #999; overflow: hidden; margin: 12px auto 17px;}
.pro-list li .more{ display: block; width: 83px; height: 29px; line-height: 29px; font-size: 14px; color: #294999; border: 1px solid #e6e6e6; margin: 0 auto;}
.pro-list li a:hover{ border: 4px solid #294999; padding: 7px 0 25px;}

/*软件产品详情*/
.pro-detailname{ height: 52px; border-top: 1px solid #fff; background-color: #fafafa;}
.pro-detailname h2{ display: block; width: 1200px; margin: 0 auto; height: 52px; line-height: 52px; font-size: 13px; color: #999; overflow: hidden;}
.pro-detailname h2 span{ font-size: 22px; color: #333; padding-right: 46px;}
.pro-detailname h2 a{ color: #999; margin-left: 10px;}
.pro-detailname h2 a:hover{ color: #294999;}

/*放大镜*/
.magnifier{ padding: 35px 0 95px;}
.magnifier .fl{}
.magnifier .detail-brief{ width: 590px; height: 441px; overflow: hidden;}
.magnifier .detail-brief .pro-name{ font-size: 32px; color: #294999; font-weight: 700; border-bottom: 1px solid #dadada;  line-height: 54px; padding: 38px 0 23px;}
.magnifier .detail-brief .detail-text{ padding-top: 27px; height: 198px; overflow: hidden;}
.magnifier .detail-brief .detail-text .pro-detailinfo{ line-height: 30px; padding-left: 18px; font-size: 14px; color: #666; background: url(../webimages/cimg78.png) 0 13px no-repeat;}
.magnifier .smallimg{}
.magnifier .smallimg ul{}
.magnifier .smallimg ul li{ float: left; margin-right: 13px; border: 1px solid #dadada; width: 92px; height: 92px; padding: 3px; cursor: pointer;}
.magnifier .smallimg ul li img{ display: block; width: 92px; height: 73px; margin-top: 10px;}
.magnifier .smallimg ul li.cur{ border: 4px solid #294999; padding: 0;}

.magnifier .fr{ border: 1px solid #dadada; width: 557px; height: 439px; position: relative;}
.magnifier .bigimg-cont{ width: 557px; height: 439px; position: relative;}
.magnifier .bigimg-cont img{ display: block; width: 557px; height: 439px;}

div.zoomdiv {z-index:100;position:absolute;top:0px;right:0px;width:200px;height:200px;background:#ffffff;border:1px solid #CCCCCC;display:none;text-align:center;overflow:hidden;}
div.jqZoomPup {z-index:10;visibility:hidden;position:absolute;top:0px;left:0px;width:50px;height:50px;border: 1px solid #aaa;background: #ffffff ;opacity: 0.5;-moz-opacity: 0.5;-khtml-opacity: 0.5;filter: alpha(Opacity=50);}
/*放大镜 over*/

.pro-detailcont{}
.pro-detailcont .pro-detailtitle{ padding-left: 24px; font-size: 24px; color: #294999; line-height: 50px; background-color: #f8f8f8;}
.summary-list{ padding: 38px 0 26px;}
.summary-list li{ padding-bottom: 38px; height: 203px; overflow: hidden;}
.summary-list li .pic{ float: left; border: 1px solid #e7e7e7; width: 266px;}
.summary-list li .pic img{display: block; width: 266px; height: 201px;}
.summary-list li .info{ float: right; width: 876px; padding: 22px 10px 0 0; line-height: 30px;}
.summary-list li .info .title{ font-size: 22px; color: #333; padding-bottom: 27px;}
.summary-list li .info .text{ height: 122px; overflow: hidden; font-size: 16px; color: #666;}

/*system-banner*/
.system-banner{ width: 100%; height: 312px; margin: 0 auto; padding: 110px 0 168px; position: relative;}
.system-bannerbox{ width: 627px; height: 312px; margin: 0 auto; overflow: hidden; position: relative;}
/*加效果后要注释掉*/
/*.system-banner ul{ width: 10000px;}*/
.system-banner ul li{ float: left; width: 100%; height: 312px; position: relative;}
.system-banner ul li img{ display: block; width: 627px; height: 312px;}

.system-banner .system-prev,.system-banner .system-next{ position: absolute; width: 45px; height: 76px; top: 50%; margin-top: -36px;}
.system-banner .system-prev{ background: url(../webimages/cimg82.png) 0 0 no-repeat; left: 70px;}
.system-banner .system-prev:hover{ background-image: url(../webimages/cimg83.png);}
.system-banner .system-next{ background: url(../webimages/cimg84.png) 0 0 no-repeat; right: 70px;}
.system-banner .system-next:hover{ background-image: url(../webimages/cimg85.png);}

.system-banner .system-btn{ position: absolute; bottom: 88px; width: 100%; height: 13px; line-height: 13px; text-align: center; z-index: 20;}
.system-banner .system-btn a{ display: inline-block; *display:inline; *zoom:1; width: 13px; height: 13px; background: url(../webimages/cimg87.png) 0 0 no-repeat; margin: 0 9px; cursor: pointer; vertical-align: middle;}
.system-banner .system-btn .cur{ background-image: url(../webimages/cimg86.png);}
/*system-banner over*/

.function-text{ line-height: 30px; color: #666; font-size: 15px; padding: 0 0 30px 30px; background: url(../webimages/cimg88.png) 10px 12px no-repeat;}

.pro-back{ padding: 52px 0 66px;}
.pro-back a{ display: block; width: 124px; height: 48px; line-height: 48px; text-align: center; color: #fff; font-size: 21px; margin: 0 auto; background-color: #294999;}
.pro-back a:hover{ background-color: #163c99;}

.orso-pro{ width: 100%; position: relative;}

.orso-probox{ position: relative; padding: 38px 0 78px; height: 256px; width: 100%; overflow: hidden;}
.orso-prolist{ width: 9999px; height: 256px; position: relative; overflow: hidden;}
.orso-prolist li{ float: left; width: 262px; height: 192px; padding-right: 50px;}
.orso-prolist a{ display: block; width: 262px;}
.orso-prolist img{ display: block; border: 1px solid #cdcdcd; width: 260px; height: 190px;}
.orso-prolist .pro-name{ display: block; height: 32px; width: 100%; line-height: 32px; font-size: 15px; color: #444; padding-top: 32px; text-align: center; overflow: hidden;}
.orso-prolist a:hover .pro-name{ color: #294999;}

/*服务理念*/
.service-idea{ position: relative; width: 100%; height: 253px; text-align: center; overflow: hidden;}
.service-idea img{ position: absolute; width: 1920px; height: 253px; left: 50%; margin-left: -960px;}
.service-idea .web{ position: relative; z-index: 12;}
.service-idea .idea{ font-size: 26px; color: #294999; line-height: 42px; padding: 97px 0 14px;}
.service-idea .info{ font-size: 13px; color: #333; line-height: 24px; padding: 0 186px;}

.service-list{ width: 1200px; padding: 46px 0 10px; height: 200px; margin: 0 auto 35px; background-color: #fff; overflow: hidden;}
.service-list dt{ float: left; padding: 37px 0 0 64px; width: 118px;}
.service-list dt img{ display: block; width: 118px; height: 118px;}
.service-list dd{ float: right; width: 890px; line-height: 31px; padding-right: 62px;}
.service-list dd .title{ font-size: 22px; color: #294999; font-weight: 700; padding-bottom: 21px;}
.service-list dd .text{ font-size: 15px; color: #4c4c4c;}

/*售后承诺*/
.service-line{ line-height: 34px; color: #294999; font-size: 22px; padding: 66px 0 86px 126px; background: url(../webimages/cimg56.png) 0 66px no-repeat;}
.service-line .tip{ padding-bottom: 6px;}
.service-line .tel{ font-weight: 700;}

/*公司介绍*/
.company-name{ font-size: 26px; font-weight: 700; color: #294999; text-align: center; line-height: 42px; padding-bottom: 34px;}
.sbse-pic{ width: 247px; height: 247px; margin: 0 auto; position: relative; margin-top: -130px; padding-bottom: 32px;}
.sbse-pic .bg{ position: absolute; width: 247px; height: 247px; top: 0; left: 0; background: url(../webimages/cximg01.png) 0 0 no-repeat; z-index: 999;}
.sbse-pic img{ display: block; width: 247px; height: 247px;}

/*发展历程*/
.history{ padding: 74px 130px 58px 128px; background-color: #fff; }
.history .history-info{ line-height: 23px; font-size: 13px; color: #1a1a1a; text-align: center; padding-bottom: 50px;}
.history-box{ background: #fff url(../webimages/cimg60.png) center repeat-y; padding-bottom: 20px; min-height: 256px;}
.history-box dt{ float: right; width: 430px; padding-top: 22px;}
.history-box dt img{ display: block; width: 430px; height: 201px;}
.history-box dd{ float: left; width: 452px; margin-top: -42px; padding: 0 28px 0 0; background: url(../webimages/cimg35.jpg) right 11px no-repeat;}
.history-box dd .year{ font-size: 34px; color: #666; font-weight: 700; line-height: 44px; background: url(../webimages/cimg61.png) bottom repeat-x; padding-bottom: 2px; margin-bottom: 30px;}
.history-box dd .text{ font-size: 13px; color: #1a1a1a; line-height: 25px; padding-bottom: 24px;}

.odd-hisory dd{ float: right; padding: 0 0 0 26px; background: url(../webimages/cimg36.jpg) left 11px no-repeat;}
.odd-hisory dt{ float: left;}

/*公司资质*/
.jcImgScroll { position:relative; height:415px; background-color: #fff; padding-top: 56px;}
.jcImgScroll li{}
.jcImgScroll li img{ width: 100%; height: 100%;}
.jcImgScroll li a { display:block; height:100%; cursor: default;}
.jcImgScroll li.loading a {} 
.jcImgScroll li img,.jcImgScroll li,.jcImgScroll em,.jcImgScroll dl { display:none; border:0 none;}
.jcImgScroll .sPrev { background:url(../webimages/cimg62.png) right center no-repeat; }
.jcImgScroll .sPrev:hover{ background-image: url(../webimages/cimg63.png);}
.jcImgScroll .sNext { background:url(../webimages/cimg64.png) left center no-repeat;}
.jcImgScroll .sNext:hover{ background-image: url(../webimages/cimg65.png);}
.jcImgScroll dl dd { text-indent:-9em; }
.jcImgScroll dl dd:hover,.jcImgScroll dl dd.curr { background-position:0 0; }

.newhonorTit{ width: 100%; padding: 30px 0 60px; height: 32px; line-height: 32px; text-align: center; font-size: 17px; color: #1a1a1a; background-color: #fff;}

/*办公环境*/
.photo-box{ overflow: hidden;}
.photo-list{ width: 1265px;}
.photo-list dt{ width: 1200px; padding-bottom: 28px; overflow: hidden;}
.photo-list dd{ float: left; width: 569px; padding: 0 63px 75px 0; overflow: hidden;}
.photo-list img{ display: block;}
.photo-list .pic-name{ font-size: 24px; color: #333; text-align: center; line-height: 36px; padding-top: 20px;}

/*智能物联网技术*/
.technology-text{ font-size: 16px; line-height: 30px; color: #4c4c4c;}

.orso-case{ width: 100%; position: relative;}

.orso-casetitle{ display: block; width: 194px; font-size: 30px; text-align: center; color: #294999; font-weight: 700; line-height: 62px; margin: 38px auto 44px; background: url(../webimages/cimg69.png) 0 repeat-x;}
.orso-casetitle span{ background-color: #fff; padding: 0 8px;}

.orso-casebox{ position: relative; height: 253px; width: 100%; overflow: hidden;}
.orso-caselist{ width: 9999px; height: 253px; position: relative; overflow: hidden;}
.orso-caselist li{ float: left; height: 237px; padding: 0 39px 16px 0;}
.orso-caselist a{ display: block; width: 250px;}
.orso-caselist img{ display: block; border: 1px solid #cdcdcd; width: 248px; height: 175px;}
.orso-caselist .case-name{ display: block; height: 32px; line-height: 32px; font-size: 15px; color: #444; padding-top: 28px; text-align: center;}
.orso-caselist a:hover .case-name{ color: #294999;}

/*核心价值*/
.culture-box{ background-color: #fff; padding: 0 100px;}
.culture-box dt{ float: left; width: 505px; height: 271px;}
.culture-box dt img{ display: block; width: 505px; height: 271px;}
.culture-box dd{ float: right; width: 430px; height: 271px; padding-left: 44px; font-size: 19px; color: #4f4f4f; line-height: 32px;}
.culture-box .title{ font-size: 22px; font-weight: 700; color: #294999; padding: 118px 0 6px;}
.culture-box .single-line{ font-size: 19px; color: #4f4f4f; line-height: 32px; padding-top: 136px;}

.culture-boxodd dt{ float: right; width: 496px;}
.culture-boxodd dt img{ width: 496px;}
.culture-boxodd dd{ float: left;}

/*企业理念*/
.culture-box02{ background-color: #fff;}
.culture-box02 dt{ float: left; width: 606px; height: 326px;}
.culture-box02 dt img{ display: block; width: 606px; height: 326px;}
.culture-box02 dd{ float: right; width: 554px; height: 271px; padding-left: 27px; font-size: 19px; color: #4f4f4f; line-height: 32px;}
.culture-box02 .title{ font-size: 26px; font-weight: 700; color: #294999; padding: 136px 0 12px;}

.culture-box02odd dt{ float: right; width: 596px;}
.culture-box02odd dt img{ width: 596px;}
.culture-box02odd dd{ float: left;}

.team-style{ width: 100%; position: relative;}

.team-styletitle{ line-height: 30px; padding: 63px 0 25px;}
.team-styletitle span{ float: left; width: 200px; font-size: 24px; color: #333;}
.team-styletitle em{ width: 60px; float: right; }
.team-styletitle em a{ display: inline-block; width: 30px; height: 30px; color: #fff; font-size: 20px; background-color: #afafaf; text-align: center;}
.team-styletitle em a:hover{ background-color: #294999;}

.team-stylebox{ position: relative; height: 294px; width: 100%; overflow: hidden;}
.team-stylelist{ width: 9999px; height: 294px; position: relative; overflow: hidden;}
.team-stylelist li{ float: left; width: 373px; height: 294px; padding-right: 41px;}
.team-stylelist img{ display: block; width: 373px; height: 294px;}

/*.idea-video{ position: relative; width: 1200px; height: 490px; cursor: pointer; margin-bottom: 30px;}
.idea-video img{ display: block; width: 1200px; height: 490px;}
.idea-video .video-ico{ position: absolute; width: 150px; height: 150px; top: 50%; left: 50%; margin: -75px 0 0 -75px; background: url(../webimages/cimg72.png) 0 0 no-repeat; z-index: 99;}*/

/*banner*/
.culture-video{ width: 100%; height: 550px; overflow: hidden; position: relative;}
/*.banner ul{ width: 10000px;}加效果后要注释掉*/
.culture-video ul li{ float: left; width: 100%; height: 490px; position: relative;}
.culture-video ul li img{ display: block; width: 1200px; height: 490px;}
.culture-video ul li .video-ico{ position: absolute; width: 150px; height: 150px; top: 50%; left: 50%; margin: -75px 0 0 -75px; background: url(../webimages/cimg72.png) 0 0 no-repeat; z-index: 99;}

.culture-video .culture-drop{ position: absolute; bottom: 22px; width: 100%; height: 3px; line-height: 6px; text-align: center; z-index: 20;}
.culture-video .culture-drop a{ display: inline-block; *display:inline; *zoom:1; width: 34px; height: 2px; background-color: #fff; margin: 0 2px; cursor: pointer; vertical-align: middle;}
.culture-video .culture-drop .cur{ background-color: #ffa200;}

.culture-video .btn{ display: block; width: 54px; height: 107px; position: absolute; top: 50%; margin-top: -53px; z-index: 999;}
.culture-video .prev{ background: url(../webimages/cimg25.png) center no-repeat; left: 80px;}
.culture-video .next{ background: url(../webimages/cimg27.png) center no-repeat; right: 80px;}
.culture-video .prev:hover{ background-image: url(../webimages/cimg26.png);}
.culture-video .next:hover{ background-image: url(../webimages/cimg28.png);}
/*banner over*/


/*人才理念*/
.whitebg{ background-color: #fff;}
.talent-idealist{ padding: 65px 103px 84px;}
.talent-idealist li{ float: left; width: 98px; height: 98px; line-height: 98px; text-align: center; margin: 0 22px; background: url(../webimages/cimg109.png) 0 0 no-repeat;}
.talent-ideainfo{ text-align: center; line-height: 30px; font-size: 18px; color: #333; width: 1042px; margin: 0 auto;}

.talent-idea{ padding: 80px 0 28px;}
.talent-idea dt{ float: left; width: 606px; height: 326px;}
.talent-idea dt img{ display: block; width: 606px; height: 326px;}
.talent-idea dd{ float: left; width: 472px; height: 326px; padding-left: 50px; font-size: 16px; color: #333; line-height: 36px; overflow: hidden;}
.talent-idea .newtitle{ font-size: 26px; font-weight: 700; color: #294999; padding-top: 40px; line-height: 45px;}

.talent-ideaodd dt{ float: right; width: 596px;}
.talent-ideaodd dt img{ width: 596px;}
.talent-ideaodd dd{ width: 500px;}

/*加盟*/
.join-cont{ padding: 24px 22px; padding: 30px 100px 0; background-color: #fff;}
.join01{ background-color: #294999; margin-bottom: 34px;}
.join01 dt{ float: left; width: 575px; height: 473px;}
.join01 dt img{ display: block; width: 575px; height: 473px;}
.join01 dd{ float: right; width: 350px; height: 420px; padding-right: 32px; position: relative; padding-top: 53px; font-size: 14px; color: #fff; line-height: 30px;}
.join01 dd .bigfont{ font-size: 28px; font-weight: 400;}
.join01 dd .arrow{ position: absolute; border: 25px solid transparent; border-right-color: #294999; left: -86px; top: 50%; margin-top: -25px;}

.join02{ background-color: #294999; margin-bottom: 34px;}
.join02 dt{ float: right; width: 378px; height: 361px;}
.join02 dt img{ display: block; width: 378px; height: 361px;}
.join02 dd{ float: left; width: 490px; height: 311px; padding-left: 45px; position: relative; padding-top: 50px; font-size: 15px; color: #fff; line-height: 30px;}
.join02 dd .tip{ line-height: 50px; padding-left: 8px; font-size: 26px; font-weight: 700;}
.join02 dd .number{ line-height: 50px; font-style: italic; font-size: 30px; padding-right: 10px;}
.join02 dd .arrow{ position: absolute; border: 25px solid transparent; border-left-color: #294999; right: -130px; top: 50%; margin-top: -25px;}

.message-box{ width: 850px; overflow: hidden; margin: 0 auto;}
.message-list{ width: 888px;}
.message-list li{ float: left; width: 386px; padding: 0 40px 24px 18px; overflow: hidden;}
.message-list li .tip{ display: block; height: 24px; line-height: 24px; font-size: 15px; color: #4c4c4c; overflow: hidden; padding-bottom: 12px;}
.message-list li label{}
.message-list li .text{ display: block; padding: 0 10px; width: 363px; height: 43px; line-height: 43px; border: 1px solid #dcdcdc;}
.message-list li textarea{display: block; padding: 10px; width: 803px; height: 204px; resize: none; overflow: hidden; border: 1px solid #dcdcdc;}
.message-list li .btn{ margin: 0 13px; display: inline-block; width: 136px; height: 40px; font: 18px/40px "微软雅黑"; color: #fff; border: 1px solid #00a1e9; background-color: #294999; cursor: pointer;}
.message-list li .submit{}
.message-list li .reset{}
.message-list li.textarea-box{ width: 848px; float: none; padding-right: 0; clear: both;}
.message-list li.last{ width: 848px; float: none; padding: 34px 0 0; clear: both; text-align: center;}
.message-list li.must{ background: url(../webimages/cimg75.png) 0 7px no-repeat;}
.message-list li .btn:hover{ background-color: #00a1e9;}

.join-cont .cont{ padding: 0 8px; border-bottom: 1px solid #d9d9d9; margin-bottom: 54px;}
.condition{ padding-bottom: 38px; font-size: 14px; color: #666; line-height: 36px;}
.condition .title{ font-size: 16px; color: #333; font-weight: 700;}

/*企业新闻*/
.new-box{ padding: 45px 90px 22px; background-color: #fff;}
.new-list{}
.new-list li .title{ line-height: 60px; font-size: 14px; color: #4c4c4c; padding-left: 10px; width: 890px; float: left; height: 60px; overflow: hidden; background: url(../webimages/cimg77.png) 2px no-repeat;}
.new-list li .date{ line-height: 60px; font-size: 16px; color: #999; float: right; width: 84px; padding-right: 20px;}
.new-list li .title:hover{ color: #294999; background-image: url(../webimages/cimg78.png);}
.new-list .top-new{ padding-bottom: 40px;}
.new-list .top-new img{ margin-right: 36px; width: 301px; height: 225px; float: left;}
.new-list .top-newtitle a{ display: block; height: 24px; font-size: 24px; line-height: 24px; color: #999; overflow: hidden;}
.new-list .top-newdate{ line-height: 24px; margin: 28px 0 30px; font-size: 14px; color: #999;}
.new-list .top-newinfo{ display: 60px; font-size: 14px; line-height: 30px; color: #4c4c4c; overflow: hidden; margin-bottom: 30px;}
.new-list .more a{ font-size: 14px; color: #999; line-height: 24px;}
.new-list .top-new a:hover{ color: #294999;}

.orso-newtitle{ font-size: 20px; color: #1a1a1a; line-height: 32px; margin: 38px 0;}

.orso-new{ width: 100%; position: relative; background-color: #fff;}

.orso-newbox{ position: relative; padding: 38px 0 20px; width: 1020px; margin: 0 auto; overflow: hidden;}
.orso-newlist{ width: 9999px; height: 197px; position: relative; overflow: hidden;}
.orso-newlist li{ float: left; height: 197px; padding-right: 25px;}
.orso-newlist a{ display: block; width: 236px;}
.orso-newlist img{ display: block; width: 236px; height: 155px;}
.orso-newlist .new-name{ display: block; height: 24px; line-height: 24px; font-size: 14px; color: #514f4f; padding-top: 18px; text-align: center; overflow: hidden;}
.orso-newlist a:hover .new-name{ color: #294999;}

/*orso-new*/
.recommend-new{ width: 1020px; height: 225px; margin: 0 auto; padding-bottom: 40px; position: relative; overflow: hidden;}
/*加效果后要注释掉*/
.recommend-newlist{ width: 10000px;}
.recommend-newlist li{ float: left; width: 1020px; height: 225px;}
.recommend-newlist li img{ margin-right: 36px; width: 301px; height: 225px; float: left;}
.recommend-newlist li .recommend-newtitle a{ display: block; height: 24px; font-size: 24px; line-height: 24px; color: #999; overflow: hidden;}
.recommend-newlist li .recommend-newdate{ line-height: 24px; margin: 28px 0 30px; font-size: 14px; color: #999;}
.recommend-newlist li .recommend-newinfo{ display: 60px; font-size: 14px; line-height: 30px; color: #4c4c4c; overflow: hidden; margin-bottom: 30px;}
.recommend-newlist li .more a{ font-size: 14px; color: #999; line-height: 24px;}
.recommend-newlist li a:hover{ color: #294999;}

.recommend-new .recommend-newprev,.recommend-new .recommend-newnext{ position: absolute; width: 23px; height: 44px; top: 50%; margin-top: -22px; z-index: 999;}
.recommend-new .recommend-newprev{ background: url(../webimages/cimg106.png) 0 0 no-repeat; left: 6px;}
.recommend-new .recommend-newprev:hover{ background-image: url(../webimages/cimg104.png);}
.recommend-new .recommend-newnext{ background: url(../webimages/cimg107.png) 0 0 no-repeat; left: 270px;}
.recommend-new .recommend-newnext:hover{ background-image: url(../webimages/cimg105.png);}

/*.recommend-new .recommend-newbtn{ position: absolute; bottom: 88px; width: 100%; height: 13px; line-height: 13px; text-align: center; z-index: 20;}
.recommend-new .recommend-newbtn a{ display: inline-block; *display:inline; *zoom:1; width: 13px; height: 13px; background: url(../webimages/cimg87.png) 0 0 no-repeat; margin: 0 9px; cursor: pointer; vertical-align: middle;}
.recommend-new .recommend-newbtn .cur{ background-image: url(../webimages/cimg86.png);}*/
/*recommend-new over*/

/*新闻详情*/
.new-detail{}
.new-detail .new-title{ color: #4c4c4c; font-size: 36px; text-align: center; line-height: 66px;}
.new-detail .date{ font: 18px; color: #999; text-align: center; line-height: 46px; padding-bottom: 32px;}
.new-detail .cont{ border-top: 2px solid #ccc; padding-top: 72px;}
.new-detail .cont .new-text{ line-height: 36px; font-size: 16px; color: #4c4c4c;}
.back-history{ padding: 82px 0;}
.back-history a{ display: block; background: url(../webimages/cimg79.png) no-repeat; color: #fff; text-align: center; font-size: 21px; line-height: 50px; width: 169px; margin: 0 auto;}
.back-history a:hover{}
.prev-next{ padding: 68px 0 70px;}
.prev-next p{ color: #666; font-size: 18px; line-height: 40px;}
.prev-next a{ color: #666;}
.prev-next a:hover{ color: #294999;}

/*招贤纳士*/
.job-cont{ padding: 24px 30px 20px; background-color: #fff;}
.jod-title{ font-size: 18px; color: #4c4c4c; font-weight: 700; line-height: 26px;}

.deliver{ padding: 32px 0 40px;}
.deliver a{ display: block; color: #fff; text-align: center; font-size: 16px; line-height: 35px; width: 120px; background-color: #294999;}
.deliver a:hover{ background-color: #163c99;}

/*社会招聘*/
.job-list{ text-align: center;}
.job-list dt{ font-size: 14px; color: #fff; background-color: #294999; border-left: 1px solid #294999; border-right: 1px solid #294999; line-height: 38px; height: 38px; overflow: hidden;}
.job-list dd{ font-size: 13px; color: #4c4c4c; line-height: 40px; border-left: 1px solid #ddd; border-right: 1px solid #ddd; height: 40px; overflow: hidden; background-color: #f8f8f8;} 
.job-list span{ display: inline-block; overflow: hidden; border-right: 1px solid #ddd;}
.job-list .job{ width: 266px;}
.job-list dd .job{ padding-left: 77px; width: 189px; text-align: left;}
.job-list .job a:hover{ color: #294999;}
.job-list .address{ width: 184px;}
.job-list .num{ width: 185px;}
.job-list .date{ width: 184px;}
.job-list .detail{ width: 293px; border-right: none;}
.job-list .detail a{ color: #294999;}
.job-list .detail a:hover{ color: #163c99;}

.job-list dd.odd{ background-color: #fff;}

/*招聘详情*/
.sbsh{ padding: 99px 116px 89px; background-color: #fff;}
.sbsh .title{ font-size: 20px; line-height: 36px; color: #00a1e9; padding-bottom: 17px; border-bottom: 1px solid #d9d9d9;}

.sbsh-cont{}
.sbsh-cont{ padding-bottom: 87px;}
.sbsh-cont dd{ padding-top: 18px; float: left; width: 586px;}
.sbsh-cont dt{ float: right; padding-top: 27px; width: 340px;}
.sbsh-cont dt img{ display: block; width: 340px; height: 257px;}
.sbsh-cont .ask-list{}
.sbsh-cont .ask-list li{ width: 290px; float: left; line-height: 30px; font-size: 13px; color: #4c4c4c;}
.sbsh-cont .ask-list li strong{ font-weight: 700;}
.sbsh-cont .detail-ask{ padding-top: 32px; line-height: 30px; font-size: 13px; color: #4c4c4c;}
.sbsh-cont .detail-ask .subtitle{ font-weight: 700;}
.sbsh-back{}
.sbsh-back a{ display: block; width: 154px; height: 40px; line-height: 40px; font-size: 16px; color: #fff; text-align: center; margin: 0 auto; background-color: #00a1e9;}
.sbsh-back a:hover{ background-color: #294999;}

/*投诉建议*/
.proposal-title{ font-size: 17px; line-height: 32px; padding: 10px 0 52px; margin-bottom: 58px; text-align: center; border-bottom: 1px solid #d9d9d9;}

.proposal-box{ width: 1020px;}
.proposal-list{ width: 1078px;}
.proposal-list li{ width: 462px; padding-right: 57px;}
.proposal-list li .text{ width: 440px;}
.proposal-list li.textarea-box,.proposal-list li.last{ width: 1000px;}
.proposal-list li textarea{ width: 978px;}
.proposal-list li.last{ padding: 68px 0 42px;}

/*联系方式*/
.contact-modetop{ padding-top: 40px;}
.contact-modetop .title{ font-size: 26px; color: #294999; line-height: 44px; text-align: center;}

.contact-mode{ padding: 99px 0 52px; }
.contact-mode dd{ float: left; width: 620px; height: 281px; overflow: hidden; font-size: 14px; color: #403f3f; line-height: 30px;}
.contact-mode dd .name{ padding: 18px 0 31px;}
.contact-mode dt{ float: right; height: 281px; width: 408px;}
.contact-mode dt img{ display: block; height: 281px; width: 408px;}

.transit{ color: #403f3f; padding: 53px 0 35px; font-size: 13px;}
.transit .title{ line-height: 34px; font-size: 18px; color: #494949; padding-bottom: 23px;}
.transit .tip{ color: #294999; font-size: 14px;}

.contact-map{ width: 100%; height: 484px; position: relative; overflow: hidden;}
.contact-map img{ width: 1920px; height: 484px; left: 50%; margin-left: -960px; position: absolute;}

/*电子地图*/
.iw_poi_title {color:#CC5522;font-size:14px;font-weight:bold;overflow:hidden;padding-right:13px;white-space:nowrap}
.iw_poi_content {font:12px arial,sans-serif;overflow:visible;padding-top:4px;white-space:-moz-pre-wrap;word-wrap:break-word}

#dituContent{ width: 100%; height: 523px;}
/*解决方案*/
.solution-tile{ font-size: 26px; color: #444; line-height: 52px; padding-left: 42px; background: url(../webimages/cimg90.png) 26px no-repeat;}

.solution-summary{ margin: 0 auto 36px; padding: 68px 40px 56px; border-bottom: 1px solid #e5e5e5;}
.solution-summary dd{ float: left; width: 520px; height: 293px; overflow: hidden;}
.solution-summary dd .text{ font-size: 14px; color: #4c4c4c; line-height: 24px; text-indent: 2em;}
.solution-summary dt{ float: right; width: 424px; height: 293px;}
.solution-summary dt img{ display: block; width: 424px; height: 293px;}

.solution-pointlist{ margin: 0 auto; padding: 72px 80px; margin-bottom: 46px; border-bottom: 1px solid #e5e5e5;}
.solution-pointlist li{ padding: 0 50px; float: left; width: 139px;}
.solution-pointlist li img{ display: block; margin: 0 auto;}
.solution-pointlist li span{ display: block; padding-top: 50px; line-height: 32px; text-align: center; font-size: 20px; color: #444;}

.solution-function{ padding: 42px 0 46px; margin-bottom: 46px; border-bottom: 1px solid #e5e5e5;}
.solution-function dt{ float: left; width: 336px; padding-right: 88px;}
.solution-function dt img{ display: block; width: 336px; height: 206px;}
.solution-function dd{ float: left; height: 206px; width: 270px; padding-right: 10px;}
.solution-function dd .text{ line-height: 40px; font-size: 16px; color: #444; padding-left: 22px; background: url(../webimages/cimg95.png) 0 14px no-repeat;}

.solution-case{ width: 100%; position: relative; border-bottom: 1px solid #e5e5e5; padding: 24px 0 48px; margin-bottom: 34px;}

.solution-casebox{ position: relative; height: 233px; width: 984px; margin: 0 auto; overflow: hidden;}
.solution-caselist{ width: 9999px; height: 233px; position: relative; overflow: hidden;}
.solution-caselist li{ float: left; height: 233px; padding: 0 34px 16px 0;}
.solution-caselist a{ display: block; width: 220px;}
.solution-caselist img{ display: block; width: 220px; height: 173px;}
.solution-caselist .solution-name{ display: block; height: 32px; line-height: 32px; font-size: 15px; color: #444; padding-top: 28px; text-align: center;}
.solution-caselist a:hover .solution-name{ color: #294999;}

.solution-pro{ width: 100%; position: relative; padding-top: 24px;}

.solution-probox{ position: relative; height: 233px; width: 984px; margin: 0 auto; overflow: hidden;}
.solution-prolist{ width: 9999px; height: 233px; position: relative; overflow: hidden;}
.solution-prolist li{ float: left; height: 233px; padding: 0 34px 16px 0;}
.solution-prolist a{ display: block; width: 220px;}
.solution-prolist img{ display: block; width: 218px; height: 171px; border: 1px solid #ccc;}
.solution-prolist .solution-name{ display: block; height: 32px; line-height: 32px; font-size: 15px; color: #444; padding-top: 28px; text-align: center;}
.solution-prolist a:hover .solution-name{ color: #294999;}

.solution-tile02{ font-size: 26px; color: #444; line-height: 32px;}

.solution-valuelist{ margin: 0 auto; padding: 72px 172px; margin-bottom: 46px; border-bottom: 1px solid #e5e5e5;}
.solution-valuelist li{ padding: 0 59px; float: left; width: 139px;}
.solution-valuelist li img{ display: block; margin: 0 auto;}
.solution-valuelist li span{ display: block; padding-top: 50px; line-height: 32px; text-align: center; font-size: 20px; color: #444;}

/*搜索结果*/
.results{ padding: 10px 50px 50px; background-color: #fff; overflow: hidden;}
.results-lists {border-bottom:#ccc solid 1px; padding-bottom: 25px;}
.results-lists .lists-tittle a{ font-size: 20px; line-height: 60px; color: #4c4c4c;}

.lists-left{ padding-right: 25px;}
.lists-left img{ display: block; width: 200px; height: 150px;}
.lists-right .lists-color a{ display: block; height: 70px; font-size: 13px; line-height:25px; color: #4c4c4c; margin-bottom: 45px; overflow: hidden;}
.lists-right .lists-lis{ font-size: 13px; line-height:25px; color: #4c4c4c;  }
.lists-right .lists-lis a{color: #4c4c4c;}
.lists-right .lists-lis a:hover,.lists-right .lists-color a:hover,.results-lists .lists-tittle a:hover{color: #294999;}

/*.lists-right01{ width: 100%;}
.lists-right01 .lists-color{ font-size: 13px; line-height:25px; color: #4c4c4c;}
.lists-right01 .lists-lis01{ font-size: 13px; line-height:25px; color: #4c4c4c;padding: 20px 0px; }
.lists-right01 .lists-lis01 a{color: #4c4c4c;}
.lists-right01 .lists-lis01 a:hover{color: #294999;}*/

/*公共*/
.web{ width: 1200px; margin: 0 auto;}
.index-publictitle{ font-size: 32px; color: #333; line-height: 50px; padding: 30px 0 12px; text-align: center;}

.inner-banner{ position: relative; height: 184px; width: 100%; overflow: hidden;}
.inner-banner img{ position: absolute; width: 1920px; height: 184px; left: 50%; top: 0; margin-left: -960px;}

.inner-publictitle{ width: 100%; text-align: center; padding: 50px 0 58px;}
.inner-publictitle img{ display: inline-block;}

.inner-web{ width: 1200px; margin: 0 auto;}
.graybg{ background-color: #f8f8f8;}

.second-menu{ text-align: center; padding-bottom: 38px; position: relative;}
.second-menu>a{ display: inline-block; font-size: 16px; color: #535353; padding: 0 24px; height: 34px; line-height: 34px; border: 1px solid #d7d7d7; margin: -17px 0 0 -1px; position: relative; *zoom: 1; background-color: #fff;}
.second-menu>a.drop{ background: #fff url(../webimages/cimg45.png) 94% no-repeat; padding-right: 36px;}
.second-menu>a:hover,.second-menu a.cur{ background-color: #294999; border-color: #294999; color: #fff;}
.second-menu>a.drop:hover,.second-menu .drop.cur,.second-menu a.cur02{ border-color: #294999; color: #fff; background: #294999 url(../webimages/cimg112.png) 94% no-repeat;}


.second-menudrop{ position: absolute; top: 18px; height: 184px; padding: 24px 0 6px; background: url(../webimages/cimg100.png) center bottom no-repeat; text-align: center; z-index: 99; display: none;}
.second-menudrop a{ display: block; font-size: 12px; width: 90%; height: 31px; line-height: 31px; color: #fff; margin: 0 auto 16px;}
.second-menudrop a:hover{ background-color: #1b7ace;}

.second-menudrop01{ left: 332px; width: 264px;}
.second-menudrop02{ right: 335px; width: 270px;}

.third-menu{ text-align: center; padding: 12px 0 58px;}
.third-menu a{ font-size: 14px; display: inline-block; color: #333; width: 170px; height: 35px; line-height: 35px;}
.third-menu a:hover,.third-menu a.cur{ background: url(../webimages/cimg46.png) 0 0 no-repeat; color: #fff;}

.third-menu02{ text-align: center; padding: 12px 0 58px;}
.third-menu02 a{ font-size: 14px; display: inline-block; color: #333; width: 114px; height: 35px; line-height: 35px;}
.third-menu02 a:hover,.third-menu02 a.cur{ background: url(../webimages/cimg57.png) 0 0 no-repeat; color: #fff;}

.third-menu03{ text-align: center; padding: 12px 0 58px;}
.third-menu03 a{ font-size: 14px; display: inline-block; color: #333; width: 146px; height: 35px; line-height: 35px;}
.third-menu03 a.sbsj{ width: 200px;}
.third-menu03 a:hover,.third-menu03 a.cur{ background: url(../webimages/cimg68.png) 0 0 no-repeat; color: #fff;}
.third-menu03 a.cur.sbsj,.third-menu03 a.sbsj:hover{ background: url(../webimages/cimg67.png) 0 0 no-repeat;}

.crumbs-box{ line-height: 32px; padding-bottom: 30px;}
.crumbs-box .current{ float: left; width: 400px; color: #1a1a1a; font-size: 20px;}
.crumbs-box .crumbs{ float: right; width: 550px; text-align: right; color: #999; font-size: 13px;}
.crumbs-box .crumbs a{ color: #999;}
.crumbs-box .crumbs a.home{ padding-left: 28px; background: url(../webimages/cimg47.png) 0 no-repeat;}
.crumbs-box .crumbs a.home:hover{ background-image: url(../webimages/cimg48.png);}
.crumbs-box .crumbs a:hover,.crumbs-box .crumbs a.on{ color: #666;}

.page{ padding: 46px 0 138px; display: none;}
.page img{ display: block; width: 678px; height: 37px; margin: 0 auto;}

/*.single-cont{ padding: 50px 50px 56px 32px; background-color: #fff;}*/
.single-cont{ padding: 50px 41px 56px; background-color: #fff;}
.single-title{ font-size: 22px; font-weight: 700; color: #294999; line-height: 34px; padding-bottom: 22px;}
.single-text{ font-size: 15px; color: #4c4c4c; line-height: 34px;}

.pt90{ padding-top: 90px;}
.pt70{ padding-top: 70px;}
.pt50{ padding-top: 50px;}
.pt20{ padding-top: 20px;}
.pt24{ padding-top: 24px;}
.pt15{ padding-top: 15px;}

.pb188{ padding-bottom: 188px;}
.pb78{ padding-bottom: 78px;}
.pb70{ padding-bottom: 70px;}
.pb56{ padding-bottom: 56px;}
.pb48{ padding-bottom: 48px;}
.pb40{ padding-bottom: 40px;}
.pb32{ padding-bottom: 32px;}
.pb24{ padding-bottom: 24px;}

.mt-130{ margin-top: -130px;}
.mb24{ margin-bottom: 24px;}
.mb50{ margin-bottom: 50px;}
.mb40{ margin-bottom: 40px;}

.pl26{ padding-left: 26px;}

.blue-number{ background: url(../webimages/cimg54.png) 5px 14px no-repeat;}
.gray-number{ background: url(../webimages/cimg55.png) 5px 14px no-repeat;}

.font4c{ color: #4c4c4c;}
.ti2{ text-indent: 2em;}
.lh30{ line-height: 30px;}
.font16{ font-size: 16px;}
.bluefont{ color: #294999;}
.fontw{ font-weight: 700;}
.tac{ text-align: center;}

.bot{ border-top: 1px solid #e5e5e5;}
.bob{ border-bottom: 1px solid #ededed;}

.tac-pic{ text-align: center; overflow: hidden;}
.tac-pic img{ display: inline-block;}



/*20161109*/
.index-procont .info .subtitle { line-height:30px;padding:7px 0 0px;}