.detail_top{height:503px;width:100%;background:#f3f6f7;}
.detail_nav{height:40px;width:100%}
.detail_nav p{height:40px;line-height:40px;font-size:12px;}
.detail_nav p a{color:#2780c2}
.detail_nav p a:hover{text-decoration:underline;}

.detail_show{background:white;height:463px;position:relative;width:1178px;padding:0 10px 10px 10px;border:1px solid #e6e6e6}
.detail_show:before{position:absolute;bottom:0;left:-13px;border-right:13px solid #ddd;border-bottom:13px solid transparent;content:""}
.detail_show:after{position:absolute;bottom:0;right:-13px;border-left:13px solid #ddd;border-bottom:13px solid transparent;content:""}

/*放大镜*/
.detail_show .glass{width:360px;float:left;padding-top:10px}
.detail_show .glass .sm_img{width:360px;height:360px;position:relative;}
.detail_show .glass .sm_img img{width:360px;height:360px}
.detail_show .glass .sm_img #see{position:absolute;top:0;left:0;width:160px;height:160px;background:rgba(0,0,0,.4);}

.detail_show .glass .img_list{width:360px;height:68px;padding:10px 0;overflow:hidden;}
.detail_show .glass .img_list ul{width:500px}
.detail_show .glass .img_list ul li{float:left;width:64px;height:64px;margin-right:5px;border:2px solid #e4e4e4;}
.detail_show .glass .img_list ul li img{width:64px;height:64px}
.detail_show .glass .img_list ul li.up{border-color:#62b900}

.detail_show .bg_see{position:absolute;top:10px;left:370px;width:360px;height:360px;overflow:hidden;border:1px solid #ddd;z-index:9}
.detail_show .bg_see img{height:836px;width:836px;position:absolute;top:0;left:0}




.detail_show .detail_info{width:586px;float:left;padding:10px 15px 0 10px;height:439px}
.detail_show .detail_info h2{font-size:18px;line-height:30px;padding:10px 0 10px 20px;color:#666;font-weight:bold;}
.detail_show .detail_info .detail_pri{margin-top:5px;width:546px;padding:0 20px;background:#F9F9F9;height:70px;border:1px solid #f5f5f5;}
.detail_show .detail_info .detail_pri p{height:38px;line-height:38px;width:395px;float:left;padding:10px 0;}
.detail_show .detail_info .detail_pri p span{float:left;font-size:14px;color:#6e6e6e;line-height:38px}
.detail_show .detail_info .detail_pri p strong{float:left;font-size:24px;color:#62b900;line-height:38px}
.detail_show .detail_info .detail_pri .pj_con{float:left;width:150px;height:36px;line-height:36px;margin-top:11px;border-left:1px solid #dedede}
.detail_show .detail_info .detail_pri .pj_con h5{text-align:center;line-height:18px;color:#666}
.detail_show .detail_info .detail_pri .pj_con p{line-height:18px;height:18px;padding:0;text-align:center;width:100%}
.detail_show .detail_info .detail_pri .pj_con p a{font-size:12px;color:#2780c2;font-weight:bold;}
.detail_show .detail_info .detail_pri .pj_con p a:hover{text-decoration:underline;}
.detail_show .detail_info .adr_box{width:566px;height:152px;padding:10px 0 10px 20px;}
.detail_show .detail_info .adr_box dl{float:left;width:566px;padding:5px 0}
.detail_show .detail_info .adr_box dl dt{float:left;color:#666;width:60px;line-height:28px;font-size:12px;}
.detail_show .detail_info .adr_box dl dd{float:left;color:#666;line-height:28px;width:506px;font-size:12px;}

.detail_show .detail_info .adr_box dl dd .adrs{float:left;position:relative;}
.detail_show .detail_info .adr_box dl dd .adrs .adrs_show{float:left;height:26px;;line-height:26px;background:white;border:1px solid #E6E6E6;font-size:12px;cursor:default;padding:0 5px}
.detail_show .detail_info .adr_box dl dd .adrs .adrs_show em{}
.detail_show .detail_info .adr_box dl dd .adrs .adrs_show i{float:right;height:26px;width:26px;line-height:26px;text-align:center;color:#000}
/*地址*/
.adrs .adrs_cho{position:absolute;width:440px;border:1px solid #E6E6E6;background:white;z-index:99;top:27px;padding:5px 0 0 10px;overflow:hidden;}
.adrs .adrs_cho h3{float:left;width:100%;line-height:24px;color:#666;font-weight:bold;font-size:12px;text-indent:10px}
.adrs .adrs_cho>a{position:absolute;right:0;top:0;width:20px;height:20px;line-height:20px;text-align:center;color:white;background:#999;font-size:14px;}
.adrs .adrs_cho .adrs_cho_tit{float:left;width:100%;margin-top:5px;position:relative;border-bottom:1px solid #2780C2}
.adrs .adrs_cho .adrs_cho_tit ul{float:left;width:100%;position:relative;bottom:-1px}
.adrs .adrs_cho .adrs_cho_tit ul li{float:left;margin-left:-1px;text-align:center;line-height:24px}
.adrs .adrs_cho .adrs_cho_tit ul li a{float: left;padding:0 20px;border:1px solid #E6E6E6;border-bottom:1px solid #2780C2;color:#666;position:relative;z-index:6}
.adrs .adrs_cho .adrs_cho_tit ul li a:hover{color:#2780C2;border-color:#2780C2;z-index:9}
.adrs .adrs_cho .adrs_cho_tit ul li a.on{color:#2780C2;border-color:#2780C2;z-index:9;border-bottom-color:white}
.adrs .adrs_cho .adrs_cho_city{float:left;width:100%;height:116px;overflow-y:auto;}
.adrs .adrs_cho .adrs_cho_city>div{float:left;width:100%;}
.adrs .adrs_cho .adrs_cho_city>div ul{float:left;width:100%;padding:5px 0;}
.adrs .adrs_cho .adrs_cho_city>div ul li{float:left;padding:0 10px 0 0;line-height:28px;width:95px;white-space:nowrap;text-overflow:ellipsis;overflow:hidden;}
.adrs .adrs_cho .adrs_cho_city>div ul li a{display:inline-block;color:#2780C2;margin:0 5px;padding:0 10px;line-height:24px;}
.adrs .adrs_cho .adrs_cho_city>div ul li a:hover{background:#2780C2;color:white}



.detail_show .detail_info .adr_box dl dd .kc{float:left;line-height:28px;padding-left:5px}
.detail_show .detail_info .adr_box dl dd .kc strong{color:#000;font-size:14px;}
.detail_show .detail_info .adr_box dl dd .kc em{padding:0 5px}

.detail_show .detail_info .adr_box dl dd .pro_type{width:506px;float:left;font-size:12px;}
.detail_show .detail_info .adr_box dl dd .pro_type li{float:left;margin-right:5px;}
.detail_show .detail_info .adr_box dl dd .pro_type li a{float:left;padding:0 15px;text-align:center;height:24px;line-height:24px;border:1px solid transparent;position:relative;width:150px;white-space:nowrap;text-overflow:ellipsis;overflow:hidden;}
.detail_show .detail_info .adr_box dl dd .pro_type li a.onc{border-color:#62b900;color:#62b900;background:url(../img/selet_dot.png) no-repeat bottom right;}

.detail_show .detail_info .d_buy_x{width:566px;height:30px;padding:10px 0 10px 20px;line-height:30px;color:#666;border-top:1px solid #F5F5F5;border-bottom:1px solid #F5F5F5 }
.detail_show .detail_info .d_buy_x .buy_x_l{float:left;font-size:12px;color:#999}
.detail_show .detail_info .d_buy_x .buy_x_l em{float:left;padding-right:10px}
.detail_show .detail_info .d_buy_x .buy_x_l input{outline:none;border:1px solid #E6E6E6;background:#F8F8F8;height:30px;width:30px;line-height:28px;text-align:center;float:left;color:#000}
.detail_show .detail_info .d_buy_x .buy_x_r{float:right;font-size:12px;}
.detail_show .detail_info .d_buy_x .buy_x_r a{float:left;color:#888;width:60px;height:22px;line-height:22px;text-align:center;margin-left:5px;padding:0 5px;text-indent:22px;}
.detail_show .detail_info .d_buy_x .buy_x_r a.db{background:url(../img/shop_evicon.png) no-repeat 5px 0;}
.detail_show .detail_info .d_buy_x .buy_x_r a.on{background:url(../img/shop_evicon.png) no-repeat 5px -22px;}
.detail_show .detail_info .d_buy_x .buy_x_r a:hover{color:#62b900}
.detail_show .detail_info .d_buy_x .buy_x_r a.db:hover{background:url(../img/shop_evicon.png) no-repeat 5px -66px;}
.detail_show .detail_info .d_buy_x .buy_x_r a.on:hover{background:url(../img/shop_evicon.png) no-repeat 5px -88px;}

.detail_show .detail_info .buy_btn{width:586px;margin:20px auto;height:50px}
.detail_show .detail_info .buy_btn a{float:left;width:198px;height:48px;line-height:48px;border:1px solid transparent;font-size:24px;color:white;text-align:center;margin-right:10px;position:relative;text-indent:20px;}
.detail_show .detail_info .buy_btn a.incart{background:#62b900;border-color:#62b900}
.detail_show .detail_info .buy_btn a.buynow{background:#2780c2;border-color:#2780c2}
.detail_show .detail_info .buy_btn a.incart:before{position:absolute;left:0;top:0;content: "\f07a";font-family:"FontAwesome";}
.detail_show .detail_info .buy_btn a.buynow:before{position:absolute;left:0;top:0;content: "\f291";font-family:"FontAwesome";}
.detail_show .detail_info .buy_btn a.incart:hover{background:#ff4646;}
.detail_show .detail_info .buy_btn a.buynow:hover{background:#0962a4;}

.detail_show .detail_rcont{float:left;width:200px;height:475px;border-left:1px solid #F5F5F5}
.detail_show .detail_rcont h3{width:180px;margin:0 5px 0 15px;padding:15px 0 10px 0}
.detail_show .detail_rcont h3 a{width:180px;height:60px;}
.detail_show .detail_rcont h3 a img{width:180px;height:60px;}
.detail_show .detail_rcont p{width:180px;margin:0 5px 0 15px;text-align:center;}
.detail_show .detail_rcont p a{display:inline-block;padding:2px;line-height:16px;background:#62b900;color:white;border-radius:3px}
.detail_show .detail_rcont h5{width:180px;margin:10px 5px 10px 15px;padding:10px;border-top:1px solid #F5F5F5;border-bottom:1px solid #F5F5F5}
.detail_show .detail_rcont h5 a{display:inline-block;width:86px;height:24px;margin-right:4px;line-height:24px;text-align:center;background:url(../img/kefu_icon.png) no-repeat top left;}

/*商品展示*/
.detail_pro{margin:30px auto;}

.detail_pro .detail_pro_l{float:left;width:230px;}
.detail_pro_l .detail_pro_lbox{float:left;width:228px;border:1px solid #E6E6E6;margin-bottom:20px}
.detail_pro_lbox h3{float:left;width:200px;height:40px;line-height:40px;padding:0 14px;color:#333;background:#E6E6E6;}
.detail_pro_lbox ul{float:left;width:228px}
.detail_pro_lbox ul li{float:left;width:200px;padding:0 14px;}
.detail_pro_lbox ul li .detail_pro_lboximg{float:left;width:200px;height:200px;margin-top:14px;}
.detail_pro_lbox ul li .detail_pro_lboximg a img{width:200px;height:200px}
.detail_pro_lbox ul li h5{float:left;width:200px;padding:5px 0;font-size:12px;line-height:20px;color:#333}
.detail_pro_lbox ul li h5 a:hover{color:#62b900}
.detail_pro_lbox ul li p{float:left;width:200px;text-align:center;padding-bottom:10px;border-bottom:1px dotted #E6E6E6}
.detail_pro_lbox ul li p span{font-size:14px;color:#62b900;font-weight:bold;}

.detail_pro .detail_pro_r{float:left;width:950px;margin-left:20px;}
/*选项卡*/
.detail_pro_r .detail_pro_r_tab{position:relative;top:0;width:950px;}
.detail_pro_r .detail_pro_r_tab ul{width:948px;background:#F9F9F9;border:1px solid #E6E6E6;border-bottom-color:#FF4646}
.detail_pro_r .detail_pro_r_tab ul li{float:left;width:120px;height:40px;line-height:40px;text-align:center;margin-right:1px;}
.detail_pro_r .detail_pro_r_tab ul li a{float:left;width:120px;height:40px;line-height:40px;color:#666;font-size:16px;;}
.detail_pro_r .detail_pro_r_tab ul li a.on{background:#62b900;color:white}
.detail_pro_r .detail_pro_r_tab ul li a:hover{background:#62b900;color:white}
.detail_pro_r .detail_pro_r_tab>a{position:absolute;right:5px;top:5px;width:110px;height:30px;line-height:30px;text-align: center;color:white;background:#62b900;text-indent:20px;}
.detail_pro_r .detail_pro_r_tab>a:before{position:absolute;left:-10px;top:0;height:30px;width:30px;line-height:30px;text-align:center;content:"\f07a";font-family:"FontAwesome";}

/*选项卡对应内容*/
.detail_pro_r .detail_pro_r_menu{width:950px;overflow:hidden}
/*介绍*/
.detail_pro_r_menu .pro_r_js{width:900px;padding:20px 24px;margin-bottom:20px;border:1px solid transparent}
.detail_pro_r_menu .pro_r_js p img{display:block;}
/*参数*/
.detail_pro_r_menu .pro_r_cs{width:900px;padding:20px 24px;border:1px solid transparent;margin-bottom:20px}
.detail_pro_r_menu .pro_r_cs dl{margin-bottom:10px;padding-bottom:10px;border-bottom:1px solid #EDEDED;float:left;width:900px;font-size:12px;color:#666}
.detail_pro_r_menu .pro_r_cs dl dt{color:#333}
.detail_pro_r_menu .pro_r_cs .cs_one dt{float:left;padding-right:10px;height:24px;line-height:24px;text-align:left;}
.detail_pro_r_menu .pro_r_cs .cs_one dd{float:left;width:700px;text-align:left;height:24px;line-height:24px}
.detail_pro_r_menu .pro_r_cs .cs_two dd{float:left;}
.detail_pro_r_menu .pro_r_cs .cs_two dd span{float:left;width:110px;height:24px;line-height:24px;text-align:right;padding-right:10px}
.detail_pro_r_menu .pro_r_cs .cs_two dd p{float:left;width:780px;text-align:left;height:24px;line-height:24px}
.detail_pro_r_menu .pro_r_cs dl:after{display: block;content: '';clear: both; height: 0;visibility: hidden;font-size: 0;line-height: 0;}
    
/*评价*/
.detail_pro_r_menu .pro_r_pj{width:900px;padding:20px 24px;border:1px solid transparent;margin-bottom:20px}
.pro_r_pj>h4{width:900px;height:40px;line-height:40px;font-size:14px;color:#333;font-weight:bold;border-bottom:1px solid #E6E6E6;background:#F9F9F9;text-indent:1em;}
.pro_r_pj .pro_pj_con{width:870px;padding:10px;padding-bottom:20px;border:1px solid white;}
.pro_r_pj .pro_pj_con>div{float:left}
.pro_r_pj .pro_pj_con:after{display: block;content: '';clear: both; height: 0;visibility: hidden;}
.pro_r_pj .pro_pj_con .pro_pj_conl{width:235px;text-align:center;padding-top:30px;}
.pro_r_pj .pro_pj_con .pro_pj_conl p{color:#62b900;}
.pro_r_pj .pro_pj_con .pro_pj_conl p strong{font-size:36px;line-height:60px;}
.pro_r_pj .pro_pj_con .pro_pj_conl em{color:#666}
.pro_r_pj .pro_pj_con .pro_pj_conc{width:400px;}
.pro_r_pj .pro_pj_con .pro_pj_conc ul{padding:0 100px;width:200px;float:left}
.pro_r_pj .pro_pj_con .pro_pj_conc ul li{float:left;width:200px;text-align:center;}
.pro_r_pj .pro_pj_con .pro_pj_conc ul li span{float:left;width:70px;height:14px;padding:5px 0;margin-right:10px;background:url(../img/star_icon.png) no-repeat left top;}
.pro_r_pj .pro_pj_con .pro_pj_conc ul li em{line-height:24px;color:#666}
.pro_r_pj .pro_pj_con .pro_pj_conr{width:235px;text-align:center;padding-top:40px;}
.pro_r_pj .pro_pj_con .pro_pj_conr p{width:235px;height:30px;line-height:30px;color:#666}
.pro_r_pj .pro_pj_con .pro_pj_conr a{display:inline-block;width:148px;height:28px;line-height:28px;border:1px solid #62b900;background:#62b900;color:white;font-size:12px;}
.pro_r_pj .pro_pjt{width:898px;height:38px;line-height:38px;border:1px solid #E6E6E6;background:#FAFAFA;}
.pro_r_pj .pro_pjt:after{display: block;content: '';clear: both; height: 0;visibility: hidden;}
.pro_r_pj .pro_pjt li{float:left;padding:0 20px;margin-right:1px;font-size:12px;;}
.pro_r_pj .pro_pjt li a{color:#666;font-size:12px;}
.pro_r_pj .pro_pjt li a i{font-size:12px;}
.pro_r_pj .pro_pjt li.on{border-top:3px solid #62b900;background:white;color:#62b900;border-right:1px solid #E6E6E6;margin-top:-2px}
.pro_r_pj .pro_pjt li.on a{color:#62b900}
.pro_r_pj .pro_pjt li:hover a{color:#62b900}
.pro_r_pj .pro_pjp{width:900px;}
.pro_r_pj .pro_pjp .all{width:900px;padding-top:20px;}
.pro_r_pj .pro_pjp .all p{width:900px;color:#999;text-align:center;font-size:12px;}

.pro_r_pj .pro_pjp .good{width:900px;padding-top:20px;}
.pro_r_pj .pro_pjp .good p{width:900px;color:#999;text-align:center;font-size:12px;}

.pro_r_pj .pro_pjp .middle{width:900px;padding-top:20px;}
.pro_r_pj .pro_pjp .middle p{width:900px;color:#999;text-align:center;font-size:12px;}

.pro_r_pj .pro_pjp .bad{width:900px;padding-top:20px;}
.pro_r_pj .pro_pjp .bad p{width:900px;color:#999;text-align:center;font-size:12px;}

/*咨询*/
.detail_pro_r_menu .pro_r_zx{width:900px;border: 1px solid #fff;padding: 20px 24px;margin-top: -1px;margin-bottom: 20px;}
.detail_pro_r_menu .pro_r_zx h4{width:900px;height:40px;line-height:40px;font-size:16px;color:#333;margin-top:20px;border-bottom:1px solid #E6E6E6;}
.detail_pro_r_menu .pro_r_zx h4 strong{float:left;border-bottom:1px solid #62b900}  
.detail_pro_r_menu .pro_r_zx .pro_zx{}
.detail_pro_r_menu .pro_r_zx .pro_zx ul{width:900px;}
.detail_pro_r_menu .pro_r_zx .pro_zx ul:after{display: block;content: '';clear: both; height: 0;visibility: hidden;font-size: 0;line-height: 0}
.detail_pro_r_menu .pro_r_zx .pro_zx ul li{width:900px;float:left;margin-top:10px;padding-bottom:20px;border-bottom:1px solid #e2e2e2}
.detail_pro_r_menu .pro_r_zx .pro_zx ul li .zx_user{width:900px;float:left;height:24px;line-height:24px;color:#888;font-size:12px;}
.detail_pro_r_menu .pro_r_zx .pro_zx ul li .zx_user i{font-style:normal;padding:0 30px}
.detail_pro_r_menu .pro_r_zx .pro_zx ul li .zx_user span{float:left;width:60px;text-align:right;}
.detail_pro_r_menu .pro_r_zx .pro_zx ul li dl{float:left;width:900px;}
.detail_pro_r_menu .pro_r_zx .pro_zx ul li dl dt{float:left;width:60px;height:24px;line-height:24px;color:#444;font-size:12px;}
.detail_pro_r_menu .pro_r_zx .pro_zx ul li dl dd{float:left;width:840px}
.detail_pro_r_menu .pro_r_zx .pro_zx ul li dl dd p{line-height:24px;font-size:12px;}
.detail_pro_r_menu .pro_r_zx .zx_con{width:900px;margin-top:20px;}
.detail_pro_r_menu .pro_r_zx .zx_con p{line-height:24px;padding:5px 45px;color:#999;font-size:12px;}
.detail_pro_r_menu .pro_r_zx .zx_con textarea{width:788px;height:80px;margin-left:45px;resize:none;color:#333;outline:none;border:1px solid #E6E6E6;line-height:24px;font-size:12px;padding:0 10px;}
.detail_pro_r_menu .pro_r_zx .zx_con>a{float:right;text-align:center;width:150px;height:38px;line-height:38px;font-size:16px;color:white;background:#62b900;border:1px solid #62b900;margin-top:20px}

/*服务*/
.detail_pro_r_menu .pro_r_fw{width: 900px;border: 1px solid #fff;padding: 20px 24px;margin-top: -1px;margin-bottom: 20px;}
.detail_pro_r_menu .pro_r_fw h4{width:900px;height:40px;line-height:40px;font-size:16px;color:#333;margin-top:20px;border-bottom:1px solid #E6E6E6;}
.detail_pro_r_menu .pro_r_fw h4 strong{float:left;border-bottom:1px solid #62b900}  
.detail_pro_r_menu .pro_r_fw p{width:900px;padding:10px 0;font-size:12px;}


/*猜你喜欢*/
.gust{width:100%;}
.gust .gust_t{width:1200px;line-height:40px;border-bottom:1px solid #E6E6E6;position:relative;}
.gust .gust_t span{display:inline-block;color:#333;font-size:16px;border-bottom:1px solid #62b900;margin-bottom:-1px;}
.gust .gust_t a{float:right;color:#2780c2;font-size:12px;}
.gust .gust_t a:hover{color:#92b830}
.gust .gust_list{padding:15px 0}



