@charset "utf-8";
/* CSS Document */
/*此样式在窗口小于1098px的时候生效*/
@media screen and (max-width: 1098px) {
.width1098{
	width:99%;
	margin:0 auto;
	}
.incLeft,.inMid,.inRight,.contLeft,.contRight{
	float:none;
	width:99%;
	margin:0 auto;
	}
.lfkefus,.lfcases{
	display:none;
	}
.contents{
	padding:0;
	}	
.leftNav{
	margin-bottom:13px;
	}		
.leftNav li{
	float:left;
	width:30%;
	margin:0 1px;
	}
.news dt{
	
	}
.news dd{
	width:70%;
	}		
}
/*此样式在窗口小于980px的时候生效*/
@media screen and (max-width: 980px) {/*980*1280*/

}
/*此样式在窗口小于800px的时候生效*/
@media screen and (max-width: 800px) {/*800*1280*/

}

/*此样式在窗口小于768px的时候生效*/
@media screen and (max-width: 768px) {/*768*1024*/
nav{
	float:none;
	width:100%;
	margin:5px auto;
	}
nav li{
	height:30px;
	line-height:30px;
	}
nav .chilNav{
	top:35px;
	}	
.clearfixNone{
	display:block;/*显示清除浮动*/
	}
.logo{
	margin:5px 0;
	}	
.search{
	top:15px;
	}
.search select,.search .seaText{
	top:7px;
	}
.search .seaSub{
	top:10px;
	}
.rightTitle dt,.rightTitle dd{
	float:none;
	width:99%;
	margin:0 auto;
	}	
.rightTitle dd{
	text-align:left;
	}
.contents{
	bottom:40px;
	}
.abProBig{
	width:320px;
	height:320px;
	padding:10px;
	margin:-170px 0 0 -160px;
	}	
.abParList{
	width:25%;
	}
.abProBig span{
	border:#000 1px solid;
	padding:4px;
	top:-10px;
	}	

.ftNav ul .ftNavTitle{
	padding:3px 0;
	line-height:20px;
	}
.ftNav ul{
	width:100%;
	}
.ftNav ul li{
	float:left;
	width:25%;
	}				
}
/*此样式在窗口小于480px的时候生效*/
@media screen and (max-width: 480px) {
.search{
	top:10px;
	}	
.search,.seaBox{
	width:181px;
	}
.search select{
	display:none;
	}
.logo{
	width:110px;
	height:auto;
	}
.logo img{
	width:100%;
	height:auto;
	}
nav{
	font-size:12px;
	}
nav li{
	overflow:hidden;
	}
.chilNav-480-hide{
	display:none;
	}
.contents{
	bottom:0px;
	}
.message input,.message textarea{
	width:98%;
	display:block;
	margin:0 auto;
	}					
}
/*此样式在窗口小于360px的时候生效*/
@media screen and (max-width: 360px) {/*320*640*/

}







