/* css reset {{{ */
* {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: center;
}

body {
  font-family: "微软雅黑";
  font-weight: 200;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

a, button, input {
  -webkit-tap-highlight-color: rgba(255, 0, 0, 0);
}

img {
  max-width: 100%;
  display: block;
}

a {
  text-decoration: none;
}

body {
  background-color: #fff;

}

#header {
  position: relative;
  min-width: 1280px;
  background: #EBEBEB;
  height: 142px;
}

#header .entity {
  margin: 0 auto;
  width: 1280px;
  height: 100px;
  overflow: hidden;
  padding-top: 0px;
  height: 142px;
}

#header .navigation{
  float: right;
  margin-top:35px;
}
#header li {
  float: left;
  margin-left: 50px;
  height: 107px;
 /* position: relative;*/
}

#header a {
  display: inline-block;
  width: 80px;
  height: 40px;
  margin-top: 30px;
  line-height: 48px;
  font-size: 20px;
  color: #515151;
  text-align: center;
}
#header .Merchant_backstage{
  margin-left: 0;
}
#header .selected,
#header li:hover {
  background: url(../assets/img/nav_on.jpg) no-repeat left bottom;
}

.down-button {
  display: inline-block;
  width: 35px;
  height: 58px;
  position: absolute;
  margin-left: 5px;
  padding-top: 42px;
  background-size: 100%;
}

.down-button  img {
  display: inline-block;
  background-size: 100%;
}

#addus {
  margin-left: 8px;
}

#addus .addus-ul li {
  float: none;
  text-align: center;
}

#header ul.addus-ul li {
  float: none;
  margin-right: 0px;
}

#header ul.addus-ul li a {
  display: block;
  width: 6px;
  height: 30px;
  line-height: 30px;
  font-size: 11px;
  /**font-weight: 700;**/
  color: #909090;
  text-align: center;
  border: none;
}

#header ul.addus-ul {
  display: none;
  background: white;
  position: absolute;
  margin-top: -5px;
  z-index: 100000;
}

#applyop .applyop-ul li {
  float: none;
  text-align: center;
}

#header ul.applyop-ul li {
  float: none;
  margin-left: 20px;
  border-top: 0.5px #f0f1f2 solid;
  width: 80px;
  height: 50px;

}

#header ul.applyop-ul li a {
  display: inline-block;
  width: 100px;
  height: 40px;
  line-height: 40px;
  font-size: 18px;
  color: #515151;
  text-align: center;
  border: none;
  margin-top: 5px;
  margin-left: -10px;
}

#header ul.applyop-ul {
  width: 120px;
  display: none;
  background: white;
  position: absolute;
  margin-top: 30px;
  z-index: 100000;
  margin-left: -10px;
  box-sizing: border-box;
}

.logo {
  display: inline;
  float: left;
  margin-right: 300px;
  margin-left: 50px;
  margin-top: 60px;
  background-size: 100%;
  cursor:pointer;
}

#footer {
  position: relative;
  width:100%;
  min-width:1280px;
  margin: 0 auto;
  background-color: #4D4D4D;
}

#footer-content{
  width: 900px;
  height: 310px;
  margin: 0 auto;
  overflow: hidden;
}

#footer-content .left{
  float: left;
  width: 46%;
  height: 152px;
  position: relative;
  top: 50%;
  margin-top: -76px;
}

#footer-content .right{
  float: right;
  width: 52%;
  height: 135px;
  position: relative;
  top: 50%;
  margin-top: -76px;
  padding-left: 1%;
}

#footer-content .left-code{
  float: left;
  position: relative;
  margin-left:70px;
  margin-right: 50px;
}

#footer-content .right-code {
  display: inline-block;
}

#footer-content .left  img{
  height: 130px;
}

#footer-content .left p {
  text-align:  center;
  font-size: 16px;
  margin-top: 15px;
  color: rgb(255,255,255);
}

#footer-content .right p{
  margin-bottom: 30px;
  font-size:16px;
  color: #FFFFFF;
  margin-left: 30px;
}
#footer-content .right p span{
  float: right;
  line-height: 30px;
}
#footer-content .right p:nth-child(1) span{
  font-size: 30px;
  line-height: 60px;
}

#home {
  min-width: 1280px;
}

#home .content{
  position: relative;
  margin: 0 auto;
  width: 100%;
  min-width: 1280px;
  overflow: hidden;
  padding-top: 0px;
}
