@charset "utf-8";
html,body{ font:12px/1.8 '微软雅黑','宋体';}
.index-news li a{ font-family:'宋体','微软雅黑';}
.index-joinus li a{ font-family:'微软雅黑','宋体';}
.foot-nav dl dd a{color:#999999;font:12px/1.8 '宋体','微软雅黑',Arial,'Microsoft YaHei';}
.div_xsk2x1 {
    height: 30px;
    padding: 20px 0;
	background:url('../images/bg-erweima_cn.png') no-repeat right;
}