c@charset "utf-8";
/* CSS Document */
.mar-l{ margin-left:22px;}
.mar-r{ margin-right:10px;}
.mar-t{ margin-top:10px;}
.mar-t1{ margin-top:18px;}
.pading{ padding:5px;}
a.red,.red{ color:#66af22;}
a.red1,.red1{ color:#900;}
.tin{ text-indent:24px;}
.lih{ line-height:24px;}
.more{ display:block; width:36px; height:12px; line-height:12px; background:#ac3a2a; margin:6px 0 0; text-align:center; font-size:8PX; font-family:Arial, Helvetica, sans-serif}

.warp{width:100%; margin:0; padding:0; overflow:hidden;}
.top{width:100%; height:224px; background:url(/images/topbg.jpg) repeat-x left top;}
.head{width:980px; margin:0 auto; height:60px; padding-top:120px; background:url(/images/logo.jpg) no-repeat; position:relative;}


/*.logo{ width:130px; position:absolute; left:420px; top:30px; height:160px; z-index:100;}
.logo a{ display:block; width:130px; height:160px;}*/
/*.nav{height:30px; width:980px;}
.nav .fl,.nav .fr{width:420px; overflow:hidden; height:30px; line-height:30px;}
.nav .fl li{ float:left; margin-left:12px; margin-right:24px;}
.nav .fr li{ float:left; margin-left:24px; margin-right:12px;}
.nav li a{color:#faf7b0; font-size:16px; font-weight:bold;}
.nav li a:hover{ text-decoration:none; color:#fff
}
*/


.title { 
	height:35px; 
	line-height:35px;
}

.title h1 { 
	width:744px;
	height:40px;
	line-height:40px;
	text-align:center;

}






.slide{ 
	text-align:center; 
	width:100%; 
	margin:0 auto; 
	height:595px; 
	margin-top:0px; 
	overflow:hidden;
}

.main{
	width:980px; 
	margin:0 auto; 
	overflow:hidden; 
	margin-bottom:10px;
}
.news2-ul li{
	margin-top: 15px;
	padding-bottom: 7px;
	border-bottom: 1px solid #ccc;
}
.news2-ul li span{
	font-size: 15px;
}
.news2-ul li a{
	font-size: 15px;
}
.news2-ul li a:hover,.div-ull a:hover{
	color: #66af22 !important;
}

.zuobian{ 
	width:225px; 
	border: 1px solid #66af22;
	height:auto; 
	padding-left: 15px;
	padding-bottom: 15px;
	float:left;
	margin-top: 30px;
}
ul.p li{
	margin-top: 10px;
}
ul.p li{
	color: #000;
	font-size: 14px;
}


.t_1{ 
	width:228px;
	border:1px solid #ccc;
	border-top:4px solid #66af22;
	height:auto;
	color:#66af22
	
}
.t_1 h3{
	width:228px; 
	font-size:14px; 
	font-weight:bold; 
	height:40px;
	text-indent:20px; 
	line-height:40px;
	border-bottom:1px solid #ccc;
}



.t_1 ul{
	width:90%;
	height:auto; 
	margin-top:10px; 
	margin-left:10px;
}

.t_1 ul li{
	 height:35px; 
	 padding-left:10px; 
	 margin:5px 0px;; 
	 line-height:35px;
	 text-indent:20px;
}


.t_1 ul li a{ 
	color:#66af22; 
	font-size:14px;
	display:block;
}

.t_1 ul li a:hover {
	height:37px;
	line-height:37px;
	color:white; 
	background:#66af22;

}
.lian {
	width:208px;
	/*height:260px;*/
	float:left;
	color:#e26102;
	margin-top:5px;

}



.lian span { 
	width:228px;
	height:68px;
	display:block;
	text-indent:20px;
	line-height:30px;
	border:1px solid #ccc;
	margin-bottom:5px;
}

.lian span img { 
	width:154px; 
	height:48px;
	margin:10px 18px;
}




.t_1a{width:275px; margin-left:10px; line-height:20px; padding:10px 0;}
.t_1b{width:275px; margin-left:10px; padding:10px 0;}
.t_1b li{ height:20px; line-height:20px; margin-top:10px;}
.t_1b li a{ color:#666;}
.t_1b li a:hover{ color:#333; text-decoration:none}
.t_1b li .fr{ margin-right:40px; }
.t_2{width:665px; margin-right:8px; height:610px;}
.t_2a{width:100%; height:220px; margin-top:8px;}
.t_2b{width:100%; height:168px; margin-top:10px; background:#f6eee3; position:relative;}
.t_2c{width:100%; height:168px; margin-top:10px; position:relative;}
.t_2a .t_2al{width:360px;  height:200px;}
.t_2a .t_2ar{width:270px; height:215px}
.tborder{width:100%; padding-top:5px; margin-left:10px; height:26px; background:url(/images/icon8.jpg) no-repeat left bottom;}
.tborder1{width:100%; padding-top:5px; margin-left:10px; height:26px; background:url(/images/icon16.jpg) no-repeat left bottom;}
.t_2ab{width:340px; margin:0 auto;}
.t_2ab li{ height:20px; line-height:20px; margin-top:5px; width:340px;}

.d1{width:980px; height:175px; color:#faf7b0;}
.d1 a{ color:#faf7b0;}
.d1 a:hover{ color:#fff;}
.d1_a{width:247px;height:175px; background:url(/images/icon4.jpg) no-repeat 0 3px;}
.d1_am{ padding-top:40px; width:90%; margin:0 auto; line-height:24px;}
.d1_am a{ font-weight:bold;}
.d1_b{width:469px; height:170px; background:url(/images/icon5.jpg) no-repeat; margin-left:8px;}
.d1_bm{padding-top:20px; width:90%; margin:0 auto;}
.d1_bm p{ height:30px; line-height:30px; text-align:center; width:100%; font-size:16px; font-weight:bold; padding-top:10px;}
.d1_bm li{ height:30px; line-height:30px;}
.d1_c{width:243px; height:170px; background:url(/images/icon6.jpg) no-repeat;}
.d1_cm{ padding-top:40px;width:90%; margin:0 auto; line-height:24px;}
.d1_cm p{ line-height:24px;}

.d2{width:980px; height:132px;  padding-top:30px;background:url(/images/icon8.jpg) no-repeat;}
.d2_m{width:960px; margin:0 auto; height:140px;}
.d2_b li{ float:left; margin-left:24px; width:112px; height:112px;}
.d2_b li img{width:112px; height:112px;}





.flink{width:980px; margin:0 auto; background:#fff; padding:10px 0;}
.flink_b{width:960px; margin:0 auto; margin-top:10px; line-height:24px; word-wrap:normal}
.flink_b a{ color:#333; margin-right:15px;}



/*æ–°é—»åˆ—è¡¨*/
.main_list{
	width:1000px; 
	margin:40px auto; 
	min-height:730px;
	overflow-y:auto;
	background:white;

}


.list_main{
	width:735px; _width:725px;
	overflow:hidden; 
	padding-bottom:50px; 
	margin-right:0px; 
	float:left;

}





.position{
	width:735px;  
	height:35px; 
	line-height:35px;
	
	
}

.position em {
	width:150px;
	color:#66af22;
	float:left;
	height:35px;
	line-height:35px;
	text-align:center;
	font-size:22px;
	
	
	
}


.position a{color:white; }
.list_ul{ margin-top:15px;margin-left:5px;}
.list_ul li{ 
	border-bottom:1px solid #ccc;  
	height:20px; text-align:left; 
	line-height:20px; margin-top:10px; 
	padding-left:5px; padding-right:10px; 
	padding-bottom:5px;
}
.list_ul li a{ color:#333;font-size: 15px;}
.list_ul li a:hover{ color:#66af22;  text-decoration:none;}

.position_a a{ color:black; }
.position_a a:hover{ color:#66af22;}
.list_ul li span.fr{
	font-size: 13px;
}


.position_a {
	width:250px;
	float:right; 
	height:35px; 
	line-height:35px;
	display:block;
	padding-right:10px;
}

.list_main dl { 
	width:175px; 
	float:left;
	border:1px solid #ccc;
	margin:5px 3px;
}

.list_main dl dt {}

.list_main dl dd { 
	width:175px; 
	height:25px; 
	line-height:25px; 
	text-align:center;
}


.slidebar{ 
	text-align:right; 
	color:black;
	float:left;
	width:735px;
	height:35px;
	line-height:35px;
	text-indent:30px;
	border-bottom:2px solid #66af22;
}


.list_mbox { 
	width:744px;
	height:auto;
	float:left; 
	




}





/*å›¾ç‰‡åˆ—è¡¨*/
.listpic_ul{ 
	margin-top:15px;
	width:100%;
	height:auto; 
	margin-left:20px; 
	float:left;

}

.listpic_ul li{ 
	width:220px;
	float:left;  
	height:210px; 
	line-height:20px;
	margin:10px 5px;
	padding-bottom:5px;
}

.listpic_ul li img { 
	width:220px; 
	height:163px;
	transition:all .4s linear;
	-webkit-transition:all .4s linear;
	-moz-transition:all .4s linear;
	-o-transition:all .4s linear;
}
.listpic_ul li .fl{ 
	width:220px;
	height:163px;
	margin:0; 
	overflow: hidden;
	border:1px solid #ccc;
}
.listpic_ul li .fr{
	width:220px;
	text-align:center;
	line-height:25px;
}
.listpic_ul li img:hover{
    transform:scale(1.2);
    -webkit-transform:scale(1.2);
    -moz-transform:scale(1.2);
    -o-transform:scale(1.2);
}


.listpic_ul li h3{ margin:0; padding:0; height:30px; line-height:30px; }

.fl {}



.listpic_ul li a{ color:#333;}
.listpic_ul li a:hover{ color:#66af22;  text-decoration:none;}

/*åˆ†é¡µ*/
.page{
	margin-top:15px;
	width:96%; 
	margin-left:5px;
	float:left;
	margin-bottom:15px;
	clear:both;
}



.page span{float:left; margin-left:10px;}
.page span.cur{float:left; display:block;}
.page span.cur a{ color:#fff; display:block;padding:6px 12px;  background:#66af22;}
.page span a { color:#333; display:block;padding:6px 12px; background:#cacacc; }
.page span a:hover{color:#fff; display:block;padding:6px 12px;  background:#66af22;}

/*è¯¦æƒ…é¡µ*/

.show{
	margin-top:15px;
	width:96%; 
	margin-left:5px; 
	line-height:24px; 
	text-indent:20px;
	font-size:13px;
	font-family:å®‹ä½“;
}

.show img { 
	width:600px;
	height:auto; 
	padding-right:20px;
	margin-left:10px;
}






/*ç•™è¨€*/
.book{
	width:90%; margin:0 auto; margin-top:40px; line-height:24px;}
.book .book_a{width:545px; height:30px; line-height:30px; margin-top:10px;}
.book .book_b{width:545px; height:92px; margin-top:20px; line-height:30px;}
.book span.fl{ width:75px; font-size:14px; text-align:right;}
.book span.fr{width:462px;}
.book input{ height:20px; line-height:20px; padding:5px;border:1px solid #d2c1ad; background:#f6eee3;}
.book textarea{ border:1px solid #d2c1ad; padding:5px; background:#f6eee3;}

.book_c{
	width:70%; 
	margin:0 auto; 
	margin:40px 0px;
}
.book_c .sub{ 
	border:0; 
	background:#66af22; 
	color:#fff; 
	font-size:14px; 
	font-weight:bold; 
	padding:5px 10px;
}
.book_c .reset{ 
	margin-left:30px; 
	border:0; 
	background:#ddd; 
	color:#333; 
	font-size:14px; 
	font-weight:bold; 
	padding:5px 10px;
}


/*å›¾ç‰‡è¯¦æƒ…é¡µ*/
.pic_show{
	margin-top:15px;
	width:96%; 
	margin-left:5px; 
	line-height:24px;
}


.pic_showa{
	width:650px; 
	margin-top:5px;
	text-align:center;
}

.pic_showa img { 
	width:400px;
	height:auto;
}

.pic_showt{ 
	font-size:14px; 
	font-weight:bold; 
	padding:5px 10px;
}

.pic_showt h1 { 
	width:650px; 
	height:30px; 
	line-height:30px; 
	text-align:center;
}

.pic_showb{ 
	line-height:24px; 
	color:#666;
}

/*æ‹›è˜è¯¦æƒ…*/
.job_show{margin-top:15px;width:96%; margin-left:5px; line-height:24px;}
.job_showa{width:650px; margin-top:5px;}
.job_showat{ height:30px; width:620px; padding-bottom:20px; line-height:30px;}
.job_showat .fl{ font-weight:bold; color:#333;}
.job_showam{ border-bottom:1px dashed #ccc; padding-bottom:10px; }
.job_showam p{ height:30px; line-height:30px; clear:both;}
.job_showam p .fl{width:48%; height:30px;}
.job_showb{ margin-top:10px; line-height:24px;}
.job_showbt{ height:30px; line-height:30px; font-size:12px; font-weight:bold; color:#333;}


/*è”ç³»æˆ‘ä»¬*/
.clearfiix { 
	width:745px;
	height:auto;
}

.clearfiix .item { 
	width:700px; 
	height:30px;
	text-indent:25px; 
	line-height:30px;
}


.clearfiix h1 { 
	width:700px;
	height:40px;
	line-height:40px;
	text-indent:25px;
}

/*footéƒ¨åˆ†*/
.foot{width:100%; background:url(/images/footbg.jpg) repeat-x 0 10px; height:90px; padding-top:10px; clear:both; color:#faf7b0;}
.foot_nav{width:980px; margin:0 auto; text-align:center; height:32px; line-height:32px; color:#faf7b0;}
.foot_nav span{ margin:0 10px; }
.foot_nav a{ color:#faf7b0;text-align:center;}
.foot_nav a:hover{ color:#fff;text-align:center;}
.copyright{width:980px; text-align:center; margin:0 auto; margin-top:15px;}
.copyright p{ height:14px; line-height:14px;}


.listpic{ padding:9px 0px; width:638px; overflow:hidden; line-height:30px; margin-bottom:0px;}
.scenery2{ float:left; width:175px; height:125px;line-height:20px; text-align:center; margin:0px 18px 0 18px;_margin:0px 12px 0 12px;}
.scenery2 img{ width:175px; height:105px; }
