@media screen and (max-width:1583px){
.hot-event .switch-tab a, .hot-event .switch-tab .current,.hot-event .switch-tab a img{ width:75px; height:75px;}
}
@media screen and (max-width:1413px){
.hot-event .switch-tab a, .hot-event .switch-tab .current,.hot-event .switch-tab a img{ width:65px; height:65px;}	
}
@media screen and (max-width:1251px){
.hot-event .switch-tab a, .hot-event .switch-tab .current,.hot-event .switch-tab a img{ width:60px; height:60px;}
}
@media screen and (max-width:1180px){
.hot-event .switch-tab a, .hot-event .switch-tab .current{ margin:5px 0;}
}
@media screen and (max-width:1100px){
.hot-event .switch-tab{ top:5px;}
.hot-event .switch-tab a, .hot-event .switch-tab .current{ margin:3px 0;}
}
@media screen and (max-width:1030px){
.header .head,.i_ma,.i_mb .i_mbm,.i_md,.i_me,.i_mf,.f_nav,.bq,.scd,.marqueeleft,.abt_a,.case,.news{width:740px; margin:0px auto;}
.head .logo,.head .logo img{ width:288px; height:37px;}
.head .head_r{ width:450px;}
.head_r .h_tel{ font-size:14px;}
.nav .nav_m a{ font-size:14px; margin-left:19px;}
.banner{ position:relative;}
.hot-event .switch-tab{ width:100%; left:0px; height:70px !important; top:250px;}
.hot-event .switch-tab a, .hot-event .switch-tab .current{ margin:5px 10px;}
.i_cl dt img,.i_cl dt{ width:181px; height:130px;}
.i_cl dl{ margin-right:10px; width:365px;}
.i_cl dd{ width:175px;}
.i_cl dd p{ height:95px; line-height:150%; margin-top:3px;}
.i_me .i_mem li{ width:184px;}
.i_me .i_mem li img{ width:184px; height:133px;}
.i_mfm ul li{ width:240px; margin-right:10px;}
.i_mfm .i_mf_a dl dt img,.i_mfm .i_mf_a dl dt{ width:100px; height:100px;}
.i_mfm .i_mf_a dl dd{ width:125px;}
.i_mfm .i_mf_a dl dd .des{ margin-top:3px; overflow:hidden;}
.i_mfm .i_fm_b li a{ font-size:12px;}
.i_mfm .i_fm_b li p{ width:165px;}
.f_nav .f_logo{ width:145px;}
.f_nav .f_ct{ width:180px; padding:20px 10px 0;}
.f_nav .f_sc{ padding:20px 5px 0; width:250px;}
.f_sc .f_sc_a .search,.f_sc .f_sc_b{ width:204px;}
.f_sc .f_sc_a .search input[type="text"]{ width:160px;}
.f_nav .f_cd{ width:135px;}
.case li{ width:144px;}
.case li .tu, .case li .tu img{ width:144px; height:144px;}
.news dl dd{ width:600px;}
.contact .ctt_l{ width:275px;}
.contact .ctt_r,.contact .ctt_r img{ width:420px; height:311px;}
.book .book_m li p{ margin-left:90px;}
.book .book_m li .l_name{ width:180px;}
}
@media screen and (max-width:950px){.hot-event .switch-tab{ top:220px;}}
@media screen and (max-width:870px){.hot-event .switch-tab{ top:190px;}}
@media screen and (max-width:775px){.hot-event .switch-tab{ top:160px;}}
@media screen and (max-width:770px) {
.header .head,.i_ma,.i_mb .i_mbm,.i_md,.i_me,.i_mf,.f_nav,.bq,.scd,.marqueeleft,.abt_a,.case,.news{width:480px; margin:0px auto;}
.header{ height:auto;}
.head .head_r{ width:100%; padding-bottom:10px;}
.nav .nav_m a{ margin-left:24px;}
.tabBox .tabNav li{ width:97px; margin:0 10px;}
.i_cl dl{ width:100%; margin-right:0px;}
.i_cl dd{ width:285px;}
.i_me .i_mem li{ width:239px;}
.i_me .i_mem li img{ width:239px; height:172px;}
.i_mfm ul li{ margin-right:0px;}
.i_mfm .i_fm_b li{ width:100%;}
.i_mfm .i_fm_b li p{ width:65%;}
.f_nav,.f_nav .f_ct,.f_nav .f_sc{ background:none;}
.f_nav .f_logo,.f_nav .f_cd{ width:185px; float:left;}
.f_nav .f_ct,.f_nav .f_sc{ width:275px; float:right;}
.case li{ width:155px; margin-right:5px !important;}
.case li .tu, .case li .tu img{ width:155px; height:155px;}
.news dl dd{ width:345px;}
.contact .ctt_l{ width:100%;}
.contact .ctt_r, .contact .ctt_r img{ width:460px; height:340px;}
.book .b_title{ width:90%;}
.book .book_m li p{ margin-left:25px;}
.book .book_m li .l_name{ width:110px;}
.book .book_m li .li_m{ width:350px;}
.book .book_m li .li_m em{ display:block;}
.book .book_m li.chang .li_m textarea{ width:320px;}
body{ padding-top:134px;}
}
@media screen and (max-width:685px) {
.banner{ padding-bottom:60px; overflow:visible; background:#eee;}
#inner{ overflow:visible;}
.banner_s{ padding-bottom:0px;}
.hot-event .event-item .banner{ overflow:hidden;}
.hot-event .switch-tab{ top:220px; background:#eee;}
}
@media screen and (max-width:620px) {
.hot-event .switch-tab{ top:200px;}
}
@media screen and (max-width:555px) {
.hot-event .switch-tab{ top:160px;}
}
@media screen and (max-width:500px) {
.header .head,.i_ma,.i_mb .i_mbm,.i_md,.i_me,.i_mf,.f_nav,.bq,.scd,.marqueeleft,.abt_a,.case,.news{width:320px; margin:0px auto;}
.i_name img{ width:90% !important; height:auto !important;}
.head .logo, .head .logo img{ width:320px; height:41px;}
.head_r .h_tel span{ margin-right:0px; margin-left:10px;}
.hot-event .switch-tab a, .hot-event .switch-tab .current, .hot-event .switch-tab a img{ width:45px; height:45px;}
.hot-event .switch-tab{ height:55px !important;}
.hot-event .switch-tab a, .hot-event .switch-tab .current{ margin:5px 2px;}
.head .head_r{ position:relative;}
.nav .nav_m{ display:none;}
.nav .n_icon{ display:block;}
.head_r .h_tel{ font-size:12px;}
.head_r .h_tel span{ margin-left:5px;}
.nav .nav_m{ width:100%; position:absolute; z-index:9999999; background:#384044; left:0px; top:0px;}
.nav .nav_m a{ width:90%; display:block; padding:0 5%; margin:0px;}
.i_cl dt img, .i_cl dt{ width:161px; height:116px;}
.i_cl dd{ width:152px;}
.i_cl dd .title{ height:25px; line-height:25px; font-size:14px;}
.i_cl dd p{ margin-top:0px; font-size:12px; line-height:145%; height:87px;}
.i_me .i_mem li{ width:159px;}
.i_me .i_mem li img{ width:159px; height:114px;}
.i_me .i_mem li p{ font-size:13px;}
.i_mfm ul li,.i_mfm ul li dl{ width:100%;}
.i_mfm .i_mf_a dl dd{ width:200px;}
.i_name img{ max-width:300px;}
.f_nav .f_logo, .f_nav .f_cd{ width:125px;}
.f_nav .f_logo img{ width:105px; height:105px;}
.f_nav .f_ct, .f_nav .f_sc{ width:180px; padding:20px 5px 0;}
.f_sc .f_sc_a .search, .f_sc .f_sc_b{ width:136px;}
.f_sc .f_sc_a .search input[type="text"]{ width:100px;}
.banner{ padding-bottom:50px;}
.banner_s{ padding-bottom:0px;}
.about .abt_b .marqueeleft li,.about .abt_b .marqueeleft li img{ width:214px; height:143px;}
.about .abt_b .marqueeleft{ height:143px;}
.news dl dt, .news dl dt img{ width:95px; height:95px;}
.news dl dd{ width:205px;}
.news dl dd .title em{ font-size:12px; font-weight:normal;}
.news dl dd .title p{ font-weight:normal;}
.contact .ctt_r, .contact .ctt_r img{ width:300px; height:211px;}
.book .book_m li p{ margin-left:17px;}
.book .book_m li .li_m{ width:100%;}
.book .book_m li .l_name{ width:300px; margin-left:10px; text-align:left;}
.book .book_m li.chang .li_m textarea{ width:300px;}
body{ padding-top:105px;}
}
@media screen and (max-width:440px) {
.hot-event .switch-tab{ top:130px;}
}
@media screen and (max-width:340px) {
.hot-event .switch-tab{ top:100px;}
}
