body{font-family:"Microsoft Yahei";font-size:14px;color:#5B5B5B; padding:0; margin:0; padding-top:80px;}
input , textarea , select{font-family:"Microsoft Yahei"; color:#5B5B5B; font-size:14px;}
/*头部*/
.header{ width:100%; height:80px; background:#384044; position:fixed; left:0; top:0; z-index:99999999;}
.header .head{ width:94%; margin:0px auto;}
.head .logo{ width:322px; height:41px; float:left; margin-top:19px;}
.head .logo img{ width:322px; height:41px; vertical-align:top;}
.head .head_r{ width:560px; float:right; margin-top:15px;}
.head_r .h_tel{ width:100%; height:25px; line-height:25px; text-align:right; font-size:16px; color:#FFF;}
.head_r .h_tel span{ margin-left:15px; margin-right:6px;}
.head_r .h_tel span,.head_r .nav a,.nav .n_icon{ display:inline-block; *display:inline; zoom:1;}
.head_r .nav{ width:100%; position:relative;}
.nav .nav_m{ width:100%;}
.nav .nav_m a{ font-size:16px; color:#FFF; margin-left:30px; height:28px; line-height:28px;}
.nav .nav_m a.now,.nav .nav_m a:hover{ color:#E33124;}
.nav .n_icon{ display:inline-block; *display:inline; zoom:1; width:auto; padding-left:25px; line-height:18px; color:#FFF; font-size:14px; height:18px; background:url(../images/nav_ico.png) no-repeat left center; position:absolute; left:00px; top:-23px; z-index:9999; cursor:pointer; display:none;}
.banner{ width:100%; overflow:hidden; height:auto; margin:0px auto;}
#inner { width:100%;overflow:hidden;}
.hot-event {padding: 0px;position: relative;}
.hot-event .switch-tab {text-align: center;	position:absolute;left:3%;top:15px;width:85;z-index:99;}
.hot-event .switch-tab a, .hot-event .switch-tab .current {margin:8px 0;display: inline-block;width:85px;height:85px; vertical-align:top;transition: 0.7s;-moz-transition:  0.7s;-webkit-transition:  0.7s;-o-transition:  0.7s; position:relative; overflow:hidden; border-radius:100px; -moz-border-radius:100px; -webkit-border-radius:100px;}
.hot-event .switch-tab a{ background:#FFF;}
.hot-event .switch-tab .current{ background:#000000;}
.hot-event .switch-tab a img{ width:85px; height:85px; vertical-align:top; transition: 0.7s;-moz-transition:  0.7s;-webkit-transition:  0.7s;-o-transition:  0.7s;}
.hot-event .switch-tab a .b_b{ position:absolute; left:0; top:0; z-index:99; display:none; opacity:0;}
.hot-event .switch-tab .current .b_b{ display:block; opacity:1;}
.hot-event .event-item {width:100%;position: absolute;z-index: 1;left: 0;top: 0;}
.hot-event .event-item .banner {display: block;	overflow:hidden;text-align:center;position:relative;margin:0px auto;}
.hot-event .event-item img {-webkit-box-reflect: below 0 -webkit-gradient(linear, 0 0, 0 100%, from(transparent), color-stop(85%, transparent), to(rgba(255,255,255,.2)));border: 0;width:100%;height:auto;margin:0px auto; overflow:hidden;}
.hide-clip {position: absolute!important;clip: rect(1px 1px 1px 1px);clip: rect(1px,1px,1px,1px);padding: 0!important;border: 0!important;height: 1px!important;line-height: 0!important;width: 1px!important;overflow: hidden;}
.i_name{ width:100%; height:auto; text-align:center; padding:35px 0;}
.i_name img{ vertical-align:top;}
.i_ma{ width:1000px; margin:0px auto; text-align:center;}
.i_ma .i_mam{ width:100%; font-size:14px; color:#696969; line-height:215%;}
.i_mb{ width:100%; position:relative; padding:20px 0;}
.i_mb .line{ width:100%; height:2px; background:#696969; position:absolute; z-index:1; top:128px; left:0;}
.i_mb .i_mbm{ width:1000px; margin:0px auto; overflow:hidden;}
.marqueeleft{height:220px;width:1000px;overflow:hidden;margin:0px auto;}
.marqueeleft ul{float:left;}
.marqueeleft li{float:left;margin:0 5px;display:inline;width:190px;height:120px; position:relative; z-index:9;}
.marqueeleft li em{ display:block; width:20px; height:20px; background:url(../images/icon7.png) no-repeat; position:absolute; left:90px;}
.marqueeleft li a:hover em{ background:url(../images/icon8.png) no-repeat;}
.marqueeleft li.odd em{ bottom:2px;}
.marqueeleft li.even em{ top:-50px;}
.marqueeleft li .li_m{ width:170px; height:75px; background:#696969; position:relative; text-align:left; padding:0 10px;}
.marqueeleft li a:hover .li_m{ background:#AA4637;}
.marqueeleft li .li_m .year{ width:100%; height:30px; line-height:30px; font-size:16px; color:#FFF;}
.marqueeleft li .li_m p{ width:100%; height:35px; line-height:150%; font-size:12px; color:#ECECEC; overflow:hidden; }
.marqueeleft li .li_m i{ display:block; width:20px; height:13px; position:absolute; left:90px;}
.marqueeleft li.odd .li_m i{ background:url(../images/icon6.png) no-repeat; bottom:-12px;}
.marqueeleft li.odd a:hover .li_m i{ background:url(../images/icon6_1.png) no-repeat;}
.marqueeleft li.even .li_m i{ background:url(../images/icon9.png) no-repeat; top:-12px;}
.marqueeleft li.even a:hover .li_m i{ background:url(../images/icon9_1.png) no-repeat;}
.marqueeleft li.even{ margin-top:150px;}
.i_mc,.i_mc img{ width:100%; height:auto; vertical-align:top;}
.i_md{ width:1000px; margin:0px auto;}
.i_md .i_mdm{ width:100%;}
.tabBox_t , .tabBox  {width:100%;text-align:left;}
.tabBox .tabNav {overflow: hidden;margin: 0px;padding:0px;width: 100%; text-align:center;}
.tabBox .tabNav li { display:inline-block; *display:inline; zoom:1; width:100px; height:140px; vertical-align:top; margin:0 20px; cursor:pointer;}
.tabBox .tabNav li img{ width:100px; height:100px; vertical-align:top;}
.tabBox .tabNav li p{ width:100%; height:30px; line-height:30px; text-align:center; margin-top:7px; font-size:16px; color:#000;}
.tabBox .tabNav li.now p { color:#AA4637;}
.tabBox .tabCont {display: none; width:100%; margin-top:20px;}
.tabBox .tabCont .i_cl{ width:100%;}
.i_cl dl{ float:left; width:490px; margin-right:20px; margin-bottom:1px;}
.i_cl dt{ width:250px; height:180px; float:left;}
.i_cl dt img{ width:250px; height:180px; vertical-align:top;}
.i_cl dd{ width:220px; float:right; text-align:left;}
.i_cl dd .title{ width:100%; height:30px; line-height:30px; white-space:nowrap; overflow:hidden; text-overflow:ellipsis; font-size:16px; color:#AA4637;}
.i_cl dd .line{ width:25px; height:3px; background:#AA4637;}
.i_cl dd p{ width:100%; height:130px; overflow:hidden; font-size:13px; color:#333; line-height:195%; margin-top:10px;}
.i_me{ width:1000px; margin:0px auto;}
.i_me .box_h{ width:100%; height:50px; line-height:50px; position:relative; margin:15px 0;}
.i_me .box_h .line{ width:100%; height:2px; border-top:1px dashed #333; position:absolute; left:0px; top:25px; z-index:1;}
.i_me .box_h span{ display:inline-block; *display:inline; zoom:1; position:relative; z-index:9; background:#FFF; padding-right:30px; height:50px; line-height:50px; vertical-align:top; font-size:24px; color:#000; font-weight:bold;}
.i_me .box_h span em{ font-size:16px; color:#8B1919; font-weight:bold;}
.i_me .i_mem{ width:100%;}
.i_me .i_mem li{ width:249px; margin-right:1px; float:left;}
.i_me .i_mem li img{ width:249px; height:180px; vertical-align:top;}
.i_me .i_mem li p{ width:100%; height:40px; line-height:40px; text-align:center; font-size:14px; color:#000; margin-bottom:10px; white-space:nowrap; overflow:hidden; text-overflow:ellipsis;}
.i_me .i_mem li a:hover p{ color:#8B1919;}
.bg_a{ width:100%; background:url(../images/bg_a.jpg) no-repeat; background-size:100% 100%; padding:20px 0;}
.i_mf{ width:1000px; margin:0px auto;}
.i_mf .i_mfm{ width:100%; padding:20px 0;}
.i_mfm ul{ width:100%;}
.i_mfm ul li{ width:320px; float:left; margin-right:15px; text-align:left;}
.i_mfm .i_mf_a li{ margin-bottom:20px;}
.i_mfm .i_mf_a dl{ width:100%;}
.i_mfm .i_mf_a dl dt{ width:140px; height:140px; float:left; border:6px solid #838383; border-radius:200px; -moz-border-radius:200px; -webkit-border-radius:200px; overflow:hidden;}
.i_mfm .i_mf_a dl dt:hover{ border:6px solid #C62F25;}
.i_mfm .i_mf_a dl dt img{ width:140px; height:140px;  vertical-align:top;border-radius:200px; -moz-border-radius:200px; -webkit-border-radius:200px;}
.i_mfm .i_mf_a dl dd{ width:160px; float:right;}
.i_mfm .i_mf_a dl dd .title{ width:100%; height:43px; line-height:165%; overflow:hidden;}
.i_mfm .i_mf_a dl dd .title a{ font-size:12px; color:#000;}
.i_mfm .i_mf_a dl dd .des{ width:100%; height:80px; font-size:12px; color:#4A4A4A; line-height:175%; margin-top:10px;}
.i_mfm .i_mf_a dl dd .title a:hover,.i_mfm .i_fm_b li a:hover{ color:#C62F25;}
.i_mfm .i_fm_b{ padding-top:15px;}
.i_mfm .i_fm_b li{ position:relative; height:30px; line-height:30px;}
.i_mfm .i_fm_b li a{ font-size:14px; color:#7B7B7B;}
.i_mfm .i_fm_b li p{ width:215px; height:30px; line-height:30px; white-space:nowrap; overflow:hidden; text-overflow:ellipsis;}
.i_mfm .i_fm_b li em{ display:block; text-align:right; position:absolute; right:0; top:0;}
.i_mg{ width:100%; max-width:1440px; margin:0px auto;}
.i_mg .i_mgm{ width:100%; position:relative; padding-bottom:10px;}
.i_mg .i_mgm .i_abtbg{ width:100%; height:auto; vertical-align:top;}
.i_mg .i_mgm .i_abt{ width:313px; height:110px; position:absolute; z-index:99;}
.f_bg{ width:100%; background:#3D3A36; padding-top:20px;}
.f_nav{ width:1000px; margin:0px auto; background:url(../images/line_a.png) no-repeat left center;}
.f_nav .f_nm{ height:230px; float:left; background:url(../images/line_a.png) no-repeat right center; font-size:12px; color:#D2D2D2; line-height:200%;}
.bq{ width:1000px; margin:0px auto; padding:15px 0; text-align:center; font-size:12px; color:#D2D2D2; line-height:165%; background:url(../images/line_b.png) no-repeat center top; background-size:100% auto;}
.f_nav .f_logo{ width:170px; text-align:center;}
.f_nav .f_logo img{ width:130px; height:130px; vertical-align:top; margin-top:40px;}
.f_nav .f_ct{ width:230px; padding:20px 25px 0; text-align:left;}
.f_nav .f_ct b{ display:inline-block; *display:inline; zoom:1; height:27px; line-height:27px; font-size:14px; padding-left:28px; background:url(../images/icon14.png) no-repeat left center; font-weight:normal; margin-bottom:15px;}
.f_nav .f_sc{ width:340px; padding:20px 25px 0;}
.f_sc .f_sc_a{ width:100%; height:32px; text-align:left; position:relative;}
.f_sc .f_sc_a img,.f_sc .f_sc_a .search{ display:inline-block; *display:inline; zoom:1; vertical-align:top;}
.f_sc .f_sc_a img{ width:40px; height:31px;}
.f_sc .f_sc_a .search{ width:294px; height:32px; background:#C0C2C1; border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px; position:relative;}
.f_sc .f_sc_a .search input{ border:0px; background:none;}
.f_sc .f_sc_a .search input[type="text"]{ width:250px; height:32px; line-height:32px; padding:0 10px; color:#fff;}
.f_sc .f_sc_a .search input[type="submit"]{ width:45px; height:32px; background:url(../images/s_btn.png) no-repeat center center; cursor:pointer; position:absolute; right:0px; top:0px;}
.f_sc .f_sc_b{ width:300px; margin-left:40px; margin-top:30px; color:#D1D1D1; font-size:14px; line-height:145%;}
.f_sc .f_sc_b a{ font-size:14px; color:#d1d1d1;}
.f_sc .f_sc_b a:hover{ color:#FFF;}
.f_nav .f_cd{ width:155px; text-align:center; padding-top:10px;}
.banner_s, .banner_s img{ width:100%; height:auto; vertical-align:top;}
.s_bg{ width:100%; background:#F2F2F2;}
.scd{ width:1000px; margin:0px auto;}
.about{ width:100%; text-align:left; font-size:14px; color:#393939; line-height:175%; padding-bottom:50px;}
.abt_a{ width:1000px; margin:0px auto; padding:20px 0; text-align:left; border-bottom:1px dashed #aaa;}
.abt_a a{ display:inline-block; *display:inline; zoom:1; height:30px; line-height:30px; padding:0 10px; font-size:14px; color:#333; margin-right:3px; border-radius:30px; -moz-border-radius:30px; -webkit-border-radius:30px;}
.abt_a a.now,.abt_a a:hover{ color:#FFF; background:#333333;}
.about .a_name{ padding:20px 0; font-size:22px; color:#666; line-height:150%; font-weight:bold;}
.about .abt_b{ width:100%;}
.about .abt_b .marqueeleft li{ width:330px; height:220px; margin-right:1px; margin-left:0px;}
.about .abt_b .marqueeleft li img{ width:330px; height:220px;}
.about .abt_c{ width:100%;}
.about .abt_c .tu{ width:100%; height:auto;}
.contact{ width:100%;}
.contact .ctt_l{ width:335px; float:left;}
.contact .ctt_l h1{ width:100%; padding:10px 0; font-size:18px; color:#333; line-height:150%; }
.contact .ctt_l ul{ width:100%; text-align:left; font-size:12px; color:#666; line-height:175%;}
.contact .ctt_l ul li{ width:100%; margin-bottom:20px; padding-bottom:15px; border-bottom:1px solid #ddd;}
.contact .ctt_l ul li b{ font-size:14px; display:block; margin-bottom:5px;}
.contact .ctt_r{ width:620px; height:460px; float:right; border:10px solid #ccc; margin-top:15px;}
.contact .ctt_r img{ width:620px; height:460px; vertical-align:top;}
.case{ width:1000px; margin:0px auto;}
.case li{ width:196px; float:left; margin-right:5px; margin-bottom:5px;}
.case li .tu,.case li .tu img{ width:196px; height:196px; vertical-align:top;transition: 0.7s;-moz-transition:  0.7s;-webkit-transition:  0.7s;-o-transition:  0.7s;}
.case li a:hover .tu img{transform:scale(1.05);-moz-transform:scale(1.05);-o-transform:scale(1.05); -webkit-transform:scale(1.05);}
.case li .title{ width:100%; height:30px; line-height:30px; text-align:center; white-space:nowrap; overflow:hidden; text-overflow:ellipsis; font-size:14px; color:#555;}
.case li a:hover .title{ color:#000;}
.pages{ width:100%; background:#919191; padding:10px 0; line-height:150%; text-align:center;}
.pages a,.pages span{ display:inline-block; *display:inline; zoom:1; padding:0px; margin:0 10px; font-size:14px; color:#FFF;}
.pages a:hover{ color:#E33124;}
.news{ width:1000px; margin:0px auto;}
.news dl{ width:100%; padding-bottom:25px; margin-bottom:25px; border-bottom:1px dashed #ccc;}
.news dl dt,.news dl dt img{ width:115px; height:115px; float:left; border-radius:200px; -moz-border-radius:200px; -webkit-border-radius:200px; vertical-align:top;}
.news dl dt{ border:5px solid #fff;transition: 0.7s;-moz-transition:  0.7s;-webkit-transition:  0.7s;-o-transition:  0.7s;}
.news dl dt:hover{ border:5px solid #CD3738;}
.news dl dd{ width:850px; float:right; text-align:left;}
.news dl dd .title{ width:100%; height:30px; line-height:30px; position:relative; margin-top:10px;}
.news dl dd .title a{ font-size:14px; color:#000; font-weight:bold;}
.news dl dd .title a:hover{ color:#910023;}
.news dl dd .title p{ width:70%; height:30px; line-height:30px; white-space:nowrap; overflow:hidden; text-overflow:ellipsis;}
.news dl dd .title em{ display:block; text-align:right; position:absolute; right:0px; top:0px; font-weight:bold;}
.news dl dd .des{ width:100%; height:80px; font-size:12px; color:#666; line-height:175%; overflow:hidden;  margin-top:15px;}
.book{ width:100%; margin-top:15px; background:#898989; padding-top:40px; color:#FFF;}
.book .b_title{ width:76%; text-align:left; font-size:16px; color:#FFF; font-weight:bold; margin:0px auto;}
.book .b_title em{ font-size:12px; margin-left:20px;}
.book .book_m{ width:100%; margin:0px auto; margin-top:15px;}
.book .book_m li{ width:100%; margin-bottom:10px;}
.book .book_m li .l_name{ display:block; width:270px; text-align:right; float:left;}
.book .book_m li .l_name i{ font-style:normal; margin-right:10px;}
.book .book_m li p{ margin-left:120px;}
.book .book_m li .li_m p{ margin-left:0px;}
.book .book_m li .li_m{ width:550px; float:left; margin-left:10px; font-size:12px;}
.book .book_m li .li_m input{ width:210px; height:30px; border:0px; background:#DCDCDC; padding:0 5px;}
.book .book_m li .li_m select{ border:0px; background:#DCDCDC; height:30px; line-height:30px; min-width:67px;}
.book .book_m li.lx .li_m select{ width:210px;}
.book .book_m li.chang .li_m input{ width:280px;}
.book .book_m li.chang .li_m textarea{ width:510px; background:#DCDCDC; border:0; height:130px;}
.book .book_m li.chang .li_m .file{ background:none; margin-top:10px; color:#Fff;}
.book .book_m li .li_m div{ margin-top:-2px; margin-bottom:14px;}
.book .book_m li.btn input{ width:100%; border:0; background:#454545; font-size:16px; color:#Fff; text-align:center; cursor:pointer; height:40px; line-height:40px;}
.book .book_m li.btn{ margin-top:30px;}