html,body {
	width: 100%;
	height: 100%;
	background: white;
}
		/*game_banner*/
		.game_banner {
			width: 100%;
			height: 200px;
			background: url(../images/banner_v4.jpg) no-repeat center;
			background-size: cover;
		}
		/*join*/
		.join {
			position: relative;
			width: 100%;
			height: 1100px;
			background: url(../images/planbg.png) no-repeat center;
			background-size: 100%;
		}
			.join_tab_main {
				position: inherit;
				top: 30px;
				width: 930px;
				height: 100%;
			}
				.join-infro {
					width: 100%;
					border-bottom: 1px solid #D5D5D5;
					font-weight: bold;
					padding-bottom: 6px;
				}
				.join-infro_title {
					display: inline-block;
					color: #5E5E5E;
					font-size: 24px;
				}
				.join-infro_title2 {
					padding-left: 8px;
					color: #DEDEDE;
					font-size: 18px;
				}
				.plan_frist_title {
					font-size: 24px;
					margin-top: 30px;
					font-weight: bold;
				}
				.plan_infro {
					padding-top: 60px;
					font-size: 20px;
					font-weight: bold;
					color: #0C91E2;
				}
				.process_pic {
					margin-top: 50px;
				}
					.plan_infro_infro {
						color: #737373;
						line-height: 26px;
						margin-top: 15px;
					}
				.plan_table1 table {
					margin-top: 15px;
					height: 400px;
					width: 100%;
					background: #EFEFEF;
					color: #838383;
					text-align: center;
				}
				.plan_table1 table tr td {
					border: 1px solid white;
				}
					.plan_td {
						background: #0EA5EE;
						color: white;
						width: 210px;
						font-size: 18px;
						height: 80px;
					}
					/*.plan_td:nth-of-type(1),.plan_td:nth-of-type(2) {
						height: 60px;
					}
					.plan_td:nth-of-type(3) {
						height: 60px;
					}*/
					.plan_tr {
						height: 120px;
					}
						.plan_tr div {
							line-height: 24px;
							text-align: left;
							margin-left: 200px;
						}
					.plan_infro3 {
						margin-top: 60px;
					}
					.plan_ul {
						margin-top: 30px;
						width: 100%;
						height: 55px;
						list-style: none;
					}
						.plan_ul li {
							position: relative;
							float: left;
							width: 31%;
							margin-left: 2%;
							height: 55px;
							background: #0FA2EF;
							border-radius: 90px;
						}
							.plan_ul_circle {
								position: absolute;
								left: 8px;
								top: 8px;
								font-size: 24px;
								line-height: 40px;
								width: 40px;
								height: 40px;
								background: white;
								text-align: center;
								border-radius: 90%;
							}
							.plan_ul li .plan_font {
								margin-top: 8px;
								margin-left: 60px;
								color: white;
								font-weight: bold;
								text-shadow: 1px 2px 6px black;
								font-size: 15px;
							}
		@media screen and (max-width: 1250px){
			.game_banner,.contact_us,.join {
				width: 1250px;
			}
		}