@charset "utf-8";
/* CSS Document */


.toub{ height:auto; width:100%}
.neir{ height:auto; width:952px; margin-top:20px; margin:0 auto;}

.neir ul { height:auto; width:952px; list-style:none; margin-top:20px;  }

.neir ul li{ height:260px; width:952px; border-bottom:1px dashed #ccc;}

.new{ width:952px; height:300px; overflow:hidden; height:auto;}
.new li{ width:957px; height:260px; overflow:hidden; margin-top:27px;}
.new li img{ width:252px; margin-right:30px; height:230px; padding-bottom:12px; float:left;}
.new li h3{ width:521px; float:left; height:30px; line-height:30px;}
.new li h2{ width:521px; float:left; height:20px; line-height:20px; color:#F60; font-size:18px;} 
.new li h3 a{ color:#666; font-size:14px}
.new li p{width:551px; float:left; height:auto; line-height:30px; padding-bottom:30px;  overflow:hidden}
<!-------------------------下一页------------------------------------------->
.pageNum{width:360px; padding:15px 0 10px;  height:24px; overflow:hidden; line-height:24px;  margin:0 auto; text-align:center; }
.pageNum li{ float:left; margin-right:10px; }


<!-------------------------下一页------------------------------------------->
.ner{ height:30px; width:960px;  margin-top:20px; margin:0 auto; text-align:center; font-size:16px; font-weight:bold;}
.xqnr{height:auto; width:960px; overflow:hidden; line-height:30px; font-size:14px; }


<!-------------------------------报名--------------------------------------------------------->
#bd-inner {
width: 1440px;
margin-top: 0px;
margin-right: auto;
margin-bottom: 0px;
margin-left: auto;
padding-right: 0px;
padding-left: 0px;
height: 623px;
position: relative;
background-image: url(../images/jpeg.jpg);

}

element.style {
width: 960px;
margin: 0 auto;
height: 500px;
overflow: hidden;
}

.posclear {
clear: both;
}
user agent stylesheetdiv {
display: block;
}

element.style {
width: 580px;
margin-left: 10px;
bottom: 16px;
position: absolute;
background: url(../images/erweima333.png);
float: left;
}


#bd {
min-height: 494px;
margin-right: auto;
margin-left: auto;
}
section {
display: block;
}
strong, b {
font-weight: bold;
}
element.style {
font-family: '微软雅黑';
font-size: 24px;
padding-right: 20px;
padding-bottom: 6px;
padding-left: 30px;
padding-top: 15px;
line-height: 32px;
font-weight: bold;
color: #fff;
}




element.style {
height: 3px;
border-bottom: 1px dashed;
border-color: #FFF;
width: 530px;
margin-left: 24px;
}
user agent stylesheetdiv {
display: block;
}


element.style {
padding: 15px 15px 15px 30px;
line-height: 180%;
}
p {
display: block;
-webkit-margin-before: 1em;
-webkit-margin-after: 1em;
-webkit-margin-start: 0px;
-webkit-margin-end: 0px;
}


element.style {
margin-top: 10px;
float: right;
background: url(/images/l3.png);
height: 475px;
width: 320px;
z-index: 1;
}






.submit_form {
background: url(/images/landingPage/submit.png) no-repeat scroll center;
font-family: '微软雅黑';
width: 236px;
height: 31px;
color: #000;
font-size: 15px;
font-weight: 700;
letter-spacing: 5px;
cursor: pointer;
}
input, img {
border: none;
}
input {
}
input {
font-size: 100%;
}
input {
vertical-align: top;
}



input, textarea, keygen, select, button, isindex {
margin: 0em;
font: -webkit-small-control;
color: initial;
letter-spacing: normal;
word-spacing: normal;
text-transform: none;
text-indent: 0px;
text-shadow: none;
display: inline-block;
text-align: start;
}
















