@charset "utf-8";
/*电话和搜索*/
.tel-seach{
	width: 1110px;
}
.tel-seach .telep{
	position: relative;
}

.tel-seach .telep img{
	top: 18px;
	width: 50px;
	height: 54px;
	position: absolute;
}
.tel-seach .telep span{
	position: absolute;
	top: 20px;
	left: 100px;
	width: 350px;
}
.tel-seach .xiaoseach{
	width: 420px;
	height: 55px;
	border: solid #666666 2px;
	margin-top: 12px;
	position: relative;
}
.tel-seach .xiaoseach input{
	width: 345px;
	height: 55px;
	border-right: solid #666666 2px;
}
.tel-seach .xiaoseach .btnshear{
	width: 53px;
	height: 47px;
	position: absolute;
	top:5px;
	right: 10px;
	background: url(../img/seachlogo.png)no-repeat center;
	border: 0;
}
/*mainservice*/
.mainservice{width: 750px;margin: 70px auto 20px auto; text-align: center;}
.bgborder{height: 4px;width: 50px;background: #75bb34;margin: 18px auto;}
.mainservice .contentp{margin-top: 25px;line-height: 20px;}
.mansvul{
	margin-top: 55px;
}
.mansvul ul{width: 1160px;}
.mansvul li{cursor: pointer;border: solid #FFFFFF 1px;width: 300px; height: 380px;margin-left: 60px;float: left;text-align: center;position: relative;}
.mansvul li img{margin-top: 65px;width: 145px;height: 159px;}
.mansvul li .mainsp{bottom: 50px;position: absolute;width: 210px;line-height: 23px;left: 45px;}
.mansvul .mainhid{width: 35px;height: 3px;background: #75bb34;margin: 15px auto;display: none;}
.mansvul li:hover{border: solid #75bb34 1px;}
.mansvul li:hover .mainhid{display: block;}
/*ABOUT us*/
.aboutus{margin-top: 140px;text-align: center;}
.aboutcontent{width: 100%;height: 500px;margin-top: 55px;min-width: 1200px;}
.aboutcontent .aboutdiv{width: 435px;position: relative;}
.aboutcontent .aboutdiv p{width: 432px; line-height: 25px;color: #ffffff;top: 140px;position: absolute;}
.aboutcontent .aboutbutten{width: 90px;height: 30px;background: #ffffff;position: absolute;top: 315px;border-radius: 3px;left: 320px;}
.aboutcontent .aboutbutten a{width: 90px;line-height: 30px;display: block;color: #75bb34;text-align: center;}
/*产品展示*/
.product{
	margin-top: 55px;
}
.product li{width: 262px;height: 410px;float: left;margin-left:38px;cursor: pointer;}
.product .productcount{width: 262px;height: 262px; position: relative;}
.product .productcount img{width: 262px;height: 262px;}
.product .productcount p{width: 262px;position: absolute;bottom: 0px;height: 50px;line-height: 50px;text-align: center;color: #FFFFFF;background: #323232;opacity:0.5;filter:Alpha(opacity=50);}
.product .productdiv{width: 262px;height: 145px;}
.product .productdiv p{width: 240px;margin: 0 auto;padding-top: 24px;}
.product li:hover .productdiv{border-bottom: solid #75bb34 3px;background: #f0f0f0;}
/*经典案例*/
.classicdiv{padding-top: 40px;}
.classicdiv li {width: 395px;height: 280px;float: left;position: relative;cursor: pointer;}
.classicdiv li img{width: 395px;height: 280px;}
.classicdiv .classicwai{display: none;width: 395px;height: 280px;color: #FFFFFF;position: absolute;top:0;background: #6dc41c;}
.classicdiv .classicwai .classicontent{width: 305px; margin: 30px auto; }
.classicdiv .classicwai .classicontent h1{line-height: 35px; }
.classicdiv .classicwai .classicontent p{line-height: 25px; }
.classicdiv .classicwai .classicontent div{line-height: 27px; background: #FFFFFF;width: 50px;text-align: center;border-radius: 5px;margin-top: 10px;}
.classicdiv li:hover .classicwai{display: block;}
/*联系我们*/
.contactus{width: 100%;min-width:1200px;background: url(../img/contact.png)no-repeat center;height: 465px;margin-top: 50px;}
.contactus .contactuscontent{width: 545px;margin: 0px auto;padding-top: 30px;}
.contactus .contactuscontent input{width: 310px;height: 38px;margin-top: 20px;display: block;text-indent:10px;color: #757575;font-size: 14px;}
.contactus .contactuscontent textarea{overflow:hidden;resize:none;color: #757575;font-size: 14px;text-indent:10px;width: 540px;height: 116px;padding-top: 5px;margin-top: 20px;}
.contactus .contactuscontent .contabutten{font-size: 21px;width: 116px;color: #FFFFFF;margin: 40px auto;border-radius: 2px;text-align: center;text-indent: 0px;}
/*新闻动态*/
.newsinf{width: 567px;margin-top: 60px;}
.newsinf li{width: 567px;height: 186px;border: solid #FFFFFF 1px;position: relative;margin-bottom:100px ;}
.newsinf .newscont{width: 207px;margin: 42px 38px;}
.newsinf .newscont p{color: #616161;line-height: 21px;}
.newsinf .newsimg{width: 280px; height: 186px;border: solid #6DC41C 1px;text-align: center;}
.newsinf .newsimg img{width: 245px; height: 158px;margin-top: 12px;}
.newsinf li:hover{border: solid #6DC41C 1px;}
.newsinf li:hover .newsimg{border: solid #FFFFFF 1px;}
.newsinf li i{width: 35px;height: 25px;background: url(../img/newsinflogo.png)no-repeat;position: absolute;}
.newsinf li .ileft{background-position:-35px -5px;}
.newsinf li .ileft1{top: 50px;right: -55px;}
.newsinf li:hover .ileft{background-position: -80px -5px;}
.newsinf li .ileft2{top: 75px;right: -55px;}
.bgboer{background: url(../img/newborder.png) no-repeat;width: 17px;height: 465px;position: absolute;top: 247px;left: 50%;}

.newsinfr{width: 567px;margin-top: 80px;}
.newsinfr li{width: 567px;height: 186px;border: solid #FFFFFF 1px;position: relative;margin-top:100px ;margin-left: 78px;}
.newsinfr .newscont{width: 207px;margin: 42px 38px;}
.newsinfr .newscont p{color: #616161;line-height: 21px;}
.newsinfr .newsimg{width: 280px; height: 186px;border: solid #6DC41C 1px;text-align: center;}
.newsinfr .newsimg img{width: 245px; height: 158px;margin-top: 12px;}
.newsinfr li:hover{border: solid #6DC41C 1px;}
.newsinfr li:hover .newsimg{border: solid #FFFFFF 1px;}
.newsinfr li i{width: 35px;height: 26px;background: url(../img/newsinflogo.png)no-repeat;position: absolute;}
.newsinfr li .ileft{background-position: 0px -5px;}
.newsinfr li .ileft1{top: 85px;left: -55px;}
.newsinfr li:hover .ileft{background-position: -125px -5px;}
.newsinfr li .ileft2{top: 105px;left: -55px;}

