@charset "utf-8";
/*公司简介页*/
.positionxtj{
	padding-top: 50px;
}
.brandstor .brandleft img{width: 355px;height: 469px;margin-left: 100px;margin-top: 55px;}
.brandstor .brandrit h1{width: 456px;line-height: 25px;height: 195px;overflow: hidden;margin-left: 176px;margin-top: 180px;}
.brandstor .brandrit p {width: 456px;text-align: right;margin-left: 176px;}
.aboutusgs{padding-top: 60px;}
.aboutusgs .aboutuscontent{position:relative;background: url(../img/gongs02.png)no-repeat;width: 1200px;height: 450px;margin-top: 60px;}
.aboutusgs .aboutuscontent div{width: 372px;position: absolute;right: 118px;top:96px;}
.aboutusgs .aboutuscontent div h1{width: 372px;height: 185px;line-height: 23px;overflow: hidden;}
.aboutusgs .aboutuscontent div p{width: 372px;text-align: right;}
.enterprise{padding-top: 135px;padding-bottom: 80px;height: 450px;}
.enterprise .enpy{margin-top: 90px;}
.enterprise .enpy li{width: 230px;text-align: center;float: left;margin-right: 92px;}
.enterprise .enpy li img{text-align: center;width: 123px;height: 123px;}
.enterprise .enpy li h1{font-weight: bold;line-height: 40px;}
.enterprise .enpy li p{line-height: 20px;}
/*关于我们页*/
.guanyuwm{margin-bottom: 76px;margin-top: 82px;}
/*品牌故事页*/
.pinpaidiv {padding-bottom: 35px;height: 855px;}
.pinpaidiv .pinpaileft img{width: 596px;height: 742px;margin-top: 55px;}
.pinpaidiv .pinpairit {width: 515px;margin-left: 76px;}
.pinpaidiv .pinpairit h1{margin-top: 225px;text-align: center;}
.pinpaidiv .pinpairit h2{text-align: center;}
.pinpaidiv .pinpairit p{line-height: 25px;margin-top: 50px;}
/*经典案例2级*/
.casely li{width: 560px;height: 300px;margin-top: 65px;border: solid #a5a5a5 1px;}
.casely .caselyleft img{width: 286px;height: 218px;padding-top: 40px;padding-left: 25px;}
.casely .caselyrig {width: 200px;margin-left: 25px;padding-top: 40px;}
.casely .caselyrig  p{line-height: 25px;}
.casely .caselyrig  .pcontent{padding-top: 25px;}
.casely .caselyrig  .casep{font-weight: bold;}
.casely li:hover{border: solid #6DC41C 1px;}
.casely li:hover .casep{color: #6DC41C;}
/*经典案例3级*/
.jddetails{margin-top: 50px;}
.jddetails h1{font-weight: bold;}
.jddetails .jdborder{width: 60px;height: 3px;background: #6DC41C;margin-top: 7px;}
.jddetails .jdcontent{margin-top: 30px;}
.jddetails .jdcontent img{max-width: 1200px;margin-top: 25px;}
.jddetails .jdzhuanshu{margin-top: 20px;}
.jddetails .jdzhuanshu img{max-width: 1200px;margin-top: 25px;}
/*联系我们*/
.zhsjiam{background: url(../img/contactbg.png) no-repeat;width: 1200px;height: 1227px;background-size: 100%;position: relative;margin-bottom: 80px;}
.zhsjiam .youshi{width: 320px;color: #5c5b5b;position: absolute;top:50px;right: 120px;}
.zhsjiam .youshi h1{text-align: center;font-size: 18px;line-height: 60px;margin-bottom: 10px;}
.zhsjiam .youshi p{font-size: 14px;line-height: 35px;}
.zhsjiam .jmtj{width: 470px;color: #5c5b5b;position: absolute;top:510px;left: 50px;text-align: center;}
.zhsjiam .jmtj h1{text-align: center;font-size: 18px;line-height: 60px;}
.zhsjiam .jmtj p{font-size: 14px;line-height: 35px;}
.zhsjiam .jmys{width: 245px;color: #5c5b5b;position: absolute;bottom:60px;right: 160px;}
.zhsjiam .jmys h1{text-align: center;font-size: 18px;line-height: 40px;}
.zhsjiam .jmys p{font-size: 14px;line-height: 30px;}
.lxwmbg{width: 1200px;height: 415px;background: url(../img/lixwmbg.png)no-repeat;margin-top: 28px;}
.fklx{width: 920px;padding-top: 72px;margin: 0 auto;}
.fklx .fkjj{width: 330px;}
.fklx .fkjj input{width: 215px;height: 26px;margin-top: 20px;display: block;text-indent:10px;color: #000000;font-size: 11.5px;border: solid #505050 2px;}
.fklx .fkjj textarea{overflow:hidden;resize:none;color: #000000;font-size: 11.5px;text-indent:10px;width: 326px;height: 126px;padding-top: 5px;margin-top: 20px;border: solid #505050 2px;}
.fklx .fkjj .contabutten{width: 50px;font-size: 12px;color: #FFFFFF;margin: 28px auto;border-radius: 2px;text-align: center;border: 0;text-indent: 0;}
.fklx .lxwm{width: 320px;}
.fklx .lxwm .lxwmimg{margin-bottom: 55px;}
.fklx .lxwm .lxwmdiv{top: 30px;font-size: 12px;color: #505050;margin-top: 5px;}
.fklx .lxwmdiv .lxwmcont{line-height: 40px;padding-left: 5px;}
/*新闻中心2级页*/
.rmxwimg{width: 310px;padding-top: 65px;margin: 0 auto;padding-bottom: 20px;}
.chanpban{ width:530px; overflow:hidden; position:relative;top: 20px;}
.chanpban .cahpdb{ position:relative; z-index:0;  width:400px; margin: 0 auto;}
.chanpban .cahpdb li{ zoom:1; vertical-align:middle; }
.chanpban .cahpdb li img{ height:268px;width: 400px; }
.chanpban .prev,
.chanpban .next{ position:absolute; left:3%; top:50%; margin-top:-25px; display:block; width:25px; height:25px; background: url(../img/prev.png)no-repeat;background-position: -6px -3px;}
.chanpban .next{ left:auto; right:3%;background-position: -40px -3px;}
.chanpban .prev:hover{background-position: -71px -3px;}
.chanpban .next:hover{background-position: -102px -3px;}
.chanpban .cahpdb .xwzxp1{font-size: 16px;color: #878686;}
.chanpban .cahpdb .xwzxp2{font-size: 14px;color: #878686;position: relative;}
.chanpban .cahpdb .xwzxp2 a{font-size: 12px;color: #cccaca;position: absolute;bottom: 0px;right: 2px;background: #FFFFFF;width: 55px;text-align: center;}
.xwzxcont{width: 640px;height: 105px;padding-left: 30px;}
.xwzxcont dl{border-bottom: solid #a9a9a9 1px;}
.xwzxcont dl dt{color: #505050;padding-top: 10px;}
.xwzxcont dl dd{color: #878686;padding-top: 17px;padding-bottom: 18px;position: relative;}
.xwzxcont dl dd a{color: #cccaca;position: absolute;bottom: 18px;right: 5px;background: #FFFFFF;}
.xwzxcont dl dd a:hover{color: #75bb34;}
.newslist{padding-top: 20px;}
.newslist li{width: 1200px;margin-top: 25px;}
.newslist li .newsfl{width: 1057px;height: 210px;background: #f0f0f0;color: #4c4c4c;}
.newslist li .newsfl h2{width: 964px;padding-left: 35px;padding-top: 35px;}
.newslist li .newsfl p{width: 964px;padding-left: 35px;line-height: 30px;}
.newslist li .newsfr{background: url(../img/newslogo.png)no-repeat;width: 143px;height: 210px;}
.newslist li:hover .newsfl{color: #FFFFFF;background: #98db59;}
.newslist li:hover .newsfr{background: url(../img/newsflo.png)no-repeat;}
/*新闻中心3级页*/
.newshowcon{margin-top: 60px;}
.newshowcon h2{color: #5c5b5b;width: 1200px;text-align: center;margin-bottom: 45px;}
.newshowcon img{max-width: 1200px;}
/*单方精油*/
.dfjydiv .dfjyleft img{width: 484px;height: 358px;margin-top: 48px;}
.dfjydiv .dfjyrit{width: 510px;margin-left: 115px;margin-top: 48px;}
.dfjydiv .dfjyrit h3{font-weight: bold;margin-bottom: 14px;}
.dfjydiv .dfjyrit .dfjybor {width: 370px;height: 1px;background: #75bb34;margin: 25px 0px;}
.dfjydiv .dfjyrit .dfjyp3{margin-top: 40px;line-height: 30px;}
.jingylist{margin-top: 20px;}
.jingylist ul li{float: left;zoom:1;margin-top: 38px;}
.jingylist ul li img{width: 135px;height: 135px;}
.jingylist ul li .jylsfr{width: 952px;color: #505050;padding-top: 35px;padding-left: 110px;}
.essential{padding-top: 60px;padding-bottom: 70px;}
.essential .essentialcon{position:relative;width: 1200px;height: 450px;margin-top: 60px;}
.essential .essentialcon div{width: 482px;position: absolute;right: 85px;top:96px;color: #4d4d4d;}
.essential .essentialcon div h2{width: 482px;line-height: 23px;overflow: hidden;margin-bottom: 36px;margin-top: 20px;text-align: center;}
.essential .essentialcon div p{width: 482px;line-height: 25px;}
.essential .essentialcon div p span{color: #ff5b5b;}
/*产品二级页*/
.cpej{margin-top: 45px;}
.cpej .cpejfl{width: 165px;}
.cpej .cpejfl dt{width: 165px;height: 45px;line-height: 45px;text-align: center;color: #FFFFFF;background: #75bb34;margin-bottom: 25px;}
.cpej .cpejfl dd{width: 165px;height: 45px;line-height: 45px;text-align: center;margin-top: 10px;}
.cpej .cpejfl dd a{display: block;width: 165px;height: 45px;color: #505050;}
.cpej .cpejfl .chag{background: #eeeeee;border-left: solid #75bb34 3px;width: 163px;}
.cpej .cpejfl .ejlxwm{margin-top: 75px;}
.cpej .cpejfl .ejlxwm .ejtel{position: relative;height: 30px;}
.cpej .cpejfl .ejlxwm .ejtel img,.cpej .cpejfl .ejlxwm .ejtel1 img{
	position: absolute;top: 10px;
	}
.cpej .cpejfl .ejlxwm .ejtel span{
	position: absolute;top: 15px;left: 35px;font-size: 16px;color: #505050;
	}
.cpej .cpejfl .ejlxwm .ejtel1 span{
	position: absolute;top: 15px;left: 35px;font-size: 14px;color: #505050;
	}
.cpej .cpejfl .ejlxwm .ejtel1{position: relative;height: 60px;margin-top: 15px;}
.cpej .cpejfr{width: 955px;margin-left: 60px;}
/*tab切换 start*/
.tab {width: 955px;}
.tab-title {overflow: hidden;margin: 0 auto;}
.tab-title .item {display: inline-block;width:120px;height:33px;line-height:33px;text-align: center;color: #505050;font-size:18px;  float:left;}
.tab-title .item-cur {color: #fff;background-color:#75bb34;border-radius: 5px;}
.tab-cont{position: relative; width:955px;margin:0 auto;overflow: hidden;}
.tab-cont .item{width:955px;}
.lanren{width:955px;margin-top: 40px;}
.lanren li{width:285px;height:430;list-style:none;position:relative;float:left;overflow:hidden;  margin: 55px 20px 20px 10px;cursor: pointer;}
.lanren li img{width: 282.5px;height: 280px;border: solid #e0e0e0 1px;}
.lanren .ejymcon{width: 286px;height: 55px;background: #e9e9e9;color: #787878;text-align: center;line-height: 23px;margin-top: -5px;padding-top: 5px;}
.ejymcontob{border-bottom: solid #FFFFFF 4px;}
.lanren .ejymcontob p a{font-size: 12px;color: #727272;line-height: 25px;}
.lanren li:hover .ejymcon{background: #75bb34;color: #FFFFFF;}
.lanren li:hover .ejymcontob{border-bottom: solid #75bb34 4px;}

/*护肤精油*/
.hfjydiv {width: 950px;margin: 0 auto;}
.hfjydiv .hfjyleft img{width: 269px;height: 373px;margin-top: 48px;}
.hfjydiv .hfjyrit{width: 490px;margin-left: 175px;margin-top: 48px;text-align: center;}
.hfjydiv .hfjyrit h3{font-weight: bold;margin-bottom: 14px;}
.hfjydiv .hfjyrit .hfjybor {width: 370px;height: 1px;background: #75bb34;margin: 25px auto;}
.hfjydiv .hfjyrit .hfjyp3{margin: 0 auto;margin-top: 40px;line-height: 25px;text-align: left;width: 354px;}
.usage{width: 1200px;height: 1153px;margin-top: 95px;position: relative;margin-bottom: 10px;}
.usage .med1{width: 205px;position: absolute;top: 180px;left: 65px;}
.usage .med2{width: 200px;position: absolute;top: 707px;left: 65px;}
.usage .med3{width: 220px;position: absolute;top: 1005px;left: 490px;}
.usage .med4{width: 265px;position: absolute;top: 760px;right: 116px;}
.usage .med5{width: 188px;position: absolute;top: 306px;right: 45px;}
.usage .medimg{width: 320px;height:415px;position: absolute;top: 280px;left: 456px;}

/*乐活系列*/
.lhjydiv {width: 1200px;margin: 0 auto;}
.lhjydiv .lhjyleft img{width: 600px;height: 373px;margin-top: 48px;}
.lhjydiv .lhjyrit{width: 380px;margin-left: 165px;margin-top: 48px;text-align: center;}
.lhjydiv .lhjyrit h3{font-weight: bold;margin-bottom: 14px;}
.lhjydiv .lhjyrit .hfjybor {width: 370px;height: 1px;background: #75bb34;margin: 25px auto;}
.lhjydiv .lhjyrit .hfjyp3{margin: 0 auto;margin-top: 40px;line-height: 25px;text-align: left;width: 354px;}
/*芳疗仪器*/
.flyqdiv {width: 1200px;margin: 0 auto;}
.flyqdiv .flyqleft img{width: 600px;height: 432px;margin-top: 45px;}
.flyqdiv .flyqrit{width: 380px;margin-left: 160px;margin-top: 70px;text-align: center;}
.flyqdiv .flyqrit h3{font-weight: bold;margin-bottom: 14px;}
.flyqdiv .flyqrit .flyqbor {width: 370px;height: 1px;background: #75bb34;margin: 25px auto;}
.flyqdiv .flyqrit .flyqp3{margin: 0 auto;margin-top: 40px;line-height: 25px;text-align: left;width: 354px;height: 218px;overflow: hidden;}
.prodpa{margin-top: 90px;}
.prodpa table{width: 530px;}
.prodpa table tr{width: 530px;height: 27px; background: #f2f2f2;line-height: 27px;font-size: 14px;color: #707070;}
.prodpa table tr td{padding-left: 140px;}
.prodpa table tr .protd{width: 110px;padding-left: 50px;}
.prodpafr{width: 600px;text-align: center;margin-left: 65px;margin-top: 45px;}
.prodpafr img{max-height: 443;max-width:  600px;}
.proadv{margin-top: 50px;}
.proadv img{max-width: 1200px;}
.aplpc{width: 1200px;height: 500px;margin: 65px auto;position: relative;}
.aplpc div{color:#FFFFFF;width: 1200px;height: 130px;background: #000000;filter:Alpha(opacity=50);-moz-opacity:0.5;opacity: 0.5;position: absolute;bottom: 0;text-align: center;}
.aplpc div h2{line-height: 60px;font-size: 37px;margin-top: 20px;}


/*加盟流程标题样式*/
.bjdiv{width: 218px;height: 68px;border: solid #333333 3px;margin: 0 auto;position: relative;margin-top: 75px;}
.bjdiv h2{position: absolute; top:-28px;text-align:center;width: 154px;background: #FFFFFF;left: 35px;font-size: 36px;color: #333333;}
.bjdiv p{position: absolute; bottom:5px;text-align:center;width: 205px;background: #FFFFFF;left: 5px;font-size: 24px;color: #333333;}
.zscont{margin-top: 50px;}
.zscont div{margin-top: 50px;font-size: 20px;line-height: 35px;}
.zscont p{margin-top: 50px;font-size: 20px;line-height: 35px;}
.zscontot{padding-top: 25px;}
.zscontot .zstp{width: 100px;height: 30px;line-height: 30px;color: #FFFFFF;background-color: #333333;text-align: center;margin-top: 20px;}
.zscontot .zstdiv{line-height: 35px;font-size: 20px;color: #333333;padding-top: 10px;}
.jmcontot{padding-top: 50px;line-height: 40px;color: #333333;font-size: 20px;}
/*香水内页*/
.xsdiv{height:45px;margin: 0 auto;;border: solid #333333 3px;position: relative;margin-top: 75px;padding-left: 20px;padding-right: 20px;}
.xsdiv h2{display:inline-block; *display:inline; *zoom:1;position:absolute;text-align:center;background: #FFFFFF;padding-left: 4px;font-size: 20px;color: #333333;font-weight: bold;margin-top: -20px;}
.xsdiv p{display:inline-block; 
*display:inline; 
*zoom:1; text-align:center;font-size: 16px;color: #333333;text-transform:uppercase;position: absolute;bottom: 7px;}
.xscont{padding-top: 50px;}
.xxfl{width: 100px;height: 45px;border-bottom: solid #75bb34 2px;font-size: 30px;color: #333333;}
.xxfr{text-indent: 40px;color: #505050;font-size: 20px;padding-left: 98px;line-height: 40px;width: 1000px;}
.xxfr span{font-weight: bold;}
/*香水二级*/
.xslanren{width:955px;margin-top: 25px;}
.xslanren li{width:285px;height:430;list-style:none;position:relative;float:left;overflow:hidden;  margin: 0 20px 65px 10px;cursor: pointer;}
.xslanren li img{width: 282.5px;height: 280px;border: solid #e0e0e0 1px;}
.xslanren .xsejymcon{width: 286px;height: 55px;background: #696969;color: #ffffff;text-align: center;line-height: 23px;margin-top: -5px;padding-top: 5px;}
.xsejymcontob{border-bottom: solid #FFFFFF 4px;}
.xslanren .xsejymcontob p a{font-size: 12px;color: #727272;line-height: 25px;}
.xslanren li:hover .xsejymcon{background: #75bb34;color: #FFFFFF;}
.xslanren li:hover .xsejymcontob{border-bottom: solid #75bb34 4px;}
.xslanren li:hover .xsejymcontob a{color: #75bb34;}
.xsbt{padding-top: 55px;position: relative;height: 70px;}
.xsbt p{width: 60px;font-size: 24px;border-bottom: solid #a0a0a0 6px; color: #a0a0a0;text-align: center;line-height: 45px;}
.xsbt .xsbtp1{left: 338px;position: absolute;}
.xsbt .xsbtp2{left: 450px;position: absolute;}
.xsbt .xsbtp3{left: 560px;position: absolute;}
.xsbt .chage{color: #75bb34;border-bottom: solid #75bb34 6px;}
.xsbt p:hover{border-bottom: solid #75bb34 6px; color: #75bb34;}




.xslanren{ overflow:hidden;}
.xslanren li{width:285px; list-style:none;position:relative;float:left;overflow:hidden;  margin: 0 20px 65px 10px;cursor: pointer;}
.xslanren li .proimg{width: 284px;height: 282px;display:block;}
.xslanren li .proimg img{width: 284px;height: 282px; border:0px;}
.xslanren li .czxshui{ height:72px; line-height:72px; padding:0px; height:72px; margin:0px;background: #696969;color: #ffffff;}
.xslanren li .czxshui h2{ line-height:72px;background: #696969;color: #ffffff; text-align:center;}
.xslanren li:hover .czxshui h2{background: #75bb34;color: #FFFFFF;}
 

