/*dede58.com 做最好的织梦整站模板下载网站*/
@charset "utf-8";

*{ padding:0; margin:0;}
body{ font-size:12px; font-family:'微软雅黑'}
a{ color:#000; text-decoration:none;}
ul,ol{ list-style:none;}
h1,h2,h3,h4,h5,h6{ font-size:12px; font-weight:normal;}
b,strong{ font-weight:normal;}
i,em{ font-style:normal;}
a img{ display:block; border: none;}
img{vertical-align:top;border:none;}
.clearfix:after{ clear:both; display:block; content:'';}
.clearfix{ zoom:1;}
/*清除默认样式*/
body,div,p,h1,h2,h3,h4,h5,h6,span,ul,ol,li,dl,dd,dt,a,i,strong,b,em img,form,input{ margin:0; padding:0;}
ul li,ol li{ list-style-type:none;}
body{ line-height:100%; /*确保字体大小为设置值，消除不必要的空格*/
		font-size:12px;}
h1,h2,h3,h4,h5,h6{ line-height:100%; font-size:100%/*继承父级的字体大小*/; 
					font-weight: normal;}
a{text-decoration:none; }
img{ vertical-align:top;}
a img{ border:none;}
b,strong{ font-weight:normal;}
i,em{ font-style:normal;}

.clearFix:after{ clear:both; display:block; content:" "; visibility:hidden; height:0; line-height:0;}
.clearFix{*zoom:1;}

.fl{ float: left;display:inline;}
.fr{ float: right;display:inline;}
textarea{outline:none;}
input{ padding:0;border:none; outline:none; background:none;}
table{ border-collapse:collapse;text-align:center; vertical-align:middle;}