/*dede58.com 做最好的织梦整站模板下载网站*/
@charset "utf-8";
/* CSS Document */
body{background:#f4f4f4;overflow-x:hidden;}
.hdbox{height:70px;
       border-bottom:2px solid #fd8d4e;
	   background:#fff;}
.hd_main{width:1240px;
         height:70px;margin:0 auto;}
h1{width:150px;
   height:45px;
   margin-top:14px;
   float:left;}
.logo{display:inline-block;
     text-indent:-999em;
     width:150px;
     height:45px;
     background:url(../img/logo.png) no-repeat;}
.hd_inp{width:500px;
   		height:38px;
		float:left;
		margin-top:18px;
		margin-left:194px;
		position:relative;}
.hd_text{width:448px;
		 height:38px;
		 background:#eee;
		 padding-left:14px;
		 border-radius:5px;
		 float:left;}
.hd_button{width:38px;
		   height:38px;
		   display:inline-block;
		   background:url(../img/search_btn.png) no-repeat;
		   float:left;
		   cursor:pointer;}
.inplist{width:498px;
		 height:290px;
		 border:1px solid #fd8d4e;
		 position:absolute;left:0;top:38px;
		 background:#fff;
		 display:none;
		 z-index:10;}

.hdul li{width:88px;
		 height:26px;
		 margin-left:22px;
		 float:left;
		 position:relative;}
.hdul li a{display:inline-block;
          color:#666;
		  width:100%;
		  height:100%;
		  text-align:right;
		  font-size:15px;
		  line-height:28px;}
.hdul{width:330px;
	  height:24px;
	  margin-left:66px;
	  margin-top:26px;}
.hdul li span{display:inline-block;
			  width:26px;
			  height:26px;
			  position:absolute;left:0;top:0;
			  background:url(../img/my_ico.png) no-repeat;
			  }
.hdul li .bg1{background-position: 0 0;}
.hdul li .bg2{background-position: 0 -200px;}
.hdul li .bg3{background-position: 0 -400px;}
/*For Js*/
.hdul .turn .bg1{background-position: 0 -100px;}
.hdul .turn .bg2{background-position: 0 -300px;}
.hdul .turn .bg3{background-position: 0 -500px;}
.hdul .turn .seelist{display:block;}
/*For Js*/
.seelist{position:absolute;left:-232px;top:36px;
		 width:400px;
		 height:260px;
		 background:#fff;
		 border:1px solid #fd8d4e;
		 border-radius:3px;
		 display:none;
		 text-align:left;
		 font-size:12px;
		 padding-left:12px;
		 z-index:10;}
.seelist i{display:inline-block;
		   width:12px;
		   height:8px;
		   background:url(../img/jiantou.png) no-repeat;
		   position:absolute;top:-8px;right:114px;}


.hd_navbox{width:1240px;
		   height:42px;margin:0 auto;background:#fff;}
.hd_navbox ul li{padding:14px;
 				float:left;}
.hd_navbox ul li a{width:100%;
				  height:100%;
				  color:#666;}
.navleft li{position:relative;}
.navleft li .nav_2{display:inline-block;
              width:20px;
			  height:11px;
			  background:url(../img/point.png) no-repeat 8px 4px;}

.playlist{width:100px;
		  height:268px;
		  position:absolute;top:40px;left:-24px;
		  border-top:2px solid #fd8d4e;
		  display:none;
		  background:#fff;
		  z-index:10;}
		  
.playlist .nav_d{position:absolute;top:-5px;left:46px;
	     		 display:inline-block;
				 width:8px;
				 height:3px;
				 background:url(../img/jiao2.png) no-repeat;}		  
.playlist ul li{float:none;
			    width:100px;
				height:36px;
				line-height:36px;
				text-align:center;
				padding:0;}
.playlist ul li a{color:#666}
.playlist ul li:hover{background:#f1f1f1;}
.playlist ul li:hover a{color:#fd8d4e;}


.movielist{width:84px;
		   height:240px;
		   position:absolute;top:40px;left:-24px;
		   border-top:2px solid #fd8d4e;
		   display:none;
		   background:#fff;
		  z-index:10;}
.movielist ul li{float:none;
			    width:84px;
				height:36px;
				line-height:36px;
				text-align:center;
				padding:0;}		   
.movielist ul li:hover{background:#f1f1f1;}
.movielist ul li:hover a{color:#fd8d4e;}			   
.movielist .nav_d{position:absolute;top:-5px;left:38px;
	     		 display:inline-block;
				 width:8px;
				 height:3px;
				 background:url(../img/jiao2.png) no-repeat;}		   
		   
/*For Js*/		   
.hd_navbox .navactive .tc{color:#fd8d4e;}
.hd_navbox .navactive .playlist{display:block;}
.hd_navbox .navactive .movielist{display:block;}
/*For Js*/





.BigPic{width:1350px;
		height:450px;
		margin:0 auto;}

.BigPic li{width:1350px;
		   height:450px;
		   position:relative;
		   display:none;}
.BigPic li h3{height:76px;
			  line-height:76px;
			  font-size:35px;
			  font-weight:bold;
			  color:#fff;
			  position:absolute;
			  bottom:100px;
			  left:50px;}		   
.BigPic li p{height:26px;
			 line-height:26px;
			 font-size:14px;
			 color:#fff;
			 position:absolute;
			 bottom:90px;
			 left:50px;}
.hd_box{width:1350px;
		height:450px;
		margin:0 auto;
		position:relative;}


.SmallPic{width:1295px;
		  height:127px;
		  background:url(../img/largepic_bg.png) repeat-x;
		  padding-left:55px;
		  position:absolute;
		  left:0;
		  bottom:0;}
.SmallPic li{width:120px;
			 height:70px;
			 position:relative;
			 float:left;
			 margin-right:20px;
			 margin-top:44px}
.SmallPic li .opabox{width:120px;
			 		height:70px;
			 		position:absolute;left:0;top:0;
					background:rgba(0,0,0,0.5);}

.SmallPic li .borderbox{width:114px;
						height:64px;
						border:3px solid #fd8d4e;
						position:absolute;left:0;top:0px;
						display:none;}
/*ForJs小轮播*/
.SmallPic .LbLi .borderbox{display:block;}
.SmallPic .LbLi .opabox{display:none;}
/*ForJs小轮播*/


.hot{width:1240px;
	 height:544px;
	 margin:0 auto;}
.hothd{width:1240px;
	   height:92px;}
h2{width:128px;
	height:52px;
	float:left;
	font-size:32px;
	padding-top:40px;
	color:#333;}
.hothd a{width:50px;
		 height:35px;
		 float:left;
		 font-size:13px;
		 color:#fd8d4e;
		 padding-top:57px;
		 margin-left:20px;}
h4{width:95px;
	height:45px;
	font-size:23px;
	float:right;
	padding-top:47px;
	margin-right:145px;
	color:#333;}
.hothd a:hover{color:#57c556;}
.hothdbd{height:454px;width:1240px;}
.hotbdleft{width:975px;height:454px;}
.hotbdright{width:240px;height:454px;}
.lefttop{height:320px;width:975px;}
.lefttopleft{width:378px;height:310px;
			 boackground:#fff;
			 border-bottom:1px solid #ccc;
			 margin-right:18px;
			 position:relative;
			 background:#fff;}
.lefttopright{width:576px;height:320px;}
.miss{height:34px;
	  padding-left:10px;
	  line-height:34px;
	  margin-top:14px;
	  font-size:13px;}
.miss a:hover{color:#fd8d4e;}
.missopa{width:380px;height:254px;
		 position:absolute;left:0;top:0;
		 background:rgba(0,0,0,0.5) url(../img/play_btn.png) no-repeat 160px 85px;
		 display:none;}
.missopa1{width:375px;height:22px;
		  background:rgba(0,0,0,0.5);
		  position:absolute;left:0;bottom:56px;
		  color:#fff;line-height:22px;
		  padding-left:5px;}
.lefttopleft:hover .missopa{display:block;}
.wuxiubo{height:300px;margin-right:-18px;}
.wuxiubo li{width:180px;
			 height:134px;
			 background:#fff;
			 border-bottom:1px solid #ccc;
			 float:left;
			 position:relative;
			 margin-right:18px;
			 margin-bottom:8px;}

.opatxt{width:175px;
		height:22px;
		background:rgba(0,0,0,0.5);
		line-height:22px;
		padding-left:5px;
		position:absolute;
		left:0;bottom:25%;
		color:#fff;}
.shadow{width:180px;
 		height:100px;
		background:rgba(0,0,0,0.5) url(../img/play_btn.png) no-repeat 60px 20px;
		position:absolute;
		top:0px;left:0px;
		display:none;}
.txt{width:170px;height:20px;
	 padding-left:10px;
	 padding-top:14px;
	 background:#fff;}
.txt a:hover{color:#fd8d4e;}
.jiangcai{background:url(../img/toulan2.jpg) no-repeat;width:578px;height:17px;}
.wuxiubo .activeshow .shadow{display:block;} 
.leftbottom{width:975px;height:134px;}
.girl{margin-right:-18px;}
.girl li{height:134px;
		 width:180px;
		 margin-right:18px;
		 background:#fff;
		 position:relative;
		 float:left;
		 }
.opatxt1{width:175px;
		height:22px;
		background:rgba(0,0,0,0.5);
		line-height:22px;
		padding-left:5px;
		position:absolute;
		left:0;bottom:34px;
		color:#fff;}

.girl .activeshow .shadow{display:block;}
.right1{width:240px;
		height:120px;
		margin-bottom:10px;
		position:relative;}
.huaopa{width:230px;
		height:24px;
		background:rgba(0,0,0,0.5);
		line-height:24px;
		padding-left:10px;
		color:#fff;
		position:absolute;
		left:0;bottom:0;}
.right2{width:240px;
		height:70px;
		background:#fff;
		margin-bottom:10px;}
.right2 img{display:block;float:left;margin:5px;}
.right2 p{width:110px;
		  height:60px;
		  line-height:20px;float:left;}
.right2:hover {background:#fd8d4e;}
.right2:hover a p{color:#fff;}
.right4{width:235px;
		 height:160px;
		 position:relative;}
.xuzheng{width:235px;
		 height:24px;
		 background:rgba(0,0,0,0.5);
		 line-height:24px;
		 padding-left:5px;
		 position:absolute;
		 left:0;bottom:0px;
		 color:#fff;}
		 
		 
		 
		 
.net{width:1240px;height:410px;margin:0 auto;}		 
.nethd{height:94px;}		 
.nethd h2{width:186px;font-size:28px;padding-top:43px;float:left;}		 
.nethd a{width:50px;
		 height:35px;
		 float:left;
		 font-size:13px;
		 color:#fd8d4e;
		 padding-top:57px;
		 margin-left:20px;}
.nethd a:hover{color:#57c556;}		 
.nethd h4{width:144px;font-size:24px;padding-top:50px;margin-right:96px;float:right;}		 
		 
.netbd{height:310px;}		 

.netbdleft{width:975px;
		   margin-right:24px;
		   height:310px;
		   position:relative;}	
.netbdright{width:240px;height:310px;}	 
.ps{width:240px;
	height:120px;
	position:relative;
	display:none;}		 
.ps .psopa{width:240px;
		   height:24px;
		   background:rgba(0,0,0,0.5);
		   position:absolute;left:0;bottom:0;
		   color:#fff;
		   line-height:24px;}		 
.ps .psopa p{width:140px;height:24px;text-align:center;}		 
.ps .psopa span{display:inline-block;
				width:64px;height:24px;
				background:url(../img/xiaoplay.png) no-repeat 18px 7px;
				padding-left:36px;}		 

.ts{width:240px;
	height:38px;
	background:#f1f1f1;
	line-height:34px;}		 
.ts p{width:140px;height:24px;text-align:center;}
.ts span{display:inline-block;
		 width:64px;
		 height:24px;
		 background:url(../img/xiaoplay2.jpg) no-repeat 18px 12px;
		 padding-left:36px;}		 
		 
.turnshow .ps{display:block;}
.turnshow .ts{display:none;}
.netbdleft i{display:inline-block;
			 width:45px;height:80px;
			 background:rgba(0,0,0,0.5);
			 line-height:80px;
			 text-align:center;
			 color:#fff;
			 font-size:35px;
			 cursor:pointer;}		
.netbdleft .i1{position:absolute;top:112px;left:0px;z-index:10;}
.netbdleft .i2{position:absolute;top:112px;right:0px;z-index:10;}


.netul .gifli{width:382px;
			  height:310px;
			  background:#fff;
			  position:relative;
			  margin-right:18px;
			  float:left;}
.netul .gifli .gifshaow{width:380px;
						height:35px;
						background:rgba(0,0,0,0.5);
						line-height:35px;
						text-align:center;
						position:absolute;
						left:0;bottom:63px;
						color:#fff;
						font-size:12px;}
.netul .gifli .gifshaow b{color:#ff4e19;font-size:13px;}
.netul .gifli p{height:14px;
				font-size:15px;
				color:#000;
				padding-top:15px;
				padding-left:10px;}
.netul .gifli span{height:33px;
					line-height:33px;
					font-size:11px;
					color:#999;
					padding-left:10px;}
.netul .greenshadow h5{font-size:14px;
						height:46px;
						line-height:46px;
						color:#fff;
						width:380px;}
.netul .greenshadow h6{width:124px;height:16px;}
.netul .greenshadow h6 b{display:inline-block;
						 width:16px;
						 height:16px;
						 background:url(../img/star.png) no-repeat 0 -34px;
						 margin-right:4px;}
.netul .greenshadow h6 i{display:inline-block;
						 width:16px;
						 height:16px;
						 background:url(../img/star.png) no-repeat 0 0;
						 margin-right:4px;}
.netul .greenshadow p{height:26px;line-height:26px;color:#ccc}

.netul .gifli .greenshadow{width:266px;
							height:248px;
							background:rgba(0,0,0,0.5);
							position:absolute;
							left:0;top:0;
							color:#87c556;
							padding-left:114px;
							display:none;}
.netul .gifli .greenshadow1{width:380px;
							height:62px;
							background:url(../img/toulan3.jpg) no-repeat;
							position:absolute;
							left:0;bottom:0px;
							display:none;}

.netul{margin-right:-19px;}
.netul li{width:180px;
		  height:310px;
		  margin-right:18px;
		  background:#fff;
		  float:left;
		  position:relative;}
.netul .common{width:180px;
			   height:35px;
			   background:rgba(0,0,0,0.5);
			   line-height:35px;
			   text-align:center;
			   position:absolute;
			   left:0;bottom:63px;
			   color:#fff;
			   font-size:12px;}
.netul .common b{color:#ff4e19;font-size:13px;}
.netul li p{height:14px;
			font-size:15px;
			color:#000;
			padding-top:15px;
			padding-left:10px;}
.netul li span{height:33px;
			   line-height:33px;
			   font-size:11px;
			   color:#999;
			   padding-left:10px;}

.netul li .commonshadow{width:180px;
						height:246px;
						background:rgba(0,0,0,0.5) url(../img/play_btn.png) no-repeat 65px 86px;
						position:absolute;left:0;top:0;display:none;}
.netul li .commonshadow1{width:180px;
						 height:62px;
						 background:url(../img/toulan4.jpg) no-repeat;
						 position:absolute;left:0;bottom:0px;
						 display:none;}
/*Forjs范爷组遮罩*/
.netul .gifli:hover .greenshadow{display:block;}
.netul .gifli:hover .greenshadow1{display:block;}
.netul li:hover .commonshadow{display:block;}
.netul li:hover .commonshadow1{display:block;}
#ul2{display:none;} 
/*Forjs范爷组遮罩*/




/*电视剧开始*/
.play{width:1240px;height:734px;margin:0 auto;}
.playhd{width:1240px;height:92px;}
.playhd h2{width:92px;height:47px;font-size:30px;padding-top:41px;}
.play p{width:240px;height:47px;font-size:22px;padding-top:47px;}
.playnav{margin-top:53px;}
.playnav li{width:53px;
			height:20px;
			line-height:20px;
			text-align:center;
			font-size:12px;
			color:#333;
			border-right:1px solid #ccc;
			float:left;}
.playnav .active{color:#fd8d4e;}
.more{display:inline-block;
		width:75px;
		height:20px;
		line-height:20px;
		font-size:12px;
		text-align:center;
		margin-top:53px;}
.more:hover{color:#fd8d4e;}
.playbd{height:640px;width:1240px;}
.playbdl{width:980px;height:640px;}
.playbdr{width:240px;height:640px;}
.bdul{margin-right:-20px;display:none;}
.bdul li{width:180px;
			height:309px;
			border-bottom:1px solid #ccc;
			background:#fff;
			float:left;
			margin-right:20px;
			margin-bottom:20px;
			position:relative;}
.score{width:170px;
		height:24px;
		background:rgba(0,0,0,0.5);
		color:#fff;
		font-size:12px;
		line-height:24px;
		padding-left:10px;
		position:absolute;
		left:0;bottom:64px;}
.score span{float:right;
			width:55px;
			height:24px;
			font-size:12px;
			color:#87c556;
			text-align:center;
			line-height:24px;}
.score span i{color:#f1f1f1;}
.name p{width:170px;
		height:13px;
		padding-top:15px;
		padding-left:10px;
		font-size:15px;
		color:#000;}
.name span{display:inline-block;
			width:170px;
			height:35px;
			line-height:35px;
			padding-left:10px;
			color:#999;}
.position{width:180px;
			height:309px;
			position:absolute;
			left:0;top:0;
			display:none;}
.zi{width:161px;
	height:246px;
	background:rgba(0,0,0,0.5);
	padding-left:19px;}
.tu{width:180px;
	height:63px;
	background:url(../img/greenplay.jpg) no-repeat;}
.zi h5{width:160px;
		height:66px;
		color:#fff;
		font-size:13px;
		padding-top:34px;}
.zi p{width:160px;
		height:27px;
		line-height:27px;
		color:#ccc;
		font-size:13px;
		padding:0px;}
/*For Js*/
.bdul .active .position{display:block;}
/*For Js*/
.dsj .wenzi{width:240px;
			height:24px;
			background:#eee;
			padding-top:10px;}

.dsj .wenzi i{display:inline-block;
				width:13px;
				height:13px;
				color:#F90;
				margin-left:10px;}
.dsj .wenzi b{display:inline-block;
				width:12px;height:10px;
				background:url(../img/t01f3aaf7cf737877f0.png) no-repeat;
				margin-left:94px;}
.dsj .wenzi span{display:inline-block;
					width:64px;
					color:#aaa;
					height:12px;
					font-size:12px;
					text-align:center;}
/*For Js*/
.dsj .tupian{width:240px;
				height:120px;
				background:url(../img/toulan6.jpg) no-repeat;
				display:none;
				cursor:pointer;}
.dsj .active .wenzi{display:none;}
.dsj .active .tupian{display:block;}
/*For Js*/
.shaxuan{width:240px;height:192px;}
.shaxuan h3{width:240px;
			height:68px;
			line-height:68px;
			font-size:24px;}
.shaxuan .sxn{width:240px;
				height:134px;
				background:#fff;
				padding-top:12px;}
.shaxuan .sxn p{height:28px;
				line-height:28px;
				font-size:12px;
				padding-top:0;
				margin-left:20px;}
.shaxuan .sxn p a:hover{color:#ff5d31;}

/*预告片*/
.ygp{width:1240px;height:223px;margin:0 auto;}
.ygphd{width:1240px;height:88px;}

.ygphd h2{width:145px;height:46px;padding-top:42px;font-size:24px;}
.ygphd p{width:240px;height:46px;padding-top:42px;font-size:24px;}
.ygpbd{width:1240px;height:135px;}
.ygpbd .tgpbdl{width:980px;height:135px;}
.ygpul {margin-right:-20px;}
.ygpul li{width:180px;
			height:135px;
			background:#fff;
			border-bottom:1px solid #ccc;
			margin-right:20px;
			position:relative;
			float:left;}
.ygpul li:hover{box-shadow:0 0 1px #f90}
.ygpul li i{display:inline-block;
			width:82px;
			height:20px;
			background:url(../img/yg.png) no-repeat;
			position:absolute;
			left:0;top:0;}
.ygpul li div{width:180px;
				height:22px;
				background:rgba(0,0,0,0.5);
				line-height:22px;
				text-align:center;
				color:#fff;
				font-size:12px;
				position:absolute;
				left:0;bottom:35px;}
.ygpul li p{width:180px;
			height:34px;
			line-height:34px;
			text-align:center;}
.tgpbdr{width:240px;
		height:135px;
		position:relative;}

.tgpbdr img:hover{box-shadow:0 0 1px #f90;}
.tgpbdr div{width:238px;
			height:22px;
			line-height:22px;
			text-align:center;
			color:#fff;
			background:rgba(0,0,0,0.5);
			position:absolute;
			left:0;bottom:36px;}
.tgpbdr p{width:240px;
		  height:13px;
		  color:#000;
		  font-size:15px;
		  font-weight:bold;
		  padding-top:22px;}
/*广告*/
.add1{width:1240px;
		height:121px;
		margin:0 auto;
		padding-top:43px;}		  
.addl{width:604px;
		height:94px;
		border:3px solid #c91521;
		position:relative;}		  
.addl a{display:inline-block;
		width:94px;
		height:94px;
		background:url(../img/add.png) no-repeat;}
.addul1{display:none;}		  
.addul1 li{width:255px;
			height:94px;
			float:left;
			background:#fff;}		  
.addul1 li img{float:left;}		  
.addul1 li .addbox{width:156px;height:94px;}  
.addul1 li .addbox b{height:19px;line-height:19px;color:#c91521;padidng-left:2px;}		  
.addul1 li .addbox i{height:27px;line-height:27px;color:#6a77b6;padidng-left:2px;margin-top:8px;}		  
.addul1 li .addbox p{height:34px;line-height:17px;}		  
.addul1 li .boxa{display:inline-block;width:100%;height:100%;}		  
.pointbox{width:5px;height:74px;position:absolute;top:20px;right:15px;}
.pointbox i{display:inline-block;
			width:5px;
			height:5px;
			background:#ccc;
			border-radius:50%;
			margin-bottom:15px;}		  
.pointbox .active{background:#e4393c;}		  
		  
		  
/*综艺*/
.zongyi{width:1240px;
		height:406px;
		margin:0 auto;}		  
.zongyihd{width:1240px;height:72px;}		  
.zongyihd h2{width:80px;
			 height:72px;
			 line-height:72px;
			 font-size:30px;
			 padding-top:0;}		  
.zongyihd p{width:240px;
			 height:72px;
			 line-height:72px;
			 font-size:30px;}		  
.zongyinav	li{float:left;
				width:56px;
				height:20px;
				border-right:1px solid #ccc;
				line-height:20px;
				text-align:center;
				margin-top:33px;}	  
.zongyinav	.active1{color:#f90;}		  
.bdl{width:380px;
	 height:333px;
	 border-bottom:1px solid #ccc;
	 position:relative;
	 background:#fff;
	 margin-right:20px;}		  
.opajx{width:354px;
		height:22px;
		position:absolute;
		left:0;bottom:77px;
		background:url(../img/xiaoplay.png) no-repeat 10px 7px rgba(0,0,0,0.5);
		color:#fff;
		line-height:22px;
		padding-left:26px;}		  
.bdl p{width:370px;
		height:69px;
		font-size:14px;
		line-height:26px;
		padding-left:10px;
		padding-top:10px;}
.bdl p:hover{color:#f90;}		  
.bdl p span{color:#888;font-size:12px;}		  
.opaplay{width:380px;
		 height:254px;
		 background:rgba(0,0,0,0.5)url(../img/play_btn.png) no-repeat 160px 86px;
		 position:absolute;
		 left:0;top:0;
		 display:none;
		 cursor:pointer;}		  
.bdl:hover .opaplay{display:block;}  
.bdmul li{width:180px;
			height:157px;
			margin-right:20px;
			margin-bottom:20px;
			float:left;
			position:relative;}		  
.bdmul{margin-right:-20px;margin-bottom:-30px;}		  
.bdm{width:580px;
	 height:334px;
	 overflow:hidden;}		  
.wzl{width:180px;
	 height:100px;
	 position:absolute;
	 left:0;top:0;
	 background:url(../img/play_btn.png) no-repeat 70px 20px rgba(0,0,0,0.5);
	 display:inline-block;
	 display:none;}		  
.bdmul li:hover .wzl{display:block;}		  
.bdr{width:240px;
	height:334px;}			  
.dby li .tu{width:240px;height:120px;display:none;}
.dby li .zi1{width:240px;height:34x;display:block;}		  
		  
.dby .active .tu{display:block;}		  
.dby .active .zi1{display:none;}			  
.bigzuo{width:1000px;height:335px;display:none;}		  
		  
.datehd{width:238px;
		height:32px;}
.dateul{margin-right:-10px;}	  
.dateul li{width:34px;
			height:32px;
			background:#eee;
			font-size:15px;
			line-height:32px;
			text-align:center;
			margin-right:1px;
			float:left;}		  
		  
.dateul .active{background:#fd8d4e;color:#fff;}

.datebd textarea{resize:none;
					width:203px;
					height:300px;
					border-left:1px solid #ccc;
					margin-left:38px;
					outline:none;
					background:#f4f4f4;
					display:none;}


.only{width:1240px;
	  height:504px;
	  margin:0 auto;
	  border:1px  solid #f4f4f4}
.onlyhd{width:1240px;
		height:94px;}
.onlyul{margin-left:32px;}
.onlyul li{padding:0 16px;
			border-right:1px solid #ccc;
			height:20px;
			float:left;
			margin-top:55px;
			line-height:20px}
/*ForJs*/
.onlyul .active{color:#f90;}
/*ForJs*/
.onlybd{width:1240px;
		height:410px;
		display:none;}
.obm{width:620px;
	 height:205px;}
	
.obl{width:205px;
	 height:410px;
	 position:relative;}
.obr{width: 412px;
 	height:410px;
	position:relative;}

.mtl{width:206px;
	 height:206px;
	 position:relative;}
.mtr{width:412px;
	 height:208px;
	 position:relative;}
.mbl{width:412px;
	 height:208px;
	 position:relative;}
.mbr{width:206px;
	 height:206px;
	 position:relative;}






.menv{width:100%;height:100%;background:rgba(0,0,0,0.5);position:absolute;left:0;top:0;display:none;}


.menv p{margin-top:36px;
		margin-left:30px;
		font-size:20px;
		color:#fff;
		line-height:40px;}
.menv p span{color:#f1f1f1;font-size:12px;}


.hopa:hover .menv{display:block;}



.foot{width:1240px;
		height:176px;
		margin:0 auto;}
.footul{width:415px;
		height:75px;
		margin:0 auto}
.footul li{padding:0 9px;
		  height:9px;
		  border-right:1px solid #666;
		  float:left;
		  margin-top:64px;}
.footul li:hover a{color:#f90;}
.foottxt{width:700px;margin:0 auto;}
.foottxt p{float:left;
			margin-top:16px;
			margin-right:30px;}
.lasth:hover a{color:#f90;}














