body, div, dl, dt, dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote，th,td{margin:0;padding:0;}
table{border-collapse:collapse;border-spacing:0;}
fieldset,img {border:0;}
address,caption, cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal;}
ol,ul,li{list-style:none;}
capation,th{text-align:left;}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}
i{font-style: normal}
q:before, q:after{content:' '}
abbr,acronym{border:0;}
a{text-decoration: none; color: #666;}
a:visited {outline: none;} 
a:link {outline: none;}
a:hover {text-decoration:none !important;}
.clearfix{*zoom:1;}
.clearfix:before,.clearfix:after{display:table; line-height:0; content:"";}
.clearfix:after{clear:both;}
.clearfix li a{ color:#FFF;}
.clearfix .list_icon p a{ color:#FF8A00;}
.clearfix .list_icon p a:hover{ border-bottom:1px solid #FF8A00;}
.fl{float:left;}
.fr{float:right;}
.w1200{width: 1200px; margin: 0 auto;}
/*重置苹果手机的样式*/
input[type="button"], input[type="submit"], input[type="reset"],input {
  -webkit-appearance: none;
}
textarea {  -webkit-appearance: none;}
button{ border-radius: 0; }
