@charset "utf-8";
/* CSS Document */
*{padding:0px; margin:0px;}
a {text-decoration:none; color: #000;}
a:hover{color: #c61d2d;}
li{ list-style:none;}
body{ font-size:12px; font-family:"微软雅黑"; background-position:center top; background-color:#fff;}
h1,h2,h3,h4,h5,h6{font-weight: 100;}


/*关于我们*/
.ziye_tu_bj{width: 100%; height: 260px; position: relative; margin: 80px 0 0 0; float: left;overflow:hidden;}
.ziye_tu_bj .zyt{width: 1920px; position: relative;left: 50%;margin-left: -960px;}
.ziye_tu_nr{width: 1200px; position: relative; margin:0 auto;top: -160px; text-align: center;color: #fff;}
.ziye_tu_nr span{margin-left: 10px; font-size: 18px;}
.ziye_tu_nr p{padding-top: 15px; font-size: 14px; font-family: "黑体"; margin: auto;}
.ziye_tu_nr p img{margin-right: 8px;}
.ziye_tu_nr p a{color: #fff;}

.ziye_ej_b{width: 100%; background: #2c2e2d; border-bottom: solid 2px #e32235; float: left;height: 50px; margin-bottom: 10px; }
.ziye_ejjz{width: 1200px; margin:0 auto; height: 50px; text-align: center;}
.ziyehdh_dq{background: #e32235;}
.ziye_ejjz li{width: 117px;height: 42px;float: left;margin: 8px 0 0 0;  border-radius: 5px 5px 0 0; }
.ziye_ejjz li a{line-height: 42px;font-size: 14px;color: #fff; }
.ziye_ejjz i{width: 1px;height: 20px;background: #a1a1a1; float: left; margin: 20px 0 0 0;}

.ksj_jianjie{width: 100%; float:left; }
.ksj_jianjie_z{width: 1200px; margin:0 auto; padding: 10px 0 40px 0; overflow:auto;}
.jianjie_kuang h1{text-align: center; border-bottom: dashed 1px #898989;  padding-bottom: 18px; margin-bottom: 28px; color: #e32235; }
.jianjie_kuang p{font-size: 14px; font-family: "宋体"; text-align: justify; line-height: 30px; text-indent: 2em;}
.jianjie_kuang img{float: right; padding: 18px;}

/*主播*/
.ziyelieb{overflow: auto; }
.ziyelieb li{margin:10px; width: 380px; height: 260px;}
.ziyelieb .bofang_anniu,.xiangqing{ width: 120px;height: 40px; background: rgba(227,34,53,.8); float: left; border-radius: 5px; margin: 130px 15px 0 85px;
     transform: rotate(-4deg);     
    -o-transform: rotate(-4deg);
    -webkit-transform: rotate(-4deg); text-align: center;  line-height: 40px;}
.ziyelieb .xiangqing{ background: rgba(255,255,255,.8);  margin: 120px 0 0 0;}
.ziyelieb .bofang_anniu a{color: #fff; font-size: 14px;display: block;}
.ziyelieb .bofang_anniu a:hover{color: #000;}
.ziyelieb .xiangqing a{color: #000;font-size: 14px;display: block;}
.ziyelieb .xiangqing a:hover{color: #e32235;}
.active_list li .zb_bt_a_z{display: block;}
.active_list li:hover .zb_bt_a_z{display: none;}

.yema{ text-align: center;  margin: 40px 0 20px 0;}
.yema a{padding: 6px 12px; border:solid 1px #c5c5c5; font-size: 14px;margin: 4px; }
.dangyangye{background:#e32235;color: #fff; }

.zhubo_zs_s{height: 400px; border-bottom:dashed 1px #777777; padding: 30px 0 0 0; }
.zhubo_zs_x{width: 625px; float: right;}
.zhubo_zs_x h1{color: #2d2d2d;margin-bottom: 20px;}
.zhubo_zs_x p{font-size: 16px;color:#322f2f;line-height: 35px; margin: 0; }
.zhubo_grnj{text-align: justify; font-family: "宋体"; padding: 30px 0 0 0;line-height: 28px; font-size: 14px; text-indent: 2em;}
.zhubo_grnj h1{font-family: "微软雅黑"; margin-bottom: 15px;}
.zhubo_xc{padding: 30px 0 0 0;}


/*在线招募*/
.ybmb{width: 860px; border: solid 1px #636363;border-collapse: collapse; float: left;}
.ybmb td{border: solid 1px #636363;}
.ybmb_bt{color: #df3834; text-shadow: 1px 1px 1px #383838; font-size: 36px; padding: 40px 0;}
.ybmb .b1{height: 50px; width: 140px;background: #dedede; text-align: center; font-size: 18px;  letter-spacing: 3px;}
.ybmb .b2{width: 290px; padding: 8px;font-size: 18px; }
.ybmb .b3{height: 190px;background: #dedede; font-size: 18px; padding-left: 50px;}
.ybmb .b2 input {
    width: 250px;
    height: 30px;
    padding-left: 5px; font-size: 18px; outline: none;
    border: #ccc 0px solid;}


.ybmb .b2 textarea {
    width: 660px;
    height: 160px; font-size: 18px;
    border: #ccc 0px solid;
    outline: none;
}

.messsub {
    padding:60px 0 60px 300px; float: left;
}
.messsub input {
    width: 100px;
    height: 40px;
    color:#fff;
    background: #9a9a9a;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
    margin-right: 10px; outline: none;}



.ztmd_sb{width: 320px;  float: right;margin: 120px 0 0 0; font-size: 18px;}
.ztmd_sb p{font-size: 14px; font-family: "宋体"; padding-top: 10px; line-height: 30px;}
.ztmd_sb p a{color: #da0505;}
.ztmd_sb p a:hover{text-decoration: underline;}
.ztmd_sb p span{color:#da0505; }


/*新闻*/

.ziye_xw{width: 100%; overflow: auto; padding: 20px 0; border-bottom: dashed 1px #c2c2c2;}
.ziye_xw li{width: 575px; float: left;margin: 12px;}
.ziye_xw li .ziye_xwt{float: left; width: 181px; height: 119px;}
.ziye_xw li .ziye_xwt img{width: 100%; height: 100%;}
.ziye_xw li .zy_xw_z{width: 373px; float: right;}
.ziye_xw li .zy_xw_z h2{overflow: hidden; white-space: nowrap; text-overflow: ellipsis; margin-bottom: 8px;}

.ziye_xw li .zy_xw_z p{line-height: 20px; margin:5px 0;}
.ziye_xw li .zy_xw_z .ckxq{color: #e32235; text-decoration: underline;}

.xw_xqy{text-align: center;}
.xw_xqy_bt{border-bottom: dashed 1px #bbbbbb; padding: 20px 0;}
.xw_xqy_bt span{line-height: 25px;}

.xw_xq_nr{ text-align: justify; padding: 20px 0;}
.xw_xq_nr p{text-indent: 2em; line-height: 25px; font-family: "宋体"; font-size: 14px; }
.xw_xq_nr .xw_xq_t{padding: 10px;  text-align: center;}
.sxt{padding: 10px 0; }
.sxt a{display: block;}



/*联系我们*/
.lianxi_wm{width: 40%; float: left; margin: 30px 0 0 0;}
.lianxi_wm h1{padding: 20px 0;}
.lianxi_wm p{padding: 10px 0; font-size: 14px; color: #575757;}
.bd_dt{height: 301px;width: 657px; float: right; border:solid 1px #aeaeae; margin: 50px 0 0 0;}
.my-map { margin: 0 auto; width: 657px; height: 301px; }
.amap-container{height: 100%;}
