/*当前位置*/
.position{
	background: #f7f7f7;
	height: 40px;
	line-height: 40px;
	color: #5a5b5b;
}
.position a{
	text-decoration: none;
	color: #5a5b5b;
}
.position a:hover{
	color: #B01818;
}
/*导航*/
.nav-div{
	overflow: hidden;
	position: absolute;
	z-index: 100;
	margin-top:-75px;
}
.nav-div ul{
	width:1280px;
	overflow: hidden;
	background: url(../img/detail/nav_bg1.png) no-repeat center top;
	background-size: 100% 100%;
}
.nav-div ul li{
	float: left;
	height: 58px;
	line-height: 58px;
	/*padding: 0px 30px;*/
	color: #3F3F3F;
	font-size: 18px;
	width: 130px;
    text-align: center;
}
.nav-div ul li.active,.nav-div ul li.first:hover{
	color: #FFFFFF;
	font-size: 24px;
	font-weight: bold;
	background: url(../img/detail/nav_bg.png) no-repeat center top;
	background-size:100% 100%;
}
.nav-div ul li:hover,.nav-div ul li.active1{
	color: #FFFFFF;
	font-size: 24px;
	font-weight: bold;
	background: url(../img/detail/nav_bg_.png) center top;
	background-repeat-x:inherit;
	background-repeat-y: none;
	background-size:100% 100%;
}
.c666{
	color: #666666;
}
.banner img{
	width: 100%;
}
/*全景看房*/
.panoramic-view .view-con{
	width: 650px;
	padding-top: 20px;
}
.panoramic-view{
	height: 530px;
	overflow: hidden;
	/*margin-bottom: 20px;*/
}
.view-con .con-div1{
	border-bottom: 1px solid #dddddc;
	height: 63px;
	overflow: hidden;
}
.view-con .con-div1 .tit-time{
	margin-left: 10px;
	margin-top: 5px;
}
.tit-time span.title{
	font-size: 24px;
	color: 030000;
	display: block;
}
.tit-time span.time{
	color: #696969;
	font-size: 14px;
}
.view-con .con-div1 .operate{
	margin-top: 35px;
}
.view-con .con-div1 .operate span{
	margin-left: 20px;
	color: #2d2e2e;
	font-size: 14px;
}
.view-con .con-div1 .operate span img{
	margin-right: 5px;
	margin-bottom: -3px;
}
.view-con .con-div2{
	margin: 5px 0 20px 0;
}
.view-con .con-div2 .price-div{
	color: #2d2e2e;
	font-size: 18px;
	margin-bottom: 3px;
}
.view-con .con-div2 .price-div>span{
	display: inline-block;
	margin-right: 93px;
}
.view-con .con-div2 .price-div>span.last{
	margin-right: 0;
}
.ca71f24{
	color: #a71f24;
}
.view-con .con-div2>span{
	color: #a71f24;
	border: 1px solid #a71f24;
	border-radius: 3px;
	padding: 0px 3px;
	font-size: 14px;
}
.view-con .con-div3{
	border: 1px solid #A71F24;
	padding: 10px;
}
.view-con .con-div3 ul li{
	overflow: hidden;
	padding: 7px 0;
	border-bottom: 1px solid #DDDDDC;
	color: #2d2e2e;
}
.first-li img{
	margin-right: 5px;
	margin-bottom: -3px;
}
.view-con .con-div3 ul li span.s1{
	width: 30%;
}
.view-con .con-div3 ul li span.s2{
	width: 50%;
}
.view-con .con-div3 ul li.li-last{
	border-bottom: 0;
}
.view-con .con-div3 ul li.li-last span.s1{
	width: 80%;
}
.view-con .con-div3 ul li.li-last span.s2{
	width: 19%;
	text-align: center;
	margin-top:1.7%;
	border-left: 1px solid #aaa9a9;
}
.view-con .con-div3 ul li.li-last span.s2 img{
	margin-right: 5px;
	margin-bottom: -3px;
}
.view-con .con-div3 ul li.li-last span.s2 a{
	color: #A71F24;
}
.con-div4{
	overflow: hidden;
	margin: 30px 0 18px 0;
}
.con-div4 .phone{
	margin-bottom: -3px;
}
.con-div4 strong{
	font-size: 24px;
}
.con-div4 a{
	background: url(../img/detail/btn_bg.png) no-repeat center center;
	background-size: 100% 100%;
	color: #FFFFFF;
	width: 107px;
	height: 35px;
	text-align: center;
	line-height: 30px;
	font-size: 18px;
}
.con-div5 a{
	background: url(../img/detail/online_bg.png) no-repeat center center;
	background-size: 100% 100%;
	color: #FFFFFF;
	width:653px;
	height: 45px;
	line-height: 40px;
	text-align: center;
	display: block;
}
.con-div5 img{
	margin-bottom: -10px;
	margin-right: 7px;
}
/*左侧*/
.other-type-box{
	overflow: hidden;
}
.other-type-box>.fl{
	width: 872px;
}
.other-type-box>.fl>div{
	overflow: hidden;
	margin: 5px 0 0 5px;
	padding: 20px;
	border-radius: 7px;
	border: 1px solid #ecd4c7;
	box-shadow: 0px 0px 5px 2px #ecd4c7;
	margin-bottom: 20px;
}
/*项目介绍*/
.project-intro .intro-text{
	color: #323333;
}
.project-intro .traffic{
	margin-top: 20px;
}
.imgDiv{
	padding-bottom: 5px;
	border-bottom:1px solid #A71F24;
	margin-bottom: 10px;
}

/*户型*/
.house-type .imgDiv{
	overflow: hidden;
}
.house-type .imgDiv a{
	/*display: block;*/
	/*margin-bottom: -20px;*/
	line-height: 50px;
	color:#A71F24;
}
/*项目详情*/
.project-detail table{
	width: 100%;
}
.project-detail table tr td{
	border-bottom: 1px dashed #A71F24;
	height: 40px;
	line-height: 40px;
	padding-left:10px;
	color: #030000;
}
.tr1{background-color:#fbe0e1;}
.tr2{background-color:#fff;}
.td1{border-left: 1px dashed #A71F24;}

/*周边设施*/
.other-type-box>.fl>div.around-facilities{
	position: relative;
	overflow: inherit;
	/*width: 1105px;*/
}
.around-facilities>.imgDiv{
	width: 824px;
}
.icon-div{
	width:80px;
	left: 755px;
	position: absolute;
	top: 160px;
}
.icon-div>ul>li{
	padding: 5px 0;
	text-align: center;
	height: 77px;
}
.icon-div ul li a>img{
	width: 66px;
	height: 66px;
}
.transit{
	display: none;
	position: absolute;
    left: 105px;
    top: -90px;
    width: 300px;
    height: 465px;
	margin: 5px 0 0 5px;
	padding: 20px 0 20px 20px;
	border-radius: 7px;
	border: 1px solid #ecd4c7;
	box-shadow: 0px 0px 5px 2px #ecd4c7;
	
}
.transit .imgDiv{
	color: #3f85c7;
	font-weight: bold;
	font-size: 25px;
	width: 280px;
	text-align: left;
}
.transit ul{
	margin-top: 20px;
	overflow-y: auto;
	height: 400px;
	padding-right: 15px;
}
.transit ul li{
	color: #AEAEAD;
	border-bottom: 1px dashed #E0E0E0;
	padding: 10px 0;
	overflow: hidden;
}
.toImg{
	position: relative;
	left: 50px;
	top: -60px;
	display: none;
}
.transit .lt{
	overflow: hidden;
	font-size: 14px;
}
.transit .lt>.fl{
	color: #545454;
}
.transit .lt img{
	margin-right: 6px;
}
.transit ul li>span{
	display: block;
	margin-left: 18px;
	font-size: 12px;
	text-align: left;
}
/*项目资讯*/
.project-info .imgDiv{
	overflow: hidden;	
}
.project-info .imgDiv a{
	line-height: 50px;
	color:#A71F24;
}
.info-list ul li{
	overflow: hidden;
	padding: 15px 0;
	height: 111px;
	border-bottom: 1px dashed #A71F24;
}
.info-list ul li .imgDiv1{
	width:175px;
	height: 111px;
	margin-right: 10px;
	overflow: hidden;
	cursor: pointer;
}
.info-list ul li img{
	transition: all 0.6s;
	-moz-transition:all 0.6s;
	-webkit-transition:all 0.6s;
	-o-transition: all 0.6s;
	border: 0;
}
.info-list ul li img:hover{
  transform: scale(1.1);
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -o-transform: scale(1.1);
}
.info-list ul li .info-text a{
	font-size: 24px;
	text-decoration: underline;
}
.info-list ul li .info-text{
	color: #6f6f6f;
}
.info-list ul li .info-text p{
	line-height: 24px;
	height: 52px;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	overflow: hidden;
	margin-top: 10px;
}
/*推荐*/
.recommend .imgDiv,.recommend .imgDiv>ul{
	overflow: hidden;
}
.recommend .imgDiv>ul>li{
	float: left;
	margin-right: 20px;
	color: #626363;
	font-size: 24px;
	margin-top: 0px;
	line-height: 45px;
	cursor: pointer;
}
.tab-list2{
	display: none;
}
.recommend .imgDiv a{
	line-height: 50px;
	color:#A71F24;
}
.imgDiv span>span{
	color: #626363;
	font-size: 24px;
	display: inline-block;
	position: absolute;
	margin-top: 0px;
	line-height: 45px;
	margin-left: 20px;
	cursor: pointer;
}
.recommend-list{
	width: 1085px;
}
.recommend-list ul li{
	float: left;
	width: 263px;
	height: 290px;
	margin-right: 18px;
	margin-bottom: 5px;
}
.recommend-list ul a:last-child li{
	margin-right: 0;
}
.recommend-list ul li .imgDiv2{
	width: 263px;
	height: 190px;
 	overflow: hidden;
}
.recommend-list ul li img{
	transition: all 0.6s;
	-moz-transition:all 0.6s;
	-webkit-transition:all 0.6s;
	-o-transition: all 0.6s;
	border: 0;
}
.recommend-list ul li img:hover{
  transform: scale(1.1);
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -o-transform: scale(1.1);
}
.xf-div{
	position: absolute;
	margin-top: -190px;
	margin-left:0;
}
.xf-div img:hover{
  transform: scale(1);
  -moz-transform: scale(1);
  -webkit-transform: scale(1);
  -o-transform: scale(1);
}
.text .focus-name{
	overflow: hidden;
	margin: 4px 0;
}
.text .focus-name .name{
	font-weight: bold;
	font-size: 18px;
	color: #545454;
}
.text .focus-name .area{
	color: #808080;
	font-size: 16px;
}
.cb31a1a{
	color: #b31a1a;
	display: block;
	font-weight: bold;
}
.focus-info .addr{
	color: #808080;
	font-size: 16px;
}
.focus-type{
	margin-top: 3px;
}
.focus-type span{
	color: #b01818;
	border: 1px solid #b01818;
	margin-right: 10px;
	padding: 0px 5px;
	border-radius: 5px;
	font-size: 14px;
}
/*广告*/
.other-type-box>.fl>div.advent{
	border:0;
	box-shadow: none;
	padding: 0;
	margin: 0 3px;
	width: 100%;
}
/*vip-订阅信息*/
.other-type-box>.fl>div.vip-orderInfo{
	border: 0;
	box-shadow: none;
	padding: 0;
	margin: 0;
}
.vip-orderInfo .vip-box{
	margin: 15px 0 5px 5px;
	padding: 20px;
	border-radius: 7px;
	border: 1px solid #ecd4c7;
	box-shadow: 0px 0px 5px 2px #ecd4c7;
	width: 420px;
}
.vip-orderInfo .order-info{
	margin: 15px 5px 20px 5px;
	padding: 20px;
	border-radius: 7px;
	border: 1px solid #ecd4c7;
	box-shadow: 0px 0px 5px 2px #ecd4c7;
	width: 330px;
}
.vip-box .vip-con{
	width: 300px;
	margin:0 auto;
}
.vip-con .vip-list{
	background: url(../img/detail/diamond.png) no-repeat center center;
	text-align: center;
}
.vip-con .vip-list ul{
	padding:40px 0 10px 0;
}
.vip-con .vip-list ul li{
	padding:5px 0;
	color: #414041;
}
.vip-list>span{
	color: #b0b0b0;
	font-size: 14px;
}
.enter{
	width: 212px;
    position: relative;
    padding-top: 4%;
    padding-right: 0px;
    margin: 0 auto;
}
.enter .input-box{
	margin: 15px 0;
	text-align: left;
}
.enter .input-box input{
	width:190px;
	height: 30px;
	border: 0px;
	padding: 0 10px;
	border-radius: 5px;
	font-size: 16px;
	/*margin-right:5px;*/
	outline: none;
	border: 1px solid #9a9797;
}
.enter .input-box1 input{
	width: 85px;
	border: 1px solid #9a9797;
}
.enter .input-box1 span{
	color: #000;
}
input::-webkit-input-placeholder{ /*WebKit browsers*/
	color: #9a9797;
	font-size: 16px;
}

input::-moz-input-placeholder{ /*Mozilla Firefox*/
	color: #9a9797;
	font-size: 16px;
}
input::-ms-input-placeholder{ /*Internet Explorer*/ 
	color: #9a9797;
	font-size: 16px;
}

.getbtn{
	background: #ececec;
	width: 98px;
	height: 30px;
	line-height: 30px;
	display: inline-block;
	text-align: center;
	position: relative;
	text-decoration: none;
	color: #666464;	
	font-size: 16px;
	border-radius: 4px;
	border: 1px solid #b5b5b4;
}
.enter .input-box input.enterBtn{
	text-align: center;
	background: #A71F24;
	color: #FFFFFF;
	width:212px;
	height: 32px;
	line-height: 28px;
	border-radius: 4px;
	display: block;
	margin: 20px auto;
	font-size: 17px;
	cursor: pointer;
	border: 0;
	outline: none;
}
/*订阅信息*/
.order-box{
	width: 200px;
	margin: 0 auto;
	text-align: center;
}
.checkbox-list{
	background: url(../img/detail/notice.png) no-repeat center top;
	height: 190px;
	margin-top: 40px;
	border-bottom: 1px solid #c9c9c9;
	padding-bottom: 45px;
}
.checkbox-list .input-box{
	height: 50px;
	line-height: 50px;
	text-align: center;
	font-size: 17px;
	font-weight: bold;
	color: #323333;
}
input[type=checkbox] {
  zoom: 170%;
  vertical-align:middle;
   margin-top:0;
   margin-right: 10px;
}
.order-btn{
	text-align: center;
	background: #A71F24;
	color: #FFFFFF;
	width:165px;
	height: 33px;
	line-height: 28px;
	border-radius: 4px;
	display: block;
	margin: 20px auto;
	font-size: 17px;
	margin-top: 52px;
	border: 0;
	cursor: pointer;
	outline: none;
}
.order-box>form>span{
	color: #b0b0b0;
	font-size: 14px;
}
/*用户点评*/
.user-review .imgDiv a{
	line-height: 50px;
	color:#A71F24;
}
.grade-box>div{
	height: 30px;
	line-height: 30px;
}
.grade-box>div>span{
	color: #A71F24;
	font-size: 24px;
	font-weight: bold;
	display: inline-block;
	position: relative;
	top: -4px;
}
.grade-box{
	overflow: hidden;
}
.grade-box>ul>li{
	float: left;
	padding:10px 20px 0 0;
	color: #646464;
}
.grade-box>a{
	background: #A71F24;
	color: #FFFFFF;
	height: 30px;
	line-height: 30px;
	width:120px;
	text-align: center;
	border-radius: 4px;
	font-size: 17px;
}
.order-evaluation{
	display: inline-block;
	height: 30px;
}
.order-evaluation ul li{
	cursor: pointer;
}
.comment-list{
	margin-top: 20px;
}
.comment-list ul li{
	padding: 20px 0;
	border-top: 1px dashed #A71F24;
	color: #636464;
	overflow: hidden;
	line-height: 24px;
	height: 90px;
}
.comment-list ul li>img{
	margin-right: 20px;
}
.comment-list ul li .text {
	width: 550px;
	padding-top: 10px;
}
.comment-list ul li .text p{
	margin-bottom: 10px;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	overflow: hidden;
}
.comment-list ul li .text span{
	font-size: 14px;
	color: #AEAEAD;
}
.comment-list ul li>.fr{
	height: 134px;
	margin-top: 66px;
}
.comment-list ul li>.fr img{
	margin-right: 5px;
	margin-bottom: -3px;
}
.comment-list ul li>.fr span{
	margin-right: 10px;
}
/*底部*/
.footer ul{
overflow: hidden;
}
.footer{
	margin-top: 20px;
	background: #2a2a2a;
	color: #fff;
	padding-top: 30px;
	padding-bottom: 50px;
	font-size: 14px;
}
.footer a{
	text-decoration: none;
	color: #fff;
}
.footer a:hover{
	color: #B01818;
}
.footer .wrap>a{
	filter:alpha(opacity=80);
	opacity:0.8;
}
.footer hr{
	height:2px;
	border:none;
	border-top:1px solid #575757;
}

.footer ul li{
	padding: 10px 30px 10px 0;
	float: left;
	color: #fff;
	font-size: 14px;
	filter:alpha(opacity=80);
	opacity:0.8;
}
.footerNum,.free{
	filter:alpha(opacity=80);
	opacity:0.8;
}
.free{
    margin-top: 5px;
}
.hr2{
	margin-bottom: 10px;
}

/*全景图*/
.w3cFocus{ width:100%; position:relative;  height:500px; padding:10px 0 0 0;}
.w3cFocus .prev,.w3cFocus .next{ position:absolute;  display:block;top:160px; width:40px; height:80px;}
.w3cFocus .prev{ left:auto; left:10px; background-position:-46px 0; background: url(../img/detail/left_icon.png) no-repeat;}
.w3cFocus .next{ left:auto; right:20px; background-position:-46px 0; background: url(../img/detail/right_icon.png) no-repeat;}
.w3cFocus .prev:hover{background: url(../img/detail/left_icon_.png) no-repeat;}
.w3cFocus .next:hover{background: url(../img/detail/right_icon_.png) no-repeat;}
.w3cFocus .prev:hover,.w3cFocus .next:hover{ filter:alpha(opacity=100) !important;opacity:1 !important;  }
.w3cFocusIn{ width:610px; height:500px; position:relative;  margin:0 auto;  overflow:hidden;  }
.w3cFocusIn .bd {margin-bottom: 10px;}
.w3cFocusIn .bd li{ vertical-align:middle; }
.w3cFocusIn .bd li img{ width:599px; height:400px; display:block;box-shadow:0px 0px 3px 3px #ecd4c7;margin: 5px;}

.w3cFocusIn .hd{ position: absolute; right:6px;width: 97.8%;height:84px;border: 1px solid #A71F24;}
.w3cFocusIn .hd ul{ vertical-align:middle; display:inline-block; *display:inline; overflow:hidden; zoom:1; }
.w3cFocusIn .hd ul li{position:relative; float:left; display:inline; margin:5px 4.1px;cursor:pointer;  }
.w3cFocusIn .hd ul li img{ width:111px; height:73px; display:block;  }
.w3cFocusIn .hd ul li.on .imgbg{display: none;}
.w3cFocusIn .hd ul li.on .text{display: none;}
.w3cFocusIn .hd ul li .imgbg{background: #000;filter:alpha(opacity=60);opacity:0.6;width: 111px;height: 73px;position: absolute;z-index: 100;top:0;}
.w3cFocusIn .hd ul li .text{color: #FFFFFF;position: absolute;z-index: 100;width: 111px;height: 73px;top:0;line-height:73px;text-align: center;font-weight: bold;font-size: 18px;}

/*单图滚动*/
.ladyScroll{width:827px;height:250px;margin:15px auto;position:relative;}
.ladyScroll .prev,.ladyScroll .next{width:25px;height:53px;position:absolute;top:210px;left:0;z-index:100; cursor:pointer;}
.ladyScroll .next{ left:auto; right:10px; top:90px;background:url(../img/detail/ricon.png) no-repeat;}
.ladyScroll .prev{ left:10px; right:auto; top:90px;background:url(../img/detail/licon.png) no-repeat;}

.ladyScroll .scrollWrap{width:825px;padding-top:15px;overflow:hidden;position:absolute;}
.ladyScroll dl{float:left;width:200px;height:250px;text-align:center;position:relative;margin-right:20px;}
.ladyScroll  span{display:block;width:200px;height:40px;position:absolute;left:2px;bottom:-10px;}
.ladyScroll  dt{border: 1px solid #DDDDDC; padding: 1px;margin:0 auto;width:200px;height:201px;line-height:201px;overflow:hidden;}
.ladyScroll  img{width:200px;height:auto;display: inline-block; vertical-align: middle;}
.ladyScroll  dd{width:200px;height:40px;line-height:20px;font-size:20px;color:#fff;text-align:center;overflow:hidden;position:absolute;left:0px;bottom:-10px;}
.ladyScroll  dd a{ color:#4E4D4D; font-size: 14px; }
.ladyScroll  dd a:hover{ text-decoration:none;}
.ladyScroll  dt:hover{border:1px solid #A71F24;}

/* 右侧 计算器 */
.right-bottom{
	margin:10px auto;
	margin-right: 5px;
	border-radius: 7px;
	border: 1px solid #ecd4c7;
	box-shadow: 0px 0px 5px 2px #ecd4c7;
}
.calculator{ width:380px;}
.calculator .hd{ overflow:hidden;}
.calculator .hd li{ position:relative; height:43px; line-height:43px; text-align:center; width:188px; float:left; border-bottom:1px solid #ddd; border-top:0;
	font:14px/37px "Microsoft YaHei"; _font-weight:bold; cursor:default; }
.calculator .hd li.on{ width:187px; background:#fff;border-bottom:0;color:#A71F24; border-top:4px solid #A71F24;font-weight: bold;height:39px; line-height:39px;}
.calculator .hd li.tab1.on{border-right:1px solid #A71F24 ;}
.calculator .hd li.tab2.on{border-left:1px solid #A71F24 ; }

.calculator .bd{ height:auto; borde:0;padding:20px 25px;}
.calculator .lh{ overflow:hidden;}
.calculator .lh li{ width:156px; padding:0 10px; float:left;    }
.calculator .lh li .p-img{ width:130px; height:132px; padding:30px 13px 0 13px; margin:0 auto; text-align:center;   }
.calculator .lh li .p-name{ height:36px; line-height:18px;  word-break:break-all; word-wrap: break-word; overflow:hidden;   }
.calculator .lh li .p-price{ color:#999;  }
.calculator .lh li .p-price strong{ color:#c00; font-size:14px; font-family: verdana; }

.calculator .lh table{
	width: 100%;
	font-size: 16px;
}
.calculator .lh table td{
	line-height: 40px;
}
.calculator .lh table td.name{
	width: 30%;
	color: #1b527c;
}
.calculator .lh table td select{
	height: 33px;
	line-height: 33px;
	width: 90%;
	border-radius: 5px;
	font-size: 14px;
	outline: none;
	color: #767580;
}
.calculator .lh table td input{
	height: 33px;
	line-height: 33px;
	width: 70%;
	border-radius: 5px;
	font-size: 14px;
	outline: none;
	border: 1px solid #b8b8b8;
	padding: 0 40px 0 5px;
	color: #767580;
}
.calculator table td span.danwei{
	position:absolute;
	margin-left: -40px;
	color: #767580;
	font-size: 14px;
}
.calculator table td span.danwei1{
	position:absolute;
	margin-left: -70px;
	color: #767580;
	font-size: 14px;
}
.calculator table td span.danwei2{
	position:absolute;
	margin-left: -50px;
	color: #767580;
	font-size: 14px;
}
.calculator table td span.danwei3{
	position:absolute;
	margin-left: -35px;
	color: #767580;
	font-size: 14px;
}
input::-webkit-input-placeholder{ /*WebKit browsers*/
	color: #767580;
	font-size: 14px;
}

input::-moz-input-placeholder{ /*Mozilla Firefox*/
	color: #767580;
	font-size: 14px;
}
input::-ms-input-placeholder{ /*Internet Explorer*/ 
	color: #767580;
	font-size: 14px;
}
.calculator .lh table td input.but1{
	width: 40%;
	border: 0;
	color: #FFFFFF;
    padding: 0px;
    margin-right: 20px;
    background: url(../img/detail/btn_bg.png) no-repeat center center;
    background-size: 100% 100%;
    font-size: 16px;
    line-height: 10px;
    cursor: pointer;
}
.calculator .lh table td .reset{
	color: #2675bc;
	font-size: 14px;
}
.calculator .lh .result-div{
	border-top: 1px dashed #A71F24;
	margin: 10px 0;
}
.result-div .month-repayment {
	padding: 10px 0 5px 0;
	overflow: hidden;
	border-bottom: 1px solid #dededf;
}
.result-div .month-repayment input{
	border: 0;
	/*width: 10%;*/
	max-width:42px;
	min-width: 30px;
    text-align: center;
    color: #767580;
}
.month-repayment .title{
	color: #A71F24;
	font-size: 18px;
}
.month-repayment .price{
	font-size: 24px;
	color: #A71F24;
	line-height: 40px;
}
.month-repayment>.fr{
	width: 185px;
}
.month-repayment .price>input{
	font-size: 30px;
	color: #A71F24;
	line-height: 40px;
	max-width: 150px;
    min-width: 50px;
    text-align: right;
}
.month-repayment .price textarea{
	font-size: 18px;
    border: 0;
    height: 48px;
    text-align: right;
    padding-right: 10px;
    color: #A71F24;
    outline: none;
}
.sydkll-div,.gjjdkll-div{
	font-size: 14px;
}
.calculator .other-money{
	overflow: hidden;
}
.calculator .other-money>ul>li{
	width: 92%;
	padding:0;
	height: 40px;
	line-height: 40px;
}
.calculator .other-money>ul>li input{
	max-width: 100px;
    min-width: 50px;
	border: 0;
	font-size: 16px;
	color: #A71F24;
    /*text-align: right;*/
    margin-right: 3px;
    margin-left: 3px;
}
.calculator .reminder{
	color: #a71f24;
	font-size: 12px;
	filter:alpha(opacity=70);
	opacity:0.7;
	margin: 10px auto;
}
.calculator .reminder img{
	margin-bottom: -3px;
}
td.name.lesp{
	letter-spacing: 33px;
}
td.name.lesp1{
	letter-spacing: 8px;
}
/*税费计算器*/
.calculator .lh table.taxation td.name{
	letter-spacing: 33px;
}
.calculator .lh table.taxation td input{
	height: 33px;
    line-height: 33px;
    width: 40%;
    border-radius: 5px;
    font-size: 14px;
    outline: none;
    border: 1px solid #b8b8b8;
    padding: 0 40px 0 5px;
    color: #767580;
    margin-right: 5px;
}
.calculator .lh table.taxation td input.but1{
	width: 40%;
	border: 0;
	color: #FFFFFF;
    padding: 0px;
    margin-right: 20px;
    background: url(../img/detail/btn_bg.png) no-repeat center center;
    background-size: 100% 100%;
    font-size: 16px;
    line-height: 10px;
    cursor: pointer;
}
.calculator .lh table.taxation td>span{
	font-size: 14px;
	color: #767580;
}
.calculator .lh table.taxation td>a{
	font-size: 14px;
	color: #A71F24;
	margin-left: -10px;
}
.calculator .lh table.taxation td .reset{
	color: #2675bc;
	font-size: 14px;
}
/*明细*/
.calculator .lh .detail{
	position: relative;
	margin-top: -70px;
}
.calculator .lh .detail table th{
	color: #767580;
	font-size: 16px;
}
.calculator .lh .detail table td{
	line-height: 20px;
	font-size: 14px;
	color: #767580;
} 
.calculator .lh .detail table a{
	color: #A71F24;
}
.calculator .lh .detail table td.fbe5d9{
	cursor: pointer;
	color: #A71F24;
}
.calculator .lh .result-div .text ul li{
	width: 100%;
	padding:0;
}
.calculator .lh .result-div .text ul li span.fl{
	width: 69%;
	border-right: 1px solid #E0E0E0;
}
.calculator .lh .result-div .text ul li span.fr{
	width: 30%;
	text-align: right;
}
.calculator .lh .result-div .text ul{
	overflow: hidden;
	padding: 10px 0;
}
.calculator .text ul li{
	border-bottom: 1px solid #dededf;
}
.calculator .lh .result-div .text ul li span{
	font-size: 16px;
	padding: 5px 0;
}
.calculator .lh .result-div .text ul li span.c666{
	font-size: 14px;
	color: #7a7b7b;
}
.calculator .lh .result-div .text ul li .fea5504{
	color: #2675bc;
	margin-right: -8px;
}
.calculator .lh .result-div .text ul li .fea5504:hover{
	color: #A71F24;
}
.calculator .lh .result-div .text .total{
	overflow: hidden;
}
/*右侧下部*/
.rb-btn{
	overflow: hidden;
	background: #A71F24;
	width: 100%;
	margin: 0 auto;
	padding: 0;
	margin-right: -0.1px;
	border-bottom-left-radius: 7px;
	border-bottom-right-radius: 7px;
}
.rb-btn ul>a>li{
	float: left;
	width: 33%;
	/*padding: 0 30px;*/
	text-align: center;
	padding: 10px 0;
	color: #FFFFFF;
}
.rb-btn ul>a>li img{
	display: block;
	margin: 0 auto;
	margin-bottom: 5px;
}