/* CSS Document */
* {margin: 0;padding: 0;list-style: none;}
body,a,div,p,span,form,input,button,select,option,h1,h2,h3,h4,h5,h6,label,em{ margin:0px; padding:0px; font-family:"微软雅黑"; font-style:none; font-weight:100;}
a,img,input,button,select,option{ border:0;}
a{ text-decoration:none; }
.clearfix{display:block;}
.l{ float:left;}
.r{ float:right;}
.clear{ clear:both;}

.main,.header,.menu,.mainbody,.mainabout{ width:1000px; height:auto; margin:0px auto;overflow:hidden;}
.header{ padding:29px 0px 33px 0px;}
.mainbody{ margin:60px auto;}
.mainabout{ margin:30px auto;}
.banner,.proBg,.pro_tit,.products,.casesBg,.tit,.link,.footer,.pageBg,.pageTit{width:100%;overflow:hidden;}
.ban_about,.ban_pro,.ban_news,.ban_pro2{ width:100%; height:250px; background-repeat:no-repeat; background-position:center top;}

.logo{ display:block; width:auto; height:auto; margin-left:11px;}
.header_tel{ width:285px; height:auto; }
.tel{ padding-left:25px; background:url(../images/tel.gif) no-repeat left center; width:200px;}
.tel span{ display:inline-block; width:100%; height:auto; float:left;}
.tel span.cn{ font-size:15px; color:#848484;}
.tel span.num{ font-size:18px; color:#545353;}
.header_tel .en{ font-size:18px;color:#848484;text-transform : uppercase; background:url(../images/en.gif) no-repeat left 20px; padding-left:33px;display:block; padding-top:18px;}
.navbg{ width:100%; height:auto; background:url(../images/navbg.gif) repeat-x left top;}
.menu li{ float:left;}
.menu li a{ display:block; font-size:16px; color:#ffffff; float:left; line-height:46px; padding:0px 44px; background:url(../images/menu_a.png) no-repeat right center;}
.menu li a:hover,.menu li a.active{ background:#cccccd; color:#484848; margin-left:-2px; padding-left:46px;}
/*banner start*/
.banner{height:390px;}
#full-screen-slider{width:100%;height:370px;float:left;position:relative;}
#slides{display:block;height:390px;list-style:none;padding:0;margin:0;position:relative}
#slides li{display:block;width:100%;height:100%;list-style:none; padding:0;margin:0;position:absolute}
#slides li a{display:block;width:100%;height:100%;text-indent:-9999px}
#pagination{display:block;list-style:none;position:absolute;left:50%;top:370px;z-index:9900;padding:5px 0px 5px 0;margin:0;}
#pagination li{display:block;list-style:none;width:30px;height:5px;float:left;margin-right:9px;background-color:#fff;}
#pagination li a{display:block;width:100%;height:100%;padding:0;margin:0;text-indent:-9999px;}
#pagination li.current{background-color:#ff9933;}
/*banner end*/
.mainbody dl{ float:left; margin:0px 13px 0px 15px; width:304px; overflow:hidden;}
.mainbody dl dt,.mainbody dl dt a,.mainbody dl dd{ display:block; width:100%; height:auto; float:left;}
.mainbody dl dd a{ display:block; height:auto; padding:22px 0px 11px 22px; width:282px; overflow:hidden; background:url(../images/mainbody_a.png) #f5f5f5 no-repeat right bottom;}
.mainbody dl dd a h3{ color:#327abf; font-size:20px; display:inline-block; width:100%; float:left;}
.mainbody dl dd a span{ display:inline-block; width:100%; height:auto; float:left; color:#a0a0a0; font-size:13px;}
/*products start*/
.proBg{ background:url(../images/pro_bg.jpg) no-repeat center top; padding-top:25px; padding-bottom:10px;}
.pro_tit{ margin-bottom:20px;}
.pro_tit h2{ display:block; width:auto; background:url(../images/pro_tit.png) no-repeat left top; padding-left:126px; font-size:16px; color:#ffffff; font-family:Arial; line-height:32px; float:left;}
.viewmore{ color:#ffffff; margin-right:9px; width:92px; background:url(../images/viewmore.png) no-repeat left top; font-size:12px; text-align:center; line-height:24px;}
.products li{ float:left; width:230px; height:auto; margin:0px 10px;}
.products li a{ display:block; width:100%; height:auto; float:left;}
.products li a img{ width:230px; float:left;}
.products li a h2{ display:inline-block; width:230px; height:auto; float:left; font-family:Arial; font-size:14px; color:#fffefe; text-align:center; line-height:40px;}
/*about start*/
.about,.about2{ width:555px; height:auto;}
.about{ background:url(../images/about_bg.png) no-repeat right top; padding-right:25px;}
.hotNew{ width:390px; height:auto;}
.title{ width:100%; height:auto; border-bottom:1px solid #a6a6a6; overflow:hidden; margin-bottom:23px;}
.title h2,.title span{display:block; width:auto; height:auto; float:left;line-height:42px; }
.title h2{ color:#ff8000; font-size:22px; margin-right:12px;}
.title span{ font-size:20px;color:#888888;font-family:Arial;text-transform : capitalize;}
.aboutImg{ width:auto; height:auto; float:left; padding:2px;}
.about p{ width:254px; height:auto; float:right; margin-right:10px; font-size:13px; color:#666666; line-height:24px;}
.view{ display:block; width:107px; height:27px; float:left; font-size:14px; text-align:center; line-height:27px; background:url(../images/view.png) no-repeat left top; margin-top:45px;}
/*hotnews start*/
.Hotone,.Hotone dl,.Hotone li{ width:390px; height:auto; float:left;}
.Hotone dl{ padding-bottom:5px;}
.Hotone dl dt{ float:left;}
.Hotone dl dt a{ display:block; width:auto; height:auto; float:left; padding:1px;}
.Hotone dl dd{ float:right; width:215px; margin-right:9px;}
.Hotone dl dd a{ display:block; width:100%; height:auto; float:left;}
.Hotone dl dd a h3{ font-size:14px; color:#ff8000; display:inline-block; width:auto; float:left; margin-bottom:12px;}
.Hotone dl dd a p{ font-size:13px; color:#666666; line-height:22px; width:100%; float:left;}
.Hotone dl dd a p span{ font-size:13px; color:#666666; line-height:22px; display:block;float:right; margin-right:4px;}
.Hotone li a{ margin:2px 0px; margin-right:9px; display:block; width:381px; float:left;}
.Hotone li a h3,.Hotone li a span{width:auto;font-size:13px; color:#666666; line-height:22px;}
.Hotone li a h3{ display:inline-block; float:left;  }
.Hotone li a span{ display:block; float:right; margin-right:4px;}
/*casesBg start*/
.casesBg{ background-color:#f5f5f5; margin-bottom:35px; padding-bottom:30px; padding-top:18px;}
.tit{ text-align:center; clear:both;}
.tit h2{ display:inline-block; font-size:24px; color:#ff8000; line-height:40px; background:url(../images/em.gif) no-repeat right center; padding-right:14px; margin-right:4px; height:40px;}
.tit span{ font-size:16px; color:#327abf; line-height:30px; height:30px; display:inline-block;}
/*cases start*/
.img-scroll { position:relative; margin:0 auto; width:1000px; height:200px;}
.img-scroll .prev,.img-scroll .next{ position:absolute; display:block; width:87px; height:30px; top:166px;}
.img-scroll .prev{ right:400px;}
.img-scroll .next{ left:400px; }
.img-list { position:relative; width:1000px; height:145px;overflow:hidden; margin:0 auto;}
.img-list ul { width:9999px; height:135px;}
.img-list dl { float:left; display:inline;width:238px; height:132px; margin:0px 6px; position:relative; margin-top:12px;}
.img-list dl dd{ width:238px; height:30px;line-height:30px;text-align:center; position:absolute; bottom:0px;}
.img-list dl dt{ width:238px; }
.img-list dl dd a{ color:#ffffff; display:block; font-size:15px; font-weight:100; line-height:30px; background-color:rgba(79,79,79,0.6);}
.img-list dl dd a:hover{ background-color:rgba(50,122,191,0.6);}
/*link start*/
.link{ background-color:#575757; padding:20px 0px 10px 0px;}
.webLink{ width:770px; height:auto;}
.webLink dl{ width:132px; height:235px; float:left; margin:0px 15px 0px 5px;}
.webLink dl dt,.webLink dl dd{ width:150px; height:auto; float:left;}
.webLink dl dt a,.webLink dl dd a{ display:block; width:100%; height:auto; float:left;}
.webLink dl dt a{ font-size:16px; color:#ff8000; line-height:40px;}
.webLink dl dd a{ font-size:13px; color:#ffffff; line-height:26px; margin:3px 0px;}
/*eweima start*/
.LinkRig{ width:212px; height:auto;}
.erwei{ width:212px; height:auto; float:left;}
.erwei li{ width:93px; height:auto; float:left; margin-right:13px; text-align:center;}
.erwei li img{ width:93px; float:left;}
.erwei li span{ display:block; width:93px; text-align:center; color:#ffffff; font-size:13px; line-height:30px;}
.share{ width:212px; height:auto; float:left; margin-bottom:10px;}
.bdsharebuttonbox a{ margin:0px 11px 0px 2px;}
/*footer start*/
.footer{ background-color:#333333; padding-top:10px; padding-bottom:5px;}
.footerLef{ width:650px; height:auto; float:left; margin-top:13px;}
.footerLogo{ display:block; width:auto; float:left; margin-left:3px; }
.copyright{ width:100%; height:auto; float:left; font-size:12px; color:#ffffff; line-height:26px;}
.footerTel{ width:330px; height:auto; color:#ffffff; font-size:13px; margin-right:20px; line-height:22px;}
/*page about start*/
.ban_about{ background-image:url(../images/ban_about.jpg);}
.ban_pro{background-image:url(../images/ban_pro.jpg);}
.ban_news{background-image:url(../images/ban_news.jpg);}
.ban_pro2{background-image:url(../images/ban_pro2.jpg);}
/*pages start*/
.pageBg{ background-color:#ececec; padding:46px 0px;}
.pageLef{ width:222px; height:auto;}
.pageLef dl,.pageLef dl dt,.pageLef dl dd,.PageContact{ width:100%; height:auto; float:left;}
.pageLef dl,.PageContact{ background-color:#ffffff;}
.pageLef dl{ border-bottom:2px solid #d5d5d5; margin-bottom:6px; padding:0px 0px 39px 0px; margin-top:9px;}
.pageLef dl dt a,.PageContact h2{ display:block; width:100%; height:auto; float:left; background-color:#777777; text-align:center; font-size:18px; color:#ffffff;}
.pageLef dl dt a{line-height:50px; margin-bottom:16px; }
.PageContact h2{ line-height:42px;}
.pageLef dl dd a{ display:block; width:100%; height:auto; float:left; text-align:center; color:#6b6b6b; font-size:14px; margin:3px 0px; line-height:40px; background:url(../images/lefNav.png) no-repeat left center;}
.pageLef dl dd a:hover,.pageLef dl dd a.active{ color:#7181b8;}
.PageContactInf{ width:200px; height:auto; padding:0px 11px; float:left; padding-bottom:65px;}
.PageContactInf img{ width:200px; height:auto; float:left; margin-bottom:20px;}
.PageContactInf h3{ display:inline-block;width:100%; height:auto; float:left;font-size:14px; color:#7181b8; line-height:25px; background:url(../images/PageContactInf_h3.gif) repeat-x left bottom; margin-bottom:10px; padding-bottom:4px;}
.PageContactInf p{ width:100%; height:auto; font-size:12px; line-height:22px; float:left;}
.prolistBg,.pageRig{ width:710px; height:auto; background-color:#ffffff; padding-left:20px; padding-right:10px; overflow:hidden; padding-top:25px; overflow:hidden;}
.pageRig{ padding-bottom:115px;}
.prolistBg{  padding-bottom:23px;}
.pageTit{ border-bottom:1px solid #d0d0d0; padding-bottom:10px;}
.pageTit h2{ display:inline-block; width:auto; float:left; color:#ff8000; font-size:16px; line-height:16px; border-left:3px solid #ff8000; padding-left:7px;}
.copas,.copas span,.copas a{ display:inline-block; width:auto; font-size:11px; color:#979797;line-height:16px;}
.copas{ margin-right:35px;}
.pageCon{ width:610px; height:auto; margin:0px auto; font-size:13px; color:#858585; line-height:24px; margin-top:25px;}
/*products list start*/
.prolist,#prolist2{ width:705px; height:auto; float:right; padding-bottom:15px;}
.prolist{ padding-bottom:30px;}
.prolist dl{ width:100%; height:195px; float:left; border-bottom:1px dashed #9b9b9b; margin-top:24px; padding-bottom:23px;}
.prolist dl dt{ width:233px; height:195px; float:left;}
.prolist dl dt a{ display:block; width:232px; height:auto; float:left; border:1px solid #c2c2c2;}
.prolist dl dd{ width:430px; height:195px; float:right; margin-right:22px; position:relative;}
.prolist dl dd a{ display:block; width:100%; height:auto; float:left;}
.prolist dl dd a h3{ font-size:15px; color:#7181b8; display:inline-block; width:100%; float:left; line-height:30px; margin-top:18px; margin-bottom:8px;}
.prolist dl dd a p{ width:100%; height:auto; float:left; font-size:13px; color:#9b9b9b; line-height:24px;}
.prolist dl dd a.proview{ display:block; width:81px; height:21px; border:1px solid #dedede; text-align:center; line-height:21px; color:#a0a0a0; font-size:12px; float:right; position:absolute; bottom:1px; right:0px;}
#prolist2{ margin-top:17px;}
#prolist2 dl{ float:left;width:221px; margin:0px 5px; margin-top:11px;}
#prolist2 dl dt,#prolist2 dl dd{ width:221px; height:auto; float:left;}
#prolist2 dl dt a{ display:block; width:221px; height:auto; float:left;}
#prolist2 dl dd a{ display:block; width:100%; height:auto; float:left; text-align:center; line-height:33px; font-size:13px; color:#818181;}
#prolist2 dl.keynote{ margin:0px 11px; margin-top:11px;}
/*news list start*/
.newlist,.newlist li{ width:710px; height:auto; float:left;}
.newlist{ padding-bottom:35px;}
.newlist li{ border-bottom:1px dashed #9f9f9f;}
.newlist li a{width:690px;padding-left:20px;float:left;font-size:13px;color:#9f9f9f; line-height:37px; margin-top:13px; background:url(../images/new_li.png) no-repeat left center;}
.newlist li a h3{ display:inline-block; width:auto; float:left;font-size:13px; color:#9f9f9f; line-height:37px; }
.newlist li a span{ color:#9f9f9f; font-size:11px; display:block; width:auto; float:right; line-height:37px; margin-right:10px;}
.pages{ width:260px; height:auto; margin:0px auto;}
.pages a{ display:block; width:auto; height:auto; float:left; text-align:center; font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#999999; margin:0px 5px; padding:0px 2px; line-height:28px;}

.pageHotNew{ padding:0px 10px; width:202px; height:auto; float:left;padding-bottom:21px;}
.pageHotNew li{ width:100%; float:left; border-top:1px dashed#909090; margin-top:-1px;}
.pageHotNew li a{ display:block; width:190px; height:auto; float:left; padding-left:5px; padding-right:7px; margin-top:16px; padding-bottom:15px;}
.pageHotNew li a h3{ display:inline-block;  width:100%; font-size:14px; color:#909090; line-height:28px; float:left; margin-bottom:10px;}
.pageHotNew li a p{ width:100%; height:auto; float:left; font-size:13px; color:#aeaeae; line-height:22px;}
.HotPro{ width:207px; height:auto; float:left; margin-left:8px; margin-top:18px; padding-bottom:21px;}
.HotPro li{ width:207px; height:auto; float:left;}
.HotPro li a.hotProImg{ display:block; width:205px; height:auto; float:left; border:1px solid #acacac;}
.HotPro li a.hotProTxt{ display:block; width:205px; padding:0px 1px; text-align:center; font-size:13px; line-height:30px; float:left;color:#b4b4b4; }

.newTit{ width:100%; height:auto; margin-top:20px; float:left; margin-bottom:25px;}
.newTit h3{ font-size:16px; height:auto; text-align:center; color:#5f84bb; display:inline-block; width:100%; line-height:35px; float:left;}
.newTit span{ display:block; width:100%; text-align:center; float:left; font-size:11px; color:#a2a2a2; line-height:2em;}
.newCon{ width:680px; height:auto; padding-left:10px; padding-right:20px;}
.con{ width:100%; font-size:13px; color:#a2a2a2; line-height:24px;}
.procon{ width:680px; height:auto;float:left;margin-top:20px; }
.procon{border-bottom:1px solid #c0c0c0; padding-bottom:28px;}
.protu{ width:349px; height:245px; float:left; border:1px solid #acacac;}
.proTxt{ width:310px; height:247px; float:right; position:relative;}
.proTxt h3{ display:inline-block; width:100%; height:auto; float:left; margin-top:12px; margin-bottom:2px; line-height:35px; font-size:16px; color:#7181b8;}
.proTxt span{ display:block; width:100%; height:auto; float:left; font-size:13px; color:#9b9b9b; line-height:30px;}
.proTxt p{ width:100%; height:auto; float:left; font-size:13px; color:#9b9b9b; line-height:22px;}
.proTxt a.zx{ display:block; width:133px; height:35px; line-height:35px; text-align:center; color:#ffffff; background-color:#f37425; float:right; font-size:15px; margin-right:4px; position:absolute; bottom:0px; right:0px;}
h2.notice{ display:inline-block;width:665px; height:auto; float:left; font-size:16px; color:#ffffff; background-color:#5f84bb; line-height:42px; padding-left:15px;margin-top:20px; }
.procon2{ font-size:13px; color:#797979; line-height:22px; width:620px; height:auto;float:left;margin-top:20px; padding-left:30px; }
.proPageCon{ width:560px; height:auto; float:left; margin-left:70px; padding-bottom:45px;}
.ProTit{ width:100%; height:auto; float:left; text-align:center; margin-top:25px; margin-bottom:20px;}
.ProTit h3{ display:inline-block; width:100%; height:auto; font-size:16px; color:#5e5e5e; line-height:35px;}
.ProTit span{ display:block; width:100%; height:auto; font-size:11px; color:#9c9c9c; line-height:22px;}
.videoImg{ width:100%; height:auto; float:left; text-align:center; margin-bottom:35px;}
.PageProCon{ width:100%; height:auto; float:left; font-size:13px; color:#797979; line-height:24px;}
.PageProCon .tit2{ display:inline-block; width:100%; font-size:14px; color:#5f84bb; border-bottom:1px solid #5f84bb; line-height:22px; margin-bottom:15px;}
.PageProCon a.djzx,.PageProCon span.djspan{ display:block;line-height:34px;font-size:16px; color:#ffffff; margin-top:30px; float:left;}
.PageProCon a.djzx{ width:148px; height:34px; text-align:center; background-color:#5f84bb; }
.PageProCon span.djspan{ color:#5f84bb; width:auto; margin-left:15px;}



