/* ============ËÑË÷±íµ¥============== */
div.globalsearchformzone{
padding:0px;
margin:0px;
height:31px;
background:url(../images/searchl.png) 0 0 no-repeat;
}

div.globalsearchformzone div.globalsearchform{
float:left;
padding:0px;
margin:0px 0px 0px 5px;
height:29px;
font:12px/29px simsun;
color:#666;
}

div.globalsearchformzone div.globalsearchform1{
float:right;
padding:0px;
margin:0px;
line-height:29px;
}

div.globalsearchformzone div.globalsearchform .input{
border:0px;
height:29px;
line-height:29px;
padding:0px;
margin:0px;
background:transparent;
color:#666;
width:275px;
}

div.globalsearchformzone div.globalsearchform1 .imgbutton{
padding:0px;
margin:0px;
}