body{background:url(../images/background/bg_01.jpg) no-repeat top center;}
a{color:#333; /*主链接颜色*/}
a:hover,a:focus{color:#3ba6fe; /*链接经过颜色*/}
a:hover,a:active,a:focus{text-decoration:underline; /*链接下划线*/}

/*COM 共用代码-Start*/
.wrapper{width:1024px; /*网页宽度*/ margin:0px auto; position:relative;}

.share_tit{height:45px; line-height:45px; border:1px solid #3ba6fe; overflow:hidden;}
.share_tit h2{font-size:28px; color:#FFF; font-weight:bold; text-align:center;}

.share_hd{height:55px; background:#91d1ff; overflow:hidden; padding:0px 12px;}
.share_hd span{line-height:70px; font-size:18px; color:#FFF; float:left;}
.share_hd h2{float:right; line-height:55px; font-size:36px; color:#FFF;}


/*COM 共用代码-End*/

/* header-Start */
.header{}
	.row_01{height:64px; padding:33px 0px; background:url(../images/background/bg_02.png) no-repeat right top; overflow:hidden;}
		.logo{width:388px; height:64px; float:left; margin:0px 6px; *display:inline;}
		.logo img{width:388px; height:64px;}
		
		.summary{width:210x; height:42px; float:left; margin:11px 14px; padding:0px 18px; border-left:1px solid #2994cb;}
		.summary ul li{height:14px; line-height:14px; overflow:hidden; font-size:12px; color:#848484;}
		
		.action{float:right; height:64px; line-height:64px;}
		.action ul li{float:left; margin:0px 2px; padding-left:48px; *display:inline; font-size:12px; color:#626262;}
		.action ul li a{color:#626262;}
		.action ul li a:hover{color:#3ba6fe;}
		.action ul li.i1{background:url(../images/icon/icon_01.png) no-repeat 0px center;}
		.action ul li.i2{background:url(../images/icon/icon_02.png) no-repeat 0px center;}
		.action ul li.i3{background:url(../images/icon/icon_03.png) no-repeat 0px center;}
		
		.naver{height:48px; background:url(../images/background/bg_03.jpg) no-repeat; border-right:1px solid #61c2f3; border-top:1px solid #61c2f3;}
		.naver ul li{height:48px; line-height:48px; float:left; padding:0px 30px; *display:inline; border-left:1px solid #61c2f3; border-bottom:none; font-size:16px; color:#FFF;}
		.naver ul li a{color:#FFF;}

/* header-End */

/* banner-Start */
.banner{width:100%; margin:0 auto; background:url(../images/background/bg_27.jpg) no-repeat center top; padding:6px 0px 0px 0px;}
.banner ul{width:100% !important;}
.banner ul li{width:100% !important; height:272px;}
.banner ul li a{width:100%; height:272px; display:block;}

/* banner-End */

/* footer-Start */
.footer{}
	.row_04{height:102px; overflow:hidden;}
	.row_04 ul li{width:256px; height:102px; float:left; overflow:hidden;}
	.row_04 ul li a{width:220px; height:46px; display:block; float:left; padding:28px 0px 28px 36px; *display:inline;}
	.row_04 ul li a:hover{opacity:.7; filter:alpha(opacity=70); text-decoration:none;}
	.row_04 .desc{padding-left:60px;}
	.row_04 .desc h3{height:24px; line-height:24px; overflow:hidden; font-size:18px; color:#FFF;}
	.row_04 .desc p{height:18px; line-height:18px; overflow:hidden; font-size:12px; color:#FFF;}
	.row_04 .desc p span{padding:0px 10px; display:inline-block; width:13px; height:18px;}
	.row_04 ul li a.i1{background:#279eff;}
	.row_04 ul li a.i1 .desc{background:url(../images/icon/icon_08.png) no-repeat 0px center;}
	.row_04 ul li a.i2{background:#0b80df;}
	.row_04 ul li a.i2 .desc{background:url(../images/icon/icon_09.png) no-repeat 0px center;}
	.row_04 ul li a.i3{background:#0064b6;}
	.row_04 ul li a.i3 .desc{background:url(../images/icon/icon_10.png) no-repeat 0px center;}
	.row_04 ul li a.i4{background:#0058a0;}
	.row_04 ul li a.i4 .desc{background:url(../images/icon/icon_11.png) no-repeat 0px center;}
	
	.row_05{overflow:hidden;}
	.row_05 .lt{width:408px; float:left; overflow:hidden;}
	.row_05 .lt h2{height:50px; font-size:26px; color:#0166b8; font-weight:bold; text-align:center;}
	.row_05 .lt ul{width:420px;}
	.row_05 .lt ul li{width:126px; height:71px; float:left; border:1px solid #d4d4d4; margin-right:10px; *display:inline;}
	.row_05 .lt ul li.last{margin:0px;}
	.row_05 .lt ul li img{width:126px; height:71px;}
	.row_05 .rt{float:right;}
	.row_05 .rt ul li{height:21px; line-height:21px; overflow:hidden; font-size:12px; color:#393939;}
	
/* footer-End */

/* 中部区域-Start */
.main{}

/* 中部区域-End */

/*抑郁症-栏目页*/
	.partner{width:1022px; height:106px; border:1px solid #bcbcbc;}
	.partner .head{width:55px; height:91px; padding:7px 8px; float:left; *display:inline;}
	.partner .body{float:right; height:70px; padding:18px 3px; *display:inline; overflow:hidden;}
	.partner .body ul li{float:left; padding:0px 13px; *display:inline; border-right:1px dashed #cacaca; *width:90px;}
	.partner .body ul li.last{border:none;}
	.partner .body ul li .thumb{width:88px; height:54px; margin:0px auto;}
	.partner .body ul li .thumb img{width:88px; height:54px;}
	.partner .body ul li .desc{height:16px; line-height:16px; text-align:center; font-size:12px;}
	
	.position{height:41px; line-height:41px; background:#dbdbdb; padding:0px 10px;}
	.position ul li{float:left; margin:0px 6px; *display:inline; font-size:14px; color:#3c3c3c;}
	.position ul li.first{background:url(../images/icon/icon_05.png) no-repeat 0px center; padding-left:20px;}
	.position ul li.i1{background:url(../images/icon/arrow_01.png) no-repeat right center; padding-right:18px;}
	.position ul li a{color:#3c3c3c;}
	.position ul li a:hover{color:#3ba6fe;}
	
	.row_02 .thumb{width:392px; height:282px; float:left;}
	.row_02 .thumb img{width:392px; height:282px;}
	.row_02 .desc{width:598px; float:right;}
	.row_02 .desc .head{background:url(../images/background/bg_05.jpg) no-repeat; padding:0px 16px;}
	.row_02 .desc .head h2{float:left;}
	.row_02 .desc .head span{float:right; font-size:20px; color:#FFF;}
	.row_02 .desc .body{}
	.row_02 .desc .body ul{padding:10px 0px 10px 26px;}
	.row_02 .desc .body ul li{height:28px; line-height:28px; float:left; overflow:hidden; background:url(../images/icon/icon_06.png) no-repeat 0px center; padding-left:20px; *display:inline; font-size:15px; color:#1294ff;}
	.row_02 .desc .body ul li a{color:#1294ff;}
	.row_02 .desc .body ul li.i1{width:306px;}
	.row_02 .desc .body p{line-height:22px; font-size:12px; color:#323232; text-indent:2em; padding-bottom:10px;}
	.row_02 .foot{width:427px; height:33px; line-height:33px; background:url(../images/background/bg_06.png) no-repeat; margin:0px auto; text-align:center; font-size:18px; color:#FFF;}
	
	.row_03 .head{background:url(../images/background/bg_07.jpg) no-repeat;}
	.row_03 .body ul li{width:332px; height:249px; float:left; margin-right:14px; *display:inline;}
	.row_03 .body ul li.last{margin:0px;}
	.row_03 .body .thumb{width:332px; height:208px; background:url(../images/background/bg_08.jpg) right top;}
	.row_03 .body .thumb img{width:328px; height:208px;}
	.row_03 .body .desc{width:332px; height:40px; line-height:40px; border-bottom:1px solid #1c89e1; background:#0b80df; text-align:center; overflow:hidden;}
	.row_03 .body .desc h3{font-size:18px; color:#FFF;}
	.row_03 .body .desc h3 a{color:#FFF;}
	.row_03 .body .desc span{font-size:26px; font-weight:bold; padding:0px 12px;}
	
	.row_03 .foot .lt{width:480px; float:left; padding-right:30px; border-right:1px dashed #afafaf;}
	.row_03 .foot .rt{width:480px; float:right; padding-left:30px;}
	.row_03 .foot h3{height:42px; font-size:26px; color:#0b80df; font-weight:bold;}
	.row_03 .foot p{line-height:22px; font-size:12px; color:#4e4e4e; text-indent:2em;}

/*神康改版--标题*/
	.row_06 .left{width:660px; float:left;}
	.row_06 .list .lt{width:272px; float:left; padding-left:50px; *display:inline; border-right:1px dashed #b5b5b5; overflow:hidden;}
	.row_06 .list .rt{width:272px; float:right; padding-left:50px; *display:inline; overflow:hidden;}
	.row_06 .list ul li{height:37px; line-height:37px; overflow:hidden;}
	.row_06 .list ul li a{height:37px; line-height:37px; overflow:hidden; display:block; padding:0px 14px; background:url(../images/icon/line_01.png) no-repeat 0px center; font-size:14px; color:#3c3c3c;}
	.row_06 .list ul li a:hover{background:url(../images/icon/line_02.png) no-repeat 0px center; color:#3ba6fe;}

	.row_06 .right{width:333px; float:right; overflow:hidden;}
	.row_06 .menu .head{background:url(../images/background/bg_09.jpg) no-repeat; border:none; height:41px; line-height:41px;}
	.row_06 .menu .body{width:315px; border:1px solid #cecece; border-top:none; background:#f1f1f1; padding:0px 8px; overflow:hidden;}
	.row_06 .menu .body ul li{height:60px; border-bottom:1px dashed #b5b5b5; overflow:hidden; padding:7px 10px;}
	.row_06 .menu .body ul li.last{border:none;}
	.row_06 .menu .body h3{height:34px; line-height:34px; overflow:hidden; background:url(../images/icon/arrow_03.png) no-repeat 0px center; padding:0px 12px; font-size:18px; color:#0b62a9;}
	.row_06 .menu .body h3 a{color:#0b62a9;}
	.row_06 .menu .body p{height:26px; line-height:26px; overflow:hidden; padding:0px 12px; font-size:12px; color:#313131;}
	.row_06 .menu .body p a{color:#313131; padding-right:4px;}
	
/*神康改版--正文*/
	.row_06 .view .head{height:50px; line-height:50px; overflow:hidden; text-align:center;}
	.row_06 .view .head h2{font-size:26px; color:#0b64ac; font-weight:bold;}
	.row_06 .view .body{padding:0px 18px;}
	.row_06 .view .body p{padding:12px 0px; line-height:24px; font-size:14px; color:#323232; text-indent:2em;}
	
/*神康改版-来院路线*/
	.row_07 .left{width:251px; border:1px solid #47b8ff; background:#0674CD url(../images/background/bg_11.jpg) no-repeat; padding:10px 16px; float:left; *display:inline;}
	.row_07 .left ul li{height:43px;}
	.row_07 .left ul li a{display:block; height:40px; display:block; padding:3px 44px 0px 30px; overflow:hidden; margin:3px 0px;}
	.row_07 .left ul li a h2{height:20px; line-height:20px; font-size:16px; color:#97d7ff;}
	.row_07 .left ul li a span{font-size:12px; color:#41afff;}
	.row_07 .left ul li.cur a,
	.row_07 .left ul li a:hover{background:url(../images/background/bg_10.png) no-repeat center 0px; text-decoration:none;}
	.row_07 .left ul li.cur a h2,
	.row_07 .left ul li a:hover h2{color:#FFF;}
	.row_07 .left ul li.cur a span,
	.row_07 .left ul li a:hover span{color:#9edaff;}
	
	.row_07 .right{width:717px; float:right;}
	
	.row_07 .traffic .body{width:717px; height:226px;}
	.row_07 .traffic .body img{width:717px; height:226px;}
	.row_07 .traffic .foot{padding:0px 50px;}
	.row_07 .traffic .foot ul li{padding:14px 0px 20px 0px; overflow:hidden; border-bottom:1px dashed #727272; overflow:hidden;}
	.row_07 .traffic .foot ul li.last{border:none;}
	.row_07 .traffic .foot dl dt{height:44px; line-height:44px; overflow:hidden; font-size:28px; color:#016fc9; font-weight:bold;}
	.row_07 .traffic .foot dl dd{padding:7px 0px;}
	.row_07 .traffic .foot dl dd{height:28px; line-height:28px; font-size:18px; color:#515151;}
	.row_07 .traffic .foot dl dd span{display:inline-block; background:#6bc6ff url(../images/icon/arrow_04.png) no-repeat 8px center; padding:0px 10px 0px 30px; margin-right:10px; border-radius:6px; text-align:right; color:#FFF;}
	
/*神康改版-楼层分布*/
	.row_07 .floor .body .hd{width:84px; float:left; text-align:center; padding:30px 0px 0px 0px; *display:inline; font-size:30px; color:#FFF;}
	.row_07 .floor .body .bd{width:600px; float:right; padding:26px 0px 26px 30px; *display:inline;}
	.row_07 .floor .body table th{height:46px;}
	.row_07 .floor .body table th span{height:25px; line-height:25px; display:inline-block; padding:0px 8px; background:#74c5ff; border-radius:12px; font-size:18px; color:#FFF; font-weight:bold;}
	.row_07 .floor .body table td{font-size:14px; color:#353535; line-height:26px;}
	.row_07 .floor .body ul li{width:717px;}
	.row_07 .floor .body ul li.i1{background:url(../images/background/bg_12.jpg) repeat-y;}
	.row_07 .floor .body ul li.i2{background:url(../images/background/bg_13.jpg) repeat-y;}

/*神康改版-神康荣誉*/
	.row_07 .honor .body ul li{padding:40px 0px; height:144px; overflow:hidden; border-bottom:1px dashed #b5b5b5;}
	.row_07 .honor .body ul li.last{border:none;}
	.row_07 .honor .body .thumb{width:234px; height:144px; float:left;}
	.row_07 .honor .body .thumb img{width:234px; height:144px;}
	.row_07 .honor .body .desc{width:450px; height:144px; overflow:hidden; float:right;}
	.row_07 .honor .body .desc h2{height:36px; line-height:36px; overflow:hidden; font-size:28px; color:#016ec9; font-weight:bold;}
	.row_07 .honor .body .desc h2 a{color:#016ec9;}
	.row_07 .honor .body .desc span{display:block; height:40px; line-height:30px; overflow:hidden; font-size:18px; color:#017de4;}
	.row_07 .honor .body .desc p{height:66px; line-height:22px; overflow:hidden; font-size:12px; color:#424242; text-indent:2em;}
	
/*神康改版-与爱同行*/
	.row_07 .love .body ul li{padding:36px 0px; height:135px; overflow:hidden; border-bottom:1px dashed #b5b5b5;}
	.row_07 .love .body ul li.last{border:none;}
	.row_07 .love .body .thumb{width:234px; height:135px; float:left;}
	.row_07 .love .body .thumb img{width:234px; height:135px;}
	.row_07 .love .body .desc{width:450px; height:135px; overflow:hidden; float:right; position:relative;}
	.row_07 .love .body .desc h2{height:36px; line-height:36px; overflow:hidden; font-size:28px; color:#016ec9; font-weight:bold;}
	.row_07 .love .body .desc h2 a{color:#016ec9;}
	.row_07 .love .body .desc span{display:block; height:32px; line-height:30px; overflow:hidden; font-size:18px; color:#017de4;}
	.row_07 .love .body .desc p{max-height:66px; line-height:22px; overflow:hidden; font-size:12px; color:#424242; text-indent:2em; position:absolute; bottom:0px;}
	
/*神康改版-医院介绍*/
	.row_07 .introduce .body .hd{height:195px; overflow:hidden;}
	.row_07 .introduce .body .hd .thumb{width:300px; height:195px; float:left;}
	.row_07 .introduce .body .hd .thumb img{width:300px; height:195px;}
	.row_07 .introduce .body .hd .desc{width:386px; height:195px; overflow:hidden; float:right;}
	.row_07 .introduce .body .hd .desc h2{height:40px; line-height:40px; overflow:hidden; font-size:34px; color:#016ec9; font-weight:bold;}
	.row_07 .introduce .body .hd .desc span{height:42px; line-height:34px; display:block; overflow:hidden; font-size:18px; color:#016ec9;}
	.row_07 .introduce .body .hd .desc p{height:110px; line-height:22px; overflow:hidden; font-size:12px; color:#424242; text-indent:2em;}
	.row_07 .introduce .body .bd .title{height:36px; line-height:36px; background:url(../images/background/bg_14.png) no-repeat; text-align:center; text-shadow:2px 2px 4px #dedede; font-size:18px; color:#fefefe; font-weight:bold;}
	.row_07 .introduce .body .bd .title em{display:inline-block; width:9px; height:18px; margin:-2px 18px;}
	.row_07 .introduce .body .bd .title .prev{background:url(../images/icon/arrow_05.png) no-repeat 0px center;}
	.row_07 .introduce .body .bd .title .next{background:url(../images/icon/arrow_06.png) no-repeat 0px center;}
	.row_07 .introduce .body .bd .thumb ul{text-align:center;}
	.row_07 .introduce .body .bd .thumb ul li{display:inline-block; *display:inline; zoom:1;}
	.row_07 .introduce .body .bd .desc{line-height:22px; font-size:12px; color:#3c3c3c; padding:0px 40px; background:url(../images/icon/icon_12.png) no-repeat 24px 6px;}
	.row_07 .introduce .body .bd .i1 ul li{width:183px; height:183px; margin:0px 4px;}
	.row_07 .introduce .body .bd .i1 ul li img{width:183px; height:183px;}
	.row_07 .introduce .body .bd .i2 ul li{width:254px; height:188px; margin:0px 8px; border:1px solid #c0e5ff;}
	.row_07 .introduce .body .bd .i2 ul li img{width:254px; height:188px;}
	.row_07 .introduce .body .bd .i3 ul li{width:538px; height:188px; border:1px solid #c0e5ff;}
	.row_07 .introduce .body .bd .i3 ul li img{width:538px; height:188px;}
	.row_07 .introduce .body .bd .i4 ul li{width:170px; height:170px; margin:0px 5px;}
	.row_07 .introduce .body .bd .i4 ul li img{width:170px; height:170px;}
	.row_07 .introduce .body .bd .i5 ul li{width:264px; height:188px; margin:0px 4px; border:1px solid #c0e5ff;}
	.row_07 .introduce .body .bd .i5 ul li img{width:264px; height:188px;}
	.row_07 .introduce .body .ft p{height:36px; line-height:36px; text-align:center; font-size:14px; color:#0064b6; overflow:hidden;}
	.row_07 .introduce .body .ft ul{text-align:center;}
	.row_07 .introduce .body .ft ul li{display:inline-block; *display:inline; zoom:1; height:44px; line-height:44px; overflow:hidden; font-size:14px; color:#3c3c3c; margin:0px 16px;}
	.row_07 .introduce .body .ft span{display:inline-block; width:137px; height:44px; background:url(../images/background/bg_15.png) no-repeat 0px center; font-size:16px; color:#FFF; margin:0px 12px}

/*神康改版-医院环境3*/
	.row_07 .environment .body ul li{padding:34px 0px; height:135px; overflow:hidden; border-bottom:1px dashed #b5b5b5;}
	.row_07 .environment .body ul li.last{border:none;}
	.row_07 .environment .body .thumb{width:234px; height:135px; float:left;}
	.row_07 .environment .body .thumb img{width:234px; height:135px;}
	.row_07 .environment .body .desc{width:450px; height:135px; overflow:hidden; float:right; position:relative;}
	.row_07 .environment .body .desc h2{height:36px; line-height:36px; overflow:hidden; font-size:28px; color:#016ec9; font-weight:bold;}
	.row_07 .environment .body .desc h2 a{color:#016ec9;}
	.row_07 .environment .body .desc span{display:block; height:36px; overflow:hidden; font-size:18px; color:#017de4; float:right; font-size:14px; color:#82c6ff; padding:0px 10px; *display:inline; font-weight:normal;}
	.row_07 .environment .body .desc p{max-height:90px; line-height:22px; overflow:hidden; font-size:12px; color:#424242; text-indent:2em; position:absolute; bottom:0px;}
	.row_07 .environment .body .desc span.i1{background:url(../images/background/bg_16.png) no-repeat 0px center; width:187px;}
	.row_07 .environment .body .desc span.i2{background:url(../images/background/bg_17.png) no-repeat 0px center; width:216px;}
	.row_07 .environment .body .desc span.i3{background:url(../images/background/bg_18.png) no-repeat 0px center; width:248px;}
	.row_07 .environment .body .desc span.i4{background:url(../images/background/bg_21.png) no-repeat 0px center; width:170px;}
	.row_07 .environment .body .desc span.i5{background:url(../images/background/bg_22.png) no-repeat 0px center; width:337px;}
	.row_07 .environment .body .desc span.i6{background:url(../images/background/bg_23.png) no-repeat 0px center; width:276px;}
	.row_07 .environment .body .desc span.i7{background:url(../images/background/bg_24.png) no-repeat 0px center; width:255px;}
	.row_07 .environment .foot ul{width:490px; height:22px; line-height:22px; background:url(../images/background/bg_19.png) no-repeat; margin:0px auto; padding:0px 13px; overflow:hidden;}
	.row_07 .environment .foot ul li{float:left; margin:0px 14px; *display:inline; font-size:12px; color:#003f73;}
	.row_07 .environment .foot ul li a{color:#003f73;}
	.row_07 .environment .foot ul li select{width:66px; height:18px; margin-top:-2px; background:url(../images/background/bg_20.png) no-repeat; border:none;}
	
/*神康改版2(1)*/
	.row_06 .home_page .head{background:url(../images/background/bg_25.jpg) no-repeat; width:654px; height:172px; overflow:hidden; padding-left:6px;}
	.row_06 .home_page .head .thumb{width:275px; height:172px; float:left;}
	.row_06 .home_page .head .thumb img{width:275px; height:172px;}
	.row_06 .home_page .head .desc{width:362px; height:172px; float:right;}
	.row_06 .home_page .head .desc .hd{height:42px; line-height:36px; overflow:hidden;}
	.row_06 .home_page .head .desc .hd h2{font-size:30px; color:#087ddc; font-weight:bold;}
	.row_06 .home_page .head .desc .hd h2 a{color:#087ddc;}
	.row_06 .home_page .head .desc .bd{height:130px; line-height:22px; overflow:hidden; text-indent:2em; font-size:12px; color:#2b2b2b;}
	.row_06 .home_page .head .desc .bd a{color:#2b2b2b;}
	.row_06 .home_page .head .desc .bd a:hover{color:#3ba6fe}
	
	.row_06 .home_page .body{width:660px; overflow:hidden;}
	.row_06 .home_page .body ul{width:680px;}
	.row_06 .home_page .body ul li{width:321px; height:284px; overflow:hidden; float:left; margin:25px 18px 0px 0px; *display:inline;}
	.row_06 .home_page .body ul li .thumb{width:315px; height:236px; padding:0px 0px 2px 6px; background:url(../images/background/bg_26.jpg) no-repeat left top;}
	.row_06 .home_page .body ul li .thumb img{width:315px; height:236px;}
	.row_06 .home_page .body ul li .desc{width:321px; height:46px; line-height:46px; background:#0b80df; overflow:hidden; text-align:center; font-size:30px; color:#FFF; font-weight:bold; letter-spacing:2px;}
	.row_06 .home_page .body ul li .desc a{color:#FFF;}

/*单页之安心过年-神康医院222*/
	.ny_banner{width:100%; margin:0 auto;}
	.ny_banner ul{width:100% !important;}
	.ny_banner ul li{width:100% !important; height:277px;}
	.ny_banner ul li a{width:100%; height:277px; display:block;}

	.row_08 .head{width:874px; height:88px; line-height:22px; padding:12px 14px 12px 136px; overflow:hidden; background:url(../images/icon/icon_13.png) no-repeat 10px center; font-size:14px; color:#343434; text-indent:2em;}
	.row_08 .body{overflow:hidden;}
	.row_08 .body ul{width:1050px;}
	.row_08 .body ul li{width:192px; height:176px; float:left; margin-right:9px; padding-left:5px; *display:inline; background:url(../images/background/bg_28.jpg) no-repeat left center;}
	.row_08 .body ul li img{width:192px; height:176px;}
	
	.row_09 .head .desc{width:546px; float:left;}
	.row_09 .head .desc .hd h2{height:50px; font-size:40px; color:#0b7bd4; text-align:center; font-weight:bold;}
	.row_09 .head .desc .hd p{height:40px; overflow:hidden; font-size:26px; color:#69bdff; text-align:right;}
	.row_09 .head .desc .bd{height:240px; overflow:hidden;}
	.row_09 .head .desc .bd p{line-height:20px; text-indent:2em; font-size:12px; color:#3d3d3d;}
	.row_09 .head .thumb{width:425px; float:right;}
	.row_09 .head .thumb .pic{width:425px; height:317px;}
	.row_09 .head .thumb .pic img{width:425px; height:317px;}
	.row_09 .head .thumb p{height:34px; line-height:34px; font-size:16px; color:#0b7bd4; text-align:center; overflow:hidden;}
	.row_09 .body{width:1004px; height:195px; background:url(../images/background/bg_29.jpg) no-repeat; padding:0px 10px; position:relative; overflow:hidden;}
	.row_09 .body .hd{text-align:center;}
	.row_09 .body .hd h2{height:55px; line-height:55px; font-size:35px; color:#0b7bd4; font-weight:bold; letter-spacing:8px;}
	.row_09 .body .hd p{width:488px; height:31px; line-height:28px; display:inline-block; zoom:1; *display:inline; background:url(../images/background/bg_30.png) no-repeat; font-size:19px; color:#FFF; overflow:hidden; text-align:left; padding:0px 10px;}
	.row_09 .body .hd p em{font-size:24px; color:#ffed54; font-weight:bold; text-shadow:2px 2px 2px #555;}
	.row_09 .body .bd{padding:6px 0px;}
	.row_09 .body .bd ul li{height:30px; line-height:30px; font-size:17px; color:#0b7bd4;}
	.row_09 .body .bd ul li em{display:inline-block; width:92px; height:30px; text-align:center; overflow:hidden; background:url(../images/background/bg_31.png) no-repeat 0px center; color:#FFF; float:left; margin:0px 10px; *display:inline;}
	.row_09 .body .ft a{display:block; width:200px; height:55px; line-height:46px; text-align:center; font-size:23px; color:#feffff; letter-spacing:4px; position:absolute; bottom:12px; right:20px; background:url(../images/background/bg_32.png) no-repeat;} 
	.row_09 .body .ft a:hover{text-decoration:none; opacity:.7; filter:alpha(opacity=70);}
	
	.row_10 .head{width:1024px; height:42px; line-height:42px; overflow:hidden; background:url(../images/background/bg_33.jpg) no-repeat; text-align:center;}
	.row_10 .head h2{font-size:28px; color:#FFF; letter-spacing:2px;}
	.row_10 .body{padding:25px 0px; overflow:hidden;}
	
	.row_10 .item_01 .body{padding:25px 16px;}
	.row_10 .item_01 dl{line-height:24px; font-size:14px; color:#444;}
	.row_10 .item_01 dl dt em{text-align:center; display:inline-block; height:24px; line-height:22px; color:#FFF; margin-right:8px;}
	.row_10 .item_01 dl dt em.i1{width:38px; background:url(../images/background/bg_34.png) no-repeat 0px center;}
	.row_10 .item_01 dl dt em.i2{width:68px; background:url(../images/background/bg_35.png) no-repeat 0px center;}
	
	.row_10 .item_02{overflow:hidden;}
	.row_10 .item_02 ul{width:1030px;}
	.row_10 .item_02 ul li{width:193px; height:176px; padding-left:5px; background:url(../images/background/bg_28.jpg) no-repeat left center; float:left; margin-right:8px; *display:inline;}
	.row_10 .item_02 ul li img{width:193px; height:176px;}
	
	.row_10 .item_03 .hd p{line-height:24px; font-size:12px; color:#494949; text-indent:2em;}
	.row_10 .item_03 .bd{overflow:hidden;}
	.row_10 .item_03 .bd ul{width:1032px;}
	.row_10 .item_03 .bd ul li{width:164px; height:101px; float:left; margin-right:8px; *display:inline;}
	.row_10 .item_03 .bd ul li img{width:164px; height:101px;}
	
	.row_10 .item_04 .body{padding:25px 10px; overflow:hidden;}
	.row_10 .item_04 ul li{height:40px; line-height:40px; overflow:hidden; font-size:20px; color:#545454;}
	.row_10 .item_04 ul li em{display:inline-block; height:40px; line-height:38px; text-align:center; font-size:18px; color:#FFF; margin:0px 6px;}
	.row_10 .item_04 ul li em.i1{width:20px; background:url(../images/icon/dot_01.png) no-repeat 0px center;}
	.row_10 .item_04 ul li em.i2{width:139px; background:url(../images/background/bg_36.png) no-repeat 0px center;}
	.row_10 .item_04 ul li em.i3{width:71px; background:url(../images/background/bg_37.png) no-repeat 0px center;}




