.comments .comments-text {
    margin-top: 20px;
    border: 1px solid #cbcbcb;
    width: 100%;
    height: 130px;
    box-sizing: border-box;
    padding: 10px;
}
.down .submit-on {
	margin-top:20px;
    border: none;
    float: right;
    padding:0px 30px;
    height: 36px;
    background-color: #ffa400;
    color: #fff;
    font-size: 14px;
    border-radius: 18px;
    -moz-border-radius:18px;
    -o-border-radius:18px;
    -webkit-border-radius:18px;
    cursor: pointer;
}

.comments h1 {
    color: #1f1f1f;
    font-size: 16px;
    font-weight: normal;
    border-bottom: 2px solid #f0f0f0;
    line-height: 30px;
    height: 30px;
    margin-bottom: 10px;
}
.comments h1 span {
    display: inline-block;
    line-height: 30px;
    border-bottom: 2px solid #ffa400;
}
.comments-list{
    margin-bottom: 30px;
}
.comments-list ul li {
    line-height: 30px;
    font-size: 14px;
    color:#40485B;
}