.footstext a{color:#666666}
.footstext a:hover{color:#ffa400;}
.pull-left{float:left}
.of-heand{
    width:100%;position: fixed; top: 0;z-index:100;
    border-bottom:1px solid #eee;
}
.login{margin-right:20px;}
.of-heand .of-login{
    left: 60px;
    z-index: 1;
    position: relative;
    width: 130px;
    padding:20px 0px;
    float: left;
    color: #fff;
    text-align: center;
}
.of-heand .of-nav{
    position: relative;
    top: 0;
}
.of-heand .of-language{
	position: relative;
    top: 0;
    right:110px;
    line-height: 60px;
    color:#222;
    float: right;
	
}
.of-heand .of-logout{
	position: relative;
    top: 0;
    right:60px;
    width:168px;
    line-height: 60px;
    color:#222;
    float: right;
    font-size: 14px;
}
.tipbox{background-image: linear-gradient(270deg, #ff6317 0, #ffa400 97%);}
.icon-jxc{background:url( ../image/product/product_jxc_b.png) center center no-repeat;
display:inline-block;width:48px;height:48px;
}
.icon-goods{background:url(../image/product/product_goods_b.png) center center no-repeat;
display:inline-block;width:48px;height:48px;
}
.icon-ad{background:url(../image/product/product_ad_b.png) center center no-repeat;
display:inline-block;width:48px;height:48px;
}
.icon-finance{background:url(../image/product/product_finance_b.png) center center no-repeat;
display:inline-block;width:48px;height:48px;
}
.icon-power{background:url(../image/product/product_power_b.png) center center no-repeat;
display:inline-block;width:48px;height:48px;
}
.layui-this .icon-jxc{background:url(../image/product/product_jxc_y.png) center center no-repeat;}
.layui-this .icon-goods{background:url(../image/product/product_goods_y.png) center center no-repeat;}
.layui-this .icon-ad{background:url(../image/product/product_ad_y.png) center center no-repeat;}
.layui-this .icon-finance{background:url(../image/product/product_finance_y.png) center center no-repeat;}
.layui-this .icon-power{background:url(../image/product/product_power_y.png) center center no-repeat;}
.newstyle-li li:hover {color:#ffa400;}




.of-banner{
    margin-top: 60px;
}
.layui-tab-title li p{padding:16px 0px;}
.of-content{

}
.of-crad{
    clear: both;
}
.of-crad-content{
    margin: 0 auto;
    width: 1200px;
}
.of-crad-content .title{font-size:14px;color:#333;margin-bottom:20px;}
.of-crad-title{
    text-align: center;
    font-size: 28px ;
    color: #333;
    font-weight:300 ;
    padding:30px;
}
.panter a:hover{color:#ffa400}
.panter a{margin-left:30px;color:#999}

.of-crad-body{
    font-size: 16px;
    text-indent:2em;
    line-height: 2;
    color: #565758;
}
.of-content .announce{
    width: 590px;
    height: 150px;
}

.announce{
    float: right;
}
.announce p.title {
    border-bottom: solid 1px #e6e6e6;
    border-bottom-color: #e6e6e6;
    padding-bottom:20px;
}
.circle-bg-gary{
	z-index: 2;
	position: absolute;
	top: 25%;
	left: -300px;
	width:300px;
	height:300px;
	background:rgb(240, 240, 240,0);
	border-radius: 50%;
	border: 100px solid #f1f2f3;
}
.circle-bg-yellow{
	z-index: 2;
	position: absolute;
	top: -30px;
	right: 1%;
	width:100px;
	height:100px;
	background:rgb(240, 240, 240,0);
	border-radius: 50%;
	border: 50px solid #ff6e14;
}
.buttongroup a:first-child{margin-right:20px;}
.buttongroup{margin-top:60px;}
.announce p.title {
    height: 50px;
    line-height: 50px;
    font-size: 20px;
    font-weight: bold;
    float: left;
    color: #333;
    width: 100%;
}

.announce ul {
    width: 98%;
}
.announce li {
    height: 35px;
    line-height: 35px;
    font-size: 14px;
    overflow: hidden;
    width: 100%;
    float: left;
}

.announce li span {
    float: right;
    font-size: 14px;
    color:#999;
}
.announce a {
    color: #666666;
    cursor: pointer;
}
.announce a:hover{color:#ffa400}
.icon-group .icon{
	width: 56px;
    height: 56px;
    margin: auto;
    background-repeat: no-repeat;
    background-size: contain;
}

  .icon-group .icon-computer{
    background-image: url(../image/home/icon-computer1.png);
}

.icon-size:hover .icon-computer{
    background-image: url(../image/home/icon-computer2.png);
    
}
.icon-group .icon-house{
    background-image: url(../image/home/icon-house1.png);
}
.icon-size:hover .icon-house{
    background-image: url(../image/home/icon-house2.png);
}
.icon-group .icon-car{
    background-image: url(../image/home/icon-car1.png);
}
.icon-size:hover  .icon-car{
    background-image: url(../image/home/icon-car2.png);
}
.icon-group .icon-money{
    background-image: url(../image/home/icon-money1.png);
}
.icon-size:hover .icon-money{
    background-image: url(../image/home/icon-money2.png);
}
.icon-group .icon-ad{
    background-image: url(../image/home/icon-ad1.png);
}
.icon-size:hover .icon-ad{
    background-image: url(../image/home/icon-ad2.png);
}
.icon-group .icon-data{
    background-image: url(../image/home/icon-data1.png);
}
.icon-size:hover .icon-data{
    background-image: url(../image/home/icon-data2.png);
}
.icon-group .icon-phone{
    background-image: url(../image/home/icon-phone1.png);
}
.icon-size:hover .icon-phone{
    background-image: url(../image/home/icon-phone2.png);
}
.icon-group .icon-people{
    background-image: url(../image/home/icon-people1.png);
}
.icon-size:hover .icon-people{
    background-image: url(../image/home/icon-people2.png);
}
  .icon-size{font-size:16px;color:#444;
    padding:30px 0;text-align:center;
  }
.icon-size:hover{
	color:#fff;
	background: linear-gradient(270deg, #ff6317 0, #ffa400 97%);
	box-shadow: 0px 0px 20px rgba(255,99,23,0.4);
}
.of-content .title{
	padding:60px 0 0px 0px;
	color: #222222;
	font-size:30px;
	text-align: center;
}
.of-content .smtext{
	padding:10px 0 30px 0px;
	color: #999999;
	font-size:16px;
	text-align: center;
}
.otherbanner{position:absolute;z-index:2;top:150px;}
.otherbanner .title{color:#fff;font-size:40px;text-align:left;}
.otherbanner .asstext{color:#fff;opacity:0.8;font-size:16px;text-align:left;margin-top:20px;}
.newstyle-li li{width:20%;padding:0px;}

.case ul li{
    float: left;
    width: 280px;
    height: 300px;
    padding: 10px;
}
.moretext{font-size:24px;  cursor: pointer;color:#ffa400;}
.flleft{float:left;}
.of-crad .infoleft{
	margin-right:30px;
}
.of-crad .inforight{
	margin-left:30px;
}
.of-crad .assistinfo{
	color:#ffa400;
	font-size:14px;
	margin-bottom:10px;
	margin-top:30px;
}
.of-crad .htitle{
	font-size:22px;
	color:#222;
	margin-bottom:30px;
	font-weight:700;
}
.matop60{margin-top:60px;}
.mabot60{margin-bottom:60px;}
.boxwidth{width:1200px;margin:0 auto;}
.layui-icon-more{background-image: url(../image/home/more.png);
padding:1px 16px;margin-left:10px;
}
.title-hot{font-size:16px;}
.hot-box :last-child{border-bottom:none!important;padding-bottom:0px !important;}
.hot-box{background:#fff;border: 1px solid #eee;border: 1px solid #eee;margin-left:20px;padding:20px 20px;}
.article-content .asstext{margin-top:40px;color:#999;font-size:12px;}
.list-style{background:#ffffff;margin-bottom:20px;border: 1px solid #eee;padding:20px 20px;border: 1px solid #eee;}
.article-img img{height:150px;width:240px;border-radius: 6px;}
.white-box{background:#ffffff;}
.content .short-line{margin-top:40px;}
.content .tit{font-size:18px;color:#222;margin-bottom:10px;}
.intrtext .project-icon {background:url(../image/home/safe.png) center center no-repeat;
 height:48px;width:48px;display:block;margin-right:15px;
}
.intrtext .box:hover .project-icon {background:url(../image/home/safe_y.png) center center no-repeat;
}
.intrtext .data-icon {background:url(../image/home/data.png) center center no-repeat;
 height:48px;width:48px;display:block;margin-right:15px;
}
.intrtext .box:hover .data-icon {background:url(../image/home/data_y.png) center center no-repeat;
}
.intrtext .fast-icon {background:url(../image/home/fast.png) center center no-repeat;
 height:48px;width:48px;display:block;margin-right:15px;
}
.intrtext .box:hover .fast-icon {background:url(../image/home/fast_y.png) center center no-repeat;
}

.intrtext .resource-icon {background:url(../image/home/resource.png) center center no-repeat;
 height:48px;width:48px;display:block;margin-right:15px;
}
.intrtext .box:hover .resource-icon {background:url(../image/home/resource_y.png) center center no-repeat;
}
.intrtext .use-title{color:#333;font-size:18px;margin-bottom:10px;}
.intrtext .use-img,.use-content{display:table-cell;vertical-align: top;}
.intrtext .box{padding:30px;background-color:#ffffff;border:1px solid #eee;
    -webkit-transition: -webkit-box-shadow 0.3s ease-in-out;
    transition: -webkit-box-shadow 0.3s ease-in-out;
    transition: box-shadow 0.3s ease-in-out;
    transition: box-shadow 0.3s ease-in-out, -webkit-box-shadow 0.3s ease-in-out;
}
.intrtext .box:hover{box-shadow: 0px 4px 10px rgba(0,0,0,0.1);}
.intrtext .box:hover .use-title{color:#ffa400;}

.intrtext .layui-col-md6{padding:0px 10px 30px 10px}
.map-box{padding:10px;position: relative;margin-bottom:60px;}
.point-area{font-size:12px;}
.of-crad .short-line{
	width:20px;height:3px;background:#ffa400;margin-bottom:30px;
}
.of-crad .content{
	color:#666;font-size:14px;
}
.text-gary{color:#999;}
.of-footer{
    text-align: center;
    color: #666;
    padding:30px;
    font-size:12px;
}
.text-sm{font-size:12px;color:#999999}
.wechart_img{
	background:url(../image/wimoor_wechart.png) center center no-repeat;display:block;
	width:100px;height:100px;
}
.tab-new-title li{font-size:14px;}
.layui-tab-new{ margin:0;}
.tab-product{background-color:#f8f8f8;padding:60px 0px!important; }
.layui-tab-content .layui-tab-item{max-width:1200px;margin:0 auto;}
.layui-layer-tips .layui-layer-content{
	padding:7px 7px 7px 7px   !important;
}
.layui-tab-content .box-content{padding: 30px;margin:0px 10px;
    background-color: #ffffff;
    border: 1px solid #eee;
    transition: -webkit-box-shadow 0.3s ease-in-out;
    transition: box-shadow 0.3s ease-in-out;
    transition: box-shadow 0.3s ease-in-out, -webkit-box-shadow 0.3s ease-in-out;
    }
 .layui-tab-content .box-content:hover{
   
    box-shadow: 0px 8px 16px rgba(0,0,0,0.1);
 }   
.layui-tab-content .function-title{font-size:20px;margin-bottom:20px;font-weight:700}
.layui-tab-content .function-content{position: relative;margin-bottom:30px;}
.layui-tab-content .war-title{font-size:16px;margin-bottom:10px;margin-left:40px;color:#666666;}
.layui-tab-content .war-content{font-size:12px;color:#999999;margin-left:40px;}
.icon-warehouse{background:url(../image/product/warehouse.png) center center no-repeat;
display:inline-block;width:32px;height:32px;
position:absolute;
 }
 .icon-product-chart{background:url(../image/product/product-chart.png) center center no-repeat;
display:inline-block;width:32px;height:32px;
position:absolute;
 }
  .icon-product-money{background:url(../image/product/product-money.png) center center no-repeat;
display:inline-block;width:32px;height:32px;
position:absolute;
 }
 .icon-product-fentan{background:url(../image/product/product-fentan.png) center center no-repeat;
display:inline-block;width:32px;height:32px;
position:absolute;
 }
   .icon-product-gys{background:url(../image/product/product-gys.png) center center no-repeat;
display:inline-block;width:32px;height:33px;
position:absolute;
 }
 .icon-product-bankcard{background:url(../image/product/product-bankcard.png) center center no-repeat;
display:inline-block;width:32px;height:32px;
position:absolute;
 }
 .icon-product-caifa{background:url(../image/product/product-caifa.png) center center no-repeat;
display:inline-block;width:32px;height:32px;
position:absolute;
 }
 .icon-product{background:url(../image/product/product.png) center center no-repeat;
display:inline-block;width:32px;height:32px;
position:absolute;
 }
.icon-peoples{background:url(../image/product/people.png) center center no-repeat;
display:inline-block;width:32px;height:32px;
position:absolute;
 }
 .icon-shopcar{background:url(../image/product/shopcar.png) center center no-repeat;
display:inline-block;width:32px;height:32px;
position:absolute;
 }
  .icon-buyin{background:url(../image/product/buyin.png) center center no-repeat;
display:inline-block;width:32px;height:33px;
position:absolute;
 }
   .icon-assmble{background:url(../image/product/assmble.png) center center no-repeat;
display:inline-block;width:32px;height:32px;
position:absolute;
 }
    .icon-cars{background:url(../image/product/car.png) center center no-repeat;
display:inline-block;width:32px;height:32px;
position:absolute;
 }
     .icon-plane{background:url(../image/product/plane.png) center center no-repeat;
display:inline-block;width:32px;height:32px;
position:absolute;
 }
      .icon-good{background:url(../image/product/goods.png) center center no-repeat;
display:inline-block;width:32px;height:34px;
position:absolute;
 }

 .icon-product-kucn{background:url(../image/product/product-kucn.png) center center no-repeat;
display:inline-block;width:32px;height:34px;
position:absolute;
 }
  .icon-op-control{background:url(../image/product/op-control.png) center center no-repeat;
display:inline-block;width:32px;height:32px;
position:absolute;
 }
 .icon-op-clock{background:url(../image/product/op-clock.png) center center no-repeat;
  display:inline-block;width:32px;height:32px;
  position:absolute;
 }
 .icon-op-advdata{background:url(../image/product/op-advdata.png) center center no-repeat;
  display:inline-block;width:32px;height:32px;
  position:absolute;
 }
 .icon-op-saledata{background:url(../image/product/op-saledata.png) center center no-repeat;
  display:inline-block;width:32px;height:32px;
  position:absolute;
 }
  .icon-op-profitdata{background:url(../image/product/op-profitdata.png) center center no-repeat;
  display:inline-block;width:32px;height:32px;
  position:absolute;
 }
 .icon-op-searchdata{background:url(../image/product/op-searchdata.png) center center no-repeat;
  display:inline-block;width:32px;height:32px;
  position:absolute;
 }
  .icon-op-salecondata{background:url(../image/product/op-salecondata.png) center center no-repeat;
  display:inline-block;width:32px;height:32px;
  position:absolute;
 }
 .icon-op-anasylsdata{background:url(../image/product/op-anasylsdata.png) center center no-repeat;
  display:inline-block;width:32px;height:32px;
  position:absolute;
 }
  .icon-op-orderdata{background:url(../image/product/op-orderdata.png) center center no-repeat;
  display:inline-block;width:32px;height:32px;
  position:absolute;
 }
 .icon-op-invoiccedata{background:url(../image/product/op-invoiccedata.png) center center no-repeat;
  display:inline-block;width:32px;height:32px;
  position:absolute;
 }
 .icon-op-returnorder{background:url(../image/product/op-returnorder.png) center center no-repeat;
  display:inline-block;width:32px;height:32px;
  position:absolute;
 }
 .icon-op-saleday{background:url(../image/product/op-saleday.png) center center no-repeat;
  display:inline-block;width:32px;height:32px;
  position:absolute;
 }
  .icon-op-allsale{background:url(../image/product/op-allsale.png) center center no-repeat;
  display:inline-block;width:32px;height:32px;
  position:absolute;
 }
   .icon-ad-file{background:url(../image/product/ad-file.png) center center no-repeat;
  display:inline-block;width:32px;height:32px;
  position:absolute;
 }
   .icon-ad-keywords{background:url(../image/product/ad-keywords.png) center center no-repeat;
  display:inline-block;width:33px;height:33px;
  position:absolute;
 }
    .icon-ad-search{background:url(../image/product/ad-search.png) center center no-repeat;
  display:inline-block;width:32px;height:32px;
  position:absolute;
 }
     .icon-ad-putin{background:url(../image/product/ad-putin.png) center center no-repeat;
  display:inline-block;width:32px;height:32px;
  position:absolute;
 }
      .icon-ad-plan{background:url(../image/product/ad-plan.png) center center no-repeat;
  display:inline-block;width:32px;height:32px;
  position:absolute;
 }
  .icon-ad-history{background:url(../image/product/ad-history.png) center center no-repeat;
  display:inline-block;width:32px;height:32px;
  position:absolute;
 }
 .icon-ad-campagins{background:url(../image/product/ad-campagins.png) center center no-repeat;
  display:inline-block;width:32px;height:32px;
  position:absolute;
 }
  .icon-ad-data{background:url(../image/product/ad-data.png) center center no-repeat;
  display:inline-block;width:32px;height:32px;
  position:absolute;
 }
  .icon-ad-down{background:url(../image/product/ad-down.png) center center no-repeat;
  display:inline-block;width:32px;height:32px;
  position:absolute;
 }
  .icon-ad-ss{background:url(../image/product/ad-ss.png) center center no-repeat;
  display:inline-block;width:32px;height:32px;
  position:absolute;
 }
   .icon-ad-eye{background:url(../image/product/ad-eye.png) center center no-repeat;
  display:inline-block;width:32px;height:32px;
  position:absolute;
 }
    .icon-fi-rank{background:url(../image/product/fi-rank.png) center center no-repeat;
  display:inline-block;width:32px;height:32px;
  position:absolute;
 }
    .icon-fi-pen{background:url(../image/product/fi-pen.png) center center no-repeat;
  display:inline-block;width:32px;height:32px;
  position:absolute;
 }
     .icon-fi-money{background:url(../image/product/fi-money.png) center center no-repeat;
  display:inline-block;width:32px;height:32px;
  position:absolute;
 }
      .icon-fi-saleall{background:url(../image/product/fi-saleall.png) center center no-repeat;
  display:inline-block;width:32px;height:32px;
  position:absolute;
 }
      .icon-fi-cuntry{background:url(../image/product/fi-cuntry.png) center center no-repeat;
  display:inline-block;width:32px;height:32px;
  position:absolute;
 }
       .icon-fi-sku{background:url(../image/product/fi-sku.png) center center no-repeat;
  display:inline-block;width:32px;height:32px;
  position:absolute;
 }
 .icon-fi-user{background:url(../image/product/fi-user.png) center center no-repeat;
  display:inline-block;width:32px;height:32px;
  position:absolute;
 }
.of-footer p {
    margin-bottom: 10px;
}
.contact_message{margin-top:20px;
    display:inline-block;margin-right:20px;
}
.bg-light {
    background-color: #f8f9fa!important;
}
.page_head {
    border-bottom: 1px solid #eee;
    margin-top: 20px;
    height: 50px;
}
.nr_title {
    float: left;
    line-height: 1;
}
.nr_position {
    float: right;
    line-height: 1;
    padding-top: 15px;
}
.ResTitle_a1 span {
    font-size: 30px;
    color: #cf0000;
    display: inline-block;
}
a {
    text-decoration: none;
    color: #000;
    cursor: pointer;
}
.ResTitle_a1 em {
    font-size: 14px;
    color: #999999;
    display: inline-block;
}

.message{background:#ffffff;height:290px;margin-top:60px;padding:0 20px;border:1px solid #eee;
    -webkit-transition: -webkit-box-shadow 0.3s ease-in-out;
    transition: -webkit-box-shadow 0.3s ease-in-out;
    transition: box-shadow 0.3s ease-in-out;
    transition: box-shadow 0.3s ease-in-out, -webkit-box-shadow 0.3s ease-in-out;
}
.message .title{padding-top:20px;}
.message:hover{
	    box-shadow: 0px 4px 10px rgba(0,0,0,0.1);
}
.article-content .content-title {
    color: #222222;
    font-size: 20px;
    font-weight: normal;
    margin-bottom:10px;
}
.article-content.content-title:hover{color:#ffa400;}
.content-title{font-size:30px;}
.content-txt {
    margin-top:30px;
    color: #202020;
    font-size: 16px;
    line-height: 30px;
    padding-bottom: 40px;
}
.content-body-text{
overflow: hidden; text-overflow: ellipsis; height:40px;
}
.article-content{height:150px;padding:10px 0px;}
.content-body-text p,.content-body-text span{color:#999999!important; font-size:14px !important;}
.content-inf {
    margin-top: 30px;
    color: rgb(154, 154, 154);
    font-size: 12px;
}

.switcher .message_box{
background-color: #fff;
    padding: 5px 20px;
    position: absolute;
    color: #666;
    z-index: -1;
    top:6px;
    left:120px;
    border-radius: 4px;
    line-height: 30px;
    box-shadow: 0 0 10px rgba(0, 0 ,0 ,0.2);
    white-space: nowrap;
}
.switcher .call{
    position: fixed;
    right: 0;
    z-index:  99;
    bottom:100px;

}
 .call ul li{ 
    list-style: none;
    border-radius: 4px;
    margin-top: 10px;
    width:65px;
    cursor: pointer;}
.switcher ul .box1{background-image: linear-gradient(270deg, #ff6317 0, #ffa400 97%);box-shadow: 0px 0px 4px rgba(0,0,0,0.1)}
.switcher ul .box1 div{background:url(../image/home/icon-phone.png)center no-repeat;height:60px;}
.switcher ul .box2{background:#fff;box-shadow: 0px 0px 4px rgba(0,0,0,0.1);}
.switcher ul .box2 div{background:url(../image/home/icon-qq.png)center no-repeat;height:60px;}
.company_china{
	padding: 35px;
    background: #4d4d4d;
    color: #fff;
    height:220px;
}
.company_english{
	padding: 35px;
    background: #f8f8f8;
    height:220px;
     color: #666;
}
.company_china p,.company_english p{
	margin-bottom:16px;
	font-size:13px;
}
.mytable{width:100%;color:#222222;box-shadow: 0px 0px 5px rgba(100,100,100,0.1);}
.mytable tr td,.mytable tr th,.fixedtable tr th,.fixedtable tr td{ text-align: center;padding: 16px 20px;}
.mytable tr th, .fixedtable tr th{font-weight:400}
.mytable tr td{border-right: 1px solid #eee;}
.mytable tr th:first-child,.mytable tr td:first-child { text-align: left;}
.mytable .fa-check,.fixedtable .fa-check{background:url(../image/product/fa-check.png)center no-repeat;display:inline-block;width:16px;height:16px;}
.mytable .free-bg{background-image: linear-gradient(270deg, #827f7a 0, #dbdbdb 97%);}   
.mytable .vip-bg{background-image: linear-gradient(270deg, #ff8319 0, #fdd16d 97%);}    
.mytable .spvip-bg,.fixedtable .spvip-bg{background-image: linear-gradient(270deg, #ff482b 0, #ff9900 97%);}    
.free-bg, .vip-bg, .spvip-bg{color:#ffffff;font-size:24px;} 
.mytable tr:nth-of-type(odd) {
    background: #fbf9f8;
} 
.fixedtable tr:nth-of-type(odd) {
    background: #fbf4e4;
}    
 .fixedtable .price,.mytable .price{font-size:22px;color:#f22e2e;}  
 .fixedtable button,.mytable button{margin-top:10px;} 
 .fixedtable{
    top: 0px;
    width: calc(100% / 6 );
    position: absolute;
    background: #fffaeb;
    right: calc(100% / 6 - 16px);
    box-shadow: 0 0 11px rgba(255, 112, 19,0.1);
    border: 1px solid #ffde7e;
    z-index:2;
 }
 .sel-meal{position: relative;}
 .message_box span{
 color:#333;
 }
 .service-activity{position:relative;}
 .close:hover{background-color:rgba(0,0,0,0.8)}
 .close{background:url(../image/home/close.png)center no-repeat;width:17px;height:17px;margin-right:20px;padding:8px;cursor:pointer;
 position:absolute;top:0;right:0;
 }
 .banner-service{height:120px;width:100%;cursor:pointer;
      background:url(../image/home/hand.jpg)center no-repeat;
 }
    