
#bg{
	width:1260px;
	height:200px;
	background:#202425;
	margin:0 auto;
	border:1px solid #000;
}
#bg .font{
	width:600px;
	height:30px;
	margin-top:50px;
	margin-left:5px;
	float:left;
}
#bg .font li{
	list-style:none;
	float:left;
	padding:10px;
}
#bg .font li a{
	font-weight:600;
	text-decoration:none;
	font-size:12px;
	color:#fff;
}
#bg .font li a:hover{
	text-decoration:underline;
	color:green;
}
#bg .fontcopy{
	font-weight:600;
	font-size:12px;
	color:#999;
	margin-left:15px;
	margin-top:110px;
	width:600px;
	}
#bg .fontcopy p span{
	color:green;
}
#bg .right{
	width:500px;
	float:right;
	color:#fff;
	margin-top:50px;
	}
#bg .right dl{
	border-left:1px solid #444;
	padding:0 10px;
	}
#bg .right dl dt{
	font-size:14px;
	font-weight:bold;
	margin-bottom:20px;
	}
#bg .right dl dd{
	font-size:12px;
	color:#999;
	padding:5px 0;
	}