/*cssreset
------------------------------*/
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, p, blockquote, table, th, td, embed, object {
    padding: 0;
    margin: 0; 
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
fieldset, img, abbr {
    border: 0;
}
address, caption, cite, code, dfn, em, h1, h2, h3, h4, h5, h6, strong, th, var {
    font-weight: normal;
    font-style: normal;
}
ul {
    list-style: none;
}
caption, th {
    text-align: left;
}
h1, h2, h3, h4, h5, h6 {
    font-size: 1.0em;
}
q:before, q:after {
    content: ”;
}
a, ins {
    text-decoration: none;
}
/*box*/
.box{
	width:1260px;
	margin:0 auto;
	margin-top:10px;
	}
.content{
	height:360px;
	position:relative;
	margin-top:15px;
	margin-bottom:20px;
	}
.content>div{
	overflow:hidden;
	}
.content .ph1{
	width:540px;
	height:358px;
	float:left;
	margin-right:10px;
	}
.content .ph2{
	float:left;
	margin-right:10px;
	width:250px;
	height:358px;
	}
.box .content .topnav{
	font-family:"宋体";
	width:180px;
	height:358px;
	float:right;
	}
.box .content .topnav>a{
	text-align:center;
	line-height:40px;
	font-family:"宋体";
	background-color: #f3f3f3;
	display:block;
	color:#666;
	}
.box .content .topnav>a:hover{
	background-color:#ea5731;
	-webkit-transition-property:background-color;
	-moz-transition-property:background-color;   
	-o-transition-property:background-color;
	-webkit-transition-duration:0.5s;
	-moz-transition-duration:0.5s;
	-o-transition-duration:0.5s;
	color:#fff;
	text-align:center;
	}
.box .content .topnav .nav1{
	display:block;
	width:180px;
	height:50px;
	background: #ea5731;
	text-align:center;
	line-height:50px;
	color:#FFF;
	}
.box .content .topnav .nav2{
	width:88px;
	height:40px;
	margin-top:5px;
	float:left;
	}
.box .content .topnav .nav3{
	width:88px;
	height:40px;
	margin-top:5px;
	float:right;
	}
.box .content .topnav .nav4{
	width:88px;
	height:80px;
	line-height:80px;
	margin-top:5px;
	float:left;
	}
.box .content .topnav .nav5{
	width:88px;
	height:80px;
	line-height:80px;
	margin-top:5px;
	float:right;
	}
.box .content .topnav .nav4:hover{
	line-height:80px;
	}

/*table*/
/*公共部分
-------------------*/
.box .body talbe{
	margin:0 auto;
	width:236px;
	height:342px;
	font-size:14px;
	float:left;
	}
.box .body table tr td a{
	color:#fff;
	height:60px;
	line-height:60px;
	display:block;
	text-align:center;
	}
.box .body table tr td a:hover{
	background-color:#3098af;
	-webkit-transition-property:background-color;
	-moz-transition-property:background-color;   
	-o-transition-property:background-color;
	-webkit-transition-duration:0.8s;
	-moz-transition-duration:0.8s;
	-o-transition-duration:0.8s;
	color:#fff;
	text-align:center;
	}
.box .body table tr td .navbt{
	display: block;
	zoom: 1;
	width: 80px;
	height: 60px;
	margin-left: 74px;
	}
/*图片效果
--------------------------------------------------*/
.imgbg{
	display:block;
	background:#333;
	color:#fff;
	height:30px;
	line-height:30px;
	padding-left:10px;
	position:relative;
	bottom:30;
	opacity:0;
	}
.content div:hover .imgbg{
	opacity:0.9;
	-webkit-transition:opacity 1s ease 0.1ms;
	}
.body div:hover .imgbg{
	-webkit-transform:translateY(-18px);
	height:30px;
	opacity:0.9;
	-webkit-transition:translateY,opacity 1s ease 0.1ms;
	}
/*位置
----------------------------------------*/
.box .body>div{
	margin-left:15px;
	margin-bottom:10px;
	}
/*大图*/
.box .body .bigph{
	width:507px;
	height:342px;
	float:left;
	overflow:hidden;
	}
/*图片*/
.box .body .ph{
	width:241px;
	height:342px;
	float:left;
	overflow:hidden;
	}
/*小图*/
.box .body .smallph{
	float:left;
	width:236px;
	height:165px;
	float:left;
	overflow:hidden;
	}
/*1*/
.box .body .table1{
	background: url(../img/nav2.jpg) no-repeat;
	float:left;
	}
.box .body .table1 tr td .navbt{
	background: url(../img/tip.png) 0 0 no-repeat;
	}
.box .body .table1 tr td .colorone{
	background:#e97454;
	}
.box .body .table1 tr td .colortow{
	background:#eb8063;
	}
.box .body .table1 tr td a:hover{
	background-color:#ce5b39;
	}
/*2*/
.box .body .table2{
	background:url(../img/nav1.jpg) no-repeat;
	float:left;
	}
.box .body .table2 tr td .navbt{
	  background: url(../img/tip.png) no-repeat 0 -60px ;
	}
.box .body .table2 tr td .colorone{
	background:#45b2c8;
	}
.box .body .table2 tr td .colortow{
	background:#55b9cd;
	}
.box .body .table2 tr td a:hover{
	background-color:#3098af;
	}
/*3*/
.box .body .table3{
	background: url(../img/nav3.jpg) no-repeat;
	float:left;
	}
.box .body .table3 tr td .navbt{
	background: url(../img/tip.png) 0 -120px no-repeat;
	}
.box .body .table3 tr td .colorone{
	background:#8d7dc9;
	}
.box .body .table3 tr td .colortow{
	background:#9788cd;
	}
.box .body .table3 tr td a:hover{
	background-color:#7062aa;
	}
/*4*/
.box .body .table4{
	background: url(../img/nav4.jpg) no-repeat;
	float:left;
	}
.box .body .table4 tr td .navbt{
	background: url(../img/tip.png) 0 -180px no-repeat;
	}
.box .body .table4 tr td .colorone{
	background:#e18d5c;
	}
.box .body .table4 tr td .colortow{
	background:#e39669;
	}
.box .body .table4 tr td a:hover{
	background-color:#c78259;
	}
/*bottom*/
.clear{
	clear:both;
}