/*cssreset
----------------------------------*/
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, p, blockquote, table, th, td, embed, object {
    padding: 0;
    margin: 0; 
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
fieldset, img, abbr {
    border: 0;
}
address, caption, cite, code, dfn, em, h1, h2, h3, h4, h5, h6, strong, th, var {
    font-weight: normal;
    font-style: normal;
}
ul {
    list-style: none;
}
caption, th {
    text-align: left;
}
h1, h2, h3, h4, h5, h6 {
    font-size: 1.0em;
}
q:before, q:after {
    content: ”;
}
a, ins {
    text-decoration: none;
}
/*box
-------------------------------*/
#box{
	width:1260px;
	margin:0 auto;
	margin-top:10px;
	height:1800px;
	}
#box .one{
	width:300px;
	float:left;
	}
#box .tow{
	height:1000px;
	width:300px;
	float:left;
	margin-left:20px;
	}

#box div div{
	border-radius:5px;
	box-shadow:1px 2px 2px #EFEFEF;
	width:300px;
	float:left;
	overflow:hidden;
	position:relative;
	margin-top:5px;
	}
#box p{
	width:300px;
	height:30px;
	line-height:30px;
	padding-left:5px;
	color:#999;
	position:absolute;
	bottom:0;
	display:block;
	z-index:2;
	background:#fff;
	font-size:12px;
	}
#box div div p span{
	color:#666;
	background:#F1F1F1;
	margin:0 5px;
	padding:5px;
	}
#box .border1{
	height:400px;
	}
#box .border2{
	height:350px;
	}
#box .border3{
	height:320px;
	}
#box .border4{
	height:180px;
	}
#box .border5{
	height:270px;
	}
	
	
.number{
	width:1260px;
	height:40px;
	line-height:40px;
	margin:0 auto;
	margin-bottom:10px;
	}
.number ul li{
	float:left;
	text-align:center;
	margin: 0 5px;
	}
.number ul li a{
	color:#fff;
	font-weight:bold;
	display:block;
	background:#999;
	}
.number ul li a:hover{
	background:#39F;
	-webkit-transition-property:background-color;
	-moz-transition-property:background-color;   
	-o-transition-property:background-color;
	-webkit-transition-duration:0.8s;
	-moz-transition-duration:0.8s;
	-o-transition-duration:0.8s;
	}
.number ul{
	height:40px;
	width:418px;
	margin:0 auto;
	}
.number ul li{
	box-shadow:0px 0px 3px #666;
	height:40px;
	width:40px;
	}
.img a img:hover{
	opacity:0.5;
	transition:opacity 1s ease 1ms;
	}