@charset "utf-8";
/* CSS Document */
*{ margin:0; padding:0; list-style:none;}
img{ border:none; border:0;}
a{ text-decoration:none;}
.fl{ float:left;}
.fr{ float:right;}
.clearfix:after{ content:""; width:0; height:0; visibility:hidden; clear:both; display:block;}
.show{ display:block !important;}
body{ overflow-x:hidden;}

/*公共导航*/
.nav_box{ width:100%; height:100px; background-color:rgba(56,130,199,.6); position:fixed; left:0; top:0;overflow:hidden; z-index:10; filter:alpha(opacity=60); background-color:#46b3ff\9;background-color:#46b3ff\9\0; opacity:.6\9\0;}
.nav{ width:1080px; height:100px; margin:0 auto; position:absolute; left:50%; margin-left:-540px; top:0; z-index:999; opacity:1; filter:alpha(opacity=100);}
.logo{ width:198px; height:100px; display:block;}
.nav_list li{ width:110px; height:97px; float:left;  cursor:pointer;}
.nav_list li img{ display:block; margin:15px auto 11px auto;}
.nav_list li a{ width:110px; height:97px; display:block; font:16px/16px 'Microsoft Yahei'; color:#fff; text-align:center;}
.nav_list li.te{ border-bottom:3px solid #099aff;}


/*公共footer*/
.footer{ width:100%; height:560px; background-image:url(../images/footer_02.jpg); background-repeat:no-repeat; background-size:cover;}
.footer_box{ width:1080px; height:560px; margin:0 auto; padding:0 47px 0 52px; box-sizing:border-box; overflow:hidden; position:relative}
.footer_box>h2{ width:866px; height:82px; margin:30px auto; font:36px/80px 'Microsoft Yahei'; color:#e5e5e5; text-align:center; background:url(../images/ft_titile_03.png) no-repeat 0 0;}
.footer_box>p{ font:18px/30px 'Microsoft Yahei'; color:#333333; }
.ftt_b{ width:1080px; height:160px;}
.ft_phone{ margin-top:47px;}
.ft_add{ width:910px; height:160px; float:left; margin:50px 0 0 -10px;}
.ft_add li{ width:200px; margin-left:25px; float:left;}
.ft_add li.ftte{ margin-right:0;}
.ft_add li p{ font:13px/24px 'Microsoft Yahei'; color:#fff;}

.cpr_box{ width:330px; height:39px; margin:90px auto 0 auto; overflow:hidden;}
.fot_map{  text-align:center;}
.fot_map a{ font:14px/14px 'Microsoft Yahei'; color:#808080; }
.fot_cpright{  font:14px/14px 'Microsoft Yahei'; color:#808080; text-align:center;}

.qr_code1{ width:100px; height:73px; position:absolute; right:137px; bottom:7px;}
.qr_code2{ width:100px; height:73px; position:absolute; right:23px; bottom:7px;}
.qr_txt{ width:14px; height:73px; float:right; }
.qr_txt p{ font:14px/14px 'Microsoft Yahei'; color:#333333; margin-top:3px;}




/************************************************首页**********************************************************/
/*banner轮播*/
.banner{ max-width:1920px; height:600px; position:relative; z-index:1; left:50%; margin-left:-960px; }
.banner .pic{ width:100%; height:600px; position:absolute;overflow:hidden;}

/*学校简介*/
.school_intro{ width:1080px; height:1045px; margin:0 auto;}
.sintro_top{ width:100%; height:505px;}
.si_zuo{ width:520px; height:505px; background:url(../images/jianjie_03.png) no-repeat 0 57px;}
.si_zuo p{ font:14px/39px 'Microsoft Yahei'; width:520px; height:195px; color:#000; padding-top:200px; -webkit-white-space:normal; white-space:normal;-moz-white-space:normal; -webkit-line-clamp:5;-webkit-box-orient:vertical; overflow:hidden; text-overflow:ellipsis;-webkit-text-overflow:ellipsis;}
.si_zuo a{ font:14px/14px 'Microsoft Yahei'; color:#000; display:block; float:right; margin-top:20px;}
.si_you{ width:480px; height:505px;}
.ketang{ height:130px; overflow:hidden;}
.ketang h3{ font:30px/39px 'Microsoft Yahei'; color:#099aff; margin-top:82px;}
.ketang h3 span{ font:16px/16px 'Microsoft Yahei'; color:#46b3ff; margin-left:20px;}

.sintro_bto{ width:100%; height:540px;}
.title_1 { font:32px/39px 'Microsoft Yahei'; color:#099aff; text-align:center;}
.title_2 { font:18px/39px 'Microsoft Yahei'; color:#808080; text-align:center;}

.ladyScroll{ height:400px;position:relative; margin-top: 35px;}
.ladyScroll .prev{ background:url(../images/left_btn_03.png) no-repeat;position:absolute;z-index:100; cursor:pointer; width: 28px; height: 90px; top:75px}
.ladyScroll .next{background:url(../images/right_btn_03.png) no-repeat;position:absolute;z-index:100; cursor:pointer; right:0; width: 28px; height: 90px;top:75px}
.ladyScroll .scrollWrap{ width:100%; margin-left:65px; margin-right:30px;overflow:hidden;position:absolute;}
.ladyScroll dl{ float:left;width:200px;text-align:center;position:relative; margin: 0 19px; height: 400px; overflow: hidden; }
.ladyScroll  span{display:block;width:285px;height:33px;position:absolute;left:0px;bottom:0;background-color:rgba(0,0,0,.5);filter:alpha(opacity=80);opacity:0.80; }
.ladyScroll  dt{margin:0 auto;width:285px;overflow:hidden;}
.ladyScroll  img{display:block;width:200px;height:150px;}
.ladyScroll  dd{ width:200px;height:180px;line-height:33px;font-size:18px;color:#fff;text-align:center;overflow:hidden;position:absolute;left:0px;}
.ladyScroll  dd h2{ font:18px/53px 'Microsoft Yahei'; color:#099aff; text-align:center;}
.ladyScroll  dd h3{ font:14px/25px 'Microsoft Yahei'; color:#4c4c4c; text-align:center;}
.ladyScroll  dd p{ font:12px/20px 'Microsoft Yahei'; color:#808080; text-align:left;}

.small_bg{ max-width:1920px; height:550px; overflow:hidden; position:relative; left:50%; margin-left:-960px;}


/*行业资讯*/
.hangye{ width:1080px; height:653px; margin:0 auto; overflow:hidden;}
.hy_tit{ margin:102px 0 46px 0;}
.hy_liebiao{ height:343px; width:100%; background:url(../images/hy_line_03.png) no-repeat 540px 0;}
.hy_liebiao>li{ width:50%; height:343px;}
.xinwen_r{ padding:0 0 0 24px; box-sizing:border-box;}
.hy_liebiao>li h5{ font:18px/39px 'Microsoft Yahei'; color:#099aff; }
.hy_liebiao>li h5 span{ font:14px/14px 'arical'; color:#333333;text-transform:uppercase; margin-left:12px; }
.xinwen{ width:100%; height:120px;}
.xw_txt{ width:312px; margin-left:10px;}
.xw_txt h3{ font:16px/28px 'Microsoft Yahei'; color:#333333; width:312px; height:28px; overflow:hidden; text-overflow:ellipsis; white-space: normal;display: -webkit-box;-webkit-line-clamp:1;-webkit-box-orient:vertical;}
.xw_neirong{ font:12px/20px 'Microsoft Yahei'; color:#666666; width:312px; height:60px; overflow:hidden; text-overflow:ellipsis; white-space: normal;display: -webkit-box;-webkit-line-clamp:3;-webkit-box-orient:vertical;}
.date{ font:12px/30px 'Microsoft Yahei'; color:#333333; float:left;}
.for_more{ font:12px/30px 'Microsoft Yahei'; color:#333333; float:right;}
.small_xw{ margin-top:20px; width:505px;}
.small_xw li{ width:505px; height:14px; margin-bottom:14px;}
.small_xw li a{ font:14px/14px 'Microsoft Yahei'; color:#333; width:295px; height:14px; overflow:hidden; text-overflow:ellipsis; white-space: normal;display: -webkit-box;-webkit-line-clamp:1;-webkit-box-orient:vertical; float:left;}
.small_xw li span{ font:14px/14px 'Microsoft Yahei'; color:#666; float:right;}
.gengduo{ font:14px/39px 'Microsoft Yahei'; color:#46b3ff; float:right;}


/*品牌优势*/
.pp_box{ width:1080px; height:640px; margin:0 auto; overflow:hidden;}
.pp_tit{ margin:100px 0 80px 0;}
.pp_liebiao{ height:300px; width:1080px; margin:0 auto;}
.pp_liebiao li{ width:230px; height:300px; float:left; margin-right:53px; position:relative; z-index:1; padding:2px; box-sizing:border-box;}
.pp_liebiao li.last{ margin-right:0;}
.kuang{ width:230px; height:300px; background:url(../images/kuang.png) no-repeat 0 0; position:absolute; left:0; top:0; z-index:99;}
.pp_icon{ width:100px; height:100px; position:absolute; left:65px; top:-60px; z-index:100;}
.pp_liebiao li h3{ font:24px/39px 'Microsoft Yahei'; color:#fefefe; width:120px; height:39px; position:absolute; left:55px; top:49px; z-index:200;}
.pp_liebiao li p{ font:16px/30px 'Microsoft Yahei'; color:#e5e5e5; width:192px; height:150px; position:absolute; left:12px; top:110px; z-index:200;overflow:hidden; text-overflow:ellipsis; white-space: normal;display: -webkit-box;-webkit-line-clamp:5;-webkit-box-orient:vertical;}


/************************************************关于我们-学校介绍**********************************************************/
.about_ban{ width:100%; height:420px; overflow:hidden;}
.school_intro1{ width:1080px; margin:0 auto; min-height:1440px;}
.sintro_zuo{ width:240px; }
.guanyu{ height:225px; width:240px; margin-top:20px; overflow:visible;}
.abbg_t{ width:240px; height:129px; background:url(../images/robot_bg_03.png) no-repeat 0 0; padding:70px 0 0 105px; box-sizing:border-box;}
.abbg_t h5{ font:22px/22px 'Microsoft Yahei'; color:#fff;}
.abbg_t p{ font:16px/36px 'Microsoft Yahei'; color:#fff;}
.about_tabl li{ width:240px; height:62px; background-color:#f0f0f0; border-bottom:1px solid #dddddd; position:relative; font:16px/62px 'Microsoft Yahei'; color:#545454; padding-left:20px; box-sizing:border-box; cursor:pointer;}
.about_tabl li.abspe{ background-color:#ffffff; border-bottom:1px solid #0996f9; color:#099aff;}
.about_tabl li img{ width:20px; height:20px; position:absolute; top:20px; right:20px;}
.abbg_b{ width:240px; height:17px;}
.abot_lianxi{ margin-top:153px; width:240px; height:760px;}
.abotlx_t{ width:240px; height:60px;}
.abotlx_m{ width:240px; background-color:#eeeeee; position:relative; padding:0 10px 120px 10px;  box-sizing:border-box; overflow:hidden;}
.abotlx_m>h6{ font:18px/18px 'Microsoft Yahei'; color:#099aff; margin:20px 0 8px 0;}
.abotlx_m>p{ font:13px/23px 'Microsoft Yahei'; color:#666666; }
.abot_qrbox{ width:190px; height:98px; margin:18px auto 0 auto;}
.abot_qrbox dl{ width:79px; height:98px;}
.abot_qrbox dl dt{ width:79px; height:79px;}
.abot_qrbox dl dd{  font:14px/14px 'Microsoft Yahei'; color:#666666; margin-top:5px; text-align:center;}
.abot_sao{ width:220px; height:99px; position:absolute; left:5px; bottom:-10px;}

.sintro_you{ width:820px; display:none; padding-bottom:30px;}
.crumb_bre{ width:820px; height:70px; border-bottom:1px solid #dddddd; background:url(../images/about_bread_03.png) no-repeat 690px 39px;}
.crumb_bre p{ font:14px/14px 'Microsoft Yahei'; color:#666666; float:right; margin-top:42px;}
.crumb_bre p .shouye{ font:14px/14px 'Microsoft Yahei'; color:#666666; }
.crumb_bre p a{ font:14px/14px 'Microsoft Yahei';  color:#099aff;}
.abt_rtit{ font:20px/30px 'Microsoft Yahei'; color:#099aff; background:url(../images/about_line_03.jpg) no-repeat 0 0; padding-left:13px; margin-top:20px;}
.abright_1{ width:165px; height:38px; background:url(../images/about_tit_07.png) no-repeat center; margin-top:40px; margin-bottom:20px;}
.abright_1 p{ font:16px/38px 'Microsoft Yahei'; color:#ffffff; margin-left:25px;}
.about_ts{ width:820px; height:350px; margin-bottom:20px;}
.sintro_you>p{ font:14px/24px 'Microsoft Yahei'; color:#333;}
.sbot_jie{ text-indent:28px;}


/************************************************关于我们-荣誉资质**********************************************************/
.honor_iframe{ border:0; overflow:hidden;}
.abt_honor li{ width:258px; height:318px; border:1px solid #000; float:left; margin-left:20px; margin-bottom:20px}
.abt_honor { margin-left:-20px;}
/*分页*/
.pagination{ width:500px; height:28px; margin:100px auto;}
.pagination li{ border:1px solid #cccccc; text-align:center;  float:left; padding:9px 14px;}



/************************************************关于我们-荣誉资质**********************************************************/
.abt_honor1 dl{ width:230px; height:370px; float:left; margin-right:65px;}
.abt_honor1 dl:nth-child(3n){ margin-right:0;}
.abt_honor1 dl dt{ width:230px; height:290px;}
.abt_honor1 dl dd{ width:230px; font:16px/16px 'Microsoft Yahei'; color:#333333; margin-top:24px; text-align:center;}





/************************************************师资团队**********************************************************/
.teacher_team{ width:1080px; margin:0 auto; }
.teacher_r{ width:820px;}
.teacher_intro li{ width:100%; height:330px;}
.teacher_intro li:after{ content:""; width:0; height:0; visibility:hidden; clear:both; display:block;}
.tt_pic{ width:260px; height:330px;}
.tt_pic dt{ width:260px; height:266px;}
.tt_pic dd{ width:260px; font:18px/18px 'Microsoft Yahei'; color:#666666; margin-top:14px; text-align:center;}
.tt_detail{ width:510px; height:266px; margin-left:50px;}
.tt_detail h4{ font:24px/30px 'Microsoft Yahei'; color:#333333;}
.tt_detail p{ font:14px/24px 'Microsoft Yahei'; color:#333333; margin-top:16px;}


/************************************************行业资讯**********************************************************/
.hangye_news{ width:1080px; margin:0 auto; min-height:1440px; position:relative;}
.hynewsy{ width:820px; display:none;}
.hynlist li{ width:100%; height:192px; border-bottom:1px dashed #099aff; overflow:hidden;}
.hynlist li.diyige{ margin-top:30px;}
.hynlist li:after{ content:""; width:0; height:0; visibility:hidden; clear:both; display:block;}
.hynlist li .nw_tit{ font:18px/18px 'Microsoft Yahei'; color:#545454; display:block; margin:30px 0 20px 0;  width:820px; height:19px; text-overflow:ellipsis; -webkit-text-overflow:ellipsis;-moz-text-overflow:ellipsis; -ms-text-overflow:ellipsis; -webkit-white-space:nowrap; white-space:nowrap;-moz-white-space:nowrap; -webkit-line-clamp:1;-webkit-box-orient:vertical; overflow:hidden;}
.hynlist li span{ background:url(../images/news_clock_03.png) no-repeat 0 0; height:14px; padding-left:23px; font:14px/14px 'Microsoft Yahei'; color:#999999; display:block; margin-bottom:20px;}
.hynlist li p { font:14px/20px 'Microsoft Yahei'; color:#545454; width:820px; max-height:60px; overflow:hidden; position:relative;}
.hynlist li p:after {
    content:'...';
    position:absolute;
    bottom:0;
    right:5px;
    padding-left:40px;
    background:-webkit-linear-gradient(left,transparent,#fff 55%);
    background:-o-linear-gradient(right,transparent,#fff 55%);
    background:-moz-linear-gradient(right,transparent,#fff 55%);
    background:linear-gradient(to right,transparent,#fff 55%);
}
.hynlist li .chakan{ font:14px/14px 'Microsoft Yahei'; color:#545454; float:right; margin-top:5px;}
.pagin_sp{ position:absolute; bottom:100px; right:250px;}


/************************************************新闻详情页**********************************************************/
.hynewsy h2{ font:24px/24px 'Microsoft Yahei'; color:#545454; text-align:center; margin:46px 0 22px 0;}
.news_tips{ width:250px; height:14px; margin:0 auto 25px auto;}
.nw_date{ background:url(../images/news_clock_03.png) no-repeat 0 0; height:14px;padding-left:23px; font:14px/14px 'Microsoft Yahei'; color:#999999; display:block;}
.nw_view{ background:url(../images/view_03.png) no-repeat 0 0; height:14px;padding-left:23px;font:14px/14px 'Microsoft Yahei'; color:#999999; display:block; margin-left:37px;}
.hynewsy>p{ font:14px/20px 'Microsoft Yahei'; color:#545454; margin-bottom:28px;}
.about_tabl li a{ width:100%; height:100%; display:block; }
.about_tabl li a p{ font:16px/62px 'Microsoft Yahei'; color:#545454;}
/************************************************线上报名**********************************************************/
.bm_sbg{ width:820px; height:170px; margin-bottom:80px;}

.chart_list{ width:384px; height:208px; margin:0 auto;}
.chart_list .lb1{ font:16px/30px 'Microsoft Yahei'; color:#000000; width:384px; height:30px; display:block; margin-bottom:30px; }
.chart_list .lb1 input{ width:328px; height:28px; border:1px solid #c9c9c9;}
.chart_list .lb2{ height:30px; display:inline-block; margin-bottom:20px;}
.chart_list label input.xingbie{   outline:none;}
.sexid{ line-height:18px;}

.bn_btns{ width:330px; height:40px; margin:54px auto}
.regist{ width:150px; height:40px; background-color:#099aff; border:0; border:none; font:16px/40px 'Microsoft Yahei'; color:#fff; text-align:center; cursor:pointer;}
.chongzhi{ width:148px; height:38px; background-color:#fff; border:1px solid #099aff; font:16px/38px 'Microsoft Yahei'; color:#099aff; text-align:center; cursor:pointer;}
.baoming1{ min-height:1300px !important;}


/************************************************联系我们**********************************************************/
.contact_add{ width:740px; height:620px; margin:0 auto;}
.contact_add li{ width:350px; height:290px; float:left; margin-bottom:40px;}
.contact_add li img{ display:block; margin:30px auto;}
.dizhi{ margin-right:40px; background-color:#f9e1e1;}
.qiuqiu{ background-color:#ddf3f5;}
.youxiang{ margin-right:40px; background-color:#ebf3db;}
.dianhua{ background-color:#d5edf9;}
.contact_add li h3{ font:24px/24px 'Microsoft Yahei'; color:#333; text-align:center; margin-bottom:19px;}
.contact_add li.dizhi p{ font:18px/32px 'Microsoft Yahei'; color:#666; width:234px; margin:0 auto;}
.contact_add li p{ font:18px/32px 'Microsoft Yahei'; color:#666;text-align:center; }


/************************************************课程体系**********************************************************/
.clasys h2{ font:24px/24px 'Microsoft Yahei'; color:#545454; text-align:center; margin:46px 0 22px 0;}
.clasys .news_tips{ width:192px; height:14px; margin:0 auto 25px auto;}

.kecheng{border-collapse:collapse; font-size:16px; font-family:'Microsoft Yahei'; color:#000; text-align:center;}
.kecheng thead tr td{ height:52px; line-height:52px; }
.kecheng tbody tr td{ height:30px; line-height:30px; }
































