@charset "utf-8";
/* CSS Document */

.login_main{
	width: 440px;
	margin: 0px auto;
	margin-top: 95px;
	overflow: hidden;
}
.login_title{
	width: 100%;
	font-size: 38px;
	font-weight: 600;
	text-align: center;
	color: #29e;
	margin-bottom: 30px;
}
.login_account{
	width: 100%;
	margin-bottom: 10px;
	overflow: hidden;
	text-align: center;
}
.login_account input{
	width: 378px;
	line-height: 28px;
	padding: 10px 15px 10px 45px;
	border: 1px solid #d9d9d9;
	font-size: 16px;
	background: url("../images/account_ico.png") no-repeat 10px;
}
.login_password{
	width: 100%;
	margin-bottom: 10px;
	overflow: hidden;
	text-align: center;
}
.login_password input{
	width: 378px;
	line-height: 28px;
	padding: 10px 15px 10px 45px;
	border: 1px solid #d9d9d9;
	font-size: 16px;
	background: url("../images/password_ico.png") no-repeat 10px;
}
.login_dis{
	width: 100%;
	margin-bottom: 20px;
	overflow: hidden;
	text-align: center;
}
.login_dis input{
	width: 16px;
	height: 16px;
	border: 1px solid #d9d9d9;
	background-color: #FFF;
	float: left;
	margin: 0px;
}
.login_dis p{
	font-size: 12px;
	color: #999;
	float: left;
	margin-left: 5px;
}
.login_dis a{
	font-size: 12px;
	color: #29e;
	float: right;
}

.login_submit{
	width: 100%;
	margin-bottom: 10px;
	overflow: hidden;
	text-align: center;
}
.login_submit a{
	display: block;
	width: 100%;
	height: 56px;
	line-height: 56px;
	font-size: 18px;
	background-color: #29e;
	color: #FFF;
	border: 0px;
	border-radius: 2px;
}

.login_register{
	width: 100%;
	overflow: hidden;
	text-align: center;
}
.login_register a{
	line-height: 56px;
	color: #29e;
}