body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
textarea,
p,
blockquote,
th,
td {
	font-family: "Microsoft YaHei", Arial, "微软雅黑";
	margin: 0;
	padding: 0;
}

h3 {
	font-size: 14px;
}

#wrapper {
	width: 100%;
	overflow-x: hidden;
}

.wrapper-content {
	padding: 20px 10px 40px;
}

.wrapper-content>h3 {
	font-weight: 500;
	padding-left: 10px;
	border-left: 2px solid #88B7E0;
}

.right_box {
	margin-top: 15px;
	border-top: 1px dotted #666;
	padding: 15px 0;
	font: 12px "microsoft yahei", Arial, Helvetica, sans-serif !important;
	color: #333;
	font-weight: 700;
}

.ibox-content {
	clear: both;
}

.form-group label {
	text-align: left !important;
}

.form-control {
	margin-left: -20px !important;
}

#ifr {
	position: fixed;
	right: -780px;
	top: 0;
	z-index: 90;
	box-shadow: 10px, 10px, 5px, #ddd;
	z-index: 2000;
}

th.prev {
	background: url(img/dateleft.png) -3px !important;
}

th.next {
	background: url(img/dateright.png) -10px !important;
}

.tr_active {
	background: #FEF388 !important;
}

.left_b_table,
.right_map_box {
	width: 49%;
	float: left;
}

.right_map_box {
	float: right;
}

.tab_list {
	overflow: hidden;
	border-bottom: 1px solid #ddd;
}

.tab_box {
	overflow: hidden;
	display: inline-block;
	position: relative;
	top: 3px;
}

.tab_list .search_inp {
	display: inline-block;
	float: right;
}

.tab_box,
.tab_box>li {
	margin: 0;
	padding: 0;
	list-style: none;
}

.tab_box>li {
	padding: 10px 15px;
	float: left;
	cursor: pointer;
}

.tab_box>li.select_tab {
	border-bottom: 3px solid #09c;
}

.table_content>div,
.right_tab_box>div,
.top_tab_box>div {
	display: none;
}

.table_content>div.active,
.right_tab_box>div.active,
.top_tab_box>div.active {
	display: block;
}

.form-control {
	margin-left: -40px;
}

div.top_tab_box {
	padding: 10px 0;
}

#gaoJiSouSuo {
	display: none;
	border-bottom: 1px solid #ddd;
	padding: 10px 0;
}

.table thead tr th,
.table tbody tr td {
	text-align: center;
}


/*交往记录*/

.jiLu_box {
	width: 100%;
}

.jiLu_item {
	border-bottom: 1px solid #eaeaea;
	margin-top: 10px;
	padding-bottom: 5px;
	position: relative;
}

.touXiang {
	position: absolute;
	left: 2px;
	top: 0;
	width: 40px;
	height: 40px;
	line-height: 40px;
}

.touXiang_img {
	width: 40px;
	height: 40px;
	line-height: 40px;
	background-color: rgb(241, 188, 184);
	position: absolute;
	color: #fff;
	text-align: center;
	font-size: 25px;
	cursor: pointer;
	border-radius: 5px;
}

.jiLu-main-info {
	margin-left: 50px;
}

.jiLu-title {
	line-height: 20px;
}

.user-name {
	height: 25px;
	line-height: 25px;
	color: #017dbe;
}

.jiLu-content {
	line-height: 20px;
	vertical-align: middle;
	overflow: hidden;
	word-wrap: break-word;
}

.jiLu-footer {
	position: relative;
	height: 20px;
	line-height: 20px;
	margin: 5px 0;
	clear: both;
}

.jiLu-footer a {
	float: right;
	text-decoration: none;
	cursor: pointer;
	margin-right: 5px;
	color: #017dbe;
}

.jiLu-time {
	margin-right: 5px;
	color: #017dbe;
	float: left !important;
	text-decoration: none !important;
	cursor: text !important;
}

.jiBen_table tbody tr td {
	text-align: left;
}

.huiFu-comment {
	/*background: #eaedf2;*/
	padding-right: 5px;
	border-top: 1px dotted #ced1d6;
	padding-top: 10px;
}

.huiFu_img {
	position: absolute;
	color: #fff;
	text-align: center;
	font-size: 25px;
	cursor: pointer;
	border-radius: 5px;
	width: 30px;
	height: 30px;
	line-height: 30px;
	background-color: rgb(92, 179, 137);
}

.huiFu-body {
	line-height: 20px;
	margin-left: 41px;
	overflow: hidden;
	word-wrap: break-word;
	word-break: normal;
}

.huiFu-user {
	height: 20px;
	line-height: 20px;
	color: #0092da;
	white-space: nowrap;
}

.huiFu-foot {
	height: 20px;
	line-height: 20px;
	margin-left: 41px;
	margin-top: 8px;
	clear: both;
}

.huiFu-time {
	float: left;
	color: #34495e;
	line-height: 20px;
}

.huiFu-recover {
	float: right;
	color: #0092da;
	margin-left: 5px;
	cursor: pointer;
	line-height: 20px;
}

.huiFu-time {
	float: left;
	color: #34495e;
	line-height: 20px;
}

.huiFu-line {
	float: right;
	color: #0094d9;
	line-height: 20px;
}

.huiFu-del {
	float: right;
	color: #0092da;
	margin-left: 5px;
	margin-right: 5px;
	cursor: pointer;
	line-height: 20px;
}

.ibox-content {
	padding: 0;
}

.table> tbody> tr> td {
	border: 1px solid #e7eaec;
}
