body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
textarea,
p,
blockquote,
th,
td {
	font-family: "Microsoft YaHei", Arial, "微软雅黑";
	margin: 0;
	padding: 0;
}
li{
	list-style: none;
}
body {
	background-color: #ececec;
}

h3 {
	font-size: 14px;
}

#wrapper {
	width: 100%;
	overflow-x: hidden;
}

.wrapper-content {
	padding: 20px 10px 40px;
}

.wrapper-content>h3 {
	font-weight: 500;
	padding-left: 10px;
	border-left: 2px solid #88B7E0;
}

.right_box {
	margin-top: 15px;
	border-top: 1px dotted #666;
	padding: 15px 0;
	font: 12px "microsoft yahei", Arial, Helvetica, sans-serif !important;
	color: #333;
	font-weight: 700;
}
.top_box,.content_box{
	display: inline-block;
	width:75%;
	border-radius: 3px;
	padding:10px;
	background-color:#fff;
	margin-bottom: 10px;
	overflow: hidden;
	float: left;
}

/*公告*/

.gongGao,.date_box{
	width:24%;
	float: right;
	padding:10px;
	background:#fff;
	border-radius: 3px;
	margin-bottom: 10px;
}
.gongGao ul li a{
	line-height: 25px;
	color:#333;
}
.gongGao ul li .xuHao{
	display: inline-block;
	width: 16px;
	background:#20ADEE;
	color:#fff;
	text-align: center;
	line-height: 16px;
	margin-right:5px;
}
.gongGao ul li .xuHao.sel{
	background:red;
}
/**/
.content_box{
	padding:0;
	background-color:#ececec;
}
.content_box .moKuai_box>div{
	display: inline-block;
	width:49%;
	padding:10px 15px;
	background-color:#fff;
	margin-bottom: 10px;
	border-radius: 3px;
}
.content_box .t_left,.content_box .b_left{
	float: left;
}
.content_box .t_left ul li,.content_box .t_right ul li,.content_box .b_right ul li{
	line-height: 25px;
}
.content_box .t_right,.content_box .b_right{
	float: right;
}
span.date{
	float: right;
	color:#aaa;
}
.tab_list {
	overflow: hidden;
	border-bottom: 1px solid #ddd;
}

.tab_box {
	overflow: hidden;
}

.tab_list .search_inp {
	display: inline-block;
	float: right;
}

.tab_box,
.tab_box>li {
	margin: 0;
	padding: 0;
	list-style: none;
}

.tab_box>li {
	padding: 10px 15px;
	float: left;
	cursor: pointer;
}
.tab_content{
	padding:10px 5px;
}
.tab_box>li.select_tab {
	border-bottom: 3px solid #09c;
}
.xdsoft_datetimepicker{
	border: none;
}
.tab_content>div{
	display: none;
}
.tab_content>div.sel{
	display: block;
}

a.heTong{
	float: right;
}
span.xingHao{
	float: left;
	width: 125px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin:0 10px;
}