body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
textarea,
p,
blockquote,
th,
td {
	font-family: "Microsoft YaHei", Arial, "微软雅黑";
	margin: 0;
	padding: 0;
}

h3 {
	font-size: 14px;
}

#wrapper {
	width: 100%;
	overflow-x: hidden;
}

.wrapper-content {
	padding: 20px 10px 40px;
}

.wrapper-content>h3 {
	font-weight: 500;
	padding-left: 10px;
	border-left: 2px solid #88B7E0;
}

.right_box {
	margin-top: 15px;
	border-top: 1px dotted #666;
	padding: 15px 0;
	font: 12px "microsoft yahei", Arial, Helvetica, sans-serif !important;
	color: #333;
	font-weight: 700;
}

a {
	text-decoration: none !important;
}

.white-bg {
	background-color: #ffffff;
}

.page-heading {
	border-top: 0;
	padding: 0px 10px 20px 10px;
}

.border-bottom {
	border-bottom: 1px solid #e7eaec !important;
}

.fh-breadcrumb {
	height: calc(100% - 196px);
	margin: 0 -15px;
	position: relative;
}

.fh-column {
	background: #fff;
	height: 100%;
	width: 240px;
	float: left;
}

.list-group-item {
	background-color: inherit;
	border: 1px solid #e7eaec;
	display: block;
	margin-bottom: -1px;
	padding: 10px 15px;
	position: relative;
}

.elements-list .list-group-item:first-child {
	border-left: none;
	border-top: none !important;
}

.white-bg {
	background-color: #ffffff;
}

.border-left {
	border-left: 1px solid #e7eaec;
	border-right: none;
	border-top: none;
	border-bottom: none;
}

.element-detail-box {
	padding: 25px;
}

.elements-list .list-group-item.active,
.elements-list .list-group-item:hover {
	background: #f3f3f4;
	color: inherit;
	border-color: #e7eaec;
	border-radius: 0;
}