
*{ margin:0; padding:0; list-style:none;}
a{ text-decoration:none;}
.clearfix:after{ content:''; display:block; width:0; height:0; clear:both; visibility:hidden;}
.fl{ float:left;}
.fr{ float:right;}
body{ overflow-x:hidden;}


/*****************首页**************************/
/*头部*/
.header_box{ width:100%; height:95px; background-color:#f6f6f6;}
.header{ width:1120px; height:95px; margin:0 auto; }
.logo{ width:170px; height:47px; margin-top:21px;}
.search{ width:367px; height:72px; padding-top:23px;}
.search p{ font:12px/12px 'Microsoft Yahei'; color:#666;}
.search p a{ float:right; font:12px/14px 'Microsoft Yahei'; color:#666; width:55px; display:block; padding-left:22px;}
.search p a:hover{ color:#f00;}
.search p a:first-child{ background:url(../img/star_03.png) no-repeat left top;}
.search p a:last-child{ background:url(../img/homepage_03.png) no-repeat left top;}
.search .search_box{ margin-top:12px;}
.search .search_box .search_btn{ width:26px; height:24px; background:url(../img/search_btn.jpg) no-repeat left top; cursor:pointer;margin-right:16px;}
.search .search_box input{ width:160px; height:22px; border:1px solid #aaa; }
.search .search_box a{  font:12px/22px 'Microsoft Yahei'; color:#666; display:inline-block; padding:0 2px;}
.search .search_box a:hover{ color:#f00;}

/*导航栏*/
.nav_box{ width:100%; height:40px; background-color:#c63131;}
.nav_box .nav{ width:1120px; height:39px; margin:0 auto; background-color:#c63131;}
.nav_box .nav li{ width:140px; height:39px; text-align:center; float:left; background-color:#c63131; margin-top:1px;}
.nav_box .nav li.nav_bg{ background-color:#fff;}
.nav_box .nav li a{ font:16px/39px 'Microsoft Yahei'; color:#fff; width:140px; height:39px; display:inline-block;}
.nav_box .nav li a.nava_bg{ color:#f00;}

/*banner*/
.banner{ width:100%; height:450px; }
.banner ul{ width:1920px; height:450px; margin:0 auto; position:relative;}
.banner ul li{ width:1920px; height:450px; position:absolute; left:0; top:0;}

/*产品中心*/
.product_center{ width:100%; height:442px; background-color:#fff;}
.pro_center{ width:1120px; height:442px; margin:0 auto;}
.pro_title{ width:800px; height:60px; margin:0 auto; border-bottom:1px solid #dddddd; position:relative;}
.pro_title p{ width:334px; height:42px; border:1px solid #ddd; border-radius:42px; background-color:#fff; position:absolute; left:232px; bottom:-23px; text-align:center;}
.pro_title p img{ padding:10px 0 0 30px; display:inline-block; float:left;}
.pro_title p span{ font:bold 20px/42px 'Microsoft Yahei'; color:#f00; float:left;}
.pro_title p span.sp1{ padding-left:20px; padding-right:20px;}
.pro_pics{ width:1120px; height:275px; margin-top:62px;}

.ladyScroll{height:275px; width:1120px; position:relative; }
.ladyScroll .prev{ background:url(../img/left_03.png) no-repeat;position:absolute;z-index:100; cursor:pointer; width: 16px; height: 47px; top:110px; left:0;}
.ladyScroll .next{background:url(../img/right_03.png) no-repeat;position:absolute;z-index:100; cursor:pointer; width: 16px; height: 47px;top:110px;right:5px;}
.ladyScroll .scrollWrap{width:100%; overflow:hidden;position:absolute;}
.ladyScroll dl{ float:left;width:250px;text-align:center;position:relative;  margin-right:38px; height: 275px; overflow: hidden;}
.ladyScroll dl:last-child{ margin-right:0;}
.ladyScroll  span{display:block;width:250px;height:35px;position:absolute;left:0px;bottom:0;background-color:rgba(217,13,18,1);}
.ladyScroll  dt{ width:250px;overflow:hidden; height:240px;}
.ladyScroll  img{display:block;width:250px;height:240px;}
.ladyScroll  dd{width:250px;height:35px;line-height:33px;overflow:hidden;position:absolute;left:0px;bottom:0;font:14px/35px 'Microsoft Yahei'; color:#fff; text-align:center;}

/*新闻资讯*/
.news_info{ width:100%; height:452px; background-color:#f6f6f6;}
.ns_info{ width:1120px; height:452px; margin:0 auto;}
.pro_title p.p1{ width:281px; height:42px; border:1px solid #ddd; border-radius:42px; background-color:#fff; position:absolute; left:232px; bottom:-23px; text-align:center;}
.pro_title p.p1 img{ padding:10px 0 0 30px; display:inline-block; float:left;}
.pro_title p.p1 span{ font:bold 20px/42px 'Microsoft Yahei'; color:#f00; float:left;}
.pro_title p.p1 span.sp1{ padding-left:25px; padding-right:20px;}
.ns_det{ margin-top:60px;}
.ns_det li{ width:550px; height:110px; float:left; margin-left:20px;}
.ns_det li.ns_mt{ margin-top:44px;}
.ns_det li:nth-child(2n+1){ margin-left:0;}
.news_summary{ width:360px; height:110px; position:relative;}
.news_summary h3{ font:14px/22px 'Microsoft YaHei'; color:#333; font-weight:normal;}
.news_summary p{ width:360px; max-height:44px;white-space: normal; overflow: hidden; -ms-text-overflow:ellipsis; text-overflow:ellipsis; display: -webkit-box;-webkit-line-clamp: 2;-webkit-box-orient: vertical; color:#666;font:12px/24px 'Microsoft YaHei';}
.news_summary p a{ color:#666;font:12px/24px 'Microsoft YaHei';}
.news_summary p a:hover{ color:#c63131;}
.news_summary .learn_more{ width:66px; height:24px; display:inline-block; position:absolute; background-color:#c63131; right:0; bottom:0; font:12px/24px 'Microsoft YaHei'; color:#fff; text-align:center; cursor:pointer;}

/*乐普集团*/
.lepu_box{ width:100%; height:490px; background-color:#fff;}
.lepu_com{ width:1120px; height:490px; margin:0 auto; text-align:center;}
.pro_title p.p2{ width:370px; height:42px; border:1px solid #ddd; border-radius:42px; background-color:#fff; position:absolute; left:232px; bottom:-23px; text-align:center;}
.pro_title p.p2 img{ padding:10px 0 0 30px; display:inline-block; float:left;}
.pro_title p.p2 span{ font:bold 20px/42px 'Microsoft Yahei'; color:#f00; float:left;}
.pro_title p.p2 span.sp1{ padding-left:25px; padding-right:20px;}
.lepu_com h3{ font:bold 18px/54px 'Microsoft YaHei'; text-align:center;}
.lepu_com h3.h3_mt{ margin-top:23px;}

.lepu_pic{ width:1120px; height:156px;}
.lepu_pic li{ float:left; margin-right:18px;}
.lepu_pic li img{ display:block;}
.lepu_pic li:first-child{ margin-left:160px;}

.lepud_pic{ width:730px; height:88px; margin:0 auto;}
.lepud_pic .ladyScroll{height:88px; width:1120px; position:relative; }
.lepud_pic .ladyScroll .prev{ display:none;}
.lepud_pic .ladyScroll .next{ display:none;}
.lepud_pic .ladyScroll .scrollWrap{ width:100%; overflow:hidden;position:absolute;}
.lepud_pic .ladyScroll dl{ float:left;width:144px;text-align:center;position:relative;  margin-right:50px; height: 88px; overflow: hidden;}
.lepud_pic .ladyScroll dl:last-child{ margin-right:0;}
.lepud_pic .ladyScroll  span{display:block;width:144px;height:20px;position:absolute;left:0px;bottom:0;background-color:rgba(217,13,18,1);}
.lepud_pic .ladyScroll  dt{ width:144px;overflow:hidden; height:88px;}
.lepud_pic .ladyScroll  img{display:block;width:144px;height:88px;}
.lepud_pic .ladyScroll  dd{width:144px;height:20px;line-height:33px;overflow:hidden;position:absolute;left:0px;bottom:0;font:14px/20px 'Microsoft Yahei'; color:#fff; text-align:center;}

/*footer*/
.footer_box{ width:100%; height:253px; background-color:#f0f0f0;}
.footer{ width:1120px; height:230px; margin:0 auto; padding-top:22px; }
.footer ul>li{ width:370px; height:196px; border-right:1px solid #c63131; float:left;}
.footer ul li:last-child{ border:none;}
.footer ul li span{ font:16px/22px 'SimSun'; color:#000; width:105px; height:22px; display:block; background:url(../img/line_03.png) no-repeat 70px 8px;}
.footer ul .li1 input{ width:270px; height:22px; border:1px solid #c63131; display:block;}
.footer ul .li1 input.name{margin-top:19px; margin-bottom:10px;}
.footer ul .li1 input.tel{ margin-bottom:10px;}
.footer ul .li1 textarea{ width:270px; height:40px; border:1px solid #c63131; resize:none; margin-bottom:10px;}
.footer ul .li1 input.submit{ width:44px; height:25px; background-color:#c63131; font:12px/25px 'SimSun'; color:#fff; text-align:center; border-radius:2px; cursor:pointer;}
.footer ul .li2 ul li{ height:15px; margin-top:20px; padding-left:66px; border:none; font:12px/15px 'SimSun'; color:#000;}
.footer ul .li2 ul li.tel_icon{ background:url(../img/tel.png) no-repeat 50px top;}
.footer ul .li2 ul li.phone_icon{ background:url(../img/phone.png) no-repeat 50px top;}
.footer ul .li2 ul li.fax_icon{ background:url(../img/fax.png) no-repeat 50px top;}
.footer ul .li2 ul li.address_icon{ background:url(../img/add.png) no-repeat 50px top;}
.footer ul .li2 span{ margin-left:50px;}
.footer ul .li3 span{ margin-left:50px;}
.footer ul .li3 div{ width:80px; height:80px; margin-top:23px; margin-right:5px;}
.footer ul .li3 .firm{ margin-left:60px;}
.footer ul .li3 div.bdsharebuttonbox { width:17px;}
.footer ul .li3 div.bdsharebuttonbox a{ display:block;}footer ul .li3 .product2{ margin-right:0px;}


/*****************关于我们**************************/
/*banner*/
.about_banner{ width:100%; height:180px;}

/*公司简介*/
.introduction_box{ width:100%; height:536px; background-color:#fff;}
.introduction{ width:1120px; height:536px; margin:0 auto;}
.intro_top{ width:1120px; height:186px; background:url(../img/ad_line.png) no-repeat 476px 63px; text-align:center;}
.intro_top span{ font-size:68px; font-family:'Microsoft YaHei'; color:#c63131; text-align:center; display:inline-block;padding-top:20px; }
.intro_top .p1{ font:12px/12px 'Arial'; color:#888;}
.intro_top .p2{ font:bold 24px/24px 'Microsoft YaHei'; color:#888; padding-top:8px;}
.intro_bto{ width:1120px; height:350px;}
.intro_bto .about{ width:234px; height:234px; float:left;}
.intro_bto p{ width:748px; float:right; font:14px/25px 'Microsoft YaHei'; color:#888; text-indent:28px;}

/*发展历史*/
.history_box{ width:100%; height:700px; background:url(../img/about_sbg_03.jpg) repeat-x;}
.history_top{ width:1120px; height:180px; margin:0 auto; text-align:center; background:url(../img/ad_line.png) no-repeat 476px 63px;}
.history_top span{ font-size:68px; font-family:'Microsoft YaHei'; color:#c63131; text-align:center; display:inline-block;padding-top:20px; }
.history_top .p1{ font:12px/12px 'Arial'; color:#888;}
.history_top .p2{ font:bold 24px/24px 'Microsoft YaHei'; color:#888; padding-top:8px;}
.history_bto{ width:1120px; height:520px; margin:0 auto; background:url(../img/about_bg_03.png) no-repeat 180px 0; position:relative;}
.history_bto p{ font:15px/18px 'Microsoft YaHei'; color:#fff; position:absolute; left:200px; top:30px;}
.history_dl1{ width:170px; height:76px; text-align:center; position:absolute; left:355px; top:28px;}
.history_bto dt{ font:17px/17px 'Microsoft YaHei'; color:#c63131; padding-bottom:13px;}
.history_bto dd{ font:13px/22px 'Microsoft YaHei'; color:#888;}
.history_dl2{ width:170px; height:76px; text-align:center; position:absolute; right:310px; top:28px;}
.history_dl3{ width:170px; height:76px; text-align:center; position:absolute; left:505px; top:190px;}
.history_dl4{ width:170px; height:76px; text-align:center; position:absolute; left:350px; bottom:86px;}

/*企业文化*/
.culture_box{ width:100%; height:780px; background-color:#f8f8f8;}
.culture{ width:1120px; height:780px; margin:0 auto;}
.culture_top{ width:1120px; height:180px; text-align:center;  background:url(../img/ad_line.png) no-repeat 476px 63px;}
.culture_top span{ font-size:68px; font-family:'Microsoft YaHei'; color:#c63131; text-align:center; display:inline-block;padding-top:20px; }
.culture_top .p1{ font:12px/12px 'Arial'; color:#888;}
.culture_top .p2{ font:bold 24px/24px 'Microsoft YaHei'; color:#888; padding-top:8px;}
.culture_bto{ width:1120px; height:493px; margin:0 auto; background:url(../img/about_culture_03.png) no-repeat 344px 72px; position:relative;}
.cul_wish h3{ font:17px/17px 'Microsoft YaHei'; color:#c63131; font-weight:normal;}
.cul_wish p{ font:13px/13px 'Microsoft YaHei'; color:#888; padding-top:15px;}
.cul_wish{ text-align:center; position:absolute; top:12px; left:470px;}

.cul_duty h3{ font:17px/17px 'Microsoft YaHei'; color:#c63131; font-weight:normal; text-align:right;}
.cul_duty p{ font:13px/13px 'Microsoft YaHei'; color:#888; padding-top:15px;}
.cul_duty{ position:absolute; top:266px; left:78px;}

.cul_value h3{ font:17px/17px 'Microsoft YaHei'; color:#c63131; font-weight:normal; text-align:left;}
.cul_value p{ font:13px/13px 'Microsoft YaHei'; color:#888; padding-top:15px;}
.cul_value{ text-align:center; position:absolute; top:266px; right:92px;}

.cul_bto2{ width:846px; height:107px; margin:0 auto;  padding-left:274px;}
.cul_bto2 p{ font:13px/30px 'Microsoft YaHei'; color:#888; }
.cul_bto2 p span{ color:#c63131;}

/*荣誉资质*/
.honor_box{ width:100%; height:1334px; background-color:#fff;}
.honor{ width:1120px; height:1334px; margin:0 auto;}
.honor_top{ width:1120px; height:144px; text-align:center; background:url(../img/ad_line.png) no-repeat 476px 63px;}
.honor_top span{ font-size:68px; font-family:'Microsoft YaHei'; color:#c63131; text-align:center; display:inline-block;padding-top:20px; }
.honor_top .p1{ font:12px/12px 'Arial'; color:#888;}
.culture_top .p2{ font:bold 24px/24px 'Microsoft YaHei'; color:#888; padding-top:8px;}
.honor_bto{ width:1120px; height:1190px;}
.honor_bto .honor1{ width:590px; height:404px; margin:0 auto;}
.honor_bto .honor2{ width:500px; height:718px; margin:20px auto 0 auto;}


/*****************产品中心**************************/
/*banner*/
.product_banner{ width:100%; height:389px;}
/*产品列表*/
.product_box{ width:100%; height:480px; background-color:#f0f0f0;}
.product_1{ width:1020px; height:420px; margin:0 auto; padding:60px 50px 0 50px;}
.product_img{ width:442px; height:315px;}
.product_txt{ width:500px;}
.product_txt h2{ font:36px/36px 'Microsoft YaHei'; color:#c63131; font-weight:normal; padding-bottom:30px;}
.product_txt p{ font:15px/26px 'Microsoft YaHei'; color:#888; text-indent:30px; padding-bottom:20px;}
.product_txt a{ font:15px/26px 'Microsoft YaHei'; color:#c63131;}

.product1_box{ width:100%; height:480px; background-color:#fff;}



/*****************新闻资讯**************************/
/*banner*/
.news_banner{ width:100%; height:180px;}
/*新闻标题*/
.news_box{ width:100%; height:185px;}
.news_title{ width:1120px; height:185px; margin:0 auto; background:url(../img/ad_line.png) no-repeat 476px 63px; text-align:center;}
.news_title span{ font-size:68px; font-family:'Microsoft YaHei'; color:#c63131; text-align:center; display:inline-block;padding-top:20px; }
.news_title .p1{ font:12px/12px 'Arial'; color:#888;}
.news_title .p2{ font:bold 24px/24px 'Microsoft YaHei'; color:#888; padding-top:8px;}
/*新闻列表*/
.news_box1{ width:100%; height:1564px; background-color:#fff;}
.news_list{ width:1120px; height:1564px; margin:0 auto;}、
/*当前位置*/
.current_position{ width:1120px; height:75px; }
.news_condition li{ width:128px; height:34px; background-color:#999999; float:left; text-align:center; margin-right:8px;}
.news_condition li.news_li_bg{ background-color:#c63131;}
.news_condition li a{ font:15px/34px 'Microsoft YaHei'; color:#fff; text-align:center; padding:0 32px; display:inline-block;}
.current_position p{font:12px/16px 'Sim Sun'; color:#888; float:right;}
.current_position p a{font:12px/16px 'Sim Sun'; color:#888;}
.current_position p a.last{ color:#c63131;}
/*新闻列表内容*/
.news_ul li{ width:870px; height:195px; background-color:#f5f5f5; margin-bottom:20px; padding:15px 40px 0 210px; position:relative; overflow:visible;}
.news_ul li:after{ content:''; display:block; width:0; height:0; clear:both; visibility:hidden;}
.news_ul li:last-child{ margin:0;}
.news_ul li:first-child{ margin-top:40px;}
.news_ul li .news_date{ width:90px; height:90px; background-color:#c63131; text-align:center; position:absolute; left:60px; top:-3px;}
.news_date h3{ font:50px/50px 'Microsoft YaHei'; color:#fff; padding:10px 0;}
.news_date p{ font:14px/14px 'Microsoft YaHei'; color:#fff;}
.news_ul li .news_img{ width:220px; height:164px;}
.news_text{ width:607px;}
.news_text h3{ font:18px/26px 'Microsoft YaHei'; color:#666;}
.news_text p{ font:14px/24px 'Microsoft YaHei'; color:#888; padding:20px 0 28px 0;}
.news_text a{ font:14px/14px 'Sim Sun'; color:#888;}
.news_text a:hover{ color:#c63131; text-decoration:underline;}
/*翻页*/
.news_list .paging{ width:230px; height:25px; margin:35px auto 0 auto;}
.news_list .paging li{ width:23px; height:25px; background-color:#fff; border:1px solid #cccccc; margin-right:6px; float:left; text-align:center;}
.news_list .paging li:last-child{ width:34px; height:25px;}
.news_list .paging li a{ font:14px/25px 'Microsoft YaHei'; color:#666; width:23px; height:25px; display:inline-block; text-align:center;}
.news_list .paging li a.pading_1{ width:34px; height:25px; display:inline-block;}

.paging{ width:230px; height:25px; margin:35px auto 0 auto;}
.paging li{ width:23px; height:25px; background-color:#fff; border:1px solid #cccccc; margin-right:6px; float:left; text-align:center;}
.paging li.pag_bg{ background-color:#eee;}
.paging li:last-child{ width:34px; height:25px;}
.paging li a{ font:14px/25px 'Microsoft YaHei'; color:#666; width:23px; height:25px; display:inline-block; text-align:center;}
.paging li a.pading_1{ width:34px; height:25px; display:inline-block;}


/*****************健康资讯**************************/
.health_text{ width:902px;}
.health_text h3{ font:18px/26px 'Microsoft YaHei'; color:#666; padding-top:15px;}
.health_text p{ font:14px/24px 'Microsoft YaHei'; color:#888; padding:20px 0 28px 0;}
.health_text a{ font:14px/14px 'Sim Sun'; color:#888;}
.health_text a:hover{ color:#c63131; text-decoration:underline;}



/*****************技术支持**************************/
.service_box1{ width:100%; background-color:#fff;}
.service_ul{ width:1120px; margin:0 auto;}
.service_ul h3{ margin:10px 0 3px 0; font:18px/70px 'Microsoft YaHei'; color:#888;}
.service_ul p{ font:18px/25px 'Microsoft YaHei'; color:#888;}
.service_ul span{ font:18px/35px 'Microsoft YaHei'; color:#888; margin-bottom:30px; display:block;}



/*****************招贤纳士**************************/
.recruitment_box1{ width:100%; height:902px; background-color:#fff;}
.recruitment_box2{ width:1120px; height:902px; margin:0 auto;}
.recruitment_ul li{ width:310px; height:180px; background-color:#eeeeee; float:left; margin-left:50px; margin-bottom:28px; padding:30px 0 0 30px;}
.recruitment_ul li:nth-child(3n+1){ margin-left:0;}
.recruitment_ul li.re_t{ margin-top:40px;}
.recruitment_ul li p{ font:14px/14px 'Microsoft YaHei'; color:#333333; margin-bottom:16px;}
.recruitment_ul li p span{ color:#c63131;}
.recruitment_ul li .arrow{ width:28px; height:28px;}
.paging_re{ width:230px; height:25px; margin:25px auto 0 auto;}
.paging_re li{ width:23px; height:25px; background-color:#fff; border:1px solid #cccccc; margin-right:6px; float:left; text-align:center;}
.paging_re li.pag_bg{ background-color:#eee;}
.paging_re li:last-child{ width:34px; height:25px;}
.paging_re li a{ font:14px/25px 'Microsoft YaHei'; color:#666; width:23px; height:25px; display:inline-block; text-align:center;}
.paging_re li a.pading_1{ width:34px; height:25px; display:inline-block;}


/*****************联系我们**************************/

.contect_map{ width:1920px; height:430px;}
.contect_box{ width:100%; height:290px; background-color:#fff;}
.contect{ width:1120px; height:290px; margin:0 auto;}
.con_add{ width:463px; height:232px; border-right:1px solid #c63131;}
.con_add h4{font:20px/20px 'Microsoft YaHei'; color:#c63131; margin:18px 0 30px 0; font-weight:normal;}
.con_add p{font:14px/24px 'Microsoft YaHei'; color:#666;}
.con_add p.cont_p{ margin:14px 0 30px 0;}
.contect_box ul li{ width:160px; height:232px; float:left;}
.contect_box ul li h3{font:14px/24px 'Microsoft YaHei'; color:#666; font-weight:normal;}
.contect_box ul li p{ font:14px/24px 'Microsoft YaHei'; color:#666;}
.contect_li1{ margin:0 122px 0 135px;}

/*****************产品系列**************************/
.series_box{ width:100%; height:1275px; background-color:#fff;}
.p_series li{ width:1120px; height:228px; margin:0 auto; background-color:#f5f5f5; margin-bottom:47px;}
.p_series li:after{ content:''; display:block; width:0; height:0; clear:both; visibility:hidden;}
.p_series li:first-child{ margin-top:40px;}
.p_series li .img_box{ width:216px; height:172px; margin:28px 0 0 35px;}
.p_series li .series_txt{ width:790px; height:172px; margin:28px 35px 0 0;}
.series_txt h3{ font:18px/18px 'Microsoft YaHei'; color:#333;}
.series_txt p{ font:12px/20px 'Microsoft YaHei'; color:#333; margin:30px 0 30px 0;}
.series_txt a{ font:12px/12px 'Sim Sun'; color:#333; width:70px; height:12px; display:inline-block;}
.series_txt a:hover{ color:#f00;}

/*****************产品详情**************************/
.details_box{ width:100%; height:780px; background-color:#fff;}
.p_details li{ width:1120px; height:605px; background-color:#f5f5f5; margin-top:28px}
.p_details li .img_box{ width:216px; height:172px; margin:28px 0 0 35px;}
.p_details li .series_txt{ width:790px; height:605px; margin:28px 35px 0 0;}
.mid{ width:1120px; margin:0 auto;}


/***************合作流程**************************/
.service_coop{ width:1120px; height:810px; background-color:#f5f5f5; margin-top:35px; position:relative;}
.service_box2{ width:100%; height:934px; background-color:#fff;}
.scoop_top{ width:1120px; height:60px; background-color:#c63131;}
.scoop_top p{font:18px/60px 'Microsoft YaHei'; color:#fff; padding-left:40px;}
.coop{ width:423px; height:375px; position:absolute; left:50%; top:50%; margin-left:-211px; margin-top:-188px;}
.cont_survey{ width:495px; height:64px; position:absolute; left:313px; top:126px; }
.cont_survey .zuo{ width:188px; height:64px; background-color:#def1fa;}
.zuo p{ font:10px/18px 'Sim Sun'; color:#333;}
.cont_survey h2{ font:bold 18px/64px 'Microsoft YaHei'; color:#000; display:inline-block;text-align:center;}
.cont_survey .you{ width:180px; height:64px; background-color:#aae2fc;}
.you p{ font:10px/18px 'Sim Sun'; color:#333;}

.sign_survey{ width:495px; height:64px; position:absolute; left:313px; bottom:160px; }
.sign_survey .zuo{ width:188px; height:64px; background-color:#def1fa;}
.sign_survey h2{ font:bold 18px/64px 'Microsoft YaHei'; color:#000; display:inline-block;text-align:center;}
.sign_survey .you{ width:180px; height:64px; background-color:#aae2fc;}

.coop_talk{ width:180px; height:188px; position:absolute; right:157px; top:290px;}
.coop_talk .shang{ width:180px; height:64px; background-color:#def1fa;}
.coop_talk .xia{ width:180px; height:64px; background-color:#aae2fc;}
.coop_talk h2{ font:bold 18px/40px 'Microsoft YaHei'; color:#000; display:inline-block;text-align:center;}
.coop_talk p{ font:10px/18px 'Sim Sun'; color:#333;}

.train{ width:188px; height:188px; position:absolute; left:157px; top:290px;}
.train .shang{ width:188px; height:64px; background-color:#def1fa;}
.train .xia{ width:188px; height:64px; background-color:#aae2fc;}
.train h2{ font:bold 18px/40px 'Microsoft YaHei'; color:#000; display:inline-block;text-align:center;}
.train p{ font:10px/18px 'Sim Sun'; color:#333;}



/*****************招聘岗位**************************/
.recruit_box{ width:100%; height:1000px; background-color:#fff;}
.recruit{ width:1120px; height:880px; margin:0 auto; background-color:#f5f5f5; margin-top:40px;}
.re_top{ width:1085px; height:75px; background-color:#c63131; padding-left:35px;}
.re_top p{ font:20px/48px 'Microsoft YaHei'; color:#fff;}
.re_top span{ font:12px/12px 'Sim Sun'; color:#fff; margin-right:28px;}
.re_bto{ width:1085px; height:775px; padding-left:35px; padding-top:30px;}
.re_bto p{ font:18px/33px 'Microsoft YaHei'; color:#666;}
.re_bto p.mt{ margin-top:44px; margin-bottom:10px;}
.re_top1{ width:1085px; height:60px; background-color:#c63131; padding-left:35px;}
.re_top1 p{ font:20px/60px 'Microsoft YaHei'; color:#fff;}





























































