/*title*/
.title{padding:10px 0; text-align: center; margin-bottom: 40px; padding-top:60px}
.title h2{color: #3786C7; padding:0 10px; margin:5px 0; font-size: 24px; display: inline-block; position: relative;}
.title h2:after{display: inline-block; content: ""; width:50px; height: 2px; background-color: #F39800; position: absolute;  bottom:-10px; left: 50%;transform: translateX(-50%);}
.title p{color: #888888; padding-top:10px}
/**/
.top{background-color: #3786C7;}
.top>div{width:1200px; padding:0 10px; margin:auto; }
.top p{line-height: 30px; display: inline-block; height: 30px; color: #FFF;}
/*nav*/
.nav{width:1200px; margin:auto; margin-bottom: 10px; margin-top:5px;}
.logo {float: left; padding:10px 0 0;}
.nav>ul{float: right; margin:20px 0 10px 0;}
.nav>ul>li{display: inline-block; width:120px; text-align: center; font-size: 16px; position: relative;}
.nav>ul>li a{color: #666; padding:10px 0; display: inline-block; width:120px;}
.nav>ul>li.active>a,.nav>ul>li a:hover{color: #F39800;}
.nav .dropdown{position: absolute; z-index: 999; display: none; padding:10px 0; top:40px; border:1px solid #e1e1e1; width:130px; box-shadow: 0px 1px 2px #CCC; background-color: #FFFFFF;}
.nav .dropdown li a{font-size: 13px; }
.nav>ul>li:hover>.dropdown{display: block;}
/*banner*/
#owl{position: relative;}
#owl img{width:100%;}
.owl-controls{position: absolute; bottom: 10px; width:100%;}
.owl-page.active span{background-color: #FFFFFF !important; }
/*search*/
.search{background-color: #f2f2f2; height: 55px;}
.search>div{width:1200px; padding:10px 10px; margin: auto;}
.search form{float: left; width:50%;}
.search form input[type="text"]{height: 35px; padding:10px; vertical-align: top;}
.search form input[type="button"]{height: 35px; border:none; background-color: #3786C7; color: #FFFFFF; width:50px; vertical-align: top;}
.search form p{display: inline-block; margin-left: 50px; line-height: 35px;}
.search form p a{padding:10px;}
.search>div>div{float: right; line-height: 35px; color: #666666;}
.search>div>div span{color: #F39800; font-family: georgia; font-size: 20px;}
/*products*/
.products{background: url(../images/bg.jpg); padding-bottom: 20px;}
.products li{width:25%; float: left; padding:20px;}
.products li a{background-color: #FFFFFF; padding-bottom: 6px; border-bottom: #2d5f9a 3px solid; }
.products li a,.products li a div{overflow: hidden; display: inline-block; width:100%;}
.products li a:hover img{transform: scale(1.2); transition: all .4s;}
.products li a:hover p{color: #3786C7;}
.products li img{width:260px; height: 200px; display: block; transition: all .4s;}
.products li p{display: inline-block; width:100%; line-height: 25px; text-align: center; color: #121A21;}
.products>div{width:1200px; margin:auto}
.more{ text-align: center; padding:30px;}
.more a{padding:12px 30px; border-radius: 20px; border:1px solid #3786C7; color: #F39800; font-size: 16px; box-shadow: 0 2px 3px #CCCCCC;}
.more a:hover{background-color: #F39800; border-color: #F39800; color: #FFFFFF;}
/*advantage*/
.advantage{width:1200px; margin: auto; padding-bottom: 40px;}
.advantage li>div{width:50%; float: left;}
.advantage li:after{display: block; content: ""; clear: both;}
.advantage li h3{margin:20px; font-size: 24px; color: #3786C7;}
.advantage li p{padding:10px 20px; line-height: 1.8; color: #666666;}

/*news*/
.news{background: url(../images/bg.jpg);}
.news>div{width:1200px; padding:0 10px; margin: auto; padding-bottom: 20px;}
.news-gs{margin-top:20px;}
.news-gs img{max-width:100%;}
.news-list-index>div{width:50%; padding:10px; float: left;}
.news-title h3{margin-right:50px; line-height: 1; margin-left: 20px;color: #FFFFFF; padding-left: 10px; border-left: 2px solid #FFFFFF;}
.news-title a{float: right; padding-right: 20px; color: #888888;}
.news-title a:hover{color: #F39800; text-decoration: underline;}
.news-list-index ul{margin-top:20px; padding:10px; padding-right:30px;}
.news-list-index li{border-bottom: 1px dashed #CCCCCC;}
.news-list-index li a{padding:10px; display: inline-block; color: #444444; overflow: hidden;text-overflow:ellipsis;white-space: nowrap;}
.news-list-index li a:hover{color: #F39800;}
.news-list-index li i{float: right; line-height: 40px; color: #888888;}
/*footer*/
.footer{background-color: #121A21; padding:30px 0 10px;}
.foot-nav ul{width:1200px; margin: auto; text-align: center; margin-bottom: 20px;color: #CCCCCC ;}
.foot-nav ul li{display: inline-block;}
.foot-nav ul li a{padding:10px; color: #EEE;}
.foot-nav ul li a:hover{color: #F39800;}
.foot-mes{ padding:10px 0;}
.foot-mes>div{width:1200px; padding:0 10px; margin:auto; text-align: center;}
.foot-mes p{color: #666; margin-bottom: 5px;}
.foot-mes p a{color: #666;} 
.foot-mes p a:hover{color: #F39800;}


/*abpg*/
.pg{width:1200px; margin:20px auto; padding:0 10px;}
.pg-nav{width:200px; float: left;}
.pg-nav-title{height: 70px; line-height:70px; font-size: 22px; color: #FFFFFF; text-align: center; width:200px; background: url(../images/nav.png);}
.pg-con{width:960px; margin-left: 20px; float: left;}
.pg-nav ul{margin-top:20px;}
.pg-nav ul li{margin-top:10px; }
.pg-nav ul li a{width:100%; height: 50px; padding-left: 30px; font-size: 16px; line-height: 50px; display: inline-block; background-color: #3786C7; color: #FFFFFF;}
.pg-nav ul li a:hover{background-color: #F39800;}
.bread{padding:10px 0; border-bottom: 1px solid #CCCCCC;}
.bread p{margin-left: 10px; padding-left: 10px; border-left: 2px solid #3786C7; line-height: 1;}
.bread p a{color: #666; padding:0 5px;}
.bread p a:hover{color: #F39800;}
.pg-content{padding:10px; margin-top:20px;}
.pg-content img{max-width: 100%; margin-bottom: 20px;}
.pg-content p{line-height: 2; color: #444444; text-indent: 2em; margin-bottom: 10px;}

/*pg-con*/
.map{margin-bottom: 20px;}
.map iframe{border: none; height:300px; width:100%;}
.pg-con form{padding:10px 0; border-top:1px dashed #DDDDDD;}
.pg-con form ul li{float: left; width:50%; padding:10px; ;}
.pg-con form h3{font-size: 20px; color: #3786C7; margin-bottom: 20px;}
.pg-con form input{width:100%; line-height: 20px; padding:10px; border:1px solid #ddd; margin:10px 0;}
.pg-con form textarea{padding:10px; margin:10px; height: 200px;width:100%;}
.pg-con form input[type="button"]{width:150px; background-color: #3786C7; color: #FFFFFF; border:none;}


/*new-pg*/
.news-con{margin-left: 120px;}
.news-tim{float: left; display: inline-block; width:90px; height: 90px; padding:10px; margin:10px; background-color: #378ED1;}
.news-con h3{font-size: 16px; padding:15px 0 10px; }
.news-con h3 a{color: #666666;}
.news-con h3 a:hover{color: #F39800;}
.news-con p{line-height: 2; font-size: 14px; overflow: hidden;display: -webkit-box;-webkit-line-clamp: 2;-webkit-box-orient: vertical;}
.news-tim span{display: inline-block; width:100%; font-size: 28px; text-align: center;  color: #FFFFFF;}
.news-tim p{line-height: 30px; font-size: 16px; text-align: center; color: #FFFFFF;text-indent: 0;}
.newspg li{padding-bottom: 15px; border-bottom: 1px dashed #CCCCCC;}
.newspg li:after{display: block; content: ""; clear: both;}
.newsdetail h2{font-size: 24px; margin:10px 0 20px; text-align: center; font-weight:normal;}
.newsdetail>p{text-align: center; text-indent: 0;}
.newsdcon{padding:30px 0 0;}
.newsdcon p{font-size: 15px; line-height: 2; text-indent: 2em;}

/*pro-pg*/

.propg li{width:33.33%; float: left; padding:20px;}
.propg li a{background-color: #FFFFFF; padding-bottom: 6px; border-bottom: #2d5f9a 3px solid; }
.propg li a,.products li a div{overflow: hidden; display: inline-block; width:100%; border-left: 1px solid #DDD; border-right:1px solid #DDDDDD;}
.propg li a:hover img{transform: scale(1.2); transition: all .4s;}
.propg li a:hover p{color: #3786C7;}
.propg li img{width:273px; height: 210px; display: block; transition: all .4s; margin:0;}
.propg li p{display: inline-block; width:100%; margin:10px 0 5px; line-height: 25px; text-align: center; color: #121A21; text-indent: 0;}
.propg li a div{overflow: hidden;}

.prodetail>div{width:50%; float: left; padding:10px;}
.prodetail>div img{max-width:90%;}
.prodetail h1{padding-left: 10px;  margin-top:10px; margin-bottom: 20px; font-size: 20px; border-left: 2px solid #F39800; color: #3786C7; line-height: 1;}
.prodetail h2{font-size: 15px; color:#C00000; margin:5px 0 10px 0;}
.page{margin:30px 0;}
.page li{padding:10px; line-height: 15px; color: #666666;}
.page li a{color: #666666;}
.page li a:hover{color: #378ED1;}
