*{padding:0; margin:0; box-sizing: border-box;font-family: "Helvetica Neue", Helvetica, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;}
li{list-style: none;}
input,textarea{outline: none; border:1px solid #CCCCCC;}
body{font-size: 14px; line-height: 1.5;}
.flr{float: left;}
.fll{float: right;}
.clearfix:after{display: block; content: ""; clear: both;}
a:hover, a:visited, a:link, a:active{ text-decoration: none;}
img{display: block;}
