.level {
	position: relative;
	padding-top: 50px;
	padding-bottom: 50px;
	overflow: hidden;
}

.level .lists {
	margin-top: 50px;
}

.level .lists li {
	position: relative;
	float: left;
	width: 97px;
	height: 380px;
}

.level .lists li .box {
	position: absolute;
	bottom: 0;
	left: 3px;
	margin: 0 auto;
	width: 94px;
	background-color: #01a9cd;
}

.level .lists li .box.active .text {
	display: block;
}

.level .lists li .text {
	display: none;
	background: #fff;
	color: #666;
	position: absolute;
	left: -50px;
	top: -128px;
	width: 180px;
	border: 1px solid #f70;
	border-radius: 5px;
	padding: 10px;
	font-size: 12px;
	line-height: 22px;
	text-align: left;
	z-index: 999;
}

.level .lists li .text i {
	position: absolute;
	left: 50%;
	bottom: -7px;
	margin-left: -3px;
	display: block;
	width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 7px solid #f70;
}

.level .lists li .rank {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 110px;
	height: 30px;
	line-height: 30px;
	font-size: 14px;
	color: #fff;
}

.level .lists .l1 {
	width: 300px;
}

.level .lists .l1 .box {
	left: 5px;
	width: 288px;
	height: 30px;
	background-color: #ffb035;
}

.level .lists .l1 .box .text {
	width: 220px;
	left: 20px;
}

.level .lists .l1 .box .rank {
	width: 288px;
}

.level .lists .l2 .box {
	height: 70px;
	background-color: #ff9e3e;
}

.level .lists .l3 .box {
	height: 105px;
	background-color: #ff9e3e;
}

.level .lists .l3 .box .text {
	width: 145px;
	left: -30px;
}

.level .lists .l4 .box {
	height: 140px;
	background-color: #ff9e3e;
}

.level .lists .l5 {
	margin-left: 7px;
}

.level .lists .l5 .box {
	height: 175px;
	background-color: #ff7373;
}

.level .lists .l5 .box .text {
	width: 160px;
	left: -38px;
}

.level .lists .l6 .box {
	height: 210px;
	background-color: #ff7373;
}

.level .lists .l6 .box .text {
	width: 160px;
	left: -38px;
}

.level .lists .l7 .box {
	height: 245px;
	background-color: #ff7373;
}

.level .lists .l7 .box .text {
	width: 160px;
	left: -38px;
}

.level .lists .l8 {
	margin-left: 7px;
}

.level .lists .l8 .box {
	height: 280px;
	background-color: #ff4242;
}

.level .lists .l8 .box .text {
	width: 170px;
}

.level .lists .l9 .box {
	height: 315px;
	background-color: #ff4242;
}

.level .lists .l10 .box {
	height: 350px;
	background-color: #ff4242;
}

.level .lists .l10 .box .text {
	width: 170px;
	left: -45px;
}

@media screen and (max-width: 1458px) {
	.level .lists li {
		width: 86px;
	}
	.level .lists li .box {
		left: 1px;
		width: 84px;
	}
	.level .lists .l5,
	.level .lists .l8 {
		margin-left: 10px;
	}
	.level .lists .l1 {
		width: 200px;
	}
	.level .lists .l1 .box {
		width: 188px;
	}
	.level .lists .l1 .box .rank {
		width: 188px;
	}
	.level .lists .l1 .box .text {
		top: -168px;
		width: 130px;
		left: 20px;
	}
}

.level .introlists {
	float: left;
	margin-left: 5px;
	margin-right: 5px;
	width: 288px;
	font-size: 14px;
	color: #fff;
}

.level .introlists li {
	line-height: 50px;
	border-bottom: 1px solid #fff;
}

.level .introlists.last {
	margin-right: 0;
}

@media screen and (max-width: 1458px) {
	.level .introlists {
		width: 256px;
		margin-left: 8px;
		margin-right: 4px;
	}
	.level .introlists.step1 {
		width: 188px;
		margin-left: 5px;
		margin-right: 0;
	}
}

.level .intro {
	margin-top: 0;
}

.level .intro .content {
	padding-left: 15px;
	padding-right: 15px;
	height: 110px;
	text-align: left;
	line-height: 22px;
}

.level .step1 {
	background-color: #ffb100;
}

.level .step2 {
	background-color: #ff9e3e;
}

.level .step3 {
	background-color: #ff7373;
}

.level .step4 {
	background-color: #ff4242;
}

.course {
	position: relative;
	padding-top: 50px;
	padding-bottom: 50px;
	overflow: hidden;
}

.course .m-bd {
	margin-top: 30px;
}

.course .tab-nav li {
	position: relative;
	margin-right: 6px;
	float: left;
	width: 295px;
	height: 100px;
	line-height: 100px;
	font-size: 28px;
	color: #fff;
	background-color: #ff8989;
	border-radius: 8px;
	cursor: pointer;
}

.course .tab-nav li.current {
	background: #ff3535;
	color: #ffffff;
}

.course .tab-nav li.last {
	margin-right: 0;
}

.course .tab-nav li span {
	font-size: 14px;
}

.course .tab-con {
	width: 1200px;
	height: 452px;
	position: relative;
	overflow: hidden;
}

.course .tab-con-item {
	width: 1200px;
	display: none;
}

.course .tab-con-item:after,
.course .tab-con-item:after {
	display: block;
	clear: both;
	visibility: hidden;
	height: 0;
	overflow: hidden;
	content: ".";
}

.course .tab-con-item .item-box {
	margin-top: 15px;
	padding: 30px;
	border: 1px solid #ccc;
	border-radius: 10px;
}

.course .tab-con-item .pic {
	float: left;
	width: 380px;
}

.course .tab-con-item .pic img {
	border-radius: 10px;
}

.course .tab-con-item .content {
	float: right;
	width: 720px;
}

.course .tab-con-item .content p {
	font-size: 22px;
	line-height: 34px;
}

.course .tab-con-item .content ul {
	margin-top: 20px;
}

.course .tab-con-item .content ul li {
	line-height: 28px;
	font-size: 16px;
	margin-bottom: 5px;
}

.course .tab-con-item .content .result-title,
.course .tab-con-item .content .result {
	font-size: 16px;
}

.course .tab-con-item .content .result-title {
	font-size: 18px;
	color: #fe3030;
	font-weight: bold;
}

@media screen and (max-width: 1458px) {
	.course .tab-nav li {
		width: 245px;
		line-height: 75px;
	}
	.course .tab-nav li span {
		position: absolute;
		top: 33px;
		left: 0;
		display: block;
		width: 245px;
	}
	.course .tab-con {
		width: 1000px;
		height: 484px;
	}
	.course .tab-con-item {
		width: 1000px;
	}
	.course .tab-con-item .pic {
		width: 300px;
		overflow: hidden;
	}
	.course .tab-con-item .content {
		width: 600px;
	}
}

.contain {
	position: relative;
	padding-top: 50px;
	padding-bottom: 50px;
	overflow: hidden;
}

.contain .m-bd {
	margin-top: 30px;
}

.contain .m-bd li {
	position: relative;
	float: left;
	height: 200px;
	width: 240px;
	background-color: #ccc;
	overflow: hidden;
}

.contain .m-bd li:hover .hover {
	display: block;
}

.contain .m-bd li .hover {
	display: none;
	position: absolute;
	left: 0;
	top: 0;
	height: 200px;
	width: 240px;
	background-color: rgba(0, 0, 0, 0.5);
	transition: all .3s;
	-moz-transition: all .3s;
	-webkit-transition: all .3s;
	-o-transition: all .3s;
}

.contain .m-bd li .hover .box {
	position: absolute;
	top: 60px;
	left: 21px;
	width: 190px;
	height: 80px;
	border: 3px solid #fff;
	color: #fff;
}

.contain .m-bd li .hover .cn {
	line-height: 46px;
	font-size: 24px;
}

.contain .m-bd li .hover .en {
	line-height: 30px;
	font-size: 16px;
}

.contain .m-bd .l1 {
	background-image: url(../images/4.jpg);
	background-repeat: no-repeat;
}

.contain .m-bd .l2 {
	background-image: url(../images/4.jpg);
	background-repeat: no-repeat;
}

.contain .m-bd .l3 {
	background-image: url(../images/4.jpg);
	background-repeat: no-repeat;
}

.contain .m-bd .l4 {
	background-image: url(../images/4.jpg);
	background-repeat: no-repeat;
}

.contain .m-bd .l5 {
	background-image: url(../images/4.jpg);
	background-repeat: no-repeat;
}

.contain .m-bd .l6 {
	background-image: url(../images/4.jpg);
	background-repeat: no-repeat;
}

.contain .m-bd .l7 {
	background-image: url(../images/4.jpg);
	background-repeat: no-repeat;
}

.contain .m-bd .l8 {
	background-image: url(../images/4.jpg);
	background-repeat: no-repeat;
}

.contain .m-bd .l9 {
	background-image: url(../images/4.jpg);
	background-repeat: no-repeat;
}

.contain .m-bd .l10 {
	background-image: url(../images/4.jpg);
	background-repeat: no-repeat;
}

.myscroll {
	width: 1200px;
	height: 420px;
	margin: 0 auto;
	border: 2px solid #ccc;
	line-height: 60px;
	font-size: 12px;
	overflow: hidden;
	margin-top: 45px;
}
.p1{
	width: 50%;
	float: left;
	margin: auto;
	text-align: center;
	font-size: 20px;
	color:#fff;
	/*border-right:1px solid #fff;*/
}
.p2{
	width: 50%;
	margin: auto;
	text-align: center;
	float: right;
	font-size: 20px;
	color:#fff;
}
.myscroll li {
	height: 40px;
	padding:0 40px;
	
	
}
.a1{
	float: left;
	width: 50%;
}
.a2{
	float: right;
	text-align: left;
	width: 50%;
}
.myscroll a {
	color: #333;
	text-decoration: none;
	font-size: 16px;
}

.myscroll a:hover {
	color: #e60014;
	
}


/*# sourceMappingURL=course.css.map */