.r-bd .poster {
	position: relative;
	height: 650px;
	overflow: hidden;
}

.r-bd .poster .unslider {
	overflow: hidden;
}

.r-bd .poster .unslider.hover .unslider-arrow,
.r-bd .poster .unslider:hover .unslider-arrow {
	display: block;
}

.r-bd .poster .index-slider li {
	display: block;
	height: 650px;
	background-image: url(../images/banner1.jpg);
	background-position: center 0;
	background-repeat: no-repeat;
}

.r-bd .poster .index-slider li a {
	display: block;
	height: 650px;
}

.r-bd .poster .index-slider .p2 {
	background-image: url(../images/banner2.jpg);
}

.r-bd .poster .index-slider .p3 {
	background-image: url(../images/banner3.jpg);
}

.r-bd .poster .unslider-arrow {
	top: 50%;
	display: none;
	margin-top: -50px;
	height: 100px;
	font-size: 100px;
	vertical-align: middle;
	color: #777;
	transition: margin .15s, opacity .15s;
}

.r-bd .poster .unslider-nav {
	position: relative;
	bottom: 30px;
	height: 30px;
	text-align: center;
}

.r-bd .poster .unslider-nav li {
	display: inline-block;
	cursor: pointer;
	color: #c0c0c0;
}

.r-bd .poster .unslider-nav .active {
	color: #f00116;
}

.r-bd .choice {
	padding-top: 50px;
	padding-bottom: 50px;
	background-color: #fff;
}

.r-bd .choice .m-ft {
	margin-top: 60px;
}

.r-bd .choice .m-bd {
	padding-top: 60px;
}

.r-bd .choice .m-bd .col-3 {
	float: left;
	padding-bottom: 10px;
	padding-top: 20px;
	width: 300px;
	width: 25%;
	box-sizing: border-box;
	overflow: hidden;
}

.r-bd .choice .m-bd .item1 .icon {
	background-position: 0 0;
}

.r-bd .choice .m-bd .item2 .icon {
	background-position: 0 -112px;
}

.r-bd .choice .m-bd .item3 .icon {
	background-position: 0 -224px;
}

.r-bd .choice .m-bd .item4 .icon {
	background-position: 0 -336px;
}

.r-bd .choice .m-bd .icon {
	margin: 0 auto;
	width: 136px;
	height: 112px;
	background-image: url(../images/icon.jpg);
	background-position: 0 0;
	background-repeat: no-repeat;
}

.r-bd .choice .m-bd .intro {
	padding-top: 20px;
}

.r-bd .choice .m-bd .intro h1 {
	margin-bottom: 15px;
	font-size: 26px;
	font-weight: bold;
}

.r-bd .choice .m-bd .intro p {
	margin: 0 auto;
	width: 200px;
	line-height: 22px;
	font-size: 14px;
	color: #888;
}

.r-bd .level {
	padding-top: 50px;
	padding-bottom: 50px;
	background-image: url(../images/bg_icon.png);
	background-color: #f5f5f5;
}

.r-bd .level .m-bd {
	margin-top: 46px;
}

.r-bd .level .m-bd .col-3 {
	float: left;
	padding-bottom: 10px;
	padding-top: 20px;
	width: 300px;
	width: 25%;
	box-sizing: border-box;
	overflow: hidden;
}

.r-bd .level .m-bd .col-3 .box {
	margin: 0 auto;
	width: 270px;
	background-color: #fff;
	padding-bottom: 50px;
	transition: all .3s;
	-moz-transition: all .3s;
	-webkit-transition: all .3s;
	-o-transition: all .3s;
}

.r-bd .level .m-bd .col-3 .box.active {
	box-shadow: 0 0 15px #c1c1c1;
	transform: translate(0, -15px);
}

.r-bd .level .m-bd .col-3 .icon-polygons {
	position: relative;
	width: 120px;
	height: 66px;
	line-height: 33px;
	font-size: 20px;
	margin: 36px auto 36px;
	color: #fff;
}

.r-bd .level .m-bd .col-3 .icon-polygons .top,
.r-bd .level .m-bd .col-3 .icon-polygons .bottom {
	width: 0;
	height: 0;
	position: absolute;
	left: 0;
	top: -36px;
	border-left: 60px solid transparent;
	border-right: 60px solid transparent;
	border-bottom-width: 36px;
	border-bottom-style: solid;
}

.r-bd .level .m-bd .col-3 .icon-polygons .bottom {
	top: 66px;
	border-left: 60px solid transparent;
	border-right: 60px solid transparent;
	border-bottom: 0;
	border-top-width: 36px;
	border-top-style: solid;
}

.r-bd .level .m-bd .col-3.item1 .icon-polygons,
.r-bd .level .m-bd .col-3.item1 .icon-num-box {
	background-color: #ffb035;
}

.r-bd .level .m-bd .col-3.item1 .icon-polygons .top,
.r-bd .level .m-bd .col-3.item1 .icon-num-box .top {
	border-bottom-color: #ffb035;
}

.r-bd .level .m-bd .col-3.item1 .icon-polygons .bottom,
.r-bd .level .m-bd .col-3.item1 .icon-num-box .bottom {
	border-top-color: #ffb035;
}

.r-bd .level .m-bd .col-3.item2 .icon-polygons,
.r-bd .level .m-bd .col-3.item2 .icon-num-box {
	background-color: #ea8430;
}

.r-bd .level .m-bd .col-3.item2 .icon-polygons .top,
.r-bd .level .m-bd .col-3.item2 .icon-num-box .top {
	border-bottom-color: #ea8430;
}

.r-bd .level .m-bd .col-3.item2 .icon-polygons .bottom,
.r-bd .level .m-bd .col-3.item2 .icon-num-box .bottom {
	border-top-color: #ea8430;
}

.r-bd .level .m-bd .col-3.item3 .icon-polygons,
.r-bd .level .m-bd .col-3.item3 .icon-num-box {
	background-color: #f66341;
}

.r-bd .level .m-bd .col-3.item3 .icon-polygons .top,
.r-bd .level .m-bd .col-3.item3 .icon-num-box .top {
	border-bottom-color: #f66341;
}

.r-bd .level .m-bd .col-3.item3 .icon-polygons .bottom,
.r-bd .level .m-bd .col-3.item3 .icon-num-box .bottom {
	border-top-color: #f66341;
}

.r-bd .level .m-bd .col-3.item4 .icon-polygons,
.r-bd .level .m-bd .col-3.item4 .icon-num-box {
	background-color: #f63a3b;
}

.r-bd .level .m-bd .col-3.item4 .icon-polygons .top,
.r-bd .level .m-bd .col-3.item4 .icon-num-box .top {
	border-bottom-color: #f63a3b;
}

.r-bd .level .m-bd .col-3.item4 .icon-polygons .bottom,
.r-bd .level .m-bd .col-3.item4 .icon-num-box .bottom {
	border-top-color: #f63a3b;
}

.r-bd .level .m-bd .col-3 .icon-level,
.r-bd .level .m-bd .col-3 .intro {
	padding-top: 30px;
}

.r-bd .level .m-bd .col-3 .intro {
	margin: 0 auto;
	width: 195px;
	width: 72%;
	height: 126px;
	font-size: 14px;
	line-height: 22px;
	color: #777;
}

.r-bd .level .m-bd .col-3 .icon-num {
	margin-top: 30px;
}

.r-bd .level .m-bd .col-3 .icon-num-box {
	margin: 0 auto;
	width: 100px;
	height: 100px;
	line-height: 100px;
	color: #fff;
	font-size: 20px;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
}

.r-bd .course {
	padding-top: 50px;
	padding-bottom: 50px;
	background-color: #fff;
	background-image: url(../images/bg.jpg);
	background-repeat: no-repeat;
	background-position: center;
}

.r-bd .course .m-bd {
	margin-top: 46px;
}

.r-bd .course .m-bd .course-box {
	float: left;
	margin-top: 30px;
	width: 25%;
}

.r-bd .course .m-bd .course-box .box {
	position: relative;
	margin: 0 auto;
	width: 560px;
	width: 93%;
	height: 200px;
	background-repeat: no-repeat;
	background-position: center;
	background-position: 0 0;
	border-radius: 7px;
	overflow: hidden;
}

.r-bd .course .m-bd .course-box .box.active .text {
	top: 0;
}

.r-bd .course .m-bd .course-box .box.active .text h3 {
	margin-top: 35px;
}

.r-bd .course .m-bd .course-box .box .text {
	position: absolute;
	left: 0;
	top: 135px;
	width: 560px;
	width: 100%;
	height: 160px;
	padding-top: 20px;
	padding-bottom: 20px;
	color: #fff;
	filter: alpha(opacity=50);
	background-color: #000;
	background-color: rgba(0, 0, 0, 0.5);
	transition: all .3s;
	-moz-transition: all .3s;
	-webkit-transition: all .3s;
	-o-transition: all .3s;
}

.r-bd .course .m-bd .course-box .box h3 {
	margin-bottom: 20px;
	font-size: 24px;
	font-weight: bold;
	transition: all .3s;
	-moz-transition: all .3s;
	-webkit-transition: all .3s;
	-o-transition: all .3s;
}

.r-bd .course .m-bd .course-box .box p {
	line-height: 26px;
	font-size: 14px;
}

.r-bd .course .m-bd .course-box.item1 .box {
	background-image: url(../images/01.jpg);
}

.r-bd .course .m-bd .course-box.item2 .box {
	background-image: url(../images/02.jpg);
}

.r-bd .course .m-bd .course-box.item3 .box {
	background-image: url(../images/03.jpg);
}

.r-bd .course .m-bd .course-box.item4 .box {
	background-image: url(../images/04.jpg);
}

.r-bd .equipment {
	padding-top: 50px;
	padding-bottom: 50px;
	background-color: #fff;
	border-top: 1px solid #e5e5e5;
}

.r-bd .equipment .m-bd {
	margin-top: 46px;
}

.r-bd .equipment .m-bd .equipment-video {
	position: absolute;
	left: 30px;
	top: 30px;
	height: 60px;
	width: 80px;
	background-color: #ccc;
}

.r-bd .equipment .m-bd .equipment-container {
	position: relative;
	float: left;
	width: 500px;
	height: 450px;
	overflow: hidden;
}

.r-bd .equipment .m-bd .equipment-container .equipment-slider {
	position: relative;
	margin-bottom: 15px;
	overflow: hidden;
}

.r-bd .equipment .m-bd .equipment-container .box {
	margin: 0 auto;
	height: 380px;
	width: 435px;
	background-image: url(../images/big-icon.jpg);
	background-repeat: no-repeat;
	background-position: 0 0;
}

.r-bd .equipment .m-bd .equipment-container .item1 .box {
	background-position: 0 0;
}

.r-bd .equipment .m-bd .equipment-container .item2 .box {
	background-position: 0 -380px;
}

.r-bd .equipment .m-bd .equipment-container .item3 .box {
	background-position: 0 -760px;
}

.r-bd .equipment .m-bd .equipment-container .item4 .box {
	background-position: 0 -1140px;
}

.r-bd .equipment .m-bd .text {
	float: right;
	height: 450px;
	width: 400px;
}

.r-bd .equipment .m-bd .text h3 {
	margin-top: 118px;
	font-size: 28px;
	font-weight: bold;
	line-height: 40px;
}

.r-bd .equipment .m-bd .text p {
	margin-top: 30px;
	font-size: 16px;
	line-height: 30px;
}

.r-bd .students {
	padding-top: 50px;
	padding-bottom: 50px;
	background-color: #504d62;
}

.r-bd .students .m-hd {
	color: #fff;
}

.r-bd .students .m-bd {
	position: relative;
	margin-top: 46px;
	overflow: hidden;
}

.r-bd .students .m-bd .students-container {
	position: relative;
	margin-left: 60px;
	margin-right: 60px;
}

.r-bd .students .m-bd .students-container .swiper-wrapper {
	padding-bottom: 160px;
}

.r-bd .students .m-bd .students-container .unslider-nav {
	text-align: center;
	height: 130px;
	margin-top: 30px;
}

.r-bd .students .m-bd .students-container .unslider-nav li {
	display: inline;
	display: inline-block;
	margin: 0 15px;
	height: 70px;
	width: 70px;
	background: none;
	border: 3px dashed #fff;
	border-radius: 100%;
	vertical-align: middle;
	filter: alpha(opacity=60);
	opacity: .6;
	transition: all .2s;
	-moz-transition: all .2s;
	-webkit-transition: all .2s;
	-o-transition: all .2s;
}

.r-bd .students .m-bd .students-container .unslider-nav li span {
	display: block;
	margin: 5px auto 0;
	height: 60px;
	width: 60px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: 60px 60px;
	border-radius: 100%;
	transition: all .2s;
	-moz-transition: all .2s;
	-webkit-transition: all .2s;
	-o-transition: all .2s;
}

.r-bd .students .m-bd .students-container .unslider-nav li.active {
	height: 120px;
	width: 120px;
	border-width: 3px;
	filter: alpha(opacity=100);
	opacity: 1;
}

.r-bd .students .m-bd .students-container .unslider-nav li.active span {
	height: 110px;
	width: 110px;
	background-size: 120px 120px;
	transition: all .2s;
	-moz-transition: all .2s;
	-webkit-transition: all .2s;
	-o-transition: all .2s;
}

.r-bd .students .m-bd .students-container .unslider-nav .list1 {
	background-image: url(../images/head1.jpg);
}

.r-bd .students .m-bd .students-container .unslider-nav .list2 {
	background-image: url(../images/head2.jpg);
}

.r-bd .students .m-bd .students-container .unslider-nav .list3 {
	background-image: url(../images/head3.jpg);
}

.r-bd .students .m-bd .students-container .unslider-arrow {
	top: 105px;
	font-size: 36px;
	color: #fff;
}

.r-bd .students .m-bd .students-container .unslider-arrow.prev {
	left: -60px;
}

.r-bd .students .m-bd .students-container .unslider-arrow.next {
	right: -60px;
}

.r-bd .students .m-bd .students-container .box {
	padding-top: 40px;
	padding-bottom: 40px;
	height: 125px;
	background-color: #fff;
	border-radius: 15px;
}

.r-bd .students .m-bd .students-container .message {
	padding-left: 60px;
	padding-right: 60px;
}

.r-bd .students .m-bd .students-container .message h3 {
	font-size: 22px;
	font-weight: bold;
	margin-bottom: 20px;
}

.r-bd .students .m-bd .students-container .message p {
	font-size: 14px;
	line-height: 26px;
}

.r-bd .students .m-ft .btn {
	border-color: #fff;
	color: #fff;
}

.r-bd .students .m-ft .btn:hover {
	border-color: transparent;
}

.r-bd .step {
	padding-top: 50px;
	padding-bottom: 50px;
	background-color: #fff;
}

.r-bd .step .m-bd {
	padding-top: 60px;
}

.r-bd .step .step-lists li {
	float: left;
	display: block;
	width: 300px;
	width: 25%;
}

.r-bd .step .step-lists li .icon {
	position: relative;
	display: flex;
	display: -webkit-flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	height: 174px;
	width: 174px;
	background-image: url(../images/step-sprite.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-position: 0 0;
}

.r-bd .step .step-lists li .icon .yes {
	position: absolute;
	left: 44px;
	top: 42px;
	display: block;
	height: 87px;
	width: 87px;
	background-color: #000;
	background-image: url(../images/step-sprite.jpg);
	background-repeat: no-repeat;
	background-position: -46px -221px;
	transition: -webkit-transform 0.5s ease-out;
	-webkit-transition: -webkit-transform 0.5s ease-out;
	-moz-transition: -moz-transform 0.5s ease-out;
	-o-transition: -o-transform 0.5s ease-out;
	-ms-transition: -ms-transform 0.5s ease-out;
}

.r-bd .step .step-lists li:hover .icon .yes {
	-webkit-transform: rotateY(360deg);
	-moz-transform: rotateY(360deg);
	-o-transform: rotateY(360deg);
	-ms-transform: rotateY(360deg);
	transform: rotateY(360deg);
}

.r-bd .step .step-lists li .text {
	padding-top: 25px;
}

.r-bd .step .step-lists li .step-num {
	font-family: "microsoft yahei light";
	font-size: 22px;
}

.r-bd .step .step-lists li .step-cn {
	margin-top: 15px;
	font-size: 26px;
	font-weight: bold;
}

.r-bd .step .step-lists li .step-intro {
	margin-top: 15px;
	font-size: 14px;
	color: #999;
}

.r-bd .step .step-lists li.step-1 .step-cn {
	color: #ff2a2a;
}

.r-bd .step .step-lists li.step-1 .step-cn .yes {
	margin-left: 6px;
	display: inline-block;
	width: 30px;
	height: 20px;
	background-image: url(../images/hand.gif);
}

.r-bd .step .step-lists li.step-2 .icon .yes {
	background-position: -44px -393px;
}

.r-bd .step .step-lists li.step-3 .icon .yes {
	background-position: -44px -565px;
}

.r-bd .step .step-lists li.step-4 .icon .yes {
	background-position: -44px -740px;
}

.r-bd .honor {
	padding-top: 50px;
	padding-bottom: 50px;
	background-color: #f1f1f1;
}

.r-bd .honor .unslider {
	overflow: hidden;
}

.r-bd .honor .honor-container {
	position: relative;
	overflow: hidden;
	padding-top: 100px;
}

.r-bd .honor .unslider-nav {
	position: absolute;
	top: 0;
	bottom: inherit;
	width: 1200px;
	width: 100%;
}

.r-bd .honor .unslider-nav li {
	display: inline;
	display: inline-block;
	height: 60px;
	line-height: 60px;
	width: 215px;
	font-size: 32px;
	color: #333;
	background-color: transparent;
	cursor: pointer;
	opacity: 1;
	border-radius: 10px;
}

.r-bd .honor .unslider-nav li.active {
	line-height: 56px;
	font-weight: bold;
	color: #fff;
	background-color: #ff3636;
}

.r-bd .honor .media-lists ul {
	padding-top: 20px;
}

.r-bd .honor .media-lists li {
	float: left;
	height: 75px;
	width: 240px;
}

.r-bd .honor .media-lists li .image {
	display: block;
	height: 75px;
	width: 240px;
	background-repeat: no-repeat;
	background-image: url(../images/co.png);
}

.r-bd .honor .media-lists li.m-1 .image {
	background-position: 16px 0;
}

.r-bd .honor .media-lists li.m-1 .image:hover {
	background-position: -319px 0;
}

.r-bd .honor .media-lists li.m-2 .image {
	background-position: 28px -80px;
}

.r-bd .honor .media-lists li.m-2 .image:hover {
	background-position: -309px -80px;
}

.r-bd .honor .media-lists li.m-3 .image {
	background-position: 20px -154px;
}

.r-bd .honor .media-lists li.m-3 .image:hover {
	background-position: -331px -154px;
}

.r-bd .honor .media-lists li.m-4 .image {
	background-position: 14px -236px;
}

.r-bd .honor .media-lists li.m-4 .image:hover {
	background-position: -321px -236px;
}

.r-bd .honor .media-lists li.m-5 .image {
	background-position: 15px -315px;
}

.r-bd .honor .media-lists li.m-5 .image:hover {
	background-position: -320px -315px;
}

.r-bd .honor .honor-lists li {
	float: left;
	height: 100px;
	width: 150px;
}

.r-bd .honor .honor-lists li img {
	width: 140px;
	height: 100px;
}

@media screen and (max-width: 1458px) {
	.r-bd .level .m-bd .col-3 .box {
		width: 235px;
	}
	.r-bd .honor .media-lists li {
		width: 200px;
	}
	.r-bd .honor .media-lists li .image {
		width: 200px;
	}
	.r-bd .honor .honor-lists li {
		width: 125px;
	}
	.r-bd .honor .honor-lists li img {
		width: 120px;
		height: auto;
	}
}


/*youfu*/

.youfu {
	position: fixed;
	right: 0;
	top: 25%;
	z-index: 20;
	text-align: center;
}

.youfu ul {
	border: 1px solid #E0E0E0;
	background: #FFF;
	padding-left: 0px;
}

.youfu li a {
	padding: 8px;
	border-bottom: 1px solid #E0E0E0;
	display: inline-block;
}

.youfu li:first-child {
	background: #E60012;
	border-color: #E60012;
}

.youfu li:first-child a {
	color: #FFF;
}

.youfu li:last-child a {
	border-bottom-style: none;
	background: #E60012;
	color: #FFF;
}

.youfu li a:hover {
	background: #E60012;
	border-color: #E60012;
	color: #FFF;
	text-decoration: none;
}

#b4 {
	position: relative;
}

.hong {
	position: absolute;
	z-index: 90;
	right: 0;
	top: 222px;
	width: 130px;
	height: 40px;
	background: #E60012;
	padding: 10px 0;
	display: none;
}

.youfu .hong a {
	border-bottom-style: none;
	color: #FFF;
	padding: 10px 0;
}


/*lesson*/

.lesson_top {
	margin: auto;
	background-color: #F3F3F3;
}

.lesson {
	width: 1200px;
	padding: 30px 0;
	margin: auto;
}

.lesson .p {
	padding: 30px 20px;
}

.title1 {
	padding: 30px 15px;
}

.les-left {
	position: relative;
	height: 380px;
	background-color: #e05b20;
	width: 230px;
	float: left;
}

.les-left h3 {
	color: #FFF;
	padding-bottom: 10px;
}

.bottons {
	width: 100%;
	position: absolute;
	bottom: 0;
}

.bottons a {
	font-size: 14px;
	width: 49.7%;
	color: #fff;
	float: left;
	text-align: center;
	background: rgba(255, 255, 255, .2);
	line-height: 50px;
}

.bottons a:last-child {
	border-left: 1px solid #e05b20;
}

.les-left p {
	color: #FFF;
	line-height: 20px;
	font-size: 13px;
}

.les-right {
	float: left;
	width: 970px;
}

.les-right p {
	color: #000;
	font-size: 15px;
}

.les-right li {
	background-color: #FFF;
	width: 228px;
	height: 185px;
	margin: 0 0 10px 10px;
	text-align: center;
	display: inline-block;
	overflow: hidden;
}

.les-right li img:hover {
	transform: scale(1.1);
}

.les-right li p:hover {
	color: #e60014;
}


/*插件样式*/

.poster-main {
	position: relative;
	width: 900px;
	height: 270px
}

.poster-main a,
.poster-main img {
	display: block;
}

.poster-main .poster-list {
	width: 900px;
	height: 270px
}

.poster-main .poster-list .poster-item {
	position: absolute;
	left: 0px;
	top: 0px
}

.poster-main .poster-btn {
	position: absolute;
	height: 100%;
	width: 100px;
	top: 0px;
	z-index: 10;
	opacity: 0.5;
}
.poster-main .poster-prev-btn{ left: 0px;}
.poster-main .poster-next-btn{right: 0px;}