/*hgroup*/

.warp {
	margin: 0 auto;
	width: 1200px;
}

.hgroup a {
	padding: 10px 25px;
	text-align: center;
	display: inline-block;
}

.hgroup a.active {
	background: #e05b20;
	color: #fff;
}

.listss div.show {
	display: block;
}

.listss div {
	display: none;
}


/*text*/

.more {
	width: 70px;
	line-height: 30px;
	display: block;
	background: #e6e6e6;
	text-align: center;
}

.more.right {
	margin-left: 20px;
}

.text1 {
	padding: 50px 0;
}

.text-left {
	float: left;
}

.listss {
	border: 2px solid #E0E0E0;
	padding: 20px;
}

.text1 a {
	font-size: 14px;
	color: #000;
}

.hgroup a {
	font-size: 16px;
}

.listss div ul {
	display: inline-block;
	width: 454px;
	padding-right: 50px;
	box-sizing: border-box;
	overflow: hidden;
}

.text1 ul li {
	line-height: 26px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	list-style: inside;
	list-style-type: square;
	color: #e05b20;
}

.text1 ul li a:hover {
	color: #e05b20;
}

.text-right {
	padding-top: 12px;
	float: left;
	list-style: inside;
}

.text-right ul {
	padding: 15px 20px;
}

.text-right p {
	padding-left: 20px;
	font-size: 16px;
}