@font-face {
	font-family: "iconfont";
	src: url("../fonts/iconfont.eot");
	src: url("../fonts/iconfont.eot") format("embedded-opentype"), url("../fonts/iconfont.woff") format("woff"), url("../fonts/iconfont.ttf") format("truetype"), url("../fonts/iconfont.svg") format("svg")
}

.iconfont {
	padding-left: 20px;
	font-family: "iconfont" !important;
	font-size: 26px;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale
}

.icon-zuobiao:before {
	content: "\e616"
}

.icon-email:before {
	content: "\e665"
}

.icon-weixin:before {
	content: "\e63b"
}

.icon-mianshi:before {
	content: "\e65b"
}

.icon-qq:before {
	content: "\e780"
}

.icon-index-phone:before {
	content: "\e622"
}

.icon-dianshi:before {
	content: "\e60c"
}

.icon-play:before {
	content: "\e776"
}

.icon-dot:before {
	content: "\e61a"
}

.icon-dianhua:before {
	content: "\e604"
}

.icon-a831:before {
	content: "\e67d"
}

.icon-lvxing:before {
	content: "\e640"
}

.icon-shenghuo:before {
	content: "\e645"
}

.icon-ren:before {
	content: "\e62f"
}

.icon-jiarudancibenchenggong:before {
	content: "\e605"
}

.icon-iconbaomingqueren01-copy:before {
	content: "\e614"
}

.icon-yingyu-copy:before {
	content: "\e600"
}

.icon-yinhangzhishixiaomiji:before {
	content: "\e617"
}

.icon-chevronright:before {
	content: "\e629"
}

.icon-chevronleft:before {
	content: "\e62a"
}

.icon-shangwu:before {
	content: "\e8b2"
}

.icon-ertong:before {
	content: "\e699"
}

.r-bd .poster {
	height: 500px
}

.r-bd .poster .poster-content {
	height: 500px
}

.r-bd .poster .poster-content a {
	height: 500px
}

.course {
	position: relative;
	padding-top: 50px;
	padding-bottom: 50px;
	overflow: hidden
}

.course .m-hd h1 {
	font-size: 46px
}

.course .m-hd h1 i {
	height: 2px
}

.course .m-hd strong {
	color: #ff3f4f
}

.course .m-bd {
	margin-top: 50px;
	text-align: left
}

.course .m-bd .card {
	text-align: justify
}

.course .m-bd .card li {
	margin-left: 20px;
	float: left;
	width: 285px;
	border-radius: 8px;
	background: #F8F8F8;
	font-size: 14px;
	-webkit-transition: .5s;
	transition: .5s;
	-webkit-transform-origin: top;
	-ms-transform-origin: top;
	transform-origin: top
}

.course .m-bd .card li.first {
	margin-left: 0
}

.course .m-bd .card li .cbox {
	padding: 26px 20px
}

.course .m-bd .card li .cbox dt {
	font-size: 20px;
	height: 60px;
	line-height: 30px;
	overflow: hidden
}

.course .m-bd .card li .cbox dt em {
	display: -moz-inline-box;
	-moz-box-orient: vertical;
	display: inline-block;
	color: #dd0213;
	line-height: 1;
	padding: 3px;
	border-radius: 2px;
	border: solid 1px;
	font-size: 14px;
	vertical-align: middle
}

.course .m-bd .card li .cbox dd {
	padding-top: 10px;
	height: 108px;
	color: #999;
	line-height: 24px;
	overflow: hidden
}

.course .m-bd .card li .cbox .teacher {
	margin-top: 15px;
	padding-bottom: 20px;
	font-size: 12px;
	text-align: center;
	border-bottom: 1px solid #e4e4e4
}

.course .m-bd .card li .cbox .teacher .t-head {
	margin: 0 auto;
	width: 80px
}

.course .m-bd .card li .cbox .teacher img {
	width: 80px;
	height: 80px;
	border-radius: 100%
}

.course .m-bd .card li .cbox .teacher p {
	margin-top: 10px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	word-wrap: normal;
	display: block;
	color: #999;
	font-size: 14px
}

.course .m-bd .card li .cbox .info p {
	margin: 10px 0;
	color: #666
}

.course .m-bd .card li .cbox .info .btn {
	margin-top: 10px;
	padding: 8px 60px;
	border-radius: 20px;
	color: #ff3f4f;
	background: transparent;
	border: 1px solid #ff3f4f;
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	-o-transition: all .3s;
	transition: all .3s
}

.course .m-bd .card li .cbox .info .btn:hover {
	color: #fff;
	background-color: #ff3f4f
}

.course .m-bd .card li .cbox .info .btn.disabled {
	border-color: #cccccc;
	color: #b5b5b5
}

.course .m-bd .card li .cbox .info .btn.disabled:hover {
	border-color: #cccccc;
	color: #b5b5b5;
	background-color: transparent;
	cursor: not-allowed
}

.course .m-bd .card li:hover {
	-webkit-transform: translate3d(0, -10px, 0);
	-ms-transform: translate3d(0, -10px, 0);
	transform: translate3d(0, -10px, 0);
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1)
}

@media screen and (max-width: 1458px) {
	.course .m-bd .card li {
		width: 235px
	}
}

.content {
	position: relative;
	padding-top: 50px;
	padding-bottom: 50px;
	overflow: hidden
}

.content .m-hd h1 {
	font-size: 46px
}

.content .m-hd h1 i {
	height: 2px
}

.content .m-hd strong {
	color: #ff3f4f
}

.content .m-bd {
	margin-top: 50px;
	text-align: left
}

.content .m-bd li {
	margin-bottom: 30px;
	float: left;
	width: 240px
}

.content .m-bd li .ibox {
	margin: 0 auto;
	width: 200px
}

.content .m-bd li .ibox .icon {
	margin: 0 auto;
	width: 118px;
	height: 118px;
	line-height: 118px;
	text-align: center;
	border: 1px solid #ff6370;
	border-radius: 100%;
	color: #ff6370
}

.content .m-bd li .ibox .icon .iconfont {
	font-size: 42px
}

.content .m-bd li .ibox p {
	margin-top: 20px;
	font-size: 18px;
	color: #888
}

.content .m-bd li .ibox p.en {
	margin-top: 10px;
	font-size: 14px;
	color: #ccc
}

@media screen and (max-width: 1458px) {
	.content .m-bd li {
		width: 200px
	}
}


/*# sourceMappingURL=live.css.map */