

.box-1{
       padding-top: 50px;
       padding-bottom: 30px;
}


.box-1-main  div{
      width: 1030px;
      height: 80px;
      margin:0 auto;
      border-right: 1px solid #a5a5a5;
      border-left: 1px solid #a5a5a5;
      position: relative;
      margin-top: 60px;
}

.box-1-main div i{
      display: block;
      width: 301px;
      height: 1px;
      background-color: #a5a5a5;
}


.box-1-main div .i1{
     position: absolute;
     top:-1px;
     left:-1px;
}

.box-1-main div .i2{
     position: absolute;
     top:-1px;
     right: -1px;
}


.box-1-main > div h2{
      font-weight: normal;
      text-align: center;
      position: relative;
      top:-60px;
}

.box-1-main > div h2 p{
      font-size: 40px;
      color:#000;
}

.box-1-main > div h2 span{
     font-size: 18px;   
     color:#a7a7a7;
}

.box-1-main > div ol{
      position: relative;
      top:-55px;
}
.box-1-main > div ol p{
     font-size: 14px;
     font-family: "微软雅黑";
     text-align: center;
     line-height: 26px;
     color:#616161;
} 


.box-1-main ul{
      overflow: hidden;
      margin-top: 26px;
}

.box-1-main ul ol{
     float: left;
}


.box-1-main ul img{
     display: block;
     float: left;
     margin-top: 60px;
}


.box-1-main ul ol li{
      width: 136px;
      height: 136px;
      border-radius: 50%;
      border:1px solid #a7a7a7;
      -webkit-transition: all 1s ease 0s;
      -moz-transition: all 1s ease 0s;
      transition: all 1s ease 0s;
	  position:relative;
	  overflow:hidden;
}


.box-1-main ul ol li span{
      display: block;
      -webkit-transition: all 1s ease 0s;
      -moz-transition: all 1s ease 0s;
      transition: all 1s ease 0s;
	  width::122px;
	  height:122px;
	  border-radius: 50%;
	  margin:7px;
    background-color: #eee;
}


.box-1-main ul ol p{
     font-size: 12px;
     text-align: center;
     font-family: "微软雅黑";
     color:#434343;
     margin-top: 10px;
     width: 136px;
     line-height: 24px;
}


.box-1-main ul ol li:hover span{
     -webkit-transform:rotate(360deg);
     -moz-transform:rotate(360deg);
     transform:rotate(360deg);
     font-size: 72px;
}

.box-1-main ul ol li:hover{
     border:1px solid #1139ab;
}





/*宣传和新闻*/

.box-2{
      width: 100%;
      background-color: #1139ab;
      height: 543px;
      margin-top: 20px;
      overflow: hidden;
}


.box-2-main{
       overflow: hidden;
       margin-top: 50px;
}

.box-2-main > div{
      float: left;
      overflow: hidden;
}

.box-2-main h2{
    color:#fff;
    font-size: 36px;
    font-weight: normal;
}

.box-2-main .box-2-main-div1 > div{
    width: 536px;
    height: 375px;
    background-color: #fff;
    position: absolute;
    margin-top: 24px;
    position: relative;
    z-index: 2;
}


.box-2-main .box-2-main-div1  > div ul{
    overflow: hidden;
}

.box-2-main .box-2-main-div1 > div ul h3{
   float: left;
   font-weight: normal;
   color:#1139ab;
   font-size: 50px;
   margin-left: 23px;
   margin-top: 5px;

}
.box-2-main .box-2-main-div1 > div ul li{
   float: left;
   width: 300px;
   height: 44px;
   background-color:#1139ab;
   border-right: 24px #ffcc00 solid; 
   margin-left: 16px;
   margin-top: 16px;
}

.box-2-main .box-2-main-div1 > div ul li span{
   color:#fff;
   font-size: 12px;
   left:10px;;
   position: relative;
   top:2px;
}
.box-2-main .box-2-main-div1 > div ul li p{
   color:#ffcc00;
   font-size: 18px;
   position: relative;
   left:10px;
   top:0px;
}



.sp{
    width: 555px;
    height: 295px;
    position: absolute;
    background-color: #232c46;
    bottom: 0;
    left:23px;
}

.sp > div{
    float: left;
}

.sp .sp-div1{
    width: 102px;
    height: 295px;
    background-color: #1139ab;
    position: relative;
}

.sp .sp-div1 p{
   color:#fff;
}

.sp .sp-div1 .sp-div-p1{
     font-size: 42px;
     width: 45px;
     position: absolute;
     top:30px;
     left:16px;
     line-height: 48px;
}


.sp .sp-div1 .sp-div-p2{
     font-size: 23px;
     width: 22px;
     position: absolute;
     top:30px;
     right: 14px;
     line-height: 27px;
}

.sp .sp-div1 .sp-div-p3{
      width: 100%;
      height: 38px;
      background-color: #232427;
      line-height: 38px;
      text-align: center;
      position: absolute;
      bottom: 0;
      left:0;
}




.box-2-main .news-box{
    float: right;
    width: 560px;
}

.box-2-main .news-box .news-box-div1{
     overflow: hidden;
}

.box-2-main .news-box .news-box-div1 h2{
   float: left;
}
.box-2-main .news-box .news-box-div1 ol{
    float: right;
    overflow: hidden;
    margin-top: 10px;
}

.box-2-main .news-box .news-box-div1 ol a{
   display:block;
   width: 95px;
   height: 30px;
   line-height: 30px;
   text-align: center;
   color:#232427;
   float: left;
   background-color: #f4f4f4;
   font-size: 18px;
}

.box-2-main .news-box .news-box-div1 ol #bs01{
  background-color: #ffcc00;
}



.news-main{
    margin-top: 24px;
}

.news-main ul{
    overflow: hidden;
}

.news-main ul img{
    display: block;
    float: left;
    width: 147px;
    height: 101px;
}
.news-main ul li{
   float: right;
   width: 389px;
}

.news-main ul li a{
    font-size: 16px;
    color:#fff;
}

.news-main ul li p{
    font-size: 12px;
    font-family: "微软雅黑";
    color:#fff;
    line-height: 24px;
    text-indent: 24px;
    margin-top: 1px;
}

.news-main ul li em{
    display: block;
    width: 100%;
    overflow: hidden;
    font-style: normal;
    margin-top: 15px;
}
.news-main ul li em span{
   display: block;
   float: left;
   color:#fff;
   font-size: 14px;
}

.news-main ul li em a{
    display: block;
    float: right;
    width: 47px;
    height: 17px;
    background-color:#c7c7c7;
    color:#fff;
    text-align: center;
    line-height: 16px;
    font-size: 12px;
}



.news-main ul li:hover .nwes-bt{
      color:#ffcc00;
}


.news-main ul li:hover em a{
    background-color: #232427;
}


.news-main hr{
     width: 100%;
     height: 1px;
     background-color: #f5f5f5;
     margin-top: 15px;
     margin-bottom: 15px;
}


.box-2dw{
     position: relative;
     height: 100%;
     overflow: visible;
}

.k1{
     position: absolute;
     bottom:0 ;
     left:-215px;
     z-index: 1;
}


.k2{
     position: absolute;
     top:-50px;
     right:-130px;
     z-index: 1;
}




/*标题*/
.box-bt{
     font-weight: normal;
}
.box-bt span{
    display: block;
    text-align: center;
    font-size: 38px;
    color:#a7a7a7;
}
.box-bt p{
    text-align: center;
    overflow: hidden;
    width: 100%;
    font-size: 28px;
    color:#232427;
}
.box-bt p i{
    display: block;
    float: left;
    width: 470px;
    height: 1px;
    background-color: #232427;
    margin-top: 20px;
}
.box-bt p .box-bt-i2{
     float: right;
}
.box-bt p .box-bt-i{
    float: left;
}
.box-bt p em{
   font-size: 28px;
   text-align: center;
   display: block;
   float: left;
   color:#232427;
   font-style: normal;
   width: 230px;
   text-align: center;
   margin:0 auto;
}

/*合作展示*/

.box-3{
        margin-top: 70px;
} 

.box-3dl{
    width: 804px;
    font-size: 12px;
    font-family: "微软雅黑";
    color:#5f5959;
    line-height: 28px;
    text-align: center;
    margin:0 auto;
    margin-top: 10px;
}

.box-3-main{
    overflow: hidden;
    margin-top: 30px;
}


.box-3-main > div{
    float: left;
}


.box-3-main .box-3lk{
    width: 231px;
    height: 311px;
    border-bottom: 23px #ffcc00 solid; 
    background-color: #1139ab;
    color:#ffcc00;
}

.box-3-main img{
    display: block;
}


.box-3-main .box-3lk img{
    width: 189px;
    margin:0 auto;
    margin-top: 36px;
}

.box-3-main .box-3lk p{
    width: 190px;
    height:23px;
    background-color: #ffcc00;
    text-align: center;
    line-height: 23px;
    font-size: 18px;
    color:#1139ab;
    margin:0 auto;
    margin-top: 10px;
}


.box-3-main .box-3lk span{
    display: block;
    font-size: 16px;
    color:#ffcc00;
    text-indent: 20px;
    margin-top: 14px;
}

.box-3-main .box-3lk em{
    display: block;
    font-style: normal;
    color:#ffcc00;
    font-size: 26px;
    text-indent: 20px;
    margin-bottom: 60px;
}

.box-3-main .box-3lk b{
    display: block;
    font-size: 25px;
    color:#ffcc00;
    font-family: Arial;
    text-indent: 20px;
}

.box-3-main .box-3lk b:nth-of-type(2){
    font-size: 18px;
}





.box-3-main .box-3hz{
    width: 916px;
    float: right;
    overflow: hidden;
}
.box-3-main .box-3hz div{
    width: 102%;
}

.box-3-main .box-3hz ul{
    overflow: hidden;
}

.box-3-main .box-3hz ul li{
    float: left;
    width: 220px;
    height:162px;
    margin-right: 12px;
    background-color: #333;
    margin-bottom: 10px;
}
.box-3-main .box-3hz ul li img{
   width: 100%;
   height:100%;
}





/*软文*/


.box-4{
  margin-top: 30px;
}



.box-4-main{
    
}


.box-4-main ol{
     overflow: hidden;
}

.box-4-main ol li{
     float: left;
     height:40px;
     line-height: 40px;
       text-align: center;
}


.box-4-main ol li:nth-of-type(1){
    width: 231px;
    background-color: #1139ab;
    font-size: 22px;
    font-weight: bold;
    color:#ffcc00;
    line-height: 41px;
}

.box-4-main ol li:nth-of-type(2){
    background-color: #e6e6e6;
    width: 654px;
    font-size: 16px;
    color:#232427;
}

.box-4-main ol li:nth-of-type(3){
   width: 286px;
   background-color: #ffcc00;
   font-size: 29px;
   color:#232427;
}



.box-4-main ul{
    overflow: hidden;
    width: 108%;
    margin-top: 30px;
}

.box-4-main ul li{
    float: left;
    margin-right: 36px;
    margin-bottom: 16px;
}

.box-4-main ul li a{
     display: block;
    width: 200px;
    height:86px;
    border:1px solid #232427;
    position: relative;
    background-color: #fff;
}

.box-4-main ul li a span{
    display: block;
    width: 67px;
    height:18px;
    background-color: #5A5C61;
    text-align: center;
    line-height: 18px;
    color:#fff;
    font-size: 12px;
    position: absolute;
    top:9px;
    right: -16px;
    overflow: hidden;
}


.box-4-main ul li a img{
    display: block;
    width: 200px;
    height:86px;
}



.box-4-main ul li a:hover{
        border:1px solid #1139ab;
}


.box-4-main ul li a:hover span{
  
       color:#232427;
       background-color: #FFCC00;
}







/*公司介绍*/

.box-5boss{
    width: 100%;
    overflow: hidden;
}
.box-5{
    width: 100%;
    background-color: #1139ab;
    height:558px;
    margin-top: 86px;
}

.box-5xs{
    overflow: visible;
    position: relative;
}
.wz02{
    display: block;
    position: absolute;
    right: 0px;
    top:-26px;
}
.k3{
    display: block;
    position: absolute;
    bottom: -90px;
    right:-222px;
}
.box-5-main{
       padding-top: 50px;
}

.box-5-main ul{
     overflow: hidden;
}


.box-5-main ul li{
    float: right;
    width: 593px;
}

.box-5-main ul img{
    display: block;
    float: left;
}


.box-5-main ul li i{
    display: block;
    font-size: 20px;
    color:#fff;
    font-style: normal;
}

.box-5-main ul li p{
    width: 100%;
    height:25px;
    background-color: #fefefe;
    overflow: hidden;
    line-height: 25px;
    margin-top: 8px;
}

.box-5-main ul li p em{
    display: block;
    float: left;
    width: 189px;
    height: 25px;
    background-color: #ffcc00;
    text-align: center;
    font-size: 16px;
    color:#232427;
    font-style: normal;
}

.box-5-main ul li p b{
    display: block;
    float: left;
    font-weight: normal;
    font-size: 16px;
    color:#232427;
    margin-left: 20px;
}

.box-5-main ul li p sub{
  display: block;
     font-size: 20px;
     color:#232427;
     line-height: 25px;
     float: right;
     margin-right: 30px;
}



.box-5-main div p{
     font-size: 14px;
     line-height: 28px;
     color:#fff;
     text-indent: 28px;
     margin-top: 20px;
}

.box-5-main div p span{
    color:#ffcc00;
}



.box-5-main .box-5hd{
    width: 1161px;
    height: 200px;
    border:5px solid #fff;
    border-radius: 0 0 50px 0;
    margin-top: 40px;
}









#zsgun{
  position:relative;
  height:300px;
  width:1130px;
  margin:auto;
   top:10px;
   left:-8px;
 }

a.hScrollPane_leftarrow{
  top:100px;
  cursor:pointer;
  display:block;
  width:35px;
  height:35px;
  background:url(../images/z.png) no-repeat left top;
  left:-70px;
  position:absolute;
}

a.hScrollPane_rightarrow{
  top:100px;
  cursor:pointer;
  display:block;
  width:35px;
  height:35px;
  background:url(../images/y.png) no-repeat left top;
  right:0px;
  position:absolute;
}

#gundiv{
  width:1080px;
  position:relative;
  padding-top:30px;
  float:left;
  display:inline;
  height:267px;
  overflow:hidden;
}

#gundiv ul{
  height:240px;
  position:absolute;
  width:10000px;
}

#gundiv li{
  width:244px;
  height:200px;
  overflow:hidden;
  float:left;
  margin-right:28px;
  position:relative; 
  text-align:center;
   background:url(../images/project_bg.jpg);
   overflow: hidden;
 }

#gundiv li p{
  display:none;
  height:18px;
  line-height:18px;
  text-align:center;
  overflow:hidden;
}
#gundiv li p a:link,#gundiv li p a:visited{
  color:#53711C;
  font-size:12px;
}

#gundiv li.zslion p{display:block;}

#gundiv li a img{
   margin-top:0;
   width: 244px;

   margin-right: 28px;
}


.kkk{
     width: 1060px;
     margin-left: 60px;
}







/*产品介绍*/


.box-6bt p i{
     width: 300px;
}
.box-6bt p em{
    width: 570px;
}

.box-6{
    margin-top: 70px;
}


.box-6-mian div ul{
    overflow: hidden;
    width: 106%;
    margin-top: 26px;
    margin-bottom: 23px;

}

.box-6-mian div ul li{
    float: left;
    width: 208px;
    height: 38px;
    border:1px solid #232427;
    text-align: center;
    line-height: 38px;
    font-size: 18px;
    color:#232427;
    margin-right: 30px;
    margin-bottom: 11px;
}


.box-6-mian div ul li:hover{
    background-color: #ffcc00;
}




/*合作伙伴*/

.box-7{
        margin-top: 40px;
        margin-bottom: 50px;
}

.box-7bt p i{
     width: 400px;
}
.box-7bt p em{
     width: 370px;
}

.box-7-main div{
   width: 100%;
   height: 178px;
   background-color: #e3e3e3;
   margin-top: 35px;
}



