

article,aside,dialog,footer,header,section,footer,nav,figure,menu{display:block;padding: 0px;margin: 0px;}

/*清理*/
*{
    padding: 0px;
    margin: 0px;
	border: none;
list-style: none;
outline: none;
 text-decoration: none;
}
html,body{
    
    font-family: "微软雅黑";
    color: #666;
    
}

body{
      background-image: url(../images/bj.jpg);
}

/*头部*/
a.lb:link {font-size: 12px;color: #5A5B5F;text-decoration: none;}
a.lb:visited {font-size: 12px;color: #5A5B5F;text-decoration: underline;}
a.lb:hover {font-size: 12px;color: #999;text-decoration: none;
}
.wenzi_b{
	color:#636468;
	font-size: 12px;
}
.top{

}


.top-s{
       width: 100%;
       height: 31px;
       background-color: #232427;
}


.box-center{
       width: 1171px;
       margin:0 auto;
       overflow: hidden;
}

.wenzi_a{color:#5A5B5F;}

.top-s ul{
     overflow: hidden;
     float: left;
}

.top-s ul li{
      float: left;
       font-size: 12px;
      font-family: "宋体";
      line-height: 31px;
}
.top-s ul li a{
      font-size: 12px;
      font-family: "宋体";
      line-height: 31px;
      margin:0 8px;
}

.top-s .top-s-ul1 li:last-child{
      margin-left: 10px;
}


.top-s .top-s-ul2{
     float: right;
}
.top-s .top-s-ul1{
     margin-left: 172px;
}




.top-x{
        width: 100%;
        height: 48px;
        background-color: #1139ab;
}


.top-x ul{
       overflow: hidden;
}

.top-x ul li{
      float: left;
}

.top-x ul li a{
      display: block;
      width: 119px;
      height: 48px;
      overflow: hidden;
}

.top-x ul li a p{
     color:#fff;
     text-align: center;
     font-size: 16px;
     margin-top: 6px;
}

.top-x ul li a span{
     font-size: 13px;
     display: block;
     text-align: center;
     font-family: Arial;
     font-variant:small-caps;
     color:#4864b4;
}
.top-x ul li hr{
      width: 1px;
      height: 48px;
      background-color: #112e80;
      border-right: 1px solid #2552d4;
      display: block;
}


.top-x ul .top-x-li1 a{
        width: 56px;
        height: 48px;
        background: #ffcc00 url(../images/syiocn.png) no-repeat center 8px;

}

.top-x ul .top-x-li1 a span{
     color:#907b25;
     margin-top: 30px;
}


.top-x ul li a:hover{
      background-color: #162f74;
}

.top-x #header{
     padding-left: 146px;
}

.lod{
       position: relative;
       overflow: visible;
       position:relative; z-index:99998;
}

.lod h1{
      top:0;
      left:0;
      position:relative; z-index:1000;
}
.lod h1 a{
      display: block;
      width: 147px;
      height: 147px;
      position:absolute; z-index:99999;
}




/*bannner*/

.banner{
     
   
}

/*banner*/
#full-screen-slider { width:100%; height:540px;}
#slides { display:block; width:100%; height:540px; list-style:none; padding:0; margin:0 0 0 0; position:relative}
#slides li { display:block; width:100%; height:100%; list-style:none; padding:0; margin:0; position:absolute}
#slides li a { display:block; width:100%; height:100%; text-indent:-9999px}

#full-screen-slider_b { width:100%; height:402x;}
#slides_b { display:block; width:100%; height:402px; list-style:none; padding:0; margin:0 0 0 0; position:relative}
#slides_b li { display:block; width:100%; height:100%; list-style:none; padding:0; margin:0; position:absolute}
#slides_b li a { display:block; width:100%; height:100%; text-indent:-9999px}

#pagination { display:block; list-style:none; position:absolute; left:49%; top:560px; z-index:9900;  padding:5px 15px 5px 0; margin:0}
#pagination li { display:block; list-style:none; width:10px; height:10px; float:left; margin-left:15px; border-radius:5px; background:#FFF }
#pagination li a { display:block; width:100%; height:100%; padding:0; margin:0;  text-indent:-9999px;}
#pagination li.current { background:#ffcc00;}







/*底部*/

.box-8{
     width: 100%;
     background-color: #292a2d;
}



.box-8s{
      width: 100%;
      height: 46px;
}


.box-8s ul{
     overflow: hidden;
}


.box-8s ul li{
     float: left;
     width: 290px;
}

.box-8s ul li a{
      line-height: 46px;
      color:#5a5b5f;
      font-size: 12px;
      font-family: "宋体";
}

.box-8 hr{
      width: 100%;
      height: 1px;
      background-color: #484a4f;
      border-bottom: 1px solid #111217;
}








.box-8 #footer{
     overflow: hidden;
     padding-top: 40px;
}


.box-8 #footer > div{
    float: left;
}


.box-8 #footer h3{
    font-weight: normal;
    color:#ffcc00;
    font-size: 20px;
}

.box-8 footer h3 span{
   font-size: 18px;
   color:#636468;
}


.footer-box1{
    margin-right: 58px;
}
.footer-box1 div{
     margin-top: 20px;
}


.footer-box1 li .yp{
     width: 237px;
     height: 23px;
     background-color: #737373;
     color:#fff;
     text-indent: 10px;
     font-size: 14px;
     float: left;
}

.footer-box1 li {
    font-size: 12px;
    font-family:"宋体";
    line-height: 23px;
    overflow: hidden;
    margin-bottom: 15px;
}


.footer-box1 li textarea{
    width: 217px;
    height: 120px;
    float: left;

    background-color: #737373;
    color:#fff;
    font-size: 14px;
    padding:10px;
}

.footer-box1 li p{
    float: left;
	width:80px;
}


.footer-box1 li .lyb_shou{
    width: 90px;
    height: 25px;
    background-color: #1139ab;
    color:#fff;
    margin-left: 80px;
    cursor:pointer;
}





.footer-box2 > div{
     width: 204px;
     height: 180px;
     background-color: #38393d;
     padding:20px;
     margin-top: 20px;
	 overflow:hidden;
}



.footer-box2 li{
    font-size: 12px;
    font-family:"宋体";
    line-height: 24px;
    color:#a4a4a4;
}


     .infolist{width:400px;matgin:0;} 
.infolist ul{margin:0;padding:0;} 
.infolist ul li{list-style:none;height:26px;line-height:26px;} 
.infocontent{width:400px;height:26px;overflow:hidden;height: 175px;}





.box-8 #footer .footer-box3{
      float: right;
}

.box-8 #footer .footer-box3 h3{
    color:#fff;
    font-size: 18px;
}


.box-8 #footer .footer-box3 h3 i{
     color:#fff;
    font-size: 20px;
    font-style: normal;
    position: relative;
    top:-15px;
    left:-5px;
}


.footer-box3 > div{
      width: 515px;
      height: 218px;
      border: 1px solid #737373;
      margin-top: 17px;
}


.footer-box3 h6{
    font-weight: normal;
    color:#ffcc00;
    font-size: 24px;
    margin-left: 27px;
    margin-top: 16px;
}

.footer-box3 h6 span{
    color:#ffcc00;
    font-family: Impact;
    font-size: 32px;
}


.footer-box3 p{
    color:#fff;
    font-size: 14px;
    margin-left: 27px;
}


.footer-box3 ul{
    overflow: hidden;
    margin-left: 27px;
    margin-top: 16px;
}

.footer-box3 ul li{
    float: left;
    overflow: hidden;
    margin-right: 22px;
}


.footer-box3 ul li img{
    display:block;
    width: 108px;
    height: 108px;
    float: left;
}

.footer-box3 ul li p{
   float: left;
   width: 16px;
   font-size: 12px;
   line-height: 16px;
   margin-left: 14px;
}

.footer-box3 ul li span{
  
    display: block;
    width: 14px;
    float: left;
    color:#ffcc00;
    font-size: 12px;
}

.footer-box3 ul .footer-box3-li3{
    margin-right: 0;
} 





.box-8x{
     width: 100%;
     height: 97px;
}

.box-8x ul{
    overflow: hidden;
}


.box-8x ul li{
	float: left;
	line-height: 32px;
	color:#494A4E;
	font-size: 12px;
}


.box-8x ul li a{
     line-height: 32px;
    color:#494A4E;
    font-size: 12px;
}









/*主体*/
.box-main{
     padding-top: 50px;
}
#box{
       width: 100%;
       background-color: #f4f4f4;
       height: auto;
       overflow: hidden;
       padding-bottom: 30px;
       margin-bottom: 30px;
}

.z-box{
    float: left;
    margin-top: 36px;
}

.y-box{
    float: right;
    margin-top: 36px;
}



/*z左内容*/

.z-box{
       padding-left: 26px;
}

.z-box img{
    display: block;
    width: 205px;
    margin:0 auto;
}

.z-box > div{
     width: 236px;
     height: auto;
     background-color: #e7e7e7;
     margin-top: 20px;
     padding-bottom: 20px;
}

.z-box .z-box-img1{
     position: relative;
     top:-20px;
}


.z-box > div > div{
    width: 205px;
    height: 146px;
    margin:0 auto;
    background-color: #c2c2c2;
}


.z-box .nwes-dh{
     margin-top: 16px;
     margin-bottom: 10px;
}

.z-box .nwes-dh li{
    width: 205px;
    margin:0 auto;
    height: 20px;
    margin-bottom: 5px;
}

.z-box .nwes-dh li a{
    font-size: 12px;
    font-family: "宋体";
    color:#404245;
    line-height: 20px;
    display: block;
    text-indent: 12px;
}

.z-box .nwes-dh li:nth-child(odd){
     background-color: #cfcfcf;
}

.z-box .nwes-dh li a:hover{
   color:#1139ab;
}


.z-box nav ul{
     margin-top: 10px;
}


.z-box nav ul li{
      width: 205px;
      margin:0 auto;
      height: 30px;
      background-color: #cfcfcf;
      margin-bottom: 10px;
      transition:all 1s ease 0s;
      -webkit-transition:all 1s ease 0s;
      -moz-transition:all 1s ease 0s;

}

.z-box nav ul li a{
    display: block;
    text-align: center;
    line-height: 30px;
    color:#404245;
    font-size: 16px;
}


.z-box nav ul li:hover{
   background-color: #ffcc00;
}


.z-box .ny{
     display: block;
     width: 191px;
     height: 66px;
     background-color: #1139ab;
     border-right: solid #ffcc00 14px;
     margin:0 auto;
     overflow: hidden;
     margin-top: 15px;
     transition:all 1s ease 0s;
      -webkit-transition:all 1s ease 0s;
      -moz-transition:all 1s ease 0s
}

.z-box .ny i{
   display: block;
   color:#fff;
   font-style: normal;
   font-size: 22px;
   text-indent: 28px;
   margin-top: 6px;
   transition:all 1s ease 0s;
      -webkit-transition:all 1s ease 0s;
      -moz-transition:all 1s ease 0s
}

.z-box .ny span{
   color:#fff;
   display: block;
   text-indent: 28px;
   transition:all 1s ease 0s;
      -webkit-transition:all 1s ease 0s;
      -moz-transition:all 1s ease 0s
}


.z-box .ny:hover{
    background-color:#ffcc00; 
    border-right: solid #1139ab 14px;
}


.z-box .ny:hover i{
   color:#1e2024;
}

.z-box .ny:hover span{
   color:#1e2024;
}








/*y右内容*/

.y-box{
    width: 820px;
    padding-right: 40px;
}


.y-box-bt{
    overflow: hidden;
    width: 100%;
}

.y-box-bt h2{
    float: left;
    font-weight: normal;
    color:#1f2225;
    font-size: 16px;
    line-height: 24px;
}

.y-box-bt ul{
   float: right;
   overflow: hidden;
}

.y-box-bt ul li{
    float: left;
    font-size: 14px;
    color:#1f2225;
    line-height: 24px;
}

.y-box-bt ul li a{
    font-size: 14px;
    color:#1f2225;
    line-height: 24px;
}

.y-box-bt i{
    display: block;
    width: 700px;
    height: 3px;
    background-color: #1139ab;
    border-left: solid 120px #232427;
    float: left;
    margin-top: 3px;
}


.y-box-bt ul li a:hover{
   color:#1139ab;
}


.dl{
     font-size: 14px;
     line-height: 28px;
     color:#666;
	 padding:10px 0 0 0;
}








/*联系我们*/


.contactus-box{
    width:100%;
    margin-top: 30px;
}



.contactus-dt{
 
}


 .iw_poi_title {color:#CC5522;font-size:14px;font-weight:bold;overflow:hidden;padding-right:13px;white-space:nowrap}
    .iw_poi_content {font:12px arial,sans-serif;overflow:visible;padding-top:4px;white-space:-moz-pre-wrap;word-wrap:break-word}




.contactus-main{
    width: 100%;
    height: 200px;
    background-color: hsl(0,0%,88%);
    margin-top: 30px;
    overflow: hidden;
    padding-top: 35px;
    position: relative;
}

.contactus-main ul{
   overflow: hidden;
   margin-bottom: 18px;
   margin-left: 25px;
}

.contactus-main ul li{
   float: left;
   width: 30px;
   height: 30px;
   background-color: #1139ab;
   border-radius: 50%;
}

.contactus-main ul p{
   float: left;
   font-size: 16px;
   color:#404245;
   line-height: 30px;
   text-indent: 10px;
}


.contactus-main ul:nth-of-type(1) li{
    background-image: url(../images/iocn_dz.png);
    background-repeat: no-repeat;
    background-position: center; 
}

.contactus-main ul:nth-of-type(2) li{
    background-image: url(../images/iocn_dh.png);
    background-repeat: no-repeat;
    background-position: center; 
}

.contactus-main ul:nth-of-type(3) li{
    background-image: url(../images/iocn_wx.png);
    background-repeat: no-repeat;
    background-position: center; 
}



.contactus-main > div{
  width: 108px;
  position: absolute;
  right: 50px;
  top:35px;
}

.contactus-main > div img{
    display: block;
    width: 108px;
    height: 108px;
}


.contactus-main > div i{
    display: block;
    text-align: center;
    font-size: 12px;
    color:#666;
    margin-top: 5px;
}








/*新闻列表*/


#news-box{

}


#news-box div{
     padding-top: 30px;
}


#news-box div ul{
    overflow: hidden;

}

#news-box div ul .news-tp{
    display: block;
    float: left;
    width: 118px;
    height: 80px;
    border: 1px solid #ccc;
    padding:2px;
    background-color: #fff;
}

#news-box div ul li{
   float: right;
   width: 670px;
}
#news-box div ul li h3{
     overflow: hidden;
}
#news-box div ul li a{
    display: block;
    font-size: 18px;
    color:#292929;
    margin-bottom: 3px;
    float: left;
    transition:all 1s ease 0s;
    -webkit-transition:all 1s ease 0s;
    -moz-transition:all 1s ease 0s;
}

#news-box div ul li p{
    font-size: 14px;
    color:#555;
    line-height: 24px;
    margin-top: 8px;
    width: 100%;
}

#news-box div ul li span{
     float: right;
     font-size: 12px;
     font-weight: normal;

}


#news-box div hr{
    border-top: 1px #ccc dashed;
    margin:20px auto;
}


#news-box div ul li a:hover{
   color:#1139ab;
}


/*新闻详情页*/

.details-box{
    padding-top: 20px;
}

.details-box h4{
    text-align: center;
    color:#1139ab;
    font-size: 24px;
	height:39px;
}

.details-box ol{
       width: 90%;
       height: 24px;
       border: 1px solid #ccc;
       margin:0 auto;
       text-align: center;
       line-height: 24px;
       color:#999;
       font-size: 12px;
       margin-top: 20px;
       margin-bottom: 10px;
}


.details-box p{
   font-size: 14px;
   line-height: 28px;
   text-indent: 28px;
   color:#666;
}
 






/*产品页左彻*/


.p-box{
       float: left;
       margin-top: 36px;
       padding-left: 26px;
       
}


.p-box h3{
    font-weight: normal;
    color:#1139ab;
    font-size: 24px;
}


.p-box i{
     display: block;
    width: 206px;
    background-color: #1139ab;
    height: 3px;
    border-left: solid 30px #232427;
    position: relative;
    top:-3px;
}

.p-box > div{
       width: 236px;
       height: auto;
       margin-top: 17px;
}


.p-box li a{
    display: block;
    width: 234px;
    height: 62px;
    border: 1px solid #ccc;
    margin:0 auto;
    background-color: #fff;
    position: relative;
    margin-bottom: 10px;
    transition:all 1s ease 0s;
    -webkit-transition:all 1s ease 0s;
    -moz-transition:all 1s ease 0s;

}
.p-box li a:hover{
    border: 1px solid #1139ab;
}

.p-box li p{
    font-size: 16px;
    letter-spacing:2px;
    margin-top: 8px;
    color:#333;
    text-indent: 10px;
}

.p-box li span{
    font-size: 14px;
    display: block;
    color:#999;
    font-variant:small-caps ;
    text-indent: 10px;
}


.p-box li:nth-of-type(1) a{
    background: #fff url(../images/iocn_1.png) no-repeat  190px center;
}

.p-box li:nth-of-type(2) a{
    background: #fff  url(../images/iocn_2.png) no-repeat  190px center;
}

.p-box li:nth-of-type(3) a{
    background: #fff  url(../images/iocn_3.png) no-repeat  190px center;
}
.p-box li:nth-of-type(4) a{
    background: #fff  url(../images/iocn_4.png) no-repeat  190px center;
}
.p-box li:nth-of-type(5) a{
    background: #fff  url(../images/iocn_5.png) no-repeat  195px center;
}

.p-box li:nth-of-type(6) a{
    background: #fff  url(../images/iocn_6.png) no-repeat  190px center;
}

.p-box li:nth-of-type(7) a{
    background: #fff  url(../images/iocn_7.png) no-repeat  190px center;
}
.p-box li:nth-of-type(8) a{
    background: #fff  url(../images/iocn_8.png) no-repeat  190px center;
}
.p-box li:nth-of-type(9) a{
    background: #fff  url(../images/iocn_9.png) no-repeat  190px center;
}
.p-box li:nth-of-type(10) a{
    background: #fff  url(../images/iocn_10.png) no-repeat  190px center;
}


.p-box li:nth-of-type(1) a:hover{
    background: #fff url(../images/iocn_1_2.png) no-repeat  190px center;
}
.p-box li:nth-of-type(2) a:hover{
    background: #fff url(../images/iocn_2_2.png) no-repeat  190px center;
}

.p-box li:nth-of-type(3) a:hover{
    background: #fff url(../images/iocn_3_2.png) no-repeat  190px center;
}
.p-box li:nth-of-type(4) a:hover{
    background: #fff url(../images/iocn_4_2.png) no-repeat  190px center;
}
.p-box li:nth-of-type(5) a:hover{
    background: #fff url(../images/iocn_5_2.png) no-repeat  195px center;
}
.p-box li:nth-of-type(6) a:hover{
    background: #fff url(../images/iocn_6_2.png) no-repeat  190px center;
}
.p-box li:nth-of-type(7) a:hover{
    background: #fff url(../images/iocn_7_2.png) no-repeat  190px center;
}
.p-box li:nth-of-type(8) a:hover{
    background: #fff url(../images/iocn_8_2.png) no-repeat  190px center;
}
.p-box li:nth-of-type(9) a:hover{
    background: #fff url(../images/iocn_9_2.png) no-repeat  190px center;
}
.p-box li:nth-of-type(10) a:hover{
    background: #fff url(../images/iocn_10_2.png) no-repeat  190px center;
}





.product-box{
     width: 100%;
     padding-top: 20px;
     height: auto;
     overflow: hidden;
     

}
.product-main{
    
}

.product-1{
    display: block;
}
.product-box ul{
    overflow: hidden;
}
.product-box .product-main{
    width: 106%;
}

.product-box .product-main  ul li{
    float: left;
    width: 260px;
    margin-right: 20px;
    margin-bottom: 20px;
	border:solid 1px #ccc;
	
	overflow:hidden;
}

.product-box .product-main ul li img{
    display: block;
    
}

.product-box .product-main ul li p{
    background-color: #fff;
    width: 100%;
    height: 30px;
	border-top:1px solid #ccc;
   
    
    text-align: center;
    line-height: 27px;
    color:#333;
    font-size: 12px;
}

.product-box .la{
	display:block;
	widows:100%;
	height:26px;
	background-color:#999;
	text-align:center;
	line-height:26px;
	color:#fff;
	font-size:12px;
	margin-top:10px;
}
.product-box .la:hover{
	color:#1139AB;}

.product-box .fanye{
	text-align:center;}







/*在线留言页*/


.said-box{
          padding-top: 20px;
}

.said-box h6{
   font-weight: normal;
   font-size:16px;
   color:#666;
   line-height: 24px;
}

.said-box hr{
    border:1px dashed hsl(0,0%,80%);
    margin-top: 10px;
}

.said-box ul{
    margin-top: 20px;
}
.said-box li{
    margin-bottom: 15px;
}
.said-box li p{
    font-size: 14px;
    color:#333;
    margin-bottom: 6px;
}


.said-box input{
     width: 70%;
     height: 30px;
     padding-left: 16px;
     padding-right: 16px;
     border: 1px solid #999;
     font-size: 14px;
}


.said-box textarea{
    width: 70%;
    height: 300px;
    padding:16px;
    border: 1px solid #999;
}


.said-box button{
    width: 180px;
    height: 36px;
    line-height:36px;
    text-align: center;
    background-color: #1139ab;
    color:#fff;
    font-size: 14px;
    cursor:pointer;
}