@charset "utf-8";
/*css样式表*/
/*设计者--陈传林 邮箱--chenchuanlin20@163.com*/

.pinpaiBanner,.pinpaiBanner .bannerSlide {height:322px;border-bottom:0px solid #c0025a}
.pinpaiBanner .bannerSlide li img {-moz-transform:none;-ms-transform:none;-o-transform:none;-webkit-transform:none;transform:none;}

.sideNav {position:absolute;top:-173px;width:160px; background-color:#9c7149;z-index:20;}
.sideNav:after {content:'';position:absolute;bottom:-6px;left:0;z-index:-2;width:150px;height:22px; background:url(../images/shadow.png) no-repeat;}
.sideNav .innerWrapper {width:146px;height:100%; background-color:#FFF; }
.sideNav .logo {width:146px;height:98px;padding-top:27px; background-color:#9c7149; border:0px solid #FF0000;}
.sideNav .logo i {display:block;width:123px;height:42px;margin:0 auto; background:url(../images/icon.png) no-repeat -7px -18px;}
.sideNav ul {margin-top:110px;}
.sideNav ul li {width:100%;height:39px;line-height:39px;border-bottom:1px solid #e1e1e1;}
.sideNav ul li:last-child {border-bottom:none;}
.sideNav ul li a {display:block;position:relative;padding-left:50px;width:100%;font-size:16px;color:#666;text-decoration:none;-moz-transition:all 0.3s linear 0s;-webkit-transition:all 0.3s linear 0s;transition:all 0.3s linear 0s;}
.sideNav ul li a:before {position:absolute;content:'';left:22px;top:11px;width:17px;height:17px; background:url(../images/icon.png) no-repeat -16px -78px;}
.sideNav ul li a:hover,.sideNav ul li a.active { background-color:#dba64b;color:#fff;text-decoration:none;}

.pinpaiContent .contentRight {width:1008px;padding-top:35px;}
.seoNavs {left:0;top:10px;width:100%;line-height:32px;color:#000000;font-size:14px;}
.seoNavs a {color:#000000;text-decoration:none;} 
.rtype{ margin-top:20px;width:147px; text-align:center; line-height:50px;background-color:#000000; text-align:center; font-size:20px; color:#FFFFFF;}
.pinpaiWrapper {width:100%;padding-top:19px;}
.pinpaiWrapper .content1 {height:511px; background:url(../images/pinpaiImg2.jpg) no-repeat center;}
.pinpaiWrapper .content1 img{float:left;}
.pinpaiWrapper .content1 p {width:558px;font-size:20px;line-height:38px;float:right;}
.pinpaiWrapper .content2 {width:100%;height:565px;padding:54px 0;}
.pinpaiWrapper .content2 .aside {width:475px;}
.pinpaiWrapper .content2 h4 {font-size:40px;color:#3d3f4b;line-height:70px;}
.pinpaiWrapper .content2 .title {width:211px;height:50px;line-height:50px;font-size:36px;text-align:center;color:#fff;-moz-border-radius:25px;-webkit-border-radius:25px;border-radius:25px;font-style:italic;margin-top:15px;}
.pinpaiWrapper .content2 .title1,.pinpaiWrapper .content2 .bside .bigCircle1 { background-color:#ef7f7f;}
.pinpaiWrapper .content2 .title2,.pinpaiWrapper .content2 .bside .bigCircle2 { background-color:#e11884;}
.pinpaiWrapper .content2 .title3,.pinpaiWrapper .content2 .bside .bigCircle3 { background-color:#853f8a;}
.pinpaiWrapper .content2 p {font-size:20px;color:#000;line-height:44px;}
.pinpaiWrapper .content2 .bside {width:426px;height:426px;margin-right:47px;margin-top:20px;display:inline;}
.pinpaiWrapper .content2 .bside .smallCircle {left:50%;top:50%;font-size:24px;color:#3d3f4b;text-align:center;width:105px;height:104px;line-height:104px; background-color:#FFF;-moz-border-radius:50%;-webkit-border-radius:50%;border-radius:50%;-moz-box-shadow:0 0 57px rgba(0,0,0,.1);-webkit-box-shadow:0 0 57px rgba(0,0,0,.1);box-shadow:0 0 57px rgba(0,0,0,.1);margin-top:-52px;margin-left:-52px;}
.pinpaiWrapper .content2 .bside .bigCircle {left:50%;top:50%;width:226px;height:226px;line-height:226px;font-size:33px;text-align:center;color:#fff;font-style:italic;-moz-border-radius:50%;-webkit-border-radius:50%;border-radius:50%;-moz-box-shadow:0 0 57px rgba(0,0,0,.1);-webkit-box-shadow:0 0 57px rgba(0,0,0,.1);box-shadow:0 0 57px rgba(0,0,0,.1);}
.pinpaiWrapper .content2 .bside .bigCircle1 {margin-left:-113px;margin-top:-203px;}
.pinpaiWrapper .content2 .bside .bigCircle2 {margin-left:-210px;margin-top:-23px;}
.pinpaiWrapper .content2 .bside .bigCircle3 {margin-left:-16px;margin-top:-23px;}

.pinpaiWrapper .content3 {width:100%;height:975px; background:url(../images/pinpaiGirl.jpg) no-repeat right center;}
.pinpaiWrapper .content3 ul {width:500px;}
.pinpaiWrapper .content3 li{width:483px;height:60px;color:#fff;}
.pinpaiWrapper .content3 li a{color:#fff;}
.pinpaiWrapper .content3 li a:hover{color:#fe3509;}
.pinpaiWrapper .content3 li span {display:block;font-size:30px;width:106px;line-height:60px;text-align:center;float:left;}
.pinpaiWrapper .content3 li:nth-child(2n+1){ background-color:#727878;margin-left:16px;}
.pinpaiWrapper .content3 li:nth-child(2n){ background-color:#3d3f4b;}
.pinpaiWrapper .content3 li p {float:left;font-size:16px;line-height:60px;}
.pinpaiWrapper .content3 li:nth-child(1) p,.pinpaiWrapper .content3 li:nth-child(9) p {margin-top:6px;line-height:20px;}

.pinpaiWrapper .content4 {padding:50px 0;}
.pinpaiWrapper .content4 h4 {font-size:40px;text-align:center;}
.pinpaiWrapper .content4 p {font-size:20px;text-align:center; text-transform:uppercase;}
.pinpaiWrapper .content4 .service li {width:227px;height:227px;-moz-box-shadow:0 0 57px rgba(0,0,0,.1);-webkit-box-shadow:0 0 57px rgba(0,0,0,.1);box-shadow:0 0 57px rgba(0,0,0,.1);-moz-border-radius:50%;-webkit-border-radius:50%;border-radius:50%;margin-left:62px;margin-right:18px;display:inline;margin-top:35px;}
.qiujing { background:url(../images/icon.png) no-repeat -172px -5px;}
.chengxin { background:url(../images/icon.png) no-repeat -481px -4px;}
.reqing { background:url(../images/icon.png) no-repeat -789px -4px;}
.pinpaiWrapper .serviceBox {width:1008px;height:338px;overflow:hidden;margin:52px 0;}
.pinpaiWrapper .serviceBox .focus {left:0;bottom:20px;width:96%;height:5px;text-align:right;}
.pinpaiWrapper .serviceBox .focus span {width:30px;height:5px; background-color:rgba(0,0,0,.7);display:inline-block;margin:0 5px;}
.pinpaiWrapper .serviceBox .focus span.active {background-color:#c0025a;}

.pinpaiWrapper .content5 {padding-top:40px;color:#666;}
.pinpaiWrapper .content5 h3 {font-size:66px;text-align:center;line-height:80px;}
.pinpaiWrapper .content5 h4 {font-size:37px;text-align:center;line-height:60px;}
.pinpaiWrapper .content5 p {font-size:20px;text-align:center;line-height:34px;}
.pinpaiWrapper .content5 a {display:block;width:198px;height:35px;line-height:35px; background-color:#3d3f4b;color:#fff;text-decoration:none;text-align:center;font-size:14px;margin:18px auto; }
.pinpaiWrapper .content5 a:hover{color:#fe3509;}
.pinpaiWrapper .content5 .wrapper {margin:80px auto;}
.pinpaiWrapper .content5 .wrapper img {float:left;}

/*新闻*/
.newsWrapper {width:1008px; margin:25px 0 0 0;}
.newsWrapper dl {width:996px;height:234px;border-width:1px;border-style:solid;border-color:#e1e1e1 #e1e1e1 #e1e1e1 #e1e1e1;  float:right;margin-bottom:27px;padding:24px;}
.newsWrapper dl.hot {border-left-color:#f7b543;}
.newsWrapper dl dd .edge {
width:0;
height:100%;
display:inline-block;
vertical-align:middle;}
.newsWrapper dl dd {width:327px;height:185px; border:1px solid #eeeeee; text-align:center;vertical-align:middle;display:table-cell;}
.newsWrapper dl dd img {display:inline-block;text-align: center; vertical-align:middle;}
.newsWrapper dl dt {width:586px;}
.newsWrapper dl h5 {font-size:20px;position:relative;}
.newsWrapper dl h5 a {color:#3d3f4b;text-decoration:none;line-height:36px;position:relative;}
.newsWrapper dl h5 a:hover{color:#9c7149;}
.newsWrapper dl.hot h5 a:after {content:'';position:absolute;right:-16px;top:3px;width:9px;height:11px; background:url(../images/icon.png) no-repeat -86px -131px;}
.newsWrapper dl p a {font-size:14px;color:#666;line-height:24px;}
/*.newsWrapper dl p a:hover{color:#fe3509}*/
.newsWrapper dl p span {float:right;font-size:12px;color:#999; margin-top:20px;}
.pageNation {width:100%;text-align:center;margin:20px auto 56px; }
.pageNation a {display:inline-block;padding:5px 10px;border:1px solid #ebebeb;color:#000;font-size:14px;text-decoration:none;margin:0 3px;}
.pageNation a:hover,.pageNation a.page_current { background-color:#a06f43;color:#fff;text-decoration:none;}

/*来院路线*/
.cont{
width:991px; height:41px; background-image:url(../images/cont.jpg); overflow:hidden; margin-top:25px;}
.cont .cp{
text-align:center; font-size:20px; color:ffffff; background-color:#000000; width:148px; height:41px; line-height:41px; color:#FFFFFF;}
.conc{
width:989px; border-bottom:1px solid #B9B9B9; border-left:1px solid #B9B9B9; border-right:1px solid #B9B9B9; overflow:hidden; margin-bottom:60px;}
.conc .map{
width:938px; height:480px; padding:23px 0 0 23px; overflow:hidden;}
.conc .add{
width:989px; overflow:hidden; margin:60px 0 50px 25px;}
.conc .add .left{
width:460px; float:left;}
.conc .add .ico1{background:url(../images/ico1.jpg) no-repeat left top; height:56px; padding-left:65px;}
.conc .add .ico1 .cl{font-size:16px; color:#ba852a; float:left; padding-top:13px;}
.conc .add .ico1 .cr{ font-size:30px; color:#ba852a; float:left; padding-top:4px;}
.conc .add .ico2{background:url(../images/ico2.jpg) no-repeat left top; height:56px; padding-left:65px; margin-top:24px;}
.conc .add .ico2 .cl{float:left; padding-top:13px;font-size:16px; color:#272727;}
.conc .add .ico2 .cr{ float:left;font-size:30px; color:#272727; line-height:18px; padding-top:10px;}
.conc .add .ico2 .cr span{ font-size:12px;}
.conc .add .ico3{background:url(../images/ico3.jpg) no-repeat left top; height:55px; padding-left:65px; margin-top:24px;}
.conc .add .ico3 .cl{float:left; padding-top:13px;font-size:16px; color:#272727;}
.conc .add .ico3 .cr{ float:left;font-size:18px; color:#272727; line-height:24px; padding-top:5px; width:270px;}
.conc .add .ico4{background:url(../images/ico4.jpg) no-repeat left top; height:55px; padding-left:68px;}
.conc .add .ico4 .cp{ text-align:left; line-height:24px; font-size:16px; color:#272727; width:360px;}
.conc .add .ico5{background:url(../images/ico5.jpg) no-repeat left top; height:55px; padding-left:68px; margin-top:24px;}
.conc .add .ico5 .cp{ text-align:left; line-height:24px; font-size:16px; color:#272727; width:308px; padding-top:3px;}
.conc .add .ico6{background:url(../images/ico6.jpg) no-repeat left top; height:55px; padding-left:68px; margin-top:24px;}
.conc .add .ico6 .cp{ text-align:left; line-height:24px; font-size:16px; color:#272727; width:400px; padding-top:2px;}

/*设备体系*/
.equipmetnWrapper {width:100%;}
.equipmetnWrapper .focus {width:1008px;height:50px;}
.equipmetnWrapper .focus span {width:144px;line-height:50px;text-align:center;color:#fff;font-size:20px;cursor:pointer;float:left; background-color:#3d3f4b;}
.equipmetnWrapper .focus span.active { background-color:#292b37;}
.equipmetnWrapper .slideBox{-webkit-perspective: 1200px;
    -moz-perspective: 1200px;
    -ms-perspective: 1200px;
    -o-perspective: 1200px;
    perspective: 1200px;-webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;margin-bottom:80px;}
.equipmetnWrapper .slideBox li {width:481px;height:362px;float:left;border-width:1px;border-style:solid;border-color:#3d3f4b #e1e1e1 #e1e1e1 #e1e1e1;-moz-transition:all 0.2s linear 0s;-webkit-transition:all 0.2s linear 0s;transition:all 0.2s linear 0s;overflow:hidden;margin-top:34px;}
.equipmetnWrapper .slideBox li:nth-child(2n){float:right;}
.equipmetnWrapper .slideBox li:hover {-moz-box-shadow:0 0 9px rgba(8,1,3,.2);-webkit-box-shadow:0 0 9px rgba(8,1,3,.2);box-shadow:0 0 9px rgba(8,1,3,.2); border-top-color:#dba64b;-moz-transform:translate3d(0,-4px,0);-ms-transform:translate3d(0,-4px,0);-o-transform:translate3d(0,-4px,0);-webkit-transform:translate3d(0,-4px,0);transform:translate3d(0,-4px,0);z-index:2;}
.equipmetnWrapper .slideBox li img{width:212px;height:359px;float:left;}
.equipmetnWrapper .slideBox .equipmentInfo {width:236px;height:100%;padding-top:76px;margin-right:24px;display:inline;-moz-transition:padding-top 0.3s linear 0s;-webkit-transition:padding-top 0.3s linear 0s;transition:padding-top 0.3s linear 0s;}
.equipmetnWrapper .slideBox li:hover .equipmentInfo{padding-top:50px;}
.equipmetnWrapper .equipmentInfo h5 {font-size:20px;color:#000;line-height:32px;}
.equipmetnWrapper .equipmentInfo p {font-size:14px;color:#666;line-height:22px;}
.equipmetnWrapper .equipmentInfo p.bianhao {font-size:12px;color:#666;}
.equipmetnWrapper .equipmentInfo p.youshi {font-size:14px;color:#000;}
.equipmetnWrapper .equipmentInfo a {display:block;width:198px;line-height:36px;margin:40px auto;font-size:14px;color:#fff;text-align:center;text-decoration:none; background-color:#fe3509;-moz-transition:all 0.3s linear 0s;-webkit-transition:all 0.3s linear 0s;transition:all 0.3s linear 0s;opacity:0;filter:alpha(opacity:0)}
.equipmetnWrapper .equipmentInfo a:hover { background-color:#d22b07;}
.equipmetnWrapper .slideBox li:hover a {margin-top:20px;opacity:1;filter:alpha(opacity:100)}

/*专家团队*/
.expertWrapper {width:100%;}
.expertWrapper .focus {width:1008px;height:34px;}
.expertWrapper .focus span {width:112px;line-height:34px;text-align:center;color:#666;font-size:16px;cursor:pointer;float:left; background-color:#e1e1e1;border-right:1px solid #cfcfcf;position:relative;-moz-transition:all 0.3s linear 0s;-webkit-transition:all 0.3s linear 0s;transition:all 0.3s linear 0s;}
.expertWrapper .focus span.active,.expertWrapper .focus span:hover { background-color:#3d3f4b;color:#fff;}
.expertWrapper .focus span.active:after,.expertWrapper .focus span:hover:after {content:'';position:absolute;left:50%; top:34px;margin-left:-3px;width:0;height:0;border-width:6px;border-style:solid;border-color:#3d3f4b transparent transparent transparent;}
.expertWrapper .slideBox {margin-bottom:50px;min-height:294px;}
.expertWrapper .slideBox ul {width:1008px;-webkit-perspective: 1200px;
    -moz-perspective: 1200px;
    -ms-perspective: 1200px;
    -o-perspective: 1200px;
    perspective: 1200px;-webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;}
.expertWrapper .slideBox li {width:481px;height:252px;border-width:1px;border-style:solid;border-color:#3d3f4b #e1e1e1 #e1e1e1 #e1e1e1;float:left;-moz-transition:all 0.2s linear 0s;-webkit-transition:all 0.2s linear 0s;transition:all 0.2s linear 0s;margin-top:33px;margin-bottom:9px;position:relative;/*overflow:hidden;*/}
.expertWrapper .slideBox li:nth-child(2n){float:right;}
.expertWrapper .slideBox li:hover {-moz-box-shadow:0 0 9px rgba(8,1,3,.2);-webkit-box-shadow:0 0 9px rgba(8,1,3,.2);box-shadow:0 0 9px rgba(8,1,3,.2); border-top-color:#dba64b;-moz-transform:translate3d(0,-4px,0);-ms-transform:translate3d(0,-4px,0);-o-transform:translate3d(0,-4px,0);-webkit-transform:translate3d(0,-4px,0);transform:translate3d(0,-4px,0);z-index:2;}
.expertWrapper .slideBox li:after {content:'';position:absolute;width:4px;height:102px; background:url(../images/expertBg.jpg) no-repeat;top:6px;right:-5px;}
.expertWrapper .expertInfo {width:232px;margin-right:20px;display:inline;margin-top:32px;-moz-transition:margin-top 0.3s linear 0s;-webkit-transition:margin-top 0.3s linear 0s;transition:margin-top 0.3s linear 0s;}
.expertWrapper .expertInfo h4 {font-size:28px;line-height:46px;color:#000;font-family:"微软雅黑";}
.expertWrapper .expertInfo h4 span{ font-size:18px;}
.expertWrapper .expertInfo p {font-size:14px;color:#666;line-height:24px;}
.expertWrapper .expertInfo p.shanchang {font-family:"微软雅黑";}

.expertWrapper .expertInfo a {display:block;width:198px;line-height:36px;margin:32px auto;font-size:14px;color:#fff;text-align:center;text-decoration:none; background-color:#c99337;-moz-transition:all 0.3s linear 0s;-webkit-transition:all 0.3s linear 0s;transition:all 0.3s linear 0s;opacity:0;filter:alpha(opacity:0)}
.expertWrapper .expertInfo a:hover { background-color:#9c7149;}
.expertWrapper li:hover .expertInfo {margin-top:15px;}
.expertWrapper li:hover a {margin:20px auto;opacity:1;filter:alpha(opacity:100)}

/*医院环境*/
.environmentWrapper .focus {width:100%;height:50px; margin:20px 0 0 0;}
.environmentWrapper .focus a {display:block;width:244px;float:left;line-height:50px;color:#fff;text-decoration:none; background-color:#3d3f4b;border-right:1px solid #343642;font-size:27px;text-align:center;}
.environmentWrapper .focus a:hover,.environmentWrapper .focus a.active {background-color:#292b37;}
/*一楼*/
.hj1a{
width:976px; height:987px; background-image:url(../images/hj1a.jpg); overflow:hidden; margin-top:25px;}
.hj1a .cp{
text-align:left; font-size:18px; color:#6a6c73; line-height:25px; width:500px; margin:795px 25px 0 100px; float:right;}
.hj1b{
width:977px; overflow:hidden; margin-bottom:60px;}
.hj1b1{
float:left; margin-top:142px;}
.hj1b2{
width:245px; height:756px; background-image:url(../images/hj1c.jpg); float:left; margin-top:15px;}
.hj1b2 .cp{
width:225px; font-size:14px; line-height:25px; text-align:left; color:#FFFFFF; margin:570px 0 0 12px;}
.hj1b3{
width:243px; height:757px; background-image:url(../images/hj1d.jpg); float:left; margin-top:266px;}
.hj1b3 .cp{
width:200px; font-size:14px; line-height:25px; text-align:left; color:#FFFFFF; margin:45px 0 0 25px;}
/*二楼*/
.hj2a{
width:977px; height:987px; background-image:url(../images/hj2a.jpg); overflow:hidden; margin-top:25px;}
.hj2a .cp{
text-align:left; font-size:18px; color:#6a6c73; line-height:25px; width:500px; margin:782px 40px 0 0px; float:right;}
.hj2b{
width:977px; overflow:hidden; margin-bottom:60px;}
.hj2b1{
float:left; width:245px; height:979px; background-image:url(../images/hj2b.jpg);}
.hj2b1 .cp{
width:212px; font-size:14px; line-height:24px; text-align:left; color:#FFFFFF; margin:540px 0 0 20px;}
.hj2b2{
width:242px; height:979px; background-image:url(../images/hj2c.jpg); float:left;}
.hj2b2 .cp{
width:215px; font-size:14px; line-height:24px; text-align:left; color:#FFFFFF; margin:288px 0 0 18px;}
.hj2b3{
width:245px; height:979px; float:left;}
.hj2b4{
width:245px; height:978px; float:left;}
/*三楼*/
.hj3a{
width:977px; height:988px; background-image:url(../images/hj3a.jpg); overflow:hidden; margin-top:25px;}
.hj3a .cp{
text-align:left; font-size:18px; color:#6a6c73; line-height:25px; width:500px; margin:785px 30px 0 0px; float:right;}
.hj3b{
width:977px; height:504px; background-image:url(../images/hj3b.jpg); overflow:hidden;}
.hj3b .cp{
width:213px; font-size:14px; line-height:25px; text-align:left; color:#FFFFFF; margin:298px 0 0 508px;}
.hj3c{
width:252px; height:250px; margin-left:238px; overflow:hidden; background-image:url(../images/hj3c.jpg); margin-bottom:60px;}
.hj3c .cp{
width:213px; font-size:14px; line-height:25px; text-align:left; color:#FFFFFF; margin:40px 0 0 23px;}
/*手术室*/
.hj4a{
width:977px; height:988px; background-image:url(../images/hj4a.jpg); overflow:hidden; margin-top:25px;}
.hj4a .cp{
text-align:left; font-size:18px; color:#6a6c73; line-height:25px; width:500px; margin:785px 10px 0 0px; float:right;}
.hj4b{
width:977px; overflow:hidden; margin-bottom:60px;}
.hj4b1{
float:left; width:244px; height:755px; background-image:url(../images/hj4b.jpg);}
.hj4b1 .cp{
width:220px; font-size:14px; line-height:24px; text-align:left; color:#FFFFFF; margin:285px 0 0 13px;}
.hj4b2{
width:245px; height:755px; float:left;}
.hj4b3{
width:244px; height:755px; float:left;}
.hj4b4{
width:244px; height:755px; float:left; background-image:url(../images/hj4e.jpg);}
.hj4b4 .cp{
width:215px; font-size:14px; line-height:24px; text-align:left; color:#FFFFFF; margin:290px 0 0 16px;}

/*医院简介*/
.about1{
width:973px; height:501px; background-image:url(../images/about1.jpg); overflow:hidden; margin-top:25px;}
.about1 .cp{
text-align:left; font-size:20px; line-height:30px; color:#666666; width:542px; margin:0 0 0 420px;}
.about2{
width:973px; height:431px; background-image:url(../images/about2.jpg); overflow:hidden; margin-top:0px;}
.about2 .cp1{
text-align:left; font-size:20px; line-height:24px; color:#333332; height:47px; border:0px solid #FF0000; margin:139px 0 0 177px; width:349px; line-height:47px; padding-left:17px;}
.about2 .cp2{
text-align:left; font-size:20px; line-height:24px; color:#333332; height:47px; border:0px solid #FF0000; margin:62px 0 0 177px; width:349px; line-height:47px; padding-left:17px;}
.about2 .cp3{
text-align:left; font-size:20px; line-height:24px; color:#333332;height:47px; border:0px solid #FF0000; margin:63px 0 0 177px; width:349px; line-height:47px; padding-left:17px;}
.about3{
width:971px; height:943px; background-image:url(../images/about3.jpg); overflow:hidden; margin-top:51px;}
.about3 .cp{ text-align:left; font-size:18px; color:#363535; margin:0 0 0 475px; line-height:24px;}
.about4{
width:1011px; height:404px; overflow:hidden; margin-top:76px; margin-bottom:60px;}

/*新闻详情*/
.newst{
width:1000px; height:4px; overflow:hidden; margin-top:20px;}
.newsc{
width:1000px; min-height:500px; _height:500px; text-align:left; background-image:url(../images/newsc.jpg); overflow:hidden;}
.newsc .nynp1{padding:40px 20px 0px 20px; text-align:center; font-size:36px; color:#000000; overflow:hidden;}
.newsc .nynp2{padding:20px 0 40px 0; color:#000000; font-size:14px; text-align:center; verflow:hidden;}
.newsc .nynp2 span{ color:#e77912;}
.newsc .nynp2 a:link {color:#000000; font-size:14px;}
.newsc .nynp2 a:visited {color:#000000; font-size:14px;}
.newsc .nynp2 a:hover { color:#9c7149; font-size:14px;}
.newsc .nynp3 { font-size:18px; height:auto; color:#000000; padding:0px 40px 0 40px; text-align:left; line-height:160%;}
.newsc .nynp3 p{font-size:18px; text-align:left;line-height:200%; color:#000000;}
.newsc .nynp4{
text-align:left; font-size:14px; line-height:32px; color:#515151; padding:40px 0 0 40px;}
.newsb{
width:1000px; height:4px; overflow:hidden; margin-bottom:60px;}

/*上下页*/
.nysxy{text-align:left; padding:40px 0 10px 54px; overflow:hidden;}
.nysxy ul{}
.nysxy ul li{margin-bottom:10px; font-size:18px; color:#999999;}
.nysxy ul li a:link{font-size:18px;color:#895e37;text-decoration: none}
.nysxy ul li a:visited{font-size:18px;color:#895e37;text-decoration: none;}
.nysxy ul li a:hover{font-size:18px;color:#000000;text-decoration:none;}
.nysxy ul li span{  background-color:#7F7F7F; padding-left:10px; padding-right:10px;text-align:center;color:#FFFFFF; margin-right:10px;}
.share{padding:0 0 30px 53px; overflow:hidden;}

/*搜索页*/
.nysea{
padding:0px; text-align:left; overflow:hidden;}
.nysea ul{}
.nysea li{
line-height:25px; text-align:left; overflow:hidden; margin-bottom:25px;}
.nysea li .ct{ text-align:left; height:35px;}
.nysea li .ct a:link {color:#000000; font-size:20px;}
.nysea li .ct a:visited {color:#000000; font-size:20px;}
.nysea li .ct a:hover { color:#9c7149; font-size:20px;}
.nysea li .cc{ text-align:left; line-height:23px; color:#666666; font-size:15px;}

/*pinpai_bottom_links*/
.footerNav {padding:0px 0 80px 0;width:893px;height:257px;margin:0 auto;}
.footerNav a {display:block;width:197px;height:197px;float:left;margin-right:35px;display:inline; background-color:#bec2c5;position:relative;-moz-transition:all 0.3s linear 0s;-webkit-transition:all 0.3s linear 0s;transition:all 0.3s linear 0s;}
.footerNav a:last-child{margin-right:0;}
.footerNav a:hover { background-color:#f76d02;}
.footerNavIcon {position:absolute;left:50%;top:52px;display:block;width:84px;height:107px;margin-left:-42px;z-index:10; background:url(../images/footerLinkIcon.png) no-repeat;}
.footerNavIcon1 { background-position:-27px -156px;}
.footerNavIcon2 { background-position:-169px -156px;}
.footerNavIcon3 { background-position:-309px -154px;}
.footerNavIcon4 { background-position:-575px -143px;}
.footerNav a span {position:absolute;right:1px;bottom:1px;display:block;width:46px;height:46px; background:url(../images/footerLinkIcon.png) no-repeat -934px -31px;}