/* BY wangguiqing   2014-09-02  */
a:link,a:visited,a:active{color:#333; text-decoration:none;}
a:hover{ text-decoration:underline;color:#9D2958;}
a,area{blr:expression(this.onFocus=this.blur())};
/*文字排版*/
.f12{font-size:12px;}.f14{font-size:14px;}.f16{font-size:16px;}.f18{font-size:18px;}.f22{font-size:22px;}.f20{font-size:20px;}.f24{font-size:24px;}.f28{font-size:28px;}.f30{font-size:30px;}.f36{font-size:36px;}.f46{font-size:46px;}.f48{font-size:48px;}
.fb{font-weight:bold;}.fn{font-weight:normal;}
.t2{text-indent:2em;}
.tc{ text-align:center;}.tr{text-align:right;}
.unl,a.unl,body a.unl,body *.unl,body a.unl:link,body a.unl:visited{text-decoration:underline;}
.no_unl{text-decoration:none;}
.vm{vertical-align:middle;}
.yahei{font-family:Microsoft YaHei;}
.Arial{font-family:Arial}
.italic{ font-style:italic;}
.mr10{ margin-right:10px;}.mt6{margin-top:6px;}.mb10{margin-bottom:10px;}.mb5{ margin-bottom:5px;}.mb15{ margin-bottom:15px;}.mb20{ margin-bottom:20px;}.ml5{ margin-left:5px;}.ml10{ margin-left:10px;}.ml15{ margin-left:15px;}.mr15{ margin-right:15px;}.mt5{ margin-top:5px;}.mr5{ margin-right:5px;}.mt30{ margin-top:30px;}.mt60{ margin-top:60px;}.mt20{ margin-top:20px;}
.p5{ padding:5px;}.p12{ padding:12px;}.p10{ padding:10px;}.p20{ padding:20px;}.p30{ padding:30px;}.pl10{ padding-left:10px;}.pl30{ padding-left:30px;}.pr30{ padding-right:30px;}.pl20{ padding-left:20px;}.pb15{ padding-bottom:15px;}.pt15{ padding-top:15px;}.pt10{ padding-top:10px;}.pt60{ padding-top:60px;}.pt80{ padding-top:80px;}.pb10{ padding-bottom:10px;}.pb20{ padding-bottom:20px;}
.vm{vertical-align:middle;}
/*解决图片 文字标签 表单 垂直对齐问题*/
.vms{vertical-align:middle;display:inline-block;}
.ovh{ overflow:hidden;}
.pa{position:absolute;}.pr{ position:relative;}
.fl{float:left;display:inline;}.fr{float:right;display:inline;}
.lh25{ line-height:25px;}
.clearfix:after{content:'.';display:block;height:0;clear:both;visibility:hidden;}
.clearfix{*zoom:1;}
.clearfix .clear{_height:0px;}
.block{display:block;}
.fOrg,.fOrg a,.fOrg a:link,.fOrg a:visited{color:#c2012e; text-decoration:none;}
.fOrg a:hover{color:#c2012e; text-decoration:underline;}
.white,.white a,.white a:link,.white a:visited{color:#fff; text-decoration:none;}
.white a:hover{color:#9D2958; text-decoration:underline;}
.fGary{ color:#CCCCCC;}
.w970{ width:970px; margin:0px auto;}
.w1040{ width:1040px; margin:0px auto;}
.ImgStyle{overflow:hidden; line-height:0px; font-size:0px; display:block;}

input{border:1px solid #CCCCCC; font-size:12px;}
div,img,ul,li,dl,dd,form,p,h1,h2,h3,h4,h5,h6,h7,hr,span{margin:0;padding:0;border:0;}
ul,li,dl,dd{list-style-type:none;list-style-image: none;}
ol{}
ol li{list-style-type: decimal;}
ul,li{list-style-type:none;list-style-image: none;}
html{}
body{margin:0px; padding:0px; width:100%;margin:0px auto;font-size:12px; position:relative;background:#000;}
.w1000{width:1000px; margin-left:auto; margin-right:auto;}
.blue{ color:#156054;}
.white{ color:#FFFFFF;}
.Purple{ color:#9d2958;}
.none{display:none;}
.pb30{ padding-bottom:30px;}
.img-responsive{display: block;max-width: 100%; height: auto;}

.bg_black{ background:#000;}
.bg_white{ background:#ffffff;}
.bg_red{background:#bc0309;}
.bg_blue{background:#156054;}
.bg_efefef{ background:#efefef;}

.bodyWrap{height:650px; position:relative;background:#fff;}
.act_left{width:1px;position: relative;float:left;z-index:11;}
.act_left .Left_Tips{position:absolute; left:80px; top:50px; width:68px;height:600px;}
.act_left .Left_Tips li a,.act_left .Left_Tips li a:hover{ color:#FFF; text-decoration:none;}
.act_left .Left_Tips li a{background:#0b0b0b;width:62px;height:62px;display: inline-block;text-align: center;margin-top: 20px;border-radius: 50%;border:3px solid #eebd66;}
.act_left .Left_Tips li a{display: block;line-height:62px;text-align: center;color:#d29d41;font-size:18px;}
.act_left .Left_Tips li a.cur,.act_left .Left_Tips li a:hover{background:linear-gradient(to top,#ebb558, #fde9ba);color:#414141;border:3px solid #d5c7b7;}

.act_right{margin-left:0px; overflow:hidden; position: relative;background:#fff}
.act_right .RightUl li{ height:650px; float:left;}

.Page01,.Page02,.Page03,.Page04,.Page05,.Page06,.Page07,.Page08,.Page09,.Page10,.Page11{}
.Page01{background:url(../images/1.jpg) no-repeat left top;background-size: 1687px auto;}
.Page02{background:url(../images/2.jpg) no-repeat left top;background-size: 1687px auto;}
.Page03{background:url(../images/3.jpg) no-repeat left top;background-size: 1687px auto;}
.Page04{background:url(../images/4.jpg) no-repeat left top;background-size: 1687px auto;}
.Page05{background:url(../images/5.jpg) no-repeat left top;background-size: 1687px auto;}
.Page06{background:url(../images/6.jpg) no-repeat left top;background-size: 1687px auto;}

.Page01 p{color: #fff;position: relative;left:220px;top:460px;width:780px;line-height:26px;}
.Page02 p{color: #fff;position: relative;left:170px;top:480px;width:535px;line-height:26px;}
.Page05 p{color: #fff;position: relative;left:462px;top:440px;width:620px;line-height:26px;font-size:16px;}
.video{margin:0 auto;width:500px;overflow: hidden;position: relative;top:220px;border:5px solid #fff;}



.PageTitle01_1{position:absolute; left:694px; top:12px; z-index:122}
.PageTitle01_2{position:absolute; left:580px; top:28px; z-index:122}
.PageTitle01_3{position:absolute; left:555px; top:44px; z-index:122}
.PageTitle01_4{position:absolute; left:673px; top:38px; z-index:122}

#btn_Next{width:82px; height:129px; background:url(../images/btn_Next.png) no-repeat;position:absolute;right:0px;bottom:5px;z-index:991;}
#btn_Return{width:66px; height:65px; background:url(../images/btn_Return.png) no-repeat;position:absolute;right:60px;bottom:5px;z-index:990;}

.P01_s{position:absolute; left:100px; top:62px;}
.P02_s{position:absolute; left:160px; top:62px;}
.P03_s{position:absolute; left:160px; top:0px;}
.P05_s{position:absolute; left:100px; top:19px;}

a.p8_01{position:absolute;left:690px; top:285px; background:url(../images/P01.png) no-repeat 0px 0px; width:189px; height:183px; z-index:118}
.cur a.p8_01{position:absolute; left:690px; top:285px; background:url(../images/P01.png) no-repeat right 0px; width:189px; height:183px; z-index:118}
a.p8_02{position:absolute; left:725px; top:455px; background:url(../images/P02.png) no-repeat 0px 0px; width:189px; height:183px; z-index:117}
.cur a.p8_02{position:absolute; left:725px; top:455px; background:url(../images/P02.png) no-repeat right 0px; width:189px; height:183px; z-index:117}
a.p8_03{position:absolute;  left:854px; top:340px; background:url(../images/P03.png) no-repeat 0px 0px; width:189px; height:183px;z-index:116}
.cur a.p8_03{position:absolute;  left:854px; top:340px; background:url(../images/P03.png) no-repeat right 0px;  width:189px; height:183px;z-index:116}
a.p8_04{position:absolute; left:1016px; top:397px; background:url(../images/P04.png) no-repeat 0px 0px; width:189px; height:183px;z-index:117}
.cur a.p8_04{position:absolute; left:1016px; top:397px; background:url(../images/P04.png) no-repeat right 0px; width:189px; height:183px;z-index:117}
a.p8_05{position:absolute; left:1144px; top:283px; background:url(../images/P05.png) no-repeat 0px 0px; width:189px; height:183px;z-index:117}

.p8_C{position:absolute;left:0px;top:0px;}
.Pic8_01{position:absolute;left:700px;top:490px;}
.Pic8_02{position:absolute;left:1170px;top:430px;}

.act_right{position:absolute;left:0px;margin:0;}
.slider-pages{overflow:hidden;width:100%;height:650px;}
.slider-page-con{position:relative;overflow:hidden;float:left;width:100%;height:650px;}
.slider-pages-help{width:99999px;}
