@charset "utf-8";
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button,input, textarea, th, td, img {border:medium none;margin: 0;padding: 0;}
/*-----------------------商务通弹窗样式----------------------------*/
#divM{ display: none;}
#divM,#divM_suoxiao{position: fixed;z-index: 214748364;}
#divM {width: 708px;height: 458px;background:url(../images/bg.png) 0 no-repeat; right: 40%;bottom: 50%;margin-right: -172px;margin-bottom: -218px;_position: absolute;_bottom: expression(offsetParent.scrollTop+218);box-shadow: 0 0 35px #000;-webkit-box-shadow: 0 0 35px #000;-moz-box-shadow: 0 0 35px #000;}
#divM_suoxiao{width:223px; height:166px;right:-223px;bottom:-166px;_position: absolute;_bottom: expression(offsetParent.scrollTop+242);overflow:hidden;background:url(../images/pf_bg.png) 0 0 no-repeat;opacity:0;margin-bottom:5px;}
#divM_suoxiao:hover,#divM_suoxiao.divM_suoxiaobg2{background:url(../images/pf_bg.png) 0 0 no-repeat}
#divM_suoxiao a{position:absolute;background:none}
#divM_suoxiao a:hover{background:none}
#divM_suoxiao #divM_suoxiao_a{width:88px; height:88px;z-index: 1;top:37px;left:1px; }
#divM_suoxiao #divM_suoxiao_b{width:24px; height:24px;top:0px;right:0px; bottom:auto;z-index: 2;}
#divM a{position:absolute;display: block;}
#divM #divMagb{ right:22px;top:21px; width:30px; height:30px;border:0px solid #FF0000;}
#divM #divMa{left:0px; width:708px; height:404px;top:50px;border:0px solid #FF0000;}
#divM #divMa1{left:98px; width:130px; height:40px;top:347px;}
#divM #divMa2{left:235px;width:130px; height:40px;top:347px;}
#divM #divMagb:hover{background:none}
#divM #divMa1:hover{background:none}
#divM #divMa2:hover{background-position:-300px -255px}


/*-----------------------右边浮动商务通样式----------------------------*/
.swt-right ul, li{ margin:0px; padding:0px; list-style-type:none; text-decoration:none; border:0px; }
.swt-right{width:131px;height:378px;position:fixed;right:-67px;top:110px;_position:absolute;_top:expression(eval(document.documentElement.scrollTop+50)); font-size:12px; z-index:999999;font-family: Arial,Helvetica,sans-serif;}
.swt-right .fd_u{margin:0;padding:0;border:0;list-style:none}
.swt-right .fd_u li{width:131px;height:59px;line-height:0px;line-height:0px;font-size:0px;position:absolute;}
.swt-right .fd_u li.swt-right5{width:131px;}
.swt-right .fd_u a{width:62px;}
.swt-right .fd_u div{width:270px;}
.swt-right .fd_u div .text{ font-size:13px;background:none repeat scroll 0 0 transparent;border:medium none;height:26px;line-height:26px;margin-left:69px;width:141px;display:block;position:absolute;top:18px}
.swt-right .fd_u div .buinb{background:url("../images/swt-right-pic_05.jpg") no-repeat scroll center center transparent;border:medium none;height:59px;width:68px;display:block;position:absolute;left:200px; cursor:pointer;}

#num { background:#690000; color:#fff; border-radius:9px; width:18px; height:18px; display:block; position:absolute; top:5px; right:10px; line-height:18px; font-style:normal; font-size:14px; box-shadow:0 0 1px #444; border:1px solid #fff; background:#fd1135; text-align:center;}

.swt-right1{top:0px;}
.swt-right1 a{height:59px;display:block;background:url(../images/zj-icon.jpg) no-repeat; position:relative;}
.swt-right1 a:hover{height:59px;display:block;background:url(../images/zj-icon1.jpg) no-repeat;}

.swt-right2{top:60px;}
.swt-right2 a{height:59px;display:block;background:url(../images/zxjg-icon.jpg) no-repeat;}
.swt-right2 a:hover{height:59px;display:block;background:url(../images/zxjg-icon1.jpg) no-repeat;}

.swt-right3{top:120px;}
.swt-right3 div{height:59px; display:block; background:url(../images/tel-icon.jpg) no-repeat;}
.swt-right3 div.swt-hover{ height:59px; background:url(../images/swt-right-pic.jpg) 0px 0px no-repeat;}

.swt-right4{ top:180px}
.swt-right4 .wx{height:59px; display:block; background:url(../images/weixin-icon.jpg) no-repeat; position:relative;}
.swt-right4 a:hover .wx{height:59px; display:block; background:url(../images/weixin-icon1.jpg) no-repeat; position:relative;}
.swt-right4 .wx .wicon{width:162px; height:171px; left:-163px; top:-60px; display:block; position:absolute; background:url(../images/b_er3.jpg) no-repeat center top;  display:none\0; *display:none;opacity:0; transform: scale(0);  -webkit-transform: scale(0); transform-origin: 100% 70%;  -webkit-transform-origin: 100% 70%;  transition: transform ease .3s,opacity ease .3s; -webkit-transition: all ease .3s;z-index:99;}
.swt-right4 .wx:hover .wicon{display: block; *display:block; transform: scale(1); -webkit-transform: scale(1);opacity: 1; top:-60px; left:-163px;z-index:99;}

/*.swt-right5{ top:240px;}
.swt-right5 a{height:59px; display:block; background:url(../images/fx-icon.jpg) no-repeat;}
.swt-right5 a:hover{height:59px; display:block; background:url(../images/fx-icon1.jpg) no-repeat;}*/

.swt-right6{ top:240px;right: 0px;}
.swt-right6 a{height:59px; display:block; background:url(../images/lylx.jpg) no-repeat;}
.swt-right6 a:hover{height:59px; display:block; background:url(../images/lylx1.jpg) no-repeat;}

.swt-right7{ top:360px;}
.swt-right7 a{height:59px; display:block; background:url(../images/top-icon.jpg) no-repeat;}

.swt-right8{ top:300px;right: 0px;}
.swt-right8 a{height:59px; display:block; background:url(../images/close.jpg) no-repeat;}
.swt-right8 a:hover{height:59px; display:block; background:url(../images/close1.jpg) no-repeat;}

/*-----------------------右边浮动分享样式----------------------------*/
.swt-right .jShareArea{ width:191px;  background:#464646; padding-top:3px; border-radius:5px; border-bottom-right-radius:0; overflow:hidden;  position:absolute; right:100%; bottom:0;display:none;}
.swt-right .jMoreShare{display:none;}
.swt-right .jShareArea ul{overflow:hidden; padding-left:5px;}
.swt-right .jShareArea li{padding:3px; width:80px; height:30px; margin:3px 5px 3px 0; float:left; text-align:center; cursor:pointer; border:solid 1px #464646; color:#bbb;}
.swt-right .jShareArea li:hover{box-shadow:0 0 1px rgba(102,102,102,.9); border-radius:2px; border-color:#363636; color:#fff;}
.swt-right .jShareArea li:active{box-shadow:inset 0 0 4px rgba(55,55,55,.9), inset 0 1px 0 rgba(55,55,55,0), inset 0 -1px 0 rgba(0,0,0,0); border-radius:2px; background:#666;}
.swt-right .jShareArea li span{display:block; width:16px; height:16px; float:left; background:url(../images/share.gif);}
.swt-right .jShareArea li .jText{float:left; margin-left:5px; font-style:normal; color:#bbb; font-size:12px;}
.swt-right .jShareArea .iconWeibo{background-position:0 0;}
.swt-right .jShareArea .iconQQ{background-position:0 -16px;}
.swt-right .jShareArea .icon163{background-position:0 -32px;}
.swt-right .jShareArea .iconRenren{background-position:0 -48px;}
.swt-right .jShareArea .iconQzone{background-position:0 -64px;}
.swt-right .jShareArea .iconXiaoyou{background-position:0 -80px;}
.swt-right .jShareArea .iconMeilishuo{background-position:0 -96px;}
.swt-right .jShareArea .iconMogujie{background-position:0 -112px;}
.swt-right .jShareArea .iconKaixin{background-position:0 -128px;}
.swt-right .jShareArea .iconDouban{background-position:0 -144px;}
.swt-right .jShareArea .iconWeixin{background-position:0 -224px;}
.swt-right .jShareArea .iconSohu{background-position:0 -240px;}
.swt-right .jShareArea .iconFacebook{background-position:0 -192px;}
.swt-right .jShareArea .iconTwitter{background-position:0 -208px;} 
.swt-right .jShareArea .iconPinterest{background-position:0 -256px;}
.swt-right .jShareArea .iconGoogleplus{background-position:0 -272px;} 
.jLookMore{color:#bbb; text-align:right; border-top:solid 1px #363636; font-size:13px;}
.jLookMore span{cursor:pointer; display:none; padding:5px 10px; border-top:solid 1px #666;color:#bbb; font-size:13px;}
.jLookMore span.jCurrent{display:block; font-size:13px;color:#bbb;}
.jLookMore em{display:inline-block; _display:inline; _zoom:1; padding:0 2px; border:solid 1px #bbb; border-radius:3px; line-height:0.8; margin-right:3px; font-size:16px;color:#bbb;}