@charset "utf-8";
/* CSS Document */
body{ width:100%; overflow-x:hidden; position:relative; z-index:1;}
/* tOP */
.index_top{ background:url(../webimages/index_logo_03.png) repeat;position:absolute; left:0px; top:0px; z-index:99; width:100%;}
.index_topCon{ background:#fff; height:40px; line-height:40px; overflow:hidden;}
.index_topCon dl{ width:1100px; margin:0px auto;}
.index_topCon dl dt{ float:left; background:url(../webimages/index_03.jpg) no-repeat 0px 10px; font-size:20px; color:#f78b26; padding-left:25px;}
.index_topCon dl dd{ float:right; padding-left:10px; font-size:13px; padding-left:35px; margin:0px 5px;}
.index_topCon dl dt em{ font-weight:bold;}
.index_topCon dl dd.dd1{ background:url(../webimages/index_03.jpg) no-repeat 0px -65px;}
.index_topCon dl dd.dd2{ background:url(../webimages/index_03.jpg) no-repeat 0px -27px;}
.index_topCon dl dd.dd3{ padding:0px;}
.index_topCon dl dd.dd4{ padding:0px;}

.index_menuCon{ width:1100px; margin:0px auto; height:100px; overflow:hidden;}
.index_menuCon ul{ float:right; width:450px;}
.index_menuCon ul li{ float:left;border-right:1px solid #afd7dd;}
.index_menuCon ul li a{ color:#fff; font-size:14px; display:block; background:#000; padding:60px 15px 15px; }
.index_menuCon ul li.cur a,.index_menuCon ul li a:hover{ background:#73b823;}
.index_menuCon a.index_logo{ padding:15px 0px; display:inline-block;}

/* banner */
.index_banner{ position:relative;z-index:1;}
.index_banner span{ position:absolute; top:50%; display:inline-block; width:60px; height:60px; z-index:2; cursor:pointer;}
.index_banner span.ban_prve{ background:url(../webimages/index_prve_03.png) no-repeat; left:10%;}
.index_banner span.ban_next{ background:url(../webimages/index_prve_031.png) no-repeat; right:10%;}
.index_bannerCon{ position:relative; z-index:1; height:720px; width:100%; overflow:hidden; margin:0px auto;}
.index_bannerCon ul{ width:9999px; position:absolute;}
.index_bannerCon ul li{ float:left; text-align:center;}

/* 一站式 */
.index_us{ width:100%; overflow:hidden;}
.index_oneBt dl{ width:1100px; margin:0px auto; padding:35px 0px;}
.index_oneBt dl dd{ float:left; width:549px; border-right:1px solid #e2dfdf; text-align:center; position:relative; z-index:1;}
.index_oneBt dl dd.cur{ border-right:none;}
.index_oneBt dl dd h3{ padding-bottom:10px; font-weight:bold;}
.index_oneBt dl dd h3 a{ font-size:22px;}
.index_oneBt dl dd p a{ font-size:16px; color:#999}
.index_oneBt dl dd a:hover{ color:#22246d;}
.zoomImg{ width:100%; height:360px; position:relative; z-index:1; overflow:hidden;}
.zoomImg img{ position:absolute; left:50%; margin-left:-960px; display:block;}

.index_oneBox{ padding-top:40px;}
.index_oneBox dl{ width:1100px; margin:0px auto;}
.index_oneBox dl dt{ float:left; width:600px; position:relative; z-index:1; padding-top:25px;}
.index_oneBox dl dd{ float:right; width:500px; text-align:center; position:relative; z-index:1;}

.index_oneBox dl dt h3.oneH3{ font-size:16px; padding:35px 0px 30px;}
.index_oneBox dl dt p{ font-size:13px;}
.index_oneBox dl dt ul{ border-bottom:1px solid #e1dfdf; padding-bottom:30px;}
.index_oneBox dl dt ul li{ float:left; height:55px; width:110px; margin-right:10px; display:inline; position:relative; z-index:1;background:url(../webimages/pic_img_05.jpg) no-repeat left top; overflow:hidden;}
.index_oneBox dl dt ul li a{ font-size:14px; display:inline-block;padding-left:53px; height:55px; }
.index_oneBox dl dt ul li.cur,.index_oneBox dl dt ul li a:hover{ background:url(../webimages/pic_img_03.jpg) no-repeat left top;}
.index_oneBox dl dt ul li span{ position:absolute; left:8px; top:12px; display:inline-block; width:35px; height:30px;}
.index_oneBox dl dt ul li em{ position:absolute; left:8px; top:88px;display:inline-block; width:35px; height:30px;}
.index_oneBox dl dt ul li.cur1 span{ background:url(../webimages/pic_1.png) no-repeat;}
.index_oneBox dl dt ul li.cur2 span{ background:url(../webimages/pic_3.png) no-repeat;}
.index_oneBox dl dt ul li.cur3 span{ background:url(../webimages/pic_2.png) no-repeat;}
.index_oneBox dl dt ul li.cur4 span{ background:url(../webimages/pic_4.png) no-repeat;}
.index_oneBox dl dt ul li.cur5 span{ background:url(../webimages/pic_5.png) no-repeat;}
.index_oneBox dl dt ul li.cur1 em{ background:url(../webimages/pic_1.png) no-repeat;}
.index_oneBox dl dt ul li.cur2 em{ background:url(../webimages/pic_3.png) no-repeat;}
.index_oneBox dl dt ul li.cur3 em{ background:url(../webimages/pic_2.png) no-repeat;}
.index_oneBox dl dt ul li.cur4 em{ background:url(../webimages/pic_4.png) no-repeat;}
.index_oneBox dl dt ul li.cur5 em{ background:url(../webimages/pic_5.png) no-repeat;}

.index_oneBox dl dd em{ position:absolute;font-size:18px; color:#333;}
.index_oneBox dl dd em.em1{ left:0px; top:160px;}
.index_oneBox dl dd em.em2{ left:280px; top:0px;}
.index_oneBox dl dd em.em3{ left:440px; top:160px;}
.index_oneBox dl dd em.em4{ left:280px; top:315px;}

/* 星客汇 */
.index_Star{ position:relative; z-index:1; width:100%; overflow:hidden; margin:50px 0px;}
.index_Star dl{ width:1100px;  margin:0px auto; padding-top:60px;}
.index_Star dl dt{ float:left; width:655px; position:relative; z-index:1;}
.index_Star dl dd{ float:right; width:410px; position:relative; z-index:1;}
.index_Star dl dt h3.starH3{ font-size:16px; color:#333; border-bottom:1px solid #e1dfdf; padding-bottom:30px; margin-bottom:30px;}
.index_Star dl dt h3.starH3 span{ display:block; font-size:14px;}

/* iDC平台 */
.index_Idc{position:relative; z-index:1; width:100%; overflow:hidden; margin:50px 0px;}
.index_Idc ul{ width:1100px; margin:0px auto; padding-top:60px; background:url(../webimages/index_25.jpg) no-repeat center 90px;}
.index_Idc ul li{ float:left; width:370px;padding-right:180px; text-align:right; height:185px; position:relative; z-index:1;}
.index_Idc ul li.cur{ padding-left:180px; padding-right:0px; text-align:left;}
.index_Idc ul li h3{ font-weight:bold; font-size:18px; padding-bottom:20px;}
.index_Idc ul li p{ color:#4c4c4c; font-size:13px;}
.index_Idc ul li h3.bg1{ color:#0080ff;}
.index_Idc ul li h3.bg2{ color:#35c87a;}
.index_Idc ul li h3.bg3{ color:#f78b26;}
.index_Idc ul li h3.bg4{ color:#fe6553;}

/* 首页关于我们 */
.index_con{ background:#f2f2f2; padding:40px 0px 60px;}
.index_coning{ width:1100px; margin:0px auto;}

.index_aboutCon{ float:left; width:365px; margin-right:70px; position:relative; z-index:1;}
.index_aboutCon h3{ background:url(../webimages/index_btbg_03.jpg) repeat-x; height:35px; font-size:18px; color:#333; margin-bottom:25px;}
.index_aboutCon h3 span{ border-bottom:2px solid #73b823; display:inline-block; padding-bottom:9px;}
.index_aboutCon h4{ font-size:18px; color:#73b823; line-height:20px; padding-bottom:20px;}
.index_aboutCon h4 span{ color:#999; display:block; text-transform:uppercase; font-size:12px;}
.index_aboutCon p{ font-size:13px;}
.index_aboutCon a.read_more{ border:1px solid #ccc; display:inline-block; padding:0px 10px; margin-top:10px;}

.index_newsCon{ float:left; width:440px; margin-right:70px;position:relative; z-index:1;}
.index_newsCon h3{ background:url(../webimages/index_btbg_03.jpg) repeat-x; height:35px; font-size:18px; color:#333; margin-bottom:25px;}
.index_newsCon h3 span{ border-bottom:2px solid #73b823; display:inline-block; padding-bottom:9px;}
.index_newsCon dl{ padding-bottom:10px;}
.index_newsCon dl dt{ float:left; width:150px;}
.index_newsCon dl dd{ float:right; width:270px;}
.index_newsCon dl dd h4{ font-size:16px; color:#333;}
.index_newsCon dl dd span{ color:#999;}
.index_newsCon dl dd p{ line-height:20px;}
.index_newsCon ul{}
.index_newsCon ul li{ border-bottom:1px dashed #b1b1b1; padding:5px;}
.index_newsCon ul li em{ float:right;}

.index_key{ float:right; width:130px;position:relative; z-index:1;}
.index_key h3{ font-size:18px; color:#333; margin-bottom:25px;}
.index_key ul{}
.index_key ul li{ border:1px solid #d9d9d9; padding:10px; margin-bottom:10px; text-align:center; }
.index_key ul li a{ color:#22246d; font-size:14px;}

/* 底部footer */
.index_footer{ background:#73b823; padding:20px 0px; color:#fff; font-size:13px; position:relative; z-index:1;}
.index_footer span{ position:absolute; left:50%; margin-left:-40px; top:-35px; background:url(../webimages/index_33.png) no-repeat; display:inline-block; width:79px; height:72px; cursor:pointer;}
.index_footer dl{ width:1100px; margin:0px auto;}
.index_footer dl dt{ float:left;}
.index_footer dl dd{ float:right;}
.index_footer dl dt p{color:#d6e8c7;}
.index_footer dl dt p a{ color:#d6e8c7;}
.index_footer dl dd p{text-align:right;}
.index_footer dl dd p a{ color:#d6e8c7;display:inline-block; height:14px; line-height:normal; line-height:14px; padding:0px 2x;}

/* 右侧悬浮导航 */
.index_floatNav{ position:fixed; right:-60px; top:0px; z-index:100; width:90px;_position:absolute; _top:expression(eval(document.documentElement.scrollTop+0)); _right:expression(eval(document.documentElement.scrollRight-3)); }
.index_floatNav span{ position:absolute; top:40%; right:60px; margin-top:-45px; display:block; width:20px; height:90px; background:#f78b26;text-align:center; padding:5px;color:#fff;font-size:14px; cursor:pointer;}
.index_floatNav span em{ display:block; width:20px; height:10px;background:url(../webimages/float_nav.png) no-repeat -9px -640px; margin-top:10px;}
.index_floatNav span.cur{ background:#555;}
.index_floatNav span.cur em{background:url(../webimages/float_nav.png) no-repeat -9px -595px; margin-top:10px;}
.floatNav_con{ width:60px; background:#555; float:right;}
.floatNav_con dl{ padding-top:50px;}
.floatNav_con dl dd{text-align:center; padding-bottom:10px; position:relative; z-index:1;}
.floatNav_con dl dd a{ color:#fff; display:block; padding-top:30px; }
.floatNav_con dl dd.dd1 a{ background:url(../webimages/float_nav.png) no-repeat 10px 0px;}
.floatNav_con dl dd.dd1 p{ position:absolute; right:60px; top:0px; display:none;}
.floatNav_con dl dd.dd2 a{ background:url(../webimages/float_nav.png) no-repeat 10px -85px;}
.floatNav_con ul{ margin-top:100px;}
.floatNav_con ul li{ text-align:center; margin-bottom:35px; position:relative; z-index:1; width:60px; display:block;}
.floatNav_con ul li a{ display:block; color:#fff; height:25px; padding-top:30px;}
.floatNav_con ul li.cur1 a{ background:#555 url(../webimages/float_nav.png) no-repeat 12px -165px;}
.floatNav_con ul li.cur2 a{ background:#555 url(../webimages/float_nav.png) no-repeat 12px -257px;}
.floatNav_con ul li.cur3 a{ background:#555 url(../webimages/float_nav.png) no-repeat 12px -345px;}
.floatNav_con ul li.cur4 a{ background:#555 url(../webimages/float_nav.png) no-repeat 12px -432px;}
.floatNav_con ul li.cur5 a{ background:#333 url(../webimages/float_nav.png) no-repeat 12px -520px;}
.floatNav_con ul li.cur1 a:hover{ background:#f78b26 url(../webimages/float_nav.png) no-repeat 12px -165px;}
.floatNav_con ul li.cur2 a:hover{ background:#7fcc27 url(../webimages/float_nav.png) no-repeat 12px -257px;}
.floatNav_con ul li.cur3 a:hover{ background:#7fcc27 url(../webimages/float_nav.png) no-repeat 12px -345px;}
.floatNav_con ul li.cur4 a:hover{ background:#7fcc27 url(../webimages/float_nav.png) no-repeat 12px -432px;}
.floatNav_con ul li em{ position:absolute; right:-130px; top:0px; z-index:-1; background:#fff; display:inline-block; width:130px; height:55px; line-height:55px; color:#333; font-size:16px; cursor:pointer;}

/* 内页架构 */
.ny_banner{ position:relative;z-index:1; width:100%; overflow:hidden;height:500px;}
.ny_banner img{ position:absolute; left:50%; top:0px; margin-left:-960px;display:block;}
.pro_banner{ height:560px;}
.ny_box{ width:1100px; margin:30px auto;}
.ny_title{ background:#f2f2f2; height:75px;}
.ny_title p{ float:right; background:url(../webimages/about_07.jpg) no-repeat left 32px; padding:30px 10px 0px 20px;}
.ny_title p a{ padding:0px 5px; font-size:13px;}
.ny_title p a.cur{ color:#61b500;}
.ny_title h3{ font-size:24px; color:#fff; font-weight:bold; background:url(../webimages/about_04.jpg) no-repeat left; height:75px; line-height:75px; padding-left:20px;}

.leftBar{ float:left; width:260px;}
.rightBar{ float:right; width:800px;}

/* 内页左侧 */
.left_nav ul{padding-bottom:20px;}
.left_nav ul li{ padding:12px 15px; border-bottom:1px solid #e1e1e1;}
.left_nav ul li a{ font-size:14px; background:url(../webimages/about_12.jpg) no-repeat right -40px; display:block;}
.left_nav ul li.cur a,.leftBar ul li a:hover{background:url(../webimages/about_12.jpg) no-repeat right 6px; color:#7fcc27;}
.left_nav dl{border-top:5px solid #7fcc27; padding-top:2px; margin-bottom:25px; }
.left_nav dl dd{ height:100px;float:left; width:129px; margin-right:2px; text-align:center;font-size:16px; color:#fff;}
.left_nav dl dd a{ color:#fff; padding-top:65px; display:block; height:35px;}
.left_nav dl dd.cur{ margin-right:0px;}
.left_nav dl dd.dd1{ background:url(../webimages/about_18.jpg) no-repeat;}
.left_nav dl dd.dd2{ background:url(../webimages/about_22.jpg) no-repeat;}

.left_news{}
.left_news h3{ border-bottom:1px solid #e1e1e1; font-size:18px; color:#333; padding-bottom:10px; font-weight:bold; margin-bottom:25px;}
.left_news h3 span{ border-bottom:3px solid #7fcc27; padding-bottom:10px;}
.left_news ul{ padding-bottom:20px;}
.left_news ul li{ padding-bottom:10px;}
.left_news ul li em{ display:inline-block; width:16px; height:16px; text-align:center; background:#e9e9e9; line-height:16px; margin-right:10px;}
.left_news ul li.cur em{ background:#afe077; color:#fff;}
.left_news ul li a{ color:#4c4c4c; font-size:13px;}
.left_news dl{border-bottom:1px dashed #b2b2b2; padding-bottom:15px; margin-bottom:15px;}
.left_news dl dt{ float:left; width:132px;}
.left_news dl dt img{ width:132px; height:90px;}
.left_news dl dd{ float:right; width:118px; padding:10px 5px; background:#f2f2f2; height:70px;}
.left_news dl dd h4{}
.left_news dl dd h4 a{ color:#4c4c4c; font-size:12px;line-height:18px;}
.left_news dl dd span{ color:#999; font-size:13px; display:block; text-align:right;}

/*集团简介*/
.aboutCon{ padding:30px 0px;}
.aboutCon h3.aboout_h3{ font-size:24px; color:#335496; padding-bottom:10px;}
.aboutCon h4.aboout_h4{ color:#4c4c4c; text-transform:uppercase; font-size:36px; padding-bottom:35px;}
.aboutCon h5.aboout_h5{ color:#333; font-size:18px; padding-bottom:10px;}
.aboutCon p{font-size:14px;}
.aboutCon p.aboout_p{ font-size:14px;}

/* 董事长致辞 */
.chairmanCon{ padding:30px 0px;}
.chairmanCon h3.chairman_h3{ font-size:30px; font-weight:bold; color:#333; padding-bottom:5px;}
.chairmanCon h4.chairman_h4{ color:#333; font-size:18px; padding-bottom:20px;}
.chairmanCon h3 em{ color:#7fcc27; font-size:18px; text-transform:uppercase; display:inline-block; padding-left:10px; font-weight:normal;}
.chairmanCon img.chairmanCon_left{ float:left; padding-right:20px;}
.chairmanCon img.chairmanCon_right{ float:right;padding-left:20px;}
.chairmanCon p{ font-size:14px; line-height:30px;}

/* 联系我们 */
.contactCon{ padding:30px 0px;}
.contactCon h3.ccontact_h3{ text-align:center; color:#333; font-size:22px;}
.contactCon h3.ccontact_h3 span{ display:block; color:#999; text-transform:uppercase; font-size:14px;}
.contactCon ul{ padding:40px 0px 20px;}
.contactCon ul li{ float:left; width:280px; height:70px; margin-bottom:25px; padding-left:80px; font-size:14px; line-height:70px; margin-right:40px; display:inline;}
.contactCon ul li.cur1{ background:url(../webimages/contact_03.jpg) no-repeat 0px -0px; line-height:24px; padding-top:15px; height:55px;}
.contactCon ul li.cur2{ background:url(../webimages/contact_03.jpg) no-repeat 0px -81px;}
.contactCon ul li.cur3{ background:url(../webimages/contact_03.jpg) no-repeat 0px -162px;}
.contactCon ul li.cur4{ background:url(../webimages/contact_03.jpg) no-repeat 0px -250px;}
.contactCon dl{ border:1px solid #ddd; text-align:center;}

/* 企业文化 */
.cultrueCon{ padding:30px 0px;}
.cultrueCon h3.cultrue_h3{ color:#333; font-size:16px; font-weight:bold; padding-bottom:30px; }
.cultrueCon h3.cultrue_h3 span{ display:block; font-size:30px; color:#7fcc27; text-transform:uppercase; font-weight:normal; padding-top:10px;}
.cultrueCon dl{ padding-bottom:45px;}
.cultrueCon dl dt{ float:left; padding-right:20px; width:335px;}
.cultrueCon dl dd{ width:445px; float:right;}
.cultrueCon dl.cur dt{ float:right; padding-right:0px; padding-left:20px; }
.cultrueCon dl.cur dd{ float:left;}

.cultrueCon h4.culture_h4{ font-size:18px; color:#333; padding-bottom:10px;}
.cultrueCon p{ color:#4c4c4c; font-size:14px; line-height:28px;}

/* 组织架构 */
.organCon{ padding:30px 0px;}

/* 产品与业务 */
.proCon{ position:relative; z-index:1; margin-top:-330px;}
.proConlist{ width:1100px; margin:0px auto;}
.proConlist h3{ text-align:center; padding-bottom:40px;}
.proConlist h3 span{ display:block; font-size:30px; color:#000; padding-top:10px;}
.proConlist ul{ padding-bottom:90px;}
.proConlist ul li{ float:left; width:320px; margin-right:70px; background:#eee; height:480px; cursor:pointer;}
.proConlist ul li.curr{ margin-right:0px;}
.proConlist ul li h4{ text-align:center; padding:15px 0px; font-size:16px; color:#333; line-height:18px;}
.proConlist ul li h4 span{ display:block; font-size:12px; color:#666; text-transform:uppercase;}
.proConlist ul li p{ padding:15px;}
.proConlist ul li p a{ float:right;color:#335496; font-weight:bold;}
.proConlist ul li.cur{ background:#333;}
.proConlist ul li.cur h4{ background:#7fcc27;}
.proConlist ul li.cur h4 span{ color:#fff;}
.proConlist ul li.cur p{ color:#fff;}
.proConlist ul li.cur p a{ color:#fff;}

.platformCon{ border-top:1px solid #ddd; position:relative; z-index:1;}
.platformCon span.platformSpan{ background:url(../webimages/pro_18.jpg) no-repeat; width:25px; height:15px; display:block; position:absolute; left:50%; margin-left:-12px; top:-1px;}
.platformCon h3.solH3{ text-align:center; font-size:30px; color:#335496; padding-bottom:20px;}
.platformCon p.solP{ text-align:center;}

.solutionCon{ width:1100px; margin:70px auto;}
.solutionCon dl{ padding-top:40px;}
.solutionCon dl dt{ float:right; width:415px;}
.solutionCon dl dd{ float:left; width:655px; background:#f7f7f7; margin-bottom:20px; padding:15px; height:110px;}
.solutionCon dl dd.cur{ background:#e9f1f6;}
.solutionCon dl dd p{}
.solutionCon dl dd p a{ float:right; color:#335496; font-weight:bold;}

.Direct_salesCon{ width:1100px; margin:70px auto;}
.Direct_salesCon ul{background:url(../webimages/pro_yw_03.jpg) no-repeat center top; width:890px; margin:40px auto; min-height:380px; height:auto !important; height:380px;}
.Direct_salesCon ul li{ float:left; width:280px;font-size:18px; color:#f39a1b; padding-top:40px; padding-bottom:45px;}
.Direct_salesCon ul li span{ display:block; font-size:12px; color:#335496; padding-top:20px;}
.Direct_salesCon ul li a{ color:#f39a1b;}
.Direct_salesCon ul li.cur{ text-align:right; margin-left:300px;}
.Direct_salesCon ul li.curr{ text-align:center; width:890px;}
.Direct_salesCon ul li.curr span{ padding-top:0px;}

.star_guestCon{ width:1100px; margin:70px auto;}
.star_guestCon dl{}
.star_guestCon dl dt{ float:right; width:295px; position:relative; z-index:1;}
.star_guestCon dl dt span{ position:absolute; right:-15px; top:315px; background:url(../webimages/pro_yw_07.png) no-repeat; width:159px; height:60px; line-height:60px; color:#fff; font-size:18px; display:inline-block; text-align:center;}
.star_guestCon dl dd{ float:left; width:805px; background:#2fba9d; height:401px; position:relative; overflow:hidden;}
.star_guestCon dl dd.dd1 ul{}
.star_guestCon dl dd.dd1 ul li{ float:left; width:120px; border-right:1px solid #fff; padding:20px 20px; border-bottom:1px solid #fff;}
.star_guestCon dl dd.dd1 ul li.curr{ background:#73b823 !important;}
.star_guestCon dl dd.dd1 ul li a.goodNum{ display:block; background:url(../webimages/pro_0333.png) no-repeat center top; height:60px; line-height:60px; text-align:center; font-size:24px; color:#5fd7d5;}
.star_guestCon dl dd.dd1 ul li.curr a.goodNum{ color:#73b823;}
.star_guestCon dl dd.dd1 ul li h3{ font-size:18px; color:#fff; padding:20px 0px 10px 10px;}
.star_guestCon dl dd.dd1 ul li h3 a{ padding:0px;}
.star_guestCon dl dd.dd1 ul li h3 b{ display:block;}
.star_guestCon dl dd.dd1 ul li a{ color:#fff; display:block; padding-left:10px;}

.star_guestCon dl dd.dd1 ul li.li_1{ background:#01babf;}
.star_guestCon dl dd.dd1 ul li.li_2{ background:#98d7e0;}
.star_guestCon dl dd.dd1 ul li.li_3{ background:#507b9d;}

.club_bt{ text-align:center; font-size:20px; padding:40px 0px; color:#999;}
.club_bt span{ display:inline-block; padding:0px 5px; cursor:pointer;}
.club_bt span.cur{ color:#0378c5;}
.star_guestCon dl dd.dd2{}
.star_guestCon dl dd.dd2 ul{}
.star_guestCon dl dd.dd2 ul li{ float:left; width:361px; border-right:1px solid #fff; border-bottom:1px solid #fff; height:150px; padding:25px 20px;}
.star_guestCon dl dd.dd2 ul li a.goodNum{ display:block; background:url(../webimages/pro_0333.png) no-repeat left top; height:60px; line-height:60px;font-size:24px; color:#5fd7d5; padding-left:15px; text-align:left;}
.star_guestCon dl dd.dd2 ul li h3{ font-size:18px; color:#fff; padding:20px 0px 10px 10px;}
.star_guestCon dl dd.dd2 ul li h3 a{ padding-left:0px; text-align:left;}
.star_guestCon dl dd.dd2 ul li a{ color:#fff; display:block; padding-left:10px; text-align:right;}
.star_guestCon dl dd.dd2 ul li.curr{ background:#73b823 !important;}
.star_guestCon dl dd.dd2 ul li.curr a.goodNum{ color:#73b823;}

.star_guestCon dl dd.dd2 ul li.li_1{ background:#01babf;}
.star_guestCon dl dd.dd2 ul li.li_2{ background:#98d7e0;}
.star_guestCon dl dd.dd2 ul li.li_3{ background:#507b9d;}



/* 电子资料 */
.ElecCon{ padding:30px 0px;}
.ElecCon ul{}
.ElecCon ul li{ padding:15px 10px; border-bottom:1px solid #e6e6e6; font-size:14px; background:url(../webimages/ele_08.jpg) no-repeat left;}
.ElecCon ul li.cur{ background:#f2f2f2; padding:10px; color:#4c4c4c; font-size:16px; margin-bottom:10px;}
.ElecCon ul li.cur span{ background:none;}
.ElecCon ul li span{ float:right; display:inline-block; width:75px; background:url(../webimages/ele_04.jpg) no-repeat; height:30px; line-height:30px; text-align:center;}
.ElecCon ul li span a{ color:#fff; padding-left:20px;}
.ElecCon ul li em{ float:right; display:inline-block; width:200px;}
.fy_page{ padding:30px 0px; text-align:center;}

/*******************陈蕊 begin******************************/
/*人力资源-招贤纳士*/
.recruitment_con{ height:auto; padding:30px 0px;}
.recruitment_con a{ color:#7fcc27; font-size:16px;}
.recruitment_con a:hover{ color:#666;}
.recruitment_con p{ font-size:14px;}
.recruitment_con h2.init_title3{ font-size:18px; color:#00a1e9; padding:30px 0px 20px; border-bottom:solid 1px #e8e8e8;}
.recruitment_con h3.init_title3{ font-size:20px; color:#00a1e9; padding:30px 0px 20px;}
.recruitment_contwo{ height:auto; margin-bottom:30px;}
.recruitment_contwo dl{}
.recruitment_contwo dl dt{ font-size:14px; height:50px; line-height:50px; border-bottom:solid 1px #e8e8e8;cursor:pointer;background:url(../webimages/recruitment_next.jpg) no-repeat 757px -45px;}
.recruitment_contwo dl dt.cur{ border-bottom:solid 1px #fff; color:#00a1e9;background:url(../webimages/recruitment_next.jpg) no-repeat 757px 20px;}
.recruitment_contwo dl dd{ display:none; padding:0px 40px 30px 30px; background:#f8f8f8; color:#4c4c4c; font-size:13px;}
.recruitment_contwo dl dd b{ font-size:14px; color:#4c4c4c; padding:30px 0px 20px; display:block;}
.recruitment_contwo dl dd p em{ background:url(../webimages/recruitment_num.jpg) no-repeat; display:inline-block; height:13px; width:13px; line-height:13px; text-align:center;font-family: "宋体";font-size: 12px; margin-right:15px;}
.recruitment_btn{ cursor:pointer; margin-top:20px; background:#00a1e9; color:#fff !important; display:inline-block !important; width:120px; height:35px; line-height:35px; font-size:16px; text-align:center;}
.recruitment_btn:hover{ color:#fff !important;}




/*******************陈蕊 end******************************/

/* 访问交流 ===最新咨询*/
.newsBox{ padding:30px 0px;}
.news_bt{ text-align:center; border-bottom:1px solid #ccc; padding-bottom:10px;}
.news_bt h3{ color:#4c4c4c; font-size:28px; line-height:30px; padding-bottom:15px;}
.news_bt p{ font-size:15px;}
.news_bt span{ font-size:14px;}
.newsCon{ padding:30px 0px;}
.newsCon p{ font-size:14px;}

.newsBox dl{ border:1px solid #e3e3e3; padding:20px; margin-bottom:20px;}
.newsBox dl.cur{ background:#f7f7f7;}
.newsBox dl dt{ float:left; width:220px;}
.newsBox dl dt img{ width:220px !important;}
.newsBox dl dd{ float:right; width:520px;}
.newsBox dl dd h3{ padding-bottom:5px;}
.newsBox dl dd h3 a{font-size:18px; color:#333; font-weight:bold;}
.newsBox dl dd h3 a:hover{ color:#1078c6;}
.newsBox dl dd span{ font-size:13px; color:#999;}
.newsBox dl dd p{ color:#4c4c4c; font-size:13px; padding-bottom:20px;} 
.newsBox dl dd a.read_more{ font-size:13px; color:#999;}

/* 我是供应商 */
.giveBox{position:relative; z-index:1; margin-top:-245px;}
.giveCon{ width:1100px; margin:0px auto;margin-bottom:100px; background:url(../webimages/give_10.png) no-repeat 5px bottom; position:relative; z-index:1;}
.RetailerCon{ height:676px;}

.givescroll{ position:relative; z-index:1; height:750px; overflow:hidden; width:1000px; margin:0px auto;}
.givescroll span{ position:absolute; top:50%; margin-top:-50px;display:inline-block; width:65px; height:99px; cursor:pointer; z-index:2;}
.givescroll span.givePrve{ background:url(../webimages/give_03.png) no-repeat; left:0px;}
.givescroll span.giveNext{ background:url(../webimages/give_05.png) no-repeat; right:0px;}
.givescroll ul{ width:9999px; position:absolute;}
.givescroll ul li{ float:left;}

/* 视频中心 */
.video_bt{ padding:30px 0px; display:none;}
.video_bt a{ display:inline-block; border:1px solid #aaa; padding:8px 25px; margin-right:15px; font-size:16px; color:#333;}
.video_bt a.cur,.video_bt a:hover{ background:#73b823; color:#fff;}
.video_con{ width:800px; overflow:hidden;}
.video_con ul{ width:850px;}
.video_con ul li{ float:left; margin-right:15px; margin-bottom:10px; background:url(../webimages/pic44.jpg) no-repeat; width:255px; position:relative; z-index:1;}
.video_con ul li img{ padding:5px;}
.video_con ul li.cur{ margin-right:0px;}
.video_con ul li a{ display:block;}
.video_con ul li span{ display:block; font-size:14px; text-align:center; padding:10px 0px;}
.video_con ul li em{ display:inline-block; background:url(../webimages/video.png) no-repeat center; position:absolute; left:0px; top:0px; width:255px; height:190px; cursor:pointer;}
.link_con{ padding:30px 0px;}

/* 3-31 */
.changepage1{ text-align:center;}
.changepage1 a.num{ display:inline-block; padding:0px 8px; margin:0px 0px 0px 5px; border:1px solid #ddd; vertical-align:top; line-height:22px; font-size:14px;}
.changepage1 a.changer{ margin-left:5px;}

/*20200707*/
.crTab{ height:auto; overflow:hidden; padding-top:30px;}
.crTab a{ display:inline-block; float:left; margin-right:20px; color:#666; padding:5px 10px; border:solid 1px #ddd; font-size:14px;}
.crTab a.cur{ border:solid 1px #00a1e9; color:#00a1e9; }
.crWorkCon{ display:none;}


/* 5-20注册用户 */
.vip_box{ background:#f8f8f8;}
.ny_box{ margin:0px auto; padding:30px 0px;}
.vip_banner{ height:252px;}
.vip_regiest{ padding-bottom:110px;}
.vip_title{ padding:10px 0px;}
.vip_title span{ float:right; background:url(../webimages/about_07.jpg) no-repeat left 32px;font-size:13px; font-weight:normal;}
.vip_title span a{ padding:0px 5px; font-size:13px;}
.vip_title span a.cur{ color:#61b500;}
.vip_title h3{ font-size:30px; color:#7fcc27; font-weight:bold;}

.vip_regiestCon{ background:url(../webimages/vip_bg2.jpg) repeat-y right;}
.reg_con{ background:#fff; margin:110px auto 80px; padding:80px 100px; border:1px solid #f2f2f2; border-bottom:none; background:url(../webimages/vip_bg.jpg) repeat-x bottom;}
.reg_left{ float:left; width:380px;}
.reg_right{ float:right; width:265px; border-left:1px solid #e6e6e6; padding-left:55px; padding-bottom:100px;}

.reg_bt{ margin-bottom:25px;}
.reg_bt span{ display:inline-block; width:185px; height:35px; line-height:35px; background:#eee; text-align:center; margin-right:5px; font-size:15px; border-top:2px solid #ddd; cursor:pointer;	}
.reg_bt span.cur{ color:#ef9c00;}
.reg_bt2 span.cur{border-top:2px solid #6bb516; color:#6bb516; }

.reg_list{  display:none; }
.reg_left ul{}
.reg_left ul li{ margin-bottom:15px;}
.reg_left ul li em{ float:right; display:inline-block; padding-right:10px; cursor:pointer;}
.reg_left ul li span{ width:90px; display:inline-block; font-size:15px; color:#333; text-align:right;}
.reg_left ul li .login_txt{ width:275px; height:30px; line-height:30px; padding-left:10px; background:#eee; font-size:14px; font-family:"微软雅黑"; color:#999;}
.reg_left ul li .login_txt2{ width:150px; /*margin-right:15px;*/}
.reg_left ul li p{ padding-top:10px; vertical-align:middle; padding-left:90px;}
.reg_left ul li p input{ display:inline-block; margin-right:5px; vertical-align:middle;}
.reg_left ul li p a{ text-decoration:underline;}
.reg_left ul li .login_btn{ width:150px; height:32px; background:#ef9c00; font-size:16px; color:#fff; font-weight:bold; display:inline-block; cursor:pointer;}
.reg_left ul li .login_btn2{ background:#6bb516;}

.reg_right h3{ font-size:15px; color:#333;}
.reg_right a.reg_login{ display:inline-block; width:100px; height:30px; line-height:30px; text-align:center; color:#fff; font-weight:bold;background:#6bb516; font-size:16px; margin:20px 0px;}
.reg_right a.reg_login2{ background:#ef9c00;}
.reg_right p{ font-size:13px; color:#666;}

.vip_list{ background:#f2f2f2; padding:30px 0px;}
.vip_list dl{ width:1002px; margin:0px auto;}
.vip_list dl dd{ float:left; width:500px; text-align:center; height:95px; line-height:95px; color:#818282;}
.vip_list dl dd a{color:#818282; font-size:22px; display:block;}
.vip_list dl dd.dd1 a{ background:url(../webimages/vip_reg_04.png) no-repeat 80px -130px;}
.vip_list dl dd.dd2 a{ background:url(../webimages/vip_reg_04.png) no-repeat 80px -405px;}
.vip_list dl dd.dd1 a:hover,.vip_list dl dd.dd1.cur a{ background:url(../webimages/vip_reg_04.png) no-repeat 80px -1px; color:#73b823;}
.vip_list dl dd.dd2 a:hover,.vip_list dl dd.dd2.cur a{ background:url(../webimages/vip_reg_04.png) no-repeat 80px -271px;color:#73b823;}

.reg_list dl{ border-top:1px solid #ddd; padding:15px 0px; margin-top:30px;}
.reg_list dl a{ display:inline-block; width:25px; height:25px; padding:0px 5px; vertical-align:top;}
.reg_list dl a.qq{ background:url(../webimages/vip_qq.jpg) no-repeat center;}
.reg_list dl a.weibo{ background:url(../webimages/vip_wb.jpg) no-repeat center;}
.reg_list dl a.zhifubao{ background:url(../webimages/vip_zfb.jpg) no-repeat center;}

/* 会员中心 */
.member_con{ padding:85px 0px;}
.mem_leftBar{ float:left; width:205px;}
.mem_rightBar{ float:right; width:875px; border:1px solid #f2f2f2; background:#fff url(../webimages/vip_bg2.jpg) repeat-y right; border-bottom:none;}

.mem_leftBar ul{}
.mem_leftBar ul li{ margin-bottom:10px;}
.mem_leftBar ul li a{ display:block; background:url(../webimages/mem.jpg) no-repeat; height:72px; line-height:72px; font-size:16px; color:#549707; padding-left:20px;}
.mem_leftBar ul li a:hover,.men_leftBar ul li.cur a{ background:url(../webimages/mem_h.jpg) no-repeat; color:#fff;}

.mem_data{ background:url(../webimages/vip_bg.jpg) repeat-x bottom; padding:65px 80px;}
.mem_data h3{ font-size:16px; color:#333; font-weight:bold; padding-bottom:60px; height:35px; line-height:35px;}
.mem_data h3 a{ float:right; font-size:12px; color:#fff; background:url(../webimages/mem_down.jpg) no-repeat; width:120px; padding-right:10px; height:35px; text-align:right; line-height:35px; display:inline-block;}
.mem_data ul{}
.mem_data ul li{ font-size:14px; margin-bottom:20px;}
.mem_data ul li span{ display:inline-block; width:70px; text-align:right; margin-right:10px;}
.mem_data ul li .mem_txt{ width:280px; padding:8px 5px; border:1px solid #ddd; color:#999;}
.mem_data ul li .mem_sel{ padding:8px 15px; margin-right:5px; border:1px solid #ddd; color:#999;}
.mem_data ul li .mem_sel2{ padding:8px 0px; margin-right:5px; border:1px solid #ddd; color:#999; width:170px;}
.mem_data ul li .mem_txt2{ width:520px;}
.mem_data ul li .mem_btn{ background:#6bb516; padding:10px 30px; margin-right:15px; font-size:14px; color:#fff; font-weight:bold; cursor:pointer; margin-top:20px;}
.mem_data ul li .mem_btn2{ background:#e9e9e9; color:#666;}

.mem_tab{}
.mem_tab dl{}
.mem_tab dl dt{ background:#6bb516; color:#fff; font-weight:bold; font-size:16px; padding:5px 20px;}
.mem_tab dl dd{ padding:15px 50px; font-size:13px;}
.mem_tab dl dd p{}
.mem_tab dl dd p.dd_p{ padding-top:20px;}
.dd_txt{ padding:5px; border:1px solid #ddd; margin:0px 10px;}
.mem_tab{}
.mem_tab tr th{ text-align:right; font-weight:normal;}
.mem_tab tr td{ padding:5px 5px;}
.mem_tab tr td .men_txt{ border:1px solid #ddd; padding:8px 5px; width:100%; color:#999; }
.mem_tab tr td .men_txt2{ width:190px; color:#999; margin-right:5px;}
.mem_tab tr td label{ display:inline-block; padding-right:5px; cursor:pointer;}
.mem_tab tr td label input{ display:inline-block; margin-right:5px; vertical-align:text-top;}
.mem_tab tr th label input{ display:inline-block; margin-right:5px; vertical-align:text-top;}
.mem_tab tr td em.mem_m2{ display:inline-block; padding-left:10px; vertical-align:text-top;} 
.mem_tab tr td .men_area{ width:100%; padding:5px; height:100px; border:1px solid #ddd; color:#999;}
.mem_tab tr td .mem_btn{ padding:10px 30px; color:#fff; background:#6bb516; font-size:14px; font-weight:bold; margin-right:15px; margin-top:20px; cursor:pointer;}
.mem_tab tr td .mem_btn2{ color:#666; background:#e9e9e9;}
.dd_area{ vertical-align:top;}