
.zy_banner{
	overflow: hidden;
}
.zy_banner img{
	width: 1920px;
	height: 330px;
	position: relative;
	left: 50%;
	margin-left: -960px;
	display: block;
}
.zy_con_wid{
	width: 1200px;
	margin:0 auto;
	margin-top: -280px;
	position: relative;
}

/*子页标题*/
.zy_title{
	width: 280px;
	height: 240px;
	background-color: rgba(0,0,0,.5);
}
.zy_title h1{
	padding-top: 80px;
	text-align: center;
}
.zy_title h1 p:first-child{
	display: inline-block;
	color: #fff;
	font-family: arial;
	font-size: 72px;
	text-transform: uppercase;
}
.zy_title h1 p:last-child{
	display: inline-block;
	color: #fff;
	font-size: 24px;
	text-align: left;
}
.zy_title h1 p:last-child a{
	display: block;
	font-family: arial;
	text-transform:lowercase;
}

/*子页内容*/
.zy_con_bg{
	width: 1272px;
	margin-left: -36px;
	height: 120px;
	margin-top: 10px;
}
.zy_conbox{
	min-height: 400px;
	background-color: white;
	position: relative;
	margin-top: -130px;
	overflow: hidden;
}
/*左边导航*/
.zy_nav_left{
	float: left;
	width: 280px;
}
.zy_nav_left ul{
	background-color: #47a1ff;
	text-align: center;
	padding:20px 0;
	margin-bottom: 10px;
}
.zy_nav_left ul li{
	line-height: 40px;
}
.zy_nav_left ul li a{
	color: #fff;
	font-size: 18px;
	display: block;
}
.zy_nav_left ul .cur a{
	background: url(../images/zy_nav_bg.png) no-repeat center center;
	color: #222;
}
.zy_nav_left ul li a:hover{
	color: #222;
}
.zy_nav_left dl{
	padding:20px;
	padding-top: 0;
	background: url(../images/contact_bg.png) no-repeat center center;
	background-color: #47a1ff;
}
.zy_nav_left dl dt{
	margin-bottom: 6px;
}
.zy_nav_left dl dt a{
	font-size: 72px;
	color: #fff;
	font-family: arial;
	line-height: 72px;
}
.zy_nav_left dl dt span{
	color: #fff;
	font-size: 20px;
	font-weight: bold;
	margin-left: 10px;
}
.zy_nav_left dl dd{
	color: #fff;
	font-size: 14px;
	line-height: 24px;
}
/*右边内容*/
.zy_con_right{
	width: 880px;
	padding:0 20px;
	float: right;
}
.zy_con_right .weizhi{
	padding:20px 0;
	overflow: hidden;
}
.zy_con_right .weizhi h1{
	float: right;
	font-size: 14px;
	line-height: 26px;
	background: url(../images/icon_wz.png) no-repeat center left;
	padding-left: 28px;
	color: #666;
}
.zy_con_right .weizhi h1 a{
	color: #666;
}
.zy_con_right .weizhi h1 span{
	color: #0068b7;
}
.zy_con_right .weizhi h1 a:hover{
	text-decoration: underline;
	color: #0068b7;
}

/*关于我们*/
.zy_con_txtbox{
	font-size: 16px;
	color: #666;
	line-height: 32px;
	text-indent: 2em;
	text-align: justify;
}
.zy_con_txtbox *{
	margin-bottom: 18px;
}
/* play 公司简介轮播图*/
.play{
	width:480px;
	height:320px;
	overflow:hidden;
	position:relative; 
	float: right; 
	margin:0 0 0 10px;
}
.play .text {
	width:100%;
	position:absolute;
	left:0;
	bottom:0;
	height:60px;
}
.play .text div {
	position:absolute;
	left:0;top:0;
	width:100%;
	height:100%;
	background:black;
	filter:alpha(opacity:40);opacity:0.4;z-index:99;
}
.play .text span {
	position:absolute;
	left:0;top:0;
	width:100%;
	height:100%;
	line-height:60px;
	color:white;
	z-index:999;
	text-align:center;
	font-size:20px;
}
.play ol{
	position:absolute;
	left:50%;
	margin-left:-20px;
	bottom:10px;
	z-index:99999;
}
.play ol li{
	float:left;
	margin-right:3px;
	display:inline;
	cursor:pointer;
	background-color:rgba(0,0,0,0.5);
	padding:5px 9px;
	color:#fff;
	font-family:arial;
	font-size:12px;
	border-radius:100px;
}
.play ol li.active{
	font-weight:bold;
	color:#ffffff;
	background-color:rgba(0,0,0,1);
	position:relative;
}
.play ul{
	position:absolute;
	top:0;left:0;
	z-index:1;
}
.play ul li{
	width:480px;
	height:320px;
	float:left;
}
.play ul img{
	float:left;
	width:100%;
	height:100%;
}
#next{
	display:block;
	position:absolute;
	top:38%;right:0;
	width:30px;
	height:54px;
	text-align:center;
	color:#fff;
	background-color:rgba(0,0,0,0.5);
	z-index:999;
	line-height:50px;
	text-decoration:none;
}
#prev{
	display:block;
	position:absolute;
	top:38%;left:0;
	width:30px;height:54px;
	text-align:center;
	color:#fff;
	background-color:rgba(0,0,0,0.5);
	z-index:999;
	line-height:50px;
	text-decoration:none;
}
#prev:hover .prevImg,#next:hover .nextImg{
	display:block;
}
.prevImg{
	height:54px;
	width:80px;
	position:absolute;
	background-color:#fff;
	top:0;left:30px;
	display:none;
}
.nextImg{
	height:54px;
	width:80px;
	position:absolute;
	background-color:#fff;
	top:0;right:30px;
	display:none;
}

/*在线留言*/
.con_zxly{ 
	margin:0 30px;
}
.con_zxly h1{ 
	color:#222; 
	line-height:36px; 
	font-size: 16px; 
	padding-left: 26px;
}
.con_zxly h1 span{ 
	color:red;
}
.con_zxly h2 span{ 
	color:red; 
	margin-left:12px;
}
.con_zxly h2{ 
	overflow:hidden; 
	line-height:30px; 
	margin:24px 0;
}
.con_zxly h2 p{ 
	float:left; 
	width:104px; 
	color:#222; 
	line-height:0; 
	height:36px; 
	text-align: right;
}
.con_zxly h2 p:after{
     display:inline-block;
     overflow:hidden;
     height:0;
     content:'';
     vertical-align:top;
	}
.con_zxly h2 p a{ 
	line-height:30px; 
	font-size: 16px;
}/*两端对齐*/
.con_zxly h2 input{ 
	float:left; 
	line-height:36px; 
	width:420px; 
	margin-left:12px; 
	color:#666666; 
	padding-left:10px;
	background:none; 
	border:#d6d7dc solid 1px; 
	background-color: #f4f4f4; 
	font-size: 14px;
}
.con_zxly textarea{ 
	float:left; 
	width:630px; 
	height:180px; 
	margin-left:12px; 
	color:#666666; 
	padding-left:10px; 
	font-size: 14px; 
	line-height: 32px;
	background:none; 
	border:#d6d7dc solid 1px; 
	background-color: #f4f4f4;
}	
.con_zxly .yzm input{
	width: 120px;
}	
.con_zxly .yzm p:last-child{ 
	width: auto; 
}
.con_zxly .yzm p:last-child img{ 
	display: inline-block; 
	vertical-align: middle;
}
.con_zxly .yzm p:last-child a{ 
	display: inline-block; 
	vertical-align: middle; 
	font-size: 14px; 
	color: #666;
}
.con_zxly h4{ 
	margin:40px 0; 
}
.con_zxly .btn{ 
	background-color:#0068b7; 
	width:120px; 
	cursor:pointer;
	line-height:40px; 
	font-size:18px;  
	color:white; 
	margin-left: 116px;
	font-family: "微软雅黑";
}	
.con_zxly .btn01{ 
	background-color:#bbbbbb; 
	width:120px; 
	cursor:pointer;
	line-height:40px; 
	font-size:18px;  
	color:white; 
	margin-left: 40px;
	font-family: "微软雅黑";
}	

/*产品中心*/	
.zy_con_cpzx ul{
	overflow: hidden;
}
.zy_con_cpzx ul li{
	float: left;
	width: 286px;
	height: 286px;
	margin:10px 10px 10px 0;
}
.zy_con_cpzx ul li:nth-child(3n){
	margin-right: 0;
}
.zy_con_cpzx ul li a{
	display: block;
	position: relative;
}
.zy_con_cpzx ul li img{
	display: block;
	width: 100%;
	height: 100%;
}
.zy_con_cpzx ul li span{
	position: absolute;
	bottom: 0;
	width: 100%;
	background-color: rgba(0,0,0,.6);
	color: white;
	text-align: center;
	font-size: 16px;
	line-height: 70px;
	height: 70px;
	transition:all .7s;
	-moz-transition:all .7s; /* Firefox 4 */
	-webkit-transition:all .7s; /* Safari and Chrome */
	-o-transition:all .7s; /* Opera */
}
.zy_con_cpzx ul li:hover span{
	font-size: 20px;
	line-height: 140px;
	height: 140px;
}
/***翻页样式**/
.fanye{
	text-align:center; 
	margin:30px 0 20px 0;
}
.fanye a{ 
	border:#bbb solid 1px; 
	padding:0px 15px; 
	font-size:14px; 
	color:#666; 
	line-height: 36px; 
    display: inline-block; 
    border-radius: 5px;
}
.fanye span a{ 
	margin: 0 3px;
}
.fanye span .current{ 
	color:white; 
	background-color:#0068b7; 
	border:#0068b7 solid 1px;
}
.fanye a:hover{
	color:white; 
	background-color:#0068b7; 
	border:#0068b7 solid 1px;
}

/*产品详情*/
.xq_title{
	text-align: center;
	margin-bottom: 40px;
}
.xq_title h1{
	font-size: 24px;
	color: #222;
	line-height: 60px;
}
.xq_title p{
	font-size: 14px;
	color: #999;
	line-height: 30px;
}
.xq_title p span{
	margin:0 10px;
}
.pic_xq{
	overflow: hidden;
	width: 700px;
	margin:0 auto;
	margin-bottom: 30px;
}
.pic_xq ul{
	float: left;
	width: 520px;
	height: 520px;
	overflow: hidden;
}
.pic_xq ul li img{
	display: block;
	width: 520px;
	height: 520px;
}
.pic_xq ol{
	float: right;
	width: 162px;
	height: 520px;
	overflow: hidden;
}
.pic_xq ol li{
	height: 162px;
	width: 162px;
	margin-bottom: 16px;
	cursor: pointer;
}
.pic_xq ol li img{
	height: 160px;
	width: 160px;
	border: #d6d7dc solid 1px;
}
.pic_xq ol li:hover img{
	border: #0068b7 solid 1px;
}
.xq_con_txt{
	font-size: 16px;
	color: #666;
	line-height: 32px;
}
.xq_share{ 
	overflow: hidden; 
	margin-top: 50px; 
	border-top: #ccc solid 1px; 
	padding:10px 0;
}
.xq_share h1{ 
	float: left; 
	overflow:hidden;
}
.xq_share h1 p{ 
	line-height: 26px;  
	color: #222; 
}
.xq_share h1 p a{ 
	font-size: 16px;  
	color: #666; 
	display: inline-block;
	overflow:hidden; 
	text-overflow: ellipsis; white-space: nowrap; 
	vertical-align: middle;
}
.xq_share h1 p a:hover{ 
	text-decoration:underline; 
	color: #333; 
}
.xq_share h1 p span{ 
	font-size: 16px; 
	font-weight:bold; 
	display: inline-block; 
	vertical-align: middle;
}
.xq_share h2{ 
	float: right; 
	width: 234px; 
}
.xq_share h2 span{ 
	color: #666; 
	float: left; 
	line-height: 26px;
	padding: 0 8px; 
	font-size: 14px;
}

/*新闻中心*/
.zy_con_news ul li{
	overflow: hidden;
	padding:20px 0;
	border-bottom: #d6d7dc solid 1px;
}
.zy_con_news ul li img{
	float: left;
	width: 300px;
	height: 200px;
	margin-right: 20px;
}
.zy_con_news ul li dt{
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}
.zy_con_news ul li dt a{
	font-size: 24px;
	color: #222;
}
.zy_con_news ul li dt a:hover{
	color: #0068b7;
}
.zy_con_news ul li dd{
	font-size: 16px;
	color: #666;
	line-height: 30px;
	margin:24px 0 30px 0;
}
.zy_con_news ul li p a{
	font-size: 14px;
	color: #fff;
	background: url(../images/shuazi_bg.png) no-repeat center center;
	display: inline-block;
	width: 144px;
	text-indent: 1.8em;
	line-height: 32px;
	padding-bottom: 20px;
}
.zy_con_news ul li p a:hover{
	color: #d9ebff;
	text-decoration: underline;
}
.zy_con_news ul li p span{
	font-size: 14px;
	color: #999;
	margin-left: 14px;
}

/*新闻详情*/
.zy_con_newstxt{
	font-size: 16px;
	line-height: 30px;
	color: #666;
	text-indent: 2em;
	text-align: justify;
}
.zy_con_newstxt img{
	display: block;
	margin:30px auto;
}