.top {
	width: 100%;
	height: 50px;
	background: #061541;
	border-bottom: 1px solid #646566;
	position: relative;
	overflow: hidden;
}

.logo {
	width: 20%;
	height: 48px;
	position: absolute;
	float: left;
	left: 25px;
}

.logo>span {
	color: #FFFFFF;
	font-size: 160%;
	position: absolute;
	line-height: 48px;
	height: 48px;
	padding-left: 10px;
	font-family: "华文隶书";
}

.logo2 {
	height: 48px;
	position: absolute;
	float: left;
	left: 25px;
	display: none;
}

.logo2>span {
	color: #FFFFFF;
	font-size: 150%;
	position: absolute;
	line-height: 48px;
	height: 48px;
	padding-left: 10px;
	font-family: "华文隶书";
}

.topmenu {
	position: absolute;
	right: 20px;
	float: right;
}

.topmenu span a {
	margin-left: 10px;
	font-family: "微软雅黑";
	color: #FFFFFF;
	line-height: 48px;
	font-size: 14px;
}

.topmenu span a:hover {
	color: #05DFD2;
}


/*全部导航类*/

.san {
	width: 0;
	height: 0;
	border-width: 0 25px 10px;
	border-style: solid;
	border-color: transparent transparent #1cdddf;
	/*透明 透明  萤光色*/
	left: 17px;
	position: absolute;
	display: none;
}

.allnav {
	width: 1500px;
	height: 340px;
	padding-top: 30px;
	display: none;
	position: absolute;
	left: 18px;
	border: 5px outset #1cdddf;
	top: 60px;
	z-index: 999999;
	background: rgba(0, 0, 0, 0.5);
	/*box-shadow: 0px 1px 10px #13df90;*/
}

.allnav dl {
	width: 1500px;
	height: 240px;
}

.allnav dd {
	/*border-right: 1px solid #676d6f;*/
	width: 159px;
	height: 140px;
	float: left;
	text-align: center;
}

.allnav dd img {
	width: 64px;
	height: 64px;
}

.allnav dd.r_windex {
	border: none
}


/*技术分类*/

.ui {
	width: 100%;
	height: 100px;
	background-color: #0f7ea7;
}

.muny {
	width: 60%;
	height: 100px;
	margin: 0 auto;
}

.muny>ul>li {
	overflow: hidden;
	width: 24%;
	list-style: none;
	float: left;
	height: 100px;
	border-right: 1px solid #bcc9cf;
}

.muny>ul>li:hover {
	background-color: #1691c5;
}

.muny ul li h3 {
	font-family: "微软雅黑";
	color: #FFFFFF;
	text-align: center;
	padding-top: 10px;
}

.muny ul li p {
	text-align: center;
}

.muny ul li p a {
	font-family: "微软雅黑";
	color: #FFFFFF;
}

.clo {
	border-left: 1px solid #bcc9cf;
}

.code {
	padding-top: 30px;
	padding-left: 15px;
	float: left;
}

* a {
	text-decoration: none;
}


/*返回顶部*/

#to_top {
	position: fixed;
	right: 5px;
	bottom: 10%;
	cursor: pointer;
	display: none;
	z-index: 1000;
}

#AIC {
	position: fixed;
	width: 35px;
	border-radius: 2px;
	height: 150px;
	padding-top: 5px;
	padding-left: 5px;
	right: 5px;
	bottom: 30%;
	background: #0585de;
	cursor: pointer;
	z-index: 1000;
	font-size: 90%;
}

#AIC>p {
	width: 22px;
	color: #FFFFFF;
	font-family: "微软雅黑";
	/*border: 1px solid red;*/
	margin: 0 auto;
}