   body {
   	font-family: "微软雅黑";
   }
   
   * {
   	padding: 0;
   	margin: 0;
   }
   /*分类层*/
   
   .feclass {
   	width: 100%;
   	height: 750px;
   	margin-top: 20px;
   	padding-top: 50px;
   	/*	background: #009DFF;*/
   	/*border: 1px solid red;*/
   	overflow: hidden;
   }
   
   .clasg {
   	width: 1100px;
   	margin: 0 auto;
   	background: #fff;
   	height: 620px;
   	/* border: 1px solid red;*/
   	overflow: hidden;
   }
   
   .clasg li a:hover {
   	background: #e2e6e6;
   }
   
   .clasg>h1 {
   	padding-top: 5px;
   	text-align: center;
   	font-family: "华文隶书";
   }
   
   .clasg>p {
   	padding-top: 20px;
   	text-align: center;
   	padding-bottom: 15px;
   	font-family: "华文隶书";
   	font-size: 20px;
   }
   
   .clasg .bay a {
   	width: 180px;
   	height: 260px;
   	/*border: 1px solid red;*/
   	float: left;
   	-webkit-transition: all ease-in .4s;
   	transition: all ease-in .4s;
   	position: relative;
   	overflow: hidden;
   }
   
   .clasg .bay .clasdis {
   	/*	border-right: 1px solid #d5d5d5;*/
   	width: 180px;
   	height: 260px;
   	text-align: center;
   	float: left;
   	position: relative;
   	z-index: 2;
   	background: #ffffff;
   	-webkit-transition: all ease-in .3s;
   	transition: all ease-in .3s;
   }
   
   .clasg .bay .clasdis .icon {
   	display: inline-block;
   	width: 74px;
   	height: 74px;
   	margin-top: 42px;
   }
   
   .clasg .bay .clasdis .title {
   	font-size: 16px;
   	color: #666666;
   	height: 40px;
   	line-height: 40px;
   }
   
   .clasg .bay .clasdis .nt {
   	border-top: 1px solid #ddd;
   	width: 130px;
   	margin: 0 auto;
   	font-size: 14px;
   	color: #999999;
   	text-align: center;
   	line-height: 20px;
   }
   /* 分类层*/
   
   .footg {
   	height: auto;
   	padding-top: 15px;
   	padding-bottom: 10px;
   	background: #070e23;
   	overflow: hidden;
   }
   
   ul {
   	list-style: none;
   }
   
   .foot1 {
   	width: 200px;
   	float: left;
   	margin-left: 20px;
   }
   
   .foott {
   	width: 1200px;
   	margin: 0 auto;
   	height: 350px;
   	overflow: hidden;
   	border-bottom: 1px solid #616567;
   }
   
   .foot1>ul>li a {
   	color: #ccc;
   	font-size: 13px;
   	font-family: "微软雅黑";
   	text-decoration: none;
   }
   
   .foot1>ul>li a:hover {
   	color: #0e88bb;
   }
   
   .foot1>ul>li {
   	text-align: center;
   	margin-top: 8px;
   }
   
   .foot1>ul>h3 {
   	font-size: 15px;
   	color: #ccc;
   	text-align: center;
   	padding-bottom: 15px;
   }
   
   .fott {
   	width: 60%;
   	overflow: hidden;
   	margin: 50px auto;
   	height: 120px;
   	border-bottom: 1px solid #616567;
   }
   
   .zj {
   	margin-top: 5px;
   	width: 100%;
   }
   
   .zj>ul>li {
   	width: 115px;
   	float: right;
   	text-align: center;
   }
   
   .zj>ul>li>a {
   	color: #ccc;
   	font-size: 12px;
   	text-decoration: none;
   	font-family: "微软雅黑"
   }
   
   .zj>ul>span {
   	color: #b1b7ba;
   	font-size: 15px;
   	font-family: "微软雅黑"
   }
   
   .banquan {
   	width: 45%;
   	margin: 0 auto;
   	height: auto;
   	overflow: hidden;
   	padding-bottom: 15px;
   }
   
   .banquan>p {
   	float: left;
   	text-align: center;
   	color: #b1b7ba;
   	font-size: 14px;
   	font-family: "微软雅黑";
   }
   /*解决方案*/
   
   .fanan {
   	padding-top: 40px;
   	height: 650px;
   	width: 100%;
   	overflow: hidden;
   	background: #F5F5F5;
   }
   
   .jtit {
   	width: 300px;
   	height: 80px;
   	/*	border: 1px solid red;*/
   	margin: 0 auto;
   }
   
   .jtit h2 {
   	color: #F5F5F5;
   	text-align: center;
   }
   
   .jtit .jt01 {
   	float: left;
   	margin-top: 20px;
   }
   
   .jtit .jt02 {
   	float: right;
   	margin-top: 20px;
   }
   
   .jtit p span {
   	display: block;
   	width: 100px;
   	border: 1px solid #13DF90;
   }
   
   .cof:after {
   	visibility: hidden;
   	display: block;
   	font-size: 0;
   	content: " ";
   	clear: both;
   	height: 0
   }
   
   .lifang {
   	position: relative;
   	height: 412px;
   	z-index: 9;
   	width: 1200px;
   	margin: 0 auto;
   	padding-top: 50px;
   	border-radius: 15px;
   	/*	border: 1px solid red*/
   	background: #464747;
   	/*	box-shadow: 1px 10px 10px #8C8C8C;*/
   }
   
   .lifang:after {
   	content: '';
   	-webkit-box-shadow: 100px 0 10px rgba(140, 140, 140, .8);
   	-moz-box-shadow: 100px 0 10px rgba(140, 140, 140, .8);
   	box-shadow: 100px 0 10px rgba(140, 140, 140, .8);
   	position: absolute;
   	width: 65%;
   	height: 160px;
   	bottom: 35px;
   	right: 55px;
   	z-index: -1;
   	-webkit-transform: skew(-30deg);
   	-moz-transform: skew(-30deg);
   	-o-transform: skew(-30deg);
   	transform: skew(-30deg);
   }
   
   .fang001 {
   	position: absolute;
   	top: 100px;
   	left: 50%;
   	margin-left: -15px;
   	width: 30px;
   	height: 3px;
   	background-color: #fff
   }
   
   .lifang ul li {
   	float: left;
   	width: 240px;
   	position: relative;
   	height: 412px;
   	transition: all .5s;
   	-moz-transition: all .5s;
   	-webkit-transition: all .5s;
   	-o-transition: all .5s;
   }
   
   .fang002 {
   	width: 240px;
   	height: 412px;
   	background: url(../img/q1.jpg) no-repeat;
   }
   
   .fang002_01 {
   	width: 240px;
   	height: 412px;
   	background: url(../img/q2.jpg) no-repeat;
   }
   
   .fang002_02 {
   	width: 240px;
   	height: 412px;
   	background: url(../img/q3.jpg) no-repeat;
   }
   
   .fang002_03 {
   	width: 240px;
   	height: 412px;
   	background: url(../img/q4.jpg) no-repeat;
   }
   
   .fang002_04 {
   	width: 240px;
   	height: 412px;
   	background: url(../img/q5.jpg) no-repeat;
   }
   
   .lifang ul li p.h_01 {
   	position: absolute;
   	top: 120px;
   	width: 100%;
   	text-align: center;
   	color: #fff;
   	font-size: 18px;
   	z-index: 2;
   }
   
   .lifang ul li p.p_01 {
   	position: absolute;
   	top: 180px;
   	left: 60%;
   	margin-left: -121px;
   	width: 200px;
   	overflow: hidden;
   	color: #eee;
   	line-height: 2;
   	text-align: center;
   }
   
   .lifang ul li a {
   	position: absolute;
   	top: 300px;
   	left: 50%;
   	margin-left: -87px;
   	width: 174px;
   	height: 40px;
   	line-height: 40px;
   	text-align: center;
   	font-size: 14px;
   	color: #fff;
   	z-index: 2;
   	background-color: #0af
   }
   
   .lifang ul li a:hover {
   	background-color: #0099e5;
   	transition: all .6s;
   	-moz-transition: all .6s;
   	-webkit-transition: all .6s;
   	-o-transition: all .6s;
   	transform: scale(1.3);
   }
   /* 优势层*/
   
   .ascendancy {
   	width: 100%;
   	height: 500px;
   	background: url(../img/ban3.jpg) center;
   }
   
   .ascendancy1 {
   	padding-top: 50px;
   	width: 1215px;
   	height: 403px;
   	margin: 0 auto;
   	overflow: hidden;
   }
   
   .nav1 {
   	border-right: 2px solid #05dfd2;
   	width: 152px;
   	height: 300px;
   	float: left;
   }
   
   .nav1 ul {
   	padding: 0px;
   	margin-left: 10px;
   	float: left;
   }
   
   .nav1 li {
   	list-style-type: none;
   	width: 100px;
   	height: 30px;
   	text-align: center;
   	margin-top: 20px;
   	float: left;
   	padding-top: 8px;
   	padding-left: 8px;
   	border-radius: 24px;
   	color: #FFFFFF;
   	font-family: "微软雅黑";
   	border-bottom: #05dfd2 2px solid;
   	cursor: pointer;
   }
   
   .container1,
   .container2,
   .container3,
   .container4 {
   	position: relative;
   	width: 1007px;
   	height: 300px;
   	float: left;
   }
   
   .container1 ul,
   .container2 ul,
   .container3 ul,
   .container4 ul {
   	margin-left: 0px;
   	padding-top: 5px;
   	padding-left: 22px;
   	float: left;
   }
   
   .container1 ul li,
   .container2 ul li,
   .container3 ul li,
   .container4 ul li {
   	list-style-type: none;
   	font-size: 18px;
   	width: 990px;
   	line-height: 38px;
   	float: left;
   	color: #FFFFFF;
   	font-family: "微软雅黑";
   }
   
   .container2,
   .container3,
   .container4 {
   	display: none;
   }
   
   .container2 ul li {
   	line-height: 50px;
   }
   
   .container3 ul li {
   	line-height: 60px;
   }
   /*新闻层*/
   
   .middle {
   	width: 100%;
   	height: 600px;
   	background: #e6e7e8;
   	overflow: hidden;
   }
   
   .new {
   	padding-top: 50px;
   	width: 1160px;
   	margin: 0 auto;
   	height: 500px;
   	/*border: 1px solid red;*/
   	font-family: "微软雅黑";
   	overflow: hidden;
   }
   
   .grid_full {
   	width: 100%;
   }
   
   .fr {
   	float: right;
   }
   
   .fl {
   	float: left;
   }
   
   .new-clo {
   	color: #333;
   }
   
   .new-clo2 {
   	color: #666;
   }
   
   .new-clo2:hover {
   	color: red;
   	cursor: pointer;
   }
   
   .one-new-f {
   	display: block;
   	position: relative;
   	width: 380px;
   	height: 135px;
   	margin: 0 2px 2px 0;
   	background: #f6f6f6;
   	overflow: hidden;
   }
   
   .ofb-r {
   	margin-right: 0!important;
   }
   
   .new-img {
   	position: absolute;
   	top: 32px;
   	left: 13px;
   	z-index: 10;
   }
   
   .new-img-bottom {
   	position: absolute;
   	top: 160px;
   	left: 13px;
   	z-index: 10;
   }
   
   .new-text {
   	position: absolute;
   	top: 25px;
   	left: 144px;
   	width: 178px;
   	z-index: 10;
   	font-family: "微软雅黑";
   }
   
   .new-text-top {
   	position: absolute;
   	top: -110px;
   	left: 144px;
   	width: 178px;
   	z-index: 10;
   }
   
   .new-text h5,
   .new-text-top h5 {
   	font-size: 14px;
   	line-height: 16px;
   }
   
   .new-text p,
   .new-text-top p {
   	margin-top: 3px;
   	font-size: 12px;
   	font-family: "宋体";
   	line-height: 15px;
   }
   /* 公告*/
   
   .announcement {
   	width: 100%;
   	height: 45px;
   	background: #e9eeee;
   }
   
   #announcement {
   	padding-top: 5px;
   	width: 1000px;
   	height: 30px;
   	margin: 0 auto;
   	/*	border: 1px solid red;*/
   	font-size: 125%;
   	overflow: hidden;
   }
   
   #announcement>span {
   	font-family: "华文新魏";
   }
   
   #announcement>span>a {
   	color: #444646;
   	line-height: 25px;
   	font-family: "宋体";
   	font-size: 80%;
   	padding-left: 25px;
   	overflow: hidden;
   }
   
   #announcement>a {
   	color: #444646;
   	float: right;
   	font-size: 75%;
   	line-height: 30px;
   }
   
   #announcement a:hover {
   	color: red;
   }