@charset "utf-8";
/* CSS Document */
*{ margin:0; padding:0}
ul li{ list-style:none}
img{ border:0; max-width:100%}
a{ text-decoration:none; color:#333}
.clear{ clear:both}
body{ font-family:"微软雅黑"; width:100%; min-width:1200px;color: #333;font-size: 14px;}
.ccsl{ display:block;overflow:hidden; white-space:nowrap;text-overflow:ellipsis;}
p{text-align:justify}

.main{ width:1200px; margin:0 auto;}

.header{ width:1200px; height:80px; margin:0 auto; padding:10px 0}
.header img{ width:1200px; height:80px; overflow:hidden}

.nav{ width:100%; min-width:1200px; overflow:hidden; background:#2B2B2B; height:50px; line-height:50px;}
.nav ul{ overflow:hidden; width:1200px; height:50px;}
.nav ul li{ float:left; width:120px; height:50px; line-height:50px; text-align:center}
.nav ul li a{ color:#fff; font-size:16px; display:block}
.nav ul li:hover a{ background:#F13A3A;}

.banner{ width:100%; min-width:1200px; /*height:400px;*/ overflow:hidden; position:relative;font-size:0; margin:0 auto;}
.b-img{ /*height:400px;*/  position:absolute; left:0; top:0;}
.b-img img{ display:block; /*height:400px;*/ float:left;}
.b-list{ height:20px; /*padding-top:380px;*/ margin:0 auto;position:relative;z-index:1;}
.b-list span{ display:block;cursor:pointer; width:10px; height:10px; border-radius:50%; background:#fff; float:left; margin:0 5px; _margin:0 3px;}
.b-list .spcss{ background:#d8241d}


.contitbox{ width:1200px; height:55px; overflow:hidden; padding:25px 0;}
.contitbox p{ text-align:center; font-size:24px; font-weight:bold; color:#2b2b2b; margin-bottom:10px}
.contitbox span{ text-align:center;font-size: 14px; line-height: 14px; color: #999999; text-transform:uppercase}

.part1{ width:1200px; margin:0 auto; padding-top:20px;}
.part1 ul{ overflow:hidden; padding-top:60px;}
.part1 ul li{ width:380px; height:420px; overflow:hidden; float:left; background:#F3F3F3; margin-right:30px}
.part1 ul li a{ display:block}
.part1 ul li .txt{width: 300px;height:80px; padding:54px 40px; overflow:hidden}
.part1 ul li .txt .tit{ color:#333333;font-size: 18px; text-align:center; margin-bottom:7px}
.part1 ul li .txt .line{ font-size:14px; color:#535353; text-align:center; padding-top:8px}
.part1 ul li .txt .sub{ color:#999; font-size:14px; text-align:center; text-transform:uppercase}
.part1 ul li .proimg{ width:370px; height:227px; overflow:hidden; margin:0 auto;}
.part1 ul li .proimg img{width:370px; height:227px;overflow:hidden;transition: all 0.5s;}
.part1 ul li .proimg:hover img{transform: scale(1.1)}
.part1 ul li:nth-child(3n){ margin-right:0}


.part2{ margin-top:55px; width:100%; min-width:1200px; overflow:hidden; background:#F7F7F7; padding-top:20px}
.part2 .part2L{ padding-top:30px; width:860px; float:left; padding-bottom:60px}
.part2 .part2L img{ width:860px; height:240px; overflow:hidden; margin-bottom:20px}
.part2 .part2L .tit{ color:#333; font-weight:bold;line-height: 32px;font-size: 18px;}
.part2 .part2L .con{font-size: 14px; color:#666; line-height:32px; height:128px; overflow:hidden}
.part2 .part2R{ float:right; width:280px; overflow:hidden; padding-top:30px}
.part2 .part2R .tit{ color:#2b2b2b; font-weight:bold; font-size:24px; line-height:30px; text-align:center; margin-bottom:10px}
.part2 .part2R .sub{ text-align:center;font-size: 14px; color:#999;line-height: 14px; margin-bottom:30px}
.part2 .part2R img{ width:252px; height:328px; overflow:hidden; margin:0 auto; display:block}



.part3{width:100%;min-width:1200px;overflow:hidden;background:url(../images/bg.jpg) no-repeat;background-size:100% 100%;padding-top:30px}
.part3 .contitbox p{ color:#fff;}
.part3 .contitbox span{ color:#fff}
.part3 ul{ overflow:hidden; padding-top:40px; padding:40px 0 60px}
.part3 ul li{ float:left; width:198px; height:460px; overflow:hidden; background:#1F1F1F; margin-right:52px}
.part3 ul li:nth-child(5n){ margin-right:0}
.part3 ul li p{ text-align:center; color:#fff; font-size:14px; height:85px; line-height:85px; padding:0 15px}
.part3 ul li img{ width:198px; height:375px; overflow:hidden}


.part4{ width:1200px; margin:0 auto; overflow:hidden; padding-top:20px}
.part4con{ height:424px; overflow:hidden; padding-top:20px}
#tab { float:left; width:220px; overflow:hidden}
#tab li { width:220px; height:76px; border-bottom:1px #ffffff solid; overflow:hidden;transition: all .3s; background:#ececec}
#tab li a{ text-align:center;width: 80%; margin:0 auto; font-size:16px; color:#666; line-height:76px; cursor:pointer}
#tab li.current{ background:#f13a3a; height:116px; line-height:116px}
#tab li.current a{ color:#fff;line-height:116px}
#content{ width:980px; height:424px; overflow:hidden; float:right}
#content ul {display:none; padding:10px 15px; overflow:hidden}
#content ul li img{ width:950px; height:400px}


.part5{ width:1200px; margin:0 auto;padding-top:40px; overflow:hidden}
.part5 .titbox{border-bottom: 1px solid #eaeaea; height:46px; line-height:46px; overflow:hidden}
.part5 .titbox p{ border-bottom:1px solid #f13a3a; font-size:18px; text-align:center; width:90px;color: #f13a3a;height:45px; line-height:45px;}
.part5L{ float:left; width:785px; height:491px; overflow:hidden;}
.part5L .pa5ll{ float:left; width:367px; overflow:hidden; padding-top:15px}
.part5L .pa5ll img{ width:367px; height:240px; overflow:hidden}
.part5L .pa5ll a.tit{ color:#333; font-size:16px;line-height: 23px; padding:15px 0}
.part5L .pa5ll a.tit:hover{ color:#e4393c}
.part5L .pa5ll .sub{ font-size:14px; color:#999; line-height:24px;overflow:hidden;text-overflow:ellipsis;display:-webkit-box;-webkit-line-clamp:3;-webkit-box-orient: vertical;}
.part5L .pa5lr{ width:353px;overflow:hidden; float:left; margin-left:30px}
.part5L .pa5lr ul{ overflow:hidden; padding:5px}
.part5L .pa5lr ul li{ height:46px; line-height:46px; border-bottom:1px dashed #999; padding:0 5px}
.part5L .pa5lr ul li a{ float:left;color: #2b2b2b; font-size:14px; max-width:230px;}
.part5L .pa5lr ul li span{ float:right;color: #2b2b2b; font-size:14px}
.part5L .pa5lr ul li a:hover{color:#e4393c}

.part5R{ width:385px; height:491px; overflow:hidden; float:right}
.part5R ul{ overflow:hidden; padding:8px 10px}
.part5R ul li{ padding-bottom:20px}
.part5R ul li a{ color:#333; font-size:14px; height:40px; line-height:40px;}
.part5R ul li .sub{ font-size:14px; line-height:24px; color:#999;overflow:hidden;text-overflow:ellipsis;display:-webkit-box;-webkit-line-clamp:3;-webkit-box-orient: vertical;}
.part5R ul li a:hover{color:#e4393c}


.part6{ width:100%; min-width:1200px; background:#2D2D2D; padding-bottom:30px}
.part6 .itembox{ margin-top:27px; float:left;width:160px;height: 162px;min-height: 40px; overflow:hidden}
.part6 .itembox .titbox{ height:34px; line-height:34px}
.part6 .itembox .titbox p{font-size: 18px; color:#fff; text-align:center}
.part6 .itembox ul{ overflow:hidden}
.part6 .itembox ul li{ height:32px; line-height:32px;}
.part6 .itembox ul li a{font-size: 14px;color: #999; text-align:center}
.part6 .itembox2{ float:right; margin-right:20px; margin-top:27px;width: 290px;height: 73px;}
.part6 .itembox2 p{ color:#F7F7F7; font-size:16px;}
.part6 .itembox2 span{ color:#E4393C; font-size:36px; font-weight:bold;font-style: italic;}



.footerbox{width:100%; min-width:1200px; background:#242424; padding:20px 0; text-align:center; color:#999; font-size:14px; line-height:22px}


.mainWarp{ width:1200px; margin:0 auto; overflow:hidden; margin-bottom:40px}
.mainLeft{ width:220px; float:left; overflow:hidden; margin-top:20px}
.mainLeft .titbox{ height:45px; line-height:45px; background:#2B2B2B; overflow:hidden; border:1px solid #F1F1F1; border-bottom:0}
.mainLeft .titbox p{ font-size:16px; color:#fff; padding-left:10px}
.mainLeft ul{ overflow:hidden; border:1px solid #F1F1F1; border-top:0; padding:5px 10px; margin-bottom:20px}
.mainLeft ul li{}
.mainLeft ul li a{font-size: 14px; color:#666; height:45px; line-height:45px;border-bottom:1px dashed #F1F1F1; padding-left:25px}
.mainLeft ul li .typeone{ height:45px; background:url(../images/icon.gif) left center no-repeat}
.mainLeft ul li .typetwo{}
.mainLeft ul li .typetwo a{ padding-left:40px}
.mainLeft ul li a:hover{ color:#000}
.mainLeft .lxwmbox{ border:1px solid #F1F1F1; padding:10px}
.mainLeft .lxwmbox .con{line-height: 30px; font-size:14px; color:#666;}

.mainRight{ width:955px; float:right; overflow:hidden;padding-top:20px}
.brandnav{line-height:45px; height:46px; overflow:hidden; }
.brandnav p{ border-bottom:1px solid #2b2b2b;color: #2b2b2b; font-size:16px; display:inline-block; padding:0 10px}

ul.piclistul{ overflow:hidden; padding-top:20px}
ul.piclistul li{ width:301px; float:left; overflow:hidden;margin: 10px 9px 10px 8px;}
ul.piclistul li .proimg{ width:301px; height:206px; overflow:hidden}
ul.piclistul li .proimg img{width:301px; height:206px;overflow:hidden;transition: all 0.5s;}
ul.piclistul li .proimg:hover img{transform: scale(1.1)}
ul.piclistul li p{ text-align:center; padding:10px 15px 14px; color:#333; font-size:16px}


ul.listul{overflow:hidden; padding:20px}
ul.listul li{ height:45px; line-height:45px; border-bottom:1px dashed #F1F1F1}
ul.listul li a{color: #2b2b2b; float:left; max-width:750px; font-size:14px}
ul.listul li span{ float:right}
ul.listul li a:hover{ color:#e4393c}



.aboutbox{ }
.aboutbox .xq{ padding-top:20px}
.aboutbox .xq .aboutimg{ display:block; width:100%;}
.aboutbox .xq h3{font-size: 18px; font-weight:bold;color: #333333; padding-top:20px; height:36px; line-height:36px;}
.aboutbox .xq .con{color: #666666; font-size:14px;line-height: 30px;}


.detailbox{}
.detailbox .xq{ padding:30px 0}
.detailbox .xq h1{font-size: 25px;color: #333;font-weight: 400;}
.detailbox .xq .date{ font-size:12px; color:#C1C1C1; height:30px; line-height:30px; padding-top:10px}
.detailbox .xq .line{border: 1px solid #f0efef;border-bottom: none;margin: 20px 0;}
.detailbox .xq .con{font-size: 14px; line-height:28px;color: #666666;}
.detailbox .xq .prroming{ display:block; margin:0 auto; max-width:700px; margin-bottom:20px}


.pagebox{ text-align:center; padding-top:10px; padding-bottom:50px}
.pagebox a{ border:1px solid #ccc; padding:5px 10px; display:inline-block; color:#333; margin:3px}
.pagebox a:hover{ border:1px solid #2B2B2B; color:#2B2B2B}

.formBox{ width:390px; margin:0 auto; overflow:hidden; padding-top:20px}
.formBox .inputbox{ height:36px; line-height:36px; margin-top:36px;}
.formBox .inputbox label{ width:80px; float:left; font-size:14px; color:#000;height:36px; line-height:36px;}
.formBox .inputbox label span{ color:#cc0000; padding-right:8px}
.formBox .inputbox input{ width:305px; float:right; height:36px; line-height:36px; border:1px solid #e0e0e0; box-sizing: border-box;font-size:14px; color:#999; padding-left:10px}
.formBox .inputbox input.yzm{ float:right; width:172px}
.formBox .inputbox .yzmimg{ float:right; width:123px; height:36px; margin-left:10px}
.formBox .inputbox .btn1{ width:100px; height:36px; line-height:36px; border:1px solid #e0e0e0; box-sizing: border-box;font-size:14px; color:#fff; text-align:center; background:#E4393C; float:left;border-radius:4px; cursor:pointer; outline:none; letter-spacing:1px; padding:0}
.formBox .inputbox2{ min-height:36px; line-height:36px; margin-top:36px; overflow:hidden}
.formBox .inputbox2 label{ width:80px; float:left; font-size:14px; color:#000;height:36px; line-height:36px;}
.formBox .inputbox2 label span{ color:#cc0000; padding-right:8px}
.formBox .inputbox2 textarea{ width:305px; float:right; height:80px;line-height:36px; border:1px solid #e0e0e0; box-sizing: border-box;font-size:14px; color:#999; padding-left:10px}














