@charset "utf-8";
.maintop{height: 300px;background: url(../img/gcbg.png) no-repeat center;margin-top: -2px;text-align: center;}
.maintop h2{color: #FFFFFF;font-weight: bold;padding-top: 65px;}
.maintop p{color: #FFFFFF;line-height: 30px;font-size: 14px;}
.maintop .borderdiv{width: 56px;height: 2px;background-color: #FFFFFF;margin: 0 auto;margin-top: 10px;margin-bottom: 20px;}

.topseacherny{height: 40px;width: 512px;margin: 0 auto;}
.topseacherny .nrinputny{width: 462px;height: 39px;text-indent: 10px;}
.topsubmitny{background: url(../img/subbetlogo.png) no-repeat center;width: 48px;height: 39px;top: 0.5px;margin-left: -5px;}
.weizdiv{width: 1200px; text-align: center;font-size: 14px;color: #FFFFFF;margin-top: 20px;}
.weizdiv a{color: #FFFFFF;}
/*功能案例*/
.nynav{margin-top: 40px;}
.nynav ul {margin: 0 auto;}
.nynav ul li{height: 76px;width: 168px;border: solid #acacac 1px;border-right: 0;float: left;}
.nynav ul li:last-child{border-right: solid #acacac 1px;}
.nynav ul li a{display: block; line-height: 76px;width: 170px;text-align: center;font-size: 14px;color: #1e2121;}
.nynav ul li.on a{background-color: #2388c9;color: #FFFFFF;}
.nynav ul li.on{border: solid #2388c9 1px;}
.nynav ul li:hover a{background-color: #2388c9;color: #FFFFFF;}
.nynav ul li:hover{border: solid #2388c9 1px;}
.nynav ul li span{display:inline-block;background: url(../img/huiy02.png)no-repeat;width: 9px;height: 9px;margin-left: 10px;}
.nynav ul li.on span{background: url(../img/huiy01.png)no-repeat;}
.nynav ul li:hover span{background: url(../img/huiy01.png)no-repeat;}

.hycon{height: 1005px;border-bottom: solid #ededed 1px;}
.hycon ul li{width: 278px;height: 380px;font-size: 0;float: left;margin:30px 13px 0 8px;}
.hycon ul li img{width: 278px;height: 278px;border: solid #ededed 1px;}
.hycon ul li div{height: 100px;width: 280px;text-align: center;color: #000000;font-size: 16px;}
.hycon ul li div .titlep{padding-top: 25px;}
.hycon ul li div .conp{font-size: 14px;color: #888888;padding-top: 5px;}
.hycon ul li:hover div{background-color: #2388c9; color: #FFFFFF;}
.hycon ul li:hover .conp{color: #FFFFFF;}
.hycon ul li:hover img{border: solid #2388c9 1px;}
.page{width: 120px;margin: 0 auto;margin-top: 40px;}
.page .pre,.page .nex{
	display: block;
	width: 40px;
	height: 40px;
	cursor: pointer;
	background: url("../img/prne.png") no-repeat;
}
.page .pre{background-position: -200px -10px;}
.page .nex{background-position: -150px -10px;margin-left: 27px;}
/*main css*/
.izl-rmenu{position:fixed; right:0; bottom:10px; padding-bottom:73px; background:url(../img/r_b.png) 0px bottom no-repeat; z-index:999; }
.izl-rmenu .btn1{width:72px; height:73px; margin-bottom:1px; cursor:pointer; position:relative;}
.izl-rmenu .btn-qq{background:url(../img/r_qq.png) 0px 0px no-repeat; background-color:#6da9de;}
.izl-rmenu .btn-qq:hover{background-color:#488bc7;}
.izl-rmenu a.btn-qq,.izl-rmenu a.btn-qq:visited{background:url(../img/r_qq.png) 0px 0px no-repeat; background-color:#6da9de; text-decoration:none; display:block;}
.izl-rmenu .btn-wx{background:url(../img/r_wx.png) 0px 0px no-repeat; background-color:#78c340;}
.izl-rmenu .btn-wx:hover{background-color:#58a81c;}
.izl-rmenu .btn-wx .pic{position:absolute; left:-160px; top:0px; display:none;width:160px;height:160px;}
.izl-rmenu .btn-phone{background:url(../img/r_phone.png) 0px 0px no-repeat; background-color:#fbb01f;}
.izl-rmenu .btn-phone:hover{background-color:#ff811b;}
.izl-rmenu .btn-phone .phone{background-color:#ff811b; position:absolute; width:160px; left:-160px; top:0px; line-height:73px; color:#FFF; font-size:18px; text-align:center; display:none;}
.izl-rmenu .btn-top{background:url(../img/r_top.png) 0px 0px no-repeat; background-color:#666666;}
.izl-rmenu .btn-top:hover{background-color:#444;}


/*会议音响*/

.anlicon{margin-top: 30px;}
.anlicon ul li{width: 382px;height: 287px;font-size: 0;float: left;margin:10px 10px 0 8px;}
.anlicon ul li img{width: 381px;height: 230px;}
.anlicon ul li div{line-height: 58px;width: 381px;text-align: center;color: #000000;font-size: 16px;}
.anlicon ul li:hover div{background-color: #2388c9; color: #FFFFFF;}
.page{width: 120px;margin: 0 auto;margin-top: 40px;}
.page .pre,.page .nex{
	display: block;
	width: 40px;
	height: 40px;
	cursor: pointer;
	background: url("../img/prne.png") no-repeat;
}
.page .pre{background-position: -200px -10px;}
.page .nex{background-position: -150px -10px;margin-left: 27px;}

.wmhz{font-size: 30px;color: #1e2121;font-weight: bold;text-align: center;padding-top: 78px;}
/*工程案例内页*/
.anliconny{margin-top: 40px;}
.anliconny h2{font-size: 20px;color: #000000;font-weight: bold;text-align: center;}
.anliconny .time{font-size: 12px;color: #888888;text-align: center;line-height: 35px;background-color: #e8e8e8;margin-top: 20px;}
.anliconny .anltitle{font-size: 16px;padding-top: 30px;height: 28px;}
.anliconny .anliny{color: #888888;font-size: 14px;line-height: 25px;}
.gctjan{height: 398px;padding-top: 40px;border-top: dashed #d2d3d3 1px;margin-top: 75px;position: relative;}
.gctjan h3{font-size: 20px;font-weight: bold;}
.gctjan h3 a{font-size: 14px;color: #2388c9;font-weight: 500;}
.gctjan ul li{width: 383px;height: 286px;padding-top: 30px;float: left;margin-left: 5px;margin-right: 11px;}
.gctjan ul li img{width: 383px;height: 228px;}
.gctjan ul li p{width: 383px;line-height: 46px;font-size: 16px;text-align: center;color: #000000;}
.gctjan ul li:hover p{color: #2388c9;}

/*解决方案*/
.jjfacon{padding-top: 20px;}
.jjfacon ul li{height: 195px;margin-top: 20px;}
.jjfacon ul li .jjfafl{width: 345px;height: 195px;overflow: hidden;}
.jjfacon ul li img{
	width: 345px;height: 195px;
	transition: All 0.4s ease-in-out;
    -webkit-transition: All 0.4s ease-in-out;
    -moz-transition: All 0.4s ease-in-out;
    -o-transition: All 0.4s ease-in-out;
    }
.jjfacon ul li img:hover{
	transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
}
.jjfacon ul li .jjfafr{width: 855px;background-color: #7c7c7c;height: 195px;}
.jjfacon .jjfafr p{color: #FFFFFF;padding-left: 50px;font-size: 14px;}
.jjfacon .jjfafr .jjfap1{font-size: 20px;margin-top: 40px;}
.jjfacon .jjfafr .jjfap2,.jjfacon .jjfafr .jjfap3{margin-top: 30px;}
.jjfacon ul li:hover .jjfafr{background-color: #2388c9;}

/*荣誉资质*/
.ryuzzcon{
	padding-top: 30px;
}
.ryuzzcon ul li{margin:20px 20px 0px 12px;float: left;font-size: 0;}
.ryuzzcon ul li img{
	width: 208px;height: 297px;
	transition: All 0.4s ease-in-out;
    -webkit-transition: All 0.4s ease-in-out;
    -moz-transition: All 0.4s ease-in-out;
    -o-transition: All 0.4s ease-in-out;
	}

.ryuzzcon ul li img:hover{
	transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
	}
.ryuzzcon ul li p{width: 208px;text-align: center;color: #000000;font-size: 14px;padding-top: 15px;padding-bottom: 10px;}
/*荣誉资质内页*/
.ryuzznytop{padding-top: 45px;text-align: center;}
.ryuzznytop h2{font-size: 20px;font-weight: bold;}
.ryuzznytop p{font-size: 12px;color: #888888;background-color: #e8e8e8;line-height: 35px;margin-top: 20px;}
.rongyuziny{margin:0 auto;position:relative;  height: 592px;margin-top: 40px; width: 700px;}
.rongyuziny .prev,.rongyuziny .next{z-index: 99;position: absolute;top:42%;display:block;  width:40px; height:40px; float:right; cursor:pointer; background:url("../img/prne.png") no-repeat;background-position:-200px -10px;}
.rongyuziny .prev{left: 0;}
.rongyuziny .next{ background-position:-150px -10px; right: 0; }
.rongyuziny .bd{width: 500px;margin: 0 auto;overflow: hidden;}
.rongyuziny .bd ul{ overflow:hidden; zoom:1; }
.rongyuziny .bd ul li{float:left; _display:inline;text-align:center;  width: 500px;}
.rongyuziny .bd ul li img{width: 416px;height: 592px;}
/*新闻中心*/
.newslistym{padding-top: 50px;}
.newslistym .fistul li{border-top: dashed #d2d3d3 1px;border-bottom: dashed #d2d3d3 1px;height: 235px;}
.newslistym .fistul li img{width: 235px;height: 195px;margin-top: 19px;}
.newslistym .fistul .fistulr{width: 800px;padding-left: 50px;}
.newslistym .fistul .fistulr h2{color: #2f2f2f;font-size: 20px;margin-top: 40px;}
.newslistym .fistul .fistulr div{color: #888888;font-size: 14px;margin-top: 20px;line-height: 25px;height: 75px;overflow: hidden;}
.newslistym .fistul .fistulr .timep{color: #888888;font-size: 14px;margin-top: 20px;}
.twoul li{border-bottom: dashed #d2d3d3 1px;}
.twoul .twouldiv{height: 157px;}
.twoul .twouldiv .titlenew{margin-top: 38px;font-size: 16px;color: #2f2f2f;}
.twoul .twouldiv .newstime{color: #888888;font-size: 14px;margin-top: 38px;}
.twoul .twouldiv .divnews{font-size: 14px;color: #888888;line-height: 25px;padding-top: 15px;height: 50px;overflow: hidden;}
.twoul li:hover .twouldiv{width: 1120px;margin: 0 auto;}
.twoul li:hover{background-color: #2388c9;}
.twoul li:hover .twouldiv .titlenew{color: #FFFFFF;}
.twoul li:hover .twouldiv .newstime{color: #FFFFFF;}
.twoul li:hover .twouldiv .divnews{color: #FFFFFF;}
/*新闻中心内页*/
.newsxq{color: #888888;font-size: 14px;line-height: 28px;margin-top: 28px;}
.page1 .pre1,.page1 .nex1{
	display: inline-block;
	width: 40px;
	height: 40px;
	cursor: pointer;
	background: url("../img/prne.png") no-repeat;
	margin-top: 10px;
}
.page1 .pre1{background-position: -200px -10px;}
.page1 .nex1{background-position: -150px -10px;margin-left: 27px;}







