@charset "utf-8";
/* CSS Document */
body{ margin:0px; padding:0px; border:0px; font-family:"微软雅黑"; color:#333333; font-size:13px; width:100%; min-width:1080px; background:#f5f5f5; }
a{ margin:0px; padding:0px; border:0px; text-decoration:none; color:#333333; font-size:13px;}
a:hover{ text-decoration:none;}
div,span,p,img,li,ul,a{ padding:0px; margin:0px; border:0px;}
li{ list-style:none;}
.clear{ clear:both; height:0px;}
input:focus{ outline: none;}
textarea:focus{ outline: none;}


.top{background-color:#FFFFFF; border-top:#0f8b4d solid 4px; height:106px; width:100%;}
.top .top_nei{ width:1080px; margin:0px auto; overflow:hidden;  }
.top .top_nei .logo{ float:left; margin-top:6px; padding-left:10px;}
.top .top_nei .top_right{ float:right;}
.top .top_nei .top_right .top_contact{ width:920px; text-align:right; font-size:12px; color:#999999;}
.top .top_nei .top_right .top_contact  span{ display:inline-block; height:18px; padding-left:24px; padding-right:12px; font-size:12px; color:#999999; margin-top:18px;}
.top .top_nei .top_right .top_contact  a{ display:inline-block; height:18px; padding-left:25px; padding-right:15px; font-size:12px; color:#999999; margin-top:18px;}


.top .top_nei .top_right .menu{ width:960px; float:right; margin-right:-43px; margin-top:25px;}
.top .top_nei .top_right .menu .menu_div{float:left; width:136px;}
.top .top_nei .top_right .menu .menu_div .menua{  display:inline-block; width:136px; height:17px; border-left:#e6e6e6 solid 1px; text-align:center; line-height:17px; font-size:16px; color:#333333;}
.top .top_nei .top_right .menu .menu_div .xiala{ width:170px; position:absolute; z-index:9; margin-left:36px; display:none; padding-bottom:5px; _margin-top:217px;}
.top .top_nei .top_right .menu .menu_div:hover .xiala{ display:block;}
.top .top_nei .top_right .menu .menu_div .xiala .xialatop{ height:10px; width:170px; background:url(../images/bg26.png) no-repeat 0px 0px;}
.top .top_nei .top_right .menu .menu_div .xiala .xialayiji{ width:170px; background:url(../images/bg27.png);}
.top .top_nei .top_right .menu .menu_div .xiala .xialayiji div{ width:170px; height:32px;}
.top .top_nei .top_right .menu .menu_div .xiala .xialayiji .xiala_a{ width:155px; height:32px; display:inline-block; line-height:32px; padding-left:15px; font-size:13px; color:#FFFFFF; float:left;}
.top .top_nei .top_right .menu .menu_div .xiala .xialayiji .xiala_a:hover{ background:url(../images/bg25.png) no-repeat 0px -1px; }
.top .top_nei .top_right .menu .menu_div .xiala .xialayiji div:hover{ background:url(../images/bg25.png) no-repeat 0px -1px; }
.top .top_nei .top_right .menu .menu_div .xiala .xialayiji .xiala_menu{ width:170px; position:absolute;  margin-left:170px; display:none;}
.top .top_nei .top_right .menu .menu_div .xiala .xialayiji div:hover .xiala_menu{ display:block;}
.top .top_nei .top_right .menu .menu_div .xiala .xialayiji .xiala_menu a{ display:inline-block; width:155px; height:32px; line-height:32px; padding-left:15px; background:url(../images/bg27.png); color:#FFFFFF; font-size:13px; }
.top .top_nei .top_right .menu .menu_div .xiala .xialayiji .xiala_menu a:hover{background:url(../images/bg25.png) no-repeat 0px -1px;}




.fix{ width:1080px; margin:0px auto; position:relative;}
.fix_div{ z-index:9; position:fixed; width:72px; top:425px; margin-left:1146px;}
.fix_div a{ width:72px; height:72px; margin-bottom:1px; display:inline-block; text-align:center; line-height:110px; font-size:12px; color:#666666; background:url(../images/bg6.png);}
.fix_div a:hover{color:#FFFFFF;}

.footer{ width:100%; height:280px; background:url(../images/tupian12.jpg) no-repeat 50% 0px;}
.footer .footer_nei{ width:1080px; margin:0px auto;}
.footer .footer_nei .footul{ width:159px; float:left;}
.footer .footer_nei .footul .footul_title{ height:15px; line-height:15px; padding-left:13px; background:url(../images/tupian13.jpg) no-repeat 0px 0px; color:#FFFFFF; font-size:15px; margin:40px 0px 20px 0px;}
.footer .footer_nei .footul .footul_li{ padding-left:13px;}
.footer .footer_nei .footul .footul_li a{ color:#FFFFFF; opacity:0.5; line-height:26px;}
.footer .footer_nei .footer_right{ width:374px; float:right; margin-top:41px;}
.footer .footer_nei .footer_right .footer_right1{ float:left; }
.footer .footer_nei .footer_right .footer_right1 .footer_right2{ height:15px; padding-left:13px; color:#ffffff; font-size:15px; background:url(../images/tupian13.jpg) no-repeat 0px 0px; line-height:15px;}
.footer .footer_nei .footer_right .footer_right1 .footer_right3{ font-size:35px; padding-left:13px; font-weight:bolder; font-size:35px; color:#0f8b4d; font-family:Impact; line-height:75px;}
.footer .footer_nei .footer_right .footer_right1 .footer_right4{ font-size:12px; opacity:0.5; color:#FFFFFF; padding-left:13px;}
.footer .footer_nei .footer_right .footer_right5{ float:right;}
.footer .tuiguang{ width:1080px; margin:0px auto; text-align:right; line-height:24px; font-size:12px; opacity:0.5; color:#FFFFFF;}
.footer .tuiguang a img{ margin-left:5px;  margin-top: 5px;  float: right; }


.bodydiv_menu{ width:1080px; height:45px; margin:25px auto;}
.bodydiv_menu .bodydiv_menu_a{ height:45px; display:inline-block; text-align:center; background-color:#bebebe; font-size:15px; line-height:45px; float:left; margin-right:1px; color:#FFFFFF;}
.bodydiv_menu .bodydiv_menu_a.on{ background:#0f8b4d;}
.bodydiv_menu .bodydiv_menu_a:hover{ background:#0f8b4d;}

.bodydiv{ width:1000px; min-height:149px; margin:0px auto; padding:15px 40px 45px 40px; background-color:#FFFFFF; margin-bottom:27px; border-bottom:#e9e9e9 solid 3px;}
.bodydiv .bodydiv_title{ height:70px; background:url(../images/tupian15.jpg) no-repeat 0px bottom; overflow:hidden;}
.bodydiv .bodydiv_title .bodydiv_title_left{ float:left; font-size:30px; color:#333333; line-height:70px;}
.bodydiv .bodydiv_title .bodydiv_title_right{ float:right; line-height:72px;}
.bodydiv .bodydiv_title .bodydiv_title_right a{ font-size:12px; color:#999999;}
.bodydiv .bodydiv_title .bodydiv_title_right span{ font-size:12px; color:#999999; font-family:"宋体"; margin:0px 4px 0px 5px;}
.bodydiv .bodydiv_title .bodydiv_title_right span.on{ margin:0px; color:#666666;}
.bodydiv .bodydiv_title .bodydiv_title_right .home{ background:url(../images/bg12.png) no-repeat 0px 0px; display:inline-block; width:12px; height:11px; font-size:0px; margin-top:30px; float:left; margin-right:3px;}


.neirong{ font-size:13px; line-height:28px; position:relative; padding-top:20px;}

 .lvse{ font-size:13px; text-align:center; color:#0f8b4d; font-weight:bolder;}


.work{ padding-top:28px;}
.work .workli .worka{ height:44px; line-height:44px; width:1000px; display:inline-block;}
.work .workli .worka:hover{ background-color:#f9f9f9;}
.work .workli .worka .name{ width:370px; padding-left:40px; height:44px; display:inline-block; float:left;}
.work .workli .worka .dizhi{ width:65px; height:44px; display:inline-block; float:left; text-align:center; margin-right:160px;}
.work .workli .worka .renshu{ width:65px; height:44px; display:inline-block; float:left; text-align:center; margin-right:155px;}
.work .workli .worka .renshu{ width:78px; height:44px; display:inline-block; float:left; text-align:center;}
.work .workli { font-size:13px; color:#333333;width:1000px; border-bottom:#ebebeb solid 1px;}
.work .work_title_li { height:58px; font-size:16px; font-weight:bolder; color:#333333;width:1000px; border-bottom:#ebebeb solid 1px;}
.work .work_title_li .work_title_mingzi{ width:324px; height:58px; line-height:58px; padding-left:86px; float:left; display:inline-block;}
.work .work_title_li .work_title_dizhi{ width:65px; height:58px; line-height:58px; float:left; display:inline-block; text-align:center; margin-right:160px;}
.work .work_title_li .work_title_renshu{ width:65px; height:58px; line-height:58px; float:left; display:inline-block; text-align:center; margin-right:155px;}
.work .work_title_li .work_title_riqi{ width:78px; height:58px; line-height:58px; float:left; display:inline-block; text-align:center;}

.fenye{ margin-left:50%;}
.fenye a,.fenye b{ display:inline-block; padding-left:3px; padding-right:3px; min-width:33px; height:28px; text-align:center; line-height:28px; font-size:13px; color:#333333; border:#e3e3e3 solid 1px; border-radius:3px; margin:30px 5px; float:left;}
.fenye .r,.fenye .l{ width:58px;}
.fenye a.on{ background-color:#0f8b4d; color:#FFFFFF;}
.fenye a:hover{ background-color:#0f8b4d; color:#FFFFFF;}


.news{ padding-top:9px;}
.news li{ width:940px; padding:30px;  height:162px;border-bottom:#eaeaea solid 1px;}
.news li .news_left{ width:264px; height:162px; overflow:hidden; float:left;}
.news li .news_left img{ width:266px;}
.news li .news_right{ width:643px; height:162px; float:right;}
.news li .news_right .news_title{ font-size:18px; color:#333333;}
.news li .news_right .newsIri{ padding-left:20px; background:url(../images/bg17.png) no-repeat 0px 6px; font-size:13px; color:#666666;}
.news li .news_right .news_jianjie{ font-size:13px; color:#666666; line-height:28px; width:645px; height:84px; overflow:hidden;}


.newsdet_title{ height:134px; border-bottom:#dbdbdb dashed 1px; text-align:center; overflow:hidden;}
.newsdet_title .newsdet_title1{ float:left; width:100%; margin-top:49px; font-size:25px; color:#0f8b4d; font-weight:bolder;}
.newsdet_title .newsdet_title2{ float:left; width:100%; margin-top:14px;}
.newsdet_title .newsdet_title2 span{ padding-left:22px; height:16px; padding-right:22px;}
.newsdet_title .newsdet_title2 .name{ background:url(../images/bg18.png) no-repeat 0px 1px;}
.newsdet_title .newsdet_title2 .time{ background:url(../images/bg19.png) no-repeat 0px 1px;}
.newsdet_title .newsdet_title2 .cish{ background:url(../images/bg20.png) no-repeat 0px 2px;}
.newsdet_nei{ font-size:13px; line-height:28px; padding:20px;}
.fenxiang{ height:65px; border-bottom:#dbdbdb dashed 1px; line-height:65px; text-align:right;  overflow: hidden;}
.tiao{ border-top:#eaeaea solid 1px;}
.tiao a { float:left; display:inline-block; width:43%; height:50px; line-height:50px; text-overflow:ellipsis;/*超出部分变为...*/ white-space:pre;/*强制不换行*/ }
.tiao span{ float:left; display:inline-block; height:50px; line-height:50px;} 


#tiles li{ padding:3px; border:#e5e5e5 solid 1px; border-radius:3px;}
#tiles li p{ text-align:center;}



.tixi{ width:1080px; margin:30px auto 27px auto;}
.tixi .tixi_left{ width:520px; height:210px; background-color:#FFFFFF; border-bottom:#e9e9e9 solid 3px; float:left;}
.tixi .tixi_right{ width:520px; height:210px; background-color:#FFFFFF; border-bottom:#e9e9e9 solid 3px; float:right;}
.tixi .tixi_img{ width:520px; height:170px; overflow:hidden; display:inline-block; float:left;}
.tixi .tixi_img img{ width:520px; -webkit-transform: scale(1.00); -moz-transform: scale(1.00); -ms-transform: scale(1.00); -o-transform: scale(1.00); filter: scale(1.00); filter: transform; transition: all 0.5s ease 0s;-webkit-transform: all 0.5s ease 0s; }
.tixi .tixi_img img:hover{-webkit-transform: scale(1.15); -moz-transform: scale(1.15); -ms-transform: scale(1.15); -o-transform: scale(1.15); filter: scale(1.15); filter: transform; transition: all 0.5s ease 0s; -webkit-transform: all 0.5s ease 0s; }
.tixi .tixi_title{ line-height:40px; width:520px; height:40px; text-align:center; float:left; font-size:16px; display:inline-block;}


.service{ width:1080px; margin:0px auto; background-color:#FFFFFF; border-bottom:#e9e9e9 solid 3px; height:230px;}
.service .service_title{ height:60px; padding-left:20px; line-height:60px; color:#0f8b4d; font-size:16px; border-bottom:#ebebeb solid 1px;}
.service .service_sel{ width:1080px; height:169px;}
.service .service_sel a{ width:134px; border-right:#ebebeb solid 1px; float:left; height:48px; text-align:center; font-size:14px; background-image: url(../images/bg7.png); background-repeat:no-repeat; background-position-y:44px; padding-top:121px;}
.service .service_sel a:hover{ color:#FFFFFF; background-position-y:-241px; background-color:#0f8b4d;}



.case{ width:100%; height:440px; background:url(../images/tupian3.jpg) no-repeat 50% 0px; margin:27px auto; border-bottom:#e9e9e9 solid 3px;}
.case .case_nei{ width:1040px; height:390px; margin:0px auto; padding:0px 20px 50px 20px;}
.case .case_nei .case_title{ font-size:16px; color:#0f8b4d; line-height:90px; height:90px;}
.case .case_nei .case_box1{ width:1040px; height:180px; overflow:hidden; position:relative;}
.case .case_nei .case_box1 .case_box1_nei{ height:180px; width:10000000px;}
.case .case_nei .case_box1 .case_topsel{ width:1040px; height:180px; float:left; position:absolute;}
.case .case_nei .case_box1 .case_topsel .case_topsel_img{ width:378px; height:178px; overflow:hidden; border:#eeeeee solid 1px; float:left; }
.case .case_nei .case_box1 .case_topsel .case_topsel_img img{ width:378px;}
.case .case_nei .case_box1 .case_topsel .case_topsel_right{ width:625px; height:180px; float:right;}
.case .case_nei .case_box1 .case_topsel .case_topsel_right .case_topsel_title{ width:625px; font-size:20px; color:#0f8b4d;}
.case .case_nei .case_box1 .case_topsel .case_topsel_right .case_topsel_xijie{ width:625px; line-height:26px; height:52px; margin:30px 0px; overflow:hidden; }
.case .case_nei .case_box1 .case_topsel .case_topsel_right .case_topsel_more{}
.case .case_nei .case_box1 .case_topsel .case_topsel_right .case_topsel_more a{ display:inline-block; background:url(../images/bg23.png) no-repeat 0px 0px; width:76px; height:26px;}
.case .case_nei .case_box2{ height:70px; width:1040px; overflow:hidden; margin-top:50px;}
.case .case_nei .case_box2 .case_l{ width:22px; height:22px; background:url(../images/bg24.png) no-repeat left bottom; margin-top:24px; float:left; cursor:pointer;}
.case .case_nei .case_box2 .case_l:hover{ background:url(../images/bg24.png) no-repeat left top;}
.case .case_nei .case_box2 .case_c{ width:996px; height:70px; overflow:hidden; float:left;}
.case .case_nei .case_box2 .case_c .case_botsel{ width:10000px; height:70px;}
.case .case_nei .case_box2 .case_c .case_botsel .case_botsel_img{ width:138px; height:68px; border:#ebebeb solid 1px; float:left; margin:0px 9px 0px 16px; overflow:hidden; cursor:pointer;}
.case .case_nei .case_box2 .case_c .case_botsel .on{ border:#0f8b4d solid 1px;}
.case .case_nei .case_box2 .case_c .case_botsel .case_botsel_img img{ width:138px;}
.case .case_nei .case_box2 .case_r{ width:22px; height:22px; background:url(../images/bg24.png) no-repeat right bottom; margin-top:24px; float:right; cursor:pointer;}
.case .case_nei .case_box2 .case_r:hover{ background:url(../images/bg24.png) no-repeat right top;}


.news_index{ width:1040px; height:195px; background-color:#FFFFFF; border-bottom:#e9e9e9 solid 3px; margin:0px auto; padding:20px; padding-bottom:35px;}
.news_index .news_index_title .news_index_l{ width:34px; height:34px; float:left; background:url(../images/bg8.png) no-repeat left top; cursor:pointer;}
.news_index .news_index_title .news_index_l:hover{ background:url(../images/bg8.png) no-repeat left bottom;}
.news_index .news_index_title{ height:34px; margin:3px 0px 23px 0px;}
.news_index .news_index_title .news_index_c{ float:left; width:972px; height:34px; text-align:center; font-size:18px; color:#0f8b4d; line-height:34px;}
.news_index .news_index_title .news_index_r{ width:34px; height:34px; float:right; background:url(../images/bg8.png) no-repeat right top; cursor:pointer;}
.news_index .news_index_title .news_index_r:hover{ background:url(../images/bg8.png) no-repeat right bottom;} 
.news_index .news_index_box{ width:1040px; height:135px; overflow:hidden;}
.news_index .news_index_box .news_index_nei{ height:135px; width:100000px;}
.news_index .news_index_box .news_index_nei .news_index_sel{ float:left; width:510px; height:135px; margin-right:20px;}
.news_index .news_index_box .news_index_nei .news_index_sel .news_index_img{ width:220px; height:135px; overflow:hidden; float:left;}
.news_index .news_index_box .news_index_nei .news_index_sel .news_index_img a{ width:220px; height:135px; display:inline-block;}
.news_index .news_index_box .news_index_nei .news_index_sel .news_index_img img{ width:220px;}
.news_index .news_index_box .news_index_nei .news_index_sel .news_index_right{ float:right; width:270px;}
.news_index .news_index_box .news_index_nei .news_index_sel .news_index_right .news_index_title2 a{ display:inline-block; font-size:15px; overflow:hidden; width:270px; text-overflow:ellipsis;/*超出部分变为...*/ white-space:pre;/*强制不换行*/}
.news_index .news_index_box .news_index_nei .news_index_sel .news_index_right .news_index_time{ padding-left:18px; background:url(../images/bg17.png) no-repeat 0px 16.5px; font-size:12px; color:#999999; line-height:50px; height:40px;}
.news_index .news_index_box .news_index_nei .news_index_sel .news_index_right .news_index_jian a{ font-size:12px; line-height:24px; color:#666666;}

.ind{ width:1080px; margin:27px auto;}
.ind .ind_left{ width:482px; height:189px; float:left; background-color:#FFFFFF; border-bottom:#e9e9e9 solid 3px; padding:19px 28px 32px 20px; }
.ind .ind_right{ width:482px; height:189px; float:right; background-color:#FFFFFF; border-bottom:#e9e9e9 solid 3px; padding:19px 28px 32px 20px; }
.ind .ind_title{ width:482px; height:26px; margin-bottom:13px;}
.ind .ind_title .ind_title_left{width:482px; height:26px; font-size:16px; color:#0f8b4d; line-height:26px;}
.ind .ind_title .ind_title_right{ width:26px; height:26px; display:inline-block; background:url(../images/bg9.png) no-repeat left 0px; position:absolute; margin-left:456px;}
.ind .ind_title .ind_title_right:hover{ background:url(../images/bg9.png) no-repeat right 0px;}
.ind .ind_nei{ width:482px;}
.ind .ind_nei .ind_nei_img{ width:218px; border:#eeeeee solid 1px; height:148px; float:left; overflow:hidden;}
.ind .ind_nei .ind_nei_img img{ width:218px;}
.ind .ind_nei .ind_nei_text{ width:242px; height:150px; line-height:28px; float:right;}


.lvtitle{border:#ebebeb solid 1px; margin-top:15px; border-left:none; border-right:none; color:#0f8b4d; font-size:15px; padding-left:29px; font-weight:bolder; height:39px; line-height:39px; background:url(../images/tupian46.jpg) no-repeat 5px 11px; text-indent:0em;}
.spleft{ color:#0f8b4d; text-indent:2em;}
.spright{ font-weight:bolder;}









