.mark{ font-size:14px; color:#5a5a5a; padding: 22px 0;}
.mark a{ color:#666; padding: 0 5px;}
.mark span{  display: inline-block; line-height: 15px; padding-left:12px; border-left: 2px solid #13af69; color: #333;}
.mark1{border-bottom: 1px solid #e5e5e5;}
.mark2{border-top: 1px solid #e5e5e5; border-bottom: 1px solid #e5e5e5;}
.mark em a{color: #13af69;}
/*产品列表*/
.inbn1{height:300px; background:url(../img/inbn1.jpg) no-repeat center 0;}
.cpzt{padding: 15px 0 0;}
.cpzt_l{width: 300px; overflow: hidden;}
.cpzt_l h4{font-size: 24px; background: #13af69; height: 75px;}
.cpzt_l h4 a{display: block; color: #fff; padding: 12px 0 0 42px;}
.cpzt_l h4 span{ display: block; text-transform: uppercase; font-size: 12px; font-weight: normal; color: #83c89d; margin-top: 4px; }
.cpzt_l h4 a:hover{text-decoration: none;}
.pro_cat h5 a {display: block; font-size: 20px;  padding: 0 60px;height: 60px;  line-height: 60px;background: #ebebeb url(../img/line.gif) no-repeat center bottom; }
.pro_cat h5.last a{ background: #ebebeb;}
.pro_cat h5 a:hover,.pro_cat h5.cur a{text-decoration: none; background: #dfdfdf url(../img/ic7.gif) no-repeat 170px center;}
.pro_cat ul{margin-bottom: 2px;padding: 0 30px 10px; background:#ebebeb ;}
.pro_cat li {
    font-size: 16px;
    line-height: 40px;
    background: url(../img/pro_ic2.png) no-repeat 35px center !important;
    padding-left: 56px !important;
    text-align: left;
}
.pro_cat li.cur a,.pro_cat li a:hover{ color:#07923B;}
.online{background: #ebebeb; margin-top: 25px; padding: 58px 0 0; position: relative;}
.online dl{background: #fff; margin: 0 10px; padding: 0 14px;}
.online dt{position: absolute; left: 28px; top: 15px;}
.online dd {padding-top: 60px;}
.online dd p{font-size: 13px; line-height: 26px; text-indent: 2em; height: 166px; overflow: hidden;}
.online dd span{display: block; color: #333; font-size: 14px; padding:10px 0 20px 0; text-align: right;}
.online dd a{ margin-left: 50px; }
.hotline{background: #ebebeb; font-size: 15px; color: #333; padding:10px;}
.hotline p{background: #fff; padding: 10px; border-top: 1px solid #ebebeb;}
.hotline span{padding-left: 8px; background:url(../img/hotline_bg.gif) no-repeat 0 center;}
.hotline b{ display: block; font-size: 20px; padding-top: 5px; }
.cpzt_r{width: 840px; overflow: hidden;}
.cpzt_r h3{padding-bottom:12px; background:url(../img/focus_bg.gif) no-repeat 0 bottom; margin-bottom:20px;}
.cpzt_r h3 em{font-size:24px; background:url(../img/ic8.png) no-repeat 0 5px; padding-left: 50px;}
.cpzt_r h3 a:hover{ text-decoration:none;}
.cpzt_r h3 em i{ color: #999; text-transform: uppercase; font-style: normal; padding-left: 16px; font-size: 18px; font-weight:normal; }
.cpzt_r h3 b{ color: #13af69;}
.cpzt_con{position: relative;}

.cpzt_con dl{position: relative;}
.cpzt_con dt img{display: block; width: 740px; height: 436px;}
.cpzt_con dd {background: url(../img/bg50.png) repeat;  padding: 15px 30px;  position: absolute; left: 0; bottom: 0; width: 680px; overflow: hidden; }
.cpzt_con dd em{font-size: 15px; width: 610px; display: block;white-space: nowrap; text-overflow: ellipsis;  overflow: hidden; }
.cpzt_con dd em a{color: #fff;}
.cpzt_con dd p{width: 610px; font-size: 13px; line-height: 24px; color: #fff; height: 48px; overflow: hidden;  padding: 8px 100px 0 0;}
.cpzt_con i{position: absolute; font-size: 20px; color: #fff; width: 75px; text-align: center; right: 0; bottom: 20px; font-family: Arial; letter-spacing: 4px; border-left: 1px solid #868887; line-height: 60px; height: 60px; overflow: hidden;}
.cpzt_con i span{font-size: 36px;}

/*产品列表页*/
.er { margin-top:27px; }
.er .tit1 { margin-bottom:15px; }
.er dl { height:266px; margin-top:6px; background:#f2f2f2; overflow:hidden;padding-bottom: 1px; }
.er dl:hover dd em a{border-color:#13af69;color:#13af69;}
.er dt { width:450px; height:266px; overflow:hidden; position:relative; float:left; }
.er dt img { width:450px; height:266px; }
.er dt em { background:url(../img/er_jt1.png) no-repeat; width:16px; height:26px; position:absolute; top:120px; right:0; _right:-1px; }
.er dt em img { width:16px; height:26px; position:absolute; top:120px; right:0; _right:-1px; }
.er dd { width:340px; padding:0 25px; overflow:hidden; float:right; }
.er dd h4 a { display:block; font:20px "Microsoft Yahei"; height:40px; line-height:40px; overflow:hidden; color:#333; margin:15px 0 10px 0; text-transform:uppercase; }
.er dd p { font:13px "Microsoft Yahei"; line-height:26px; height:124px; overflow:hidden; color:#666; }
.er dd em a { display:block; width:148px; height:34px; border:1px solid #c3c8cd; text-align:center; font:14px "Microsoft Yahei"; line-height:34px; color:#333; overflow:hidden; margin-top:14px; }
.er .dl02 dt { float:right; }
.er .dl02 dt em { background:url(../img/er_jt2.png) no-repeat; left:0; }
.er .dl02 dt em img { position:absolute; top:120px; left:0; }
.er .dl02 dl { float:left; }
.er .dl01 { height:250px; overflow:hidden; width:447px; }
.er .dl01 dt { width:249px; height:250px; overflow:hidden; float:left; }
.er .dl01 dt img { width:249px; height:250px; }
.er .dl01 dt em { background:url(../img/er_jt1.png) no-repeat; width:16px; height:26px; position:absolute; top:112px; right:0; _right:-1px; }
.er .dl01 dt em img { width:16px; height:26px; position:absolute; top:54px; right:0; _right:-1px; }
.er .dl01 dd { width:148px; float:right; }
.er .dl01 dd h4 a { margin:8px 0 0 0; height:35px; }
.er .dl01 dd p { text-transform: uppercase;
    height: 150px;
    line-height: 25px;
    overflow: hidden; }
.er .dl01 dd em a { margin-top:10px; }
.tit1 { height:52px; background:url(../img/h.gif) no-repeat left bottom; font:30px "Microsoft Yahei"; font-weight:bold; line-height:50px; overflow:hidden; }
.tit1 a { color:#13af69; }
.tit1 span { font:14px "Microsoft Yahei"; }
.tit1 span a { color:#333; background:url(../img/er_h.gif) no-repeat 17px 2px; padding-left:40px; }
.tit1 em { display:inline-block; width:62px; height:24px; margin-top:20px; overflow:hidden; }

.innews_con dl.dl_3{
    height: 272px;
    overflow: hidden;
    width: 252px;
    float: left;
    margin-right: 20px;margin-top: 20px;}
.innews_con dl.dl_3 dt{ float:left;}
.innews_con dl.dl_3 dt img{     display: block;
    width: 250px;
    height: 174px;
    border: 1px solid #e4e4e4;}
.innews_con dl.dl_3 dd{ width:252px; float:left;}
.innews_con dl.dl_3 dd em{  display:block; font-size:18px; height:20px; line-height:20px; overflow:hidden; margin-top: 12px; white-space: nowrap;text-overflow: ellipsis; }
.innews_con dl.dl_3 dd em a{  color:#ff9012 }
.innews_con dl.dl_3 dd p{ display:block; font-size:13px; line-height:24px; height:48px; overflow:hidden; margin:12px 0; }
.innews_con dl.dl_3 dd span{display: block; text-align: right;}
.innews_con dl.dl_3 dd span a{ display: inline-block; width: 90px; height: 26px; border:1px solid #d3d3d3; text-align: center; line-height: 26px; font-size: 14px;}
.innews_con dl.dl_3 dd i{font-style: normal; font-size: 14px; margin-top: -15px; display: block;}
.innews_con dl.dl_3.cur{ border:1px solid #07923b;}
.innews_con dl.dl_3.cur span a{text-decoration: none; color: #07923b;  border:1px solid #07923b;}
/*页面*/
.apage{ text-align:right; padding:10px 0 50px; line-height:28px; }
.apage a{display:inline-block; height:28px;border:1px solid #9d9d9d; padding:0 10px; font-size:14px;color:#595959; margin:0 1px; vertical-align:top;}
.apage a:hover,.apage a.cur{ background:#07923b; color:#fff; text-decoration:none;height:28px; line-height:28px; border:1px solid #07923b;}
.case{overflow:hidden;background:#ebebeb;padding-bottom: 10px;}
.case li{float:left;width:130px;margin-left:13px;margin-top: 10px;}
.case li img{width:130px;}
.case li span{width:130px;display: block;text-align: center;}
.fr ul li img {
    margin-left: 0px;
}
.fr ul {
    padding-right: 0px;
}
.hotline p{background: #fff; padding: 10px; border-top: 1px solid #ebebeb;}
.hotline span{padding-left: 8px; background:url(../img/hotline_bg.gif) no-repeat 0 center;}
.hotline b{ display: block; font-size: 20px; padding-top: 5px; }
.news_con dt{ font-size:22px; margin-bottom:20px; height: 30px; overflow: hidden;}
.news_con dt span{ display:inline-block; color:#fff; width:64px; height:30px; text-align:center; line-height:30px; background:#07923b; margin-right:15px;}
.news_con dt a{ color:#333;}
.news_con dd{ font-size:15px; line-height:30px; height: 72px; overflow: hidden; color:#666; }
.news_con dd a{ color:#07923b;} 
.news_con ul{ background:url(../img/ic1.gif) repeat-y ; padding-left: 20px;     margin-top: 8px;
    margin-bottom: 20px; }
.news_con li{ line-height: 44px; height: 44px; overflow: hidden; font-size: 14px;border-bottom: 1px dashed #c0c0c0; vertical-align: top; }
.news_con li em{ float: left;
    width: 533px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 18px;
    text-align: left;  }
.news_con li span{float: right; font-size: 12px;}
#pagerMain li{height:30px;float:left;margin-left: 5px;
}
#pagerMain li.thisclass{width:28px;height:28px;background: #07923b;color: #fff;border: 1px solid #07923b;text-align:center;}
#pagerMain li select{height:29px;}
.contact{ padding: 48px 0 20px; background:url(../img/ic6.png) no-repeat 0 113px;margin: 0 auto;width: 820px;overflow: hidden;}
.contact h3{color: #333; font-size: 20px; padding-bottom: 40px;}
.contact li{width: 345px; float: left; padding-left: 60px; line-height: 28px; font-size: 14px; height: 90px; padding-bottom: 30px;}
.contact li b{display: block; font-size: 16px; color: #333; line-height: 28px; }