
* html,* html body{background-image:url(about:blank);background-attachment:fixed}
* html .fixed{position:absolute;left:expression(eval(document.documentElement.scrollLeft));top:expression(eval(document.documentElement.scrollTop))}
.mide{width:984px;height:69px;margin:0 auto; overflow:hidden;}
/* CSS Document */

body{color:#444;background:url(../images/bodybg.jpg) no-repeat top;   font-family:"微软雅黑","宋体",Arial,Helvetica,sans-serif; padding:0px; margin:0px; font-size:12px;}
.neiyebody{background:url(../images/neiyebodubg.jpg)}
body,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ul,ol,li,pre,form,fieldset,legend,button,input,textarea,th,td{margin:0;padding:0;word-wrap:break-word}
*{padding:0px; margin:0px;}
input{font:12px/1.5 tahoma,arial,\5b8b\4f53,sans-serif;}
img{border:none}
.left{ float:left}
.right{ float:right}
pre {white-space: pre-wrap; /* css-3 */white-space: -moz-pre-wrap; /* Mozilla, since 1999 */white-space: -pre-wrap; /* Opera 4-6 */white-space: -o-pre-wrap; /* Opera 7 */	word-wrap: break-word; /* Internet Explorer 5.5+ */}
input.dialog{height:0; height:0; font-size:0; line-height:0; border:none}
input,label,img,th{vertical-align:middle;}.font-fixh{font-family: Georgia,Arial; color: #f00; font-size: 16px; font-weight: 700;}address,cite,dfn,em,var{font-style:normal;}
code,kbd,pre,samp{font-family:courier new,courier,monospace;}
input.button ,input.btn{padding:0.25em;width: auto;_width:0;overflow:visible !ie;}
ul,ol,li{list-style:none;}
a{ color:#444;text-decoration:none;}
a:hover{ color:#f58600;text-decoration:none}
#mian{ width:1000px; margin:0 auto}
.white,.white a{color:#fff}.blue,.blue a{color:#004499}.gray4,a.gray4{color:#999}
.red, .red a, a.red{color:red;}.green{color:#0E774A}
.clear{ clear:both}
.auto{ margin:0 auto;}
.baibian{ height:10px; clear:both}
.top{ height:28px; background:url(../images/topbg.png) repeat-x; overflow:hidden; width:100% }
.top .topcen{ width:1000px; line-height:28px;}
.top .topcen span{ float:right}
.head{ height:108px; width:1000px; margin:0 auto}
.head .logo{ float:left; padding-top:20px; width:685px;}
.head .phone{ float:right; padding-top:20px; width:200px;}
.menu{ height:42px; background:url(../images/menu.png) 0px -1px repeat-x}
.menu .menucen{ width:1000px; height:40px;}
.menu .menucen ul li{ width:120px; text-align:center; float:left}
.menu .menucen p{ font-size:14px; padding-top:5px; font-family:"微软雅黑"; line-height:16px;}
.menu .menucen span{ font-size:12px; color:#c6c6c6}
#nav, #nav ul{position:relative;z-index:9999;}
#nav li{float:left;position:relative;z-index:20; border-top:#5c5c5c 3px solid; height:37px;}
#nav li:hover{ background:#FFF; border-top:#f68600 3px solid;}
#nav li a{display:block;outline:none;z-index:35;position:relative;}
#nav li a:hover{ color:#444}
#nav li ul {position:absolute;display:none;top:38px;background:#FFF; width:120px; padding-bottom:-1px;}
#nav li ul a{height:30px;line-height:30px; text-align:center; font-size:13px;}
#nav li ul a:hover{ background:#FFF}
#nav li ul li{ height:31px; line-height:30px; border-top:none}
#nav li ul li a{width:120px;height:auto;float:left; text-align:center;font-family: "宋体"; height:30px; border-bottom:#CCC solid 1px;font-family:"微软雅黑";}
#nav li ul li:hover{width:120px; border-top:none;}
#nav li ul li a:hover{background:#CCC; color:#FFF;border-bottom:#CCC dotted 1px;}
#nav li:hover ul ul, #nav li:hover ul ul ul,#nav li:hover ul ul ul ul{display:none;	}
#nav li:hover ul, #nav li li:hover ul, #nav li li li:hover ul, #nav li li li li:hover ul{display:block;}
.fixed {position: fixed;top: 0px;z-index:1000;left: 0;width: 100%;background:#0990c8;box-shadow: 0 0 40px #222;-webkit-box-shadow: 0 0 40px #222;-moz-box-shadow: 0 0 40px #222;text-align:center;}
.banner{ width:100%;}
.casetit{ width:1000px; height:80px; padding-top:80px; background:url(../images/title_03.png) no-repeat center 10px; text-align:center; margin-top:35px;}
.casetit ul{ margin:0 auto; width:480px; padding-top:20px;}
.casetit ul li{ width:120px; text-align:center; float:left}
.casetit p{ font-size:14px; padding-top:5px; font-family:"微软雅黑"; color:#000}
.casetit p:hover{ color:#f78501}
.casetit span{ font-size:10px; color:#c6c6c6}
.casecon{ width:1000px; height:442px;}
.youshi{ width:1000px; height:320px; padding-top:120px; background:url(../images/youshitit.png) no-repeat center 40px;}
.youshi ul{ width:1100px; padding-top:30px;}
.youshi ul li{ width:169px; float:left; padding-right:40px;}
.youshi ul li p{ width:150px; margin:0 auto; font-weight:700; font-size:14px; font-family:"微软雅黑"; line-height:20px; font-weight:700; padding-top:10px;}
.zongjian{ width:1000px; height:375px; padding-top:140px; background:url(../images/zongjiantit.png) no-repeat center 40px;}
.zongjian .zongjiantp{ width:247px; height:310px; float:left}
.zongjian .zongjianwz{ width:655px; float:right; line-height:21px; padding-right:40px;font-family:"微软雅黑";}
.synew{ width:1000px; height:400px; background:url(../images/newtit.png) repeat-x top}
.synew .new1{ width:452px; float:left}
.synew .new1 .new1tit{ height:38px; line-height:38px; margin-bottom:20px; }
.synew .new1 .new1tit img{ padding-top:10px;}
.synew .new1 .new1tit span{ float:right}
.synew .new1 .firstnew{ height:118px; width:432px; border:#dad9d9 solid 1px; background:#f2f2f2; padding:10px; line-height:24px; color:#999}
.synew .new1 .firstnew img{ float:left; padding-right:20px;}
.synew .new1 .firstnew p{ font-family:"微软雅黑"; line-height:30px; font-size:14px}
.synew .new1 ul{ padding-top:10px;}
.synew .new1 ul li{ display:block; height:34px; border-bottom:#CCC double 1px; text-indent:20px; background:url(../images/icon.png) no-repeat 0 12px; line-height:34px;}
.synew .new1 ul li span{ float:right}
.synew .new2{ float:right}
.hezuokehu{ width:952px; height:163px;border:#dad9d9 solid 1px; background:#f2f2f2; background:url(../images/hezuokehuleft.jpg) no-repeat left; padding-left:46px;}
.hezuokehu ul{ padding-left:20px;}
.hezuokehu ul li{ float:left; padding-right:10px; padding-top:14px;}
.hezuokehu ul li img{ border:#CCC solid 1px;}
.link{ height:46px; width:920px; padding-left:80px; background:url(../images/link.png) no-repeat left 20px; padding-top:20px; line-height:22px; padding-bottom:40px;}
.footer{ height:218px; background:#333333}
.footer .foot{ width:1000px}
.footer .foot ul{ width:643px; margin:0 auto; padding-top:20px;}
.footer .foot ul li{ float:left;}
.footer .foot ul li a{ display:block; border:#333333 solid 3px; padding:10px 12px; color:#b4b4b4}
.footer .foot ul li a:hover{ border:#a0a0a0 solid 3px;}
.footer .foot .footlianxi{ height:40px; padding-top:20px; padding-bottom:10px; border-bottom:#424242 solid 1px; width:1000px;}
.footer .foot .ftlx{ width:700px; margin:0 auto; color:#b4b4b4}
.footer .foot .wbwx{ width:200px; height:30px; margin:0 auto; padding-top:20px;}
.footer .foot  p{color:#4f4f4f}
.footer .foot .wbwx a img{padding-right:5px}
.nybanner{}
.nybanner img{ width:100%}
.nymain{ width:1000px; padding-bottom:20px; padding-top:22px; margin-bottom:20px;}
.nymain .nmleft{ width:220px; float:left;}
.nymain .nmleft .submenutit{ width:220px; height:40px; line-height:40px; background:url(../images/page_name.png) no-repeat; color:#FFF; font-size:18px;  font-family:"微软雅黑";text-align: center;}
.nymain .nmleft .submenucon{ background:#dadada; padding:20px; margin-bottom:20px;}
.nymain .nmleft .submenucon ul li{ display:block; height:36px; background: url(../images/page_09.png) no-repeat bottom; line-height:36px; width:180px; text-align:center; font-size:14px; font-family:"Microsoft YaHei";}
.nymain .nmleft .submenucon ul li a.dalia{color:#f58600;}
.nymain .nmleft .erweima{ width:220px; height:270px; background:url(../images/nyweibogb.jpg) no-repeat; text-align:center;  padding-bottom:20px;}
.nymain .nmleft .erweima p{ line-height:40px; margin-top:-70px}
.nymain .nmleft .erjilanmu{ width:218px; border:#dadada solid 1px; background:#FFF; }
.nymain .nmleft .erjilanmu .erjilmlx{ width:148px; height:68px; border-bottom:#dadada solid 1px; background:url(../images/Phones.png) no-repeat; background-position:20px 14px; padding-left:70px;}
.nymain .nmleft .erjilanmu .erjilmlx p{ padding-top:18px; line-height:16px;}
.nymain .nmleft .erjilanmu .erjilmlx span{ font-family:"Microsoft YaHei"; font-size:18px; color:#751f1f}
.nymain .nmleft .erjilanmu .erjilmlx2{ background:url(../images/Mobile.png) no-repeat; background-position:20px 0px; padding-left:70px; height:63px;}
.nymain .nmleft .erjilanmu .erjilmlx2 a{color:#f79723}
.nymain .nmleft .erjilanmu ol{ width:160px; margin:0 auto; padding-bottom:10px;}
.nymain .nmleft .erjilanmu ol li{ display:block; height:30px; width:140px; padding-top:10px;}
.nymain .nmleft .erjilanmu ol li a{ display:block; height:30px; width:160px; line-height:30px; text-align:center}
.nymain .nmleft .erjilanmu ol li a:hover{ background:url(../images/cblanmu.png) no-repeat}
.nymain  .nmright{ width:728px; border:#cfcfcf solid 1px; float:right; padding-left:15px; padding-right:15px; padding-bottom:20px; overflow:hidden; background:#FFF}
.nymain  .nmright .nmrtit{ width:728px; height:38px; line-height:38px; border-bottom:#CCC solid 1px;}
.nymain  .nmright .nmrtit .nmrtitleft{ height:38px; border-bottom:#751f1f solid 1px; color:#751f1f; float:left; font-size:16px; font-family:"微软雅黑"}
.nymain  .nmright .nmrtit span{ float:right}
.case_list{ width:728px; overflow:hidden; padding-top:20px;}
.case_list ul{ width:748px;}
.case_list ul li{ display:block; float:left; width:227px; height:205px; padding-right:22px;}
.case_list ul li img{ width:221px; height:146px;border: 3px solid #fff;}
.case_list ul li img:hover{border: 3px solid #ccc;}
.case_list ul li p{ line-height:40px; width:227px; text-align:center}
.case_list ul li span{ width:106px; height:25px; display:block; margin:0 auto; text-align:center; line-height:25px; border:#CCC solid 1px;}
.case_show{ width:728px; overflow:hidden; padding-top:20px;}
.case_show .caseshowtit{ width:634px; height:30px; background:url(../images/caseshowtitbg.png) no-repeat bottom; margin:0 auto; text-align:center; font-size:14px; font-family:"Microsoft YaHei"}
.case_show  .caseshowtp{ width:634px; height:430px; margin:0 auto; padding-top:20px;}
.case_show  .caseshowtp .cstptop{ width:618px; height:414px; padding:6px; border:#CCC 1px solid; overflow:hidden;}
.cstptop li{ width:625px; height:413px; overflow:hidden; float:left;}
.case_show  .casegun{ width:658px; margin:0 auto; height:108px; background:url(../images/gunbg.jpg) repeat-x 0 20px;; padding-top:20px; padding-bottom:20px;}
.case_show  .casegun .gunleft{ width:21px; float:left; padding-right:12px;}
.case_show  .casegun .guncen{ width:590px; float:left; height:100px; padding-top:8px;}
.case_show  .casegun .guncen ul{ width:2000px;}
.case_show  .casegun .guncen ul li{ float:left; padding-right:20px;}
.case_show  .casegun .guncen ul li img{ height:89px; width:133px;}
.case_show .casecontactcon{ width:728px; padding-top:10px; padding-bottom:10px; line-height:24px;}
.case_show .casexiangguang{width:726px; border-top:none; height:220px;}
.case_show .casexiangguang ul{ width:2000px; padding-top:20px; padding-left:24px;}
.case_show .casexiangguang ul li{ float:left; padding-right:20px;}
.case_show .casexiangguang ul li img{ height:140px; width:210px;}
.case_show .casexiangguang ul li p{width:210px; height:40px; line-height:40px; text-align:center}
.zuo{ float:left; position:absolute; margin-top:207px;z-index: 1000;}
.you{ float:right;position:absolute; margin-top:207px; padding-left:601px;}
.kehu_list ul{ width:800px;padding-top: 25px;}
.kehu_list ul li{ display:block; float:left; width:227px; height:180px; padding-right:22px;}
.kehu_list ul li img{ width:225px; height:114px; border:#CCC solid 1px;}
.kehu_list ul li p{ line-height:40px; width:227px; text-align:center}
.article_list{ width:728px; overflow:hidden; padding-top:20px}
.article_list ol li{ display:block; height:100px; border-bottom:dotted #CCCCCC 1px}
.article_list ol li .arc_list_time{ height:75px; width:75px; margin-top:15px; background:url(../images/article_list_time.jpg) no-repeat; float:left; display:inline;}
.article_list ol li .arc_list_time .time_top{ height:45px; width:75px; text-align:center; line-height:45px; color:#751f1f; font-size:30px; font-weight:700}



.article_list ol li .arc_list_time .time_bottom{ height:30px; width:75px; text-align:center; line-height:30px;}



.article_list ol li .arc_title_con{ float:right; height:75px; width:645px; margin-top:15px; display:inline}



.arc_title{ height:25px; line-height:25px; font-weight:700}

.arc_title a:hover{}



.arc_con{ height:45px;line-height:22px; padding-top:6px;}



.arc_con a{ color:#999;}



.arc_con a:hover{ color:#f68600}

.article_show{ width:728px; overflow:hidden; padding-top:20px}

.article_show .arc_s_title{ height:45px; width:728px; line-height:45px; font-size:18px; font-weight:700; text-align:center; color:#666666; padding-bottom:10px;}



.article_show .arc_s_xinxi{ height:24px; width:726px; border:#CCC solid 1px; background:#eeeeee; text-align:center; line-height:24px;}



.article_show .arc_s_zy{ height:55px; width:726px; border:#CCC solid 1px; margin:24px 0; line-height:55px;}





.article_show .arc_s_zy span{ font-weight:700; color:#fa8507}



.article_show .arc_s_content { line-height:24px;}



.article_show .arc_s_shara{ height:53px; width:108px; margin:0 auto; padding:20px 0px;}



 .pre_next{ height:60px; width:500px; margin-bottom:20px;}



 .pre_next .pre{ height:24px; border:#CCCCCC solid 1px; line-height:24px;}



 .pre_next .pre span{ display:block;height:24px; width:80px; border-right:#CCC solid 1px; background:#eee; text-align:center; line-height:24px; margin-right:10px; float:left}



 .pre_next .next{ height:24px; border:#CCCCCC solid 1px; margin-top:5px;line-height:24px;}



 .pre_next .next span{ display:block;height:24px; width:80px; border-right:#CCC solid 1px; background:#eee; text-align:center; line-height:24px; margin-right:10px; float:left}

.article_show .keywords{}



.article_show .keywords .gjc{ color:#fa8507}



.article_show .keywords .gjc_show{ padding-top:10px;}





.article_show .keyarticles{ padding-top:20px;}

.article_show .keyarticles .xgwz{color:#fa8507}

.article_show .keyarticles .xgwz_show{ padding-top:10px;s}

.article_show .keyarticles .xgwz_show ol li{ display:block; height:24px; line-height:24px; width:300px; float:left; padding-right:40px;}

.article_show .keyarticles .xgwz_show ol li span{ float:right}



.page_index{width:728px; overflow:hidden; padding-top:20px; line-height:26px;}
.qq{ float:left; overflow:hidden; width:182px;}
.qw{ float:left; margin-bottom: 38px;}
.qw img{ float:left; margin-bottom: 10px;}
.qw p{float:left; color:#464646; width:729px; font-family:"微软雅黑"; font-size:14px;}
<!--font-family: "方正细黑简体"; -->
.a{ float:left; width:712px; height:151px;  margin-bottom:45px;}
.a1{width:148px; height:131px; background:#FFF; padding-top: 20px;}
.a2{ float:left; width:543px; padding-left:10px; padding-right:10px;}
.a2 h3{ 
	float: left;
width: 507px;
font-size: 18px;
height: 25px;
margin-top: 6px;
overflow: hidden;
color: #818181;
}
.a2 span{ 
	float: left;
width: 507px;
height: 10px;
color: #FF7B23;
font-size: 14px;
}
.a2 p{
	
	float: left;
width: 507px;
margin-top: 15px;
font-size: 13px;
line-height: 19px;
color:#282828;
}
.ass{ float:left;width:566px; color:#ff7b23;padding-left: 149px; font-weight:bold; font-size:16px; margin-top:20px;}
.zx{ float:left; width:712px; height:151px; border:2px solid #e8e8e8;background:#eaeaea;}
/********************************幻灯片*************************/
.hdwrap {


	width:100%;


	height:428px;


    margin:0 auto;


}





.flashlist {


	height:428px;


	position:absolute;


}


.flashlist .f_out {


	height:428px;


	overflow:hidden;


	position:relative;


	z-index:100;


}


.flashlist .f_out .vip01pic,.jcToppic .vip01pic {


	width:58px;


	height:58px;


	display:block;


	position:absolute;


	top:0px;


	left:0px;


	/*background:url("images/vipico.gif") no-repeat 0 0;*/


	z-index:200


}


.vip02pic {


	width:39px;


	height:39px;


	display:block;


	position:absolute;


	top:0px;


	left:0px;


	/*background:url(../images/vipico.gif) no-repeat -80px 0;*/


	z-index:200


}


.flashlist .f_out .picintro {


	height:84px;


	/*background:url("images/hdpng.png") no-repeat scroll 0 -1px;*/


	position:absolute;


	bottom:0;


	left:0;


	width:940px;


	z-index:999;


	padding:0 20px;


}


.picintro h2 a {


	color:#FFF;


	font-family:"΢ź";


	font-size:20px;


	font-weight:bold;


	line-height:37px;


}


.picintro p {


	color:#767676;


	line-height:20px;


}


.picintro p a {


	color:#abadac;


}


.flash_tab {


	height:26px;


	position:absolute;


	top:395px;


	left:50%;


	width:80px;


	z-index:600;


	margin-left:-40px;


}


.flash_tab .tabs {


	width:280px;


	height:15px;


	overflow:hidden;


	margin:0 auto;


}


.flash_tab .tabs ul li {


	width:15px;


	height:15px;


	float:left;	


	background: none repeat scroll 0 0 #fff;


    border-radius: 50% 50% 50% 50%;


    cursor: pointer;


    display: inline-block;


    margin: 0 4px;


    overflow: hidden;	


}





.flash_tab .tabs ul .noopdiv{


	background-color:#215993;


}


.flash_tab .tabs ul li.opdiv,.noopdiv {


	padding:0;


	opacity:1


}


.flash_tab .tabs ul li.opdiv a {


	width:21px;


	height:15px;


	/*background:url(../images/02.png) no-repeat;*/


	display:block;


}


.flash_tab .tabs ul li.opdiv a:hover {


	background-color: #215993;


}


.flash_tab .tabs ul li.noopdiv a {


	width:21px;


	height:15px;


	/*background:url("images/01.png") no-repeat;*/


	display:block;


}

