/* CSS Document */
body,div,span,ul,li,dl,dt,dd,p,input,label,form,h1,h2,h3,h4,h5,h6,select,option{ margin:0px; padding:0px;font: 12px Arial, Helvetica, sans-serif;font-family: "微软雅黑";font-weight:100; color:#333; line-height:3em; border:0px;}
ul,li{ list-style:none;}
a{ text-decoration:none;}
a,img{ border:0px;}
.l{ float:left;}
.r{ float:right;}
.clear{ clear:both;}




.gray{ width:100%; height:auto; background-color:#191c1d; height:75px; padding:12px 0px;}
.main3{ width:100%; height:auto; overflow:hidden;}
#headr,.HotNew{ width:1200px; height:auto; margin:0px auto; position:relative;}
.main,.about,.copyRightCon,.nyCon{ width:1200px; height:auto; margin:0px auto; overflow:hidden;}
.gray2{position: relative;height: 332px; background-repeat: no-repeat;background-image: url(../images/inCulture.jpg);background-position: top center;  }
.logo{ display:block; width:88px; height:100px;float:left;}
#nav{ width:auto; float:right;}
#nav li{ float:left;}
#nav li a{ display:block; float:left; width:auto; padding:0px 25px; height:75px; line-height:75px; color:#fff; font-size:18px;}
/*banner start*/
.banner{width:100%;height:750px;overflow:hidden;}
#full-screen-slider{width:100%;height:750px;float:left;position:relative;}
#slides{display:block;height:750px;list-style:none;padding:0;margin:0;position:relative}
#slides li{display:block;width:100%;height:100%;list-style:none; padding:0;margin:0;position:absolute}
#slides li a{display:block;width:100%;height:100%;text-indent:-9999px}
#pagination{display:block;list-style:none;position:absolute;left:50%;top:700px;z-index:9900;padding:5px 0px 5px 0;margin:0;}
#pagination li{display:block;list-style:none;width:12px;height:12px;float:left;margin-right:13px;background-color:#fff;-moz-border-radius:15px;-webkit-border-radius:15px;-o-border-radius:15px;border-radius:15px;}
#pagination li a{display:block;width:100%;height:100%;padding:0;margin:0;text-indent:-9999px;}
#pagination li.current{background-color:#9f3a10;}
/*内页 banner start*/
.nyBanner{ width:100%; height:443px; background:url(../images/about.jpg) no-repeat center top;}
.newBanner{width:100%; height:443px; background:url(../images/newbanner.jpg) no-repeat center top;}
.ProBanner{width:100%; height:443px; background:url(../images/probanner.jpg) no-repeat center top;}
.zhaopinBanner{width:100%; height:443px; background:url(../images/zhaopin.jpg) no-repeat center top;}
.contcatBan{width:100%; height:443px; background:url(../images/contactus.jpg) no-repeat center top;}

.about{ margin:90px auto 115px auto;}
.about_rig{ width:736px; height:auto; float:right;overflow:hidden;}
/*首页  视频 start*/
.video{width:736px; height:auto; float:left;}
.about_con{ margin-left:83px; width:300px;}
.about_con h2{ display:inline-block; color:#555; font-weight:900;font-size:24px; background:url(../images/h2.gif) no-repeat left center; height:25px; line-height:25px; text-indent:9px;}
.about_con p{color: #555;line-height: 24px; width:100%;}
.view{ margin-top:35px;display: block;width: 98px;height: 28px;line-height: 28px;text-align: center;color: #87772b;border: 1px solid #87772b;}
.about_bg{ width:900px; height:auto; position:absolute; top:30px; background-color:#ffd400; z-index:11;}
.inTit1{position: relative;width: 100%;height: 132px;}
.inTit2{position: relative;width: 100%;height: 134px;margin:50px 0px;background-repeat: no-repeat;background-position: top center;}
/*首页 关于我们 start*/
.kv{position:relative;width:1200px;height:360px;overflow:hidden; margin:65px 0px;}
.kv_pic{width:2980px;height:334px;overflow:hidden;position:absolute;}
.kv_pic>li{width:570px;height:334px;float:left;background:url(../images/ul_libg.gif) no-repeat left top; padding:24px 0px 0px 26px;}
.kv_pic img{width:100%;}
.kv_word{width:604px;height:334px;background-color:#fff;position:absolute;top:0px;right:0;overflow:hidden;}
.kv_word ul{width:3020px;height:192px;position:absolute;}
.kv_word ul li{width:435px;height:330px;float:left; padding:30px 80px 0px 87px;}
.kv_word ul li .tit{float: left;padding-bottom: 22px; border-bottom:1px solid #b0b0b0;width:auto; display:block;}
.kv_word ul li .tit h2{ float:left;font-size:20px;color: #333;display:block;height: 20px; line-height:20px;}
.kv_word ul li .tit .bg{display:block;margin:0px 4px 0px 2px;background:url(../images/EnBg.png) no-repeat;width:16px;height:20px;font-size:14px; line-height:15px; float:left;color:#fff;text-align: center; vertical-align: text-bottom;text-transform: uppercase; float:left;}
.kv_word ul li .tit span.en{font-size: 14px; text-transform:uppercase; float:left; display:block;height: 20px; line-height:20px;}
.kv_word ul li .f1{margin:20px 0px;font-size: 14px;color: #444;font-weight: bold; display:inline-block; float:left;width:435px;}
.kv_word ul li .wordCon{height:170px;overflow: auto;width:435px; float:left; margin:0px; padding:0px; padding-right:15px; padding-bottom:10px;}
.kv_word ul li .wordCon p{margin-bottom: 24px;line-height: 24px;font-size: 12px;color: #777;width:420px; margin:0px; padding:0px;}
.kv_word .tit1{font-size:18px;color:#fff;margin-left:18px;margin-top:14px;}
.kv_word .tit2{font-size:18px;color:#f5df00;margin-left:18px;}
.kv_word li p{font-size:12px;color:#868686;width:435px;margin-left:18px;line-height:1.6;margin-top:10px;}
.kv .control{width:54px;height:26px;position:absolute;right:0px;top:0px;}
.kv .control div{width:26px;height:26px;background-color:#f5df00;margin-right:1px;float:left;cursor:pointer;}
.index_right{position:absolute;top:400px;right:0;width:300px;}
.index_right h3{font-size:18px;}
.index_right h3 span{font-size:12px;color:#969696;font-weight:normal;padding-left:8px;}
.index_right .sqe{padding:6px 6px 16px 32px;width:30px;color:#fff;font-size:14px;float:left;margin-top:22px;margin-bottom:16px;}
.index_right .sqw{float:right;width:208px;line-height:1.8;padding-bottom:15px;padding-top:10px;border-top:1px dotted #424242;color:#424242;margin-top:13px;}
.kv_dot{position:absolute;left:550px;top:350px;}
.kv_dot ul>li{width:10px;height:10px;background:url(../images/icons_dot1.png) no-repeat center;float:left;margin-right:5px;}
.kv_dot ul>li.action{background:url(../images/icons_dot2.png) no-repeat center;}
.lang{width:1000px;margin:15px auto;text-align:right;}
.lang a{padding:0 7px;}
.lang a.action{color:#000;}
/*首页 热点新闻 start*/
.HotNew{ margin-bottom:65px;}
.HotNew dl{ width:340px; height:510px; float:left; margin:0px 30px; overflow:hidden;}
.HotNew dl dt,.HotNew dl dt a,.HotNew dl dd{ display:block; width:100%; height:auto; float:left;}
.HotNew dl dd h2{ width:100%; display:inline-block; float:left; font-weight:300;argin-bottom:8px;font-size:22px;line-height: 36px; color:#212121;}
.HotNew dl dd p{font-size:14px;line-height: 30px;font-weight: normal; width:100%;}
.HotNew dl dd a{ display:inline; width:auto; border-bottom:1px solid #007aff; margin-top:8px; font-size:14px; color:#302f2f; padding:0px 3px 2px 3px;}
/*ishop  网络商城 */
.ishopCon{ width:100%; height:auto; overflow:hidden; background-color:#ffd100; padding:30px 0px;}
.ishop{ width:1200px; height:auto; overflow:hidden; margin:0px auto;text-align: center;background: #212121;}
.ishop .tit{width:100%; background:url(../images/inTit3.png) no-repeat center top; height:111px;}
.shopUl{width:1200px;text-align: center; height:auto; float:left;}
.shopUl a{display:block;float: left;width:338px;height:38px;line-height:38px;border:1px solid #8b8b8b;background: #212121;font-size: 14px;color: #dedede; margin:0px 30px 30px 30px;}
.shopUl a:hover{background: #ffd100;color: #212121;}
/*footer*/
.footer{position: relative;height: 205px;padding-top:60px;}
.main2{ width:1200px; height:205px; margin:0px auto; position:relative;}
.footer .icontact{padding-top: 35px;float:left;background: url(../images/contactBg.png) repeat no-repeat;width: 211px;height:86px;text-align:center;text-transform:uppercase;}
.footer .icontact .f2{font-size: 26px;color: #212121;font-weight: bold;float:left; display:block; width:211px; height:45px; line-height:45px;}
.footer .icontact .f3{font-size:12px;color: #212121;float:left; display:block; width:211px; height:11px; line-height:1px;}
.footer .tel{float:left;margin-right:40px;margin-left:20px; text-transform: uppercase;line-height: 25px; width:180px;}
.footer .telNum{font-size:24px;color:#212121;font-weight:bold; float:left; height:30px; line-height:30px; width:180px;}
.footer .tel .box{display: block;width:65px;height: 22px;border-bottom:1px solid #ababab;margin-bottom: 20px; float:left;}
.footer .tel span{ display:block; width:180px; float:left; color:##232323; height:20px; line-height:20px;}
.footer dl{float: left;margin-right:40px;font-size: 14px;}
.footer dl a{color: #212121;}
.footer dl a:hover{text-decoration: underline;}
.footer dl dt{font-weight: bold;height: 45px;line-height: 45px;}
.footer dl dd{height: 30px;line-height: 30px;}
.footer dl dd a{color: #6e6e6e;}
/*二维码*/
.bgEwm{position: absolute;top:10px;right:0px;width: 174px;height:230px;background: #ffd100;}
.topBg{position: relative;margin-top:-34px; background-repeat: no-repeat;height:34px;}
#box{ position:relative; width:174px; height:230px;background: #ffd100;}
#box .bigUl{}
#box .prev{ position:absolute; width:18px; height:32px; background:url(../images/btn.png) 0px 0px no-repeat; z-index:500; top:200px; left:15px; cursor:pointer;}
#box .next{ position:absolute; width:18px; height:32px; background:url(../images/btn.png) -20px 0px no-repeat; z-index:500; top:200px; right:15px;cursor:pointer;}
.bigUl li { position:absolute; left:18px; top:50px;}
.numberUl { position:absolute; right:0; bottom:0px; z-index:400; width:138px; height:30px;}
.numberUl li{width:auto; height:13px;  float:left;margin-left:1px;}
.numberUl li a{ display:block ;width:auto; height:13px; color:#fff; font-size:13px; padding:0px 3px; margin:0px 2px;line-height:13px;}
#box .textUl li{ position:absolute; left:0px;display:none; width:138px; left:20px; top:8px;}
#box .textUl li a{ font-size:16px; font-family:"Microsoft Yahei"; color:#000; font-weight:bold; height:30px;}
.numberUl li.night a{color:black; }
/*页面底部版权 start*/
.copyRight{height: auto;line-height:normal; padding:15px 0px; background-color:#212121;}
.copyRightCon p{ color:#626262; float:left; display:block; width:auto;}
.author{ width:auto; display:block; float:left; color:#626262; margin-left:5px;}


.nyTit{margin:50px 0px 15px; display:block; width:100%; }
.nyTit .cn{padding-bottom: 15px;font-size: 60px;font-weight: bold;text-align: center;background: url(../images/nyTitLine.jpg) no-repeat bottom center; height:85px; line-height:85px;}
.nyTit .en{height: 42px;line-height: 42px;text-align: center;text-transform: uppercase;color: #444;font-size: 10px;}
/*nyNav*/
#nav01 {position: relative;margin-left: auto;margin-right: auto;width:500px;height:auto;margin-bottom:30px;text-align: center; }

#nav01 li {float:left;}
#nav01 li a {padding:0px 35px;margin:8px 9px;display: inline-block;color: #000;text-align: center;border:1px solid #000000;font-size: 14px; float:left; height:40px; line-height:40px;}
#nav01 li a:hover{background: #212121;color: #fff;}
#nav01 li a.selected{background: #212121;color: #fff;}

.tag{ width:100%; height: auto; padding-top:10px; background-color:#ffffff; margin:0 auto; line-height:30px; overflow:hidden;}
#nav01 li a:hover{background: #212121;color: #fff;}


.p1-1Tit{position: relative;width:1200px;height:auto;padding:0; margin:30px auto;color: #222222;}
.p1-1Tit .tit{margin-bottom: 5px;text-align: center;font-weight: bold;font-size: 16px; height:27px; line-height:27px;}
.p1-1Tit .en{margin-bottom:8px;font-size:14px; text-transform: uppercase;text-align: center; height:20px; line-height:20px;}
.p1-1Tit .bg{margin-bottom: 18px;background: url(../images/p1-1Bg.jpg) no-repeat top center;height: 38px;}
.p1-1Tit p{line-height: 24px;text-align: center;font-size: 14px;height: 48px;overflow: hidden;}
.p1-1P1{background: #ffd100;margin-bottom: 65px;padding:35px 0px;width:1200px; margin:0px auto;height:497px;}
.p1-1P1 .pic{float: left;width:447px;height:497px; background-position:center; background-repeat: no-repeat; background-size: contain;}
.p1-1P1 .pic img{width:468px;height:497px;}
.p1-1P1 .vedio{float: left;width:695px;height:497px;}
.p1-1P1 .vedio img{width:695px;height:497px;}

.p1-1{ width:1200px; height:auto;margin:0px auto;}
.p1-1 li{margin-bottom:40px; width:1200px;float:left;}
.p1-1 li .pic{width:550px;}
.p1-1 li .word{}
.p1-1 li.li02 .pic{float: right;}
.p1-1 li.li02 .word{float: left;}
.p1-1 li .pic{background-repeat: no-repeat;width: 48%;height: 100%; background-position: center; }
.p1-1 li .word{width: 43%;height: 100%;padding:0 2.5%;background: #f7f7f7;}
.p1-1 li .word .tit{margin-top:35px;font-size: 36px;color: #222;text-transform: uppercase;font-weight: thin; height:45px; line-height:45px;}
.p1-1 li .word .line{width: 120px;height: 10px;border-bottom:1px solid #000000;}
.p1-1 li .word p{overflow: hidden;height: 168px;margin-top: 24px;line-height: 24px;text-indent: 2em;color: #555;}
/*rootCon*/
.rootCon{position: relative;width:1200px;height:auto; padding:15px 0px;margin:0px auto;background: #212121;color: #fff;}
.rootCon .tit{margin-bottom: 15px;text-align: center;font-size: 24px;font-weight: bold;color: #fff; height:30px; line-height:30px;}
.rootCon .bg{margin-bottom: 18px;background: url(../images/rootBg.png) no-repeat top center;height: 38px;}
.rootCon p{line-height: 24px;text-align: center;font-size: 14px;height: 48px;overflow: hidden;color: #fff;}
/*bgYellow*/
.bgYellow{background: #ffd619;padding:27px 0;}
.p1-2{margin: 0 auto;width:900px; margin:0px auto;}
.p1-2 li{padding:25px 0;color: #555; float:left; width:900px;}
.bg2{padding:25px 0;color: #555; float:left;background-color:#f9f9f9; width:900px;}
.p1-2 li .fl{margin-top:10px;width:248px;font-size: 18px;font-weight: bold;text-align: center; float:left;}
.p1-2 li .wordCon{float: left;width:589px;}
.p1-2 li .wordCon .cn{font-size: 16px;}
.p1-2 li .wordCon p{margin-top: 3px;text-transform:uppercase;line-height: 18px;color: #b4b4b4;}

.p1{ width:1200px; height:auto; margin:0px auto;}
.p1 li{position: relative;margin-bottom: 77px;height: 360px; width:1200px; float:left;}
.p1 li .boxL{width:570px;height:334px; background:url(../images/ul_libg.gif) no-repeat left top;padding-top:24px;padding-left:24px;}
.p1 li .boxL .pic{position: relative;z-index:2;width:570px;height:334px;background-repeat: no-repeat;  }
.p1 li .boxR{width:442px;text-align: left;height:358px;overflow: hidden; padding:0px 40px;}
.p1 li .boxR .tit{float: left;padding-bottom: 22px; border-bottom:1px solid #b0b0b0;width:auto; display:block; width:178px;}
.p1 li .boxR .tit h2{ float:left;font-size:20px;color: #333;display:block;height: 20px; line-height:20px;}
.p1 li .boxR .tit .bg{display:block;margin:0px 4px 0px 2px;background:url(../images/EnBg.png) no-repeat;width:16px;height:20px;font-size:14px; line-height:15px; float:left;color:#fff;text-align: center; vertical-align: text-bottom;text-transform: uppercase; float:left;}
.p1 li .boxR .tit .en{font-size: 14px; text-transform:uppercase; float:left; display:block;height: 20px; line-height:20px;}
.p1 li .boxR .fl{margin:20px 0px;font-size: 14px;color: #444;font-weight: bold; display:inline-block; float:left;width:435px;}
.p1 li .boxR .wordCon{height:260px;overflow: auto;width:435px; float:left; margin:0px; padding:0px; padding-right:15px; padding-bottom:10px; margin-top:10px;}
.p1 li .boxR .wordCon p{margin-bottom: 24px;line-height: 24px;font-size: 12px;color: #777;width:420px; margin:0px; padding:0px;}
/*p3*/
ul.p3{margin:0 auto;width:996px;}
ul.p3 li{width: 100%;padding-bottom: 50px;height: 325px;margin-bottom: 50px;border-bottom: 1px solid #c4c4c4;}
ul.p3 li .pic{position: relative;float: left;background-repeat: no-repeat;height:325px;width:577px; }
ul.p3 li .pic a{display: block;width:auto;height:325px;}
ul.p3 li .word{float: left;width:318px;padding:0px 48px;}
ul.p3 li .word .tit{margin: 30px 0 15px;font-size: 18px;color: #212121;font-weight: bold;}
ul.p3 li .word p{overflow: hidden;margin-bottom: 36px;height: 165px;line-height: 33px;color: #555;}
ul.p3 li .word p span.f1{font-weight: bold;}
ul.p3 li .word a.more{display:block;width: 108px;height: 30px;line-height: 30px;text-align: center;border-radius:2px;color: #555;border:1px solid #555555;}
ul.p3 li .word a.more:hover{filter:alpha(opacity=80);-moz-opacity:0.8;-khtml-opacity: 0.8;opacity: 0.8; cursor:pointer;}
/*page*/
.page{margin:30px auto;text-align: center; width:900px;}
.page a{margin:0 3px;display: inline-block; border:1px solid #000000;width: 38px;height: 38px;text-align: center;line-height: 38px;color: #212121; font-size:13px;}
.page a.pre{}
.page a.next{}
.page a:hover{background: #ffd619;}







/*nyCon*/
.singleCon{margin-bottom:65px;border:1px solid #dfdfdf;width:1010px;padding:30px 50px;}
.singleCon h4{text-align: center;color: #444;font-size:28px; height:37px; line-height:37px;}
.singleCon .tip{ margin:0px auto; width:460px;margin-bottom:30px;margin-top: 13px; height:20px; line-height:20px;}
.singleCon .tip span{ display:block;text-align: center;font-size: 14px;color: #999; height:20px; line-height:20px; float:left; margin:0px 8px;}
.singleCon p{font-size:14px;color: #777;line-height:26px;margin-bottom:10px;text-indent: 2em;}
.singleCon .singleBtn{margin-top:40px;text-align: center; margin-bottom:10px;}
.singleCon .singleBtn a{margin:0px 4px;padding:10px 28px;text-align: center;border:1px solid #acacac;color: #acacac;font-size: 14px;}


/*产品中心 start*/
.products{width:1200px; margin:0px auto; margin-bottom:30px; }
.products dl{ width:342px; height:auto; float:left; margin:10px 29px; overflow:hidden;}
.products dl dt{ width:342px; height:auto; float:left;}
.products dl dt a{ border:1px solid #ffd619;width:340px; height:auto; float:left;}
.products dl dd{ display:block; width:340px; height:auto; float:left;}
.products dl dd h2{ width:100%; display:inline-block; float:left; font-weight:300;argin-bottom:8px;font-size:22px;line-height: 36px; color:#212121; text-align:center;}
.products dl dd h2 a{width:100%; display:inline-block; float:left; font-weight:300;argin-bottom:8px;font-size:22px;line-height: 36px; color:#212121; text-align:center;}

.products2{width:1198px; margin:0px auto; margin-bottom:60px;border: 1px solid #bfbfbf; height:490px;}

.flexslider{position:relative;width:1198px;height:490px;overfl ow:hidden;zoom:1;}
.flex-viewport{max-height:2000px;-webkit-transition:all 1s ease;-moz-transition:all 1s ease;transition:all 1s ease;}
.flexslider .slides{zoom:1; height:470px; overflow:hidden;}
.flex-direction-nav a{width:60px;height:90px;line-height:99em;overflow:hidden;margin:-60px 0 0;display:block;background:url(../images/ad_ctr.png) no-repeat;position:absolute;top:50%;z-index:10;cursor:pointer;opacity:0;filter:alpha(opacity=0);-webkit-transition:all .3s ease;}
.flex-direction-nav .flex-next{background-position:0 -90px;right:0;}
.flex-direction-nav .flex-prev{left:0;}
.flexslider:hover .flex-next{opacity:0.8;filter:alpha(opacity=25);}
.flexslider:hover .flex-prev{opacity:0.8;filter:alpha(opacity=25);}
.flex-control-nav{width:100%;position:absolute;top:485px;text-align:center;}
.flex-control-nav li{margin:0 5px;display:inline-block;zoom:1;*display:inline;}
.flex-control-paging li a{background:url(../images/dot.png) no-repeat 0 -16px;display:block;height:16px;overflow:hidden;text-indent:-99em;width:16px;cursor:pointer;}
.flex-control-paging li a.flex-active{background-position:0 0;}


.proImg{ display:block; width:816px; height:600px; margin:10px auto 15px auto;}


.tbHire{ width:1010px; height:auto; margin:0px auto;border:1px solid #dfdfdf;padding:30px 50px; overflow:hidden;}
.tbHire li{ float:left;width:1010px; height:42px; line-height:42px; margin:3px 0px;}
.zhaopin,.hireTit{ background-color:#f5c400; width:1010px; height:42px; line-height:42px; float:left;}
.td1{ width:242px;}
.td2{width:152px;}
.td5{width:202px;}
.td4{ width:102px;}
.td3{ width:110px;}
.td6{ width:202px;}
.td1,.td2,.td3,.td4,.td5,.td6{ float:left; text-align:center;height:42px; line-height:42px;}
.td1 a,.td6 a{ display:block; width:100%; height:42px; line-height:42px; color:#0eb3e2;}
.td1 a{ color:#000;}
.td1 a:hover,.td6 a:hover{color:#0eb3e2;}
h2.hireTit{ font-size:16px; font-weight:900; text-indent:2em; color:#000;}
.hireMain{margin-top: 30px;margin-bottom: 30px;margin-left: 32px;}
.hireMain .fl{ text-indent:0;margin-right: 170px;line-height: 30px;font-size: 14px;color: #555; width:300px;}
.hireCon{padding-left: 32px;}
.hireCon p{ text-indent:0;margin-bottom: 30px;line-height: 30px;font-size: 14px;color: #555;}
.hireCon p span{ color:#000000;	}
.hireMain{margin-top: 30px;margin-bottom: 30px;margin-left: 32px;}
.hireCon h3{text-align:left;font-size: 18px;color: #000;font-weight: normal; height:30px; line-height:30px;}
.hireCon h4{text-align:left;font-size: 14px;color: #000;font-weight: normal; height:40px; line-height:40px; font-weight:900;}
.hireSubmit{display:block;background:url(../images/shenqing.jpg) no-repeat;width:121px; height:37px;}



ul.p7{width:805px; margin:0px auto;}
ul.p7 li{position: relative;width:100%;margin-bottom: 40px;padding:40px 0; height:auto; overflow:hidden; }
ul.p7 li .fl{margin-top: 25px;margin-left:40px; width:125px; float:left;}
ul.p7 li .fl .cn{font-size: 26px; height:35px; line-height:35px;}
ul.p7 li .fl .en{font-size: 10px;text-transform: uppercase; height:17px; line-height:17px;}
ul.p7 li p{overflow: hidden; width:284px;height: 100px;margin-left:92px;float: left;font-size: 14px;line-height: 100px; float:left;}
ul.p7 li .icon{float: right;margin-right:55px; width:100px; height:100px;}
.p7 li.li01,.p7 li.li03{background-color: rgb(245, 245, 245);}
.p7 li.li02{background-color: rgb(77, 77, 77);}
ul.p7 li.li01 p{font-size: 26px;font-weight: bold;}
ul.p7 li.li02 p{font-size:18px;font-weight: bold; color:#fff;}
ul.p7 li.li02 .fl .cn{font-size: 26px; height:35px; line-height:35px; color:#fff;}
ul.p7 li.li02 .fl .en{font-size: 10px;text-transform: uppercase; height:17px; line-height:17px;color:#fff;}

.bgMap{ width:805px; margin:0px auto; margin-bottom:90px;}
