.header{width:100%;background:#fff;position:absolute;left:0;top:0;z-index:999;}
.logo{position:absolute;left:0;top:0;display:block;width: 18%;}
.nav{float:left;margin-left:18%;}
.nav ul li{float:left;text-align:center;}
.nav ul li a{display:block;font-size:16px;border-bottom:2px solid transparent;padding:20px 14px;position:relative;}
.nav ul li:hover a,.nav ul li.cur a {border-bottom:2px solid #f58220;}
.phone{width:auto;float:right;font-size:20px;color:#025fac;background:url("../images/phone.png") left center no-repeat;padding-left:40px;margin-right:30px;position:relative;top:20px ; font-family: 'HelveticaNeueLTProXBlkCn';}
.phone::after{width:2px;background:#f3f3f3;height:63px;content:"";position:absolute;left:-30px;top:-20px;-moz-transform:rotate(15deg);-webkit-transform:rotate(15deg);
-o-transform:rotate(15deg);transform:rotate(15deg); }

.content{width:1200px;margin:0 auto;}

/* 头部下拉部分 */
.navigation-down {position: absolute;top:43px;left: 0px;width: 100%;z-index:99;}
.nav-down-menu {width: 100%;margin:0;background:url("../images/bj1.png");position: absolute;top: 0px;padding:40px 0 60px 0;border-top:1px solid #ededed;display:none;z-index: 999;}
.meun_con{width:100%;position:relative;}
.video_left{width:284px;height:200px;float:left;}
.video_left a{width:100%;display:block;position:relative;}
.video_left a i{width:60px;height:60px;position:absolute;left:50%;top:50%;z-index:99;background:url("../images/play.png")center center no-repeat;margin:-30px 0 0 -30px;display:block;}
.meun_con_nav{float:left;margin-left:50px;}
.meun_con_nav dl{float:left;padding:0 50px;}
.meun_con_nav dl+dl{border-left:1px solid #e0e7e9;}
.meun_con_nav dl dt{font-size:18px;line-height:24px;margin-bottom:18px;color:#333;}
.meun_con_nav dl dd{margin-bottom:8px;}
.meun_con_nav dl dd a{display:block;font-size:14px;color:#333;}
.meun_con_nav dl dd a:hover{color:#f58220;}
.about{margin-left: 12%;}
.product{margin-left: 20%;}
.new{margin-left: 25%;}
.popVideoBj{position: fixed;left: 0;right: 0;top: 0;bottom: 0;z-index: 900;background: #000;display: none;}
.popVideo{position: fixed;width: 900px;height: 506px;top: 50%;left: 50%;z-index: 901;display: none;margin: -253px 0 0 -450px;}
.popVideo iframe{width: 100%;height: 100%;}
.popVideoClose{position:fixed;right: 20px;top: 20px;z-index: 902;background: url("../images/close.png") center center no-repeat;width: 60px;height: 60px;}
.popVideoClose:hover{ transform:rotate(180deg);-ms-transform:rotate(180deg);/* IE 9 */-moz-transform:rotate(180deg); 	/* Firefox */-webkit-transform:rotate(180deg); -o-transform:rotate(180deg); }

.skewX{
	transform: skewX(-20deg);
    -ms-transform: skewX(-20deg);
    -moz-transform: skewX(-20deg);
    -webkit-transform: skewX(-20deg);
    -o-transform: skewX(-20deg);}
.skewX-recover {
    transform: skewX(20deg);
    -ms-transform: skewX(20deg);
    -moz-transform: skewX(20deg);
    -webkit-transform: skewX(20deg);
	-o-transform: skewX(20deg);}

.Copyright{height:50px;width:100%;background:#021328;line-height:50px;text-align:center;font-size:12px;color:#fff;}
.Copyright a{color:#fff;}
.container{width:100%;}
/* footer */
.footer{width:100%;background:url("../images/world_map.jpg") center center no-repeat;background-size: cover;}
.footer_top{width:100%;padding:50px 0;position:relative;}
.footer_nav{width:80%;float:left;}
.footer_nav dl{float:left;min-height:180px;width:20%;text-align: center;}
.footer_nav dl:last-child{text-align: left;}
.footer_nav dl dt{font-size:18px;line-height:24px;margin-bottom:10px;color:#fff;}
.footer_nav dl dd{margin-bottom:5px;}
.footer_nav dl dd a{display:block;font-size:14px;color:#fff;opacity:0.7;filter:alpha(opacity=70);}
.footer_nav dl dd a:hover{color:#fff;opacity:1;filter:alpha(opacity=100);}
.hot_line{margin-bottom:25px;}
.hot_line span{color:#fff;display:block;color:#d6d6d6;}
.hot_line span.big{font-family: 'HelveticaNeueLTProXBlkCn';font-size:24px;color:#fff;}



.erweima{width:20%;float:left;}
.erweima ul li{width:50%;float:right;text-align:center;padding: 0 10px;}
.erweima ul li p{color:#fff;line-height:36px;}
.copyright{width:100%;line-height:40px;background:#2c2927;}
.copyright span{color:#999;font-size:12px;}
.copyright a{color:#fff;}


/* 底部 */
.lang{height:38px;width:190px; margin:20px 0 0 16px;position:relative;background:url("../images/upDown.png") 168px -14px no-repeat #2c2927;cursor:pointer;}
.lang h5{height:38px;width:188px;border:1px solid #555251;text-indent:10px;font-size:12px;color:#fff;opacity:0.75;filter:alpha(opacity=75);position:relative;line-height:38px;}
.lang.current{background:url("../images/upDown.png") 168px 15px no-repeat;}
.lang_list{width:188px;border:1px solid #555251;position:absolute;left:0;bottom:37px;background:#373432;display:none;}
.lang_list ul li{height:36px;line-height:36px;text-indent:16px;width:100%;}
.lang_list ul li:last-child{border-bottom:none;}
.lang_list ul li a{font-size:12px;display:block;color:#fff;}
.lang_list ul li a:hover{background:#f58220;color:#fff;margin-left:-1px;clear:both;}

/*弹出*/
.be{background: #245269;width: 100%;height: auto;}
.reveal-modal { display: none;
top: 0px; left: 50%; 
margin-left: -300px;
 width: 700px; 
 position: fixed; 
 z-index: 9999; 
 padding: 10px 20px 34px; 
 -moz-border-radius: 5px;
 -webkit-border-radius: 5px;
 border-radius: 5px; 
 -moz-box-shadow: 0 0 10px rgba(0,0,0,.4);
 -webkit-box-shadow: 0 0 10px rgba(0,0,0,.4);
 -box-shadow: 0 0 10px rgba(0,0,0,.4); background-color: #FFF; }
 .reveal-modal .close-reveal-modal { font-size: 22px; line-height: 0.5; position: absolute; top: 8px; right: 11px; color: #333; text-shadow: 0 -1px 1px rbga(0,0,0,.6); font-weight: bold; cursor: pointer; 		}
 body { background-color: #F2F2F2; font-size:14px;}
 .send{margin-bottom: 20px;}
 .send i{color:red;margin-right：2px;font-style:normal;}
 .send p{border-left:3px solid #f00;padding-left:10px;margin-bottom: 10px;}
 .send ul{padding-left:20px;}
 .send li{display:inline-block;width:48%;margin-bottom:5px;}
 .send span{font-size:14px;color:#ccc;}
 .send em{font-style:normal;position:relative;top:-80px;}
.send b{padding: 0 14px;}

/* 右侧悬浮 */
.xuanfu_box{width:55px;background:#3b3b3b;position:fixed;right:0;top:45%;z-index:99;}
.xuanfu_box ul li{width:100%;height:55px;border-bottom:1px solid #4f4f4f;text-align:center;position:relative;}
.xuanfu_box ul li > a{display:block;height:55px;}
.xuanfu_box ul li:hover{background:#ed8730;}
.xuanfu_box ul li a span{display:block;width:22px;height:24px;position:absolute;background:url("../images/icon3.png") 0 0 no-repeat;}
.xuanfu_box ul li a span.icon1{background-position:0 0;left:17px;top:17px;}
.xuanfu_box ul li a span.icon2{background:url(../images/phone1.png);left:18px;top:16px;}
.xuanfu_box ul li a span.icon3{background-position:0 -120px;left:20px;top:19px;}
.xuanfu_box ul li a span.icon4{background-position:0 -172px;left:19px;top:21px;}
.xuanfu_box ul li a span.icon5{background:url(../images/zx.png);left:19px;top:15px;background-size:cover ;}
.xuanfu_box ul li:last-child{border-bottom:0;}
.xuanfu_left{padding:0 15px;height:55px;line-height:55px;background:#3b3b3b;position:absolute;right:85px;top:0;max-width:140px;white-space: nowrap;visibility: hidden;color:#fff;text-transform:lowercase;font-size:14px;}
.xuanfu_left i{width:0;height:0;border:6px solid transparent;border-left:6px solid #3b3b3b;position:absolute;right:-12px;top:50%;margin-top:-3px;}

.xuanfu_dingdan{width:345px;border-radius:6px;background:#fff;position:absolute;right:80px;top:0;height:116px; -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
-moz-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);visibility: hidden;}
.xuanfu_dingdan h3{width:100%;text-indent:20px;height:50px;line-height:50px;background:#3b3b3b;color:#fff;font-size:18px;text-align:left;border-radius:5px 5px 0 0;}
.enter_div1{height:64px;position:relative;width:100%;}
.enter_div1 b{font-size:14px;display:block;float:left;line-height:64px;}
.xuanfu-input{width:70%;background: none;border: 0;height: 64px;float: left;width: 70%;padding: 0 20px;font-size: 16px;}
.enter_div1 .submit{height:40px;width:60px;background:url("../images/r.png") center center no-repeat;border:0;float:right;margin-top:15px;position:relative;cursor:pointer;}
.enter_div1 em {width:1px;background:#b9bec2;height:34px;position:absolute;right:22%;top:20px;-moz-transform:rotate(15deg);-webkit-transform:rotate(15deg);
-o-transform:rotate(15deg);transform:rotate(15deg);display:block;}



.swiper-container {
  width: 100%;
  height: 250px;
  color: #fff;
  text-align: center;
}
.swiper-container img{
	height: 90%;
	width: 98%;
}

@media  screen (min-width:1670px) and (max-width:1920px ) {
	.reveal-modal {top:80px}
}
















