@charset "utf-8";
/* CSS Document */
/* 默认全局样式超链接样式 */
a {	color: #666666;	text-decoration: none;	outline: none; font-family: "Microsoft yahei";}
a:hover {	color: #097bc9;	text-decoration: underline;}

/* 全局样式 */
* {	 font-family: "Microsoft yahei";}
body {	margin: 0;	padding: 0;	font-size: 14px; color: #666666; background:#fff; font-family: "Microsoft yahei";}
div,span,form,img,ul,ol,li,dl,dt,dd {	margin: 0;	padding: 0;	border: 0;}
ul,h1,h2,h3,p {	padding: 0;	margin: 0;	list-style-type: none;	font-weight: normal;}
li,dl {	list-style-type: none;}
input,button,textarea,select {font: 100% Arial, '宋体';	outline: none;}
.clear {height: 0;	line-height: 0;	font-size: 0;clear: both;}

.quan{ width:1173px; margin:0 auto;}
/*效果 */
{filter: Alpha(Opacity=70);opacity: 0.7;}
{filter: Alpha(Opacity=90);opacity: 0.9;}
{border-radius:3px;}
{box-shadow: 0px 0px 2px 2px #f9f9f9;}
/*a img{transition: opacity 0.35s ease-in 0s;-webkit-transition: opacity 0.35s ease-in 0s;}
a:hover img {filter: Alpha(Opacity=60);opacity: 0.6;} */
.chengse{ color:#FC7D00;}
.lanse{ color:#1f9bd5;}


/*top*/
.top_bg{ height:91px; background:#1f9bd5; width:100%;}
.top{ width:1173px; margin:0 auto; z-index:99999; position:relative;}
.logo{ float:left; width:151px;}
.menu{ float:left; height:45px; padding-top:46px; width:767px; padding-left:20px;}
.menu li{ float:left; width:108px; text-align:center; font-size:14px;}
.menu li a{ color:#cee4f3; text-decoration:none;}
.menu li a:hover{ color:#fff; text-decoration:none;}
.menu li span a{ color:#fff; text-decoration:none;}

.sraech{ float:left; width:235px;}
.sraech dd{ float:left; line-height:40px; font-size:16px; color:#ffde00;}
.sraech dt{ float:right; line-height:40px ; color:#cee4f3;}
.sraech dt a{ text-decoration:none; margin:0 10px; color:#cee4f3;}
.sraech dt a:hover{ color:#fff;}
.sraech li{ float:left;}
.sraech li input{ float:left; width:185px; color:#333; background:#f0f0f0; height:36px; padding:0 5px; border:none;}
/*banner_bg
.banner_bg{ width:100%; height:477px;position:relative;}

.banner{ height:477px; margin:0 auto; position:relative; overflow:hidden; width:100%;}
.banner_dian{  height:30px; margin: 0 auto; position:absolute; bottom:0px;z-index: 5; }
.banner li.bg{width:100%;height:477px; background-position:center;background-repeat: no-repeat;display: none}
.banner_dian {text-align: right; width:1170px; float:left;}
.banner_dian a{ width:15px; cursor:pointer; height:15px; background: url(../images/dian_h.png) no-repeat; display:inline-block;font-size: 0px;line-height: 0px;margin:0 8px;}	
.banner_dian a.on,.banner_dian  a:hover{ background: url(../images/dian.png) no-repeat;}	
.banner li a{ display:block; width:100%; height:346px;}

*/

/*--焦点图--*/
.homePic{width:100%;position:relative; cursor:auto; float:left;}
.homePic img{ width:100%;}
.homePic li{ text-align:center;}
.homePic .hd{ height:20px; line-height:20px; bottom:10px; padding-left:70%; z-index:1; position:absolute;}
.homePic .hd li{ display:inline-block; width:12px; height:12px; -webkit-border-radius:50%; -moz-border-radius:50%; border-radius:50%; background:#fff;text-indent:-9999px; overflow:hidden; margin-right:6px;}
.homePic .hd li.on{ background:#ede326;}




/*con*/
.con_c{ width:1173px; margin:0 auto; height:285px; padding-top:20px; float:left;}
.con_c1{ width:326px; float:left;}
.con_c1 h2{ height:40px; color:#666666; font-size:22px;}
.con_c1 p{ line-height:22px; color:#666666; width:300px;}
.con_c1 ul{ padding-top:20px;}
.con_c1 li{ line-height:25px; background:url(../images/meiao_17.jpg) no-repeat left; padding-left:10px;}
.con_c1 li a{ color:#1f9bd5;}

.con_c2{ float:left; width:472px; padding-top:10px;}
.con_c3{ float:right;}
.con_c3 h2{ height:40px; color:#666666; font-size:22px; padding-left:5px;}
.con_c3 h2 a{ text-decoration:none;}

.con_bg{ height:420px; background:#f4f4f4; width:100%; float:left;}
.con_b{ width:1173px; margin:0 auto;}
.con_b li{ width:277px; float:left; padding-top:30px; padding-left:15px;}
.con_b1 a{ background:url(../images/meiao_24.jpg) no-repeat; width:277px; height:0; padding-top:339px; display:block; overflow:hidden}
.con_b1 a:hover{ background:url(../images/meiao_24h.jpg) no-repeat; display:block;}

.con_b2 a{ background:url(../images/meiao_25.jpg) no-repeat; width:277px; height:0; padding-top:339px; display:block; overflow:hidden}
.con_b2 a:hover{ background:url(../images/meiao_25h.jpg) no-repeat;  display:block;}

.con_b3 a{ background:url(../images/meiao_27.jpg) no-repeat; width:277px; height:0; padding-top:339px; display:block; overflow:hidden}
.con_b3 a:hover{ background:url(../images/meiao_27h.jpg) no-repeat; display:block;}

.con_b4 a{ background:url(../images/meiao_29.jpg) no-repeat; width:277px; height:0; padding-top:339px; display:block; overflow:hidden}
.con_b4 a:hover{ background:url(../images/meiao_29h.jpg) no-repeat; display:block;}


.con_r{ padding-top:20px; width:1173px; margin:0 auto; height:356px; float:left;}
.con_r1{ float:left; width:735px; height:195px; position:relative;}
.con_r1 h2{ height:70px; line-height:30px; color:#333333; font-size:22px;}
.banner2{ height:195px; margin:0 auto; position:relative; overflow:hidden; width:100%;}
.banner2 li.bg{width:100%;height:195px; background-position:center;background-repeat: no-repeat;display: none}
.banner_dian2 {position:absolute; bottom:0px;z-index: 5; text-align: center; background:url(../images/hei_02.png) repeat-x; height:24px; padding-top:15px; width:735px; float:left; background:}
.banner_dian2 a{ width:50px; cursor:pointer; height:10px; background: url(../images/rec2.jpg) no-repeat; display:inline-block;font-size: 0px;line-height: 0px;margin:0 5px;}	
.banner_dian2 a.on,.banner_dian2  a:hover{ background: url(../images/rec1.jpg) no-repeat;}	
.banner2 li a{ display:block; width:100%; height:346px;}

.con_r2{ width:375px; float:right;}
.con_r2_t{ height:47px; background:url(../images/foot_38.jpg) repeat-x;}
.con_r2_t li{ width:140px; text-align:center; line-height:47px; float:left; font-size:18px; color:#666666; cursor:pointer;}
.con_r2_t li.hover{ background:url(../images/foot_36.jpg) repeat-x; border-left:1px solid #ccc;}
.con_r2_t li a{ text-decoration:none;}
.con_r2cc{ float:left; width:375px;}

.con_r2c{ width:350px; padding-left:7px; float:left;}
.con_r2c li{ padding-top:20px;}
.con_r2c li span{ color:#999; line-height:22px; display:block;}
.con_r2c li b{ color:#666; font-weight:normal; line-height:22px; display:block; font-size:13px;}
.con_r2c li b a{ color:#366a9f;}
.con_r2c li strong{ color:#666; font-weight:normal; line-height:22px; display:block; padding-top:5px;}

.con_r2a{ padding-top:10px; float:right; width:52px; padding-right:20px;}
.con_r2a1 a{ background:url(../images/foot_46.jpg) no-repeat; width:26px; height:28px; display:block; float:left;}
.con_r2a1 a:hover{ background:url(../images/foot_45.jpg) no-repeat; }

.con_r2a2 a{ background:url(../images/foot_47.jpg) no-repeat; width:26px; height:28px; display:block; float:left;}
.con_r2a2 a:hover{ background:url(../images/foot_48.jpg) no-repeat;}

.hllqWrap{position:relative;height:220px;overflow:hidden;width:364px;}
.hllqWrap .hllqWrapUl{position:absolute;left:0px;top:0px;z-index:2;}


/*bottom*/
.bottom_bg{ height:230px; background:#363839; width:100%; float:left;}
.bottom{ width:1173px; margin:0 auto;}
.bottom ul{ width:1020px; border-right:1px dotted #ccc; display:block; min-height:190px; margin-top:20px; float:left;}
.bottom li{ float:left; width:200px;}
.bottom li b{ line-height:28px; height:40px; font-size:15px; color:#fff; display:block;}
.bottom li span{ line-height:21px; font-size:14px; background:url(../images/foot_64.jpg) no-repeat left; padding-left:10px; color:#fff; display:block;}
.bottom li span a{ color:#ccc; text-decoration:none;}
.bottom li span a:hover{ color:#fff; text-decoration:none;}

.bottom p{ padding-top:35px; width:103px; float:left; padding-left:45px;}
.bottom p b{ text-align:center; display:block;}
.bottom p span{ font-size:14px; color:#fff; line-height:30px; text-align:center; display:block;}


.foot_bg{ height:45px; background:#282a2b; width:100%; float:left;}
.foot{ width:1173px; margin:0 auto;}
.foot h2{ line-height:45px; color:#d8d8d8; font-size:14px; float:left;}
.foot p{ float:right;}



/*内页开始*/
.fc_bg{ width:1173px; margin:0 auto;}
.title{ height:145px; position:relative; width:1173px;}
.title_zuo{ position:absolute; left:-77px;}
.title h2{ color:#1f9bd5; font-size:30px; padding-top:38px;}
.title p{ color:#ccc; font-size:24px; font-style:oblique; padding-top:5px;}

.neiye{ width:1173px;}
.ny_left{ width:210px; float:left;}
.ny_menu{  border-top:2px solid #1f9bd5; margin-bottom:30px;}
.ny_menu li{ height:50px; border-bottom:1px solid #ccc; line-height:50px; padding-right:15px; padding-left:20px; }
.ny_menu li a{ background:url(../images/about_09.jpg) no-repeat right; display:block;text-decoration:none; color:#666;}
.ny_menu li a:hover{ background:url(../images/about_06.jpg) no-repeat right; color:#1f9bd5;}
.ny_menu li span a{ background:url(../images/about_06.jpg) no-repeat right; color:#1f9bd5;}
.ny_menu li b{ font-weight:normal; display: block; float:left; font-size:14px;}
.ny_menu li strong{ font-weight:normal; font-size:14px;}
.ny_left1{ height:50px; margin-bottom:20px;}
.ny_left2{ height:98px; margin-bottom:20px;}
.ny_left3{ width:208px; border:1px solid #e0e0e0; padding-bottom:20px; margin-bottom:20px;}
.ny_left3 h2{ background:#e0e0e0; height:50px; line-height:50px; color:#666; font-size:18px; padding-left:20px;}
.ny_left3 p{ padding-top:20px; text-align:center;}
.ny_left3 b{ font-size:14px; color:#666; line-height:30px; display:block; font-weight:normal; text-align:center;}

.ny_right{ width:903px; float:right; border-top:2px solid #1f9bd5; padding-bottom:50px;}
.ny_right1{ width:903px; float:left;}
.ny_right1 h2{ line-height:30px; color:#1f9bd5; font-size:18px; font-weight:bold; padding-top:20px;}
.ny_right1 p{ line-height:24px; padding-top:15px; color:#666666; font-size:14px; float:left; margin-right:20px;}

.ny_right2{ width:903px; float:left; padding-top:20px;}
.ny_right2 h2{ line-height:30px; color:#1f9bd5; font-size:18px; font-weight:bold; padding-top:10px; width:903px; float:left;}
.ny_right2 p{ line-height:24px; padding-top:20px; margin-right:30px;color:#666666; float:left; width:267px;}
.ny_right2 p b{ font-weight:normal; display:block; line-height:30px; font-size:14px;}




/*关于我们*/
.ab_right1{ height:auto; }
.ab_right2{ border-top:2px solid #ccc; float:left; width:903px; margin-top:30px;}
.ab_right2_t{ height:55px;}
.ab_right2_t h2{ float:left; line-height:55px; color:#1f9bd5; font-size:18px; font-weight: bold;}
.ab_right2_t dl{ float:right; width:40px; padding-top:20px;}
.ab_right2_t dd a{ background:url(../images/about_13.jpg) no-repeat; width:17px; height:17px; display:block; float:left;}
.ab_right2_t dd a:hover{ background:url(../images/about_14.jpg) no-repeat; width:17px; height:17px; display:block;}

.ab_right2_t dt a{ background:url(../images/about_16.jpg) no-repeat; width:17px; height:17px; display:block; float:left; margin-left:6px;}
.ab_right2_t dt a:hover{ background:url(../images/about_15.jpg) no-repeat; width:17px; height:17px; display:block;}

.ab_right2_c{ width:903px; overflow:hidden; height:130px;}
.ab_right2_c p{ float:left; margin-right:17px;}


.banner4{ height:auto; margin:0 auto; position:relative; overflow:hidden; width:100%;}
.banner4 li.bg{width:100%;height:240px; background-position:center;background-repeat: no-repeat;display: none}
.banner_dian4 {position:absolute; bottom:0px;z-index: 5; text-align: center; height:24px; bottom:30px; padding-top:15px; width:770px; text-align:right;  float:left;}
.banner_dian4 a{ width:30px; cursor:pointer; height:5px; background:#e7e7e7; display:inline-block;font-size: 0px;line-height: 0px;margin:0 5px;}	
.banner_dian4 a.on,.banner_dian4  a:hover{ background:#fff;}	
.banner4 li a{ display:block; width:100%; height:346px;}



.lawyers{ width:903px;}
.lawyers p{ float:left; width:287px; padding-top:20px; margin-right:14px;}
.lawyers p b{ display:block; line-height:30px; text-align:center; font-size:14px; font-weight:normal;}

.cooperation1{ width:903px; padding-top:30px; float:left;}
.cooperation1 h2{ font-size:18px; color:#1f9bd5; line-height:30px;}
.cooperation1 li{ width:287ppx; height:200px; margin-right:14px; float:left; padding-top:10px;}
.cooperation1 li p{ text-align:center; line-height:25px; font-size:14px;}

.right_a{ width:150px; height:40px; line-height:40px; text-align:center; background:#f59600; float:left; margin-top:30px; font-size:14px;}
.right_a a{ color:#fff;}

.family1{ width:903px; float:left; padding-top:20px;}
.family1 h2{ width:903px; line-height:30px; font-size:18px; color:#1f9bd5;}
.family2{ width:903px; background:#f59600; margin-top:20px; float:left;}
.family2 p{ padding:20px; line-height:24px; font-size:14px; color:#fff;}

.family3{ width:903px; margin-top:20px; float:left;}
.family3 p{ float:left; width:206px; margin-right:26px;}
.family3 p b{ font-weight:normal; text-align:center; line-height:30px; text-align:center; display:block;  font-size:14px;}

.banner3{ height:240px; margin:0 auto; position:relative; overflow:hidden; width:100%; margin-top:8px;}
.banner3 li.bg{width:100%;height:240px; background-position:center;background-repeat: no-repeat;display: none}
.banner_dian3 {position:absolute; bottom:0px;z-index: 5; text-align: center; height:24px; padding-top:15px; width:100%; float:left; text-align:right; width:860px;}
.banner_dian3 a{ width:14px; cursor:pointer; height:14px; background: url(../images/dian_h.png) no-repeat; display:inline-block;font-size: 0px;line-height: 0px;margin:0 5px;}	
.banner_dian3 a.on,.banner_dian3  a:hover{ background: url(../images/dian.png) no-repeat;}	
.banner3 li a{ display:block; width:100%; height:346px;}


/*精英移民*/
.elite{ border-top:2px solid #1f9bd5; padding-bottom:50px; float:left; width:1173px;}
.elite_c1{ padding-top:10px; float:left;}
.elite_c1 h2{ font-size:18px; color:#1f9bd5; line-height:40px;}
.elite_c1c{ background:#f9f9f9; height:180px; width:1173px;}
.elite_c1c p{ float:left;}
.elite_c1c ul{ margin-top:10px; min-height:125px; padding-top:10px; float:left; width:405px; border-right:1px solid #e7e7e7; padding-left:75px;}
.elite_c1c li{ line-height:36px; float:left; width:200px; font-size:14px;}
.elite_c1c1 li{ line-height:36px; float:left; width:400px; font-size:14px;}
.elite_c1c li a{ color:#f59600; text-decoration:none;}
.elite_c1c li a:hover{ color:#1f9bd5; text-decoration:none;}
.elite_c1c dl{ padding-left:30px; float:left; padding-top:20px; width:315px;}
.elite_c1c dd{ font-size:14px; line-height:30px; color:#1f9bd5;}
.elite_c1c dt b{ font-weight:normal; font-size:14px; width:147px; float:left; line-height:30px;}

.elite_c2{ padding-top:20px; float:left; width:1173px;}
.elite_c2c{ float:left; width:351px; margin-right:60px;}
.elite_c2c2{ margin-right:0;}
.elite_c2c h2{ font-size:18px; color:#1f9bd5; line-height:40px;}
.elite_c2c li{ background:#f9f9f9; height:217px;}
.elite_c2c li dd{ padding:15px; line-height:20px;}
.elite_c2c li dd a{ color:#1f9bd5; margin-left:10px;}
.elite_c2c li dt{ padding-left:10px;}
.elite_c2c li dt b{ display:block; margin-right:25px; float:left; font-weight:normal;}
.elite_c2c li dt b a{ color:#f59600;}

.elite_c3{ padding-top:30px; float:left; width:1173px;}

.elite_c4{ border-top:2px solid #e0e0e0; width:1173px; float:left; margin-top:30px;}

.elite_c4_t{ height:55px;}
.elite_c4_t h2{ float:left; }
.elite_c4_t h2 b{line-height:22px; color:#1f9bd5; font-size:18px; padding-top:10px; font-weight:normal;  display:block;}
.elite_c4_t h2 span{line-height:22px; color:#666; font-size:14px; display:block;}

.elite_c4_t dl{ float:right; width:40px; padding-top:30px;}
.elite_c4_t dd a{ background:url(../images/about_13.jpg) no-repeat; width:17px; height:17px; display:block; float:left;}
.elite_c4_t dd a:hover{ background:url(../images/about_14.jpg) no-repeat; width:17px; height:17px; display:block;}
.elite_c4_t dt a{ background:url(../images/about_16.jpg) no-repeat; width:17px; height:17px; display:block; float:left; margin-left:6px;}
.elite_c4_t dt a:hover{ background:url(../images/about_15.jpg) no-repeat; width:17px; height:17px; display:block;}
.elite_c4_t p{ float:right; padding-top:30px;}

.elite_c4c{ padding-top:20px;}
.elite_c41{ float:left; width:553px;}
.elite_c41 h2{ line-height:40px; color:#666; font-size:14px;}
.elite_c41 b{ font-weight:normal; line-height:22px; color:#999;}
.elite_c42{ float:right;}

.elite_c5{ width:1173px; float:left;}
.elite_c5a1{ color:#666; margin-right:9px; margin-top:10px; margin-bottom:10px; float:left; width:380px; height:100px; border:1px solid #ededed;}
.elite_c5a2{ margin-right:0;}
.elite_c5a1 h2{ width:123px; min-height:80px; margin-top:10px; border-right:1px solid #f1f1f1; text-align:center; line-height:80px; font-size:36px; float:left;}
.elite_c5a1 p{ padding-top:10px; padding-left:22px; line-height:20px; float:left; width:230px;}
.elite_c5a1:hover{ background:#f59600; color:#fff;}

.elite_c5a1 h2:hover a{ color:#fff; display:block;}

.colom_c1{ width:903px; padding-top:20px; float:left;}
.colom_c1 p{ line-height:24px; font-size:14px;}

.colom_c2{ padding-top:20px; float:left; width:903px;}
.colom_c2 h2{ width:903px; font-size:14px; color:#f89e00; line-height:35px;}
.colom_c2 dd{ float:left;}
.colom_c2 dt{ float:left; width:560px; padding-left:20px;}
.colom_c2 dt b{ font-weight: normal; font-size:14px; line-height:24px; color:#666; padding-top:20px; display:block;}

.colom_c3{ padding-top:20px; float:left; width:903px;}
.colom_c3 h2{ width:903px; font-size:14px; color:#f89e00; line-height:35px;}
.colom_c3 p{ background:url(../images/eliteu_10.jpg) no-repeat left; padding-left:10px; line-height:24px;}




/*离岸金融*/
.finance1{ float:left; padding-top:20px; width:903px;}
.finance1 h2{ line-height:30px; color:#1f9bd5; font-size:14px; width:903px;}
.finance1 p{ text-align:center;}
.finance1 p b{ font-weight:normal; line-height:30px; font-size:14px;}
.finance1 p b span{ font-size:14px;}

.finance2{ float:left; padding-top:20px; width:903px;}
.finance2 h2{ line-height:30px; color:#1f9bd5; font-size:14px; width:903px;}
.finance2 p{ float:left; width:282px; margin-right:28px; margin-top:5px;}
.finance2 p b{ font-weight:normal; text-align:center; display:block; line-height:30px; font-size:14px;}


/*联系我们*/
.contact1{ padding-top:20px; float:left; width:903px; border-bottom:1px dotted #e7e7e7; padding-bottom:20px;}
.contact1 p{ float:left; margin-right:20px;}
.contact1 dl{ background:url(../images/contact_07.jpg) no-repeat bottom left; padding-bottom:10px; float:left;}
.contact1 dd{ font-size:18px; color:#f59600; line-height:40px;}
.contact1 dt{ line-height:24px; font-size:14px;}


.contact2{ padding-top:20px; width:903px; float:left;}
.contact2 h2 b{ font-weight:normal; line-height:30px; display:block; font-size:25px; color:#1f9bd5}
.contact2 h2 span{ font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#1f9bd5; line-height:22px; display:block;}
.contact2 h3{ line-height:30px; padding-top:20px; color:#333; font-size:16px;}
.contact2 li{ padding-top:20px; float:left; width:450px;}
.contact2 li span{ width:80px; float:left; display:block; font-size:14px; color:#666; text-align:right; line-height:26px;}
.contact2 li select{ width:270px; height:26px; line-height:26px; color:#999;}
.contact2 li input{ width:260px; height:26px; border:1px solid #cccccc; line-height:26px; color:#999; padding:0 5px;}
.contact2 li textarea{ width:750px; height:100px; border:1px solid #cccccc; line-height:26px; color:#999; padding:0 5px;}

.contact2 p{ float:right; width:140px; background:#f59600; height:42px; line-height:42px; text-align:center; font-size:18px; margin-top:20px; margin-right:60px;}
.contact2 p a{ color:#fff; text-decoration:none;}


/*名校直达*/
.direct{ padding-top:20px; width:903px; float:left;}
.direct h2{ color:#666666; font-size:18px; line-height:30px; width:903px; float:left;}
.direct p{ float:left; width:267px; margin-right:32px; margin-top:10px;}
.direct p b{ font-size:14px; display:block; line-height:30px; text-align:center; font-weight:normal;}

.video{ width:903px; float:left;}
.video1{ float:left; padding-top:20px; width:439px;}
.video2{ float:right;}
.video1 b{ font-weight:normal; line-height:30px; font-size:14px;}




/*news*/
.news{ width:903px; float:left;}
.news dl{ border-bottom:1px dotted #999; padding-bottom:20px; padding-top:20px; width:903px; float:left;}
.news dd{ float:left; width:90px; height:90px;}
.news dt{ float:left; padding-left:20px; width:790px;}
.news dt h2{ font-size:14px; line-height:28px;}
.news dt span{ font-size:14px; display:block; line-height:22px; color:#999;}
.news dt b{ font-weight:normal; font-size:14px; display:block; line-height:22px; color:#666;}
.news_fy{ float:left; padding-top:30px;}
.news_fy li{ float:left; width:35px; height:35px; margin-right:10px; line-height:35px; text-align:center;}
.news_fy li a{ display:block; color:#848484; text-decoration:none; border:1px solid #dfdfdf;}
.news_fy li a:hover{ display:block; color:#d6000f; text-decoration:none; border:1px solid #d6000f;}

.news_c{ float:left;}
.news_c h2{ font-size:18px; color:#1f9bd5; padding-top:20px; line-height:30px;}
.news_c p{ padding-top:15px; line-height:24px; color:#666; font-size:14px;}
.news_c ul{ margin-top:20px; border-top:1px dotted #ccc;}
.news_c li{ float:left; margin-left:60px; padding-top:20px; line-height:30px;}







 