/* CSS Document */

*{ margin:0; padding:0;}
a{ text-decoration:none;}
a{blr:expression(this.onFocus=this.blur());outline:none;}
a:hover{ color:#cc0001;}
fieldset,img{border:0;}
ol,ul{ list-style-type:none;}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}
em,i,stong{ font-style:normal; font-weight:normal;}
.cl{clear: both;content: " "; display: block;overflow: hidden;}
.fl{float:left;}
.fr{float:right;}
.ov{ overflow:hidden; zoom:1;}
.elp{display:block;white-space:nowrap; overflow:hidden; text-overflow:ellipsis; }
body{ font-family:"微软雅黑"; font-size:12px; color:#666; background:#f2f2f3;}

.font{font-family:"微软雅黑"; font-size:14px;}
.wid{width:100%; overflow:hiddenl}
.w{ width:1000px; margin:0 auto;}
.mt10{ margin-top:10px;} 
.price{ color:#E4393C; font-size:15px; font-family:Verdana;}

.top{ position:absolute; top:20px; z-index:9999}
.top1{ width:1000px; margin:0 auto; overflow:hidden;}
.logo{ width:151px; height:43px; float:left; background:url(../images/logo.png) no-repeat;}
.logo h1 a{ font-size:36px; text-indent:-9999px; display:block;}


.box{height:43px; width:810px;float:right;}
#nav-menu{ height:43px; background:url(../images/2.png) no-repeat; width:810px;float:right;}
#nav-menu .container{position:relative;overflow:visible; z-index:99;}
#nav-menu .menu li{position:relative;width:101px; float:left; text-align:center; line-height:43px; margin-left:10px; z-index:11100000000;}
#nav-menu .menu li h3{color:#FFF; font-size:14px; width:101px;}
#nav-menu .menu li h3:hover{background:url(../images/3.png) no-repeat;}
#nav-menu .menu li a.xialaguang{margin-top:10px;display:inline-block;color:#FFF;height:30px;text-decoration:none;font-size:14px;width:100px;text-align:center;}
#nav-menu .menu li a.selected,#nav-menu .menu li a.navhover,#nav-menu .menu li a.xialaguang:hover{}
#nav-menu .menu li a.navhover, #nav-menu .menu li a.xialaguang:hover{}
#nav-menu .menu li a.xialaguang span{height:30px;line-height:25px;display:inline-block;font-weight:bold;}
#nav-menu .menu li a.selected span,#nav-menu .menu li a.navhover span,#nav-menu .menu li a.xialaguang:hover span{cursor:pointer;}
#nav-menu .menu li a.navhover span, #nav-menu .menu li a.xialaguang:hover span{width:100px;}
#nav-menu .menu ul.children{display:none;position:absolute;top:40px;left:3px;width:101px;background:#e853df; border-radius:4px; line-height:normal;}
#nav-menu .menu ul.children li{width:70px;font-size:12px;border-bottom:1px dashed #fff; padding:0 5px;}
#nav-menu .menu ul.children li h3{display:block; width:100%;}
#nav-menu .menu ul.children li a{height:25px;line-height:25px;overflow:hidden;padding:3px 0;display:block;color:#fff;text-align:center;
text-decoration:none; font-size:12px;}
#nav-menu .menu ul.children li a:hover{background-color:#ad05a6;text-decoration:none; width:70px; display:block;}


/*.nav{ width:810px; float:right; height:43px; background:url(../images/2.png) no-repeat;}
.nav ul li{ width:101px; height:43px; float:left; text-align:center; line-height:43px; margin-left:10px;}
.nav ul li a{ color:#FFF; font-size:14px;}
.nav ul li:hover{ background:url(../images/3.png) no-repeat;}
.nav ul li.li1{background:url(../images/3.png) no-repeat;}*/



.banner-box{height:600px;position:relative;overflow:hidden;}
.banner-box .bd{ width:100% !important;}
.banner-box .bd li .m-width {width:100%;margin:0 auto;overflow:hidden;}
.banner-box .bd li{width:100% !important;height:600px;}
.banner-box .bd li a{display:block;background-size:auto;}

.banner-btn{width:1210px;position:absolute;top:200px;left:50%;margin-left:-605px;}
.banner-btn a{display:block;width:49px;height:104px;position:absolute;top:0;filter:alpha(opacity=40);-moz-opacity:0.4;-khtml-opacity:0.4;opacity:0.4;}
.banner-btn a.prev{left:20px;background:url(../images/foot.png) no-repeat 0 0;} 
.banner-btn a.next{right:20px;background:url(../images/foot.png) no-repeat -49px 0;}

.banner-box .hd {position:absolute;top:280px;left:537px;}
.banner-box .hd ul li{width:12px;height:12px;border-radius :50%;text-indent:-9999px;margin-right:20px;background:#ccc;float:left;cursor:pointer;}
.banner-box .hd ul li.on{background:#DA324D;}




.main{width:100%; background:url(../images/mainbg.png) no-repeat center top; overflow:hidden;  height:183px; margin-top:-100px; clear:both; position:relative; z-index:10000;}
.manmm{width:1000px; margin:10px auto 0; overflow:hidden;}
.v2_ilike{width:280px; padding-right:35px; background:url(../images/imgdf_12.jpg) no-repeat right 50px; float:left;}
.v2_ititle{height:39px; width:274px; line-height:40px;}
.v2_ihz{ padding-top:15px;}
.v2_ihz,.v2_icontent_list dl dd,.mainzzm dl dd{float:left;font-size:14px; font-weight:bold; color:#560d59;}
.v2_ihz em{color:#c6acc6; font-size:10px}
.v2_ibox{float:right;width:40px; height:10px;}
.v2_ibox a{margin-top:35px;}
.v2_ibox a.v2_ib_btn{float:left;display:block;width:8px;height:8px; border-radius:4px; background: #fb7cf2;margin-left: 3px;}
.v2_ibox a.on{background: #bc06b6;}
.v2_icontent_boxs{width:274px;height:193px;overflow: hidden;position: relative;}
.v2_icontent_box{position:absolute;width:2000px;}
.v2_icontent_list{width:274px; float:left;height:193px; text-align:center; line-height:25px;font-size:13px;}
.v2_icontent_list dl{width:274px; overflow:hidden;}
.v2_icontent_list dl dt{width:111px; height:84px; float:left; margin-right:10px; overflow:hidden;}
.v2_icontent_list dl dd h3 a,.mainzzm dl dd h3 a{color:#6c0d57; font-weight:bold;}
.v2_icontent_list dl dd{ width:153px; text-align:left; float:left; line-height:25px;}
.v2_icontent_list dl dd p,.mainzzm dl dd p {margin-top:5px;}
.v2_icontent_list dl dd p a ,.mainzzm dl dd p a{color:#65707c; font-size:12px;}

.mainzz{width:440px; background:url(../images/imgdf_12.jpg) no-repeat right 50px; overflow:hidden}
.mainzzm{width:350px!important; margin:16px auto 0 !important}
.dsf{width:350px !important; }
.dsf span a{width:50px; height:20px; background:#ddd2dd;  border-radius:5px; display:block; font-size:14px; font-weight:normal; color:#fff; text-align:center;  }
.mainzzm dl{ padding-top:10px; width:350px; overflow:hidden;}
.mainzzm dl dd p{line-height:25px;}

.mainzrm{width:200px; overflow:hidden; margin-top:16px;}
.sfa{width:200px !important;}
.mainzrm dl {padding-top:10px; width:200px; overflow:hidden;}
.mainzrm dl dd p{background:url(../images/imgdf_20.jpg) no-repeat; width:94px; height:31px; font-size:16px; text-align:center; line-height:31px; margin-top:5px;}
.mainzrm dl dd p a{color:#fff;}
.mainzrm dl dd {width:200px;}

.weixin{width:1000px; margin:-12px auto 0; background:url(../images/imgdf_26.jpg) no-repeat; width:1000px; height:29px; text-align:center; color:#fff; overflow:hidden}
.weixin a{color:#fff; line-height:29px; margin:0 10px;}

.main3{background:url(../images/imgdf_48.jpg) no-repeat center; overflow:hidden; height:209px;}
.huoban{background:url(../images/imgdf_33.jpg) repeat-x; height:116px; margin-top:30px;}
.huobanm a{margin:0 25px;}

.main3 p{text-align:center; margin-top:50px; font-weight:bold; color:#a4005c; overflow:hidden}
.di{width:277px; height:90px; margin:10px auto;}


.nybanner{ width:100%; height:483px; background:url(../images/ny1_01.jpg) no-repeat center 0;}
.nybanner2{ width:100%; height:483px; background:url(../images/ny20_01.jpg) no-repeat center 0;}
.nymian{ width:1000px; height:480px; background:url(../images/ny2.png) no-repeat; margin:0 auto; overflow:hidden; margin-top:-200px;}
.nymian h2{ width:900px; height:30px; line-height:30px; margin:0 auto; border-bottom:1px solid #CCC; padding-top:30px;}
.nymian h2 span{ float:right;}
.nymian h2 span a{ color:#666666;}
.nymian h2 span a:hover{color:#8808b2;}
.nymian h2 strong{ font-size:16px; color:#8808b2; border-bottom:1px solid #f3aaf9; padding-bottom:4px;}
.nymian_con{ width:900px; margin:0 auto; text-align:center; margin-top:40px;}
.table{ width:450px; height:50px; margin:20px auto 0;}
.input{ width:272px; height:49px; background:url(../images/ny4.png) no-repeat; line-height:49px; text-indent:10px; border:none;}
.input1{ width:96px; height:41px; background:url(../images/ny5.png) no-repeat; line-height:42px; text-align:center; border:none; font-size:14px;}
.nymian1{ width:1000px; margin:40px auto 0;}
.nymian1 h2{ width:900px; margin:0 auto; font-size:18px; color:#8808b2; line-height:40px; font-family:"微软雅黑"; font-weight:bold;}
.nymian1 h3{ width:900px; margin:0 auto; font-size:14px; color:#616161; line-height:30px;}
.nymian1_1{ width:900px; margin:10px auto;overflow:hidden;}
.nymian1_1_left{ width:461px; height:234px; float:left; background:url(../images/ny6.png) no-repeat; text-align:center; line-height:30px; font-size:16px; color:#76246d; font-weight:bold;}
.nymian1_1_left img{ margin-top:35px;}
.nymian1_1_right{ width:420px; float:right; display:inline; padding-top:60px;}
.nymian1_1_right strong{ font-size:16px; color:#76246d; font-weight:bold; line-height:35px;}
.nymian1_1_right p{ line-height:25px; font-size:14px; border-bottom:1px dashed #999; padding-bottom:10px;}
.nymian1_2{ width:900px; margin:20px auto; clear:both; overflow:hidden;}
.nymian1_2_left{float:left; width:420px; padding-top:40px;}
.nymian1_2_left strong{ font-size:16px; color:#76246d; font-weight:bold; line-height:35px;}
.nymian1_2_left p{ line-height:25px; font-size:14px; border-bottom:1px dashed #999; padding-bottom:10px;}
.nymian1_2_left em{ font-size:12px; margin-top:10px;}
.nymian1_2_right{ width:461px; height:234px; background:url(../images/ny6.png) no-repeat; float:right;}
.table1{ width:420px; margin:0 auto; margin-top:55px;}
.input2{ width:197px; height:33px; background:url(../images/ny4_06.jpg) no-repeat; line-height:33px; text-indent:10px; border:none;}
.input3{ width:70px; height:33px; background:url(../images/ny4_08.jpg) no-repeat; line-height:33px; text-align:center; border:none; font-size:14px;}
.nymian1_3{ width:900px; margin:0 auto;}
.nymian1_3 strong{ font-size:16px; color:#76246d; font-weight:bold; line-height:35px;}
.nymian1_3 p{ line-height:25px; font-size:14px; border-bottom:1px dashed #999; padding-bottom:10px;}
.nydi{background:url(../images/imgdf_48.jpg) no-repeat center; overflow:hidden; height:209px;}
.nydi_con{width:277px; height:90px; margin:0 auto;}


.nymian2{ width:1000px; height:480px; background:url(../images/ny2.png) no-repeat; margin:-200px auto 0; overflow:hidden;}
.nymian2 h2{ width:900px; height:30px; line-height:30px; margin:0 auto; border-bottom:1px solid #CCC; padding-top:30px;}
.nymian2 h2 span{ float:right;}
.nymian2 h2 span a{ color:#666666;}
.nymian2 h2 span a:hover{color:#8808b2;}
.nymian2 h2 strong{ font-size:16px; color:#8808b2; border-bottom:1px solid #f3aaf9; padding-bottom:4px;}
.nymian2_con{ width:900px; margin:0 auto; text-align:center; margin-top:40px;}
.table2{ width:520px; height:50px; margin:20px auto 0;}
.input4{ width:272px; height:49px; background:url(../images/ny4.png) no-repeat; line-height:49px; text-indent:10px; border:none;}
.input5{ width:96px; height:41px; background:url(../images/ny5.png) no-repeat; line-height:42px; text-align:center; border:none; font-size:14px;}


.neiyecp{ margin:-200px auto 0; width:948px;}
.neiyecpl{width:191px; background:#f7c1fc;     -moz-border-radius: 30px;-webkit-border-radius: 30px;   border-radius:30px;  }
.neiyecpl h2{height:55px; overflow:hidden;}
.neiyecpl h2 p{ height:100px; line-height:75px; font-size:16px; font-weight:600; background:#9800b3; color:#fff; padding-left:30px;  -moz-border-radius: 30px;-webkit-border-radius: 30px;   border-radius:30px; }
.neiyecpl ul li a{color:#fff; width:100px; height:25px; display:block; padding-left:14px; line-height:25px;}
.neiyecpl ul li a:hover{background:#d972ff;}
.neiyecpl ul{padding-bottom:20px;}
.neiyecpl ul li{padding-left:20px; margin-top:10px;}

.neiyecpr{width:766px; padding:0 20px 50px; margin-left:-49px; background:#fff;  -moz-border-radius: 30px;-webkit-border-radius: 30px;   border-radius:30px; 
 -webkit-box-shadow:0 0 10px rgba(0, 0, 0, .5);  
  -moz-box-shadow:0 0 10px rgba(0, 0, 0, .5);  
  box-shadow:0 0 10px rgba(0, 0, 0, .5);  

}
.neiyecpr h2{height:30px; border-bottom:1px #d9d9d9 solid; padding-top:25px; }
.neiyecpr h2 p{ font-size:18px; color:#8808b2;}
.neiyecpr h2 span a{color:#666666;}
.cpneye{ width:760px; margin:0 auto;}
.cpneye ul li{ width:200px; float:left; margin:0 25px; text-align:center; margin-top:20px;}
.news{ width:760px; margin:0 auto; padding-top:10px;}
.news ul li{ border-bottom:1px dashed #999; line-height:35px;}
.news ul li span{ float:right;}
.news ul li a{ color:#333;}
.suspend{width:25px;height:203px;position:fixed;top:200px;right:0;overflow:hidden;z-index:9999;}
.suspend dl{width:78px;height:203px;padding-left:25px;box-shadow:0 0 5px #e4e8ec; background:url(../images/qq.png);}
.suspend dl dt{width:25px;height:203px; background:url(../images/qq.png);position:absolute;top:0;left:0;cursor:pointer;}
.suspend dl dd.suspendQQ{width:66px;height:57px; padding-top: 38px;margin: 0 auto;}
.suspend dl dd.suspendQQ a{width:66px;height:57px;display:block;overflow:hidden;}
.suspend dl dd.suspendTel{width:66px;height:63px; padding-top:5px;margin: 0 auto;}
.suspend dl dd.suspendTel a{width:66px;height:63px;display:block; overflow:hidden;}
* html .suspend{position:absolute;left:expression(eval(document.documentElement.scrollRight));top:expression(eval(document.documentElement.scrollTop+200))}