/*dede58.com 做最好的织梦整站模板下载网站*/
/*---------------------------------------------------------通用样式----------------------------------------------- */
* { margin: 0; padding: 0; }
* html body { overflow: visible; }
* html iframe, * html frame { overflow: auto; }
* html frameset { overflow: hidden; }
body { color: #666; background: #FFF; font-family: ËÎÌå; font-size: 14px; overflow-x: hidden; overflow-y: auto; }
body div { text-align: left; }
textarea, input { word-wrap: break-word; word-break: break-all; }
ul, ol { list-style: none; }
li { list-style-type: none; }
img { border: 0 none; }
a { text-decoration: none; outline: none; color: #666; star: expression(this.onFocus=this.blur()); }
a:link { color: #666; }
a:visited { color: #666; }
a:hover { text-decoration: none; color: #42972b; }
a:active { text-decoration: none; color: #666; }
h1 { font-size: 24px; }
h2 { font-size: 22px; }
h3 { font-size: 20px; }
h4 { font-size: 18px; }
h5 { font-size: 16px; }
h6 { font-size: 14px; }
sup { vertical-align: text-top; }
sub { vertical-align: text-bottom; }
legend { color: #000; }
.clear { clear: both; height: 0px; width: 100%; font-size: 1px; line-height: 0px; visibility: hidden; overflow: hidden; }
input, select { vertical-align: middle; outline: none; }
.sb-border { border: 1px solid #e7e7e7; }
.sb-border:hover { border: 1px solid #42972b; }
.db-border { border: 1px dotted #e7e7e7; }
.db-border:hover { border: 1px dotted #42972b; }
.w-content { width: 1000px; height: 100%; overflow: hidden; }
.con-left { width: 300px; height: 100%; overflow: hidden; }
.con-right { width: 680px; height: 100%; overflow: hidden; }
.wb-content { width: 998px; border: 1px solid #e7e7e7; height: 100%; overflow: hidden; }
.conb-left { width: 298px; height: 100%; overflow: hidden; border: 1px solid #e7e7e7; }
.conb-right { width: 678px; height: 100%; overflow: hidden; border: 1px solid #e7e7e7; }
.m-center { margin-left: auto; margin-right: auto; }
.fl { float: left; }
.fr { float: right; }

