/*dede58.com 做最好的织梦整站模板下载网站*/
@import url("base.css");
/*常用样式*/
a img:hover { filter: alpha(opacity=90); -moz-opacity: 0.9; opacity: 0.9; }
.head-bg { width: 100%; height: 155px; overflow: hidden; margin-bottom: 20px; background: #f5f5f5; }
.head { margin-top: 25px; height: 60px; }
.head-left { width: 600px; height: 60px; }
.head-left a img { width: 426px; height: 60px; }
.head-right { width: 400px; height: 60px; }
.contribute-bg {width: 400px; height: 30px; overflow:hidden;}
.contribute-bg span{float:right; line-height:28px;}
.contribute-bg span a{ margin-left:10px;font-family: "Microsoft yahei" , "Î¢ÈíÑÅºÚ" , "Tahoma" , "Verdana" , "Arial" , "sans-serif";}
.contribute-bg span i{ color:#E74C3C; position:relative; top:-6px; margin-left:5px;}
.contribute-bg span a:hover{ text-decoration:underline;}
.contribute-bg a.contribute { margin-left:20px;width:50px; display: block; font-family: 'Microsoft YaHei'; font-size: 14px; color: #666; text-align: center; line-height:24px; border: 1px solid #ddd; height:24px;font-family: "Microsoft yahei" , "Î¢ÈíÑÅºÚ" , "Tahoma" , "Verdana" , "Arial" , "sans-serif"; }
.contribute-bg a.contribute:hover { text-decoration:none; background-color: #42972b; color: #fff; border: 1px solid #42972b; }
.search-bg { width: 300px; height: 28px; float:right; overflow: hidden; border: 1px solid #ddd; background: #fff; line-height: 28px; }
.search-bg input.txt-search { width: 260px; padding-left: 10px; height: 30px; line-height:30px; border: none; color: #ddd; font-size: 12px; }
.search-bg a.btn-search { width: 30px; height: 30px; border: none; cursor: pointer; background: url(../images/search.jpg) no-repeat center center; }

.nav { margin-top: 27px; }
.nav ul { height: 40px; }
.nav ul li { width: 100px; float: left; }
.nav ul li a { display: block; width: 100px; height: 20px; padding-bottom: 20px; font-family: 'Microsoft YaHei'; font-size: 18px; font-weight: 550; color: #42972b; text-align: center; }
.nav ul li a:hover { border-bottom: 3px solid #42972b; }

#index .nav ul li a.cur0, #ztz .nav ul li a.cur1, #wzjz .nav ul li a.cur2, #kxh .nav ul li a.cur5, #gsbk .nav ul li a.cur4, #zwq .nav ul li a.cur5, #zwl .nav ul li a.cur7, #dwfw .nav ul li a.cur9 { border-bottom: 3px solid #42972b; }

.footer-bg { width: 100%; height: 100%; overflow: hidden; background: #f5f5f5; margin-top: 30px; }
.footer { padding-bottom: 20px; }
.footer ul { width: 500px; height: 20px; margin-left: auto; margin-right: auto; margin-top: 20px; }
.footer ul li { width: 100px; float: left; }
.footer ul li a:hover { text-decoration: underline; }
.footer p { text-align: center; color: #999; margin-top: 20px; clear: both; }

.page { padding: 30px; text-align: center; }
.page a { display: inline-block; padding-top: 6px; padding-bottom: 6px; padding-left: 12px; padding-right: 12px; border: 1px solid #e4e4e4; }
.page a:hover { background-color: #42972b; border: 1px solid #42972b; color: #fff; }
.page a.curr { background-color: #42972b; border: 1px solid #42972b; color: #fff; }


.go-top { position: fixed; bottom: 40px; right: 20px; width: 46px; z-index: 999; }
.go-top a { display: block; width: 46px; height: 46px; margin-bottom: 10px; background-image: url(../images/go-top.png?20140321); }
.go-top a:last-child { margin-bottom: 0; }
.go-top .go { background-position: 0 -150px; }
.go-top .go:hover { background-position: 0 -250px; }
.go-top .feedback { background-position: 0 -100px; }
.go-top .feedback:hover { background-position: 0 -300px; }
.go-top .uc-2vm { background-position: 0 0; }
.go-top .uc-2vm:hover { background-position: 0 -350px; }
.go-top .share { background-position: 0 -50px; }
.go-top .share:hover { background-position: 0 -200px; }
.go-top .uc-2vm-pop { position: absolute; right: 80px; top: -100px; width: 258px; height: 258px; background: url(../images/erweima.jpg) no-repeat 0 0 transparent; box-shadow: 0px 1px 4px rgba(0,0,0,.1); }
.go-top .share-pop { position: absolute; right: 0px; top: 0px; margin-right: 47px; width: 212px; height: 45px; background: #fff; box-shadow: 2px 2px 3px #aaaaaa; }
.dn { display: none; }


/*首页所有样式*/
.focusBox { position: relative; width: 680px; height: 300px; overflow: hidden; background: #fff; }
.focusBox .pic img { width: 680px; height: 300px; }
.focusBox .num { position: absolute; z-index: 3; bottom: 8px; right: 8px; }
.focusBox .num li { float: left;  width: 16px; height: 16px; line-height: 16px; overflow: hidden; text-align: center; margin-right: 6px; cursor: pointer; background: #ffffff;}
.focusBox .num li.cur, .focusBox .num li:hover { background: #42972b; color: #fff; }
/*主题站*/
.ztz { width: 100%; height: 100%; overflow: hidden; margin-top: 20px; }
.ztz h1 { font-family: 'Microsoft YaHei'; font-weight: normal; border-bottom: 1px solid #42972b; padding-bottom: 10px; color: #42972b; margin-bottom: 10px; }
.qsg { height: 100%; overflow: hidden; }
.mb10{ margin-bottom:20px;}
h5.item-title { font-family: 'Microsoft YaHei'; font-size: 17px; color: #333; font-weight: normal; height: 40px; overflow: hidden; line-height: 40px; border-bottom: 1px solid #e7e7e7; }
h5.item-title span a { font-size: 12px; font-weight: normal; font-family: 宋体; line-height: 45px; }
h5.item-title span { float: right; }
.zwysh { width: 325px; height: 100%; overflow: hidden; }
.zwysh .zhtt { height: 100%; overflow: hidden; }
.zwysh .zhtt a img { width: 325px; height: 135px; margin-top: 10px; margin-bottom: 10px; }
.zwysh .zhtt h6.mt { margin-top: 10px; }
.zwysh .zhtt h6 { margin-bottom: 10px; height: 24px; overflow: hidden; font-family: 'Microsoft YaHei'; }
.zwysh .zhtt h6 a.io-tt { line-height: 24px; font-family: 'Microsoft YaHei'; font-size: 15px; font-weight: normal; }
.zwysh .zhtt p { color: #999; font-size: 13px; height: 72px; overflow: hidden; margin-bottom: 10px; text-indent: 24px; line-height: 24px; font-family: "Microsoft yahei" , "微软雅黑" , "Tahoma" , "Verdana" , "Arial" , "sans-serif"; }
.zwysh .zhtt p .io-xq { color: #42972b; font-weight: normal; }
.zwysh .zhtt p .io-xq:hover { text-decoration: underline; }
.zwysh .zwysh-list { height: 100%; overflow: hidden; }
.zwysh .zwysh-list li { line-height: 30px; height: 30px; overflow: hidden; list-style-type: square; }
.zwysh .zwysh-list li a { font-size: 14px;font-family: "Microsoft yahei" , "微软雅黑" , "Tahoma" , "Verdana" , "Arial" , "sans-serif"; color:#777; }
.zwysh .zwysh-list li a:hover { text-decoration: underline;color: #42972b; }

.kksc { width: 325px; height: 100%; overflow: hidden; }
.kksc .kkrj { height: 100%; overflow: hidden; }
.kksc .kkrj img { width: 100px; float: left; height: 120px; margin-top: 10px; margin-right: 10px; }
.kksc .kkrj .kkrj-list { margin-top: 10px; }
.kksc .kkrj .kkrj-list li { line-height: 30px; height: 30px; overflow: hidden; list-style-type: square; }
.kksc .kkrj .kkrj-list li a { font-size: 14px;font-family: "Microsoft yahei" , "微软雅黑" , "Tahoma" , "Verdana" , "Arial" , "sans-serif"; color:#777; }
.kksc .kkrj .kkrj-list li a:hover { text-decoration: underline;color: #42972b; }

.sczd { height: 100%; overflow: hidden; margin-top: 10px; }
.sczd-con { height: 100%; overflow: hidden; }
.sczd .sczd-con h6 { height: 24px; overflow: hidden; font-family: 'Microsoft YaHei'; margin-top: 10px; margin-bottom: 10px; }
.sczd .sczd-con h6 a.io-tt { line-height: 24px; font-family: 'Microsoft YaHei'; font-size: 16px; font-weight: normal; }
.sczd .sczd-con p { color: #999; font-size: 13px; height: 72px; overflow: hidden; margin-bottom: 10px; text-indent: 24px; line-height: 24px; font-family: "Microsoft yahei" , "微软雅黑" , "Tahoma" , "Verdana" , "Arial" , "sans-serif";}
.sczd .sczd-con p .io-xq { color: #42972b; font-weight: normal; }
.sczd .sczd-con p .io-xq:hover { text-decoration: underline; }
.sczd .sczd-list { }
.sczd .sczd-list li { line-height: 28px; height: 28px; overflow: hidden; list-style-type: square; }
.sczd .sczd-list li a { font-size: 14px;font-family: "Microsoft yahei" , "微软雅黑" , "Tahoma" , "Verdana" , "Arial" , "sans-serif"; color:#777; }
.sczd .sczd-list li a:hover { text-decoration: underline;color: #42972b; }

.jdflx { height: 100%; overflow: hidden; margin-top: 20px; margin-bottom: 20px; }
.jdflx .jxtt { width: 325px; height: 100%; overflow: hidden; margin-top: 10px; }
.jdflx .jxtt a img { width: 325px; height: 230px; margin-bottom: 10px; }
.jdflx .jxtt h6 { margin-bottom: 10px; height: 48px; overflow: hidden; font-family: 'Microsoft YaHei'; }
.jdflx .jxtt h6 a.io-tt { line-height: 24px; font-family: 'Microsoft YaHei'; font-size: 16px; font-weight: normal; }
.jdflx .jxtt p { color: #999; font-size: 13px; height: 72px; overflow: hidden; margin-bottom: 10px; text-indent: 24px; line-height: 24px;font-family: "Microsoft yahei" , "微软雅黑" , "Tahoma" , "Verdana" , "Arial" , "sans-serif"; }
.jdflx .jxtt p .io-xq { color: #42972b; font-weight: normal; }
.jdflx .jxtt p .io-xq:hover { text-decoration: underline; }

.jdflx .jxlb { width: 350px; height: 100%; overflow: hidden; margin-top: 10px; }
.jdflx .jxlb .jxlb-list { height: 100%; overflow: hidden; }
.jdflx .jxlb .jxlb-list li { width: 150px; float: left; margin-left: 25px; margin-bottom: 15px; }
.jdflx .jxlb .jxlb-list li a img { width: 150px; height: 110px; }
.jdflx .jxlb .jxlb-list li span { width: 150px; text-align: center; display: block; line-height: 24px; margin-bottom: 10px; height: 48px; overflow: hidden; font-family: 'Microsoft YaHei'; font-size: 14px; font-family: "Microsoft yahei" , "微软雅黑" , "Tahoma" , "Verdana" , "Arial" , "sans-serif";}

.kksc .kkrj p.jdsc {font-family: "Microsoft yahei" , "微软雅黑" , "Tahoma" , "Verdana" , "Arial" , "sans-serif"; margin-top: 10px; color: #999; font-size: 13px; height: 120px; overflow: hidden; text-indent: 24px; line-height: 24px; }
.kksc .kkrj p.jdsc strong { line-height: 24px; height: 48px; overflow: hidden; margin-bottom: 10px; font-family: 'Microsoft YaHei'; font-size: 16px; font-weight: normal; display: block; }
.mt10 { margin-top: 10px; }

/*最新小组*/
.zxxz { width: 260px; overflow: hidden; padding: 20px; background-color:#f8f8f8;}
.zxxz .title { font-family: 'Microsoft YaHei'; font-size: 16px; font-weight: 550; color: #333; }
.zxxz .title span { float: right; }
.zxxz .title span a { font-size: 14px; font-weight: normal; font-family: 宋体; line-height: 30px; }
.sub-item { width: 258px; height: 60px; padding-bottom: 8px; margin-top: 8px; overflow: hidden; border-bottom: 1px dashed #e7e7e7; float: left; }
.sub-item .pic { float: left; width: 60px; height: 60px; overflow: hidden; }
.sub-item .pic a img { width: 60px; height: 60px; }
.sub-item .info { margin-left: 70px; margin-right: 10px; }
.sub-item .info a.xzmc { color: #42972b; display:block; }
.sub-item .info a.xzmc:hover { text-decoration: underline; }
.sub-item .info a.jrxz { display: block; line-height: 20px; background: #e7e7e7; text-align: center; font-size: 12px; width:55px; height: 20px; float:left; margin-right:10px; overflow: hidden; }
.sub-item .info a.jrxz:hover { background-color: #42972b; color: #fff; }
.sub-item .info span { color: #999; line-height: 24px;font-size:13px;  }
.sub-item .info span em{ font-style:normal; color:#42972b; margin-right:5px;}
.sub-item .info p{ font-size:13px; line-height:20px;}
.sub-item .info p span{ margin-right:3px;}
.sub-item .info p span em{ font-style:normal; color:#42972b; margin-left:5px;}


.unit_wrap { width: 258px; height: 100%; overflow: hidden; border: 1px solid #e7e7e7; margin-top: 20px; padding: 20px; }
.unit_wrap .title { font-family: 'Microsoft YaHei'; font-size: 16px; font-weight: 550; color: #333; }
.unit_wrap .title span { float: right; }
.unit_wrap .title span a { font-size: 14px; font-weight: normal; font-family: 宋体; line-height: 20px; }
.unit_wrap .star { width: 100%; height: 100%; overflow: hidden; }
.unit_wrap .star li { width: 100%; height: 100%; overflow: hidden; margin-top: 20px; }
.unit_wrap .star li .elite_wrap { width: 100%; height: 60px; overflow: hidden; }
.unit_wrap .star li .elite_wrap a.user_ava { display: block; width: 60px; height: 60px; float: left; margin-right: 20px; }
.unit_wrap .star li .elite_wrap a.user_ava img { width: 60px; height: 60px; }
.unit_wrap .star li .elite_wrap .user_intro { width: 178px; height: 60px; overflow: hidden; float: right; }
.unit_wrap .star li .elite_wrap .user_intro a { display: block; margin-bottom: 8px; }
.unit_wrap .star li .elite_wrap .user_intro .user_grade { color: #999; font-size: 13px; line-height: 18px; }
.unit_wrap .star li .elite_wrap .user_intro .user_grade em { color: #42972b; font-style: normal; }
.unit_wrap .star li:hover .star_info { display: block; }
.unit_wrap .star li .star_info { position: relative; z-index: 2; border: 1px solid #e6e6e6; display: none; margin-top: 6px; }
.unit_wrap .star li .star_info span { display: block; position: absolute; top: -6px; left: 20px; background: url(../images/star-jt.jpg) no-repeat left center; width: 9px; height: 6px; }
.unit_wrap .star li .star_info p { color: #999; padding: 20px; }
.unit_wrap .star li .star_info p em { color: #42972b; font-style: normal; }
.unit_wrap .star li .br { border-bottom: 1px dashed #e6e6e6; }
.unit_wrap p.lxr, .unit_wrap p.dh, .unit_wrap p.yx { font-family: 'Microsoft YaHei'; font-size: 14px; font-weight: bold; color: #666; margin-top: 15px; }
.unit_wrap p.lxr span { display: block; width: 18px; height: 18px; float: left; margin-right: 10px; background: url(../images/dwfw01.jpg) no-repeat left center; }
.unit_wrap p.dh span { display: block; width: 18px; height: 18px; float: left; margin-right: 10px; background: url(../images/dwfw02.jpg) no-repeat left center; }
.unit_wrap p.yx span { display: block; width: 18px; height: 18px; float: left; margin-right: 10px; background: url(../images/dwfw03.jpg) no-repeat left center; }
.unit_wrap .dwfw { width: 100%; height: 100%; overflow: hidden; }
.unit_wrap .dwfw li { width: 100%; height: 100%; overflow: hidden; margin-top: 15px; list-style-type: square; }
.unit_wrap .dwfw li a { font-size: 14px; color: #666; text-overflow: ellipsis; white-space: nowrap; overflow: hidden; }
/*补充*/
.search-bg{width: 302px; height: 30px; position: relative;}
.so_select{width: 100px; height: 28px; text-align: center; position: absolute;right: 30px; top: 0px; border: 1px solid #DDDDDD; border-top: 0px; display: none;border-bottom: 0px; z-index: 99999999; font-size: 12px;}
.txt-search{background-color: #FFFFFF;}
.b_pic{ width: 680px; height: 304px;}
.b_pic li{position:relative; width: 680px; left: 0px; top: 0px; height: 40px; line-height: 40px;display: none; }
.b_pic li .li_title{ position:absolute;  left:0px;top: 260px;z-index: 1;height: 40px;width: 100%;overflow: hidden;background: url(../images/ban_bg.png) no-repeat; }
.b_pic li .li_title a { display: block; font-family: 'Microsoft YaHei'; font-size: 16px; font-weight:500; color: #ffffff; text-align: left; padding: 0 0 0 10px; }
.a_author{height: 24px;}
.footer_main{text-align: center; padding-top: 15px;}
.footer_link{padding: 0px 8px;}
.footer_01{width: 300px; margin: 0 auto; padding-bottom: 10px; text-align: center}
.footer_0101{display: inline-block; text-decoration: none;height: 20px; line-height: 20px;}
.footer_left{float: left;}
.footer_right{float: left; height: 20px;line-height: 20px; margin: 0px 0px 0px 5px; color: #939393;}