* {
	margin: 0;
	padding: 0;
	list-style: none;
}

html,
body {
	font-family: "微软雅黑";
	font-size: 18px;
}

input,
button {
	outline: none;
}
button{
	cursor: pointer;
}

a {
	text-decoration: none;
}

/* public css */
.backcolor-shopInvitaion {
	background-color: #fbfbfb;
	padding-bottom: 20px;
}

.re_pjj {
	position: relative;
}

.ab_pjj {
	position: absolute;
	right: 50px;
	bottom: 10px;
}

.z-index-2 {
	z-index: 20;
}

z-index-1 {
	z-index: 10;
}

.clear-both-pjj {
	clear: both;
}

.hei_20 {
	height: 20px;
}

.hei_40 {
	height: 40px;
}

.text-center-pjj {
	text-align: center;
}

.text-right-pjj {
	text-align: right;
}

.backcolor-shopInvitaion h1 {
	font-size: 28px !important;
	color: #444444;
}

.orange {
	color: #ff6600;
}

/* pjj banner css start */
.banner_Invitation_pjj {
	width: 100%;
}

.buttons_pjj {
	width: 30%;
	text-align: right;
}

.buttons_pjj>a>img {
	width: 30%;
}

/* 分享我的邀请码 */
.sharmyInv-pjj {
	width: 1320px;
	overflow: hidden;
	margin: auto;
}

.sharmyInv-pjjbody {
	background: url(../img/sharebakimg-body.png);
	background-size: 100%;
	width: 100%;
}

.sharmyInv-pjjtop,
.sharmyInv-pjjbottom {
	background: url(../img/sharebakimg.png) no-repeat;
	background-size: 100%;
	width: 100%;
}

.sharmyInv-pjjtop,
.sharmyInv-pjjbottom {
	height: 50px;
}

.sharmyInv-pjjtop {
	background-position: top center;
}

.sharmyInv-pjjbody {
	background-position: center center;
}

.sharmyInv-pjjbottom {
	background-position: bottom center;
}

.three-pjj {
	width: 100%;
	padding: 40px 0px 0px 0px;
}

.three-pjj>div {
	display: inline-block;
	height: 50px;
}

.threetext,
.threebutton {
	width: 20%;
	line-height: 50px;
}

.threeinput {
	width: 58%;
}

.threetext img {
	position: absolute;
	top: 28px;
	right: 10px;
}

.threeinput input {
	width: 100%;
	height: 50px;
	border: none;
	background: #f2f2f2;
	border-radius: 5px;
	color: #666666;
	font-size: 16px;
}

.threebutton button {
	cursor: pointer;
	width: 178px;
	height: 50px;
	border: none;
	background: url(../img/buttonsback.png) no-repeat center center;
	background-size: cover;
	color: #fff;
	font-size: 20px;
	font-weight: bold;
}

.three-pjj p {
	color: #999999;
	font-size: 14px;
	padding-top: 17px;
}

/* 奖励一 */
.RewardFont {
	color: #ff6600;
}

.RewardTitle {
	background: url(../img/rewardtitle.png) no-repeat top center;
	background-size: 100%;
	height: 67px;
}

ul {
	overflow: hidden;
}

.RewardTitle>ul>li,
.Rewardtable-body ul li {
	width: 326px;
	height: 165px;
	float: left;
	color: #fbfbfb;
	line-height: 55px;
	text-align: center;
}

/* 奖励 表格区域*/
.mar-t {
	margin-top: -20px;
}

.Rewardtable {
	width: 100%;

}

.Rewardtable-body {
	width: 100%;
	background: url(../img/boxbackshad-body.png);
	background-size: 100%;
}

.Rewardtable-top,
.Rewardtable-bottom {
	width: 100%;
	background: url(../img/boxbackshad.png) no-repeat;
	background-size: 100%;
}

.Rewardtable-top,
.Rewardtable-bottom {
	height: 5px;
}

.Rewardtable-top {
	background-position: top center;
}

.Rewardtable-body {
	background-position: center;
	overflow: hidden;
}

.Rewardtable-bottom {
	background-position: bottom center;
}

.Rewardtable-body>ul>li:first-child {
	padding-left: 6px;
}

.Rewardtable-body>ul>li {
	color: #333;
	border-right: 1px solid #eeeeee;
	display: table;
}

.Rewardtable-body>ul>li>p {
	display: table-cell;
	vertical-align: middle;
}

.Rewardtable-body>ul>li:last-child {
	border-right: none;
}

.num {
	font-family: arial;
}

.tab {
	width: 100%;
	border-bottom: 1px solid #eeeeee;
}

.tab.grey {
	background: #f2f2f2;
}

.tab:last-child {
	border-bottom: none;
}

.mesgleft-pjj,
.mesgright-pjj {
	float: left;
}

.icon-pjj {
	float: left;
	margin: 35px 0px 0px 47px
}

.mesgright-pjj {
	width: 80%;
	margin-left: 10px;
	padding-top: 31px;
}

p.list.first-child {
	margin-top: 10px;
}

p.list {
	color: #333;
	line-height: 40px;
}

.padding-bottom-pjj {
	padding-bottom: 15px;
}


/* 奖励三 */
.tab03 .Rewardtable-body ul li {
	height: 230px;
}

.tab03 .tab {
	height: 60px;
}

.tab img {
	width: 120px;
	margin-top: 10px;
}


/* 常见说明 */
.explanation-pjj {
	width: 1160px;
	margin: auto;
}

.answer-pjj {
	background: #f2f2f2;
	height: 45px;
	line-height: 45px;
	padding: 0px 20px;
	display: inline-block;
	border-radius: 5px;
	margin: 15px 0px 30px 45px;
}

/* 分享链接 */

.backlink {
	width: 100%;
	height: 70px;
	border: none;
	background: #f2f2f2;
	border-radius: 5px;
	color: #666666;
	font-size: 16px;
	padding: 20px 0px 0px 0px;
}

.myhei {
	height: 78px !important;
}


/* 邀请好友列表css */
.friend .RewardTitle>ul>li {
	width: 264px;
}

.friend .Rewardtable-body>ul>li.row-pjj {
	width: 100%;
	height: 58px;
	padding: 0px !important;
}

.date-pjj {
	width: calc(100% - 12px);
}

.date-span {
	width: 257px;
	display: inline-block;
}

.border-dashed {
	border-bottom: 1px dashed #e7e7e7;
	width: 96%;
	margin: auto;
	height: 1px;
}

.page-pjj {
	padding: 20px 0px;
}

.page-pjj button {
	border: none;
	background: #fff;
	font-size: 16px;
	color: #333333;
}


/* 奖励排行榜 */
.datetable-pjj,
.datetable-pjj-list {
	width: 1280px;
	margin: auto;
}

.datetable-pjj tr td,
.datetable-pjj-list tr td {
	width: 25%;
	line-height: 50px;
	text-align: center;
	vertical-align: middle;
	
}

.datetable-pjj tr td {

	color: #fff;

}

.datetable-pjj-list tr td {
	color: #333;
	border-bottom: 1px dashed #e7e7e7;
}
.datetable-pjj-list tr td img{
	margin-top: 18px;
}
.datetable-pjj-list tr:last-child td{
	border: none;
}
