/***全局公共样式 - 开始***/
.indexTop{
	position: relative;
}
/***全局公共样式 - 结束***/

/*轮播图样式改造*/
.carousel-indicators li {
  display: inline-block;
  width: 32px;
  height: 4px;
  margin: 1px;
  text-indent: -999px;
  cursor: pointer;
  background-color: #999 \9;
  background-color: rgba(255, 255, 255, .5);
  border: 0px solid #fff;
  border-radius: 0;
}

.carousel-indicators .active {
  width: 32px;
  height: 4px;
  margin: 1px;
  background-color: #fff;
}
.carousel-indicators{
	margin-bottom: 0;
	bottom: 32px;
}
@media (max-width: 767px){
	
	.carousel-indicators li {
		width: 16px;
		height: 2px;
	}
	
	.carousel-indicators .active {
		width: 16px;
		height: 2px;
	}
	.carousel-indicators {
	    bottom: 12px;
	}
}

/*产品与服务*/
.products_services{
	padding: 88px 0;
	border-bottom: 1px solid #F6F6F6;
}
.products_services .title{
	text-align: center;
}
.products_services .title h1{
	font-size: 36px;
	margin: 0;
	line-height: 50px;
	color: #333;
}
.products_services .title p{
	margin: 0;
	line-height: 20px;
	color: #201B01;
}
.products_services .con{
	overflow: hidden;
}
.products_services .con img{
	margin: 0 auto;
	margin-top: 64px;
}
.products_services .con a{
	display: block;
	text-align: center;
	font-size: 30px;
	line-height: 42px;
	margin-top: 16px;
	margin-bottom: 8px;
	color: #333;
}
.products_services .con a:hover{
	text-decoration: none;
	color: #1DA193;
}
.products_services .con p.subtitle{
	text-align: center;
	font-size: 16px;
	line-height: 22px;
	margin-bottom: 24px;
	color: #989898;
}
.products_services .con span{
	width: 80%;
	display: block;
	margin: 0 auto;
	border-bottom: 1px solid #EDEDEF;
}
.products_services .con p.dis{
	text-align: center;
	font-size: 16px;
	line-height: 32px;
	color: #333;
	padding-top: 32px;
}
.products_services .phoneLbt{
	display: none;
}
.products_services .more{
	margin-top: 64px;
}
.products_services .more a{
	margin: 0 auto;
	display: block;
	width: 101px;
	font-size: 20px;
	line-height: 28px;
	color: #1DA193;
}
.products_services .more a:hover{
	text-decoration: none;
}
.products_services .more a span{
	margin-top: 4px;
	margin-left: 5px;
	font-size: 16px;
}
@media (max-width: 767px){
	.products_services{
		padding-top: 32px;
		padding-bottom: 44px;
		border-bottom: 1px solid #F6F6F6;
	}
	.products_services .title h1{
		font-size: 24px;
		line-height: 34px;
	}
	.products_services .title p{
		font-size: 12px;
		line-height: 20px;
		
	}
	.products_services .con{
		display: none;
	}
	.products_services .phoneLbt{
		display: block;
	}
	.products_services .phoneLbt img{
		margin: 0 auto;
		margin-top: 32px;
	}
	.products_services .phoneLbt a{
		display: block;
		text-align: center;
		font-size: 24px;
		line-height: 34px;
		margin-top: 12px;
		margin-bottom: 4px;
		color: #333;
	}
	.products_services .phoneLbt a:hover{
		text-decoration: none;
		color: #1DA193;
	}
	.products_services .phoneLbt p.subtitle{
		text-align: center;
		font-size: 16px;
		line-height: 22px;
		margin-bottom: 16px;
		color: #989898;
	}
	.products_services .phoneLbt span{
		width: 80%;
		display: block;
		margin: 0 auto;
		border-bottom: 1px solid #EDEDEF;
	}
	.products_services .phoneLbt p.dis{
		text-align: center;
		font-size: 16px;
		line-height: 29px;
		min-height: 103px;
		color: #333;
		padding-top: 16px;
	}
	.products_services .phoneLbt .carousel-indicators {
	    bottom: -20px;
	}
	.products_services .phoneLbt .carousel-indicators .active {
	  	background-color: #333;
	}
	.products_services .phoneLbt .carousel-indicators li {
		background-color: #CDCDCD;
	  	border: 0px solid #CDCDCD;
	}
	.products_services .more{
		margin-top: 58px;
	}
	.products_services .more a{
		width: 85px;
		font-size: 16px;
		line-height: 23px;
	}
	.products_services .more a span{
		margin-top: 4px;
		margin-left: 5px;
		font-size: 14px;
	}
}

/*新闻*/
.qznsNews{
	padding: 88px 0;
}
.qznsNews .title{
	text-align: center;
}
.qznsNews .title h1{
	font-size: 36px;
	margin: 0;
	line-height: 50px;
	color: #333;
}
.qznsNews .title p{
	margin: 0;
	line-height: 20px;
	color: #201B01;
}
.qznsNews .con{
	overflow: hidden;
	margin-top: 64px;
}
.qznsNews .con img{
	width: 100%;
	height: 200px;
}
.qznsNews .con .t{
	width: 100%;
	height: 24px;
	margin-top: 16px;
	position: relative;
}
.qznsNews .con .t a{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 100;
	width: 100%;
	padding-right: 50px;
	font-size: 16px;
	color: #201B01;
	line-height: 24px;
	text-overflow:ellipsis;
	white-space:nowrap;
	overflow:hidden;
}
.qznsNews .con .t a:hover{
	text-decoration: none;
	color: #1DA193;
}
.qznsNews .con .t span{
	width: 45px;
	height: 24px;
	font-size: 14px;
	line-height: 24px;
	float: right;
	color: #989898;
}
.qznsNews .phoneLbt{
	display: none;
}
.qznsNews .list{
	overflow: hidden;
}
.qznsNews .list .line{
	width: 100%;
	height: 1px;
	display: block;
	border-bottom: 1px solid #EDEDED;
	margin-top: 32px;
	margin-bottom: 4px;
}
.qznsNews .list .t{
	width: 100%;
	height: 36px;
	position: relative;
}
.qznsNews .list .t a{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 100;
	width: 100%;
	padding-right: 50px;
	font-size: 16px;
	color: #201B01;
	line-height: 36px;
	text-overflow:ellipsis;
	white-space:nowrap;
	overflow:hidden;
}
.qznsNews .list .t a:hover{
	text-decoration: none;
	color: #1DA193;
}
.qznsNews .list .t span{
	width: 44px;
	height: 36px;
	font-size: 14px;
	line-height: 36px;
	float: right;
	color: #989898;
}
.qznsNews .more{
	margin-top: 64px;
}
.qznsNews .more a{
	margin: 0 auto;
	display: block;
	width: 101px;
	font-size: 20px;
	line-height: 28px;
	color: #1DA193;
}
.qznsNews .more a:hover{
	text-decoration: none;
}
.qznsNews .more a span{
	margin-top: 4px;
	margin-left: 5px;
	font-size: 16px;
}
@media (max-width: 767px){
	.qznsNews{
		padding-top: 32px;
		padding-bottom: 44px;
		border-bottom: 1px solid #F6F6F6;
	}
	.qznsNews .title h1{
		font-size: 24px;
		line-height: 34px;
	}
	.qznsNews .title p{
		font-size: 12px;
		line-height: 20px;
		
	}
	.qznsNews .con{
		display: none;
	}
	.qznsNews .phoneLbt{
		display: block;
		margin-top: 32px;
	}
	.qznsNews .phoneLbt img{
		width: 100%;
		height: 200px;
	}
	.qznsNews .phoneLbt .t{
		width: 100%;
		height: 30px;
		margin-top: 8px;
		position: relative;
	}
	.qznsNews .phoneLbt .t a{
		position: absolute;
		top: 0;
		left: 0;
		z-index: 100;
		width: 100%;
		padding-right: 45px;
		font-size: 16px;
		color: #201B01;
		line-height: 30px;
		text-overflow:ellipsis;
		white-space:nowrap;
		overflow:hidden;
	}
	.qznsNews .phoneLbt .t a:hover{
		text-decoration: none;
		color: #1DA193;
	}
	.qznsNews .phoneLbt .t span{
		width: 40px;
		height: 30px;
		font-size: 14px;
		line-height: 30px;
		float: right;
		color: #989898;
	}
	.qznsNews .phoneLbt .carousel-indicators {
	    bottom: -20px;
	}
	.qznsNews .phoneLbt .carousel-indicators .active {
	  	background-color: #333;
	}
	.qznsNews .phoneLbt .carousel-indicators li {
		background-color: #CDCDCD;
	  	border: 0px solid #CDCDCD;
	}
	.qznsNews .list .line{
		display: none;
	}
	.qznsNews .list .col-sm-4{
		padding: 0;
	}
	.fristLine{
		display: block !important;
	}
	.qznsNews .more{
		margin-top: 32px;
	}
	.qznsNews .more a{
		width: 85px;
		font-size: 16px;
		line-height: 23px;
	}
	.qznsNews .more a span{
		margin-top: 4px;
		margin-left: 5px;
		font-size: 14px;
	}
}

/*模态框样式改造*/
@media (min-width: 1200px){
	.modal-dialog {
	    width: 1024px;
	    position: absolute;
	    top: -100%;
	    left: 50%;
	    margin-left: -512px;
	}
}
@media (min-width: 992px) and (max-width: 1199px) {
	.modal-dialog {
	    width: 800px;
	    position: absolute;
	    top: -100%;
	    left: 50%;
	    margin-left: -400px;
	}
}
@media (min-width: 768px) and (max-width: 991px) {
	.modal-dialog {
	    width: 600px;
	    position: absolute;
	    top: -100%;
	    left: 50%;
	    margin-left: -300px;
	}
}
@media (max-width: 767px){
	.modal-dialog {
	    width: 95%;
	    position: absolute;
	    top: -100%;
	    left: 50%;
	    margin-left: -47.5%;
	}
	.videoModal .close{
		display: none;
	}
}

/*关于我们*/
.aboutUs{
	padding: 88px 0;
	background: url(../images/bg-about.jpg) no-repeat center;
	background-size: cover;
}
.aboutUs .title{
	text-align: center;
}
.aboutUs .title h1{
	font-size: 36px;
	margin: 0;
	line-height: 50px;
	color: #FFF;
}
.aboutUs .title p{
	margin: 0;
	margin-top: 8px;
	line-height: 20px;
	color: #FFF;
}
.aboutUs .con p{
	text-align: center;
	line-height: 32px;
	font-size: 20px;
	color: #FFF;
	margin-top: 32px;
}
.aboutUs .con p.pc{
	display: block;
}
.aboutUs .con p.phone{
	display: none;
}
.aboutUs .line{
	margin: 32px auto;
	width: 42px;
	height: 1px;
	border-bottom: 1px solid #FFF;
}
.aboutUs .newsVideoCon{
	width: 669px;
	height: 390px;
	margin: 0 auto;
}
.aboutUs .more{
	margin-top: 48px;
}
.aboutUs .more a{
	margin: 0 auto;
	display: block;
	width: 101px;
	font-size: 20px;
	line-height: 28px;
	color: #FFF;
}
.aboutUs .more a:hover{
	text-decoration: none;
}
.aboutUs .more a span{
	margin-top: 4px;
	margin-left: 5px;
	font-size: 16px;
}
@media (min-width: 992px) and (max-width: 1199px) {
	.modal-dialog {
	    width: 800px;
	    position: absolute;
	    top: -100%;
	    left: 50%;
	    margin-left: -400px;
	}
}
@media (min-width: 768px) and (max-width: 991px) {
	.aboutUs .con p.pc{
		display: none;
	}
	.aboutUs .con p.phone{
		width: 80%;
		margin: 0 auto;
		margin-top: 28px;
		display: block;
	}
}
@media (max-width: 767px){
	.aboutUs{
		padding-top: 32px;
		padding-bottom: 44px;
		border-bottom: 1px solid #F6F6F6;
	}
	.aboutUs .title h1{
		font-size: 24px;
		line-height: 34px;
	}
	.aboutUs .title p{
		font-size: 12px;
		line-height: 20px;
		
	}
	.aboutUs .con p{
		text-align: center;
		line-height: 24px;
		font-size: 16px;
		color: #FFF;
		margin-top: 28px;
		margin-bottom: 0;
	}
	.aboutUs .con p.pc{
		display: none;
	}
	.aboutUs .con p.phone{
		width: 80%;
		margin: 0 auto;
		margin-top: 28px;
		display: block;
	}
	.aboutUs .line{
		margin: 24px auto;
	}
	.aboutUs .newsVideoCon{
		width: 100%;
	    height: auto;
		margin: 0 auto;
	}
	.aboutUs .newsVideoCon img.videoPic {
	    width: 100%;
	    height: auto;
	}
	.aboutUs .more{
		margin-top: 32px;
	}
	.aboutUs .more a{
		width: 85px;
		font-size: 16px;
		line-height: 23px;
	}
	.aboutUs .more a span{
		margin-top: 4px;
		margin-left: 5px;
		font-size: 14px;
	}
}

/*XXX合作伙伴*/
.qznsCooperative{
	padding-top: 88px;
	padding-bottom: 98px;
}
.qznsCooperative .title{
	text-align: center;
}
.qznsCooperative .title h1{
	font-size: 36px;
	margin: 0;
	line-height: 50px;
	color: #333;
}
.qznsCooperative .title p{
	margin: 0;
	line-height: 20px;
	color: #201B01;
}
.qznsCooperative .con{
	overflow: hidden;
	margin-top: 64px;
}
.qznsCooperative .con img{
	width: 100%;
	float: left;
	margin-bottom: 30px;
}
@media (max-width: 767px){
	.qznsCooperative{
		padding-top: 32px;
		padding-bottom: 34px;
		border-bottom: 1px solid #F6F6F6;
	}
	.qznsCooperative .title h1{
		font-size: 24px;
		line-height: 34px;
	}
	.qznsCooperative .title p{
		font-size: 12px;
		line-height: 20px;
		
	}
	.qznsCooperative .con{
		overflow: hidden;
		margin-top: 32px;
	}
	.qznsCooperative .con img{
		width: 100%;
		float: left;
		margin-bottom: 30px;
	}
}