
.videoModal{
	padding: 0px; 
}
.videoModal video{
	display: block; 
}
.videoModal .close{
	width: 40px;
	height: 40px;
	background-color: #606060;
	position: absolute;
	top: 0;
	right: -40px;
	opacity: 1;
	text-shadow: none;
}
.videoModal .close span{
	color: #979797;
}

@media (min-width: 768px) and (max-width: 1200px) {
	.news{
		padding-top: 44px;
		padding-bottom: 68px;
	}
}
@media (max-width: 767px){
	.videoModal .close{
		display: none;
	}
}


/*模态框样式改造*/
@media (min-width: 1200px){
	.modal-dialog {
	    width: 1024px;
	    position: absolute;
	    top: -100%;
	    left: 50%;
	    margin-left: -512px;
	}
}
@media (min-width: 992px) and (max-width: 1199px) {
	.modal-dialog {
	    width: 800px;
	    position: absolute;
	    top: -100%;
	    left: 50%;
	    margin-left: -400px;
	}
}
@media (min-width: 768px) and (max-width: 991px) {
	.modal-dialog {
	    width: 600px;
	    position: absolute;
	    top: -100%;
	    left: 50%;
	    margin-left: -300px;
	}
}
@media (max-width: 767px){
	.modal-dialog {
	    width: 95%;
	    position: absolute;
	    top: -100%;
	    left: 50%;
	    margin-left: -47.5%;
	}
}