@media only screen and (max-width:1590px) { /*1360px*/
	.wrapper{
		width: 1000px;
	}
	.page1 .arrow{
		display: none;
	}
	.slide-wrap li .wrap{
		margin-top: -200px;
	}
	.slide-wrap li#s1 .img img{
		/*width: 570px;*/
		width: 540px;
	}
	.slide-wrap li#s1 .text{
		width: 570px; margin: 0 auto; text-align: left; margin-top: -50px;
	}
	.slide-wrap li#s1 .text img{
		width: 130px; margin-left: 60px; 
	}
	.slide-wrap li#s2 .img img{
		/*width: 552px;*/
		width: 522px;
	}
	.slide-wrap li#s2 .quan img{
		/*width: 120px;*/
		width: 100px;
	}
	.slide-wrap li#s3 .img img{
		/*width: 680px;*/
		width: 650px;
	}
	.page2 .wrapper{
		width: 1200px;
	}
	.page2 li .wrap{
		margin-top: -170px;
	}
	.slide-wrap li .img img{
	}
	.page3 .wrapper{
		margin-left: -500px; margin-top: -200px;
	}
	.page3 .head{
	}
	.page3 .body li.last{
		display: block;
	}
	.page3 .body li{
		width: 240px; height: 157px; margin-right: 15px;
	}
	.page3 .body li img{
	   width:240px; height:157px;	
	}
	.page4 .wrapper{
		margin-left: -500px; margin-top: -170px;
	}
	.page4 .head{
	}
	.page4 .head .img{
		margin-left: 0;
	}
	.page4 .head .list{
		left: 515px;
	}
	.page4 .head .list dl#dl1{
		width: 290px;
	}
	.page4 .head .list dl#dl2{
		width: 178px;
	}
	.page4 .body{
		margin-top: 35px;
	}
	.page4 .list li{
		height: 250px; margin-right: 30px;
	}
	.page4 .list li.last{
		display: none;
	}
	.page4 .view{
		padding-top: 90px;
	}
	.page4 .mask{
		padding-top: 30px;
	}
	.page4 .mask h2{
		margin-top: 10px;
	}
	.page4 .mask hr,
	.page4 .mask p{
		margin-top: 10px;
	}
	.page5 .wrapper{
		margin-left: -500px; margin-top: -170px;
	}
	.page5 .img-wrap{
		width: 400px; 
	}
	.page5 .img-wrap .img1{
		width: 300px; margin-top: 35px;
	}
	.page5 .img-wrap .img1 img{
		width: 100%;
	}
	.page5 .img-wrap .img2{
		left: 35px; top: 35px;
	}
	.page5 .img-wrap .img4{
		text-align: right; padding-right: 8px;
	}
	.page5 .text{
		margin-left: 70px;
	}
	.page5 .text p{
		margin-bottom: 25px;
	}
	.page5 .text p.last{
		display: none;
	}
	.page5 .text p.more{
		display: block;
	}
	.page5 .nav{
		width: 200px;
	}
	.page6 .wrapper{
		margin-left: -500px; margin-top: -160px;
	}
	.page6 .img{
		margin-left: 325px;
	}
	.page6 .img .quan{
		width: 200px;
	}
	.page6 .img .wen{
		width: 129px; left: 135px; top: 55px;
	}
	.page6 .img img{
		width: 100%;
	}
	.page6 .time{
		width: 325px; position: relative; top: -10px;
	}
	.page6 .time h2{
		margin-top: 3px;
	}
	.page6 .tele{
		width: 560px; float: left;
	}
	.page6 .tele .tel{
		width: 480px;
	}
	.page6 .tele .qq{
		margin-top: 20px;
	}
	.page6 .text{
		margin-top: 20px;
	}
	.page6 .info{
		width: 1000px; margin-left: -500px; bottom: 20px;
	}
	.page6 .info ul{
		width: 325px;
	}
	.pad-hide{
		display: none;
	}
	.nav_main h1{
		display: none;
	}
}