body{ background:url(../images/srvbg.jpg) repeat-x left 86px ; background-position:left 86px !important;}
img{ display:inherit;}
.service{ width:100%;padding-top:100px; background:url(../images/wgbg.png) repeat-x left 86px;}
.service_main{width:1040px; margin:0 auto; }
.c_bg1{ width:100%;padding-top:100px; background:url(../images/wgbg1.png) repeat-x left 86px;}
.ser_01{ height:534px; position:relative; width:100%;}
.bn_01{ width:100%; color:#fff; text-align:center; padding-top:165px;}
.bn_01 h2{font-size:50PX; height:50px; line-height:50px; font-family:"MS Serif", "New York", serif}
.bn_01 span{ display:block; font-size:18px; height:18px; line-height:18px; margin-top:15px;}
.bn_01 p{ margin-top:80px; line-height:57px; height:57px; background:url(../images/icon_0021.png) no-repeat center top; font-size:13px;}
.service_main .txt{ text-align:center; position:absolute; bottom:0; width:100%; height:104px; background:url(../images/icon_0022.jpg) no-repeat center top;}
.service_main .txt01{ text-align:center; position:absolute; bottom:0; width:100%; height:104px; background:url(../images/icon_0023.jpg) no-repeat center top;}
.service_main .txt p{ line-height:22px; margin-top:25px;}
.ser_02{ width:932px; margin:0 auto;}
.ser_02 h2{ text-align:center; margin-top:40px; font-size:18px;}
.ser_02 ul{ display:table;}
.ser_02 ul li{ width:185px; height:81px; margin-top:60px; text-align:center; border-right:1px solid #efefef; float:left; position:relative; background:url(../images/bggg.png) no-repeat center 48px;}
.ser_02 ul li img{ display:inline-block; position:relative; top:10px;}
.ser_02 ul li span{ display:block; margin-top:25px;}
.ser_03{ width:1115px; margin-left:-25px;}
.b_01{ width:100%; margin-top:45px; padding-bottom:100px; background:#212121; color:#fff;}
.b_main{ width:1041px; margin:0 auto;}
.b_main h2{ text-align:center; background:url(../images/hbg.jpg) center center no-repeat; font-size:15px; height:100px; line-height:100px;}
.b_main .before{ height:150px; display:table; clear:both;}
.b_main .pic2{
    position:absolute;
    top:0;
    left:0;
    z-index:-1;
}
.b_main .image_container{width:346px;height:150px; float:left; position:relative; margin-right:1px;}
.b_main .image_container a{
    float:left;
    -webkit-perspective: 600px;
    -moz-perspective: 600px;
}
.b_main .image_container h3{ position:absolute; left:0px; bottom:62px; width:346px; text-align:center; font-size:16px; }
.b_main .image_container a .pic1{
	font-size:16px;
	height:150px;
	width:346px;
	background:#fff;
    -webkit-transform: rotateX(0deg) rotateY(0deg);
    -webkit-transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
    -moz-transform: rotateX(0deg) rotateY(0deg);
    -moz-transform-style: preserve-3d;
    -moz-backface-visibility: hidden;
    -o-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
.b_main .image_container a:hover .pic1{
    -webkit-transform:rotateX(180deg);
    -moz-transform:rotateX(180deg);
}
.b_main .image_container a .pic2{
	height:150px;
	width:346px;
	background:#fff;
	position:absolute;left:0px;top:0px;
    -webkit-transform: rotateX(-180deg);
    -webkit-transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
    -moz-transform: rotateX(-180deg);
    -moz-transform-style: preserve-3d;
    -moz-backface-visibility: hidden;
    -o-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;/*z-index:10;
    position:absolute;*/
}
.b_main .image_container a:hover .pic2{
    -webkit-transform:rotateX(0deg) rotateY(0deg);
    -moz-transform:rotateX(0deg) rotate(0deg);
    z-index: 10;
    position: absolute;
}
.b_02{width:100%; margin-top:45px; padding-bottom:1px; background:#131313; color:#fff;}
.b_02 .b_main{ padding-top:40px;}
.b_02 .b_main h2{ background:none; border-bottom:1px solid #393939; line-height:50px; height:50px; }
.b_02 .b_main dl{ display:table; width:600px; margin:50px auto;}
.b_02 .b_main dl img{ display:inline;}
.b_02 .b_main dl span{ display:block; line-height:30px; height:30px; font-size:14px;}
.b_02 .b_main dl dt{ float:left; width:230px; text-align:center;}
.b_02 .b_main dl dd{ float:right; width:230px; text-align:center;}
.b_03{width:100%; padding-bottom:1px; background:#212121; color:#fff;}
.b_03 .b_main{ padding-top:40px; overflow:visible;}
.b_03 .b_main h2{line-height:50px; height:50px;background:url(../images/hbg2.jpg) center center no-repeat;}
.b_03 .b_main ul{ margin:50px 0; display:table; width:100%;}
.b_03 .b_main ul li{ float:left; margin-left:42px; margin-bottom:24px;}
.ser_04 ul li{ height:110px;}
.ser_04 ul li h4{margin-top:30px; font-weight:bold;font-size:13px;margin-bottom:5px}
.ser_04 ul li span{ height:inherit; line-height:inherit; margin-top:0;}