/*index*/
.header {height:527px; width:100%; position:relative;}
.wrap{width:1000px; margin:0 auto;}

.top{ width:100%; margin-top:39px; position:absolute; z-index:1;}

.top .logo{display:block;width:230px; height:100px; float:left;text-indent:-999999px;}
.top .phone{text-align:right; margin-top:24px;}

.nav{width:650px;height:45px;float:right;background:url(../images/nav.png) 0 0 no-repeat;}
.nav ul{padding:2px 6px 5px 8px;}
.nav li{height:38px; float:left;}
.nav li#m1{width:56px; display:block; text-align:center;}
.nav li#m1 a{width:56px; height:38px; display:block; text-indent:-999999px;}
.nav li#m1 a:hover{background:none;}
.nav li.xx{float:left;width:1px;height:38px;background:url(../images/nav_xx.gif) 0 0 no-repeat;}
.nav li a{height:38px;line-height:38px;padding:0 22px; color:#666;display:block;font-size:14px; text-align:center;}
.nav li a.curr,.nav li a:hover{color:#3399ff;}
.nav .m{position:relative; float:left; height:38px; background:url(../images/nav_li.gif) center 0 no-repeat;z-index:999;}
.nav h3{float:left; overflow:hidden; font-weight:normal}
.nav h3 a{height:38px;}
.nav .on h3 a{color:#3399ff;}

.nav .sub{ display:none; /*默认隐藏*/ width:120px; position:absolute; left:0px; top:38px; text-align:center; background:#fff; filter:alpha(opacity=70); opacity:0.7;box-shadow:0px 1px 3px #888;padding:5px 8px;}
.nav .sub li{ vertical-align:middle;width:100px;height:28px;margin:2px 0}
.nav .sub li a{ height:26px; line-height:26px; display:block; color:#333;font-size:12px;}
.nav .sub li a:hover{ color:#fff; background:#24a4ff;}

.nav li.ss{float:left;width:40px;height:38px;}
.nav li.ss a{margin:0;padding:0;display:block;}

.nav li#m7 .sub{ display:none; /*默认隐藏*/ width:200px; position:absolute; left:-136px; top:38px; text-align:center; background:#fff; filter:alpha(opacity=70); opacity:0.7;box-shadow:0px 1px 3px #888;padding:10px;}

/*search*/
.search{width:180px; height:38px; background:url(../images/ss_bg.gif) 0 center no-repeat;}
.search .s_pad{padding:7px 0}
.search .ss_txt{ width:148px; height:26px; text-indent:4px; line-height:26px; float:left; border:none; background:none; font-size:14px; color:#333;overflow:hidden;}
.search .ss_bott{ width:28px; height:26px; float:right; border:none; background:none; cursor:pointer; overflow:hidden;}

/*banner*/
.banner{ width:100%;height:527px; overflow:hidden; position:absolute;}

.focusBox{position:relative;width:100%;height:527px;overflow:hidden}
.focusBox .pic{position:relative;z-index:0}
.focusBox .pic li{width:100%;height:527px; display:block}
.focusBox .pic li a{width:100%;height:527px; display:block}
.focusBox .hd{width:100%;position:absolute;bottom:30px;text-align:center;font-size:0;z-index:99999}
.focusBox .hd li{margin:0 3px;background:url(../images/dot.png) no-repeat 0 -17px;height:17px;overflow:hidden;width:17px;cursor:pointer;display:inline-block;*display:inline;zoom:1;_background:url(../images/dot8.png) no-repeat 0 -17px}
.focusBox .hd .on{background-position:0 0}
.focusBox .prev,.focusBox .next{width:40px;height:60px;margin:-60px 0 0;display:none;background:url(../images/ad_ctr.png) no-repeat 0 0;position:absolute;top:50%;z-index:10;cursor:pointer;text-indent:-9999px;filter:alpha(opacity=20);opacity:0.2}
.focusBox .prev{left:0}
.focusBox .next{background-position:0 -60px;right:0}
.focusBox .prev:hover,.focusBox .next:hover{filter:alpha(opacity=50) !important;opacity:0.5 !important}


.gg{ width:100%; height:24px;bottom:0; position:absolute; z-index:1;background:#fff; filter:alpha(opacity=50); opacity:0.5;}
.gg_news { width:250px; line-height:24px;  position: relative; zoom: 1; height:24px; padding-left:10px; overflow: hidden;}
.gg_news ul{margin:0;padding:0;}
.gg_news li{line-height:24px; height:24px;}
.gg_news li a{color:#333}
.gg_news li a:hover{color:#24a4ff}
.gg_news .pagesize { position: absolute;width:42px; right: 0px; top: 3px; }
.gg_news .pagesize a { background: url(../images/index_newadd.png) no-repeat -21px 0; width: 21px; height: 21px; display: block; overflow: hidden; line-height: 0; text-indent: -999em;float:left}
.gg_news .pagesize a.prev:hover { background-position: 0 0; }
.gg_news .pagesize a.next { background-position: -21px -26px; }
.gg_news .pagesize a.next:hover {background-position: 0 -26px;}


.i_one .i_con .tit{font-size:18px;font-weight:bold;line-height:30px;height:30px;}
.content{width:100%;padding-top:18px;}
.i_one{width:320px; float:left;}
.ml20{margin:0 20px;display:inline}
.i_one img{width:320px;height:156px}
.i_one .i_con{width:320px;height:120px;background:#f5fbfd;color:#333}
.i_one .i_con .pad{padding:5px 20px 10px;}
.i_one .i_con:hover{background:url(../images/div_h.jpg);color:#fff;cursor:pointer}
.i_one .i_con :hover a{color:#fff}
.i_one .i_con a.more{text-align:right; display:block; font-size:12px;}
.i_one .i_con a.more span{font-family:simsun;}

ul.in_list{padding-top:5px;}
.in_list li{line-height:26px;}
.in_list li img{width:7px; height:8px; vertical-align:middle; margin-right:4px; }
.in_contact{line-height:1.6em;padding-top:3px;}
.in_contact img{width:16px; height:16px; vertical-align:middle; margin-right:6px; }

/*sub*/
.s_header {height:377px; width:100%; position:relative;}
.bas{width:100%;height:377px; overflow:hidden; position:absolute;}

.s_top{ width:100%; height:120px; position:absolute; z-index:1; background:url(../images/h_bg.png);}
.s_top .logo{display:block;width:230px; height:78px; margin-top:18px; float:left;}
.s_top .phone{text-align:right; margin-top:24px;}
.s_top .nav_pad{margin-top:40px;float:right;width:650px;}

/*local*/
.local{height:48px;width:100%; background:url(../images/local_bg.gif) left bottom repeat-x;}
.local .lnme{float:left;margin-top:6px;background:url(../images/l_jt.gif) 4px center no-repeat; border-bottom:2px solid #1ca1fe;}
.local .lnme h3{height:40px;line-height:40px;padding:0 6px 0 18px;color:#333px; font-size:20px;}
.local .rlocal {float:right; line-height:40px;margin-top:6px;}

.main_con{color:#555px; font-size:14px; line-height:2em;padding:25px 20px;}






