/****************************************************************
 *																*		
 * 						      素材火							*
 *                        www.sucaihuo.com							*
 *       		  努力创建完善、持续更新插件以及模板			*
 * 																*
****************************************************************/
@charset "gb2312";
/* CSS Document */
html{overflow-x:hidden}
a,b,blockquote,body,caption,dd,div,dl,dt,em,form,h1,h2,h3,h4,h5,h6,html,i,img,label,li,ol,p,span,strong,sub,sup,table,tbody,td,tfoot,th,thead,tr,tt,ul{margin:0;padding:0}
body{font-size:12px;font-family:"Microsoft Yahei";color:#666}
img{border:0}
em,i{font-style:normal}
li,ol,ul{list-style-type:none}
.clear{clear:both;font-size:0;line-height:0;height:0}
.yahei{font-family:"Microsoft Yahei"}
.Arial{font-family:Arial}
.Tahoma{font-family:Tahoma}
.BebasNeue{font-family:"Bebas Neue"}
a:active{star:expression(this.onFocus=this.blur())}
a{color:#666;text-decoration:none}
a:active,a:focus,a:hover{text-decoration:underline;color:#0896de}
div:after{content:"";display:block;height:0;clear:both}
.taglink,.taglink:hover,.taglink:link{color:#21a1e2}
.blank1{height:134px;overflow:hidden}
.blank2{height:83px;overflow:hidden}
.blank3{height:50px;overflow:hidden}
.blank4{height:158px;overflow:hidden}
.blank5{height:30px;overflow:hidden}
.m_con{line-height:25px;background:url(../images/hunuo_1.jpg) left top no-repeat}
.m_con .p1{color:#0b98de;font-size:14px}
.m_con1{padding-left:60px;background:url(../images/hunuo_15.jpg) left center no-repeat;line-height:30px;width:940px;margin:25px auto}
.m_con1 .p2{color:#ff8700;background:url(../images/hunuo_16.jpg) left center no-repeat;padding-left:25px}
.m_con2{margin:0 auto;padding:25px 0}
.m_wrap dt{text-align:center;padding:25px 0}
.m_wrap dd{padding-bottom:40px}
.m_wrap dd ul{background:url(../images/hunuo_8.jpg) left top no-repeat;height:720px}
.m_wrap dd ul li .boxes{width:460px;padding-top:82px}
.m_wrap dd ul li .boxes .img{width:190px}
.m_wrap dd ul li .boxes .con{width:215px}
.m_wrap dd ul li .boxes .con .p1{padding-bottom:5px}
.m_wrap dd ul li .boxes .con .p1 span{font-size:18px;color:#0b98de}
.m_wrap dd ul li .boxes .con .p1 b{font-size:24px;color:#dbdbdb}
.m_wrap dd ul li .boxes .con .p2{color:#666;line-height:20px}
.m_wrap1 dt{font-size:20px;color:#0b98de;border-bottom:#e5e5e5 1px solid;padding:15px 0}
.m_wrap1 dd{padding-bottom:135px}
.m_wrap1 dd ul{padding-top:25px}
.m_wrap1 dd ul li.last{text-align:center;padding-top:70px}
.m_wrap1 dd ul li .boxes{width:450px;border-bottom:#b1b1b1 1px dashed;padding-bottom:25px}
.m_wrap1 dd ul li .boxes .p1{font-size:16px;color:#0b98de;padding:10px 0}
.m_wrap1 dd ul li .boxes .p1 i{color:#FFF;background:url(../images/hunuo_9.jpg) no-repeat;width:17px;height:17px;line-height:17px;text-align:center;display:inline-block;margin-right:5px}
.m_wrap1 dd ul li .boxes .p2{color:#666;font-size:13px;line-height:20px}
.m_wrap2 dt{font-size:24px;color:#333;background:url(../images/hunuo_11.jpg) left center no-repeat;padding-left:20px;margin:35px 0}
.m_wrap2 dd .list{position:relative;border:#dbdbdb 1px solid;width:318px;height:286px;float:left;margin-right:20px}
.m_wrap2 dd .list:hover{border:#0b98de 1px solid}
.m_wrap2 dd .list h1{font-size:14px;color:#0b98de;text-indent:15px;padding:15px 0}
.m_wrap2 dd .list .img{padding-left:20px}
.m_wrap2 dd .list ul{line-height:20px;padding:15px 0 13px 13px}
.m_wrap2 dd .list ul li{float:left;width:145px}
.m_wrap2 dd .list ul li p{color:#454545}
.m_wrap2 dd .list .last{height:55px;line-height:55px;background:#f2f2f2}
.m_wrap2 dd .list .last span{font-size:14px;color:#333;padding:0 10px}
.m_wrap2 dd .list .last span i{font-size:12px;color:#666}
.m_wrap2 dd .list .btn{position:absolute;top:20px;right:20px}
.m_wrap3{width:1005px;margin:0 auto}
.m_wrap3 .line1{background:url(../images/hunuo_31.jpg) no-repeat;height:2px;font-size:0}
.m_wrap3 .line2{background:url(../images/hunuo_33.jpg) no-repeat;height:5px;font-size:0}
.m_wrap3 .bg{background:url(../images/hunuo_32.jpg) repeat-y}
.m_wrap3 .m_search{background:url(../images/hunuo_20.jpg) left center no-repeat;padding-left:70px;padding-top:15px;width:595px;margin:0 auto}
.m_wrap3 .m_search .text{background:url(../images/hunuo_21.jpg) no-repeat;width:473px;height:39px;line-height:39px;border:0;float:left}
.m_wrap3 .m_search .submit{background:url(../images/hunuo_22.jpg) no-repeat;width:115px;height:39px;border:0;float:left}
.m_wrap3 .boxes1{text-align:center;width:655px;border-bottom:#e1e1e1 1px solid;padding-top:15px;margin:0 auto}
.m_wrap3 .boxes1 a{display:inline-block;line-height:40px;padding:0 5px}
.m_wrap3 .boxes2{width:655px;margin:0 auto;padding:15px 0}
.m_wrap3 .boxes2 li{float:left;width:118px}
.m_wrap3 .boxes2 li.last{width:65px}
.m_wrap3 .table{width:900px;margin:0 auto}
.m_wrap3 .table td{height:45px;text-align:center;font-size:14px;color:#333}
.m_wrap3 .table td.top{background:#efefef;border:#e1e1e1 1px solid;font-size:14px;color:#0b98de;text-indent:15px;text-align:left}
.m_wrap3 .table td.bg1{background:#fafafa}
.m_wrap3 .table td.b1{border-bottom:#e1e1e1 1px solid;border-left:#e1e1e1 1px solid}
.m_wrap3 .table td.b2{border-top:#e1e1e1 1px solid}
.m_wrap3 .table td.b3{border-right:#e1e1e1 1px solid}
.m_wrap4{width:275px;margin:0 auto;padding:20px 0}
.m_wrap4 .img{float:left;width:143px}
.m_wrap4 .con{float:right;width:105px}
.m_wrap4 .con p{font-size:13px}
.m_wrap4 .con .p1{color:#666;line-height:25px}
.m_wrap4 .con .p2{color:#191919;line-height:20px;padding-top:30px}
.m_wrap4 .con .p3{color:#0b98de;line-height:20px}
.m_wrap5{ color:#FFF; text-align:center; background:url(../images/zonghe_034.jpg) top center repeat-x;}
.m_wrap5 .p1{ font-size:45px; padding-top:60px;}
.m_wrap5 .p2{ font-size:18px; padding-top:10px;}
.m_wrap5 .box1{ padding-top:60px;}
.m_wrap5 .box1 li{ display:inline-block; margin:0 30px;}
.m_wrap5 .box1 li p{ font-size:24px; padding-top:15px;}
.m_wrap5 .box1 li.plus{ vertical-align:55px;}
.m_wrap5 .img{ padding-top:40px;}
.m_table{width:1000px;border-bottom:#d2d2d2 1px solid;border-left:#d2d2d2 1px solid;margin:0 auto}
.m_table td{height:45px;border-top:#d2d2d2 1px solid;border-right:#d2d2d2 1px solid;text-align:center;font-size:13px}
.m_table td a.buy{background:url(../images/hunuo_18.jpg) 40px center no-repeat;padding-left:20px;font-size:13px;color:#0b98de}
.m_table td.bg1{background:#0b98de}
.m_table td.bg1 b{font-size:16px;color:#FFF}
.m_table td.bg2{background:#e5f4fb}
.m_table td.bg2 b{font-size:12px;color:#6d7e86}
.w600{width:600px}
.w315{width:315px}
.slideTxtBox{width:312px;border:1px solid #ddd}
.slideTxtBox .hd{height:107px;position:relative}
.slideTxtBox .hd ul{float:left;position:absolute;left:0;top:0}
.slideTxtBox .hd ul li{float:left;cursor:pointer;border-bottom:#e8e8e8 1px solid;width:104px;position:relative;padding:17px 0 10px}
.slideTxtBox .hd ul li span{display:block;width:79px;height:79px;margin:0 auto}
.slideTxtBox .hd ul li span.ico1{background:url(../images/hunuo_40.jpg) no-repeat}
.slideTxtBox .hd ul li span.ico2{background:url(../images/hunuo_36.jpg) no-repeat}
.slideTxtBox .hd ul li span.ico3{background:url(../images/hunuo_37.jpg) no-repeat}
.slideTxtBox .hd ul li.on span.ico1{background:url(../images/hunuo_35.jpg) no-repeat}
.slideTxtBox .hd ul li.on span.ico2{background:url(../images/hunuo_38.jpg) no-repeat}
.slideTxtBox .hd ul li.on span.ico3{background:url(../images/hunuo_39.jpg) no-repeat}
.slideTxtBox .hd ul li.on i{background:url(../images/hunuo_42.jpg) no-repeat;width:12px;height:6px;display:block;position:absolute;bottom:-1px;left:45px;z-index:1}
.slideTxtBox .bd ul{zoom:1;padding:15px}
.slideTxtBox .bd li{height:24px;line-height:24px}
.slideTxtBox .bd li .date{float:right;color:#999}
.slideTxtBox .boxes{border-top:#e8e8e8 1px solid;padding:20px 30px}
.slideTxtBox .boxes p{font-size:13px;color:#828282;line-height:25px}
.slideTxtBox .boxes p span{color:#010101}
.slideTxtBox .boxes p a{color:#828282}
.kefu{position:absolute;right:0;top:300px;z-index:1200;width:138px}
.kefu .kfdiv{width:63px;height:63px;margin-bottom:1px;cursor:pointer;color:#FFF;text-align:center;margin-right:0;background:url(../images/kefu.png) no-repeat}
.kefu .c1{background-position:0 0}
.kefu .c2{background-position:0 0;position:relative;display:block}
.kfQQ{width:138px;margin-right:0;position:relative;margin-bottom:1px;display:none}
.kfQQ .icon_qq{width:63px;height:63px;margin-bottom:1px;cursor:pointer;color:#FFF;text-align:center;margin-right:0;background:url(../images/kefu.png) no-repeat -63px -64px;position:absolute;left:-63px}
.kfQQ dt{height:63px;background:url(../images/ket.png) no-repeat}
.kfQQ dd{border:1px #dcdcdc solid;border-bottom:3px #0896de solid;width:138px;background:#FFF}
.kfQQ dd span{padding-left:14px;padding-bottom:13px;font-size:12px;text-align:left;display:block;color:#5c5c5c}
.kfQQ dd span img{margin-right:10px;width:23px;height:23px;vertical-align:middle}
.kfQQ dd span a{color:#777;display:block;padding-top:8px}
.kfQQ dd span a:hover{color:#777}
.kefu .c3{background-position:0 -64px}
.kefu .c1:hover{background-position:-63px 0}
.t1{display:block;border-bottom:1px #eceef0 solid;height:44px;width:100%;background:#FFF;z-index:999}
.t1 dt{width:720px;float:left}
.t1 dt span{color:#3194f1;height:44px;line-height:44px;padding-left:18px}
.t1 dt span i{background:url(../images/line.jpg) no-repeat right center;padding-right:6px;margin-right:8px}
.t1 dd{width:270px;float:right;height:44px;line-height:44px;text-align:right}
.t1 dd a{color:#5c5c5c;background:url(../images/line.jpg) no-repeat right center;padding:0 10px}
.t1 dd a.search{padding-left:13px;background:0 0}
.t1 dd a.bgclear{background:0 0}
.headDiv{height:134px;background:#FFF;position:fixed;z-index:999;width:100%}
.head{height:89px;width:1000px}
.head .logo{float:left;margin-top:23px}
.nav{float:right;padding-top:36px;position:relative}
.nav li{width:115px;float:left;text-align:center;font-size:15px;color:#141414;position:relative;height:53px}
.submenu{width:775px;border:1px #c3c6c7 solid;border-top:none;padding-bottom:10px;padding-left:40px;background:url(../images/submenu.png);position:absolute;top:53px;left:-450px;display:none}
.submenu dt{padding-top:28px;padding-bottom:25px;color:#129be0;text-align:left;font-weight:700}
.submenu dt span{display:block;padding-top:23px}
.submenu dl{width:170px;float:left;border-right:1px #e0e2e2 solid;margin-right:30px;display:inline}
.submenu li{width:123px;float:left;border-bottom:1px #eaeced solid;height:37px;line-height:37px;color:#666;text-align:left}
.about{width:157px;left:0}
.about dd{padding-top:28px}
.about dl{padding-right:10px}
.nav li a{color:#141414}
.nav li a:hover{color:#0896de;text-decoration:none}
#buoy{position:absolute;width:115px;height:3px;overflow:hidden;background:#0896de;top:0;left:0}
#banner{display:none}
#banner .bDiv{width:1000px;position:relative;z-index:12000;margin:0 auto}
#banner .bDiv .sub_1_1{display:block;position:absolute;right:-300px;top:360px;width:684px;height:120px}
#banner .bDiv .sub_1_2{display:block;position:absolute;width:365px;height:70px;top:77px;left:290px}
#banner .bDiv .sub_1_3{display:block;position:absolute;width:460px;top:170px;left:270px}
#banner .bDiv .sub_1_4{width:148px;height:39px;left:430px;top:246px;position:absolute}
#banner .bDiv .sub_2_1{display:block;position:absolute;right:-200px;top:67px;width:738px;height:432px}
#banner .bDiv .sub_2_2{display:block;position:absolute;left:0;top:98px}
#banner .bDiv .sub_3_1{display:block;position:absolute;right:-150px;top:23px;width:859px;height:502px}
#banner .bDiv .sub_3_2{display:block;position:absolute;left:0;top:98px;width:350px;height:207px}
#banner .bDiv .sub_4_1{display:block;position:absolute;left:0;top:136px}
#banner .bDiv .sub_4_2{display:block;position:absolute;right:-20px;top:100px;width:718px;height:373px}
#banner .bDiv .sub_5_1{display:block;position:absolute;left:-30px;top:163px}
#banner .bDiv .sub_5_2{display:block;position:absolute;right:-30px;top:100px;width:718px;height:373px}
.notice_full{border-bottom:1px #e5e5e6 solid;height:61px}
.notice{width:1000px;height:auto;padding-top:15px;margin:0 auto}
.notice dt{width:180px;float:left;font-size:18px;color:#000}
.notice dt h2{font-size:18px;color:#000;font-weight:400}
.notice dd{width:730px;height:30px;overflow:hidden;padding-right:30px;background:url(../images/line.jpg) no-repeat right center;float:left;font-size:13px}
.notice dd li{width:730px;overflow:hidden;float:left;height:30px;line-height:30px}
.notice dd li span{float:left;padding-right:20px}
.homeTz{padding-top:43px;display:block;width:1000px;padding-bottom:27px}
.homeTz li{background:#f5f5f5;width:228px;height:153px;cursor:pointer;margin-right:27px;display:inline;float:left;border:1px #e6e6e7 solid}
.homeTz li .pic{height:86px;text-align:center}
.homeTz li .pic span{height:86px;display:block}
.homeTz li .pic span.bg1{background:url(../images/i1.png) no-repeat center center}
.homeTz li .pic span.bg2{background:url(../images/i2.png) no-repeat center center}
.homeTz li .pic span.bg3{background:url(../images/i3.png) no-repeat center center}
.homeTz li .pic span.bg4{background:url(../images/i4.png) no-repeat center center}
.homeTz li .txt{text-align:center;display:block;color:#504f4f;font-size:18px;line-height:15px}
.homeTz li .txt span{display:block;color:#c1c1c1;font-size:11px}
.homeTz li.hover,.homeTz li:hover{background:url(../images/i_bg_hover.jpg) #09C;border:1px #09C solid}
.homeTz li .txt a:hover,.homeTz li a:hover,.homeTz li.hover .txt span,.homeTz li:hover .txt span{color:#8fc4ec;text-decoration:none}
.homeTz li.hover .pic span.bg1,.homeTz li:hover .pic span.bg1{background:url(../images/i1_2.png) no-repeat center center}
.homeTz li.hover .pic span.bg2,.homeTz li:hover .pic span.bg2{background:url(../images/i2_2.png) no-repeat center center}
.homeTz li.hover .pic span.bg3,.homeTz li:hover .pic span.bg3{background:url(../images/i3_2.png) no-repeat center center}
.homeTz li.hover .pic span.bg4,.homeTz li:hover .pic span.bg4{background:url(../images/i4_2.png) no-repeat center center}
.cooperationLogo dd{height:391px;width:1000px;overflow:hidden;position:relative}
.classify{width:1000px}
.classify dt{width:57px;height:69px;float:left}
.classify dt a{width:57px;height:69px;background:url(../images/all-off.jpg) no-repeat;display:block}
.classify dt a.hover,.classify dt a:hover{background-color:#0195db;background:url(../images/all.jpg) no-repeat}
.classify dd{float:left;width:943px}
.classify dd a{border:1px #d8d8d8 solid;color:#464646;font-size:14px;border-radius:2px;height:31px;line-height:31px;display:inline-block;white-space:nowrap;margin:0 5px 3px;padding:0 17px}
.classify dd a.hover,.classify dd a:hover{background-color:#0195DB;color:#FFF}
.homeCase{width:1000px;padding-bottom:51px;padding-top:3px}
.cooperationLogo dt,.homeCase dt{height:30px;border-bottom:1px #d5d5d5 solid;}
.cooperationLogo dt h2,.homeCase dt h2{font-weight:400;color:#000;background:url(../images/line2.jpg) no-repeat 2px center;padding-left:12px;font-size:18px}
.homeCase dt h2{width:337px;float:left}
.homeCase dt h3{float:right;font-weight:400;font-size:13px;color:#919191;padding-right:50px;padding-top:5px;position:relative}
.homeCase dt h3 a{color:#919191;background:url(../images/cline.jpg) no-repeat center right;padding:0 5px}
.homeCase dt h3 a.all{background:url(../images/iconc.jpg) no-repeat left center;padding-left:15px;color:#1d9fe2}
.homeCase dt h3 .more{position:absolute;right:13px;top:5px;font-size:13px;color:#919191}
.homeCase dt h3 .more a{color:#919191;background:0 0}
.homeCase dd ul{width:1050px;display:none}
.homeCase li{width:236px;height:167px;position:relative;margin-top:19px;float:left;margin-right:18px;display:inline}
.homeCase li .txt{width:236px;display:none;height:167px;left:0;top:0;position:absolute;background:url(../images/i_bg_hover.jpg) #09C;color:#FFF;text-align:center;font-size:20px}
.homeCase li .txt p{padding-top:40px}
.homeCase li .txt span{font-size:12px;padding-top:8px;display:block}
.page{display:block;text-align:center}
.page a{border:1px #cecece solid;border-radius:5px;color:#a5a5a5;margin-right:5px;display:inline-block;padding:5px 10px}
.page a.curr,.page a:hover{background-color:#0096DB;color:#FFF;border:1px #0096DB solid}

.caseTop{height:84px;background:#0b98de;color:#FFF;text-align:center}
.caseTop a{height:84px;line-height:84px;color:#FFF;font-size:18px;margin-right:50px;display:inline-block}
.caseTop a.hover{background:url(../images/ctbg.jpg) no-repeat bottom center}
.caseTop .carouse{width:1000px;position:relative;height:84px}
.caseTop .showPrev2{width:29px;height:53px;left:-50px;top:18px;background:url(../images/showprev2.png) no-repeat;cursor:pointer;position:absolute}
.caseTop .showNext2{width:29px;height:53px;right:-50px;top:18px;background:url(../images/shownext2.png) no-repeat;cursor:pointer;position:absolute}
.caseList{width:1000px;height:auto;overflow:hidden;padding-bottom:67px;margin:0 auto}
.caseList li{width:310px;height:260px;margin-top:36px;margin-right:29px;display:inline;border:1px #ebebeb solid;border-bottom:2px #cdcdcd solid;float:left}
.caseList li.searchBg{background:#333;border:1px #333 solid;border-bottom:2px #333 solid}
.caseList li.searchBg .txt{color:#FFF;font-size:21px;text-align:center;line-height:35px;padding-top:45px}
.caseList li.searchBg .search2{width:254px;height:37px;background:url(../images/search2.jpg) no-repeat;margin:29px auto 0}
.caseList li.searchBg .search2 .input_1{width:190px;padding-left:10px;float:left;height:37px;background:0 0;border:0;color:#a5a5a5;font-size:13px}
.caseList li.searchBg .search2 .input_2{width:47px;float:right;height:37px;background:0 0;border:0;cursor:pointer}
.caseList li .pic{width:310px;height:207px}
.caseList li .txt{width:300px;height:auto;padding-top:5px}
.caseList li .txt p{width:300px;color:#000;font-size:14px}
.caseList li .txt p a,.caseList li .txt p a:active,.caseList li .txt p a:hover{color:#151515}
.caseList li .txt .item{padding-top:5px}
.caseList li .txt .item i{color:#b0b0b0;font-size:11px;float:left}
.caseList li .txt .item span.workTime{background:url(../images/shijian.png) no-repeat left center;margin-left:15px;padding-left:22px;width:auto;float:right}
.caseList li .txt .item a.jihuo{background:url(../images/jihuo.png) no-repeat left center;margin-left:15px;display:block;width:17px;height:17px;float:right}
.caseList li .txt .item i a{font-size:13.46px}
.caseList .viewMore{font-size:14px;line-height:25px;padding:30px 60px 20px}
.caseList .viewMore #viewpwd{border:1px solid #ccc;height:28px;line-height:28px}
.caseList .viewMore #subView{border:none;background:url(../images/buttom.jpg) no-repeat;width:87px;height:33px;color:#FFF;font-size:14px;font-weight:700;cursor:pointer}
.caseku li{height:320px}
.articleContent{width:1000px;height:auto;padding-bottom:130px;display:block;color:#666;line-height:24px;font-size:13px;margin:0 auto}
.companyTitle{color:#333;font-size:18px;font-weight:200;line-height:30px;text-align:center}
.about_1{width:1000px;height:auto;padding-bottom:130px;margin:0 auto}
.wangzhan dt img{padding-top:6px}
.service_1 .content dt{line-height:24px;color:#666;font-size:14px;padding:20px 0}
.service_1 .content dd li{width:294px;height:410px;float:left;margin-right:57px;display:inline}
.service_1 .content dd li .pic{height:167px}
.service_1 .content dd li .tit1{color:#0b98de;font-size:18px;padding:12px 0}
.service_1 .content dd li .con{font-size:13px;color:#666;line-height:22px}
.server_1{padding-bottom:130px;width:1000px;height:auto;margin:0 auto}
.server_1 dt .en{font-size:32px;color:#BBB;text-transform:uppercase}
.server_1 dt .ch{font-size:22px;padding-top:2px}
.newsTop h2{display:block;position:relative}
.newsTop h2 .more{position:absolute;right:0;top:50px;font-size:12px;color:#dcdcdc}
.newsTop dl{padding-top:27px}
.newsTop dt{width:557px;height:260px;float:left;background:#0b98de}
.newsTop dt .pic{width:345px;float:left}
.newsTop dt .txt{width:200px;float:right;padding-top:25px;font-size:17px;color:#FFF}
.newsTop dt .txt span{font-size:13px;display:block;padding-top:25px;line-height:22px;height:110px;overflow:hidden}
.newsTop dd{width:407px;float:right}
.newsTop dd li{width:407px;height:30px;line-height:30px;color:#666;font-size:13px}
.newsList{width:1000px;overflow:hidden;height:auto;padding-bottom:133px}
.newsList dd{width:468px;float:left;padding-top:70px;margin-right:58px;display:inline}
.newsList dd .title{height:36px;line-height:36px;font-size:20px;color:#000;border-bottom:1px #ececec solid;padding-left:13px;background:url(../images/line4.jpg) no-repeat 1px center;position:relative}
.newsList dd div .more{position:absolute;right:0;top:0;font-size:12px;color:#dcdcdc}
.newsList dd .nt2{line-height:21px;color:#b9b9b9;padding-top:17px;padding-bottom:12px;font-size:13px}
.newsList dd .nt2 span{font-size:17px;display:block;color:#414141;padding-bottom:18px}
.newsList dd .nt2 img{border:1px #efefef solid;margin-right:12px;float:left}
.newsList dd .nlist{width:468px;display:block}
.newsList dd .nlist li{width:468px;float:left;height:30px;line-height:30px;font-size:13px;color:#666}
.service_list dl{padding-top:94px;display:block}
.service_list dd li{width:400px;float:left;padding-top:54px;padding-left:19px;padding-right:125px}
.service_list dd li .pic{width:87px;float:left}
.service_list dd li .txt{width:310px;float:right;line-height:22px;color:#989898;font-size:14px}
.service_list dd li .txt span{font-size:22px;color:#5f5f5f;display:block;padding-bottom:16px}
.wangzhan dl{padding-top:83px;display:block}
.wangzhan dd{display:block;width:1000px;height:auto;padding-top:38px}
.wangzhan dd .txt{width:406px}
.wangzhan dd .txt .title{color:#0b98de;font-size:36px;padding-top:24px}
.wangzhan dd .txt .title a,.wangzhan dd .txt .title a:active,.wangzhan dd .txt .title a:hover{color:#0b98de}
.wangzhan dd .txt .con{color:#666;font-size:18px;padding-top:10px}
.wangzhan dd .txt .title2{color:#3e3e3e;font-size:14px;padding:28px 0}
.wangzhan dd .txt .title2 a{color:#7c7c7c;padding-right:17px}
.wangzhan dd .txt .more{color:#48b2e6;display:block;font-size:14px}
.wangzhan dd .txt .more a{color:#48b2e6}
.wangzhan dd .wzt{height:398px;margin-top:38px;position:relative}
.wangzhan dd .wzt .img{position:absolute;left:-10px}
.wangzhan dd .wzt .txt .con{color:#b9b9b9;font-size:18px;padding-top:6px}
.wangzhan dd .wzt .txt .tx1{display:block;width:406px;padding:25px 0}
.wangzhan dd .wzt .txt .tx1 li{width:188px;font-size:15px;float:left;height:30px;line-height:30px;color:#666;background:url(../images/icon1.jpg) no-repeat left center;padding-left:13px}
.wangzhan dd .wz1,.wangzhan dd .wz2,.wangzhan dd .wz3,.wangzhan dd .wz4,.wangzhan dd .wz5{height:398px;position:relative;margin-top:38px}
.wangzhan dd .wz1 .img{position:absolute;left:-108px}
.serviceClient{width:1000px;height:auto;padding-top:90px;margin:0 auto}
.serviceClient dt{height:69px;border-bottom:1px #ececec solid}
.serviceClient dt img{margin-left:13px}
.serviceClient dd{width:1000px;height:auto;overflow:hidden;padding-top:40px;padding-bottom:100px}
.cLIne{border-top:1px #ececec solid;height:800px}
.cm{height:800px;width:943px;background:url(../images/cm.jpg) no-repeat;position:relative}
.cm span{cursor:pointer;width:61px;height:62px;line-height:62px;text-align:center;font-size:14px;background:url(../images/c1.png) no-repeat;color:#FFF;font-weight:700;position:absolute}
.cm span.hover,.cm span:hover{background:url(../images/c2.png) no-repeat}
.classname_1{left:153px;top:67px}
.classname_2{left:0;top:168px}
.classname_3{left:136px;top:219px}
.classname_4{left:40px;top:317px}
.classname_5{right:83px;top:67px}
.classname_6{right:146px;top:176px}
.classname_7{right:1px;top:176px}
.classname_8{right:50px;top:307px}
.box{display:none;position:relative;z-index:400;width:460px;padding-top:200px;margin:0 auto}
.box .next,.box .prev{width:30px;height:56px;position:absolute;top:405px;cursor:pointer;z-index:1300}
.box .prev{background:url(../images/boxprev.jpg) no-repeat;left:-80px}
.box .next{background:url(../images/boxnext.jpg) no-repeat;right:-80px}
.box ul{position:relative;width:460px;height:485px;overflow:hidden;margin:0 auto}
.box li{position:absolute;width:0;height:0;top:0;left:0;z-index:0;cursor:pointer}
.box li img{width:100%;height:100%;vertical-align:top;display:block}
.showTit{height:85px;border-bottom:1px #d3d3d3 solid}
.showTit dt{float:left;color:#0b98de;font-size:32px}
.showTit dt span{display:block;color:#9a9a9a;font-size:16px}
.showTit dd img{padding-left:14px}
.show_pic{display:block;padding-top:73px;height:520px}
.show_pic dt{width:559px;float:left;height:455px;background:url(../images/pcbg.jpg) no-repeat;margin-left:30px;display:inline}
.show_pic dt .pic{width:515px;height:291px;padding-top:22px;overflow:hidden}
.show_pic dd{width:314px;height:423px;border:1px #e8e8e8 solid;float:right}
.show_pic dd .txt{border-bottom:1px #e8e8e8 solid;height:292px;word-break:break-all;word-wrap:break-word}
.show_pic dd .txt .tt1{width:294px;color:#a2a2a2;line-height:23px;font-size:14px;text-align:justify;text-justify:inter-ideograph;padding-top:31px}
.show_pic dd .txt2{width:304px;padding-left:10px;padding-top:15px;line-height:26px;color:#262626;font-size:14px}
.show_pic dd .txt2 i{color:#828282;padding-left:5px}
.boxes p a.chucuo,.show_pic dd .txt2 i a.chucuo{background:url(../images/chucuo.png) no-repeat;padding-right:5px;display:block;width:15px;height:12px;top:8px;position:relative;float:right}
.detail{line-height:24px;color:#8a8a8a;font-size:14px;padding-bottom:150px;word-break:break-all;word-wrap:break-word}
.show_line{height:74px;background:url(../images/line1.jpg) repeat-x}
.show_line span{width:74px;height:74px;background:url(../images/border1.jpg) no-repeat;display:block;margin:0 auto}
.show_line span a{height:36px;line-height:36px;color:#000;display:block;text-align:center}
.show_line span a.hover{color:silver}
.bottom_bg{height:313px;background:#eee}
.bottom dl{width:333px;float:left}
.bottom dt{color:#000;height:80px;line-height:80px;font-size:20px}
.bottom dd ol li{width:333px;color:#a4a4a4;float:left;height:28px;line-height:28px}
.bottom dd ol li span{color:#a0a0a0;padding-right:11px;font-size:13px}
.bottom dd ol li a{color:#a4a4a4;font-size:13px}
.bottom dd ul li{width:333px;float:left;padding-bottom:29px}
.bottom dd ul li .pic{width:94px;float:left}
.bottom dd ul li .txt{width:164px;float:left;padding-left:11px}
.bottom dd ul li .txt span{font-size:14px;color:#787878;display:block;padding-bottom:12px}
.bottom dd ul li .txt p{color:#919191}
.bottom dl#last{float:right;width:280px}
.bottom dl#last li{width:280px}
.hNews1{width:1000px;height:248px}
.hnLeft{width:652px;float:left}
.hnLeft dl{position:relative;width:100%}
.hnLeft dt{width:650px;overflow:hidden;background:#f8f8f9;height:34px;line-height:32px;border:1px #c7cbce solid;border-top:2px #c7cbce solid}
.hnLeft dl .lineT{background:#000;height:2px;overflow:hidden;position:absolute;left:0;top:0;z-index:700;width:218px}
.hnLeft dt ul{width:680px}
.hnLeft dt li{width:216px;float:left;text-align:center;cursor:pointer;color:#000;font-size:18px;border-right:1px #c7cbce solid}
.hnLeft dt li.hover{background:#FFF}
.hnLeft dd{width:652px;overflow:hidden;padding-top:15px}
.hnLeft dd ul{width:700px;display:none}
.hnLeft dd ul.tb dd{padding-top:inherit}
.hnLeft dd li{width:350px;float:left;height:30px;line-height:30px;color:#4a4a4a;font-size:13px}
.hnLeft dd li span{float:left;padding-right:9px;color:#0093dd}
.hnLeft dd li a{color:#4a4a4a;float:left}
.hnR{float:right;width:326px}
.hnR li{width:145px;height:57px;cursor:pointer;float:left;border:1px #d4d4d4 solid;margin-left:11px;margin-bottom:10px;display:inline}
.hnR li .pic{width:60px;height:57px;float:left}
.hnR li .n1{background:url(../images/n1.png) no-repeat center center}
.hnR li:hover{background:url(../images/nbg2.jpg) no-repeat #21a1e2;color:#FFF;border:1px #21a1e2 solid}
.hnR li:hover .n1{background:url(../images/n1_2.png) no-repeat center center;color:#FFF}
.hnR li .n2{background:url(../images/n2.png) no-repeat center center}
.hnR li:hover .n2{background:url(../images/n2_2.png) no-repeat center center;color:#FFF}
.hnR li .n3{background:url(../images/n3.png) no-repeat center center}
.hnR li:hover .n3{background:url(../images/n3_2.png) no-repeat center center;color:#FFF}
.hnR li .n4{background:url(../images/n4.png) no-repeat center center}
.hnR li:hover .n4{background:url(../images/n4_2.png) no-repeat center center;color:#FFF}
.hnR li .n5{background:url(../images/n5.png) no-repeat center center}
.hnR li:hover .n5{background:url(../images/n5_2.png) no-repeat center center;color:#FFF}
.hnR li .n6{background:url(../images/n6.png) no-repeat center center}
.hnR li:hover .n6{background:url(../images/n6_2.png) no-repeat center center;color:#FFF}
.hnR li .txt{width:84px;float:right;color:#6a6a6a;font-size:15px;padding-top:10px}
.hnR li .txt span{color:#a4a4a4;font-size:12px;display:block}
.hNews2{width:1000px;overflow:hidden;height:288px}
.hNews2 dd{width:304px;float:left;margin-right:44px;display:inline;overflow:hidden;text-overflow:ellipsis}
.hNews2 dd h1{position:relative;height:29px;background:url(../images/title1.jpg) no-repeat;line-height:15px;font-size:18px;font-weight:400;color:#131313;padding-left:10px}
.hNews2 dd h1 .more{position:absolute;right:13px;top:3px;font-size:12px;color:#dcdcdc}
.hNews2 dd ol li{width:304px;height:85px;overflow:hidden;float:left;color:#656565;line-height:19px;padding-top:12px;font-size:13px}
.hNews2 dd ol li span{padding-bottom:14px;display:block;font-size:16px;color:#000}
.hNews2 dd ol li img{border:1px #efefef solid;margin-right:9px;float:left}
.hNews2 dd ul li{width:304px;float:left;height:30px;line-height:30px;font-size:13px;color:#666}
.hNews2 dd ul li a:hover{color:#0896de}
.links{width:1000px;line-height:30px;font-size:13px;background:url(../images/line_h.jpg) repeat-x;position:relative;padding:10px 0}
.linksIcon{width:16px;height:16px;;cursor:pointer;position:absolute;right:7px;top:16px}
.links dt{float:left;color:#000}
.links dd{float:left;width:910px;height:30px;overflow:hidden}
.links dd a{white-space:nowrap;display:inline-block;color:#959595;background:url(../images/links_line.jpg) no-repeat right center;padding:0 9px}
.linksBottom{width:1000px;height:1px;background:url(../images/line_h.jpg) repeat-x}
.bottom_h{width:1000px;height:207px;padding-top:25px}
.bottom_h li{width:155px;float:left}
.bottom_h li span{font-size:16px;color:#21a1e2;padding-bottom:10px;display:block}
.bottom_h li p{display:block;line-height:24px;color:#666}
.bottom_h li p a{display:table;font-size:13px}
.foot{background:#151515;width:100%}
.foot .address{height:124px;width:980px;border-bottom:1px #212121 solid}
.foot .address dl{padding-top:37px;display:block}
.foot .address dt{width:745px;float:left}
.foot .address dt li{padding-left:14px;width:358px;float:left;color:#666}
.foot .address dt li img{float:left;margin-right:14px;margin-bottom:10px;margin-top:10px}
.foot .address dd{float:right;text-align:right;padding-top:5px}
.foot .address dd img{padding-right:12px}
.foot .copyRight{height:61px;line-height:61px;width:970px;color:#666}
.foot .copyRight dt a,.foot .copyRight dt a:hover{color:#595959}
.news_list{width:1000px;height:auto;padding-bottom:67px}
.news ul{margin-top:30px}
.news ul li{width:100%;float:left;height:100px;line-height:26px;border-bottom:#d9d9d9 solid 1px}
.news ul li .newsday{width:127px;color:#cfcece;float:left;font-size:15px;background:url(../images/new3.jpg) center right no-repeat;margin-top:50px;text-align:center}
.news ul li .newsday h3{font-size:28px;font-weight:100}
.news ul li .newstitle{width:750px;color:#999;float:left;margin-top:25px;margin-left:28px;display:inline}
.news ul li .newstitle h3{font-size:16px;color:#2f2f2f;font-weight:100}
.news ul li span{margin-top:40px;margin-right:40px;display:inline;float:right;width:30px;height:30px;background:url(../images/new10.jpg) right center no-repeat}
.news ul li:hover{border-bottom:0;background:#0096db}
.news ul li:hover span{background:url(../images/new2.jpg)}
.news ul li:hover .newsday{background:url(../images/new4.jpg) right center no-repeat}
.news ul li:hover .newstitle{color:#8dc4ea}
.textinput{width:620px;float:left;overflow:hidden;margin-top:50px}
.textinput .conract{height:50px;margin-top:20px;border:#b1b1b1 solid 1px;font-size:20px;color:#d9d9d9;text-indent:15px;line-height:50px;width:616px}
.textinput .conract1{height:50px;margin-top:20px;border:#b1b1b1 solid 1px;font-size:20px;color:#d9d9d9;text-indent:15px;line-height:50px;width:300px}
.textinput .conractmain{width:615px;height:200px;float:left;margin-top:20px;border:#b1b1b1 solid 1px;font-size:20px;color:#d9d9d9;text-indent:15px;line-height:40px}
.ml{margin-left:8px}
.tle{width:340px;float:right;margin-top:67px}
.tle h3{color:#202020;font-size:18px;font-weight:100;padding-bottom:10px}
.tle p{font-size:13px;margin-top:8px}
.newsmain{width:100%;float:left;text-align:center}
.newsmain h3{font-size:22px;font-weight:100;margin-top:55px}
.newsmain span{margin-left:4px;float:left;margin-top:35px;display:inline}
.newstime{float:left;margin-left:385px;margin-top:45px;padding-bottom:10px;display:inline}
.newsfont p{width:100%;text-align:left;font-size:14px;margin-top:30px;line-height:24px}
.newsimg{width:100%;text-align:center;margin-top:40px}
.queren{float:left;width:100%;margin-top:20px}
.hnjiathis{margin-top:45px}
.cu_content{float:left;display:inline;margin:30px 0 0 130px}
.cu_main{width:1000px;float:left}
.cu_main h3{font-size:14px;color:#228bd8;font-weight:100;margin-top:37px}
.cu_main h2{font-size:18px;color:#228bd8;font-weight:100;margin-top:31px}
.cu_img{float:left;margin-top:5px}
.apply h1{font-size:26px;font-weight:700;color:#0b98de;padding:20px 0}
.apply .articleTool{color:#666;font-size:14px;margin:10px 0}
.apply .applyTb td{font-size:16px;line-height:38px;padding:5px 0}
.apply .applyTb .nedd{color:#b20202;width:10px;padding:0 5px}
.apply .applyTb td label{margin:0 15px 0 4px}
.apply .applyTb td.ContactType input{vertical-align:text-top}
.apply INPUT[type=text]{border:1px solid #d3d3d3;color:#666;font-size:14px;width:400px;height:38px;line-height:38px;padding:2px}
.apply .txt{border:1px solid #d3d3d3}
.apply #ContactType{border:1px solid #d3d3d3;font-size:14px;width:150px;height:25px;line-height:25px}
.apply .articlePreNext{color:#acacac;line-height:25px;text-align:right}
.Red{color:red}
.contrct2 ul{width:100%}
.contrct2 li{width:1000px;float:left;padding-top:24px;padding-bottom:45px;background:url(../images/c_line.jpg) no-repeat left bottom}
.contrct2 li .title{color:#727171;font-size:20px;display:block}
.contrct2 li .con{display:block;padding-top:15px}
.contrct2 li .con .pic{width:450px;float:left}
.contrct2 li .con .txt{width:500px;float:right;line-height:40px;color:#868686;font-size:14px}
.contrct2 li .con .txt span{display:block;color:#727171;font-size:18px}
.contrct2 li.clearItem{background:0 0;padding-bottom:0}
.cooperationLogo dd li img,.serviceClient dd li img,input,select,textarea{vertical-align:middle}
.m_wrap,.m_wrap1,.m_wrap2,div{margin:0 auto}
.left,.newsTop dd li a,.notice dd li a,.wangzhan dd .wz2 .txt,.wangzhan dd .wz4 .txt{float:left}
.foot .copyRight dd,.right,.showTit dd,.wangzhan dd .wz1 .txt,.wangzhan dd .wz3 .txt,.wangzhan dd .wz5 .txt,.wangzhan dd .wzt .txt{float:right}
.service_1 .content,.w1000{width:1000px;height:auto}
.hNews2 dd ul li a,.m_con .p2,.m_wrap3 .table td span,.nav ul li .submenu ul li a,.nav ul li submenu ul li a:hover,.newsList dd .nlist li a:hover{color:#666}
.cu_main p,.m_con1 .p1,.m_con2 p{font-size:14px;color:#666}
.kefu .c2:hover .kfQQ,.m_table td a,.m_wrap2 dd .list .btn a,.qqlist,.similarCase,.wangzhan dd .wzt .txt .i_1{display:block}
.m_table td.bg2 img,.newsmain span img,.similarCase dt img{margin-top:5px}
.kefu .c2:hover,.kefu .c3:hover{background-position:-63px -64px}
.cooperationLogo,.newsTop,.service_1,.service_1 .content dd,.show,.t1 dl,.wangzhan{width:1000px;height:auto;margin:0 auto}
.bottom_h ul,.caseList ul,.hNews2 dl,.homeTz ul,.newsList dl,.service_1 .content dd ul,.service_list dd ul{width:1100px}
.homeTz li.hover .txt,.homeTz li:hover .txt,.news ul li:hover .newstitle h3{color:#fff}
.cooperationLogo dd li,.serviceClient dd li{height:130px;float:left;text-align:center;margin:0 20px 0 0}
.cooperationLogo dd li span,.serviceClient dd li span{height:100%;display:inline-block;vertical-align:middle}
.homeCase dt h3 .more a:hover,.homeCase dt h3 a.hover{color:#1d9fe2}
.homeCase dd,.service_list dd{width:1000px;overflow:hidden}
.caseku li .txt span,.caseku li span{background:0 0;padding-left:0}
.about_1 dd,.server_1 dd{padding-top:30px;display:block;color:#666;line-height:24px;font-size:13px}
.about_1 dt,.contrct2 dt,.newsTop h2,.server_1 .title,.server_1 dt,.service_1 .title,.service_list dt,.similarCase dt,.wangzhan dt{border-bottom:1px #ececec solid;height:71px;background:url(../images/line3.jpg) no-repeat left 0;padding-left:9px}
.hNews2 dd h1 .more a,.hNews2 dd h1 .more a:hover,.newsList dd div .more a,.newsList dd div .more a:hover,.newsTop h2 .more a,.newsTop h2 .more a:hover{color:#dcdcdc}
.hnR li:hover .txt,.hnR li:hover .txt span,.newsTop dt .txt a,.newsTop dt .txt a:hover,.newsTop dt .txt a:link{color:#FFF}
.newsList dd .nlist li span,.newsTop dd li span{float:right;color:#bcbcbc;font-size:12px}
.foot .copyRight dt,.newsList dd .nlist li a{color:#666;float:left}
.apply,.service_list{width:1000px;height:auto;padding-bottom:146px}
.wangzhan dd .wz2 .img,.wangzhan dd .wz4 .img{position:absolute;right:-95px}
.wangzhan dd .wz3 .img,.wangzhan dd .wz5 .img{position:absolute;left:-105px}
.bottom,.contrct2{width:1000px;margin:0 auto}
.news,.newsfont{width:100%;float:left}

/*--------------------------------产品服务-------------------------------------*/
.pro_ser{ padding-top:80px;}
.pro_ser .part1{ background:#fff; text-align:center;}
.pro_ser .part1 .p1{ font-family:"ITC Avant Garde Gothic Book"; color:#444444; font-size:48px;}
.pro_ser .part1 .p2{ line-height:63px; font-size:24px; color:#444444;}
.pro_ser .part1 .p3{ line-height:28px; font-size:16px; color:#666; padding-top:6px;}
.pro_ser .part1 .pic{ width:980px; margin:0 auto;}
.pro_ser .part2{ background:url(../images/pro_pic02.jpg) repeat; padding-top:85px;}
.w980{ width:980px; margin:0 auto;}
.pro_ser .part2 h3{ text-align:center; font-family:"ITC Avant Garde Gothic Book"; color:#fff; font-size:48px; font-weight:normal;}
.pro_ser .part2 h3 em{ font-size:24px; }
.pro_ser .part2 .pro_con{}
.pro_ser .part2 .pro_con .right{ width:498px; margin-top:100px;}
.pro_ser .part2 .pro_con .right .p1{ font-size:26px; color:#fff; line-height:36px; padding-bottom:25px; background:url(../images/pro_pic04.jpg) left bottom no-repeat;}
.pro_ser .part2 .pro_con .right .p2{ font-size:16px; color:#b2d8f1; line-height:24px; padding-top:24px;}
.pro_ser .part2 .pro_con .right ul{ padding-top:15px;}
.pro_ser .part2 .pro_con .right ul li{ float:left; width:250px; font-size:16px; margin-top:25px;}
.pro_ser .part2 .pro_con .right ul li a{ color:#fff; line-height:58px;}
.pro_ser .part2 .pro_con .right ul li img{ float:left; margin-right:8px;}
.pro_ser .part3{ padding-top:80px;}
.pro_ser .part3 .pic{ height:540px; background:url(../images/pro_pic10.jpg) top center no-repeat; width:100%;}
.pro_ser .part4{ background:url(../images/pro_pic11.jpg) repeat; padding-bottom:180px;}
.pro_ser .part4 ul{ padding-top:100px;}
.pro_ser .part4 ul li{ float:left; width:25%; text-align:center;}
.pro_ser .part4 ul li a{ padding:0 30px; display:inline-block;}
.pro_ser .part4 ul li a:hover{text-decoration:none;}
.pro_ser .part4 ul li .pic{ padding-bottom:58px; background:url(../images/pro_pic16.png) center bottom no-repeat;}
.pro_ser .part4 ul li .p1{ font-size:24px; color:#fff; line-height:66px; padding-top:34px;}
.pro_ser .part4 ul li .p2{ color:#cbeed9; font-size:14px; font-family:"微软雅黑"; line-height:28px;}

/*--------------------------------综合页面-------------------------------------*/
.zonghe{ font-family:"微软雅黑"; font-size:12px;}
.zonghe .w500{ width:500px;}
.zonghe .w1000{ width:1000px; margin:0 auto;}
.zonghe .wrap{ width:1000px; margin:0 auto;}
.zonghe .wrap .img{}
.zonghe .wrap .con{ width:415px;}
.zonghe .wrap .con .p1{ font-size:36px; color:#0b98de; padding-bottom:15px;}
.zonghe .wrap .con .p2{ font-size:18px; color:#666; padding-bottom:30px;}
.zonghe .wrap .con .list{}
.zonghe .wrap .con .list li{ float:left; font-size:15px; color:#666; width:50%; background:url(../images/zonghe_7.jpg) left center no-repeat; text-indent:10px; line-height:30px;}
.zonghe .wrap .con .btn{ padding-top:30px;}
.zonghe .wrap .con .more{ line-height:60px;}
.zonghe .wrap .con .more a{ font-size:14px; color:#48b2e6;}
.zonghe .wrap1{}
.zonghe .wrap1 dt{ text-align:center;}
.zonghe .wrap1 dd .jun{ width:1000px; margin:0 auto;}
.zonghe .wrap1 dd .jun .tit{}
.zonghe .wrap1 dd .jun ul{}
.zonghe .wrap1 dd .jun ul li{ font-size:16px; color:#FFF; line-height:25px; text-align:center; float:left; padding:0 10px 30px 0; width:110px;}
.zonghe .wrap1 dd .jun ul li.p0{ padding-right:0;}
.zonghe .wrap1 dd .jun ul li span{ width:45px; height:45px; display:block; margin:0 auto;}
.zonghe .wrap1 dd .jun ul li span.ico1{ background:url(../images/zonghe_20.jpg) center no-repeat;}
.zonghe .wrap1 dd .jun ul li span.ico2{ background:url(../images/zonghe_21.jpg) center no-repeat;}
.zonghe .wrap1 dd .jun ul li span.ico3{ background:url(../images/zonghe_22.jpg) center no-repeat;}
.zonghe .wrap1 dd .jun ul li span.ico4{ background:url(../images/zonghe_23.jpg) center no-repeat;}
.zonghe .wrap1 dd .jun ul li span.ico5{ background:url(../images/zonghe_24.jpg) center no-repeat;}
.zonghe .wrap1 dd .jun ul li span.ico6{ background:url(../images/zonghe_25.jpg) center no-repeat;}
.zonghe .wrap1 dd .jun ul li span.ico7{ background:url(../images/zonghe_26.jpg) center no-repeat;}
.zonghe .wrap1 dd .jun ul li span.ico8{ background:url(../images/zonghe_27.jpg) center no-repeat;}
.zonghe .wrap1 dd .jun ul li span.ico9{ background:url(../images/zonghe_28.jpg) center no-repeat;}
.zonghe .wrap1 dd .jun ul li span.ico10{ background:url(../images/zonghe_29.jpg) center no-repeat;}
.zonghe .wrap1 dd .list{ float:left; padding:0 80px 95px 0;}
.zonghe .nTab{ width:100%;}
.zonghe .nTab .hd{ height:116px; position:relative; width:1000px; margin:0 auto;}
.zonghe .nTab .hd ul{ float:left;  position:absolute; left:0; top:0; height:116px; width:100%;}
.zonghe .nTab .hd ul li{ float:left; cursor:pointer; text-align:center; font-size:24px; color:#616161; line-height:60px; padding:0 31px; position:relative; padding-bottom:10px;}
.zonghe .nTab .hd ul li span{ width:46px; height:46px; display:block; margin:0 auto;}
.zonghe .nTab .hd ul li span.ico1{ background:url(../images/zonghe_10.jpg) center no-repeat;}
.zonghe .nTab .hd ul li span.ico2{ background:url(../images/zonghe_11.jpg) center no-repeat;}
.zonghe .nTab .hd ul li span.ico3{ background:url(../images/zonghe_12.jpg) center no-repeat;}
.zonghe .nTab .hd ul li span.ico4{ background:url(../images/zonghe_13.jpg) center no-repeat;}
.zonghe .nTab .hd ul li span.ico5{ background:url(../images/zonghe_14.jpg) center no-repeat;}
.zonghe .nTab .hd ul li span.ico6{ background:url(../images/zonghe_15.jpg) center no-repeat;}
.zonghe .nTab .hd ul li span.ico7{ background:url(../images/zonghe_16.jpg) center no-repeat;}
.zonghe .nTab .hd ul li.on i{ background:url(../images/zonghe_17.jpg) center no-repeat; width:100%; height:11px; display:block; position:absolute; bottom:0; left:0;}
.zonghe .nTab .hd ul li.on.c1{ color:#379de1;}
.zonghe .nTab .hd ul li.on.c2{ color:#ea8632;}
.zonghe .nTab .hd ul li.on.c3{ color:#a86ffb;}
.zonghe .nTab .hd ul li.on.c4{ color:#7896ff;}
.zonghe .nTab .hd ul li.on.c5{ color:#9adf6b;}
.zonghe .nTab .hd ul li.on.c6{ color:#6c77a7;}
.zonghe .nTab .hd ul li.on.c7{ color:#ff5c5c;}
.zonghe .nTab .bd{  /*background:url(../images/zonghe_38.jpg) 49.5% center no-repeat #379ae1;*/ height:600px;}
.zonghe .nTab .bd .jun .cop{background:url(../images/cop.png) no-repeat right center;height: 478px;}
.zonghe .line{ border-bottom:#ececec 1px solid; margin:50px 0;}


.paging{display:block;text-align:center}
.paging li{border:1px #cecece solid;border-radius:5px;color:#a5a5a5;margin-right:5px;display:inline-block;padding:5px 10px;cursor:pointer;*display: inline;zoom: 1;}
.paging .on,.paging li:hover{background-color:#0096DB;color:#FFF;border:1px #0096DB solid;}
.paging .hd,.paging .hd:hover{background: none;border:0;margin: 0;padding: 0;border-radius: 0;}
.FullScene{}
.FullScene .m_bg{ background:url(../images/151021_21.jpg) top center no-repeat;}
.FullScene .m_bg1{ background:#f9f9f9; border-top:#f0f0f0 1px solid;}
.FullScene .m_bg2{ background:#000;}
.FullScene .m_bg3{ background:url(../images/151021_20.jpg) top center no-repeat;}
.FullScene .m_wrap6{}
.FullScene .m_wrap6 dt .txt{ color:#FFF; font-size:15px; text-align:center; line-height:25px; padding-top:70px;}
.FullScene .m_wrap6 dt span{ display:block; text-align:center;}
.FullScene .m_wrap6 dt span.en{ padding-top:80px;}
.FullScene .m_wrap6 dt span.cn{ font-size:25px; color:#000; padding-top:15px;}
.FullScene .m_wrap6 dd .box1{ padding:118px 0;}
.FullScene .m_wrap6 dd .box1 li{ width:146px; height:262px; float:left; padding:0 20px; margin-right:17px;}
.FullScene .m_wrap6 dd .box1 li.c1{ background:#f37020;}
.FullScene .m_wrap6 dd .box1 li.c2{ background:#e57977;}
.FullScene .m_wrap6 dd .box1 li.c3{ background:#fec12a;}
.FullScene .m_wrap6 dd .box1 li.c4{ background:#7fb881;}
.FullScene .m_wrap6 dd .box1 li.c5{ background:#c289ce;}
.FullScene .m_wrap6 dd .box1 li span{ width:65px; height:65px; display:block; margin:25px auto;}
.FullScene .m_wrap6 dd .box1 li span.ico1{ background:url(../images/151021_2.jpg) center no-repeat;}
.FullScene .m_wrap6 dd .box1 li span.ico2{ background:url(../images/151021_3.jpg) center no-repeat;}
.FullScene .m_wrap6 dd .box1 li span.ico3{ background:url(../images/151021_4.jpg) center no-repeat;}
.FullScene .m_wrap6 dd .box1 li span.ico4{ background:url(../images/151021_5.jpg) center no-repeat;}
.FullScene .m_wrap6 dd .box1 li span.ico5{ background:url(../images/151021_6.jpg) center no-repeat;}
.FullScene .m_wrap6 dd .box1 li .p1{ font-size:17px; color:#FFF; text-align:center; padding-bottom:10px;}
.FullScene .m_wrap6 dd .box1 li .p2{ font-size:13px; color:#FFF; line-height:23px;}
.FullScene .m_wrap6 dd .box1 li.last{ margin-right:0;}
.FullScene .m_wrap6 dd .box2{ padding-top:65px;}
.FullScene .m_wrap6 dd .box2 li{ float:left; width:310px; margin:15px 15px 0 0; height:192px; overflow:hidden;}
.FullScene .m_wrap6 dd .box2 li img{ float:left;}
.FullScene .m_wrap6 dd .box2 li p{ font-size:14px; color:#FFF; background:#3cade5; padding:15px 20px; float:left; width:270px;}
.FullScene .m_wrap6 dd .box2 li p i{ background:url(../images/151021_8.jpg) no-repeat; width:25px; height:15px; display:block; float:right; margin-top:3px;}
.FullScene .m_wrap6 dd .box2 li .move{ position:relative; top:0;}
.FullScene .m_wrap6 dd .box3{ padding:90px 0;}
.FullScene .m_wrap6 dd .box3 li{ width:221px; height:221px; float:left; margin-right:38px;}
.FullScene .m_wrap6 dd .box3 li.c1{ background:url(../images/151021_16.jpg) no-repeat;}
.FullScene .m_wrap6 dd .box3 li.c2{ background:url(../images/151021_17.jpg) no-repeat;}
.FullScene .m_wrap6 dd .box3 li.c3{ background:url(../images/151021_18.jpg) no-repeat;}
.FullScene .m_wrap6 dd .box3 li.c4{ background:url(../images/151021_19.jpg) no-repeat;}
.FullScene .m_wrap6 dd .box3 li span{ width:65px; height:65px; display:block; margin:50px auto 15px;}
.FullScene .m_wrap6 dd .box3 li span.ico1{ background:url(../images/151021_12.jpg) center no-repeat;}
.FullScene .m_wrap6 dd .box3 li span.ico2{ background:url(../images/151021_13.jpg) center no-repeat;}
.FullScene .m_wrap6 dd .box3 li span.ico3{ background:url(../images/151021_14.jpg) center no-repeat;}
.FullScene .m_wrap6 dd .box3 li span.ico4{ background:url(../images/151021_15.jpg) center no-repeat;}
.FullScene .m_wrap6 dd .box3 li p{ text-align:center; color:#FFF; font-size:16px; line-height:25px;}
.FullScene .m_wrap6 dd .box3 li.last{ margin-right:0;}
.FullScene .m_bodybg{ background:url(../images/151021_31.png); width:100%; height:100%; position:fixed; top:0; left:0; z-index:9998; display:none;}
.FullScene .m_popup{ position:fixed; top:0; left:0; z-index:9999; display:none;}
.FullScene .m_dw{ border:#40b1e9 5px solid; position:relative; background:#FFF;}
.FullScene .m_dw .close{ background:url(../images/151021_33.jpg) no-repeat; width:27px; height:27px; position:absolute; top:-5px; right:-32px; cursor:pointer;}

.panorama_box{ width:100%; position:relative;}
.panorama_box .image_box{ margin:auto; overflow:hidden;position:relative;}
.panorama_box .image_box img{position:relative;}
.panorama_box .toolbar{ height:38px; text-align:center; padding-bottom:70px; padding-top:10px; margin:0 auto; width:290px;}
.panorama_box .toolbar span{height:38px;width:38px;margin:0 5px;cursor:pointer;display:block; float:right;}
.panorama_box .zoomin{background:url(../images/151021_24.png) no-repeat;}
.panorama_box .zoomout{background:url(../images/151021_28.png) no-repeat;}
.panorama_box .turnleft{background:url(../images/151021_27.png) no-repeat;}
.panorama_box .turnright{background:url(../images/151021_25.png) no-repeat;}
.panorama_box .start{background:url(../images/151021_26.png) no-repeat;}
.panorama_box .pause{background:url(../images/151021_30.png) no-repeat;}
.panorama_box .reset{background:url(../images/151021_29.png) no-repeat;}
.panorama_box .lamplight0{ background:url(../images/desktop-lens-01.png) no-repeat; width:100%; height:505px; position:absolute; top:-150px; left:0; z-index:99;}
.panorama_box .lamplight1{ background:url(../images/desktop-lens-02.png) no-repeat; width:100%; height:505px; position:absolute; top:-150px; left:0; z-index:99;}
.panorama_box .lamplight2{ background:url(../images/desktop-lens-03.png) no-repeat; width:100%; height:505px; position:absolute; top:-150px; left:0; z-index:99;}
.panorama_box .lamplight3{ background:url(../images/desktop-lens-04.png) no-repeat; width:100%; height:505px; position:absolute; top:-150px; left:0; z-index:99;}


.job{font-size:14px;line-height: 2;}
.job .job_1{font-size:16px;clear: both;}
.job .job_1 li{float:left;margin-left:60px;}
.job .job_1 li:first-child{margin-left:0;}
.job .job_1 h3{margin-bottom:30px;}
.job .job_1 p{padding-left:20px;}
.job .job_1 .cn p{padding-left:40px;}
.job .job_1 .cn2 p{padding-left:32px;}
.job .job_2 table{width: 670px;}
.job .job_2 tr td:first-child{color: #a3a3a3;}
.job .job_2 td{vertical-align: top;}
.job .job_info{padding-right:340px;position: relative;}
.job .job_info .title{font-size:25px;margin-bottom:10px;}
.job .job_info dt{font-size:16px;color:#313131;}
.job .job_info .bd{background: url(../images/job_10.jpg) repeat-x;height: 1px;}
.job .job_info .more{background-color: #0b98de;line-height: 49px;width: 172px;text-align: center;font-size:16px;color:#fff;display: block;}
.job .job_info .cl{position: absolute;right:5px;top:-10px;border:1px solid #e5e5e5;width: 228px;padding:8px 16px 50px;}
.job .job_info .cl dt{border-bottom:1px solid #f2f2f2;padding-left:10px;margin-bottom:10px;}
.job .job_info .cl dd{background: url(../images/job_11.jpg) no-repeat 13px center;padding-left:27px;}

.book ul,.pro ul{ width:100%; }

.book li{ width:235px; float: left; margin-right:20px;margin-bottom:60px; line-height:20px; height:390px; }
.book li a{font-size:13px; color:#444; padding-bottom:3px;display:block;text-align:center}
.book li img{ border:2px solid #e6e6e6;width:100%}

/********************************4In1Yuan**************************************/

.bd{background-color: #379ae1;height: 600px;}
.bd .box1{width: 1000px;margin: 0 auto;padding-top:50px;}

.bd .box1 .w500{width: 500px;}
.bd .box1 .w300{width: 300px;}

.bd .box1 .w400{width:400px;padding: 0 30px;box-sizing: border-box;*width:300px;}
.bd .box1 .cop{background:url(../images/cop.png) no-repeat right center;height: 478px;width: 485px; margin-right:15px;}
.bd .box1 .tit{font-size: 38px;color:#ffffff;height: 92px;line-height: 92px;padding-left:30px;}
.bd .box1 li{text-align: center;float:left;width: 150px;font-size: 16px;color:#ffffff;line-height: 22px;margin-top: 40px;}
.bd .box1 .w500 li{width: 120px;}
.bd .box1 li span{background: url(../images/ico.png) no-repeat;width: 40px;height: 40px;display:inline-block;*display:inline;zoom:1;}
.bd .box1 li span.ico1{background-position:-680px 0;}
.bd .box1 li span.ico2{background-position:-720px 0;}
.bd .box1 li span.ico3{background-position:-760px 0;}
.bd .box1 li span.ico4{background-position:-560px 0;}
.bd .box1 li span.ico5{background-position:-600px 0;}
.bd .box1 li span.ico6{background-position:-640px 0;}
.bd .box1 li span.ico7{background-position:-800px 0;}
.bd .box1 li span.ico8{background-position:-960px 0;}
.bd .box1 li span.ico9{background-position:-1000px 0;}
.bd .box1 li span.ico10{background-position:-1040px 0;}
.bd .box1 li span.ico11{background-position:-840px 0;}
.bd .box1 li span.ico12{background-position:-880px 0;}
.bd .box1 li span.ico13{background-position:-920px 0;}
.bd .box1 li span.ico14{background-position:-520px 0;}
.bd .box1 li span.ico15{background-position:-120px 0;}
.bd .box1 li span.ico16{background-position:-160px 0;}
.bd .box1 li span.ico17{background-position:-200px 0;}
.bd .box1 li span.ico18{background-position:0 0;}
.bd .box1 li span.ico19{background-position:-40px 0;}
.bd .box1 li span.ico20{background-position:-80px 0;}
.bd .box1 li span.ico21{background-position:-240px 0;}
.bd .box1 li span.ico22{background-position:-400px 0;}
.bd .box1 li span.ico23{background-position:-440px 0;}
.bd .box1 li span.ico24{background-position:-480px 0;}
.bd .box1 li span.ico25{background-position:-280px 0;}
.bd .box1 li span.ico26{background-position:-320px 0;}
.bd .box1 li span.ico27{background-position:-360px 0;}
.bd .box1 li span.ico28{background: url(../images/ico_1.png) no-repeat center;}
.bd .box1 li span.ico29{background: url(../images/ico_2.png) no-repeat center;}





















