@charset "utf-8";
.nav .nav2{
	background:#041b30;
}
/* banner 开始 */

.banner img{
	width:100%;
	min-width:1200px;
	margin-bottom:30px;	
}

/*subnav 样式*/

.subnav{
	width:100%;
	min-width:1200px;
	height:57px;
	background:#e6e6e6;
	font-size:18px;
	line-height:57px;
	margin-bottom:100px;
}
.subnav p{
	color:#999;
}
.subnav p span{
	color:#333;	
}
.subnav .tab li{
	display:inline-block;
	*display:inline;
	*zoom:1;
	margin:0 5px;
	position:relative;
	height:57px;
}
.subnav .tab li p i{
	display:inline-block;
	*display:inline;
	*zoom:1;
	width:30px;
	height:1px;
	background:#f14e0d;
	position: absolute;
	bottom:0;
	right:20px;
	display:none;
}

.subnav .tab li a:link,.subnav .tab li a:visited{
	color:#666;	
}

.subnav .tab li:hover i{	
	display:block!important;	
}
.subnav .tab li:hover a{
	color:#f14e0d!important;
}
/*content 样式*/
.content{
	width:100%;
	overflow:hidden;
}

/*profile 样式*/
.content .profile,.content .concept{
	padding-bottom:80px;
}
.content .profile .proBottom,.content .concept .conBottom{
	width:800px;
	margin:0 auto;	
}
.content h3{
	font-size:42px;	
	padding-top:36px;
	margin-bottom:20px;
}
.content .profile .proBottom p,.content .concept .conBottom p {
	font-size:16px;
	line-height:1.5;
	margin-bottom:20px;
}

/*philosophy  样式*/

.content .philosophy{
	background:#e6e6e6;
	padding:100px 0;
}
.content .philosophy .phTop{
	margin-bottom:40px;	
}
.content .philosophy li{
	width:332px;
	height:334px;
	color:#fff;
}
.content .philosophy li.phi1{
	background:url(../images/phi1.jpg) no-repeat;	
}
.content .philosophy li.phi2{
	background:url(../images/phi2.jpg) no-repeat;
	margin:0 100px;	
}
.content .philosophy li.phi3{
	background:url(../images/phi3.jpg) no-repeat;	
}
.content .philosophy li>div{
	width:276px;
	margin:0 auto;
	padding-top:90px;	
}
.content .philosophy .phiTop{
	font-size:36px;	
}
.content .philosophy .phiMiddle{
	font-size:12px;
	letter-spacing:1px;
	margin-bottom:26px;
}
.content .philosophy .phiBottom{
	text-align:justify;	
}

/*history 样式*/

.content .history{
	padding-top:100px;
	margin-bottom:90px;
}
.content .history .hisBottom{
	text-align:justify;
	font-size:18px;
	padding-top:42px;
}
.content .history .hisBottom p{
	color:#808080;
	padding-left:88px;
	margin-bottom:20px;
}
.content .history .hisBottom p span{
	font-size:24px;
	margin-right:36px;
}
.content .history .hisBottom .histext{
	color:#0d0d0d;	
	width:877px;
}
.content .history .hisBottom>div{
	padding-left:104px;
	font-size:18px;
}
.content .history .hisBottom .hisTime{
	width:122px;
	background:url(../images/time.png) repeat-y;
	background-position:right top;
	margin-right:54px	
}
.content .history .hisBottom .hisTime li{
	padding-top:38px;
	margin-bottom:37px;	
	transition: all 0.1s;
}
.content .history .hisBottom .hisTime li:hover{
	color:#0c3861;
	margin-left:8px;
}
.content .history .hisBottom .histext{
	padding-top:20px;	
}
.content .history .hisBottom .histext li{
	width:857px;
	height:68px;
	background:url(../images/text.png) no-repeat;
	margin-bottom:30px;
	padding-left:48px;
	line-height:68px;
	transition: all 0.3s;	
}
.content .history .hisBottom .histext li:hover{
	cursor: pointer;
	color:#fff;
	background:url(../images/textH.png) no-repeat;
}

/*concept 样式*/

.content .conBox{
	width:100%;
	height:500px;
	background:#eff3f6;
}
.content .conBox>ul{
	margin:0 auto;
	width:800px;
	text-align:justify;
	padding-top:78px;
}
.content .conBox>ul>li{
	width:400px;
}
.content .conBox .conText{
	padding-top:40px;
}
.content .conBox .conTit{
	width:286px;
	font-size: 30px;
	padding-bottom:10px;
	border-bottom:1px solid #f14e0d;
}
.content .conBox .conText dt{
	font-size:24px;
	color:#164e7f;
	margin:10px 0;
}
.content .conBox .conText dd{
	font-size:18px;
	color:#595959;
}
.content .conBox .conText dd>span{
	color:#f14e0d;
}

/*技术 样式*/

.content .technolgy .tecTop img{
	padding-top:100px;
}
.technolgy .tecBottom>li>ul{
	width:1000px;
	margin:0 auto;
	vertical-align:center;
	padding:100px 0;
}
.technolgy .tecBottom .tecImg{
	width:465px;
}
.technolgy .tecBottom .tecText{
	width:460px;
	text-align: justify;
	padding-top:15px;
}
.technolgy .tecTextTop{
	margin-bottom:20px;
}
.technolgy .tecTextTop .ch{
	font-size:40px;
}
.technolgy .tecTextTop .en{
	font-size:18px;
	color:#636363;
}
.technolgy .tecTextBottom{
	padding-top:20px;
	border-top:1px solid #f14e0d;
}
.technolgy .tecTextBottom p{
	font-size:16px;
	color:#595959;
	margin-bottom:10px;
}
.technolgy .tecTextBottom p span{
	font-size:20px;
	color:#164e7f;
}
.technolgy .tecTextBottom p i{
	font-style:normal;
	font-size:18px;
	color:#f14e0d;
	margin:0 4px;
}
.technolgy .tecBottom .tec2{
	background:#eff3f6;
}
.technolgy .tec2 .tecText{
	padding-top:5px;
}
.technolgy .tec3 .tecImg{
	padding-top:20px;
}
.technolgy .tec3 .tecText{
	padding-top:0;
}

/*门店查询 样式*/

 #r-result{
	text-align: justify;
	
}
.mapTxt{
 	width:100%;
 }
.mapTxt li{
	width:100%;
	height:53px;
 	border:1px solid #bfbfbf;
 	margin:10px 0;
 	padding-top: 27px;
 	
}
.mapTxt li .mapDm{
	background:url(../images/map.png) no-repeat;
	width:232px;	
	height:25px;
	font-size:20px;
	margin-left:20px;
	padding-left:32px;
	/*font-weight: bold;*/
}
.mapTxt li .m1 {
	background-position:0 -25px;
}
.mapTxt li .m2 {
	background-position:0 -50px;
}
.mapTxt li .m3 {
	background-position:0 -75px;
}
.mapTxt li .m4 {
	background-position:0 -100px;
}
.mapTxt li .m5 {
	background-position:0 -125px;
}
.mapTxt li .m6 {
	background-position:0 -150px;
}
.mapTxt li .m7 {
	background-position:0 -175px;
}
.mapTxt li .m8 {
	background-position:0 -200px;
}
.mapTxt li .m9 {
	background-position:0 -225px;
}

.mapTxt li .mapDz{
	width:378px;
	margin-top:-12px;
	margin-left:90px;
	font-size:14px;
	line-height:25px;
	color:#666;
	text-align: justify;
}
.mapTxt li .mapDz span{
	font-size:16px;
	font-weight: bold;
}
.mapTxt li .mapSf{
	margin-left:80px;
}














