@charset "UTF-8";
.nav .nav5{
    background:#041b30;
}
/*banner  样式开始*/
.banner img{
    width:100%;
    min-width:1200px;
    margin-bottom:30px;
}

/* banner 样式结束 */

/* 面包屑 样式开始 */
.site {
   width:100%;
   height:58px;
   font-size: 18px;
   background:#e6e6e6;
   line-height:58px;
   margin-bottom: 100px;  
}

.site .siLeft{
    font-size: 18px;
    color:#999;  
    height:20px;   
}
.site .siLeft>li{
    display:inline-block;
    *display:inline;
    *zoom:1; 
}
.site .siLeft a:link,.site .siLeft a:visited{
    color: #999;
}
.site  .left_1 a:link,.site .left_1 a:visited{
    color:#333;  
}
.site .siRight a:link,.site .site1 .siRight a:visited{
     color:#666; 
}
.site  .siRight li{
    width:100px;
    height:58px;
    display:inline-block;
    *display:inline;
    *zoom:1; 
    text-align: center;
    margin-left: 22px;
    position: relative;
}
.site  .siRight a:link,.site  .siRight a:visited{
    color:#333;
}
.site  .siRight i{
    display:inline-block;
    *display:inline;
    *zoom:1; 
    width:30px;
    height:1px;
    background:#f14e0d;
    position: absolute;
    bottom:0;
    right:30px;
    display: none;
}
.site  .siRight li:hover a{
    color:#f14e0d;
}
.site  .siRight li:hover i{
    display: block;
}
/*面包屑 样式结束*/


/*min banner 样式开始*/

.minBanner .min ul li{
    display:inline-block;
    *display:inline;
    *zoom:1;
    margin:30px 20px 50px 0;
    font-size: 0;   
}
.minBanner .min>ul{
    width: 670px;
 }
/*min banner 样式结束*/


/*message 样式开始*/
/*左边样式*/
.message{
    margin-bottom:216px;
}
/*.message .left .ziLeft p,.message .left .ziRight p,.message .ziRight li,.message .right .ziLeft p,.message .right .ziRight p{font-size: 14px;}*/
.message .left{
    width: 600px;
}
.message .left>ul>li{
    display:inline-block;
    *display:inline;
    *zoom:1;
}
.message .left .ziLeft{
    width: 80px;
    text-align: right;
    font-size: 16px;
    color: #333;
}
.message .left .ziLeft>p{
    margin-bottom: 16px;
}
.message .left .ziRight{
    width: 500px;
    text-align: left;
    margin-left: 20px;
    font-size: 16px;
    color: #666;
}
.message .left .ziRight>p{
    font-size: 16px;
    color: #888;
    margin-bottom: 18px;
    padding-top: 0;
}
.message .left .ziRight>ul>li{
    line-height:30px;
}
/*右边样式*/
.message .right{
    width: 600px;
    text-align: right ;
    margin-top: 0;
} 
.message .right>ul>li{
    display:inline-block;
    *display:inline;
    *zoom:1;
}
.message .right .ziLeft{
     width: 160px;
    text-align: right;
    font-size: 16px;
    color: #333;
}
.message .right .ziLeft>p{
       margin-bottom: 16px;
}
.message .right .ziRight{
    width: 340px;
    text-align: left;
    margin-left: 20px;
    font-size: 16px;
    color: #666;
}
.message .right .ziRight>p{
    font-size: 16px;
    color: #888;
    margin-bottom: 18px;
    padding-top: 0;
}

/*message 样式结束*/

/*news 样式开始 */
.news{
    margin-bottom: 100px;
}
.news .bigBox{
    margin-top: 50px;
}
/*新闻左图样式开始*/
.news .newsLeft{
    width: 751px;
}
/*文字*/
.news .newsLeft .news1 .newsZi{
    display:inline-block;
    *display:inline;
    *zoom:1;
    width: 329px;
    height:375px;
    text-align:left;
    padding: 23px 0 0 24px;
    background:#e6e6e6;
}
.news .newsLeft .news1 .newsZi .newsZi_1{
    font-size: 14px;
    color:#8c8c8c;

}
.news .newsLeft .news1 .newsZi .newsZi_2{
    font-size: 34px;
    color:#333333; 
}
.news .newsLeft .news1 .newsZi .newsZi_3{
    background:#195081;
    width: 100px;
    height: 15px;
    font-size: 11px;
    color:#fff;

}
.news .newsLeft .news1 .newsZi .newsZi_4{
    width:325px;
    font-size: 18px;
    color:#595959; 
}
/*新闻右图样式开始*/
.news .newsRight{
    width:416px;
}
.news .newsRight .newsZi1{
    margin-bottom: 30px;
}
.news .newsRight .newsZi1 .Zi{
    text-align:left;
    background:#e6e6e6;
    height: 162px;
    width: 180px;
    padding-left:52px;
    padding-top:22px; 
}
.news .newsRight .newsZi1 .Zi .Zi_1{
    font-size: 14px;
    color: #8c8c8c;
}
.news .newsRight .newsZi1 .Zi .Zi_2{
    font-size: 20px;
    color: #333;
    margin-bottom: 14px;
}
.news .newsRight .newsZi1 .Zi .Zi_3{
    font-size:11px;
    color: #fff;
    background-color:#195081;
    height: 16px;
    width: 98px;
    margin-bottom: 22px;
}
.news .newsRight .newsZi2 .Zi1{
    display:inline-block;
    *display:inline;
    *zoom:1;
    text-align:left;
    background:#e6e6e6;
    height: 162px;
    width: 180px;
    padding-left:52px;
    padding-top: 22px;
}
.news .newsRight .newsZi2 .Zi1 .Zi_1{
    font-size: 14px;
    color: #8c8c8c;
}
.news .newsRight .newsZi2 .Zi1 .Zi_2{
    font-size: 18px;
    color: #333;
    margin-bottom: 14px;
}
.news .newsRight .newsZi2 .Zi1 .Zi_3{
    font-size:11px;
    color: #fff;
    background-color:#195081;
    height: 16px;
    width: 98px;
    margin-bottom: 22px;
}

/*news 结束*/

