@charset "UTF-8";
.nav .nav3{
    background:#041b30;
}
body{background-color: #e2e1e1;}

/*banner*/
.banner{background:url(../images/banner4.jpg) ;width: 100%;height: 600px;}
.banner .wrapper .lian{width: 200px;height: 510px;background: url(../images/type.png) no-repeat;}
.banner .wrapper .lian p{width: 200px;height: 26px;margin: 48px 0;}
.banner .wrapper .lian p:hover{color: #154d7c;cursor:pointer;transform:translateX(-2px);}
.banner .wrapper .lian p:hover i{display: inline-block;width: 12px;height: 12px; background-color: #154d7c;transform:rotate(225deg);border-radius: 2px;margin:0 22px;color: #454545;}
.banner .wrapper span{margin-left: 56px;}
.banner .wrapper .lian .p1{margin: 106px 0 48px 0;}
.banner .wrapper i{display: inline-block; width: 10px;height: 10px;background-color: #154d7c;transform:rotate(45deg);border-radius: 2px;margin:0 22px;color: #454545;transition:all .5s;}
.banner .wrapper{width: 1164px; padding: 36px 0 0 36px;}

/*配件*/
.acc div{margin:0 auto;width: 600px;margin-top: 60px;}
.acc .acc_mid{margin-left: 100px;}
.acc .acc_mid span{margin-left: -10px;}
.acc p {position: relative;overflow: hidden;}
.acc p img{width: 136px;height: 158px;}
.acc p i{ position: absolute;top: 0;left: 0;opacity: .8;transition:all .1s;}
.acc span{z-index: 3px;font-size: 10px;color: #fff;position: absolute;top: 35%;left: 30%;}
.acc p:hover i{opacity: 1;}
/*热卖产品1*/
.hot1{width: 1198px;height: 775px;background-color: #fff;margin:0 auto;margin-top: 190px;}
.hot1 .top .top_l{width: 70px;height: 224px;margin-top: 36px;margin-left: 184px;}
.hot1 .top .top_l{border:1px solid rgba(242,40,0,0.3);}
.hot1 .top .top_l .txt1{width: 68px;text-align: center; font-size: 22px;font-family: "Segoe Print";}
.hot1 .top .top_l li{width: 68px;height: 30px;text-align: center;font-size: 24px;}
.hot1 .top .top_l .arr01{width: 68px; text-align: center;margin-top: 10px;}
.hot1 .top .top_r{width: 648px;height: 404px; margin-top: -130px;margin-right: 108px;}
/*小标签2*/
.hot1 .txt2{width: 182px;height: 24px;margin-top: 20px;margin-right: 140px;}
.hot1 .txt2 .roam{font-size: 16px;color: #595959;text-align: center;}
.hot1 .txt2 .check{width: 75px;height: 19px; font-size: 12px;color: #595959;margin-left: 20px;padding-top:3px;padding-left:5px;border: 1px solid rgba(242,40,0,.3);}

.hot1 .txt2 .check .arr02{margin-right: 5px;margin-top: 3px;}
.hot1 .bottom .bot_l{margin-left: 20px;margin-top: 44px;}
/*小标签3*/
.hot1 .txt3{width: 220px;height: 24px;margin-right: 140px;}
.hot1 .txt3 .Ant{font-size: 16px;color: #595959;text-align: center;}
.hot1 .txt3 .check3{width: 75px;height: 19px; font-size: 12px;color: #595959;padding-top:3px;padding-left:5px;border: 1px solid rgba(242,40,0,.3);}
.hot1 .txt3 .check3 .arr03{margin-right: 5px;margin-top: 3px;}
/*小标签4*/
.hot1 .txt4{width: 220px;height: 24px;margin-right: 350px;}
.hot1 .txt4 .Ant{font-size: 16px;color: #595959;text-align: center;}
.hot1 .txt4 .check4{width: 75px;height: 19px; font-size: 12px;color: #595959;padding-top:3px;padding-left:5px;border: 1px solid rgba(242,40,0,.3);}
.hot1 .txt4 .check4 .arr04{margin-right: 5px;margin-top: 3px;}
/*热卖产品2*/
.hot2{width: 1198px;height: 775px;background-color: #fff;margin:0 auto;margin-top: 190px;}
.hot2 .top .top_l{width: 70px;height: 224px;border: 1px solid rgba(242,40,0,.3);margin-top: 36px;margin-right: 184px;}
.hot2 .top .top_l .txt1{width: 68px;text-align: center; font-size: 22px;font-family: "Segoe Print";}
.hot2 .top .top_l li{width: 68px;height: 30px;text-align: center;font-size: 24px;}
.hot2 .top .top_l .arr01{width: 68px; text-align: center;margin-top: 10px;}
.hot2 .top .top_r{width: 648px;height: 404px; margin-top: -130px;margin-left: 108px;}
/*小标签2*/
.hot2 .txt2{width: 182px;height: 24px;margin-top: 20px;margin-left: 140px;}
.hot2 .txt2 .roam{font-size: 16px;color: #595959;text-align: center;}
.hot2 .txt2 .check{width: 75px;height: 19px; font-size: 12px;color: #595959;margin-left: 20px;padding-top:3px;padding-left:5px;border: 1px solid rgba(242,40,0,.3);}
.hot2 .txt2 .check .arr02{margin-right: 5px;margin-top: 3px;}
.hot2 .bottom .bot_l{margin-left: 20px;}
/*小标签3*/
.hot2 .txt3{width: 220px;height: 24px;margin-right: 140px;}
.hot2 .txt3 .Ant{font-size: 16px;color: #595959;text-align: center;}
.hot2 .txt3 .check3{width: 75px;height: 19px; font-size: 12px;color: #595959;padding-top:3px;padding-left:5px;border: 1px solid rgba(242,40,0,.3);}
.hot2 .txt3 .check3 .arr03{margin-right: 5px;margin-top: 3px;}
/*小标签4*/
.hot2 .txt4{width: 220px;height: 24px;margin-right: 350px;}
.hot2 .txt4 .Ant{font-size: 16px;color: #595959;text-align: center;}
.hot2 .txt4 .check4{width: 75px;height: 19px; font-size: 12px;color: #595959;padding-top:3px;padding-left:5px;border: 1px solid rgba(242,40,0,.3);}
.hot2 .txt4 .check4 .arr04{margin-right: 5px;margin-top: 3px;}
/*热卖产品3*/
.hot3{width: 1198px;height: 775px;background-color: #fff;margin:0 auto;margin-top: 190px;margin-bottom:100px;}
.hot3 .top .top_l{width: 70px;height: 224px;border: 1px solid rgba(242,40,0,.3);margin-top: 36px;margin-left: 184px;}
.hot3 .top .top_l .txt1{width: 68px;text-align: center; font-size: 22px;font-family: "Segoe Print";}
.hot3 .top .top_l li{width: 68px;height: 30px;text-align: center;font-size: 24px;}
.hot3 .top .top_l .arr01{width: 68px; text-align: center;margin-top: 10px;}
.hot3 .top .top_r{width: 648px;height: 404px; margin-top: -60px;margin-right: 0px;}
/*小标签2*/
.hot3 .txt2{width: 200px;height: 24px;margin-top: 10px;margin-right: 180px;}
.hot3 .txt2 .roam{font-size: 16px;color: #595959;text-align: center;}
.hot3 .txt2 .check{width: 75px;height: 19px; font-size: 12px;color: #595959;padding-top:3px;padding-left:5px;border: 1px solid rgba(242,40,0,.3);}
.hot3 .txt2 .check .arr02{margin-right: 5px;margin-top: 3px;}
.hot3 .bottom .bot_l{margin-left: 140px;margin-top: 44px;}
.hot3 .bottom .bot_r{margin-top:100px;margin-right: 150px;}
/*小标签3*/
.hot3 .txt3{width: 220px;height: 24px;margin-top:30px;margin-right: 160px;}
.hot3 .txt3 .Ant{font-size: 16px;color: #595959;text-align: center;}
.hot3 .txt3 .check3{width: 75px;height: 19px; font-size: 12px;color: #595959;padding-top:3px;padding-left:5px;border: 1px solid rgba(242,40,0,.3);}
.hot3 .txt3 .check3 .arr03{margin-right: 5px;margin-top: 3px;}
/*小标签4*/
.hot3 .txt4{width: 220px;height: 24px;margin-top:20px;margin-right: 340px;}
.hot3 .txt4 .Ant{font-size: 16px;color: #595959;text-align: center;}
.hot3 .txt4 .check4{width: 75px;height: 19px; font-size: 12px;color: #595959;padding-top:3px;padding-left:5px;border: 1px solid rgba(242,40,0,.3);}
.hot3 .txt4 .check4 .arr04{margin-right: 5px;margin-top: 3px;}
