<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="powerd by ylzlk">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../styles/knowBase.css" />
    <title>慢病管理平台</title>
  </head>
  <body>
    <nav class="navbar navbar-fixed-top" role="navigation">
         <div class="navbar-inner">
           <div class="container">
               <div class="navbar-header">
                 <!-- <a class="navbar-brand" style="line-height: 60px;">
                    厦门医联康信息技术有限公司
                 </a> -->
               </div>
               <div class="blur"></div>
               <div class="collapse navbar-collapse">
                   <ul class="nav navbar-nav navbar-right">
                       <li><a href="./home.html ">首页</a></li>
                       <li><a href="./medicalManage.html">慢病管理服务</a></li>
                       <li><a href="#" class="active">慢病知识库</a></li>
                       <li><a href="./auxiliary.html">慢病辅助诊疗</a></li>
                       <li><a href="./monitor.html">慢病监测分析</a></li>
                   </ul>
               </div>
           </div>
       </div>
     </nav>
     <main>
       <div class="container">
         <div class="img-container">
             <img  src="../images/header-img.png" class="header-img" />
         </div>
         <ol class="breadcrumb">
            <li><a href="#">首页</a></li>
            <li><a href="#">慢病管理服务</a></li>
            <li class="active">慢病知识库</li>
          </ol>

         <nav class="navbar navbar-default">
           <div class="container-fluid">
             <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
               <ul class="nav navbar-nav">
                 <li class="dropdown">
                   <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">慢病疾病库<span class="caret"></span></a>
                   <ul class="dropdown-menu">
                     <li><a href="#">高血压</a></li>
                     <li><a href="#">糖尿病</a></li>
                     <li><a href="#">脑卒中</a></li>
                     <li><a href="#">慢阻肺</a></li>
                     <li><a href="#">慢性肾病</a></li>
                   </ul>
                 </li>
                 <li class="dropdown">
                   <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">慢病药品知识库<span class="caret"></span></a>
                   <ul class="dropdown-menu">
                     <li><a href="#">高血压</a></li>
                     <li><a href="#">糖尿病</a></li>
                     <li><a href="#">脑卒中</a></li>
                     <li><a href="#">慢阻肺</a></li>
                     <li><a href="#">慢性肾病</a></li>
                   </ul>
                 </li>
                 <li class="dropdown">
                   <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">慢病饮食知识库<span class="caret"></span></a>
                   <ul class="dropdown-menu">
                     <li><a href="#">高血压</a></li>
                     <li><a href="#">糖尿病</a></li>
                     <li><a href="#">脑卒中</a></li>
                     <li><a href="#">慢阻肺</a></li>
                     <li><a href="#">慢性肾病</a></li>
                   </ul>
                 </li>
                 <li class="dropdown">
                   <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">慢病运动知识库<span class="caret"></span></a>
                   <ul class="dropdown-menu">
                     <li><a href="#">高血压</a></li>
                     <li><a href="#">糖尿病</a></li>
                     <li><a href="#">脑卒中</a></li>
                     <li><a href="#">慢阻肺</a></li>
                     <li><a href="#">慢性肾病</a></li>
                   </ul>
                 </li>
                 <li class="dropdown">
                   <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">慢病症状知识库<span class="caret"></span></a>
                   <ul class="dropdown-menu">
                     <li><a href="#">高血压</a></li>
                     <li><a href="#">糖尿病</a></li>
                     <li><a href="#">脑卒中</a></li>
                     <li><a href="#">慢阻肺</a></li>
                     <li><a href="#">慢性肾病</a></li>
                   </ul>
                 </li>

               </ul>
               <form class="navbar-form navbar-right">
                 <div class="form-group">
                   <input type="text" class="form-control" placeholder="">
                 </div>
                 <button type="submit" class="btn btn-default">搜索</button>
               </form>
             </div>
           </div>
         </nav>
         <div class="list-group" style="margin:0">
          <div class="list-group-item">
            <h4 class="list-group-item-heading"><span style="color:#60B4EF;margin-right:16px;">[&nbsp&nbsp疾病&nbsp&nbsp]</span>美国--最早研究及初步应用慢性病管理模型(CCM)的国家</h4>
            <p class="list-group-item-text" style="font-size: 16px;overflow: hidden;text-overflow:ellipsis;white-space: nowrap;margin-right: 40px;padding: 10px 0;">20世纪70-90年代是美国慢性病发病的高峰期，为了降低过快增长的医疗费用，美国应用慢性病管理模型动员政府、医护人员、患者均参与到管理活动当中，把慢性病管理工作作为公共卫生服务重点投入的项目。</p>
            <a href="#" >
              <div style="text-align: right;">查看全文>></div>
            </a>
          </div>
          <div class="list-group-item">
            <h4 class="list-group-item-heading"><span style="color:#60B4EF;margin-right:16px;">[&nbsp&nbsp疾病&nbsp&nbsp]</span>芬兰--慢性病自我管理计划模型（CDSMP)</h4>
            <p class="list-group-item-text" style="font-size: 16px;overflow: hidden;text-overflow:ellipsis;white-space: nowrap;margin-right: 40px;padding: 10px 0;">20世纪70 年代开始，慢性病自我管理计划模型在芬兰出现。该模式重点干预和管理慢性病患者饮食、行为习惯、锻炼强度、心理变化、疾病病程等因素，并分析疾病相关的资料，传播健康知识。</p>
            <a href="#" >
              <div style="text-align: right;">查看全文>></div>
            </a>
          </div>
          <div class="list-group-item">
            <h4 class="list-group-item-heading"><span style="color:#60B4EF;margin-right:16px;">[&nbsp&nbsp疾病&nbsp&nbsp]</span>中低收入国家--慢性病创新照护框架（ICCC)</h4>
            <p class="list-group-item-text" style="font-size: 16px;overflow: hidden;text-overflow:ellipsis;white-space: nowrap;margin-right: 40px;padding: 10px 0;">ICCC结合以上管理模型对某些要素进行调整，WHO提出ICCC更适合中低等收入国家。ICCC强调政府及政策的支持，增加经费培养全科医生，以慢性病患者为重点签约对象，开展签约服务，对签约慢性病患者及家庭成员提供基本诊疗服务、相关随访、健康教育等。</p>
            <a href="#" >
              <div style="text-align: right;">查看全文>></div>
            </a>
          </div>
          <div class="list-group-item">
            <h4 class="list-group-item-heading"><span style="color:#60B4EF;margin-right:16px;">[&nbsp&nbsp疾病&nbsp&nbsp]</span>美国--最早研究及初步应用慢性病管理模型(CCM)的国家</h4>
            <p class="list-group-item-text" style="font-size: 16px;overflow: hidden;text-overflow:ellipsis;white-space: nowrap;margin-right: 40px;padding: 10px 0;">20世纪70-90年代是美国慢性病发病的高峰期，为了降低过快增长的医疗费用，美国应用慢性病管理模型动员政府、医护人员、患者均参与到管理活动当中，把慢性病管理工作作为公共卫生服务重点投入的项目。</p>
            <a href="#" >
              <div style="text-align: right;">查看全文>></div>
            </a>
          </div>
          <div class="list-group-item">
            <h4 class="list-group-item-heading"><span style="color:#60B4EF;margin-right:16px;">[&nbsp&nbsp疾病&nbsp&nbsp]</span>芬兰--慢性病自我管理计划模型（CDSMP)</h4>
            <p class="list-group-item-text" style="font-size: 16px;overflow: hidden;text-overflow:ellipsis;white-space: nowrap;margin-right: 40px;padding: 10px 0;">20世纪70 年代开始，慢性病自我管理计划模型在芬兰出现。该模式重点干预和管理慢性病患者饮食、行为习惯、锻炼强度、心理变化、疾病病程等因素，并分析疾病相关的资料，传播健康知识。</p>
            <a href="#" >
              <div style="text-align: right;">查看全文>></div>
            </a>
          </div>
          <div class="list-group-item">
            <h4 class="list-group-item-heading"><span style="color:#60B4EF;margin-right:16px;">[&nbsp&nbsp疾病&nbsp&nbsp]</span>中低收入国家--慢性病创新照护框架（ICCC)</h4>
            <p class="list-group-item-text" style="font-size: 16px;overflow: hidden;text-overflow:ellipsis;white-space: nowrap;margin-right: 40px;padding: 10px 0;">ICCC结合以上管理模型对某些要素进行调整，WHO提出ICCC更适合中低等收入国家。ICCC强调政府及政策的支持，增加经费培养全科医生，以慢性病患者为重点签约对象，开展签约服务，对签约慢性病患者及家庭成员提供基本诊疗服务、相关随访、健康教育等。</p>
            <a href="#" >
              <div style="text-align: right;">查看全文>></div>
            </a>
          </div>
        </div>
      </div>

      <footer>
       <div class="footer-section">
         <img  src="../images/logo21.png" class="footer-img" />
         <div class="footer-row">
           <span class="footer-span">xxxx</span>
         </div>
         <div class="footer-row">
           <span class="footer-span">xxx</span>
         </div>
         <div class="footer-row">
         <span class="footer-span" style="font-size:13px">xxxx</span>
         </div>
         <!-- <div class="footer-row">
           <span class="footer-span" style="font-size:13px">增值电信业务许可证号:京-2-4-20100000</span>
         </div> -->
       </div>
     </footer>
   </main>

   <script src="../lib/jquery-3.3.1.min.js"></script>
   <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
 </body>

</html>
