*{margin: 0; padding: 0;}
body{
	font-family: "微软雅黑";
	font-size: 100%;
	background-color: rgb(245, 245, 245);
}
.news-container li{
	display: none;
}
.meblie-logo{
	display: none;
}
.news-container .one-li{
	display: block;
}
.index-pro .index-pro-list{
	display: none;
}
.index-pro .one{
	display: block;
}
.index-n .index-news{
	display: none;
}
.index-n .one{
	display: block;
}
@media (max-width: 444px){
	.logo-index{
		width: 150px;
		height: 80px;
	}
	.top-logo p{
		font-size: 18px !important;
	}
}
@media (max-width: 768px){
	.youshi-index-2{
		padding-top: 60px;
	}
	.service-index .col-md-3{
		padding-bottom: 30px;
	}
	.nav>li{
		width: 100% !important;
	}
	.fuwuxiangmu{
		padding: 15px;
	}
	.zhuanxian{
		width: 100% !important;
		height: auto !important;
	}
	.chaxun-index >span{
		line-height: 40px !important;
	}
	.yingc-index a{
		line-height: 40px !important;
	}
	.yingc-index{
		bottom: 40px !important;
	}
	.bread-xie{
		display: none;
	}
	.meblie-logo{
		display: inline-block;
		width: 200px;
		height: 60px;
	}
	.top-logo{
		display: none;
	}
	.jicheng{
		margin: 0 !important;
		margin-top: 13px !important;
		margin-right: 13px !important;
	}
}
@media (max-width: 560px){
	.news-tab-container >li >div >div{
		width: 100%;
	}
}

.site-navbar{
	margin-bottom: 0;
}

.service-index-img > a> img{
	width: 100%;
}


@media (max-width: 768px){
	.nav-daohxl{
		text-align: center;
	}
	.divider{
		display: none;
	}
	.about-nav-py{
		background: #fff;
	    margin-right: 0 !important;
	}
	body.modal-open .navbar{
		padding-right: 0 !important;
	}
	.news-list-xiug{
		padding: 0 !important;
	}
	.about-nav-py{
		background-color: rgb(255, 255, 255) !important;
	}
	#navbar{
	    background-color: rgb(31, 172, 117);	
	}
	.nav-top-quanju{
		margin-left: 0 !important;
	}
}
@media (max-width: 1024px){
	body.modal-open .navbar{
		padding-right: 0 !important;
	}
}
.about-nav-py{
    background-color: rgb(31, 172, 117);	
    /*margin-right: -17px;*/
}
.service-index .row{
	text-align: center;
}
.service-index-img{
	border: 1px #d2d2d2 solid;
	margin-bottom: 15px;
}
.service-index-img a{
	display: block;
	padding: 5px;
}
.service-index-img a:hover{
	background: #1fac75;
}
.service-index-img a:hover h3{
	color: #fff;
}
.service-index-img a h3{
	font-size: 14px;
	font-weight: bold;
}

.keyword-index input{
	height: 28px;
	width: 270px !important;
	border-radius: 0;
	border: #1fac75 2px solid;
}
.biaodan{
	text-align: right;
	margin-top: 21px;
}
.biaodan .input-group-addon{
	padding: 6px 10px;
	background: #1fac75;
	color: #fff;
}
.keyword-index p{
	margin: 0;
	line-height: 70px;
}
.keyword-index{
	height: 70px;
	border-bottom: 1px solid #ccc;
}
/*向上滚动*/
.txtMarquee-top{ width:100%;  overflow:hidden; position:relative;}
.txtMarquee-top .bd{ padding:15px; padding-bottom: 13px; }
.txtMarquee-top .infoList li{ height:24px; line-height:24px;   }
.txtMarquee-top .infoList li .date{ float:right; color:#999;  }

/*结束*/
.service-index{
	padding-top: 60px;
	padding-bottom: 60px;
}
.pro-ul{
	margin: 0;
	text-align: center;
	background: #f5f5f5;
	margin-bottom: 24px;
}
.pro-ul li{
	list-style: none;
	width: 25%;
	float: left;
	line-height: 50px;
	cursor: pointer;
	font-size: 16px;
}
.pro-liebiao{
	background: #fff;
    padding-top: 15px;
    margin-bottom: 40px;
}
.pro-ul .active{
	background: #1fac75;
	color: #fff;
}

.youshi-index{
	text-align: center;
	padding-top: 60px;
	padding-bottom: 60px;
	background: url(../images/bg02.png);
}
.youshi-index-list a{
	display: block;
}
.youshi-index-list a >div{
	width: 225px;
    margin: 0 auto;
    padding: 15px;
    background: rgb(4, 46, 151);    
}
.youshi-index-list a >div h3{
	font-size: 16px;
	color: #fff;
}
.youshi-index-list a >div p{
	font-size: 16px;
	color: #fff;
}
.youshi-index-3{
	padding-top: 60px;
}
.new-title >h2{
	margin-bottom: 0;
}

.about-index{
	background: url(../images/fg.jpg);
	height: 400px;
}
.ab-one{
	position: relative;
	padding: 50px;
	top: 140px;
	z-index: 1;
}
.ab-one h2{
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    color: #000;
    margin: 0;
    margin-bottom: 30px;	
}
.ab-two{
	position: relative;
	top: -286px;
}
.ab-two img{
	width: 100%;
}
.ab-one p{
	line-height: 210%;
	margin: 0;
}
.ab-one p a{
	width: 152px;
    display: block;
    margin: 0 auto;
    line-height: 50px;
    text-align: center;
    background-color: rgba(31,172,117,1);
    color: #fff;
    font-size: 14px;
    margin-top: 50px;
    border-radius: 5px;
    border: 1px solid;    
}
.ab-one p a:hover{
	background: #fff;
	border: 1px solid;
	border-color: rgba(31,172,117,1);
	color: #1fac75;
}

body.modal-open .navbar{
	padding-right: 17px;
	background: #000;
}
.top-logo p{
	font-size: 20px;
	margin-bottom: 0;
	color: #0066cc;
	font-weight: bold;
}
.top-logo .top-hour{
	font-size: 12px;
	color: #080808;
	font-weight: 100;
}
.top-logo .top-icon{
	line-height: 90px;
	padding-right: 10px;
}
.top-parent{
	margin-top: 22.5px;
}
.top-logo-left{
	position: relative;
}
.top-logo-left a{
	display: block;
}
.top-logo-left img{
	position: absolute;
	z-index: 9;
}
.top-index-shux{
	position: relative;
	left: 55%;
	top: 22.5px;
}
.gotoptop_icon{
    width: 30px;
    height: 30px;
    position: fixed;
    background: url(../images/top.png);
    bottom: 30px;
    right: 30px;
    display: block;	
}



.top-logo p i{
	border: 1px solid;
    padding: 10px;
    border-radius: 40px;
}
.site-navbar{
	background-color: #fff;
	border-color: #fff;
	border: none;
	/*box-shadow: 0px 1px 4px #000;*/
	z-index: 21;
}
.nav-top-quanju{
	margin: 0;
	margin-left: 15%;
}
.site-navbar .container .navbar-nav>li.open{
	background-color: #fff;
}
.site-navbar .container .navbar-nav>li.open >a{
	color: #f2fda1;
    background-color: rgb(31, 172, 117);	
}

.site-navbar .container .navbar-nav>li>a{
	color: rgba(55, 55, 55, 0.8);
	text-align: center;
	font-size: 16px;
}

.site-navbar .container .navbar-nav>li>a{
	color: #fff;
	line-height: 50px;
	padding: 0 30px;
}
.site-navbar .container .navbar-nav>li>a:hover{
	color: #f2fda1 !important;
}
.site-navbar .navbar-toggle .icon-bar{
	background-color: #000;
}
.site-navbar .navbar-toggle:hover{
	    background-color: #fff;
}
.silder-top{
	margin-top: 50px;
}
.navbar-brand{
	padding: 15px 15px !important;
	height: auto !important;
}
.li-pro{
	border: none;
	padding: 15px;
}
.li-pro:hover{
	background-color: #fff !important;
	border: none;
}
.li-pro:focus{
	outline:none
}
.open>.li-pro{
	background-color: #fff !important;
	border: none;
}
.jiange {
    padding-top: 60px;
    padding-bottom: 60px;
}
.proimage img{
	width: 100%;
}
.rowimage{
	margin-bottom: 30px;
}
.new-title{
	text-align: center;
	margin-bottom: 30px;
}
.new-title h2 i{
	display: inline-block;
    width: 65px;
    height: 1px;
    background: #072c4c;
    margin-bottom: 6px;
}
.news-tab li{
	display: inline-block;
	list-style: none;
	padding: 5px 10px;
    font-size: 16px;
    border: 1px solid;
    margin: 10px;
    cursor: pointer;    
}

.jicheng{
	margin-top: 18px;
	margin-bottom: 18px;
}
.about-image img{
	width: 100%;
}
.jianjie p{
	line-height: 30px;
    text-indent: 2em;
    font-size: 14px;
}
.jianjie-par a{
	float: right;
    text-decoration: none;	
}
.news-container{
    position: relative;
    overflow: hidden;
}
.current{
	background: #EA833F;
    color: #fff;
}

.news-tab-container li img{
	width: 100%;
}
.news-tab-container li >div{
	padding-bottom: 15px;
}
.news-bufen{
	margin-top: 120px;
}
.about-linian{
	margin-top: 30px;
}
.about-lishi{
	margin-top: 30px;
}
.news-bufen .pro-ul li{
	width: 50%;
}
.news-bufen .service-index-img{
	border: none;
}
.news-bufen .service-index-img a:hover {
    background: #fff;
}
.news-bufen .service-index-img a:hover h3 {
    color: #000;
}
.news-bufen .service-index-img a h3 ,
.news-bufen .service-index-img a p{
	text-align: left;
	margin: 5px;
}
.news-bufen .service-index-img a h3{
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;	
}
/*.bg-gray {
    background: #f8f9f9;
}*/
.home-main-contant-style {
    padding-top: 60px;
    background: url(../images/001.png);
    padding-bottom: 60px;
}
a{
	color: #000;
}
.footer{
	background-color: rgb(238, 241, 246);
}
.footer .row{
	font-size: 14px;
	color: #000;
}
.footer .row div{
	float: left;
}
.footer .row .wx{
    float: right;
    text-align: center;
    margin-top: 22.5px;	
}
.copy-r{
	padding: 0 50px;
	padding-top: 15px;
}
.copy-r a{
	color: #000;
}
.copy-r a:hover{
	color: #000;
}
.footer-bottom{
	padding-top: 0 !important;
}
.fuwuxiangmu h3{
	text-align: center;
}
.fuwuxiangmu img{
	width: 100%;
	height: 230px;
}
.fuwuxiangmu p{
	font-size: 14px;
	line-height: 30px;
}
.fuwuxiangmu span{
    display: block;
    width: 90px;
    text-align: center;
    background: #1fac75;
    color: #fff;
    line-height: 37px;	
}
.active-fuwu{
	background: #1fac75 !important;
	color: #fff;
}
.about-company{
	background: #fff;
    padding-bottom: 15px;	
}

.active-fuwu:hover{
	color: #ff0;
}

.active-daohang{
	color: #f2fda1 !important;
}
.fuwuxiangmu table{
	width: 100%;
	text-align: center;
}
.fuwuxiangmu table th{
	text-align: center;
	background: #1fac75;
    color: #fff;
    font-size: 14px;
}
.fuwuxiangmu table tr{
	line-height: 30px;
}
.nav-daohxl >li >a{
	color: #fff;
}
.nav-daohxl >li >a:hover{
	background-color: rgb(31, 172, 117);
	color: #f2fda1;
}
.nav-daohxl{
	background-color: rgb(31, 172, 117);
}





/*   推荐产品*/
.product-xq{
	padding: 10px;
	color: #fff;
	display: block;
	background: #282727;
	text-align: center;
}
.product-xq:hover{
	color: #999;
}
.cbp-filter-counter{
	display: none;
}
.cbp-popup-lightbox-counter{
	display: none;
}

.product-tuijian{
	background: url(../images/009.jpg);
}

.product-list{
	text-align: center;
    width: 100%;
    margin: 0 auto;	
	margin-bottom: 30px;
	
}
.product-list div{
	display: inline-block;
	height: 50px;
}
.product-list a{
	line-height: 50px;
	padding: 10px 20px;
	background: #fff;
	margin: 0 2px;
	font-size: 14px;
}
.global_gaNode{
	display: block;
    position: relative;
}
.global_gaNode img{
	display: block;
    width: 100%;
}
.recom_titleWrap {
    position: absolute;
    bottom: 15px;
    left: 25px;
    z-index: 5;
    padding-right: 20px;
}
.recom_title {
    font-size: 16px;
    padding-left: 10px;
    padding-right: 5px;
    line-height: 26px;
    margin-top: 14px;
    height: 52px;
    color: #fff;
}
.plus_cover {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: 4;
    opacity: .75;
    box-shadow: inset 0 0 100px #000;
    -webkit-box-shadow: inset 0 0 100px #000;
    -ms-box-shadow: inset 0 0 100px #000;
    -moz-box-shadow: inset 0 0 100px #000;
    transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
}
.plus_cover {
    box-shadow: inset 0 -10px 100px #000;
    -webkit-box-shadow: inset 0 -10px 100px #000;
    -ms-box-shadow: inset 0 -10px 100px #000;
    -moz-box-shadow: inset 0 -10px 100px #000;
    opacity: .55;
}

.global_gaNode:hover .plus_cover {
    opacity: .75;
}

.product-jieshao:hover .plus_coverBottom {
    box-shadow: none;
    -webkit-box-shadow: none;
    -ms-box-shadow: none;
    -moz-box-shadow: none;
}

.product-tuijian >div >div >div >div{
	margin-bottom: 30px;
}
.global_gaNode h4{
	color: #222;
}
.global_gaNode span{
	color: #fff;
}
.recom_titleWrap h4{
	color: #fff;
}
a:hover{
	text-decoration: none;
}
.footer-bottom a{
	color: #fff;
}
.footer-bottom a:hover{
	color: #999;
}

.massage-contact{
	padding-top: 20px;
}








/*  关于我们*/
.about-page-img{
	width: 100%;
}

.about-us .about-titleen {
    font-size: 30px;
    line-height: 90px;
}
.about-leimu{
	text-align: center;
	line-height: 36px;
}
.about-leimu a{
	padding: 10px 15px;
}
.about-company >p{
	font-size: 26px;
	text-align: center;
	margin-bottom: 40px;
}
.about-bj{
	background: url(../images/009.jpg);
}
.about-img img{
	width: 100%;
}
.about-jianjie p{
	line-height: 210%;
	font-size: 14px;
}
.company-linian li{
	list-style: none;
    color: #fff;
    position: relative;	
    margin-bottom: 30px;
}
.news-container ul{
	transition: all 0.3s;
	top: 0;
}

.company-linian li img{
	width: 100%;
}
.company-jianjie{
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;	
}
.phiTop {
    font-size: 36px;
}
.phiMiddle {
    font-size: 12px;
    letter-spacing: 1px;
    margin-bottom: 26px;
}
.phiBottom {
    text-align: justify;
    font-size: 14px;
}
.about-lishi >h2{
	text-align: center;
}
.about-lishi h2 i {
    display: inline-block;
    width: 65px;
    height: 1px;
    background: #072c4c;
    margin-bottom: 6px;
}
.about-gduo{
	padding: 10px;
    background: #444;
    color: #fff;
}
.about-gduo:hover{
	color: #999;
}











/*产品中心*/
.product-leimu{
	padding: 10px 20px !important;
	background-color: #fff;
}




/*  新闻*/
.news-list{
}
.news-list .news-titleen{
	font-size: 30px;
	line-height: 90px;
}
.breadxie{
	line-height: 90px;
	text-align: right;
}
.breadxie a{
	font-size: 14px;
}

.news-leimu{
	line-height: 60px;
}
.news-leiming{
	text-align: right;
}
.news-leiming a{
	padding: 10px 15px;
	background-color: #fff;
}
.news-right a{
	padding: 10px 15px;
	background-color: #fff;
}
.nqldDay {
    font-size: 40px;
    color: #999;
    text-align: center;
}
.shuzitime{
	display: inline-block;
	font-size: 12px;
}
.timetubiao{
	font-size: 30px;
    color: #999;
}
.news-xq .new-img{
	width: 100%;
}
.news-xq .new-time{
	text-align: right;
}
.news-liebiao{
	background-color: #fff;
    margin-bottom: 40px;
    padding: 30px;	
}
.news-xq{
	margin: 0 20px;
	padding: 20px 0;
    border-bottom: 1px dashed rgb(210, 210, 210);	
}
.news-pages{
	padding-top: 40px;
	padding-bottom: 60px;
	text-align: center;
}
.news-pages a{
	padding: 5px 10px;
    border: 1px solid #000;
}


.news-rest {
	margin-bottom: 0 !important;
}
/*新闻详情*/
.news-xq-container{
	border: 1px solid #ededed;
	padding: 30px;
}
.news-xq-container img{
	max-width: 100%;
}
.news-xq-container h3{
	text-align: center;
}
.news-xq-container .author{
	text-align: center;
	text-indent: inherit;
}
.news-xq-container p{
	text-indent: 2em;
	line-height: 30px;
}
.content-line {
    width: 100%;
    border-bottom: 1px solid #ededed;
    margin: 40px 0 20px 0;
}
.prev-page, .next-page {
    display: block;
    color: #000;
    padding: 8px 0;
}












/*联系我们*/

.contact-us .contact-titleen {
    font-size: 30px;
    line-height: 90px;
}
.contact-biaodan li{
	list-style: none;
	height: 40px;
    border: 1px solid #dcdcdc;
    font-size: 16px;
    margin-bottom: 20px;	
}
.contact-biaodan li input{
	border: none;
	height: 30px;
	margin-top: 5px;
}
.contact-biaodan li label{
	line-height: 40px;
	margin-bottom: 0 !important;
}
.contact-biaodan li textarea{
	border: none;
	height: 215px;
	margin-top: 10px;
	width: 90%;
}
.contact-massage{
	height: 240px !important;
}
.contact-massage label{
	vertical-align: top;
}
.submit-anniu{
	text-align: center;
}
.contact-map{
	width: 100%;
	margin-bottom: 50px;
}
.contact-map iframe{
	width: 100%;
	border: none;
	height: 100%;
	padding: 15px;
}
.cont-map{
	height: 400px;
}
.ct_ml{
    font-size: 16px;
    color: #555555;
    padding-bottom: 30px;
}
.form-bd{
	padding-bottom: 30px;
}
.btn-contact-bg {
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.15);
    color: #333;
    display: inline-block;
    font-size: 14px;
    font-weight: 600;
    width: 150px;
    padding: 10px 16px;
    cursor: pointer;
}
.contact-dizhi{
	margin-bottom: 50px;
	background-color: #fff;
	padding-top: 50px;
}
.ct_ml p em {
    color: #000;
    font-size: 16px;
    font-style: normal;
}




















