@charset "utf-8";
/* CSS Document */
body, div, address, blockquote, iframe, ul, ol, dl, dt, dd, li, dl, h1, h2, h3, h4, h5, h6, p, pre, table, caption, th, form, legend, fieldset, input, button, select, textarea {margin:0; padding:0; font-weight: normal;font-style: normal;font-size: 100%; font-family: inherit,"Microsoft YaHei","微软雅黑";} 
ol, ul ,li{list-style: none;} 
img {border: 0;} 
body {color:#000; background:#FFF;text-align: center; font: 12px/1.5 Arial, Helvetica, sans-serif;} 
html{-webkit-text-size-adjust:none;}/*chrome font-size<12px */
/*选中文字变自定义背景色*/
::selection{background:#364658; color: white; /* Safari */} 
::-moz-selection{background:#364658; color: white; /* Firefox */ } 
.clear_ {height:0;clear:both;overflow:hidden;}
/*清除浮动样式class="clearfix"*/
.clearfix:after {content:".";display:block;	height:0;clear:both;visibility:hidden;}
/* Hide from IE Mac \*/
* html .clearfix {height: 1%;}
/* End hide from IE Mac */
/* end of clearfix */
/*header*/
#w0h38 { width:auto; height:38px; background:#2a323d;}
#w1kh38 { width:1000px; height:38px; margin:0 auto; text-align:right;}
#w1kh38 .l2 { width:499px; height:38px; float:left;}
#w1kh38 .l2 h1 { color:#40a3e5; font-size:12px; line-height:38px; float:left;}
#w1kh38 .l2 a{ float:left;color:#40a3e5; font-size:12px; line-height:38px; text-decoration:none; margin-right:20px;}
#w1kh38 .l2 a:hover { color:#fff; text-decoration:underline;}
#w1kh38 .ico_mail { width:38px; height:38px; background:url(img/icon_mail.png) center center no-repeat; float:left;}
#w1kh38 .l3{ width:160px; height:38px; line-height:38px; float:left; color:#40a3e5; font-size:12px; text-align:left;}
#w1kh38 .ico_tel { width:38px; height:38px; background:url(img/icon_tel.png) center center no-repeat; float:left;}
#w1kh38 .l4{ width:120px; height:38px; line-height:38px; float:left; color:#40a3e5; font-size:12px; text-align:left;}
#w1kh38 .r { width:145px; height:38px; float:right; padding-top:5px;}
#w1kh38 .r img{ margin-top:9px; margin-left:10px;}
#w0h130 { width:auto; height:130px; background:#fff;}
#w1kh130 { width:1000px; height:130px; margin:0 auto;}
#w1kh130 .logo{ width:250px; height:130px; float:left; }
#w1kh130 .menu_{ width:750px; height:130px; float:right;}
/*  nav */
.nav_bar{position:relative;z-index:2;height:130px; color:#333; padding-top:90px;}
.nav{position:relative;width:748px;margin:0 auto; font-family:"Microsoft YaHei",SimSun,SimHei;font-size:14px;}
.nav a{color:#333; text-decoration:none;}
.nav h3{font-size:100%;font-weight:normal;}
.nav h3 a{display:block;width:120px;text-align:center;font-size:18px;}
.nav .m{float:right;position:relative;z-index:2;}
.nav .s{float:right;width:3px;text-align:center;color:#D4D4D4;font-size:12px;}
.nav .sub{display:none;position:absolute;left:-3px;top:41px;z-index:2;width:158px;border:1px solid #E6E4E3;border-top:0; background:#fff; filter:alpha(opacity=80); -moz-opacity:0.8;  -khtml-opacity:0.8; opacity:0.8;}
.nav .sub li{text-align:center;padding:0 8px;margin-bottom:-1px;}
.nav .sub li a{display:block; border-bottom:1px solid #E6E4E3;padding:8px 0;height:28px;line-height:28px;color:#000;}
.nav .sub li a:hover{color:#1E95FB;}
.nav .block{height:3px;width:130px;background:#1E95FB;position:absolute;left:0;top:37px;overflow:hidden;}
/*pop*/
#w0h700 { width:auto; height:705px;}
#w1h700 { width:1000px; height:705px; margin:0 auto;}
#w1h700 .flashContent { width:100%; height:100%; }

/*main*/
#w0h750 { width:auto; min-height:750px; background:url(img/main_bg.jpg) no-repeat top center #eee;}
#w1h750 { width:1000px; min-height:750px; margin:0 auto;}
#w1h750 .left320 { width:320px; min-height:650px; margin-top:40px; float:left;}
#w1h750 .center320 { width:320px; min-height:650px; margin-top:40px; float:left; font-size:12px; color:#888; text-align:left;line-height:30px; }
#w1h750 .right320 { width:320px; min-height:650px; margin-top:40px; float:right;}
#w1h750 .w20 { width:20px; min-height:650px; margin-top:40px; float:left;}
#w1h750 .thum { width:300px; height:220px; background:url(img/bg320240.png) no-repeat; padding:10px;}
#w1h750 h1 { width:320px; height:50px; line-height:50px; font-size:16px; color:#666; font-family:"Microsoft YaHei","微软雅黑",SimSun,SimHei; font-weight:bold;}
#w1h750 h2 { width:320px; height:50px; line-height:50px; font-size:12px; color:#888; font-family:"Microsoft YaHei","微软雅黑",SimSun,SimHei; text-align:right;}
#w1h750 h2 a{ color:#888; text-decoration:underline;}
#w1h750 h2 a:hover{ color:#058F26; text-decoration:none;}
#w1h750 ul li { width:320px; height:40px; line-height:40px; background:url(img/li.png) no-repeat; text-align:left;}
#w1h750 ul li a{ font-size:12px; padding-left:20px; color:#888; text-decoration:none; float:left; }
#w1h750 ul li a:hover{ color:#058F26; text-decoration:underline;}
#w1h750 ul li p{ font-family:"Microsoft YaHei","微软雅黑",SimSun,SimHei; font-size:12px; color:#b5b5b5; float:right;}

/*footer*/
#w0h5 { width:auto; height:5px; background:#2a323d;}
#w0h200 { width:auto; height:200px; background:#eee;}
#w1h200 { width:1000px; height:200px; margin:0 auto;}
.w1h40 { width:1000px; height:40px; line-height:40px; font-family:"Microsoft YaHei","微软雅黑",SimSun,SimHei; font-size:12px; color:#666; text-align:left;}
.w1h40 .l{ width:50%; height:40px; line-height:40px; font-family:"Microsoft YaHei","微软雅黑",SimSun,SimHei; font-size:14px; color:#666; text-align:left; float:left;}
.w1h40 ul li a{font-family:"Microsoft YaHei","微软雅黑",SimSun,SimHei; font-size:14px; color:#666; float:left; margin-right:20px; text-decoration:none;}
.w1h40 ul li a:hover{ color:#058F26; text-decoration:underline;}
.w1h40 .r{ width:50%; height:40px; line-height:40px; font-family:"Microsoft YaHei","微软雅黑",SimSun,SimHei; font-size:14px; color:#666; text-align:right; float:right;}
#menu {	width: 50%;	height: 40px; line-height:40px; float:left;}
#menu li { float:left; color: #666; }
#menu a { float:none; text-decoration:none; font-family:"Microsoft YaHei","微软雅黑",SimSun,SimHei; font-size:14px; color:#666;}
#menu a:hover { color:#058F26; text-decoration:underline;}
#w1h120 { width:1000px; height:120px; margin:0 auto;}
#w1h120 .key_l { width:80px;font-family:"Microsoft YaHei","微软雅黑",SimSun,SimHei; font-size:12px; color:#666; text-align:left; float:left; margin-top:30px;}
#w1h120 .key_r { width:920px;text-align:left; float:right; margin-top:30px;}
#w1h120 .key_r a { font-family:"Microsoft YaHei","微软雅黑",SimSun,SimHei; font-size:12px; color:#666; text-align:left; margin-right:15px; text-decoration:none;}
#w1h120 .key_r a:hover { color:#058F26; text-decoration:underline;}
#zz { width: 720px;	height: 40px; line-height:40px; float:left;}
#yy a{ width:280px; height:40px; line-height:40px; font-family:"Microsoft YaHei","微软雅黑",SimSun,SimHei; font-size:12px; color:#666; text-align:right; float:right;}
#yy a:hover { color:#058F26; text-decoration:none;}
#w0h40 { width:auto; height:40px; background:#2a323d;}

/*product*/
#w0h0 { width:auto; min-height:750px;height:auto; background:#fff; }
#w1h0 { width:1000px; min-height:750px; height:auto; margin:0 auto;}
.txt_left { text-align:left;}
#w1h0 h2{ width:1000px; height:100px; line-height:100px; margin:0 auto;font-family:"Microsoft YaHei","微软雅黑",SimSun,SimHei; font-size:18px; color:#666; text-align:center;}
#w996 ul{ width:996px; height:auto; margin:0 auto; padding-top:40px;}
#w996 li{ width:332px; height:300px; float:left; display:block; background:url(img/bg320240.png) no-repeat; }
#w996 li h1 { width:332px; height:50px; margin-top:20px; font-family:"Microsoft YaHei","微软雅黑",SimSun,SimHei; font-size:14px; color:#666;}
#w996 li img { margin-left:-10px; margin-top:10px; width:300px;}

/*通用分页样式*/
.page_x{width:978px; padding:10px; background:#fff; margin:0 auto; border:solid 1px #C9CACC; text-align:left;}
#fenye{clear:both; color:#b1b1b1; display:inline-table; height:42px;line-height:42px; font-size:12px; width:100%;}
#noa{margin:5px 4px 0 0; color:#b1b1b1;background:#fff; display:inline-table; border:1px solid #dcdddd; float:left; text-align:center;height:22px;line-height:22px; padding:5px;}
#noa1{margin:5px 4px 0 0; color:#b1b1b1;background:#fff; display:inline-table; border:1px solid #dcdddd; float:left; text-align:center;height:22px;line-height:22px; padding:5px;}
#fenye a{text-decoration:none;padding:5px; float:left;}
#fenye .prev,#fenye .next{width:52px; text-align:center; padding:5px;}
#fenye .goto { padding:5px; color:#b1b1b1;}
#fenye a.curr{width:22px;background:#33363B; border:1px solid #cccccc; color:#fff; font-weight:bold;padding:5px;}
#fenye a.curr:visited {color:#fff;}
#fenye a{margin:5px 4px 0 0; color:#b1b1b1;background:#fff; display:inline-table; border:1px solid #cccccc;  text-align:center;height:22px;line-height:22px}
#fenye a.num{width:22px; padding:5px;}
#fenye a:visited{color:#b1b1b1;} 
#fenye a:hover{color:#fff; background:#33363B; border:1px solid #cccccc;float:left;}

/*在线客服*/
.mt10{margin-top:10px}
.fs14{font-family:"Microsoft YaHei","微软雅黑",SimSun,SimHei; font-size:12px; color:#666;}

.service_box{position:fixed;z-index:1000;right:-147px;top:50%;margin-top:-100px;width:146px;border:1px solid #ece8e5;background:#fff;}
.service_box .tab_nav{position:absolute;left:-42px;top:-1px;}
.service_box .tab_nav > li{background:#ece8e5;border-bottom:1px solid #dfdbd9;}
.service_box .tab_nav > li.active{background:#ff6b09;}
.service_box .tab_nav > li:first-child{border-radius:8px 0 0;}
.service_box .tab_nav > li:last-child{border-bottom:none;border-radius:0 0 0 8px;}
.service_box .tab_nav > li > a{display:block;width:28px;padding:12px 6px 12px 8px;line-height:14px;text-align:center;color:#2c2c2c;text-decoration:none;}
.service_box .tab_nav > li.active > a{color:#fff;}
.service_box .tab_nav .icon{display:block;height:28px;width:28px;background:url(img/bg_online_service_new.gif) no-repeat;overflow:hidden;margin:3px 0;*margin:6px 0;}
.service_box .tab_nav .icon_1{background-position:0 0;}
.service_box .tab_nav .icon_2{background-position:-28px 0;}
.service_box .tab_nav .icon_3{background-position:-56px 0;}
.service_box .tab_nav .active .icon_1{background-position:0 -28px;}
.service_box .tab_nav .active .icon_2{background-position:-28px -28px;}
.service_box .tab_nav .active .icon_3{background-position:-56px -28px;}
.service_box .tab_content{padding:20px 5px 10px;position:relative;}
.service_box .tab_plan{display:none;text-align:center;}
.service_box .tab_plan p{color:#333;}
/*news*/
.new_1 { width:1000px; height:240px; margin-bottom:40px;}
.new_1 .p1{ width:300px; height:220px; float:left; background:url(img/bg320240.png) no-repeat; padding:10px;}
.new_1 .p2{ width:40px; height:240px; float:left;}
.new_1 .p3{ width:618px; height:218px; float:right; background:#fff; padding:10px; border:1px solid #dcdcdc;}
.new_1 .p3 h1{ width:608px; height:50px; line-height:50px; padding-left:10px; font-family:"Microsoft YaHei","微软雅黑",SimSun,SimHei; font-size:16px; color:#fff; text-align:left; font-weight:bold; background:#2a323d;}
.new_1 .p3 h1 a{color:#fff; text-decoration:none;}
.new_1 .p3 h1 a:hover{color:#40a3e5; text-decoration:underline;}
.new_1 .p3 p{ width:618px; height:133px; font-size:12px; color:#666; text-align:left; padding-top:10px;}
.new_1 .p3 h3{ width:608px; height:25px; line-height:25px; font-family:"Microsoft YaHei","微软雅黑",SimSun,SimHei; font-size:12px; color:#666; text-align:right; }
.new_1 .p3 h3 a{color:#666; text-decoration:none;}
.new_1 .p3 h3 a:hover{color:#40a3e5; text-decoration:underline;}








