<?xml version="1.0" encoding="UTF-8"?> 
<configuration>
<system.webServer>
	<httpErrors errorMode="DetailedLocalOnly">
		<remove statusCode="404" />
		<error statusCode="404" path="404.htm" responseMode="Redirect" />
	</httpErrors>

        <rewrite>
            <rules>
                <rule name="defaultpage">
                    <match url="^default.html$" />
                    <action type="Rewrite" url="default.asp" />
                </rule>
                <rule name="news1">
                    <match url="^news-([0-9]*).html$" />
                    <action type="Rewrite" url="news.asp?page={R:1}" />
                </rule>
                <rule name="news2">
                    <match url="^news.html$" />
                    <action type="Rewrite" url="news.asp" />
                </rule>

                <rule name="product1">
                    <match url="^product-([0-9]*).html$" />
                    <action type="Rewrite" url="product.asp?page={R:1}" />
                </rule>
                <rule name="product2">
                    <match url="^product.html$" />
                    <action type="Rewrite" url="product.asp" />
                </rule>
                <rule name="product3">
                    <match url="^product-(.*)-([0-9]*).html$" />
                    <action type="Rewrite" url="product.asp?keyname={R:1}&amp;Page={R:2}" />
                </rule>
                <rule name="public1">
                    <match url="^public-(.*).html$" />
                    <action type="Rewrite" url="public.asp?keyname={R:1}" />
                </rule>
                <rule name="public2">
                    <match url="^pubid-(.*).html$" />
                    <action type="Rewrite" url="public.asp?id={R:1}" />
                </rule>
                <rule name="item">
                    <match url="^item-([0-9]*).html$" />
                    <action type="Rewrite" url="item.asp?id={R:1}" />
                </rule>

            </rules>
        </rewrite>
    </system.webServer>
</configuration>