/* CSS Document */
html{ height:100%;}
html, body, talbe, tr, th, td, ul, ol, li, dl, dt, dd, div, center, p, span, h1, h2, h3, h4, h5, h6, hr, form, select, input, textarea{ margin:0px; padding:0px;}
body{ font:12px/23px 'Microsoft Yahei','SimSun','sans-serif';  background:#3c7d17; color:#333; margin:0px auto; font-family:"Microsoft Yahei";}
img{ border:none;} 
.aa ul,ol,li,a,｛color:#303030; text-decoration:none;float:left;｝
.clear{ clear:both; height:1px; overflow:hidden;}
.black{ color:#525252; font-weight:bold;}
.blank{ height:20px;}
form,input,select { padding:0; margin:0;}
ul,ol,li{ list-style:none;}
em{font-style:normal;}
a{ color:#333; text-decoration:none; font-size:12px; outline:none;}
a:hover{ color:#048542; cursor:pointer; text-decoration:underline;}
a:active {star:expression(this.onFocus=this.blur()); color:#FFF;}
:focus { outline:0; }
.block{ display:block;}
.display{ display:none;}
.left{float:left;}
.right{float:right;}
.mr{ margin-right:10px;}
.mtop{ margin-top:15px;}
.ht{ height:auto; overflow:hidden;}
.clear{ clear:both;}


/** header 头部 **/
.header{ width:100%; height:130px; background:url(../images/rdxm_01.jpg) no-repeat center top;}
.head{ width:1000px; margin:auto;}
.logo{ width:320px; height:104px; margin-top:12px; }
.tele{ margin-right:8px; display:block; line-height:119px;  margin-top:12px;  font-size:16px; color:#666;}
.tele span{ font-family:"Georgia"; font-size:22px; color:#01683d; }
/* search 搜索 */
.sousuo{}
.search{ width:352px; padding-top:20px;}
.search .soText {width:251px; height:12px; line-height:32px; border:3px solid #0f6e14; text-indent:0.6em; padding:10px 0; outline:none; float:left; background: #fff url(../images/rdxm_10.jpg) no-repeat 8px center; color:#999; padding-left:33px;}
.search .soBtn {width:62px; height:38px; border:none; background:url(../images/rdxm_07.jpg) no-repeat; float:right;}
.curp {cursor: pointer;}

.login{ margin-left:230px; background:url(../images/rdxm_16.jpg) repeat-x; height:27px; color:#FFF; line-height:27px; width:100px; padding:0px 10px; text-align: center;}
.login a{ color:#FFF; display:inline; margin:0px 10px;}

/** 导航 navbg **/
.navbg{ width:100%; background:url(../images/rdxm_16.jpg) repeat-x;}
.nav { height:38px; font-family: arial, sans-serif; width:1000px; margin:auto;}
.nav ul {padding:0; margin: 0;	list-style-type: none;}
.nav ul li {float: left; position: relative; background:url(../images/rdxm_19.jpg) no-repeat right center; }
.nav ul .cur{background:url(../images/rdxm_14.jpg) no-repeat 0 center;  }
.nav ul .cur a{ color:#086d43;}
.nav ul li a{ font-family:"Microsoft Yahei";}
.nav ul li a, .nav ul li a:visited { display: block; text-align:center; text-decoration:none; width:111px; height:38px;
color:#FFF; line-height:38px; font-size:14px;}
.nav ul li ul {	display: none;}
.nav ul li:hover a {color: #fff; background:url(../images/rdxm_14.jpg) no-repeat 0 center;   text-decoration:underline;}
.nav ul li:hover ul { display: block; position:absolute; z-index:9999; top:38px; left:0; width:100px;}
.nav ul li:hover ul li a {display:block; background:#017601; color:#FFF; font-size:14px;}
.nav ul li:hover ul li a:hover { background:#019002; color: #FFF;}

/** banner 大图 **/
.banner{ width:100%; border-top:1px solid #FFF;  height:420px;}
.bannerbg{background:url(../images/rdxm_26.png) repeat-x; height:12px;}

/** 主体部分 **/
.main{ width:1000px; margin:auto; padding-top:15px;}

/** service 服务项目 **/
.service{width:1000px; background:#FFF;}
.fuxmtit{ background:url(../images/rdxm_30.jpg) no-repeat; height:33px; }
.fuxmtit h2{ padding-left:20px; font-size:14px; font-weight:bold; color:#FFF; line-height:33px;}
.fuxmtit span{ float:right; margin-right:10px;}
.fuxmtit span a{ color:#048542;}
.fuxmcont{ border:1px solid #ddd; border-top:none; }
.fuxmcont dl{ float:left; display:block; border:1px solid #ddd; width:186px; height:188px; margin:10px 5px 10px 6px;}
.fuxmcont dl dt{ border-bottom:1px solid #ddd;}
.fuxmcont dl dd{ text-align: center; }
.fuxmcont dl dd a{ font-size:14px; display:inline; height:24px; line-height:24px;}

/** about 关于我们部分 **/
.about{ width:1000px;}
.gywm{ width:716px;}
.gywmcont{ background:#FFF; padding:10px; border:1px solid #ddd; border-top:none;}
.gywmcont dl{ overflow:auto;}
.gywmcont dl dt{ width:260px; height:233px; float:left; margin-right:15px; border:1px solid #ddd; padding:1px;}
.gywmcont dl dd{ text-indent:24px; font-size:14px; line-height:30px;}

/* xmcg 项目成果 */
.xmcg{ width:269px; background:#FFF; }
.xmcg h2{ background:url(../images/rdxm_50.jpg) repeat-x; line-height:33px; height:33px; padding:0px 10px; color:#FFF; font-size:14px;  }
.xmcg h2 span{ float:right; }
.xmcg h2 span a{ color:#FFF; font-size:12px;}
.cgcont{ border:1px solid #ddd; border-top:none; padding:5px 10px;}
.cgcont dl{ overflow:hidden; margin:5px 0px;}
.cgcont dl dt{ width:106px; height:73px; padding:1px; border:1px solid #ddd; float:left; display:block; margin-right:10px;}

/** team 专家团队 **/
.team{ border:3px solid #42b500; padding:15px 2px; background:#fff;}
.team h2{ width:596px; height:22px; margin:0px auto;}
.rollBox{width:994px; overflow: hidden; margin:15px auto 0px;}
.rollBox .LeftBotton{height:185px; width:39px; background:url(../images/rdxm_76.jpg) no-repeat left center; overflow:hidden; float:left; 
display:inline; cursor:pointer; line-height:185px; margin:0px 0px 0px 0px;}
.rollBox .LeftBotton a{ color:#F00}
.rollBox .RightBotton{height:185px; width:39px; background:url(../images/rdxm_73.jpg) no-repeat 0 center; overflow:hidden; float:left;
display:inline; margin:0px 0 0 10px;cursor:pointer;}
.rollBox .Cont{width:900px;overflow:hidden;float:left; margin:auto;}
.rollBox .ScrCont{width:10000000px;}
.rollBox .Cont .pic{width:209px; float:left; text-align:center; margin:0px 8px;}
.rollBox .Cont .pic img{padding:2px;border:1px solid #ddd;display:block;margin:0 auto;}
.rollBox .Cont .pic p{line-height:26px;color:#505050;}
.rollBox .Cont a:link,.rollBox .Cont a:visited{color:#626466;text-decoration:none;}
.rollBox .Cont a:hover{color:#f00;text-decoration:underline;}
.rollBox #List1,.rollBox #List2{float:left;}

/** product 产品展示 **/
.product{ background:#fff;}

#Tab1{ width:100%; margin:0px; padding:0px; margin:0 auto;}
/*菜单class*/
.Menubox {width:100%; height:33px; line-height:33px; background:url(../images/rdxm_83.jpg) repeat-x;}
.Menubox ul{ margin:0px; padding:0px;}
.Menubox li{ float:left; display:block; cursor:pointer; width:104px; text-align:center; color:#333; font-weight:bold; }
.Menubox li.hover{ padding:0px; background:url(../images/rdxm_81.jpg) no-repeat; width:104px; border-top:1px solid #A8C29F; color:#fff;
 font-weight:bold; height:33px;line-height:33px;}
.Contentbox{ clear:both; margin-top:0px; padding-top:8px;}
.chanpin{ padding:10px;}
.chanpin li{ width:186px; float:left; display:block; border:1px solid #ddd; margin:5px 4px; text-align:center;}

/** news 新闻 **/
.news{ background:#FFF; padding:10px;}
.hynews{ width:280px; background:url(../images/dt_yy.gif) no-repeat right center; padding-right:10px; margin-right:15px;}
.hynews h2{ font-size:14px; border-bottom:1px solid #ddd; color:#3b7e15; height:32px; line-height:32px;}
.hynews h2 span{ float:right;  font-size:12px;}
.hynews h2 span a{ color:#666;}
.hynews ul{ padding:5px 0px 0px 0px; }
.hynews ul li{ background:url(../images/rdxm_91.jpg) no-repeat 0 center; padding-left:20px; line-height:32px; border-bottom:1px dashed #ddd;}
.hynews ul li a{ font-size:12px;}

.gsnews{ width:375px;}
.gsnews dl{ overflow:auto; padding-top:10px;}
.gsnews dl dt{ width:99px; overflow:auto; height:77px; margin-right:10px; padding:1px; border:1px solid #ddd; float:left; display:block;}

.jshy{ width:270px; margin-right:0; background:none; padding:0px;}

/** link 友情链接 **/
.link{ width:1000px; background:#FFF;}
.link p a{ display:inline; margin:0px 10px; line-height:30px; }
.partner{ padding:5px 10px 5px 10px;}
.partner li{ width:112px; text-align:center; float:left; display:block; margin:5px;}
.partner li img{ border:1px solid #ddd;}

/** dibunav 底部导航 **/
.dibunav{ width:100%; background: url(../images/rdxm_108.jpg) repeat-x;}
.dbnav{ width:1000px; margin:auto; color:#fff; text-align:center; }
.dbnav a{margin:0px 8px; display:inline; color:#fff; font-size:12px; line-height:33px; }
/** bottom 底部 **/
.bottom{ width:100%; background:#0ca553; padding:15px 0px 15px 0px; }
.botcont{ width:1004px; margin:auto;}
.banquan{ width:700px; margin:auto; color:#FFF;}
.banquan p{ color:#FFF; line-height:26px;}
.banquan p a{ color:#FFF;}
.erweima{ width:105px; height:105px;}

/** nycont 内页 **/
.nycont{ width:1000px; margin:auto;}
.sideleft{ width:221px; margin-right:15px;}

.menus h2{ width:221px; background:url(../images/ptop.png) no-repeat; color:#FFF; height:61px; line-height:60px; font-size:24px; font-weight:normal; padding-left:25px;}
.menus ul{ width:191px; border:5px solid #047b3b; border-top:none; background:#FFF; padding:10px; }
.menus ul li{ padding-left:33px; border-bottom: 1px dotted #b4b1b1; height:36px; line-height:36px;}
.menus ul li.cur{ background:url(../images/pl.jpg) no-repeat center center;}
.menus ul li.cur a{  color:#FFF;}
.menus ul li.cur a:hover{ text-decoration:underline; color:#FFF;}
.menus ul li a{ font-size:14px; color:#333; font-weight:bold;}
.menus ul li a:hover{ text-decoration:underline; color: #086d43; }

.zixun h2{background:url(../images/rdxm_50.jpg) repeat-x; height:33px; color:#FFF; line-height:30px; font-size:14px; font-weight:normal; padding-left:25px; }
.zixun ul{border:1px solid #ddd; background:#FFF; padding:10px; }
.zixun ul li{ padding-left:15px; background:url(../images/rdxm_91.jpg) no-repeat 0 center; line-height:32px; border-bottom:1px dashe #ddd; }

/** rightcont 内页右部分 **/
.rightcont{ width:764px;  }
.rightcont h2{ background:url(../images/rdxm_16.jpg) repeat-x; height:30px; color:#FFF; font-size:12px; line-height:30px; text-indent:20px; }
.rightcont h2 a{ color:#FFF;}
.jjcont{  border:1px solid #ddd; background:#fff; padding:10px;}
.jjcont p{ text-indent:24px; line-height:26px;}