* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

a {
	text-decoration: none;
}

.clearfix:after {
	content: "";
	clear: both;
	font-size: 0;
	height: 0;
	display: block;
}


/*通用*/

body {
	font-family: "微软雅黑";
	font-size: 14px;
	line-height: 35px;
}


/*头部*/

header {
	width: 100%;
}

header .tou {
	width: 100%;
	background: rgba(0, 0, 0, 0.64);
}

header .tou div {
	width: 1180px;
	margin: 0 auto;

}

header .tou span {
	color: #fff;
}

header .tou span:last-child {
	float: right;
	margin-right: 10px;
}

header .top-1 {
	width: 1200px;
	margin: 0 auto;
	padding: 0 10px;
	
}

header .top-1 .logo {
	width: 180px;
	float: left;
}

header .top-1 .logo img {
	margin-left: 20px;
}

header .top-1 nav {
	float: right;
}

header .top-1 nav li {
	display: inline-block;
	width: 120px;
	text-align: center;
	margin-top: 30px;
}

header .top-1 nav li a {
	font-size: 16px;
	color: #666;
}

header .top-1 nav .active {
	background: #3391CF;
	color: #fff;
	border-radius: 5px;
}

header .top-1 nav .active a {
	color: #FFFFFF;
}

header .top-1 nav li:hover,
header .top-1 nav li:hover a {
	background: #3391CF;
	border-radius: 5px;
	color: #FFFFFF;
}


/*优质产品*/

.main {
	width: 100%;
}

.main .main-1 {
	width: 100%;
	background: url(../images/U.jpg);
	background-size: 100%;
}

.main .main-1 .main-2 {
	width: 1200px;
	margin: 0 auto;
	padding: 0 10px;
	text-align: center;
}

.main .main-1 .main-2 h2 {
	text-align: center;
	padding-top: 80px;
	font-size: 35px;
	padding-bottom: 20px;
	font-weight: 100;
}

.main .main-1 .main-2 p {
	text-align: center;
padding-bottom: 50px;
	padding-top: 40px;
	padding-left: 20px;
	padding-right: 20px;
	font-size: 14px;
	overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-line-clamp: 3;
   -webkit-box-orient: vertical;
}

.main .main-1 .main-2 .imgbox {
	width: 100%;
	padding-bottom: 50px;
}

.main .main-1 .main-2 .imgbox img {
	width: 460px;
	padding-left: 40px;
}

.main-3 {
	width: 1200px;
	margin: 0 auto;
	padding: 70px 10px;
}


/*.main-3 ul{ float: left; width: 1000px;}*/

.main-3 ul {
	width: 100%;
}

.main-3 ul li {
	display: inline-block;
	text-align: center;
	width: 32%;
}

.main-3 ul li img {}

.main-3 ul li h4 {
	padding: 10px 0px;
	font-size: 18px;
	font-weight: 100;
}

.main-3 ul li p {
	font-size: 14px;
	padding: 0px 80px;
}

.main-4 {
	width: 100%;
	background: url(../images/Bw.jpg);
	background-size: 100%;
	padding-bottom: 50px;
}

.main-4 .main-5 {
	width: 1180px;
	margin: 0 auto;
	/*padding: 0 10px;*/
}

.main-4 .main-5 h2 {
	color: #FFFFFF;
	font-size: 35px;
	padding-bottom: 15px;
	font-weight: 100;
	text-align: center;
	padding-top: 10px;
	padding-top: 80px;
}

.main-4 .main-5 h4 {
	text-align: center;
	color: #FFFFFF;
}

.main-4 .main-5 p {
	text-align: center;
	color: #FFFFFF;
	padding-bottom: 45px;
}

.main-4 .main-5 ul {
	width: 100%;
	padding-top: 50px;
	padding-bottom: 50px;
	padding: 0 7px;
}

.main-4 .main-5 ul li {
	width: 33.2%;
	float: left;
	list-style-type: none;
	height: 300px;
}

.main-4 .main-5 ul li img {
	width: 370px;
	height: 280px;
}

.main-6 {
	width: 1180px;
	padding: 80px 10px;
	margin: 0 auto;
}

.main-6 h3 {
	color: rgb(7, 108, 224);
	font-size: 25px;
	font-weight: 100;
	border-bottom: 1px solid #ccc;
	padding-bottom: 20px;
}

.main-6 h3 i {
	color: #ccc;
	font-size: 18px;
}

.main-6 a {
	color: #666;
}

.main-6 .left {
	float: left;
	width: 700px;
	margin-top: 50px;
	margin-left: 10px;
}

.main-6 .right {
	float: right;
}

.main-6 .left li div:first-child {
	width: 85px;
	float: left;
	background: #f2f2f2;
	height: 85px;
	margin-top: 7px;
}

.main-6 .left li {
	border-bottom: 1px dashed #ccc;
	list-style-type: none;
	height: 148px;
}

.main-6 .left li div:last-child {
	width: 600px;
	margin-left: 100px;
	margin-top: 30px;
	line-height: 30px;
}

.main-6 .left li .date {
	padding-top: 12px;
}

.main-6 .left li .date p:first-child {
	text-align: center;
	font-size: 25px;
	height: 25px;
}

.main-6 .left li .date p:last-child {
	text-align: center;
	color: #888;
}

.main-6 .left li .new-1 p {
	color: #888;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
}

.main-6 .left li .new-1 h4 {
	font-size: 18px;
}

.main-6 .left li .new-1 h4:hover {
	color: #3391CF;
}

.main-6 .right {
	margin-top: 100px;
}

.main-6 .right li {
	max-width: 400px;
	list-style-type: none;
	height: 210px;
	overflow: hidden;
	margin-right: 10px;
}

.main-6 .right li img {
	width: 380px;
	height: 210px;
	cursor: pointer;
	transition: all 0.6s;
	border: none;
}

.main-6 .right li:hover {
	max-width: 380px;
}

.main-6 .right li:hover img {
	transform: scale(1.1);
	overflow: hidden;
}

.main-6 .right li h4 {
	width: 380px;
	height: 30px;
	background: rgba(0, 0, 0, .5);
	color: #fff;
	position: relative;
	top: -30px;
	z-index: 10;
	text-align: center;
}

.main-6 .right li:last-child {
	margin-top: 20px;
}


/*底部*/

.lianxi {
	background: #052037;
	/*padding: 50px 0;*/
	color: #8b939d;
	text-align: center;
	/*width: 1200px;*/
	/*margin: 0 auto;*/
}

.b-nav {
	padding: 15px 0px;
	text-align: center;
	border-top: 1px #313a43 solid;
	font-size: 20px;
}

.b-nav a {
	display: inline-block;
	padding: 0 20px;
	color: #8b939d;
}

.copy {
	font-size: 15px;
}

.b-nav a:hover {
	color: #D80808;
}

.footer_wrapper {
	background: #052037;
}

.footer_bottom {
	border-top: 1px solid #3C3A3A;
	padding: 20px 0;
}

.footer_bottom span {
	display: block;
	font-size: 14px;
	color: #cccccc;
	text-align: center;
}

.footer_bottom span a {
	display: inline-block;
	color: #df0031;
	font-size: 16px;
}

.footer_wrapper .dibu {
	width: 1180px;
	margin: 0 auto;
	padding-top: 60px;
}

.footer_wrapper .dibu ul li {
	display: inline-block;
	width: 32%;
	text-align: center;
}

.footer_wrapper .dibu ul li p {
	color: #fff;
	font-size: 18px;
	position: relative;
}

.footer_wrapper .dibu ul li p:first-child {
	top: -111px;
}

.footer_wrapper .dibu ul li p:last-child {
	top: -85px;
}


/*ABOUT*/

.about {
	width: 100%;
	background: url(../images/A1.jpg);
	padding-top: 100px;
	height: 500px;
}

.about .about-1 {
	width: 1200px;
	padding: 0 10px;
	margin: 0 auto;
	float: right;
}

.about .about-1 .about-2 {
	width: 600px;
	height: 250px;
	color: #fff;
	text-align: center;
	float: right;
	padding-top: 80px;
}

.about .about-1 .about-2 h2 {
	font-size: 27px;
	font-weight: 100;
}

.about .about-1 .about-2 p {
	padding: 0 90px;
}

.about-3 {
	width: 1200px;
	margin: 0 auto;
	padding: 50px 10px;
	text-align: center;
}

.about-3 h3 {
	font-size: 26px;
	padding: 15px 0px;
	font-weight: 100;
	color: #666;
}

.about-3 p {
	padding-bottom: 40px;
	font-size: 16px;
	color: #888;
}




#demo {
	width: 1180px;
	margin: 0 auto;
	padding-bottom: 30px;
}

.owl-carousel img {
	width: 240px;
	height: 300px;
}

/*anli*/

.main11-4 {
	width: 100%;
	background: url(../images/pro-1.jpg);
	background-size: 100%;
	padding-bottom: 20px;
}

.main11-4 .main-5 {
	width: 1200px;
	margin: 0 auto;
	padding: 0 10px;
}

.main11-4 .main-5 h2 {
	color: #000;
	font-size: 35px;
	padding-bottom: 15px;
	font-weight: 100;
	text-align: center;
	padding-top: 10px;
	padding-top: 80px;
}

.main11-4 .main-5 h4 {
	text-align: center;
	color: #888;
}

.main11-4 .main-5 p {
	text-align: center;
	color: #888;
	padding-bottom: 45px;
}

.main11-4 .main-5 ul {
	width: 100%;
	padding-top: 50px;
	padding-bottom: 50px;
	padding: 0 7px;
}

.main11-4 .main-5 ul li {
	width: 25%;
	float: left;
	list-style-type: none;
	height: 320px;
}

.main11-4 .main-5 ul li img {
	width: 280px;
	height: 300px;
}
 .page{text-align: center;/*margin-top:20px;*/}
.page a{ padding:3px 10px;text-decoration: none;font-size: 14px;height: 24px;border-radius: 3px;line-height: 84px;color: #666;margin-left: 5px;border: 1px solid #e5e5e5;border-bottom: 1px solid #ccc;background: #fff;}
.page a:hover{
	color: #fff;
    text-decoration: none;
    background: #3391CF;
    border: 1px solid #3391CF;
}





.imgbox1 {
	width: 100%;
	padding-bottom: 50px;
}
.imgbox1 div{ float: left; text-align: center;}
.imgbox1 div img{
/*width: 555px;*/
	padding-left: 70px;
}
/*.imgbox1 .right1 { width: 485px;}*/
.imgbox1 .right1 h4 {
	width: 485px;
	height: 30px;
	background: rgba(0, 0, 0, .5);
	color: #fff;
	position: relative;
	top: -30px;
	z-index: 10;
	left: 70px;
	text-align: center;
}



.scd_r .contact {
	padding: 20px 0;
}

.scd_r .contact .ct_m {
	padding-bottom: 25px;
	border-bottom: 1px dashed #ddd;
	margin-bottom: 25px;
}

.scd_r .contact .ct_m:last-child {
	border: 0;
}

.contact .ct_m dl {
	width: 100%;
}

.contact .ct_m dl dt {
	width: 50%;
	float: right;
	text-align: right;
}

.contact .ct_m dl dd {
	width: 50%;
	float: left;
	text-align: left;
	font-size: 16px;
	color: #9F9F9F;
	line-height: 165%;
}

.contact .ct_m dl dd p {
	width: 100%;
	padding: 7px 0;
}

.contact .ct_m dl dd p span {
	color: #006BB5;
}

.contact .ct_m dl dt div {
	display: inline-block;
	*display: inline;
	zoom: 1;
	vertical-align: top;
	margin: 10px 30px 0;
}

.contact .ct_m dl dt div img {
	width: 125px;
	height: 125px;
	vertical-align: top;
}

.contact .ct_m dl dt div p {
	width: 100%;
	text-align: center;
	height: 40px;
	line-height: 40px;
	font-size: 14px;
	color: #5A5A5A;
}

.contact .ct_m img {
	max-width: 100%;
	height: auto;
	vertical-align: top;
}

.contact .ct_m .t_name {
	width: 100%;
	height: 50px;
	line-height: 50px;
	font-size: 18px;
	color: #006BB5;
}

.contact .ct_m p {
	line-height: 165%;
	padding: 3px 0;
	font-size: 16px;
	color: #444;
}

.contact .ct_m ul {
	width: 100%;
}

.contact .ct_m ul li {
	width: 50%;
	float: left;
	height: 35px;
	line-height: 35px;
	font-size: 16px;
	color: #444;
}

.con1 {
	width: 1180px;
	text-align: center;
	margin: auto;
	border-bottom: 1px #ccc solid;
}

.con1 .con1_nei {
	display: inline-block;
	margin:0px auto;
	text-align: center;
	padding-bottom: 30px;
	width: 1180px;
}

.con1 .con1_nei .con1_xun {
	width: 370px;
	height: 187px;
	padding-top: 60px;
	border: #EEEEEE solid 1px;
	background: #fcfcfc;
	float: left;
	position: relative;
	margin: 85px 10px 20px;
	
}

.con1 .con1_nei .con1_xun .con1_xun_img {
	position: absolute;
	width: 100%;
	text-align: center;
	height: 100px;
	border-radius: 100px;
	top: -50px;
}

.con1 .con1_nei .con1_xun .con1_xun_title {
	font-size: 18px;
	width: 100%;
	color: #3b3b3b;
	line-height: 2em;
	text-align: center;
}

.con1 .con1_nei .con1_xun .con1_xun_zi {
	font-size: 15px;
	line-height: 23px;
	color: #3b3b3b;
	width: 100%;
	text-align: center;
}

.con1 .con1_nei .con1_xun .con1_xun_zi img {
	/*margin-top: 7px;*/
	width: 80px;
}

.con1 .con1_nei .con1_xun .con1_xun_text {
	padding: 0 1%;
}



.mian{text-align: right;}
.xinwen{width: 1200px; margin: 0 auto; padding: 0 10px; }
.xinwen h2{ text-align: center; padding-bottom: 20px;/*font-weight: 100; */font-size: 26px;}
.xinwen p{ line-height: 35px;text-indent:20px;}

.main11-4 {    width: 1180px;
    padding: 80px 10px;
    margin: 0 auto; background: none;}
.main11-4 h3{color: rgb(7, 108, 224);
    font-size: 25px;
    font-weight: 100;
    border-bottom: 1px solid #ccc;
    padding-bottom: 20px;}
    

.main11-4 h3 i{color: #ccc;
    font-size: 18px;}
    


.pro{ width: 1180px; margin: 0 auto; text-align: center; }
.pro img{padding-top: 15px;}
