@charset "utf-8";
/* CSS Document */
*{ margin:0; padding:0}
ul li{ list-style:none}
img{ border:0; max-width:100%}
a{ text-decoration:none; color:#333}
.clear{ clear:both}
body{ font-family:"微软雅黑"; width:100%; min-width:1200px;color: #333;font-size: 14px;}
.ccsl{ display:block;overflow:hidden; white-space:nowrap;text-overflow:ellipsis;}
p{text-align:justify}

.main{ width:1200px; margin:0 auto;}

.header{ width:1200px; height:80px; margin:0 auto; padding:10px 0}
.header img{ width:1200px; height:80px; overflow:hidden}

.nav{ width:100%; min-width:1200px; overflow:hidden; background:#2b2b2b; height:50px; line-height:50px;}
.nav ul{ overflow:hidden; width:1200px; height:50px;}
.nav ul li{ float:left; width:120px; height:50px; line-height:50px; text-align:center}
.nav ul li a{ color:#fff; font-size:16px; display:block}
.nav ul li:hover,.nav ul li.on{ background:#4ab344;}

.banner{ width:100%; min-width:1200px; /*height:400px;*/ overflow:hidden; position:relative;font-size:0; margin:0 auto;}
.b-img{ /*height:400px;*/  position:absolute; left:0; top:0;}
.b-img img{ display:block; /*height:400px;*/ float:left;}
.b-list{ height:20px; /*padding-top:380px;*/ margin:0 auto;position:relative;z-index:1;}
.b-list span{ display:block;cursor:pointer; width:10px; height:10px; border-radius:50%; background:#fff; float:left; margin:0 5px; _margin:0 3px;}
.b-list .spcss{ background:#d8241d}


.part1{ width:1200px; margin:0 auto; padding-top:40px;}
.part1_1{ float:left; width:370px; margin-right:45px; overflow:hidden}
.part1_1 .tit{ color:#353535; font-size:16px; padding:15px 0}
.part1_1 .sub{ color:#A9A9A9; font-size:14px; line-height:26px; height:130px; overflow:hidden}
.part1_2{ width:370px; float:right; overflow:hidden}
.part1_2 .titbox{ width:370px; height:141px; background:url(../images/bg.png) no-repeat; overflow:hidden}
.part1_2 .titbox p{ padding-left:27px; padding-top:37px; color:#fff; font-size:24px}
.part1_2 .titbox p span{ font-size:20px}
.part1_2 .titbox .line{font-size: 30px; font-weight:bold; color:#fff; margin-left:27px}
.part1_2 ul{ padding:18px 8px 8px; overflow:hidden}
.part1_2 ul li{padding: 3px 5px; height:40px; line-height:40px; overflow:hidden; border-bottom:1px dashed #EDEDED}
.part1_2 ul li a{ float:left; max-width:250px; font-size:14px; color:#666}
.part1_2 ul li span{ float:right;font-size:14px; color:#666}
.part1_2 ul li a:hover{ color:#4AB344}



.part2{ width:100%; min-width:1200px; margin:0 auto; margin-top:70px;}
.part2 .titbox{ width:100%; min-width:1200px; height:80px; line-height:80px; border:1px solid #EDEDED; border-left:0; border-right:0; overflow:hidden}
.part2 .titbox p{ background:#4AB344; width:154px; height:80px; line-height:80px; text-align:center; color:#fff; font-size:20px}
.part2 ul{ width:1200px; height:406px; margin:0 auto; margin-top:106px; overflow:hidden}
.part2 ul li{width: 295px;margin: 2px 3px 3px 2px;height: 198px; float:left; overflow:hidden}
.part2 ul li img{width: 295px;height: 198px;transition: all 0.5s;}
.part2 ul li:hover img{transform: scale(1.1)}


.part3{ width:1200px; margin:0 auto; padding-top:85px; overflow:hidden}
.part3 .part3_L{ float:left; width:770px; overflow:hidden}
.part3_1{ width:770px; height:280px; overflow:hidden; background:url(../images/bg2.png) no-repeat}
.part3_1 .tit{ padding-left:35px; padding-top:43px; font-size:28px; color:#fff;width: 650px;}
.part3_1 .con{ padding-left:35px; width:620px;padding-top:30px;color:#fff;font-size: 14px;line-height: 26px; height:130px; overflow:hidden}
.part3_2{ background:#F5F5F5; height:423px; width:770px; overflow:hidden}
.part3_2 ul{ overflow:hidden; padding-left:27px; padding-top:17px;width: 704px;height: 383px;}
.part3_2 ul li{ height:187px; overflow:hidden; margin-top:15px}
.part3_2 ul li .p3_2l{ width:270px; float:left; overflow:hidden}
.part3_2 ul li .p3_2r{ width:415px; float:right; overflow:hidden}
.part3_2 ul li .p3_2r a{font-size: 18px;color: #161616; line-height:30px}
.part3_2 ul li .p3_2r .sub{color: #9b9b9b; font-size:14px; line-height:24px; padding-top:5px; height:120px; overflow:hidden}

.part3 .part3_R{ float:right; width:425px; height:703px;overflow:hidden;}
.part3 .part3_R a{width:425px; height:703px;overflow:hidden; display:block; position:relative}
.part3 .part3_R p{ position:absolute; bottom:0;background:rgba(0,0,0,0.5); color:#fff; width:100%; text-align:center; height:50px; line-height:50px; font-size:14px}


.part4{ width:1200px; margin:0 auto; padding-top:70px; overflow:hidden; padding-bottom:100px}
.part4_1{ width:345px; float:left; margin-left:10px}
.part4 .titbox{ height:60px; width:100%; overflow:hidden}
.part4 .titbox p{ color:#4AB344; font-size:20px; line-height:60px;}
.part4_1 .titimg{ width:345px; overflow:hidden}
.part4_1 .titimg a{ color:#353535;font-size: 16px; padding:15px 0 5px 0}
.part4_1 .titimg .sub{ color:#A9A9A9; font-size:14px; line-height:40px; height:234px; overflow:hidden}

.part4_2{ width:415px; overflow:hidden; float:left; margin-left:46px}
.part4_2 .titimg{ width:415px; height:230px; overflow:hidden}
.part4_2 ul{ overflow:hidden; padding-top:10px}
.part4_2 ul li{padding: 3px 5px; height:40px; line-height:40px; overflow:hidden; border-bottom:1px dashed #EDEDED}
.part4_2 ul li a{float:left; max-width:280px; font-size:14px; color:#666}
.part4_2 ul li span{float:right;font-size:14px; color:#666}
.part4_2 ul li a:hover{ color:#4AB344}


.part4_3{ width:340px; float:right; overflow:hidden}
.part4_3 ul{ overflow:hidden;}
.part4_3 ul li{padding: 3px 5px; height:40px; line-height:40px; overflow:hidden; border-bottom:1px dashed #EDEDED}
.part4_3 ul li a{float:left; max-width:230px; font-size:14px; color:#666}
.part4_3 ul li span{float:right;font-size:14px; color:#666}
.part4_3 ul li a:hover{ color:#4AB344}



.footer{ background:#1b1f2a; border-top:2px solid #4ab344; width:100%; min-width:1200px; overflow:hidden; padding:30px 0}
.fnav{ overflow:hidden}
.fnav a{ padding:0 20px; border-right:1px solid #dbdbdb; color:#dbdbdb}

.foot{color: #4d4d4d; padding:10px 20px;font-size: 14px; line-height:24px}


.part5{ width:770px; margin:0 auto; padding:75px 0}
.part5 .tit{ font-size:30px; height:40px; line-height:40px; overflow:hidden;color: rgb(74, 179, 68); text-align:center}
.part5 .sub{ text-align:center; font-size:14px; color:#666; line-height:26px; padding-top:40px}


.part6{ background:#F5F5F5; width:100%; min-width:1200px; overflow:hidden; padding-top:120px; padding-bottom:40px}
.typebox{ text-align:center; padding-bottom:40px;}
.typebox a{ display:inline-block;font-size: 16px; color:#666; height:36px; line-height:36px;padding:0 24px;border-radius: 50px; border:1px #cccccc solid; margin:12px}
.typebox a:hover{ background:#4ab344; color:#fff}


ul.piclistul{ overflow:hidden; padding-bottom:40px}
ul.piclistul li{width: 370px;height: 370px; margin:15px; float:left; overflow:hidden}
ul.piclistul li img{width: 370px;height: 370px; transition: all 0.5s;}
ul.piclistul li:hover img{transform: scale(1.1)}


.part7{background:#F5F5F5; width:100%; min-width:1200px; overflow:hidden; padding-top:150px; padding-bottom:170px}
.part7L{ width:430PX; height:703PX; float:left; overflow:hidden}
.part7R{ width:680PX; float:right; overflow:hidden}
.part7R ul{ overflow:hidden}
.part7R ul li{ border-bottom:1px dashed #E5E5E5; padding:40px 0 30px}
.part7R ul li:last-child{ border-bottom:0}
.part7R ul li .date{ float:left;font-size:24px;line-height: 30px; color: #4a4a4a;font-family: arial;}
.part7R ul li .con{ width:540px; float:right}
.part7R ul li .con a{font-size: 14px; color:#666; line-height:24px;}
.part7R ul li .con .sub{margin-top: 4px;font-size: 14px;line-height: 24px;color: #808080;margin-bottom: 6px; padding-top:4px;overflow:hidden;text-overflow:ellipsis;display:-webkit-box;-webkit-line-clamp:3;-webkit-box-orient: vertical;}
.part7R ul li .con a:hover{ color:#4AB344}


ul.listul{ width:1200px; margin:0 auto; overflow:hidden; padding-top:56px; padding-bottom:80px}
ul.listul li{ height:84px; padding:40px 0; border-bottom:1px dashed #E5E5E5}
ul.listul li .date{ width:84px; height:84px; float:left; color:#666;font-size: 14px; background:#F2F2F2}
ul.listul li .date .day{font-size: 25px;line-height: 25px;padding-top: 20px;font-family: arial; text-align:center}
ul.listul li .date .year{font-size: 14px;font-family: arial;line-height: 14px; text-align:center}
ul.listul li .con{ width:988px; float:left; margin-left:16px; overflow:hidden}
ul.listul li .con a{font-size: 14px; color:#666; line-height:24px}
ul.listul li .con a:hover{color:#4AB344}
ul.listul li .con .sub{margin-top: 4px;overflow:hidden;text-overflow:ellipsis;display:-webkit-box;-webkit-line-clamp:2;-webkit-box-orient: vertical;font-size: 14px;line-height: 24px;color: #808080;margin-bottom: 6px; padding-top:4px}



.detailbox{ width:1200px; margin:0 auto; padding-top:65px}
.detailbox .xq{}
.detailbox .xq .tit{font-size: 25px;color: #333; line-height:35px}
.detailbox .xq .date{ border-bottom:1px solid #E5E5E5; height:30px; padding-top:40px; line-height:30px; padding-bottom:10px; color:#A9A9A9; font-size:14px}
.detailbox .xq .prroimg{ display:block; margin:0 auto; max-height:1000px; padding-top:30px}
.detailbox .xq .con{color: #676767; font-size:14px; line-height:1.8; padding-top:40px; padding-bottom:80px}



.aboutbox{ width:820px; margin:0 auto}
.aboutbox .tit{font-size: 29px;color: rgb(53, 53, 53); text-align:center}
.aboutbox .con{ text-align:center; font-size:16px; line-height:36px; padding-top:50px; padding-bottom:100px; color:#666}






.pagebox{ text-align:center; padding-top:10px; padding-bottom:50px}
.pagebox a{ border:1px solid #ccc; padding:5px 10px; display:inline-block; color:#333; margin:3px}
.pagebox a:hover{ border:1px solid #4AB344; color:#4AB344}
















