@charset "utf-8";
* {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
a, img {
	border: 0;
}
body {
	font: 12px/180% Arial, Helvetica, sans-serif,"微软雅黑";;
}
/*选择肥料品牌 轮播*/
.friend_box{
	width:100%;
	margin:0 auto;
	padding:0;
	position:absolute;
	top:40%;
	}
.friend {
	max-height: 740px;
	height:10%;
	margin: 0 auto;
	overflow:visible;
	width: 1080px;
/*	margin-top:360px;
	margin-left:200px;*/
	position:relative;
}
.mr_frbox {
	width:1080px;
	max-height: 440px;
	height:auto;
	margin:0 auto;
	margin-left:auto;
	position: relative;		
}
.mr_frBtnL {
	cursor: pointer;
	/*display: inline;*/
	float: left;
	max-height: 440px;
	height:20%;
	margin: 0;
	margin-right:15px;
	max-width: 124px;
	width:8%;
}
.mr_frUl {
	float: left;
	max-height: 440px;
	max-width: 900px;
	width:82%;
	height:440px;
	margin:0 auto;
	overflow:hidden;
	margin-left:0px;
	/*padding-left:18px;*/
}
.mr_frBtnR {
	float: right;
	cursor: pointer;
	max-height: 440px;
	height:20%;
	margin: 0;
	max-width: 124px;
	width:8%;
}
.mr_frUl  li {
	display: inline;
	float: left;
	max-width: 380px;
	width:82%;
	height:440px;
	margin:0 auto;
	margin-right:60px;
	right:0%;
	overflow: hidden;
	position: relative;
	
}
.mr_frUl  li a img {
	max-width:380px;
	width: 80%;
	max-height:440px;
	height:auto;
	position:relative
}
/*头部导航样式*/
.slide .nav {
	width: 60%;
	height: 70px;
	top: 0;
	left: 0%;
	right:0;
	float: right;
	margin:0 auto;
	margin-right:100px;
	position:relative;
}
.slide .nav li {
	width: 15%;
	height:auto;
	line-height: 70px;
	color: #959595;
	list-style: none;
	float:right;
	position:relative;
	margin-right: 10px;
	font-family: "Myriad Pro", arial;
	font-weight: bold;
	font-size: 20px;
	text-align: center;
}
.slide .nav li a {
	color: #fff;
	text-decoration: none;
	padding: 0px 10px;
	padding-top:5px;
	width:100%;
}
.slide .nav li a:hover{
	border-top:5px solid #333;
	color:#333;}

/*产品推荐*/
.slidBox {
	width: 100%;
	height: 175px;
	position: absolute;
	/*width: 60%;
	height: 20%;*/
	bottom: 1%;
	margin: 0 auto;
	overflow: visible;
}
.slb_frbox {
	height: 175px;
	width: 1024px;
	padding: 0px;
	margin: 0 auto;
	background: url(../images/bg_tm.png) center center;
}
.slb_frBtnL {
	float: left;
	cursor: pointer;
	height: 148px;
	left: 0;
	bottom: 0;
	position: ababsolute;
	margin-top: 25px;
	width: 76px;
}
.slb_frBtnR {
	float: right;
	cursor: pointer;
	height: 148px;
	right: 0;
	bottom: 0;
	position: ababsolute;
	margin-top: 25px;
	width: 76px;
}
.slb_frUl {
	float: left;
	height: 150px;
	width: 880px;
	overflow: hidden;
	position: absolute;
	margin-top: 10px;
	margin-left: 90px;/*padding-left:18px;*/
}
.slb_frUl ul li {
	display: inline;
	float: left;
	width: 200px;
	height: 120px;
	margin: 0 auto;
	margin-right: 10px;
	overflow: hidden;
	position: relative;
}
.slb_frUl ul li a img {
	width: 100%;
	height: 120px;
}
/*头部导航样式*/
 .nav {
	width: 60%;
	height: 70px;
	top: 25px;
	left: 0%;
	right:0;
	float: right;
	margin:0 auto;
	margin-right:100px;
	position:relative;
}
 .nav li {
	width: 15%;
	height:auto;
	line-height: 70px;
	color: #959595;
	list-style: none;
	float:right;
	position:relative;
	margin-right: 10px;
	font-family: "Myriad Pro", arial;
	font-weight: bold;
	font-size: 20px;
	text-align: center;
}
 .nav li a {
	color: #fff;
	text-decoration: none;
	padding: 0px 10px;
	padding-top:20px;
	width:100%;
}
 .nav li a:hover{
	border-top:5px solid #333;
	color:#333;}