@charset "utf-8";
/* CSS Document */
/*footer*/
.f_top {
	width: 100%;
	height: 440px;
	margin: 0 auto;
	padding: 0;
}
.f_box {
	width: 860px;
	height: 400px;
	margin: 0 auto;
	padding: 0;
	margin-top:25px;
	position:relative;
	display:block;
}
.f_boxl {
	width: 330px;
	height: 392px;
	float: left;
	padding-top:50px;
	background:url(../images/gzwx.png) no-repeat;
}
.f_boxl h1{
	text-align:center;
	font-size:20px;
	color:#666666;
	font-weight:500;
	margin-top:10px;
	font-family:"微软雅黑"
	}
.f_boxl img{
	width:200px;
	height:200px;
	margin:0 auto;
	padding:0;
	margin-top:32px;
	}
.f_boxr {
	width: 330px;
	height: 392px;
	padding-top:20px;
	float:right;
	background:url(../images/lxxx.png) no-repeat;
}
.f_boxr span{
	text-align:center;
	font-size:20px;
	width:100%;
	color:#666666;
	float:left;
	font-weight:500;
	margin-top:45px;
	font-family:"微软雅黑"
	}
.f_boxr h1{
	text-align:center;
	font-size:30px;
	color:#1f6001;
	height:35px;
	width:100%;
	float:left;
	font-weight:500;
	margin-top:10px;
	font-family:"微软雅黑";
	z-index:9999;
	}
.f_boxr h3{
	text-align:center;
	font-size:24px;
	color:#333;
	height:35px;
	width:100%;
	float:left;
	font-weight:500;
	margin-top:20px;
	font-family:"微软雅黑";
	z-index:9999;
	}
.f_bottom {
	width: 100%;
	height: 500px;
	margin: 0 auto;
	padding-top: 30px;
	background:url(../images/footer.jpg) center center no-repeat;
}
.link{
	width:896px;
	height:147px;
	margin:0 auto;
	padding:0;
	background:url(../images/link.png) no-repeat;
	}
.link_box{
	height:60px;
	width:95px;
	float:left;
	margin:0 auto;
	padding:0;
	margin-left:46px;
	margin-top:55px;
	}
.link img{
	width:82px;
	height:25px;
	margin:0 auto;
	padding:0;
	}
.link h1{
	text-align:center;
	font-size:16px;
	color:#cccccc;
	height:auto;
	width:100%;
	float:left;
	font-weight:500;
	font-family:"微软雅黑";
	z-index:9999;
	}
.adress{
	width:1024px;
	height:100px;
	margin:0 auto;
	padding:0;
	margin-top:80px;
	}
.adress img{
	float:left;
	width:240px;
	height:84px;
	}
.adress p{
	border-left:1px solid #FFF;
	height:24px;
	margin-left:280px;
	padding-left:20px;
	color:#cccccc;
	text-align:left;
	font-family:"微软雅黑";
	}