@charset "utf-8";
*{ margin:0px; padding:0px; border:noneoutline: none;}
html, body {margin: 0;padding: 0;}
html{overflow-x:hidden; overflow-y:auto;}
body{background:#fff; margin:0 auto;font:14px arial,sans-serif; font-family:"微软雅黑";}
ul,ol{list-style-type:none;}
select,input,select{vertical-align:middle;}
img{vertical-align: middle; border:none;}
a{text-decoration:none;}
.max{width:100%;min-width:1200px}
.lf{float:left;}
.lr{float:right;}
/*------------------------------------------------------------------------------------------------------*/
.y_banner{height:592px;background:url(../images/java_01.jpg) center center no-repeat;}
/*java职业优势*/
.adv_text{width:1200px;margin:0 auto;padding-bottom:20px;}
.adv_top{padding-bottom:20px;}
.adv_bt{text-align:center;font-size:40px;padding: 40px 0 10px;font-weight:bold;}
.adv_bt2{text-align:center;font-size:24px;padding-top:10px;}
.adv_nr{width:1200px;overflow:hidden;margin:0 auto;padding:20px 0;}
.adv_nr li{width:285px;height:215px;float:left;color:#fff;}
.adv_Icon{overflow:hidden;padding-bottom:3px;}
.Icon_img{float:left;margin:17px 10px 0 28px;}
.Icon_bt{width:128px;height:57px;border:2px solid #fff;float:left;text-align:center;line-height:57px;border-radius:5px;font-size:34px;margin: 30px 0 0 10px;}
.adv_introduce{padding:0 10px;font-size:17px;line-height: 30px;}
.zx_an{width:202px;height:55px;display:block;text-align:center;margin:40px auto;background-color:#1c7be3;font-size:24px;color:#fff;line-height:55px;border-radius:5px;}
/*java职业优势*/
/*定制班开课*/
.Start{background-color:#efefef;padding-bottom: 20px;}
.start_text{width:1207px;height:515px;margin:0 auto;background-color: #fff;overflow:hidden;}
.start_nr{overflow:hidden;padding:5px 6px 0;}
.start_nr li{width:285px;height:236px;float:left;}
.start_sq{width:100%;height:60px;overflow:hidden;background-color: #e7e7e7;}
.Places{text-align:center;font-size:18px;float:left;line-height:60px;width:209px;color:#666666;}
.ljsq{float:right;height:60px;width:76px;background-color: #2f333f;font-size:22px;color:#fff;text-align:center;}
/*定制班开课*/
/*高端课程*/
.course{background-color:#005e8e;padding-bottom:20px;}
.course_text{overflow:hidden;width:1200px;margin:0px auto;padding: 25px 0;}
.course_lr{margin: 135px 0 0 55px;}
.course_lr li{overflow:hidden;margin-bottom:40px;}
.course_lr li p{width:20px;height:20px;margin:8px 20px 0 0px;}
.course_nr{line-height:30px;}
.course_nr h3{font-size:18px;font-weight:100;color:#fff;}
/*高端课程*/
/*课程体系*/
.system_text{width:1196px;margin:0 auto;padding-bottom: 40px;}
.system_kc{width:1196px;margin-top: 20px;}
.sys_kc_top{width:100%;height:87px;background-color: #fe5629;font-size:36px;color:#fff;text-align:center;line-height:87px}
.sys_kc_nr{width:100%;overflow:hidden;margin-bottom:10px;}
.kc_nr{width:299px;height:283px;text-align:center}
.kc_nrs{width:411px;height:323px;}
.sys_kc_nr .kc_nrs .kc_nrz{overflow:hidden;padding:0;}
.sys_kc_nr .kc_nrs .kc_nrz ul{margin: 0 18px;}
.sys_kc_nr .kc_nrs .kc_nrz ul li{padding:0;}
.sys_kc_nr .kc_nrs .kc_bt{font-size:30px;color:#f7bc07;text-align:center;padding:20px 0;}
.sys_kc_nr .kc_nr .kc_bt{font-size:30px;color:#f7bc07;text-align:center;padding:20px 0;}
.sys_kc_nr ul li{color:#fff;font-size:19px;margin-bottom: 5px;}
.sys_kc_nr .kc_nr1 li{padding:0 20px;}
.sys_kc_nr .kc_nr2 li{color:#000;}
.sys_kc_js li{width:100%;overflow:hidden;}
.sys_kc_js li h3{width:299px;height:87px;float:left;background-color: #c17f00;text-align:center;line-height:87px;font-size:30px;font-weight:100;}
.sys_kc_js li div{width:897px;height:87px;background-color: #f7bc07;float:left;font-size:19px;line-height: 42px;font-weight: bold;}
.sys_span span{padding: 0 20px;}
/*课程体系*/
/*大牛导师*/
.tutor{height:820px;background:url(../images/bj_js.jpg) 0 0 no-repeat;}
.tutor_top{font-size:36px;text-align:center;color:#fff;padding:50px 0 0;}
.tutor_top p{padding-bottom:30px;}
.Teacher{width:1070px;margin:0 auto;position:relative;height: 335px;}
.teacher_text{position: absolute;top:0;left:0;width:1070px;overflow:hidden;}
.teacher_name{overflow:hidden;padding: 50px 0px;}
.teacher_name h2{font-size:30px;float:left;font-weight: 100;color:#f7bc07}
.teacher_name div{color:#fff;float:left;font-size:18px;padding: 10px 0 0 20px;line-height: 32px;}
.teacher_introduce{color:#fff;font-size:18px;width:720px;line-height: 35px;}
.teacher_right{margin: 55px 0 0 60px;}
.Teacher_ul{overflow:hidden;width:1200px;margin: 0 auto;padding-left: 10px;}
.Teacher_ul li{float:left;padding: 20px 15px;}
.Teacher_ul li img{width:76px;height:76px;}
.Teacher_ul .cur{transform: scale(1.5);transition: 0.5s;}
/*大牛导师*/
/*就业流程图*/
.process{background-color: #f1f1f1;padding-bottom: 20px;text-align:center;}
.process_top{text-align:center;padding:60px 0 20px;}
.process_top h2{font-size:40px;padding-bottom:15px;}
.process_top p{font-size:36px;padding:15px 0;}
.process_text{width:300px;height:60px;background-color: #fe5629;text-align:center;line-height:60px;font-size:30px;color:#fff;font-weight:bold;margin:20px auto;}
/*就业流程图*/
/*6大服务*/
.service{padding-bottom:40px;}
.service_top{text-align:center;font-size:48px;font-weight: bold;padding: 45px 0;}
.service_text{overflow:hidden;width:1200px;margin:0 auto;}
.service_text li{width:366px;height:206px;float:left;margin: 20px 0;}
/*6大服务*/
/*高薪学员*/
.Student{background-color: #015b90;padding-bottom:20px}
.student{width:1026px;overflow: hidden;margin: 0 auto;background-color: #151922;}
.student .box{margin:10px 7px;float:left;width:157px;height:192px;overflow:hidden;position:relative;}
.student .box img{width:157px;height:192px;}
.student .box .info{top:192px;width:157px;height:192px;opacity:0;transition:0.5s;position:absolute;background:rgba(0,0,0,.7);}
.student .box:hover .info{top:0px;opacity:1;transition:0.5s;}
.student .box .info h1{margin-top:79px;font-size:18px;line-height:18px;text-align:center;color:#ffffff;}
.student .box .info p{margin-top:14px;font-size:16px;line-height:16px;text-align:center;color:#ffffff;}
/*高薪学员*/
/*预约报名*/
.enroll{padding-bottom: 20px;}
.enroll_top{text-align:center;font-size:36px;padding: 45px 0 20px;font-weight:bold;}
.enroll_top p{padding:10px 0;}
.enroll_text{width:1200px;height:478px;background-color: #f2f2f2;margin:0 auto;}
.enroll_ipt{width:660px;margin:0 auto;padding-top: 45px;}
.er_input{width:655px;height:66px;border:2px solid #4076e4; font-size: 36px;line-height:60px;background: #fff;margin: 25px 0;}
.er_input span{padding: 0 30px 0 40px;}
.er_input input{border:none;height:50px;width: 400px;text-indent: 20px;font-size:26px;letter-spacing: 5px;}
.enroll_ipt button{border:none;width:658px;height:70px;background-color: #4076e4;font-size:36px;color:#ffff05;font-weight:bold;}
/*预约报名*/