/*js代码(www.jsdaima.com)拒绝滥竽充数，我们只提供精品资源！*/
.nav li {position: relative;}
.nav li:hover > a {color: #bf2b38;}
.nav li:hover dl {display: block;}
.nav dl {display: none;position: absolute;top: 70px;left: -18px;width: 140%;text-align: center;line-height: 30px;font-size: 12px;background: #fff;border-radius: 5px;box-shadow: 0 0 15px rgba(0,0,0,.3);overflow: hidden;}
.nav dl a {display: block;}
.nav dl a:hover {background-color: #f5f5f5;}
.pop-zixun {position: fixed;top: 50%;left: 50%;margin: -160px 0 0 -200px;background-color: #fff;width: 400px;padding-bottom: 25px;/*height: 380px;*/border-radius: 5px;box-shadow: 0 0 30px rgba(0,0,0,.5);z-index: 100;}
.pop-zixun .close {position: absolute;width: 22px;height: 22px;top: 20px;right: 18px;background: url(../images/icon-close2.png) no-repeat center center;cursor: pointer;}
.pop-zixun .tit {line-height: 56px;font-size: 14px;color: #000;}
.pop-zixun .tit .icon {float: left;background: url(../images/icon-kefu.png) no-repeat center center;width: 65px;height: 56px;}
.pop-zixun .bd {height: 200px;background: url(../images/kefu-bg.jpg) no-repeat 0 0;-webkit-background-size: cover; background-size: cover;text-align: center;overflow: hidden;}
.pop-zixun .bd h2 {color: #fff;font-size: 36px;line-height: 40px;font-weight: bold;margin: 60px auto 30px;}
.pop-zixun .bd .btn {display: block;margin: 0 auto;width: 100px;height: 36px;line-height: 36px;border-radius: 36px;color: #fff;background-color: #b0393d;}
.pop-zixun .form {width: 364px;height: 36px;line-height: 36px;border-radius: 36px;background-color: #ebebeb;margin: 17px auto 15px;overflow: hidden;font-size: 16px;color: #3c3c3c;}
.pop-zixun .form .inp {float: left;border: none;background-color: transparent;width: 275px;height: 36px;padding: 0 15px;}
.pop-zixun .form .btn {float: right;width: 55px;height: 36px;background-color: #323232;color: #fff;border: none;}
.pop-zixun .link {overflow: hidden;margin: 0 18px;}
.pop-zixun .link a {float: left;width: 169px;height: 40px;line-height: 40px;text-align: center;font-size: 14px;color: #fff;border-radius: 5px;}
.pop-zixun .link .s1 {background-color: #323232;}
.pop-zixun .link .s2 {background-color: #b0393d;margin-left: 25px;}
.pop-zixun .link .s1:hover {background-color: #000;}
.pop-zixun .link .s2:hover {background-color: #bf2b38;}
.website-switch{background: #fff;right: 0;padding: 20px;position: absolute;top: 81px;width: 267px;}
.website-switch span{display: inline-block;width:50px;height:30px;line-height: 30px;}
.website-switch span.current a{color:#bf2b38;}