@charset "utf-8";
/* CSS Document */
body{ padding:0px; margin:0px; font-size:12px; color:#fff; background:#fff; font-family:"微软雅黑";}
* {margin:0px;padding:0px;list-style:none;text-decoration:none;}
a,img{border:none; color:#777; font-family:"宋体";}
.clear { clear:both;}

.top_box { width:100%; height:40px; background:#eee;}
.top_nav { width:1200px; height:40px; margin:0 auto;}
.top_left { float: left; height: 40px; line-height: 40px; width: 310px; color:#333; font-size:14px;}
.fx{ width:250px; height:30px; margin-top:10px; float:left;}
.fx a{ display:block; width:20px; height:20px; margin-left:10px; float:left;}
.fx a.weibo{ background:url(../images/weibo.png) no-repeat left center;}
.fx a.kongjian{ background:url(../images/kongjian.png) no-repeat left center;}
.fx a.tengxun{ background:url(../images/tengxun.png) no-repeat left center;}
.fx a.youxiang { background:url(../images/youxiang.png) no-repeat left center;}
.fx a.qq { background:url(../images/qq.png) no-repeat left center;}
.fx a.rrw { background:url(../images/rrw.png) no-repeat left center;}
.fx a.kxw { background:url(../images/kxw.png) no-repeat left center;}
.top_right { width:280px; height:40px; float:right;}
.phone { width:60px; height:40px; float:left; padding-left:20px; background:url(../images/phone.png) no-repeat left center;}
.phone a { color:#555; line-height:45px; }
.login { width:40px; height:40px; float:left; padding-left:30px; background:url(../images/login.png) no-repeat left center;}
.login a {color:#555; line-height:45px; }
.regist { width:120px; height:40px; float:left;}
.regist ul {width:120px; height:40px; }
.regist ul li { width:50px; height:40px; float:left; padding-left:10px; text-align:center;}
.regist ul li a { color:#ff0000;  line-height:45px;}

.header { width:1200px; height:118px; margin:0 auto; background:url(../images/tel.png) no-repeat right center;}
.logo { float:left; padding-top:30px; padding-right:20px;}
.logo01 { float:left; padding-top:40px; padding-right:20px;}
.logo02 { float:left; padding-top:35px;}

.top_menus { width:100%; height:230px; margin:0 auto; background:url(../images/menus.jpg) no-repeat center top;}
.menus { width:100%; height:40px; background:rgba(214,51,51,0.8);}
.menus ul { width:1200px; height:40px; margin:0 auto;}
.menus ul li { width:109px; height:40px; line-height:40px; text-align:center; float:left;}
.menus ul li a { font-size:15px; color:#fff; font-weight:bold;}

.top_search{ width:746px; height:60px; text-align:center; padding-top:94px; padding-left:460px;}
.top_search dt{ width:631px; height:60px; background:url(../images/dt_bg.png) no-repeat left bottom;}
.top_search dd{ width:115px; height:60px;}
.top_search dd,.top_search dt{ float:left; }
.input_image{ float:left;}
.input_text{ float:left; height:60px; border:0; width:611px; line-height:39px; background:none; padding-left:20px; font-size:16px; color:#777777; text-indent:5px;}

.banner{ width:1200px; height:350px; margin:0 auto; padding-top:25px; z-index:-999; }
.focus{width:100%;height:350px;position:relative;}
.f426x240{width:100%;height:350px;overflow:hidden}
.f426x240 img{width:100%;height:350px}
.rslides{width:100%;position:relative;list-style:none;padding:0}
.rslides_nav{height:48px;width:40px;position:absolute;-webkit-tap-highlight-color:rgba(0,0,0,0);top:50%;left:0;opacity:0.8;text-indent:-9999px;overflow:hidden;text-decoration:none;background:url(../images/ii.png) no-repeat 0 0px;margin-top:-28px}
.rslides_nav:active{opacity:1.0}
.rslides_nav.next{left:auto;background-position:-40px 0px;right:0;}
.rslides_tabs{margin:12px auto;clear:both;text-align:center;display:none;}
.rslides_tabs li{display:inline;float:none;_float:left;*float:left;margin-right:5px}
.rslides_tabs a{text-indent:-9999px;overflow:hidden;-webkit-border-radius:15px;-moz-border-radius:15px;border-radius:15px;background:rgba(0,0,0, .2);background:#DDD;display:inline-block;_display:block;*display:block;width:9px;height:9px}
.rslides_tabs .rslides_here a{background:rgba(0,0,0, .6);background:#390}

.lybd { width:1200px; height:140px; margin:0 auto; padding-top:30px;}
.lybd ul { width:1220px; height:140px;}
.lybd ul li { float:left; padding-right:20px;}

.tourism { width:1200px; height:auto; margin:0 auto; padding-top:10px;}
.tourism_left { width:945px; height:auto; float:left;}
#menu01{width:930px; height:64px; overflow:hidden; background:url(../images/route.png) no-repeat left center;  }
#menu01 span { float:right;}
#menu01 span a { font-size:14px; font-family:"微软雅黑"; line-height:60px; }
#menu01 #nav01 {display:block; margin:20px 0px 0px 160px; padding-bottom:30px;}
#menu01 #nav01 li {float:left;width:80px;}
#menu01 #nav01 li a {display:block;line-height:30px;text-decoration:none; font-size:14px; padding:0 0 0 5px; text-align:center; }
#menu_con{ width:690px; height:auto; float:right; }
.tag{ width:690px; height:auto; background-color:#ffffff;}
.selected {background:#cc0000; color:#ffffff;}
.tag li{ width:215px; height:auto; float:left; padding-right:15px;}
.tag li img{ width:215px; height:180px;} 
.tag li span{ height:40px; display:block; width:215px; text-align:center; line-height:25px;}
.tag li span a { color:#333;}

.img-scroll { position:relative; float:left;  width:240px; height:425px; background:#eaeaea; margin-right:15px; }
.img-scroll .prev1,.img-scroll .next1 { position:absolute; display:block; width:40px; height:70px; top:135px; z-index:9999; }
.img-scroll .prev1 { right:0px;}
.img-scroll .next1 { left:0px;}
.img-list { position:relative; width:240px; height:425px;overflow:hidden; margin:0 auto; }
.img-list ul { width:9999px;}
.img-list li { float:left; display:inline; width:240px; height:340px;}
.img-list li dl{ width:240px; height:340px;}
.img-list li dl dd{ width:240px; height:340px;}
.img-list li dl dt { width:240px; height:42px; line-height:42px; text-align:center;}
.img-list li dl dt a { color:#333333; font-size:14px;}
.img-list li dl #left { background:url(../images/chaxu.png) no-repeat center top; line-height:25px;}
.img-list li dl #left a { font-size:14px; color:#fff;}

.tourism_right { width:240px; height:auto; float:right; padding-top:18px;}
.tour_li { width:240px; height:auto;}
.tour_li ul { width:250px; height:auto; padding-top:20px; }
.tour_li li {width:250px; height:80px; margin-bottom:14px;  }
.tour_li li .pr_img{ float:left; width:100px; height:80px; padding-right:10px;}
.tour_li li .pr1 a{ width:140px; float:right; font-size:12px; color:#555; display:block; line-height:30px;}
.tour_li li .time { width:140px; float:right; color:#ff0000; line-height:20px;}
.tour_li li .pr2{ width:70px; height:20px; float:left; text-align:center;line-height:20px; background:#f07f05; margin-top:10px;}
.tour_li li .pr2 a { color:#fff;}

.m1 { width:1200px; height:120px; margin:0 auto; padding-top:10px;}

.m2 { width:1200px; height:auto; margin:0 auto; padding-top:13px; border-bottom:5px solid #eaeaea;}
.m2_left { width:930px; height:auto; float:left;}
#menu02{width:930px; height:74px; overflow:hidden; background:url(../images/travel.png) no-repeat left center;}
#menu02 #nav02 {display:block; margin:25px 0px 0px 160px; padding-bottom:30px;}
#menu02 #nav02 li {float:left;width:80px;}
#menu02 #nav02 li a {display:block;line-height:30px;text-decoration:none; font-size:14px; padding:0 0 0 5px; text-align:center; }
#menu_con02{ width:930px; height:auto; }
.tag02 { width:945px; height:auto; background-color:#ffffff;}
.selected {background:#cc0000; color:#ffffff;}
.tag02 li{ width:220px; height:176px; float:left; padding:0 15px 27px 0px;}
.tag02 li img{ width:220px; height:180px;} 
.tag02 li:hover span{ width:110px; height:30px; line-height:30px; background:#90b71b; display:block; position:relative; bottom:0px; top:-34px; float:right; text-align:center;}
.tag02 li span a { color:#fff; font-family:"微软雅黑";}

.m2_right { float:240px; height:auto; float:right;}
.m2_ti { width:240px; height:55px; line-height:70px; background:url(../images/heng.png) no-repeat left bottom;}
.m2_ti a { font-size:16px; color:#333; font-weight:bold;}
.new_li { width:240px; height:auto; float:left; }
.new_li dl { height:80px; padding-top:20px;}
.new_li dl dt { float:left; margin-right:13px; height:80px;}
.new_li dl dd.one_t { line-height:25px;}
.new_li dl dd.one_t a { font-size:14px; color:#333;}
.new_li dl dd.one_a { line-height:40px;}
.new_li dl dd.one_a a { color:#f71818;}

.m3 { width:1200px; height:auto; margin:0 auto;}
.m3_ti { width:1200px; height:80px; background:url(../images/health.png) no-repeat left center;}
.m3_ti a { float:right; font-size:14px; line-height:80px;}
.m3_li { width:1232px; height:auto;}
.m3_li dl { width:220px; height:auto; float:left; border:1px solid #dedede; margin-right:22px; margin-bottom:20px; padding:20px 0px;}
.m3_li dl dt {}
.m3_li dl dd { width:220px; height:40px; line-height:40px;text-align:center; }
.m3_li dl dd a { color:#333;}
.dd { width:170px; height:25px; margin:0 auto;}
.m3_li dl #left { float:left; width:72px; height:25px; background:#dd0000; line-height:25px; }
.m3_li dl #left a { color:#fff; background:url(../images/jia.png) no-repeat left center; padding-left:14px;}
.m3_li dl #right { float:right; width:96px; height:23px; line-height:23px; border:1px solid #dedede; } 
.m3_li dl #right a { color:#dd0000; background:url(../images/cart.png) no-repeat left center; padding-left:25px;}
/***左侧***/
.main { width:1200px; height:auto; margin:0 auto; padding-top:30px;  padding-bottom:30px;}
.page_left { width:240px; height:auto; float:left;}
.page_b { width:240px; height:auto; background:url(../images/left_h1.jpg) no-repeat left top;}
.page_b h1 { margin-left:65px; padding-top:15px; font-size:25px; font-weight:normal; height:42px;}
.page_b ul { width:204px; height:auto; padding:20px 15px 14px 15px; border:0px 5px 6px 5px; border-style:solid; border-color:#cc0000;}
.page_b ul li { width:210px; height:40px; background-color:#eee; margin-bottom:8px; line-height:40px;}
.page_b ul li a { font-size:15px; color:#333; font-family:"微软雅黑";  background:url(../images/dian.gif) no-repeat 13px center; padding-left:21px;}
.ny_news { width:208px; height:auto; border:1px solid #ddd; margin-top:20px; padding:0px 15px 20px 15px;}
.ny_news_ti { width:208px; height:40px; line-height:40px; background:url(../images/tiao.gif) no-repeat left bottom; }
.ny_news_ti a { font-size:16px; color:#000;}
.ny_news_ti span { float:right;}
.ny_news_ti span a { font-size:12px; color:#555;}
.ny_new_li { width:208px; height:auto; float:left; }
.ny_new_li dl { height:80px; padding-top:15px;}
.ny_new_li dl dt { float:left; margin-right:12px; height:80px;}
.ny_new_li dl dd.one_t { line-height:25px;}
.ny_new_li dl dd.one_t a { color:#333;}
.ny_new_li dl dd.one_a { line-height:30px;}
.ny_new_li dl dd.one_a a { color:#ff0000;}
.left_contact { padding-top:18px;}
/***about 右侧***/
.page_right { width:941px; height:auto; float:right;}
.r_bt{ width:884px; height:42px; line-height:42px; color:#000; font-size:25px; font-weight:normal; background:url(../images/right_h1.jpg) no-repeat left top; padding-left:57px;}
.catpos{ float:right; line-height:42px; font-size:12px; color:#555; font-family:"宋体"; font-weight:normal;}
.catpos a{ color:#555;}
.ny_about { width:938px; height:auto; border:1px solid #dedede;}
.about { width:890px; height:auto; padding:19px 24px 34px 24px; color:#555; line-height:30px;}
.fxdm{ width:890px; padding-top:23px; clear:both; float:left;}

/*新闻*/
.new_list { width:938px; height:auto; border:1px solid #dedede;}
.list { width:900px; height:auto; padding:28px 20px 34px 20px; color:#555; line-height:30px;}
.ny_new { width:900px; height:310px; border-bottom:1px solid #ddd;}
.new_left { float:left;}
.new_right { float:right; width:509px; height:auto; padding-top:25px;}
.ri_ti a{ font-size:20px; color:#000; font-family:"微软雅黑"; line-height:30px;}
.ri_time { font-size:12px; color:#777; font-family:"宋体"; line-height:30px;}
.new_co { font-size:14px; color:#555; line-height:30px; padding-bottom:20px;}
.details { width:509px; height:35px;}
.details dl { width:256px; height:35px;}
.details dl dt { float:left; width:110px; height:35px; padding-right:18px;}
.list ul { width:900px; height:auto; padding-top:25px; }
.list li {width:900px; height:185px; margin-bottom:25px; border-bottom:1px dotted #b7b7b7; }
.list li .pr_img{ float:left; width:200px; height:160px;}
.list li .pr1 a{ width:685px; float:right; font-size:20px; color:#000; font-family:"微软雅黑"; display:block;}
.list li .time { width:685px; float:right; color:#777; font-family:"宋体";}
.list li .pr2{ width:685px; float:right; color:#555; line-height:25px;}
.list li .pr3 a{ width:80px; height:25px; color:#fff; text-align:center; line-height:25px; margin-left:17px; margin-top:14px; float:left; background-color:#ee0000;}
/*********新闻内页************/
.ny_new_list { width:938px; height:auto; border:1px solid #dedede;}
.ny_list { width:900px; height:auto; padding:28px 20px 34px 20px; color:#555; line-height:30px;}
.r_bn{ width:900px; height:30px; line-height:30px; color:#000; text-align:center; font-size:20px; padding-bottom:10px;}
.news_titl{ width:900px; height:30px; line-height:30px; text-align:center; color:#777; font-family:"宋体"; border-bottom:1px dotted #c1c1c1; padding-bottom:15px;}
.new_content { color:#555; line-height:30px; padding-top:25px;}

/******shop_list************/
.shop_bt{ width:1183px; height:40px; line-height:40px; color:#fff; font-size:25px; font-weight:normal; background:url(../images/shop_h1.gif) no-repeat left top; padding-left:17px; padding-bottom:25px;}
.shop_catpos{ float:right; line-height:40px; font-size:12px; color:#555; font-family:"宋体"; font-weight:normal;}
.shop_catpos a{ color:#555;}
/*******shop_content************/
.page_shop { width:240px; height:auto;}
.page_shop h1 { font-size:20px; padding-left:15px; line-height:42px; height:42px; background-color:#cc0000; }
.shop_list { width:210px; height:auto; border:1px solid #dedede; padding:18px 14px 0px 14px;}
.shop_list dl { height:108px; border-bottom:1px dotted #cdcdcd; margin-bottom:23px;}
.shop_list dl dt { float:left; margin-right:12px; height:90px;}
.shop_list dl dd.one_t { line-height:25px;}
.shop_list dl dd.one_t a { color:#333; font-family:"宋体";}
.shop_list dl dd.one_a { float:left; line-height:20px;  width:96px; height:23px; border:1px solid #dedede; margin-top:10px;}
.shop_list dl dd.one_a a { color:#dd0000; background:url(../images/cart.png) no-repeat 5px center; padding-left:30px;}

.shop_r_bt{ width:894px; height:42px; line-height:42px; color:#000; font-size:25px; font-weight:normal; background:url(../images/shop_content_h1.gif) no-repeat left top; padding-left:47px;}
.shop_con_catpos{ float:right; line-height:42px; font-size:12px; color:#555; font-family:"宋体"; font-weight:normal;}
.shop_con_catpos a{ color:#555;}
.shop_content { width:900px; height:400px;}
.shop_con_left { float:left;}
.shop_con_right { float:right; width:470px; height:400px;}
.shop_con_ti { font-size:16px; color:#333; font-weight:bold;}
.shop_con { color:#555; line-height:30px; background-color:#eee; padding:22px 20px 25px 20px; margin-top:20px;}
.shop_ccjg { font-size:16px; color:#333; line-height:25px; float:left; padding-top:18px;}
.shop_ccjg .left { float:right; width:91px; height:25px; background:#dd0000; line-height:25px; }
.shop_ccjg .left a { color:#fff; background:url(../images/jia.png) no-repeat 5px center; padding-left:19px;}    
.shop_go { width:470px; height:35px; padding-top:30px;}
.shop_go ul { width:256px; height:35px;}
.shop_go ul li { width:110px; height:35px; float:left; padding-right:18px;}
.shop_con_con { width:900px; height:auto; padding-top:34px;}
.shop_con_con p { width:90px; height:30px; background-color:#da0000; text-align:center; color:#fff; margin-bottom:30px;}
.shop_con_ss { width:900px; height:auto; color:#555; line-height:30px;}

/*我行我秀*/
#menu03{width:1200px; height:40px; overflow:hidden; background:url(../images/shop_h1.gif) no-repeat left top;}
.paishe_bt{ width:470px; height:40px; float:left;}
.paishe_bt h1 { width:135px; height:40px; font-size:25px; font-weight:normal; line-height:38px; text-align:center; float:left;}
.paishe_catpos{ float:right; line-height:40px; font-size:12px; color:#555; font-family:"宋体"; font-weight:normal; position:relative; bottom:0px;}
.paishe_catpos a{ color:#555;}
#nav03 { padding:10px 0px 0px 20px; height:30px; float:left;}
#nav03 li {float:left;width:90px; background-color:#e3e3e3; margin-right:15px;}
#nav03 li a {display:block;line-height:30px;text-decoration:none; font-size:16px; color:#333; padding:0 0 0 5px; text-align:center; }
#nav03 li.selectall a {
    background:#cc0000;
    color: #fff;
    font-size: 16px;
    height: 30px;
    line-height: 30px;
}

#menu_con03 {
    height: auto;
    width: 1180px;
	padding:25px 10px 0px 10px;	 
}
.tagContent ul {
    height: auto;
    width: 1200px;
}
.tagContent ul li {
    float: left;
    padding-right:20px;
	height:274px;
    text-align: center;
    width: 280px;
}
.tagContent ul li dl {
  
    height: 224px;
    width: 280px;
}
.tagContent ul li dl .pro2 {
    height: 50px;
    line-height: 40px;
    text-align: center;
    width: 280px;
}
.tagContent ul li dl .pro2 a { color:#555; font-family:"微软雅黑";}

/**********fangda***********************/
#waterfall li img{ width:280px;height:224px; }
#waterfall li img.hover{ filter: Alpha(opacity=90); -moz-opacity:.9; opacity:0.9;}
.img_block{ position:relative;}
.zoom{padding:0px; text-align:center; top:0px; display:block; text-decoration:none;}
.zoom{ left:0px; width:280px; height:224px;}
.loading{ text-align:center; padding:0px;}


/**精选路线**/
#menu_con04 { height: auto; width: 1200px; padding:25px 0px 25px 0px; border-bottom:5px solid #eaeaea;}
.tagContent01 .album { float: left;width: 625px; position:relative;}
.tagContent01 .album .img { width: 126px; height: 103px; left: 0px; position:absolute; top:0px;z-index: 99999;}	
.tagContent01 .album .hd {
    float: right;
    height: 400px;
    overflow: hidden;
    width: 117px;
}
.tagContent01 .album .hd ul {
    overflow: hidden;
}
.tagContent01 .album .hd ul li {
    padding-left: 3px;
    text-align: center;
}
.tagContent01 .album .hd ul li img {
    border: 2px solid #ccc;
    cursor: pointer;
    height: 84px;
    margin-bottom: 12px;
    width: 107px;
}
.tagContent01 .album .hd ul li.on {
    background: rgba(0, 0, 0, 0) url(../images/icoUp.gif) no-repeat scroll 0 42px;
}
.tagContent01 .album .hd ul li.on img {
    border-color: #3fa0dc;
}
.tagContent01 .album .bd {
    float: left;
    height: 400px;
    overflow: hidden;
}
.tagContent01 .album .bd li {
    height: 400px;
    vertical-align: middle;
    width: 500px;
}
.tagContent01 .album .bd img {
    display: block;
    height: 400px;
    width: 500px;
}

.tagContent01 .basic_info { float:right; width:524px; height:400px;}
.tagContent01 .basic_info .one { font-size:20px; color:#000; line-height:30px;}
.tagContent01 .basic_info .two { color:#555; line-height:30px;}
.tagContent01 .basic_info dl {overflow:hidden; padding-top:20px; }
.tagContent01 .basic_info dt{ float:left; width:90px; height:30px; color:#333; font-size:14px;line-height:30px; text-align:center; background-color:#e2e2e2;}
.tagContent01 .basic_info dd{ float:left; width:375px; color:#555; font-size:14px; line-height:30px; padding-left:15px;}
.tagContent01 .basic_info dd.three { float:left; width:375px; color:#e60000; font-size:25px; font-weight:bold; line-height:30px; padding-left:15px;}
.tagContent01 .basic_info ul { width:256px; height:35px;}
.tagContent01 .basic_info ul li { width:110px; height:35px; float:left; padding-right:18px; padding-top:40px;}

.luxian_list { width:1200px; height:auto; padding-top:30px; }
.luxian_list dl { width:280px; height:330px; background-color:#eee; float:left; margin-right:10px; margin-left:10px; margin-bottom:35px;}
.luxian_list dl dt { width:280px; height:224px; }
.font {  width:122px; height:39px; position:relative; float:right; background-color:#474747; color:#fff; opacity:0.7; right:5px; top:-50px; text-align:center; line-height:37px; border-radius: 7px;}
.font span { color:#ff9601; font-size:20px; line-height:37px;}
.luxian_list dl dd.one_a { margin-top:15px; margin-left:25px; line-height:25px;} 
.luxian_list dl dd.one_a a {  color:#000; font-size:18px;}
.luxian_list dl dd.one_t {margin:0px 25px; color:#777; line-height:25px;}

/**精选路线************内容*/
#menu_con05 { height: auto; width: 1200px; padding:25px 0px 25px 0px;}
.luxian_content { width:1200px; height:auto;}
.luxian_content_left { float:left; width:890px; height:auto; padding:0px 25px 35px 25px; border:1px solid #dddddd; }
.jstd { background-color:#eaeaea; width:125px; height:40px; color:#000; font-size:18px; line-height:40px; text-align:center; margin-top:30px; margin-bottom:25px;}
.luxian_content_left p { color:#555; line-height:30px;}
.luxian_content_left .dd { width:545px; height:30px; float:left; padding-top:25px;}
.luxian_content_left .dd_le { width:321px; height:30px; float:left; }
.luxian_content_left .dd_le #left { float:left; width:35px; height:30px; background-color:#ff0000; font-size:14px; line-height:30px; text-align:center;}
.luxian_content_left .dd_le #right { float:right; width:278px; height:30px; color:#000; font-size:14px; line-height:30px; background-color:#eaeaea; padding-left:8px;}
.luxian_content_left .dd_ri { float:right; width:210px; height:30px;}
.luxian_content_left .dd_ri #img { float:left; }
.luxian_content_left .dd_ri #dayin { float:right; width:82px; height:30px; line-height:30px; background:url(../images/dayin.jpg) no-repeat left center; padding-left:35px;}
.luxian_content_left .dd_ri #dayin a { color:#555; text-decoration:underline;}
.luxian_content_right { float:right; width:240px; height:auto;}
.right_news { width:208px; height:auto; border:1px solid #ddd; padding:0px 15px 20px 15px;}

/*******上一篇**************下一篇****************/
.nextall{ width:900px; height:50px;  font-size:14px; color:#555; font-weight:bold; padding-top:20px; }
.nextall li{ width:900px; height:25px; line-height:30px; }
.nextall li a{ color:#555; font-size:12px; font-weight:normal;}

/*养生商城分页*/
.page{width:1200px; margin-bottom:10px; /*margin-top:20px;*/ text-align:center; color:#555; height:30px; line-height:30px;}
.page a{ color:#555; font-size:16px; background-color:#e6e6e6; font-family:"宋体"; padding:5px 10px;}
.page a:hover{ background:#ee0000; color:#ffffff; text-decoration:none;}

/*分页*/
.pages{width:840px; margin-bottom:10px; text-align:center; color:#555; height:30px; line-height:30px;}
.pages a{ color:#555; font-size:16px; background-color:#e6e6e6; font-family:"宋体"; padding:5px 10px;}
.pages a:hover{ background:#ee0000; color:#ffffff; text-decoration:none;}

.m4 { width:1200px; height:200px; margin:0 auto;  padding-top:25px; margin-top:10px; background:#f4f4f4; border:1px solid #dedede;}
.m4_left { width:795px; height:auto; float:left;}
.m4 ul { width:200px; height:200px; float:left; padding-left:45px;}
.m4 ul h1 { font-size:16px; color:#333; line-height:40px;}
.m4 ul li { width:200px; height:33px; line-height:33px; background:url(../images/dian.jpg) no-repeat left center; padding-left:8px; }
.m4 ul li a { color:#555;}

.m4_right { width:404px; height:200px; float:right;}
.m4_right dl { height: 140px; padding-top: 10px; width: 340px;}
.m4_right dl dt {float: left;height: 130px;line-height: 25px;width: 130px;text-align:center;padding-right:10px;}
.m4_right dl dt span {color:#555; font-family:"宋体";}
.m4_right dl dd {float: left;height: 130px;width: 200px;color:#333;font-size:15px;line-height:30px;padding-top:10px;}

.footer { width:1200px; height:30px; margin:0 auto; background:#eee; margin-top:30px;}
.footer ul { width:467px; height:30px; margin:0 auto;}
.footer ul li { width:77px; height:30px; float:left; line-height:30px; text-align:center; background:url(../images/shu.gif) no-repeat left center; }
.footer ul li:first-child  { background:none;}
.footer ul li a { color:#555;}

.foot { width:630px; height:auto; margin:0 auto; color:#555; font-family:"宋体"; padding-top:15px; padding-bottom:30px; line-height:25px; text-align:center;}
.foot span { color:#ff0000; font-family:"宋体";}
.foot a{ color:#555; }
.foot ul { width:340px; height:32px; margin:0 auto; padding-top:5px;}
.foot ul li { float:left; padding-right:10px;}