body {
    margin: 0;
    padding: 0;
}
.zhuce_bt{ width:1146px; height:40px; line-height:40px; color:#fff; font-size:25px; font-weight:normal; background:url(../images/zhuce_h1.gif) no-repeat left top; padding-left:54px; padding-bottom:25px;}
.zhuce_catpos{ float:right; line-height:40px; font-size:12px; color:#555; font-family:"ו"; font-weight:normal;}
.zhuce_catpos a{ color:#555;}

.theme_main {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #c7c7c7;
    border-image: none;
    border-style: solid;
    border-width: 1px 1px 1px;
    float: left;
    height: auto;
    padding: 0;
    width: 1200px;
}


#zccon {
    float: left;
    font-size: 12px;
    padding: 44px 25px 0px 25px;
    width: 600px;
}
#zctags {
    height: 40px;
    margin: 0;
    width: 1200px;
}
#zctags span { color:#555; float:left; line-height:40px; padding-left:18px;}
#zctags span a { color:#ff0000;}
#zctags li {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    float: left;
    height: 40px;
	
    list-style-type: none;
    margin-right: 4px;
	background-color:#eaeaea;
	
}
#zctags li a {
    color: #555;
    float: left;
    font-size: 16px;
    font-weight: bold;
    height: 40px;
    line-height: 40px;
    padding: 0 10px;
    text-decoration: none;
}
#zctags li.emptyTag {
    width: 4px;
}
#zctags li.selectTag {
    height: 40px;
    margin-bottom: -2px;
    position: relative;
	
}
#zctags li.selectTag a {
    background:url(../images/zhuce_hover.jpg) no-repeat left top;
    color: #ee0000;
    font-size: 16px;
    height: 40px;
    line-height: 40px;
}
#zctagContent {
    line-height: 2em;
    overflow: hidden;
   
}
.zctagContent {
    color: #333;
    display: none;
    height: auto;
    width: 716px;
}
#zctagContent div.selectTag {
    display: block;
}
#login-yzm {
    border: 1px solid #cccccc;
    color: #a9a9a9;
    float: left;
    padding: 8px 0;
    width: 113px;
}
.wjmm {
    float: left;
    margin: 0;
}
#zhuce_l {
    float: left;
    width: 550px;
}
#zhuce_l .mail {
    color: #6b6b6b;
    line-height: 28px;
    padding: 10px 0;
}
#zhuce_l .f-text {
    border: 1px solid #cccccc;
    font-size: 14px;
    height: 26px;
    vertical-align: top;
    width: 220px;
}
#zhuce_l .text_font {
    color: #555555;
    display: block;
    float: left;
    font-size: 12px;
    height: 26px;
    line-height: 26px;
    text-align: right;
    width: 100px;
}
#zhuce_l .text_After {
    color: #aaaaaa;
    font-size: 12px;
    height: 26px;
    line-height: 26px;
}
#zhuce_l .ljzcan {
    height: 38px;
    padding: 20px 0 0 100px;
    width: 230px;
}
#zhuce_l .ljzc {
    background-color: #3366cc;
	background-image:url(../images/ljzcan.jpg);
    border: 0px solid #3366cc;
    color: #ffffff;
    font-size: 20px;
    height: 38px;
    width: 220px;
}
#zhuce_l .ljzc:hover {
    background-color: #3366cc;
   background-image:url(../images/ljzcan.jpg);
    border: 0px solid #3366cc;
    color: #ffffff;
    font-size: 20px;
    height: 38px;
    width: 220px;
}
#zhuce_l .agree {
    color: #aaaaaa;
    font-size: 12px;
    padding-left: 50px;
}
#zhuce_l .detial {
    font-size: 14px;
    padding: 20px 0 0 20px;
}
#zhuce_l #fulllink {
    color: #3366cc;
    font-size: 14px;
    text-decoration: none;
}
#zhuce_l #full {
    color: #6b6b6b;
    font-size: 12px;
    line-height: 36px;
    padding-left: 20px;
}
#zhuce_r {
    float: right;
    padding: 30px 50px 40px 0px;
    width: 463px;
}
#zhuce_l .inline-tip {
    color: #555;
    display: inline-block;
    font-size: 12px;
    line-height: 24px;
    margin-left: 4px;
    padding: 6px 0;
    vertical-align: top;
}
#zhuce_l .btn-small {
    font-size: 12px;
    font-weight: normal;
    /*margin-left: 100px;*/
    padding: 3px 20px;
}
#zhuce_l .btn-normal {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #dedede;
    background-image: -moz-linear-gradient(center top , #f7f7f7, #dedede);
    border-color: #e3e3e3 #e3e3e3 #eeeeee;
    border-image: none;
    border-style: solid;
    border-width: 0px;
    color: #555555;
	margin:0px 6px;
  /*  margin-top: 10px;
    padding-top: 6px;*/
}
#zhuce_l .btn-normal:hover {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #e9e9e9;
    background-image: -moz-linear-gradient(center top , #ffffff, #e9e9e9);
    border-color: #e5e5e5 #e5e5e5 #b3b3b3;
    border-image: none;
    border-style: solid;
    border-width: 1px;
    color: #333333;
}
#zhuce_l .inline-tip {
    background: #eee none repeat scroll 0 0;
    height: 26px;
    line-height: 26px;
    padding: 0 6px;
}
