.icon{width:20px;height:20px; display:inline-block; vertical-align:top; overflow:hidden; text-indent:-9999em; background:url(../../images/wMainBg.png) 0 0 no-repeat;}
.icon-class{ background-position:-80px -44px;}
.icon-time{ background-position:-40px -64px}
.icon-editor{ background-position:-20px -44px}
.icon-comment{ background-position:-40px -44px}
.icon-see{ background-position:-60px -44px}
.icon-tag{ background-position:-20px -84px}
.icon-mark{ background-position:0 -64px;}
.icon-marked{ background-position:-20px -64px;}
.icon-gift{ background-position:-60px -64px;}
.icon-gifted{ background-position:-80px -64px;}
.icon-download{ background-position:0 -84px;}
.icon-home{ background-position:0 -44px;}
.icon-android{ background-position:-40px -84px}
.icon-ios{ background-position:-60px -84px}
.icon-yy{ background-position:-80px -84px}
.icon-drop{ background-position:-7px -144px;width:7px;}
.icon-like{ background-position:0 -64px;}
.icon-likeed{ background-position:-20px -64px;}
.icon-video{background-position:-20px -144px;}

.icon40{width:40px;height:40px;}
.icon-today{background-position:-100px 0;}
.icon-day{background-position:-100px -40px;}
.icon-yesterday{background-position:-100px -80px;}


.head { position:relative;padding-top:36px;width: 100%;min-width:1200px; z-index: 88; background-color: #fff; }
.head-user { margin-top: 36px; width: 100%; }
.head-box { width: 1200px; margin: 0 auto; padding: 20px 0; }/*auto*/
.logo { float: left; height: 60px; width: 200px;margin-top:5px;}
.logo a { display: block; background: url(../../images/logo-new-s.png) 0 0 no-repeat; width: 100%; height: 100%; text-indent: -9999em; overflow: hidden; }
.logo-s { width: 200px; height: 60px; float: left; }
.logo-s a { display: block; background: url(../../images/logo-new-s.png) 0 0 no-repeat; width: 100%; height: 100%; text-indent: -9999em; overflow: hidden; }
.head-gd { float: left; overflow: hidden;padding: 0 0 0 10px; }
.head-gd a { display: block; height: 70px; max-width: 260px; overflow: hidden; }
.head-gd a img { max-width: 260px;max-height:100%;}
.head-center { margin: 0 auto; width: 400px; overflow: hidden; }
.head-area { font-size: 20px; width: 120px; text-align: center; height: 40px; line-height: 40px; border-radius: 4px; float: left; margin: 10px 0 0 20px; overflow: hidden; background: #0CC6C6; color: #fff; }
.search { float: right; width: 419px; position: relative; z-index: 99; }
.search form { border: 3px solid #0CC6C6; font-size: 14px; height: 34px; width: 413px; background-color: #fff; overflow: hidden; }
.search form .icon-search { background: url(../../images/kasearch.png) 2px 2px no-repeat; width: 34px; height: 34px; display: block; float: left; }
.search.active form .icon-search { background-position: -28px 2px; }
.input-search { display: block; border: 0; margin: 5px; background: none; height: 24px; width: 235px; line-height: 24px; float: left; font-size: 16px; }
.btn-search { display: block; border: 0; width: 100px; height: 34px; overflow: hidden; text-align: center; cursor: pointer; float: right; background: #0CC6C6; color: #fff; font-size: 18px; }
.btn-search:hover { background-color: #19b9b9; }
.del { float: left; width: 34px; height: 34px; background: url(../../images/kasearch.png) 2px -48px no-repeat; cursor: pointer; display: none; }
.del:hover { background-position: -28px -48px; }
.search-tip { position: absolute; left: 3px; top: 40px; background-color: #fff; border: 1px solid #ddd; border-top: none; width: 312px; overflow: hidden; display:none;}
.search-tip p { background-color: #f9f9f9; color: #bbb; font-size: 12px; padding: 0 10px; }
.search-tip ul { }
.search-tip ul li { line-height: 30px; height: 30px; overflow: hidden; cursor: pointer; padding: 0 10px; }
.search-tip ul li:hover {color: #0cc6c6; }
.search-class { width: 100%; overflow: hidden; }
.search-class a { display: block; float: left; width: 50px; text-align: center; font-size: 12px; margin: 1px; background-color: #A3B0BE; color: #fff; line-height: 30px; }
.search-class a:hover { background-color: #0cc6c6; }
.hot-search { line-height: 30px; color: #bbb; padding-left: 3px; }
.hot-search a { color: #bbb; }
.hot-search a:hover { color: #0CC6C6; }
.a-more { display: inline-block; border: 1px solid #ddd; line-height: 20px; padding: 0 5px; background: #fff; cursor: pointer; border-radius: 2px; }
.hot-search a.a-more { float: right; margin-top: 4px; }
.a-more:hover, .hot-search a.a-more:hover { background-color: #f60; color: #fff!important; border-color: #f60; }
.head-nav { width: 100%; background-color: #0CC6C6; border-bottom: 3px solid #00ABAB; }
.nav { width: 1199px; margin: 0 auto; border-left: 1px solid #00abab;  }/*auto*/
.nav li { float: left; line-height: 30px; position: relative; z-index: 10; border-right: 1px solid #00abab;}
.nav li .nav-a { display: block; padding: 40px 30px 10px; font-weight: bold; color: #fff;line-height:20px;text-align:center;font-size: 16px;}/*auto*/
.nav .nav-a:visited, .nav-son-nav:visited { color: #fff; }
.nav li .nav-span { display: block; padding: 40px 10px 10px 30px; font-weight: bold; color: #fff; float: left; position: relative;line-height:20px;font-size: 16px;}/*auto*/
.nav li.act { background-color: #00ABAB; }
.nav li:hover { background-color: #19b9b9; }
.nav-son { float: left; padding: 15px 20px 0 0; height: 48px;overflow: hidden; font-size: 14px; }
.nav-son p { height: 24px; overflow: hidden; }
.nav-son-nav { padding: 0 10px; display: block; line-height: 20px; color: #fff; float: left; border-radius: 2px; }
.nav-son-nav:hover { background-color: #fff; color: #00ABAB; }
.nav-ico { position: absolute; display: block; width: 30px; height:30px; top:10px; left: 50%;margin-left:-15px; background-image: url(../../images/gsyNavIco.png); background-repeat: no-repeat; }
.nav-span .nav-ico{margin-left:-5px;}
.nav-ico-1 { background-position: 0 0; }
.nav-ico-2 { background-position: 0 -30px; }
.nav-ico-3 { background-position: 0 -60px; }
.nav-ico-4 { background-position: 0 -90px; }
.nav-ico-5 { background-position: 0 -120px; }
.nav-ico-6 { background-position: 0 -150px; }
.nav-ico-7{background-position: 0 -180px;}
.nav-ico-8{background-position: 0 -210px;}
.nav-ico-9{background-position: 0 -240px;}

.head.active { background-color: #0CC6C6; height: 44px;box-shadow: 0 0 5px rgba(0,0,0,0.5); border-bottom: 3px solid #00ABAB; position:fixed;}
.head.active .head-box { padding: 0; position: relative; }
.head.active .logo { height: 44px; width: 100px; margin:0 0 0 5px; position: relative; z-index: 90; }
.head.active .logo a { background: url(../../images/wMainBg.png) 0 0 no-repeat; }
.head.active .head-gd, .head.active .head-area, .head.active .head-show, .head.active .head-gd-all { display: none; }
.head.active .search { margin-top: 4px; width: 286px; position: relative; z-index: 90; }
.head.active .search form { width: 280px; height: 30px; }
.head.active .search form .icon-search { width: 30px; height: 30px; display: block; float: left; background-position: 0 0; }
.head.active .search.active form .icon-search { background-position: -30px 0; }
.head.active .input-search { width: 156px; height: 20px; line-height: 20px; }
.head.active .search .del { background-position: 0 -50px; }
.head.active .search .del:hover { background-position: -30px -50px; }
.head.active .search-tip { top: 33px; width: 228px; border-top: 1px dashed #ddd; }
.head.active .search-class a { width:36px; }
.head.active .hot-search { display: none; }
.head.active .btn-search { width: 50px; height: 30px; background-color: #00ABAB; font-size: 14px; }
.head.active .head-nav { position: absolute; left: 50%; margin-left: -600px; top:36px; width: 1200px; border-bottom: none; }
.head.active .nav { width: auto; font-size: 14px; margin-left: 120px; }
.head.active .nav li { position: relative; }
.head.active .nav li .nav-a, .head.active .nav li .nav-span { padding: 10px 20px; font-weight: normal; line-height: 24px; height: 24px; float: none; overflow: hidden;font-size:14px;}
.head.active .nav li .nav-span { cursor: pointer; }
.head.active .nav li .nav-ico { left: 50%; margin-left: -15px; top: -30px; }
.head.active .nav-son { position: absolute; left: -1px; top: 44px; width: 100%; padding: 0; background-color: #fff; float: none; height: auto; display: none; border: 1px solid #00abab;font-size:13px;}
.head.active .nav-son p { height: auto; }
.head.active .nav-son-nav { line-height: 30px; padding: 0; color: #373737; text-align: center; border-bottom: 1px dashed #ddd; border-radius: 0; float: none; }
.head.active p:last-child .nav-son-nav:last-child { border-bottom: none; }
.head.active .nav-son-nav:hover { color: #0CC6C6; }
.head.active .nav li:hover .nav-son { display: block; }
.head.active .nav li:hover .nav-a, .head.active .nav li:hover .nav-span { line-height: 100px; transition: line-height, 0.2s;}
.head.active .nav li:hover .nav-ico { top: 8px;transition: top, 0.2s;  }

.count { width: 100%; position: relative; background-color: #f5f4f3;border-top:1px solid rgba(255,255,255,0);margin-top:-1px;}
.count-box { width: 1200px; margin: 0 auto; position: relative; top: 0; z-index: 3; transition: top 0.2s; padding:20px 0 1px; }/*auto*/

.box { margin-bottom: 20px; position: relative; }
.box-nb { position: relative; }
.box-p20 { padding: 20px; background-color: #fff; margin-bottom: 20px; border-bottom: 2px solid #ececec; }
.h{ margin-bottom: 20px; width: 100%; overflow: hidden; position:relative;}
.h-more{ position:absolute;right:0;top:50%;line-height:20px;margin-top:-10px;}
.h-nb { width: 100%; overflow: hidden; }
.h-class { margin: 20px 0; height: 1%; overflow: hidden; }
.h .fc-blue ,.h .a-more { margin-right: 10px; font-size: 14px; }
.h-title { font-size: 18px; border-left: 5px solid #0CC6C6; padding-left: 10px;line-height:24px;float: left; }
.h-line{margin-bottom:20px;border-bottom:1px solid #ddd; border-top:2px solid #0cc6c6;overflow:hidden;line-height:40px;}
.h-line-title{color:#0cc6c6;font-size:18px;float:left;}
.h .more, .h-nb .more,.h-line .more{ float: right; font-size: 13px; }
.b { overflow: visible; }
.b-b { background-color: #fff; border: 1px solid #ddd; }
.b-b-more { text-align: center; width: 14px; line-height: 16px; padding: 10px 3px; background-color: #0CC6C6; color: #fff; border-radius: 0 2px 2px 0; cursor: pointer; position: absolute; right: -20px; top: 48px; }
.b-p { padding: 10px; }
.h-tab { height: 30px; line-height: 30px; overflow: hidden; background-color: #f9f9f9; margin-bottom: 10px; border-bottom: 1px solid #ddd; width: 100%; zoom: 1; }
.h-tab-check { float: left; font-size: 16px; text-align: center; width:50%; color: #bbb; cursor: pointer; overflow: hidden; }
.h-tab-check.active{ background-color: #0cc6c6; color: #fff; }
.h-tab-check.check4{ width:25%;}
.h-tab-check.check3{ width:33.33%;}
.font12{font-size:12px;}
.main-l { width: 970px; }
.main-s { width: 880px; }
.main-g{width:640px;}
.menu { width: 210px; }
.menu-l{width:220px;position:relative;min-height:1px;}
.sub { width: 300px; }
.sub .h,.menu .h{margin-bottom:10px;}
.link-more { text-align: center; line-height: 40px; height: 40px; clear: both; }

.nowbar { line-height: 20px; float: right; color: #bbb;font-size:12px;margin-top:5px;}
.nowbar .sp { opacity: 0.5; }
.nowbar a { color: #bbb; }
.nowbar a:hover { color: #f60; }
.pager-title { font-size: 20px; border-left: 5px solid #0CC6C6; padding-left: 10px;line-height:30px;}
/*.pager-title .link{display:inline-block; vertical-align:top;line-height:20px;height:20px;border:1px solid #ddd;border-radius:4px;padding:0 5px;margin:4px 0 0 20px;font-size:14px;}*/

.pz-cout-num{font-weight:bold;width:100%;overflow:hidden;color:#0cc6c6;font-size:18px;margin-top:-30px;}
.pz-cout-num .pz-check-num{display:inline-block; vertical-align:top;padding:0 10px;margin:0;border-radius:4px;color:#fff;}
.best { background-color: #F77!important; }
.better { background-color: #FC6!important; }
.good { background-color: #9CC!important; }

.text-list{}
.text-list li{height:20px;line-height:20px;overflow:hidden; text-overflow:ellipsis; white-space:nowrap;padding:5px 0;border-bottom:1px dotted #ddd; list-style:inside disc;color:#bbb;}	
.text-list li:last-child{border-bottom:none;padding-bottom:0;}

.text-list-v { }
.text-list-v li { padding: 5px 0; height: 20px; overflow: hidden;line-height: 20px;text-overflow:ellipsis;white-space:nowrap;color: #ccc;}
.text-list-v li:last-child{padding-bottom:0;}
.text-list-tag, .text-list-tag:visited { color: #bbb; margin-right: 10px;font-size:13px; display:inline-block; vertical-align:top;}
.text-list-tag-b { font-size: 12px; margin-right: 10px; background-color:#fff; color: #aaa!important; display: inline-block; padding: 0 3px;line-height:18px;border-radius: 2px; vertical-align: top;border:1px solid #ddd;}
.text-list-tag-b:hover{ background-color:#0cc6c6!important;color:#fff!important;border-color:#0cc6c6;}
.text-list-tag-b.pz-check-num{color:#fff!important;border:none;line-height:20px;}
.text-more{float:right;font-size:12px;margin-left:10px;}

.text-list-img{}
.text-list-img li{padding:10px 0 10px 95px;line-height:20px;height:60px;border-bottom:1px dotted #ddd;overflow:hidden;}
.text-list-img li:last-child{border-bottom:none;padding-bottom:0;}
.text-list-img li img{float:left;margin-left:-95px;width:80px;height:60px;}
.text-list-img li em{ display:table-cell; vertical-align:middle;height:60px;font-size:14px;}

.text-list-seminar{width:270px;}
.text-list-seminar li{float:left;width:125px;margin:5px 10px 5px 0; position:relative;}
.text-list-seminar li img{width:125px;height:94px; }
.text-list-seminar li em{ background-color:rgba(0,0,0,0.7);color:#fff;line-height:30px;height:30px;display:block;text-align:center;overflow:hidden;position:absolute;bottom:0;left:0; z-index:3;font-size:12px;text-overflow:ellipsis; white-space:nowrap;padding:0 5px;width:115px;}
.text-list-seminar li a:hover em{color:#f60;}

.text-list-video{width:270px;}
.text-list-video li{float:left;width:125px;margin:5px 10px 5px 0; position:relative;}
.text-list-video li img{width:125px;height:94px; }
.text-list-video li em{ background-color:rgba(0,0,0,0.7);color:#fff;line-height:30px;height:30px;display:block;overflow:hidden;position:absolute;bottom:0;left:0; z-index:3;font-size:12px;text-overflow:ellipsis; white-space:nowrap;padding:0 5px 0 30px;width:90px;}
.text-list-video li a:hover em{color:#f60;}
.text-list-video li span{ position:absolute;left:5px;bottom:5px; z-index:3;}

.text-list-game{}
.text-list-game li{border-bottom:1px dotted #ddd;padding:10px 0;height:1%;overflow:hidden; position:relative;}
.text-list-game li img{float:left;margin-right:10px;width:72px;height:72px;}
.text-list-game .title{font-size:20px;line-height:20px;height:20px;overflow:hidden; text-overflow:ellipsis; white-space:nowrap;}
.text-list-game .info{margin-top:5px;line-height:20px;height:20px;}
.text-list-game .info strong{max-width:60px;overflow:hidden; text-overflow:ellipsis; white-space:nowrap;}
.text-list-game .link{font-size:12px;line-height:20px;margin-top:10px;}
.text-list-game .link a{display:inline-block;margin-right:10px;}
.text-sqimg-num-list{}
.text-sqimg-num-list li{border-bottom:1px dotted #ddd;padding:10px 0 10px 28px;height:1%;overflow:hidden; position:relative;}
.text-sqimg-num-list li img{float:left;margin-right:10px;width:60px;height:60px;}
.text-sqimg-num-list li .title{font-size:20px;line-height:30px;height:30px;overflow:hidden; text-overflow:ellipsis; white-space:nowrap;}
.text-sqimg-num-list li .link{font-size:12px;line-height:30px;height:30px;overflow:hidden;}
.text-sqimg-num-list li .link a{display:inline-block;margin-right:10px;}
.text-sqimg-num-list li .link strong{font-size:14px;}
.text-sqimg-num-list li .num{ position:absolute;left:0;top:30px;width:18px;height:18px;line-height:18px;text-align:center;background-color:#b7cee4;color:#fff;font-size:12px;}
.text-sqimg-num-list li:first-child .num{ background-color:#f60}
.text-sqimg-num-list li:nth-child(2) .num{ background-color:#F90}
.text-sqimg-num-list li:nth-child(3) .num{ background-color:#9C0}
.text-sqimg-num-list li:nth-child(4) .num{ background-color:#09C}
.text-sqimg-num-list li:nth-child(5) .num{ background-color:#3CC}

.game-box { border: 1px solid #ddd; padding: 15px 15px 15px 130px; position: relative; overflow: hidden; background-color: #fff; }
.game-box .game-stars {margin:5px 0;}
.game-icon { width: 100px; height: 100px; overflow: hidden; position: absolute; left: 15px; top: 15px; }
.game-icon img { height: 100%; width: 100%; }
.game-name { font-weight: bold; height: 20px;line-height:20px;overflow: hidden; text-overflow:ellipsis; white-space:nowrap;margin-bottom:5px;}
.game-info { color: #bbb; line-height: 20px;font-size:12px;}
.game-for { position: absolute; right: 0; top: 0; z-index: 11;height:20px;overflow:hidden;}
.game-for span {opacity: 0.7;display:block;float:left;}
.game-for span:hover { opacity: 1; }
.game-mes { color: #bbb;font-size:12px;}
.game-mes p { line-height:20px; height:20px; overflow: hidden; text-overflow:ellipsis; white-space:nowrap;}
.game-mes a { color: #bbb; }
.game-mes a:hover { color: #777; }

.game-stars { height: 20px; width: 100px; overflow: hidden; background: url(../../images/wMainBg.png) 0 -104px no-repeat; margin-top: 5px; position: relative; }
.game-stars a { display: block; width: 100%; height: 100%; }
.game-stars span { float: left; height: 20px; text-indent: -9999em; overflow: hidden; background: url(../../images/wMainBg.png) 0 -124px no-repeat; }
.game-stars.here { -webkit-animation: stars 0.5s infinite; opacity: 1; background-position: 0 -100px; }
@-webkit-keyframes stars {
from {
opacity:0;
}
to {
opacity:1;
}
}
.game-stars span.stars-1 { width: 20px; }
.game-stars span.stars-2 { width: 40px; }
.game-stars span.stars-3 { width: 60px; }
.game-stars span.stars-4 { width: 80px; }
.game-stars span.stars-5 { width: 100px; }
.game-stars .stars-check { position: absolute; width: 100%; height: 100%; z-index: 2; }
.game-stars .stars-check em { float: left; width: 20px; height: 20px; text-indent: -9999em; overflow: hidden; cursor: pointer; }

.game-list-s { }
.game-list-s .game-box { border: none; padding: 0 0 0 58px; height: 48px; }
.game-list-s .game-icon { width: 48px; height: 48px; left: 0; top: 0; border-radius: 10px; }
.game-list-s li { border-bottom: 1px solid #ddd;padding:10px 0; }
.game-list-s li:first-child{padding-top:5px;}
.game-list-s li:last-child { border-bottom: none;padding-bottom: 0; }
.game-list-s .game-box:hover { box-shadow: none; }
.game-list-s .game-box-num{padding-right:48px;}
.game-list-s .game-box-num .pz-check-num { position:absolute;right:0;top:0;height:48px;width:48px;border-radius:50px;text-align:center;font:30px/48px Impact;color:#fff;}

.game-icon-list{}
.game-icon-list li{float:left;margin:10px;width:80px;text-align:center;}
.game-icon-list .img{width:72px;height:72px;margin:0 auto;}
.game-icon-list .img img{width:100%;height:100%;}
.game-icon-list .title{font-weight:normal;margin-top:5px;line-height:20px;overflow:hidden; text-overflow:ellipsis; white-space:nowrap;font-size:12px;}
.al li{margin:8px;}

.game-name-list{ background-color:#f9f9f9;padding:10px;}
.game-name-list a{display:inline-block;line-height:24px; vertical-align:top;margin-right:10px;}
/**/

.pager { padding: 40px 0 20px; text-align: center; }
.pager span, .pager a { display: inline-block; margin: 0 3px; padding: 2px 10px; border: 1px solid #ddd;line-height:24px;}
.pager a:hover { background-color: #0CC6C6; color: #fff; border-color: #0CC6C6; }
.pager span { background-color: #f9f9f9; cursor: default; color: #bbb; }
.pager span.act { background-color: #0CC6C6; border-color: #0CC6C6; color: #fff; }
.pager span.ect { background-color: #fff; border-color: #fff; }
.pager-select { float: right; margin-left: 3px; padding: 2px 10px; border: 1px solid #ddd; width: 83px; position: relative; *zoom:1;z-index: 22; cursor: pointer;font-size:12px; line-height:24px;}
.pager-select ol { position: absolute; left: -1px; top: 28px; width: 103px; overflow: hidden; display: none; background: #fff;border:1px solid #ddd;}
.pager-select ol a { display: block;margin:0;text-align: left;border:0;}
.pager-select ol.act { display: block; height: 112px; overflow-y: scroll; }
.pager-more { float: left; }

.tags-list-s{}
.tags-list-s a{display:inline-block;margin-right:15px;line-height:30px;}
.lists-nlist{}
.lists-nlist{ position:relative;left:0;top:0;width:100%;z-index:3;}
.lists-nlist ol{width:100%;overflow:hidden;height:40px;line-height:40px;font-size:16px; }
.lists-nlist ol li{float:left;width:4%; text-align:center;}
.lists-nlist ol li a{width:100%;height:100%;display:block;color:#0cc6c6;}
.lists-nlist ol li a:hover,.lists-nlist ol li a.active{font-size:18px;font-weight:bold;color:#Fc0}
.lists-nlist ol li:first-child{width:8%;}
.lists-nlist.active{ position:fixed;top:83px;margin-top:0; background:rgba(0,0,0,0.5);}
.lists-nlist.active ol{width:1000px;margin:0 auto;}
.lists-nlist.active ol li a{color:#fff;}
.lists-nlist.active ol li a:hover{color:fff; background-color:#f60;}

.activity-list-s{width:980px;margin:-5px 0 0 -10px;overflow:hidden;}
.activity-list-s li{float:left;width:153px;margin:5px; cursor:default;}
.activity-list-s .activity-box{ border: 3px solid #eee; position: relative;}
.activity-list-s .activity-name{font-size: 14px; height:36px; line-height: 18px; overflow: hidden; margin: 10px;display: -webkit-box;-webkit-line-clamp:2;-webkit-box-orient: vertical;color:#333;}
.activity-list-s .activity-img{height:110px;width: 100%;}
.activity-list-s .activity-img img{ width: 100%; display: block; height: 100%;}

.foot{border-top:3px solid #0cc6c6;}
.foot-nav{width:100%;overflow:hidden;padding:30px 0;}
.foot-nav dl{display:inline;float:left;padding:0 40px 0 45px;width:65px;border-right:1px solid #eee;line-height:24px;}
.foot-nav dl dt{margin-bottom:5px;font-size:16px;}
.foot-nav .long{width:90px;}
.foot-nav .long dd{float:left;width:45px;}
.foot-nav .last{width:285px;border-right:none;}
.foot-nav .last dd{float:left;width:80px;padding-right:15px;height:24px;overflow:hidden;}

.form-line { margin-bottom: 10px; line-height: 40px; }
li.form-line { height: 1%; overflow: hidden; margin-bottom: 20px; }
form ul:last-child li.form-line:last-child { margin-bottom: 0; }
.form-name { display: block; width: 100px; float: left; text-align: right; font-size: 16px; color: #bbb; margin-right: 20px; }
.form-tips{color:#bbb;font-size:12px;}
.form-line div { position: relative; }
.form-line div span.tip { position: absolute; left: 10px; top: 0; line-height: 40px; color: #c7c7c7; }
.form-text { height: 20px; line-height: 20px; border: 1px solid #ddd; background-color: #fff; padding: 9px 5px; font-size: 16px; border-radius: 2px; vertical-align: top; }
.form-text:focus, .form-textarea:focus { border-color: #0cc6c6; box-shadow: inset 0 0 4px #A2EAEA; }
.form-textarea { line-height: 20px; border: 1px solid #ddd; background-color: #fff; padding: 9px 5px; font-size: 16px; border-radius: 2px; }
.form-btn { height: 40px; line-height: 40px; padding: 0 20px; border: 0; background-color: #0cc6c6; color: #fff; cursor: pointer; font-size: 14px; border-radius: 2px; vertical-align: top; }
.form-btn:hover,.form-btn-s:hover{ background-color:#f60;color:#fff;border-color:#f60;}
.form-btn-s{ height: 30px; line-height: 30px; padding: 0 10px; border:1px solid #ddd; background-color: #f9f9f9; color: #000; cursor: pointer; font-size: 14px; border-radius: 2px; vertical-align: top;}
.form-btn[disabled],.form-btn[disabled]:hover{ background-color: #bbb; }
.form-btn-s[disabled],.form-btn-s[disabled]:hover{color:#bbb; background-color:#eee;border-color:#ddd;}

.gd{}
.gd img{ display:block;width:100%;}
.sub-gd-in{margin-bottom:10px;}
.land-gd{width:300px;height:300px;}
.sub-gd-fixed{}

.user-head { width: 120px; height: 120px; overflow: hidden;}
.user-head img { display: block; width: 100%; height: 100%; }
.user-name { }
.user-name span { font-size: 0.8em; padding-left: 5px; }
.user-ico { font-size: 14px; height: 30px; line-height: 30px; overflow: hidden; }
.user-ico a { float: left; text-align: center; color: #fff; overflow: hidden; }
.user-ico a:hover { color: #FF9; }
.user-ico a strong { background-color: #F90; display: block; float: left; padding: 0 10px; height: 100%; border-radius: 2px 0 0 2px; }
.user-ico a span { background-color: #F60; display: block; float: left; padding: 0 10px; height: 100%; border-radius: 0 2px 2px 0; }
.top-user { padding-left: 80px; overflow: hidden; line-height: 20px; width: 110px; }
.top-user .user-head { width: 70px; height: 70px; float: left; margin-left: -80px; overflow: hidden;background: url(../../images/user-head-default.jpg) 0 0 no-repeat;background-size: 100% auto;}
.top-user .user-ico { height: 20px; line-height: 20px; font-size: 12px; }
.top-user .user-ico a strong, .top-user .user-ico a span { padding: 0 5px; }
.user-info { margin: 5px 0; }
.user-id { color: #bbb; }
.user-mes { height: 20px; line-height: 20px; }
.user-list { }
.user-list li { padding: 10px; border-bottom: 1px dashed #ddd; height: 1%; overflow: hidden; }
.user-list li .user-head { width: 40px; height: 40px; float: left; margin-right: 10px; }
.user-list li .user-name { height: 20px; line-height: 20px; font-size: 14px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; }
.user-list li .user-info { margin: 0; line-height: 20px; color: #ccc;font-size:12px;}
.user-list li:hover { background-color: #f9f9f9; }

.choose-box { border: 1px solid #ddd; height: 40px; overflow: hidden; position: relative; background-color: #f9f9f9; }
.choose-son { display: block; float: left; line-height: 40px; text-align: center; height: 40px; overflow: hidden; font-size: 14px; color: #373737; border-right: 1px solid #ddd; }
.choose-son a, .choose-son span { color: #373737; display: block; padding: 0 20px; height: 40px; cursor: pointer; }
.choose-son a:hover, .choose-son.act a, .choose-son span:hover, .choose-son.act span { color: #0CC6C6; border-top: 3px solid #0CC6C6; height: 37px; line-height: 37px; background-color: #fff; }
.choose-pager { float: right; height: 40px; line-height: 40px; overflow: hidden;font-size:12px;}
.choose-pager a, .choose-pager span, .choose-pager em { display: block; float: left; padding: 0 15px; }
.choose-pager a:hover { color: #0CC6C6; }
.choose-pager span { color: #cacaca; cursor: default; }
.choose-pager span, .choose-pager a { font-size: 24px; }

.table-box { }
.table-box table {}
.table-box table th{padding:10px 5px; line-height: 20px;}
.table-box table td{ border-bottom: 1px dotted #e3e3e3;padding:10px 5px; line-height: 20px;}
.table-box table tbody tr:last-child td{border-bottom:none;}
.table-box table .t-center { text-align: center; }
.table-box table .t-right { text-align: right; }
.table-box table thead{ background-color: #FFF5ED; color: #AA784F; }
.table-box table tfoot td {border:1px solid #e3e3e3;line-height:17px;padding:5px;}

.friend-links {color: #0cc6c6; line-height: 24px;margin:0 auto 20px; background-color:#f7f7f7;padding:20px;}
.friend-links span{color:#ccc;}
.friend-links a { display: inline-block; }

.inline-list{}
.inline-list li{ display:inline-block;margin-right:10px;line-height:30px;}
.inline-list li a{}

.text-img-list { width: 100%; }
.text-img-list li { padding: 20px 210px 20px 167px; border-bottom: 1px solid #ddd; position: relative; min-height: 110px; }
.text-img { position: absolute; left: 0px; top: 20px; height: 110px; width: 147px; background-color: #f9f9f9; }
.text-img img { width: 100%; height: 100%; }

.channel-bar{margin-top:15px;position: relative; background:#ffbb33 url(../../images/channeltop.jpg) 0 bottom no-repeat;padding-left:90px;height:40px;border-radius:40px;}
.channel-bar .user-head{width:60px;height:60px;position: absolute;left:30px;top:-25px;}
.channel-bar .name{line-height:20px;padding:10px; display: inline-block;}
.channel-bar .name strong{font-size:16px;color:#fff;font-weight:bold; text-shadow: 0 0 4px rgba(0,0,0,0.5);}
.channel-bar .snav{ display: inline-block;line-height:24px;font-size:14px;padding:8px; vertical-align: top;}
.channel-bar .snav a{ display: inline-block; vertical-align: top;margin:0 10px 0 0; background: #fff;padding:0 10px;border-radius:4px;}
.channel-bar .snav a:last-child{background: #0cc6c6;color:#fff;}
.channel-bar .snav a:hover{background:#f60;color:#fff;}