@media (max-width: 1120px) {
  .owl-nav .owl-prev {
    left: -15%;
  }

  .owl-nav .owl-next {
    right: -15%;
  }

  .cofee_form .form_container {
    width: 95%;
    margin: 0 auto;
  }
}

@media (max-width: 992px) {

}

@media (max-width: 768px) {
  .layout_padding {
    padding: 90px 0;
  }
  
  .shop_detail p {
    width: 95%;
    margin: 3% 0;
  }

  .carousel-wrap {
    width: 90%;
  }

  .owl-nav .owl-prev {
    width: 35px;
    height: 35px;
  }

  .owl-nav .owl-next {
    width: 35px;
    height: 35px;
  }

  .story_btn {
    margin-bottom: 30px;
  }

  .testimonial_container {
    margin-left: auto;
    margin-right: auto;
  }

  .header_detail h1 {
    font-size: 60px;
  }

  .header_detail h2 {
    font-size: 28px;
  }
  .owl-nav{
    display: flex;
    justify-content: center;
    margin-top: 45px;
  }
  .cofee_form .form_container{
    width: 100%;
  }
  .carousel-wrap{
    width: 100%;
    padding: 0 15px;
  }
  .owl-nav .owl-prev,.owl-nav .owl-next {
    position: unset;
    transform: none;
    margin: 0 2.5px;
  }
}

@media (max-width: 576px) {
  .testimonial_container {
    width: 90%;
  }
  .cofee_form .form_container{
    padding: 40px 25px;
    min-width: unset;
  }
  .header_img{
    padding: 0;
  }
  .navbar .logo_box{
    margin-bottom: 15px;
  }

}

@media (max-width: 480px) {
  .navbar {
    justify-content: center;
  }
  .header_detail h1 {
    font-size: 40px;
  }

  .header_detail h2 {
    font-size: 24px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1170px;
  }
}
