.productShow {
  .show_top{
    .container{
      .row{
      }
    }
  }
  .show_left{
    margin-top: 10px;
    .container{
      .row{
        .product_classify{
          .row{
            .new_list_pc{
              .new_list_trends{
                display: block;
                width: 100%;
                height: auto;
              }
              a.new_trends_title{
                display: block;
                font-size: 16px;
                padding: 5px 0;
                text-align: center;
                background-color: #e1e1e1;
                border-bottom: 1px solid #fff;
              }
              a.new_trends_title:hover{
                background-color: #fff;
              }
              .new_list_fenlan{
                display: block;
                width: 100%;
                height: auto;
              }
              .new_list_top{
                margin-top: 10px;
                display: block;
                width: 100%;
                height: auto;
              }
              ul{
                -webkit-padding-start: 0px;
                li{
                  line-height: 33px;
                  background-color: #e1e1e1;
                  border-bottom: 1px solid #fff;
                  a{
                    display: inline-block;
                    padding-left: 15px;
                  }
                }
              }
              .new_list_bottom{
                margin-top: 20px;
                display: block;
                width: 100%;
                height: auto;
                margin-bottom: 20px;
              }
            }
          }
        }
        .fw_new_left_three{
          margin-top: 6px;

          .row{
            .myWherePic{
              display: inline-block;
              width: 21px;
              height: 26px;
            }
            .myWherePath{
              display: inline-block;
            }
            .profile_pic{
              margin-top: 10px;
              a{
                display: inline-block;
                img{
                  display: inline-block;
                  width: 100%;
                  height: 150px;
                }
              }
            }
            .profile_pic_btm{
              margin-top: 20px;
            }
          }
          p{
            text-indent: 2em;
            line-height: 33px;
            font-size: 16px;
          }
          p.profile_text{
            margin-top: 20px;
          }
        }
      }
    }
  }
}

//隐藏菜单
.classify_fill{
  width: 100%;
  .classify_fill_hide{
    position: fixed;
    top: 150px;
    right: 0px;
    z-index: 1000000000;
    width: 220px;
    .classify_fill_bnt{
      display: none;
      border-radius: 10px 0px 0px 10px;
      float: left;
      width: 40px;
      height: 60px;
      background-color: rgba(0, 0, 0, 0.9);
      text-align: center;
      line-height: 60px;
      font-size: 30px;
      font-weight: 700;
      padding-left: 15px;
      color: #999;
    }
    .classify_fill_fixed{
      display: block;

      border-radius: 10px 0px 0px 10px;
      float: right;
      width: 40px;
      height: 60px;
      background-color: rgba(0, 0, 0, 0.9);
      text-align: center;
      line-height: 60px;
      font-size: 30px;
      font-weight: 700;
      padding-left: 15px;
      color: #999;
    }
    .classify_fill_cot{

      display: none;
      float: right;
      width: 180px;
      height: 100%;
      .classify_list{
        width: 100%;
        .btn-group-vertical{
          width: 100%;
          height: auto;
          .btn{
            background-color: rgba(0, 0, 0, 0.9);
            border: none;
            color: #FB7600;
            width: 100%;
            border-radius: 0px 2px 2px 2px;
          }

        }
      }


    }
  }
}



//最小屏
@media only screen and(min-width: 100px) and (max-width: 778px) {
.productShow{
  .show_top{
    .container{
      .row{
        margin-top: 8px;
      }
    }
  }
.show_left{
  margin-bottom: 20px;
}


}

  .top_big_box .fw_topBar .container .row .fw_topBar_item_mb a.call_pic img{
    display: inline-block;
    width: 220px;
    height: auto;
  }


}

