.productShow .show_left .container .row .product_classify .row .classify_list .btn-group-vertical .btn-default {
  background-color: #e1e1e1;
  border-color: #fff;
}
.productShow .show_left .container .row .product_classify .row .classify_list .btn-group-vertical .btn-default:hover {
  background-color: #fff;
}
.productShow .show_left .container .row .product_classify .row .new_list_pc .new_list_fenlan {
  display: block;
  width: 100%;
  height: auto;
}
.productShow .show_left .container .row .product_classify .row .new_list_pc .new_list_top {
  margin-top: 10px;
  display: block;
  width: 100%;
  height: auto;
}
.productShow .show_left .container .row .product_classify .row .new_list_pc ul {
  -webkit-padding-start: 0px;
}
.productShow .show_left .container .row .product_classify .row .new_list_pc ul li {
  line-height: 33px;
  background-color: #e1e1e1;
  border-bottom: 1px solid #fff;
}
.productShow .show_left .container .row .product_classify .row .new_list_pc ul li a {
  display: inline-block;
  padding-left: 15px;
}
.productShow .show_left .container .row .product_classify .row .new_list_pc .new_list_bottom {
  margin-top: 20px;
  display: block;
  width: 100%;
  height: auto;
}
.productShow .show_left .container .row .product_list .fw_new_left_three {
  margin-top: 6px;
  margin-bottom: 20px;
}
.productShow .show_left .container .row .product_list .fw_new_left_three .row .myWherePic {
  display: inline-block;
  width: 21px;
  height: 26px;
}
.productShow .show_left .container .row .product_list .fw_new_left_three .row .myWherePath {
  display: inline-block;
}
.productShow .show_left .container .row .product_list .fw_new_left_three .row .profile_pic {
  margin-top: 10px;
}
.productShow .show_left .container .row .product_list .fw_new_left_three .row .profile_pic a {
  display: inline-block;
}
.productShow .show_left .container .row .product_list .fw_new_left_three .row .profile_pic a img {
  display: inline-block;
  width: 100%;
  height: 150px;
}
.productShow .show_left .container .row .product_list .fw_new_left_three .row .profile_pic_btm {
  margin-top: 20px;
}
.productShow .show_left .container .row .product_list .fw_new_left_three p {
  text-indent: 2em;
  line-height: 33px;
  font-size: 16px;
}
.productShow .show_left .container .row .product_list .fw_new_left_three p.profile_text {
  margin-top: 20px;
}
.productShow .show_left .container .row .product_list .page02 .li01 {
  -webkit-padding-start: 0px;
}
.productShow .show_left .container .row .product_list .page02 .li01 a {
  display: inline-block;
  position: relative;
  overflow: hidden;
}
.productShow .show_left .container .row .product_list .page02 .li01 a img {
  width: 100%;
}
.productShow .show_left .container .row .product_list .page02 .li01 a big {
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  left: 0;
  top: -100%;
}
.productShow .show_left .container .row .product_list .page02 .li01 a big em {
  width: 100%;
  text-align: center;
  color: #fff;
  height: 135px;
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -67px;
}
.productShow .show_left .container .row .product_list .page02 .li01 a big tt {
  width: 100%;
  height: 100%;
  display: block;
  background: #222;
  opacity: 0.6;
}
.productShow .show_left .container .row .product_list .page02 .li01 a big ins {
  width: 51px;
  height: 36px;
  display: block;
  background: url(../images/fangda.png) no-repeat;
  position: absolute;
  top: 32%;
  left: 40%;
}
.productShow .show_left .container .row .product_list .page02 .li01 a big i {
  display: block;
  position: absolute;
  top: 62%;
  left: 42%;
}
.productShow .show_left .container .row .product_list p {
  text-align: center;
  padding: 5px 0px 10px 0px;
}
.classify_fill {
  width: 100%;
}
.classify_fill .classify_fill_hide {
  position: fixed;
  top: 200px;
  right: 0px;
  z-index: 1000000000;
}
.classify_fill .classify_fill_hide .classify_fill_bnt {
  display: none;
  border-radius: 10px 0px 0px 10px;
  float: left;
  width: 40px;
  height: 60px;
  background-color: rgba(0, 0, 0, 0.9);
  text-align: center;
  line-height: 60px;
  font-size: 30px;
  font-weight: 700;
  padding-left: 15px;
  color: #999;
}
.classify_fill .classify_fill_hide .classify_fill_fixed {
  display: block;
  border-radius: 10px 0px 0px 10px;
  float: right;
  width: 40px;
  height: 60px;
  background-color: rgba(0, 0, 0, 0.9);
  text-align: center;
  line-height: 60px;
  font-size: 30px;
  font-weight: 700;
  padding-left: 15px;
  color: #999;
}
.classify_fill .classify_fill_hide .classify_fill_cot {
  display: none;
  float: right;
  width: 180px;
  height: 100%;
}
.classify_fill .classify_fill_hide .classify_fill_cot .classify_list {
  width: 100%;
  width: 220px;
  height: 500px;
  overflow: scroll;
}
.classify_fill .classify_fill_hide .classify_fill_cot .classify_list .btn-group-vertical {
  width: 100%;
}
.classify_fill .classify_fill_hide .classify_fill_cot .classify_list .btn-group-vertical .btn {
  background-color: rgba(0, 0, 0, 0.9);
  border: none;
  color: #FB7600;
  width: 100%;
}
.classify_fill .classify_fill_hide .classify_fill_cot .classify_list .btn-group-vertical .btn:hover {
  border: 1px solid #FB7600;
}
@media only screen and (min-width: 100px) and (max-width: 778px) {
  .top_big_box .fw_topBar .container .row .fw_topBar_item_mb a.call_pic img {
    display: inline-block;
    width: 220px;
    height: auto;
  }
}
