.productShow {
  .show_left{
    .container{
      .row{
        .product_classify{
          .row{
            .classify_list{
              .btn-group-vertical{
                .btn-default{
                  background-color: #e1e1e1;
                  border-color: #fff;
                }
                .btn-default:hover{
                  background-color: #fff;
                }
              }
            }
            .new_list_pc{
              .new_list_fenlan{
                display: block;
                width: 100%;
                height: auto;
              }
              .new_list_top{
                margin-top: 10px;
                display: block;
                width: 100%;
                height: auto;
              }
              ul{
                -webkit-padding-start: 0px;
                li{
                  line-height: 33px;
                  background-color: #e1e1e1;
                  border-bottom: 1px solid #fff;
                  a{
                    display: inline-block;
                    padding-left: 15px;
                  }
                }
              }
              .new_list_bottom{
                margin-top: 20px;
                display: block;
                width: 100%;
                height: auto;
              }
            }
          }
        }

        .product_list{
          .fw_new_left_three{
            margin-top: 6px;
            margin-bottom: 20px;
            .row{
              .myWherePic{
                display: inline-block;
                width: 21px;
                height: 26px;
              }
              .myWherePath{
                display: inline-block;
              }
              .profile_pic{
                margin-top: 10px;
                a{
                  display: inline-block;
                  img{
                    display: inline-block;
                    width: 100%;
                    height: 150px;
                  }
                }
              }
              .profile_pic_btm{
                margin-top: 20px;
              }
            }
            p{
              text-indent: 2em;
              line-height: 33px;
              font-size: 16px;
            }
            p.profile_text{
              margin-top: 20px;
            }
          }
          .page02 {
            .li01 {
              -webkit-padding-start: 0px;
              a {
                display: inline-block;
                position: relative;
                overflow: hidden;
                img {
                  width: 100%;
                }
                big {
                  width: 100%;
                  height: 100%;
                  display: block;
                  position: absolute;
                  left: 0;
                  top: -100%;
                  em {
                    width: 100%;
                    text-align: center;
                    color: #fff;
                    height: 135px;
                    position: absolute;
                    left: 0;
                    top: 50%;
                    margin-top: -67px;
                  }
                  tt {
                    width: 100%;
                    height: 100%;
                    display: block;
                    background: #222;
                    opacity: 0.6;
                  }
                  ins {
                    width: 51px;
                    height: 36px;
                    display: block;
                    background: url(../images/fangda.png)  no-repeat;
                    position: absolute;
                    top: 32%;
                    left: 40%;
                  }
                  i{
                    display: block;
                    position: absolute;
                    top: 62%;
                    left: 42%;
                  }
                }
              }
            }
          }
          p{
            text-align: center;
            padding: 5px 0px 10px 0px;
          }
        }
      }
    }
  }
}


//隐藏菜单
.classify_fill{
  width: 100%;
  .classify_fill_hide{
    position: fixed;
    top: 200px;
    right: 0px;
    z-index: 1000000000;
    .classify_fill_bnt{
      display: none;
      border-radius: 10px 0px 0px 10px;
      float: left;
      width: 40px;
      height: 60px;
      background-color: rgba(0, 0, 0, 0.9);
      text-align: center;
      line-height: 60px;
      font-size: 30px;
      font-weight: 700;
      padding-left: 15px;
      color: #999;
    }
    .classify_fill_fixed{
      display: block;
      border-radius: 10px 0px 0px 10px;
      float: right;
      width: 40px;
      height: 60px;
      background-color: rgba(0, 0, 0, 0.9);
      text-align: center;
      line-height: 60px;
      font-size: 30px;
      font-weight: 700;
      padding-left: 15px;
      color: #999;
    }
    .classify_fill_cot{
      display: none;
      float: right;
      width: 180px;
      height: 100%;
      .classify_list{
        width: 100%;
        width: 220px;
        height: 500px;
        overflow: scroll;
        .btn-group-vertical{
          width: 100%;
          .btn{
            background-color: rgba(0, 0, 0, 0.9);
            border: none;
            color: #FB7600;
            width: 100%;
          }
          .btn:hover{
            border: 1px solid #FB7600;
          }
        }
      }
    }

  }
}


@media only screen and(min-width: 100px) and (max-width: 778px) {
//超小屏ipon5尺寸显示不正常
  .top_big_box .fw_topBar .container .row .fw_topBar_item_mb a.call_pic img{
    display: inline-block;
    width: 220px;
    height: auto;
  }


}