@charset "utf-8";
body { color:#666; font-size:12px;font-family: "Microsoft Yahei";} /*网站字体颜色*/
a { color:#666; text-decoration:none;font-family: "Microsoft Yahei";}  /*for ie f6n.net*/
a:focus{outline:0;} /*for ff f6n.net*/
a:hover { text-decoration:underline;}
.vam { vertical-align:middle;}
.clear{clear:both; height:0; line-height:0; font-size:0;}
p{ word-spacing:-1.5px;font-family: "Microsoft Yahei"; }
h1,h2,h3,h4,h5,h6{ font-family:"Microsoft Yahei";}

.tr { text-align:right;}
.tl { text-align:left;}
.center { text-align:center;}
.fl { float:left;}
.fr { float:right;}
.pa{ position:absolute;}
.pr{ position:relative}
i,em{ font-style:normal;}
/* -- 购物车外部框架 -- */
.cart_header , .cart_content , .cart_footer { width:760px; margin:0 auto;}



/* -- 页面整体布局 -- */
.header , .content , .footer { width:1000px; margin:0 auto;font-family: "Microsoft Yahei"; }
.left { width:201px; float:left; overflow:hidden;}
.left2 { width:670px; float:left; overflow:hidden;}
.left3 { width:754px; float:left; overflow:hidden; color:#666;}
.lefttop { background:url(../images/left_top_img.gif) no-repeat; height:3px; font-size:0; overflow:hidden; margin-top:10px;}
.left2top { background:url(../images/left2_top_img.gif) no-repeat; height:3px; font-size:0; overflow:hidden;}
.leftbot { background:url(../images/left_bot_img.gif) no-repeat; height:3px; font-size:0; overflow:hidden;  margin-bottom:10px;}
.left2bot { background:url(../images/right_bot2_img.gif) no-repeat; height:3px; font-size:0; overflow:hidden; margin-bottom:10px; }

.right { width:754px; float:left; display:inline; margin-left:5px; overflow:hidden;}
.right2 { width:275px;  float:right; overflow:hidden;}
.right3 { width:201px; float:right; overflow:hidden; color:#666;}
.righttop { background:url(../images/right_top_img.gif) no-repeat; height:3px; font-size:0; overflow:hidden;}
.right2top { background:url(../images/right2_top_img.gif) no-repeat; height:3px; font-size:0; overflow:hidden;}
.rightbot { background:url(../images/right_bot_img.gif) no-repeat; height:3px; font-size:0; overflow:hidden; margin-bottom:10px;}
.right2bot { background:url(../images/left_bot2_img.gif) no-repeat; height:3px; font-size:0; overflow:hidden; margin-bottom:10px;}

.right_main { width:752px; min-height:458px; border:solid 1px #d5d5d5; border-top:0; border-bottom:0; padding-bottom:15px; overflow:hidden;}
.right2_main { width:273px; border:solid 1px #d5d5d5; border-top:0; border-bottom:0; padding-bottom:15px; overflow:hidden;}
.left2_main { width:668px;  border:solid 1px #d5d5d5; border-top:0; border-bottom:0; padding-bottom:15px; overflow:hidden;}

.h_nav li a:-webkit-any-link{ display:block;}

/*头部开始*/
.t_bg{ height:99px; overflow:hidden; position:relative; background:url(../images/t_bg.jpg) no-repeat center 0;}
.header { height:99px;overflow:hidden; position:relative;}
.header h1{ float:left; width:179px;float:left; padding-top:12px;}
.header ul{ float: right; width:736px;}
.header ul li{ float:left;}
.header ul li a{ display:inline-block; padding:38px 19px 0; height:55px;color:#1478ab; font-size:16px; text-align:center;}
.header ul li a span{ display:block; color:#b7c5d9; font-size:12px; padding-bottom:5px;}
.header ul li a:hover,.header ul .cur a,.header ul .cur a span,.header ul li a:hover span{ text-decoration:none;color:#1abd9b;}
/*头部结束*/

/*底部开始*/
.f_bg{ background:url(../images/f_bg.gif) repeat-x;overflow:hidden;}
.f_menu{ height:48px; line-height:48px; text-align:center; color:#fff; font-size:14px;}
.f_menu a{ color:#fff; font-size:15px; padding:0 37px; display:inline-block;}
.f_con1{ width:808px;}
.f01{ overflow:hidden; height:116px; background:url(../images/f_bgg.gif) repeat-x left bottom;}
.f01 h3{ float:left; width:186px; padding-right:20px; padding-top:20px;}
.f01 p{ padding-top:41px; width:345px; float:left;}
.f01 .s_01{ float:left;height:38px; width:190px; color:#fff;border:none; background: url(../images/f_inp.gif) no-repeat;line-height:38px; padding:0 10px; color:#; font-size:14px; color:#5c8bab;}
.f01 input{ float:left;}
.f01 i{ display:block; float:left; background:url(../images/f_tel.gif) no-repeat; height:39px; width:199px; margin-top:38px; padding-left:52px; font-family:"Georgia"; color:#fff; font-size:28px;}
.f02{ height:63px; padding-top:18px;background:url(../images/f_bgg.gif) repeat-x left bottom; overflow:hidden;}
.f02 p{ width:403px; float:left; color:#fefefe; font-size:14px; line-height:24px;}
.f02 p a{ color:#fff;}
.f02 p span{ display:block;}
.f02 p img{ vertical-align:middle; margin-left:18px;}
.f02 p i{ padding-left:20px;}
.f_conr{ width:90px; padding-top:42px; text-align:center; color:#5c97bd; font-size:14px; margin-right:5px;}
.f_conr img{ width:80px; height:80px; border:5px solid #fff; display:block; margin-bottom:5px;}
.f_conr .last{ margin-right:0px;}
.links{ height:48px; line-height:48px; font-size:14px;color:#7ac2e6; overflow:hidden;}
.links a{ display:inline-block; padding:0 10px; color:#7ac2e6;}
.copy{ height:48px; line-height:48px; color:#565656; font-size:14px; text-align:center;}
/*底部结束*/
/*reset.css*/
html{color:#000;background:#FFF; width:100%; overflow-x: hidden; }
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td{margin:0;padding:0;}
table{border-collapse:collapse;border-spacing:0;}
fieldset,img{border:0;}
address,caption,cite,code,dfn,em,strong,th,var,optgroup{font-style:inherit;font-weight:inherit;}
del,ins{text-decoration:none;}
li{list-style:none;}
caption,th{text-align:left;}
q:before,q:after{content:'';}
abbr,acronym{border:0;font-variant:normal;}
sup{vertical-align:baseline;}
sub{vertical-align:baseline;} 
input,button,textarea,select,optgroup,option{font-family:inherit;font-size:inherit;font-style:inherit;font-weight:inherit;}
input,button,textarea,select{*font-size:100%;}
input,select{vertical-align:middle;}
body{font:12px/1.231 arial,helvetica,clean,sans-serif; width:100%; overflow-x:hidden;}
select,input,button,textarea,button{font:99% arial,helvetica,clean,sans-serif;}
table{font-size:inherit;font:100%; border-collapse:collapse;}
pre,code,kbd,samp,tt{font-family:monospace;*font-size:108%;line-height:100%;}
/*title*/
h1 { font-size:32px;}
h2 { font-size:26px;}
h3 { font-size:20px;}
h4 { font-size:14px;}
h5 { font-size:12px;}
h6 { font-size:10px;}

.mt10{ margin-top:10px;}

/**/
 /*temp.css  2015  xsl 整理*/
#nodata { padding:80px; padding-left:150px; border:solid 1px #eee;margin:10px 0; background:url(../images/nodata.gif) no-repeat 20px 20px;}
/* -- 弹出窗口 -- */
#mesbook1_c, #mesbook1{display:none;z-index:1001;width:398px;border:1px solid #ccc;background:#fff; padding-bottom:20px;}
#mesbook1_c div, #mesbook1 div{ border:1px solid #E4E3E3; background:#EBECEB;height:18px; padding:4px .5em 0; margin-bottom:10px;}
#mesbook1_c dl.b1, #mesbook1 dl.b1 { width:370px; margin:0 auto;}
#mesbook1_c dl.b1 dt, #mesbook1 dl.b1 dt { float:left; width:105px; overflow:hidden; }
#mesbook1_c dl.b1 dd, #mesbook1 dl.b1 dd { width:265px; float:right;}
#mesbook1_c #mesbook1_cBtns, #mesbook1 #mesbook1Btns{padding-bottom:10px;}
#mesbook1_c #mesbook1_cBtns input, #mesbook1 #mesbook1Btns input {margin-right:20px;}
/*rollup.css*/

#roll_top,#fall,#ct{position:relative;cursor:pointer;}
#roll_top{}
#fall{background:url(/Skins/Default/Img/top.gif) no-repeat 0 -80px}
#ct{background:url(/Skins/Default/Img/top.gif) no-repeat 0 -40px}
#roll{display:block;width:100px;position:fixed;right:0;bottom:0px;_margin-right:-0px;_position:absolute;_top:expression(eval(document.documentElement.scrollTop+document.documentElement.clientHeight*0.5)); z-index:100; }

.ktel{ width:290px; height:auto;}
.ktel ul{ float:right;*position:relative;right:5%;width:98px; height:118px; border:1px solid #1478ab; background:#fff;}
.ktel ul li{ height:98px;border-bottom:1px solid #1478ab; text-align:center; font-size:14px; position:relative;}
.ktel ul li a{ color:#666;}
.ktel ul li img{ display: inline-block; padding-top:15px; }
.ktel ul li.last img{width:68px; height:68px; display:block; margin:0 auto;}
.ktel ul li span{ display:block;}
.ktel p{ width:189px; height:210px;border:1px solid #1478ab;border-right:none; float:left; display:none; position:absolute; left:-191px; top:0; background:#fff;}
.ktel p i{ height:59px; display:block; background:url(../images/kufu/kf_tel.gif) no-repeat 10px 14px; font-size:20px; color:#1478ab; font-family:Georgia; line-height:58px;border-bottom:1px solid #1478ab; padding-left:46px;}
.ktel p em{ display:block; padding-left:18px; font-size:14px; color:#666;}
.ktel p em span{ display:block; font-size:18px; padding-top:6px; padding-bottom:3px;}
.ktel p em a{ display:block; padding-top:20px;}
.ktel h3{ clear:both; text-align:right; padding-top:10px;}

.kf{ height:228px; overflow:hidden; display:block; position:fixed;left:0;bottom:100px;_margin-left:0px;_position:absolute;_top:expression(eval(document.documentElement.scrollTop+document.documentElement.clientHeight*0.6)); z-index:100;}
.kf i{ font-size:0; width:31px; float:left;}
.kf p{ width:98px; float:left; text-align:center; border:1px solid #1478ab; background:#fff;}
.kf p a{ display:block;color:#666; font-size:14px;border-bottom:1px solid #1478ab; height:31px; line-height:31px; text-decoration:none;}
.kf .last,.ktel .last{ border-bottom:none;}


.ImTable *{padding:0px;margin:0px}
.ImTable{border-collapse:collapse;border:none;background:url(/UserControls/im/kefu/bg.gif)}
.ImTable h2{font-size:14px;font-weight:bold;margin-top:5px}
.ImHeader{height:164px;background:url(/UserControls/im/kefu/im_01.gif)}
.ImRow0{background:url(/UserControls/im/kefu/ico_item1.gif) no-repeat;margin:10px 10px 0;height:24px;padding-left:10px;padding-top:4px; }
.ImRow1{background:url(/UserControls/im/kefu/ico_item1.gif) no-repeat;margin:10px 10px 0;height:24px;padding-left:10px;padding-top:4px;}
a.im,a:hover.im{text-decoration:none;height:35px;color:#333; font-size:14px;}
.ImFooter{height:90px;background:url(/UserControls/im/kefu/im_04.gif) no-repeat; display:inline-block; width:150px;font-family:Arial,Helvetica,sans-serif;}
.ImFooter h5{font-size:14px;font-weight:normal; color:#333;text-align:center;margin:15px 0 0;font-family:'宋体';}
.ImFooter p{font-size:20px;font-weight:bold;  color:#fff;text-align:center;margin:10px 0;}

.topadcs{width:100%; overflow:hidden; text-align:center;margin:0px auto; margin-bottom:0;}
.topadcs a img{ width:100%; height:auto; display:block;}
.topadcs a{display:block;margin:0 auto;}
.topadcs a.fullad{ height:378px;}

 /*---面包屑导航xsl---*/


.mark{ background:#F0F0F0 url("img/pro/mark_bg.gif") repeat-x scroll 0px bottom;}
.mark .content{ background:none; margin-top:0px;}
.mark .plc{ background:none; height:52px; line-height:52px; background:url(../images/pro/location.png) no-repeat left center; padding-left:28px;}
.mark .plc em a{ color:#BD8A3A;}
.mark .plc span{ color:#333; font-weight:normal;}
.mark .plc a{ line-height:52px;}

.b13,.b15,.b14,.b16,.b17,.b18,.b19,.b20,.b21,#mesbook1 #mesbook1Btns input{ background:#B00000; border:none; border:none; height:28px; line-height:26px; color:#fff; padding-left:12px; padding-right:12px;margin: 10px 0; margin-right:5px;}
#TxtMsg{ border:1px solid #dedede;}

/* -- 翻页效果xsl-- */
.apage { height:34px; line-height:32px; background:#FAFAFA; padding:0 5px; margin-bottom:0px; margin-top:10px; text-align:right; clear:both; border:1px solid #e7e7e7;  }
.apage a { border:1px solid #999; padding:0 3px;  margin-right:5px;}
.apage .num_btns {float:right; font-family:Tahoma;}
.apage a:hover, .apage .cur { border:1px solid #2B867D; background:#2B867D; color:#fff; text-decoration:none;}
.apage .cust_txt { float:left;}
.apage .oran_pg_fp { background:url(../images/first_page.gif) 4px 4px no-repeat; padding-right:9px;}
.apage .oran_pg_pp { background:url(../images/pre_page.gif) 4px 4px no-repeat; padding-right:5px;}
.apage .oran_pg_np { background:url(../images/next_page.gif) 8px 4px no-repeat; padding-right:12px;}
.apage .oran_pg_lp { background:url(../images/last_page.gif) 8px 4px no-repeat; padding-right:12px;}
.apage select { font-size:8px; margin-top:5px; }
.apage .oran_pg_txt { height:15px; border:solid 1px #d4e3e9; width:20px; margin-left:5px;}
.apage .oran_pg_btn { height:15px; border:solid 1px #d4e3e9; margin-left:5px; font-size:9px; background:#5984ac; color:#fff; }

/*通栏 分页xsl*/
 .apage a{display:inline-block;  width:26px; height:20px; line-height:20px; margin-top:6px; padding:0px; text-align:center;}
 .apage .oran_pg_np{background: url("img/next_page.gif") no-repeat center center!important;}
 .apage .oran_pg_lp{ background: url("img/last_page.gif") no-repeat center center!important;}
 .apage .oran_pg_fp{background: url("img/first_page.gif") no-repeat center center!important;}
 .apage .oran_pg_pp{background: url("img/pre_page.gif")no-repeat center center!important; } 
 .apage .cust_txt{ font-size:14px; color:#666;}
 
.contactBox{ margin-top:12px; text-align:right; height:36px; line-height:26px; letter-spacing:1px; border-bottom: 1px dashed #ccc;}
.contactBox span{ font-weight:bold; height:26px; line-height:26px; display:inline-block;}
.contactBox b{ font-size:18px; height:26px; line-height:26px; display:inline-block; color:#F1811F; font-size:22px;}
.contactBox a.lx{ background:url(../images/pro/lxwomen.gif) no-repeat left center; height:26px; line-height:38px; margin-left:12px; font-size:0px; width:100px; display:inline-block;}
/*快速通道*/
.tong{ height:253px; clear:both;}
.tong h3{ background: url(../images/Index/t_lin.gif) no-repeat center 15px; text-align:center; font-weight:normal; height:58px;}
.tong h3 a{ color:#636363; font-size:22px;}
.tong p{ overflow:hidden; line-height:28px; margin-bottom:13px; overflow:hidden; clear:both;}
.tong p i{ display:inline-block; float:right;}
.tong p i a{ color:#999; font-size:14px;}
.tong p b{ display:inline-block; float:left; border:1px solid #cacaca; width:128px; height:33px; line-height:33px; text-align:center; font-weight:normal; margin-right:14px;}
.tong p b a{ font-size:16px; color:#555;}
.tong p span{ display:inline-block; float:left; width:695px;}
.tong p span a{ display:inline-block; color:#666; font-size:14px; padding:0 11px;}


/*---网站地图---*/
.map_main { overflow:hidden; border:solid 5px #F0F0F0; margin:10px 0; padding-bottom:10px; }
.sitemap_con { width:845px; margin:0 auto; color:#666;}
.sitemap_con .map_top { border-bottom:solid 1px #ccc; }
.sitemap_con .map_top img { float:left;}
.site_r_link {  margin-top:45px;/*上边界根据需要进行调整*/ border:1px solid #cdcdcd; background:#F8F8F8; padding:5px 10px; float:right; padding-left:6px; padding-right:6px; border-bottom:none; } /*网站地图，显示方式样式，上边界根据需要进行调整*/
.site_r_link a{ padding-left:5px; padding-right:5px;}
.site_plc { background:url(../images/ico27.gif) no-repeat 0 8px; padding:5px 0; text-indent:10px; font-size:13px; margin-bottom:12px;}
.sitemap_con h4 { line-height:30px; background:url(../images/pro/case_dot3.png) no-repeat left center; padding-left:12px;}
.sitemap_con h4 a{ line-height:28px; font-size:15px; color:#1ABD9B; font-weight:normal;}
.b4 { border:solid 1px #E0E0E0; padding:4px; margin-bottom:8px;}
.b4 ul { padding:0 11px;}
.b4 li { float:left ; line-height:28px; width:160px; white-space:nowrap; overflow:hidden; text-overflow:ellipsis; }
.b4 li a { color:#666; line-height:28px; font-size:13px;}
.b4 li a:hover { color:#1478AB;}


/*内页友情连接*/
.link2{line-height:22px; color:#555;  border:0; padding-top:20px; padding-bottom:15px; font-size:14px; width:1000px; margin:0 auto; padding-top:24px; padding-bottom:24px;}
.link2 a{ padding:0 8px;} 
.link3{ border:1px solid #ccc;width:752px; padding-bottom:10px; margin-bottom:10px; }
.link3 li{ float:left; width:114px; height:44px; line-height:0; font-size:0; padding:10px 0 0 10px;}
.link3 li img{ width:110px; height:40px; padding:1px; border:1px solid #ccc;}

/* tabbox_a  prodetailsinfo_c */
.tabbox_a{position:relative;padding:27px 0 0;}
.tabbox_a .tabtitle{position:absolute;top:0px; width:90px;height:28px;line-height:26px; text-align:center;z-index:5;font-size:1.18em;}
.tabbox_a .tabtitle_1{left:0px;}
.tabbox_a .tabtitle_2{left:92px;}
.tabbox_a .tabtitle_3{left:184px;}
.tabbox_a .tabtitle_4{left:276px;}
.tabbox_a .tabtitle_5{left:368px;}
.tabbox_a .tabtitle_6{left:460px;}
.tabbox_a .tabtitle_7{left:552px;}
.tabbox_a .tabtitle_8{left:544px;}
.tabbox_a .tabtitle_8{left:536px;}
.tabbox_a .tabtitle span{display:block;width:90px;height:26px; padding-top:2px; background-position:0 -220px;cursor:hand;cursor:pointer;}
.tabbox_a .tabtitle span.now,.tabbox_a .tabtitle span.over{color:#c00;background-position:0 -248px;}
.tabbox_a .tabcont{z-index:2;border:1px solid #dbdbdb;padding:10px 4px;margin:0 0 10px;}
.tabbox_a .tabcont .output,.detailstabbox .tabcont .output{width:740px;overflow:hidden; }
.tabbox_a .tabcont{}
.tabbox_a .tabcontnow{display:block;}
.h3_comtip{background:#fefcf4;border:1px solid #f7efd6;height:25px;line-height:25px;padding:0 10px;margin:0 5px; margin-bottom:5px; font-weight:normal;
color:#777;}
.h3_comtip span{margin:0 10px; }
.h3_comtip a{color:#c00;text-decoration:underline;}
.prodetailsinfo_b .tac{padding:15px;text-align:center;}
.sp-title{ height:32px;line-height:32px;padding:0 15px; background:url(../images/FriendLink.jpg) no-repeat -1px -1px;overflow:hidden; border:1px solid #ccc;}
.sp-title a{font-size:14px; color:#07923B;}
.formbox{ background:url(../images/FriendLinkb.jpg) no-repeat;border:1px solid #ccc;overflow:hidden; border-top:0;width:998px;}
.formbox #tbForm{margin-top:25px;}
.formbox td{ padding:3px 4px;}
.formbox input{} 
.ipt-txt{ border:1px solid #dedede; padding-top:5px; padding-bottom:5px; padding-left:3px;}
.formbox input
.formbox input.b13{border:none;padding:0;}
.friendLink{ margin-top:24px;}

/* -- 弹出窗口 -- */
#mesbook1_c, #mesbook1{display:none;z-index:1001;width:398px;border:1px solid #ccc;background:#fff; padding-bottom:20px;}
#mesbook1_c div, #mesbook1 div{ border:1px solid #E4E3E3; background:#EBECEB;height:18px; padding:4px .5em 0; margin-bottom:10px;}
#mesbook1_c dl.b1, #mesbook1 dl.b1 { width:370px; margin:0 auto;}
#mesbook1_c dl.b1 dt, #mesbook1 dl.b1 dt { float:left; width:105px; overflow:hidden; }
#mesbook1_c dl.b1 dd, #mesbook1 dl.b1 dd { width:265px; float:right;}
#mesbook1_c #mesbook1_cBtns, #mesbook1 #mesbook1Btns{padding-bottom:10px;}
#mesbook1_c #mesbook1_cBtns input, #mesbook1 #mesbook1Btns input {margin-right:20px;}

.b13,.b15,.b14,.b16,.b17,.b18,.b19,.b20,.b21,#mesbook1 #mesbook1Btns input{ background:#333; border:none; border:none; height:28px; line-height:26px; color:#fff; padding-left:12px; padding-right:12px;margin: 10px 0; margin-right:5px;}

/*搜索*/

.sear_product { overflow:hidden; border-bottom:1px #d0d0d0 dashed;margin-bottom:23px; clear:both;}
.sear_product dt { float:left;}
.sear_product dt img { width:160px; height:207px; border:5px solid #e7e7e7; display:block;}
.sear_product dd { width:550px;float:right;}
.sear_product dd h5 { font-weight:normal;font-family:"Microsoft Yahei","Microsoft Yahei"; height:53px; line-height:48px; overflow:hidden; font-size:18px; text-transform:uppercase;}
.sear_product dd h5 a { color:#1c1c1c;}
.sear_product dd .div_p { font-size:14px; font-family:"Microsoft Yahei"; color:#666; line-height:24px; overflow:hidden; margin-bottom:12px; color:#7b7b7b;}
.sear_product dd span a { font-weight:100; color:#fff; font-size:14px; display:inline-block; text-align:center; background:#1ABD9B;width:82px; line-height:24px;height:24px; color:#fff;}

.searchfr{ margin:0;}

.sear_dl{ font-size:13px; font-family:sans-serif;color: #333333; padding-bottom:20px; border-bottom:1px solid #ccc; margin-top:10px; clear:both;}
.sear_dl dt{font:16px/30px "Microsoft Yahei";}
.sear_dl dt .fr{ font-size:12px; color:#bbb;}
.sear_dl .tit_a{ color:#222222;}
.sear_dl .tit_a:hover{ color:#336699;}
.sear_dl dd{ color:#888;line-height:22px;}
.sear_dl dd .tags a{color: #1ABD9B;padding: 0 5px;}
.sear_dl dd .fx{ width:185px; float:right; padding:0;}

.rele_search h5{ margin-top:10px; font:16px/30px "Microsoft Yahei"; background:#1ABD9B; color:#fff; padding-left:20px; margin-bottom:10px;}


/*------资讯详细页右侧分类xsl--------*/
.right2{ width:232px;}
.left2{ width:750px;}
.right2_main{  width:232px; border:none;}
.left2_main{ width:750px; border:none;}
.t03 {line-height: 40px; height:40px; margin-bottom:5px; text-indent: 22px; border-bottom:2px solid #E0E0E0; margin-top:0px;}
.right2_main .t03 a { color:#1ABD9B ; display:block; font-size: 18px; font-family:"Microsoft YaHei";}
.p_rt_tit{ line-height:32px; height:32px; text-overflow: ellipsis;white-space: nowrap;overflow:hidden; color:Orange; width: 232px;background: none repeat scroll 0 0 #ddd; border-bottom: 1px solid #fff; }
.p_rt_ul li.cur .p_rt_tit{top: 134px;left:0px;position: absolute;background: none repeat scroll 0 0 #000 ;opacity: 0.6; filter:alpha(opacity=60); width: 232px; text-align:center; margin-left:0px; height:32px;}
.p_rt_ul{list-style:none; border-top:none; padding-bottom:5px; width:232px; overflow:hidden; background:#fff;}
.p_rt_ul li{ float:left; padding:0px; background:#fff;width:100%; }
.p_rt_ul li h3{ font-size:12px; font-weight:normal;color:Black; line-height:32px; height:32px; white-space: nowrap; text-overflow: ellipsis; overflow:hidden;}

.p_rt_ul .cur{background:#fff; opacity:0.9;filter:alpha(opacity=90); position: relative; padding-top: 0px;}
.p_rt_ul .cur h3 a{font-weight:bold; color:#fff;}
.p_rt_ul li h3 a{ font-size:12px; font-family:Arial; font-weight:normal; margin-left:5px; color:#1ABD9B;  height:32px;}
.p_rt_ul li.cur h3 a{ line-height:32px;}
.p_rt_ul dl{ width: 232px; overflow:hidden; display:none; background:#fff; text-align:center; margin-bottom:2px; }
.p_rt_ul dl dd{ float:left; }
.p_rt_ul dl dt{ float:left; overflow:hidden; display:block; line-height:24px; display:none;}
.p_rt_ul dl dt a{ color:#666666; font-size:12px; line-height:24px; display:block; margin-top: 5px;}
.p_rt_ul li dd img{ width:232px; height:166px; display:block;}
.p_rt_ul li .r_info{ display:block; font-size:0px;}

ul.n_rt_ul { background:none; width:230px; margin:8px auto; overflow:hidden; padding-left:5px;}
ul.n_rt_ul li { line-height:32px; overflow:hidden; white-space:nowrap; text-overflow:ellipsis; padding-left:20px; padding-right:20px; background:url(../images/pro/a2.gif) no-repeat left center;   }
ul.n_rt_ul li a{ display:block;  width:200px; white-space:nowrap; overflow:hidden; text-overflow:ellipsis; font:14px Microsoft YaHei; color:#666; height:32px; line-height:32px; padding-left:6px; }
ul.n_rt_ul li.cur{background:url(../images/pro/a1.gif) no-repeat left center; }
ul.n_rt_ul2 {width:240px; margin:8px auto; overflow:hidden;}
ul.n_rt_ul2 li { line-height:24px; height:24px; overflow:hidden; white-space:nowrap; text-overflow:ellipsis; padding-left:5px; }

.left2_main,.right2_main{ padding-bottom:15px;}
.content{ }

.e_hot{ background:#f1f1f1; height:auto; width:232px; margin-top:15px; overflow:hidden;}
.e_hot h2{ height:44px; background:#3d3d3d; text-align:center; font:24px "宋体","宋体"; line-height:45px; margin-bottom:3px; overflow:hidden;}
.e_hot h2 a,.e_hot h2{ color:#fff;}
.e_hot dl{ border-bottom:1px dotted #cfcfcf; width:232px; overflow:hidden; margin:18px auto 0;}
.e_hot dt{ width:232px; overflow:hidden; display:inline; float:left; margin-left:0px;}
.e_hot dt img{width:200px; display:block; margin:0 auto;}
.e_hot dt p{ display:none;}
.e_hot dd{ width:200px; overflow:hidden; color:#7b7b7b; font-size:14px; line-height:26px; margin-top:0px; margin:0 auto;}
.e_hot ul{ margin:20px 0 0 20px; padding-bottom:30px;}
.e_hot li{ font-size:14px; height:36px; line-height:36px; overflow:hidden; white-space:nowrap;  text-overflow:ellipsis; width:196px;}
.e_hot li a{ color:#7b7b7b;}
.e_hot li span{ display:inline-block; float:left; width:17px; height:17px; margin:9px 6px 0 0; background:#ababab; color:#fff; text-align:center; line-height:17px; overflow:hidden; font-size:12px;}
.e_hot .li01 span,.e_hot .li02 span,.e_hot .li03 span{ background:#1ABD9B; color:#fff;}
.rele_search a{ display:block; width:80px; white-space:nowrap; text-overflow:ellipsis; overflow:hidden; float:left; padding-right:10px; line-height:30px; color:#333;}

