@charset "gb2312";
body{color: #333;font:12px/1.5 '\5b8b\4f53','Verdana',sans-serif; background:url(../images/bg.jpg);}
* { margin:0; padding:0;}
a { color:#555;}
img { border:none; display:block;}
ul, li {list-style:none; -webkit-text-size-adjust:none;}
a:link {text-decoration: none;}
a:visited {text-decoration: none;}
a:hover {text-decoration: underline;}
a:active {text-decoration: none;}
ul,ol,li,dl,dt,dd { margin:0; padding:0; list-style-type:none;}
ul,dl {clear: both; overflow:hidden;}

.clear { clear: both; overflow:hidden; height:0;}

/* 首页·头部 */
#header { width:100%; height:150px;}
.top { width:980px; height:92px; margin:0 auto;}
.logo { float:left;}
.tel { float:right; padding-top:35px; font-size:24px; font-weight:bold; color:#ffd200; font-family:Georgia; line-height:20px; letter-spacing:2px;}

.nav { width:100%; height:55px; border-top:3px solid #fdf001; background:url(../images/main_03.jpg); font-family:'Microsoft Yahei';}
.nav_01 { width:980px; height:55px; margin:0 auto;}
.nav_01 ul { margin:0; padding:0;}
.nav_01 ul li { float:left; font-size:14px; font-weight:bold; line-height:55px; text-align:center;}
.nav_01 ul li a { width:108px; height:55px; display:block; color:#FFF;}
.nav_01 ul li a:hover { background:url(../images/nav.jpg); text-decoration:none;}
#li { background:url(../images/nav.jpg);}

/* BANNER */
#banner { width:980px; height:434px; margin:0 auto;}
#myFocus{width:980px; height:434px; overflow:hidden;}

/* 首页·内容 */
#content { width:980px; margin:0 auto;}
#content_bg { background:url(../images/main_03.jpg);}

.wen { font-weight:bold; padding:0 15px; float:left; font-size:16px; color:#000;}
.wen b { padding-left:10px; font-size:22px; font-family: "Times New Roman"; color:#dadada;}
.more { width:50px; height:49px; float:right; line-height:49px; text-align:center; background:url(../images/main_07_05.jpg) no-repeat left;}
.more a { color:#333;}

.hot { float:left; padding-left:140px; height:45px; line-height:45px; background:url(../images/main_06_01.jpg) no-repeat;}
.hot a { color:#CCC;}
.hot a:hover { color:#FFF;}
#search_box {width:244px;height:29px; float:right; border:1px solid #ccc; background:#FFF; margin-top:7px;}
#search_box #s {float: left;width:212px; height:29px; border:none; display:inline; padding-left:8px; line-height:29px; color:#bbb;}
#search_box #go {float: right; width:24px; height:29px;}

.case { width:980px; padding:25px 0;}
.case_bt { width:980px; height:51px; line-height:51px; background:url(../images/main_07_02.jpg) bottom repeat-x;}
.case_nei { width:980px; padding:20px 0;}
.case_nei dl { margin:0; padding:0;}
.case_nei dl dt { width:220px; float:left; padding:0 12px;}
.case_nei dl dt img { border:1px solid #ddd; margin-bottom:7px;}
.case_nei dl dt a { width:220px; height:25px; background:#ddd; display:block; text-align:center; line-height:25px; color:#333;}
.case_nei dl dt:hover img { border:1px solid #222;}
.case_nei dl dt:hover a { background:#222; color:#FFF;}

.floatL {float: left; padding-top:35px;}
.subBox {width:926px; height:183px;overflow: hidden; float:left;}
.subBox ul { width:100000px; margin:0; padding:0;}
.subBox ul li {width:209px; float: left; display:inline; padding:0 11px;}
.subBox ul li a img { border:1px solid #FFF;}
.subBox ul li a p { width:194px; height:18px; margin-top:7px; padding-left:15px; line-height:18px; background:url(../images/main_09_22.jpg) no-repeat left;}
.subBox ul li a:hover img { border:1px solid #000;}
.subBox ul li a:hover p { color:#FFF; background:#000; text-decoration:none;}

#news { background:url(../images/ico_bg.gif) no-repeat;}
.news { width:435px; padding:25px 27px; float:left;}
.news_bt { width:435px; height:51px; background:url(../images/main_08_02_07.jpg) repeat-x bottom; line-height:51px;font-weight:bold; font-size:16px; color:#FFF;}
.news_bt b { padding-left:10px; font-size:22px; font-family: "Times New Roman"; color:#373737;}
.news_bt span {width:50px; height:49px; float:right; line-height:49px; text-align:center; background:url(../images/main_08_02_03.jpg) no-repeat left; font-size:12px; font-weight: normal;}
.news_nei { width:435px; padding:23px 0; float:left;}
.news_nei ul { margin:0; padding:0;}
.news_nei ul li { width:410px; height:36px; padding-left:25px; background:url(../images/ico.gif) no-repeat left; line-height:36px;}
.news_nei ul li a { color:#FFF;}
.news_nei ul li span { float:right; color:#FFF;}

.news_img { width:395px; padding:23px 0 0 40px; background:url(../images/news_bg.jpg) no-repeat;}
.news_img ul { margin:0; padding:0;}
.news_img ul li { width:131px; height:100px; float:left; border-bottom:1px solid #000; border-right:1px solid #000;}

/* 首页·尾部 */
.footer { width:940px; padding:40px 20px; line-height:24px; color:#888;}

/* 子页样式·开始 */
.zy_main { width:950px; background:#FFF; border:8px solid #e6e6e6; padding:7px; margin:20px 0;}
.zy_left { width:234px; float:left;font-family: "Microsoft Yahei";}
.left_bt { width:234px; height:36px; margin-bottom:7px; background:#afafaf; color:#FFF; font-weight:bold; line-height:36px; font-size:14px;}
.left_bt b { padding:0 8px; font-family:'Georgia'; font-size:18px;}
.left_nei { width:200px; padding:25px 34px 5px 0; background:url(../images/sub_03_03.jpg) no-repeat right top;}
.left_nei ul { margin:0; padding:0;}
.left_nei ul li { padding-bottom:7px;}
.left_nei ul li a { width:200px; height:31px; line-height:31px; text-align:center; display:block; background:url(../images/sub_03_05.jpg) no-repeat #ddd;}
.left_nei ul li a:hover {color:#FFF; background:url(../images/sub_03_08.jpg) no-repeat #ca0000; text-decoration:none;}
#li_01 {color:#FFF; background:url(../images/sub_03_08.jpg) no-repeat #ca0000;}

.left_tel { width:180px; padding:190px 10px 0; background:url(../images/sub_03_10.jpg) no-repeat; color:#aaa; line-height:25px; font-size:14px; font-weight:bold;}
.left_tel b { width:180px; height:33px; line-height:33px; display:block; font-size:28px; font-family:"Times New Roman"; color:#555;}

.zy_right { width:716px; float:right; padding-bottom:30px;}
.right_bt { width:716px; height:47px; background:url(../images/sub_04_03.jpg); line-height:36px;}
.right_bt b { padding:0 0 11px 35px; float:left; background:url(../images/sub_04_01.jpg) no-repeat; font-size:14px;}
.right_bt span { float:right; padding:0 10px 11px 0; color:#777; background:url(../images/sub_04_04.jpg) no-repeat right;}
.right_bt span a { padding:0 5px; color:#aaa;}
.right_bt span a:hover { color:#555;} 
.right_nei { width:690px; padding:30px 10px 20px 15px; border-left:1px solid #ebebe9;min-height:500px;height:auto !important;}

/* 子页样式 新闻列表 */
.right_nei ul { margin:0; padding:0;}
.right_nei ul li {width:670px; height:40px; padding-bottom:10px; border-bottom:1px dotted #cdcdcd; margin-bottom:10px; padding-left:20px; background:url(../images/sub_12_02.jpg) no-repeat;}
.lie_left { width:670px; height:40px; float:left;}
.lie_left h1 { line-height:27px; font-size:14px;}
.lie_left h1 a:hover { text-decoration:underline;}
.lie_left h2 { line-height:13px; color:#b6b6b6; font-size:12px; font-weight:normal;}
.lie_left h2 i { font-style:normal; padding-right:10px;}

/* 子页样式 图片列表 */
.right_nei dl { margin:0; padding:0;}
.right_nei dl dt { width:300px; padding:15px 20px; float:left;}
.right_nei dl dt img { border:5px solid #ddd;}
.right_nei dl dt:hover img {border:5px solid #000;}
.right_nei dl dt p { width:290px;line-height:18px; color:#999; padding:5px 5px 0;}
.right_nei dl dt p b { color:#222; font-size:14px;}

/* 子页样式 内容页 */

.tite { width:690px; line-height:25px; text-align:center; font-size:16px; font-weight:bold; color:#333; padding:13px 0;}
.time { width:690px; border-top:1px solid #222; text-align:center; line-height:33px; height:33px;}
.time i { font-style:normal; color:#aaa; padding:0 15px;}
.new01_nei { width:690px; padding:5px 0;}
.new01_nei p { line-height:18px; text-indent:24px; padding-bottom:5px;}
.new01_nei img { padding:15px 0; text-align:center; margin:0 auto;}
.new01_wen { padding:15px 0; margin-top:20px; border-top:2px solid #111;}
.new01_wen h2 { line-height:24px; font-size:15px; font-weight:bold; padding-bottom:10px; color:#000;}
.time span { padding:0 4px; color:#666; font-weight:bold; width:330px; overflow:hidden; height:33px;}
.time span a { font-weight:normal; color:#999;}
.time span a:hover { color:#000;}
.time span i { font-style:normal; color:#bbb; font-weight:normal; padding:0;}

