* {
	margin: 0;
	padding: 0px;
	box-sizing: border-box;
	font-family: "微软雅黑";
}
@media (max-width:1919px) and (min-width: 1801px) {
  html{font-size: 15px;}
}
@media (max-width:1800px) and (min-width: 1601px) {
  html{font-size: 14px;}
}
@media (max-width:1600px) and (min-width: 1201px) {
  html{font-size: 13px;}
}
@media (max-width:1200px) and (min-width: 993px) {
  html{font-size: 12px;}
}
@media (max-width:992px) and (min-width: 769px) {
  html{font-size: 10px;}
}

li {
	list-style: none;
}

a {
	text-decoration: none;
}

.span_01 {
	color: green;
}

.span_02 {
	color: red;
}

.clear_float:after {
	display: block;
	content: "";
	clear: both;
}


/*头部*/

.mnav { background-color:rgba(0,0,0,0.5);z-index:9999;width:100%;  position: fixed; top: 0;left: 0;}
.mnav>div{width: 100%; height: 100%;}
.mnav>div>div{width:95%; margin: auto;}
.mnav>div>div>img{box-sizing:border-box;padding: 0.5rem; width: 9rem;}
.mnav nav{float: right; }
.mnav nav{width: 50%;}
.mnav nav li{text-align:center;display: inline-block; margin:0 2%; width:9%;}
.mnav nav li img{width:3.375rem; height: 1.5625rem;}
.mnav nav li a{color: #BAB7B6; font-size: 1.625rem; display: inline-block; padding: 2rem 0 0.5rem;}
.mnav nav li.active>a{border-bottom: 3px solid #70B92B; color: #70B92B;}
/**/
.con_right{position: fixed; right: 0; top: 30%; z-index: 10;}
.con_nav ul{background-color: rgb(0,0,0); border-top-left-radius: 0.625rem;border-bottom-left-radius: 0.625rem; border: 1px solid #1E1E20;}
.con_nav li{cursor:pointer;color:#89898A;width: 3.125rem; height: 3.125rem; font-size: 2rem; line-height: 3.125rem; text-align: center;}
.con_nav li:hover{color: #3C3D3D;}
.con_nav a{text-align:center; color:#89898A; display:inline-block;width: 3.125rem; height: 3.125rem; line-height: 3.125rem; font-size: 2rem;}
.con_nav a:hover{color: #3C3D3D;}
.con_intr{position: absolute; left: -11.25rem;width: 11.25rem; height: 9.375rem; top: 0px;}
.con_zx ul{padding: 0px 1.25rem 0px 1.25rem;}
.con_zx li{margin: 1.875rem 0; cursor: pointer;}
.con_zx li a{padding: 0.625rem 1.875rem; color: #70b92b; border: 1px solid #70b92b; border-radius: 0.3125rem;}
.con_zx li a:hover{background-color: #70b92b; color: #FFFFFF;}
.con_zx{margin-top:2.5rem;background-color: rgb(0,0,0);border: 1px solid #1E1E20; border-top-left-radius: 0.625rem; border-bottom-left-radius: 0.625rem;}
.con_pho{height:3.125rem;margin-top:6.5625rem;background-color: rgb(0,0,0); text-align: center;font-size: 1.125rem; border: 1px solid #1E1E20; border-top-left-radius: 0.625rem;border-bottom-left-radius: 0.625rem;}
.con_pho p{line-height: 3.125rem; color: #70b92b;}
.con_gw{margin-top:1.875rem;background-color: rgb(0,0,0); border-top-left-radius: 0.625rem;border-bottom-left-radius: 0.625rem;border: 1px solid #1E1E20;}
.con_gw img{width: 7.5rem; height: 7.5rem; margin: 1.875rem;}

.beijing{
	background-image: url(../images/yyin.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
.childer {
	margin: auto;
	background-color: #FFFFFF;
	text-align: center;
	border:1px solid #ddd;
}

.childer li {
	display: inline-block;
	text-align: center;
	line-height: 3.125rem;
	width: 10%;
	border-right: 2px #e0e0e0 solid;
}

.childer li a {
	display: inline-block;
	color: black;
	border-bottom: 3px solid #fff;
}

.childer li a:hover {
	border-bottom: 3px solid #5f5f5f;
}

.banner img {
	width: 100%;
	display: block;
}


/*营销推广*/

.tg {
	background-color: #f3f2f2;
	text-align: center;
	position: relative;
	border-bottom: 1px solid #67a82d;
	width: 100%;
	margin: auto;
}

.tg h3 {
	color: #70b92b;
	font-size: 2.81rem;
	padding-top: 60px;
	padding-bottom: 100px;
}

.tg_top {
	width: 53%;
	margin: auto;
	text-align: center;
	 padding-bottom: 50px;
}

.tg_img img {
	    width: 100%;
   
}

.sjx img {
	text-align: center;
	position: absolute;
	left: 50%;
	top: 99%;
	z-index: 11;
	-moz-transform: translate(-50%, 0);
	-webkit-transform: translate(-50%, 0);
	-o-transform: translate(-50%, 0);
	-ms-transform: translate(-50%, 0);
}

.tg:after {
	content: '';
	position: absolute;
	top: 100%;
	left: 50%;
	color: #f3f2f2;
	border-left: 55px solid transparent;
	border-right: 55px solid transparent;
	border-top: 50px solid #f3f2f2;
	-moz-transform: translate(-50%, 0);
	-webkit-transform: translate(-50%, 0);
	-o-transform: translate(-50%, 0);
	-ms-transform: translate(-50%, 0);
}


/*营销系统*/

.xitong {
	width: 83%;
	margin: auto;
	text-align: center;
	padding-top: 100px;
	padding-bottom: 100px;
	position: relative;
}

.sjx2 img {
	text-align: center;
	position: absolute;
	top: 99%;
	left: 50%;
	z-index: 10;
	-moz-transform: translate(-50%, 0);
	-webkit-transform: translate(-50%, 0);
	-o-transform: translate(-50%, 0);
	-ms-transform: translate(-50%, 0);
}

.xitong:after {
	content: '';
	position: absolute;
	top: 100%;
	left: 50%;
	color: #fff;
	border-left: 55px solid transparent;
	border-right: 55px solid transparent;
	border-top: 50px solid #fff;
	z-index: 1;
	-moz-transform: translate(-50%, 0);
	-webkit-transform: translate(-50%, 0);
	-o-transform: translate(-50%, 0);
	-ms-transform: translate(-50%, 0);
}

.xitong_title h3 {
	color: #70b92b;
	font-size: 2.81rem;
	letter-spacing: 3px;
}

.xitong_top p {
	font-size: 1.13rem;
	line-height: 30px;
	padding-left: 4%;
	padding-right: 4%;
	padding-top: 20px;
}

.xitong_title p {
	color: #7f7f83;
	font-size: 0.86rem;
	line-height: 60px;
}

.xitong_title p:after {
	content: '';
	display: block;
	margin: auto;
	width: 3%;
	border-bottom: 2px solid #6db12f;
}

.xitong_top ul li{
	width: 33.3333%;
	float: left;
}
.xitong_top{
	margin-top: 5.5rem;
}
.xitong_top ul li >div{
	background-color: #f3f2f2;
	border: 1px dashed #70b92b;
}
.xitong_top ul li >div h4{
	font-size: 1.875rem;
	margin-bottom: 2.5rem;
	font-weight: 500;
}
.xitong_top ul li p{
	    font-size: 1.125rem;
    margin-top: 2.5rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    padding: 0 31px;
    line-height: 2;
}
.xitong_top ul li >div img{
	display: block;
    margin: 0 auto;
    margin-top: 3.375rem;
    margin-bottom: 1.5625rem;
    width: 32%;
}
/*运营效率*/

.xiaolv {
	background-color: #f3f2f2;
	width: 100%;
	margin: auto;
	text-align: center;
	padding-top: 100px;
	padding-bottom: 80px;
	position: relative;
}

.xiaolv:after {
	content: '';
	position: absolute;
	top: 100%;
	left: 50%;
	color: #f3f2f2;
	border-left: 55px solid transparent;
	border-right: 55px solid transparent;
	border-top: 50px solid #f3f2f2;
	-moz-transform: translate(-50%, 0);
	-webkit-transform: translate(-50%, 0);
	-o-transform: translate(-50%, 0);
	-ms-transform: translate(-50%, 0);
}

.xiaolv_top {
	width: 80%;
	margin: auto;
	text-align: center;
	padding-top: 5%;
}

.yy_top img {
	text-align: center;
	padding-top: 18%;
	width: 12%;
}


.xiaolv_yy1 p {
	font-size: 1rem;
    position: absolute;
    top: 40%;
    left: 18%;
    width: 15%;
    text-align: left;
	
	-moz-transform: translate(-50%, 0);
	-webkit-transform: translate(-50%, 0);
	-o-transform: translate(-50%, 0);
	-ms-transform: translate(-50%, 0);
}

.xiaolv_yy1 h4 {
	font-size: 1.75rem;
	position: absolute;
	top: 33%;
	left: 15%;
	-moz-transform: translate(-50%, 0);
	-webkit-transform: translate(-50%, 0);
	-o-transform: translate(-50%, 0);
	-ms-transform: translate(-50%, 0);
}


.xiaolv_yy2 p {
	font-size: 1rem;
	position: absolute;
	top: 40%;
	    left: 78%;
    width: 15%;
	text-align: left;
	-moz-transform: translate(-50%, 0);
	-webkit-transform: translate(-50%, 0);
	-o-transform: translate(-50%, 0);
	-ms-transform: translate(-50%, 0);
}

.xiaolv_yy2 h4 {
	font-size: 1.75rem;
	position: absolute;
	top: 33%;
	left: 75%;
	-moz-transform: translate(-50%, 0);
	-webkit-transform: translate(-50%, 0);
	-o-transform: translate(-50%, 0);
	-ms-transform: translate(-50%, 0);
}


.xiaolv_yy3 p {
	font-size: 1rem;
	position: absolute;
	top: 81%;
	left: 78%;
	width: 15%;
	text-align: left;
	-moz-transform: translate(-50%, 0);
	-webkit-transform: translate(-50%, 0);
	-o-transform: translate(-50%, 0);
	-ms-transform: translate(-50%, 0);
}

.xiaolv_yy3 h4 {
	font-size: 1.75rem;
	position: absolute;
	top: 74%;
	left: 75%;
	-moz-transform: translate(-50%, 0);
	-webkit-transform: translate(-50%, 0);
	-o-transform: translate(-50%, 0);
	-ms-transform: translate(-50%, 0);
}


.xiaolv_yy4 p {
	font-size: 1rem;
	position: absolute;
	top: 81%;
	left: 24%;
    width: 15%;
	text-align: left;
	-moz-transform: translate(-50%, 0);
	-webkit-transform: translate(-50%, 0);
	-o-transform: translate(-50%, 0);
	-ms-transform: translate(-50%, 0);
}

.xiaolv_yy4 h4 {
	font-size: 1.75rem;
	position: absolute;
	top: 74%;
	left: 22%;
	-moz-transform: translate(-50%, 0);
	-webkit-transform: translate(-50%, 0);
	-o-transform: translate(-50%, 0);
	-ms-transform: translate(-50%, 0);
}
.xiaolv_yy5 img{
	width: 45%;
	
}

/*解决方案*/

.fangan {
	width: 100%;
	margin: auto;
	text-align: center;
	position: relative;
	    padding-bottom: 10%;
}

.fangan:after {
	content: '';
	position: absolute;
	top: 100%;
	left: 50%;
	color: #fff;
	z-index: 1;
	border-left: 55px solid transparent;
	border-right: 55px solid transparent;
	border-top: 50px solid #fff;
	-moz-transform: translate(-50%, 0);
	-webkit-transform: translate(-50%, 0);
	-o-transform: translate(-50%, 0);
	-ms-transform: translate(-50%, 0);
}

.fangan_title {
	padding-top: 80px;
}

.fangan_title h3 {
	font-size: 2.81rem;
	letter-spacing: 3px;
	color: #f2a62f;
}

.fangan_title h3 span {
	color: #70b92b;
}

.fangan_title p {
	color: #7f7f83;
	font-size: 1rem;
	line-height: 60px;
}

.fangan_title p:after {
	content: '';
	display: block;
	margin: auto;
	width: 3%;
	border-bottom: 2px solid #6db12f;
}

.fangan_top {
	padding-top: 9.5%;
     width: 63%;
	margin: auto;
	text-align: center;
	
}

.fangan ul li {
	float: left;
	width: 33.33%;
	padding-left: 3%;
   padding-right: 3%;
}


.fangan_top1 p {
	font-size: 1rem;
	color: #7f7f83;
}

.fangan_top1 {
	width: 100%;
	margin: auto;
	text-align: center;
	padding-top: 80px;
}

.fangan_top img{width: 100%;}

/*功能模块*/
.gongn {
	background: #f3f2f2;
	text-align: center;
	margin: auto;
	width: 100%;
	position: relative;
	padding-bottom: 150px;
	padding-top: 150px;
}

.gongn:after {
	content: '';
	position: absolute;
	top: 100%;
	left: 50%;
	color: #f3f2f2;
	border-left: 55px solid transparent;
	border-right: 55px solid transparent;
	border-top: 50px solid #f3f2f2;
	-moz-transform: translate(-50%, 0);
	-webkit-transform: translate(-50%, 0);
	-o-transform: translate(-50%, 0);
	-ms-transform: translate(-50%, 0);
}

.gongn_top {
	width: 48%;
	margin: auto;
	text-align: center;
}
.gongn_top img{width: 100%;}   
.gongn_top h3 {
	font-size: 2.81rem;
	letter-spacing: 3px;
	color: #70b92b;
}
.gongn p {
	font-size: 1rem;
	color: #7f7f83;
	line-height: 25px;
	padding-bottom: 100px;
}

.hd1 h4 {
	font-size: 1.5rem;
	color: #638ddd;
	padding-bottom: 40px;
	padding-top: 120px;
}
.hd2 h4 {
	font-size: 1.5rem;
	color: #ff5a00;
	padding-bottom: 40px;
	padding-top: 120px;
}

.hd3 h4 {
	font-size: 1.5rem;
	color: #f252c7;
	padding-bottom: 40px;
	padding-top: 120px;
}

.hd4 h4 {
	font-size: 1.5rem;
	color: #f9be00;
	padding-bottom: 40px;
	padding-top: 120px;
}


	
/*城市商圈*/
.city {
	width: 84%;
	margin: auto;
	text-align: center;
	padding-top: 5%;
	position: relative;
}
.city_top{
	padding-top: 5%;
	display: table-cell;
}
.city_title h3 {
	color: #f08b3b;
	font-size: 2.81rem;
	letter-spacing: 3px;
}

.city_title p {
	color: #7f7f83;
	font-size: 1.25rem;
	line-height: 60px;
}

.city_title p:after {
	content: '';
	display: block;
	margin: auto;
	width: 3%;
	border-bottom: 2px solid #6db12f;
}

.city_left {
	display: table-cell;
	 vertical-align: middle;
	 width: 30%;
	
}

.city_left img {
	width: 90%;
    display: block;
}

.city_right {
	width: 26%;
   vertical-align: middle;
    display: table-cell;
    margin-right: 2%;
    
}

.city_right p {
	text-align: left;
	padding-bottom: 5%;
	font-size: 1.375rem;
}

.p1 {
	color: #69b20b;
}

.p2 {
	color: #f08b3b;
}

.p3 {
	color: #f41919;
}

.city .sjx>img {
	text-align: center;
	position: absolute;
	left: 50%;
	top: 99%;
	z-index: 11;
	-moz-transform: translate(-50%, 0);
	-webkit-transform: translate(-50%, 0);
	-o-transform: translate(-50%, 0);
	-ms-transform: translate(-50%, 0);
}

.city:after {
	content: '';
	position: absolute;
	top: 100%;
	left: 50%;
	color: #fff;
	border-left: 55px solid transparent;
	border-right: 55px solid transparent;
	border-top: 50px solid #fff;
	z-index: 1;
	-moz-transform: translate(-50%, 0);
	-webkit-transform: translate(-50%, 0);
	-o-transform: translate(-50%, 0);
	-ms-transform: translate(-50%, 0);
}


/*发展阶段*/

.jieduan {
	background-color: #f3f2f2;
	width: 100%;
	margin: auto;
	text-align: center;
	padding-top: 7%;
	position: relative;
}

.jieduan:after {
	content: '';
	position: absolute;
	top: 100%;
	left: 50%;
	color: #f3f2f2;
	border-left: 55px solid transparent;
	border-right: 55px solid transparent;
	border-top: 50px solid #f3f2f2;
	z-index: 1;
	-moz-transform: translate(-50%, 0);
	-webkit-transform: translate(-50%, 0);
	-o-transform: translate(-50%, 0);
	-ms-transform: translate(-50%, 0);
}

.jieduan h3 {
	color: #70b92b;
	font-size: 2.81rem;
	letter-spacing: 3px;
	padding-bottom: 10%;
}

.jieduan_top {
	padding-bottom: 120px;
	width: 73%;
    text-align: center;
    margin: auto;
}

.jieduan_top img {
	width: 100%;
	padding-left: 20%;
	padding-right: 20%;
}


/*提升*/

.tishen {
	width: 58%;
	margin: auto;
	text-align: center;
	padding-top: 8%;
	position: relative;
}

.tishen:after {
	content: '';
	position: absolute;
	top: 100%;
	left: 50%;
	color: #fff;
	border-left: 55px solid transparent;
	border-right: 55px solid transparent;
	border-top: 50px solid #fff;
	z-index: 1;
	-moz-transform: translate(-50%, 0);
	-webkit-transform: translate(-50%, 0);
	-o-transform: translate(-50%, 0);
	-ms-transform: translate(-50%, 0);
}

.tishen_top {
	padding-bottom: 100px;
}
.tishen_top img{width: 100%;}
.tishen_top h3 {
	font-size: 2.81rem;
	color: #70b92b;
	letter-spacing: 3px;
}

.tishen_top p {
	font-size: 1.25rem;
	color: #8c8787;
	padding-top: 30px;
	padding-bottom: 50px;
}


/*问题*/

.wenti {
	width: 100%;
	text-align: center;
	margin: auto;
	background-color: #f3f2f2;
	position: relative;
}

.wenti:after {
	content: '';
	position: absolute;
	top: 100%;
	left: 50%;
	color: #f3f2f2;
	border-left: 55px solid transparent;
	border-right: 55px solid transparent;
	border-top: 50px solid #f3f2f2;
	z-index: 1;
	-moz-transform: translate(-50%, 0);
	-webkit-transform: translate(-50%, 0);
	-o-transform: translate(-50%, 0);
	-ms-transform: translate(-50%, 0);
}

.wenti_top {
	padding-top: 100px;
	width: 75%;
	margin: auto;
	text-align: center;
	padding-bottom: 120px;
}

.wenti_top h3 {
	font-size: 2.81rem;
	color: #70b92b;
}

.wenti_top span {
	font-size: 2.81rem;
	color: #f2a62f;
}

.wenti_top ul {
	display: inline-block;
	width: 100%;
	padding-top: 80px;
}

.wenti_top li {
	display: inline-block;
	width: 23%;
	
}

.wenti_top ul li img {
	display: inline-block;
	width: 65%;
	padding-bottom: 50px;
}

.wenti_top ul li p {
	color: #737270;
	font-size: 1.375rem;
	line-height: 30px;
}


/*商业模式*/

.moshi {
	width: 80%;
	text-align: center;
	margin: auto;
	position: relative;
}

.moshi:after {
	content: '';
	position: absolute;
	top: 100%;
	left: 50%;
	color: #fff;
	border-left: 55px solid transparent;
	border-right: 55px solid transparent;
	border-top: 50px solid #fff;
	z-index: 1;
	-moz-transform: translate(-50%, 0);
	-webkit-transform: translate(-50%, 0);
	-o-transform: translate(-50%, 0);
	-ms-transform: translate(-50%, 0);
}

.moshi_top {
	padding-top: 120px;
	padding-bottom: 120px;
}

.moshi_top h3 {
	font-size: 2.81rem;
	color: #70b92b;
	letter-spacing: 3px;
}

.moshi_top span {
	font-size: 2.81rem;
	color: #f2a62f;
}
.moshi_p{
	padding-top: 30px;
	padding-bottom: 100px;
}
.moshi_p p {
	color: #737270;
	font-size: 1rem;
	line-height: 30px;
	margin: auto;
	
}

.moshi_p:after {
	content: '';
	display: block;
	margin: auto;
	width: 3%;
	padding-top: 30px;
	border-bottom: 2px solid #6db12f;
}

.moshi_top img {
	width: 90%;
}


/*跨界融合*/

.kjie {
	background-color: #F3F2F2;
	width: 100%;
	margin: auto;
	text-align: center;
	position: relative;
}

.kjie:after {
	content: '';
	position: absolute;
	top: 100%;
	left: 50%;
	color: #F3F2F2;
	border-left: 55px solid transparent;
	border-right: 55px solid transparent;
	border-top: 50px solid #F3F2F2;
	z-index: 1;
	-moz-transform: translate(-50%, 0);
	-webkit-transform: translate(-50%, 0);
	-o-transform: translate(-50%, 0);
	-ms-transform: translate(-50%, 0);
}

.rh {
	width: 78%;
	margin: auto;
	text-align: center;
	padding-top: 100px;
	padding-bottom: 100px;
	position: relative;
}

.rh_top .rh_p {
	padding-left: 11%;
	padding-right: 11%;
	font-size: 1.125rem;
	padding-bottom: 10px;
    padding-top: 10px;
    line-height: 30px;
}

.sjx2 img {
	text-align: center;
	position: absolute;
	top: 99%;
	left: 50%;
	z-index: 99999;
	-moz-transform: translate(-50%, 0);
	-webkit-transform: translate(-50%, 0);
	-o-transform: translate(-50%, 0);
	-ms-transform: translate(-50%, 0);
}

.rh:after {
	content: '';
	position: absolute;
	top: 100%;
	left: 50%;
	color: #fff;
	border-left: 55px solid transparent;
	border-right: 55px solid transparent;
	border-top: 50px solid #fff;
	z-index: 1;
	-moz-transform: translate(-50%, 0);
	-webkit-transform: translate(-50%, 0);
	-o-transform: translate(-50%, 0);
	-ms-transform: translate(-50%, 0);
}

.xitong_title h3 {
	color: #70b92b;
	font-size: 2.5rem;
	letter-spacing: 3px;
}

.xitong_title p {
	color: #7f7f83;
	font-size: 1rem;
	line-height: 60px;
}

.xitong_title p:after {
	content: '';
	display: block;
	margin: auto;
	width: 3%;
	border-bottom: 2px solid #6db12f;
}

.rh_top {
	width: 90%;
	margin: auto;
	text-align: center;
	margin-top: 55px;
}

.rh_top>div {
	float: left;
	width: 33.33%;
	height: 400px;
	
}

.rh_top figure {
	background-color: #fff;
	border: 1px solid #8dc879;
	height: 19.375rem;
	padding-top: 5rem;
}

.rh_top figure img {
	height: 8.4375rem;
	padding-top: 1.25rem;
	padding-bottom: 1.25rem;
}

.rh_top figcaption {
	font-size: 1.6875rem;
	padding-bottom: 20px;
}

.clear_float:after {
	display: block;
	content: "";
	clear: both;
}

.last_fig {
	position: relative;
}

.last_fig figcaption {
	position: absolute;
	left: 47%;
    top: 38%;
	font-size: 1.5rem;
	-moz-transform: translate(-50%, 0);
	-webkit-transform: translate(-50%, 0);
	-o-transform: translate(-50%, 0);
	-ms-transform: translate(-50%, 0);
}

.last_fig figure {
	background-image: url(../images/city/kj6.png);
	background-position: right;
	background-repeat: no-repeat;
	    background-size: 66% 100%;
}


/*营销特征*/

.tezhen {
	margin: auto;
	text-align: center;
	width: 100%;
	background-color: #f3f2f2;
	position: relative;
}

.tezhen:after {
	content: '';
	position: absolute;
	top: 100%;
	left: 50%;
	color: #f3f2f2;
	border-left: 55px solid transparent;
	border-right: 55px solid transparent;
	border-top: 50px solid #f3f2f2;
	z-index: 1;
	-moz-transform: translate(-50%, 0);
	-webkit-transform: translate(-50%, 0);
	-o-transform: translate(-50%, 0);
	-ms-transform: translate(-50%, 0);
}

.tezhen_top {
	width: 77%;
	margin: auto;
	text-align: center;
	padding-bottom: 150px;
}

.tezhen_top h3 {
	font-size: 2.81rem;
	color: #70b92b;
	letter-spacing: 2px;
	padding-top: 80px;
}

.tezhen_top h4 {
	font-size: 1.5625rem;
	color: #70b92b;
	padding-top: 10px;
	    padding-bottom: 10px;
}

.tezhen_top div {
	padding-bottom: 30px;
}

.tezhen_top p {
	font-size: 1.0625rem;
	color: #7f7f83;
	padding: 0px;
	line-height: 30px;
}

.tezhen_top ul {
	padding-top: 100px;
}

.tezhen_top ul li {
	float: left;
	width: 33%;
}

.tezhen_top img {
	width: 50%;
}


/*分销系统*/

.fxxtong {
	margin: auto;
	text-align: center;
	width: 100%;
	background-color: #f3f2f2;
	position: relative;
	border-bottom: 1px solid #67a82d;
}

.fxxtong:after {
	content: '';
	position: absolute;
	top: 100%;
	left: 50%;
	color: #f3f2f2;
	border-left: 55px solid transparent;
	border-right: 55px solid transparent;
	border-top: 50px solid #f3f2f2;
	z-index: 1;
	-moz-transform: translate(-50%, 0);
	-webkit-transform: translate(-50%, 0);
	-o-transform: translate(-50%, 0);
	-ms-transform: translate(-50%, 0);
}

.fxxtong_top {
	margin: auto;
	text-align: center;
	width: 76%;
	padding-bottom: 100px;
}

.fxxtong_top h3 {
	font-size: 2.81rem;
	color: #70b92b;
	letter-spacing: 2px;
	padding-top: 80px;
}

.fxxtong_top h3:after {
	content: '';
	display: block;
	margin: auto;
	width: 3%;
	border-bottom: 2px solid #6db12f;
	padding-top: 80px;
}

.fxxtong_p {
	padding-top: 20px;
	
    padding-bottom: 30px;
}

.fxxtong_top p {
	font-size: 1.375rem;
	color: #7f7f83;
	padding-bottom: 20px;
}

.fxxtong_img img {
	display: block;
	width: 100%;
}

.fxxtong_img .fxxtong_li1 {
	float: left;
	width: 35%;
	
}
.fxxtong_img .fxxtong_li2 {
	float: right;
	width: 32%;
	}

/*亮点*/

.liangd {
	width: 87%;
	margin: auto;
	text-align: center;
	position: relative;
}

.liangd:after {
	content: '';
	position: absolute;
	top: 100%;
	left: 50%;
	color: #fff;
	border-left: 55px solid transparent;
	border-right: 55px solid transparent;
	border-top: 50px solid #fff;
	z-index: 1;
	-moz-transform: translate(-50%, 0);
	-webkit-transform: translate(-50%, 0);
	-o-transform: translate(-50%, 0);
	-ms-transform: translate(-50%, 0);
}

.liangd_top {
	padding-top: 60px;
	padding-bottom: 70px;
}

.liangd_top h4 {
	font-size: 1.75rem;
	letter-spacing: 3px;
	padding-bottom: 10px;
}

.liangd_top p {
	padding: 0px;
	font-size: 1rem;
	line-height: 20px;
}

.liangd h3 {
	font-size: 2.81rem;
	color: #70b92b;
	padding-top: 100px;
}

.liangd h3 span {
	color: #f2a62f;
}

.ul1 {
	float: left;
	width: 30%;
	padding-top: 3%;
	text-align: left;
}

.ul1_li1 {
	padding-bottom: 30%;
	padding-left: 18%;
}

.ul1_li3 {
	padding-left: 18%;
}

.ul2_li1 {
	padding-bottom: 30%;
}

.ul1_li2 {
	padding-bottom: 30%;
}

.ul2_li2 {
	padding-bottom: 30%;
}

.ul1_li1 h4 {
	color: #0297d5;
}

.ul1_li2 h4 {
	color: #66b732;
}

.ul2_li2 {
	padding-left: 14%;
	padding-bottom: 38%;
}

.ul1_li3 h4 {
	color: #fdcf00;
}

.ul2 {
	float: right;
	width: 30%;
	padding-top: 3%;
	text-align: left;
}

.sjx1 img {
	text-align: center;
	position: absolute;
	left: 50%;
	top: 99.8%;
	z-index: 11;
	-moz-transform: translate(-50%, 0);
	-webkit-transform: translate(-50%, 0);
	-o-transform: translate(-50%, 0);
	-ms-transform: translate(-50%, 0);
}

.ul2_li1 h4 {
	color: #a5779e;
}

.ul2_li2 h4 {
	color: #ee7e00;
}

.ul2_li3 h4 {
	color: #9bd7f6;
}

.liangd_top img {
	float: left;
	width: 40%;
}


/*解决方案  */


.jjfan {
	width: 100%;
	margin: auto;
	text-align: center;
	position: relative;
}

.jjfan:after {
	content: '';
	position: absolute;
	top: 100%;
	left: 50%;
	color: #fff;
	border-left: 55px solid transparent;
	border-right: 55px solid transparent;
	border-top: 50px solid #fff;
	z-index: 1;
	-moz-transform: translate(-50%, 0);
	-webkit-transform: translate(-50%, 0);
	-o-transform: translate(-50%, 0);
	-ms-transform: translate(-50%, 0);
}

.jjfan_title h3 {
	color: #70b92b;
	font-size: 2.81rem;
	letter-spacing: 3px;
}

.jjfan_title p {
	color: #7f7f83;
	font-size: 1rem;
	line-height: 60px;
	margin: .5em;
}

.jjfan_title p:after {
	content: '';
	display: block;
	margin: auto;
	width: 3%;
	border-bottom: 2px solid #6db12f;
}

.jjfan_top span {
	color: #f2a62f;
}

.jjfan_top {
	margin-top: 6em;
}

.jjfan_top1 {
	padding-top: 10%;
	display: table-cell;
	padding-bottom: 5%;
	width: 89%;
}

.jjfan_left {
	display: table-cell;
	width: 35%;
}

.jjfan_left img {
	display: table-cell;
	vertical-align: middle;
	display: block;
	width: 100%;
}

.jjfan_rigft {
	display: table-cell;
	width: 40%;
	 padding-left: 8%;
	vertical-align: middle;
	text-align: left;
	
}

.jjfan_rigft h4 {
	color: #70b92b;
	font-size: 1.875rem;
}

.jjfan_rigft p {
	font-size: 1.13rem;
	
	line-height: 30px;
	color: #7f7f83;
}


/*服务  */

.fuwu {
	position: relative;
	width: 100%;
	margin: auto;
	text-align: center;
	padding-top: 120px;
	background-color: #f3f2f2;
}

.fuwu:after {
	content: '';
	position: absolute;
	top: 100%;
	left: 50%;
	color: #f3f2f2;
	border-left: 55px solid transparent;
	border-right: 55px solid transparent;
	border-top: 50px solid #f3f2f2;
	-moz-transform: translate(-50%, 0);
	-webkit-transform: translate(-50%, 0);
	-o-transform: translate(-50%, 0);
	-ms-transform: translate(-50%, 0);
}

.fuwu_top {
	margin-top: 3em;
	padding-bottom: 120px;
	width: 75%;
	text-align: center;
	margin: auto;
}

.fuwu-left {
	width: 50%;
	float: left;
}

.fuwu-left ul li {
	height: 110px;
	margin-bottom: 50px;
	text-align: left;
}

.fuwu-left span {
	width: 90px;
	height: 90px;
	float: left;
	margin-right: 20px;
}

.fuwu-left ul li h5 {
	display: block;
	font-size: 1.875rem;
	color: #323232;
	font-weight: bold;
	padding-top: 15px;
}

.fuwu-left ul li p {
	display: block;
	font-size: 1.25rem;
	color: #646464;
	margin-top: 8px;
}

.fuwu_title h3 {
	color: #70b92b;
	font-size: 2.81rem;
	letter-spacing: 3px;
}

.fuwu_title h3 span {
	color: #f08b3b;
	font-size: 2.81rem;
	letter-spacing: 3px;
}

.fuwu_title p {
	color: #7f7f83;
	font-size: 1rem;
	line-height: 60px;
	padding-bottom: 100px;
}

.fuwu_title p:after {
	content: '';
	display: block;
	margin: auto;
	width: 3%;
	border-bottom: 2px solid #6db12f;
}


/*在线视频和在线教育*/

.ws {
	display: none;
}

.shipin {
	margin: auto;
	text-align: center;
	width: 100%;
	background-color: #f3f2f2;
	position: relative;
}
.shipin_top{
	margin: auto;
	text-align: center;
	width: 60%;
	padding-bottom: 5%;
	}
	.shipin_top img{
	width: 100%;}
.shipin:after {
	content: '';
	position: absolute;
	top: 100%;
	left: 50%;
	color: #f3f2f2;
	border-left: 55px solid transparent;
	border-right: 55px solid transparent;
	border-top: 50px solid #f3f2f2;
	-moz-transform: translate(-50%, 0);
	-webkit-transform: translate(-50%, 0);
	-o-transform: translate(-50%, 0);
	-ms-transform: translate(-50%, 0);
}

.shipin_title h3 {
	font-size: 2.81rem;
	color: #70b92b;
	letter-spacing: 2px;
	padding-top: 100px;
}

.shipin_title p {
	font-size: 1.25rem;
	color: #7f7f83;
	padding-top: 30px;
	padding-bottom: 100px;
}

.shipin_title p:after {
	content: '';
	display: block;
	margin: auto;
	width: 3%;
	border-bottom: 2px solid #6db12f;
	padding-top: 30px;
}

.i_left,
.i_left2 {
	width: 50%;
	float: left;
	margin-top: 30px;
	font-size: 0.875rem;
	color: #5F5F5F;
}

.i_left p {
	margin-left: 45%;
	text-align: left;
}

.i_left,
.i_left2 {
	width: 50%;
	float: left;
	margin-top: 30px;
	font-size: 0.875rem;
	color: #5F5F5F;
}

.zi_01 i {
	width: 30px;
	height: 10px;
	position: absolute;
	z-index: 30;
	background: #bdde39;
	margin-left: -4%;
	margin-top: 5px;
}

.zi_02 i {
	background: #bdde39;
	height: 4px;
	width: 40px;
	display: block;
	position: absolute;
	z-index: 20;
	margin-left: -14px;
	margin-top: 1.5px;
}

.maket_ly {
	font-size: 1.125rem;
	color: #969696;
	margin-top: 30px;
	padding-bottom: 100px;
}

.zi_02 {
	width: 10px;
	height: 10px;
	position: absolute;
	z-index: 30;
	background: #bdde39;
	border-radius: 100%;
	margin-top: 5px;
	margin-left: 5%;
}


/*直播分销 */

.fenxiao {
	border-bottom: 1px solid #67a82d;
	margin: auto;
	text-align: center;
	width: 100%;
	position: relative;
}

.fenxiao:after {
	content: '';
	position: absolute;
	top: 100%;
	left: 50%;
	color: #fff;
	z-index: 1;
	border-left: 55px solid transparent;
	border-right: 55px solid transparent;
	border-top: 50px solid #fff;
	-moz-transform: translate(-50%, 0);
	-webkit-transform: translate(-50%, 0);
	-o-transform: translate(-50%, 0);
	-ms-transform: translate(-50%, 0);
}

.fenxiao_top {
	padding-bottom: 100px;
	padding-top: 80px;
	width: 55%;
	text-align: center;
	margin: auto;
}

.fenxiao_top p:after {
	content: '';
	display: block;
	margin: auto;
	width: 3%;
	border-bottom: 2px solid #6db12f;
}

.fenxiao_top img {
	width: 100%;
}

.fenxiao h3 span {
	color: #f08b3b;
	font-size: 2.81rem;
	letter-spacing: 3px;
}

.fenxiao p {
	color: #69b20b;
	font-size: 1.25rem;
	line-height: 60px;
}


/*微视 */

.weishi {
	width: 75%;
	margin: auto;
	text-align: center;
	position: relative;
}

.weishi:after {
	content: '';
	position: absolute;
	top: 100%;
	left: 50%;
	color: #fff;
	z-index: 1;
	border-left: 55px solid transparent;
	border-right: 55px solid transparent;
	border-top: 50px solid #fff;
	-moz-transform: translate(-50%, 0);
	-webkit-transform: translate(-50%, 0);
	-o-transform: translate(-50%, 0);
	-ms-transform: translate(-50%, 0);
}

.weishi h3 {
	font-size: 2.81rem;
	color: #70b92b;
	letter-spacing: 2px;
	padding-top: 80px;
}

.weishi_top img {
	    width: 75%;
    padding-bottom: 20px;
}

.weishi p {
	letter-spacing: 3px;
	font-size: 1.875rem;
	line-height: 50px;
}

.weishi_top {
	padding-bottom: 100px;
	padding-top: 100px;
}


/*微视平台服务*/

.ptfuw {
	margin: auto;
	text-align: center;
	width: 100%;
	background-color: #F3F2F2;
	position: relative;
}

.ptfuw:after {
	content: '';
	position: absolute;
	top: 100%;
	left: 50%;
	color: #f3f2f2;
	border-left: 55px solid transparent;
	border-right: 55px solid transparent;
	border-top: 50px solid #f3f2f2;
	-moz-transform: translate(-50%, 0);
	-webkit-transform: translate(-50%, 0);
	-o-transform: translate(-50%, 0);
	-ms-transform: translate(-50%, 0);
}

.ptfuw_div {
	padding-bottom: 100px;
	display: table-cell;
	width: 95%;
	    margin: auto;
    
	
}

.ptfuw_top h3 {
	font-size: 2.81rem;
	color: #70b92b;
	padding-top: 100px;
	
	
}

.ptfuw_top p {
	font-size: 1rem;
	color: #7f7f83;
	padding-top: 30px;
	padding-bottom: 100px;
}

.ptfuw_left {
	display: table-cell;
    vertical-align: middle;
    width: 53%;
    text-align: left;
    letter-spacing: 3px;
    padding-left: 7%;
        padding-right: 8%;
}

.ptfuw_left p {
	font-size: 2.5rem;
	color: #7f7f83;
	
    padding-bottom: 2%;
}

.ptfuw_right {
	display: table-cell;
	vertical-align: middle;
	width: 35%;
}

.ptfuw_right img {
	width: 100%;
}


/*用户体验*/

.tiyan {
	width: 100%;
	margin: auto;
	text-align: center;
	position: relative;
}

.tiyan:after {
	content: '';
	position: absolute;
	top: 100%;
	left: 50%;
	color: #fff;
	border-left: 55px solid transparent;
	border-right: 55px solid transparent;
	border-top: 50px solid #fff;
	z-index: 1;
	-moz-transform: translate(-50%, 0);
	-webkit-transform: translate(-50%, 0);
	-o-transform: translate(-50%, 0);
	-ms-transform: translate(-50%, 0);
}

.tiyan_top {
	width: 60%;
	margin: auto;
	text-align: center;
	padding-bottom: 100px;
}

.tiyan_top h3 {
	font-size: 2.81rem;
	color: #70b92b;
	padding-bottom: 50px;
	padding-top: 100px;
}

.tiyan_top h3:after {
	content: '';
	display: block;
	margin: auto;
	width: 3%;
	border-bottom: 2px solid #6db12f;
	padding-top: 50px;
}

.tiyan_top span {
	font-size: 1.5625rem;
	color: #70b92b;
}

.tiyan_top p {
	font-size: 1.5625rem;
	color: #7f7f83;
	line-height: 50px;
}

.tiyan_img img {
	width: 100%;
}


/*多语言切换*/

.languang {
	width: 100%;
	margin: auto;
	text-align: center;
	background-color: #f3f2f2;
	padding-bottom: 200px;
	position: relative;
}

.languang:after {
	content: '';
	position: absolute;
	top: 100%;
	left: 50%;
	color: #f3f2f2;
	border-left: 55px solid transparent;
	border-right: 55px solid transparent;
	border-top: 50px solid #f3f2f2;
	z-index: 1;
	-moz-transform: translate(-50%, 0);
	-webkit-transform: translate(-50%, 0);
	-o-transform: translate(-50%, 0);
	-ms-transform: translate(-50%, 0);
}
.languang_top{
	width: 60%;
	text-align: center;
	margin: auto;
}
.languang_top h3 {
	font-size: 2.5rem;
	color: #70b92b;
}

.languang_top p {
	font-size: 1.23rem;
	color: #7f7f83;
	line-height: 100px;
}

.languang_top p:after {
	content: '';
	display: block;
	margin: auto;
	width: 3%;
	border-bottom: 2px solid #6db12f;
}

.languang_img {
	padding-top: 15%;
	padding-bottom: 7%;
}


/*联系我们 */

.case_about {
	width: 86%;
	margin: auto;
	padding-top: 4%;
	padding-bottom: 60px;
}

.case_about h3 {
	font-size: 1.75rem;
	color: #000;
	padding-bottom: 20px;
	letter-spacing: 3px;
}

.input_02 label {
	font-size: 1.375rem;
}

.border {
	margin-top: 20px;
	padding-bottom: 80px;
}

.border_top {
	border: 2px solid #70b92b;
}

.input_01 {
	width: 100%;
	display: flex;
	-o-display: flex;
	-webkit-display: flex;
	-ms-display: flex;
	-moz-display: flex;
    justify-content: space-between;
    -o-justify-content: space-between;
	-webkit-justify-content: space-between;
	-ms-justify-content: space-between;
	-moz-justify-content: space-between;
}


.border #form .input_01 label {
	float: left;
	font-size: 1.25rem;
	line-height: 30px;
	margin-top: 30px;
	margin-left: 15px;
	
	margin-bottom: 3em;
	color: #2e2d25;
	width: 30%;
}

.border #form .input_01 input {
	line-height: 50px;
	background-color: #f9f9f9;
	border: 1px solid #bfbfbf;
	width: 75%;
	height: 60px;
}

.border #form .input_01 span {
	color: red;
	margin-left: 10px;
	font-weight: bold;
	font-size: 1.25rem;
}


.border #form .input_02 {
	color: #2e2d25;
	text-align: center;
	width: 62%;
	margin-left: 20%;
	margin-right: 20%;
	margin-bottom: 40px;
}

.border #form .input_02 label input {
	margin-bottom: 40px;
	margin-left: 20px;
}

.textarea {
	margin: 20px;
}

.textarea textarea {
	width: 100%;
	background-color: #f9f9f9;
	padding-right: 20px;
	padding-left: 20px
}

.form_ul ul {
	width: 250px;
	line-height: 40px;
	padding-bottom: 10px;
	margin: auto;
	text-align: center;
}

.form_ul ul li {
	width: 40%;
	float: left;
	margin: 35px 10px 20px 10px;
}

.languang_img {
	width: 100%;
}

.form_ul ul li input {
	line-height: 40px;
	width: 100px;
	height: 50px;
	background-color: gray;
	color: #fff;
	font-size: 1.4375rem;
}

.form_ul ul li input:hover {
	background-color: #0e8ccc;
}


/*footer*/

.footera {
  background-image: url(../images/guanyu7.jpg);
 background-size: 100% 100%;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #71B92B;
  position: relative;
}

.footera-article {
  width: 65%;
  margin: 0 auto;
  text-align: center;
}

.footera-sm {
  margin-top: 80px;
}

.footera-sa {
  width: 40px;
  height: 40px;
  position: absolute;
  left: 50%;
  background-color: #71B92B;
  top: 0;
  transform: translate(-50%,0%);
}

.footera-sa span {
  line-height: 40px;
  display: block;
  color: #ffffff;
  transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  /* Internet Explorer */
  -moz-transform: rotate(90deg);
  /* Firefox */
  -webkit-transform: rotate(90deg);
  /* Safari 和 Chrome */
  -o-transform: rotate(90deg);
  /* Opera */
}

.footera-sm li {
  float: left;
  list-style-type: none;
      width: 14.28%;
  text-align: center;
  line-height:6;
}

.footera-sm li a {
  display: block;
  color: #e0dbda;
  font-size:1.875rem;
}

.footera-sm img {width: 100%;}

.footera-sm li a:hover {
  color: #70B92B;
}

.footera-sg {
  text-align: center;
  color: #e0dbda;
}

.footera-sgp {
  padding-top: 25px;
  padding-bottom: 25px;
  font-size:1.25rem;
}

.footera_p {
  font-size:1rem;
  padding-bottom: 30px
}