@media screen and (max-width:1130px){
.header .head,.i_m,.foot,.lei,.case,.branch,.about,.honor,.ct,.service,.news{width:960px;}
.head .nav_m{ width:675px;}
.head .nav li a{ font-size:16px; padding:0 15px;}
.i_ma ul li{ width:120px; margin-right:0;}
.i_mb dl dd{ width:610px;}
.i_mc .i_mcr,.i_mc .i_mcl{ width:470px;}
.i_mc dl dd{ width:365px;}
.i_mc dl dd .des i{ display:none;}
.foot .f_m{ width:630px;}
.head .logo img,.head .logo{ width:214px; height:42px;}
.lei a{ margin:0 2px 20px;}
.case li{ margin:0 9px 20px;}
.branch dl dd{ width:680px;}
.ct_m .ct_mr{ width:500px;}
.honor li .tu img,.honor li .tu{ width:214px; height:157px;}
.honor li{ width:226px; margin-right:18px;}
}
@media screen and (max-width:990px){
.header .head,.i_m,.foot,.lei,.case,.branch,.about,.honor,.ct,.service,.news{width:740px; margin:0px auto;}
.head .logo{ margin-top:30px;}
.head .nav_m{ width:525px;}
.head .nav li a{ font-size:14px; padding:0 8px;}
.i_ma ul li{ float:none; display:inline-block; *display:inline; zoom:1; width:119px;}
.i_mb dl dd{ width:400px;}
.i_mc .i_mcr, .i_mc .i_mcl{ width:360px;}
.i_mc dl dt{ width:65px;}
.i_mc dl dd{ width:275px;}
.foot .f_m{ width:550px;}
.case li .tu,.case li .tu img{ width:228px; height:161px;}
.case li{ margin:0 3px 20px;}
.case li p{ font-size:14px;}
.branch dl dd{ width:460px;}
.ct_m .ct_mr,.ct_m .ct_ml{ width:100%;}
.ct_m .ct_ml{ margin-top:20px;}
.honor li{ margin-right:18px !important;}

}
@media screen and (max-width:770px) {
.header .head,.i_m,.foot,.lei,.case,.branch,.about,.honor,.ct,.service,.news{width:480px; margin:0px auto;}
.nav_m .n_icon{ display:block;}
.head .logo{ position:absolute; left:0; top:0; margin-top:12px;}
.head .nav_m{ width:100%;}
.header .head{ height:70px;}
.head .nav{ position:absolute; left:0; top:70px; background:#FFF; z-index:9999; display:none;}
.head .nav li{ width:100%; text-align:right; height:35px;}
.head .nav li a{ width:90%; padding:0 5%; height:35px; line-height:35px;}
.i_ma ul li{ width:155px;}
.i_mb dl dt, .i_mb dl dt img{ width:100%; height:auto;}
.i_mb dl dd{ width:100%; margin-top:20px;}
.i_mc .i_mcr, .i_mc .i_mcl{ width:100%;}
.i_mc .i_mcr{ margin-top:20px;}
.i_mc dl dt{ width:75px;}
.i_mc dl dd{ width:375px;}
.foot .f_m{ width:365px;}
.about img{width:100%; height:auto;}
.case li{ float:left; margin:0 9px 20px;}
.case li .tu, .case li .tu img{ width:214px; height:151px;}
.branch dl dt img,.branch dl dt{ width:206px; height:191px;}
.branch dl dd{ width:260px;}
.branch dl dd p{ line-height:155%;}
.branch dl dd .des{ margin-bottom:8px; height:70px;}
.honor li{ margin:0 7px 20px !important;}
}
@media screen and (max-width:510px) {
.header .head,.i_m,.foot,.lei,.case,.branch,.about,.honor,.ct,.service,.news{width:320px; margin:0px auto;}
.head .logo img, .head .logo{ width:185px; height:36px;}
.head .logo{ margin-top:18px;}
.i_name .zw{ width:100%; background-size:100% 100%; font-size:18px;}
.i_mc dl dd{ width:235px; margin-right:0;}
.foot .f_m{ width:100%;}
.foot .f_code{ position:static; margin-top:15px;}
.lei a{ margin:0 10px 20px;}
.lei a span{ font-size:15px;}
.case li{ float:none;}
.case li .tu, .case li .tu img{ width:260px; height:184px;}
.branch dl dd{ width:100%;}
.branch dl dt,.branch dl dt img{ width:260px; height:240px;}
.honor li .tu img, .honor li .tu{ width:273px; height:201px;}
.honor li{ width:285px; float:none; margin:0 auto !important; margin-bottom:20px !important;}
}
