/*上传作品*/
.upload{
	width:100%;
	min-width:1200px;
	*width:1200px;
	margin:0px auto;
	margin-top:45px;
}
.upload .upload_hbg{
	width:100%;
	min-width:1200px;
	*width:1200px;
	height:45px;
	border-bottom:1px solid #ddd;
}
.upload .upload_hbg .upload_h{
	width:1200px;
	height:45px;
	margin:0px auto;
	text-align:left;
}
.upload .upload_hbg .upload_h span{
	display:inline-block;
	*display:inline;
	zoom:1;
	height:42px;
	line-height:42px;
	border-bottom:3px solid #8A9F00;
	font-size:16px;
	
}
.upload .upload_m{
	width:1200px;
	margin:0px auto;
	margin-top:3px;
	background:#FFF;
	text-align:left;
}
.upload_m .u_bq{
	width:1100px;
	margin-left:50px;
	height:70px;
	line-height:70px;
}
.upload_m .u_bisai{
	height:100px;
}
.upload_m .u_bq img{
	width:37px;
	height:33px;
	vertical-align:top;
	margin-top:25px;
}
.upload_m .u_bq span{
	display:inline-block;
	*display:inline;
	zoom:1;
	height:33px;
	line-height:33px;
	margin-left:8px;
	font-size:14px;
	color:#DD0000;
	vertical-align:top;
	margin-top:25px;
}
.upload_m .u_bq .cjhd_h{
	color:#899F00;
}
.upload_m .u_ctn{
	width:1200px;
}
.upload_m .u_ctn li{
	width:1200px;
	border-bottom:1px solid #ddd;
	margin-top:13px;
	padding-bottom:16px;
}
.upload_m .u_ctn li span{
	display:block;
	float:left;
	height:38px;
	line-height:38px;
	width:170px;
	text-align:right;
	font-size:14px;
	vertical-align:middle;
}
.upload_m .u_ctn li span i{
	font-style:normal;
	color:#DD0000;
	margin-left:10px;
	display:inline-block;
	*display:inline;
	zoom:1;
	height:38px;
	line-height:38px;
	vertical-align:middle;
}
.upload_m .u_ctn li .u_ctn_r{
	width:915px;
	float:left;
	margin-left:30px;
}
.upload_m .u_ctn li .u_ctn_r .jiangx{
	width:913px;
}
.upload_m .u_ctn li .u_ctn_r .jiangx li{
	width:913px;
	border:0px;
	margin-bottom:10px;
}
.upload_m .u_ctn li .u_ctn_r .jiangx li h3{
	width:913px;
	height:25px;
	line-height:25px;
	text-align:left;
	font-size:14px;
}
.upload_m .u_ctn li .u_ctn_r .jiangx li dl{
	width:913px;
}
.upload_m .u_ctn li .u_ctn_r .jiangx li dl dt{
	width:93px;
	height:93px;
	border:1px solid #ddd;
	float:left;
}
.upload_m .u_ctn li .u_ctn_r .jiangx li dl dt img{
	width:93px;
	height:93px;
}
.upload_m .u_ctn li .u_ctn_r .jiangx li dl dd{
	width:808px;
	height:93px;
	float:left;
	margin-left:8px;
}
.upload_m .u_ctn li .u_ctn_r .jiangx li dl dd textarea{
	width:808px;
	height:93px;
	text-align:left;
	font-size:14px;
	border:1px solid #ddd;
	border-radius:3px;
	*border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	line-height:170%;
}
.upload_m .u_ctn li .u_ctn_r input{
	width:913px;
	height:38px;
	line-height:38px;
	font-size:14px;
	border:1px solid #ddd;
	border-radius:3px;
	*border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	vertical-align:middle;
}
.upload_m .u_ctn li .u_ctn_r .lei{
	width:209px;
	float:left;
	margin-right:20px;
	position:relative;
}
.upload_m .u_ctn li .u_ctn_r .lei span{
	display:block;
	width:204px;
	height:38px;
	line-height:38px;
	text-align:left;
	font-size:14px;
	border:1px solid #ddd;
	border-radius:3px;
	*border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	vertical-align:middle;
	padding-left:5px;
	position:relative;
	cursor:pointer;
}
.upload_m .u_ctn li .u_ctn_r .lei em{
	display:block;
	width:15px;
	height:10px;
	background:url(../images/icon27.png) no-repeat;
	position:absolute;
	right:5px;
	top:15px;
}
.upload_m .u_ctn li .u_ctn_r .lei ul{
	width:209px;
	position:absolute;
	left:0px;
	top:38px;
	z-index:9;
	border:1px solid #ddd;
	border-bottom:0px;
	display:none;
}
.upload_m .u_ctn li .u_ctn_r .lei:hover ul{
	display:block;
}
.upload_m .u_ctn li .u_ctn_r .lei ul li{
	width:209px;
	height:30px;
	line-height:30px;
	background:#FFF;
	margin:0px;
	padding:0px;
}
.upload_m .u_ctn li .u_ctn_r .lei ul li a{
	font-size:14px;
	margin-left:5px;
	color:#333;
}
.upload_m .u_ctn li .u_ctn_r textarea{
	width:913px;
	height:175px;
	text-align:left;
	font-size:14px;
	border:1px solid #ddd;
	border-radius:3px;
	*border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	vertical-align:middle;
	line-height:170%;
}
.upload_m .u_ctn li .u_ctn_r p{
	height:30px;
	line-height:30px;
	text-align:left;
	font-size:14px;
}
.upload_m .u_ctn li .u_ctn_r .u_pic{
	width:913px;
}
.upload_m .u_ctn li .u_ctn_r .u_pic li{
	width:913px;
	border:0px;
	margin:0px;
}
.upload_m .u_ctn li .u_ctn_r .u_pic li .xz{
	display:block;
	width:87px;
	height:38px;
	line-height:38px;
	text-align:center;
	background:#899F00;
	color:#FFF;
	font-size:14px;
	border-radius:3px;
	*border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	vertical-align:middle;
}
.upload_m .u_ctn li .u_ctn_r .u_pic li dl{
	width:913px;
}
.upload_m .u_ctn li .u_ctn_r .u_pic li dl dt{
	width:93px;
	height:93px;
	float:left;
	position:relative;
}
.upload_m .u_ctn li .u_ctn_r .u_pic li dl dt img{
	width:93px;
	height:93px;
}
.upload_m .u_ctn li .u_ctn_r .u_pic li dl dt em{
	display:block;
	width:20px;
	height:20px;
	position:absolute;
	right:-9px;
	top:-9px;
	background:url(../images/icon28.png) no-repeat;
	cursor:pointer;
}
.upload_m .u_ctn li .u_ctn_r .u_pic li dl dd{
	width:805px;
	height:91px;
	float:left;
	margin-left:12px;
}
.upload_m .u_ctn li .u_ctn_r .u_pic li dl dd textarea{
	width:805px;
	height:89px;
	border:1px solid #ddd;
	font-size:14px;
	border-radius:3px;
	*border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	line-height:170%;
	color:#666;
	padding:0px 3px
}
.upload_m .u_btn{
	width:1200px;
	height:50px;
	line-height:50px;
	text-align:right;
}
.upload_m .u_btn a{
	display:block;
	width:87px;
	height:38px;
	line-height:38px;
	text-align:center;
	background:#899F00;
	color:#FFF;
	font-size:14px;
	border-radius:3px;
	*border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	vertical-align:middle;
	margin-right:85px;
	float:right;
	margin-top:15px;
}
/*个人主页*/
.user_c{
	width:1200px;
	margin:0px auto;
	margin-top:40px;
	background:#FFF;
}
.user_c .user_c1{
	width:1200px;
	height:285px;
	position:relative;
}
.user_c1 img{
	width:1200px;
	height:285px;
}
.user_c1 .edit{
	display:block;
	width:39px;
	height:32px;
	background:url(../images/icon29.png) no-repeat;
	overflow:hidden;
	position:absolute;
	top:10px;
	right:10px;
}
.user_c .user_c2{
	width:1200px;
	height:145px;
	margin:0px auto;
	border-bottom:1px solid #ddd;
	position:relative;
}
.user_c2 dl{
	width:1000px;
	margin-left:35px;
	position:relative;
}
.user_c2 dl dt{
	width:179px;
	height:222px;
	float:left;
	text-align:center;
	background:#FFF;
	box-shadow:0px 1px 3px #666666;
	position:absolute;
	left:0px;
	top:-108px;
}
.user_c2 dl dt img{
	width:175px;
	height:175px;
	margin-top:2px;
	vertical-align:top;
}
.user_c2 dl dt .ua{
	width:177px;
	margin-left:1px;
	height:45px;
	text-align:left;
}
.user_c2 dl dt .ua span {
	display:inline-block;
	*display:inline;
	zoom:1;
	width:55px;
	height:45px;
	text-align:center;
	border-right:1px solid #eee;
	overflow:hidden;
	padding:0px;
	margin:0px;
}
.user_c2 dl dt .ua span.zp{
	border:0px;
}
.user_c2 dl dt .ua span i , .user_c2 dl dt .ua span em{
	display:block;
	font-style:normal;
	width:55px;
	height:22px;
	line-height:22px;
	font-size:14px;
}
.user_c2 dl dd{
	width:800px;
	float:left;
	margin-left:190px;
	text-align:left;
	height:30px;
	line-height:30px;
	font-size:14px;
	color:#000000;
}
.user_c2 dl dd.name span{
	font-size:16px;
	display:inline-block;
	*display:inline;
	zoom:1;
	height:20px;
	line-height:20px;
	vertical-align:middle;
}
.user_c2 dl dd.name em{
	display:inline-block;
	*display:inline;
	zoom:1;
	width:43px;
	height:16px;
	background:#899E00;
	color:#FFF;
	text-align:center;
	line-height:16px;
	vertical-align:middle;
	margin-left:10px;
}
.user_c2 dl dd.dz{
	background:url(../images/icon31.png) no-repeat left center;
}
.user_c2 dl dd.dz span{
	margin-left:15px;
}
.user_c2 dl dd.xinx span{
	display:inline-block;
	*display:inline;
	zoom:1;
	padding-right:8px;
	border-right:1px solid #333;
	margin-right:8px;
	height:18px;
	line-height:18px;
	vertical-align:middle;
}
.user_c2 dl dd.xinx .man{
	width:18px;
	height:18px;
	background:url(../images/icon32.png) no-repeat;
	overflow:hidden;
	vertical-align:middle;
}
.user_c2 dl dd.xinx span .xh{
	display:inline-block;
	*display:inline;
	zoom:1;
	color:#899F00;
}
.user_c2 dl dd.xinx span .xh img{
	width:18px;
	height:18px;
	vertical-align:middle;
}
.user_c2 dl dd .xlblog , .user_c2 dl dd .txblog{
	display:inline-block;
	*display:inline;
	zoom:1;
	height:26px;
	line-height:26px;
	margin-right:10px;
	color:#000;
	font-size:14px;
	vertical-align:middle;
}
.user_c2 dl dd .xlblog em , .user_c2 dl dd .txblog em{
	margin-left:35px;
}
.user_c2 dl dd .xlblog{
	background:url(../images/icon34.png) no-repeat left center;
}
.user_c2 dl dd .txblog{
	background:url(../images/icon35.png) no-repeat left center;
}
.user_c2 .sz{
	display:block;
	width:38px;
	height:31px;
	position:absolute;
	right:10px;
	top:10px;
}
.user_c2 .sz img{
	width:38px;
	height:31px;
}
.user_c2 .liaotian , .user_c2 .jiata{
	display:block;
	width:45px;
	height:30px;
	position:absolute;
	top:10px;
	border:1px solid #ddd;
	border-radius:3px;
	*border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	right:10px;
}
.user_c2 .liaotian img , .user_c2 .jiata img{
	width:45px;
	height:30px;
}
.user_c2 .liaotian{
	right:63px;
}
.user_c .user_c3{
	width:1200px;
	margin:0px auto;
}
.user_c3 .tabBox_tu , .user_c3 .tabBox_u  {
	width:1200px;
	text-align:left;
}
.user_c3 .tabBox_u .tabNav_u {
	overflow: hidden;
	margin: 0px;
	padding:0px;
	width: 1200px;
	list-style:none;
	text-align:left;
	height:45px;
	border-bottom:1px solid #ddd;
}
.user_c3 .tabBox_u .tabNav_u li {
	float: left;
	text-align: center;
	cursor: pointer;
	font-size: 14px;
	width:105px;
	height:42px;
	line-height:45px;
}
.user_c3 .tabBox_u .tabNav_u li a{
	font-size:14px;
	color:#333;
}
.user_c3 .tabBox_u .tabNav_u li.now {
	border-bottom:3px solid #899E00;
}
.user_c3 .tabBox_u .tabCont_u {
	display: none;
	width: 1200px;
	margin-top:0px;
}
/*我的作品/收藏*/
.tabCont_u .p2_m{
	width:1200px;
	margin-left:2px;
	overflow:hidden;
}
.tabCont_u .p2_m li{
	width:270px;
	height:255px;
	float:left;
	padding:14px;
	border-bottom:1px solid #ddd;
	border-right:1px solid #ddd;
	position:relative;
}
.tabCont_u .p2_m li img{
	width:270px;
	height:255px;
}
.tabCont_u .p2_m li:nth-child(4n){
	border-right:0px;
}
.tabCont_u .p2_m li .des{
	width:270px;
	height:48px;
	background:url(../images/tu_bg.png) no-repeat;
	position:absolute;
	left:14px;
	bottom:14px;
	z-index:2;
}
.tabCont_u .p2_m li .des h3{
	width:260px;
	height:23px;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
	text-align:left;
	margin-left:5px;
	line-height:23px;
}
.tabCont_u .p2_m li .des h3 a{
	font-size:16px;
	color:#FFF;
}
.tabCont_u .p2_m li .des .des_f{
	width:260px;
	margin-left:5px;
	height:24px;
	line-height:24px;
	text-align:right;
	position:relative;
}
.tabCont_u .p2_m li .des .des_f strong{
	display:block;
	width:125px;
	height:24px;
	line-height:24px;
	overflow:hidden;
	text-align:left;
	font-size:14px;
	color:#FFF;
	position:absolute;
	left:0px;
	top:0px;
}
.tabCont_u .p2_m li .des .des_f span{
	display:inline-block;
	*display:inline;
	zoom:1;
	height:24px;
	line-height:24px;
	vertical-align:middle;
	margin-left:5px;
}
.tabCont_u .p2_m li .des .des_f span img{
	vertical-align:top;
	margin-top:5px;
}
.tabCont_u .p2_m li .des .des_f span em{
	display:inline-block;
	*display:inline;
	zoom:1;
	height:24px;
	line-height:24px;
	vertical-align:top;
	font-size:14px;
	color:#FFF;
}
/*我的帖子*/
.tabCont_u .tabBox_ttz{
	width:1200px;
	margin-top:13px;
}
.tabCont_u .tabBox_tz{
	width:1200px;
	text-align:left;
}
.tabCont_u .tabBox_tz .tabNav_tz {
	margin: 0px;
	padding:0px;
	width:1170px;
	list-style:none;
	text-align:left;
	padding:0px 15px;
	border-bottom:1px solid #ddd;
}
.tabCont_u .tabBox_tz .tabNav_tz li {
	float: left;
	width:95px;
	height: 35px;
	line-height: 35px;
	text-align: center;
	cursor: pointer;
	font-size: 14px;
	border:1px solid #ddd;
	margin-right:-1px;
	border-bottom:0px;
	background:#FFF;
}
.tabCont_u .tabBox_tz .tabNav_tz li.now {
	height:35px;
	position:relative;
}
.tabCont_u .tabBox_tz .tabNav_tz li.now span{
	display:block;
	height:36px;
	line-height:35px;
	position:absolute;
	background:#FFF;
	z-index:2;
	width:95px;
	text-align:center;
	left:0px;
	top:0px;
}
.tabCont_u .tabBox_tz .tabCont_tz {
	display: none;
	width:1200px;
	margin-top:0px;
}
.tabCont_tz .my_tz{
	width:1200px;
	text-align:left;
}
.tabCont_tz .my_tz li{
	width:1200px;
	border-bottom:1px solid #ddd;
	position:relative;
	padding-bottom:20px;
}
.tabCont_tz .my_tz li span{
	display:inline-block;
	*display:inline;
	zoom:1;
	margin-right:10px;
	font-size:16px;
	height:30px;
	line-height:30px;
	vertical-align:top;
	margin-top:20px;
}
.tabCont_tz .my_tz li span.day{
	font-size:18px;
	margin-left:30px;
}
.tabCont_tz .my_tz li span.title{
	width:800px;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
}
.tabCont_tz .my_tz li span.title a{
	font-size:16px;
	color:#6B912F;
}
.tabCont_tz .my_tz li .tz_listr{
	width:250px;
	height:30px;
	line-height:30px;
	text-align:right;
	position:absolute;
	right:15px;
	top:20px;
}
.tabCont_tz .my_tz li .tz_listr span{
	display:inline-block;
	*display:inline;
	zoom:1;
	color:#888;
	margin:0px;
	padding:0px;
	margin-right:8px;
	font-size:14px;
}
.tabCont_tz .my_tz li .huifu{
	width:1000px;
	border:1px solid #ddd;
	float:right;
	margin-right:30px;
	position:relative;
	background:#F8F8F8;
	border-radius:4px;
	*border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	margin-top:15px;
}
.tabCont_tz .my_tz li .huifu .h_ctn{
	width:765px;
	margin-left:10px;
	margin-top:20px;
	margin-bottom:20px;
	font-size:16px;
	line-height:170%;
}
.tabCont_tz .my_tz li .huifu .icon_s{
	display:block;
	width:19px;
	height:9px;
	background:url(../images/t1.png) no-repeat;
	position:absolute;
	left:20px;
	top:-9px;
	margin:0px;
	padding:0px;
}
.tabCont_tz .my_tz li span a{
	color:#6B912F;
	font-size:16px;
}
/*我的活动*/
.tabCont_u .tabBox_thd{
	width:1200px;
	margin-top:13px;
}
.tabCont_u .tabBox_hd{
	width:1200px;
	text-align:left;
	position:relative;
}
.tabCont_u .tabBox_hd .cjhd{
	display:block;
	width:97px;
	height:33px;
	background:#899F00;
	text-align:center;
	line-height:33px;
	color:#fff;
	position:absolute;
	right:10px;
	top:-5px;
	font-size:14px;
	border-radius:3px;
	*border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
}
.tabCont_u .tabBox_hd .tabNav_hd {
	margin: 0px;
	padding:0px;
	width:1170px;
	list-style:none;
	text-align:left;
	padding:0px 15px;
	border-bottom:1px solid #ddd;
}
.tabCont_u .tabBox_hd .tabNav_hd li {
	float: left;
	width:125px;
	height: 35px;
	line-height: 35px;
	text-align: center;
	cursor: pointer;
	font-size: 14px;
	border:1px solid #ddd;
	margin-right:-1px;
	border-bottom:0px;
	background:#FFF;
}
.tabCont_u .tabBox_hd .tabNav_hd li.now {
	height:35px;
	position:relative;
}
.tabCont_u .tabBox_hd .tabNav_hd li.now span{
	display:block;
	height:36px;
	line-height:35px;
	position:absolute;
	background:#FFF;
	z-index:2;
	width:125px;
	text-align:center;
	left:0px;
	top:0px;
}
.tabCont_u .tabBox_hd .tabCont_hd {
	display: none;
	width:1200px;
	margin-top:0px;
}
.tabCont_hd .my_hd{
	width:1200px;
	text-align:left;
}
.tabCont_hd .my_hd li{
	width:380px;
	height:440px;
	border:1px solid #ddd;
	float:left;
	margin-left:13px;
	margin-top:15px;
	margin-bottom:15px;
}
.tabCont_hdz .my_hd li img{
	width:380px;
	height:279px;
	vertical-align:top;
}
.tabCont_hd .my_hd li h3{
	width:350px;
	height:30px;
	line-height:30px;
	text-align:left;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
	margin-left:15px;
}
.tabCont_hd .my_hd li h3 a{
	font-size:16px;
	color:#000000;
}
.tabCont_hd .my_hd li .des{
	width:350px;
	margin-left:15px;
	font-size:13px;
	color:#656565;
	line-height:170%;
	text-align:left;
	height:70px;
	overflow:hidden;
}
.tabCont_hd .my_hd li .detail{
	width:380px;
	border-top:1px solid #ddd;
}
.tabCont_hd .my_hd li .detail li{
	width:175px;
	height:25px;
	line-height:25px;
	float:left;
	margin:0px;
	padding:0px;
	margin-left:15px;
	border:0px;
	margin-top:3px;
	font-size:14px;
}
.tabCont_hd .my_hd li .detail li span{
	color:#899F00;
}
/*时间轴*/
.hd_time{
	width:1200px;
	height:60px;
	margin-top:10px;
	position:relative;
	z-index:4;
}
.hd_time ul{
	width:1170px;
	margin-left:15px;
}
.hd_time ul li{
	width:90px;
	float:left;
	font-size:14px;
	border-bottom:1px solid #ddd;
	text-align:right;
	height:35px;
	line-height:35px;
	position:relative;
}
.hd_time ul li span{
	display:inline-block;
	*display:inline;
	zoom:1;
	margin-right:-5px;
	height:32px;
	line-height:32px;
	*margin-right:0px;
}
.hd_time ul li span a{
	font-size:14px;
	color:#333;
}

.hd_time ul li i{
	display:block;
	width:20px;
	height:20px;
	background:url(../images/h1.png) no-repeat;
	overflow:hidden;
	position:absolute;
	right:0px;
	bottom:-10px;
}
.hd_time ul li.now i , .hd_time ul li:hover i{
	background:url(../images/h_now.png) no-repeat;
}
.hd_time ul li.now span , .hd_time ul li:hover span a{
	color:#899F00;
}
.hd_time ul li.nian{
	width:58px;
	height:58px;
	background:#FFF;
	position:relative;
	vertical-align:top;
	border:0px;
	background:url(../images/time_y.png) no-repeat;
}
.hd_time ul li.nian span{
	display:block;
	position:relative;
	overflow:hidden;
	height:57px;
	line-height:57px;
	width:57px;
	text-align:center;
	line-height:48px;
	cursor:pointer;
}
.hd_time ul li.nian span em , .hd_time ul li.nian ul li.xia em{
	display:block;
	width:17px;
	height:8px;
	position:absolute;
	bottom:8px;
	left:20px;
	background:url(../images/h2.png) no-repeat;
	overflow:hidden;
}
.hd_time ul li.nian ul{
	width:52px;
	position:absolute;
	left:-15px;
	top:31px;
	z-index:9;
	display:none;
	*width:56px;
}
.hd_time ul li.nian:hover ul{
	display:block;
}
.hd_time ul li.nian ul li{
	width:52px;
	height:23px;
	line-height:23px;
	text-align:center;
	border:0px;
	float:none;
	background:#FFF;
	border-left:2px solid #ddd;
	border-right:2px solid #ddd;
	*width:56px;
}
.hd_time ul li.nian ul li.bg_f{
	width:55px;
	height:27px;
	background:url(../images/time_yb.png) no-repeat;
	border:0px;
	*background-position:-1px 0px;
}
.hd_time ul li.nian ul li a{
	font-size:14px;
	color:#333;
}
.hd_time ul li.nian ul li.xia{
	text-align:center;
	position:relative;
}
.hd_time ul li.nian ul li.xia em{
	top:5px;
	line-height:20px;
}

/*活动详情*/
.hd_detail{
	width:1200px;
	margin-top:10px;
}
.hd_detail h1{
	width:1200px;
	height:40px;
	line-height:40px;
	text-align:left;
}
.hd_detail h1 span, .hd_detail h1 em{
	display:inline-block;
	*display:inline;
	zoom:1;
	vertical-align:middle;
}
.hd_detail h1 span{
	height:30px;
	line-height:30px;
	font-size:20px;
	color:#899F00;
	margin-left:15px;
}
.hd_detail h1 em{
	font-size:12px;
	color:#FFF;
	width:44px;
	height:18px;
	background:url(../images/h3.png) no-repeat right center;
	text-align:right;
	padding-right:3px;
	line-height:18px;
}
.hd_detail .hd_dm{
	width:1200px;
}
.hd_detail .hd_dm .hd_dml{
	width:747px;
	float:left;
	margin-left:13px;
	border-right:1px solid #ddd;
}
/*左边*/
.hd_dm .hd_dml .des{
	width:737px;
	margin-top:10px;
}
.hd_dm .hd_dml .des span{
	display:block;
	width:75px;
	height:25px;
	line-height:25px;
	text-align:left;
	font-size:14px;
	color:#000;
	float:left;
	font-weight:bold;
}
.hd_dm .hd_dml .des .des_r{
	width:660px;
	float:left;
}
.hd_dm .hd_dml .des .des_r p{
	width:660px;
	line-height:180%;
	font-size:14px;
	text-align:left;
}
.hd_dm .hd_dml .hd_mde{
	width:737px;
	margin-top:10px;
	border-top:1px solid #ddd;
}
.hd_dm .hd_dml .hd_mde li{
	width:220px;
	height:30px;
	line-height:30px;
	text-align:left;
	float:left;
}
.hd_dm .hd_dml .hd_mde li span{
	font-weight:bold;
	color:#000;
	margin-right:10px;
}
.hd_dm .hd_dml .enter{
	width:737px;
	height:80px;
	text-align:right;
	border-top:1px solid #ddd;
	margin-top:10px;
}
.hd_dm .hd_dml .enter span , .hd_dm .hd_dml .enter a{
	display:inline-block;
	*display:inline;
	zoom:1;
	height:33px;
	line-height:33px;
	vertical-align:top;
	margin-top:15px;
	font-size:14px;
}
.hd_dm .hd_dml .enter a{
	width:87px;
	background:#899F00;
	color:#fff;
	text-align:center;
	border-radius:3px;
	*border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
}
.hd_dm .hd_dml .hd_zpt{
	width:737px;
}
.hd_dm .hd_dml .hd_zpt .hd_zpth{
	width:737px;
	height:35px;
	line-height:35px;
	text-align:left;
	position:relative;
}
.hd_dm .hd_dml .hd_zpt .hd_zpth span{
	display:inline-block;
	*display:inline;
	zoom:1;
	font-size:14px;
	color:#899F00;
	vertical-align:middle;
	font-size:16px;
}
.hd_dm .hd_dml .hd_zpt .hd_zpth span.line{
	width:615px;
	height:10px;
	border-bottom:1px solid #ddd;
	margin-left:5px;
	line-height:10px;
}
.hd_dm .hd_dml .hd_zpt .hd_zpth a{
	display:block;
	position:absolute;
	right:0px;
	top:0px;
	color:#333;
}
.hd_dm .hd_dml .hd_zpt .hd_zpth a span{
	color:#333;
	font-size:14px;
}
.hd_dm .hd_dml .hd_zpt .hd_zpth a img{
	width:11px;
	height:11px;
	vertical-align:middle;
}
.hd_dm .hd_dml .hd_zpt .hd_zptm{
	width:737px;
}
.hd_dm .hd_dml .hd_zpt .hd_zptm li{
	width:171px;
	height:196px;
	float:left;
	margin-right:12px;
	margin-top:15px;
}
.hd_dm .hd_dml .hd_zpt .hd_zptm li img{
	width:171px;
	height:171px;
	vertical-align:top;
}
.hd_dm .hd_dml .hd_zpt .hd_zptm li span{
	display:block;
	width:171px;
	height:25px;
	line-height:25px;
	text-align:left;
	font-size:14px;
}
.hd_dm .hd_dml .hd_zpt .hd_zptm li span a{
	font-size:14px;
	color:#899F00;
}
/*左边*/
.hd_detail .hd_dm .hd_dmr{
	width:432px;
	float:right;
}
.hd_dm .hd_dmr .hd_ra{
	width:420px;
	margin-left:3px;
}
.hd_dm .hd_dmr .hd_ra .hd_rah{
	width:420px;
	height:35px;
	line-height:35px;
	text-align:left;
	position:relative;
}
.hd_dm .hd_dmr .hd_ra .hd_rah span{
	display:inline-block;
	*display:inline;
	zoom:1;
	font-size:16px;
	color:#899F00;
	vertical-align:middle;
}
.hd_dm .hd_dmr .hd_ra .hd_rah span.line{
	width:308px;
	height:10px;
	border-bottom:1px solid #ddd;
	position:absolute;
	right:0px;
	top:10px;
	line-height:10px;
}
.hd_dm .hd_dmr .hd_ra .hd_ram{
	width:420px;
}
.hd_dm .hd_dmr .hd_ra .hd_ram li{
	width:90px;
	height:115px;
	float:left;
	margin-right:11px;
	margin-left:2px;
	margin-top:10px;
	position:relative;
}
.hd_dm .hd_dmr .hd_ra .hd_ram li .y90{
	width:90px;
	height:90px;
	background:url(../images/y90.png) no-repeat;
	position:absolute;
	left:0px;
	top:0px;
	z-index:2;
}
.hd_dm .hd_dmr .hd_ra .hd_ram li a.sy_tx{
	display:block;
	width:90px;
	height:90px;
	/*border-radius:90px;
	*border-radius:90px;
	-moz-border-radius:90px;
	-webkit-border-radius:90px;*/
	overflow:hidden;
}
.hd_dm .hd_dmr .hd_ra .hd_ram li a.sy_tx img{
	width:90px;
	height:90px;
}
.hd_dm .hd_dmr .hd_ra .hd_ram li span{
	display:block;
	width:90px;
	height:25px;
	line-height:25px;
	text-align:center;
	overflow:hidden;
	white-space:nowrap;
}
.hd_dm .hd_dmr .hd_ra .hd_ram li span a{
	font-size:14px;
	color:#333;
}
.hd_dm .hd_dmr .hd_rb{
	width:420px;
	margin-left:10px;
}
.hd_dm .hd_dmr .hd_rb .hd_rbh{
	width:420px;
	height:35px;
	line-height:35px;
	text-align:left;
	position:relative;
}
.hd_dm .hd_dmr .hd_rb .hd_rbh span{
	display:inline-block;
	*display:inline;
	zoom:1;
	font-size:14px;
	color:#899F00;
	vertical-align:middle;
	font-size:16px;
}
.hd_dm .hd_dmr .hd_rb .hd_rbh span.line{
	width:215px;
	height:10px;
	border-bottom:1px solid #ddd;
	margin-left:5px;
	line-height:10px;
}
.hd_dm .hd_dmr .hd_rb .hd_rbh a{
	display:block;
	position:absolute;
	right:0px;
	top:0px;
	color:#333;
}
.hd_dm .hd_dmr .hd_rb .hd_rbh a span{
	color:#333;
	font-size:14px;
}
.hd_dm .hd_dmr .hd_rb .hd_rbh a img{
	width:11px;
	height:11px;
	vertical-align:middle;
}
.hd_dm .hd_dmr .hd_rb .hd_rbm{
	width:420px;
}
.hd_dm .hd_dmr .hd_rb .hd_rbm dl{
	width:415px;
	margin-top:12px;
	margin-left:5px;
}
.hd_dm .hd_dmr .hd_rb .hd_rbm dl dt{
	width:90px;
	height:90px;
	float:left;
}
.hd_dm .hd_dmr .hd_rb .hd_rbm dl dt img{
	width:90px;
	height:90px;
}
.hd_dm .hd_dmr .hd_rb .hd_rbm dl dd{
	width:315px;
	height:28px;
	line-height:28px;
	text-align:left;
	color:#666;
	font-size:14px;
	float:left;
	margin-left:10px;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
}
.hd_dm .hd_dmr .hd_rb .hd_rbm dl dd a{
	color:#000;
}
/*我的任务*/
.renwu{
	width:1200px;
}
.renwu .renwu_l{
	width:840px;
	float:left;
	border-right:1px solid #ddd;
}
.renwu .renwu_l ul{
	width:810px;
	margin-left:15px;
}
.renwu .renwu_l ul li{
	width:810px;
	position:relative;
	margin-top:15px;
	border-top:1px solid #ddd;
	margin-bottom:20px;
	height:120px;
}
.renwu .renwu_l ul li dl{
	width:690px;
	margin-top:20px;
}
.renwu .renwu_l ul li dl dt{
	width:90px;
	height:90px;
	float:left;
}
.renwu .renwu_l ul li dl dt img{
	width:90px;
	height:90px;
}
.renwu .renwu_l ul li dl dd{
	width:590px;
	float:left;
	height:28px;
	line-height:28px;
	text-align:left;
	font-size:14px;
	float:left;
	margin-left:10px;
}
.renwu .renwu_l ul li dl dd a{
	font-weight:bold;
	color:#000;
}
.renwu .renwu_l ul li dl dd span{
	display:inline-block;
	*display:inline;
	zoom:1;
	height:20px;
	line-height:20px;
	vertical-align:middle;
}
.renwu .renwu_l ul li dl dd span.zong{
	width:165px;
	height:10px;
	position:relative;
	background:#D5D5D5;
	vertical-align:middle;
	line-height:10px;
}
.renwu .renwu_l ul li dl dd span.zong em{
	display:block;
	width:80px;
	height:10px;
	background:#899E00;
	position:absolute;
	left:0px;
	top:0px;
	line-height:10px;
}
.renwu .renwu_l ul li span.jifen , .renwu .renwu_l ul li a.go{
	display:block;
	position:absolute;
	right:10px;
}
.renwu .renwu_l ul li span.jifen{
	width:65px;
	height:47px;
	text-align:center;
	background:url(../images/r1.png) no-repeat;
	line-height:38px;
	font-size:18px;
	color:#FFF;
	top:0px;
}
.renwu .renwu_l ul li a.go{
	width:87px;
	height:33px;
	background:#899F00;
	text-align:center;
	line-height:33px;
	color:#FFF;
	font-size:14px;
	bottom:5px;
	border-radius:3px;
	*border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
}
.renwu .renwu_r{
	width:340px;
	float:right;
}
.renwu .renwu_r ul{
	width:340px;
}
.renwu .renwu_r ul li{
	width:340px;
	margin-top:15px;
}
.renwu .renwu_r ul li span{
	display:inline-block;
	*display:inline;
	zoom:1;
	height:25px;
	line-height:25px;
	text-align:left;
	float:left;
	font-size:14px;
	color:#000;
	font-weight:bold;
}
.renwu .renwu_r ul li .rw_r{
	display:inline-block;
	*display:inline;
	zoom:1;
	float:left;
	line-height:170%;
	text-align:left;
	font-size:14px;
	width:245px;
}
/*我的好友*/
.friend{
	width:1200px;
	margin-top:5px;
}
.friend li{
	width:287px;
	height:347px;
	border:1px solid #ddd;
	float:left;
	margin:5px 0px 5px 9px;
	overflow:hidden;
}
.friend li .name{
	width:287px;
	height:35px;
	line-height:35px;
	text-align:center;
	white-space:nowrap;
	overflow:hidden;
}
.friend li .name a{
	font-size:14px;
	color:#000;
}
.friend li .tou{
	width:161px;
	height:161px;
	/*border-radius:161px;
	*border-radius:161px;
	-moz-border-radius:161px;
	-webkit-border-radius:161px;*/
	overflow:hidden;
	margin-left:63px;
	margin-top:10px;
	position:relative;
}
.friend li .tou .y161{
	width:161px;
	height:161px;
	background:url(../images/y161.png) no-repeat;
	position:absolute;
	left:0px;
	top:0px;
	z-index:2;
}
.friend li .tou img{
	width:161px;
	height:161px;
}
.friend li .xx{
	width:287px;
	height:37px;
	margin-top:10px;
	*height:40px;
}
.friend li .xx li{
	width:70px;
	height:37px;
	float:left;
	border:0px;
	padding:0px;
	margin:0px;
	border-right:1px solid #eee;
	text-align:center;
	font-size:14px;
	*height:40px;
}
.friend li .xx li span{
	display:block;
	width:70px;
	height:23px;
	line-height:23px;
	text-align:center;
	font-weight:bold;
}
.friend li .zp{
	width:287px;
	height:74px;
	margin-top:15px;
}
.friend li .zp li{
	width:89px;
	height:74px;
	float:left;
	padding:0px;
	margin:0px;
	margin-left:5px;
	border:0px;
}
.friend li .zp li img{
	width:89px;
	height:74px;
}
/*创建活动*/
.upload_m .u_ctn li .hdfm{
	width:915px;
	float:left;
	margin-left:30px;
}
.upload_m .u_ctn li .hdfm dl{
	width:913px;
	height:215px;
}
.upload_m .u_ctn li .hdfm dl dt{
	width:284px;
	height:215px;
	float:left;
}
.upload_m .u_ctn li .hdfm dl dt img{
	width:284px;
	height:215px;
}
.upload_m .u_ctn li .hdfm dl dd{
	width:628px;
	float:left;
}
.upload_m .u_ctn li .hdfm dl dd ul{
	width:500px;
	padding:0px;
	margin:0px;
}
.upload_m .u_ctn li .hdfm dl dd ul li{
	border:0px;
	padding:0px;
	margin:0px;
	width:136px;
	height:102px;
	border:2px solid #FFF;
	float:left;
	margin-left:5px;
	margin-bottom:5px;
}
.upload_m .u_ctn li .hdfm dl dd ul li.now{
	border:2px solid #899E00;
}
 li .hdfm dl dd ul li img{
	width:136px;
	height:102px;
}
.upload_m .u_ctn li .u_ctn_r .dan{
	width:210px;
	float:left;
	margin-right:10px;
	text-align:left;
}
.upload_m .u_ctn li .u_ctn_r .dan input{
	width:14px;
	height:14px;
	border:0px;
	float:left;
	margin-top:14px;
}
.upload_m .u_ctn li .u_ctn_r .dan .tianx{
	width:73px;
	height:38px;
	border:1px solid #ddd;
	margin-left:15px;
	padding-left:3px;
	padding-right:3px;
	margin-top:0px;
}
.upload_m .u_ctn li .u_ctn_r .dan span{
	display:inline-block;
	*display:inline;
	zoom:1;
	height:38px;
	line-height:38px;
	float:left;
	width:auto;
	margin-left:10px;
}
.upload_m .u_ctn li .u_ctn_r .hd_timesz{
	width:210px;
	height:38px;
	border:1px solid #ddd;
	float:left;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	position:relative;
	text-align:left;
	margin-right:10px;
}
.upload_m .u_ctn li .u_ctn_r .zhi{
	width:30px;
	text-align:center;
	float:left;
	margin-right:10px;
}
.upload_m .u_ctn li .u_ctn_r .hd_timesz input{
	width:184px;
	height:38px;
	line-height:38px;
	border:0px;
	padding-left:3px;
	padding-right:3px;
}
.upload_m .u_ctn li .u_ctn_r .hd_timesz a{
	display:block;
	width:30px;
	height:38px;
	text-align:center;
	border-left:1px solid #ddd;
	position:absolute;
	right:0px;
	top:0px;
}
.upload_m .u_ctn li .u_ctn_r .hd_timesz a img{
	width:24px;
	height:22px;
	margin-top:8px;
}
.upload_m .u_ctn li .u_ctn_r .duan{
	width:210px;
}
/*论坛*/
.upload .luntan{
	width:1200px;
	margin:0px auto;
	background:#FFF;
	text-align:left;
}
.upload .luntan ul{
	width:1200px;
}
.upload .luntan ul li{
	width:289px;
	height:335px;
	border:1px solid #ddd;
	float:left;
	margin-left:7px;
	margin-top:10px;
}
.upload .luntan ul li img{
	width:289px;
	height:217px;
	vertical-align:top;
}
.upload .luntan ul li h3{
	width:279px;
	height:30px;
	line-height:30px;
	text-align:left;
	margin-left:5px;
}
.upload .luntan ul li h3 a{
	font-size:16px;
	color:#000;
}
.upload .luntan ul li .des_bbs{
	width:279px;
	height:63px;
	text-align:left;
	line-height:160%;
	font-size:14px;
	color:#666;
	margin-left:5px;
}
.upload .luntan ul li .tzs{
	width:279px;
	height:25px;
	text-align:left;
	line-height:25px;
	font-size:14px;
	color:#666;
	margin-left:5px;
}