/*作者分类*/
/*作者滑动门*/
.zz_m{
	width:100%;
	min-width:1200px;
	*width:1200px;
	margin:0px auto;
	margin-top:53px;
	*margin-top:-20px;
}
.zz_m .tabBox_tzz , .zz_m .tabBox_zz  {
	width:100%;
}
.zz_m .tabBox_zz .tabnav_zz_bg{
	width:100%;
	height:35px;
	line-height:35px;
	border-bottom:1px solid #ddd;
}
.zz_m .tabBox_zz .tabnav_zz_bg .tabNav_zz {
	overflow: hidden;
	padding:0px;
	width:1200px;
	list-style:none;
	margin:0px auto;
}
.zz_m .tabBox_zz .tabNav_zz li {
	float: left;
	width:80px;
	height: 32px;
	line-height: 32px;
	text-align: center;
	cursor: pointer;
	font-size: 16px;
	margin-right:25px;
	color:#222;
}
.zz_m .tabBox_zz .tabNav_zz li.now {
	border-bottom:3px solid #A1CB3B;
}
.zz_m .tabBox_zz .tabCont_zz {
	display: none;
	width:1200px;
	margin:0px auto;
	margin-top:10px;
	background:#FFF;
}
.zz_m .friend{
	width:1200px;
	margin-top:5px;
}
.friend li{
	width:287px;
	height:387px;
	border:1px solid #ddd;
	float:left;
	margin:5px 0px 5px 9px;
	overflow:hidden;
	position:relative;
}
.friend li.no .no_tu{
	width:32px;
	height:24px;
	position:absolute;
	z-index:2;
	right:10px;
	top:0px;
}
.friend li.no .no_tu img{
	width:32px;
	height:24px;
}
.friend li .name{
	width:287px;
	height:35px;
	line-height:35px;
	text-align:center;
	white-space:nowrap;
	overflow:hidden;
}
.friend li .name a{
	font-size:14px;
	color:#000;
}
.friend li .tou{
	width:161px;
	height:161px;
	/*border-radius:161px;
	-moz-border-radius:161px;
	-webkit-border-radius:161px;*/
	overflow:hidden;
	margin-left:63px;
	margin-top:10px;
	*margin-left:15px;
	position:relative;
	z-index:2;
}
.friend li .tou .y161{
	width:161px;
	height:161px;
	background:url(../images/y161.png) no-repeat;
	position:absolute;
	left:0px; 
	top:0px;
	z-index:2;
}
.friend li .tou img{
	width:161px;
	height:161px;
}
.friend li .xx{
	width:287px;
	height:37px;
	margin-top:10px;
	*height:40px;
}
.friend li .xx li{
	width:70px;
	height:37px;
	float:left;
	*height:40px;
	border:0px;
	padding:0px;
	margin:0px;
	border-right:1px solid #eee;
	text-align:center;
	font-size:14px;
}
.friend li .xx li span{
	display:block;
	width:70px;
	height:23px;
	line-height:23px;
	text-align:center;
	font-weight:bold;
}
.friend li .zp{
	width:287px;
	height:74px;
	margin-top:15px;
}
.friend li .zp li{
	width:89px;
	height:74px;
	float:left;
	padding:0px;
	margin:0px;
	margin-left:5px;
	border:0px;
}
.friend li .zp li img{
	width:89px;
	height:74px;
}
.friend li .guanzhu{
	width:271px;
	height:28px;
	background:#899E00;
	margin-left:8px;
	margin-top:8px;
	border-radius:3px;
	*border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	text-align:center;
	line-height:25px;
}
.friend li .guanzhu a{
	color:#FFF;
}
.friend li .guanzhu span{
	display:inline-block;
	*display:inline;
	zoom:1;
	height:25px;
	line-height:25px;
	vertical-align:middle;
	font-size:14px;
}
.friend li .guanzhu span.jia{
	width:25px;
	background:url(../images/zz1.png) no-repeat;
}
.friend li .guanzhu span.yi{
	width:25px;
	background:url(../images/zz2.png) no-repeat;
}
.friend li .guanzhu span.hux{
	width:25px;
	background:url(../images/zz3.png) no-repeat;
}
