@charset "utf-8";
/* CSS Document */
.body{ margin:0; background-color:#FFF;}
.overH{ overflow:hidden;}
a{ text-decoration:none; cursor:pointer;}
a:hover{ color:#CCC; text-decoration:underline;  cursor:pointer;}
*{ font-family:"宋体"; font-size:12px; color:#666;}
input{ outline:none; border:solid 1px #f1f1f1;}
img{ display:block; margin:0;}
h1,h2,h3,h4,h5,h6{ font-weight:normal;}
ul,li{ list-style:none; padding:0; margin:0;}

.top{}
.topbox{ width:1000px; margin-left:auto; margin-right:auto;}
.topright{ float:right; margin-top:10px;}
.topright input{ width:220px; height:18px; margin-right:20px; background-image:url(images/searchbg.png); background-position:center right; background-repeat:no-repeat; overflow:hidden;}
.logo{ width:72px; height:79px; margin-left:auto; margin-right:auto; margin-top:30px; }

.nav{ border-bottom:#CCC solid 1px; border-top:#CCC solid 1px;}
.navbox{ width:1000px; margin-left:auto; margin-right:auto;}
.navlink{ margin-left:80px; }
.navlink a{ display:block; float:left; font-family:"微软雅黑"; font-size:14px; padding-left:24px; padding-right:24px; padding-top:10px;}
.navlink .current{display:block; float:left; font-family:"微软雅黑"; font-size:14px; padding-left:24px; padding-right:24px; padding-bottom:10px; background-image:url(images/navcurrent.png); background-repeat:repeat-x; background-position:bottom; color:#74542d;}

.footerbig{ background-color:#6d4827; margin-top:46px;}
.footerbox{  width:1000px; margin-left:auto; margin-right:auto;}
.footerleft{ margin-left:30px; float:left;}
.footerleft ul{ width:120px; font-family:"微软雅体"; font-size:14px; color:#FFF; line-height:30px; margin-bottom:20px; margin-top:20px; float:left;}
.footerleft ul li a{ font-family:"微软雅体"; font-size:12px; color:#FFF; line-height:18px;}
.footerright{ float:right; margin-top:8px;}
.footerright p{ font-family:"微软雅体"; font-size:14px; color:white; line-height:24px; margin-right:30px;}

.copyrightbox{ background-color:#593c22; }
.copyright{ width:1000px; margin-left:auto; margin-right:auto;}
.copyright p{ font-family: Arial "微软雅体"; font-size:12px; color:white; line-height:24px; float:left;}
.copyright a{ float:right; margin-left:10px; margin-top:8px;}

.back{ width:50px; height:50px; border-radius:50%; position:fixed; bottom:40px; right:40px; z-index:10;}