body,html{
	margin:0;
	padding:0;
	font-family: Microsoft YaHei,Helvitica,Verdana,Tohoma,Arial,san-serif;
	color:#2c2c2c;
	/*background:url(../img/bg.jpg) repeat;*/
}
ul{
	margin:0;
	padding:0;
}
ul li{
	list-style-type:none;
}
a{
	text-decoration:none;
	border:0;
}
img{
	border:0;
	display:block;
}
.clear{
	clear:both;
}




.contain{
	width:990px;
	height:auto;
	margin:0 auto;
	background:url(../img/bg.jpg) repeat;
}

/*ͷ��*/
.head{
	width:990px;
	height:85px;
}
.logo{
	width:223px;
	height:85px;
	float:left;
}
.ad{
	width:363px;
	height:32px;
	float:right;
	margin:40px 20px 0 0;
}



/*����*/
.nav{
	margin:10px 0 20px 0;
	width:990px;
	height:42px;
}




.navleft a {text-align:center;}
.navleft {
	width:600px;
	height:42px;
	float:left;
	font-size:12px;
}
.main{
	color:#2c2c2c;
	line-height:42px;
	background:url(../img/nav-li.png) no-repeat right center;
}
.main:hover,.main:focus,.main:active{
	color:#4f2c0c;
	font-weight:bold;
	font-size:14px;
}
#curcent{
	color:#4f2c0c;
	font-weight:bold;
	font-size:15px;
}
.navleft .drop .sub1 a{width:96px; height:30px;background:rgba(0,0,0,0.7); color:#fff; line-height:30px;}

.navleft a b { font-weight:normal; display:block;}
.navleft a:hover b { color:#000; cursor:pointer; }

.navleft .drop, .navleft a { width:100px; }
.navleft ul li { width:100px; } 


.navleft a { margin-right:-100px; }
 

.navleft li { float:left; } 

.navleft ul { float:left; position:relative; z-index:20; } 
.navleft ul li { clear:left; } 
.navleft a { position:relative; display:block; }
.navleft a.main { float:left; margin-top:10000px; } 
.navleft .drop{ margin-top:-10000px; } 
.navleft ul { margin-bottom:-5000px; } 
.navleft a:hover, .navleft a:focus, .navleft a:active { margin-right:0; z-index:100; outline:0; }
.sub1 a:hover b, .sub1 a:focus b, .sub1 a:active b { color:#fff; background:rgba(0,0,0,0.8); font-size:14px;}

.navleft ul:hover, .navleft ul ul:hover { clear:left; } 




/*�����м�*/
.navCenter{
	width:140px;
	height:42px;
	float:left;
	font-size:14px;
	margin:0 25px 0 35px;
	line-height:42px;
}
.navCenter li{
	float:left;
}
.telImg{
	width:40px;
	height:42px;
}
.telImg img{
	display:block;
	margin:4px 0 0 0;
}
.telNub{
	width:100px;
	white-space:nowrap;
}


/*�����Ҳ�*/
.navRight{
	width:165px;
	height:42px;
	float:left;
}
.navRight li{
	float:left;
}
.navRight li img{
	display:block;
}
.weibo{
	width:43px;
}
.weixin{
	width:38px;
}
.qq{
	width:34px;
}
.weibo,.weixin{
	margin-right:25px;
}
.weibo img{
	margin:4px 0 0 0;
}
.weixin img{
	margin:2px 0 0 0;
}
.qq img{
	margin:5px 0 0 0;
}


/*����ͼ*/

#zSlider{
	margin:0px auto; 
	width:990px; 
	height:477px; 
	overflow:hidden;
}

#picshow{
	width:990px;  
	height:477px;
}
#picshow_img{
	width:990px; 
	height:477px; 
	overflow:hidden; 
	float:left;
}
#picshow_img li{width:990px; height:477px;overflow:hidden; float:left; display:none;}
#picshow_img img{width:990px; height:477px;}






#select_btn{
	width:174px; 
	height:368px; 
	color:#111; 
	float:left; 
	display:inline;
	position:relative;
	top:-425px;
}
#select_btn li{ 
	width:174x; 
	height:72px; 
	margin-bottom:2px;  
	background:rgba(0,0,0,0.51); 
	line-height:25px; 
	font-size:12px; 
	text-align:center;
	padding-top:20px;
}


#select_btn li:hover{background:rgba(0,0,0,0.7);font-size:14px;}


#select_btn li.current{background:rgba(0,0,0,0.7);font-size:14px;}
#select_btn li.current:hover{background:rgba(0,0,0,0.7);font-size:14px;}

#select_btn a{
	color:#fff; 
	text-decoration:none; 
	display:block; 
	width:100%;
	height:100%;
}





/*logo-middle*/
.logo-middle{
	width:990px;
	height:84px;
}
.logo-middle img{
	display:block;
	margin:0 auto;
}



.info-box{
	width:900px;
	height:250px;
	margin:20px auto;
	font-size:12px;
	line-height:20px;
}

.info-box .title {
	text-align: center;
	font-size: 14px;
	color: #522f31;
	font-weight: bold;
	background: url(../img/pages/contactUs/line.png) no-repeat center 15px;
	background-size: 200px 8px;
}

.aboutUs-box{
	width:410px;
	float:left;
	margin:0 20px;
}

.news-box{
	width:410px;
	float:left;
	margin:0 20px;
}
.news-box ul li{
	border-bottom:1px dashed #e3e0e0;
	height:25px;
	list-style-type:circle;
	margin-left:20px;
}
.aboutUs-more{
	color:#522f31;
	font-weight:bold;
	float:right;
}


/*foot*/
.foot{
	width:990px;
	height:80px;
	line-height:22px;
	margin:20px 0 0 0;
	padding:20px;
	color:#999999;
	font-size:12px;
	text-align:center;
	background:url(../img/foot-line.png) no-repeat top center;
}
.foot a{
	color:#999999;
	margin:0 2px 0 2px;
}
.foot a:hover{
	text-decoration:underline;
}
.foot p{
	display:block;
	width:990px;
	height:25px;
	margin:0 auto;
}
.foot-middle span{
	margin:0 10px 0 10px;
}

/*End
Web build by YongJing.Chang 2014.7.15*/



/*高端婚礼策划*/

.gdhlch{
	font-size:12px;
	line-height:20px;
	padding:0 15px 15px 15px;
}
.gdhlch p{
	text-indent:2em;
}
.ch-pic{
	margin:0 auto;
	width:820px;
}
.ch-pic li{
	float:left;
	margin:10px;
}
.ch-pic li img{
	margin:0 auto;
}



/*案例展示--高端婚礼策划*/
.case-g img{
	float:left;
	margin:10px;
}