
.knowledge{
	width:930px;
	height:auto;
	padding-top:10px;
	margin:10px auto 20px auto;
	box-shadow:0 3px 3px rgba(0,0,0,0.3);
	-webkit-box-shadow:0 3px 3px rgba(0,0,0,0.3);
	background:rgba(79,44,12,0.3);
	 -moz-border-radius: 5px;
    -khtml-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;

}
.title{
	height:30px;
	text-align:center;
	font-size:14px;
	color:#522f31;
	font-weight:bold;
	background:url(../img/pages/contactUs/line.png) no-repeat top 19px center;
}


/*�б����ݿ�ʼ*/
.newsList{
	margin:30px;
	height:auto;
}
.newsList ul li{
	line-height:40px;
	list-style-type:circle;
	border-bottom:1px dashed #333333;
}
.newsList ul li a{
	color:#9d877a;
}
.newsList ul li span{
	float:right;
	color:#666666;
	font-size:12px;
}


/*ҳ��*/
.page{
	margin:20px;
	height:30px;
	font-size:12px;
}
.page a{
	color:#333333;
	margin:20px;
}



/*������ϸ*/
.newsDetail{
	margin:0 30px 30px 30px;
	height:auto;
	line-height:28px;
	padding-bottom:20px;
}


