*****2016.06.09个人中心*****/
body{ background-color:#f2f2f2;}
.nav_bg{ width:100%; height:30px; background:url(../images/user/bg_1.gif);}

/******账号信息 头部*****/
.mRight0{margin-right: 0!important;}
.main .user-top{ height: 218px; box-shadow: 0 3px 6px -2px #c4c4c4; border: 1px solid #d6d6d6; border-top: 0; background: url(../images/user/user-top-bg.jpg) repeat-x left top;}
.main{color: #757474;}
.main .user-top .user-top-info{position: relative; width: 1180px;height: 218px;  z-index: 20;}
.user-top-info .user-avatar,.user-top-info .user-avatar-edit,.user-top-info .user-nickname,.user-top-info .btn-sign,.user-top-info .user-shop-info{position: absolute;}
.user-progress .u-level,.user-top-info .btn-sign,.user-top-info .user-shop-info .user-info-1,.user-top-info .user-shop-info .user-info-2,.user-top-info .user-shop-info .user-info-3,.user-top-info .user-avatar-wrap i,.user-top-info .user-avatar-wrap .user-avatar-close,.user-menu li,.user-menu li a:hover,.uservip-level .uservip-progress-bg,.uservip-promise-left i{background: url(../images/user/user-img.png) no-repeat;}



.user-top-info .user-avatar-wrap{display: none; position: absolute; left: 56px; top: 184px; width: 322px; padding: 20px 10px 7px 9px; background: #fff; border:1px solid #dadada; z-index: 100; box-shadow: 0 -3px 0px -2px #eee;}
.user-top-info .user-avatar-wrap i{position: absolute; left: 49px; top: -9px; display: inline-block; width: 14px; height: 9px; background-position: -240px -20px; z-index: 100;}
.user-top-info .user-avatar-wrap .user-avatar-close{position: absolute; top: 4px; right: -5px; background-position: -257px -20px; width: 10px; height: 10px;}
.user-top-info .user-avatar-wrap a{display: inline-block; float: left; width: 83px; height: 83px; margin: 0 11px 10px 11px; border: 1px solid #fff;}
.user-top-info .user-avatar{cursor: pointer; left: 50px; top: 17px; width: 156px; height: 156px; -moz-border-radius:80px; -webkit-border-radius:80px; border-radius:80px;}
.user-top-info .user-avatar-wrap img{width:83px; height:83px; border-radius: 50%;}
.user-top-info .user-avatar-wrap a:hover{border: 1px solid #ff5d13;}
.user-top-info .user-avatar-edit{width: 100px; height: 24px; line-height: 24px; background: url(../images/user/user33.png) no-repeat; text-align: center; left: 78px; top: 185px; font-size: 14px; color: #ff5d13;}
.user-top-info .user-nickname{left: 273px; top: 54px;}
.user-top-info .user-nickname dt{margin-right: 12px; color: #ff5d13; font-size: 22px;}
.user-top-info .user-nickname dd{margin-top: 10px;}
.user-top-info .user-nickname dd a{ color: #a8a8a8;}
.user-top-info .user-progress{position: relative; left: 273px; top: 89px; width: 670px; height: 20px;}
.user-progress .user-progress-vip{position: absolute; left: 0; top: 0; display: inline-block; width: 72px; height: 20px; }
.user-progress .u-level-00{background-position:-1px -196px;} 
.user-progress .u-level-01{background-position:0 0;} 
.user-progress .u-level-02{background-position:0 -25px;} 
.user-progress .u-level-03{background-position:0 -52px;} 
.user-progress .u-level-04{background-position:0 -77px;} 
.user-progress .u-level-05{background-position:0 -101px;} 
.user-progress .u-level-06{background-position:0 -124px;} 
.user-progress .u-level-07{background-position:0 -148px;} 
.user-progress .u-level-08{background-position:0 -172px;} 
.user-progress .user-progress-groove{position: absolute; left: 89px; top: 5px; width: 388px; height: 12px; padding: 2px 3px; background: url(../images/user/user-img.png) no-repeat -227px 0; -moz-border-radius:80px; -webkit-border-radius:80px; border-radius:80px;}
.user-progress .user-progress-core-s{width: 4px; height: 12px; background: url(../images/user/user-img.png) no-repeat -227px -20px;}
.user-progress .user-progress-core-m{width: 50%; height: 12px; background-color: #ffcd00;}
.user-progress .user-progress-core-e{width: 4px; height: 12px; background: url(../images/user/user-img.png) no-repeat -234px -20px;}
.user-progress .user-progress-source{position: absolute; top: 5px; left: 494px; color: #7f7f7f;}
.user-top-info .btn-sign{display: inline-block; width: 148px; height: 44px; line-height: 44px; text-align: center; background: url(../images/user/user-img.png) no-repeat -77px -45px; right: 54px; top: 46px; color: #6d3902; font-size: 22px; text-decoration: none; font-weight: normal;}
.user-top-info .btn-sign:hover{background-position: -77px 0;}
.user-top-info .user-shop-info{left: 273px; height: 40px; top: 156px; width: 906px; line-height: 20px; font-size: 14px;}
.user-top-info .user-shop-info li{float: left; width: 253px; height: 40px; color: #666; padding-left: 49px }
.user-top-info .user-shop-info .user-info-1{background-position: -580px -24px; }
.user-top-info .user-shop-info .user-info-2{background-position: -580px -65px;}
.user-top-info .user-shop-info .user-info-3{background-position: -580px -106px;}
.user-top-info .user-shop-info li .orange{color: #ff5d13;}
.user-top-info .user-shop-info li .a9{color: #999; font-size: 12px;}
.user-shop-info li .a9:hover{color: #ff5d13;}


/*******我的账号*******/
.userContent{width: 1178px; border: 1px solid #dddbdb; background: #fff;}
.userContent .user-left {position: relative; z-index: 10;width: 207px;padding: 32px 0 0 15px;}
.userContent .user-menu{width: 207px;}
.user-menu li{ width: 217px; height: 38px; line-height: 38px; margin-bottom: 22px; background-position: -130px -137px; }
.user-menu li a{display: block; width: 181px; font-size: 16px;  text-align: center;}
.user-menu li.focus{background-position:-130px -92px; }
.user-menu li.focus a{color: #ff5d13;}
.user-menu li a:hover{background-position:-130px -181px; color: #ff5d13; text-decoration: none; }
.user-right {position: relative;z-index: 5;width: 855px;padding: 34px 51px 23px 49px;border-left: 1px solid #e2e0e0; min-height:600px;}
.user-right .user-title{position: relative; width: 839px; height: 21px; line-height: 21px; font-size: 22px; padding-left: 16px; margin-bottom: 21px;}
.user-right .user-title .common-title-ico{position: absolute; left: 0; top: 0; width:6px; height:21px; background: #ff5d13;}
.uservip-level{ width:825px; height: 101px; padding: 21px 15px 0; margin-bottom: 80px; background: #fafafa; }
.uservip-level .uservip-title{font-size: 14px; font-weight: bold; margin: 0 16px 23px 16px;}
.uservip-level .uservip-title span{color: #ff5d13;}
.uservip-level .uservip-progress-bg{position: relative; width: 824px; height: 40px; line-height: 21px; background-position: 0 -224px; text-align: center;}
.uservip-level .uservip-progress-bg{background: url(../images/user/user30.png) no-repeat;}

.uservip-level .uservip-progress-bg .uservip-progress-bg-text{color:#ff5d13; position: absolute; left:50%; z-index: 50;}
.uservip-progress-bg span i{font-style: normal;}
.uservip-progress-bg .uservip-progress-core{position: absolute; left: 0; top: 0; z-index: 30; height: 21px; background: #ff5d13;}
.uservip-progress-bg .uservip-bottom{width: 824px; line-height: 5px; *line-height: 9px; position: absolute; top: 33px; left: 0;}
.uservip-progress-bg .uservip-bottom span{position: absolute; float: left; left: 0;}
.uservip-progress-bg .uservip-bottom b{display: none;}
.uservip-progress-bg .uservip-bottom .uservip-bottom-level8{float: right; left: 798px;}
/*.uservip-progress-bg .uservip-bottom .uservip-bottom-level1{margin-left: 20px;}
.uservip-progress-bg .uservip-bottom .uservip-bottom-level2{margin-left: 20px;}
.uservip-progress-bg .uservip-bottom .uservip-bottom-level3{margin-left: 20px;}
.uservip-progress-bg .uservip-bottom .uservip-bottom-level4{margin-left: 20px;}
.uservip-progress-bg .uservip-bottom .uservip-bottom-level5{margin-left: 20px;}
.uservip-progress-bg .uservip-bottom .uservip-bottom-level6{margin-left: 20px;}
.uservip-progress-bg .uservip-bottom .uservip-bottom-level7{margin-left: 20px;}*/
.uservip-bottom span i{display: inline-block; width: 6px; height: 4px; background: url(../images/user/user29.png) no-repeat; position: absolute; top: -12px; left: 10px; font-size: 12px;}
.uservip-bottom .uservip-bottom-level0 i{left: 0;}
.uservip-bottom .uservip-bottom-level8 i{left: 20px;}
.uservip-wrapper,.promise-wrapper,.my-info-wrapper{position: relative; margin-bottom: 19px;}
.uservip-promise,.promise-info,.my-info{position: relative; width: 823px; height: 39px; padding: 18px 16px 14px 16px; }
.uservip-promise-left,.uservip-promise-right{position: relative; width: auto; height: 26px; line-height: 26px;}
.uservip-promise-left i{position: absolute; top: 4px; display: inline-block; width: 15px; height: 17px; background-position: -291px -20px;}
.uservip-promise-left span{font-size: 14px; color: #333; font-weight: bold; margin-right: 17px; margin-left: 23px;}
.uservip-promise-left a{color: #3d74ff;}
.uservip-promise-right span,.uservip-promise-right a{font-weight: bold; font-size: 14px;}
.uservip-promise-right span{margin-right: 19px;}
.uservip-promise-right span i{font-style: normal;}
.uservip-promise-right span i.uservip-promise-100{display: none;}
.uservip-promise-right a{display: inline-block; width: 75px; height: 24px; line-height: 24px; text-align: center; border: 1px solid #dcdcdc; color: #dcdcdc;text-decoration: none;}
.uservip-promise-green{position: absolute; left: 15px; top:52px; width: 823px; height: 3px; background: #eee; border:1px solid #dcdcdc;}
.uservip-promise-green .progress-core-green{width: 20%; height: 5px; background: #8fc31f;}
.uservip-promise:hover,.promise-info:hover,.my-info:hover,.uservip-promise-focus,.promise-info-focus,.my-info-focus{ -webkit-box-shadow: -4px 0 8px #f1f1f1, 4px 0 8px #f1f1f1, 0 -4px 8px #f1f1f1, 0 4px 8px #f1f1f1; -moz-box-shadow: -4px 0 8px #f1f1f1, 4px 0 8px #f1f1f1, 0 -4px 8px #f1f1f1, 0 4px 8px #f1f1f1; -ms-box-shadow: -4px 0 8px #f1f1f1, 4px 0 8px #f1f1f1, 0 -4px 8px #f1f1f1, 0 4px 8px #f1f1f1; box-shadow: -4px 0 8px #f1f1f1, 4px 0 8px #f1f1f1, 0 -4px 8px #f1f1f1, 0 4px 8px #f1f1f1; background: url(../images/user/user-img.png) no-repeat -128px -363px\9; }

.uservip-promise-right .promise-focus,.uservip-promise-right .info-focus,.uservip-promise-right .my-focus{border: 1px solid #ff4302; color: #ff4302; text-decoration: none;}
.uservip-promise-right .my-focus,.uservip-promise-right .promise-focus,.uservip-promise-right .info-focus{background:#ff4302; color:#fff;}
.uservip-promise-focus .uservip-promise-left i,.promise-info-focus .uservip-promise-left i,.my-info-focus .uservip-promise-left i{background: url(../images/user/user-img.png) no-repeat -271px -20px; width: 17px; height: 15px;}
.uservip-wrapper .show-content,.promise-wrapper .show-content,.my-info-wrapper .show-content{position: relative; z-index: 150; top: 5px; left: 0; width: 735px; height: 272px; padding: 29px 60px 35px; background: #f8f8f8; display: none;}
.promise-wrapper .show-content{ top: 5px; left: 0;}



.my-info-wrapper .show-content{top: 5px; left: 0; z-index: 100;}
.uservip-wrapper .show-content .sfz-info{width: 735px; height: 196px ; border:1px solid #dcdcdc; background: #fff; margin: 0 auto; text-align: center; }
.sfz-info .sfz-name,.sfz-info .sfz-num{position: relative; font-size: 14px;}
.sfz-info .sfz-name{margin: 31px 0 18px 0; }
.sfz-info .sfz-name input,.sfz-info .sfz-num input{width: 260px; height: 30px; background: #dfdfdf; line-height: 30px; border: 0; text-indent: 10px;}
.sfz-info .sfz-name .sfz-yes,.sfz-info .sfz-num .sfz-yes{  display: inline-block; background: url(../images/user/user-yes.png) no-repeat; width: 16px; height: 16px; outline: none; margin: 7px 5px 0 11px; font-size: 14px; color: #ff4302;}
.sfz-info .sfz-name .sfz-yes,.sfz-info .sfz-num .sfz-yes,.sfz-info .sfz-name .sfz-no,.sfz-info .sfz-num .sfz-no{position: absolute; height: 30px; line-height: 30px; color: #ff5d13; text-indent: 11px;}

.sfz-info .sfz-queding{display: inline-block; width: 141px; height: 38px; line-height: 38px; background: url(../images/user/user2.png) no-repeat; text-align: center; margin-top: 22px; color: #fff; text-decoration: none; font-size: 16px;}
.sfz-info .sfz-queding:hover{background: url(../images/user/user-img.png) no-repeat 0 -276px;}
.game-guize{font-size: 14px; margin-top: 22px;}
.game-guize span{color: #ff4302;}

.promise-wrapper .show-content{height: 252px; padding-top:36px; padding-bottom:28px;}
.my-info-wrapper .show-content{padding: 32px 59px 29px; height: 396px}

.promise-list{width: 737px;}
.promise-list li{width: 737px; height: 84px; }
.promise-list li .bagnding-title{float: left; width: 217px; height: 51px; line-height: 51px; font-size: 20px;margin: 12px 0 0 20px; }
.promise-list li .bagnding-title i{float: left; display: inline-block; width: 51px; height: 51px; background: url(../images/user/user-img.png) no-repeat -229px -39px; margin-right: 16px; }
.promise-list li .bangding-details{float: left; margin-top: 12px; width: 377px; height: 51px; line-height: 51px; font-size: 14px;}
.promise-list li .bangding-btn{display: inline-block; font-size: 20px; color: #333; margin-top: 20.5px; width: 100px; height: 34px; line-height: 34px; text-align: center; color: #ff5d13; font-size: 14px; background: url(../images/user/user-img.png) no-repeat -1px -362px;}
.promise-list li .bangding-btn:hover{color: #fff; background-position: -1px -401px; text-decoration: none; }
.promise-list li:hover{background: #fce7e0;}
.promise-list li .mibao-title i{background-position: -284px -38px;}
.promise-list li .mobile-title i{background-position: -341px -38px;}
.user-wallow-tr { height: 48px; border: 1px solid #dcdcdc; position: relative;  margin-top: -1px; font-size: 14px; }
.user-wallow-tr-first { margin-top: 0; }
.user-wallow-td { height: 30px; line-height: 30px; background: #fff; font-size: 14px; padding: 9px 20px; float: left; text-align: right; }
.user-wallow-td span{color: #ff4302;}
.user-wallow-td-left {background: #f7f7f7; width: 100px; }
.user-wallow-td-right{position: relative; width: 545px; text-align: left; padding: 9px 24px; }
.input { border: 1px solid #d9d9d9; border-radius: 2px; background-color: #fff; box-shadow: 0 0 3px #ddd inset; }
.user-wallow-td-right .user-text { width: 268px; height: 18px; padding: 5px 8px;border: 1px solid #d9d9d9; border-radius: 2px; background-color: #fff; box-shadow: 0 0 3px #ddd inset; }
.user-per-radio{margin-right: 60px; font-size: 14px;}
.user-per-radio .radio{width: 20px; height: 20px; margin-right: 2px; vertical-align: middle;}
.user-per-tr-more{ height: 100px; }
.user-per-btn{text-align: center;}
.user-per-btn .btn-yellow-150{display:inline-block; width: 150px; height: 42px; line-height: 42px; font-size: 18px; color: #fff; background: url(../images/user/user27.png) no-repeat; text-decoration: none;}
.user-per-btn .btn-yellow-150:hover{background: url(../images/user/user28.png) no-repeat;}
.sq-selectmenu {display: inline-block; position: relative;}
#sel_year,#sel_month,#sel_day{font-size: 14px;}
.sq-selectmenu-input {padding: 4px 5px; line-height: 20px; border: 1px solid #d9d9d9; border-radius: 2px; background-color: #fff; box-shadow: 0 0 3px #ddd inset; width: 93px;}
.sq-selectmenu-input option{color: #585954;}

.sq-selectmenu-btn { display: inline-block; position: absolute; right: 10px; top: 14px; width: 9px; height: 6px; background: url(../images/user/user-down.png) no-repeat;}
.sq-selectmenu-btn-focus{background:url(../images/user/user-up.png) no-repeat;}
.sq-selectmenu-menu a { color: #585954; display: block; padding: 7px 8px; white-space: nowrap;}
.sq-selectmenu-menu a.sq-selectmenu-menu-focus,.sq-selectmenu-menu li:hover,.sq-selectmenu-menu li:hover a{background-color: #ff6500; color: #fff; text-decoration: none;}
.sq-selectmenu-menu a.sq-selectmenu-menu-focus,.sq-selectmenu-menu a.sq-selectmenu-menu-focus:hover{background: #f2f2f2; color:#585954;}


/******充值记录*****/
.mypay{width: 855px;}
.mypay-table {width: 855px; font-size:16px; color:#666; border: 1px solid #dcdcdc; border-collapse: collapse; }
.mypay-table th {height: 57px; line-height: 57px; border: 1px solid #dcdcdc; color: #999; font-weight: bold; text-align: center; }
.mypay-table tr {width: 855px;}
.mypay-table tr.change-color:hover{background: #efefef;}
.mypay-table td { border: 1px solid #dcdcdc; height: 49px; line-height: 49px; text-align: center; }
.mypay-table .mypay-num,.mypay-table .mypay-game,.mypay-table .mypay-server,.mypay-table .mypay-money,.mypay-table .mypay-type,.mypay-table .mypay-time,.mypay-table .mypay-status{overflow: hidden; white-space: nowrap; text-overflow: ellipsis;}
.mypay-table .mypay-num{width: 168px; }
.mypay-table .mypay-game{width: 110px; }
.mypay-table .mypay-server{width: 102px; }
.mypay-table .mypay-money{width: 98px; }
.mypay-table .mypay-type{width: 129px; }
.mypay-table .mypay-time{width: 128px; }
.mypay-table .mypay-status{width: 99px; }
.mypay-table .mypay-status a{display: inline-block; height: 49px; text-decoration: none; }
.mypay-table .mypay-status .success-green{color: #70bc02;}
.mypay-table .mypay-status .fail-red{color: #ff0000;}
.user-right .fenye{width: 855px; height: 57px; line-height: 57px; margin: 30px auto 0; background: #f9f7f7; text-align: center; font-size: 14px;}
.user-right .fenye .fenye-normal{display: inline-block; width: 27px; height: 27px; line-height: 27px; text-align: center; background: url(../images/user/user3.png) no-repeat; margin-right: 13px; color: #ff5d13; text-decoration: none;}
.user-right .fenye .fenye-focus{color: #fff; background: url(../images/user/user4.png) no-repeat;}
.user-right .link-service{text-align: center; font-size: 14px;margin-top:11px;}
.user-right .link-service p span{color: #ff5d13;}



/******账号安全*****/
.user-right-nav{height: 43px; font-size: 16px; color: #666; margin-left:11px; line-height: 43px; }
.user-right-nav .user-safe{display: block; float: left; width: 42px; height: 43px; line-height: 43px; background: url(../images/user/user6.png) no-repeat; margin-right: 12px;}
.password-details{color: #999; text-align: left; margin: 44px 0 35px 65px;}
.password-details p{ line-height: 25px; width: 625px; }
.password-details .password-details-title{font-size: 14px; color: #333;}

.user-right-box{margin: 0 auto; text-align: center; font-size: 14px; color: #333;}
.user-right-box input{width: 179px; height: 28px; line-height: 28px; border:1px solid #dcdcdc; margin-bottom: 17px;}
.password-btn-wrap{width: 855px; text-align: center; margin-top: 14px;}
.password-btn{text-align: center; display: inline-block; width: 117px; height: 32px; line-height: 32px; color: #fff; background: url(../images/user/user5.png) no-repeat; font-size: 16px;}
.password-btn:hover{background: url(../images/user/hover1.png) no-repeat; color: #fff; text-decoration: none;}


/******账号安全-设置密保成功*****/
.user-right-nav .user-mibao{display: block; float: left; width: 42px; height: 43px; line-height: 43px; background: url(../images/user/user7.png) no-repeat; margin-right: 12px;}
.mibao-question{width: 855px; text-align: center; margin-top: 53px;}
.mibao-question p{font-size: 16px; color: #333; margin-bottom: 20px; margin-left: -73px;}
.mibao-question a{font-size: 14px; color: #ff5d13;}
.mibao-question .fanhui{display: inline-block; width: 110px; height: 30px; line-height: 30px; text-align: center; background: url(../images/user/user8.png) no-repeat; color: #666; margin-right: 10px;}
.mibao-question p { height: 30px; padding-bottom: 14px; line-height: 30px; font-size: 14px; }
.mibao-question label{ display: inline-block; width: 108px; text-align: right; margin-right: 10px; vertical-align: middle; *vertical-align: top; }
.user-right-box label{display: inline-block; width: 108px; text-align: right; vertical-align: middle; *margin-top: -10px;}
.mibao-question p .red { color: #ff5d13; }
.mibao-question .sq-selectmenu { display: inline-block; position: relative; }
.mibao-question .sq-selectmenu-input { height: 20px; padding: 4px 5px; line-height: 20px; border: 1px solid #d9d9d9; border-radius: 2px; background-color: #fff; box-shadow: 0 0 3px #ddd inset; }
.mibao-question .sq-selectmenu .sq-selectmenu-btn { display: inline-block;position: absolute;right: 16px;top: 14px;width: 9px; height: 6px;background: url(../images/user/user-down.png) no-repeat;}
.mibao-question .sq-selectmenu .sq-selectmenu-btn-focus{background: url(../images/user/user-up.png) no-repeat;}
.mibao-question p input.text {width: 238px;height: 20px;padding: 4px 5px;line-height: 20px;border: 1px solid #d9d9d9;border-radius: 2px;background-color: #fff;box-shadow: 0 0 3px #ddd inset;font-size: 12px;color: #3c3c3c;}
.sq-selectmenu-menu {display: none;width: 248px;top: 0;left: 0;position: absolute;border: 1px solid #d9d9d9;overflow: auto;background-color: #fff;color: #585954;z-index: 9999;max-height: 300px;}
.sq-selectmenu-menu a {color: #585954;display: block;padding: 7px 8px;z-index: 10;white-space: nowrap;}
.mibao-question .mibao-btn{display: inline-block;width: 141px;height: 38px;line-height: 38px;background: url(../images/user/user2.png) no-repeat;text-align: center;margin-top: 16px;color: #fff;text-decoration: none;font-size: 16px;margin-left: 56px;}
.mibao-question .mibao-btn:hover{background: url(../images/user/user-img.png) no-repeat 0 -276px;}

/******设置二级密码 跳转*****/
.user-two-pass{width: 855px; margin: 42px 0 0 62px; }
.user-two-pass p.two-pass-tishi{font-size: 14px; color: #333;}
.user-two-pass p.two-pass-tishi span,.two-pass-tishi .two-pass-res{color: #ff5d13;}
.two-pass-tishi{width: 558px; margin-bottom: 20px;}
.user-two-pass ul li{margin-bottom: 8px;}
.user-two-pass ul li p{font-size: 18px; color: #999;}
.user-two-pass ul li span{display: inline-block; width:16px; height: 16px; background: url(../images/user/user-yes.png) no-repeat; margin-left: 10px;}
.user-two-pass ul li a{color: #ff5d13; font-size: 18px; }
.bangding-result-wrap{margin-top: 31px;}
.bangding-result-wrap a{display: inline-block; width: 117px; height: 32px; line-height: 32px; text-align: center; background: url(../images/user/user5.png) no-repeat; color: #fff; text-decoration: none; margin-right: 8px;}
.bangding-result-wrap a:hover{background:url(../images/user/hover1.png) no-repeat;}



/******手机验证*****/
.user-right-nav .user-mobile{display: block; float: left; width: 42px; height: 43px; line-height: 43px; background: url(../images/user/user9.png) no-repeat; margin-right: 12px;}
.mobile-wrap{width:855px; margin-top: 43px; text-align: center; }
.mobile-num,.mobile-message{font-size: 14px; color: #333; height: 30px; line-height: 30px;}
.mobile-num label,.mobile-message label{display: inline-block\9; *vertical-align: top;}
.mobile-num label{ margin-left: 3px;}
.mobile-message{margin-left: -10px;}
.mobile-num input,.mobile-message input{width: 248px; height: 28px; line-height: 28px; border: 1px solid #dcdcdc;}
.mobile-num span,.mobile-message span{color: #ff5d13;}
.mobile-tixing{margin: 10px 0 25px 0; text-align: left; height: 26px; line-height: 26px;}
.mobile-tixing span{color: #999; padding: 0 34px 0 356px; float: left;}
.mobile-tixing .mobile-tixing-btn{ border: 1px solid #959595; background: none; padding: 3px 5px; *padding: 3px 3px 0; float: left; *overflow:visible; font-size: 12px;}
.mobile-tixing .mobile-tixing-btn::-moz-focus-inner {border:0;padding:0;}

.mobile-wrap .mobile-queding{display: inline-block; width: 117px; height: 32px; line-height: 32px; text-align: center; background: url(../images/user/user5.png) no-repeat; color: #fff; font-size: 16px; text-decoration: none; margin-top: 20px;}
.mobile-wrap .mobile-queding:hover{background:url(../images/user/hover1.png) no-repeat;}
.mobile-wrap p{font-size: 14px; color: #999; margin-top: 106px;}


/******我的游戏*****/
.user-mygame-list { width: 814px; height: 170px; padding: 19px 22px 19px 19px; border: 1px solid #eee; border-radius: 3px; margin-bottom: 22px; transition: all .2s; }
.user-mygame-list:hover{  box-shadow: 0 0 8px #ff6600; background: url(../images/user/user19.png) no-repeat -2px -2px\9; border:0\9; border: 1px solid #ff6600; border:1px solid #fff\9; }

.user-mygame-imglink { width: 267px; }
.user-mygame-list img { width: 267px; height: 170px; border-radius: 3px; }
.user-mygame-detail { width: 515px; padding-left: 30px; }
.user-mygame-link { line-height: 34px; }
.user-mygame-name { font-size: 22px; }
.user-mygame-slist { padding-top: 12px; height: 22px; line-height: 22px; }
.user-mygame-slist span { width: 72px; color: #666; display: inline-block; font-size: 14px; margin-right: 19px; }
.user-mygame-slist .btn { width: 131px; height: 22px; line-height: 22px; _line-height: 22px; margin-right: 9px; color: #ff5d13; display: inline-block; text-align: center; overflow: hidden; vertical-align: middle; background: url(../images/user/user17.png) no-repeat; }
.user-mygame-slist .btn:hover{background: url(../images/user/user18.png) no-repeat; color: #fff; text-decoration: none;}
.user-mygame-btn { padding-top: 24px; }
.btn-mygame { width: 102px; height: 33px; display: inline-block; text-align: center; overflow: hidden; vertical-align: middle; color: #6c6c6c; line-height: 33px; margin-right: 21px;color: #666; text-decoration: none; text-indent: 6px;}
.user-mygame-slist .btn-margin0{margin-right: 0;}
.btn-mygame-web{background: url(../images/user/user13.png) no-repeat;}
.btn-mygame-bbs{background: url(../images/user/user14.png) no-repeat;}
.btn-mygame-web:hover{background: url(../images/user/user15.png) no-repeat;color: #fff; text-decoration: none;}
.btn-mygame-bbs:hover{background: url(../images/user/user16.png) no-repeat;color: #fff; text-decoration: none;}
.mygame-fenye{width: 857px; text-align: right;}
.mygame-fenye a{display: inline-block; float: right; width: 12px; height: 11px; background: url(../images/user/user10.png) no-repeat; margin-right: 3px;}
.mygame-fenye a.mygame-fenye-focus{background: url(../images/user/user12.png) no-repeat;}
.no-playgame{width: 857px; text-align: center; font-size: 24px; color: #999; margin-top: 95px;}


/******用户平台币*****/
.user-coin{position: relative; width: 853px; height: 137px; border:1px solid #dcdcdc;}
.user-coin .user-coin-left{width: 236px; height: 139px; border-right: 1px solid #dcdcdc; text-align: center;}
.user-coin .user-coin-left p{position: absolute; top:37px; left: 0; float: left; width: 236px; height: 64px;}
.user-coin .user-coin-left p .orange i{display: inline-block; width: 28px; height: 28px; background: url(../images/user/user31.png) no-repeat; margin-right: 10px;}
.user-coin-left p span{font-size: 14px; color: #666;}
.user-coin-left p .orange{font-size: 36px; color: #ff4302;}
.user-coin .user-coin-right{position: absolute; top: 53px;  left: 342px; width: 616px;}
.user-coin .user-coin-right a{margin-right: 27px;}
.user-coin-right .user-coin-pay,.user-coin-right .user-game-pay{display: inline-block; width: 129px; height: 33px; text-align: center; line-height: 33px; background: url(../images/user/user20.png) no-repeat; color: #ff5d13; font-size: 16px;}
.user-coin-right .user-coin-pay:hover,.user-coin-right .user-game-pay:hover{background: url(../images/user/user21.png) no-repeat; }
.user-coin-right .what-coin{font-size: 14px; font-weight: bold; color: #666; text-decoration: underline; vertical-align: bottom;}
.user-coin-right .what-coin:hover{color: #ff5d13;}
.user-coin-right .coin-message-tip{display: none; padding: 13px 19px 14px 10px; position: absolute; box-shadow: 0 0 10px #fcb190; border-radius: 5px; border: 1px solid #fdb493; background-color: #fff; z-index: 20; line-height: 18px; width: 183px; left: 316px; top: 40px; color: #999;}
.user-data{margin-top: 32px; width: 857px;}
.user-data table {width: 100%; border-collapse: collapse; border-spacing: 0;}
.user-data tr { border: 1px solid #eee; height: 49px; line-height: 49px; }
.user-data .col-1,.user-data .col-2,.user-data .col-3 { background-color: #fafafa; height: 59px; line-height: 59px; font-size: 16px; color: #999;}
.user-data td{text-align: center; font-size: 16px; color: #666;  border: 1px solid #e5e5e5;}
.user-data table .col-1,.user-data .user-data-time,.user-data table .col-2,.user-data .user-data-coinnum,.user-data table .col-3,.user-data .user-data-something{overflow: hidden; white-space: nowrap; text-overflow: ellipsis;}
.user-data table .col-1,.user-data .user-data-time{width:231px;}
.user-data table .col-2,.user-data .user-data-coinnum{width:166px;}
.user-data table .col-3,.user-data .user-data-something{width:451px;}
.user-data p.tc{height: 60px; line-height: 60px; text-align: center;}



/******用户积分*****/
.user-point{position: relative; width: 853px; height: 137px; border:1px solid #dcdcdc;}
.user-point .user-point-left{width: 236px; height: 139px; border-right: 1px solid #dcdcdc; text-align: center;}
.user-point .user-point-left p{position: absolute; top:37px; left: 0; float: left; width: 236px; height: 64px;}
.user-point-left p span{font-size: 14px; color: #666;}
.user-point-left p .orange{font-size: 36px; color: #ff4302;}
.user-point-left p .orange i{display: inline-block; width: 28px;height: 28px;background: url(../images/user/user32.png) no-repeat; margin-right: 10px;}
.user-point .user-point-right{position: absolute; top: 53px;  left: 342px; width: 616px;}
.user-point .user-point-right a{margin-right: 27px;}
.user-point-right .user-point-get,.user-point-right .user-point-tihuan{display: inline-block; width: 129px; height: 33px; text-align: center; line-height: 33px; background: url(../images/user/user20.png) no-repeat; text-decoration: none; color: #ff5d13; font-size: 16px;}
.user-point-right .user-point-get:hover,.user-point-right .user-point-tihuan:hover{background: url(../images/user/user21.png) no-repeat; }
.user-point-right .what-point{font-size: 14px; font-weight: bold; color: #666; text-decoration: underline; vertical-align: bottom;}
.user-point .user-message-tip{display: none; padding: 13px 19px 14px 10px;  position: absolute; box-shadow: 0 0 10px #fcb190; border-radius: 5px; border: 1px solid #fdb493; background-color: #fff; z-index: 20; line-height: 18px; width: 183px; left: 158px; top: 40px; color: #999;}
.user-point .what-point:hover{color: #ff5d13;}
.user-tab { padding: 50px 0 0; height: 20px; line-height: 20px; color: #eaeaea; font-size: 16px; }
.user-tab .focus { color: #ff5d13; }
.user-tab span, .user-tab a { margin: 0 5px; }
.user-tab a:hover{text-decoration: none; color: #ff5d13;}
.user-data-top{margin-top: 20px;}
.user-data table {width: 100%; border-collapse: collapse; border-spacing: 0;}
.user-data tr { height: 49px; line-height: 49px; }
.user-data th { background-color: #fafafa; border: 1px solid #e5e5e5; height: 59px; line-height: 59px; font-size: 16px; color: #999;}
.user-data td{text-align: center; font-size: 16px; color: #666;  border: 1px solid #e5e5e5;}
.user-data table .col-1,.user-data .user-data-time,.user-data table .col-2,.user-data .user-data-pointnum,.user-data table .col-3,.user-data .user-data-something{overflow: hidden; white-space: nowrap; text-overflow: ellipsis;}
.user-data table .col-1,.user-data .user-data-time{width:231px;}
.user-data table .col-2,.user-data .user-data-pointnum{width:166px;}
.user-data table .col-3,.user-data .user-data-something{width:451px;}
.user-data p.tc{height: 60px; line-height: 60px; text-align: center;}


/*****我的消息*****/
.user-tab-wrap {height: 34px;line-height: 20px;color: #666; border-bottom: 1px solid #ff5d13; margin: 0 0 20px; padding-left: 20px;}

.user-message-tab .user-message-tab-fl{float: left;margin: 0 2px 0 0;}
.user-message-tab .user-message-tab-first{margin-left: 35px;}
.user-message-tab .show-noread{height: 34px; line-height: 34px; margin-right: 20px;}
.user-message-tab .show-noread .show-noread-checkbox{float: left; margin:9px 8px 0 0;}
.show-noread label{color: #272727; cursor: pointer; font-size: 12px; }
.user-message-tab .user-message-tab-po{display: block; width: 74px; height: 34px; line-height: 34px; text-align: center; background: #f1f1f1; color: #999; font-size: 14px; text-decoration:none; cursor:pointer;}

.user-tab-wrap .focus .user-message-tab-po{color: #fff;background: #ff5d13;}
.user-message-tab a, .user-message-tab span {
    margin: 0;
}
.user-message-tab .user-message-tab-po {
    position: relative;
}

.user-message-top {width: 820px;margin-left: 20px;background: #fafafa;border: 1px solid #f2f2f2;position: relative;}
.user-message-top p {
    padding: 14px 0 14px 5px;
}
.user-message-top .user-m-checkbox {
    margin-left: 4px;
    top: -1px;
}
.checkbox {
    width: 16px;
    height: 16px;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    background: url(../images/user/user24.png) no-repeat;
}
.checked{background: url(../images/user/user25.png) no-repeat;}
.user-message-top label {
    margin: 0 20px 0 8px;
    color: #3c3c3c;
    display: inline-block;
    cursor: pointer;
}
.btn-message-del {
    width: 88px;
    height: 24px;
    border-radius: 3px;
    line-height: 24px;
    _line-height: 26px;
    position: absolute;
    top: 9px;
    right: 11px;
    border: 1px solid #dcdcdc;
    background: #fff;
    color: #666;
    display: inline-block;
    text-align: center;
    overflow: hidden;
    vertical-align: middle;
}
.user-message {
    margin: 20px 0 20px 31px;
}
.hide {
    display: none;
}
.user-message-panel {
    margin-bottom: 20px;
    width: 774px;
    height: 139px;
    padding-left: 34px;
    position: relative;
    transition: all .2s;
}

.user-message-panel .user-mp-checkbox {
    position: absolute;
    top: 50%;
    margin-top: -7px;
    left: 5px;
}
.user-message-content {
    padding: 15px 30px 11px 224px;
    border: 1px solid #eee;
    border-radius: 4px;
    height: 111px;
    position: relative;
    color: #3c3c3c;
    background: #fff;
}
.user-message-content:hover{
    border-color: #ddd;
    box-shadow: 0 0 10px #ddd;
    background: url(../images/user/user26.png) no-repeat\9;
    box-shadow: none\9;
    border: 1px solid #fff\9;
 
}
.user-message-content .img {
    width: 183px;
    height: 117px;
    position: absolute;
    top: 10px;
    left: 13px;
    padding-bottom: 20px;
}
.user-message-content .title {
    height: 20px;
    line-height: 20px;
    font-size: 18px;
    margin-bottom: 12px;
}
.user-message-content .content {
    line-height: 18px;
    height: 70px;
}
.user-message-content .content .user-message-name{color: #ff0404;}
.user-message-content .date {
    text-align: right;
    right: 30px;
    bottom: 10px;
    line-height: 18px;
    height: 18px;
    color: #aaa;
    position: absolute;
}






/******2016.06.10-lxx*****/
.lxx_mibao{ width:855px;}
.lxx_mibao .lxx_title{ height:42px; background:url(../images/user/bg_2.gif) no-repeat left; padding-left:67px; font-size:16px; color:#666666; line-height:42px; font-weight:bold;}
.lxx_mibao .shoujibg{background:url(../images/user/bg_5.gif) no-repeat left;}
.lxx_mibao .bmail{background:url(../images/user/bg_6.gif) no-repeat left;}
.lxx_mibao .bmibao{background:url(../images/user/user7.png) no-repeat left;}
.lxx_mibao .buzhu{ width:625px; height:65px; position:relative; z-index:0; margin-left:107px;}
.lxx_mibao .buzhu .buzhu_line{ width:535px; height:2px; background-color:#f2f2f2; position:absolute; top:13px; left:45px; z-index:3;}
.lxx_mibao .buzhu dd{ position:absolute; z-index:4; width:90px; height:65px; font-size:14px; color:#999999; text-align:center;}
.lxx_mibao .buzhu dd.buzhu1{ top:0px; left:0px; background:url(../images/user/bg_3nohover.gif) no-repeat top center;}

.lxx_mibao .buzhu dd.buzhu2{ top:0px; left:269px; background:url(../images/user/bg_3nohover.gif) no-repeat top center;}
.lxx_mibao .buzhu dd.buzhu3{ top:0px; left:535px; background:url(../images/user/bg_3nohover.gif) no-repeat top center;}
.lxx_mibao .buzhu dd span{ line-height:37px; color:#6a6a6a;}
.lxx_mibao .buzhu dd p{ padding-top:10px;}

.lxx_mibao .buzhu dd.focus{background:url(../images/user/bg_3.gif) no-repeat top center;}
.lxx_mibao .buzhu dd.focus span{color:#ffffff;}
.lxx_mibao .buzhu dd.focus p{color:#75c419;}

.lxx_select{ width:725px; padding-left:107px;}
.lxx_select p{ float:left; line-height:30px; padding-top:15px; color:#353535; font-size:14px;}
.lxx_select p.left{ width:180px; text-align:right;}
.lxx_select p.left span{ color:#ff6c1e;}
.lxx_select p .checked_mibao{ width:260px; height:28px; border:1px solid #dcdcdc; color:#303030;}
.lxx_select .button_tel{ border:1px solid #959595; background:none; padding:3px 5px; margin-top:5px;}
.lxx_select .phone_code{ width:170px; height:28px; line-height:28px; border:1px solid #dbdbdb; padding:0px 5px;}
.lxx_select .phone_code2{ width:250px; height:28px; line-height:28px; border:1px solid #dbdbdb; padding:0px 5px;}
.lxx_select .width250{width:250px;}
.lxx_select .yanzma{vertical-align:middle;margin-left:10px;}
#lxxdisplay_tel{ display:block;}
#lxxdisplay_mail,#lxxdisplay_wenti{ display:none;}

.lxx_select .phone_next{width:139px; height:36px;background:url(../images/user/bg_4.gif) no-repeat; line-height:36px; text-align:center; color:#ffffff; border:none 0px; cursor:pointer; font-size:14px;}
.lxx_mibao .chenggong{ font-size:20px; color:#323232; text-align:center; padding-top:160px;}
.lxx_mibao .back{ font-size:20px; color:#FE5B0D; text-align:center; padding:20px 0 58px 0; border-bottom: 2px solid #f2f2f2; margin-bottom: 10px;}
.lxx_mibao .back a{display:inline-block; margin-right:40px; font-size:16px; color:#fff; text-decoration:none; background: url(../images/user/user35.png) no-repeat; width: 98px; height: 38px; line-height: 38px; text-align: center;}
.lxx_mibao .back a.pwPay{background:url(../images/user/user36.png) no-repeat; width:112px; height:38px;line-height:38px; text-align:center;}

.lxx_mibao .turn{padding-left:120px;}
.lxx_mibao .turn span{color:#999;font-size:15px;}
.lxx_mibao .turn a{color:#FE5B0D;font-size:15px;}
.lxx_select .font12{ font-size:12px;}


.lxx_mibao .mailbz{ padding-left:67px;}
.lxx_mibao .mailbz li{ width:118px; float:left; line-height:20px;color:#979797; font-size:14px;}
.lxx_mibao .mailbz li span{ display:inline-block; width:19px; height:20px;background:url(../images/user/bg_7.gif) no-repeat; text-align:center; color:#fff;}
.lxx_mibao .mailbz li.on{ color:#59c100;}
.lxx_mibao .mailbz li.on span{ color:#fff;background:url(../images/user/bg_8.gif) no-repeat; }

.lxx_mibao .mailbz2{}
.lxx_mibao .mailbz2 li{ float:left; padding-top:18px; line-height:30px; color:#343434; font-size:14px; height:30px;}
.lxx_mibao .mailbz2 li.left{ width:197px; text-align:right;}
.lxx_mibao .mailbz2 li.right{ width:658px;}

.lxx_mibao .select_mibao{ width:248px; height:28px; border:1px solid #d9d9d9; padding:0px 5px; line-height:28px; background:none;}
select { font-family : Trebuchet MS } 

.lxx_mibao .input_email{width:238px; height:28px; border:1px solid #d9d9d9; padding:0px 5px; line-height:28px; color:#666666; }
.lxx_mibao .inputyzm{width:117px; height:32px; border:0px none; background:url(../images/user/bg_9.gif) no-repeat; color:#fff; cursor:pointer;}

.lxx_mibao .mailbz3{ padding-left:120px; color:#999999; padding-bottom:50px;}
.lxx_mibao .mailbz3 .txt1{ font-size:16px; line-height:24px;}
.lxx_mibao .mailbz3 .txt2{ line-height:22px; padding-top:20px;}
.lxx_mibao .mailbz3 .txt3{ line-height:42px; padding-top:40px;}
.lxx_mibao .mailbz3 .mailbz_cx{ width:102px; height:25px; line-height:25px; text-align:center; background:url(../images/user/bg_10.gif) no-repeat; border:0px none; color:#666666; cursor:pointer;}

.lxx_safe{ padding-bottom:100px;}
.lxx_safe .lxx_star{color:#000000; line-height:24px;}
.lxx_safe .lxx_star span{ display:inline-block; width:198px; height:12px; margin-left:5px; margin-top:5px; background:url(../images/user/bg_11.gif) no-repeat}
.lxx_safe .lxx_star span i{display:inline-block; background:url(../images/user/bg_12.gif) no-repeat; height:12px;}
.lxx_safe .lxx_star b{ color:#ff5d13;}
.lxx_safe .lxx_xiugai{ height:45px; border:1px solid #eeeeee; background-color:#fafafa; padding-left:20px; padding-top:18px; line-height:28px; color:#666666; font-size:14px;}
.lxx_safe .lxx_xiugai a{ display:inline-block; width:133px; height:27px;background:url(../images/user/bg_13.gif) no-repeat; text-align:center; margin-left:8px; color:#ff5d13;}
.lxx_safe .lxx_ztai{border-bottom:1px dotted #dbdbdb;}
.lxx_safe .lxx_ztai li{ margin:9px 0 9px 0;  height:84px;}
.lxx_safe .lxx_ztai li.hover{ background-color:#ffebe4;}
.lxx_safe .lxx_ztai li p.txt1{ width:275px; float:left; margin-top:17px; font-size:20px; color:#333333; line-height:52px; text-indent:92px; background-repeat:no-repeat; background-position:20px;}
.lxx_safe .lxx_ztai li .bga{ background-image:url(../images/user/png_1a.png); }
.lxx_safe .lxx_ztai li .bgb{ background-image:url(../images/user/png_1b.png); }
.lxx_safe .lxx_ztai li .bgc{ background-image:url(../images/user/png_1c.png); }
.lxx_safe .lxx_ztai li .bgd{ background-image:url(../images/user/png_1d.png); }
.lxx_safe .lxx_ztai li .bge{ background-image:url(../images/user/png_1e.png); }
.lxx_safe .lxx_ztai li p.txt2{width:455px; float:left; margin-top:26px; line-height:24px; color:#666666;}
/*
.lxx_safe .lxx_ztai li a{ width:100px; height:34px;background-image:url(../images/user/bg_14.gif); display:inline-block; text-align:center; line-height:34px; font-size:14px; color:#666666; margin-top:27px; text-decoration:none; }
.lxx_safe .lxx_ztai li a.weishezhi{ color:#ff5d13;}
.lxx_safe .lxx_ztai li a.hover{background-image: url(../images/user/user-img.png) no-repeat -1px -362px;}
*/
.lxx_safe .lxx_ztai li .bangding-btn{display: inline-block; font-size: 20px; color: #333; margin-top: 20.5px; width: 100px; height: 34px; line-height: 34px; text-align: center; font-size: 14px; background: url(../images/user/user-img.png) no-repeat -1px -362px;}
.lxx_safe .lxx_ztai .bangding-btn:hover{color: #fff; background-position: -1px -401px; text-decoration: none; }
.lxx_safe .lxx_ztai li a.weishezhi{ color:#ff5d13;}

.lxx_safe .lxx_ztai li.hover a{background-image:url(../images/user/bg_14b.gif); color:#ffffff;}
.lxx_nav{ background-color:#ffffff; height:45px; line-height:45px; border-bottom:1px solid #dcdcdc;}
.lxx_nav li{ float:left; font-size:16px; border-top:1px solid #dcdcdc;border-left:1px solid #dcdcdc;}
.lxx_nav li a{width:194px; text-align:center; height:45px; display:inline-block; text-decoration:none;}
#game_tesk{border-right:1px solid #dcdcdc;}
.lxx_nav li.on{ background-color:#ff5d14;}
.lxx_nav li.on a{ color:#ffffff;}

.teskall{ background-color:#ffffff;}
.teskall h2{ height:40px; line-height:40px; color:#333333; font-size:14px; padding-left:20px; width:100%; float:left;}
.teskall ul{ border-top:1px solid #dcdcdc;border-left:1px solid #dcdcdc; float:left; width:100%;}
.teskall ul li{ width:392px;height:127px; float:left; border-right:1px solid #dcdcdc;border-bottom:1px solid #dcdcdc;}
.teskall ul li .left_img{ float:left; padding-top:45px; width:96px; text-align:center;}
.teskall ul li .zhong{ float:left; padding-top:40px; width:185px;}
.teskall ul li .zhong h3{ line-height:24px; font-size:16px; color:#333333;}
.teskall ul li .zhong p{ line-height:20px; font-size:12px; color:#999999;}
.teskall ul li .right{ width:110px; float:left; text-align:center;}
.teskall ul li .right p.fenshu{ color:#ff5d13; font-size:19px; line-height:30px; padding-top:30px;}
.teskall ul li .right p.welldone{ color:#78c31f; font-size:12px; line-height:22px; padding-top:8px;}
.teskall ul li .right p.lingqu{  padding-top:6px;}
.teskall ul li .right p.lingqu a{ width:91px; height:30px; text-align:center; line-height:30px; font-size:16px;background-image:url(../images/user/bg_15.gif); display:inline-block; color:#ffffff; text-decoration:none;}
.teskall ul li .right p.nodone a{background-image:url(../images/user/bg_16.gif); color:#333333;}
.teskall .notesks{ text-align:center; font-size:30px; color:#999999; min-height:100px; line-height:100px; width:1180px; float:left;border:1px solid #dcdcdc;}
#tesk_new,#tesk_vip,#tesk_day,#tesk_game{ display:none;}


/****通用弹框******/
.global-tip{display: block; width: 403px; height:222px; -webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px; box-shadow: 0px 1px 3px #8e8e8e; background: #fff; position: absolute; left:50%; top: 50%; margin-left: -201.5px; z-index: 99999999;}
.global-tip .global-tip-top{position: relative; width: 100%; height: 37px; line-height: 37px; background: #ededed;}
.global-tip-top .tip-top-left{float: left; font-size: 16px; color: #333; margin-left: 16px;}
.global-tip-close{width: 15px; height: 15px; position: absolute; right: 14px; top: 12px; background: url(../images/user/global-tip-close.png) no-repeat;}
.global-tip-content{width: 307px; height: 80px; margin: 22px 48px 18px; font-size: 14px; color: #666; max-height: 80px; overflow: hidden;}
.global-tip-btn{display: inline-block; width: 141px; height: 38px; margin-left:131px; line-height: 38px; text-align: center; color: #fff; background: url(../images/user/user2.png) no-repeat; font-size: 16px;}
.global-tip-btn:hover{background: url(../images/user/user-img.png) no-repeat -1px -319px; text-decoration: none; color: #fff;}

.global-tip-YN{display: block; width: 403px; height:222px; -webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px; box-shadow: 0px 1px 3px #8e8e8e; background: #fff; position: absolute; left:50%; top: 50%; margin-left: -201.5px; z-index: 99999999;}
.global-tip-YN .global-tip-top-YN{position: relative; width: 100%; height: 37px; line-height: 37px; background: #ededed;}
.global-tip-top-YN .tip-top-left-YN{float: left; font-size: 16px; color: #333; margin-left: 16px;}
.global-tip-contentYN{width: 403px; margin: 73.5px 0 0 50.5px;}
.global-tip-contentYN a{float: left; margin-right: 10px;}
.global-tip-yes,.global-tip-no{display: inline-block; width: 141px; height: 38px; line-height: 38px; text-align: center; color: #fff; background: url(../images/user/user2.png) no-repeat; font-size: 16px;}
.global-tip-yes:hover,.global-tip-no:hover{background: url(../images/user/user-img.png) no-repeat -1px -319px; text-decoration: none; color: #fff;}


.zhezhao{display: none;width:100%; background:#000; opacity:0.3; filter:alpha(opacity=30); position:absolute; top:0; left:0; z-index:99999998;}
/**********/
a.link_btn{
	text-decoration:none;
	display: inline-block;
    width: 141px;
    height: 38px;
    line-height: 38px;
    background: url(../images/user/user2.png) no-repeat;
    text-align: center;
    margin-top: 22px;
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}

/*密码安全级别start   qinfan 2016-5-16*/
.grade{
	padding: 0;
    width: 87px;
    height: 20px;
}
.grade span.pwd-grade {
    height: 6px;
    margin: 0 3px 0 0;
    _font-size: 0;
}
.grade span {
    padding: 0;
    margin: 0;
    width: 20px;
    height: 20px;
    line-height: 20px;
    color: #fa5633;
    display: inline-block;
}
.grade .pwd-grade-bg-0 {
    background: #999;
}
.grade .pwd-grade-bg-1 {
    background: #fa5633;
}
.grade .pwd-grade-bg-2 {
    background: #f90;
}
.grade .pwd-grade-bg-3 {
    background: #8fc31f;
}

.grade .pwd-grade-1{}
.grade span.pwd-grade-2 {
    color: #f90;
}
.grade span.pwd-grade-3 {
    color: #8fc31f;
}
/*密码安全级别end   qinfan 2016-5-16*/


.userContent .muban{width: 1076px;}
.muban .user-title{width: 1060px;}
.muban .lxx_title{height: 42px; background: url(../images/user/bg_2.gif) no-repeat left; padding-left: 67px; font-size: 16px; color: #666666; line-height: 42px; font-weight: bold; }
.muban .lxx_mibao{width: 1080px;}
.muban .buzhu{margin-left: 0; margin: 0 auto;}
.muban .lxx_select{ margin-left: 177.5px;}
.muban .lxx_mibao_four .buzhu{width: 800px;}
.muban .lxx_mibao_four .buzhu .buzhu_line{width: 710px;}
.muban .lxx_mibao_four .buzhu dd.buzhu4 { top: 0px; left: 710px; background: url(../images/user/bg_3nohover.gif) no-repeat top center; }
.muban .lxx_mibao_four .buzhu dd.buzhu2{left: 240px;}
.muban .lxx_mibao_four .buzhu dd.buzhu3{left: 480px;}
.muban .user-right-box{margin-top: 40px;}
.muban .user-right-box input{width: 260px;}
.muban .password-btn-wrap{width: 1080px;}
.muban .password-btn{width: 139px; height: 36px; background: url(../images/user/bg_4.gif) no-repeat; line-height: 36px; text-align: center; color: #ffffff; border: none 0px; cursor: pointer; font-size: 14px;}
.muban .lxx_mibao_four .lxx_select_top{margin-top: 40px;}
.muban .shoujibg {background: url(../images/user/bg_5.gif) no-repeat left;}
.muban .bmail {background: url(../images/user/bg_6.gif) no-repeat left;}
.muban .mibao{background: url(../images/user/user7.png) no-repeat left;}

/*分页start qinfan 2016-5-20*/
#ajax_page{width: 855px; height: 57px; line-height: 57px; margin: 30px auto 11px; background: #f9f7f7; text-align: center; font-size: 14px;}
#ajax_page.page_div{width: 792px;}
#ajax_page a,#ajax_page span{display: inline-block; width: 27px; height: 27px; line-height: 27px; text-align: center; background: url(../images/user/user3.png) no-repeat; margin-right: 13px; color: #ff5d13; text-decoration: none;}
#ajax_page a.current{color: #fff; background: url(../images/user/user4.png) no-repeat;}
#ajax_page .current{color: #fff; background: url(../images/user/user4.png) no-repeat;}
#ajax_page .link-service{text-align: center; font-size: 14px;}
#ajax_page .link-service p span{color: #ff5d13;}

/*分页end qinfan 2016-5-20*/

/*加载动画*/
.loading{background: url(../images/user/loading.gif) no-repeat;display:block;width:16px;height:16px;margin:60px auto}
