
ul, ol {
    list-style: outside none none;
}
img {
    border: 0 none;
}
em, i {
    font-style: normal;
    font-weight: normal;
}
h1, h2, h3, h4 {
    font-weight: normal;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
}
.clr {
}
.clr::after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}
.t-hd {
    height: 0;
    overflow: hidden;
}
.f-lt {
    float: left;
}
.f-rg {
    float: right;
}
.p-rel {
    position: relative;
}
.p-abs {
    position: absolute;
}
.wrap {
    margin: 0 auto;
    width: 1200px;
}
.cor {
    border-radius: 3px;
}
.t-l, .tb .t-l {
    text-align: left;
}
.t-c {
    text-align: center;
}
.logo {
    cursor: pointer;
    display: block;
    height: 190px;
    left: 43%;
    position: absolute;
    top: 40px;
    width: 260px;
    z-index: 999;
}
.content a, .g-detail .b-dh, .tb .btn-dh {
    background:  url("../images/spr2.png") no-repeat  -9999px -9999px;
    display: block;
    vertical-align: -4px;
}
.hd {
    height: 420px;
   /* margin-top: -58px;*/ 
}

.bd .wrap {
margin-top: 420px;
    background: #fff none repeat  0 0;
    padding-bottom: 60px;
    padding-left: 11px;
}
.mg-1-8 {
    margin-left: 8px;
}
.mg-r-12 {
    margin-right: 12px;
}
.mg-b {
    margin-bottom: 30px;
}
.mg-top {
    margin-top: 0;
}
.w260 {
    width: 260px;
}
.w510 {
    width: 510px;
}
.w385 {
    width: 385px;
}
.w782 {
    width: 782px;
}
.w906 {
    width: 900px;
}
.w {
    width: 1180px;
}
.article {
    float: left;
   
    overflow: hidden;
}
.marg15{ margin-top: 15px;}
.bd .bor0 {
    border: 0 none;
    height: auto;
}
.hd .mg0, .bd .mg0 {
    margin: 0;
}
.bd .pd0 {
    padding: 0;
}
.bd .nobg {
    background:  none repeat  0 0;
}

.game-box {
    background:  url("../images/game01.jpg") no-repeat  0 0;
    height: 258px;
    width: 258px;
}
.b-game {
    display: block;
    height: 136px;
    width: 258px;
}
.login {
    color: #fff;
    left: 0;
    line-height: 64px;
    top: 140px;
    width: 258px;
}
.login a {
    color: #e6d074;
}
.logined {
    line-height: 1.5;
    padding: 5px 0 0 55px;
	margin-top:6px;
}
.logined img {
    display: block;
    height: 32px;
    left: 15px;
    top: 7px;
    width: 32px;
}
.logined em {
    display: block;
    padding: 0;
}
.logined a {
    display: inline;
}
.btns {
    left: 0;
    top: 200px;
}
.btns a {
    display: block;
    float: left;
    height: 56px;
    width: 129px;
}
.btn-more {
    background:  url("../images/ico_more.png") no-repeat  0 0;
    line-height: 12px;
    margin-right: 10px;
    padding: 0 0 0 15px;
}
.article h2 .btn-more, .game-container .btn-more {
    color: #000;
    display: block;
    font-size: 12px;
    right: 10px;
    text-indent: 0;
    top: 12px;
    width: 25px;
}
.game-container .btn-more {
    top: 53px;
}
.common-box h2 .btn-more {
    right: -10px;
}
.game-gg {
    height: 258px;
    overflow: hidden;
    width: 512px;
}
.game-gg li {
    position: absolute;
}
.game-gg .btntab {
    position: absolute;
    right: 8px;
    top: 232px;
    z-index: 10;
}
.game-gg .btntab span {
    background: #a2a2a2 none repeat  0 0;
    color: #000;
    cursor: pointer;
    display: block;
    float: left;
    height: 15px;
    line-height: 15px;
    margin: 0 2px;
    text-align: center;
    width: 15px;
}
.game-gg .btntab .curr {
    background: #d95700 none repeat  0 0;
    color: #fff;
}
.news {
    background: #fff none repeat  0 0;
    height: 258px;
    padding: 10px 0;
    width: 385px;
}
.tabs {
    margin: 0 auto;
    width: 360px;
}
.tabs li {
    float: left;
}
.tabs a {
    background: #969696 none repeat  0 0;
    color: #fff;
    display: block;
    font-size: 14px;
    height: 38px;
    line-height: 38px;
    text-align: center;
    width: 90px;
}
.tabs .curr {
    background: #d16104 none repeat  0 0;
}
.news-ls {
    height: 180px;
    margin: 0 auto;
    overflow: hidden;
    width: 360px;
}
.zy {
    font-size: 12px;
    line-height: 22px;
    text-indent: 2em;
}
.news-ls .module {
    height: 180px;
}
.news-ls li {
    border-bottom: 1px solid #ccc;
    padding: 4px 0;
    position: relative;
}
.news-ls a {
    color: #000;
}
.news-ls em {
    color: #7f7f7f;
    position: absolute;
    right: 2px;
    top: 4px;
}
.news-ls .one-news {
    border: 0 none;
    font-weight: bold;
    padding: 6px 0;
    text-align: center;
}
.one-news a {
    color: #ef673e;
    font-size: 16px;
}
.one-news span, .one-news em {
    display: none;
}
.game-info {
    background: #fff none repeat  0 0;
    height: 396px;
    padding: 15px 0 0 15px ;
}


.b-g-info-1, .b-g-info-2, .b-g-info-3, .b-g-info-4 {
    background:  url("../images/game_info.jpg") no-repeat  0 0;
    display: block;
    height: 330px;
    width: 84px;
}

.b-g-info-1 {
    background-position: 0 0;
}
.b-g-info-1:hover, .b-g-info-1-hover {
    background-position: 0 -330px;
}
.b-g-info-2 {
    background-position: -85px 0;
}
.b-g-info-2:hover, .b-g-info-2-hover {
    background-position: -85px -330px;
}
.b-g-info-3 {
    background-position: -170px 0;
}
.b-g-info-3:hover, .b-g-info-3-hover {
    background-position: -170px -330px;
}
.b-g-info-4 {
    background-position: -255px 0;
}
.b-g-info-4:hover, .b-g-info-4-hover {
    background-position: -255px -330px;
}
.accordionWrapper {
    background: #fff none repeat  0 0;
    display: inline-block;
    margin: 0 auto;
    overflow: hidden;
    width: 760px;
}
.accordionWrapper img {
    border: 0 none;
    margin: 0;
    padding: 0;
    vertical-align: top;
}
.accordionWrapper div {
    display: inline;
    float: left;
    margin: auto;
}
.accordionWrapper div.title {
    cursor: pointer;
}
.accordionWrapper div.content {
    display: none;
    width: 400px;
}
.accordionWrapper .set {
    margin: 0 1px;
}
.accordionWrapper .title span {
    color: #fff;
    display: block;
    font-size: 22px;
    font-weight: bold;
    margin: 0 auto;
    padding-top: 20px;
    text-align: center;
    text-shadow: 0 0 5px #000;
    width: 30px;
}
.content h3 {
    border-bottom: 1px solid #ccc;
    color: #000;
    font-size: 16px;
    font-weight: bold;
    margin: 0 auto 20px;
    padding-bottom: 4px;
    width: 360px;
}
.content ul {
    padding: 12px 0 0 18px;
}
.content li {
    float: left;
}
.content a {
    background-position: 0 -39px;
    font-size: 14px;
    height: 39px;
    line-height: 39px;
    margin: 3px 5px;
    overflow: hidden;
    padding-left: 45px;
    text-align: left;
    width: 128px;
}
.content a:hover {
    background-position: 0 0;
    color: #fff;
}
.article h2 {
    height: 30px;
    margin: 0 0 10px;
}
.tit-info {
    background:  url("../images/tit_info.jpg") no-repeat  0 0;
}
.tit-enter {
    background:  url("../images/tit_enter.jpg") no-repeat  10px 0;
}
.tit-pic {
    background:  url("../images/tit_pic.jpg") no-repeat  0 0;
}
.tit-gl {
    background:  url("../images/tit_gl.jpg") no-repeat  0 0;
}
.gg-item {
    border: 1px solid #ccc;
    height: 98px;
    margin-bottom: 10px;
    overflow: hidden;
    width: 384px;
}
.enter-box {
    background: #fff none repeat  0 0;
    height: 180px;
    overflow: hidden;
    padding: 10px 0 0;
    width: 386px;
}
.enter-box ul {
    background:  url("../images/menu.png") no-repeat  0 0;
    display: block;
    height: 130px;
    width: 386px;
}
.enter-box li {
    float: left;
}
.enter-box a {
    color: #d6d6d6;
    display: block;
    height: 44px;
    line-height: 44px;
    padding: 0 0 0 50px;
    width: 143px;
}
.enter-box a:hover {
    background:  url("../images/menu.png") no-repeat  0 0;
}
.enter-box .m1:hover {
    background-position: 0 -131px;
}
.enter-box .m2:hover {
    background-position: -193px -131px;
}
.enter-box .m3:hover {
    background-position: 0 -175px;
}
.enter-box .m4:hover {
    background-position: -193px -175px;
}
.enter-box .m5:hover {
    background-position: 0 -219px;
}
.enter-box .m6:hover {
    background-position: -193px -219px;
}
.game-container {
    background: #fff none repeat  0 0;
    height: 225px;
    padding: 10px 20px;
}
.game-container .tabs {
    background:  url("../images/tit_l.jpg") no-repeat  0 0;
    border-bottom: 1px solid #ccc;
    height: 60px;
    margin: 0 0 15px;
    padding: 0 0 5px 130px;
    width: auto;
}
.game-container .tabs ul {
    padding: 27px 0 0;
}
.game-container .tabs a {
    background:  none repeat  0 0;
    color: #999;
    font-size: 17px;
    width: 100px;
}
.game-container .tabs .curr {
    background:  none repeat  0 0;
    color: #000;
    font-weight: bold;
}
.game-container .tabs .spl {
    color: #999;
    font-size: 17px;
    line-height: 34px;
}
.cont ul {
    display: none;
}
.cont li {
    float: left;
    height: 140px;
    overflow: hidden;
    width: 380px;
}
.cont h4 {
    color: #000;
    font-size: 14px;
}
.cont .g-img {
    margin-right: 15px;
}
.g-detail {
    line-height: 1.8;
}
.g-detail .b-dh {
    background-position: -173px 0;
    color: #fff;
    height: 28px;
    left: 0;
    line-height: 28px;
    text-align: center;
    top: 94px;
    width: 77px;
}
.g-detail em {
    color: #997448;
}
.common-box {
    background: #fff none repeat  0 0;
    height: 252px;
    padding: 15px;
}
.pic-ls a {
    display: block;
    float: left;
    margin-right: 20px;
}
.notice {
    background: #5d5d5d none repeat  0 0;
    color: #a3a3a3;
    height: 25px;
    line-height: 25px;
}
.notice .wrap {
    background:  none repeat  0 0;
    padding: 0;
    width: 950px;
}
.notice span {
    padding: 0 15px;
}
.sidebar, .ewm {
    position: fixed !important;
    z-index: 9999;
}
.sidebar {
    background:  url("../images/sidebar.png") no-repeat  0 0;
    height: 408px;
    right: 30px;
    top: 16%;
    width: 98px;
}
.sidebar a {
    display: block;
    height: 87px;
    margin: 2px 0 4px;
    text-indent: -9999em;
    width: 87px;
}
.sidebar a.s-lg {
    height: 40px;
}
.ewm {
    left: 30px;
    top: 30%;
}
.footer_bg {
    background: #000 none repeat  0 0;
}
.gw_footer {
    background: #000 none repeat  0 0;
    color: #a3a3a3;
}
.gw_footer a {
    color: #a3a3a3;
}
.gw_logo0 {
    background:  url("../images/logo.png") no-repeat  0 0;
    height: 42px;
    width: 95px;
}
.inner-box {
    background: #fff none repeat  0 0;
    margin-top: 3px;
    padding: 26px 40px;
}
.tit {
    background: #515258 none repeat  0 0;
    color: #e64825;
    font-size: 19px;
    font-weight: bold;
    height: 60px;
    line-height: 60px;
    padding: 0 0 0 20px;
}
.tit span, .curr-page, .curr-page a {
    color: #fff;
    font-size: 12px;
    font-weight: normal;
}
.tit span {
    font-weight: bold;
    padding: 0 0 0 5px;
}
.curr-page {
    right: 20px;
    top: 0;
}
.inner-box .news {
    height: auto;
    width: auto;
}
.inner-box .tabs li {
    margin-right: 2px;
}
.inner-box .tabs {
    border-bottom: 1px solid #b2b2b2;
    width: auto;
}
.inner-box .tabs a {
    background: #595959 none repeat  0 0;
    font-size: 14px;
    height: 40px;
    line-height: 40px;
    position: relative;
    top: 1px;
    width: 116px;
}
.inner-box .tabs .curr {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: #fff none repeat  0 0;
    border-color: #b2b2b2 #b2b2b2 #fff;
    border-image: none;
    border-style: solid;
    border-width: 1px;
    color: #000;
    height: 41px;
}
.inner-box .news-ls {
    height: auto;
    padding: 5px 0 0;
    width: 820px;
}
.inner-box .news-ls ul {
    display: block;
}
.inner-box .news-ls li {
    font-size: 14px;
    padding: 6px 0;
}
.news-ls a:hover {
    color: #d16104;
}
.page-nav {
    font-size: 14px;
    padding: 15px 0 0;
    text-align: center;
}
.txt-title {
    border: 0 none;
    font-size: 22px;
    text-align: center;
}
.write-date {
    border-bottom: 1px dashed #999;
    color: #b2b2b2;
    margin-bottom: 15px;
    padding: 5px 0;
    text-align: center;
}
.write-date a {
    color: #b2b2b2;
}
.context {
    font-size: 14px;
    line-height: 2;
    padding: 5px 0 15px;
}
.news-ralet {
    background: #e5e5e5 none repeat  0 0;
    color: #000;
    font-size: 14px;
    font-weight: bold;
    height: 30px;
    line-height: 30px;
    padding: 0 0 0 15px;
}
.relate-news {
    padding-top: 5px;
}
.relate-news li {
    border-bottom: 1px solid #ccc;
    padding: 5px 0;
}
.img-ls li {
    float: left;
    height: 205px;
    margin: 20px;
    width: 235px;
}
.img-ls p {
    padding: 5px 0 0;
    text-align: center;
}
.inner-side .enter-box {
    margin-top: 10px;
    width: 258px;
}
.inner-side .enter-box ul {
    background:  url("../images/menu_side.png") no-repeat  0 -131px;
    height: 131px;
    width: 258px;
}
.inner-side .enter-box a {
    color: #000;
    height: 44px;
    line-height: 44px;
    padding: 0 8px 0 50px;
    width: 70px;
}
.inner-side .enter-box a:hover {
    background:  url("../images/menu_side.png") no-repeat  0 0;
    color: #fff;
}
.inner-side .enter-box .m1:hover {
    background-position: 0 0;
}
.inner-side .enter-box .m2:hover {
    background-position: -128px 0;
}
.inner-side .enter-box .m3:hover {
    background-position: 0 -44px;
}
.inner-side .enter-box .m4:hover {
    background-position: -128px -44px;
}
.inner-side .enter-box .m5:hover {
    background-position: 0 -87px;
}
.inner-side .enter-box .m6:hover {
    background-position: -128px -87px;
}
.cdk-box {
    color: #494949;
    font-size: 14px;
    height: 820px;
    margin: 0 auto;
    width: 740px;
}
.cdkey-box {
    border-bottom: 1px dashed #000;
    padding-bottom: 50px;
}
.login_info {
    padding: 0 0 20px;
    text-align: right;
}
.tb {
    font-size: 14px;
    margin: 0 auto;
    width: 415px;
}
.tb th, .tb td {
    vertical-align: middle;
}
.tb th {
    font-weight: normal;
    height: 42px;
    padding-right: 10px;
}
.tb a {
    color: #918784;
}
.tb span {
    display: block;
    margin-top: 10px;
}
.ipt {
    background: #fff none repeat  0 0;
    border: 1px solid #999;
    color: #000;
    height: 35px;
    line-height: 35px;
    width: 280px;
	font-size:12px;
}
.cd_select{ width:280px;  height: 35px;  line-height: 35px;}
.tb .btn-dh {
    background-position: 0 -78px;
    height: 60px;
    margin-top: 15px;
    width: 223px;
}
.rules {
    border-top: 1px dashed #ccc;
    padding: 20px 0 0 25px;
}
.rules dl {
    display: block;
    margin: 0 auto;
    width: 400px;
}
.rules dt {
    color: #000;
    font-size: 18px;
    font-weight: bold;
}
.rules dd {
    font-size: 14px;
    padding: 5px 0 5px 95px;
}
.profile-ls {
    background: #fff none repeat  0 0;
    margin-top: 10px;
    padding: 12px 18px;
}
.profile-ls h4 {
    border-bottom: 1px solid #999;
    font-size: 16px;
    font-weight: bold;
    padding-bottom: 5px;
}
.profile-ls ul {
    padding: 5px 0;
}
.profile-ls li {
    float: left;
}
.profile-ls li a {
    display: block;
    height: 30px;
    line-height: 30px;
    padding-left: 15px;
    width: 90px;
}
.ost_bg {
    background:  url("../images/ost-bg.png") no-repeat  0 0;
}
.ost_pt, .ost_pm_title, .ost_title {
    margin: 0;
    padding: 0;
}
.ost_hdn {
    overflow: hidden;
    text-indent: -500px;
}
.ost_fl {
    float: left;
}
.ost_fr {
    float: right;
}
.ost_ml10 {
    margin-left: 10px;
}
.ost_c707 {
    color: #707e91 !important;
}
.ost_h40 {
    height: 40px;
    overflow: hidden;
}
.ost_lsn {
    list-style: outside none none;
    padding: 0;
}
.ost_box {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #fff;
    background-repeat: repeat-x;
    border-color: #c9c9c9;
    border-image: none;
    border-style: solid;
    border-width: 1px 0;
    color: #464646;
    font-family: Tahoma,"simsun";
    font-size: 12px;
    left: 0;
    min-width: 980px;
    text-align: left;
    top: 0 !important;
    width: 100%;
    z-index: 8000;
}
.ost_inner {
    line-height: 40px;
    margin: 0 auto;
    padding: 0 5px;
    position: relative;
    width: 1200px;
    z-index: 100;
}
.ost_logo {
    background-position: 0 -40px;
    padding: 0 15px 0 0;
    width: 205px;
}
.ost_blnk {
    display: block;
    height: 100%;
}
.ost_ad {
    width: 230px;
}
.ost_total {
    background-position: -143px -120px;
    width: 108px;
}
.ost_title {
    cursor: pointer;
    font-size: 12px;
    font-weight: normal;
    line-height: 40px;
    margin: 0;
    text-indent: 0 !important;
}
.ost_icon_arrow, .ost_icon_reddot {
    display: inline-block;
    font-size: 0.1em;
    vertical-align: middle;
}
.ost_icon_arrow {
    background-position: -150px -134px;
    height: 11px;
    margin-left: 5px;
    width: 11px;
}
.ost_icon_reddot {
    background-position: -190px -134px;
    height: 7px;
    margin-left: -3px;
    margin-top: -8px;
    width: 7px;
}
.ost_title_hover {
    color: #ff4e00;
}
.ost_title_hover .ost_icon_arrow {
    background-position: -170px -134px;
}
.ost_sites {
    background-position: -185px -120px;
    padding: 0 10px 0 0;
    width: 90px;
}
.ost_slnk {
    display: block;
    height: 16px;
    margin: 12px 0 0 5px;
}
.ost_tgc {
    background-position: 0 -132px;
    width: 16px;
}
.ost_tga {
    background-position: -16px -132px;
    width: 14px;
}
.ost_tgsr {
    background-position: -30px -132px;
    width: 17px;
}
.ost_gh {
    background-position: -47px -132px;
    width: 16px;
}
.ost_head {
    line-height: normal;
    margin-left: -21px;
    padding: 10px 0 0;
}
.ost_msg {
    background-position: right -40px;
    line-height: 13px;
    padding: 0 3px 0 0;
}
.ost_mlnk {
    background-position: -220px -40px;
    color: #fff !important;
    display: inline-block;
    font-size: 9px;
    font-weight: bold;
    height: 19px;
}
.ost_mlnk:hover {
    text-decoration: none;
}
.ost_mlnkn {
    display: block;
    height: 12px;
    margin: 14px 0 0;
}
.ost_score {
    background-position: -265px -80px;
    margin: 0 0 0 5px;
    padding: 0 0 0 25px;
}
.ost_big {
    background: #fff none repeat  0 0;
    border-bottom: 1px solid #eee;
    display: none;
    height: 185px;
    left: 50%;
    margin: 0 0 0 -488px;
    overflow: hidden;
    padding: 0 3px 3px;
    position: absolute;
    top: 0;
    width: 970px;
}
.ost_nb {
    border: 0 none;
}
.ost_bn {
    background-color: #001018;
    font-size: 12px;
    height: 25px;
    left: 0;
    min-width: 980px;
    text-align: left;
    top: 42px !important;
    width: 100%;
    z-index: 7000;
}
.ost_bni {
    height: 25px;
    line-height: 25px;
    overflow: hidden;
}
.ost_BFB {
    background-position: 100% -222px;
    color: #fff !important;
    float: left;
    height: 25px;
    padding-right: 62px;
    text-decoration: none;
    text-shadow: 0 1px 0 #424242;
}
.ost_bp {
    bottom: 0 !important;
    position: fixed !important;
    right: 0 !important;
    z-index: 8000;
}
.ost_bpb {
    background: #fff none repeat  0 0;
    width: 294px;
}
.ost_t {
    background-repeat: repeat-x;
    color: #727272;
    display: block !important;
    font-size: 14px;
    height: 40px;
    line-height: 38px;
    margin: 0;
    padding: 0 10px;
}
.ost_bpc {
    background-position: -105px -196px;
    display: block;
    height: 17px;
    margin: 10px 0 0;
    width: 17px;
}
.ost_p {
    background-position: center center;
}
.ost_lnk {
    display: block;
    height: 134px;
}
.ost_cnr {
    background-position: 0 -160px;
    display: block;
    height: 53px;
    width: 105px;
}
.ost_pop {
    display: none;
    height: 386px;
    position: absolute;
    right: 7px;
    top: 32px;
    width: 700px;
    z-index: 9000;
}
.ost_pbg {
    background:  url("../images/ostp.png") no-repeat  0 0;
}
.ost_pbx {
    background-position: -735px -489px;
    padding: 11px 0 0;
    width: 735px;
}
.ost_pin {
    background-position: 0 bottom;
    overflow: hidden;
    padding: 0 7px 7px;
}
.ost_pb {
    float: left;
    margin: 0 -1px 0 0;
    width: 121px;
}
.ost_pt {
    background-position: -735px 0;
    color: #0096d0;
    font-size: 12px;
    height: 34px;
    line-height: 34px;
    text-indent: 10px;
    width: auto;
}
.ost_ps {
    color: #bbbfcb;
    font-size: 9px;
    padding: 0 5px;
}
.ost_pl {
    background-position: -735px -34px;
    color: #464646;
    display: block;
    height: 28px;
    line-height: 28px;
    padding: 0 10px;
    text-decoration: none;
    width: 101px;
}
.ost_pl:hover {
    color: #0896d4;
}
.ost_ico {
    display: block;
    float: right;
    height: 28px;
    overflow: hidden;
    text-indent: 500px;
    width: 10px;
}
.ost_hot {
    background-position: -735px -192px;
}
.ost_beta {
    background-position: -735px -232px;
}
.ost_new {
    background-position: -735px -272px;
}
.ost_more {
    background-position: -735px -309px;
    float: left;
}
.ost_log {
    background-position: 100% -80px;
    line-height: 40px;
    padding-right: 12px;
    position: relative;
}
.ost_loglnk {
    color: #707e91;
    text-decoration: none;
}
.ost_info {
    background-position: -263px -120px;
    padding-left: 22px;
}
.ost_gift {
    background-position: -60px -120px; 
}
.ost_gifturl {
    padding: 0 8px 0 30px;
}
.ost_login {
    padding: 0 10px 0 2px;
}
.ost_mlnk {
    display: block;
    height: 22px;
    width: 24px;
}
.ost_msgn {
    background-position: -24px -129px;
}
.ost_newmsgn {
    background-position: 0 -129px;
}
.ost_mt9 {
    margin-top: 9px;
}
.ost_msgnum {
    color: #fff;
    float: right;
    font-size: 11px;
    font-weight: bold;
    height: 12px;
    letter-spacing: -2px;
    line-height: 12px;
    overflow: hidden;
    text-align: center;
    width: 16px;
}
.ost_nick {
    padding: 0 8px;
}
.ost_pmbg {
    background:  url("../images/ostm.png") no-repeat  0 0;
}
.ost_pop_msg {
    background-position: -21px 0;
    left: 0;
    line-height: 1.6;
    padding-top: 10px;
    position: absolute;
    top: 34px;
    width: 207px;
    z-index: 9000;
}
.ost_pm_box {
    background-position: -21px 100%;
    padding: 2px 6px 8px;
}
.opt_pm_inner {
    background-color: #fff;
    border: 1px solid #d6d6d6;
    min-height: 105px;
}
.ost_pm_title {
    background-color: #f4f4f4;
    border-bottom: 1px solid #d6d6d6;
    color: #7c7c7c;
    font-size: 12px;
    font-weight: normal;
    height: 26px;
    line-height: 26px;
    padding-left: 10px;
}
.ost_pmlnk {
    background:  url("../images/ostm.png") no-repeat  176px 10px;
    color: #707e91;
    display: block;
    height: 26px;
    line-height: 26px;
    padding-left: 10px;
    text-decoration: none;
}
.ost_pmlnk:hover {
    background-color: #eee;
    background-position: 176px -35px;
    color: #464646;
    cursor: pointer;
    text-decoration: none;
}
.ost_pm_num {
    color: #e05b5b;
}
.ost_pmname {
    display: -moz-inline-stack;
    width: 78px;
}
.ost_nmsg {
    color: #b8b8b8;
    padding: 12px 0 56px 12px;
}
.ost_pm_tips {
    color: #7c7c7c;
    padding: 10px;
}
.ost_reg {
    display: block;
    padding: 0 10px 8px 0;
    text-align: right;
}
.ost_reglnk {
    color: #707e91;
    text-decoration: none;
}
.headimg {
    border: 0 none;
}
.ost_loglnk:hover {
    color: #464646;
    text-decoration: none;
}
.ost_jn {
    background-position: -148px -188px;
    color: #03d0e3;
    float: left;
    font-style: normal;
    height: 25px;
    padding-left: 100px;
    text-shadow: 0 1px 0 #003b41;
}
.ost_news {
    left: 144px;
    position: absolute;
    top: 0;
}
.gw_footer {
    clear: both;
    line-height: 20px;
    margin: 0 auto;
    overflow: hidden;
    padding: 30px 0;
    text-align: center;
}
.gw_footer * {
    margin: 0;
    padding: 0;
}
.gw_footer img {
    border: medium none;
}
.foot_l_p {
    height: 40px;
}
.foot_r_p {
    width: 621px;
}
.gw_footer .tn {
    display: block;
    overflow: hidden;
    text-indent: -9999em;
}
.foot_logo {
    height: 100px;
    margin-right: 10px;
    overflow: hidden;
    width: 200px;
}
.foot_logo .glogo {
    background-repeat: no-repeat;
    height: 31px;
    overflow: hidden;
    width: 166px;
}
.gw_footer .pal {
    border-radius: 3px;
    float: left;
    font-family: Tahoma;
    text-align: left;
}
.other_logo {
    overflow: hidden;
}
.other_logo a, .other_logo span {
    display: block;
    margin-right: 10px;
}
.foot_r_p span {
    display: inline-block;
    height: 6px;
    margin: 0 5px;
    overflow: hidden;
    width: 1px;
}
.gw_footer .e {
    font-family: Tahoma;
    height: 19px;
    overflow: hidden;
    text-align: left;
}
.gw_footer .fl {
    float: left;
    font-size: 11px;
    line-height: 19px;
}
.gw_footer .fr {
    float: right;
}
.gw_footer .license {
    clear: both;
    height: 25px;
    line-height: 25px;
    padding-left: 10px;
    text-align: left;
}
.allgameDrop {
    background: #fff none repeat  0 0;
    border: 1px solid #dadada;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
    height: 230px;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 46px;
    width: 361px;
    z-index: 999;
}
.topAllgames {
    border-right: 1px solid #dadada;
    float: left;
    height: 230px;
    overflow: hidden;
    width: 361px;
}
.clearfix::after {
    clear: both;
    content: "";
    display: block;
    height: 0;
    visibility: hidden;
}
.topAllgames ul {
    margin-right: -1px;
    width: 404px;
}
.topAllgames li {
    background:  url("../images/t01ca27adc726354d72.png") repeat-x  0 0;
    border-bottom: 1px solid #dadada;
    border-right: 1px solid #dadada;
    float: left;
    height: 24px;
    line-height: 24px;
    padding: 0 5px;
    text-align: center;
    width: 90px;
}
li {
    list-style-type: none;
}
.topAllgames li a {
    color: #666;
    display: block;
    height: 24px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
}
.topAllgames li a:hover {
    color: #d16140;
}
.topAllgames li span {
    display: inline-block;
    line-height: 24px;
    vertical-align: middle;
}
.moreGame, .moreGame:hover {
    color: #2787d3;
    display: block;
    height: 52px;
    line-height: 52px;
    text-align: center;
}
