
.bd {
    background:  url("../images/ser_bg.jpg") no-repeat  center top;
}
.hd {
    height: 460px;
}
.bd .wrap {
    background:  url("../images/bd_wrp_ser.jpg") no-repeat  center top;
}
.startgame_a, .serList a, .mode span, .ct, .yj, .fm, .wh, .ico_j, .ico_n {
    background-image: url("../images/spr2.png");
    background-repeat: no-repeat;
}
.gameser {
    margin: 0 auto 30px;
    padding-top: 10px;
    width: 780px;
}
.oldUser {
    background:  url("../images/ser-bg.jpg") no-repeat  0 0;
    height: 241px;
    width: 779px;
}
.mySerInfo {
    color: #fff;
    height: 215px;
    padding: 50px 304px 0 220px;
}
.startGame {
    height: 142px;
    text-align: center;
    width: 340px;
}
.startgame_a {
    background:  url("../images/g-game.jpg") no-repeat  0 0;
    display: block;
    height: 142px;
    width: 341px;
}
.mytt {
    margin-top: -45px;
    text-align: center;
    width: 340px;
}
.mytt a {
    color: #fff;
    font-size: 14px;
}
.choose_p {
    height: 30px;
    padding-top: 5px;
    text-align: center;
}
.more_ser {
    background-color: #151c1e;
    color: #fff;
    font-size: 16px;
    height: 40px;
    line-height: 40px;
    margin: 10px 0;
    padding-left: 15px;
}
.ico_j, .ico_n {
    height: 14px;
    overflow: hidden;
    position: absolute;
    top: 5px;
    width: 14px;
}
.ico_j {
    background-position: -155px -138px;
    right: 5px;
    text-indent: -9999em;
}
.ico_n {
    background-position: -141px -138px;
    right: 22px;
    text-indent: -9999em;
}
.serverbox {
    clear: both;
    overflow: hidden;
    padding: 15px 0;
    position: relative;
}
.recser_t, .llogin_t {
    border-bottom: 1px solid #444451;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    height: 24px;
    line-height: 24px;
    overflow: hidden;
}
.ct, .yj, .fm, .wh {
    display: block;
    float: left;
    height: 13px;
    margin-right: 3px;
    margin-top: 6px;
    overflow: hidden;
    text-indent: -9999em;
    width: 9px;
}
.ct, .m_ct {
    background-position: -591px 0;
}
.yj, .m_yj {
    background-position: -591px -40px;
}
.fm, .m_fm {
    background-position: -591px -84px;
}
.wh, .m_wh {
    background-position: -591px -133px;
}
.serList {
    clear: both;
    margin: 0 auto;
    overflow: hidden;
    padding: 7px 0;
    position: relative;
}
#choose_secserver_list{
	overflow:auto;
	height:400px;
	}
.serList a {
    background-position: 0 -138px;
    color: #fff;
    cursor: pointer;
    display: block;
    float: left;
    height: 24px;
    line-height: 24px;
    margin: 4px 4px 2px 3px;
    overflow: hidden;
    padding: 0 3px;
    position: relative;
    width: 131px;
}
.ser_n {
    float: left;
    overflow: hidden;
    padding-right: 2px;
    width: 87px;
}
.loading {
    color: #000;
    padding-left: 10px;
}
.dhmode {
    border-bottom: 1px solid #444451;
    font-size: 14px;
    font-weight: 700;
    height: 26px;
    padding: 0 7px;
}
.choose_t {
    color: #000;
    float: left;
    font: bold 14px/1.8em "Microsoft YaHei";
    height: 26px;
}
.mode {
    float: right;
    height: 13px;
    line-height: 13px;
    padding-top: 6px;
    width: 320px;
}
.mode span {
    color: #666;
    float: left;
    font-weight: normal;
    padding-left: 14px;
	margin-left:5px;
}
.serNav {
    border-bottom: 1px solid #444451;
    clear: both;
    display: table;
    min-height: 26px;
    padding: 20px 0 0;
    position: relative;
    width: 100%;
}
.serNav li {
    background: #27272f none repeat  0 0;
    border: 1px solid #585869;
    color: #fff;
    cursor: pointer;
    float: left;
    height: 24px;
    line-height: 23px;
    margin-bottom: 5px;
    margin-left: 5px;
    overflow: hidden;
    text-align: center;
    width: 95px;
}
.serNav li.select {
    background: #33333d none repeat  0 0;
    border: 1px solid #585869;
    color: #fff;
    font-weight: bold;
    height: 24px;
}
.serNav li input {
    margin-left: -999em;
    position: absolute;
    width: 87px;
}
.serNav li label {
    color: #fff;
    cursor: pointer;
    display: block;
    height: 25px;
    text-align: center;
}
.serNav li.select label {
    color: #fff;
    cursor: pointer;
    font-weight: bold;
}
.serCon {
    clear: both;
}
.serCon::after {
    clear: both;
    content: "";
    display: table;
}
.gameser h2 {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: #2c2c34 none repeat  0 0;
    border-color: #515161 #515161 -moz-use-text-color;
    border-image: none;
    border-style: solid solid none;
    border-width: 1px 1px 0;
    height: 40px;
    margin: 12px 0 0;
}
.close {
    color: #999;
    cursor: pointer;
    display: block;
    font: 26px/52px 宋体,tahoma,arial;
    height: 23px;
    position: absolute;
    right: 3px;
    text-align: center;
    top: 0;
    width: 23px;
}
.popwin {
    background-color: #793e23;
    color: #ffe4c0;
    display: none;
    font-size: 12px;
    left: 50%;
    margin-left: -260px;
    margin-top: -120px;
    position: absolute;
    text-align: left;
    top: 50%;
    width: 500px;
    z-index: 80;
}
.realtitle {
    color: #ffe4c0;
    font-family: Microsoft YaHei;
    font-size: 24px;
    font-weight: normal;
    height: 45px;
    line-height: 45px;
    text-align: center;
}
.rcon {
    border-color: #67351e;
    border-style: solid;
    border-width: 1px 0;
    font-size: 14px;
    padding: 25px;
}
.pt20 {
    font-size: 16px;
    height: 40px;
    line-height: 40px;
    padding-top: 25px;
    text-align: center;
}
.pt20 a {
    color: #ffe4c0;
    font-weight: 700;
    text-decoration: underline;
}
.bdiv {
    height: 34px;
    line-height: 34px;
    padding-right: 20px;
    text-align: right;
}
.bdiv a {
    color: #ffe4c0;
}
#mask {
    background-color: rgb(0, 0, 0);
    display: none;
    height: 100%;
    left: 0;
    opacity: 0.7;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 2;
}
