.fullSlide{width:100%;position:relative;height:390px;background:#000000; overflow:hidden; min-width:1180px;} 
.fullSlide .bd{margin:0 auto;position:relative;z-index:1;overflow:hidden;}
.fullSlide .bd ul{width:100% !important;}
.fullSlide .bd li{width:100% !important;height:390px;overflow:hidden;text-align:center;}
.fullSlide .bd li a{display:block;height:390px;width:100%;}
.fullSlide .hd{width:100%;position:absolute;z-index:1;bottom:0;left:0;height:30px;line-height:30px;}
.fullSlide .hd ul{text-align:center;}
.fullSlide .hd ul li{cursor:pointer;display:inline-block;*display:inline;zoom:1;width:12px;height:12px;margin:0px 5px;overflow:hidden;background:url(../images/banner_dot2.png) no-repeat;line-height:999px;}
.fullSlide .hd ul .on{background:url(../images/banner_dot1.png) no-repeat;}

.login_bg{ width:300px; height:324px; background:url(../images/login_bg.png) no-repeat; position:absolute; top:35px; left:50%; margin-left:290px; z-index:2;}
.login_bg .login{ width:273px; height:300px;background:url(../images/login_weibo.png) no-repeat top; float:left; margin-left:7px; margin-top:13px; display:inline;}
.login_bg .login .login_weibo{ height:27px; padding-top:10px; padding-right:10px;}
.login_bg .login .login_weibo span{ font-size:14px; color:#2f5e68; padding-left:20px;float:left;}
.login_bg .login .login_weibo a{ display:inline-block; text-indent:-9999px;}
.login_bg .login .login_weibo a.f-qq{ width:16px; height:18px;background:url(../images/login_qq.gif) no-repeat; float:right; margin-right:7px;}
.login_bg .login .login_weibo a.f-weibo{ width:20px; height:16px;background:url(../images/login_weibo.gif) no-repeat;float:right;}

.login_txt{ margin-top:20px; padding-left:13px;}
.login_txt li{width:260px; line-height:20px;}
.login_txt li .tishi{color:#f6614d; padding-left:5px; }
.login_txt li.top10 input{width:220px; height:22px; border:1px solid #bbbbbb; line-height:22px; padding:5px 8px 5px 30px;  font-family:Microsoft yahei; outline:none;}
.login_txt li.top10 .input_bor{ border: 1px solid #eb7945;}
.login_txt li .input_idx{background:url(../images/bg_6.gif) no-repeat 8px 9px #e3e3e3;}
.login_txt li .input_mima{background:url(../images/bg_7.gif) no-repeat 8px 9px #e3e3e3;}
.login_txt li.jizhu{ line-height:20px; color:#252525; padding-top:10px;}
.login_txt li.jizhu a{ float:right;}
.login_txt li.jizhu label{ float:left;}
.login_txt li.jizhu input{ border:none; float:left; margin-top:3px; margin-right:3px;*margin-top:0px;}
.login_txt li .loginbtn{ width:260px; height:50px;background:url(../images/bg_8.gif) no-repeat; border:none; margin-top:12px; cursor:pointer;  *margin-top:9px;}
.login .zhuce{ margin-top:25px; text-align:right;*margin-top:20px;}
.login .zhuce a{ width:103px; height:20px;background:url(../images/bg_9.gif) no-repeat right; display:inline-block; padding-right:20px; line-height:20px; color:#ffffff; text-decoration:none;}
.logafter{ width:265px; float:left; margin: 13px 0 0 13px; }
.logafter .toubox{ width:266px; float:left; height: 70px; *display: inline;}
.logafter .toubox .tou_pic{ width:70px; height:70px; position:relative; float:left; margin-right: 17px; }
.logafter .toubox .tou_pic span{width:70px; height:70px; display:block; position:absolute; left:0px; top:0px; cursor:pointer;}
.logafter .toubox .tou_pic img{width:68px; height:68px; display:block; border: 1px solid #ff4f00; -webkit-border-radius: 100%; -moz-border-radius: 100%; -ms-border-radius: 100%; border-radius: 100%;}
.logafter .toubox .p-name{margin: 12px 0; color:#666666; font-size:14px;}
.logafter .toubox .p-name span{ float:left; padding-left:10px;}
.logafter .toubox .p-name a.u-name{ color:#333; font-weight: bold; font-size: 16px; width:120px; height:20px; line-height:20px; float:left; overflow:hidden; display:inline-block;white-space:nowrap; text-overflow:ellipsis; -o-text-overflow:ellipsis; -moz-binding:url('ellipsis.xml#ellipsis');}
.logafter .toubox .p-name a.tuichu{ color:#999; font-size: 14px; float:right}

.user-progress .user-progress-vip{float: left; display: inline-block; width: 24px; height: 18px; margin-right: 5px;}
.user-progress .u-level-00{background:url(../images/vip0.png) no-repeat;} 
.user-progress .u-level-01{background:url(../images/vip1.png) no-repeat;} 
.user-progress .u-level-02{background:url(../images/vip2.png) no-repeat;} 
.user-progress .u-level-03{background:url(../images/vip3.png) no-repeat;} 
.user-progress .u-level-04{background:url(../images/vip4.png) no-repeat;} 
.user-progress .u-level-05{background:url(../images/vip5.png) no-repeat;} 
.user-progress .u-level-06{background:url(../images/vip6.png) no-repeat;} 
.user-progress .u-level-07{background:url(../images/vip7.png) no-repeat;} 
.user-progress .u-level-08{background:url(../images/vip8.png) no-repeat;} 
.user-progress .user-progress-groove{position: relative; float: left; width: 145px; height: 11px; line-height: 11px; padding: 2px 2px; background: url(../images/user-img.png) no-repeat; text-align: center;}
.user-progress .user-progress-core-s{width: 4px; height: 11px; background: url(../images/progress_l.png) no-repeat;}
.user-progress .user-progress-core-m{width: 5%; height: 11px; background: url(../images/progress_m.png) no-repeat;}
.user-progress .user-progress-core-e{width: 4px; height: 11px; background: url(../images/progress_r.png) no-repeat;}
.user-progress .user-progress-source{position: absolute; top: 2px; left: 0; color: #fff; width: 149px; text-align: center;}

.logafter .fuwubtn{float: left; font-size:0; margin: 13px 0 15px 20px;}
.logafter .fuwubtn a{ color:#666; font-size: 14px;}
.logafter .fuwubtn a.links4{position: relative;}
.fuwubtn a.links4 i{display: inline-block; width: 8px; height: 9px; position: absolute; right: -7px; top: -2px; background: url(../images/index_dot.png) no-repeat;}
.logafter .fuwubtn a:hover{color: #ff4302; text-decoration: none;}
.logafter .fuwubtn span{display: inline-block; width: 1px; height: 8px; padding-top: 2px; background: #d2d2d2; margin: 0 9px;}
.logafter .gamectit{width: 256px; float: left; border-bottom:1px solid #c7c7c9; font-size:14px; color:#4f4f4f; margin-left: 4px; padding: 0 0 4px 10px;}
.logafter .gamecon{ padding-top:2px; margin-left: 4px;}
.logafter .gamecon li{position: relative; height:44px; border-bottom:1px dotted #a8acab; line-height:44px; padding-left:10px; font-size:14px; width:256px; float:left;}

.logafter .gamecon li a{ display:block;width:266px; cursor:pointer}
.logafter .gamecon li a span{cursor:pointer}
.logafter .gamecon li a:hover span{ text-decoration:underline;}
.logafter .gamecon li.no_bor{ border-bottom:none;}
.logafter .gamecon li img{ width:36px; height:32px; margin-right:5px;}
.logafter .gamecon li span{ float:right; padding-right:30px;}
.logafter .gamecon li i{ font-style:normal;}
.logafter .gamecon li i.gamecon_hot{position: absolute; top: 8px; right: 0; background: url(../images/gamecon_hot.png) no-repeat; width: 22px; height: 11px;}
.logafter .gamecon li a:hover,.logafter .gamecon li a:hover span,.logafter .game_more a:hover{text-decoration: none; color: #ff4302;}

.logafter .game_more{height: 28px; line-height:28px; font-size:14px; text-align:center;width:266px; float:left; margin-left: 4px;}
.logafter .game_more a{ display:inline-block; background:url(../images/bg_10.gif) no-repeat right 13px; padding-right:16px;}
.logafter .game_more a:hover{background: url(../images/game_more_icon.png) no-repeat right 13px;}
.bnav .sousuo{ width:275px; height:34px;background:url(../images/bg_14.gif) no-repeat; float:right;}
.bnav .sousuo input{ float:left; border:none; background:none;}
.bnav .sousuo .input_txt{ width:216px; padding:5px 13px; color:#666; line-height:24px; font-family:Microsoft yahei;}
.bnav .sousuo .tijiao_txt{ width:24px; height:34px; cursor:pointer;}
.jp_game{ float:left; padding-top:15px; padding-bottom:22px; width:100%;}
.jp_game li{ width:197px; height:280px; overflow:hidden; float:left; margin-right:17px; position:relative;}
.jp_game li .X_bg{ width:100%; height:34px; background-color:#000000; position:absolute; left:0px; bottom:0px;filter:alpha(opacity=60); -moz-opacity:0.6; -khtml-opacity: 0.6; opacity: 0.6;}
.jp_game li p{ width:100%; height:34px; line-height:34px; text-align:center;  position:absolute; left:0px; bottom:0px; font-size:14px; color:#fff;}
.jp_game li.lastone{ margin-right:0px;}
.jp_game li .dask{width:197px;height:70px;position:absolute;bottom:-200px;left:0px;}
.jp_game li .dask .dash_bg{width:197px;height:70px;position:relative;}
.dask .dash_bg .dash_xbg{ width:100%; height:70px; background-color:#000000; position:absolute; left:0px; bottom:0px;filter:alpha(opacity=60); -moz-opacity:0.6; -khtml-opacity: 0.6; opacity: 0.6; z-index:1;}
.dask .dash_bg .dash_con{ padding:10px 12px; line-height:22px; position:relative; z-index:2;font-size:14px;}
.dask .dash_bg .dash_con .txt1{ font-size:14px;}
.dask .dash_bg .dash_con .txt1 span{ float:right; color:#b8b8b8;}
.dask .dash_bg .dash_con .txt1 span a{ color:#b8b8b8;}
.dask .dash_bg .dash_con .txt2{  color:#fff; padding-top:5px;}
.dask .dash_bg .dash_con .txt2 a.jinru_new{ width:80px; height:22px; text-indent:-9999px;background:url(../images/bg_15.gif) no-repeat; display:inline-block; float:right; }
.hot_game{width:100%; float:left;  padding-bottom:15px; }
.hot_game li{ width:265px; height:100px; float:left; padding:15px 22px 6px 0px;}
.hot_game li.rightone{ padding-right:0px;}
.hot_game li .pic{ width:110px; float:left; padding-right:15px;  }
.hot_game li .pic img{border-radius:5px;}
.hot_game li h3{ font-size:12px; font-weight:bold; width:140px; float:left; height:22px; line-height:22px; overflow:hidden;}
.hot_game li p{ color:#878785; line-height:22px;}
.hot_game li p span{ color:#252525;}
.hot_game li .glink{ padding-top:8px;}
.hot_game li .glink a{ height:26px; display:inline-block;text-align:center; line-height:26px; text-decoration:none;}
.hot_game li .glink a.gwang{ width:60px;background:url(../images/bg_16.gif) no-repeat; }
.hot_game li .glink a.gwang:hover{;background:url(../images/bg_16hover.png) no-repeat; text-decoration:underline;}
.hot_game li .glink a.start{ width:75px; background:url(../images/bg_17.gif) no-repeat; float:right; color:#ffffff;}
.hot_game li .glink a.start:hover{background:url(../images/bg_17hover.png) no-repeat; text-decoration:underline; }

.bbs{width:100%; float:left; padding-top:8px; padding-bottom:15px; border-bottom:1px solid #e5e5e5;}
.slideBox{ width:258px; height:197px; overflow:hidden; position:relative; margin-top:7px; float:left;  }
.slideBox .hd{ height:16px; overflow:hidden; position:absolute; right:5px; bottom:5px; z-index:1; }
.slideBox .hd ul{ overflow:hidden; zoom:1; float:left;  }
.slideBox .hd ul li{ float:left; margin-right:5px;  width:16px; height:16px; line-height:16px; text-align:center; background:#fff; cursor:pointer; }
.slideBox .hd ul li.on{ background:#f00; color:#fff; }
.slideBox .bd{ position:relative; height:100%; z-index:0;   }
.slideBox .bd li{ zoom:1; vertical-align:middle; }
.slideBox .bd img{ width:258px; height:197px; display:block;  }
.bbs_link{ width:275px; float:left; padding-left:11px; padding-top:7px; padding-right:5px;}
.bbs_link li{width:275px; float:left; line-height:39px; border-bottom:1px dotted #d7d7d7;}
.bbs_link li a{ color:#333333;}
.bbs_link li span{ color:#727073; float:right;}
.wanjia_link{ width:100%; float:left; margin-top:15px;}
.wanjia_link li{width:200px; float:left; line-height:36px; text-align:center; padding-right:13px;}
.wanjia_link li img{ width:200px; height:150px;}
.wanjia_link li.lastone{ padding-right:0px;}
.gg_link{ width:100%; float:left; padding-top:5px; background-color:#fafafa; border-bottom:1px solid #dcdcdc; margin-bottom:20px;}
.gg_link li{width:285px; float:left; line-height:40px; margin-left:7px; border-bottom:1px dotted #dcdcdc; }
.gg_link li a{ width:250px; height:40px; overflow:hidden; display:inline-block; float:left;white-space:nowrap; text-overflow:ellipsis; -o-text-overflow:ellipsis; -moz-binding:url('ellipsis.xml#ellipsis'); overflow:hidden;}
.gg_link li span{ float:right; color:#70727f}
.gg_link li.lastone{ border-bottom:none;}

body{ background:url(../images/bg_main.png);}