/****1月28日，第四版********/
.kefu{width:100%; height:96px; float:left;background:url(../images/bg_18.gif) no-repeat; padding-top: 11px;}
.kefu p{ padding-left:140px; font-size:16px;height: 26px; line-height: 26px;}
.kefu p span{color:#ff4a00;}
.kefu p.kf_link{margin-top: 8px;}
.kefu p i.kf_qq{float: left; display: inline-block; width: 17px; height: 19px; background: url(../images/kf_qq.png) no-repeat; margin:4px 7px 0 0;}
.bnav4{ width:100%; height:45px; float:left; border-bottom:3px solid #c8c8ca;}
.bnav4 h2{ float:left;  height:45px; padding-left:18px;background:url(../images/bg_85.gif) no-repeat left 11px; line-height:40px; font-size:22px; color:#333333;}
.bnav4 h2 span{ font-size:12px; color:#c0c0c0; padding-left:10px;}
.bnav4 h2 a{ text-decoration:none;}

.bnav4 .gongao{ float:left; padding-left:29px; padding-top:14px; line-height:18px;}
.bnav4 .gongao p{background:url(../images/png_12.png) no-repeat left 0px; padding-left:20px; line-height:20px;}
.bnav4 a.more{ display:block; width:22px; height:22px;background:url(../images/png_13.png) no-repeat; float:right; margin-top:12px;}
.bnav4 a.more{-webkit-transition: -webkit-transform .4s ease-out;-moz-transition: -moz-transform .4s ease-out;transition: transform .4s ease-out;}
.bnav4 a.more:hover{background:url(../images/png_13hover.png) no-repeat;transform: rotate(180deg);-ms-transform: rotate(180deg);-moz-transform: rotate(180deg);-webkit-transform: rotate(180deg);-o-transform: rotate(180deg);}
.bnav4 .games_nav{background:url(../images/png_14.png) no-repeat; float:left; width:569px; height:18px; margin-left:35px; margin-top:14px; _display:inline;}
.bnav4 .games_nav li{ float:left; line-height:18px; width:109px; }
.bnav4 .games_nav li a{ display:inline-block; width:109px; height:18px; text-align:center; color:#9c989f; text-decoration:none;}
.bnav4 .games_nav li a:hover{background:url(../images/png_15.png) no-repeat; color:#ffffff;}
.bnav4 .games_nav li.cur a{background:url(../images/png_15.png) no-repeat; color:#ffffff;}

.bnav4 .sousuo{ width:211px; height:34px;background:url(../images/bg_27.gif) no-repeat; float:right;}
.bnav4 .sousuo input{ float:left; border:none; background:none;}
.bnav4 .sousuo .input_txt{ width:152px; padding:5px 13px; color:#666; line-height:24px; height:24px; font-family:Microsoft yahei;}
.bnav4 .sousuo .tijiao_txt{ width:33px; height:34px; cursor:pointer;}


/******新版右侧开服表******/
#boxr{width:299px; float:left; border-bottom:1px solid #dddddd;border-left:1px solid #dddddd;background-color:#ffffff;}
#boxr #tab{height:35px; position:relative; top:-3px;}
#boxr #tab li{width:149px;height:35px;text-align:center;float:left;cursor:pointer; line-height:35px; color:#666666; font-size:17px;border-right:1px solid #dddddd;border-bottom:1px solid #dddddd;border-top:3px solid #dddddd;}
#boxr #tab li.on{width:148px;color:#ff4302;border-right:1px solid #dddddd;border-top:3px solid #f05d4d; border-bottom:none; font-weight:bold; background-color:#ffffff;}

#boxr #tab_con{ width:298px; height:470px;border-right:1px solid #dddddd;}
#tab_con_1,#tab_con_2{display:none}
#boxr #tab_con #tab_con_1{display:block;}

#boxr #tab .kuaisu{ color:#666666; font-size:12px; position:absolute; top:13px; right:10px;*top:0px;}
#boxr #tab #filterName{ width:30px; height:16px; border:1px solid #dddddd; line-height:16px; background:#ffffff; text-align:center; margin:0px 3px;}
.kf_list{ width:270px; height:457px; overflow:hidden; float:left; padding:8px 15px 0px 13px; position:relative;}
.kf_list li{width:270px; float:left; height:42px; line-height:40px;background:url(../images/png_5.png) repeat-x bottom ;color:#353535;}
.kf_list li a{ display:block;width:262px;height:41px; padding-left:4px; padding-right:4px;}
.kf_list li a:hover{/**background:url(../images/kafu.jpg) no-repeat left #ff964b;color:#ffffff;**/ text-decoration:underline; }
.kf_list li a:hover span{cursor:pointer;text-decoration:underline;}
.kf_list li .t_fuqu{ float:right; width:79px; *width:75px; height:40px; overflow:hidden; text-align:right;}
.kf_list li .gname{ float:left; width:105px; display:inline-block; font-size:14px; color:#ff5d13;}
.kf_list li a:hover .gname{ color:#ff5d13; }
.kf_list li .gname img{ width:22px; height:22px;margin-right:10px;}
.Pagination{width:auto; float:left; padding-top:8px; line-height:20px;}
.Pagination div{ display:inline;}
.Pagination .pagesnum{ float:left;}
.Pagination .pagesnum2,.Pagination .pagesnum3{ float:left;}
.Pagination span{ display:none;}
.Pagination a.homePage{ width:19px; height:21px; display:inline-block;background:url(../images/bg_n1.gif);  margin-right:20px; float:left;margin-left:50px;}
.Pagination a.PagePrev{ width:19px; height:21px; display:inline-block;background:url(../images/bg_n2.gif);  margin-right:20px; float:left;}
.Pagination a.PageNext{ width:19px; height:21px; display:inline-block;background:url(../images/bg_n3.gif); margin-left:20px;float:left;}
.Pagination a.lastPage{ width:19px; height:21px; display:inline-block;background:url(../images/bg_n4.gif);  margin-left:20px; float:left;}
.rlingqu{ width:300px;}
.rlingqu a{ width:300px; height:50px; display:block; text-indent:-9999px;background:url(../images/bg_lingqu.gif);}
.gg_link2{ width:298px; float:left; padding-top:8px; background-color:#fafafa; border:1px solid #dcdcdc;border-top:none; padding-bottom:5px;}
.gg_link2 li{width:268px; float:left; line-height:40px; margin-left:15px; border-bottom:1px dotted #dcdcdc; }
.gg_link2 li a{ width:230px; height:40px; overflow:hidden; display:inline-block; float:left;white-space:nowrap; text-overflow:ellipsis; -o-text-overflow:ellipsis; -moz-binding:url('ellipsis.xml#ellipsis'); overflow:hidden;}
.gg_link2 li span{ float:right; color:#70727f}
.gg_link2 li.lastone{ border-bottom:none;}
.rgame-qie{ border:1px solid #dddddd; padding:8px; background-color:#fafafa; width:282px; float:left;}
.slideBox2{ width:282px; height:128px; overflow:hidden; position:relative; float:left;  }
.slideBox2 .bd{ position:relative; height:100%; z-index:1;   }
.slideBox2 .bd li{ zoom:1; vertical-align:middle; }
.slideBox2 .bd img{ width:282px; height:128px; display:block;  }
.slideBox2 a.prev{ display:block; position:absolute; left:5px; top:40px; width:26px; height:40px; background:url(../images/png_10.png); z-index:9;}
.slideBox2 a.next{ display:block; position:absolute; right:5px; top:40px; width:26px; height:40px;background:url(../images/png_11.png); z-index:9;}

/*******/
.bnav4 .kuaicha{ float:right; padding-top:18px; color:#666666;line-height:16px; font-size:14px;}
.bnav4 .kuaicha .filterName{ width:30px; height:16px; border:1px solid #bebebe; text-align:center; }
#tab_con h5{ float:left; width:298px; text-align:center; padding-top:20px; font-size:14px; display:none; color:#666666;}



/****1月28日，第四版********/
.rlingqu2{ width:300px; float:left;}
.rlingqu2 a{ width:300px; height:64px; display:block; text-indent:-9999px;background:url(../images/vip.jpg);}
.kj_rk{ width:297px; float:left; background-color:#fafafa;border:1px solid #dbdbdb; border-top:none;}
.kj_rk dd,.kj_rk dt{width:148px; height:70px; text-align:center;float:left;}
.kj_rk dd a,.kj_rk dt a{display: inline-block; text-decoration: none; margin-top: 15px; font-size: 14px;}
.kj_rk dd a:hover span,.kj_rk dt a:hover span{color: #ff4206;}
.kj_rk dd{border-right:1px solid #dbdbdb; border-bottom: 1px solid #dbdbdb;}
.kj_rk dt{ float:right;border-bottom: 1px solid #dbdbdb;}
.kj_rk dd i,.kj_rk dt i{height: 27px; display: block; margin: 0 auto;}
.kj_rk dd i.kj_rk_1{width: 27px;background: url(../images/kj_rk_1.png) no-repeat;}
.kj_rk dt i.kj_rk_2{width: 18px;background: url(../images/kj_rk_2.png) no-repeat;}
.kj_rk dd i.kj_rk_3{width: 26px;background: url(../images/kj_rk_3.png) no-repeat;}
.kj_rk dt i.kj_rk_4{width: 21px;background: url(../images/kj_rk_4.png) no-repeat;}
.kj_rk dd i.kj_rk_5{width: 18px;background: url(../images/kj_rk_5.png) no-repeat;}
.kj_rk dt i.kj_rk_6{width: 29px;background: url(../images/kj_rk_6.png) no-repeat;}
/************/