html, body, div, h1, h2, h3, h4, h5, h6, ul, ol, dl, li, dt, dd, p, blockquote,pre, form, fieldset{ margin:0px; padding:0px;outline:none; border:0px; }
body{font-size:12px;font-family:'Microsoft yahei', Verdana, Arial, Helvetica, sans-serif; font-style:normal; background-color:#fff;}
ul, ol, dl, dd, form, input, select, button,textarea{margin:0px;padding:0px;}
input{ outline:none;}
h1, h2, h3, h4, h5, h6 ,p{font-size:100%;font-weight:normal; padding:0px; margin:0px;}
ul,ol,li{list-style:none;}
img{border:0px none;vertical-align:middle;_vertical-align:top;}
a{color:#252525; text-decoration:none;outline:none;}
a:hover{color:#252525; text-decoration:underline;outline:none;}
a.color666{color:#666666; text-decoration:none;outline:none;}
a.color666:hover{color:#666666; text-decoration:underline;}
a.color333{color:#333333; text-decoration:none;outline:none;}
a.color333:hover{color:#333333; text-decoration:underline;}
a.White{color:White; text-decoration:none;outline:none;}
a.White:hover{color:White; text-decoration:underline;}
.clear{ clear:both; width:0px; height:0px; overflow:hidden; line-height:0px;}
.clearfix{clear:both;zoom:1;}
.clearfix:after {visibility: hidden;display: block;font-size: 0;content: " ";clear: both;height: 0;}
*html .clearfix { height: 1%;}
.main{ width:1180px; margin:0px auto;}
.main980{ width:980px; margin:0px auto;}
.fleft{ float:left;}
.fright{ float:right;}
.top10{ margin-top:10px;}
.top15{ margin-top:15px;}
.top20{ margin-top:20px;}
.top25{ margin-top:25px;}
.top30{ margin-top:30px;}
.top40{ margin-top:40px;}
.top50{ margin-top:50px;}
.top60{ margin-top:60px;}
.top80{ margin-top:80px;}
.blank30{ height:30px; float:left; width:100%;}

/****新版头部样式-2015.03.31********/
#ntop{width:100%; height:110px; background:url(../images/new_top/nx_bg1.jpg); border-bottom:1px solid #cccccc;}
#ntop .nlogo{width:219px; height:79px; float:left; padding-left:8px; padding-top:17px;}
#ntop .nright{ float:right;width:800px;}
#ntop .nright .ntop_txt{height:21px; float:right; padding-top:8px; line-height:21px; color:#626262;font-size:12px;}
#ntop .nright .ntop_txt #number{ color:#ff4302; font-size:14px;}
#ntop .nright .ntop_txt .shoucang{ padding-left:20px;}
#ntop .nright .ntop_txt .shoucang a{ color:#626262;}
#ntop .nright .ntop_txt .logins{ padding-left:20px;}
#ntop .tuichu_h{ color:#626262}
#ntop .users_color{ color:#ff6002}
#ntop #nologin a{color:#626262}
#ntop .all_game{width:81px; height:21px;padding-left:20px; text-indent:10px; line-height:21px; background:url(../images/new_top/nx_bg2.png) no-repeat right; cursor:pointer; position:relative; z-index:98;border-right:1px solid #ececec;}
#ntop .on{ color:#ff6002;}
#ntop .tan_game{ width:494px; position:absolute; top:21px; right:0px;background:url(../images/png_8.png) no-repeat top; padding-top:5px; cursor:auto; z-index:99; display:none; }
#ntop .tang_bor{ width:480px; padding:6px; background-color:#f1f1f1; border:1px solid #bdbdbd; border-top:none;}
#ntop .sgame{width:480px;border-collapse:collapse;border-spacing:0;}
#ntop .sgame tr{}
#ntop .sgame td{ width:120px; border:1px solid #d4d4d4; background-color:#ffffff; height:28px; line-height:28px; padding-left:10px;}
#ntop .sgame td .hot{ width:22px; height:11px;background:url(../images/png_hot.png) no-repeat; display:inline-block; margin-left:10px; position:relative; *top:-3px; *left:0px;}
#ntop .sgame td a{ color:#666666; text-decoration:none;}
#ntop .sgame td a:hover{ color:#e55411;}
#ntop .nav{ height:40px; float:right; padding-top:20px; *min-width:500px;_width:700px;}
#ntop .nav li{ width:87px; height:40px; float:left; padding-left:10px; text-align:center;}
#ntop .nav li .chinese_txt{ display:block; line-height:20px; padding-top:3px; font-size:16px;}
#ntop .nav li .en_txt{ display:block; line-height:16px; font-size:12px; font-family:Arial;}
#ntop .nav li.no_bg{ background:none;}
#ntop .nav li a{display:inline-block; width:87px; height:40px; color:#333333;}
#ntop .nav li.on a,#ntop .nav li a:hover{ background:url(../images/new_top/nx_bg3.png) no-repeat; color:#fff; text-decoration:none;}
/****新版头部样式-2015.03.31end********/


#top{ width:100%; height:34px; background-color:#f5f5f5; border-bottom:1px solid #ececec;}
#top .save{ float:left; height:34px; line-height:34px; border-left:1px solid #ececec;}
#top .save li{ float:left;height:34px;border-right:1px solid #ececec; padding-left:20px;}
#top .save li a{ color:#666666; display:inline-block;padding:0px 15px 0px 21px;}
#top .save li a.savebg{ background:url(../images/bg_1.gif) no-repeat 0px 11px;}
#top .save li a.shoucang{ background:url(../images/bg_2.gif) no-repeat 0px 9px;}
#top .top_right{color:#666666; line-height:34px;}
#top .num_all{ padding-right:20px; margin-right:20px; border-right:1px solid #ececec;}
#top .num_all span{ color:#e55411; font-size:14px; font-weight:bold;}
#top .logins{ color:#666666; padding-right:20px; border-right:1px solid #ececec; margin-right:20px; }
#top .logins a{ margin:0px 5px; color:#666;}
#top .logins a.users_color{color:#ff6002;}
#top .all_game{background:url(../images/bg_3.gif) no-repeat 52px 15px; padding-right:35px; cursor:pointer; position:relative; z-index:98;border-right:1px solid #ececec;}
#top .on{ color:#ff6002;}

#top_logo{width:100%; height:78px; background-color:#fff;}
#top_logo .logo{ float:left; padding-top:3px;}
#top_logo .nav{ height:78px; line-height:78px;}
#top_logo .nav li{ float:left; background:url(../images/bg_4.gif) no-repeat right; font-size:16px;}
#top_logo .nav li.no_bg{ background:none;}
#top_logo .nav li a{padding-left:27px; padding-right:28px; display:inline-block;}
#top_logo .nav li.on a,#top_logo .nav li a:hover{ background:#ff4302; color:#fff; font-weight:bold; text-decoration:none;}

.foot{ width:100%; background-color:#f0f0f0; border-top:1px solid #cccccc; padding-top:30px; padding-bottom:50px;}
.foot .foot_link{ line-height:35px; border-bottom:1px solid #d4d4d4; text-align:center;}
.foot .foot_link a{ display:inline-block; margin:0px 15px;}
.foot .banquan{ padding-top:12px; text-align:center; line-height:22px; color:#878787;}

.mleft{ width:840px; overflow:hidden;}
.mright{ width:300px;}
.bnav{ width:100%; height:44px;background:url(../images/bg_11.gif) repeat-x; float:left;}
.bnav h3{ float:right; margin-top:12px;  line-height:20px; font-size:14px;background:url(../images/bg_12.gif) no-repeat right 2px;}
.bnav h3 a{ display:inline-block; padding-right:20px;}
.bnav h2{ float:left; text-indent:-9999px; width:89px; height:44px;}
.bnav h2.jpyx{background:url(../images/bnav1.gif)}
.bnav h2.rmyx{background:url(../images/bnav2.gif)}
.bnav h2.wjlt{background:url(../images/bnav3.gif)}
.bnav h2.wjfc{background:url(../images/bnav4.gif)}
.bnav h2.kflb{background:url(../images/bnav5.gif)}
.bnav h2.hdgg{background:url(../images/bnav6.gif)}
.bnav h2.cjwt{background:url(../images/bnav7.gif)}
.bnav h2.yxlb{background:url(../images/bnav8.gif)}
.bnav h2.yxdq{background:url(../images/bnav9.gif)}
.bnav h4{ float:left; height:44px;background:url(../images/bg_44.gif) repeat-x bottom; line-height:44px; color:#ff4302; font-size:17px; padding:0px 5px; font-weight:bold;}
.bnav h4 span{ color:#4f4f4f; padding-left:5px;}
.bnav .gongao{ float:left; padding-left:29px; padding-top:11px; line-height:18px;}
.bnav .gongao p{background:url(../images/bg_13.gif) no-repeat left; padding-left:20px;}
.new-actives { width: 280px; padding:0px 13px 0px 7px; overflow: hidden; position: relative; zoom: 1; background-color:#fafafa; }
.new-actives .tab-hd{ height:28px; padding-top:9px; color:#404040; border-bottom:1px solid #d9d9d9; }	
.new-actives .tab-hd h4{ float:left; height:28px; font-size:14px; line-height:26px;  color:#4f4f4f; font-weight:bold; padding-left:25px; }	
.new-actives .tab-hd h4.jjkf{background:url(../images/bg_19.gif) no-repeat left;}
.new-actives .tab-hd h4.ykxf{background:url(../images/bg_20.gif) no-repeat left;}        
.new-actives .pageState{ float: left; padding: 4px 10px 0 120px; }	
.new-actives .pageState span{ font-weight:bold; color:#f60; }	      	
.new-actives .step { position: absolute; padding-left: 1px; right: 20px; float: right; margin-top:3px; }	
.new-actives .step a { float: left; width: 19px; height: 19px; display:block; margin-right:5px; }	
.new-actives .step a.prev{background:url(../images/bg_21.gif) no-repeat}
.new-actives .step a.next{background:url(../images/bg_22.gif) no-repeat}
.new-actives .tab-bd { padding-left:28px;background:url(../images/bg_23.gif) repeat-y left 0px;}	
.new-actives .tab-bd ul { overflow: hidden }
.new-actives .tab-bd li { border-bottom: 1px solid #dcdadb;height: 45px; overflow: hidden; float: left; width: 100%; position: relative; line-height:45px; }	
.new-actives .tab-bd li img{ _margin-top:10px;}
.new-actives .tab_bg2{background:url(../images/bg_24.gif) repeat-y left 0px;}     	
.new-actives .tab-bd li .gname{ color:#3f3f3f; margin-left:5px; width:73px; display:inline-block; cursor:pointer;}
.new-actives .tab-bd li .time{ margin:0px 8px; color:#988ba6;}

.tan_game{ width:494px; position:absolute; top:25px; right:16px;background:url(../images/png_8.png) no-repeat top; padding-top:5px; cursor:auto; z-index:99; display:none; }
.tang_bor{ width:480px; padding:6px; background-color:#f1f1f1; border:1px solid #bdbdbd; border-top:none;}
.sgame{width:480px;border-collapse:collapse;border-spacing:0;}
.sgame tr{}
.sgame td{ width:120px; border:1px solid #d4d4d4; background-color:#ffffff; height:28px; line-height:28px; padding-left:10px;}
.sgame td .hot{ width:22px; height:11px;background:url(../images/png_hot.png) no-repeat; display:inline-block; margin-left:10px; position:relative; *top:-3px; *left:0px;}
.sgame td a{ color:#666666; text-decoration:none;}
.sgame td a:hover{ color:#e55411;}


/****1月28日，第四版********/
.foot2{ width:100%; background-color:#ffffff; border-top:1px solid #e3e3e3; padding-top:40px; padding-bottom:20px;}
.foot2 .foot_link{ line-height:24px; font-size:14px; position:relative;}
.foot2 .foot_link .color333{ display:inline-block; padding-right:20px;}
.foot2 .foot_link .foot_weibo,.foot2 .foot_link .foot_weixin{ position:absolute;width:26px; height:22px; top:10px; display:block; text-indent:-9999px;}
.foot2 .foot_link .foot_weibo{ right:50px; background:url(../images/foot_weibo.gif) no-repeat;}
.foot2 .foot_link .foot_weixin{ right:10px; background:url(../images/foot_weixin.gif) no-repeat;}

.foot2 .banquan{ line-height:26px; color:#878787; margin-top:20px; border-top:1px solid #ebebeb; padding-top:30px;}
.foot2 .banquan .foot_links{ width:185px; height:64px; display:block; float:left; padding-right:30px;}

/************/