/*****游戏大厅样式******/
body{ background:url(../images/bg_main.png);}
.game_nav{ width:100%; height:20px; background:url(../images/xbg1.png) repeat-x top;}

.gs_game{ width:100%; float:left;}
.gs_game dt{ width:389px; float:left; position:relative;}
.gs_game dt .X_bg{ width:100%; height:38px; background-color:#000000; position:absolute; left:0px; bottom:0px;filter:alpha(opacity=60); -moz-opacity:0.6; -khtml-opacity: 0.6; opacity: 0.6;}
.gs_game dt .X_txt{ width:100%; height:38px; line-height:38px; position:absolute; left:0px; bottom:0px;}
.gs_game dt .X_txt h2{ float:left; padding-left:5px; font-size:18px;}
.gs_game dt .X_txt p{ float:right; color:#fff; padding-right:8px;}
.gs_game dt .X_txt p a.jinru{ width:82px; height:22px; display:inline-block;background:url(../images/bg_26.gif) repeat-x; color:#fff; margin-left:4px; font-weight:bold; font-size:14px; text-decoration:none; line-height:22px; text-align:center;}

.gs_game dd{ width:213px; height:160px; float:left; padding-left:12px;}
.gs_game dd .pic{ width:213px;height:126px; overflow:hidden; position:relative;}
.gs_game dd .pic .X_bg{width:100%; height:126px; background-color:#000000; position:absolute; left:0px; bottom:-126px;filter:alpha(opacity=75); -moz-opacity:0.75; -khtml-opacity: 0.75; opacity: 0.75;}
.gs_game dd .pic .pic_txt{width:100%; height:126px;  position:absolute; left:0px; bottom:-126px;}
.gs_game dd .pic .pic_txt a.jinru{ width:82px; height:22px; display:inline-block;background:url(../images/bg_26.gif) repeat-x; color:#fff; margin-top:48px; font-weight:bold; font-size:14px; text-decoration:none; line-height:22px; text-align:center; margin-left:68px;}
.gs_game dd .pic .pic_txt p{ width:100%; padding-top:16px; line-height:24px; color:#858587; text-align:center; font-size:14px; }
.gs_game dd.navmoon .pic .X_bg,.gs_game dd.navmoon .pic .pic_txt{ display:block;}

.gs_game dd .txt{ line-height:30px;}
.gs_game dd .txt h3{ float:left; padding-left:7px;font-size:14px; font-weight:bold;}
.gs_game dd .txt h3 img{ float:left; margin-top:7px; margin-right:10px; }
.gs_game dd .txt p{ float:right; padding-right:5px; color:#cccccc;}
.gs_game dd .txt p a{ color:#626262;}

.bnav .sousuo{ width:211px; height:34px;background:url(../images/bg_27.gif) no-repeat; float:right;}
.bnav .sousuo input{ float:left; border:none; background:none;}
.bnav .sousuo .input_txt{ width:152px; padding:5px 13px; color:#666; line-height:24px; height:24px; font-family:Microsoft yahei;}
.bnav .sousuo .tijiao_txt{ width:33px; height:34px; cursor:pointer;}

/********游戏大全****/
.index-main-pan-body{ border:1px solid #dedede; float:left; width:100%;}
.gametype{ width:835px; line-height:40px; border-bottom:1px dotted #dedede; color:#d6ccd5; float:left; margin-left:5px; _display:inline;}
.gametype span{ float:left; color:#999999; padding:0px 12px;}
.gametype .type-info,.gametype ul{ float:left;}
.gametype ul li{ float:left; padding:0px 20px; cursor:pointer;background:url(../images/bg_28.gif) no-repeat right center;}
.gametype ul li a{ color:#454545; text-decoration:none;}
.gametype ul li.on a{ color:#ff4304;}
.no_bor{ border-bottom:none;}

#gamelist{ float:left; width:881px;}
#gamelist li{ width:265px; height:100px; float:left; padding-right:22px; padding-top:20px;}
#gamelist li .gx-pic-bg{}
#gamelist li .gx-pic-left{ width:110px; float:left; padding-right:15px;}
#gamelist li .gx-pic-right{ width:140px; float:left;}
#gamelist li .gx-pic-right h3{ line-height:22px; font-weight:bold;}
#gamelist li .gx-pic-right p{ line-height:22px; color:#888888;}
#gamelist li .gx-pic-right p span,#gamelist li .gx-pic-right p a{ color:#444444}

#gamelist li .gx-pic-right h4{ line-height:24px; margin-top:10px;}
#gamelist li .gx-pic-right h4 a{ display:inline-block; text-align:center;}
#gamelist li .gx-pic-right h4 a.website{ width:60px; height:24px;background:url(../images/bg_29.gif) no-repeat;}
#gamelist li .gx-pic-right h4 a.start{ width:74px; height:24px;background:url(../images/bg_30.gif) no-repeat; color:#fff; float:right;}

.libao{ width:280px; float:left; padding:7px 10px 10px 10px; background-color:#fafafa; border-bottom:1px solid #e0e0e0;}
.libao li{ width:280px; height:70px; border-bottom:1px dotted #d9d9d9; padding:10px 0px}
.libao li.no_bor{border-bottom:none}

.libao li .pic{ float:left; width:100px; padding-right:27px;}
.libao li .txt{ float:left; width:150px;}
.libao li .txt h3{ font-weight:bold; line-height:22px;}
.libao li .txt p{ line-height:22px; color:#666666;}
.libao li .txt a.lingqu{width:86px; height:24px;background:url(../images/bg_31.gif) no-repeat;display:inline-block; text-align:center; color:#fff; line-height:24px; margin-top:2px;}

/***********/