root {display: block;}
html, body, div, label, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, p, blockquote, th, td ,img,textarea{border: 0px;margin: 0px;outline: 0px;padding: 0px;}
fieldset, img { border: 0; }
img { display:inline-block; }
:focus { outline: 0; }
li {display: list-item;text-align: -webkit-match-parent;}
em, i, u {font-style: normal;}
h1, h2, h3, h4, h5, h6 {font-weight: normal; font-family:"Microsoft YaHei" }
abbr, acronym { border: 0; font-variant: normal; }
input, button, textarea, select, optgroup, option { font-family: inherit; font-size: inherit; font-style: inherit; font-weight: inherit; }
code, kbd, samp, tt { font-size:100%; }
input, button, textarea, select { *font-size: 100%;font-family:"Microsoft YaHei";}
ol, ul { list-style: none outside none; }
table { border-collapse: collapse; border-spacing: 0;}
caption, th { text-align: left; }
:link, :visited, ins { text-decoration: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
a{ color: #333}
div {display: block;}
.row{margin-right:0px; margin-left: 0px;}
.margin-top{ margin-top:10px}
.none{display: none}
.r_f{ float:right}
.l_f{ float:left}
.mleft{ margin-left:10px;}
.relative{position: relative}
.margin{ margin:15px;}
.bold{font-weight: bold}
.border{ border:1px solid #ddd; padding:10px; height:60px; line-height:36px; margin-bottom:20px; }
.border span{ display:block; height:100%;}
.alert{ margin-top:20px;}
.clearfix:after{
	display: block;
	content: ".";
	height: 0;
	visibility: hidden;
	clear: both;
	font-size: 0;
	line-height: 0;
}
body
{
  padding-bottom: 0;
  background-color: #ffffff;
  min-height: 100%;
  font-family: "Microsoft YaHei",微软雅黑,\9ed1\4f53,\5b8b\4f53,"Microsoft JhengHei",华文细黑,STHeiti,MingLiu;
   overflow-x: hidden;
  font-size: 13px;
  color: #393939;
  line-height: 1.5;
}
.page-content {
    background: #fff;
    margin: 0;
    padding:0px 15px;
}
.system_logo{ min-height: 60px; padding: 15px 0px;}
.system_logo img {width: 100%}
ul.ul_fl li {
    float: left;
    list-style: none;
}
.align{text-align: center}
.margin0{margin: 0px;}
.width33{width: 33%}
.width100{width: 100%}
.margin10{margin: 10px;}
.margin20{margin: 20px;}
.margin30{margin: 30px;}
.mt10{margin-bottom: 10px;}
.mt15{margin-bottom: 15px;}
.mt60{ margin-top: 60px}
.mtb10{margin: 10px 0px;}
.mlr10{margin: 0px 10px!important;}
.mlr20{margin: 0px 20px!important;}
.mtb20{margin: 20px 0px;}
.mtb30{margin: 30px 0px;}
.mtb40{margin: 40px 0px;}
.ptb10{padding:10px 0px;}
.ptb15{padding:15px 0px;}
.ptb20{padding:20px 0px;}
.ptb30{padding:30px 0px;}
.plr10{padding: 0px 10px;}
.plr20{padding: 0px 20px;}
.plr30{padding: 0px 30px;}
.padding10{padding:10px;}
.padding15{padding:15px;}
.padding20{padding:20px;}
.padding30{padding:30px;}
.color1{color: #888888}
.color2{color:#dddddd}
.color3{color:#E35B5E}
.color4{color:#FFB600}
.background{background:#ffffff}
.background1{background:#0B7C06}
.background2{background:#888888}
.background3{background:#D84D50}
.background4{background:#f0f0f0}
.background5{background: url(../images/bg-22.png) no-repeat top #f7f7f9;}
.size12{font-size: 12px}
.size14{font-size: 14px}
.size18{font-size: 18px}
.size24{font-size: 24px}
.size30{font-size: 30px}
.line30{line-height: 30px;}
.line26{line-height: 26px;}
/*********************************兼容屏幕大小样式属性**************************************/
@media screen and (max-width: 1900px){
.decorative_case .case_list li {width: 24.7%;}
}
@media screen and (max-width: 1610px){
 .case_list ul {margin-left: -10px;}
 .bannerN { height: 450px;}
 .banH2 { font-size: 30px;}
}
@media screen and (max-width: 1460px){
	.Brand_display .content-wrapper .Brand_content li{ width:470px; }
	.index-kgl-content {
    height: 550px;
    padding: 0 20px;
    margin-top: 87px;
		
}
	.bannerN { height: 350px;}
	.index-kgl-lower.hover .index-icon-zxgj {
    width: 53px;
    height: 51px;
    background-position: -56px -55px;
}
	.index-kgl-lower.hover .index-icon-zxrj{    
	width: 50px;
    height: 50px;
    background-position: 0 -168px;
}
	.index-kgl-lower.hover .index-icon-zxwd {
    width: 53px;
    height: 51px;
    background-position: -57px -168px;
}
	.index-icon-zxgj {
    top: -62px;
    left: 50%;
    margin-left: -27px;
    width: 53px;
    height: 50px;
    background-position: -56px 0;
}
	.index-icon-zxwd {
    top: -63px;
    left: 50%;
    margin-left: -26px;
    width: 52px;
    height: 51px;
    background-position: -57px -112px;
}
	.index-icon-zxrj {
    top: -63px;
    left: 50%;
    margin-left: -25px;
    width: 49px;
    height: 50px;
    background-position: 0 -112px;
}
	 .index-icon-zxrj {
    width: 50px;
    height: 50px;
    background-position: 0 -168px;
}
	.index-kgl-type .index-kgl-lower,
	.index-kgl-content .index-kgl-type{ width: 360px;height: 448px; margin-left: -1px}
	
	.index-icon-zxgl {
    top: -63px;
    left: 50%;
    margin-left: -24px;
    width: 48px;
    height: 50px;
    background-position: 0 0;
}
	.kgl-title-text {
    margin-top: 101px;
    font-size: 24px;
}
	.index-kgl-type .index-kgl-lower ul {margin-top: 39px;}
	.index-kgl-type .index-kgl-lower ul li {
    padding-left: 50px;
    line-height: 36px;
    height: 36px;
}
	.index-kgl-title {height: 168px;}
    .content-wrapper {width: 1460px;}
	.content-wrapper .step-line {  width: 186px;}
	.content-wrapper .index-zzx-process .icon-ys {
    width: 68px;
    height: 58px;
    margin-top: 2px;
    background-position: -532px -64px;
}
	.content-wrapper .index-zzx-process .icon-bz {
    width: 54px;
    height: 61px;
    background-position: -546px -132px;
}
	.content-wrapper .index-zzx-process .icon-sg {
    width: 64px;
    height: 53px;
    margin-top: 7px;
    background-position: -536px 0;
}
	.content-wrapper .index-zzx-process .icon-ht {
    width: 59px;
    height: 60px;
    background-position: -456px -196px;
}
	.content-wrapper .index-zzx-process .icon-fa {
    width: 71px;
    height: 60px;
    background-position: -452px -128px;
}
	.content-wrapper .index-zzx-process .icon-lf {
    width: 64px;
    height: 54px;
    margin-top: 6px;
    background-position: -448px -67px;
}
	.content-wrapper .index-zzx-process .icon-zxyy {
    width: 48px;
    height: 60px;
    background-position: -452px 0;
}
	.content-wrapper .zzx-process-bz .index-zzx-step {
    margin-top: 15px;
}
	.content-wrapper .index-zzx-step {
    font-size: 18px;
}
	.content-wrapper .index-zzx-detail, .zzx-company-bespoke, .zzx-company-data li {
    font-size: 14px;
}
	.content-wrapper .index-zzx-process ul li+li {
    margin-left: 83px;
}
}
@media screen and (max-width: 1370px){
	.bannerN { height: 300px;}
}
@media screen and (max-width: 760px){
	.telephone_name,
	.telephone_style b,
	.telephone_style h5{ text-align: center; display: block;}
	.bannerN { height: 300px;}
	.information_style .Information_img{height: 300px!important;}
	.information_style  img{ height:300px!important}
}
/******************************************************************/
.bodyer{ margin-top: 65px;}
.header {
	width: 100%;
	min-width: 992px;
	height: 66px;
	position: fixed;
	background-color: #FFF;
	top: 0;
	left: 0;
	transition: all .2s;
	-webkit-transition: all .2s;
	-moz-transition: all .2s;
	z-index: 999;
	box-shadow: 0 1px 5px 0 #D2D2D2;
	-webkit-box-shadow: 0 1px 5px 0 #D2D2D2;
	-mozbox-shadow: 0 1px 5px 0 #D2D2D2;
	-o-box-shadow: 0 1px 5px 0 #D2D2D2;
	z-index: 10000;
}
.header .nav-center ul {margin: 0 auto}
.header .nav-center li {
	position: relative;
	text-align: center;
	list-style-type: none;
	cursor: pointer;
	transition: width 2s;
	-moz-transition: width 2s; /* Firefox 4 */
   -webkit-transition: width 2s; /* Safari 和 Chrome */
   -o-transition: width 2s; /* Opera */
}
.header .nav-center li a {
	text-decoration: none;
	padding: 0px 15px;
	position: relative;
	z-index: 10;
	display: block;
	color: #333;
	font-size:16px;
	transition: width 2s;
	-moz-transition: width 2s; /* Firefox 4 */
	-webkit-transition: width 2s; /* Safari 和 Chrome */
	-o-transition: width 2s; /* Opera */
}
.header .nav-center li a:hover{background:#ffffff}
.header .nav-center li a>img{position:relative;right:20px;}
.hide-head {top: -120px}
.show-head {top: 0}
.header .container {height: 66px; padding:0px}
.header [class^=col-xs] {
	margin: 0;
	padding: 0;
	height: 66px;
	line-height: 66px
}
.header .nav-center li>a>span {
	padding: 8px 18px;
	border-radius: 20px;
	-webkit-border-radius: 20px;
	-webkit-transition: all .5s ease-out 0s;
	-moz-transition: all .5s ease-out 0s;
	-ms-transition: all .5s ease-out 0s;
	-o-transition: all .5s ease-out 0s;
	transition: all .5s ease-out 0s
}
.header .nav-center .nav-current a span,
.header .nav-center li a:hover span {background-color:#2b7de0;color: #ffffff;}
.header .nav-center li.hover span {background-color:#2b7de0;color: #ffffff;}
.nav-center li.back .arrow {
	float: left;
	width: 92%;
	height: 52px;
	position: relative
}
.nav-center li.back {
	margin-left: 0;
	height: 52px;
	overflow: hidden;
	z-index: 8;
	position: absolute;
	top: 0
}
.header .nav-left .logo {
	float: left;
	width: 79.2px;
	height: 66px;	
}
.header .nav-left .city-box {
	display: inline-block;
	margin-left: 18px;
	position: relative;
	padding-top:20px;
}
.header .nav-left .city-box p {
	margin: 0;
	width: 64px;
	height: 26px;
	line-height: 26px;
	color: #606060;
	cursor: pointer;
	position: relative

}
.header .nav-left .city-box:hover .city-ul-box {height: 214px;}
.header .nav-left .city-box .city-ul-box {
	position: absolute;
	width: 80px;
	top: 45px;
	left: 0;
	height: 0;
	overflow: hidden;
	transition: all .2s;
	-webkit-transition: all .2s;
	-moz-transition: all .2s;
	-o-transition: all .2s;
	opacity: .9;
	filter: alpha(opacity=90)
}

.header .nav-left .city-box .city-ul-box .head-city-ul {
	position: absolute;
	top: 5px;
	left: 0;
	padding: 0
}
.header .nav-left .city-box .city-ul-box .head-city-ul li {width: 64px;background: #f0f0f0}
.city-box p .arrow-down {
	position: absolute;
	right: 0;
	top: 0;
	font-size: 10px;
	padding-top: 2px;
	transition: all .2s;
	-webkit-transition: all .2s;
	-moz-transition: all .2s;
	-o-transition: all .2s
}
.head-city-ul p {
	color: #606060;
	text-align: center;
	font-size: 12px
}
.header .head-city-ul li:hover p {color: #f0f0f0;background-color: #E8334A}
.city-box:hover p .arrow-down {
	transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-o-transform: rotate(180deg)
}
.header .nav-right .c_service,.header .nav-right .taob,.header .nav-right .wei {
	cursor: pointer;
	width: 30px;
	height: 30px;
	display: inline-block;
	margin: 18px 0 0 15px
}
.header .nav-right .c_service {background-position: -88px -353px}
.header .nav-right .wei {background-position: -144px -353px}
.header .nav-right .taob {background-position: -116px -353px}
.nav .sub {
    display: none;
    width: 130px;
    left: 0;
    top:60px;
    position: absolute;
    background: #ffffff;
    line-height: 26px;
    padding: 5px 0;
	border-bottom: 1px solid #dddddd;
	border-right: 1px solid #dddddd;
	border-left: 1px solid #dddddd;
}
.nav .sub li{text-align: center;float: none; height: 40px; line-height: 40px;}
.nav .sub li a:hover{background: #f0f0f0}
/*********************************************************/
div.Pagination{
	text-align: center;
	color: #999999;
	margin: 30px 0px;
}
div.Pagination a{
	text-decoration: none;
	
}
div.Pagination span,div.Pagination a{
	display: inline-block;
	box-sizing: border-box;
}
div.Pagination span{margin: 0px 10px}
span.disabled{
	height: 35px;
	width: 65px;
	line-height: 35px;
	background: #f2f2f2;
	margin: 0 5px;
}
.current{
	color: #ffffff;
	background: #d84d50;
	width: 35px;
	height: 35px;
	line-height: 35px;
	margin: 0 5 px;
}
.zxfPagenum{
	color: #999999;
	background: #FFFFFF;
	width: 35px;
	height: 35px;
	line-height: 35px;
	border: 1px solid #dfdfdf;
	margin: 0 5px;
}
.nextpage{
	color: #d71f1b;
	margin: 0 5px;
	border: 1px solid #d71f1b;
}
.nextbtn,.prebtn{
	color: #999999;
	background: #FFFFFF;
	width: 65px;
	height: 35px;
	line-height: 35px;
	border: 1px solid #dfdfdf;
}
.zxfinput{
	width: 35px;
	height: 35px;
	text-align: center;
	box-sizing: border-box;
	border: 1px solid #dfdfdf;
	margin: 0 12px;
}
.zxfokbtn{
	width: 45px;
	height: 35px;
	line-height: 35px;
	border: 1px solid #dfdfdf;
}
/******************图片弹出层样式**********************/
#CB_ShowTh {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; BACKGROUND-COLOR: transparent; BORDER-RIGHT-WIDTH: 0px
}
#CB_Thumbs2 {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; BACKGROUND-COLOR: transparent; BORDER-RIGHT-WIDTH: 0px
}
#CB_Thumbs {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; BACKGROUND-COLOR: transparent; BORDER-RIGHT-WIDTH: 0px
}
.CB_RoundPixBugFix {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; BACKGROUND-COLOR: transparent; BORDER-RIGHT-WIDTH: 0px
}
#CB_Padding {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; BACKGROUND-COLOR: transparent; BORDER-RIGHT-WIDTH: 0px
}
#CB_ImgContainer {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; BACKGROUND-COLOR: transparent; BORDER-RIGHT-WIDTH: 0px
}
#CB_PrevNext {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; BACKGROUND-COLOR: transparent; BORDER-RIGHT-WIDTH: 0px
}
#CB_ContentHide {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; BACKGROUND-COLOR: transparent; BORDER-RIGHT-WIDTH: 0px
}
#CB_LoadingImage {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; BACKGROUND-COLOR: transparent; BORDER-RIGHT-WIDTH: 0px
}
#CB_Text {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; BACKGROUND-COLOR: transparent; BORDER-RIGHT-WIDTH: 0px
}
#CB_Window {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; BACKGROUND-COLOR: transparent; BORDER-RIGHT-WIDTH: 0px
}
#CB_Image {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; BACKGROUND-COLOR: transparent; BORDER-RIGHT-WIDTH: 0px
}
#CB_TopLeft {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; BACKGROUND-COLOR: transparent; BORDER-RIGHT-WIDTH: 0px
}
#CB_Top {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; BACKGROUND-COLOR: transparent; BORDER-RIGHT-WIDTH: 0px
}
#CB_TopRight {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; BACKGROUND-COLOR: transparent; BORDER-RIGHT-WIDTH: 0px
}
#CB_Left {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; BACKGROUND-COLOR: transparent; BORDER-RIGHT-WIDTH: 0px
}
#CB_Content {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; BACKGROUND-COLOR: transparent; BORDER-RIGHT-WIDTH: 0px
}
#CB_Right {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; BACKGROUND-COLOR: transparent; BORDER-RIGHT-WIDTH: 0px
}
#CB_BtmLeft {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; BACKGROUND-COLOR: transparent; BORDER-RIGHT-WIDTH: 0px
}
#CB_Btm {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; BACKGROUND-COLOR: transparent; BORDER-RIGHT-WIDTH: 0px
}
#CB_BtmRight {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; BACKGROUND-COLOR: transparent; BORDER-RIGHT-WIDTH: 0px
}
#CB_Prev {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; BACKGROUND-COLOR: transparent; BORDER-RIGHT-WIDTH: 0px
}
#CB_Next {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; BACKGROUND-COLOR: transparent; BORDER-RIGHT-WIDTH: 0px
}
#CB_Prev:hover {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; BACKGROUND-COLOR: transparent; BORDER-RIGHT-WIDTH: 0px
}
#CB_Next:hover {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; BACKGROUND-COLOR: transparent; BORDER-RIGHT-WIDTH: 0px
}
#CB_CloseWindow {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; BACKGROUND-COLOR: transparent; BORDER-RIGHT-WIDTH: 0px
}
#CB_SlideShowS {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; BACKGROUND-COLOR: transparent; BORDER-RIGHT-WIDTH: 0px
}
#CB_SlideShowP {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; BACKGROUND-COLOR: transparent; BORDER-RIGHT-WIDTH: 0px
}
#CB_SlideShowBar {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; BACKGROUND-COLOR: transparent; BORDER-RIGHT-WIDTH: 0px
}
#CB_Email {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; BACKGROUND-COLOR: transparent; BORDER-RIGHT-WIDTH: 0px
}
#CB_ImgHide {
	Z-INDEX: 1098; LEFT: 0px; VISIBILITY: hidden; POSITION: absolute
}
#CB_ShowTh {
	Z-INDEX: 1097; LEFT: 0px; VISIBILITY: hidden; WIDTH: 100%; BOTTOM: 0px; POSITION: absolute; HEIGHT: 15%
}
#CB_Thumbs {
	DISPLAY: none; Z-INDEX: 1100; LEFT: 0px; OVERFLOW: hidden; BOTTOM: 10px; PADDING-TOP: 10px; POSITION: absolute; HEIGHT: 60px; BACKGROUND-COLOR: #fff
}
#CB_Thumbs2 {
	MARGIN: auto 0px; POSITION: absolute; HEIGHT: 50px
}
.CB_ThumbsImg {
	POSITION: absolute
}
.CB_RoundPixBugFix {
	DISPLAY: block; FONT-SIZE: 1pt; VISIBILITY: hidden;
}
#CB_ImgContainer {
	WIDTH: 100%; POSITION: relative
}
#CB_PrevNext {
	Z-INDEX: 1002; LEFT: 0px; WIDTH: 100%; POSITION: absolute; TOP: 0px; HEIGHT: 100%
}
#CB_ContentHide {
	Z-INDEX: 1000; LEFT: 0px; POSITION: absolute; TOP: 0px
}
#CB_LoadingImage {
	MARGIN-TOP: -12px; LEFT: 50%; VISIBILITY: hidden; MARGIN-LEFT: -12px; POSITION: absolute; TOP: 50%
}
#CB_Text {
	TEXT-ALIGN: center
}
#CB_Window {
	Z-INDEX: 1100; LEFT: 50%; VISIBILITY: hidden; POSITION: absolute; TOP: 50%; BORDER-COLLAPSE: separate
}
#CB_Image {
	POSITION: relative
}
#CB_iFrame {
	Z-INDEX: 1003; WIDTH: 0px; POSITION: absolute; HEIGHT: 0px
}
#CB_TopLeft {
	BACKGROUND-POSITION: right bottom; BACKGROUND-IMAGE: url(../pic/s_topleft.png)
}
#CB_Top {
	BACKGROUND-POSITION: left bottom; BACKGROUND-IMAGE: url(../pic/s_top.png)
}
#CB_TopRight {
	BACKGROUND-POSITION: left bottom; BACKGROUND-IMAGE: url(../pic/s_topright.png)
}
#CB_Left {
	BACKGROUND-POSITION: right top; BACKGROUND-IMAGE: url(../pic/s_left.png)
}
#CB_Content {
	BACKGROUND-COLOR: #ffffff
}
#CB_Right {
	BACKGROUND-POSITION: left top; BACKGROUND-IMAGE: url(../pic/s_right.png)
}
#CB_BtmLeft {
	BACKGROUND-POSITION: right top; BACKGROUND-IMAGE: url(../pic/s_btmleft.png)
}
#CB_Btm {
	BACKGROUND-POSITION: left top; BACKGROUND-IMAGE: url(../pic/s_btm.png)
}
#CB_BtmRight {
	BACKGROUND-POSITION: left top; BACKGROUND-IMAGE: url(../pic/s_btmright.png)
}
#CB_Prev {
	DISPLAY: block; Z-INDEX: 1102; BACKGROUND: url(../pic/blank.gif) no-repeat 0% 50%; WIDTH: 49%; CURSOR: pointer; outline-style: none
}
#CB_Next {
	DISPLAY: block; Z-INDEX: 1102; BACKGROUND: url(../pic/blank.gif) no-repeat 0% 50%; WIDTH: 49%; CURSOR: pointer; outline-style: none
}
.CB_TextNav {
	COLOR: #aaa; border: 1px solid #dddddd; padding: 5px; text-decoration: none; border-radius: 3px; margin: 0px 10px;
}
.CB_TextNav:hover {
	COLOR: #ffffff; TEXT-DECORATION: none; background: #0B559A; border: 1px solid  #0B559A
}
#CB_Prev {
	LEFT: 0px; FLOAT: left
}
#CB_Next {
	LEFT: 0px; FLOAT: right
}
#CB_Prev:hover {
	BACKGROUND: url(../pic/prev.gif) no-repeat left 50%
}
#CB_Next:hover {
	BACKGROUND: url(../pic/next.gif) no-repeat right 50%
}
#CB_CloseWindow {
	Z-INDEX: 1104; RIGHT: -1px; CURSOR: pointer; POSITION: absolute; TOP: 0px
}
#CB_SlideShowS {
	Z-INDEX: 1104; LEFT: -1px; CURSOR: pointer; POSITION: absolute; TOP: 0px
}
#CB_SlideShowP {
	Z-INDEX: 1104; LEFT: -1px; CURSOR: pointer; POSITION: absolute; TOP: 0px
}
#CB_SlideShowBar {
	DISPLAY: none; LEFT: 22px; WIDTH: 0px; POSITION: absolute; TOP: 5px; HEIGHT: 5px
}
#CB_Email {
	RIGHT: 15px; POSITION: absolute
}
