@charset "utf-8";
*{ margin:0 auto; padding: 0; font-family: Microsoft Yahei;}
ol,ul,li{ list-style:none; }
img{ border:0; display: block;}
a{text-decoration:none; outline:none; }
@font-face {font-family: "iconfont";
    src: url('../font/iconfont.eot?t=1465038464'); /* IE9*/
    src: url('../font/iconfont.eot?t=1465038464#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../font/iconfont.woff?t=1465038464') format('woff'), /* chrome, firefox */
    url('../font/iconfont.ttf?t=1465038464') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
    url('../font/iconfont.svg?t=1465038464#iconfont') format('svg'); /* iOS 4.1- */
}
.iconfont {
    font-family:"iconfont" !important;
    font-size:16px;
    font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0;
    -moz-osx-font-smoothing: grayscale;
}
.icon-fangda:before { content: "\e600"; }
.icon-shangjiantou:before { content: "\e601"; }
.icon-bofang:before { content: "\e602"; }
.icon-qiche:before { content: "\e603"; }
.icon-tel:before { content: "\e604"; }
.icon-yuanquanjiahao:before { content: "\e60e"; }
.icon-zixun-copy:before { content: "\e605"; }
.icon-arrowleft:before { content: "\e606"; }
.icon-zuojiantou:before { content: "\e607"; }
.icon-youjiantou:before { content: "\e608"; }
.icon-jiantouyou:before { content: "\e609"; }
.icon-fangdajing:before { content: "\e60a"; }
.icon-wenhao:before { content: "\e60b"; }
.icon-icon36:before { content: "\e60c"; }
.icon-shejibi:before { content: "\e60d"; }
.w{ width:1200px;}
.w100{ width:100%;}
.w50{ width:49.9%;}
.fl{float:left;}
.fr{float:right;}
.oh{ overflow: hidden;}
.db{ display: block;}
.tal{ text-align:left;}
.tac{ text-align:center;}
.tar{ text-align:right;}
.c3{ color: #333;}
.cl{ color: #333;}
.cl2{ color: #333;}
.f14{font-size: 14px;}
.pr{ position: relative;}
.pa{ position: absolute;}
input{outline: none;}

.h:hover{ color: #333; transition:.5s all;-webkit-transition:.5s all;-ms-transition:.5s all;-o-transition:.5s all;-moz-transition:.5s all;}
.tran{transition:.5s all;-webkit-transition:.5s all;-ms-transition:.5s all;-o-transition:.5s all;-moz-transition:.5s all;}
.scale:hover img{transform: scale(1.3);-webkit-transform: scale(1.3);-ms-transform: scale(1.3);-moz-transform: scale(1.3);-o-transform: scale(1.3);}
.translate:hover{transform:translate(0,-5px);-webkit-transform:translate(0,-5px);-ms-transform:translate(0,-5px);-moz-transform:translate(0,-5px);-o-transform:translate(0,-5px);}
.mg-c{margin:0 auto;}


.choidiv{ background: #f0f0f0;}
.wrap{ height: 230px;}
.imgwrap{ width:1000%;}
.imgwrap a{margin-right:12px; width: 230px; }
.imgwrap a .img-p span{height: 160px;}
.imgwrap a .img-p{height: 173px;background: url(../images/index_21.jpg) no-repeat bottom center;}
.imgwrap a .tac.db{ height: 40px; line-height: 40px; color: #333;}
#left,#right{ background: url(../images/jl.png) no-repeat; width: 30px; height: 64px;top:50%; margin-top: -56px;}
#left{left:-32px; }
#left:hover{background-position:0 -149px ;}
#right{ background-position:0 -74px ;right:-30px; }
#right:hover{ background-position:0 -228px ; }
#p{ opacity: 0;}

.casediv{background: #f9fbfc  url(../images/bj_03.jpg) repeat-x top center; padding-bottom:60px;}
.case{ padding:0 10px 20px;}
.caseleft{width: 232px;}
.caseleft a{height:92px;line-height: 92px; border-bottom:1px solid #e5e8f0; padding-left:30px; color: #333; background: #fff;}
.caseleft a i{ width: 30px; height: 30px; right:20px; top: 50%; margin-top: -15px; color: #fff;    line-height: 30px;}
.caseleft a.nav:hover{ background: #eac017;border-bottom:1px solid #eac017; color: #333;}
.caseleft a.nav:hover i{ color: #000;}
.caseleft .one-a{ background: #333; color: #fff;}
.caseleft .last-a{ background: #b2bcd2; color: #fff;}
.caseright{ width: 957px;}
.caseright table{ border-collapse: collapse; border:1px solid #e5e8f0;}
.caseright table tr td{ height: 92px; line-height: 92px;}
.caseright table tr td.tal{font-size:14px; color:#999; padding-left:20px;}
.caseright table tr td a.ljxq{ color: #333; height: 100%;width:139px;}
.caseright table tr td a.zxzx{ color: #fff; height: 100%; background: #eac017;}
.caseright_img{width:957px; height:464px;}
.lxdhdiv{ height: 200px; background: url(../images/index_31.jpg) no-repeat top center;}
.lxdh{ height: 160px; padding-left:400px; padding-top: 40px; width: 800px; line-height: 30px;}
.lxdh span{ font-size:20px; color: #000;}
.lxdh p{ color: #333; font-size:24px; margin-top: 10px; font-weight:bold;}
.lxdh p span{color: #333;font-size:16px; font-weight:normal;}
.ytglcpdiv{ padding:50px 0 40px;}
.ytglcpleft{ width:232px;}
.ytglcpleft ul{ padding: 0 20px; border-radius: 3px; border:1px solid #dfe3ec; margin-bottom: 22px;}
.ytglcpleft ul li.pr{ height: 34px; border-bottom:1px dashed #c1c1c1; padding:10px 0;}
.ytglcpleft ul li.pr p{ left:-20px; border-left:1px solid #fff; height: 30px; line-height: 30px; width: 100%; padding-left:20px;}
.ytglcpleft ul li.pr p a{ color: #333; margin-right: 10px; font-size:14px;}
.ytglcpleft ul li.pr:hover p{border-left:1px solid #eac017;}
.ytglcpleft ul li.pr:hover p a{ color: #eac017;}
.ytglcpleft ul li.ytglcpul-li{width:212px; position: relative; margin-left: -21px; background: #333;color: #fff; font-size:18px;padding:0 0 0 20px ; height: 60px; line-height: 60px;}
.ytglcpleft ul li.ytglcpul-li i{ top:50%;right:40px;margin-top: -10px; height: 20px; line-height: 20px;}
.ytglcpleft ul li.ytglcpul-li a { color: #fff;}
.ytglcpright{ width:928px;}
.ytglcprightname{ height:40px; line-height: 40px; padding:10px; border:1px solid #e5e9f0;}
.ytglcprightname .span1{ border-right:1px solid #e5e9f0; padding:0 30px;font-size:18px; color: #005881;}
.ytglcprightname .span2{ padding:0 30px;font-size:18px; color: #c1c9db; }
.ytglcprightname a{ padding:0 30px;font-size:18px; color: #005881;border-left:1px solid #e5e9f0; text-transform: uppercase  ;}

.ytglcprightcon{border:1px solid #e5e9f0;margin-top: 20px;}
.cp-ul li{border-right:1px solid #e5e9f0; width: 267px; height: 265px; padding:20px;}
.cp-ul li img{ width:100%;}
.cp-ul li .cp-img{ border-bottom:1px solid #e5e9f0; padding-bottom:20px;}
.cp-ul li .cp-jj{ width:100%; height:100%; top:0;left:0; background: url(../images/png_03.png); opacity: 0;}
.cp-ul li .cp-jj:hover{opacity: 1;}
.cp-ul li .cp-jj p{ text-align: center; width: 100%; margin: 70px auto 20px; color: #fff;}
.cp-ul li .cp-jj a{ background: #fff; background: rgba(255,255,255,.5); width: 99px; height: 38px; line-height: 38px; color: #fff; opacity: .8;}
.cp-ul li .cp-jj a:hover{ opacity:1;}
.cp-ul li .cp-jj a.two-a{background: #eac017;; color: #000;}
.cp-jj-div{ padding: 0 40px;}
.fandiv{background: #f9fbfc  url(../images/bj_03.jpg) repeat-x top center; padding-bottom:80px; }
.fanname{ height:100px; padding: 50px;}
.fannameleft{ padding-top: 20px;}
.fannameleft span{font-size:18px; color:#000;}
.fannameleft p{font-size:24px;font-weight:bold;}
.txt-c{text-align:center;}
.fannameright a{width:100px;padding-top: 25px;height: 75px;line-height: 25px;font-size: 18px;font-weight:bold;margin-left: 20px; display:inline-block;}
.fannameright a.span1{ background: url(../images/fan_06.png) no-repeat center center;}
.fannameright a.span2{ background: url(../images/fan_03.png) no-repeat center center;}
.fannameright a.span3{ background: url(../images/fan_09.png) no-repeat center center; color: #fff;}
.fannameright a.span2:hover{ background: url(../images/fan_09.png) no-repeat center center;color: #fff;}
.fannameright a.span2.active{ background: url(../images/fan_09.png) no-repeat center center;color: #fff;}
.fancon{ padding:5px 10px; margin:0 auto;}
.fancon dt{ border:1px solid #f0f0f1; background: #fff; }
.fancon dt .dtdiv{padding:10px 0;}
.fancon dt .dtdiv .pp1{ width:100px; height:140px; background: #6bbd3f; left:30px; top:0; line-height: 140px; color: #fff; font-size:40px; text-align: center;}
.fancon dt .dtdiv .pp2{ width:100px; height:140px; background: #6bbd3f; right:30px; top:0; line-height: 140px; color: #fff; font-size:40px; text-align: center;}
.fancon dd{ width:45%; padding: 50px 0px 50px 20px; }
.fancon dd h6{ font-size:16px; margin-bottom: 30px; color:#333;}
.fancon dd p{ padding-left: 30px; line-height: 36px;font-size:14px;}
.fancon dd .p1{ text-indent:-2em;}
.fancon dd .p1 span{ padding-right:25px; font-size:12px;}
.fancon dd .p2{ margin-bottom:20px;}
.fancon dd .p2 a{ padding-right:20px; }
.fancon dd p a{ font-size:14px;}
.ljxq{ background: #fafafb; border:1px solid #d0d0d0; line-height: 40px; height: 40px; color: #000;font-size:14px; padding:10px; 20px;}
.dc{ background: #fafafb; border:1px solid #d0d0d0; line-height: 40px; height: 40px; color: #000;font-size:14px; padding-top:22px;}
.caseright table tr td a.ljxq:hover{ background: #333; color: #eac017;border:1px solid #333;}
.ljxqdiv{ margin-top:30px;}
.fwlc{margin:0 auto;}
.fwlcdiv{ border-top:1px solid #e2e9ec;border-bottom:1px solid #e2e9ec;}
.fwlc li{ width:200px; height:150px; padding-top:50px; text-align: center;}
.fwlc li.fwlc-li1{ background: url(../images/index_62.jpg) no-repeat center center; padding-left: 60px; width: 140px;}
.fwlc li.fwlc-li2{ background: url(../images/index_63.jpg) no-repeat center center;}
.fwlc li.fwlc-li3{ background: url(../images/index_64.jpg) no-repeat center center;}
.fwlc li.fwlc-li4{ background: url(../images/index_65.jpg) no-repeat center center;}
.fwlc li.fwlc-li5{ background: url(../images/index_66.jpg) no-repeat center center;}
.fwlc li.fwlc-li6{ background: url(../images/index_68.jpg) no-repeat right center;}
.fwlc li .onei{ color: #6BBD3F;font-size:40px;}
.fwlc li .twoi{ color: #7f7f7f;font-size:16px;}
.fwlc li p{ color: #333; font-size: 16px; line-height: 30px;}
.fwlc li h6.tal{font-size:18px;}
.fwlc li span.db.tal{line-height: 20px;font-size:12px; margin-bottom: 20px; color: #111;}
.fwlc li span.db.tal{line-height: 20px;font-size:12px; margin-bottom: 20px; color: #111;}
.fwlc li span.b{line-height: 20px;font-size:12px; margin-bottom: 10px; color: #333;}
.fwlc li i.a{ margin-right: 10px;}



.timediv,.time ul li{ background: url(../images/jb_03.jpg) repeat-x left top; height: 627px;}

.timename .top{padding:20px 0; margin-top: 50px;}
.timename .top a,.time ul li,#timeleft,#timeright{ background: url(../images/jl.png) no-repeat;}
.timename .top a{ background-position: 0 -654px; padding:13px 19px; color: #333; font-size:24px; }
.timename  .p1{ color: #222; font-size: 20px;}
.timename  .p2{ color: #666; font-size: 12px;}
.time-ul-div{ height: 100%;}
.time{height: 485px;}
.time ul{ width: 100000%; padding-left:180px; }
.time ul li{background-position: 0 -473px; width:28px; height: 28px;margin-top:278px; cursor: pointer; margin-right: 180px; }
.time ul li dl{ width: 286px; height: 145px; margin-left: -143px;left:50%; border:1px solid #dcdcdc; background: #fff;}
.time ul li.base dl{ bottom:50px;}
.time ul li.even dl{ top:50px;}
.time ul li dl dt{ height: 75px; padding: 30px 0 0 50px;}
.time ul li dl dt span{ color: #005881; margin: 0 21px 0 -27px; font-weight: bold;}
.time ul li dl .dd1{ height: 40px; line-height: 40px; background: #dcdcdc; font-size:20px;}
.time ul li.base dl .dd2{ width: 0; height: 0;border-left: 6px solid transparent;border-right: 6px solid transparent; border-top: 12px solid #dcdcdc; left:50%; margin-left: -6px;}
.time ul li.even dl .dd2{ width: 0; height: 0; border-left: 6px solid transparent;border-right: 6px solid transparent; border-bottom: 12px solid #dcdcdc; left:50%; margin-left: -6px;top:-12px;}

.time ul li.base:hover dl .dd2{ border-top-color: #eac017;}
.time ul li:hover dl .dd1{background: #eac017; color: #fff;}
.time ul li.even:hover dl .dd2{ border-bottom-color: #eac017;}
.time ul li:hover{background-position: 0 -507px;}
#timeleft,#timeright{ width: 48px; height: 48px;}
#timeleft{ background-position:0 -420px; left:-48px;top: 263px;}
#timeright{ background-position:0 -597px; right:-48px;top: 263px;}

.tpimg{ background: url(../images/bj2_02.jpg) no-repeat top center; height: 340px;}
.tpimgul{width: 1250px; padding:50px 0;}
.tpimgul li{ margin-left:24px; width:280px;}
.tpimgul li .div{ border:1px solid #acc1d3; padding: 7px 0;    height: 229px; background: #fff;}
.tpimgul li .tpname{ line-height: 40px; font-size: 16px;}
.tpimgul li:hover .div img{ transform: scale(1.3);-webkit-transform: scale(1.3);-ms-transform: scale(1.3);-moz-transform: scale(1.3);-o-transform: scale(1.3);}
 a.two-a{background: #eac017;; color: #000;}
#marqueebox{ width:1200px; overflow:hidden; margin:0 auto;}
#marqueeson{ width:10000%;}
#marqueeson_cont{float:left;overflow:hidden;zoom:1;}
#marqueeson img{border:none;}
#marqueeson_hidden{float:left}

.dtname{ font-size:18px;height: 40px;margin-top: 40px;}
.dtname p{height: 40px; line-height: 40px; width:50%;}
.dtname a{ color: #333; height: 40px; line-height: 40px; width: 100px;}
.dtname a.current{ color: #333;}




.dotleft{width:48%;}
.dotleft dl{ height: 98px; padding:10px; background: #ecf3f6; border-bottom:1px solid #fff;}
.dotleft dl dt{ width: 108px; height: 98px; border:1px solid #fff; background: #fff;}
.dotleft dl:hover dt img{transform: scale(1.3);-webkit-transform: scale(1.3);-ms-transform: scale(1.3);-moz-transform: scale(1.3);-o-transform: scale(1.3);}
.dotleft dl:hover{ background: #333;}
.dotleft dl:hover dd .h6,.dotleft dl:hover dd p{ color: #fff;}
.dotleft dl dd{ width: 428px;}
.dotleft dl dd .h6{ color:#333; font-size:16px; line-height: 40px;}
.dotleft dl dd p{ color:#999;font-size:14px;line-height: 20px;}
.dotleft dl dd.dd2{ width: 120px; background: #fff; right:-120px;top:0; padding:30px 0; height: 58px; opacity: 0;transform: translateX(-120px);-webkit-transform: translateX(-120px);-ms-transform: translateX(-120px);-moz-transform: translateX(-120px);-o-transform: translateX(-120px);}
.dotleft dl:hover dd.dd2{ opacity: 1;transform: translateX(0);-webkit-transform: translateX(0);-ms-transform: translateX(0);-moz-transform: translateX(0);-o-transform: translateX(0);}
.dotleft dl dd.dd2 .span1{ color: #E9BF31;font-size:24px; padding-left: 20px; }
.dotleft dl dd.dd2 .span2{ color: #333;font-size:12px; padding-left: 20px;}
.dotright{ width:569px; height:462px; padding:8px; border:1px solid #f5f5f5; display: none;}
.weida{ margin: 46px auto;}
.weida li{ padding-left:30px;}
.weida-li1{ width:160px; color: #000033;font-size:12px;}
.weida-li1 span{ color: #333; font-size:18px; margin-left: -30px;}
.weida-li1 span i{margin-right: 10px;}
.weida-li2{ width:385px;}
.weida-li3{ width:557px;}
.leftop{ height: 100px; width: 2px; background: #dcdcdc;left:0;top:0;}
.weida li .p1{ color: #333; font-size:14px; line-height: 30px; padding-left:40px;}
.weida li .p2{ color: #5c5c5c; font-size:14px; line-height: 30px;padding-left:40px;}
.weida li span.y{ width:20px; height:20px;text-align: center; line-height: 20px;font-size:16px; border-radius: 50%;-webkit-border-radius: 50%;-ms-border-radius: 50%;-moz-border-radius: 50%;-o-border-radius: 50%;
     margin-right: 10px; margin-top: 3px;}
.weida li .p1 span.y{border:1px solid #333; margin-left: -30px;}
.weida li .p2 span.y{border:1px solid #5c5c5c; margin-left: -30px;}
.yqljdiv{border-top:2px solid #f1f1f1; padding:44px 0;}
.yqlj li{ padding-left:30px; height: 137px; padding-top: 20px;}
.yqlj li a{color: #333;}
.yqlj .yqlj-li1{ width:160px; color: #000033;font-size:12px;}
.yqlj .yqlj-li2{ width:385px; border-left:2px solid #ededed;border-right:2px solid #ededed;}
.yqlj .yqlj-li2 .yqlj-li2-div{ padding-left: 100px;}
.yqlj .yqlj-li2 .yqlj-li2-div span{ margin-left: -100px; text-transform: uppercase; color: #005881;font-size:18px;margin-right: 43px;}
.yqlj .yqlj-li2 .yqlj-li2-div a{ margin-right: 20px; display: inline-block;}
.yqlj .yqlj-li3{ width:557px;}
.yqlj .yqlj-li3 .dz a.fl{ font-size:18px; color: #333;}
.yqlj .yqlj-li3 .dz a.fr{ font-size:16px; color: #333;}
.yqlj .yqlj-li3 ul{ margin-top: 20px;}
.yqlj .yqlj-li3 ul li{ width:27%; padding-left: 0;}
.yqlj .yqlj-li2 .sqlj{ color: #005881;font-size:14px;margin-top: 30px;}

.footer{ background: #333;}
.footer ul{  background: url(../images/footer_03.jpg) no-repeat top center; height: 281px;}
.footer ul .footer-li1{ width:190px; height: 180px; background: #fff;}
.footer ul .footer-li1 p{ font-size:12px; margin-top: 10px;}
.footer ul .footer-li2{width:500px; padding:50px 80px;}
.footer ul .footer-li2 a{ font-size:14px; color: #fff; margin: 15px 20px; width:80px;}


.footer ul .footer-li3{ width: 320px; padding:30px 0;}
.footer ul .footer-li3 a{ margin: 0 10px 10px 0; width: 134px; height: 76px;}
.footer-li-pa{ width: 90px; height: 38px;bottom:0;right:0;}