/*样式重置*/

@font-face {
	font-family: FZCYS;
	src: url(../fonts/FZCYS.eot);
	src: url(../fonts/FZCYS.eot?#font-spider) format('embedded-opentype'), url(../fonts/FZCYS.woff2) format('woff2'), url(../fonts/FZCYS.woff) format('woff'), url(../fonts/FZCYS.ttf) format('truetype'), url(../fonts/FZCYS.svg) format('svg');
	font-weight: 400;
	font-style: normal
}

html {
	font-family: '微软雅黑';
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	font-size: 16px;
}

body {
	font-family: "微软雅黑";
	font-size: 16px;
	margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
	display: block;
}

audio,
canvas,
progress,
video {
	display: inline-block;
	vertical-align: baseline;
}

audio:not([controls]) {
	display: none;
	height: 0;
}

a:focus,
a:hover {
	color: #fff;
	text-decoration: none;
}

[hidden],
template {
	display: none;
}

a {
	background-color: transparent;
	color: #696969;
}

abbr[title] {
	border-bottom: 1px dotted;
}

b,
strong {
	font-weight: 700;
}

small {
	font-size: 80%;
}

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	top: -0.5em;
}

sub {
	bottom: -0.25em;
}

img {
	border: 0;
}

svg:not(:root) {
	overflow: hidden;
}

figure {
	margin: 0;
}

hr {
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}

code,
kbd,
pre,
samp {
	font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
	color: inherit;
	font: inherit;
	margin: 0;
}

select {
	text-transform: none;
}

button {
	overflow: visible;
}

button,
input,
select,
textarea {
	max-width: 100%;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
	-webkit-appearance: button;
	cursor: pointer;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

input[type="checkbox"],
input[type="radio"] {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin-right: 0.4375em;
	padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	height: auto;
}

input[type="search"] {
	-webkit-appearance: textfield;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

fieldset {
	border: 1px solid #d1d1d1;
	margin: 0 0 1.75em;
	min-width: inherit;
	padding: 0.875em;
}

fieldset>:last-child {
	margin-bottom: 0;
}

legend {
	border: 0;
	padding: 0;
}

textarea {
	overflow: auto;
	vertical-align: top;
}

optgroup {
	font-weight: bold;
}

body,
button,
input,
select,
textarea {
	color: #1a1a1a;
	line-height: 1.75;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	clear: both;
	line-height: 1em;
	font-weight: 700;
	color: #0d0d0d;
	text-transform: capitalize;
	margin: 0;
	padding: 0;
	margin-bottom: 10px;
}

h1 {
	color: #fff;
	font-size: 36px;
}

h2 {
	font-size: 48px;
}

h3 {
	font-size: 36px;
}

h4 {
	font-size: 24px;
}

h5 {
	font-size: 18px;
}

p {
	font-size: 14px;
	color: #55575d;
	line-height: 24px;
	margin: 0 0 1.75em;
}

dfn,
cite,
em,
i {
	font-style: italic;
}

blockquote {
	border: 1px solid #e9e9e9;
	color: #939595;
	font-size: 17px;
	font-style: italic;
	line-height: 28px;
	font-weight: 700;
	padding: 30px 25px 25px 80px;
	position: relative;
}

blockquote>p {
	margin: 0;
	padding: 0;
	font-size: 17px;
	color: #939595;
}

blockquote:after {
	content: "\f10d" !important;
	position: absolute;
	left: 20px;
	top: 50%;
	margin-top: -20px;
	font: normal normal normal 48px/1 FontAwesome;
	color: #e9e9e9;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: "";
}

blockquote p {
	margin-bottom: 1.4736842105em;
}

blockquote cite,
blockquote small {
	color: #1a1a1a;
	display: block;
	font-size: 16px;
	font-size: 1rem;
	line-height: 1.75;
}

blockquote cite:before,
blockquote small:before {
	content: "\2014\00a0";
}

blockquote em,
blockquote i,
blockquote cite {
	font-style: normal;
}

blockquote strong,
blockquote b {
	font-weight: 400;
}

blockquote>:last-child {
	margin-bottom: 0;
}

address {
	color: #939595;
	font-weight: 600;
	font-size: 1em;
	margin-bottom: 10px;
}

pre {
	border: 1px solid #d1d1d1;
	font-size: 16px;
	font-size: 1rem;
	line-height: 1.3125;
	margin: 0 0 1.75em;
	max-width: 100%;
	overflow: auto;
	padding: 1.75em;
	white-space: pre;
	white-space: pre-wrap;
	word-wrap: break-word;
}

code {
	background-color: #d1d1d1;
	padding: 0.125em 0.25em;
}

abbr,
acronym {
	border-bottom: 1px dotted #d1d1d1;
	cursor: help;
}

mark,
ins {
	background: #007acc;
	color: #fff;
	padding: 0.125em 0.25em;
	text-decoration: none;
}

big {
	font-size: 125%;
}

html {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

*,
*:before,
*:after {
	-webkit-box-sizing: inherit;
	-moz-box-sizing: inherit;
	box-sizing: inherit;
}

body {
	background: #fff;
}

hr {
	background-color: #d1d1d1;
	border: 0;
	height: 1px;
	margin: 0 0 1.75em;
}

ul,
ol {
	padding: 0;
}

ul {
	list-style: disc;
}

ol {
	list-style: decimal;
	margin-left: 1.5em;
}

li> ul,
li> ol {
	margin-bottom: 0;
}

dl {
	margin: 0 0 1.75em;
}

dt {
	font-weight: 700;
}

dd {
	margin: 0 0 1.75em;
}

img {
	height: auto;
	max-width: 100%;
	vertical-align: middle;
}

del {
	opacity: 0.8;
}

table,
th,
td {
	border: 1px solid #d1d1d1;
}

table {
	border-collapse: separate;
	border-spacing: 0;
	border-width: 1px 0 0 1px;
	margin: 0 0 1.75em;
	table-layout: fixed;
	width: 100%;
}

caption,
th,
td {
	font-weight: normal;
	text-align: left;
}

th {
	border-width: 0 1px 1px 0;
	font-weight: 700;
}

td {
	border-width: 0 1px 1px 0;
}

th,
td {
	padding: 0.4375em;
}

::-webkit-input-placeholder {
	color: #c2c2c2;
}

:-moz-placeholder {
	color: #c2c2c2;
}

::-moz-placeholder {
	color: #c2c2c2;
	opacity: 1;
}

:-ms-input-placeholder {
	color: #c2c2c2;
}

input {
	line-height: normal;
}

.default-button {
	display: inline-block;
    letter-spacing: normal;
    word-spacing: normal;
    vertical-align: top;
    width: 158px;
    color: #fff;
    font-size: 14px;
    line-height: 43px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    behavior: url(ie-css3.htc);
    text-align: center;
    border: 1px solid #fff;
    margin-right: 20px;
}


.line-button{
    color: #fff;
    background: #2d7cd8;
    border: 1px solid #2d7cd8;
}


.line-button:hover{
	opacity: .9;
}

   

.default-button:hover,
.default-button:focus {
	color: #fff;
	text-decoration: none;
	opacity: .9;
}

.padding-120 {
	padding: 120px 0px;
}

.bg-color {
	background-color: #f3f3f4;
}

.section-header {
	max-width: 680px;
	margin: 0 auto;
	margin-bottom: 50px;
}



.download-btn:hover {
	opacity: .9;
}

.card {
	max-width: 220px;
	height: 120px;
	font-size: 20px;
	border-radius: 10px;
	color: #fff;
	text-align: center;
	line-height: 120px;
}

.pos-r {
	position: relative;
}

.video-box {
	min-width: 41.25rem;
	height: 28.75rem;
	box-shadow: 0 0 10px rgba(0, 0, 0, .4), 0 0 10px rgba(0, 0, 0, .8);
	background: #eee url(../../images/gallery/gallery_02.jpg) no-repeat;
	background-size: cover;
	text-align: center;
	border-radius: 10px;
	display: flex;
	position: absolute;
	top: 55%;
	transform: translateY(-25%);
	left: 50%;
	margin-left: -20.5rem;
}

.play-img {
	vertical-align: middle;
	display: inline-block;
	margin: auto;
	width: 64px;
	height: 64px;
	background: url(../../images/play.png) no-repeat;
	transition: all .3s ease;
}

.play-img:hover {
	width: 64px;
	background: url(../../images/play2.png) no-repeat;
}

.card-one {
	background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
	filter: progid: DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#fbc2eb, endColorstr=#a6c1ee);
}

.card-two {
	background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
	filter: progid: DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#f6d365, endColorstr=#fda085);
}

.card-three {
	background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
	filter: progid: DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#84fab0, endColorstr=#8fd3f4);
}

.card-four {
	background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
	filter: progid: DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#4facfe, endColorstr=#00f2fe);
}

.card-five {
	background-image: linear-gradient(120deg, #89f7fe 0%, #66a6ff 100%);
	filter: progid: DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#89f7fe, endColorstr=#66a6ff);
}

.mid-con {
	margin: 15vh auto 0;
	transform: translateY(-50%);
}

.mid-con h3 {
	font-size: 26px;
	letter-spacing: 1px;
	color: #626262;
}

.mid-con p {
	font-size: 18px;
	color: #626262;
	margin: 30px 0;
	line-height: 180%;
}

.section-header h3 {
	text-transform: uppercase;
	margin-bottom: 10px;
	color: #333;
	font-weight: 500;
	font-size: 40px;
}

.section-header p {
	font-size: 14px;
	line-height: 22px;
}

.section-description {
	font-size: 20px;
	line-height: 30px;
	color: #9b9b9b;
	text-align: center;
}

.section-tit {
	font-size: 20px;
	color: #019ee4;
	font-weight: 500;
}

header .main-menu {
	min-height: 90px;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	z-index: 999;
	transition: .5s;
	background-color: #191919;
	position: fixed;
	top: 0;
	width: 100%;
	height: auto;
}

header .menu-fixed {
	background: transparent;
}

header .menu-bg {
	background-color: #fff;
	box-shadow: 0 0 5px rgba(0, 0, 0, .3);
}

header .main-menu .navbar-brand {}

.swiper-center {
	text-align: center;
	font-size: 18px;
	background: #fff;
	/* Center slide text vertically */
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
}

header .main-menu ul li a {
	font-size: 0.92rem;
	font-weight: 600;
	text-transform: capitalize;
	padding: 35px 20px;
	font-weight: 400;
	color: #fff;
	opacity: .7;
}

header .menu-bg ul li a {
	font-size: 1rem;
	font-weight: 600;
	text-transform: capitalize;
	padding: 35px 20px;
	font-weight: 400;
	color: #555;
	text-align: center;
}

header .menu-bg .navbar-brand {
	color: #555!important;
}

header .main-menu ul li a:hover,
header .main-menu ul li a:focus {
	background-color: transparent;
	opacity: 1;
}

header .main-menu ul li.active a {
	color: #fff;
}

header .menu-bg ul li.active a {
	background: #019ee4;
	color: #fff;
}

header .main-menu ul li ul li a {
	padding: 15px;
}

.nav-a {
	display: inline-block;
	height: 34px;
	line-height: 34px;
	padding: 20px 16px 17px;
	letter-spacing: 0;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, .1);
	font-size: 16px;
	color: #fff;
}

.nav-a:hover,
.nav-a:active {
	background: #019ee4!important;
	color: #fff!important;
	border-color: #019ee4!important;
}

.nav-btn {
	padding: 0 10px;
	border-radius: 4px;
	border: 1px solid #fff;
	position: absolute;
	top: 26px;
	right: 14%;
	z-index: 1;
	display: inline-block;
	color: #fff;
	border-color: #fff;
	text-decoration: none !important;
}

header .menu-bg .nav-btn {
	color: #019ee4;
	border-color: #019ee4;
}

header .menu-bg .nav-a:hover,
header .menu-bg .nav-a:active {
	background: #019ee4!important;
	color: #fff!important;
	border-color: #019ee4!important;
}

.header-single {
	margin-top: 90px;
}

.menu-bg .navbar-nav ul li a {
	color: #555;
}

.banner {
	background-image: url(../../images/banner.jpg);
	background-size: cover;
	background-position: 50% 50%;
	height: 70vh;
	position: relative;
}

.mt-50 {
	margin-top: 50px;
}

.banner .overlay {
	height: 100%;
	background-color: rgba(0, 0, 0, .7);
}

.banner .banner-content {
	position: absolute;
	left: 50%;
	top: 50%;
	width: 30%;
	text-align: center;
	color: #fff;
	margin-left: -15%;
	transform: translateY(-50%);
}

.banner .banner-content h3 {
	font-family: "微软雅黑";
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 3rem;
	font-weight: 400;
}

.banner .banner-content p {
	color: #fff;
}

.banner .banner-content div.des {
	font-size: .92rem;
	opacity: .9;
	margin-top: 40px;
	letter-spacing: 1px;
	margin-bottom: 40px;
}

.services {
	padding: 120px 0px 90px;
}

.services .service-item {
	padding: 30px;
	text-align: center;
	margin-bottom: 30px;
	background-color: #fff;
	-webkit-transition: .25s;
	box-shadow: 0 0 8px rgba(0, 0, 0, .1);
	border-radius: 10px;
	transition: .25s;
}

.services .service-item:hover {
	-moz-box-shadow: 0px 4px 16px 0px #808080;
	-webkit-box-shadow: 0px 4px 16px 0px #808080;
	box-shadow: 0px 4px 16px 0px #808080;
	-webkit-transform: translateY(-2%);
	transform: translateY(-2%);
}

.services .service-item span {
	font-size: 32px;
}

.services .service-item p {
	margin: 0px;
	font-size: 1rem;
	color: #999;
}

.skills .section-header {
	margin: 0px;
}

.skills .skill-bars {
	overflow: hidden;
}

.skills .progress {
	background: #ffffff none repeat scroll 0 0;
	border: 1px solid rgba(0, 0, 0, 0.25);
	box-shadow: 10px 5px 0px rgba(235, 235, 235, 1) inset, 10px -1px 0px 4px rgba(235, 235, 235, 1) inset;
	height: 15px;
	margin-bottom: 20px;
	position: relative;
	width: 100%;
	overflow: visible;
	border-radius: 0;
}

.skills .progress .progress-bar {
	position: relative;
	background: #0d0d0d none repeat scroll 0 0 !important;
	height: 4px;
	left: 10px;
	top: 37%;
}

.skills .progress .progress-bar span {
	position: absolute;
	top: -24px;
	right: 0px;
	color: #0d0d0d;
	font-weight: 700;
}

.portfolio .portfolio-menu {
	text-align: center;
	margin-bottom: 30px;
}

.portfolio .portfolio-menu li {
	list-style: none;
	display: inline-block;
	margin-left: 25px;
}

.portfolio .portfolio-menu li {
	font-size: 16px;
	line-height: 28px;
	color: #979797;
	cursor: pointer;
	font-weight: 700;
}

.portfolio .portfolio-menu li:hover,
.portfolio .portfolio-menu li:focus {
	color: #0d1218;
}

.portfolio .portfolio-menu .active {
	color: #0d1218;
}

.portfolio .pos_rel {
	position: relative;
}

.portfolio .portfolio_item {
	width: 32.48%;
	margin-bottom: 15px;
	text-align: center;
	overflow: hidden;
}

.portfolio .portfolio_item img {
	transition: .5s;
}

.portfolio .overlay {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: rgba(0, 0, 0, .6);
	opacity: 0;
	transition: .5s;
}

.portfolio .portfolio_item:hover .overlay {
	opacity: 1;
}

.portfolio .port_caption {
	position: absolute;
	width: 100%;
	top: 50%;
	left: 0;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.portfolio .port_caption a {
	color: #0d1218;
	background-color: rgba(255, 255, 255, .8);
	height: 36px;
	width: 36px;
	text-align: center;
	margin: 2px;
	display: inline-block;
	font-size: 16px;
	line-height: 36px;
	border-radius: 100%;
	-webkit-transition: .5s;
	transition: .5s;
	-webkit-transform: scale(0.0);
	transform: scale(0.0);
	opacity: 0;
}

.portfolio .port_caption h4 {
	font-size: 18px;
	line-height: 24px;
	color: #fff;
	margin-top: 15px;
	letter-spacing: -8px;
	-webkit-transition: .5s;
	transition: .5s;
	opacity: 0;
}

.portfolio .port_caption p {
	color: #fff;
	margin: 0;
	-webkit-transition: .5s;
	transition: .5s;
	-webkit-transform: translateY(70px);
	transform: translateY(70px);
	opacity: 0;
}

.portfolio .port_caption a:hover {
	background-color: #00BFFF;
	color: #fff;
}

.portfolio .portfolio_item:hover a {
	-webkit-transform: scale(1);
	transform: scale(1);
	opacity: 1;
}

.portfolio .portfolio_item:hover h4 {
	letter-spacing: 0;
	opacity: 1;
}

.portfolio .portfolio_item:hover p {
	-webkit-transform: translateY(0);
	transform: translateY(0);
	opacity: 1;
}

.team .team-item {
	text-align: center;
	background-color: #f3f3f4;
	position: relative;
	overflow: hidden;
}

.team .team-item .image img {
	width: 100%;
}

.team .team-item .details {
	padding: 20px;
}

.team .team-item .details h4 {
	text-transform: uppercase;
	font-size: 20px;
	margin: 0px;
}

.team .team-item .details p {
	margin: 0px;
}

.team .team-item .overlay {
	position: absolute;
	top: 0;
	left: -100%;
	width: 100%;
	height: 100%;
	padding: 50px 20px 20px;
	text-align: left;
	color: #fff;
	background-color: rgba(0, 0, 0, 1);
	opacity: 0;
	-webkit-transition: .5s;
	transition: .5s;
}

.team .team-item .overlay h4 {
	color: #fff;
	text-transform: uppercase;
	font-size: 20px;
	margin: 0px;
}

.team .team-item .overlay span {
	display: inline-block;
	margin-bottom: 30px;
}

.team .team-item .overlay p {
	color: #fff;
	max-width: 400px;
}

.team .team-item:hover .overlay {
	opacity: 1;
	left: 0;
}

.team .team-item .team-social a {
	display: inline-block;
	font-size: 16px;
	line-height: 38px;
	color: #252525;
	height: 36px;
	width: 36px;
	background-color: rgba(255, 255, 255, .5);
	border-radius: 100%;
	text-align: center;
	-webkit-transition: .25s;
	transition: .25s;
}

.team .team-item .team-social a:hover {
	background-color: #00BFFF;
	color: #fff;
}

.team .team-item:hover h4 {}

.pricing .pricing-item {
	text-align: center;
	background-color: #fff;
	border: 1px solid #e1e1e1;
	-webkit-transition: .25s;
	transition: .25s;
	margin-bottom: 30px;
}

.pricing .pricing-item:hover {
	-moz-box-shadow: 0px 4px 16px 0px #808080;
	-webkit-box-shadow: 0px 4px 16px 0px #808080;
	box-shadow: 0px 4px 16px 0px #808080;
	-webkit-transform: translateY(-2%);
	transform: translateY(-2%);
}

.pricing .pricing-item h3 {
	text-transform: uppercase;
	padding: 30px 10px;
	margin: 0px;
}

.pricing .pricing-item .pricing-amout {
	background-color: #f3f3f4;
	padding: 10px;
}

.pricing .pricing-item .pricing-amout p {
	font-size: 14px;
	margin: 0px;
	color: #0d0d0d;
	font-weight: 700;
}

.pricing .pricing-item h2 {
	font-size: 64px;
}

.pricing .pricing-item .options {
	padding: 30px 10px;
}

.pricing .pricing-item .options p {
	margin-bottom: 10px;
}

.pricing .pricing-item .options p:last-child {
	margin: 0px;
}

.pricing .pricing-item a {
	font-size: 14px;
	display: inline-block;
	text-transform: uppercase;
	color: #fff;
	background-color: #0d0d0d;
	padding: 10px 20px;
	border-radius: 3px;
	margin-bottom: 30px;
	text-decoration: none;
}

.blog .blog-item {
	background-color: #f3f3f4;
	border: 1px solid #e1e1e1;
	margin-bottom: 30px;
}

.blog .blog-item .image {
	overflow: hidden;
}

.blog .blog-item .image img {
	width: 100%;
	transition: .5s;
}

.blog .blog-item:hover .image img {
	transform: scale(1.3);
}

.blog .blog-item .content {
	padding: 30px;
}

.blog .blog-item .content h4 {
	margin: 0px;
}

.blog .blog-item .content h4 a {
	color: #0d0d0d;
	font-size: 20px;
	text-decoration: none;
}

.blog .blog-item .content> a {
	display: inline-block;
	text-transform: uppercase;
	color: #fff;
	background-color: #0d0d0d;
	padding: 10px 20px;
	border-radius: 3px;
	text-decoration: none;
}

.post-meta li {
	list-style: none;
	display: inline-block;
	margin-right: 10px;
}

.post-meta li span {
	color: #989898;
	margin-right: 5px;
}

.post-meta li a {
	font-size: 14px;
	color: #989898;
}

.single_content {
	padding: 80px 0px;
}

.single_post {
	background-color: #f3f3f4;
	margin-bottom: 40px;
}

.single_post .post_content {
	padding: 30px;
	overflow: hidden;
}

.single_post .post_content h3 {
	color: #0d0d0d;
	font-size: 26px;
	text-transform: uppercase;
}

.single_post .post_content .post-meta {
	margin: 5px 0px 15px;
}

.single_post .post_content blockquote:after {
	color: #00BFFF;
}

.single_post .post_content .post_tags {
	float: left;
	margin: 0;
}

.single_post .post_content .post_tags li {
	list-style: none;
	display: inline-block;
	color: #979797;
	font-weight: 700;
}

.single_post .post_content .post_tags li a {
	color: #0d1218;
	text-decoration: none;
}

.single_post .post_content .post_share {
	float: right;
	margin: 0;
}

.single_post .post_content .post_share li {
	list-style: none;
	display: inline-block;
	float: left;
	color: #979797;
	font-weight: 700;
	margin-right: 6px;
}

.single_post .post_content .post_share li:last-child {
	margin: 0;
}

.single_post .post_content .post_share li a {
	display: inline-block;
	font-size: 16px;
	line-height: 38px;
	color: #252525;
	height: 36px;
	width: 36px;
	background-color: #979797;
	border-radius: 100%;
	text-align: center;
	-webkit-transition: .25s;
	transition: .25s;
}

.single_post .post_content .post_share li a:hover {
	background-color: #00BFFF;
}

.post_comment {
	margin-bottom: 40px;
}

.post_comment h3 {
	font-size: 28px;
	line-height: 94px;
	color: #0d1218;
}

.post_comment ul {
	margin: 0;
}

.post_comment li {
	list-style: none;
}

.post_comment ul li ul {
	margin-left: 90px;
}

.post_comment li article {
	border-top: 1px solid #ebebeb;
	padding: 20px 0px;
}

.post_comment> ul:nth-child(2)> li> article {
	border: none;
	padding-top: 0px;
}

.post_comment .profile-image {
	height: 80px;
	width: 80px;
	float: left;
	overflow: hidden;
	margin-right: 20px;
}

.post_comment .profile-image img {
	width: 100%;
}

.post_comment .comment-content {
	display: table;
}

.post_comment .comment-content .comment_meta {
	font-size: 18px;
	line-height: 24px;
	color: #363636;
	margin-bottom: 5px;
}

.post_comment .comment-content .comment_meta a {
	font-size: 15px;
	line-height: 24px;
	color: #959595;
	text-decoration: none;
}

.post_comment .comment-content .comment_meta a:hover {
	color: #353743;
}

.post_comment .comment-content p {
	font-size: 16px;
	line-height: 26px;
	color: #55575d;
	margin-bottom: 15px;
}

.post_comment .comment-content .comment_reply {
	font-size: 14px;
	line-height: 30px;
	color: #fff;
	background-color: #363636;
	text-decoration: none;
	display: inline-block;
	padding: 0px 15px;
	border-radius: 3px;
}

.post_comment .comment_input {
	width: 100%;
	border: 1px solid #ebebeb;
	border-radius: 3px;
	color: #c2c2c2;
	padding: 15px;
	margin-bottom: 20px;
	outline: none;
}

.post_comment .comment_input:first-child {
	width: 49%;
	float: left;
}

.post_comment .comment_input:nth-child(2) {
	width: 49%;
	float: right;
}

.post_comment .comment_submit {
	font-size: 16px;
	line-height: 24px;
	text-transform: uppercase;
	color: #fff;
	background-color: #0d1218;
	padding: 11px 36px;
	margin-top: 10px;
	-webkit-transition: .25s;
	transition: .25s;
	outline: none;
}

.post_comment .comment_submit:hover,
.post_comment .comment_submit:hover {
	background-color: #0d1218;
}

.sidebar_item {
	margin-bottom: 50px;
}

.sidebar_title {
	font-size: 24px;
	line-height: 28px;
	color: #0d1218;
	text-transform: uppercase;
	margin-bottom: 25px;
}

.sidebar_item form {
	position: relative;
}

.sidebar_item form input {
	width: 100%;
	border: 1px solid #ebebeb;
	border-radius: 3px;
	color: #979797;
	padding: 15px;
	outline: none;
}

.sidebar_item form button {
	position: absolute;
	right: 0;
	top: 0;
	height: 100%;
	background: transparent;
	color: #979797;
	font-size: 16px;
}

.swiper-list {
	text-align: center;
	font-size: 18px;
	background: #fff;
	/* Center slide text vertically */
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
}

.sidebar_category li {
	list-style: none;
}

.sidebar_category li a {
	font-size: 16px;
	line-height: 36px;
	display: block;
	color: #55575d;
	text-decoration: none;
}

.sidebar_category li a:hover {
	color: #00BFFF;
}

.sidebar_category li a span {
	float: right;
}

.sidebar_posts .post_item {
	overflow: hidden;
	margin-bottom: 20px;
}

.sidebar_posts .post_item:last-child {
	margin: 0;
}

.sidebar_posts .post_thumb {
	float: left;
	overflow: hidden;
	margin-right: 20px;
}

.sidebar_posts .post_content {
	display: table;
}

.sidebar_posts .post_content h5 a {
	font-size: 18px;
	line-height: 24px;
	color: #0d1218;
	text-decoration: none;
}

.sidebar_posts .post_content h5 a:hover {
	color: #00BFFF;
}

.sidebar_tags {
	overflow: hidden;
}

.sidebar_tags li {
	list-style: none;
	display: inline-block;
	float: left;
}

.sidebar_tags li a {
	display: inline-block;
	font-size: 15px;
	line-height: 25px;
	color: #fff;
	background-color: #252525;
	text-decoration: none;
	padding: 5px 14px;
	margin: 4px;
}

.sidebar_tags li a:hover {
	background-color: #00BFFF;
	color: #fff;
}

.sidebar_item .newsletter input {
	margin-bottom: 15px;
}

.sidebar_item .newsletter input:last-child {
	text-transform: uppercase;
	color: #fff;
}

.testimonial {
	background-position: 50% 50%;
	background-size: cover;
}

.testimonial .overlay {
	background-color: rgba(0, 0, 0, .7);
}

.testimonial .section-header h3 {
	color: #fff;
}

.testimonial .section-header p {
	color: #fff;
}

.testimonial .testimonial-item {
	text-align: center;
	color: #fff;
	max-width: 700px;
	margin: 0 auto;
}

.testimonial .testimonial-item .image {
	height: 100px;
	width: 100px;
	border: 4px solid #e1e1e1;
	border-radius: 100%;
	overflow: hidden;
	margin: 0 auto 20px;
}

.testimonial .testimonial-item h4 {
	color: #fff;
	margin: 0px;
}

.testimonial .testimonial-item span {
	margin-bottom: 30px;
	display: inline-block;
}

.testimonial .testimonial-item p {
	color: #fff;
	text-align: justify;
}

.testimonial .testimonial-pagination {
	text-align: center;
}

.testimonial .testimonial-pagination span {
	background-color: #00BFFF;
}

.client .client-item img {
	width: 100%;
}

.contact-us .contact-input {
	width: 100%;
	border: 1px solid #e4e7e9;
	border-radius: 3px;
	outline: none;
	font-size: 15px;
	line-height: 24px;
	font-weight: 500;
	color: #a3a8ab;
	margin-bottom: 20px;
	padding: 10px 15px;
}

.contact-us .contact-submit {
	text-transform: uppercase;
	padding: 15px 30px;
}

.info-item {
	margin-bottom: 30px;
	overflow: hidden;
}

.info-item:last-child {
	margin: 0px;
}

.contact-info .icon {
	float: left;
	margin-right: 15px;
}

.contact-info .icon span {
	display: block;
	height: 60px;
	width: 60px;
	background-color: #f6f6f6;
	color: #55575d;
	font-size: 36px;
	text-align: center;
}

.contact-info .content {
	display: table;
}

.contact-info .content h4 {
	font-size: 22px;
	line-height: 26px;
	font-weight: 500;
	color: #171717;
	margin: 0px;
}

.contact-info .content p {
	font-size: 16px;
	line-height: 26px;
	font-weight: 500;
	color: #959595;
	margin: 0px;
}

#contact_map {
	width: 100%;
	height: 500px;
}

footer {
	background-color: #0d1218;
	color: #fff;
	padding: 42px 0px;
	position: relative;
}

footer p {
	color: #fff;
	margin: 0px;
	padding: 6px 0px;
}

footer p a {
	font-weight: 700;
	color: #fff;
}

footer p a:hover,
footer p a:focus {
	color: #fff;
}

footer ul {
	float: right;
	margin: 0px;
}

footer ul li {
	list-style: none;
	display: inline-block;
	float: left;
	margin-right: 5px;
}

footer ul li a {
	display: inline-block;
	font-size: 16px;
	line-height: 38px;
	color: #252525;
	height: 36px;
	width: 36px;
	background-color: rgba(255, 255, 255, .5);
	border-radius: 100%;
	text-align: center;
	-webkit-transition: .25s;
	transition: .25s;
}

footer ul li a:hover,
footer ul li a:focus {
	background-color: #00BFFF;
	color: #fff;
}

.scroll-top {
	position: absolute;
	right: 50%;
	top: 0;
	-webkit-transform: translateX(50%) translateY(-50%) rotate(45deg);
	transform: translateX(50%) translateY(-50%) rotate(45deg);
	display: inline-block;
	font-size: 16px;
	line-height: 38px;
	color: #fff;
	height: 36px;
	width: 36px;
	background-color: #0d1218;
	text-align: center;
	-webkit-transition: .25s;
	transition: .25s;
}

.scroll-top i {
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.scroll-top:hover,
.scroll-top:focus {
	background-color: #00BFFF;
	color: #0d1218;
}

@-webkit-keyframes pre_loader {
	0%,
	100% {
		-webkit-transform: scale(0);
		transform: scale(0);
	}
	50% {
		-webkit-transform: scale(1);
		transform: scale(1);
	}
}

@keyframes pre_loader {
	0%,
	100% {
		-webkit-transform: scale(0);
		transform: scale(0);
	}
	50% {
		-webkit-transform: scale(1);
		transform: scale(1);
	}
}

.preloader {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #fff;
	z-index: 9999999;
	opacity: .98;
}

.loader {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 60px;
	height: 60px;
	-ms-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.loader .ld-child {
	width: 100%;
	height: 100%;
	border-radius: 50%;
	background-color: #0d0d0d;
	opacity: 0.6;
	position: absolute;
	top: 0;
	left: 0;
	-webkit-animation: pre_loader 2s infinite ease-in-out;
	animation: pre_loader 2s infinite ease-in-out;
}

.loader .ld-child2 {
	-webkit-animation-delay: -1.0s;
	animation-delay: -1.0s;
}

legend {
	display: block;
	width: 100%;
	margin-bottom: 2rem;
	font-size: 2rem;
	line-height: inherit;
	color: #333333;
	border-bottom: 1px solid #e5e5e5;
	padding-bottom: 0.5rem;
}

fieldset {
	border: none;
}

.register-info {
	font-size: 14px;
	color: #9b9b9b;
}

.register-box {
	width: 952px;
	height: auto;
	margin: 0 auto 0;
	background: #fff;
	border: 1px solid #d1d1d1;
	border-radius: 5px;
}

.order_menu {
	position: relative;
	background: #e0e0e0;
	width: 100%;
	height: 52px;
	line-height: 52px;
	overflow: hidden;
	border-radius: 5px 5px 0 0;
	margin-bottom: 40px;
}

.order_menu li.current {
	background: #18a3e8;
	z-index: 1;
	color: #fff;
}

.order_menu li {
	float: left;
	width: 190px;
	text-align: center;
	text-indent: 24px;
	position: relative;
	z-index: 2;
	font-size: 14px;
	font-weight: bold;
	color: #666666;
	list-style: none;
}

.order_menu li em {
	width: 0;
	height: 0;
	border-color: transparent transparent transparent #fff;
	border-style: dashed dashed dashed solid;
	border-width: 34px 0 34px 34px;
	position: absolute;
	right: -25px;
	top: -8px;
	line-height: 0;
	font-size: 0;
}

.order_menu li.current i {
	border-color: transparent transparent transparent #18a3e8;
}

.order_menu li i {
	width: 0;
	height: 0;
	border-color: transparent transparent transparent #e0e0e0;
	border-style: dashed dashed dashed solid;
	border-width: 26px 0 26px 26px;
	position: absolute;
	right: -16px;
	top: 0;
	line-height: 0;
	font-size: 0;
}

.register-container {
	width: 100%;
	height: 100%;
	background: url(../../images/login-bg.jpg)
}

.form-group {
	margin-bottom: 30px;
}

.help-block {
	margin-bottom: 0;
}

.form-control {
	height: 42px;
}

.btn-primary {
	color: #fff;
	outline: none;
	background-color: #03a0e5;
	border-color: #04a9f1;
}

.radio,
.checkbox {
	display: none;
}

.radio+span,
.checkbox+span {
	width: 1.2rem;
	height: 1.2rem;
	background-color: #ffffff;
	border: solid 1px #dddddd;
	-webkit-border-radius: 0.6rem;
	border-radius: 0.6rem;
	font-size: 0.8rem;
	margin: 0;
	padding: 0;
	position: relative;
	display: inline-block;
	vertical-align: top;
	cursor: default;
	-webkit-appearance: none;
}

.checkbox+span {
	border-radius: 0.1rem;
	margin-top: 4px;
}

.radio:checked+span,
.checkbox:checked+span {
	background-color: #03a0e5;
	border: solid 1px #03a0e5;
	box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
	text-align: center;
	background-clip: padding-box;
}

.radio:checked+span:before,
.checkbox:checked+span:before {
	content: '';
	width: 0.5rem;
	height: 0.3rem;
	border: 1px solid #ffffff;
	border-top: none;
	border-right: none;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -0.25rem;
	margin-top: -0.25rem;
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

label {
	display: inline-block;
	max-width: 100%;
	margin-bottom: 5px;
	font-weight: 500;
}

.cus-menu {
	background: #ccc;
}

.form-control-feedback {
	height: 42px;
	line-height: 42px;
}

.reg-btn {
	display: inline-block;
	background: #019ee4;
	width: 100%;
	border-radius: 5px;
}

.m-dl-margin {
	margin-right: 60px;
}

.m-dl {
	float: left;
	width: 80%;
	border: 1px solid #e1e1e1;
	margin-left: 10%;
	margin-bottom: 20px;
	background-color: #fff;
}

.top {
	width: 100%;
	height: 182px;
	background: url(../../images/download-pc.png) no-repeat center center;
	background-color: #f0a55c;
}

.m-dl .top-2 {
	width: 100%;
	height: 182px;
	background: url(../../images/download-ios.png) no-repeat center center;
	background-color: #5092e1;
}

.m-dl .top-3 {
	width: 100%;
	height: 182px;
	background: url(../../images/download-az.png) no-repeat center center;
	background-color: #4dc879;
}

.m-dl .mid {
	width: 100%;
}

.m-dl .mid h3 {
	font-size: 18px;
	color: #686868;
	margin: 36px 0px 14px 0px;
	text-align: center;
}

.m-dl .mid p {
	text-align: center;
	font-size: 12px;
	color: #9b9b9b;
	white-space: nowrap;
	overflow: hidden;
	text-emphasis: emphasis;
}

.bottom {
	width: 100%;
	text-align: center;
	height: 150px;
}

.bottom .dl-btn-orange {
	background-color: #f0a55c;
}

.bottom .download-btn-blue {
	background-color: #5092e1;
}

.bottom .download-btn-green {
	background-color: #4dc879;
}

.bottom .dl-btn {
	display: inline-block;
	zoom: 1;
	text-align: center;
	width: 196px;
	height: 41px;
	color: #fff;
	font-size: 14px;
	line-height: 41px;
	margin-bottom: 20px;
	margin-top: 40px;
	text-decoration: none;
	border-radius: 5px;
}

.bottom .dl-btn:hover {
	opacity: .9;
}

.p-text {
	border-bottom: none;
	padding: 50px 0px 50px 0px;
	color: #555;
	font-weight: 500;
	text-align: center;
	font-size: 42px;
	line-height: 180%;
}

.b-btn-text {
	color: #555;
	font-size: 16px;
	margin-top: 20px;
}

.r-btn-pos {
	right: 10%;
	background: #019ee4;
	color: #fff !important;
}