/*dede58.com 做最好的织梦整站模板下载网站*/
@charset "utf-8";

/* CSS Document */



a{text-decoration:none;}

a:hover{text-decoration:underline;}

.main_body{width:1000px;margin:0 auto;}

.sub_main_body{width:1070px;margin:0 auto;}

.header{height:161px;background:#557acc;overflow:hidden;}

.header_body{height:99px;}

.header_logo{margin:19px 0 0 28px;display:inline;float:left;}

.header_txt{margin:28px 0 0 16px;display:inline;color:#fff;float:left;}

.header_tel{line-height:32px;margin:40px 12px 0 0;display:inline;padding:0 0 0 43px;background:url(../images/beyo/header_tel.png) 0 center no-repeat;color:#fff;float:right;}

.header_menu{margin:0 0 -4px 42px;}

.header_menu a{width:126px;height:66px;line-height:62px;margin:0 6px 0 0;text-align:center;text-decoration:none;background:url(../images/beyo/header_menu.png) center 0 no-repeat;color:#fff;font-size:16px;float:left;-webkit-transition:.2s;-moz-transition:.2s;-ms-transition:.2s;-o-transition:.2s;transition:.2s;}

.header_menu a.header_menu1{background-position:center 0;}

.header_menu a.header_menu2{background-position:center -73px;}

.header_menu a.header_menu3{background-position:center -146px;}

.header_menu a.header_menu4{background-position:center -219px;}

.header_menu a.header_menu5{background-position:center -292px;}

.header_menu a.header_menu6{background-position:center -365px;}

.header_menu a.header_menu7{background-position:center -438px;}

.header_menu a:hover{-webkit-transform:translate(0,-4px);-moz-transform:translate(0,-4px);-ms-transform:translate(0,-4px);-o-transform:translate(0,-4px);transform:translate(0,-4px);}

.banner{width:100%;height:588px;margin:-9px 0 0 0;overflow:hidden;}

.banner_01{width:100%;height:588px;overflow:hidden;background:url(../images/beyo/banner_bg1.png) center 0 no-repeat;}

.banner1_btn{width:100%;height:100%;display:block;position:absolute;left:0;top:0;bottom:0;}

.banner1_baby{opacity:0;position:absolute;top:130px;left:0;}

.banner1_txt{opacity:0;width:485px;position:absolute;top:153px;right:0;}

.banner1_txt h5{line-height:40px;margin:5px 0 0 0;font-weight:normal;font-size:25px;color:#fff;}

.banner1_txt p{line-height:30px;font-size:16px;color:#fff;}

.banner1_code{opacity:0;width:223px;position:absolute;top:322px;left:561px;}

.banner1_code div{width:100px;text-align:center;}

.banner1_code div a{width:98px;height:26px;line-height:22px;margin:8px 0 0 0;display:inline-block;text-align:center;background:#fdc240;color:#fff;font-size:16px;border-radius:6px;}

.banner1_cloud1{opacity:0;position:absolute;top:-50px;left:-178px;}

.banner1_cloud2{opacity:0;position:absolute;top:-30px;left:327px;}

.banner1_cloud3{opacity:0;position:absolute;top:-40px;right:-84px;}

.banner1_star1{opacity:1;position:absolute;left:-154px;top:460px;}

.banner1_star2{opacity:1;position:absolute;left:-18px;top:155px;}

.banner1_star3{opacity:1;position:absolute;left:366px;top:196px;}

.banner1_star4{opacity:1;position:absolute;right:-25px;top:40px;}

.banner2_star2{left:-59px;top:90px;}

.banner2_star3{left:877px;top:77px;}

.banner2_cloud1{left:69px;}

.banner2_cloud2{left:767px;}

.banner2_cloud3{right:22px;}

.banner2_ren1{position:absolute;top:375px;left:250px;}

.banner2_ren2{position:absolute;top:388px;left:371px;}

.banner2_ren3{position:absolute;top:288px;right:84px;}

.banner2_btn{width:1920px;height:588px;display:block;position:absolute;left:-460px;top:0;}

.banner_03{width:100%;height:588px;overflow:hidden;background:url(../images/beyo/banner_3.png) center 0 no-repeat;}

.banner_03 a{width:1920px;height:588px;display:block;position:absolute;left:-460px;top:0;}

.banner_04{width:100%;height:588px;overflow:hidden;background:url(../images/beyo/banner_4.png) center 0 no-repeat;}

.banner_04 a{width:1920px;height:588px;display:block;background:url(../images/beyo/banner_4.png) center 0 no-repeat;position:absolute;left:-460px;top:0;}

.banner_05{width:100%;height:588px;overflow:hidden;background:url(../images/beyo/banner_5.png) center 0 no-repeat;}

.banner_05 a{width:1920px;height:588px;display:block;background:url(../images/beyo/banner_5.png) center 0 no-repeat;position:absolute;left:-460px;top:0;}

.banner_06{width:100%;height:588px;overflow:hidden;background:url(../images/beyo/banner_6.png) center 0 no-repeat;}

.banner_06 a{width:1920px;height:588px;display:block;background:url(../images/beyo/banner_6.png) center 0 no-repeat;position:absolute;left:-460px;top:0;}

.banner_07{width:100%;height:588px;overflow:hidden;background:url(../images/beyo/banner_7.png) center 0 no-repeat;}

.banner_07 a{width:1920px;height:588px;display:block;background:url(../images/beyo/banner_7.png) center 0 no-repeat;position:absolute;left:-460px;top:0;}



.cartoon .banner1_baby{opacity:1;left:29px;-webkit-animation:3s baby;-moz-animation:3s baby;animation:3s baby;}

.cartoon .banner1_txt{opacity:1;left:521px;-webkit-animation:2s code;-moz-animation:2s code;animation:2s code;}

.cartoon .banner1_code{opacity:1;left:521px;-webkit-animation:2s code;-moz-animation:2s code;animation:2s code;}

.cartoon .banner1_cloud1{opacity:1;top:0;-webkit-animation:1.5s cloud1;-moz-animation:1.5s cloud1;animation:1.5s cloud1;}

.cartoon .banner1_cloud2{opacity:1;top:0;-webkit-animation:1.5s cloud2;-moz-animation:1.5s cloud2;animation:1.5s cloud2;}

.cartoon .banner1_cloud3{opacity:1;top:0;-webkit-animation:1.5s cloud3;-moz-animation:1.5s cloud3;animation:1.5s cloud3;}

.cartoon .banner1_star1{-webkit-animation:1.3s star1 infinite;-moz-animation:1.3s star1 infinite;animation:1.3s star1 infinite;}

.cartoon .banner1_star2{-webkit-animation:1s star2 infinite;-moz-animation:1s star2 infinite;animation:1s star2 infinite;}

.cartoon .banner1_star3{-webkit-animation:1.1s star3 infinite;-moz-animation:1.1s star3 infinite;animation:1.1s star3 infinite;}

.cartoon .banner1_star4{-webkit-animation:1.2s star4 infinite;-moz-animation:1.2s star4 infinite;animation:1.2s star4 infinite;}

.cartoon .banner2_ren1{-webkit-animation:4s ren1 infinite;-moz-animation:4s ren1 infinite;animation:4s ren1 infinite;}

.cartoon .banner2_ren2{-webkit-animation:6s ren2 infinite;-moz-animation:6s ren2 infinite;animation:6s ren2 infinite;}

.cartoon .banner2_ren3{-webkit-animation:4s ren3 infinite;-moz-animation:4s ren3 infinite;animation:4s ren3 infinite;}



@-webkit-keyframes ren1{0%{left:250px;}30%{left:258px;}50%{left:258px;}80%{left:250px;}100%{left:250px;}}

@-moz-keyframes ren1{0%{left:250px;}30%{left:258px;}50%{left:258px;}80%{left:250px;}100%{left:250px;}}

@keyframes ren1{0%{left:250px;}30%{left:258px;}50%{left:258px;}80%{left:250px;}100%{left:250px;}}



@-webkit-keyframes ren2{0%{left:371px;}20%{left:361px;}60%{left:361px;}70%{left:371px;}100%{left:371px;}}

@-moz-keyframes ren2{0%{left:371px;}20%{left:361px;}60%{left:361px;}70%{left:371px;}100%{left:371px;}}

@keyframes ren2{0%{left:371px;}20%{left:361px;}60%{left:361px;}70%{left:371px;}100%{left:371px;}}



/*@-webkit-keyframes ren3{0%{top:288px;}12%{top:280px;}20%{top:288px;}32%{top:280px;}40%{top:288px;}100%{top:288px;}}

@-moz-keyframes ren3{0%{top:288px;}12%{top:280px;}20%{top:288px;}32%{top:280px;}40%{top:288px;}100%{top:288px;}}

@keyframes ren3{0%{top:288px;}12%{top:280px;}20%{top:288px;}32%{top:280px;}40%{top:288px;}100%{top:288px;}}*/



@-webkit-keyframes ren3{0%{-webkit-transform:scale(1)}10%,20%{-webkit-transform:scale(0.97) rotate(-3deg)}30%,50%,70%,90%{-webkit-transform:scale(1.03) rotate(3deg)}40%,60%,80%{-webkit-transform:scale(1.03) rotate(-3deg)}100%{-webkit-transform:scale(1) rotate(0)}}

@-moz-keyframes ren3{0%{-webkit-transform:scale(1)}10%,20%{-webkit-transform:scale(0.97) rotate(-3deg)}30%,50%,70%,90%{-webkit-transform:scale(1.03) rotate(3deg)}40%,60%,80%{-webkit-transform:scale(1.03) rotate(-3deg)}100%{-webkit-transform:scale(1) rotate(0)}}

@keyframes ren3{0%{-webkit-transform:scale(1)}10%,20%{-webkit-transform:scale(0.97) rotate(-3deg)}30%,50%,70%,90%{-webkit-transform:scale(1.03) rotate(3deg)}40%,60%,80%{-webkit-transform:scale(1.03) rotate(-3deg)}100%{-webkit-transform:scale(1) rotate(0)}}



@-webkit-keyframes baby{0%{opacity:0;left:0px;}65%{opacity:0;left:0px;}100%{opacity:1;left:29px;}}

@-moz-keyframes baby{0%{opacity:0;left:0px;}65%{opacity:0;left:0px;}100%{opacity:1;left:29px;}}

@keyframes baby{0%{opacity:0;left:0px;}65%{opacity:0;left:0px;}100%{opacity:1;left:29px;}}



@-webkit-keyframes code{0%{opacity:0;left:571px;}50%{opacity:0;left:571px;}100%{opacity:1;left:521px;}}

@-moz-keyframes code{0%{opacity:0;left:571px;}50%{opacity:0;left:571px;}100%{opacity:1;left:521px;}}

@keyframes code{0%{opacity:0;left:571px;}50%{opacity:0;left:571px;}100%{opacity:1;left:521px;}}



@-webkit-keyframes cloud1{0%{opacity:0;top:-50px;}50%{top:20px;}100%{top:0px;}}

@-moz-keyframes cloud1{0%{opacity:0;top:-50px;}50%{top:20px;}100%{top:0px;}}

@keyframes cloud1{0%{opacity:0;top:-50px;}50%{top:20px;}100%{top:0px;}}



@-webkit-keyframes cloud2{0%{opacity:0;top:-30px;}15%{top:-30px;}58%{top:10px;}100%{top:0px;}}

@-moz-keyframes cloud2{0%{opacity:0;top:-30px;}15%{top:-30px;}58%{top:10px;}100%{top:0px;}}

@keyframes cloud2{0%{opacity:0;top:-30px;}15%{top:-30px;}58%{top:10px;}100%{top:0px;}}



@-webkit-keyframes cloud3{0%{opacity:0;top:-40px;}20%{top:-40px;}60%{top:15px;}100%{top:0px;}}

@-moz-keyframes cloud3{0%{opacity:0;top:-40px;}20%{top:-40px;}60%{top:15px;}100%{top:0px;}}

@keyframes cloud3{0%{opacity:0;top:-40px;}20%{top:-40px;}60%{top:15px;}100%{top:0px;}}



@-webkit-keyframes star1{0%{opacity:0.4;}50%{opacity:1;}100%{opacity:0.4;}}

@-moz-keyframes star1{0%{opacity:0.4;}50%{opacity:1;}100%{opacity:0.4;}}

@keyframes star1{0%{opacity:0.4;}50%{opacity:1;}100%{opacity:0.4;}}



@-webkit-keyframes star2{0%{opacity:1;}50%{opacity:0.5;}100%{opacity:1;}}

@-moz-keyframes star2{0%{opacity:1;}50%{opacity:0.5;}100%{opacity:1;}}

@keyframes star2{0%{opacity:1;}50%{opacity:0.5;}100%{opacity:1;}}



@-webkit-keyframes star3{0%{opacity:0.6;}50%{opacity:1;}100%{opacity:0.6;}}

@-moz-keyframes star3{0%{opacity:0.6;}50%{opacity:1;}100%{opacity:0.6;}}

@keyframes star3{0%{opacity:0.6;}50%{opacity:1;}100%{opacity:0.6;}}



@-webkit-keyframes star4{0%{opacity:1;}50%{opacity:0.7;}100%{opacity:1;}}

@-moz-keyframes star4{0%{opacity:1;}50%{opacity:0.7;}100%{opacity:1;}}

@keyframes star4{0%{opacity:1;}50%{opacity:0.7;}100%{opacity:1;}}

.banner_02{background:url(../images/beyo/banner_bg2.png) center 0 no-repeat;}

.in_tabpic{width:100%;height:588px;position:relative;}

.in_tabpic ul{width:100%;height:100%;position:relative;}

.in_tabpic li{width:100%;height:100%;position:absolute;left:0;top:0;opacity:0;filter:alpha(opacity=0);z-index:0;}

.in_tabpic dl{width:100%;height:15px;text-align:center;position:absolute;left:0;bottom:30px;z-index:10;}

.in_tabpic dd{width:15px;height:15px;margin:0 6px;background:#fff;cursor:pointer;display:inline-block;border-radius:50%;}

.in_tabpic dd:hover{background:#ff9e00;}

.in_tabpic dd.active{background:#ff9e00;}

.info_wave{height:325px;margin:-9px 0 0 0;background:url(../images/beyo/info_bg.png) 0 0 repeat-x;position:relative;z-index:10;}

.info{height:316px;background:url(../images/beyo/info_bg.jpg) center bottom no-repeat;}

.info_list{width:984px;padding:53px 8px 0 8px;overflow:hidden;}

.info_list ul{/*width:1060px;*/width:636px;padding:0 0 0 76px;margin:0 auto;}

.info_list ul li{width:136px;margin:0 76px 0 0;display:inline;float:left;}

.info_list ul li p{line-height:25px;margin:16px 0 0 0;text-align:center;font-size:16px;color:#fff;}

.content{background:#fdc240 url(../images/beyo/content_bg.jpg) 0 0 repeat-x;}

.major{padding:128px 0 0 0;position:relative;}

.major_title{width:313px;height:509px;background:url(../images/beyo/major_title.jpg) 0 0 no-repeat;position:absolute;top:61px;right:-90px;}

.major_sub1{position:absolute;left:0;bottom:96px;cursor:pointer;}

.major_sub2{position:absolute;left:105px;bottom:0;cursor:pointer;}

.major_body{width:810px;height:453px;margin:0 0 0 3px;}

.major_detail{width:100%;height:453px;overflow:hidden;background:#ffe6ae;border-radius:10px;display:none;}

.major_tab{width:810px;overflow:hidden;border-bottom:2px solid #f5d474;}

.major_tab ul{width:812px;}

.major_tab ul li{width:202px;height:62px;line-height:62px;text-align:center;border-right:1px solid #f5d474;color:#393939;font-weight:bold;font-size:22px;cursor:pointer;float:left;}

.major_tab ul li.active{background:#ff843c;color:#fff;}

#major_detail2 .major_tab li{width:240px;}

.major_tab_body li{display:none;}

.major_tab_img{margin:32px 0 0 12px;display:inline;float:left;}

.major_tab_txt{width:330px;margin:60px 30px 0 0;float:right;}

.major_tab_txt h5{line-height:42px;font-weight:normal;font-size:20px;color:#e86306;}

.major_tab_txt p{line-height:28px;font-size:16px;color:#e86306;}

.major_tab_txt p a{text-decoration:underline;color:#e86306;}

.major_tab_txt p.major_tab_p{height:112px;overflow:hidden;color:#777;}

.major_tab_btn{width:90px;height:33px;line-height:33px;display:block;margin:10px 0 0 0;text-align:center;background:url(../images/beyo/major_tab_btn.png) 0 0 no-repeat;font-size:14px;color:#fff;}

.activity{margin:85px 0 0 0;padding:0 0 62px 0;}

.activity_news{float:left;}

.activity_news_list{width:344px;margin:35px 0 0 9px;}

.activity_news_list li{padding:10px 0 8px 0;border-bottom:1px dashed #e86306;}

.activity_news_list li span{width:43px;height:28px;line-height:14px;margin:0 0 0 9px;padding:9px 0;text-align:center;background:url(../images/beyo/activity_news_list.png) 0 0 no-repeat;color:#fff;font-size:12px;float:left;}

.activity_news_list li p{height:44px;line-height:22px;overflow:hidden;margin:0 0 0 59px;padding:1px 0 0 0;}

.activity_news_list li a{color:#e86306;}

.activity_news_more{width:109px;height:36px;line-height:36px;margin:24px 0 0 0;text-align:center;background:url(../images/beyo/activity_news_more.png) center center no-repeat;color:#fff;float:right;}

.activity_feel{position:relative;float:right;}

.activity_feel_title{position:absolute;left:-36px;bottom:-14px;}

.activity_feel_list li{margin:0 0 0 5px;float:left;}

.activity_feel_list li div{width:168px;padding:11px 14px 0 14px;-webkit-transition:.2s;-moz-transition:.2s;-ms-transition:.2s;-o-transition:.2s;transition:.2s;}

.activity_feel_list li div:hover{-webkit-transform:translate(0,-5px);-moz-transform:translate(0,-5px);-ms-transform:translate(0,-5px);-o-transform:translate(0,-5px);transform:translate(0,-5px);}

.activity_feel_list li div p{line-height:18px;padding:7px 0;color:#fff;}

.activity_feel_list li div p a{color:#fff;}

.activity_feel_img1{height:226px;margin:62px 0 0 0;background:url(../images/beyo/activity_feel_img1.png) 0 0 no-repeat;}

.activity_feel_img2{height:182px;margin:10px 0 0 0;background:url(../images/beyo/activity_feel_img2.png) 0 0 no-repeat;}

.activity_feel_img3{height:243px;margin:97px 0 0 0;background:url(../images/beyo/activity_feel_img3.png) 0 0 no-repeat;}

.activity_feel_img4{height:182px;margin:11px 0 0 0;background:url(../images/beyo/activity_feel_img4.png) 0 0 no-repeat;}

.activity_feel_img5{height:273px;margin:28px 0 0 0;background:url(../images/beyo/activity_feel_img5.png) 0 0 no-repeat;}

.activity_feel_img6{height:281px;margin:6px 0 0 0;background:url(../images/beyo/activity_feel_img6.png) 0 0 no-repeat;}

.activity_feel_img1 p{text-overflow:ellipsis;overflow:hidden;white-space:nowrap;}

.activity_feel_img2 p{text-overflow:ellipsis;overflow:hidden;white-space:nowrap;}

.activity_feel_img3 p{text-overflow:ellipsis;overflow:hidden;white-space:nowrap;}

.activity_feel_img4 p{text-overflow:ellipsis;overflow:hidden;white-space:nowrap;}

.activity_feel_img5 p{height:36px;overflow:hidden;}

.activity_feel_img6 p{height:36px;overflow:hidden;}



.calculator_body{height:300px;padding:0 0 0 20px;}

.calculator_body p{line-height:28px;padding:6px 0 0 0;color:#e86306;}

.calculator_input input{width:272px;height:22px;line-height:22px;padding:5px 10px;background:#ffe6ae;border:1px solid #ff843c;color:#e86306;font-size:14px;font-family:"微软雅黑";}

.calculator_btn{width:116px;height:36px;line-height:36px;margin:30px 0 0 84px;text-align:center;color:#fff;background:url(../images/beyo/calculator_btn.png) 0 0 no-repeat;font-size:18px;cursor:pointer;}

.calculator_submit_title{color:#fe316c;}

.calculator_submit_title h5{padding:10px 0 0 0;font-size:22px;}

.calculator_submit_title{font-size:18px;}

.calculator_submit{height:300px;padding:0 0 0 20px;display:none;}

.calculator_submit_input{margin:14px 0 0 0;}

.calculator_radio{margin:14px 0 0 0;color:#e86306;font-size:16px;}

.calculator_radio label{margin:0 15px 0 0;}

.calculator_submit_btn div{width:116px;height:36px;line-height:36px;text-align:center;color:#fff;font-size:18px;float:left;cursor:pointer;}

.calculator_submit_see{margin:30px 0 0 20px;}

.calculator_submit_see input{width:116px;height:36px;text-align:center;background:url(../images/beyo/calculator_btn.png) 0 0 no-repeat;font-family:"微软雅黑";color:#fff;font-size:18px;cursor:pointer;}

.calculator_submit_again{margin:30px 0 0 15px;background:url(../images/beyo/calculator_submit_again.png) 0 0 no-repeat;}

.calculator_tel{padding:0 0 0 63px;color:#e86306;background:url(../images/beyo/calculator_tel.png) 0 center no-repeat;}

.calculator_tel h5{font-size:40px;font-family:Arial, Helvetica, sans-serif;}

.calculator_tel p{font-size:16px;font-weight:bold;}



.content_share{background:#fdc240;}

.share_main_body{width:1133px;margin:0 auto;}

.index_share_title{margin:0 0 0 260px;}

.index_share_body{height:306px;padding:0 0 15px 0;background:url(../images/beyo/index_share_bg.jpg) 0 0 no-repeat;position:relative;}

.index_share_list{width:150px;height:129px;background:#f00;position:absolute;cursor:pointer;}

.index_share_list01{top:102px;left:104px;}

.index_share_list02{top:65px;left:391px;}

.index_share_list03{top:111px;left:689px;}

.index_share_list04{top:108px;right:46px;}



.maternity_show{height:505px;padding:0 0 76px 0;background:url(../images/beyo/maternity_show.jpg) center 0 no-repeat;position:relative;}

.new_trends_box{width:910px;height:240px;overflow:hidden;position:absolute;left:126px;top:225px;}

.new_trends_box ul{width:936px;position:absolute;left:0;top:0;}

.new_trends_box li{width:208px;height:240px;margin:0 26px 0 0;overflow:hidden;float:left;}

.new_trends_txt{padding:17px 0 0 0;}

.new_trends_txt p{line-height:20px;text-align:center;font-size:14px;color:#fdc240;}

.new_trends_prev{width:70px;height:100px;background:url(../images/beyo/maternity_prev.png) center center no-repeat;position:absolute;left:51px;top:257px;cursor:pointer;z-index:10;}

.new_trends_prev:hover{opacity:0.9;filter:alpha(opacity=90);}

.new_trends_next{width:70px;height:100px;background:url(../images/beyo/maternity_next.png) center center no-repeat;position:absolute;right:25px;top:257px;cursor:pointer;z-index:10;}

.new_trends_next:hover{opacity:0.9;filter:alpha(opacity=90);}



.mask{width:100%;height:100%;position:fixed;left:0;top:0;bottom:0;background:rgba(0,0,0,0.3);display:none;}

.pop_video{width:598px;height:423px;background:#fff;border-radius:6px;position:fixed;left:50%;top:50%;margin:-211px 0 0 -299px;display:none;}

.pop_title{height:46px;line-height:46px;padding:0 35px 0 15px;font-size:18px;color:#666;border-bottom:1px solid #ccc;position:relative;}

.pop_title p{text-overflow:ellipsis;white-space:nowrap;overflow:hidden;}

.pop_title span{color:#333;}

.pop_close{width:40px;height:40px;background:url(../images/beyo/pop_close.png) center center no-repeat;position:absolute;top:3px;right:3px;cursor:pointer;}

.pop_video_body{width:598px;}



/*33du*/

.sub_banner{width:100%;height:346px;margin:-9px 0 0 0;position:relative;z-index:10;}

.sub_banner1{height:346px;background:url(../images/beyo/sub_banner01.png) center 0 no-repeat;}

.sub_banner2{height:346px;background:url(../images/beyo/sub_banner02.png) center 0 no-repeat;}

.sub_banner3{height:346px;background:url(../images/beyo/sub_banner03.png) center 0 no-repeat;}

.sub_banner4{height:346px;background:url(../images/beyo/sub_banner04.png) center 0 no-repeat;}

.sub_banner5{height:346px;background:url(../images/beyo/sub_banner05.png) center 0 no-repeat;}

.sub_banner6{height:346px;background:url(../images/beyo/sub_banner06.png) center 0 no-repeat;}

.sub_content_wave{margin:-9px 0 0 0;padding:9px 0 0 0;background:url(../images/beyo/sub_content.png) 0 0 repeat-x;position:relative;z-index:11;}

.sub_content_grey{background:url(../images/beyo/sub_content_grey.png) 0 0 repeat-x;}

.sub_content{min-height:600px;padding:0 0 60px 0;background:#fff;}

.sub_content_grey .sub_content{background:#f5f5f5;}

.sub_menu{width:250px;margin:-106px 0 0 0;overflow:hidden;border-radius:10px;float:left;}

.sub_menu dt{height:110px;}

.sub_menu dt div{width:190px;line-height:50px;margin:45px 0 0 0;text-align:center;font-size:24px;color:#fff;float:right;}

.sub_menu dd a{width:210px;height:55px;line-height:55px;padding:0 0 0 40px;display:block;background:#fff;font-size:14px;color:#757575;}

.sub_menu dd a:hover{background:#f4f0e5;color:#ff843c;text-decoration:none;}

.sub_menu dd.active a{background:#f4f0e5;color:#ff843c;}

.sub_menu1{background:url(../images/beyo/sub_menu1.png) 0 0 no-repeat;}

.sub_menu2{background:url(../images/beyo/sub_menu2.png) 0 0 no-repeat;}

.sub_menu3{background:url(../images/beyo/sub_menu3.png) 0 0 no-repeat;}

.sub_menu4{background:url(../images/beyo/sub_menu4.png) 0 0 no-repeat;}

.sub_menu5{background:url(../images/beyo/sub_menu5.png) 0 0 no-repeat;}

.sub_menu6{background:url(../images/beyo/sub_menu6.png) 0 0 no-repeat;}

.sidebar{width:770px;float:right;}

.sidebar_title{line-height:32px;padding:25px 0 5px 0;}

.sidebar_title_txt{font-weight:bold;font-size:22px;float:left;}

.degree_title_txt{color:#f56e68;}

.sidebar_crumbs{color:#757575;float:right;}

.sidebar_crumbs a{color:#757575;}

.degree_h{line-height:50px;font-weight:normal;font-size:18px;color:#f56e68;}

.degree_p{line-height:24px;color:#757575;}

.degree_major{width:748px;height:378px;overflow:hidden;background:#fff;border:1px solid #dcdcdc;border-radius:10px;}

.degree_tab ul li{width:25%;padding:10px 0 0 0;height:35px;line-height:35px;text-align:center;border-bottom:3px solid #cbcbcb;color:#757575;font-size:16px;cursor:pointer;float:left;}

.degree_tab ul li.active{border-bottom:3px solid #f78c08;color:#f78c08;}

.degree_tab_body li{display:none;}

.degree_tab_img{margin:36px 0 0 26px;display:inline;float:left;}

.degree_tab_txt{width:410px;margin:38px 20px 0 0;float:right;}

.degree_tab_txt p{line-height:25px;font-size:14px;color:#757575;}

.degree_tab_txt p span{color:#f78c08;}

.degree_list{margin:28px 0 0 0;padding:0 0 10px 0;}

.degree_list li{width:175px;margin:0 30px;display:inline;float:left;}

.degree_list dl{margin:19px 0 0 0;background:url(../images/beyo/degree_list_line.png) center center no-repeat;}

.degree_list dd{width:137px;height:30px;line-height:30px;margin:0 50px;display:inline;background:url(../images/beyo/degree_list_bg.png) center 0 no-repeat;float:left;}

.degree_list dd span.de1{width:46px;text-align:center;color:#f78c08;font-size:18px;float:left;}

.degree_list dd span.de2{width:88px;text-align:center;color:#fff;font-size:16px;float:right;}

.degree_goodness li{width:186px;text-align:center;padding:0 0 15px 0;border-left:1px dotted #e5e5e5;color:#757575;float:left;}

.degree_goodness li:first-child{border:none;}

.degree_goodness li h5{line-height:20px;padding:0 0 8px 0;font-weight:normal;font-size:18px;background:url(../images/beyo/degree_goodness_txt.jpg) center bottom no-repeat;}

.degree_goodness li img{margin:24px 0 0 0;}

.degree_goodness li p{margin:26px 0 0 0;padding:0 16px;}



/*zaojiao*/

.early_title_txt{color:#f78c08;}

.early_h{line-height:50px;font-weight:normal;font-size:18px;color:#f78c08;}

.early_p{text-indent:2em;line-height:24px;color:#757575;}

.early_p a{text-decoration:underline;color:#f78c08;}

.early_szn_point li{width:300px;height:50px;margin:12px 30px 0 24px;display:inline;padding:10px 0;background:url(../images/beyo/early_szn_point.png) 0 0 no-repeat;float:left;}

.early_szn_point li span{width:30px;line-height:30px;margin:9px 12px 11px 0;text-align:center;font-size:18px;color:#fff;float:left;}

.early_szn_point li p{line-height:19px;margin:0 8px 0 42px;color:#757575;}

.early_szn_point li.last{height:30px;padding:20px 0;background:url(../images/beyo/expert_point_last.png) 0 0 no-repeat;}

.early_szn_point li.last span{margin:0;}



/*about*/

.about_p{text-indent:2em;line-height:35px;color:#757575;}

.about_brief{padding:0 10px;}

.about_brief_part{margin:20px 0 0 0;padding:30px 0 0 0;border-top:1px dotted #e5e5e5;}

.about_brief_txt{width:510px;float:left;}

.about_brief_img{width:200px;float:right;}

.about_join_p{line-height:24px;color:#757575;}

.about_join table{width:100%;text-align:left;overflow:hidden;color:#757575;border:1px solid #d5d5d5;border-right:none;border-radius:6px;border-collapse:inherit}

.about_join th{height:40px;line-height:40px;text-align:center;font-weight:bold;background:#ececec;border-right:1px solid #d5d5d5;border-spacing:0;}

.about_join td{line-height:25px;padding:20px 25px;border-top:1px solid #d5d5d5;border-right:1px solid #d5d5d5;}

.tr_first{font-weight:bold;text-align:center;}

.about_culture{padding:0 4px;}

.about_culture ul{width:380px;float:left;}

.about_culture ul:first-child{border-right:1px dashed #d8d8d8;}

.about_culture li{padding:10px 30px 0 30px;text-align:center;border-top:1px dashed #d8d8d8;}

.about_culture li.about_n1{border:none;}

.about_culture li img{margin:10px 0 12px 0;}

.about_culture li p{line-height:24px;text-align:left;color:#757575;}

.about_culture li h6{line-height:35px;font-weight:normal;font-size:18px;color:#202020;}

.about_culture li h5{height:45px;line-height:45px;font-weight:normal;font-size:22px;}

.about_culture li.about_n1{height:470px;}

.about_culture li.about_n2{height:423px;}

.about_culture li.about_n3{height:373px;}

.about_culture li.about_n4{height:420px;}

.about_culture ul:first-child li.about_n1 p{text-align:center;}

.about_culture ul li.about_n3 p{text-align:center;}

.about_culture ul:first-child li.about_n4 p{text-align:center;}

.about_culture li.about_n1 h5{color:#e04973;}

.about_culture li.about_n2 h5{color:#44ade9;}

.about_culture li.about_n4 h5{color:#f29818;}

.about_culture ul:first-child li.about_n1 h5{color:#59a247;}

.about_culture ul:first-child li.about_n2 h5{color:#f66329;}

.about_honor{margin:30px 0 0 45px;position:relative;}

.about_honor dl{padding:0 0 20px 0;border-left:2px solid #f39918;}

.about_honor dt{width:64px;height:24px;line-height:24px;margin:0 0 10px -34px;text-align:center;background:url(../images/beyo/about_honor_bg.png) 0 center no-repeat;color:#fff;}

.about_honor dd{line-height:30px;margin:0 0 0 -5px;padding:0 0 0 38px;background:url(../images/beyo/about_honor_ico.png) 0 center no-repeat;color:#757575;}

.about_honor div{position:absolute;left:-4px;bottom:-4px;}





/*join*/

.join_list1{height:245px;background:url(../images/beyo/join_list1.jpg) 0 0 no-repeat;}

.join_list2{height:413px;background:url(../images/beyo/join_list2.jpg) 0 0 no-repeat;}

.join_list3{height:332px;background:url(../images/beyo/join_list3.jpg) 0 0 no-repeat;}

.join_list4{height:229px;background:url(../images/beyo/join_list4.jpg) right 0 no-repeat;}

.join_list5{height:299px;background:url(../images/beyo/join_list5.jpg) 0 0 no-repeat;}

.join_list6{height:320px;background:url(../images/beyo/join_list6.jpg) 0 0 no-repeat;}

.join_txt h5{line-height:45px;font-weight:normal;font-size:18px;color:#f29818;}

.join_txt p{line-height:25px;font-size:14px;color:#757575;}

.join_list1 .join_txt{width:365px;padding:17px 0 0 323px;}

.join_list2 .join_txt{width:338px;padding:140px 0 0 58px;}

.join_list3 .join_txt{width:348px;padding:45px 0 0 376px;}

.join_list4 .join_txt{width:346px;padding:18px 0 0 145px;}

.join_list5 .join_txt{width:348px;padding:58px 0 0 423px;}

.join_list6 .join_txt{width:348px;padding:36px 0 0 136px;}

.support_tab{background:url(../images/beyo/support_tab.gif) 0 bottom repeat-x;}

.support_tab li{line-height:38px;padding:0 20px;font-size:16px;color:#878787;cursor:pointer;float:left;}

.support_tab li.active{font-weight:bold;color:#f29818;border-bottom:3px solid #f39918;}

.support_body{margin:0 20px 0 0;display:none;}

.support1_past1{height:333px;background:url(../images/beyo/support1_past1.jpg) 34px bottom no-repeat;}

.support1_past2{height:308px;background:url(../images/beyo/support1_past2.jpg) 41px bottom no-repeat;}

.support1_past3{height:282px;background:url(../images/beyo/support1_past3.jpg) 20px 0 no-repeat;}

.support1_ico{line-height:24px;text-align:center;color:#757575;position:absolute;}

.support1_ico1{left:120px;bottom:0;}

.support1_ico2{left:478px;bottom:0;}

.support1_ico3{right:120px;bottom:15px;}

.support1_ico4{left:312px;bottom:15px;}

.support1_ico5{left:101px;bottom:0;}

.support1_ico6{left:134px;bottom:4px;}

.support1_ico7{left:418px;bottom:0;}

.support1_pop{padding:4px 22px 12px 34px;background:#f2f2f2;border:2px solid #dde2ee;border-radius:10px;position:absolute;}

.support1_arrow{position:absolute;left:50%;bottom:-16px;margin:0 0 0 -14px;}

.support1_pop1 .support1_arrow{margin:0 0 0 -44px;}

.support1_pop2 .support1_arrow{margin:0 0 0 -40px;}

.support1_pop4 .support1_arrow{margin:0 0 0 -34px;}

.support1_pop6 .support1_arrow{margin:0 0 0 -46px;}

.support1_pop h6{font-size:18px;color:#e9556c;}

.support1_pop p{line-height:24px;color:#757575;}

.support1_pop1{left:34px;bottom:113px;}

.support1_pop2{right:35px;bottom:113px;}

.support1_pop3{right:70px;bottom:132px;}

.support1_pop4{left:264px;bottom:132px;}

.support1_pop5{left:34px;bottom:120px;}

.support1_pop6{left:80px;bottom:120px;}

.support1_pop7{right:192px;bottom:120px;}

.support2_past1{height:333px;background:url(../images/beyo/support2_past1.jpg) 34px bottom no-repeat;}

.support2_past2{height:307px;background:url(../images/beyo/support2_past2.jpg) 42px bottom no-repeat;}

.support2_past3{height:370px;background:url(../images/beyo/support2_past3.jpg) 20px 0 no-repeat;}

.support2_past4{height:306px;background:url(../images/beyo/support2_past4.jpg) 24px 0 no-repeat;}

.support2_ico1{left:129px;bottom:0;}

.support2_ico2{left:474px;bottom:0;}

.support2_ico3{right:98px;bottom:15px;}

.support2_ico4{left:320px;bottom:15px;}

.support2_ico5{left:103px;bottom:0;}

.support2_ico6{left:130px;bottom:4px;}

.support2_ico7{right:150px;bottom:0;}

.support2_ico8{right:196px;bottom:0;}

.support2_ico9{left:200px;bottom:0;}

.support2_pop{padding:4px 16px 12px 16px;}

.support2_pop1 .support1_arrow{margin:0 0 0 -40px;}

.support2_pop2 .support1_arrow{margin:0 0 0 -62px;}

.support2_pop3 .support1_arrow{margin:0 0 0 2px;}

.support2_pop4 .support1_arrow{margin:0 0 0 -2px;}

.support2_pop5 .support1_arrow{margin:0 0 0 -6px;}

.support2_pop6 .support1_arrow{margin:0 0 0 -110px;}

.support2_pop7 .support1_arrow{margin:0 0 0 -40px;}

.support2_pop8 .support1_arrow{margin:0 0 0 -54px;}

.support2_pop9 .support1_arrow{margin:0 0 0 -2px;}

.support2_pop1{left:34px;bottom:113px;}

.support2_pop2{right:35px;bottom:113px;}

.support2_pop3{right:70px;bottom:132px;}

.support2_pop4{left:241px;bottom:132px;}

.support2_pop5{left:34px;bottom:120px;}

.support2_pop6{left:80px;bottom:120px;}

.support2_pop7{right:57px;bottom:120px;}

.support2_pop8{right:72px;bottom:120px;}

.support2_pop9{left:50px;bottom:120px;}

.join_online{width:650px;height:490px;margin:30px 0 0 30px;background:url(../images/beyo/join_online.jpg) 0 0 no-repeat;}

.online_body{width:370px;padding:76px 0 0 62px;}

.online_content{height:331px;}

.online_list{height:22px;margin:12px 0 0 0;color:#757575;font-size:16px;}

.online_list_txt{width:102px;line-height:22px;text-align:right;}

.online_list_box{width:250px;}

.online_list_input{width:181px;height:20px;line-height:20px;padding:0 10px;border:1px solid #c9c9c9;background:#fff;color:#5f5f5f;}

.online_list_code{width:50px;}

.online_list_select{width:100px;background:#fff url(../images/beyo/select_arrow.png) no-repeat right center;border:1px solid #c9c9c9;color:#757575;}

.online_list_radio{width:250px;}

.online_inline{display:inline-block;padding:0 5px;vertical-align:middle;cursor:pointer;}

.online_inline input{margin:0;}

.online_submit{width:171px;margin:14px 0 0 172px;text-align:center;}

.online_submit input{width:100%;height:42px;background:#f29818;color:#fff;font-size:16px;cursor:pointer;border-radius:8px;}



/*new*/

.new_list li{padding:20px 0 25px 0;border-bottom:1px solid #dcdcdc;}

.new_list_img{overflow:hidden;border-radius:10px;float:left;}

.new_list_txt{width:520px;margin:0 10px 0 0;display:inline;float:right;}

.new_list_txt h5{line-height:35px;font-weight:normal;font-size:18px;}

.new_list_txt h5 a{color:#3b3b3b;}

.new_list_txt p{height:75px;line-height:25px;overflow:hidden;color:#797979;}

.new_list_btn{color:#fe7042;float:right;}

.new_content{padding:0 0 30px 0;border-bottom:1px solid #dcdcdc;}

.new_content_title{line-height:45px;font-size:22px;color:#3b3b3b;}

.new_content_info{line-height:36px;font-size:14px;color:#9e9e9e;}

.new_content_info span{padding:0 20px 0 0;}

.new_content_txt{line-height:24px;color:#797979;}

.new_content_txt p{padding:0 0 20px 0;}

.new_relevant{margin:17px 0 0 0;color:#797979;}

.new_relevant a{margin:0 6px;padding:3px 5px;background:#58a2f5;color:#fff;border-radius:6px;}

.share_txt{color:#424242;}

.new_sibling{line-height:25px;color:#424242;}

.new_sibling a{color:#797979;}

.new_page{height:36px;padding:25px 0 0 0;color:#acacac;font-family:Arial, Helvetica, sans-serif;}

.new_page a{width:34px;height:34px;line-height:34px;margin:0 2px;text-align:center;display:inline-block;background:#fff;border:1px solid #eee;color:#acacac;}

.new_page a:hover{background:#959292;color:#fff;text-decoration:none;}

.new_page span{width:36px;height:36px;line-height:36px;text-align:center;display:inline-block;background:#f29818;color:#fff;}

.new_page a.prev_page{background:#fff url(../images/beyo/prev_page.png) center center no-repeat;}

.new_page a.prev_page:hover{background-color:#959292;}

.new_page a.next_page{background:#fff url(../images/beyo/next_page.png) center center no-repeat;}

.new_page a.next_page:hover{background-color:#959292;}



/*center_content*/

.center_tab{margin:25px 0 0 0;border-bottom:1px solid #dcdcdc;}

.center_tab li{width:113px;line-height:46px;text-align:center;font-size:16px;color:#878787;cursor:pointer;float:left;}

.center_tab li.active{font-weight:bold;background:url(../images/beyo/center_tab.png) 0 0 no-repeat;color:#f29818;}

.center_tab_detail{margin:20px 0 0 0;display:none;}

.center_tab_txt h5{line-height:28px;font-size:16px;color:#757575;}

.center_tab_txt p{line-height:25px;color:#757575;}

.screenshot_tab{width:708px;height:488px;overflow:hidden;position:relative;}

.screenshot_tab ul{width:100%;height:383px;margin:0;padding:0;}

.screenshot_tab li{width:100%;height:383px;text-align:center;position:absolute;left:0;top:0;opacity:0;filter:alpha(opacity=0);z-index:0;}

.screenshot_btn{margin:18px 0 0 0;}

.screenshot_btn_body{width:640px;height:86px;overflow:hidden;margin:0 9px;display:inline-block;float:left;position:relative;}

.screenshot_btn_body dl{width:100%;height:86px;position:absolute;left:0;}

.screenshot_btn_body dd{width:144px;height:82px;overflow:hidden;margin:0 6px;text-align:center;border:2px solid #fff;cursor:pointer;opacity:0.6;filter:alpha(opacity=60);float:left;}

.screenshot_btn_body dd.active{border:2px solid #48b1e6;opacity:1;filter:alpha(opacity=100);}

.screenshot_left{width:25px;height:86px;background:url(../images/beyo/screenshot_left.jpg) 0 center no-repeat;cursor:pointer;float:left;}

.screenshot_right{width:25px;height:86px;background:url(../images/beyo/screenshot_right.jpg) 0 center no-repeat;cursor:pointer;float:right;}



/*audition*/

select{padding-right:14px;border:solid 1px #000;appearance:none;-moz-appearance:none;-webkit-appearance:none;background:url(../images/beyo/select_arrow.png) no-repeat scroll right center transparent;}

select::-ms-expand{display:none;}

.audition{width:304px;height:284px;background:url(../images/beyo/audition_bg.png) 0 0 no-repeat;position:fixed;left:30px;bottom:30px;z-index:20; display: none;}

.audition_title{line-height:30px;margin:21px 0 0 0;position:relative;}

.audition_title h5{text-align:center;font-weight:normal;font-size:18px;color:#d93a41;}

.audition_close{width:30px;height:30px;background:url(../images/beyo/audition_close.png) center center no-repeat;cursor:pointer;position:absolute;right:23px;top:0;}

.audition_body{width:196px;padding:0 54px;}

.audition_list{height:22px;margin:7px 0 0 0;color:#5f5f5f;}

.audition_list span{line-height:20px;}

.audition_list_input{width:123px;}

.audition_list_input input{width:103px;height:20px;line-height:20px;padding:0 10px;border:1px solid #b8b8b8;background:none;color:#5f5f5f;border-radius:20px;}

.audition_list_input select{width:125px;height:22px;line-height:20px;padding:0 20px 0 10px;border:1px solid #b8b8b8;font-size:12px;color:#5f5f5f;border-radius:20px;}

.audition_submit{margin:15px 0 0 0;text-align:center;}

.audition_submit input{width:78px;height:26px;background:#bf2128;color:#fff;cursor:pointer;border-radius:6px;}



/*brand*/

.brand_txt p{text-indent:2em;line-height:24px;margin:0;padding:0;color:#757575;}



/*expert*/

.expert_img{margin:0 0 0 20px;display:inline;padding:8px;border:1px dashed #fbca63;border-radius:6px;}

.expert_img img{border-radius:6px;}

.expert_txt{width:450px;margin:0 20px 0 0;display:inline;}

.expert_txt p{line-height:25px;color:#757575;}

.expert_txt p span{color:#f56e68;}

.expert_point li{width:300px;height:99px;margin:12px 30px 0 24px;display:inline;padding:8px 0;background:url(../images/beyo/expert_point.png) 0 0 no-repeat;float:left;}

.expert_point li span{width:30px;line-height:30px;margin:24px 12px 11px 0;text-align:center;font-size:18px;color:#fff;float:left;}

.expert_point li p{line-height:25px;margin:0 8px 0 42px;color:#757575;}

.expert_point li.last{height:30px;padding:20px 0;background:url(../images/beyo/expert_point_last.png) 0 0 no-repeat;}

.expert_point li.last span{margin:0;}



/*footer*/

.new_other_wave{margin:-9px 0 0 0;padding:9px 0 0 0;background: url(../images/beyo/new_list_bg.png) 0 0 repeat-x;}

.new_other{padding:23px 0 47px 0;background:#f5d473;}

.new_other_out{width:1084px;}

.new_other_list{width:236px;margin:0 25px 0 10px;float:left;}

.new_other_list h5{line-height:36px;padding:0 0 0 12px;font-size:18px;font-weight:normal;color:#e96206;}

.new_other_list li{padding:10px 0 8px 0;border-bottom:1px dashed #e86306;}

.new_other_list li span{width:43px;height:28px;line-height:14px;margin:0 0 0 9px;padding:9px 0;text-align:center;background:url(../images/beyo/activity_news_list.png) 0 0 no-repeat;color:#fff;font-size:12px;float:left;}

.new_other_list li p{height:44px;line-height:22px;overflow:hidden;margin:0 0 0 59px;padding:1px 0 0 0;}

.new_other_list li a{color:#e86306;}

.new_other_list h5 a{color: #e96206;}



.link_wave{margin:-9px 0 0 0;padding:9px 0 0 0;background:url(../images/beyo/link_bg.png) 0 0 repeat-x;}

.link{padding:23px 0;background:#eae9e7;}

.link_list{line-height:30px;}

.link_list span{margin:0 0 0 6px;font-size:16px;color:#e86306;float:left;}

.link_list_a{width:920px;float:right;}

.link_list_a a{margin:0 5px 0 0;font-size:14px;color:#6c6868;word-break:keep-all;white-space:nowrap;}

.footer{padding:65px 0 65px 0;background:#557acc;}

.footer_logo{margin:20px 0 0 -100px;display:inline;float:left;}

.footer_about{width:620px;margin:0 0 0 25px;display:inline;color:#fff;font-size:12px;float:left;}

.footer_about h5{line-height:42px;padding:0 0 9px 0;font-weight:normal;font-size:20px;}

.footer_about p{line-height:28px;font-size:12px;}

.footer_about a{margin:0 5px;color:#fff;}

.footer_about a:first-child{margin:0 5px 0 0;}

.footer_code{width:306px;margin:20px -100px 0 0;color:#fff;float:right;}

.footer_code div{width:96px;margin:0 3px;display:inline;text-align:center;float:left;}

.footer_code p{line-height:28px;font-size:12px;}

.footer_p{padding:35px 0 0 0;text-align:center;color:#fff;font-size:12px;}

.footer_div{width:607px;}

/*后改的footer样式*/

.new-footer {

    margin: 0 auto;

    width: 1000px;

    padding: 20px 0;

}

 .footer-botm {

     height: 35px;

    border-bottom: 1px solid #b3b3b3;

}

.background {

    width: 100%;

    background: #eae9e7;

}

.new-footer .footerNav {

    overflow: hidden;

    width: 400px;

    margin: 0 auto;

    height: 45px;

}

.new-footer .footerNav li {

    float: left;

    text-align: center;

}

.new-footer .footerNav li a {

    float: left;

    width: 90px;

    height: 35px;

    line-height: 35px;

    color: #505050;

    margin-right: 20px;

    font-size: 16px;

    text-decoration: none;

    position: relative;

}

.new-footer .footerNav li a em{

    position: absolute;

    bottom: -8px;

    left: 50%;

    width: 18px;

    height: 8px;

    background: url(../images/beyo/dot.png) no-repeat;

}

.footer-latbe {

    overflow: hidden;

    padding-top: 20px;



}

.footer-list {

    margin-left: -20px;

}

.footer-list li {

    float: left;

    margin-bottom: 10px;

}

.footer-list li a {

    float: left;

    text-decoration: none;

    width: 125px;

    margin-left: 20px;

    text-align: center;

    color: #7c7c7c;

    font-size: 14px;





}



.center_mt25{margin-top:25px;}

.center_q_result{line-height:30px;padding:10px 5px;}

.center_q_result p{color:#757575;}

.center_q_result h5{font-weight:normal;font-size:16px;color:#ff843c;}

.center_q_result h5 span{padding:0 20px 0 0;}

.center_q_title{height:42px;line-height:42px;background:#f4f0e8;}

.center_q_title h5{padding:0 30px;color:#ff843c;font-size:16px;}

.center_q_info ul{padding:15px 0 0 0;}

.center_q_info li{line-height:30px;margin:10px 0 0 0;padding:0 30px;color:#757575;}

.center_q_diploma li{width:196px;margin:25px 30px 0 30px;float:left;}

.center_q_no{height:42px;line-height:42px;margin:25px 0 0 0;text-align:center;background:#f4f0e8;}

.center_q_no p{color:#ff3c3c;}

.center_list_info{width:100%;overflow:hidden;}

.center_list_info ul{width:772px;background:#fff;}

.center_list_info li{width:325px;height:43px;line-height:43px;padding:0 30px;background:#fff;color:#757575;border-bottom:1px solid #f4f0e8;border-right:1px solid #f4f0e8;text-overflow:ellipsis;overflow:hidden;white-space:nowrap;float:left;}

.center_list_info li a{color:#757575;}

.center_q_sub{background:#fff;}

.center_q_form{padding:14px 200px 0 150px;}

.center_q_form_list{height:36px;margin:13px 0 0 0;color:#757575;}

.center_q_form_txt{width:80px;line-height:36px;text-align:left;color:#8c8c8c;}

.center_q_form_box{width:330px;}

.center_q_form_box input{width:308px;height:24px;line-height:24px;padding:5px 10px;border:1px solid #d1d1d1;background:#fff;color:#5f5f5f;}

.center_q_form_submit{width:171px;margin:25px auto 0 auto;padding:0 0 35px 0;text-align:center;}

.center_q_form_submit input{width:100%;height:38px;font-weight:bold;font-family:"微软雅黑";background:#f36442;color:#fff;font-size:16px;cursor:pointer;border-radius:8px;}

.floating{position:fixed;left:0;bottom:120px;z-index:100;}

.floating_close{position:absolute;right:25px;top:10px;}



.map_main_body{width:920px;margin:0 auto;}

.map_title{height:42px;line-height:42px;margin:14px 0 0 0;background:#f4f0e8;}

.map_title h5{padding:0 30px;color:#ff843c;font-size:16px;}

.map_title h5 a{color:#ff843c;}

.map_info{width:100%;padding:8px 0 21px 0;overflow:hidden;}

.map_info a{margin:20px 10px 0 20px;padding:0 0 0 22px;display:inline-block;background:url(../images/map_icon.png) 0 center no-repeat;color:#757575;}



.top{position:fixed;right:30px;bottom:30px;cursor:pointer;display:none;z-index:20;}

.center_q_crede{margin-top:25px;padding:42px 60px;background:#fff;}
.center_list_info_txt{line-height:26px;padding:14px 30px;background:#fff;color:#666;}
.orange{color:#f18a23;}
.block{width:2em;float:left;}
.block_txt{margin-left:2em;display: block;}