/* CSS Document */
/*-公用样式--*/
img { border: 0 none; vertical-align: top; }
ul, li { list-style-type: none; }
h1, h2, h3, h4, h5, h6 { font-size: 14px; }
body, input, select, button, textarea { font-size: 12px;font-family: Tahoma, Geneva,sans-serif; }
button { cursor: pointer; }
i, em, cite { font-style: normal; }
body {	width:100%;
	height:auto;
	margin: 0px auto;
	font-size: 12px;
	color:#363636;
	text-align:center;
	overflow-x:hidden;
	background:#FFF;
	}
div{
	text-align:left;
}
*{
	margin: 0px;
	padding: 0px;
}
*:focus { outline: none; }

div{
	text-align:left;
}
ul,ol,li{
	list-style-type:none;
}
img{
	border:none;
}
a{
	color:#333;
	font-size:12px;
	text-decoration:none;
}
a:hover{
	color:#186d1a;
}
.center{
	margin:0px auto;
}
.f_r{
	float:right;
}
.f_l{
	float:left;
}
.f_c{
	clear:both;
}
.box{
	width:1000px;
	height:auto;
	overflow:hidden;
	margin:0px auto;
}
.clearfix:after { visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */
.post1 p{ font-size:14px; line-height:22px;  padding-bottom:15px;}
/*----头部--*/

.top{
	width:100%;
	height:30px;
	background:#626367;
}
.topc{
	height:30px;
}
.topc p{
	line-height:30px;
	font-size:12px;
}
.topc .f_l{
	color:#fff9f9;
}
.topc .f_r{
	color:#bababa;
}
.topc .f_r a{
	color:#bababa;
	padding:0px 5px;
}
.topc .f_r a:Hover{
	color:#fff;
}
.header{
	height:126px;
	width:100%;
	background:url(../images/topbg.png) left center no-repeat;
	overflow:hidden;
}
.header-box{
	height:126px;
}
.logo{
	width:428px;
	height:99px;
	overflow:hidden;
	float:left;
	margin-top:25px;}
.logo a{
	display:block;
	width:428px;
	height:99px;
	overflow:hidden;
	text-indent:-9999px;
	background:url(../images/ks_03.png) left center no-repeat;
	
}
.phone{
	height:70px;
	width:223px;
	overflow:hidden;
	float:right;
	margin-top:30px;
}
.phone-title{
	height:30px;
	line-height:30px;
	background:url(../images/ks_06.png) left center no-repeat;
	text-indent:35px;
	font-family:"微软雅黑";
	font-size:14px;
	color:#666;
}
.phone-num{
	height:30px;
	line-height:30px;
	font-family:"微软雅黑";
	color:#186d1a;
	font-size:28px;
	font-weight:bold;
}
.nav{
	height:37px;
	width:100%;
	background:#186d1a;
	overflow:hidden;
}
.nav-box{
	height:37px;
}
.navlists{
	height:37px;
	width:805px;
	overflow:hidden;
	float:left;
}
.navlists a{
	display:block;
	width:auto;
	line-height:37px;
	padding:0px 30px;
	font-family:"微软雅黑";
	font-size:14px;
	color:#fff;
	float:left;
}
.navlists a:Hover{
	background:#0f4f11;
}
.search-box{
	float:right;
	width:166px;
	height:26px;
	background:url(../images/sbg.png) left center no-repeat;
	margin-top:5px;
}
.scon{
	height:26px;
	background:none;
	border:none;
	width:140px;
	float:right;
	color:#666;
	line-height:26px;
}
.sbnt{
	width:26px;
	height:26px;
	background:url(../images/ks_11.png)  center no-repeat;
	float:left;
	border:none;
	cursor:pointer;
}

/* banner */
.banner-box{
	width:100%;
	height:459px;
	overflow:hidden;
	margin:0px auto;
	position:relative;
}
.banner{height:459px;overflow:hidden;}
.banner .d1{width:100%;height:459px;display:block;position:absolute;left:0px;top:0px;}
.banner .d2{width:100%;height:30px;clear:both;position:absolute;z-index:2;left:0px;top:420px;}
.banner .d2 ul{float:left;position:absolute;left:55%;top:0;margin:0 0 0 -96px;display:inline;}
.banner .d2 li{width:17px;height:15px;overflow:hidden;cursor:pointer;background:url(../images/img1.png) no-repeat center;float:left;margin:0 3px;display:inline;}
.banner .d2 li.nuw{background:url(../images/img1_1.png) no-repeat center;}



.footer{
	width:100%;
	height:77px;
	background:#cac9c9;
}