* { box-sizing: border-box; -webkit-text-size-adjust: none; outline: none; }
html { height: 100%; }
body { height: 100%; margin: 0; padding: 0; font: inherit; line-height: normal; }
header, nav, main, img, form, p { margin: 0; padding: 0; border: 0; }
ul, ol { margin: 0; padding: 0; list-style-type: none; }
hr, dl, dt, dd { margin: 0px; padding: 0px; }
table { border-collapse: collapse; border-spacing: 0px; }
tbody { border-collapse: collapse; border-spacing: 0px; }
pre { margin: 0px; padding: 0px; border: 0px; overflow: hidden; font-family: inherit; white-space: pre-wrap; white-space: -moz-pre-wrap; white-space: -pre-wrap; white-space: -o-pre-wrap; word-wrap: break-word; word-break: break-all; }
select, input, textarea, button { max-width: 100%; font-size: inherit; padding: 2px 5px; font-family: inherit; }
a { text-decoration: none; color: inherit; }
a:hover { text-decoration: none; color: inherit; }
th { text-align: left; }
td { word-wrap: break-word; word-break: break-all; }
ins, em { text-decoration: none; font-style: normal; }
h1, h2, h3, h4 { padding: 0; margin: 0; font-size: inherit; font-weight: inherit; }
input[type=submit], input[type=image], button { cursor: pointer; }
button, input[type=text], input[type=password], input[type=file], input[type=number], input[type=tel], input[type=button], input[type=submit], input[type=reset], select, textarea { -webkit-appearance: none; color: inherit; }





.g_f9 { font-size: 9px; }
.g_f10 { font-size: 10px; }
.g_f11 { font-size: 11px; }
.g_f12 { font-size: 12px; }
.g_f13 { font-size: 13px; }
.g_f14 { font-size: 14px; }
.g_f15 { font-size: 15px; }
.g_f16 { font-size: 16px; }
.g_f17 { font-size: 17px; }
.g_f18 { font-size: 18px; }

.g_ca { color: #aaa; }
.g_c9 { color: #999; }
.g_c8 { color: #888; }
.g_c7 { color: #777; }
.g_c6 { color: #666; }
.g_c5 { color: #555; }
.g_c4 { color: #444; }
.g_c3 { color: #333; }
.g_c2 { color: #222; }
.g_c1 { color: #111; }
.g_c0 { color: #000; }
.g_co { color: #f30; }
.g_cr { color: red !important; }
.g_cg { color: green !important; }
.g_cb { color: blue !important; }

.g_l { float: left; }
.g_r { float: right; }
.g_c { clear: both !important; }
.g_c::after { content: ''; display: block; clear: both; }
.g_vm { vertical-align: middle; }
.g_dib { display: inline-block; }

.g_h15 { line-height: 1.5em; }
.g_h18 { line-height: 1.8em; }
.g_h20 { line-height: 2.0em; }
.g_mt5 { margin-top: 5px !important; }
.g_mt10 { margin-top: 10px !important; }
.g_mt20 { margin-top: 20px !important; }
.g_mb5 { margin-bottom: 5px !important; }
.g_mb10 { margin-bottom: 10px !important; }
.g_mb20 { margin-bottom: 20px !important; }
.g_ml5 { margin-left: 5px !important; }
.g_ml10 { margin-left: 10px !important; }
.g_ml20 { margin-left: 20px !important; }
.g_mr5 { margin-right: 5px !important; }
.g_mr10 { margin-right: 10px !important; }
.g_mr20 { margin-right: 20px !important; }


.g_tform { width: 100%; text-align: left; }
.g_tform > tbody > tr > th, .g_tform > tbody > tr > td { padding: 10px; vertical-align: top; }
.g_tform > tbody > tr > th.p0 { padding-top: 10px; }
.g_tform > tbody > tr > td.p0 { padding-top: 0; }
.g_tform > tbody > tr > th { padding-top: 14px; text-align: right; font-weight: normal; }
.g_tform.p2 > tbody > tr > th, .g_tform.p2 > tbody > tr > td { padding: 2px; }
.g_tform.p5 > tbody > tr > th, .g_tform.p5 > tbody > tr > td { padding: 5px; }

.g_tlist { width: 100%; text-align: left; float: none !important; float: left; }
.g_tlist > thead { background: #f0f0f0; }
.g_tlist > thead > tr > th { font-weight: bold; }
.g_tlist > thead > tr.l, .g_tlist > tbody > tr.l { border-bottom: 1px dotted #ccc; }
.g_tlist > thead > tr > th, .g_tlist > thead > tr > td { padding: 10px; text-align: left; vertical-align: top; }
.g_tlist > tbody > tr > th, .g_tlist > tbody > tr > td { padding: 10px; text-align: left; vertical-align: top; }
.g_tlist > thead > tr > th.r, .g_tlist > thead > tr > td.r { text-align: right; }
.g_tlist > tbody > tr > th.r, .g_tlist > tbody > tr > td.r { text-align: right; }
.g_tlist.vc > thead > tr > th, .g_tlist.vc > thead > tr > td { vertical-align: middle; }
.g_tlist.vc > tbody > tr > th, .g_tlist.vc > tbody > tr > td { vertical-align: middle; }
.g_tlist > tbody > tr > td.vc { vertical-align: middle; }
.g_tlist.p2 > thead > tr > th, .g_tlist.p2 > thead > tr > td { padding: 2px; }
.g_tlist.p2 > tbody > tr > th, .g_tlist.p2 > tbody > tr > td { padding: 2px; }
.g_tlist.p5 > thead > tr > th, .g_tlist.p5 > thead > tr > td { padding: 5px; }
.g_tlist.p5 > tbody > tr > th, .g_tlist.p5 > tbody > tr > td { padding: 5px; }
.g_tlist.p8 > thead > tr > th, .g_tlist.p8 > thead > tr > td { padding: 8px; }
.g_tlist.p8 > tbody > tr > th, .g_tlist.p8 > tbody > tr > td { padding: 8px; }
.g_tlist.p15 > thead > tr > th, .g_tlist.p15 > thead > tr > td { padding: 15px; }
.g_tlist.p15 > tbody > tr > th, .g_tlist.p15 > tbody > tr > td { padding: 15px; }

.g_tdata { text-align: left; }
.g_tdata > tbody > tr > th, .g_tdata > tbody > tr > td { padding: 10px; }
.g_tdata > tbody > tr > th { text-align: right; font-weight: normal; }
.g_tdata.p5 > tbody > tr > th, .g_tdata.p5 > tbody > tr > td { padding: 5px; vertical-align: top; }
.g_tdata.p8 > tbody > tr > th, .g_tdata.p8 > tbody > tr > td { padding: 8px; vertical-align: top; }


.g_it { height: 30px; line-height: 1em; padding: 0 10px; border: 1px solid #ddd; transition: 0.3s ease; }
select.g_it { height: 30px; line-height: 1em; padding: 0 10px; border: 1px solid #ddd; transition: 0.3s ease; }
.g_it:focus { border: 1px solid #5cf; }
.g_ita { line-height: 1.5em; padding: 10px; border: 1px solid #ddd; transition: 0.3s ease; }
.g_ita:focus { border: 1px solid #5cf; }
.g_btn { display: inline-block; height: 30px; font-size: 14px; line-height: 30px; border-radius: 3px; background: #ccc; color: #767676; cursor: pointer; border: 0; padding: 0; padding-left: 10px; padding-right: 10px; }
.g_btn:hover { text-decoration: none; color: #444; }
.g_btn.m { height: 20px; font-size: 12px; line-height: 20px; padding-left: 5px; padding-right: 5px; }
.g_btn.m:hover { color: #444; }
.g_btn.b { height: 40px; font-size: 15px; line-height: 40px; padding-left: 15px; padding-right: 15px; }
.g_btn.b:hover { color: #444; }
.g_btn.on { background: #0ae; color: #eee; }
.g_btn.on:hover { color: #fff; }


.g_tip { padding: 5px 10px; border-radius: 5px; font-size: 12px; border: 0; }
.g_tip.m { padding: 2px 3px; border-radius: 2px; font-size: 10px; border: 0; line-height: normal; }
.g_tip.t { padding: 10px 20px; background: #f0f0f0; border: 1px solid #ccc; border-radius: 10px; }
.g_tip.r { background: red; color: #fff; }
.g_tip.g { background: #2a0; color: #fff; }

.g_page { clear: both; text-align: center; font-size: 16px; line-height: 2.2em; overflow: hidden; }
.g_page > ul.list { display: inline-block; }
.g_page > ul.list > li { float: left; margin: 0 5px; }
.g_page > ul.list > li a { display: inline-block; background: #e0e0e0; padding: 0 15px; border-radius: 3px; text-align: center; }
.g_page > ul.list > li a:hover, .g_page > ul.list > li a.on { background: #00baff; color: #fff; text-decoration: none; }
.g_page > ul.list > li.prev a, .g_page > ul.list > li.next a { background: none; color: #999; padding: 0 25px; }
.g_page > ul.list > li.prev a:hover, .g_page > ul.list > li.next a:hover { color: #00baff; }
.g_page > p.tip { display: none; font-size: 12px; color: #999; }

.g_fsearch { padding: 10px 20px; background: #f0f0f0; margin: 0 0 20px; border-radius: 5px; }
.g_fsearch > * { vertical-align: middle; }

.g_tablist { border-bottom: 1px solid #0ae; clear: both; }
.g_tablist > button { float: left; display: inline-block; margin: 2px 5px 0 0; padding: 5px 20px; background: #f0f0f0; color: #444; border: 0; border-radius: 3px 3px 0 0; cursor: pointer; }
.g_tablist > button:hover { background: #e0e0e0; }
.g_tablist > button.on { padding: 6px 20px; margin-top: 0; background: #0ae; color: #fff; border: 0; border-radius: 3px 3px 0 0; }


.g_animation.fade { opacity: 0; transition: 1s ease; }
.g_animation.translate { opacity: 0.2; transform: translateY(300px); transition: 1s ease; }
.g_animation.translatex { opacity: 0.2; transform: translateX(300px); transition: 1s ease; }
.g_animation.translate-x { opacity: 0.2; transform: translateX(-300px); transition: 1s ease; }
.g_animation.rotate { opacity: 0.2; transform: rotateY(-180deg) rotateZ(45deg); filter: blur(5px); transition: 0.5s ease; }
.g_animation.scale { opacity: 0.2; transform: scale(0.6,0.6); transition: 0.5s ease; }
.g_animation.reset { opacity: 1; transform: none; filter: none; }

.g_hover { }
.g_hover.scale,
.g_hover .scale { transition: 0.5s ease; }
.g_hover:hover.scale,
.g_hover:hover .scale { transform: scale(1.05,1.05); }

.g_shelter { position: fixed; z-index: 1000; opacity: 0; left: 0; right: 0; top: 0; bottom: 0; width: 100%; height: 100%; background: rgba(0,0,0,0.5); transition: .3s ease; }
.g_shelter.show { opacity: 1; }
.g_shelter td { vertical-align: middle; text-align: center; }

.g_ell { display: block; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }





