/* 
* @Author: anchen
* @Date:   2016-08-23 10:47:22
* @Last Modified by:   anchen
* @Last Modified time: 2016-09-02 14:40:14
*/
/*头部导航开始*/


/*轮播图片*/
.learning_banner{
    width:100%;
    height:600px;
    background: url(../images/learning_banner.jpg) no-repeat center top;
    background-size: cover;
     position: relative;
    overflow: hidden;
}
.learning_banner .learning_content {
    width:1200px;
    height:600px;
    margin:0 auto;
    position:relative;

}
.learning_page01{
    position:absolute;
    margin-top:105px;
    left:50%;
    width:326px;
    margin-left:-163px;
    font-size: 18px;
    line-height: 24px; 
   
    text-align: left;
}

.slidLinkBtn {
    position: relative;
    font: 400 16px "Microsoft Yahei";
    display: inline-block;
    margin-right: 40px;
    color: #df001f;
    cursor: pointer;
    -webkit-transition: all 200ms ease-out;
    transition: all 200ms ease-out;
}


.slidLinkBtn i {
    position: absolute;
    top: 0px;
    right: -18px;
    color: #df001f;
    margin-left: 5px;
    font-size: 16px;
    -webkit-transition: all 200ms ease-out;
    transition: all 200ms ease-out;
}
.slidLinkBtn:hover {
    color: #df001f;
}
.slidLinkBtn:hover i {
    color: #df001f;
    margin: 0 -3px 0 8px;
}
.learning_page01 .slidLinkBtn{
    margin-top:20px;
    margin-left:120px;
}

/*海风智能学习中心*/
.section {
    position: relative;
    overflow: hidden;
}
.lear_page01{
        height: 620px;
    text-align: center;
    background-repeat: no-repeat;
    background-image: url(../images/lear_page01.jpg);
    background-position: center center;
}
.lear_title {
     font: 200 40px/60px "Microsoft Yahei";
     color:#3d4247;
}
.min_lear_t {
   font-size:40px;
    color:#333238;
}
.lear_page01 .lear_text{
    width:600px;
    text-align:left;
    margin-top:110px;
    margin-left:30px;
} 
.lear_page01 .lear_text p{
     font: 400 14px/30px "Microsoft Yahei";
     color:#8a9299;
     margin:10px 0;
}
.lear_page02{
    height:560px;
    text-align: center;
    background-repeat: no-repeat;
    background-image: url(../images/lear_page02.jpg);
    background-position: center center;
}
.lear_page02 .lear_text{
    margin:86px auto;
    width:540px;
}
.lear_page02 .lear_text p{
     font: 400 14px/30px "Microsoft Yahei";
     color:#8a9299;
     margin:20px 0;
}
.lear_page03{
    height:620px;
    text-align: center;
    background-repeat: no-repeat;
    background-image: url(../images/lear_page03.jpg);
    background-position: center center;
}
.lear_page03 .lear_text{
    width:515px;
    text-align:left;
    margin-top:190px;
    margin-left:30px;
} 
.lear_page03 .lear_text p{
     font: 400 14px/24px "Microsoft Yahei";
     color:#8a9299;
        margin-top:20px;
}
.lear_page03 .lear_text .slidLinkBtn {
    margin-top:20px;
}
.lear_page04{
    height:620px;
    text-align: center;
    background-repeat: no-repeat;
    background-image: url(../images/lear_page04.jpg);
    background-position: center center;
}
.lear_page04 .lear_text{
    margin:50px auto;
    width:515px;
}
.lear_page04 .lear_text p,.lear_page05 .lear_text p{
     font: 400 14px/24px "Microsoft Yahei";
     color:#8a9299;
    margin:20px 0;
}
.lear_page05{
    height:400px;
    text-align: center;
   background:#fff;
}
.lear_page05 .lear_text{
    margin:50px auto;
    width:515px;
}
.lear_page05 .lear_text p{
   margin:40px 0;
}
/*footer*/
.footer {
    width:100%;
    height:60px;
    padding:20px 0;
    background:#323237;
}
.footer_main{
    text-align:center;
    color: #777781;
     font: 400 12px/30px "Microsoft Yahei";
}
.footer_main a{
    font: 400 12px/30px "Microsoft Yahei";
    padding:0 12px;
    color: #777781;
}
 .footer_main a:hover {
  color: #aaaaaa;
}
.footer p {
    color: #60606c;
    font: 400 12px/30px "Tahoma";
    text-align: center;
}
