@charset "UTF-8";
/*初始化css样式*/
body,div,span,a,ul,li,h1,h2,h3,h4,h5,h6,ul,li,dl,dt,dd,form,input,textarea,p,header,nav{ border: 0px; margin: 0; padding: 0; font-family: "Microsoft YaHei";}
ul,li{ list-style: none;}
h1,h2,h3,h4,h5,h6{ font-weight: normal;}
a{ text-decoration: none; border: 0px;}
input,textarea{ border: 0px;}
a:hover{ color: #d40300;}
img{ border: 0px;}
/*共有css样式*/
.fl{ float: left;}
.fr{ float: right;}
.clear{ clear: both;}
.dsbnone{ display: none;}
.dsblock{ display: block;}

/*文本溢出隐藏 显示省略号*/
.one_hidden{overflow: hidden;text-overflow:ellipsis;white-space: nowrap;}
.tw_hidden{display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 2;overflow: hidden;}
.tr_hidden{display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 3;overflow: hidden;}
.fu_hidden{display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 4;overflow: hidden;}
.fw_hidden{display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 5;overflow: hidden;}
/*文本溢出隐藏 显示省略号*/
/*字体居中*/
.text-c{ text-align: center;}
.text-r{ text-align: right;}
.ovhidden{ overflow: hidden;}
/*英文单词 大小写的设置*/

.text-tc{text-transform : capitalize;/*首字母大写*/}
.text-tu{text-transform: uppercase;/*全部大写*/}










/*margin值*/
.m-auto{ margin: 0 auto;}

/*margin-top*/
.m-t-5{ margin-top: 5px;}
.m-t-8{ margin-top: 8px;}
.m-t-10{ margin-top: 10px;}
.m-t-16{ margin-top: 16px;}
.m-t-22{ margin-top: 22px;}
.m-t-30{ margin-top: 30px;}
.m-t-45{ margin-top: 45px;}

.m-lr-11{ margin-left: 11px; margin-right: 11px;}
.m-lr-17{ margin-left: 17px; margin-right: 17px;}

.m-l-14{ margin-left: 14px;}

.m-r-14{ margin-right: 14px;}


/*margin-bottom*/
.m-b-10{ margin-bottom: 10px;}
.m-b-15{ margin-bottom: 15px;}
.m-b-30{ margin-bottom: 30px;}
.m-b-35{ margin-bottom: 35px;}
.m-b-40{ margin-bottom: 40px;}
.m-b-50{ margin-bottom: 50px;}
.m-b-60{ margin-bottom: 60px;}

/*margin-left*/
.m-l-12{ margin-left: 12px;}
.m-l-15{ margin-left: 15px;}
.m-l-20{ margin-left: 20px;}
.m-l-90{ margin-left: 90px;}
.m-l-185{ margin-left: 185px;}


/*padding值*/
.p-t-15{ padding-top: 15px;}
.p-t-20{ padding-top: 20px;}
.pt-25{ padding-top: 25px;}
.p-t-30{ padding-top: 30px;}
.p-t-40{ padding-top: 40px;}
.p-t-50{ padding-top: 50px;}

.p-l-0{ padding-left: 0px;}
.p-l-30{ padding-left: 30px;}
.p-l-35{ padding-left: 35px;}
.p-l-50{ padding-left: 50px;}
.p-lr-15{ padding: 0px 15px;}
.p-lr-25{padding-left: 25px; padding-right: 25px;}

.p-b-5{ padding-bottom: 5px;}
.p-b-15{ padding-bottom: 15px;}
.p-b-20{ padding-bottom: 20px;}
.p-b-30{ padding-bottom: 30px;}
.p-b-40{ padding-bottom: 40px;}
.p-b-42{ padding-bottom: 42px;}
.p-b-55{ padding-bottom: 55px;}
.p-b-65{ padding-bottom: 65px;}
.p-b-115{ padding-bottom: 115px;}
.p-td-15{ padding: 15px 0px;}

/*字体的粗细的设置*/
.font-b1{ font-weight: 100;}
.font-b9{ font-weight: 900;}
/*font-color的设置*/
.ftc-w{ color: #ffffff;}
.ftc-b{ color: #000000;}
.ftc-52{ color: #525252;}
.ftc-re04{ color: #e04840;}
.ftc-6e{ color: #6e6e6e;}
.ftc-7c{ color: #7c7c7c;}
.ftc-9c{ color: #9c9c9c;}
.ftc-7e{ color: #7e7e7e;}
.ftc-4e{ color: #4e4e4e;}
.ftc-61{ color: #616161;}
.ftc-d60000{ color: #d60000;}
.ftc-59{ color: #595959;}
.ftc-ba{ color: #bababa;}
.ftc-01{ color: #010101;}
.ftc-a1{ color: #a1a1a1;}
.ftc-e824{ color: #e82424;}
.ftc-2dbe7d{ color: #2dbe7d;}

.fs-12{ font-size:12px;}
.fs-14{ font-size: 14px;}
.fs-16{ font-size: 16px;}
.fs-18{ font-size: 18px;}
.fs-20{ font-size: 20px;}
.fs-22{ font-size: 22px;}
.fs-24{ font-size: 24px;}
.fs-30{ font-size: 30px;}

.f-lin2{display:inline-block;/*让span变为块状元素，只有块状元素可以缩放*/transform:scale(1,3);-ms-transform:scale(1,3);-webkit-transform:scale(1,3);-moz-transform:scale(1,3);-o-transform:scale(1,3);}

/*background-color的设置*/
.bg-cf9f9f9{ background-color: #f9f9f9;}
.bg-cfff{ background-color: #ffffff;}
.bg-cf5{ background-color: #f5f5f5;}
.bg-c393c41{ background-color: #393c41;}
.bg-c292a2e{ background-color: #292a2e;}
.bg-cd60000{ background-color: #d60000;}
.bg-c222936{ background-color: #222936;}
.bg-ce04840{ background-color: #e04840;}
.bg-cdd2{ background-color: #dd2222;}
.bg-c333{ background-color: #333333;}


.tzc_tubg{ background: url("../images/zc_tubg.jpg") no-repeat left bottom;}
.t_icon{ background: url("../images/t_icon.png") no-repeat left top;}
.bg-iserver{ background: url("../images/h_serverbg.jpg") no-repeat center top;}
.bg-aboutbg{ background: url("../images/about_bg.png") no-repeat 0px 20px;}
.bg-iteam{ background: url("../images/h_teambg.jpg") no-repeat center top;}
.subnav_mes{ background: url("../images/subnav_mes.png") no-repeat left center; font-size: 15px; color: #444444; text-indent: 74px;}
.join_bg{ background: url("../images/join_bg.jpg") no-repeat top right;}
/*border的设置*/
.bd-t-s54{ border-top: 1px solid #545454;}
.bd-t-s434{ border-top: 1px solid #43464b;}
.bd-t-sf2{ border-top: 1px solid #f2f2f2;}
.nb-t{ border-top: 0px;}

.bd-b-sf5{ border-bottom: 1px solid #f5f5f5;}
.bd-b-sd4{ border-bottom: 1px solid #d4d4d4;}
.bd-b-dd1{border-bottom: 1px dashed #d1d1d1;}

.nb-b{ border-bottom: 0px;}



.bd-sea{ border: 1px solid #eaeaea;}
.b-lrd-sea{ border: 1px solid #eaeaea;}





/*width的设置*/
.w-all{ width:100%;}
.w-minw{ min-width: 1200px;}
.w-main{ width: 1200px;}

.w-4{ width: 4px;}
.w-96{ width: 96px;}
.w-110{ width: 110px;}
.w-150{ width: 150px;}
.w-160{ width: 160px;}
.w-178{ width: 178px;}
.w-140{ width: 140px;}
.w-170{ width: 170px;}
.w-180{ width: 180px;}
.w-200{ width: 200px;}
.w-240{ width: 240px;}
.w-246{ width: 246px;}
.w-270{ width: 270px;}
.w-280{ width: 280px;}
.w-300{ width: 300px;}
.w-320{ width: 320px;}
.w-330{ width: 330px;}
.w-380{ width: 380px;}
.w-470{ width: 470px;}
.w-520{ width: 520px;}
.w-640{ width: 640px;}
.w-945{ width: 945px;}
.w-930{ width: 930px;}
.w-980{ width: 980px;}


/*height star*/
.hg-20{ height: 20px;}
.hg-40{ height: 40px;}
.hg-50{ height: 50px;}
.hg-56{ height: 56px;}
.hg-150{ height: 150px;}
.hg-170{ height: 170px;}
.hg-155{ height: 155px;}
.hg-225{ height: 225px;}
.hg-250{ height: 250px;}
.hg-390{ height: 390px;}
.hg-400{ height: 400px;}

/*line-height 的设置*/
.line-h16{ line-height: 16px;}
.line-h18{ line-height: 18px;}
.line-h20{line-height: 20px;}
.line-h22{line-height: 22px;}
.line-h28{line-height: 28px;}
.line-h30{line-height: 30px;}
.line-h48{line-height: 48px;}
.line-h40{line-height: 40px;}
.line-h50{line-height: 50px;}
.line-h56{line-height: 56px;}
.line-h55{ line-height: 55px;}
.line-h75{ line-height: 75px;}
.line-h100{ line-height: 100px;}

/*箭头 start*/




/*网站分享*/
.bdshare-button-style1-32 a.top_icon{ background: url("../images/top_icon.png") no-repeat 0px 0px;width: 30px; height: 30px; display: block;}
.bdshare-button-style1-32 a.top_icon1{ background-position-y:0px; }
.bdshare-button-style1-32 a.top_icon2{ background-position-x:-31px;}
.bdshare-button-style1-32 a.top_icon3{ background-position-x:-62px;}
.bdshare-button-style1-32 a:hover{ background-position-y: -31px; transition: all 0.5s;}
/*网站分享*/

/*web nav start*/
nav.y_nav li{ float: left;}
nav.y_nav li a{ display: block;transition: all 1s;}
nav.y_nav li a.y_navactive{ color: #d60000;}
/*面包屑 crumbs start*/
.crumbshome{ padding-left: 35px; background: url("../images/crumbshome.gif") no-repeat left center; margin-left: 1px; margin-right: 17px;}

/*上一页下一页 start*/
.prevnext li span{ width: 66px; height: 26px; text-align: center; line-height: 26px; border: 1px solid #d7d7d7; font-size: 14px; color: #5b5b5b;}
.prevnext li a{  display: block; height: 28px;line-height: 28px; font-size: 14px; color: #5b5b5b;}

.prevnext li:hover span{ border-color:#d60000; background-color: #d60000; color: #ffffff;}

.html5zoo-arrow-left-0{ display:none;}



