body,h1,h2,h3,h4,h5,h6,dl,dt,dd,ul,ol,li,th,td,p,blockquote,pre,form,fieldset,legend,input,button,textarea,hr{margin:0;padding:0;}
body{font:12px/1.5 SimSun,Arial,ו,Helvetica,san-serif;color:#333;}
select,input,button{vertical-align:middle;font-size:100%;}
ul,ol{list-style:none;}
fieldset,img{border:0;}
em{font-style:normal;}
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden;}
.clearfix{display:inline-block;}
/* Hides from IE-mac \*/ * html .clearfix{height:1%;}
.clearfix{display:block;}
.clear{clear:both;height:0;font:0/0 Arial;visibility:hidden;}
/* End hide from IE-mac*/@charset "gb2312";body,h1,h2,h3,h4,h5,h6,dl,dt,dd,ul,ol,li,th,td,p,blockquote,pre,form,fieldset,legend,input,button,textarea,hr{margin:0;padding:0;}
body{font:12px/1.5 SimSun,Arial,Helvetica,san-serif;color:#333;}
select,input,button{vertical-align:middle;font-size:100%;}
ul,ol{list-style:none;}
fieldset,img{border:0;}
em{font-style:normal;}
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden;}
.clearfix{display:inline-block;}
/* Hides from IE-mac \*/ * html .clearfix{height:1%;}
.clearfix{display:block;}
.clear{clear:both;height:0;font:0/0 Arial;visibility:hidden;}
/* End hide from IE-mac*/ a{text-decoration:none;}
a:hover{text-decoration:underline;}
.l{float:left;}
.r{float:right;}
.w990{width:990px;margin:0 auto;}

.pic-head{background:#222;height:35px;line-height:35px;border-bottom:1px solid #2b2b2b;color:#666;margin-bottom:10px}
.picHeard-title{text-align:center;color:#999;position:relative;font-size:16px;width:100%;font-family:"Microsoft YaHei"}
.picHeard-title font{color:#999;font-size:16px}
.picHeard-title span{color:#666;position:absolute;top:0;font-family:'simsun';font-size:12px}
.picHeard-title a{color:#666}
.picHeard-title a:hover{color:#999}
.picHeard-title span{font-size:12px}
.picHeard-title span a{color:#666;font-size:12px}
.picHeard-title span label{display:inline-block;margin:0 5px}
.spanleftpic{left:30px}
.spanrightpic{right:30px}
.demo{text-align:center;width:1000px;position:relative;z-index:9}
.bottom-lists{width:739px;text-align:center;overflow:hidden}
.maxPic-box{position:relative}
.maxPic-box a{display:block;position:absolute;z-index:99999999;background:url("../images/maxBtn.png") no-repeat;width:34px;height:52px;top:50%;margin-top:-26px;cursor:pointer}
.maxPic-box a.maxBtn-l{left:30px}
.maxPic-box a.maxBtn-l:hover{background-position:0 -52px;top:50%}
.maxPic-box a.maxBtn-r{right:30px;background-position:-34px 0}
.maxPic-box a.maxBtn-r:hover{background-position:-34px -52px;top:50%}
.minPic{width:659px;height:128px;overflow:hidden;position:relative}
.maxPic{width:800px;margin:0 auto;height:600px}
.maxPicBox{width:800px;height:600px;display:table-cell;vertical-align:middle;margin-left:95px;margin:0 auto}
.maxPic span{width:0;height:100%;display:inline-block;vertical-align:middle}
.maxPic img{display:inline-block;text-align:center;vertical-align:middle}
.gallery_demo_unstyled{width:100000px;position:absolute;left:0}
.gallery_demo_unstyled li{float:left;display:table-cell;vertical-align:middle;text-align:center;width:100px;height:120px;line-height:120px;cursor:pointer;border:2px solid #101010;margin-right:7px}
.gallery_demo_unstyled li span{width:0;height:100%;display:inline-block;vertical-align:middle}
.gallery_demo_unstyled li.actives{border:2px solid #fff}
.gallery_demo_unstyled li img{display:inline-block;text-align:center;vertical-align:middle}
.Up-tuzu,.Next-tuzu{float:left;width:100px;height:120px;border:2px solid #303030;cursor:pointer;position:relative;overflow:hidden}
.Up-tuzu a,.Next-tuzu a{display:block}
.outpic{width:100px;height:120px;display:table-cell;vertical-align:middle;text-align:center}
.outpic span{width:0;height:100%;display:inline-block;vertical-align:middle}
.outpic img{display:inline-block;text-align:center;vertical-align:middle}
.Up-tuzu a.inpic,.Next-tuzu a.inpic{position:absolute;width:100px;text-align:center;left:0;bottom:5px;color:#fff;text-decoration:none;z-index:9}
.Next-tuzu{margin-left:20px}
.Up-tuzu{margin-right:20px}
.PicBtn-a{width:30px;height:124px;float:left}
.PicBtn-a a{background:url("../images/picbtn.png") no-repeat;display:block;width:30px;height:124px}
.PicBtn-a a.PicBtn-right{background-position:-30px 0}
.PicBtn-a-l{margin-right:10px}
.PicBtn-a-r{margin-left:10px}
.w-width2 .minPic{width:659px;height:83px;overflow:hidden;position:relative}
.w-width2 .maxPic{width:800px;margin:0 auto;min-height:600px}
.w-width2 .maxPic img{display:block;margin:0 auto}
.w-width2 .gallery_demo_unstyled{width:100000px;position:absolute;left:0}
.w-width2 .gallery_demo_unstyled li{float:left;display:table-cell;vertical-align:middle;text-align:center;width:100px;height:75px;line-height:75px;cursor:pointer;border:2px solid #101010;margin-right:7px}
.w-width2 .gallery_demo_unstyled li span{width:0;height:100%;display:inline-block;vertical-align:middle}
.w-width2 .gallery_demo_unstyled li.actives{border:2px solid #fff}
.w-width2 .gallery_demo_unstyled li img{display:inline-block;text-align:center;vertical-align:middle}
.w-width2 .Up-tuzu,.w-width2 .Next-tuzu{float:left;width:100px;height:75px;border:2px solid #303030;cursor:pointer;position:relative;overflow:hidden}
.Up-tuzu a,.Next-tuzu a{display:block}
.w-width2 .outpic{width:100px;height:75px;display:table-cell;vertical-align:middle;text-align:center}
.w-width2 .outpic span{width:0;height:100%;display:inline-block;vertical-align:middle}
.w-width2 .outpic img{display:inline-block;text-align:center;vertical-align:middle}
.w-width2 .Up-tuzu a.inpic,.w-width2 .Next-tuzu a.inpic{position:absolute;width:100px;text-align:center;left:0;bottom:5px;color:#fff;z-index:9}
.Next-tuzu{margin-left:20px}
.Up-tuzu{margin-right:20px}
.PicBtn-a{width:30px;height:83px;float:left}
.w-width2 .PicBtn-a a{background:url("../images/picbtn2.png") no-repeat;display:block;width:30px;height:83px}
.PicBtn-a a.PicBtn-right{background-position:-30px 0}
.PicBtn-a-l{margin-right:10px}
.PicBtn-a-r{margin-left:10px}
.Pic-pageln{height:43px;overflow:hidden;width:800px;margin:0 auto}
.Pic-pageln font{color:#fff}
.Pic-pageln span{display:inline-block;height:43px;line-height:43px;color:#666}
.Pic-pageln span a{_padding-top:15px;display:inline-block;margin-left:15px;height:43px;line-height:43px;color:#666}
.pic-r-span a{padding-top:3px}
.pic-r-span a i{vertical-align:middle;display:inline-block;width:15px;height:16px;background:url("../images/pic-ico.png") no-repeat;margin-right:5px}
.pic-r-span a.ico01 i.plays{background-position:-17px -25px}
.pic-r-span a.ico01 i.ins1{background-position:0 -25px}
.pic-r-span a.ico01 i.ins{background-position:0 0}
.pic-r-span a.ico01 i{background-position:-17px 0}
.pic-r-span a.ico02 i{background-position:-17px -49px}
.pic-r-span a.ico02 i:hover,.pic-r-span a.ico02 i.ins2{background-position:0 -49px}
.pic-r-span a.ico03 i{background-position:-17px -73px}
.pic-r-span a.ico03 i:hover,.pic-r-span a.ico03 i.ins3{background-position:0 -73px}
.pic-r-span a.ico04 i{background-position:-17px -100px}
.pic-r-span a.ico04 i:hover,.pic-r-span a.ico04 i.ins4{background-position:0 -100px}
.pic-r-span a.ico05 i{background-position:-17px -116px}
.pic-r-span a.ico05 i:hover,.pic-r-span a.ico05 i.ins5{background-position:0 -116px}
.pic-r-span a:hover{color:#fff}
.bottom-footer{height:224px;border:1px solid #2b2b2b;background:#222;margin-top:20px}
.bf-p{height:52px;line-height:52px;color:#fff;font-size:14px;font-weight:bold}
.bfooteroDiv-img{width:992px;height:137px;overflow:hidden}
.bfooteroDiv-img ul{width:10000px}
.bfooteroDiv-img ul li{border:1px solid #303030;padding:8px;width:164px;float:left;margin-right:20px}
.bfooteroDiv-img ul li img{display:block}
.bf-oDiv{width:162px;height:117px;position:relative;overflow:hidden}
.bf-oDiv span{position:absolute;width:162px;height:26px;left:0;bottom:0;_bottom:-1px;background:#000;filter:alpha(opacity=75);-moz-opacity:.75;opacity:.75}
.bf-alink{position:absolute;left:0;bottom:0;_bottom:-2px;overflow:hidden;color:#ccc;line-height:26px;height:26px;padding-left:7px}
.belle2 a.lista-cars,.belle1 a.lista-cars,.carbelle-2 a.lista-cars{background:none repeat scroll 0 0 rgba(0,0,0,0.5);_background:#000;display:inline-block;float:left;font-family:arial;height:20px;line-height:20px;padding:0 10px 0 10px;margin-left:0;bottom:10px;color:#fff}
.belle2-2{position:relative}
.NoneDiv span{width:240px}
.carbelle-1 div.NoneDiv a.lista-cars{position:absolute;margin-top:5px;height:30px;line-height:30px;bottom:0;background:0}
.w-width{margin-left:6px}
#viewNum{font-style:normal}
.prevspan{position:absolute;bottom:0;left:0;z-index:9;left:0;text-align:center;display:block;background:url("../images/bottomimg-zu.png") no-repeat;height:41px;width:112px;z-index:1}
.nextspan{position:absolute;bottom:-10px;left:0;z-index:9;left:0;text-align:center;display:block;background:url("../images/bottomimg-zu.png") no-repeat;height:41px;width:112px;z-index:1}
*html .prevspan{_background:0;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true,sizingMethod=scale,src='../images/bottomimg-zu.png') width:112px;height:41px;display:block;position:absolute;z-index:1}
*html .nextspan{_background:0;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true,sizingMethod=scale,src='../images/bottomimg-zu.png') width:112px;height:41px;display:block;position:absolute;z-index:1}
.indexbody-main{position:relative;z-index:99;width:100%;background:red}
.indexbody-left{width:50%;height:600px;position:absolute;left:0;z-index:99;filter:alpha(opacity=0);-moz-opacity:0;opacity:0;background:#000}
.indexbody-right{width:50%;height:600px;position:absolute;right:0;z-index:99;filter:alpha(opacity=0);-moz-opacity:0;opacity:0;background:#000}
.btn-float{width:1000px;margin:0 auto;position:relative;z-index:999}
.btn-float a{display:block;position:absolute;top:300px;z-index:9999;background:url("../images/maxBtn.png") no-repeat;width:34px;height:52px;margin-top:-26px;cursor:pointer}
.btn-float a.maxBtn-l{left:30px}
.btn-float a.maxBtn-l:hover{background-position:0 -52px;top:300px}
.btn-float a.maxBtn-r{right:30px;background-position:-34px 0}
.btn-float a.maxBtn-r:hover{background-position:-34px -52px;top:300px}