@charset "utf-8";
div,ul,li,form,p,dl,dt,dd,h1,h2,h3,h4,h5,h6,Images,a,form,img,input{margin:0; padding:0; list-style:none;}

.plc{ width:1200px; margin:0px auto 36px; border-bottom:1px #dbdbdb dotted; color:#a4a1a2; height:47px; line-height:47px; background:none; padding:0;}
.plc a{ color:#a4a1a2;}
.plc span{ display:none;}

.newny{ width:1200px; margin:0px auto 68px;}
.newny .leftn{ width:698px; float:left;}

.producr{ width:910px; float:right;}

.proleft{ width:250px; float:left;}
.proleft.ny{ width:221px; float:right;}
.cprname{ background:#a9cd2c; padding-left:35px; padding-top:14px; padding-bottom:14px; color:#fff; font-size:22px; line-height:25px;}
.cprname span{ font-size:20px;}
.prefl{ border-left:1px #dcdcdc solid; border-right:1px #dcdcdc solid;}
.prefl ul li{ border-bottom:1px #e7e2e2 solid;}
.prefl ul li a{ font-size:17px; line-height:47px; padding-left:35px; display:block;background:url(../images/product_11.jpg) center ; color:#154c64;}
.prefl ul li.cur a{background:url(../images/product_08.jpg) center no-repeat; color:#154c64;}

.prodtz{  font-family:"ו";}
.prodtz dl{ border:1px #dedede solid; height:230px; clear:both; margin-bottom:24px;}
.prodtz .cur{border:1px #124a62 solid;}
.prodtz dt{ width:340px; text-align:center; float:left; height:230px;border-right:1px #dedede solid; }
.prodtz dt img{ padding-top:10px; width:310px; overflow:hidden; }
.prodtz dd{ width:540px; float:left; padding-top:20px; overflow:hidden;margin-left:20px;}
.prodtz dd span a{font-size:18px; color:#F06143;}
.prodtz dd p{ padding-right:10px; font-size:14px;color:#6d6d6d; padding-top:20px; line-height:23px; height:120px;}
.prodtz dd em a{ color:#F06143;width:106px; display:block; font-style:normal; text-align:center; height:29px; line-height:29px; border:1px #d9d9d9 solid;}
.prodtz .prod_con .cur,.prodtz .prod_con dl:hover{box-shadow: 0 0 5px #EF6244;}
.prodtz  .prod_con .cur dd em a,.prod_con dl:hover dd em a{ color:#fff; background:#F06143; }


.topsxq{ background:#f2f2f2; height:221px; margin-bottom:40px; display:none;font-family:"ו";}
.topsxq dt{ float:right; margin-right:50px; margin-top:70px;}
.topsxq dt img{ width:150px; overflow:hidden;}
.topsxq dd{ margin-left:32px; margin-top:25px; width:660px; float:left; font-size:14px; color:#747474;}
.topsxq dd em{ color:#154c64; margin-bottom:10px; font-style:normal; line-height:26px; display:block;}
.topsxq dd span{ font-size:24px; display:block; color:#F06143; margin-bottom:15px;}
.topsxq dd p{ line-height:30px; font-size:14px;}

