@charset "utf-8";
body{ margin:0; padding:0; font-family:"微软雅黑"; font-size:12px; background:url(../images/bg.jpg) center center repeat; }
a:link{ text-decoration:none;}
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
a:active {
	text-decoration: none;
}
img{
	border:none;
	padding:0px;
	margin:0px;
}

h1{ padding:0; margin:0; font-size:16px;font-weight:normal;}
h2{ padding:0; margin:0; font-size:14px; font-weight:normal;}
h3{ padding:0; margin:0; font-size:12PX;font-weight:normal;}
.clr{ clear:both;}
.bas{color:#FFF;}
.bas:hover{ color:#F93;}
.lns{color:#333;}
.lns:hover{ color:#09F;}
/*首页开始*/
.heads{width:100%; margin: 0 auto; height:236px; background:url(../images/headbg.png) left top repeat-x; z-index:99999; position:relative;  }
.heads-m{ width:1002px; height:36px;  margin:0 auto; }
.logo{ width:1002px; height:129px; margin:0 auto; background:url(../images/logobg.jpg) right center no-repeat;} 
.nav{ width:1002px; height:61px; margin: 0 auto; background:url(../images/navbg.jpg) center center no-repeat;}
.nav li{ width:111px; height:47px; line-height:47px; float:left; text-align:center;}
.nav li a{ display:block; font-size:14px; font-weight:bold;}
.nav li a:hover{ background:url(../images/hover.jpg) center top no-repeat; color:#FFF;}
.xz{background:url(../images/hover.jpg) center top no-repeat; color:#FFF !important;}
.l{float:left; }
.r{ float:right;}
.content{ width:1002px;  margin:0 auto; background-color:#FFF; margin-top:-10px; }
/*banner图*/
.banner{ width:976px; height:358px; margin:0 auto; overflow:hidden; padding-top:14px;}
/*banner图js样式*/
.bannerbox { width:976px; height:358px; overflow: hidden; margin: 0px auto; }
#focus { width:976px; height:358px; clear: both; overflow: hidden; position: relative; float: left; }
    #focus ul { width:976px; height:358px; float: left; position: absolute; clear: both; padding: 0px; margin: 0px; overflow: hidden; }
        #focus ul li { float: left; width: 976px; height:358px; overflow: hidden; position: relative; padding: 0px; margin: 0px; }
    #focus .preNext { width:550px; height:358px; position: absolute; top: 0px; cursor: pointer; }
    #focus .pre { left: 0; background:url(../images/sprite.png) no-repeat left center; }
    #focus .next { right: 0; background:url(../images/sprite1.png) no-repeat right center; }
/*banner图js样式结束*/
/*内容*/

.mid-top{width:976px; height:132px; margin:0 auto; margin-top:20px; }
.mid-top-t{ width:976px; height:25px; line-height:25px;}
.mid-top-t span{font-size:16px; font-weight:bold; font-family:'微软雅黑';}
.mid-top-m{ width:966px; height:100px; margin:0 auto; }

.list-mid{ width:976px; height:314px;margin:0 auto; margin-top:14px;}
.more{ padding-right:10px; float:right;}
.list-mid-nr{ width:976px; height:273px; padding-top:14px; background:url(../images/listbg.jpg) center bottom no-repeat;}
.list-mid-nr-l{ width:403px; height:240px; float:left;}

/**幻灯样式**/
ul , li { list-style-type: none; overflow: hidden;}
#fcbx , #fcimg{ width: 403px; height: 240px;}
#fcbx div , #fcnum { top: -23px; height: 23px; margin-bottom: -23px; position:relative; }
#fcbx div { filter:alpha(opacity=25); -moz-opacity:0.25; opacity:0.25; background-color:#000; }
#fcnum { float:right; margin-right: 10px; }
#fcnum li{ float:left; background:#FFF; margin-left:5px; height:7px; width:7px; cursor: pointer; margin-top:8px;}
#fcnum li.crn { background-color:#F15D17; }
/**幻灯样式结束**/
.list-mid-nr-r{ width:523px; height:240px; float:right;}
.list-mid-nr-r li{ height:30px; line-height:30px; background:url(../images/jt.jpg) left center no-repeat;}
.list-mid-nr-r li a{ padding-left:20px;}

.list-pic{width:976px; height:240px; margin:0 auto; overflow:hidden;}
.list-pic-nr{ height:202px; }
.list-pic-nr li{ width:220px; height:190px; float:left; background:url(../images/picbg.png) center center no-repeat; text-align:center; margin-left:10px; padding:28px 4px 4px 4px; line-height:20PX;}
#demo {
background: #FFF;
overflow:hidden;

width: 970px;
}
#demo img {

}
#indemo {
float: left;
width: 800%;
height:220px;
}
#demo1 {
float: left;
}
#demo2 {
float: left;
}

.link{ width:820px; height:60px; margin-top:14px; margin:0 auto; background:url(../images/linkbg.jpg) center center no-repeat; padding-left:156px; line-height:60px; text-align:justify;}


.foot{ width:1002px; margin:0 auto; margin-top:14px; height:126px; background:url(../images/foot.jpg) center bottom no-repeat;}
.foot_zi{ width:976px; margin:0 auto;  line-height:25px; padding-top:30px; text-align:center; color:#fff;}


/*简介页*/
.about-banner{ width:976; height:218px; margin:0 auto; padding-top:16px; background:url(../images/ab-banner.jpg) center center no-repeat;}
.about-nr{ width:976PX; margin:0 auto;  padding-top:10px;}
/**/
.sidebar { margin:0px; padding: 0px;width:193px; float: left;  }
.maincontent{ margin:0px; padding:0px; float:right; margin-top:10px; width:784px; background:url(../images/maincontent_bg.png) no-repeat left top;  padding-bottom:30px;}
.sidetitle { margin:0px ; padding:0px; width:189px; height:60px; overflow: hidden;}
.sidebottom{ background:url(../images/side_bottom.png) no-repeat center top; width:189px; height:42px; overflow:hidden; }


.sidemenu {margin:0px; padding: 0px;width:189px;background:url(../images/side_bg.jpg) repeat-y right top;}

.sub { width:150px;display: inline-block; padding-left:20px; }
.sub li {display: block; width:150px; line-height:30px; border-bottom:1px solid #ebebeb; }
.sub li a { background:url(../images/listico2.jpg) no-repeat 5px center; line-height:30px; height:30px; overflow: hidden; color: #595959; padding-left:34px; font-size:13px; display:block; font-family:"微软雅黑"; font-weight:bold}
.sub li a:hover{ color: #eb5312; background:url(../images/listico1.jpg) no-repeat 5px  center;}
.sub li a.aon { color: #eb5312; display:block; background:url(../images/listico1.jpg) no-repeat 5px  center; }

.sub ul{ border-top:1px  solid  #ebebeb; display:none; }
.sub ul li a { background:url(../images/listico2.jpg) no-repeat 15px center; line-height:30px; height:30px; overflow: hidden; color: #595959; padding-left:30px; font-size:13px; display:block; font-family:"微软雅黑"; font-weight:normal;}
.sub ul li a:hover{ color: #eb5312; background:url(../images/listico1.jpg) no-repeat 15px  center;}
.sub ul li a.aon { color: #eb5312; display:block; background:url(../images/listico1.jpg) no-repeat  15px  center; }

.about-lx{ width:189px; padding-top:14px;}

/**/
.about-right{ width:774px; float:right; background:url(../images/maincontent_bg.png) center top no-repeat; height:auto !important; height:500px; min-height:500px; padding-top:24px;}
.about-right-top{ width:736px; margin:0 auto; height:44px; background:url(../images/column_bg.jpg) left 8px no-repeat;}
.qian{ color:#005cad; font-size:16px; font-weight:bold; padding:10px 0 0 10px;font-family:"微软雅黑"; }
.Current { float:right;
    background: url(../images/listico3.jpg) no-repeat left 9px;
    color: #7c7c7c;
    padding:10px 10px 0 20px;
	
}
.Current a {
    color: #7c7c7c;
}

.about-right-nr{ width:736px; margin:0 auto; line-height:24px; padding-top:10PX;}



/***********************新闻页**********************/
.xw-top{ width:720px; height:155px; margin:0 auto; border-bottom:1px solid #e4e4e4; padding-top:10px;}
.xw-top-l{ width:220px; height:128px; background:url(../images/xwtop.jpg) no-repeat 0 0; padding:4px 4px 4px 4px;}
.xw-top-r{ width:488px; height:138px;}
.xw-top-r h3{ font-size:15px; font-weight:bold; color:#126cbc;}
.xw-top-r p{ line-height:20px; color:#333;}
.more{ width:93px; height:21px;}
.xw-nr{ width:720px; margin:0 auto; height:300px; height:auto !important; min-height:300px;}
.xw-nr ul { padding-top:14px;}
.xw-nr li{ width:705px; height:30px; line-height:30px; background:url(../images/xwjt.png) left center no-repeat; color:#333; }
.xw-nr li a{ padding-left:20px;}
.fyys{ width:500px; height:30px; text-align:right; line-height:30px; padding:10px; font-family:"宋体"; color:#333;}


/*文章-内容*/
.zx_news_wz{  margin:0 auto; margin-top:10px;}
.zx_news_wz ul{ margin:0; padding:0;}
.zx_news_wz ul li{ list-style-type:none; display:block; line-height:25px; font-family:"微软雅黑";}
.zx_wz_ys{float:left; text-align:left; width:670px; line-height:22px;margin-top:10px; display:inline; padding-left:5px; padding-bottom:10px;}
.wznr{text-align:left; margin-top:15px;  height:auto !important; height:320px; min-height:320px;}
.zx_wz_ys a{ color:#333;}
.zx_wz_ys a:hover{ color:#F00;}
.red_12{ color:#F00 !important;}
.zx_wz_ys span{ display:inline;}


/*图片类*/
.ss_right_nr{ width:730px;  height:auto !important; height:415px;  min-height:415px; }
.ss_right_nr li span{ width:206px; text-align:center; height:20px; line-height:20px; margin:0 auto;}



/*留下我们*/







