@charset "utf-8";
/* CSS Document */
#wrapper{background:  url(../img/line.gif) center top no-repeat;}

#header {width: 1000px;margin: 0 auto;}
#header .logo{float: left;margin-top: 15px;}

#header .quality{padding-bottom:75px;background:url(../img/tel.gif) left bottom no-repeat;float: right;margin-top: 5px;}

#nav{width: 1000px;margin: 0 auto;position: relative;height: 150px;}
#nav li.ny-navLI{float: left;*display: inline;}
#nav a.ny-navA{float: left;width:97px;height:81px;display:block;background:url(../img/nav-bg.gif) 0 0 no-repeat;color:#fff;text-align:center;padding-top: 15px;font-weight: normal;font-size: 14px;font-family: Arial;position: relative;border-radius: 50%;*display: inline;}
#nav li a span{font:bold small-caps 15px arial;display:block; padding-top: 10px;}
#nav i{display: block;font-weight: bold;font-size: 16px;font-family: "微软雅黑";}
#nav b{font-size: 30px;}
#nav a.ny-navA:hover{text-decoration: none;background-position:0 100%;font-size: 0;}
#nav a.ny-navA:hover i,
#nav a.ny-navA:hover span{font-size: 0;}
#nav .i1{margin: 15px 0 0 0px;}
#nav .i2{margin: -10px 0 0 55px;}
#nav .i3{margin: 10px 0 0 55px;}
#nav .i4{margin: -25px 0 0 50px;}
#nav .i5{margin: -100px 0 0 0px;}
#nav .i6{margin: 30px 0 0 30px;*margin-left:-90px;}
#nav .i7{margin: 50px 0 0 30px;}
#nav .i8{margin:20px 0 0 30px;}


#nav li .ny-navUL{ position:absolute; background:#ffc611; top:97px;border:1px solid #d7070e; border-radius:10px; height:27px;z-index:9999; font:normal 13px/27px "微软雅黑"; display:none;}
#nav li .ny-navUL li{ float:left;vertical-align:middle; background:url(../img/nav_li.png) no-repeat right center;padding:0 10px; }
#nav li .ny-navUL li a{ text-decoration:none; color:#000;text-shadow:#ffc04a 3px 3px 4px; font-size:13px; color:#671e23;}
#nav li .ny-navUL li a:hover{color:#d50d00;text-shadow:#ffc04a 3px 3px 4px;}
#nav li .ny-navUL span{background:url(../img/nav_sjx.png) no-repeat; width:19px; height:10px; display:block; position:absolute;top:-10px;}
#nav li .ny-navUL .ny-navUL-span1{left:0;}
#nav li .ny-navUL .ny-navUL-span2{left:40px;}
#nav li .ny-navUL .ny-navUL-span3{left:100px;}
#nav li .ny-navUL .ny-navUL-span4{left:250px;}
#nav li .ny-navUL .ny-navUL-span5{left:30px;}
#nav li .ny-navUL .ny-navUL-span6{left:30px;}
#nav li .ny-navUL .ny-navUL-span7{left:210px;}
#nav li .ny-navUL .ny-navUL-span8{left:60px;}


#nav li .ny-navUL1{ width:160px;}
#nav li .ny-navUL2{ width:220px; top:95px; left:150px;}
#nav li .ny-navUL3{ width:690px; top:115px; left:240px;}
#nav li .ny-navUL4{ width:580px; top:80px; left:240px;}
#nav li .ny-navUL5{ width:220px; top:5px; right:225px;}
#nav li .ny-navUL6{ width:290px; top:135px; right:122px;}
#nav li .ny-navUL7{ width:360px; top:155px; right:100px;}
#nav li .ny-navUL8{ width:150px; top:125px; right:40px;}

#nav li .ny-navUL li.none{ background:none;}

#banner{text-align: center;height: 335px;width: 1000px;margin:0 auto;position: relative;overflow: hidden;}
#banner img{vertical-align: middle;}
#banner .size{width:100%;height:335px;overflow:hidden;position:relative;}
#banner .rslides li{width:100%;height:100%;}
#banner .rslides_nav{display: none;}
#banner .rslides_tabs{position: absolute;bottom: 10px;left: 0;width: 100%;}
#banner .rslides_tabs li{display: inline;}
#banner .rslides_tabs a{display: inline-block;width: 15px;height: 15px;border-radius: 50%;background-color: #c20412;margin-right: 5px;font-size: 0;}
#banner .rslides_tabs .rslides_here a{background-color: #fec003;}

.ny-pic{position:absolute; top:0;right:0;}


#main{width: 1000px;margin: 0 auto;position: relative;}
#aside{position: absolute;left: 0;top: 0;z-index: 1;}
#aside .page-name{display: block;margin-top: 15px;}
.menuBox{width: 245px;min-height: 299px;background:  url(../img/red_block.png) 0 0 no-repeat;display: inline-block;margin-top: 10px;margin-left: -20px;}
.menu{width: 212px;background:url(../img/m_c.png) 0 88px no-repeat;margin-left: 20px;margin-top: 15px;}
.m-t{width: 100%;background:  url(../img/m_t.png) 0 0 no-repeat;}
.m-b{width: 100%;background:  url(../img/m_b.png) 0 100% no-repeat;height: 164px;margin-left: 20px;}
.menu ul{width: 160px;margin: 0 auto;padding-top: 30px;}
.menu li{border-bottom: 1px dashed #e3d7d0;padding: 3px 0;}
.menu a{font: bold 15px/23px "微软雅黑";color: #641c17;height: 23px;width: 131px;background:  url(../img/m_btn.png) 0 0 no-repeat;text-indent: 25px;display: block;transition:color 0.5s,background-position 0.5s;margin: 0 auto;}
.menu a:hover,
.menu .current a{background-position: 0 -23px;text-decoration: none;color: #fff;}
.menu .current a{font-size: 17px;}

.case{width: 210px;height: 271px;background:  url(../img/case_block.png) 0 0 no-repeat;margin: -10px 0 0 0;position: relative;}
.case dl{float: left;margin: 60px 0 0 13px;*display: inline;}
.case dt{border: 1px solid #f3c5ba;background-color: #fff;padding: 4px;}
.case dd{margin-top: 5px;text-indent: 5px;}
.case dd a{color: #fff;font-weight: bold;font-size: 14px;}
.case p{float: left;width: 75px;margin-top: 60px;margin-left: 5px;letter-spacing: -1px;height: 155px;overflow: hidden;line-height: 1.5;color: #fff;font-size: 12px;}
.case p a{color: #fff;font-size: 12px;}
.case .more{font: 17px "微软雅黑";margin-top: 10px;text-align: center;}
.case .more a{color: #ffb400;}

h2 img{vertical-align: middle;}

.shop{margin-top: 20px;width: 215px;}
.shop li{width: 214px;height: 148px;background:  url(../img/min_stores.gif) 0 0 no-repeat;text-align: center;}
.shop li img{margin-top: 5px;vertical-align: middle;}
.xx-box{height:148px;position: relative;overflow:hidden;width:214px;margin:10px auto 0;}
#xx-list{position:absolute;left:0px;top: 0px; z-index: 2;width:100%;height:100%;}
.xx-box li{width:214px;height:148px;float:left;}
#xx-btn{display: none;}

#aside .links{margin-top: 10px;}
#aside .links img{display: block;}

.c-t{height: 4px;width: 100%;background: url(../img/c_t.png) 0 0 no-repeat;overflow: hidden;}
.c-b{height: 3px;width: 100%;background: url(../img/c_b.png) 0 0 no-repeat;overflow: hidden;}
#contentBox{float: right;width: 862px;}
.c-c{background:  url(../img/c_c.png) 0 0 repeat-y;}

#contentBox .page-name{float: left;font: bold 36px "微软雅黑";color: #a80001;margin-top: 60px;margin-left: 85px;*display: inline;}
#contentBox .page-name i{font-size: 12px;color: #a80001;font-weight: normal;display: block;}

.bread-nav{float: right;margin-top: 105px;font-size: 12px;}
.bread-nav li{float: left;}
.bread-nav span{color: #f0563d;font-family: "宋体";margin: 0 5px;}
.bread-nav a{color: #666666;}
.bread-nav b{color: #c63d2b;}
.bread-nav img{vertical-align: middle;}

#content{width: 765px;float: right;min-height: 980px;height: auto !important;height: 980px;padding-bottom: 20px;}

.article{font: 14px/2 "微软雅黑";color: #5d120d;margin-top: 40px;margin-right: 15px;}

.leave-msg{font-family: "微软雅黑";width: 715px;height: 690px;}
.leave-msg .prompt{font-size: 16px;margin-top: 40px;}
.leave-msg .prompt b{color: #24b000;font-family: "impact";font-size: 27px;}
.leave-msg .prompt em{font-size: 24px;color: #fe6c00;font-weight: bold;}
.leave-msg .urged{background-color: #bb0701;color: #fff;font-size: 17px;padding: 5px 15px 10px 10px;border-radius: 10px;margin-top: 20px;}
.leave-msg .urged b{font-size: 25px;color: #ffff00;font-weight: bold;}
.leave-msg .form{margin-top: 60px;font-size: 12px;color: #88211a;}
.leave-msg .form i{display: inline-block;width: 75px;text-align: right;padding-right: 5px;}
.leave-msg .form em{color: #e00e00;}
.leave-msg .form li{margin-top: 10px;}
.leave-msg .form .text,
.leave-msg .form textarea{border: 1px solid #e7cdba;width: 295px;height: 37px;line-height: 37px;color: #a9a9a9;padding-left: 5px;}
.leave-msg .form textarea{width: 500px;height: 130px;vertical-align: top;}
.leave-msg .form .radio{margin: 0 5px;}
.leave-msg .form .submit{width: 117px;height: 41px;color: #fff;font-size: 14px;font-weight: bold;background:  url(../img/red_btn.png) 0 0 no-repeat;border: none;cursor: pointer;}
.leave-msg .form .submit:hover{opacity: 0.8;
filter: alpha(opacity=80);}

#content .milk-bear{width: 744px;height: 123px;background:  url(../img/milk_bear.gif) 0 0 no-repeat;margin-top: 30px;}

.news{width: 740px;}
.news li{margin-top: 30px;background: url(../img/mb-ico.gif) 0 0 no-repeat;position: relative;}
.news h3{margin-left: 75px;overflow: hidden;white-space: normal;width: 570px;padding-top: 5px;}
.news h3 a{font: 22px "微软雅黑";color: #2a2a2a;transition:color 0.5s;}
.news h3 a:hover{color: #a80001;}
.news .info{color: #a4a4a4;font-size: 12px;margin: 5px 0 0 75px;}
.news .more{width: 96px;height: 24px;background:  url(../img/btn.gif) 0 0 no-repeat;font-size: 12px;line-height: 24px;color: #fff;text-align: center;top: 5px;right: 0;display: block;position: absolute;}
.news .more:hover{text-decoration: none;opacity: 0.8;
filter: alpha(opacity=80);}
.news .min{display: block;margin-top: 15px;}

.page-list{text-align: center;margin-top: 50px;}
.page-list li{display: inline;}
.page-list a{display: inline-block;width: 33px;height: 33px;line-height: 33px;border: 1px solid #e2e2e2;color: #b3b3b3;font-family: Arial;margin-right: 5px;transition:color 0.5s,background-color 0.5s,border-color 0.5s;vertical-align: middle;}
.page-list a:hover,
.page-list .current a{color: #fff;background-color: #b70101;border-color: #b70101;text-decoration: none;}
.page-list .prev a,
.page-list .next a{font-family: "宋体";font-size: 30px;}

.photo-show{width: 740px;/*overflow: hidden;*/padding-top: 20px;}
.photo-show ul{width: 105%;}
.photo-show li{margin:20px 0 0 0;}
.photo-show .photo{display: block;width: ;height: ;text-align: center;position: relative;}
.photo-show .yellow-bd{width: 222px;border:2px solid #ffcf0f;height: 100%;position: absolute;top: 0;left: 0;}
.photo-show .photo img{margin-top: 2px;margin-left: 2px;vertical-align: middle;width:;height:;}
/*.photo-show h3{text-align: center;font-size: 14px;color: #b40701;font-family: "微软雅黑";line-height: 30px;height: 30px;border-bottom: 1px dashed #ffe57f;overflow: hidden;white-space: normal;overflow: hidden;width: 100%;}
.photo-show .rec{color: #5e5e5e;font-size: 12px;text-align: center;margin-top: 5px;}
.photo-show .rec p{display: inline-block;width: 84px;height: 12px;background-image: url(../img/rec_star.gif);background-repeat: no-repeat;}*/
.photo2-show{width: 740px;overflow: hidden;padding-top: 20px;}
.photo2-show ul{width: 105%;}
.photo2-show li{width: 224px;float: left;margin-top: 20px;margin-right: 30px;}
.photo2-show .photo2{display: block;width: ;height: 175px;text-align: center;position: relative;}
.photo2-show .yellow-bd{width: ;border:2px solid #ffcf0f;height: 100%;position: absolute;top: 0;left: 0;}
.photo2-show .photo2 img{margin-top: 2px;margin-left: 2px;vertical-align: middle;width:222px;height:175px;}
.photo2-show h3{text-align: center;font-size: 14px;color: #b40701;font-family: "微软雅黑";line-height: 30px;height: 30px;border-bottom: 1px dashed #ffe57f;overflow: hidden;white-space: normal;overflow: hidden;width: 100%;}
/*.photo2-show .rec{color: #5e5e5e;font-size: 12px;text-align: center;margin-top: 5px;}
.photo2-show .rec p{display: inline-block;width: 84px;height: 12px;background-image: url(../img/rec_star.gif);background-repeat: no-repeat;}*/
.nx-message{ font:normal 19px "微软雅黑"; color:#a80001;}
.nx-message span{ font:bold 20px "微软雅黑"; color:#08b604;}
.nx-message label{ color:#000;}
.nx-message img{ vertical-align:bottom;}
.message-form{ margin:50px 0 0 0; position:relative;}
.message-form p{margin:15px 0 0 0;}
.message-form p span{ color:#a50000; display:inline-block;width:85px;text-align:right;}
.form-text{ height:37px; border:1px solid #e7cdba; background:#fff; width:295px;padding-left:5px;}
.message-textarea{ width:295px; height:90px; border:1px solid #e7cdba; resize:none; background:#fff; padding:5px 0 0 5px;}
.message-tx{ position:absolute;top:50px;right:20px;}
.message-pic{margin:30px 0 0 0;}


.ititle{ height:47px; text-align:center;}
.ititle a{ display:inline-block; width:182px; height:47px; text-indent:-999999px;}
.ititle #one1{ display:inline-block; background:url(../img/bzbtn.png) no-repeat 0 0;}
.ititle #one1:hover{background:url(../img/bzbtn.png) no-repeat 0 -46px;}

.ititle #one2{ display:inline-block; background:url(../img/hhbtn.png) no-repeat 0 0;}
.ititle #one2:hover{background:url(../img/hhbtn.png) no-repeat 0 -46px;}

.i_jmms{ width:770px;}
.i_img img{ display:block;}