@charset "utf-8";

/* reset */
body{font-family:"微软雅黑";font-size:12px;background:#f3f3f3;}
*{margin:0px; padding:0px;}
ul li{list-style:none;}
li{list-style:none;}
img,a img{border:none;vertical-align: middle;}
input {outline:none;}
a{color:#333; text-decoration:none; cursor:pointer;}
i,em{font-style:normal;font-weight: normal;}
.clearfix{zoom:1;}
.clearfix:after{clear:both; height:0px; font-size:0px; visibility:hidden;display:block;content:" ";}
samp {font-family: "微软雅黑";}
.fl{float:left;}
.fr{float:right;}
.mt10{margin-top:10px;}
.mt20{margin-top:20px;}
.general{width:1140px; margin:0 auto;}
a:hover {-webkit-transition: all 0.2s ease-out;-moz-transition: all 0.2s ease-out;-ms-transition: all 0.2s ease-out;-o-transition: all 0.2s ease-out;transition: all 0.2s ease-out;}
.general h1 {
    font-size: 12px;
    font-weight: normal;
}
.main{width:1200px;margin:0px auto;}
@font-face {
	font-family: 'katong';
	src: url('../fonts/katong.eot'); /* IE9 Compat Modes */
	src: url('../fonts/katong.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/katong.woff') format('woff'), /* Modern Browsers */
         url('../fonts/katong.ttf')  format('truetype'), /* Safari, Android, iOS */
         url('../fonts/katong.svg#katong') format('svg'); /* Legacy iOS */
   }
/* 面包屑 */
.ngGprs{color:#898989;line-height:25px;height:25px;font-size:14px;text-align:left;margin-top:10px;margin-bottom:10px;padding: 0px 0 0 10px;}
.ngGprs a{color:#898989;}
.gprs{height:16px;width:16px;background:url(../images/d_icon.png) 0 -894px no-repeat;display:inline-block;float:left;margin-top: 2px;}
/* (╯°Д°)╯︵ ┻━┻ */

/* 顶部 */
.header * { box-sizing: content-box;}
.header-top{font-size:12px;width:100%;float:left;background:#fff;line-height:42px;height:42px;border-bottom:1px solid #efefef;color:#e3e3e3;}
.header-top a{color:#646464; margin:0 10px;}
.header-top p{float:left;}
.header-top span{float:right;}
.header-top a:hover,.logo_right span a:hover{color:#ff6200;}
.logo_right p:hover em{display: inline;}
a.a_login:hover,a.a_register:hover{text-decoration: none;color: #646464;cursor: default}
/* 0.0 */

/*头部主体*/
.header-main{width:100%; background:#fff; padding-bottom:15px;}
.h5_logo{width:100%;float:left; margin-top:25px; font-size: 12px;}
.logo_left{float:left; position:relative;}
.logo_left a{float:left;}
.logo_left span{float:left; margin:45px 0 0 2px; display:inline;font-family:katong!important;font-size:16px;color:#330000;}
.logo_left p{background:url(../images/user_center.png) no-repeat; width:63px; height:26px; position:absolute;top:-4px;right:149px}
.h5_search{border: 2px solid #F60;border-radius: 20px;background:url(../images/search_bg.png) no-repeat;width:372px;height:38px;float:left;margin:15px 0 0 108px; display:inline}
.h5_text{width:290px; float:left; line-height:24px; height:24px; padding:5px 5px 5px 15px; color:#7c7c7c; font-size:14px; border:0; margin:2px 0 0 0;background:none; display:inline;}
.h5_bt{width:60px; float:left;height:38px;border:0; cursor:pointer; background:none;}
.logo_right{float:right; text-align:center}
.logo_right p{float:right;width:60px;position:relative; z-index:888}
.logo_right p a{width:100%;float:left;background:url(../images/wx.png) no-repeat center 6%;padding-top:55px;color:#646464;}
.logo_right p em{width:138px;height:138px;position:absolute;top:87px;right:-42px;display:none}
.logo_right p em i{position: absolute;left: 45px;top: 45px;z-index: 11;width: 48px;height: 48px;background: url(../images/sprites.png) no-repeat;background-position: -543px -65px;}
.logo_right p em img{width:130px;height:130px;vertical-align:middle;background:#fff; padding:3px;border:1px solid #099cda;}
.logo_right span{float:right;width:90px; margin:0 10px 0 30px; display:inline;}
.logo_right span a{width:100%; float:left; background:url(../images/box.png) no-repeat top center;padding-top:55px;color:#646464;}
/* (๑• . •๑) */

/* 头部导航 */
.header-nav,.header-card-nav{height: 40px;background:#404952;line-height: 50px;width: 100%;min-width: 1200px;border-bottom: 1px solid #e0e0e0;z-index: 99999;}
.header-nav ul{width:1200px;height:40px;margin:auto;}
.header-nav ul li{float:left;width:11.11%;position:relative;font-size:18px;text-align:center;line-height:40px;}
.header-nav ul li a{display: block;color: #fff;}
.header-nav ul li a:hover{background-color:#f6505c;}
.header-nav ul li.curr a{background:#1F272B;color:#fff;border-bottom:3px #F6505C solid;line-height:37px;height:37px;}
.header-nav ul li a .navIcon{width:35px;height:23px;margin:15px 4px 0 0;font-size:0;line-height:0;display:block;background: url(../images/nav_new.png) no-repeat;position: absolute;top: -24px;right: 5px;}

/* 礼包头部导航 */
.header-card-nav ul{ width:1200px; margin:auto}
.header-card-nav li { float:left; width:16.666%; font-size:18px; text-align:center}
.header-card-nav a { display:block; line-height:40px; color:#fff}
.header-card-nav a:hover { background:#ff7800}
.header-card-nav .curr a{ background:#ff7800;color: #fff;border-bottom: 3px #F6505C solid;line-height: 37px;height: 37px;}
.header-card-nav .curr a:hover{background:#1F272B;}

/* ヽ( `0´)ノ */

/* footer */
.footer * { box-sizing: content-box; font-size: 12px;}
.footer{display:block;width:100%;clear:both;float:left;border-top:3px solid #8E8E8E;background:#1F272B;margin-top:30px;color:#63696E;}
.link{width:1200px;margin:auto;border-bottom:1px #363D41 solid;padding-bottom:20px;}
.link h2{width:1200px;color:#63696E;font-size:16px;margin:20px 0 10px 0;}
.link a{width:120px;float:left;font-size:12px;color:#63696E;line-height:22px;}
.siteMap{color:#63696E;width:1200px;margin:auto;text-align:center;line-height:25px;}
.siteMap .map{width:100%;float:left;padding:20px 0;font-size:12px;}
.siteMap a{color:#63696E;padding:0 10px;}
.siteMap a img{vertical-align: middle;}
/*  [○・`Д´・○] */