@charset "utf-8";
.slider-container {
	width: 1200px;
	overflow: hidden;
	position: relative;
	height: 336px;
	overflow: hidden;
	z-index: 9;
	min-width: 1200px;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
}
.slider-wrap {
	width: 6000px;
	height: 336px;
	font-size: 0;
	position: absolute;
	left: 49%;
	top: 0;
	margin-left: -1775px;
	overflow: hidden
}
.slider {
	width: 100%;
	height: 100%;
	float: left
}
.slider-container ul {
}
#_slide li {
	width: 1200px;
	height: 330px;
	float: left;
	position: relative;
	text-align: center;
}
.slider-container .pic {
	width: 1200px;
	height: 336px;
	display: block;
	margin: 0 20px;
	position: relative;
}
.slider-container .pic img {
	width: 1200px;
	height: 289px;
	display: block;
	border: 0 none;
}
.slider-container dl {
	width: 1200px;
	height: 336px;
	overflow: hidden;
	margin: 0 auto;
}
.slider-container dl .pic {
	margin: 0;
}
.slider-container #ad1, .slider-container #ad1 .pic {
	width: 266px;
	height: 339px
}
.slider-container #ad2, .slider-container #ad2 .pic, .slider-container #ad3, .slider-container #ad3 .pic, .slider-container #ad4, .slider-container #ad4 .pic {
	width: 266px;
	height: 339px
}
.slider-container dd {
	float: left;
	display: inline;
	overflow: hidden;
	padding-left: 32px;
}
.slider-container #ad2, .slider-container #ad3, .slider-container #ad4 {
	margin-left: 1px;
}
.slider-container #ad1 .pic img {
	width: 359px;
	height: 289px;
	display: block;
	border: 0 none;
}
.slider-container #ad2 .pic img, .slider-container #ad3 .pic img, .slider-container #ad4 .pic img {
	width: 266px;
	height: 289px;
	display: block;
	border: 0 none;
}
.slider-container .slide_thumb {
	display: none;
}
.slide_Bg {
	width: 1200px;
	height: 336px;
	position: absolute;
	left: 20px;
	top: 0;
	background: #f6503a;
	filter: alpha(opacity=10);
	opacity: 0.1;
}
.cur .slide_Bg {
	display: none
}
#slide_list {
	position: absolute;
	left: 0
}
#topPic {
	display: none
}
.slider-container li img {
	position: relative
}
.slider-container li p {
	width: 100%;
	height: 50px;
	line-height: 50px;
	font-family: "微软雅黑", "黑体";
	font-size: 21px;
	color: #fff;
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: 100;
	display: none;
	background: rgba(246, 80, 58, 0.1);
filter: progid:DXImageTransform.Microsoft.gradient( GradientType = 0, startColorstr = "#f6503a", endColorstr = "#f6503a") 6
}
.slider-container li dd p {
	font-size: 16px;
}
.cur .st_ty {
	display: block;
}
#focus_dot {
	width: 120px;
	height: 13px;
	position: absolute;
	top: 365px;
	left: 50%;
	margin-left: -60px;
}
#focus_dot li {
	width: 13px;
	height: 13px;
	float: left;
	text-indent: -999em;
	overflow: hidden;
	cursor: pointer;
	display: inline;
	margin-right: 10px;
	background: url(../images/bg_ico.png) -23px -129px no-repeat;
}
#focus_dot li.current {
	background-position: 0 -129px;
}
.slider-container .pic:hover, .twC3 a:hover, .gqsjMod .bd a:hover {
	text-decoration: none;
}
.st_ty {
	cursor: pointer;
}
.slide_Bg {
	width: 1200px;
	height: 336px;
	position: absolute;
	left: 20px;
	top: 0;
	background: #f6503a;
	filter: alpha(opacity=70);
	opacity: 0.5;
}
#focusMain li .text {
	display: block;
	width: 100%;
	height: 80px;
	position: absolute;
	bottom: 20px;
	background: rgba(246, 280, 58, 0.1);
filter: progid:DXImageTransform.Microsoft.gradient( GradientType = 0, startColorstr = "#f6503a", endColorstr = "#f6503a");
}
.gqsjMod .bd a:hover p {
	background: rgba(246, 80, 58, 0.1);
filter: progid:DXImageTransform.Microsoft.gradient( GradientType = 0, startColorstr = "#f6503a", endColorstr = "#f6503a")
}
.twC3 .pic {
	text-align: center;
}
#cardBody1 .tabBody {
	overflow: hidden;
	zoom: 1;
+padding-bottom:20px;
}
.mrjxMod .ft a p {
	text-align: center;
}
.slider-wrap {
	width: 6000px;
	height: 330px;
	font-size: 0;
	position: absolute;
	left: 50%;
	margin-left: -1821px;
	top: 0;
	verflow: hidden
}
.hzlxMod .hd h2 {
	background-position: left -6px;
}
.slider-btn {
	position: absolute;
	top: 118px;
	width: 54px;
	height: 54px;
	background: url(../images/arrow-btn.png);
	cursor: pointer;
}
.slider-btn-l {
	left: 0;
}
.slider-btn-r {
	right: 0;
}
.slider-btn-l {
	left: 50%;
	margin-left: -633px;
	background-position: 0px 0px;
}
.slider-btn-l:hover {
	background-position: 0px -54px;
}
.slider-btn-r {
	right: 50%;
	margin-right: -617px;
	background-position: -54px 0px;
}
.slider-btn-r:hover {
	background-position: -54px -54px;
}
