#supplier{
	background-color: #fff;
	min-width: 1280px;
	overflow: hidden;
}

#supplier_content{
	margin: 0 auto;
	overflow: hidden;
	padding: 0px;
	width: 100%;
	min-width: 1280px;
	height: 1084px;
	/*height: 1145px;*/
}
#supplier_content img{
	width: 100%;
}
#supplier_content .supplier_box{
	margin: 0 auto;
	overflow: hidden;
	padding: 0px;
	width:560px;
	height: 600px;
	margin-top: 80px;
}

.text {
	width: 98px;
	margin-top: 9px;
	margin-bottom: 11px;
	margin-left: 30px;
	font-size: 17px;
	color: rgb(15,124,231);
	float: left;
	line-height: 34px;
}

.inputBox {
	float: left;
	width: 294px;
	height: 35px;
	border-radius: 2px;
	border: 1px solid #d1d1d1;
}

.input {
	width:290px;
	height: 35px;
	border-radius: 2px;
	font-size: 16px;
	color: #515151;
	outline: none;
	padding-left: 4px;
}
.input1{
	vertical-align:middle; margin-top:-2px; margin-bottom:1px;
}
 input::-webkit-outer-spin-button,
 input::-webkit-inner-spin-button{
	-webkit-appearance: none !important;
	margin: 0px;
 }
 input[type="number"]{-moz-apperance:textfield;}

.selectRightBox {
	width:280px;
	height: 32px;
	border-radius: 2px;
	font-size: 24px;
	color: #515151;
	outline: none;
	font-size: 16px;
	padding-left: 12px;
	line-height: 32px;
	padding-bottom: 20px;
}
.selectRightBox>span{
	display: inline-block;
	width: 76px;
	height: 32px;
}
.selectRightBox input{
	width: 16px;
	height: 16px;
}

.submitBtn {
	width: 114px;
  	height: 44px;
	text-align: center;
	color: white;
	font-size: 22px;
	background-color: rgb(15,124,231);
	border-radius: 4px;
	margin-top: 20px;
	margin-left: 170px;
  	cursor:pointer;
}
