/*dede58.com 做最好的织梦整站模板下载网站*/
@charset "utf-8";

.logo {
	padding:0;
}
#myCarousel {
	margin: 50px 0 0 0;
}
#navbar-collapse ul {
	margin-top:0;
}
.carousel-inner img {
	margin: 0 auto;
}
.carousel-control {
	font-size: 100px;
}