@charset "utf-8";
/* banner */
.slideBoxmo{  overflow:hidden; position:relative; border:1px solid #ddd;  }
.slideBoxmo .bd{ position:relative; height:100%; z-index:0;   }
.slideBoxmo .bd li{ zoom:1; vertical-align:middle; }
.slideBoxmo .bd img{ width:100%; display:block;  }
/* 下面是前/后按钮代码 */
.slideBoxmo .prev,
.slideBoxmo .next{ position:absolute; left:3%; top:40%; display:block; width:68px; height:70px; }
.slideBoxmo .next{ left:auto; right:3%; }

/* 公告通知 */
.gonggao{width: 1100px;height: 42px;background-color: #f2f2f2;border-radius: 10px;margin-top: 20px;}
.txtScroll-top{ width:960px;  overflow:hidden; position:relative; }
.txtScroll-top .hd{ overflow:hidden; margin-top: 3px; margin-right: 5px;}
.txtScroll-top .hd .prev,.txtScroll-top .hd .next{ display:block;  width:25px; height:20px; float:right; margin-right:5px; margin-top:10px;  overflow:hidden;cursor:pointer; background:url("../img/gglogo.png")  no-repeat;background-position: 0px 0px;}
.txtScroll-top .hd .next{ background:url("../img/gglogo.png") no-repeat;  background-position: -25px 0;}
.txtScroll-top .hd ul{ float:right; overflow:hidden; zoom:1; margin-top:10px; }
.txtScroll-top .hd ul li{ float:left;  width:9px; height:9px; overflow:hidden; margin-right:5px; text-indent:-999px; cursor:pointer; background:url("images/icoCircle.gif") 0 -9px no-repeat; }
.txtScroll-top .hd ul li.on{ background-position:0 0; }
.txtScroll-top .infoList li{ height:42px; line-height:42px; width: 765px; font-size: 12px;padding-left: 30px;}

.conentl{padding-top: 23px;}
.conentl .newstop{width: 725px;height: 43px;line-height: 43px;background-color: #1a86d3;position: relative;}
.conentl .newstop img{position: absolute;top: 10px;left: 20px;}
.conentl .newstop span{position: absolute;left: 56px;color: #FFFFFF;font-weight: bold;}
.conentl .newstop a{position: absolute;right: 20px;color: #FFFFFF;}
.newscont{padding-top: 10px;}
.newscont .newsimg{width: 366px;height: 276px;overflow: hidden;}
.newscont .newsimg img{
    transition: All 0.4s ease-in-out;
    -webkit-transition: All 0.4s ease-in-out;
    -moz-transition: All 0.4s ease-in-out;
    -o-transition: All 0.4s ease-in-out;
}
.newscont .newsimg img:hover {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
}
.newscont .newsbott{width: 366px; height: 38px;line-height: 38px;background-color: #ebebeb;font-size: 12px;margin-top: -5px;}
.newscont .newsbott .newspan1{color: #666666;margin-left: 17px;width: 265px;}
.newscont .newsbott .newspan2{color: #999999;}
.newscont .newslist{width: 340px;padding-left: 15px;}
.newscont .newslist .newsfrtop{height: 90px;border-bottom: solid #e9e9e9 1px;padding-top: 15px;}
.newscont .newslist .newsfrtop span{color: #999999;}
.newscont .newslist .newsfrtop h2{width: 265px;color: #000000;}
.newscont .newslist .newsfrtop p{color: #666666;line-height: 25px;padding-top: 5px;}
.newscont .newslist .newsfrtop :hover h2{color: #1a86d3;}
.newscont .newslist .newsfrtop :hover span{color: #1a86d3;}
.newscont .newslist .newsfrtop :hover p{color: #1a86d3;}
.newscont .newslist ul li{padding-top: 19px;height: 12px;}
.newscont .newslist ul li h3{color: #000000;width: 260px;}
.newscont .newslist ul li span{color: #999999;}
.newscont .newslist ul li:hover h3{color: #1a86d3;}
.newscont .newslist ul li:hover span{color: #1a86d3;}
.conentfr{padding-top: 23px;}
.zhuanti{background-color: #2b9936;width: 350px;}
.rediantop{width: 350px;height: 43px;line-height: 43px;position: relative;}
.rediantop img{position: absolute;top: 10px;left: 20px;}
.rediantop span{position: absolute;left: 60px;color: #FFFFFF;}
.massges{margin-top: 20px;}
.massgtop{width: 350px;height: 43px;line-height: 46px;position: relative;}
.massgtop span{position: absolute;left: 50px;color: #FFFFFF;font-weight: bold;}
.massgtop a{position: absolute;right: 20px;color: #FFFFFF;}
.massges ul{width: 350px;}
.massges ul li{width: 325px;height: 45px;line-height: 45px;border-bottom: solid #e0e0e0 1px;margin-left: 15px;}
.massges ul li:last-child{border-bottom:0;}
.massges ul li h3{color: #000000;width: 242px;}
.massges ul li span{color: #999999;}
.massges ul li:hover h3{color: #1a86d3;}
.massges ul li:hover span{color: #1a86d3;}
.xinxi{background: url(../img/xinxlogo.png) no-repeat;}
.jiaoju{background: url(../img/jiaoju.png) no-repeat;}

.zixu{background: url(../img/zixu.png) no-repeat;}

/*出资企业*/
.czqy{background-color: #f5f5f5;width: 980px;height: 25px;}
.tab {width: 1100px;padding-top: 10px;}
.tab-title {height: 25px;margin:0 auto;overflow: hidden;background-color: #f5f5f5;}
.tab-title .item {position: relative;display: inline-block;color: #040000;font-size: 12px;border-bottom:1px solid #040000;margin-right: 30px;}
.tab-title .lastitem:after{
	content: " ";
	position: absolute;
	background: #dedede;
	width: 1px;
	height: 15px;
	left: 63px;
	top:2px;
}

.tab-title .item-cur {color: #1a86d3;border-bottom:1px solid #1a86d3;}
.tab-cont{position: relative; width:1100px;margin:10px auto;overflow: hidden; background-color: #f5f5f5;}
.tab-cont_wrap {position: absolute;}
.tab-cont .item{width:1100px;text-align: center;color: #fff;}
.lanren li{width:160px;text-align: center;height:50px;list-style:none;position:relative;float:left;overflow:hidden;  }
.lanren li a{font-size: 12px;color: #010101;line-height: 50px;display: inline-block;}
.lanren li a:hover{color: #1a86d3;}
