/**顶部样式**/
.Maintop{ width:100%; height:90px; position:absolute; top:0px; z-index:99;}
.topbj{width:100%; height:90px; background:#000; opacity:0.5; position:absolute; top:0px; z-index:2;}
.top_1200{ width:1200px; margin:0 auto; height:90px; position:relative;}
.logo{ float:left; width:200px; margin-top:10px;}
.nav_list{ float:right; width:900px;}
.nav_list ul li{ float:left;}
.nav_list ul li a{ padding:0px 25px; font-size:14px; font-family:microsoft yahei; color:#fff; line-height:90px;}


/**首页案例样式**/
.MainAnli{ width:100%; height:205px; background:url(../images/anlibj.jpg) repeat-x;}
.AnList{ width:1200px; height:205px; margin:0 auto; overflow:hidden;}
.AnList ul li{ width:212px; height:142px; background:url(../images/anlilist.jpg) no-repeat; margin-top:15px; float:left; margin-left:14px; margin-right:14px;}
.AnList ul li a { text-align:center;}
.AnList ul li a img{ padding-left:5px; padding-top:5px;}
.AnList ul li a p{ margin-top:5px; font-family:microsoft yahei; font-size:16px; color:#fff;}

/**首页关于我们样式**/
.MainAbout{ width:100%; height:auto; background:url(../images/aboutbj.jpg) repeat; overflow:hidden;}
.about_title{ text-align:center; margin-top:45px;}
.about_1200{width:1200px; height:497px; margin:0 auto;}
.about_sp{ width:460px; height:338px; background:#ccc; float:left; margin-top:56px;}
.about_jj{ width:600px; height:310px; color:#444; float:right; margin-top:70px; font-size:15px; font-family:microsoft yahei; line-height:25px;}

/**首页新闻样式**/
.MainNews{ width:100%; height:700px; background:url(../images/newbj.jpg) repeat; overflow:hidden;}
.News_1200{width:1200px; height:700px; margin:0 auto; }
.News_title{width:1200px; height:80px; border-bottom:1px solid #ccc; position:relative; margin-top:60px;}
.NewsTitleimg{width:270px; height:80px;}
.NewsOtherList{ width:270px; height:20px; position:absolute; right:0px; bottom:10px; color:#666;}
.NewsOtherList a{font-family:microsoft yahei; font-size:15px; color:#666;}
.NewsListMain{ width:1200px; height:460px; margin-top:30px;}
.NewsHang{ width:850px; height:460px; float:left;}
.NewsHang dl{ width:405px; height:115px; float:left; margin-right:15px; margin-bottom:30px; margin-top:10px;}
.NewsHang dl dt{ background:#fff; border:1px solid #ccc; width:160px; float:left;}
.NewsHang dl dt img{ padding:5px; padding-bottom:2px;}
.NewsHang dl dd{ width:235px; margin-left:0px; float:right;}
.NewsHang dl dd h4{ font-family:microsoft yahei; line-height:25px;}
.NewsHang dl dd h4 a{color:#086cc2;}
.NewsHang dl dd p{line-height:20px; font-family:microsoft yahei; color:#aaa; font-size:13px;}
.NewsHang dl dd p a{color:#aaa;}
.NewsHang dl dd p a:hover{color:#666;}

.NewsQiYe{ width:306px; height:460px; float:right;}
.NewsQiYeTitle{ width:306px; height:179px;}
.QiyeList ul li{width:304px; background:#fff; border:1px solid #ccc; margin-top:5px; }
.QiyeList h5{ font-family:microsoft yahei; margin-top:10px; text-indent:10px; font-size:15px;}
.QiyeList h5 a{ color:#086cc2;}
.QiyeList p{ line-height:22px; font-size:13px; color:#aaa; text-indent:10px; padding-bottom:5px;}
.QiyeList p a{ color:#aaa;}

/**首页业务样式**/
.Mainyewu{ width:100%; height:649px; background:url(../images/yewubj.jpg) no-repeat top center; overflow:hidden;}
.YeWu1200{ width:1200px; height:649px; margin:0 auto; font-family:microsoft yahei; text-align:center;}
.YeWu1200 h1{ font-family:microsoft yahei; color:#fff;}
.YeWuTitle{ margin:50px 0;}
.YeWu1200 p{margin:30px 0px 80px 0px; }
.YeWu1200 ul li{ width:160px; height:200px; float:left; margin-left:20px; margin-right:20px;}
.YeWu1200 ul li a{color:#fff;line-height:30px;}

/**荣誉招聘样式**/
.Mainryzp{ width:100%; height:550px; background:url(../images/ryzpbj.jpg) repeat-y top center; overflow:hidden;}
.ryzp_1200{ width:1200px; height:auto; margin:0 auto; border:1px solid #ccc;}
.ryMain{width:550px; height:550px; float:left;}
.zpMain{width:550px; height:550px; float:right;}
.ryzptitle{ text-align:center; margin-top:40px;}
.ryMain ul li{ width:240px; height:165px; background:url(../images/honorlist.png) no-repeat; float:left; margin:16px 10px;}
.ryMain ul li img{ padding-left:9px; padding-top:8px;}
.zpMain p{ text-align:center; font-size:14px;font-family:microsoft yahei; color:#444; margin-top:10px; line-height:30px; margin-bottom:20px;}
.zpList{ width:470px; height:263px; background:url(../images/zplistbj.png) no-repeat; margin-left:40px;}
.zpList ul{ width:440px; margin:0 auto; padding-top:20px;}
.zpList ul li{ border-bottom:1px dashed #ddd; color:#444; line-height:30px; margin-top:10px;}
.zpList ul li a{ color:#444;font-family:microsoft yahei;}
.zpList ul li span{ float:right; font-size:12px; color:#888;}

/**首页联系我们样式**/
.MainContact{ width:100%; height:550px; background:url(../images/lianxibj.jpg) repeat-x top center; overflow:hidden;}
.Contact_1200{width:1200px; height:550px; margin:0 auto;}
.ContactTitle{ text-align:center; margin-top:50px; }
.Contact_left{ width:440px; height:340px; float:left;margin-top:25px;}
.Contact_right{ width:670px; height:325px; background:#fff; border:1px solid #ccc; float:right;margin-top:30px;}
.ContactTitleImg{ border-bottom:1px dashed #ccc;}
.Contact_1200 table{ margin-top:20px;}
.Contact_1200 tr td{ color:#444;font-family:microsoft yahei; line-height:40px; font-size:16px; border:none;}
.tdwidth{ width:80px; text-align:right;}
.Contact_right img{ padding:10px 0px 5px 8px;}

/**底部样式**/
.footer{ width:100%; height:100px; background:#086cc2; overflow:hidden;}
.footer p{ text-align:center; font-size:12px; margin-top:25px;}
.footer p a{ color:#fff;}


/**弹出效果**/
/**弹出效果**/
@-webkit-keyframes bounceIn{
0%{opacity:0;
-webkit-transform:scale(.3)}
50%{opacity:1;
-webkit-transform:scale(1.05)}
70%{-webkit-transform:scale(.9)}
100%{-webkit-transform:scale(1)}
}
@-moz-keyframes bounceIn{
0%{opacity:0;
-moz-transform:scale(.3)}
50%{opacity:1;
-moz-transform:scale(1.05)}
70%{-moz-transform:scale(.9)}
100%{-moz-transform:scale(1)}
}

#tc1{-webkit-animation:bounceIn 1s .2s ease both; -moz-animation:bounceIn 1s .2s ease both; display:block;}
#tc2{-webkit-animation:bounceIn 1s .4s ease both; -moz-animation:bounceIn 1s .2s ease both; display:block;}
#tc3{-webkit-animation:bounceIn 1s .6s ease both; -moz-animation:bounceIn 1s .2s ease both; display:block;}
#tc4{-webkit-animation:bounceIn 1s .8s ease both; -moz-animation:bounceIn 1s .2s ease both; display:block;}
#tc5{-webkit-animation:bounceIn 1s 1.0s ease both; -moz-animation:bounceIn 1s .2s ease both; display:block;}
#tc6{-webkit-animation:bounceIn 1s 1.2s ease both; -moz-animation:bounceIn 1s .2s ease both; display:block;}

#al1{-webkit-animation:bounceIn 1s .2s ease both; -moz-animation:bounceIn 1s .2s ease both; display:block;}
#al2{-webkit-animation:bounceIn 1s .4s ease both; -moz-animation:bounceIn 1s .2s ease both; display:block;}
#al3{-webkit-animation:bounceIn 1s .6s ease both; -moz-animation:bounceIn 1s .2s ease both; display:block;}
#al4{-webkit-animation:bounceIn 1s .8s ease both; -moz-animation:bounceIn 1s .2s ease both; display:block;}
#al5{-webkit-animation:bounceIn 1s 1.0s ease both; -moz-animation:bounceIn 1s .2s ease both; display:block;}
#al6{-webkit-animation:bounceIn 1s 1.2s ease both; -moz-animation:bounceIn 1s .2s ease both; display:block;}
