body{
	min-width: 1200px;
}

/*header*/
.header{
	background: url("../images/heightbj.png") no-repeat;
}

/*top*/
.logo{
     width:637px;
     height:64px;
}

.topright{
	width:260px;
    margin-top: -8px;
}
.topphone{
	color: #3c3c3c;
    font-size: 22px;
    height: 40px;
    line-height: 35px;
    letter-spacing: 7px;
    text-align: center;
    width: 248px;

}
.topphone span{
	background: url(../images/phone.gif) no-repeat left center;
	text-align: center;
	padding-left: 28px;
    letter-spacing: 0;
    font-size: 21px;
}
/*top end*/
/*nav*/
.nav{
	background: #81553f;
	height: 41px;
	line-height:41px;
}

/*nav-right*/
.nav-right{
	overflow: hidden;
}
.nav-right ul li{
	float: left;
    width: 170px;
    text-align: center;
    font-size: 18px;
}
.nav-right ul li a{
	color: #fff;
	display: block;
	height: 41px;
	line-height: 41px;
}
.nav-right ul .navline{
	background:#ccc;
    display: block;
    height: 16px;
    margin-top: 18px;
    overflow: hidden;
    width: 1px;
}
.nav-right ul li a:hover{
	color: #fff;
	background: #9b735f;

}
.active{
	color: #fff;
	background: #9b735f;
}
/*nav-right end*/
/*nav end*/

/*header end*/
/*index-list*/
.index-list{
    overflow: hidden;
	*margin-bottom:45px;
	margin-bottom:45px\9;
}
.index-list ul{
    margin-right: -67px;
}
.index-list ul li{
    border-bottom: 1px dashed #b8a094;
    float: left;
    margin-right: 60px;
    padding: 10px 0;
    width: 45%;
    *width:42%;
}
.index-list ul li span{
    font-size: 18px;
    color: #81553f;
    margin-right: -10px;
}
.index-list ul li a{
    color: #3c3c3c;
    font-size: 17px;
    padding: 0 10px;
}
.index-list ul li:last-child{
    border-bottom: none;
}

/*index-list end*/
/*slide*/
/* top_slide_wrap */
.top_slide_wrap{width:100%;height:501px;overflow:hidden;position:relative;z-index:1;}
.slide_box{height:501px;overflow:hidden}
.slide_box li{height:501px}
.slide_box img{width:100%;height:501px}

/* op_btns */
.op_btns{width:980px;margin:-590px auto 0;position:relative;z-index:3;*margin-top:-530px}
.op_btns .op_btn{display:block;width:62px;height:62px;cursor:pointer;background:url("../images/icons_cb372887.png") no-repeat 0 -385px;overflow:hidden;position:absolute;margin-top:240px;}
.op_btns .op_prev{left:-135px}
.op_btns .op_next{right:-135px}
.op_btns .op_prev span,.op_btns .op_next span{display:block;width:24px;height:44px;background:url("../images/icons_cb372887.png") no-repeat;margin:8px 0 0 17px;cursor:pointer}
.op_btns .op_prev span{background-position:0 0;}
.op_btns .op_next span{background-position:-73px 0;margin-left:20px;}
/* bx-controls */
.bx-wrapper .bx-controls{margin-top:-60px}
.bx-wrapper .bx-controls .bx-pager{clear:both;width:100%;text-align:center;position:relative}
.bx-wrapper .bx-controls .bx-pager a{background:#330907;width:78px;height:7px;display:inline-block;overflow:hidden;margin:0 10px;}
.bx-wrapper .bx-controls .bx-pager a:hover,.bx-wrapper .bx-controls .bx-pager a.active{background:#ffffff;}
/*slide end*/
/*content*/
/*index-title*/
.index-title{
    position: relative;
    border-bottom: 2px solid #eaeaea;
}
.index-fwfw {
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    top:-21px;
    text-align: center;
}
.index-fwfw span{
    background: #fff;
    padding: 0 50px;
	margin-top: 7px;
}

/*index-title end*/
/*index-show*/
.index-showlist{
	text-align: center;
}
.index-showlist a{
	border: 1px solid #8b6553;
	border-radius: 15px;
	margin: 0 10px;
	padding: 4px 24px;
	text-align: center;
	color: #3c3c3c;
	font-size: 16px;
}
.index-showlist a:hover{
	border: 1px solid #8b6553;
	border-radius: 15px;
	margin: 0 10px;
	padding: 4px 24px;
	text-align: center;
	color: #ffffff;
	font-size: 16px;
	background: #8b6553;
}
.index-showlist .index-showactive{
	border: 1px solid #8b6553;
	border-radius: 15px;
	margin: 0 10px;
	padding: 4px 24px;
	text-align: center;
	color: #ffffff;
	font-size: 16px;
	background: #8b6553;
}
/*index-showul*/
.index-showul{
  overflow: hidden;
}
.index-showul ul {
	margin: 0 -22px;
}
.index-showul ul li{
	float: left;
	margin: 0 20px 15px;
	width: 270px;
	text-align: center;
}
.index-showul ul li span{
	display: block;
	margin: 10px 0;
	font-size: 18px;
	color: #3c3c3c;
}
/*index-showul end*/
/*index-show end*/
/*index-fl*/
.index-fl{
 overflow: hidden;
}
.index-fl ul{
	margin-right: -34px;
}
.index-fl ul li{
	float: left;
	margin-right: 31px;
	width: 123px;
	position: relative;
}
.flbj{
	display: block;
	height: 123px;
	left: 0;
	position: absolute;
	top: 0;
	width: 123px;
	background: url("../images/flbj.png") no-repeat center;
	color: #fff;
	line-height: 123px;
	text-align: center;
	font-size: 24px;
}
/*index-fl end*/
/*index-zggc*/
.index-zggc{
	overflow: hidden;
}
.index-zggc ul {
   margin-right: -6px;
}
.index-zggc ul li{
	float: left;
	height: 200px;
	margin-bottom: 2px;
	margin-right: 1px;
	width: 200px;
}
.index-zggc ul .index-zggcwz{
    width: 400px;
	height: 200px;
	background: #8b6553;
	margin-right: 2px;
}
.index-zggc ul .index-zggcwz span{
	color: #fff;
	display: block;
	line-height: 30px;
	padding-left: 33px;
	padding-right: 33px;
	padding-top: 27px;
	text-indent: 2em;
}
/*index-zggc end*/
/*index-news*/
.index-news{

}
.index-news ul{
	margin: 0  -21px;
}
.index-news ul li{
	float: left;
	margin: 0 20px;
	width: 373px;
	text-align: center;

}
.index-newsh3{
	margin-top: 30px;
	font-size: 18px;
	line-height: 28px;
	font-weight: bold;
	position: relative;
	text-align: left;
}
.index-newsh3 span{
	color: #787878;
	font-size: 14px;
	position: absolute;
	right: 34px;
}
.index-newsp{
	color: #3c3c3c;
	display: block;
	text-indent: 2em;
	text-align: left;
	padding-right: 2px;
	margin-bottom: 30px;
	margin-top: 20px;
}
.newmore{
	font-size: 18px;
	line-height: 28px;
	*line-height:39px;
	font-weight: bold;
	color: #3c3c3c;
	border: 1px solid #c8c8c8;
	padding: 5px 60px;
}
.newmore:hover{
	background: #8b6553;
	color: #fff;
}
/*index-news end*/
/*首页联系我们*/

.indexl{
	width: 385px;
	height: 330px;
	border-right: 1px solid #8b6553;
}
.indexxlzx{
	display: block;
	height: 43px;
	line-height: 43px;
	text-align: center;
	margin-right: 40px;
	margin-top: 45px;
}
.indexxlzx img{
	vertical-align: middle;
	margin-right: 15px;
}
.indexxlzx span{
	background: #8b6553 none repeat scroll 0 0;
	color: #fff;
	padding: 10px 40px;
	font-size: 20px;
}
.indexr{
	width: 785px;
}
.indexfrom{
	padding-left: 10px;
}
.reg-box li {
	height: 50px;
	line-height: 50px;
	margin-bottom: 25px;
	width: 270px;
}
.reg-box li input {  width: 270px; height: 28px; line-height: 28px;padding: 11px 0; border: 1px solid #8b6553; text-indent: 1.5em; float: left; }

.error {
	color: red;
	text-align: right;
	line-height: normal;
}

.reg-box li input.errorC { border: 1px solid red; }

.reg-box li input.checkedN { border: 1px solid #1ece6d; }
.liyan{
	width: 480px;
}
.intextarea{
	width: 468px;
	height:196px;
	border: 1px solid #8b6553;
	padding-top: 4px;
}
.tjly{
	width: 150px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	background: #8b6553;
	color: #fff;
	display: block;
	font-size: 20px;
}
/*首页联系我们 end*/

/*content end*/
/*footer*/
.footer{
	background:#8b6553;
	padding: 30px 0;
	line-height: 35px;
	margin-top: 10px;
}
.footer-conternt{
	color: #fff;
    text-align: center;
	line-height: 35px;
}
.footer-conternt a{
	color: #fff;
    margin: 0 10px;
}
.footer-conternt p{
	line-height: 35px;
}
.footer-conternt p a{
	margin: 0;
}
/*footer end*/
/*公司简介*/
.about-content{
  margin-top: 40px;
}
.ableft{
	width: 280px;

}

.abul ul li{
	text-align: center;
	padding: 24px 0;
	border-bottom: 1px solid #c9c9c9;
	font-size: 18px;
}
.abul ul li .aboutactive{
	color: #81553f;
}
.abul ul li a:hover{
	color: #81553f;
}
.abul ul li:last-child{
	border-bottom: none;
}

.abcon{
	background:url("../images/abco.jpg") no-repeat;
	width: 280px;
	height: 144px;
	padding-top: 17px;
}
.abcon ul{
	margin: 0 33px;
}
.abcon ul li{
	padding-left: 30px;
	color: #fff;
	margin-bottom: 10px;
}
.abicon1{
	background: url("../images/aico1.png") no-repeat 5px center;

}
.abicon2{
	background: url("../images/aico2.png") no-repeat left center;

}
.abicon3{
	background: url("../images/aico3.png") no-repeat left center;

}
.abright{
	width: 895px;
	margin: 0 auto;
}
.aboutrightspan {
	right: 0;
	top: 15px;
}
.abrightp p{
	line-height: 29px;
}
/*公司简介 end*/
/*企业资质*/

.enterul ul li{
	float: left;
	margin: 0 40px 15px;
	width: 365px;
	overflow: hidden;
}
.enterul ul li img{
	border: 1px solid #c8c8c8;
	width: 99%;
	min-height: 257px;
}
/*企业资质 end*/
/*办公专业*/
/*分页*/
.page{

}
.page span{
	margin: 0 15px;
}
.page a{
	padding: 0 8px;
	margin: 0 15px;
	border: 1px solid #3c3c3c;
	color: #000;
}
.page .pageactive{
	border: none;
}
.page a:hover{
	padding: 0 8px;
	margin: 0 15px;
	border: none;
}
/*分页*/
/*offh3*/
.offh3{
	font-size: 40px;
	line-height:60px;
	color: #8b6553;
	text-align: center;
	letter-spacing: 3px;
}
/*offh3 end*/
/*offimglistp*/
.offimglistp{

}
.offimglistp ul li{
	margin-bottom: 45px;
}
.ofleft{
   width: 445px;
}
.oflefth3{
	border-bottom: 1px solid #8b6553;
	border-top: 1px solid #8b6553;
	color: #3c3c3c;
	font-size: 24px;
	height: 45px;
	line-height: 43px;
	padding: 2px 0;
	text-align: center;
}
.oflefth3 span{
	border-top: 1px solid #d1c1ba;
	border-bottom: 1px solid #d1c1ba;
	display: block;
}
.ofleftp{
	color: #3c3c3c;
	display: block;
	font-size: 16px;
	line-height: 32px;
	text-indent: 2em;

}
.ofright{
  width: 717px;
	overflow: hidden;
}
/*offimglistp end*/

/*办公专业 end*/
/*餐饮内页2*/
.newcas{

}
.newcas ul a{
	display: block;
	border-bottom: 1px dashed #c8c8c8;
}
.newcas ul a:last-child{
	border-bottom: none;
}
.newcas ul li{

	padding: 50px 0;
}

.newcasleft{
    width: 367px;
}
.newcaserigh{
	width: 784px;
}
.newcaserigh h3{
   font-size: 20px;
	line-height: 36px;
	font-weight: bold;
	margin-bottom: 4px;
}
.newcaserigh span{
	font-size: 16px;
	line-height: 26px;
}

/*餐饮内页2 end*/
/*酒店专页*/
.hotelul{

}
.hotelul ul{
	margin: 0 -23px;
}
.hotelul ul a{
   display: block;
	width: 311px;
	float: left;
	position: relative;
	overflow: hidden;
	transition: all 0.3s linear 0s;
}
.hotelul ul li{
	border: 1px solid #fff;
	height: 340px;
	margin: 0 19px;
	text-align: center;
	width: 270px;

}
.hotimg{
	display: block;
	height: 138px;
	left: 0;
	margin: 0 auto;
	position: absolute;
	right: 0;
	top: 30px;
	width: 138px;
}
.hotelul ul li:hover{
	background: #81553f;
}
.hoteline{
	background: #e5e5e5 none repeat scroll 0 0;
	height: 150px;
	position: absolute;
	right: 0;
	top: 45px;
	width: 2px;
}
.hotimga{
	display: block;
	height: 138px;
	left: -420px;
	margin: 0 auto;
	position: absolute;
	right: 0;
	top: 30px;
	width: 138px;
	transition: all 0.2s ease 0s;
}
.hotelul ul li:hover .hotp h3,.hotelul ul li:hover .hotp p{
	color: #fff;
}
.hotelul ul li:hover .hotimga{
	left: 0;
}
.hotp{
	margin-top: 180px;
}
.hotp h3{
   font-size: 18px;
	line-height: 30px;
	color: #3c3c3c;
	margin-bottom: 15px;
}
.hotp p{
	color: #787878;
	font-size: 16px;
	line-height: 30px;
	padding: 0 20px;
}
/*酒店专页 end*/
/*案例内页*/
.casenyh3{
   font-size: 20px;
	line-height: 29px;
	color: #3c3c3c;
	text-align: center;
	border-bottom: 1px solid #c8c8c8;
	padding: 20px 0;
}
.casenypp p{
	font-size: 16px;
	line-height: 28px;
}
/*案例内页 end*/
/*新闻资讯*/
.techno ul li{
	color: #3c3c3c;
	padding: 25px 0;
	border-bottom: 1px dashed #3c3c3c;
}
.techno ul li:last-child{
	border-bottom: none;
}
/*newpage*/
.newpage{
	text-align: center;
}
.newpage a{
    font-size: 20px;
	line-height: 32px;
	margin: 0 15px;
	color: #646464;
}
.newpage a:hover{
	color: #8b6553;
}
.newpage .newactive{
	color: #8b6553;
}
.newpage .newfirst{
	border: 1px solid #969696;
	padding: 1px 7px;
}
.newpage .newlast,.newpage .newlast:hover,.newpage .newfirst:hover{
   background:#8b6553;
	color: #fff;
}
/*newpage end*/
/*新闻资讯 end*/
/*新闻资讯内页*/
.newnyp p{
	text-indent: 2em;
	color: #3c3c3c;
}
/*上一篇*/
/*previous*/
.previous span{
	margin: 35px 0px;
}
.previous span:hover,.previous span:hover a{
	color: #ff6700;
}
.previous span a{
	color: #3c3c3c;
}
/*previous end*/
/*新闻资讯内页 end*/