.nav_con_gb{padding-top:8px}
#ss_con{ background:#f7f7f7;width:100%;margin-top:50px;border:none;height:760px}
#zs_con ul,#zs_con li{padding:0}
#zs_con p{width:580px}
.ss_con{width:1000px;margin:0 auto}
.ss_con_left{height:660px;width:28px;float:left; background:url(../images/xx_left_bg.png);margin-top:40px; overflow:hidden}
.left_s1,.left_s2,.left_s3,.left_s4{width:26px;height:26px; background:#999; border-radius:13px;color:#fff; text-align:center; line-height:26px; font-weight:700;}
.left_s1{margin-top:64px}
.left_s2,.left_s3,.left_s4{margin-top:146px}






.ss_con_right{height:690px;width:885px;float:right;margin-top:40px; position:relative; overflow:hidden}
/*.ss_con_right ul{width:885px;height:680px; overflow:hidden; background:#099;margin-top:-30px}*/
.ss_con_right_xw{float:right;padding-top:0;position:absolute;left:0px; opacity:1; transition:all 1s}
.active18 .ss_con_right_xw{left:0; opacity:1}
.ss_con_right li{width:885px;height:171px; background:url(../images/ss_dongtai_bg.png)}
.ss_con_right li img{ display:block;padding:48px 0 0 10px;float:left}
.ss_con_right li h5{color:#666;font-size:14px;padding:55px 0 8px 0px;float:left;border-bottom:1px solid #eee;margin:0 0 15px 40px;width:580px}
.ss_con_right li p{float:left;color:#999;width:580px;;padding-left:40px}
.ss_con_right_xw li:hover .left_s1{ background:#309}
#fanhui{border-top:1px solid #eee}
.ss_con_right_xw li:hover{ box-shadow:2px 2px 2px #ccc; background:url(../images/ss_dongtai_heibg.png)}
.ss_con_right_xw li:hover p{color:#666}
.ss_con_right_xw li:hover h5{color:#333;border-bottom:1px solid #ccc}














