@charset "utf-8";
/* CSS Document */

.about-txt{ width:1200px; margin:0 auto; text-align:center; color:#fff; font-weight:bold }
.about-txt div{ width:100%; }
.about-txt .t1{ font-size:48px; line-height:48px; padding-top:240px; }
.about-txt .t2{ font-size:260px; height:180px; overflow:hidden; line-height:100%; margin-top:300px; }
.about-txt .t3{ font-size:57px; line-height:120%; margin-top:480px; }
.about-txt .t4{ font-size:48px; line-height:120%; font-weight:500; margin-top:580px; }
.about-txt .t5{ font-size:18px; font-weight:500; line-height:150%; margin-top:650px; }

.dot{ width:100%; height:100%; background:url(../images/about_bg_dot.png); position:absolute; top:0; }
.about-txt .t1.depth-100 {
  -webkit-animation: wave 4s 0.1s infinite linear;
  -moz-animation: wave 4s 0.1s infinite linear;
  animation: wave 4s 0.1s infinite linear;
  bottom: -40px;
  margin: 0px 0px;
  background-size: 400px 160px;
  height: 160px;
}
.arrow{ width:80px; height:80px; background:url(../images/arrow.png) no-repeat; position:absolute; bottom:5%; left:50%; margin-left:-40px; }
.arrow a{ display:block; width:100%; height:80px; }
.boat{ width:2000px; height:1200px; position:absolute; background:url(../images/about_bg.jpg) center -50px no-repeat; filter:alpha(opacity=60);	-moz-opacity:0.6; -khtml-opacity: 0.6; 	opacity: 0.6; margin:-5% 0 0 -2%; }

.boatwave {
  -webkit-animation: wave 8s 0.1s infinite linear;
  -moz-animation: wave 8s 0.1s infinite linear;
  animation: wave 8s 0.1s infinite linear;
}


@-webkit-keyframes wave {
  0% {
    -webkit-transform: rotateZ(0deg) translate3d(0,1%,0) rotateZ(0deg);
    -moz-transform: rotateZ(0deg) translate3d(0,1%,0) rotateZ(0deg);
    transform: rotateZ(0deg) translate3d(0,1%,0) rotateZ(0deg);
  }

  100% {
    -webkit-transform: rotateZ(360deg) translate3d(0,1%,0) rotateZ(-360deg);
    -moz-transform: rotateZ(360deg) translate3d(0,1%,0) rotateZ(-360deg);
    transform: rotateZ(360deg) translate3d(0,1%,0) rotateZ(-360deg);
  }
}

@-moz-keyframes wave {
  0% {
    -webkit-transform: rotateZ(0deg) translate3d(0,1%,0) rotateZ(0deg);
    -moz-transform: rotateZ(0deg) translate3d(0,1%,0) rotateZ(0deg);
    transform: rotateZ(0deg) translate3d(0,1%,0) rotateZ(0deg);
  }

  100% {
    -webkit-transform: rotateZ(360deg) translate3d(0,1%,0) rotateZ(-360deg);
    -moz-transform: rotateZ(360deg) translate3d(0,1%,0) rotateZ(-360deg);
    transform: rotateZ(360deg) translate3d(0,1%,0) rotateZ(-360deg);
  }
}

@-ms-keyframes wave {
  0% {
    -webkit-transform: rotateZ(0deg) translate3d(0,1%,0) rotateZ(0deg);
    -moz-transform: rotateZ(0deg) translate3d(0,1%,0) rotateZ(0deg);
    transform: rotateZ(0deg) translate3d(0,1%,0) rotateZ(0deg);
  }

  100% {
    -webkit-transform: rotateZ(360deg) translate3d(0,1%,0) rotateZ(-360deg);
    -moz-transform: rotateZ(360deg) translate3d(0,1%,0) rotateZ(-360deg);
    transform: rotateZ(360deg) translate3d(0,1%,0) rotateZ(-360deg);
  }
}

@keyframes wave {
  0% {
    -webkit-transform: rotateZ(0deg) translate3d(0,1%,0) rotateZ(0deg);
    -moz-transform: rotateZ(0deg) translate3d(0,1%,0) rotateZ(0deg);
    transform: rotateZ(0deg) translate3d(0,1%,0) rotateZ(0deg);
  }

  100% {
    -webkit-transform: rotateZ(360deg) translate3d(0,1%,0) rotateZ(-360deg);
    -moz-transform: rotateZ(360deg) translate3d(0,1%,0) rotateZ(-360deg);
    transform: rotateZ(360deg) translate3d(0,1%,0) rotateZ(-360deg);
  }
}

.info{ background:url(../images/about_bg_2.jpg) no-repeat; }
.infoBox{ width:1200px; margin:0 auto; color:#fff; padding-top:200px; }
.infoBox h2{ font-size:60px; letter-spacing:30px; line-height:200%; text-align:center; }
.infoBox h3{ font-size:40px; font-weight:100; line-height:100%; text-align:center; margin-bottom:50px; }
.infoBox p{ font-size:16px; line-height:200%; padding:1% 0; }

.icp{ background:url(../images/about_bg_3.jpg) no-repeat; color:#fff; }
.icp h2{ font-size:50px; text-align:center; line-height:200%; padding-top:100px; }
.icp h3{ font-size:30px; text-align:center; line-height:100%; padding-bottom:50px; }
.icp img{ display:block; margin:0 auto; }

.history{ background:url(../images/about_bg_4.jpg) no-repeat; }
.historyBox{ padding:0 8%; margin:0 auto; }
.historyBox h2{ font-size:48px; color:#333; line-height:200%; text-align:center; padding-top:150px; }
.historyBox h3{ font-size:18px; color:#666666; line-height:100%; text-align:center; font-weight:100; }
/* 本例子css */
.history-left{ margin:0 auto;  width:100%;  overflow:hidden; position:relative; }
.history-left .hd{ overflow:hidden; padding:80px 0 20px 0;  }
.history-left .hd ul{ overflow:hidden; zoom:1; margin:0 auto; width:330px; }
.history-left .hd ul li{ float:left;  width:20px; height:20px; margin-right:5px; text-indent:-999px; cursor:pointer; background:gray; -moz-border-radius: 10px; -webkit-border-radius: 10px; border-radius:10px; }
.history-left .hd ul li.on{ background-color:red; }
.history-left .bd{ padding:10px; }
.history-left .bd ul{ overflow:hidden; zoom:1; }
.history-left .bd ul li{ zoom:1; width:33%; position:relative; margin-top:50px; padding-top:50px; border-top:1px solid #ddd; }
.history-left .bd ul li .dot{ width:16px; height:16px; background:#f66; position:absolute; top:-8px; left:0; -moz-border-radius: 8px; -webkit-border-radius: 8px; border-radius:8px; }
.history-left .bd ul li .txt{ color:#333; }
.history-left .bd ul li .txt.tLeft{ float:left; text-align:right; }
.history-left .bd ul li .txt.tRight{ float:right; text-align:left; }
.history-left .bd ul li .txt h5{ font-size:36px; line-height:150%; background:#f66; display:inline-block; *display:inline; *zoom:1; padding:0 20px; -moz-border-radius: 30px; -webkit-border-radius: 30px; border-radius:30px; color:#fff; }
.history-left .bd ul li .txt p{ font-size:14px; line-height:200%; padding:50px 40px 0 0; }
.history-left .bd ul li .txt p span{ padding:3px 5px; font-size:12px; background:#666; margin-right:10px; margin-top:5px; color:#fff; display:block; float:left; }


.partner{ background:url(../images/about_bg_5.jpg) no-repeat; }
.partner ul{ width:1200px; overflow:hidden; margin:0 auto; padding-top:12%; }
.partner ul li{ width:239px; height:149px; border-right:1px solid #00ff99; border-bottom:1px solid #00ff99; float:left; background:#fff; filter:alpha(opacity=8); -moz-opacity:0.8; -khtml-opacity: 0.8; opacity: 0.8; overflow:hidden; text-align:center; }
.partner ul li img{ width:100%; height:100%; }
.partner ul li.on{ filter:alpha(opacity=100); -moz-opacity:1.0; -khtml-opacity: 1.0; opacity: 1.0; }
.partner ul li.on img{ width:90%; height:90%; -moz-transition: all 0.5s ease; -webkit-transition: all 0.5s ease; transition: all 0.5s ease; }

.partner .partnerBox{ margin:0 8%; position:relative; height:980px; }
.partner .partnerBox img{ display:block; position:absolute; }
.partner .partnerBox img.Tiunion{ width:261px; height:213px; top:50%; margin-top:-106px; left:50%; margin-left:-130px; z-index:999; }
.partner .partnerBox img.weixin{ padding:10% 0 0 20%; }
.partner .partnerBox img.ali{ margin:10% 0 0 50%; }
.partner .partnerBox img.xinwang{ margin:20% 0 0 10%; filter:alpha(opacity=70); -moz-opacity:0.7; -khtml-opacity: 0.7; opacity: 0.7; }
.partner .partnerBox img.liantong{ margin:32% 0 0 70%; }
.partner .partnerBox img.shidai{ margin:40% 0 0 50%; }
.partner .partnerBox img.dianwang{ margin:40% 0 0 20%; }
.partner .partnerBox img.shiyou{ margin:50% 0 0 40%; filter:alpha(opacity=50); -moz-opacity:0.5; -khtml-opacity: 0.5; opacity: 0.5; }
.partner .partnerBox img.zhonghang{ margin:70% 0 0 80%; }
.partner .partnerBox img.jianhang{ margin:10% 0 0 65%; filter:alpha(opacity=30); -moz-opacity:0.3; -khtml-opacity: 0.3; opacity: 0.3;}
.partner .partnerBox img.gonghang{ margin:50% 0 0 70%; }
.partner .partnerBox img.nonghang{ margin:20% 0 0 70%; filter:alpha(opacity=50); -moz-opacity:0.5; -khtml-opacity: 0.5; opacity: 0.5; }

.contact_bg{ background:url(../images/about_bg_6.jpg) no-repeat; }
.contact{ padding:0 8%; margin:0 auto; }
.contact .title{ text-align:center; padding-top:110px; }
.contact .title h4{ font-size:18px; color:#fff; letter-spacing:10px; margin-bottom:30px; }
.contact .title h5{ font-size:30px; color:#ff6666; letter-spacing:40px; margin-bottom:30px }
.contact .title p{ font-size:14px; color:#999; margin-bottom:50px; letter-spacing:5px; }
.contact ul{ margin:30px 0; color:#fff; }
.contact ul li{ font-size:16px; line-height:200%; }
.contact ul li.itRight{ float:right; }

.contact .mingpian{ width:360px; height:140px; background:#fff; }
.contact .mingpian .ewm{ width:140px; text-align:center; padding-top:10px; float:left; }
.contact .mingpian .ewm img{ border:1px solid #ccc; }
.contact .mingpian .text{ text-align:center; padding-top:50px; }
.contact .mingpian .text h6{ font-size:18px; color:#333; line-height:100%; font-weight:600; }
.contact .mingpian .text p{ font-size:14px; color:#666;}