@charset "utf-8";
/* CSS Document */
*{ padding:0; margin:0; border:none; text-decoration:none; list-style:none; outline:none;}
.main{ height:100%; width:100%; margin:0 auto;}
.worp{ width:1008px; margin:0 auto;}
/*头部*/
.header{ height:79px; width:100%; margin:16px auto 0; background:#6a1b6b; position:relative;}
.right-bg{ float:right; margin-top:8px; height:71px; width:50%; *width:50%; _width:100%; _margin-left:50%; background:#f4f4f4;}
.header-con{ margin:0 auto; height:79px; width:1008px; position:absolute; top:0; left:auto; overflow:hidden;}
.logo{ float:left; height:79px; width:312px;}
.sj{ float:left; height:71px; line-height:0; width:99px; padding-top:8px; padding-left:100px; background:#6a1b6b;}
.right{ float:right; height:71px; width:270px; margin-top:8px;}
.hot{ float:right; height:24px; width:250px; line-height:24px; font-size:18px; font-family:"微软雅黑"; color:#de422c; position:relative; margin-top:6px; }
.hot span{ float:right; position:absolute; top:0;}
.txt{ float:left; height:27px; width:214px; font-size:12px; line-height:27px\9; color:#b1b1b0; border:1px solid #b1b1b0; border-right:none; margin-top:6px;}
.button{ float:right; height:29px; width:55px; background:url(../images/search.gif) no-repeat; margin-top:6px; cursor:pointer;}
/*导航*/
.con{ width:100%; height:104px; margin:0 auto;}
.nav{ display:inline; float:left; height:75px; margin-top:16px; margin-left:25px;}
.nav a{ display:inline; float:left; height:70px; line-height:55px; text-align:center; padding:0 20px; font-size:14px; font-family:"微软雅黑"; color:#252525; letter-spacing:1px;}
.nav a p{ text-align:center; font-size:12px; font-family:"Helvetica LT 23 Ultra Light Extended"; color:#484747; margin-top:-35px;}
.a1{ background:#edebeb; border-bottom:5px solid #de422c;}
.nav a:hover{ background:#edebeb; border-bottom:5px solid #de422c;}
/*轮播图*/
.banner{ display:block; height:230px; width:100%; margin:0 auto;}
.banner .slide{ height:230px; width:1440px; margin:0 auto; position:relative; overflow:hidden;}
.banner .slide a{ height:230px; width:1440px;}
/*.banner .ctrl{ float:left; height:10px; width:48px; overflow:hidden; position:absolute; bottom:7px; left:688px;}
.banner .ctrl span{ display:inline; float:left; height:10px; width:10px; background:url(../images/3.png) no-repeat; _background:none; _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="../images/3.png", sizingMethod="crop"); margin-left:6px;}
.banner .ctrl .currt{ float:left; height:10px; width:10px; background:url(../images/2.png) no-repeat; _background:none; _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="../images/2.png", sizingMethod="crop"); margin-left:6px;}
.ctrl span:hover,.currt{ background:url(../images/1.png) 0 -63px no-repeat;}*/
/*正文*/
/*品牌文化*/
.content{ width:100%; margin:40px auto 0;}
.title1{ width:100%; text-align:center; line-height:18px;}
.title2{ width:100%; margin-top:2px; text-align:center; line-height:18px; letter-spacing:1px; font-size:16px; font-family:"微软雅黑"; color:#242424; position:relative;}
.line1{ float:left; height:1px; width:70px; position:absolute; top:9px; left:385px;}
.line2{ float:right; height:1px; width:70px; position:absolute; top:9px; right:385px;}
.culture{ display:inline; float:left; width:540px; margin-left:230px;}
.text{ float:left; line-height:24px; font-size:12px; font-family:"宋体"; color:#3d3d3d; width:540px; margin-top:24px; margin-left:5px;}
.text1{ float:left; line-height:24px; font-size:12px; font-family:"宋体"; color:#3d3d3d; width:540px; text-indent:24px; margin-top:24px; margin-left:5px;}
.text span{ color:#de422c; width:540px; text-indent:0; float:left;}
.text1 span{ color:#de422c;}
.clear{ clear:both;}
/*底部*/
.con1{ height:34px; width:100%; margin:110px auto 0; border-bottom:1px solid #b3b3b3; border-top:1px solid #b3b3b3;}
.foot-nav{ display:inline; float:left; height:34px; line-height:34px;}
.foot-nav a{ display:inline; float:left; height:34px; line-height:34px; text-align:center; padding:0 20px; font-size:14px; font-family:"微软雅黑"; color:#252525; letter-spacing:1px;}
.foot-nav a:hover{ color:#de422c;}
.foot-nav span{ float:left; height:14px; width:1px; background:url(../images/line3.gif) no-repeat; margin-top:10px;}
.foot{ width:100%; height:88px; background:#eaeaea; margin:0 auto;}
.copy{ width:1008px; text-align:center; padding-top:32px; margin:0 auto;}
.copy p{ text-align:center; line-height:20px; color:#131313;  font-size:12px; font-family:"宋体";}
