@charset "utf-8";
/* CSS Document */
* html .clerfix{height:1%;}
.clerfix:after{content:".";display:block;height:0;clear:both;visibility:hidden;}
.content{ width:1000px; margin:0 auto 100px;font-size:16px;}
.listpath{ margin:25px 0 30px 0; font-size:14px; width:1000px; border-bottom: 1px solid #dcdcdc; line-height:40px; font-size:14px;color:#626364}
.listpath:hover{ color:#626364}
.listpath a{ color:#626364}
.ableft{ float:left}
.ableft ul{ padding:10px 0 30px 0; width:230px; background:#eee; margin-bottom:10px;}
.ableft ul li{ border-bottom:1px solid #cacbce;}
.ableft ul li:hover{ background:#00d5dc; color:#fff}
.ableft ul .yssm{ border:0;}
.ableft ul li p{ margin-left:45px; padding-left:30px; height:45px; line-height:45px;/*background:url(../images/abouthscion01.png) no-repeat;*/ font-size:20px;}
.ableft ul li a{ color:#646464;}
.ableft ul .ppgs p{  background-position:0px 5px;}
.ableft ul .zzrz p{  background-position:0px -38px;}
.ableft ul .ksjs p{  background-position:-1px -81px;}
.ableft ul .yyhj p{  background-position:0px -119px;}
.ableft ul .yysb p{  background-position:-1px -164px;}
.ableft ul .aqtx p{  background-position:-1px -208px;}
.ableft ul .hsdsj p{  background-position:-1px -248px;} 
.ableft ul .vip p{  background-position:4px -284px;}
.ableft ul .lxwm p{  background-position:0px -325px;}
.ableft ul .yssm p{  background-position:0px -363px;}

.ableft ul li:hover p{/*background:url(../images/abouthscion02.png) no-repeat;*/}
.ableft ul .ppgs:hover p{  background-position:-3px 5px;}
.ableft ul .zzrz:hover p{  background-position:0px -38px;}
.ableft ul .ksjs:hover p{  background-position:-4px -80px;}
.ableft ul .yyhj:hover p{  background-position:-3px -122px;}
.ableft ul .yysb:hover p{  background-position:-6px -164px;}
.ableft ul .aqtx:hover p{  background-position:-5px -204px;}
.ableft ul .hsdsj:hover p{  background-position:-6px -244px;}
.ableft ul .vip:hover p{  background-position:-3px -282px;}
.ableft ul .lxwm:hover p{  background-position:-4px -325px;}
.ableft ul .yssm:hover p{  background-position:-5px -364px;}

.ableft ul .ppgsa, .ableft ul .zzrza, .ableft ul .lxwma, .ableft ul .ksjsa, .ableft ul .yysba, .ableft ul .aqtxa, .ableft ul .yssma, .ableft ul .yyhja, .ableft ul .hsdsja, .ableft ul .vipa{background:#00d5dc; color:#fff}
.ableft ul .ppgsa a, .ableft ul .zzrza a, .ableft ul .lxwma a, .ableft ul .ksjsa a, .ableft ul .yysba a, .ableft ul .aqtxa a, .ableft ul .yssma a,.ableft ul .yyhja a, .ableft ul .hsdsja a, .ableft ul .vipa a{color:#fff}
.ableft ul .ppgs:hover a, .ableft ul .zzrz:hover a, .ableft ul .lxwm:hover a, .ableft ul .ksjs:hover a, .ableft ul .yysb:hover a, .ableft ul .aqtx:hover a, .ableft ul .yssm:hover a, .ableft ul .yyhj:hover a, .ableft ul .hsdsj:hover a, .ableft ul .vip:hover a{ color:#fff}
/*
.ableft ul .ppgsa p, .ableft ul .ppgsa:hover p{background:url(../images/abouthscion02.png) no-repeat; background-position:-3px 5px;}
.ableft ul .zzrza p, .ableft ul .zzrza:hover p{background:url(../images/abouthscion02.png) no-repeat; background-position:0px -38px;}
.ableft ul .ksjsa p, .ableft ul .ksjsa:hover p{background:url(../images/abouthscion02.png) no-repeat; background-position:-4px -80px;}
.ableft ul .yyhja p, .ableft ul .yyhja:hover p{background:url(../images/abouthscion02.png) no-repeat; background-position:-3px -122px;}
.ableft ul .yysba p, .ableft ul .yysba:hover p{background:url(../images/abouthscion02.png) no-repeat; background-position:-6px -164px;}
.ableft ul .aqtxa p, .ableft ul .aqtxa:hover p{background:url(../images/abouthscion02.png) no-repeat; background-position:-5px -204px;}
.ableft ul .hsdsja p, .ableft ul .hsdsja:hover p{background:url(../images/abouthscion02.png) no-repeat; background-position:-6px -244px;}
.ableft ul .vipa p, .ableft ul .vipa:hover p{background:url(../images/abouthscion02.png) no-repeat; background-position:-3px -282px;}
.ableft ul .lxwma p, .ableft ul .lxwma:hover p{background:url(../images/abouthscion02.png) no-repeat; background-position:-4px -325px;}
.ableft ul .yssma p, .ableft ul .yssma:hover p{background:url(../images/abouthscion02.png) no-repeat; background-position:-5px -364px;}
*/

.aboutsidebar{ border:1px solid #dcdcdc; width:183px; padding:9px 7px 12px 8px; margin-top:25px;}
.abouttxleft{ float:left; margin:9px 8px 0 0}
.abouttxright{ float:right; margin-top:9px;}
/********************右边**********************/
.aboutright{ width:730px; float:right;min-height:900px;}

/*******************集团介绍************************/
.pingpai h1{ width:730px; font-size:24px; color:#444444;background:url(../images/pppicbt.jpg) bottom no-repeat; font-weight:normal; line-height:36px; margin-top:40px; padding-bottom:4px}
.pingpai .first{ margin-top:0}
.pingpai .pppic{ margin-top:30px;}
.pingpai p{ margin-top:10px; line-height:20px; color:#868686;}
.lishi p{margin:0px; padding:0px;}

.ksjsmain h1{ width:730px; font-size:24px; color:#444444; border-bottom:double #eaeaea; font-weight:normal; line-height:36px; margin-top:30px; padding-bottom:4px}
.ksjsmain .first{ margin-top:0}
.ksjsmain .pppic{ margin-top:20px;}
.ksjsmain p{ margin-top:20px; margin-bottom:25px; line-height:30px; text-indent:2em}

/*******************医院介绍************************/
.yiyuan h1{ width:730px; font-size:24px; color:#444444;background:url(../images/pppicbt.jpg) bottom no-repeat; font-weight:normal; line-height:36px; margin-top:40px; padding-bottom:4px}
.yiyuan .first{ margin-top:0}
.yiyuan .pppic{ margin-top:30px;}
.yiyuan p.ht{ margin:15px 0px 10px; line-height:20px; color:#009e9c; font-size:20px;}
.yiyuan p.ht img{ padding-left:5px;}
.yiyuan p{ line-height:20px; color:#868686;font-size:14px;}

/*******************专家团队***********************/
.zj {width:730px;height:50px; line-height:45px; margin:0 auto;background:url(../images/pppicbt.jpg) bottom no-repeat;}
.zj .pt{ font-size:26px; color:#494949; width:150px; float:left;}
.zj .ptt{ color:#e8e8e8;float:left;padding-top:10px; }
.zj .ptt p{float: left;border: 1px solid #000;height: 28px;line-height: 28px;padding: 0 15px;font-size: 16px;margin-left: 10px;cursor: pointer;}
.zj .ptt p a{color: #000;}
.zj .ptt p.on{background-color: #00d2d9;border-color: #00d2d9;color: #000;}
.zj .ptt p.on a{color: #fff;}

.zjlist{padding-top:25px;width:730px;margin:0 auto;}
.zjlist li{float:left; width:224px;border:1px solid #d1d2d2;margin:0px 26px 18px 0; height:345px;text-align:center;position:relative;}
.zjlist li .before{position:absolute;top:-1px;right:-1px;width:0;height:0;border-top:20px solid #00d2d9;border-left:20px solid transparent;}
.zjlist li .ptf{height:154px;overflow:hidden;}
.zjlist li .ptf img{width:100%;}
.zjlist li .pt1{height:40px;line-height:40px;position:relative;}
.zjlist li .pt1 .after{position:absolute;width:42px;height:4px;bottom:0;left:41%;background-color: #e72351;}
.zjlist li .pt1 a{color:#333;font-size:20px;text-decoration:none;}
.zjlist li .pt1 a:hover{ color:#009d9e; text-decoration:underline;}
.zjlist li .pt2{color:#8d8d8d;font-size:14px; line-height:16px; padding:5px 10px;}
.zjlist li .pt3{color:#1f1f1f;padding-bottom:30px;line-height:20px;padding:5px 10px;}
.zjlist li .btn_zx{display:block;line-height:14px;color:#e72351;padding:5px 10px;font-size:14px;border:2px solid #e72351;height:14px; width:90px;position:absolute;bottom:30px;left:24%;border-radius:5px;-webkit-border-radius:5px;-moz-border-radius:5px;}

/********************仪器************************/
.yiq{ width:750px; float:right}
.yiqht{ width:730px; background:url(../images/pppicbt.jpg) bottom no-repeat; height:90px; margin-left:20px;}
.yiqht h1{font-size:26px;color:#494949; margin-bottom:10px;}
.yiqht img{ padding-left:10px;}
.yiqmax{ width:688px; height:490px; border:1px solid #bebebe; z-index: 50;position:fixed;margin:auto;left:230px; right:0; top:0; bottom:0; background:#FFF; display:none}
.yiqmaxconent{ width:668px; height:470px; background:url(../images/yqbg.jpg) no-repeat top center; margin:10px}
.yiqmaxr{ width:364px; margin-top:15px; margin-right:20px; overflow:hidden;}
.yiqmax h1{ font-size:22px; width:330px; line-height:30px; padding-bottom:8px;  border-bottom:1px solid #dcdcdc; color:#3e3a39;}
.yiqmax h1 span{ font-size:18px;color:#3e3a39;padding-left:5px;}
.yiqmax h2{ font-size:20px; color:#161616; margin:23px 0 12px 0}
.yiqmax p{ font-size:14px; line-height:22px; color:#636363;}
.yiqmax .btn_zx{display:block;line-height:22px;color:#e72351;padding:5px 15px;font-size:16px;border:2px solid #e72351;height:22px; border-radius:5px;-webkit-border-radius:5px;-moz-border-radius:5px;}

.fl{ float:left;}
.fr{ float:right;}
.yiqnav li{ float: left;border: 1px solid #000; color:#1f1f1f; height: 28px;line-height: 28px;padding: 0 10px;font-size: 16px;margin-left: 10px;cursor: pointer;}
.yiqnav li:hover{background-color: #00d2d9;border-color: #00d2d9;color: #fff;}
.yiqnav li.current{ background-color: #00d2d9;border-color: #00d2d9;color: #fff;}
.yiqpic01 ul li{ position:relative; margin:30px 0 0 20px; float:left; cursor:pointer; display:block;}
.yiqpic01 ul li p{ position:absolute; bottom:0px; height:50px; background:url(../images/yiqbg.png) repeat-x; width:228px; line-height:45px; text-align:center; left:0; font-size:14px; color:#393939;}
.yiqpic01 ul li:hover p{ background:url(../images/yiqbg01.png) repeat-x; text-align:center; color:#FFF}
.yiqpic01 ul li.last{ margin-right:0}
.yiqclose{ margin-right:2px}
.yiqmaxl{ width:284px; overflow:hidden;}
.yqbt{ margin-right:20px;}
.yiqqb, .yiqnf, .yiqcz, .yiqjf, .yiqtm, .yiqqd, .yiqqh, .yiqkq, .yiqxm{ display: none}
.yiqheight{ height:370px}

/********************真人案例************************/
.anl{ width:730px; float:right}
.anlht{ width:730px; background:url(../images/pppicbt.jpg) bottom no-repeat; height:90px; }
.anlht h1{font-size:26px;color:#494949; margin-bottom:10px;}
.anlht img{ padding-left:10px;}
.anlnav li{ float: left;border: 1px solid #000; color:#1f1f1f; height: 28px;line-height: 28px;padding: 0 10px;font-size: 16px;margin-left: 10px;cursor: pointer;}
.anlnav li:hover{background-color: #00d2d9;border-color: #00d2d9;color: #fff;}
.anlnav li.current{ background-color: #00d2d9;border-color: #00d2d9;color: #fff;}
.anli .p1{ margin-bottom:20px;}
.anli .p2{ margin-bottom:40px;}
.anli .p3{ color:#2a2236; font-size:30px; line-height:60px; border-top:#cccccc solid 1px; margin-top:40px; text-align:center;}
.anli .p4{ color:#5d5c5c; font-size:14px; line-height:18px; margin-bottom:20px; text-align:center;}
.anli .p5{ border-top:#cccccc solid 1px; border-bottom:#cccccc solid 1px;margin:40px 0px; padding:30px 0px;}

/*************精彩专题*******************/

.zhuant{ width:756px; float:right}
.ztht {width:730px; height:50px; line-height:45px; margin:0 auto;background:url(../images/pppicbt.jpg) bottom no-repeat;margin-left:26px;}
.ztht h1{ font-size:26px; color:#494949; width:150px; float:left;}
.ztnav{ color:#e8e8e8;float:left;padding-top:10px;  }
.ztnav li{float: left;border: 1px solid #000;height: 28px; color:#1f1f1f;line-height: 28px;padding: 0 15px;font-size: 16px;margin-left: 10px;cursor: pointer;}
.ztnav li:hover{background-color: #00d2d9;border-color: #00d2d9;color: #fff;}
.ztnav li.current{background-color: #00d2d9;border-color: #00d2d9;color: #fff;}
.zt01 ul li{ position:relative; margin:30px 0 0 26px; float:left; cursor:pointer; display:block; text-align:center; width:352px;}
.zt01 ul li img{ width:352px; height:202px;}
.zt01 ul li a{ text-align:center; color:#666666; line-height:28px; font-size:16px;}
/********************认证资质***********************/
.ryzztitle { height:350px;}
.ryzztitle h1{ width:730px; font-size:24px; color:#444444;background:url(../images/pppicbt.jpg) bottom no-repeat; font-weight:normal; line-height:36px; margin-top:10px; margin-bottom:30px; padding-bottom:4px}
.ryzztitle01{ width:730px; background:url(../images/abzzrzbg.jpg) no-repeat; background-position:0 -2px; height:30px; margin-bottom:22px;}
.ryzztitle02{ width:730px; margin:30px 0 20px 0; background:url(../images/abzzrzbg.jpg) no-repeat; background-position:0 -35px; height:30px; margin-bottom:22px;}
.ryzztitle03{ width:730px; margin:30px 0 20px 0; background:url(../images/abzzrzbg.jpg) no-repeat; background-position:0 -70px;  height:30px; margin-bottom:22px;}
.ryzztitle01 h1, .ryzztitle02 h1, .ryzztitle03 h1{ font-size:18px; font-weight:normal; padding-left:35px;}
.ryzzleft{ float:left}
.ryzzright{ width:305px; height:229px; padding:40px 30px 0 30px;float:right;}
.ryzzright p{  line-height:24px; color:#868686; margin-top:10px; font-size:16px;}
.zzul { margin-bottom:30px;}
.zzul li{ margin-top:25px; margin-right:20px; float:left; width:230px;}
.zzul .last{ margin-right:0}
.zzul li p{ text-align:center; line-height:22px; color:#4e4e4e; font-size:14px;}
.yyhj img{ margin-bottom:20px;}


/***********联系我们**********/
.lxht{ width:730px; background:url(../images/pppicbt.jpg) bottom no-repeat; height:90px; }
.lxht h1{font-size:26px;color:#494949; margin-bottom:10px;}
.lxht img{ padding-left:10px;}
.lxnav li{ float: left;border: 1px solid #000; color:#1f1f1f; height: 28px;line-height: 28px;padding: 0 8px;font-size: 16px;margin-left: 10px;cursor: pointer;}
.lxnav li:hover{background-color: #00d2d9;border-color: #00d2d9;color: #fff;}
.lxnav li.current{ background-color: #00d2d9;border-color: #00d2d9;color: #fff;}

.lxwm01{line-height:20px;}
.lxwm01 h1{ font-size:22px; color:#494949; margin-top:25px; padding-left:65px; line-height:65px;background:url(../images/lxwmcion.jpg) no-repeat;}
.lxwm01 p{ font-size:14px; color:#868686; padding-left:65px; width:660px;margin-bottom:15px;}
.lxwm01 p span{font-size:16px; color:#00d5dc}
.lxwm01 .lxlx02{ font-size:18px; color:#3a3a3a; line-height:26px;margin-bottom:0px; }
.lxwm01 .lxcar h1{ background-position:0 0;}
.lxwm01 .lxsubway h1{background-position:0 -210px;}
.lxwm01 .lxbus h1{background-position:0 -275px;}
.lxwm01 .lxair h1{background-position:0 -70px;}
.lxwm01 .lxtrain h1{background-position:0 -140px;}

#allmap {width:730px;height:430px; margin:35px 0px 20px;overflow: hidden;}
#allmap p{ font-size:14px; color:#000; padding:0px; width:auto;margin:0px;}
/****************************会员中心*************************/
.condition{ margin-bottom:23px;}
.vipright{ float:right}
.vipleft{ float:left}
.vipleft, .vipright{ width:475px; height:360px; background:#f4f5f6; margin-bottom:10px;}
.vipright p, .vipleft p, .zsvip p{ text-align:center; padding:50px 0 20px 0; margin-top:0}
.vipright img, .vipleft img{ padding-left:80px;}
.zsvip{ width:730px;background:#f4f5f6; margin-bottom:10px;height:370px}
.zsvip img{ padding-left:325px;}
.needknow{padding:20px 0; border-bottom:1px dashed #d5d5d5}
.needknow p{ text-indent:2em; margin-top:0}
.needknow span{ color:#fe9002; font-weight:bold}
.pingpai .paiming01{ text-indent:0em}
.pingpai .paiming02{ margin-top:0; text-indent:0; margin-bottom:20px;}
.pingpai .paiming02 span{ color:#fe9002;}
.vipgift{ padding-bottom:10px;}
.vipzt li{ float:left; margin:25px 0 25px 44px; padding-right:44px; border-right:1px solid #d5d5d5}
.vipzt .frist{ margin-left:0}
.vipzt .frist:hover p, .vipzt .last:hover p, .vipzt .second:hover p{ color:#fe9002}
.vipzt .last{ padding-right:0; border-right:0}
.vipzt li p{ padding-left:40px}

/********华山大事记*********/
.dsjoneline, .dsjtwoline, .dsjfourline, .dsjfiveline{ position:relative; margin-bottom:55px;}
.dsjoneline p{ position:absolute;top:90px; left:200px;}
.dsjoneline p strong{ font-size:18px; font-weight:bold;}
.dsjoneline p span, .dsjtwoline p span, .dsjfourline p span, .dsjfiveline p span{ color:#c1c1c1;}
.dsjtwoline .p01{ position:absolute; top:75px; left:200px;}
.dsjtwoline .p02{ position:absolute; top:105px; left:200px;}
.dsjfourline .p01{ position:absolute; top:55px; left:200px;}
.dsjfourline .p02{ position:absolute; top:80px; left:200px;}
.dsjfourline .p03{ position:absolute; top:105px; left:200px;}
.dsjfourline .p04{ position:absolute; top:130px; left:200px;}
.dsjfiveline .p01{ position:absolute; top:45px; left:200px;}
.dsjfiveline .p02{ position:absolute; top:70px; left:200px;}
.dsjfiveline .p03{ position:absolute; top:95px; left:200px;}
.dsjfiveline .p04{ position:absolute; top:120px; left:200px;}
.dsjfiveline .p05{ position:absolute; top:145px; left:200px;}
/******资讯中心************/
.ableft ul .jkjy{ border:0}
.ableft .infor li p{background:url(../images/inforcion01.png) no-repeat;}
.ableft ul.infor .yyxw p{  background-position:-2px 0;}
.ableft ul.infor .mtbd p{  background-position:-2px -38px;}
.ableft ul.infor .spzx p{  background-position:-2px -75px;}
.ableft ul.infor .mldt p{  background-position:-2px -113px;}
.ableft ul.infor .hyxw p{  background-position:-2px -160px;}
.ableft ul.infor .wyfx p{  background-position:-2px -196px;}
.ableft ul.infor .tpxw p{  background-position:-2px -235px;} 
.ableft ul.infor .jkjy p{  background-position:-2px -270px;}
.ableft ul.infor li:hover p{background:url(../images/inforcion02.png) no-repeat;}
.ableft ul.infor .yyxw:hover p{  background-position:-2px -5px;}
.ableft ul.infor .mtbd:hover p{  background-position:-2px -52px;}
.ableft ul.infor .spzx:hover p{  background-position:-2px -95px;}
.ableft ul.infor .mldt:hover p{  background-position:-2px -138px;}
.ableft ul.infor .hyxw:hover p{  background-position:-2px -178px;}
.ableft ul.infor .wyfx:hover p{  background-position:-2px -218px;}
.ableft ul.infor .tpxw:hover p{  background-position:-2px -258px;}
.ableft ul.infor .jkjy:hover p{  background-position:-2px -290px;}
.ableft ul .yyxwa, .ableft ul .mtbda, .ableft ul .spzxa, .ableft ul .mldta, .ableft ul .hyxwa, .ableft ul .wyfxa, .ableft ul .tpxwa, .ableft ul .jkjya{background:#feae66; color:#fff}
.ableft ul .yyxw:hover a, .ableft ul .mtbd:hover a, .ableft ul .spzx:hover a, .ableft ul .mldt:hover a, .ableft ul .hyxw:hover a, .ableft ul .wyfx:hover a, .ableft ul .tpxw:hover a, .ableft ul .jkjy:hover a{color:#fff}
.ableft ul .yyxwa a, .ableft ul .mtbda a, .ableft ul .spzxa a, .ableft ul .mldta a, .ableft ul .hyxwa a, .ableft ul .wyfxa a, .ableft ul .tpxwa a, .ableft ul .jkjya a{color:#fff}
.ableft .infor .yyxwa p, .ableft .infor .yyxwa:hover p{background:url(../images/inforcion02.png) no-repeat; background-position:-2px -5px;}
.ableft .infor .mtbda p, .ableft .infor .mtbda:hover p{background:url(../images/inforcion02.png) no-repeat; background-position:-2px -52px;}
.ableft .infor .spzxa p, .ableft .infor .spzxa:hover p{background:url(../images/inforcion02.png) no-repeat; background-position:-2px -95px;}
.ableft .infor .mldta p, .ableft .infor .mldta:hover p{background:url(../images/inforcion02.png) no-repeat; background-position:-2px -138px;}
.ableft .infor .hyxwa p, .ableft .infor .hyxwa:hover p{background:url(../images/inforcion02.png) no-repeat; background-position:-2px -95px;}
.ableft .infor .wyfxa p, .ableft .infor .wyfxa:hover p{background:url(../images/inforcion02.png) no-repeat; background-position:-2px -95px;}
.ableft .infor .tpxwa p, .ableft .infor .tpxwa:hover p{background:url(../images/inforcion02.png) no-repeat; background-position:-2px -95px;}
.ableft .infor .jkjya p, .ableft .infor .jkjya:hover p{background:url(../images/inforcion02.png) no-repeat; background-position:-2px -95px;}


.inforright{width:987px; float:right}
.infotitle{margin-top:5px; width:220px; height:85px; background:#eee; font-size:14px}
.inforright ul li{ margin:0 0 20px 26px; float:left}
.inforright ul li p{ padding:18px 20px 0 14px;}
/*********健康教育**********/

.inforright .listlbmain{ width:730px; float:right; font-size:16px; line-height:30px;}
.inforright .tuijian{ padding-bottom:30px; border-bottom:1px dashed #e8e9e9}
.inforright .tuijian h1{ padding:20px 0 15px 0; font-size:24px;}
.inforright .tuijian h1 a:hover{  border-bottom:1px solid #fe9c43;color:#fe9002;}
.inforright .tuijian .listleft{ width:230px; float:left}
.inforright .tuijian .listright{ width:700px; color:#7c7c7c; line-height:30px; margin-right:10px; float:right}
.inforright .tuijian .listright p{ height:112px;}
.inforright .listright p span a{color:#fe9002; text-decoration:underline; margin-left:10px}
.inforright .tuijian .listxq{ float:left; margin-left:142px;}
.inforright .tuijian .listzx{ float:left; margin-left:38px;}
.inforright .listcontent{ padding-bottom:20px; border-bottom:1px dashed #e8e9e9;}
.inforright .listcontent h1{ font-size:16px; margin:15px 0 10px 0;border-bottom:1px solid #fff}
.inforright .listcontent h1 a:hover{color:#fe9002; border-bottom:1px solid #fe9c43}
.inforright .listcontent .listleft{ width:120px; float:left}
.inforright .listcontent .listright{ width:820px; font-size:16px; line-height:30px; color:#7c7c7c; float:right}



.fengye{ margin:35px 0 35px 260px;}
.fengye li{ float:left; margin-left:10px;}
.fengye li.thisclass{ width:30px; height:30px; background:#ffae65; text-align:center; line-height:30px; color:#fff; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius:5px;}
.fengye #page_index a{width:30px; height:30px; display:block; float:left; text-align:center; line-height:30px}
.fengye #page_index .thislink{ background:#ffae65; text-align:center; line-height:30px; color:#fff; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius:5px;}

/******************视频中心************************/
.infospzx{ width:995px; float:right}
.infospzx .titlezx{ background: url(../images/spzxtitle.jpg) no-repeat; background-position: 0 0px; font-size:20px; line-height:30px; margin-left:33px;}
.titlezxx{ background: url(../images/spzxtitle.jpg) no-repeat; background-position: 0 0px; font-size:20px; line-height:30px; margin-left:33px;margin-top:30px;}
.infospzx  .titlewzx{ background: url(../images/spzxtitle.jpg) no-repeat; background-position: 2px -34px; font-size:20px; line-height:30px; margin-left:33px; margin-top:30px;}
.infospzx ul li{ width:215px; height:160px; margin:20px 0 0 33px; float:left}
.infospzx ul li p{ text-align:center; font-size:12px; line-height:36px; width:215px; height:36px; background:#eee;}
/****视频文章****/
.inforright .spzx{ width:730px;}
.inforright .spzx h1{ font-size:24px; text-align:center}
.inforright .spzx .spzxsp{ width:500px; margin:40px auto 24px auto;}
.inforright .spzx p{ text-indent:2em; margin:0 auto; width:800px; line-height:30px;}
/******************************网友分享**********************/
.wyfxmians{ width:730px; float:right}
.share_h1{ background:url(../images/share_titlebg.jpg) left bottom no-repeat;}
.share_h1 h1{ font-size:18px; height:28px; padding-left:35px; padding-top:10px}
.product_list h1{ font-size:14px; font-weight:600; padding-left:50px;}
.product_list h1 span{ float:right; font-weight:200; color:#a0a0a0}

#con1_1 { position:relative; width:860px}
#con1_1 .product_list { position:absolute; left:0px; top:0px;margin-rgiht:5px; margin-top:30px; margin-bottom:30px; border:1px solid #dcdcdc; -webkit-box-shadow: 1px 1px 5px #dcdcdc;
box-shadow: 3px 3px 10px #dcdcdc; line-height:24px}
.product_list img { float:left}
/***************修改*************/
.product_list p { width:390px; margin-top:12px; border-top:1px dashed #e6e6e6; padding-top:10px;}/***************修改*************/
.share_pagelist{ border-top:3px solid #eeeeee; margin-top:60px}
.share_liz{ background:url(../images/share_cion3.jpg) no-repeat; margin-top:15px; padding-left:32px}
.share_liz span, .share_xm span{ font-weight:700}
.share_xm{ background:url(../images/share_cion4.jpg) left  center no-repeat ; margin-top:5px; padding-left:32px}
.share_xmbt{ width:90px; height:30px; margin-left:88px; margin-top:5px}
.share_content{ padding-top:20px}
.share_p1{ padding-top:15px; float:left}
.share_p2{ padding-top:10px; float:right}
.share_p1 span{ color:#fea143}

.share_anli{ position:relative;}
.share_anli .privilege{ height:250px}
.share_anli .slides li{ height:320px}
.share_anli .slides li a{ height:170px}
/****************************************************************/
.share_cion{ position:relative;}
.product_conent{ padding:8px 15px 20px 15px;}
.share_cion ul{ border-top:1px solid #dcdcdc}
.share_cion ul li{ float:left; margin-bottom:10px}
.share_cion1{ background:url(../images/tuibao_zan.jpg)  left center no-repeat;}
.share_cion1, .share_cion2{ width:83px; height:28px; margin-left:34px; padding-left:21px; border-right:1px solid #dcdcdc;padding-top:5px; margin-top:12px}
.share_cion2{ background: url(../images/tuibao_zx.jpg)  left center no-repeat;}
.share_cion3{ width:70px; height:28px; margin-left:34px; padding-left:24px; background:url(../images/tuibao_fx.jpg) left center no-repeat; padding-top:5px; margin-top:12px}
.share_share{ position:absolute; top:10px; right:-80px; width:138px; height:164px; background:url(../images/share_sharebg.png) no-repeat;z-index:1}
.share_cion4{ background:url(../images/tuibao_wx.jpg) left center no-repeat;}
.share_cion5{ background:url(../images/tuibao_xl.jpg) left center no-repeat;}
.share_cion6{ background:url(../images/tuibao_kj.jpg) left center no-repeat;}
.share_cion7{ background:url(../images/tuibao_rr.jpg) left center no-repeat;}
.share_cion4, .share_cion5, .share_cion6, .share_cion7{ margin-left:18px; margin-top:8px; padding:4px 0 4px 35px;}
/*************文章页面******************/
.wzmain{ width:730px; float:right; font-size:16px; line-height:30px;}
.wzmain p{ margin-bottom:15px;}
.wztitle{border-bottom: 1px dotted #dcdcdc; margin-bottom: 50px;}
.wztitle h1{ text-align:center; font-size:24px; line-height:30px;}
.wztitle p{ margin-left:210px; font-size:14px; margin-top:10px; margin-bottom:10px;}
.wztitle p span{ margin:10px 20px;}
.wzmain h2{ background:url(../images/wzbg.jpg) no-repeat; padding-left:14px; height:34px; margin:20px 0 15px 0; font-size:18px;}


/*************案例****************/
.ableft .casetab li p{ background:url(../images/casexmcion.png) no-repeat}
.ableft .casetab li:hover p a{ color:#ffffff}
.ableft .casetab .mxal p{ background-position:0 12px;}
.ableft .casetab .mxal:hover p, .ableft .casetab .imxal p{ background:url(../images/casexmcion.png)  no-repeat;background-position:0 -89px;}
.ableft .casetab .ygal p{ background-position:0 -22px;}
.ableft .casetab .ygal:hover p, .ableft .casetab .iygal p{ background:url(../images/casexmcion.png)  no-repeat;background-position:0 -122px;}
.ableft .casetab .xmal{ border:0}
.ableft .casetab .xmal p{ background-position:0 -56px;}
.ableft .casetab .xmal:hover p, .ableft .casetab .ixmal p{ background:url(../images/casexmcion.png)  no-repeat;background-position:0 -159px;}
.casecontainer{ float:right; width:1050px;}
.caselist li{ float:left; margin:0 0 30px 36px;  width:126px; height:36px; border:2px solid #f3f3f3; background:#f3f3f3; text-align:center; line-height:36px;}
.caselist li:hover{ background:#ffffff; border:2px solid #fe9c43;}
.casecontainer .icasemain li{ float:left; margin-left:36px; margin-right:20px; text-align:center; padding-bottom:20px; padding-top:5px;}

.ableft .casetab .imxal, .ableft .casetab .iygal, .ableft .casetab .ixmal{ background:#feae66}
.ableft .casetab .imxal p a, .ableft .casetab .iygal p a, .ableft .casetab .ixmal p a{ color:#ffffff}
.contentanli{ width:1250px; margin:0 auto}
/*******员工真人案例*******/
.casemxal, .caseanli{ width:730px; float:right}
.casefl{ float:left; width:409px; padding:19px; border:1px solid #dcdcdc; margin-bottom:25px;}
.casefr{ float:right; width:409px; padding:19px; border:1px solid #dcdcdc;margin-bottom:25px;}
.caseanli p{ line-height:30px;}
.caseanli p span{ font-weight:bold}
.caseanli .first{ padding-top:5px;}
.caseanli .last{ padding-left:80px;}
/*******明星真人案例*******/
.icasefirst{ background:#f6f6f6; height:40px; line-height:40px; font-size:14px; padding-left:15px; margin-bottom:20px; width:945px; float:right}
.casemxalma{ height:620px; padding-bottom:19px; border-bottom:1px solid #dcdcdc; margin-bottom:30px;}
.casemxr{ width:495px;}
.case01{ padding-top:120px; background:url(../images/casemxbg01.jpg) no-repeat; height:230px;} 
.casemxalma  .title01{ width:115px; height:30px; background:#6c89a5; color:#ffffff; line-height:30px; text-align:center; margin-bottom:10px; padding:0}
.casemxalma p{ background:url(../images/casemxbg18.jpg) no-repeat; padding-left:25px; background-position:-26px 7px; line-height:30px;}
.caseduibi{ width:482px;}
.casemx01{ width:530px;}
.casemx02{ width:412px;}
.casemx03{ width:495px;}
.caseduibil{ float:left}
.caseduibibt{ float:right}
.casemxalma .caseduibibt li{ background:#5e616d; padding-left:0; margin-left:6px; margin-bottom:2px;}
.casemxalma .caseduibibt li p{ background:none; color:#ffffff}
.caseduibibt li{width:60px; height:28px; background:#5e616d}
.caseduibibt li.curr{ margin-left:0}
.casemxalma .caseduibibt li.curr p{width:46px; background:url(../images/casemxbg18.jpg) no-repeat; background-position:0px -44px; padding-left:20px; margin:0; color:#ffffff; line-height:26px; height:28px; text-align:left}
.casemxalma .caseduibibt li p{ padding:0; text-align:center}

.case02{ padding-top:120px; background:url(../images/casemxbg02.jpg) no-repeat; height:230px;}
.casemxalma  .title02{ width:115px; height:30px; background:#c68585; color:#ffffff; line-height:30px; text-align:center; margin-bottom:10px; padding:0} 
.case03, .case04, .case05, .case06, .case07, .case08, .case09, .case10, .case11, .case12, .case13, .case14, .case15, .case16, .case17{padding-top:185px; height:162px} 
.case03{  background:url(../images/casemxbg03.jpg) no-repeat}
.case04{ background:url(../images/casemxbg04.jpg) no-repeat;}
.case05{ background:url(../images/casemxbg05.jpg) no-repeat;}
.case06{ background:url(../images/casemxbg06.jpg) no-repeat;}
.case07{ background:url(../images/casemxbg07.jpg) no-repeat;}
.case08{ background:url(../images/casemxbg08.jpg) no-repeat;}
.case09{ background:url(../images/casemxbg09.jpg) no-repeat;}
.case10{ background:url(../images/casemxbg10.jpg) no-repeat;}
.case11{ background:url(../images/casemxbg11.jpg) no-repeat;}
.case12{ background:url(../images/casemxbg12.jpg) no-repeat;}
.case13{ background:url(../images/casemxbg13.jpg) no-repeat;}
.case14{ background:url(../images/casemxbg14.jpg) no-repeat;}
.case15{ background:url(../images/casemxbg15.jpg) no-repeat;}
.case16{ background:url(../images/casemxbg16.jpg) no-repeat;}
.case17{ background:url(../images/casemxbg17.jpg) no-repeat;}



.fengyemx{ margin-left:540px;}
.fengyemx a{padding:5px 10px; -moz-border-radius: 5px; -webkit-border-radius: 5px;  border-radius:5px; }
.fengyemx a:hover{ color:#ffffff; background:#ffae65; -moz-border-radius: 5px; -webkit-border-radius: 5px;  border-radius:5px; }
.fengyemx .jp-current{ color:#ffffff; background:#ffae65}
