
#warp{width:1009px; margin:10px auto 0; padding-left:0px; overflow:hidden;color:#596a86;min-height:1100px;}

.exbox{margin:0 0 10px 30px; width:974px; height:405px;overflow:hidden; background:#fff;}
.exbox .title{float:left; width:974px; height:50px; padding:7px 0 0 0; background:url(../images/dt4.jpg) repeat-x bottom;}
.exbox .title span{float:left; width:115px; height:22px; line-height:22px; text-indent:14px; margin:5px 150px 0 0; display:inline;background:url(../images/dbtclass.jpg) no-repeat;color:#ffffff;}
.exbox .title a{float:left; width:75px; height:45px; line-height:32px; background:url(../images/link_off.jpg) no-repeat left 4px;color:#78859c; text-align:center; font-size:14px;}
.exbox .title a.hover{background:url(../images/link_on.jpg) no-repeat left 4px; color:#363d4b; font-weight:bold;}
.exbox .content{float:left; width:974px; height:355px; overflow:hidden;}
.exbox .content .cont{float:left; width:974px; height:100%; overflow:hidden;}
.exbox .content .cont ul{width:1188px; margin:15px 0 0; height:340px; overflow:hidden;}
.exbox .content .cont ul li{float:left; width:272px; padding:9px 0 0 0; background:url(../images/dbtbg.jpg) no-repeat 0 top; overflow:hidden; text-align:center; line-height:42px; margin:0 79px 0 0; display:inline;}


